[2021-05-10 22:10] jameslamb commented on #4273
Looking at build logs today, I see the following flags used.

**CRAN build**

[code]

**CMake-based**

I got these by adding a `MESSAGE(FATAL_ERROR "CMAKE_CXX_FLAGS: ${CMAKE_CXX_FLAGS}")` near the end of `CMakelists.txt`

[code]

<hr>

I think the use of `-Wextra` explains why these warnings only show up in CMake-based builds of the R package.

https://github.com/microsoft/LightGBM/blob/08d1ce4bbf

[2021-05-10 23:43] #4249 closed

[2021-05-11 04:57] jameslamb commented on #4136
Sure, thank you! Please only submit a pull request for one file at a time. `@` me if you have any questions.

[2021-05-11 06:44] shopeechen1247 opened #4275 "[Question] What is the difference between class_weight and scale_pos_weight in binary classification problem?"
I tried scale_pos_weight = (amount of label 1 / amount of label 0) and it got the same performance (same auc) as is_unbalance = True, but I could not get the same performance as scale_pos_weight case when I set class_weight = {label0: 1, label1: (amount of label 1 / amount of label 0) }.

However, I got the same performance when I set
1. class_weight = {label0: 1, label1: (amount of label 1 / amou

[2021-05-11 08:35] shiyu1994 commented on #4239
The memory leakage happens from version 3.0.0. Now I can only identify the leakage is from `Dataset`. But I've checked that the destructors of `Dataset`, `FeatureGroup` and `DenseBin` are all called. I'm still trying to identify the exact source of leakage.

[2021-05-11 10:21] vablu opened #4276 "how to use the converted cpp model"
Hi,

I have used the CLI version with "task=convert_model" parameter, and successfully converted a have a  txt model to a cpp one(named gbdt_prediction.cpp) . But i am not sure how to use this file.  I have tried the LGBM_BoosterPredictForMat function but found it inefficient in "per data per call" case(similar to issue #856). I am expecting the prediction efficiency can be improved by using this

[2021-05-11 19:47] sflender opened #4278 "[question] Treating high-cardinality categorical features as numeric"
Hi LightGBM team,

in the [documentation](https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html) you write that

This is also what I find empirically for cardinalities above 1K-10K. Do you have insights why this is the case? Why does the Fisher algorithm not work well in this case?

[2021-05-11 22:34] jameslamb commented on #4099
I haven't seen this one at all in the last month. I hope that https://github.com/microsoft/LightGBM/pull/4132 was the fix for it.

I think this can be closed.

[2021-05-11 22:34] #4099 closed

[2021-05-11 23:00] jameslamb commented on #4034
Ok, I came back to look at this tonight. I think that now, thanks to #4252, the reproducible examples above will produce a more informative error message.

  [LightGBM] [Fatal] Unknown format of training data.

I realize now that the examples are trying to predict on a saved LightGBM Dataset. I don't think that is supported.

As @shiyu1994 said in https://github.com/microsoft/LightGBM/issues/4210#

[2021-05-12 04:53] akshitadixit commented on #4136
Hey, please add a checkmark on the following files since they have no strings that need to be migrated:
* .\python-package\lightgbm\compat.py
* .\tests\python_package_test\__init__.py
* .\tests\python_package_test\utils.py

[2021-05-12 05:02] jameslamb commented on #4136
ah yes you're right, thanks very much @akshitadixit !

[2021-05-12 19:33] Fish-Soup opened #4281 "Periodic Features"
## Summary

Create periodic features such that there is no discontinuity in feature space where there shouldn't be one. E.g the 365 day of year should be adjacent to the 1st. I would imagine the API would work similar to the specification of categorical features with the additional component of the mimimum and maximum feature value that are equivalent. (E.g hour 0 and 24 of day are the same.)

##

[2021-05-12 21:42] #3016 closed

[2021-05-12 22:20] StrikerRUS commented on #4281
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-05-12 22:20] #4281 closed

[2021-05-12 23:35] david-cortes opened #4282 "[R-package] R memory leaks"
There are some situations in which the R version can leak memory by not destructing C++ objects that become unreachable:

* Functions that return an R external pointer are wrapped into R6 classes, with the finalizer for the external pointer being under the R6 finalizer. If an error occurs during initialization (when calling `Class$new(...)`, like it is done when creating a dataset), the finalizer

[2021-05-12 23:41] david-cortes commented on #4273
I think the issue here is that the functions are declared as C++ when they should be declared as extern C.

[2021-05-13 00:03] jameslamb commented on #4282
Thanks for writing this up!

Are you referring to https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Condition-handling-and-cleanup-code? In the future, we'd very much appreciate if you included relevant links or supporting evidence when opening issues like this or leaving comments like https://github.com/microsoft/LightGBM/issues/4273#issuecomment-840172158.

[2021-05-13 00:06] jameslamb commented on #4273
Can you please clarify what leads you to believe that they are missing `extern C`? These functions are all defined with `LIGHTGBM_C_EXPORT` like this

https://github.com/microsoft/LightGBM/blob/893702204563376dff1a20c58efcc42c8181b279/R-package/src/lightgbm_R.h#L38

which, if I'm not mistaken, will end up adding `extern "C"` at compile time

https://github.com/microsoft/LightGBM/blob/d517ba12f2e78

[2021-05-13 00:30] david-cortes commented on #4273
My bad, it's not an issue with those then. Although in any case I'd also include the R headers in an an extern C block just in case.

[2021-05-13 00:31] david-cortes commented on #4282
Yes, that's what I was referring to.

[2021-05-13 00:44] david-cortes commented on #4273
Actually, looking at the R headers in the latest version of R, there doesn't seem to be any need to declare them as extern C, and `R_USE_C99_IN_CXX` is now added automatically with C++11 and higher.

[2021-05-13 00:56] jameslamb commented on #4282
Ok perfect, thanks very much!

[2021-05-13 07:36] mayer79 commented on #4174
@StrikerRUS : Weighted Gamma regression is a quite typical model in insurance claim modelling. The response is the claim cost divided by the number of claims, while the weight is the number of claims. I would love to see this fixed.
@katrat123 : If you do not have started and are short of time, I can do that pull request!

[2021-05-13 16:17] katrat123 commented on #4174
Have been OOO, would be great if you can complete the pull request.

Thanks!
Kate

Kate Ely
Analyst II, Data Science – Pricing Sophistication
Liberty Mutual Insurance
Safeco Plaza 1001 4th Ave, Seattle, WA 98154
Direct Dial: 425-519-5632

***@***.***D747D8.CE9A3680]

From: Michael Mayer ***@***.***>
Sent: Thursday, May 13, 2021 12:37 AM
To: microsoft/LightGBM ***@***.***>
Cc: Ely, Kathryn <Kathryn

[2021-05-14 03:38] Lucienxhh opened #4284 "[Question]Whether LightGBM uses 'Goss' in GBDT by default?"
It seems contradictory that:

1.In the python package of lightgbm, the default option of parameter 'boosting' is 'gbdt' while the optional option is 'goss';

2.The paper of lightgbm proposes Goss based on the gradient for each data instance in GBDT.

I'm very confused whether lightgbm uses 'goss' in gbdt by default? if it does, how does it work for every feature? it works before 'histogram' or dur

[2021-05-14 03:50] jameslamb opened #4285 "[ci] Dask tests on Linux failing"
## Description

Created from https://github.com/microsoft/LightGBM/pull/4283#issuecomment-840735651.

Python CI jobs in many Linux environments are failing with the following error for all Dask tests.

[code]

examples:

* GitHub Actions (CUDA): https://github.com/microsoft/LightGBM/pull/4283/checks?check_run_id=2577306748
* Azure: https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?build

[2021-05-14 03:54] jameslamb commented on #4285
I do see that `distributed` was updated to 2021.4.1 on `conda-forge` about 9 hours ago. Are this project's CI jobs somehow getting that version from `conda-forge`?

https://anaconda.org/conda-forge/distributed

![image](https://user-images.githubusercontent.com/7608904/118218895-fa489e80-b43d-11eb-9681-95222c8c2bae.png)

[2021-05-14 04:02] jameslamb commented on #4285
I've just restarted the failing `Linux_Latest` builds on https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=10070&view=results (from #4283 ).

If they fail with the same error as documented above, that would rule out the possibility that `distributed` 2021.4.1 was uploaded to the main Anaconda channel and then taken down. I think that's very unlikely but just trying to narrow thi

[2021-05-14 04:24] jameslamb commented on #4285
These jobs failed with the same error: https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=10070&view=results

[2021-05-14 04:35] jameslamb commented on #4285
I tried to replicate this with docker tonight, running the following command from the root of the repo.

[code]

Here is some of the output `conda config --show`. I don't see `conda-forge` listed.

[code]

<details><summary>full output of 'conda config'</summary>

[code]

</details>

[2021-05-14 04:45] jameslamb commented on #4285
Aha! Looking at repo.anaconda.com, I do see see `distributed` 2021.04.1 was uploaded earlier today.

https://repo.anaconda.com/pkgs/main/linux-64/

![image](https://user-images.githubusercontent.com/7608904/118221892-18190200-b444-11eb-97b4-29550f6b5ac4.png)

So I guess I misunderstood the relationship between those web pages like https://anaconda.org/anaconda/distributed or https://anaconda.org/m

[2021-05-14 08:41] aprilffff opened #4286 ""Check failed: (best_split_info.left_count) > (0)" in forced_split mode"
I met this when using "forcedsplit_filename". following data and code will repeat this issue.  The only clue I can provide is that  the num of nan in features may affect some split process with forcedsplits.

lgbversion:3.2.1
xdata:
[checkdata.zip](https://github.com/microsoft/LightGBM/files/6477570/checkdata.zip)

[code]

[2021-05-14 11:42] sayantan1410 commented on #4136
Hey, I have a made pull request where I have changed the old syntax of string formatting in the print statements with the new one.
Kindly check it out and let me know if it can be merged or I have messed up somewhere. The file that I have changed is :
.\tests\c_api_test\test_.py

Also there are no strings in the file : .\tests\cpp_test\test.py, so no formatting is required for it as well, you can

[2021-05-14 12:03] shiyu1994 commented on #4284
@Lucienxhh Thanks for using LightGBM. LightGBM uses `gbdt` as `boosting_type` by default, instead of `goss`. Note that `goss` still uses the histogram method as `gbdt` does, the only difference is which data are sampled. With `gbdt`, the whole training set is used, while with `goss`, the dataset is sampled as the paper describes. The tree training method is the same for `goss` and `gbdt`.

[2021-05-14 12:10] StrikerRUS commented on #4284
@Lucienxhh
Also, these discussions may help better understand GOSS: #3348 and https://github.com/microsoft/LightGBM/issues/4086#issuecomment-805548930.

[2021-05-14 12:31] StrikerRUS commented on #4285
Given that `dask` and `distributed` are tight to each other and in fact should be installed with the same version number, I think we should pin their version at our CI and bump it from time to time.

Another option will be switching to get them from PyPI directly. But this option should be investigated for time consumption and possible dependency conflicts. And of course this is suitable only in c

[2021-05-14 14:11] jameslamb commented on #4285
alright. I'll pin them for now to unblock CI but we can leave this repo open to track the work of maybe switching to PyPI.

`dask` and `distributed` are released very frequently, as you mentioned, so I'd like to avoid the maintenance work of updating pins if possible.

I've also opened https://github.com/dask/distributed/issues/4819 asking the `distributed` maintainers if they can influence when t

[2021-05-14 14:36] StrikerRUS commented on #4285
Agreed.

We can create `requirements_dask.txt` and setup dependabot to update this file if we end up using pip later.

[2021-05-14 14:37] jameslamb commented on #4285
ha sorry I meant "leave this issue" open, not "leave this repo". Typing too fast this morning.

Oh, great idea! I've definitely seen a setup like that be successful in other projects.

[2021-05-14 18:45] jameslamb commented on #4136
excellent, thanks!

[2021-05-14 21:47] glarb opened #4290 "Lock-free Inference"
## Summary

Hi, I didn't see this enhancement request on the 2302 page.  We need lock-free, single-row predict for fastest parallel inference with the same booster.  Can't the FastConfig object be enhanced to hold all storage required for inference?  Then we can pass-in thread-specific FastConfig objects for parallel inference, and no mutex would be required.  Let us tell you whether FastConfig sh

[2021-05-15 02:31] #4273 closed

[2021-05-15 10:46] #4138 closed

[2021-05-15 12:47] StrikerRUS commented on #4290
Linking #3675 and #3751.

I believe @JoanFM @AlbertoEAF comments will be valuable here

[2021-05-16 00:59] david-cortes opened #4295 "[R-package] Request: provide more idiomatic interface"
LightGBM for R has an interface which requires creating a dataset object from an R native type, and passing this custom type to the model training function. The prediction functions then take native R objects instead.

This interface is inconvenient to use, and is very different from what base R or typical R packages for decision trees (or classification/regresssion in general) have as interface.

[2021-05-16 01:01] david-cortes opened #4296 "[R-package] Request: work with R serialization functions"
Currently, lightgbm for R provides custom functions for serializing models in RDS files.

These functions do not play well with R's native serialization capabilities - for example:
* If using lightgbm from some machine learning framework that wraps it (creating an object that contains a lightgbm model object inside), it will not be possible to de-serialize models, since such objects (from the wrap

[2021-05-16 01:28] jameslamb commented on #4296
Thanks very much  for writing this up. I think we need some more information about this request.

Could you provide more details on what you mean by "play along with R's own `save / load` and `saveRDS / readRDS`?
    * It would be helpful if you could, for example, provide a code snippet showing something you wish you could do in `{lightgbm}` that is impossible or difficult today.

[2021-05-16 01:40] jameslamb commented on #4295
Thank you for your interest in LightGBM, and for writing this up! In the future, please link to previous conversations when you create new issues from them, as this helps us to keep track of the many conversations in this project. Specifically, I believe the content of this issue is very closely related to #42007 and ttps://github.com/microsoft/LightGBM/pull/4207#issuecomment-840895032.

Have you

[2021-05-16 01:45] david-cortes commented on #4296
Example:
* Launch RStudio.
* If it doesn't have the default settings, go to `Tools` -> `Global Options...` -> `Workspace` -> `Save workspace to .RData on exit:` -> set to `Ask`.
* Run the following code:
[code]
* Click `Session` -> `Restart R`.
* Run the following code (will crash, but even if it didn't, the model would not be usable):
[code]

[2021-05-16 02:05] david-cortes commented on #4295
Yes, `treesnip` provides an interface with handling of data frames, categorical features, and non-standard evaluation; but it is a `parsnip` connector.

A good standard to follow would be Tidymodel's guidelines for modeling packages:
https://tidymodels.github.io/model-implementation-principles/

`ranger` is a very good practical example to copy from. Lots of other R packages for decision trees fol

[2021-05-16 04:56] Lucienxhh commented on #4284
@shiyu1994 Thanks for your reply. According to your description, 'goss' is a method to reduce the number of samples while 'gbdt' is a method to build tree. So why 'goss' is one of the boosting types ?  It 's very confusing for a new hand like me.

[2021-05-16 18:07] StrikerRUS commented on #3754
Fixed via #4268.

[2021-05-16 18:07] #3754 closed

[2021-05-17 09:41] candalfigomoro commented on #4281
@Fish-Soup
Workaround: https://www.reddit.com/r/MachineLearning/comments/box3go/d_how_can_neural_nets_deal_with_cyclical_values/enltinf?utm_source=share&utm_medium=web2x&context=3

[2021-05-17 18:33] Fish-Soup commented on #4281
@candalfigomoro
I've seen that workaround, it's oknwhennyoubhavr  complete days for the range. Buy in my case in often don't have say the second part of the year. And you can get the features creating like thr reverse pattern in the second half of the year.

Thanks though I might try it put again and see how it peforms.

[2021-05-18 03:16] shiyu1994 commented on #4284
@Lucienxhh In `goss`, the gradients and hessians are reweighted, in addition to sampling. I think it makes sense to make it a type of boosting, since it affects the calculation of gradients and hessians.

[2021-05-18 09:16] shiyu1994 commented on #4034
@jameslamb Yes. Currently a `Dataset` loaded from binary file (or a binary file itself) cannot be used as input to the prediction methods. However

This claim is wrong as pointed out by @StrikerRUS in https://github.com/microsoft/LightGBM/issues/4210#issuecomment-825179817. We can use the `eval` method to evaluate a constructed `Dataset` with a trained `Booster`.

[2021-05-18 11:55] StrikerRUS opened #4298 "Replace calls of `POINTER()` by `byref()` in Python interface to pass data arrays"
It was proposed by @jameslamb in https://github.com/microsoft/LightGBM/pull/4297#discussion_r633853474 that `byref` calls will be faster according to `ctypes` official docs.

[2021-05-18 13:45] AlbertoEAF commented on #4290
I'm all up for that, the thing is it will require some rewriting of the predictors as currently all the "shared" data is stored inside the predictor. Also, I believe the "non-fast" single-prediction methods should not be dropped from the API for they are simpler to use. The difficulty is that the non-fast versions assume all "shared" data is handled by the predictors, so this will require some wor

[2021-05-18 13:51] sayantan1410 commented on #4136
Hello, can I solve the same issue in some other files as well ? like
file : .\tests\python_package_test\test_basic.py
@jameslamb

[2021-05-18 13:55] jameslamb commented on #4136
yes please, as many as you want! Please just be sure to only do one file per pull request.

[2021-05-18 18:40] AngelikaAntsmae opened #4299 "[python-package] Graphviz ImportError confusion"
When trying to plot the tree, the ImportError regarding Graphviz 'You must install graphviz to plot tree.' can be a little confusing since one also must restart their session in addition to installing it. This has been brought up before but the error message wasn't changed - @jameslamb was it intentionally left out or may I create a PR to add that clarification?

---

'I think we could add a bette

[2021-05-18 18:45] jameslamb commented on #4299
Oh wow, thanks very much @AngelikaAntsmae ! I'm embarrassed that I forgot to come back to that.

That's an oversight. We would welcome a PR to add that clarification! Please `@` me if you have any questions about the contribution process.

[2021-05-19 04:29] sayantan1410 commented on #4136
Thank you so much and I will keep that in mind.

[2021-05-19 11:47] quancore opened #4300 "Ouput margin like xgboost"
Maybe it seems a question but I need to output margins. XGBoost has this feature to output margin but how can I do that with LightGBM?

[2021-05-19 12:16] VadimLopatin opened #4301 "Running fit method on LGBMRegressor kills Jupyter Kernel"
Hello team,

I'm facing a weird behavior of LGBMRegressor. Sometimes it causes Jupyter Kernel to die on some datasets.

I was able to minimize the test case.

The code itself is pretty simple:
import pandas as pd
import numpy as np
import lightgbm
test = pd.read_pickle('weird.pkl')
lightgbm.LGBMRegressor().fit(test.drop(columns=['y']), test['y'])

In order to reproduce you will need to launch it f

[2021-05-20 11:20] StrikerRUS commented on #4300
Please use the following parameter:
https://lightgbm.readthedocs.io/en/latest/Parameters.html#predict_raw_score

[2021-05-20 11:20] #4300 closed

[2021-05-20 11:25] quancore commented on #4300
@StrikerRUS Thank you for the answer. What is the difference between _raw_score_ parameter in `predict` and `predict_proba` methods?

[2021-05-20 11:41] #4299 closed

[2021-05-20 16:29] jfouyang opened #4305 "[R-package] Very large l2 when training model"
## Description
Hi, I am using lightGBM to determine feature importances from an in-house dataset that is very sparse in nature. When training the model on this sparse dataset, I noticed that the training l2 error is very large in the order of 10^73 and the feature importance results do not agree with my domain knowledge.

I also tried running the same dataset using xgboost and the training RMSE is

[2021-05-20 16:37] jameslamb commented on #4305
Thanks very much for using `{lightgbm}` and for the detailed write-up with a reproducible example! If no other maintainers get to it sooner, I will take a look in the next day or two.

[2021-05-20 16:40] jameslamb commented on #4301
Thanks for using LightGBM! We will look at this as soon as possible.

Are you able to try this example while monitoring memory usage, maybe with a tool like `htop`? That would help us to understand whether the kernel is dying because training is requesting more memory than available.

[2021-05-20 18:22] StrikerRUS commented on #4300
There is no difference between them.

[2021-05-20 19:41] jameslamb commented on #4305
Ok, I took a look.

I was able to reproduce this behavior on my system (`{lightgbm}`  3.2.1  installed from CRAN, R 4.05, macOS).

[code]

<hr>

I then tried building `{lightgbm}` from latest `master`, and found that the problem seems to have been fixed.

[code]

So I'm not sure what the root cause is, but I suspect that one of the stability fixes we've made recently for the R package fixed this.

[2021-05-20 20:09] VadimLopatin commented on #4301
Hi @jameslamb ,

Thank you for the feedback.

In fact I've checked top/htop and didn't spot anything suspicious. Moreover, usually, when I have a memory issue system unambiguously throws MemoryError without killing Jupyter Kernel. It doesn't seem to be the case this time.

We have the hypothesis that the issue is caused by the big number of duplicated rows in the dataset. There're about 15k duplic

[2021-05-20 21:09] jameslamb commented on #4301
Ok, I pulled this today and was able to reproduce the issue. This is all I see in my Jupyter logs, and not output is printed in the notebook itself.

[code]

I reproduced this with the following code, run in a notebook created from the steps at https://github.com/jameslamb/lightgbm-dask-testing/blob/ededb8491c999fa4d9babfbb6749c8e399da2b76/README.md (based on the `daskdev/dask-notebook:latest` ima

[2021-05-20 21:19] jameslamb commented on #4301
I just tried these examples on latest `master` (https://github.com/microsoft/LightGBM/commit/f076ca58b382fa2fb0a6d8d7367983083aed03a6) and go the same results.

[2021-05-20 21:35] jameslamb commented on #4301
Some observations about the data that might help in debugging.

1. most features have very few (`<=6`) unique values. For features with 2 unique values, at most 1 split will be possible.

[code]

![image](https://user-images.githubusercontent.com/7608904/119050861-0970a480-b988-11eb-980b-c5d9d106d4a4.png)

2. `y=0.0` for almost 98% of the observations

[code]

![image](https://user-images.githubus

[2021-05-20 21:51] jameslamb commented on #4296
Ah ok perfect, thank you! Yes I definitely think we'd like to support this. Thank you very much for writing it up.

Following our policy for feature requests, I'm going to close this now that I've added it to the list of feature requests at #2302. Contributions toward this feature are welcomed! Anyone reading this, please leave a comment if you'd like to help with this feature and the issue will b

[2021-05-20 21:51] #4296 closed

[2021-05-20 22:34] jameslamb opened #4308 "[RFC] Add pylint in CI "lint" task"
## Summary

I think that [`pylint`](https://www.pylint.org/) could be used in this project to provide higher confidence that certain types of bugs in Python code will fail builds and not make it into releases.

## Motivation

For example, in #4143 I accidentally introduced a typo in a variable reference used in an f-string. This wasn't caught by review or CI, and happened on a line that wasn't cov

[2021-05-20 22:39] quancore opened #4309 "Custom objective cv index"
So I have a problem with custom objective function and cross validation. I am passing an external parameter used in custom objective func called `errors`
[code]
But the proble is that when I use lightgbm cv function, a portion of `predt` is passed as expected but I could not get the train and test indices to filter external `errors` to calculate objective function. How could I achieve it?

[2021-05-20 23:07] jameslamb commented on #4200
Ah! I closed #4203 but forgot to close this. `{Matrix}` 1.3-3 is now available on CRAN and no incompatibilities with `{lightgbm}` were found.

[2021-05-20 23:07] #4200 closed

[2021-05-20 23:18] jameslamb opened #4310 "release 3.3.0"
## Summary

I'd like to start a discussion on this question:

## Motivation

My primary motivation for this proposal is that user reports in the last two months have revealed critical issues with the R package (#4007, #4045, #4216, #4259, #4305), and these are fixed by recent PRs related to #3016 (especially #4155 and #4247).

But looking at the PRs that have been merged since LightGBM 3.2.1, ther

[2021-05-21 03:44] papillonyi opened #4311 "python api can't continue train with binary file data"
## Description

when i tried to continue train with binary file data, it raise a error
![image](https://user-images.githubusercontent.com/17263630/119078557-04176680-ba29-11eb-9507-cc707d33571d.png)
I train with a binary file with 10 iterations first and it success;
then, i try to train with `init_model=last_train_result,` and it raise such error;

And i try do the same thing with lightgbm cli, it

[2021-05-21 07:44] VadimLopatin commented on #4301
Hi @jameslamb,

Thank you for your thorough analysis.

Some observations from my side:

1) Adding random feature leads to no crash
test['x8'] = np.random.randn(test.shape[0])

2) Adding constant feature leads to the same crash
test['x8'] = 1

3) Even though 'x7' feature has a lot of non-unique values, removing it from the dataset leads to no crash
test = test[['x1', 'x2', 'x3', 'x4', 'x5', 'x6','y

[2021-05-21 11:40] StrikerRUS commented on #4308
Do you want really **add** `pylint` or **replace** `pycodestyle` with `pylint`?
https://github.com/microsoft/LightGBM/blob/f076ca58b382fa2fb0a6d8d7367983083aed03a6/.ci/test.sh#L68

[2021-05-21 11:46] StrikerRUS commented on #4310
I'm OK with `3.3.0` release some time in June.

[2021-05-21 12:21] VadimLopatin commented on #4301
Hi @jameslamb ,

I've also noticed that the issue is not specific for Jupyter Notebook.

I put everything in Weird.py file

import pandas as pd
import numpy as np
import lightgbm
import sys

test = pd.read_pickle('weird.pkl')
print('before')
lightgbm.LGBMRegressor().fit(test.drop(columns=['y']), test['y'])
print('after')
sys.exit(0)

Then I've launched it via command line
python Weird.py

And my p

[2021-05-21 12:22] JoshuaC3 opened #4313 "Add BoostFromAverage value as an attribute to LightGBM models."
## Summary

Given that `boost_from_average` is used in training, expose this value on the model as an attribute.

## Motivation

TLDR; It is an important value to know in many post-processing and post-analysis calculations: Feature Importance, Concept Drift, Tree Plots, etc.

For more information see: #4234 #4235 #3905 #4065.

## Description

from https://github.com/microsoft/LightGBM/pull/4235#is

[2021-05-21 12:28] #4174 closed

[2021-05-22 18:06] sayantan1410 commented on #4136
Hey I want to work on this file: .\tests\python_package_test\test_consistency.py
May I ?
@jameslamb

[2021-05-22 18:57] jameslamb commented on #4136
Yes please! You can work on any file listed in the description of this issue.

[2021-05-23 05:36] tarunreddy1018 opened #4314 "Support for enabling the call to single row predictions in parallel way"
Currently, `LGBM_BoosterPredictForMatSingleRowFast`, `LGBM_BoosterPredictForMatSingleRow` were meant to do predictions for a single row of input. So, with reference to this issue #3751 raised few months back regarding the thread safety issues in these methods when they were called in a parallel way. I would like to request if there are any plans to either make these methods to also support paralle

[2021-05-23 05:59] bholekiran commented on #3925
I am also getting similar error, eventhough this format.h header is present in that path. Please let me know the solution for this.

/u/sinkib/LightGBM/include/LightGBM/utils/common.h(36): catastrophic error: cannot open source file "../../../external_libs/fmt/include/fmt/format.h"
  #include "../../../external_libs/fmt/include/fmt/format.h"

[2021-05-23 06:00] bholekiran commented on #3925
@StrikerRUS I am also getting similar error, eventhough this format.h header is present in that path. Please let me know the solution for this.

/u/sinkib/LightGBM/include/LightGBM/utils/common.h(36): catastrophic error: cannot open source file "../../../external_libs/fmt/include/fmt/format.h"
#include "../../../external_libs/fmt/include/fmt/format.h"

[2021-05-24 01:26] RobinDong opened #4315 "[CUDA] illegal memory access when using CUDA and small max_bin"
## Description
By using CUDA histogram of the master branch, the simple python code report memory error if it uses `max_bin: 7`

## Reproducible example
### Get master branch of LightGBM ###
### Build it with CUDA ###
```cmake -DCMAKE_CUDA_COMPILER=/usr/local/cuda/bin/nvcc -DUSE_CUDA=ON -DUSE_DEBUG=ON -DCUDA_DEBUG=3 ..```
### Run python snippet below ###
[code]
And it will report error:
[code]

##

[2021-05-24 02:36] shiyu1994 commented on #4310
June is also OK for me.  I agree that #3234 should not be merged in 3.3.0. And I can help to fix the existing C++ bugs before the release, like #4286.

[2021-05-24 04:47] jameslamb opened #4316 "[R-package] predict() always predicts 0.0 if using a custom objective + target with missing values"
## Description

## Reproducible example

Running the following R code, you'll see that `preds` is all 0s.

[code]

You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 690
[LightGBM] [Info] Number of data points in the train set: 23971, number of used features: 9
[LightGBM] [Warning] Using self-defined objective function
[1] 0 0 0 0 0 0
[1] -59.37 -61.63 -64.43 -6

[2021-05-24 04:58] jameslamb commented on #4316
ooo interesting. I just had an idea after writing this up. Maybe the issue is just that my custom loss function doesn't explicitly handle missing values.

If I change it to the following

[code]

then the predictions from training with my custom loss function and the builtin `regression_l2` are very close to each other.

Will investigate more in the next few days.

[2021-05-24 06:00] shiyu1994 commented on #4286
This is due to a bug in `GatherInfoForThresholdNumericalInner`, the `<` in line 575 here should be `<=`.
https://github.com/microsoft/LightGBM/blob/da3465cbf1d1cf43e0d14908f110814e960905bc/src/treelearner/feature_histogram.hpp#L573-L577
I'll check other methods related to force splits to avoid similar bugs.

[2021-05-24 06:42] wangmn93 opened #4317 "Support ignoring some features during training on constructed dataset"
I want to get a subset of features from a contructed dataset because reconstructing the dataset is time-consuming. Is there any way to do this or any suggestion on how to modify the source code?

Another way is ignoring some features on constructed dataset, but this feature does not work on constructed dataset.

[2021-05-24 11:17] StrikerRUS commented on #4314
I guess this is the same as #4290.

[2021-05-24 13:38] jfouyang commented on #4305
Hi @jameslamb, I followed your code to install the latest version of lightGBM and I am getting exactly the same l2 training error as you posted. Thanks so much for the help and looking forward to lightGBM v3.3.0 on CRAN soon!

[2021-05-24 14:00] jameslamb commented on #4305
Ok great! Very sorry for the inconvenience.

Thanks again for the **excellent** bug report with a detailed reproducible example. Made it easy for me to test fixes.

You can subscribe to #4310 to be notified when the next release is out.

[2021-05-24 14:00] #4305 closed

[2021-05-25 03:41] jameslamb commented on #4310
Ok, thank you both! I'm currently focused on some of the R items.

[2021-05-25 04:32] jameslamb commented on #4301
I've tried a few more things, and have narrowed this down a bit further but I'm still not sure exactly where the problem is.

I create a branch with a LOT more logging, on my fork. You can see the logs I've added at https://github.com/microsoft/LightGBM/compare/master...jameslamb:louder-logs?expand=1.

Given this script (notice I've added `verbose=1`)...

[code]

and LightGBM built from that branc

[2021-05-25 04:43] jameslamb commented on #4301
Ok I added some additional fine-grained logs to `SerialTreeLearner::Init()`, and found that when the example for this issue fails in that function, it happens here:

https://github.com/microsoft/LightGBM/blob/da3465cbf1d1cf43e0d14908f110814e960905bc/src/treelearner/serial_tree_learner.cpp#L62

Tomorrow (if no one else gets to it sooner), I can try adding more logs to narrow it down further.

[2021-05-25 04:47] jameslamb commented on #4308
In this issue I am proposing *adding* `pylint` and only using it for non-style items.

[2021-05-25 05:56] zigongyu opened #4318 "[installation] error in git clone (Linux)"
## Description
I have followed the [installation guide](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#linux) to install LGBM but I have failed on the first step..

## Reproducible example
`(base) [zigong@node5 code]$ git clone --recursive https://github.com/microsoft/LightGBM
Cloning into 'LightGBM'...
remote: Enumerating objects: 22143, done.
remote: Counting objects: 100% (68

[2021-05-25 12:15] fabsig opened #4319 "Data leakage in cross-valiation functions in R and Python packages"
## Description
The cross validation functions in the R and Python packages ([here](https://github.com/microsoft/LightGBM/blob/da3465cbf1d1cf43e0d14908f110814e960905bc/python-package/lightgbm/engine.py#L395) and [here](https://github.com/microsoft/LightGBM/blob/da3465cbf1d1cf43e0d14908f110814e960905bc/R-package/R/lgb.cv.R#L73)) currently produce data leakage. First, the entire data set is used to c

[2021-05-25 12:21] fabsig commented on #4319
Note that with the proposed fix in #4320, the above example produces two times the same results when setting `free_raw_data=False`, i.e., `data = lgb.Dataset(X, y, free_raw_data=False)`

[2021-05-25 14:24] jameslamb commented on #4318
Thanks for using LightGBM! Could you please `rm -rf ./LightGBM` and try again?

[2021-05-25 22:25] StrikerRUS commented on #4308
Oh, OK.

[2021-05-25 22:43] StrikerRUS commented on #4319
Thanks a lot for the detailed description!

According to this answer it looks like this is done by design for some reason.

    https://github.com/microsoft/LightGBM/issues/2553#issuecomment-551897638

Maybe @guolinke can comment?

[2021-05-26 01:52] cyfdecyf opened #4321 "[python-package] Keep constants in sync with C++ library"
Relevant only when #4089 is merged.

## Summary

Find a way to keep constants in Python package in sync with C++ library.

This is needed in order to keep python package behaves the same as the cmdline version.

## Motivation

#4089 handles data sampling in Python. It defines 2 constant variables `ZERO_THRESHOLD` and `DEFAULT_BIN_CONSTRUCT_SAMPLE_CNT`.

Currently they are set to the same value as

[2021-05-26 04:06] jameslamb opened #4323 "[R-package] Accept data frames as inputs"
## Summary

It should be possible to use R data frames directly as inputs in `{lightgbm}`, without converting them to matrices.

## Motivation

The `data.frame` is a very common data structure in R, and many statistics and machine learning projects accept data frames as inputs, including but not limited to `{caret}`, `{randomForest}`, and the packages listed in https://github.com/microsoft/LightGB

[2021-05-26 04:08] jameslamb commented on #4323
I've added this feature request to #2302, per this project's standard approach for managing its backlog.

If you are interested in contributing to this feature or have additional information to add, please leave a comment and the issue can be re-opened.

[2021-05-26 04:08] #4323 closed

[2021-05-26 04:58] fabsig commented on #4319
@StrikerRUS: Thank you for your feedback. The fact that both the training and validation data use the same feature mapper is, per se, no problem as long as the feature mapper is only constructed using information from the training data. But this feature mapper is part of the model and must not be constructed using the validation data.

[2021-05-26 05:02] jameslamb commented on #4301
Ok, I have some more specific logs. Sometimes training fails here:

https://github.com/microsoft/LightGBM/blob/da3465cbf1d1cf43e0d14908f110814e960905bc/src/io/dataset.cpp#L644-L645

<details><summary>full logs</summary>

[code]

</details>

And sometimes it fails at

https://github.com/microsoft/LightGBM/blob/da3465cbf1d1cf43e0d14908f110814e960905bc/src/io/dataset.cpp#L682

[LightGBM] [Warning] Au

[2021-05-26 05:06] shiyu1994 commented on #4286
@aprilffff Could you please verify that the problem is resolved in the latest master branch for your real case application? You may need to build lightgbm from the latest master branch source code according to https://github.com/microsoft/LightGBM/tree/master/python-package#install-from-github. Thanks!

[2021-05-26 05:21] shiyu1994 commented on #4321
@cyfdecyf  Thank you! Very good idea. And I believe it can be useful in the future.

[2021-05-26 05:39] shiyu1994 commented on #4317
@wangmn93 Thanks for using LightGBM. Currently LightGBM don't support extracting a subset of features from a constructed data. But I think there's a quick hack to do this.

In addition to `ignore_column`, which is used when constructing dataset, we can add a new parameter `ignore_column_training`, which is dedicated to ignore some features during training. Then we can parse `ignore_column_training

[2021-05-26 05:41] shiyu1994 commented on #4317
BTW, when setting `is_feature_used`, we should notice that `is_feature_used` uses the so called inner feature index of LightGBM, which is different from the real feature index in the input data. So we need to remap the real feature index specified by `ignore_column_training` to inner feature index through `train_data_->InnerFeatureIndex` method.

[2021-05-26 06:00] shiyu1994 commented on #4309
@quancore Thanks for using LightGBM. The `used_indices` in `dtrain` should give the actual data indices of the `Dataset` passed to the customized objective function. So we can use the `dtrain.used_indices` to index the `errors`.

[2021-05-26 06:27] zigongyu commented on #4318
thank you for your reply,  I have downloaded all external_libs manually and the  problem is solved.

[2021-05-26 06:27] #4318 closed

[2021-05-26 06:35] shiyu1994 commented on #4301
@jameslamb The error happens in `SerialTreeLearner::GetShareStates`, which has resulted in several previous bugs. The error happens starting from 3.0.0. I'll look into this further to fix.

[2021-05-26 09:34] shiyu1994 commented on #4301
Actually, though the problem occurs in `SerialTreeLearner::GetShareStates`, I found the root is in `BinMapper::FindBin`. Since the dataset contains feature values that are quite close to each other, (e.g., `-0.00112051336219505895` vs `-0.00112051336219505852`), when calculating the upper bounds for the bins in
https://github.com/microsoft/LightGBM/blob/346f88398282c5677dcaa880e147026eadba29e4/src

[2021-05-26 10:44] shiyu1994 commented on #4286
I'm sorry. But it seems that this error is the same as in the title of this issue?

[2021-05-26 10:45] aprilffff commented on #4286
oh, right, my fault

[2021-05-28 13:20] #4110 closed

[2021-05-29 19:32] StrikerRUS opened #4331 "Compilation error for cpp tests on macOS with gcc and `thread` sanitizer"
[code]

<details>

<summary>Full log</summary>

[code]

</details>

[2021-06-01 13:28] kshv190 opened #4333 "Support LightGBM on macOS with real (possibly external) GPU device"
## Description

Getting error of invalid kernel on MacBook Pro i9 with AMD Radeon Pro 5500M GPU.
Here is the log

$ ../../lightgbm config=train.conf data=regression.train

[LightGBM] [Warning] data is set=regression.train, data=regression.train will be ignored. Current value: data=regression.train
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Loading initial scores...
[LightGBM]

[2021-06-01 18:23] brunofacca opened #4334 "Random Forest number of trees per boosting iteration"
Hello,

Is there a way to choose the number of trees per boosting iteration in Random Forest mode? I'm looking for a parameter equivalent to XGBoost's `num_parallel_tree`.

Thank you.

[2021-06-01 18:49] #4227 closed

[2021-06-01 22:00] sflender commented on #4278
resolving as a duplicate of https://github.com/microsoft/LightGBM/issues/1934

[2021-06-01 22:00] #4278 closed

[2021-06-02 15:16] davidmosca opened #4335 "'deterministic' parameter not recognised"
## Description
The code below triggers the following error:
`[LightGBM] [Warning] Unknown parameter: deterministic`
According to the documentation (https://lightgbm.readthedocs.io/en/latest/Parameters.html), 'deterministic' is a valid parameter.

## Reproducible example
[code]

## Environment info

LightGBM version or commit hash: 3.0.0

Command(s) you used to install LightGBM

`conda install -c c

[2021-06-02 15:23] jameslamb commented on #4335
Thanks for using LightGBM, and for the excellent detailed report! We really appreciate it.

`deterministic` was introduced in LightGBM 3.1.0

*  https://github.com/microsoft/LightGBM/pull/3494
* https://github.com/microsoft/LightGBM/releases/tag/v3.1.0

We do not maintain the `conda-forge` package, but I just checked https://github.com/conda-forge/lightgbm-feedstock and it looks like that package

[2021-06-02 15:25] jameslamb commented on #4335
Apologies for the confusion on this, we only very recently adopted the practice of publishing versioned docs (#4236), so the documentation at that site refers to the state of LightGBM as of the most recent development version.

[2021-06-02 15:46] davidmosca commented on #4335
Updating LightGBM solves the issue. Thanks.

[2021-06-02 15:46] #4335 closed

[2021-06-02 21:23] StrikerRUS commented on #4333
LightGBM GPU version is not supported on macOS for now: https://github.com/microsoft/LightGBM/issues/1523#issuecomment-413357392. But theoretically it's supposed to be working with a real GPU device (AMD Radeon Pro 5500M in this case): https://github.com/microsoft/LightGBM/issues/1523#issuecomment-415725097.

[2021-06-02 22:14] kshv190 commented on #4333
I built the R package with:
`Rscript build_r.R --use-gpu`

and it seems to work, please look at the log.

[LightGBM] [Info] This is the GPU trainer!!
[LightGBM] [Info] Total Bins 412
[LightGBM] [Info] Number of data points in the train set: 18834, number of used features: 9
[LightGBM] [Info] Using requested OpenCL platform 0 device 2
[LightGBM] [Info] Using GPU Device: AMD Radeon Pro 5500M Compute

[2021-06-03 03:20] jameslamb commented on #4321
Thank you for this excellent write-up! I've added this to #2302 with other feature requests, so I'll close this issue for now.

Anyone interested in contributing this is welcome to do so. Leave a comment below and the discussion can be re-opened.

[2021-06-03 03:20] #4321 closed

[2021-06-03 03:38] #4301 closed

[2021-06-03 03:39] jameslamb commented on #4301
@VadimLopatin thank you again for the bug report and reproducible example. This is now fixed on this project's `master` branch, and will be included in the next release.

[2021-06-03 11:26] brunofacca commented on #4334
I've found the answer to the above question at:
* [Laurae's replies on issue 1431](https://github.com/microsoft/LightGBM/issues/1431#issuecomment-396408894)
* [The code](https://github.com/microsoft/LightGBM/blob/d517ba12f2e7862ac533908304dddbd770655d2b/src/boosting/rf.hpp)

If I understood correctly (please correct me if I'm wrong), in LightGBM's RF mode:
* There is only one round of boosting. Th

[2021-06-03 11:26] #4334 closed

[2021-06-04 15:42] zhangyu345293721 opened #4339 "Can lightgbm extract features automatically"
## Summary

## Motivation

## Description

## References

[2021-06-04 15:50] jameslamb commented on #4339
Thanks for using LightGBM!

LightGBM uses tree learners, and the tree construction process is a form of feature selection...only features which have splits that improve the training loss will be chosen.

LightGBM's `Dataset` object also does some preprocessing that you can think of as feature engineering. For example, through its special encoding of categorical variables and its construction of co

[2021-06-04 15:50] #4339 closed

[2021-06-04 17:29] mayer79 commented on #4319
IMHO, the leakage from joint binning is negligible (e.g. it does not use the response variable). My suggestion is to mention it in the help of `lgb.cv` instead of making the code longer and run-time slower. The note could be: "Note that feature binning is done for the combined data, not per fold."

[2021-06-06 18:19] mayer79 opened #4345 "Clarify how to specify monotonic constraints in docu"
## Description

In https://lightgbm.readthedocs.io/en/latest/Parameters.html, it is unclear how to pass the `monotone_constraints` parameter.

In R and Python, we can pass neither a "multi-int" like `mc=-1,0,1` nor a list, but rather a string like "-1,0,1".

## Suggestion

Add to the docu a sentence like: "In R and Python, pass a string of the form '-1,0,1'." (If this is correct.)

[2021-06-07 03:11] sayantan1410 commented on #4136
Hey, there's nothing to update in the file : .\tests\python_package_test\test_consistency.py .
So updating the file: .\tests\python_package_test\test_dask.py

[2021-06-07 03:52] jameslamb commented on #4136
I see two places in `test_consistency` that could be updated. Could you please update

https://github.com/microsoft/LightGBM/blob/20e633875f3c843e25f3877071c950e673b879b6/tests/python_package_test/test_consistency.py#L35

and

https://github.com/microsoft/LightGBM/blob/20e633875f3c843e25f3877071c950e673b879b6/tests/python_package_test/test_consistency.py#L64

to `f"{self.prefix}{suffix}"?

And the

[2021-06-07 04:08] jameslamb commented on #4345
Thanks very much for the write-up and request! I'll add this right now.

[2021-06-07 05:47] jameslamb commented on #4345
I've opened a draft PR, #4346, to update the documentation.

For the Python package, you can pass a string or a list like `[-1, 0, 1]`. For the R package, you can pass a string or a vector like `c(-1, 0, 1)`.

[2021-06-07 06:57] zzhaobh opened #4347 "DASK api has some problem (AttributeError: 'Future' object has no attribute 'get_params')"
## Description
 Traceback (most recent call last):
  File "StartProject.py", line 78, in <module>
    ProjectStart()
  File "StartProject.py", line 64, in ProjectStart
    ModelTrainingGroupByAll(store_id_list,machines,o_connect,cur_dt)
  File "Project_Modeling.py", line 91, in ModelTrainingGroupByAll
    'metric': 'mse', 'boosting_type': 'gbdt', 'objective': 'poisson', 'num_threads': 14})
  File

[2021-06-07 07:13] mayer79 commented on #4345
oh wow! I wasn't even aware that you *can* pass a list/vector!

[2021-06-07 07:26] sayantan1410 commented on #4136
Sure, I will update consistency.py then.
Thank you for correcting me out.

[2021-06-07 11:13] #4221 closed

[2021-06-07 11:14] #4284 closed

[2021-06-07 11:18] StrikerRUS commented on #4229
Upstream bug report: https://bugs.llvm.org/show_bug.cgi?id=50579.

[2021-06-07 13:25] jameslamb commented on #4347
Thanks for using LightGBM. Are you able to provide a reproducible example for this behavior?

And can you please tell us how you installed `lightgbm`, and what version / commit hash you are using?

[2021-06-07 13:45] GerardBCN opened #4349 "Consistent release version-correlated decrease of LGBMRanker performance"
## Description
First of all thank you for your work in this amazing library, it has been extremely useful in our research. I open this issue to ask for your opinion about something we have observed in my research group and perhaps is relevant to other people here using LGBM ranker.

It all started when a colleague of mine couldn't reproduce my results and then we noticed that we were using differe

[2021-06-07 14:06] jameslamb commented on #4349
Thanks very much for using LightGBM and for the thorough write-up!

Are you able to provide a reproducible example? Without an example to try (and to rule out some theories), I think it will be very difficult to find an answer to this question.

[2021-06-07 14:16] jameslamb commented on #4349
After re-reading I understand what you mean by this. You're saying that for the lambdarank tests in LightGBM's tests suite, you can see hard-coded performance expectations being reduced.

e.g., from https://github.com/microsoft/LightGBM/commit/509c2e50c25eded99fc0997afe25ebee1b33285d#diff-98ca62132fa18e4a80cd57f16e9337fe3d72a08d5862d02eae9935bed9e43486

![image](https://user-images.githubuserconte

[2021-06-07 14:18] GerardBCN commented on #4349
Yes, that's right. Thank you for your prompt answer!

[2021-06-07 21:49] Felipe1990 opened #4350 "RandomizedSearchCV best_estimator_ predictions different than manually training the model with best params"
I used a RandomizedSearchCV to test a grid using refit=True. The predictions from the resulting object are different than training the model with the same best parameters.

In other words and with a very simple example:

[code]
having **predictions_A** different than **predictions_B**

Why does this happen? It doesn't happen with other models (for example a RandomForestRegressor from sklearn) Than

[2021-06-07 22:19] VadimLopatin commented on #4301
Hello @jameslamb , @shiyu1994 ,

Many thanks for your analysis and quick fix!

[2021-06-08 02:13] jameslamb commented on #4350
Thanks very much for your interest in LightGBM.

I think we need some additional information.

Since you did not provide a reproducible example, I attempted to create a one based on your description, and found that `predictions_A` and `predictions_B` were identical as expected.

[code]

<details><summary>environment information (click me)</summary>

Output of `conda info`

[code]

output of `conda

[2021-06-08 02:21] jameslamb commented on #4298
I asked @tara-jawahar about this, as I know she has some past experience with numpy's ctypes library. Some quotes from our conversation:

So at some point I think it is worth investigating this further and doing some benchmarking. But I think that's efficiency work that can be done any time in a non-breaking way, so I personally am going to resist the urge to try it right now, in favor of some of

[2021-06-08 15:12] Felipe1990 commented on #4350
Thanks a lot for your answer @jameslamb , I'll be mindful next time to provide a better example. I was reviewing this today again and could replicated the issue. It looks like a collegue was overwritting the B predictions in his process. (tables were being exported to a DB).

I really appreciate the confirmation that this shouldn't be an issue.

[2021-06-08 15:12] #4350 closed

[2021-06-08 15:14] jameslamb commented on #4350
Ah ok no problem, come back any time!

[2021-06-08 16:01] sagnik1511 commented on #4136
Hello, can I contribute to this issue ??
 I want to update   **.\examples\python-guide\logistic_regression.py** this file.

[2021-06-08 16:12] jameslamb commented on #4136
Yes please! Thanks for the help @sagnik1511

[2021-06-08 16:29] sagnik1511 commented on #4136
Thanks, @jameslamb for letting me collaborate !
Do check the [PR](https://github.com/microsoft/LightGBM/pull/4355).
Thank You :)

[2021-06-08 18:30] gabrielwomark opened #4357 "Question: Why is `delta_score` not flipped for the `low` lambda in the lambdarank objective?"
Hello! I have a question about the implementation of the lambdarank objective function.
[here](https://github.com/microsoft/LightGBM/blob/bab58d0e90b2ee93d7e0656957e73e92d46554bc/src/objective/rank_objective.hpp#L193) We see that
`const double delta_score = high_score - low_score;`
And then [p_lambda gets set to the sigmoid of this value](https://github.com/microsoft/LightGBM/blob/bab58d0e90b2ee93

[2021-06-09 05:45] zzhaobh commented on #4347
I just install lightgbm last version3.2.1.
I want to use lightgbm with dask in our company, but I crazy about this problem.

[2021-06-09 08:38] hepengfei-ml opened #4362 "Why not equal between pred_contrib and leaf_value"
lgb_model.predict(trainSet[:10], pred_contrib=True)[0] # View the predicted results of each tree
[ 7.64972711e-03, -3.81742957e-02,  4.66771460e-03,  2.18194183e-02,
        -1.72019699e-03, -1.23631020e-02, -8.53104134e-05, -7.47589539e-03,
         5.56609179e-04, -7.54456527e-04, -8.79923485e-03,  1.98663342e-04,
        -3.65097008e-02,  1.4926

lgb_model.predict(trainSet[:10], pred_leaf=True)

[2021-06-09 09:48] rachitagrwl opened #4363 "Use Time series split for while doing lgm.cv"
I tried this with this issue - https://github.com/microsoft/LightGBM/issues/2984, still I can't run my model successfully here as it is throwing a value error. Anyone can share some insights on how to make it work.?

![image](https://user-images.githubusercontent.com/14933484/121332836-24439280-c910-11eb-853a-83ee64f4d6a9.png)

[2021-06-09 13:02] StrikerRUS commented on #4363
Hey @rachitagrwl !
You are passing wrong argument (`nfold`). You should pass `folds` one.

[2021-06-09 13:02] #4363 closed

[2021-06-09 13:21] rachitagrwl commented on #4363
Hi @StrikerRUS Thanks for coming back but error is still intact.
![image](https://user-images.githubusercontent.com/14933484/121362320-ece3de80-c92d-11eb-9fb3-7a4dedaf32fd.png)

[2021-06-09 13:21] StrikerRUS commented on #3507
It is possible that 2 years is not enough for model to catch seasonality. So it worth getting more historical data.

Anyway, closing this issue as the most recent questions are unrelated to LightGBM.

[2021-06-09 13:21] #3507 closed

[2021-06-09 13:25] #3634 closed

[2021-06-09 13:29] StrikerRUS commented on #4037
@shiyu1994

Do you have plans implementing this? Or we can write this into our feature requests?

[2021-06-09 13:35] StrikerRUS commented on #3995
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 13:35] #3995 closed

[2021-06-09 13:39] StrikerRUS commented on #3735
Gently ping @shiyu1994

[2021-06-09 13:39] jameslamb commented on #4347
Which of these did you use?

* `pip install lightgbm`
* `conda install -c conda-forge lightgbm`
* something else (if so, please share the commands)

We are here to help! But an error message by itself is not enough information for us to help you. Can you please try to provide a reproducible example? (some code we can run that replicates the issue)

Since I see you're using `conda`, can you also pl

[2021-06-09 13:51] StrikerRUS commented on #3856
You can manually label your images (feature vectors after VGG) first and then train LightGBM with ranking objective.
https://everdark.github.io/k9/notebooks/ml/learning_to_rank/learning_to_rank.html

[2021-06-09 13:51] #3856 closed

[2021-06-09 14:08] StrikerRUS commented on #4184
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:08] #4184 closed

[2021-06-09 14:12] StrikerRUS commented on #4107
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute to this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:12] #4107 closed

[2021-06-09 14:16] StrikerRUS commented on #4260
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:16] #4260 closed

[2021-06-09 14:28] StrikerRUS commented on #4317
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:28] #4317 closed

[2021-06-09 14:32] StrikerRUS commented on #4298
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:32] #4298 closed

[2021-06-09 14:34] StrikerRUS commented on #4290
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:34] #4290 closed

[2021-06-09 14:38] StrikerRUS commented on #4333
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:38] #4333 closed

[2021-06-09 14:41] StrikerRUS commented on #4234
Superseded by #4313 as a more general approach.

[2021-06-09 14:41] #4234 closed

[2021-06-09 14:43] StrikerRUS commented on #4313
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-06-09 14:43] #4313 closed

[2021-06-09 14:51] StrikerRUS commented on #4363
Sorry, probably it was unclear as you have `folds` variable in you code. But I meant you should pass either `tss` or `folds` via `folds` parameter of `cv()` function.

[code]

[2021-06-09 15:09] StrikerRUS commented on #4286
@aprilffff Could you please double check with the latest code from `master`? You can use nightly builds if you don't want to build from sources.

I just run your example with the latest version of LightGBM on my machine without any errors.
[code]

P.S. there were two typos in the original reproducible example, I've corrected them.
1. `params` argument comes before `train_set`: `lgb.train(params=pa

[2021-06-09 16:52] StrikerRUS commented on #4349
@GerardBCN Thanks a lot for sharing your observations! All commits were made to fix bugs or increase ranking performance on real data. I promise that no commit was merged with the aim to intentionally decrease ranking performance 😃 . You can see that some important changes were proved to increase the score on some kind of "standard" ranking datasets for benchmarking: https://github.com/microsoft/L

[2021-06-09 17:07] #4345 closed

[2021-06-10 03:23] aprilffff commented on #4286
Did you make new revises other than what @shiyu1994 did in GatherInfoForThresholdNumericalInner? After shiyu1994's revise, this bug truly disappeared on the mini example  I provided, but still got the same bug on my real application data(over 10million samples,cannot share). And after many trials, I'm still not able to build another mini sample to replicate. So,  we might could close this issue fo

[2021-06-10 03:25] shiyu1994 commented on #4286
It is OK to keep this issue. I can spend some more time these days to check if there're other problems in the code related to forced splits.

[2021-06-10 03:41] hepengfei-ml opened #4368 "Why not equal between pred_contrib result shape and leaf_value result shape"
bst.predict(np.array(arr), pred_leaf=True).shape
(1, 400)
bst.predict(np.array(arr), pred_contrib=True).shape
(1, 66)

Why not equal between pred_contrib result shape and leaf_value result shape?
I understand pred_contrib is the result of the sample falling on the leaf node of the no class tree.
Its shape should be the same as pred_leaf

[2021-06-10 04:01] hepengfei-ml commented on #4368
1

[2021-06-10 04:01] #4368 closed

[2021-06-10 04:01] #4362 closed

[2021-06-10 08:48] fayeshine opened #4369 "Apple M1 chip compilation support"
We can only compile LGB by x86 instruction set now, however apple m1 has much higher performance with ARM instruction set. If we use x86 version, the mac with M1 will run in a  intel compatible mode (need compile translation) and the performance is much  lower. So I suggest we support mac M1's ARM instruction set.

[2021-06-10 09:03] #4347 closed

[2021-06-10 13:08] SkylerHuang opened #4370 "Use C++ API LGBM_BoosterPredictMat predict multiply data get erroe"
## Description
I want to inference multiply data at the same time, but i found that when nrow > 3 , it will occur errors, how can i fix it?

[2021-06-10 14:14] jameslamb commented on #4370
Thanks for using LightGBM!

This is not enough information for us to help you. Can you please provide the following things that were asked for in the issue template?

* what version / commit hash of LightGBM are you using?
* what commands did you run to install LightGBM?
* can you please share any logs, especially the error messages you're seeing?
* can you please share a reproducible example, som

[2021-06-10 14:16] jameslamb commented on #4347
@zzhaobh why did you close this? If you found a solution to the problem you were facing, can you please share that solution here? It will be helpful to others who find this issue from search engines.

[2021-06-11 07:59] mtryout commented on #99
@guolinke the best, thanks..

[2021-06-11 17:48] DexGroves opened #4371 "`feature_fraction` RNG looks broken"
Hi!

First up, thanks for maintaining this amazing package!

I noticed something weird while training a model with three predictors and 1/2 < `feature_fraction` < 5/6. One feature always gets ignored. I think this is because of the per-tree RNG that determines which features are available. As far as I can tell:

1) `NextInt` in [random.h](https://github.com/microsoft/LightGBM/blob/1b5bec0047d687c5

[2021-06-12 01:23] jonastim opened #4372 "Inconsistent model scores in different environments"
## Description
We are observing deviations in the model scores of our LGBM 2.2.3 model depending on the execution environment.

The model is trained, serialized using pickle and uploaded to S3 in the training environment and then loaded and scored in a different serving environment.

The model has 12 numerical features and the scores on our 10 sample reference data-set vary by up to 15%.

[code]

[2021-06-12 12:44] dolfinus commented on #4308
Hi.

How about using [pre-commit|https://pre-commit.com/#usage-in-continuous-integration] instead?
It could not just fail the CI/CD job if source code in PR is not properly formatted or have some linting issues. More than that, it could event prevent making a commit with a wrongly formatted source code in the first place.
Also it allows to add more checks any time you need. For example, checking f

[2021-06-12 13:46] StrikerRUS commented on #4371
Linking https://github.com/microsoft/LightGBM/issues/4134#issuecomment-813302120 as related.

[2021-06-12 13:49] #4276 closed

[2021-06-12 14:09] StrikerRUS commented on #4369
Hey @fayeshine !

Do you have logs of failed compilation on Apple M1?
We've recently started to provide Python wheels for ARM64 (`aarch64`) platform and had no problems with compilation.

Also, Homebrew provides LightGBM bottles for `arm64_big_sur`.
https://github.com/Homebrew/homebrew-core/blob/2e25c708a3f396feb76dd5d9ce74e1641378aa85/Formula/lightgbm.rb#L10
I guess they compile with native ARM s

[2021-06-12 14:27] StrikerRUS commented on #4372
@jonastim Sorry about the issue you are having!
`2.2.3` is very old release, a lot of improvements and bug fixes have been merged since that time. Could you please migrate to the most recent release (`3.2.1`)?

Given the same environment (especially the same Python version), I believe pickle is a reliable protocol.

Also, I can think about the following sources of inconsistency:
- different versio

[2021-06-12 14:28] jameslamb commented on #4308
Thanks very much for your suggestion and interest in LightGBM.

I don't think it is correct to say that `precommit` is something this project might use "instead" of `pylint`. Those tools do different things. This discussion is about whether or not to use a particular linter, not the choice of whether it should be run in CI or in contributors' development environments.

[2021-06-12 14:29] StrikerRUS commented on #3912
@CharlesAuguste Thank you very much for your detailed answer!

[2021-06-12 15:32] #3580 closed

[2021-06-12 15:39] fayeshine commented on #4369
@StrikerRUS Hi,

I found that the python wheels for arm64 is for linux, do we have arm64 wheel for mac?

[2021-06-12 15:44] StrikerRUS commented on #4369
Unfortunately, we don't.

[2021-06-12 15:50] fayeshine commented on #4369
@StrikerRUS homebew's arm64 version is a command line program, not a python package, so could we provide a arm64 wheel for mac? Or could you tell me how to compile with arm64 instruction set on mac, it seems that cmake automatically compile into an intel version.

[2021-06-12 17:25] StrikerRUS commented on #4369
My example with Homebrew was about possibility of compilation on ARM platform. Unfortunately, we can't provide wheels right now due to infrastructure limitations. We are looking forward for mac M1 availability on free CI services (e.g. https://github.com/actions/virtual-environments/issues/2187#issuecomment-737339211).

What makes you think so? Please share the logs here. Also, I believe it worth

[2021-06-12 17:28] StrikerRUS commented on #4369
According to this article, you can simply download

[2021-06-13 05:03] jameslamb commented on #3881
re-opening this to note that I am currently working on a fix for this, to try to unblock #4351

[2021-06-13 14:22] fayeshine commented on #4369
@StrikerRUS thank you! this link solved my problem. I tested that arm64 version is about 12% faster than x86 version, my train set is about 1000000*1000, num_iteration=10.

[2021-06-13 14:22] #4369 closed

[2021-06-14 03:22] jameslamb opened #4374 "[R-package] Dataset construction fails if `data` does not have feature names and categorical_features is specified"
## Description

If you specify `categorical_features` and the training data does not have feature names, Dataset construction fails.

## Reproducible example

[code]

Results in the following error message:

  lgb.self.get.handle: supplied a too large value in categorical_feature: 3 but only 0 features

## Environment info

LightGBM version or commit hash: latest `master` (https://github.com/micro

[2021-06-14 04:25] ffineis opened #4375 "Group, init_score, and sample_weight cannot be type Dask DataFrame"
## Description
The `group`, `sample_weight`, and `init_score` Dask estimator parameters cannot be `Dask DataFrames`. They are currently described as "Dask Array, Dask DataFrame, Dask Series..." (e.g. [here](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.DaskLGBMRanker.html#lightgbm.DaskLGBMRanker.fit)). Serial LightGBM estimators do not accept DataFrame values for these parameters -

[2021-06-14 12:05] StrikerRUS commented on #4369
Very glad you've solved the problem!

Are you referring the article about XGBoost and LightGBM installation?

[2021-06-14 12:15] fayeshine commented on #4369
@StrikerRUS, Yes, I reffered to the article about xgboost and lightgbm installation, this mini-conda package is all compiled in arm64, as well as the lgb package, I know this because it runs in APPLE mode in activity monitor.

As for your question:
'Or could you tell me how to compile with arm64 instruction set on mac, it seems that cmake automatically compile into an intel version.
What makes you

[2021-06-14 13:41] StrikerRUS commented on #4369
Thanks a lot the detailed answer!

[2021-06-14 22:44] mangleddata opened #4379 "Custom subsample method"
I don't know if it's possible, but is there a way to apply a custom subsampler while building trees. While there's a parameter to control the ratio of instances being chosen, I am trying to see if there's a way to have more fine grained control. I am working with timeseries data where the neighboring training rows leak information, so the intent is to make sure the population being chosen has enou

[2021-06-15 03:13] jonastim commented on #4372
Thanks for the quick response, @StrikerRUS!
The problem with upgrading the LGBM version is that we still have to serve a couple of older models.
Is `3.2.1` backwards compatible to pickled `2.2.3` models (and potentially older ones)?
For the same reason, it's tricky to change the serialization scheme.

We use pandas `1.1.5` in both environments and one of the models that has problems only uses nume

[2021-06-15 03:35] jameslamb commented on #4375
Thanks for writing this up! I'm adding the literal text of the error message here, so people will be able to find this issue from search engines if they encounter it.

  File "<stdin>", line 1, in <module>
  File "/Users/jlamb/miniconda3/lib/python3.8/site-packages/lightgbm/sklearn.py", line 1000, in fit
    super().fit(X, y, sample_weight=sample_weight, init_score=init_score, group=group,
  File

[2021-06-15 04:59] sayantan1410 commented on #4136
Hey, May I work on this file ?
@jameslamb

[2021-06-15 10:38] StrikerRUS commented on #4372
I don't think so. Unfortunately pickle is not so smart to handle internal changes of the object from version to version.

Here is what scikit-learn says about pickle:

    https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations

I guess the first step should be saving an underlying model into file (with [`save_model()`](https://lightgbm.readthedocs.io/en

[2021-06-15 13:33] StrikerRUS commented on #3756
I suggest moving to a scheme "1 PR - 1 function/method" for the rest files. There are 142 functions in `basic.py`. It's quite hard to review such huge PRs. Refer to #4367 for example.

[2021-06-15 14:18] #4375 closed

[2021-06-15 15:47] jameslamb commented on #4136
@sayantan1410 thanks for all your help! You can work on any file mentioned in this issue.

[2021-06-15 17:22] sayantan1410 commented on #4136
Thank you !!
@jameslamb

[2021-06-16 06:25] youyoux7 opened #4384 "Creation of a Booster object with a subset of features"
With feature_importance, one can easily get the subset of the features effectively used by the fitter (used for splitting in at least one tree) from a model that has been fitted.
Is there a convenient way to create a new model file/Booster object that only uses that subset of features without the unused ones? This would be easier for using a fitted model without having to compute the unused featur

[2021-06-16 19:12] StrikerRUS commented on #4319
I'm +1 for @mayer79's proposal of documenting this problem.

[2021-06-17 21:08] StrikerRUS commented on #3591
Just for the history: `max_conflict_rate` param was removed in #2699.
https://github.com/microsoft/LightGBM/commit/509c2e50c25eded99fc0997afe25ebee1b33285d#diff-229636b798e2650929dad136deec0c435e57b33b41c48d08eb32b2661e2c5e84L537-L542

[2021-06-17 23:58] mattiasu96 commented on #3733
I had the same problem with my .txt saved models. I used dos2unix over my .txt files and it solved my problems!

[2021-06-18 02:31] #4134 closed

[2021-06-18 06:43] aceson28 opened #4388 "GOSS Proofing"
is there any other way to make proof that ordinary gain is the same as gain in GOSS other than using O()? because my basic skill from statistics and I don't understand when the proof using O()
any mathematical way to prove that?

[2021-06-18 07:43] fabsig commented on #4319
I would recommend a zero-tolerance policy for all kinds of data leakage in cross-validation. The fact that one needs to add more lines of code does not seem to be a sound argument for not fixing the problem. Intuitively, the amount of information leakage is often small, and I agree that this intuition holds true in many applications. But, can you guarantee that there are no datasets where this dat

[2021-06-18 11:36] fabsig opened #4390 "[R-package] Protection stack imbalance and unprotected objects"
The R-package has two [protection](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Garbage-Collection) issues. First, there is a protection stack imbalance when functions are exited by returns from the catch statements in the [`R_API_END`](https://github.com/microsoft/LightGBM/blob/master/R-package/src/lightgbm_R.cpp#L30) macro. This issue is found when running [rchk](https://github.c

[2021-06-18 13:46] jameslamb commented on #4390
Thanks very much for your investigation and write-up! Linking #4282 as there is some overlap between this issue and that one, but this issue adds a lot of good details not contained there.

Could you describe how you ran `rchk` on `{lightgbm}`? Ideally a `docker run` command or something else that would be easy for me to reproduce. I have tried before by following the examples at https://github.co

[2021-06-18 13:56] fabsig commented on #4390
Thanks a lot for your feedback.

I used docker and followed the steps described [here](https://github.com/kalibera/rchk/blob/master/doc/DOCKER.md#checking-a-package-from-a-tarball). Note that there is an obvious typo in the corresponding Windows documentation. After creating the CRAN lightgbm_*.tar.gz file with you shell script, I ran the following docker command `docker run -v %cd%/packages:/rchk

[2021-06-19 22:05] #4255 closed

[2021-06-20 03:51] ffineis opened #4392 "Use or return all workers eval_set evaluation data"
Related to #4393

## Summary

## Motivation

DaskLGBM estimators, as per #4101, would only return eval_set-related data artifacts (like `evals_result_`, `best_score_`, ...) from the "rank 0" worker, but all workers have some amount of evaluation metrics from their local `eval_set` data. Providing the user with either access or a complete summary of the full evaluation of `eval_set` would be prefer

[2021-06-20 04:00] ffineis opened #4393 "Drop 'not evaluated' placeholder from dask.py"
## Summary

Drop `'not evaluated'` placeholder string used for when the rank 0 Dask worker happens to have not received data for particular components of `eval_set`.

## Motivation

This is a request for an improvement to the handling of multiple workers' `eval_set` data attributes (e.g. `evals_result_`) once #4392 is resolved, as opposed to using `not evaluated` as a placeholder for unevaluated e

[2021-06-20 04:10] ffineis opened #4394 "`training` eval_set is does not default to "training" in Dask"
## Description

When using `eval_set` in LightGBM, if a component (or components) of `eval_set` is just the training data (e.g. `eval_set[0][0] is X and eval_set[0][1] is y`), then that component's default eval_name is just `"training"` in the corresponding `eval_set` data artifacts like `best_score_`, `evals_result_`, etc. This happens by default when `eval_names is None`.

In the implementation

[2021-06-22 00:42] Numan100 commented on #1003
NV GTX 1050
Python 3.6.5
Cuda 11.2
Win 10-X64
vs 2019

My program even couldn't run GPU version, which Pycharm indicated:
My OSError: exception: access violation reading 0x0000000000000038
Any hints ?

Codes HERE:
import lightgbm as lgb
from sklearn.datasets import load_boston
data = lgb.Dataset(*load_boston(True))
lgb.train({'device':'gpu',},data)

[2021-06-22 07:33] darshanbint opened #4398 "[dask] what learning parameters can be used?"
## Summary

Parameters like min_data_per_group, cat_l2, cat_smooth, max_cat_threshold missing from DaskLGBMClassifier, will passing them as kwargs work? Or this is still not implemented yet? Please help

## Motivation

## Description

## References

[2021-06-22 16:52] jameslamb commented on #4398
Thanks for using LightGBM! I've reformatted this issue so that most of the question is in the description, not the title. That makes it easier to understand when looking at the list of issues.

All of the parameters mentioned, and many more, can be passed directly to `lightgbm.dask.DaskLGBMClassifier`'s constructor. You can try this yourself by modifying the examples at https://github.com/microsof

[2021-06-23 03:35] Numan100 commented on #1717
I have similar OSError  in reading 0x0000000000000038.
Have you got Any solutions to this bug? @pipidog @guolinke

[2021-06-23 05:11] jameslamb opened #4400 "[R-package] [ci] Add a CI job testing the R package with rchk"
## Summary

A continuous integration (CI) job should be added which tests the R package with [`rchk`](https://github.com/kalibera/rchk).

From that project's description,

## Motivation

`rchk` can automatically find issues in C/C++ code used in an R package. Adding a CI job in this repository which runs `rchk` should provide higher confidence in releases and aid maintainers in catching user-facin

[2021-06-23 05:12] jameslamb commented on #4390
Excellent, thanks very much! For the sake of others looking to this issue interested in reproducing these problems, this set of commands worked for me.

[code]

And that resulted in the following logs

[code]

I've also opened #4400 to track the work for possibly adding a CI job.

[2021-06-23 13:41] StrikerRUS opened #4402 "[python] Add `Returns` section to docstrings of `fit()` methods of Dask estimators"
Refer to https://github.com/microsoft/LightGBM/pull/4101#issuecomment-866375793.

[2021-06-23 14:04] ThomasBourgeois commented on #3379
Hi all,
same issue here : I'm sepcifying categorical features pretty much everywhere : train and val datasets, plus in train, and I still get warnings.. Very strange.
Warnings obtained :
"Overriding the parameters from Reference Dataset.
categorical_column in param dict is overridden."

Code :
`
train_data = lgb.Dataset(train[feats], label=train[target],
                         feature_name=feats

[2021-06-23 16:35] StrikerRUS opened #4403 "Take `Sequence` into consideration in `get_data()` and `add_features_from()` methods of `Dataset` object"
This issue is actual only after merging #4089.

Refer to https://github.com/microsoft/LightGBM/pull/4089#discussion_r654721270.

[2021-06-25 03:46] jameslamb opened #4405 "data parallel training uses local init score for some objectives, but should use a global init score"
## Description

Created from https://github.com/microsoft/LightGBM/pull/4332#issuecomment-853657414.

During distributed training, when a user-provided `init_score` is not given (the default), each worker determines an initial score to boost from based on its local data. These initial scores are then synced up by mean between all workers.

In situations where the distribution of the target is very

[2021-06-25 03:48] jameslamb commented on #4405
@shiyu1994 please feel free to edit the description to add more details or fix anything I've written that is misleading or incorrect.

copying @imatiach-msft , as I think this issue is relevant for `mmlspark` as well.

[2021-06-25 04:20] jameslamb commented on #4400
Per our policy in this project, I've added this feature request to #2302. Anyone is welcome to contribute this feature! If you'd like to contribute, say so in a comment here and this can be re-opened.

[2021-06-25 05:05] jameslamb opened #4406 "[ci] regression tests: binary Dataset format"
## Summary

This project's continuous integration (CI) should include a job which tests that LightGBM `Dataset` binary files produced by previous versions can be successfully loaded and used in newer versions.

Specifically, it should test the following claim:

It should also include tests of expected compatibility between other versions. For example, if 4.0.0 does not include breaking changes to

[2021-06-25 05:19] jameslamb opened #4407 "[ci] regression tests: model files"
## Summary

This project's continuous integration (CI) should include a job which tests that LightGBM model files produced by previous versions can be successfully loaded and used in newer versions.

Specifically, it should test the following claim:

It should also include tests of expected compatibility between other versions. For example, if 4.0.0 does not include breaking changes to saving / lo

[2021-06-25 05:31] jameslamb commented on #4407
This issue has been added to #2302 with other feature requests. I'd like to leave it open for a few days in case others want to add comments, since I just locked discussion on #4228.

After a few days, this issue will be closed until someone leaves a comment saying they'd like to work on it.

[2021-06-25 05:31] jameslamb commented on #4406
This issue has been added to #2302 with other feature requests. I'd like to leave it open for a few days in case others want to add comments, since I just locked discussion on #4228.

After a few days, this issue will be closed until someone leaves a comment saying they'd like to work on it.

[2021-06-25 05:54] jameslamb commented on #4131
Assigning this to myself and I will pick it up soon, to get this fix into the next release (#4310).

I'd also like to include here two possibly-relevant pieces of information that were recently posted on the R-pkg-devel mailing like.

1. There is very detailed documentation available at https://cran.r-project.org/doc/manuals/r-release/R-exts.html#OpenMP-support on CRAN's recommendations for using

[2021-06-25 09:37] verajosemanuel commented on #4007
same here.  Crashes after treesnip is installed in a clean new vanilla environment is windows 10.
treesnip installed with

remotes::install_github("curso-r/treesnip")

I had to load the packages in this order:

[code]

[2021-06-26 13:57] darshanbint opened #4409 "[dask] TypeError: Unknown type of parameter:init_score, got:Series"
## Description

## Reproducible example

## Environment info

LightGBM version or commit hash:

Command(s) you used to install LightGBM

[code]

## Additional Comments

[2021-06-26 17:20] StrikerRUS commented on #4409
Try to pass `init_score` as an argument not as part of `params`.
Please provide reproducible example, otherwise we cannot help you.

[2021-06-26 19:32] StrikerRUS commented on #4272
Fixed via #4280.

[2021-06-26 19:32] #4272 closed

[2021-06-27 00:43] jameslamb commented on #4007
@verajosemanuel This issue has been fixed on `master` but has not been released to CRAN yet.

Please see https://github.com/microsoft/LightGBM/issues/4259#issuecomment-832900302 for steps to install from source and subscribe to #4310 to be notified when a new release is published.

[2021-06-27 05:08] #4390 closed

[2021-06-27 16:00] darshanbint commented on #4409
Error log:
Finding random open ports for workers
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-19-4463b2b3ec8a> in <module>
----> 1 model.fit(df2[feature_list], df2[target_list])

~/miniconda3/envs/darshanbint/lib/python3.9/site-packages/lightgbm/dask.py in fit(self, X, y, sampl

[2021-06-28 02:57] jameslamb commented on #4409
Thanks very much for including a bit more information. I've reformatted https://github.com/microsoft/LightGBM/issues/4409#issuecomment-869186083 a bit for better readability. Please see https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax if you are new to GitHub and not familiar with GitHub-flavored markdown

[2021-06-28 03:50] jameslamb commented on #3956
fixed by #4101, thanks @ffineis !

[2021-06-28 03:50] #3956 closed

[2021-06-28 03:56] jameslamb commented on #3867
Up to 64 errors as of https://github.com/microsoft/LightGBM/commit/b5502d19b2b462f665e3d1edbaa70c0d6472bca4.

<details><summary>Found 64 errors in 3 files (checked 10 source files)</summary>

[code]

</details>

[2021-06-28 09:17] freetz-tiplu opened #4414 "Trainings binary logloss increasing in some iterations in voting-parallel setting"
## Description

Some time ago I encountered the problem that when I did not use min_data_in_leaf with a higher value than default, that the training's binary logloss would increase in some iterations. Spikes would occur which varied in size. Some small but some really big as shown in the example.
![distributed_metrics](https://user-images.githubusercontent.com/60929260/123407734-907af300-d5ac-11eb

[2021-06-28 09:51] verajosemanuel opened #4415 "[R-package] session crashes when serializing and deserializing model"
I trained a model in R using LightGBM (treesnip) and saved using common saveRDS command.

To my surprise, when trying to predict some data after reading the saved model, readRDS seems to work but script&predict is crashing.

Read this issue https://github.com/microsoft/LightGBM/issues/4208  regarding some similar issue but I am not sure that is the cause.

is there any safe procedure to save my mo

[2021-06-28 11:28] #4315 closed

[2021-06-28 12:13] StrikerRUS opened #4416 "Migrate to `pathlib` for the Python code"
Refer to https://github.com/microsoft/LightGBM/pull/4254#issuecomment-869163563 for the rationale.

- [x] ``.\.nuget\create_nuget.py``
- [x] ``.\docs\conf.py``
- [x] ``.\examples\python-guide\advanced_example.py``
- [x] ``.\examples\python-guide\logistic_regression.py``
- [x] ``.\examples\python-guide\plot_example.py``
- [x] ``.\examples\python-guide\simple_example.py``
- [x] ``.\examples\python-g

[2021-06-28 12:14] StrikerRUS commented on #4414
cc @shiyu1994

[2021-06-28 15:00] Jumabek commented on #2742
Issue disappered when

[code]

[2021-06-28 15:14] darshanbint commented on #4409
Worked fine, thanks!

[2021-06-28 15:14] #4409 closed

[2021-06-28 15:24] darshanbint opened #4417 "How to print best_iteration, best_score with lightgbm.DaskLGBMClassifier model?"
## Description
with reference to https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/dask/binary-classification.py the best_iteration and best_score of the dask_model are None and {} respectively. What is the reason the output is None and {}? How to print these features similar to LightGBM model best_score and best_iteration?

[2021-06-29 03:02] jameslamb commented on #4417
@darshanbin thanks for using LightGBM, and especially for your interest in the Dask interface!

As I mentioned in https://github.com/microsoft/LightGBM/issues/4409#issuecomment-869300572, please provide a reproducible example (including details on how you installed LightGBM and which version you installed) when you report an issue in this project. Without it, you are asking maintainers here to gue

[2021-06-29 03:32] jameslamb commented on #4415
It is hard to say for sure since you haven't provided a reproducible example showing exactly what you tried, but based on the information you've provided, #4208 probably describe problems you're facing using `saveRDS()` / `readRDS()`. I recommend subscribing to #4208 to be sure you're notified once that issue is resolved.

Until then, you can use the functions `lightgbm::saveRDS.lgb.Booster()` and

[2021-06-29 06:25] darshanbint commented on #4417
Cool thank you for answering!

[2021-06-29 06:25] #4417 closed

[2021-06-29 07:12] shiyu1994 commented on #4414
@freetz-tiplu Thanks for using LightGBM. What's the size of your data and how many features are there? Could you please turn up `top_k` parameter to see if the fluctuation occurs. Ideally if `top_k` equals the total number of features, voting parallel should work the same as data parallel.

[2021-06-29 09:58] verajosemanuel commented on #4415
that's correct! just the issue I was having. Thanks for the workaround!!!

[2021-06-29 17:35] jameslamb commented on #4415
How did you install `{lightgbm}` and what version of it are you using? As I mentioned in https://github.com/microsoft/LightGBM/issues/4007#issuecomment-869080432, there have been several stability fixes to the R package that have not yet been released.

If you need further help, please provide a reproducible example.

[2021-06-30 07:00] shiyu1994 commented on #4371
@DexGroves Thanks for using LightGBM. After a careful check, I think it should be `NextInt(0, r+1)`, instead of `NextInt(0, r)` here,
https://github.com/microsoft/LightGBM/blob/1b5bec0047d687c571ba441885dbf94b8d22423d/include/LightGBM/utils/random.h#L88
otherwise the last element `N-1` will always be left out. Thanks for pointing that out.

The reason to use the second branch in `Sample`, I think

[2021-06-30 13:47] amanjha8100 commented on #4136
Hey, can I contribute to this issue?

[2021-06-30 14:18] jameslamb commented on #4136
Yes please, we'd be grateful for the help.

[2021-06-30 14:48] amanjha8100 commented on #4136
Thanks, @jameslamb for letting me contribute !
Do check the [PR](https://github.com/microsoft/LightGBM/pull/4421).
Thank You :)

[2021-07-01 06:49] aBeginner666 opened #4424 "Question: predicted value will change a lot if I add constant or multiply constant to the features"
Hi there,

I'm working on a regression problem with lightGBM 2.2.3, and I encountered a weird issue:

If I add a constant or multiply a positive constant to all features, the predicted value would also change a lot. This doesn't make sense to me given that objective = regression; boosting_type = gbdt; no lambda_l1 or lambda_l2。

In my opinion, the above operation shouldn't impact the histogram, th

[2021-07-01 14:08] jameslamb commented on #4424
Thanks very much for using LightGBM!

Can you please provide a reproducible example, some self-contained code that maintainers could run to understand exactly what you are doing? Without that, you are asking us to guess what your code is doing (for example, you are asking us to guess what "a lot" means), which will delay the time it takes to resolve this issue and pull maintainers' limited attenti

[2021-07-01 23:06] LittleLittleCloud opened #4425 "Question: why setting num_threads = cpu cores is better"
I'm running a few experiments using lgbm in docker container, and I find a SIGNIFICANT speed improvement when setting `num_threads` equals to cpu number instead of thread number (which is cpu number * 2). Just wonder if it is expected?

FYI, the cpu limit is set to 1 for that docker container. So the old `num_threads` is 2 while the new `num_threads` is 1. And the new `num_thread` improves trainin

[2021-07-02 02:10] shiyu1994 commented on #4425
The physical core numbers of CPU is the actual number of cores. But the thread number, which is twice of the CPU core numbers in some intel CPUs, is due to the hyperthreading design. Hyperthreading means that a CPU core can be allocated 2 threads so that when one thread waits for data being fetched from memory, another thread can be scheduled to the core. In this way, we can hide memory latency.

[2021-07-02 03:57] shiyu1994 commented on #4424
Hi @aBeginner666, thanks for using LightGBM. LightGBM will discretize the features before training. With feature values being added to or multiplied by a constant, the discretization process can be influenced, but a big change in the prediction values is not expected. Could you please provide an example to demonstrate your case? Thanks.

[2021-07-02 04:05] aBeginner666 commented on #4424
Hi James/Shiyu,

Thanks a lot for providing info. Please see the below toy code, the real application has more weird distributions of features.

It seems that if I get rid of the rounding, the issue would disappear; and if I use rounding, and scale the feature down a bit, though the MSE didn't change much, the Y_pred would change considerably in terms of percentage. I think roudning would cause so

[2021-07-02 06:10] seahrh commented on #4229
Moving the import statement `import lightgbm as lgb` to line 1 in my file actually got rid of the error. As per suggestion from https://github.com/dmlc/xgboost/issues/7039#issuecomment-860910066

libomp version `/usr/local/Cellar/libomp/12.0.0`

Error dump when loading booster model. Putting it out here in case it is useful:
[code]

[2021-07-02 09:36] freetz-tiplu commented on #4414
Sorry for the late reply.
In one example I had 60k samples and 10k features and the problem occurred. setting top_k to the number of features strangely made no difference. Still, a relatively large degradation of binary_logloss occurred in one iteration. However, if I use the same setting again (same training config, data and features) but set `tree_learner: data `the problem no longer occurs.

[2021-07-02 11:20] j-adamczyk opened #4426 "[Python] Problem with passing arguments when inheriting from LGBMRegressor"
## Description
When trying to use class inheriting from `LGBMRegressor`, it can't properly pass parameters and returns an error:
[code]

It happens for any dataset, any case that I could find. There is no error if I add e.g. `params['random_state'] = 0` directly before the line causing error in `lightgbm/sklearn.py`. Passing `random_state` explicitly during LightGBM model creation does not fix thi

[2021-07-02 11:59] StrikerRUS commented on #4425
Yeah, it's expected and have been already documented:

   https://lightgbm.readthedocs.io/en/latest/Parameters.html#num_threads

[2021-07-02 11:59] #4425 closed

[2021-07-02 12:25] StrikerRUS commented on #4184
Implemented in #4089.

https://github.com/microsoft/LightGBM/pull/4089#discussion_r659403739

[2021-07-02 14:07] jameslamb commented on #4425
Agree with everything said above. Linking this related issue that provides a little bit more context: https://github.com/microsoft/LightGBM/issues/4192#issuecomment-822023560

[2021-07-02 14:20] vasulakkaraju commented on #4229
Facing the exact reported issue.Subscribed for more updates.

[2021-07-02 18:35] minhsphuc12 commented on #3556
That is a very inelegant way to do the job.

[2021-07-02 18:35] minhsphuc12 commented on #3556
This is a very inelegant way to do the job.

[2021-07-02 19:25] jose-moralez commented on #4426
`scikit-learn` looks for the model parameters in the `__init__` signature, so overriding it makes this kind of expected since `get_params` only returns `objective`, see [this answer](https://stackoverflow.com/a/40027200/8998310) for more details.

I'm guessing you're not subclassing `LGBMRegressor` just to change the `objective` so maybe you could share some more details to see if there's a better

[2021-07-03 05:04] #4309 closed

[2021-07-03 15:40] jtsw1990 opened #4433 "LightGBMError: Dataset max_bin 1667309669 != config 63"
## Description
Running lightgbm==2.1.3 in python.
Using reticulate to read function into R.

The dataset is first saved into a binary file:
[code]

The training dataset:

[code]

params:

[code]

the main training function:
[code]

I keep getting this error:

[code]

![image](https://user-images.githubusercontent.com/32478278/124360065-0b0dd780-dc6b-11eb-996b-fcb153ca005a.png)

I am not too sure w

[2021-07-03 19:15] amanjha8100 commented on #4136
Hey @jameslamb is there any other file that needs changing, I am unable to find any?

[2021-07-04 04:18] jameslamb commented on #4136
Thanks for looking! I agree that `helpers/check_dynamic_dependencies.py` doesn't have any strings that need to be changed.

I updated the list in this issue's description:

* `libpath.py` - updated in #4137
* `helpers/check_dynamic_dependencies.py` - I don't see any string concatenation that needs to be updated
* `tests/python_package_test/test_sklearn.py` - I don't see any string concatenation th

[2021-07-04 04:23] jameslamb commented on #4433
Thanks for the report and for using LightGBM!

I'll look into this when I have time in the next few days, but first I have two questions:

1. Is it possible for you to update to a newer version of `lightgbm`?
    - v2.3.1 was released in November 2019, and there have been many changes and fixes since then
2. Why are you using `{reticulate}` instead of installing `{lightgbm}` directly from CRAN?
3.

[2021-07-04 07:42] amanjha8100 commented on #4136
Great, it was fun contributing!

[2021-07-04 12:12] #4314 closed

[2021-07-04 17:04] jameslamb opened #4438 "[dask] preserve chunks in results of multi-class pred_contrib predictions on sparse matrices"
## Summary

As of #4378, `DaskLGBMClassifier.predict(X, pred_contrib=True)` returns a list of Dask Arrays if the model is a multiclass classification model and `X` is a scipy sparse array.

However, those Dask Arrays only have a single chunk. That code should be updated to preserve the original chunking from `X`.

## Motivation

Preserving the chunking would improve the parallelism of any postproc

[2021-07-04 17:07] jameslamb commented on #4438
Per this project's process, I've added this to #2302, the issue where all feature requests are tracked. Anyone is welcome to contribute this feature. Please leave a comment here if you're interested in contributing and this issue can be re-opened.

[2021-07-04 17:07] #4438 closed

[2021-07-04 17:40] j-adamczyk commented on #4426
@jose-moralez so to fix this, I just have to copy and paste arguments for `LGBMRegressor` to my custom regressor `__init__`, right?

I'm doing this, since this custom regressor is part of bigger custom pipeline, e.g. logging is done as decoractors for `.fit()` and `.predict()`, which also basically just call the superclass. This construction allows us to easily swap estimators inside - previously

[2021-07-04 20:10] #4136 closed

[2021-07-04 20:33] jameslamb commented on #4407
Ok now that this has been open for a few days, I am going to close it. If you're reading this and would like to work on this, please comment below and it can be re-opened!

[2021-07-04 20:33] #4407 closed

[2021-07-04 20:33] jameslamb commented on #4406
Ok now that this has been open for a few days, I am going to close it. If you're reading this and would like to work on this, please comment below and it can be re-opened!

[2021-07-04 20:33] #4406 closed

[2021-07-05 20:30] jose-moralez commented on #4426
I'd say that's the safest choice, because even if it doesn't throw an error you may get unexpected behaviour by not defining all your parameters, for example:

[code]
`sklearn.base.clone` is used in many of the `*CV` objects, like `GridSearchCV` and `RandomSearchCV`, and what it does is just take the output of `estimator.get_params()` and initialize a new estimator with those parameters. So in thi

[2021-07-05 20:43] j-adamczyk commented on #4426
Ok, thank you, I see that this was a misunderstanding on my part, not LightGBM problem.

[2021-07-05 20:43] #4426 closed

[2021-07-05 23:59] jameslamb commented on #4426
thanks for the assist, @jose-moralez !

@j-adamczyk I just want to add that the `scikit-learn` maintainers have extensively documented some guidance for developing `scikit-learn`-style estimators at https://scikit-learn.org/stable/developers/develop.html

That document helped me a lot when I started working on this project's Dask estimators (which sub-class the estimators in `lightgbm.sklearn`).

[2021-07-06 00:35] cnll0075 opened #4447 "Setting num_thread = 1 does not work on Windows"
Hi there,

when setting num_threads = 1, on my linux machine CPU usage dropped from 70% to 10%, however, it didn't change CPU usage on windows machine. All 16 cores show the same CPU usage pattern (almost 100%) as shown in the attached screenshot. I've verified the high usage is from running lightGBM (i.e. not from other processes). Any idea what might have caused the different behavior on linux v

[2021-07-06 01:16] jameslamb commented on #4447
Thanks for using LightGBM!

Can you please provide the information that was asked for when you clicked "new issue"?

1. a reproducible example (self-contained code that we could run which replicates the issue)
2. a description of how you installed LightGBM

Without that information, maintainers will have to guess at how your are using LightGBM, which will extend the time it takes to resolve this i

[2021-07-06 01:39] shiyu1994 commented on #4037
@StrikerRUS We can have this in feature requests. A quick fix would be to randomly sample from feature groups in line 125. How to sample the groups when the total number of groups is large is an open question.

We have a plan to separate the dataset construction. I think we may leave it to that part.

[2021-07-06 01:53] jameslamb commented on #4424
Thanks very much, taking a look at this right now.

By the way, I've edited your comment to use code formatting from GitHub, so it is easier to read. In case you are not familiar with how to do this on GitHub, please see https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax.

[2021-07-06 03:13] jameslamb commented on #4424
Ok @aBeginner666 , I believe I know what's happening here!

Running a modified version of the code you provided, with the latest version of `lightgbm` installed from `master` (as of the most recent commit, https://github.com/microsoft/LightGBM/commit/ec1debcee84e6b02f749282d9a501021370e74a9), I was able to reproduce the behavior you observed, where the predictions differ by a larger amount in perc

[2021-07-06 04:20] jameslamb commented on #3556
Re-opening this issue because I don't think it was totally resolved.

By chance, I got an email notification this week because someone left a comment on this issue and then deleted it.

First, I think it's important to include the actual text of the error messages, so that this issue can be found from search engines.

I tried running the example code given with `lightgbm` 3.2.1 built from the late

[2021-07-06 05:05] jameslamb commented on #4400
re-opening this as I am actively working on it.

[2021-07-06 05:19] shiyu1994 commented on #4180
@StrikerRUS, exactly.

[2021-07-06 05:40] shiyu1994 commented on #4180
For this case, the example contains colon in its feature values. But since currently we only allow integer and floating point number feature values, this example dataset won't get expected behavior because the date strings will be treated as NaN's.
However, we can exchange the order of `if-else` to support colons in the feature names in CSV or TSV files.

[2021-07-06 06:11] shiyu1994 commented on #3735
With PR #4448, the output of the above example looks like this.
[code]
Now the warning for setting `max_bin=15` from the GPU tree learner disappears. Instead, we produce a warning for the categorical feature.

And if we change the `max_bin` from `15` to `16` in the example above, we have the following output.
[code]
In other words, a warning message for setting `max_bin=15` from GPU tree learner o

[2021-07-06 07:29] shiyu1994 commented on #4388
Hi @aceson28 Could you please refer to the proof in the Appendix of LightGBM paper?
https://papers.nips.cc/paper/2017/hash/6449f44a102fde848669bdd9eb6b76fa-Abstract.html
In Section 1 of the Appendix (`1 Theorem 3.2 and its proof`), there's no big-O notation contained in the proof.

[2021-07-06 07:29] shiyu1994 commented on #4388
if you have any further problem, please feel free to post here. Sorry for the late response.

[2021-07-06 07:33] shiyu1994 commented on #4384
@youyoux7 Thanks for using LightGBM.
1. If your goal is to ignore these unused features when training a new model. Specifying `ignore_column` should meet your demand. See
https://lightgbm.readthedocs.io/en/latest/Parameters.html#ignore_column.
2. If your goal is to ignore these unused features when prediction, the model itself should require no computation of the unused features, since they are no

[2021-07-06 07:49] shiyu1994 commented on #4379
@mangleddata Thanks for using LightGBM. To do this, you can modify the `Bagging` method in `src/boosting/gbdt.cpp` (more specifically line 231 to line 248). You can do anything you want as long as `bag_data_indices_` (which is the data indices you want to choose in this iteration) and `bag_data_cnt_`, the number of selected data, are well-defined. You may implement `Bagging` so that the indices in

[2021-07-06 07:49] shiyu1994 commented on #4379
If you have any further question about how to implement, please feel free to post here.

[2021-07-06 09:10] aceson28 commented on #4388
@shiyu1994  i saw that papers but there are no appendix

[2021-07-06 09:14] aceson28 commented on #4388
Thanks @shiyu1994 i will check it and understand it
how about EFB? is there are step by step algorithms in a word or a video not in pseudo code

[2021-07-06 09:15] shiyu1994 commented on #4357
@gabrielwomark Thanks for using LightGBM! Though `p_lambda` is the same when updating the gradients (which is `lambdas` in the function `GetGradientsForOneQuery` for `lambdamart`) of high and low indices, but the sign is different. In
https://github.com/microsoft/LightGBM/blob/bab58d0e90b2ee93d7e0656957e73e92d46554bc/src/objective/rank_objective.hpp#L211
it is minus, and in
https://github.com/micr

[2021-07-06 09:18] shiyu1994 commented on #4388
I think the pseudo code and the source code in this repo is the best material for EFB. Do you have any problem about it?

[2021-07-06 10:12] aBeginner666 commented on #4424
Wow, thanks for such well written and informative reply! Def appreciate it!

After some thought, I totally agree with your analysis above, and rounding indeed lost some info, particulalrly for random generated data. What surprised me is that it can actually cause such significant diff in y. Here's my logic: 1. though rounding lost some info/precision in the feature, it seldom change the order of t

[2021-07-06 11:52] aceson28 commented on #4388
TBH yes, I don't familiar with pseudocode, and C language too
because my basic skill from statistics and my first computation language is R and then I learn Python
I was searching other journals about LightGBM but there are no one explained about EFB, even LightGBM step by step is none
Btw can you correct me?
LightGBM steps that i know is:

1. first we make a histogram bins for every variable (The

[2021-07-06 21:27] StrikerRUS commented on #3556
@jameslamb Seems reasonable to me.

[2021-07-06 23:27] cnll0075 commented on #4447
Hi thanks for the reply! First I'd like to reframe my question and be more specific. The reason we're seeing high CPU usage on windows is because each training job takes 5X - 10X times longer than Linux, and because we have a lot of small jobs like the ones pasted below we see the CPU usage constantly at over 99%. Linux was like that before, but when we added `num_threads=1` it improved greatly --

[2021-07-07 00:25] gabrielwomark commented on #4357
I realized this point after staring at the original LambdaRank paper for a while haha. But thank you for the response! It's a lot clearer than the explanation I gave to my colleagues!

[2021-07-07 00:25] #4357 closed

[2021-07-07 02:18] lingyi-ms opened #4451 "Categorical features are not passed to _Booster"
https://github.com/microsoft/LightGBM/blob/e36cc9c1717665963a7fed09a5413a2bf5f0f50a/python-package/lightgbm/sklearn.py#L712

Shouldn't it be this instead?
[code]

[2021-07-07 10:34] StrikerRUS commented on #4451
Hey @lingyi-ms ! Thanks for your question. Categorical features is a parameter of the Dataset object in LightGBM. That's why `categorical_feature` param is located in the `Dataset Parameters` section
https://lightgbm.readthedocs.io/en/latest/Parameters.html#categorical_feature.
And that parameter is passed here
https://github.com/microsoft/LightGBM/blob/e36cc9c1717665963a7fed09a5413a2bf5f0f50a/pyt

[2021-07-07 10:34] #4451 closed

[2021-07-07 11:05] StrikerRUS commented on #4371
Fixed via #4450. I can confirm that now original reproducible example returns something like the following:
[code]

[2021-07-07 11:05] #4371 closed

[2021-07-07 11:27] #3881 closed

[2021-07-07 11:31] #4223 closed

[2021-07-07 15:29] shiyu1994 commented on #4388
Hi @aceson28,

For histogram construction, it is basically correct.

For the EFB part, the way you described to bundle features into groups is not accurate.
1. First, we build a graph, in which each vertex represents a feature. And whenever there're conflicts between two features, we add an edge between the two corresponding vertices in the graph.
2. Then, we sort the features by descending order

[2021-07-08 14:59] #4285 closed

[2021-07-08 21:21] memeplex commented on #3634
Returning to this. So if I understood well the approximation depends on the assumption that the hessians are more or less uniformly distributed across splits so that `cnt_factor = num_data / sum_hessian` can be used in order to estimate counts as in `hess * cnt_factor`.

The (IMO rather serious) problem I see with the approach is that there is at least a typical case in which it fails in the worst

[2021-07-08 21:53] memeplex opened #4455 "[question] Incremental learning: drop old trees"
I'm migrating a predictive system from SGD to GB and I would like to keep the incremental approach. Each period a new tree will be added to the ensemble. So far so good, but:

1. Is it possible to reduce the ensemble learning rate eta by some decay factor `(1 - alpha)` in order to update it as `(1 - alpha) T + t`, where `T` is the current ensemble, `t` is the tree for the new period and `(1 - alph

[2021-07-09 00:38] memeplex commented on #4455
Not that it likes me, but I tried this

[code]

and it fails (in a bad way: kills the jupyter kernel), not sure why, output looks pretty sane to me:

[code]

[2021-07-09 05:39] wsonv opened #4456 "[Question] How to merge boosters to make a multiclass (OVA) classifier booster?"
Hello,
I'm trying to individually train boosters and merge it. (Trying to make One versus all classifiers and merge it)
I need to use monotonicity constraints etc, so using multiclass objective is not fit for my purpose.

But I don't see specific merging functions etc. But since you have multi_class_ova objectives, I guess there is a function for this. Could you guide me on how to do this?

I'm tr

[2021-07-09 12:32] mkos commented on #4229
I have the same issue and did some testing: basically `libomp` 12.0 works with Catalina, but results in segfault for Big Sur. Downgrading to 11.1 worked for Big Sur (tested on Intel MBP and M1 MBP via rosetta2)

[2021-07-09 13:43] StrikerRUS commented on #4229
Unfortunately, LLVM developers hasn't fixed this bug (https://github.com/microsoft/LightGBM/issues/4229#issuecomment-855839996) in `12.0.1` release.

[2021-07-09 14:30] aceson28 commented on #4388
I think the result of grouping feature that I know and that you explained from step 1 - 4 it will give the same result, am I right?
for my question:
 a. labeling that i mean is label encoder, so the first bin will be 0 the second one is 1 and etc.
 b. if the missing value will be mapped to the last bin,so in the tree, missing value will always go to "No" Branch?
 d. TBH, i don't understand anythin

[2021-07-09 18:26] jameslamb opened #4458 "[dask] flaky unit test test_find_random_open_port"
## Description

The unit tests `tests/python_package_test/test_dask.py::test_find_random_open_port` can occasionally fail randomly. Specifically, `lgb.dask._find_random_open_port()` is called once on each of the two workers in a Dask cluster, and if it finds the same port for both workers, the test fails.

I think what we're seeing is the problem mentioned in https://github.com/microsoft/LightGBM/

[2021-07-09 18:29] jameslamb commented on #4458
@StrikerRUS will you look at the two options I provided in the description and let me know if you have a preference?

I have a preference for option 1,

because I think that will make such failures even rarer but still be a defense against problems where `lightgbm.dask._find_random_open_port()` suddenly starts finding the same port more frequently.

[2021-07-09 18:50] flippercy opened #4459 "Could we add a booster similar to gblinear used by xgboost?"
Hi:

Is it possible to add a linear booster similar to gblinear used by xgboost, please? Combined with monotone_constraint, it will be a very valuable alternative for building linear models.

Let me know if you need any specific user case to justify this request.

Appreciate your help!

@jameslamb

[2021-07-09 20:08] StrikerRUS commented on #4458
I'm OK with any option of ones you've provided above.

[2021-07-10 07:06] mohammad-saber opened #4460 "[Question] Passing categorical feature with data-type "Category" without passing "categorical_feature""
Thank you for sharing your great work. I have a question about handling categorical features without using ohe-hot enconding.

Assume that in the dataset, I have 2 categorical features.

[code]

I convert them into ordinal integer values and then convert data-type into "category".

[code]

**Question:**
When data-type is `"Category"`, do I need to pass parameter `categorical_feature` when fitting

[2021-07-10 12:49] StrikerRUS commented on #4460
@mohammad-saber Thanks for using LightGBM!

'category' columns in pandas.DataFrame are treated as categorical features by default in LightGBM. So,

you don't need to pass `categorical_feature` param in this case.

In the following case, does LightGBM handles columns `['B', 'C']` as categorical?

Yes, it does.

And what is the difference when I pass `categorical_feature` as below:

Should be no dif

[2021-07-10 13:19] #4416 closed

[2021-07-10 13:36] #4400 closed

[2021-07-10 13:54] StrikerRUS opened #4461 "[r-package] fatal error - cygheap base mismatch detected - 0xF45410/0xF05410 during building R-package with CMake and MSVC"
Just occurred in `master`.

<details>

<summary>Full logs:</summary>

[code]

</details>

This is quite rare error at our CI, but I've already seen it multiple times at our GitHub Actions jobs with CMake and MSVC. Also, we have two recorded cases of this error in our repo:
- https://github.com/microsoft/LightGBM/pull/3168#issuecomment-647761537
- https://github.com/microsoft/LightGBM/issues/3469#i

[2021-07-10 13:59] mohammad-saber commented on #4460
Thank you.

Is there any attribute that we can get "features which were treated as categorical" after model fitting?

[2021-07-10 14:05] StrikerRUS commented on #4461
Just a reminder https://github.com/microsoft/LightGBM/issues/3469#issuecomment-793056696 about what I think will help us with such kind of errors (not sure it deserves a separate issue).

[2021-07-10 14:30] #4370 closed

[2021-07-10 14:51] StrikerRUS commented on #4460
You can get this info from the LightGBM logs:
[code]
#3379.

Also, categorical features are written differently in a model file.
https://github.com/microsoft/LightGBM/blob/48257d45e577df69abbc86542d0515159e524eb2/src/boosting/gbdt_model_text.cpp#L60-L67

[2021-07-10 17:52] StrikerRUS commented on #4461
Another possible root cause of this error is Windows ASLR.

   https://superuser.com/a/1380239

[2021-07-10 22:35] dfalbel opened #4464 "[R-package] R package crashes on windows when loaded together with {fansi} or anything that depends on it"
This is probably related to:

- https://github.com/microsoft/LightGBM/issues/4045 and
- https://github.com/microsoft/LightGBM/issues/4007

## Description

Using lightgbm while `parsnip` is loaded crashes the R session with: Exited with status -1073741819.

## Reproducible example

Calling:

[code]

## Environment info

I am using the dev version of LightGBM as suggested in https://github.com/micro

[2021-07-10 22:56] jameslamb commented on #4464
Thanks for the report and for using LightGBM @dfalbel !

I'll look into this as soon as possible.

[2021-07-11 01:54] mohammad-saber opened #4465 "[Question] Using SKLearn API, getting "UserWarning: Using categorical_feature in Dataset" when passing list of categorical features to "model.fit""
Thank you for your great work. I have a misunderstanding about categorical features when using scikit-learn API. I appreciate it if you could guide me on this issue.

In the following code, I have a dataframe which has 1 numerical feature and 5 categorical features. I convert categorical features into ordinal integer starting from 0. Then, I pass list of categorical features into `model.fit.`

[co

[2021-07-11 12:09] StrikerRUS commented on #4465
No, it means that LightGBM is using **some** categorical features during this particular run. Since you pass categorical features explicitly as a list of column names, they are used in LightGBM.

That list `pandas_categorical` stores only categorical features that were extracted from `category` typed columns and when `categorical_feature='auto'` param. So in your case (explicitly passed list with

[2021-07-11 13:58] mohammad-saber commented on #4465
Thank you.
In the output of `model.booster_.dump_model()`, where can I find the list of categorical features?

[2021-07-11 17:51] StrikerRUS commented on #4465
In the `'feature_infos'` field. Categorical features will have `min_value` and `max_value` typed as `int` and `values` array won't be empty.

[2021-07-11 23:42] #4465 closed

[2021-07-12 01:45] shiyu1994 commented on #4310
It seems that we still need some time to finish this release. Is there anything I can help now?

[2021-07-12 05:13] shiyu1994 commented on #4424
I think the unexpected behavior is largely due to there's no useful signals in the features in the example above. In other words, the features contains only noise. In that case, each feature will have similar split gains, and even a small disturbance can cause significant changes in the trained models.

In the following example, if we change the label to the sum of all features, the difference bet

[2021-07-12 06:36] shiyu1994 commented on #4447
@cnll0075 Thanks for using LightGBM.
On my windows 10, setting `num_threads` do make a difference. Setting `num_threads=8` makes a 100% CPU utility when training, while setting `num_threads=1` brings only about 30%. (My machine has 8 cores).
The number of threads is set with `omp_set_num_threads` if the `num_threads > 0`. I cannot come up with why this is not taking effect.
Does adjusting `num_thr

[2021-07-12 10:53] StrikerRUS commented on #3712
Closing for now due to the lack of active work on this feature and open PRs.

[2021-07-12 10:53] #3712 closed

[2021-07-12 11:01] StrikerRUS commented on #4310
@shiyu1994 Thanks a lot!
I think it will be great if you could take a look at any of the following issues
- #4156
- #4220
- #4239
- #4286
- #4311
- #4405
- #4414
- #4331

or ones with `[bug]` label and `GPU` word in the title before next release.

[2021-07-12 11:14] StrikerRUS commented on #4392
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-07-12 11:14] #4392 closed

[2021-07-12 11:14] StrikerRUS commented on #4393
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-07-12 11:14] #4393 closed

[2021-07-12 14:43] #4349 closed

[2021-07-12 19:39] George3d6 opened #4466 "Unable to update existing booster"
I seem to be unable to update an existing booster. In the documentation I was able to find two methods:
1. `refit` , which seems to completely refit, thus it's not very useful for my needs.
2. `update`, which seems to do what I require but:
   * The booster has to have the `train_set` set, it's unclear to me if this means I actually need to store the previous training set used for the booster, or

[2021-07-12 20:05] George3d6 commented on #4466
Update: It *seems* that one way to do this might be `model = lightgbm.train(params, dataset, init_model=model)`

And just set the nr of itterations in the params to be == however many estimators ought to be added, but I'm not entirely sure this is correct. If so it *might* make sense to make this more explicit in the documentation.

[2021-07-13 00:06] cookielee77 opened #4467 "GPU documentation is not clear"
Looks like "device=gpu" only supports single gpu training but "device=cuda" can support multi-gpus training. In addition, "cuda" looks like only support double-precision which is memory consuming.

Is it possible to update the documentation for GPU argument more clearer (it took me a lot of time to find these secrets)? Also, is there a plan to support the single-prevision calculation with CUDA ver

[2021-07-13 02:03] jmoralez commented on #4458
I recently thought about maybe defining a function that finds `n` ports where `n` is the number of processes running on each worker and doing `client.submit(get_n_ports, worker['nprocs'], workers=[worker['address']]` for each `worker`. That function wouldn't close the sockets until it has gotten all `n` so there would be no collisions. What do you guys think?

[2021-07-13 10:55] HemanthKumarGadi opened #4469 "while Light GBM model produces different results while Testing & Training"
We are using Light GBM model on Server , Once model training finished we testing on test data that's fine but while rerun the model with the same parameters it produces different results compare to previous model results.

[2021-07-13 11:20] Dr4cky opened #4470 "Crossvalidation with TimeSeriesSplit"
I found the following post when searching for lightgbm.cv with TimeSeriesSplit: https://github.com/microsoft/LightGBM/issues/2984.

I have the following questions:

1. What is the difference between using folds=folds and folds=tss, where
tss = TimeSeriesSplit(3)
folds = tss.split(X_train)
2. Is it not necessary to specify Shuffle=False?

Thank you!

[2021-07-13 18:37] xingyuansun opened #4471 "Parallel tree learner with Dask cannot overfit a small dataset"
Hi, thanks for providing such a fantastic gradient boosting library! I was doing a sanity check of the parallel tree learner with dask, asking the model to overfit a small dataset. However, it seems the model fails to do so as long as there are at least two workers. The following code is modified from [here](https://github.com/microsoft/LightGBM/blob/b044070e21680c0c71b50138cebaf4285083b1c1/exampl

[2021-07-13 23:03] StrikerRUS commented on #4470
Hey @Dr4cky, thanks for using LightGBM!

There is no difference. If you pass `folds=TimeSeriesSplit(3)`, LightGBM will call `split()` internally.
https://github.com/microsoft/LightGBM/blob/5b7a6f3e7150aeb704d1dd2b852d246af3e913a3/python-package/lightgbm/engine.py#L337

When you pass `folds` argument explicitly, `shuffle` argument will be simply ignored.

[2021-07-13 23:27] StrikerRUS commented on #4467
@cookielee77 Thanks a lot for bringing this up!

Sure! Could you please suggest how these wordings can be improved to be clearer?
https://lightgbm.readthedocs.io/en/latest/Parameters.html#num_gpu
https://lightgbm.readthedocs.io/en/latest/Parameters.html#gpu_use_dp

You can subscribe to the following GitHub issue to get all news about single-prevision mode with CUDA version.

#3836.

For now, no on

[2021-07-14 01:51] cyfdecyf commented on #4403
I've started working on this. As I don't uses these two APIs, I need some guidence.

PR #4472 adds support `Sequence` input for `Dataset.get_data`. I'm wondering what's the use case of creating a subset with an existing `Dataset`.

For `Dataset.add_features_from`, I'm reluctant to support this naively for two reasons:

- It defeats the saving memory benefit of `Sequence` interface
  - The current

[2021-07-14 04:04] jameslamb commented on #4310
@shiyu1994 apologies, I recently started a new job and haven't had as much time to contribute on LightGBM. I'm going to start working on the R items in https://github.com/microsoft/LightGBM/issues/4310#issue-897541880 in the next few days.

[2021-07-14 06:50] sagnik1511 commented on #3756
Hello @jameslamb, I want to contribute to the file **helpers/parameter_generator.py**. Can I update that??

[2021-07-14 12:03] bholekiran opened #4473 "Incorrect results are returned by LGBM_BoosterPredictForMat API of LightGBM and not matching with LGBM_BoosterPredictForFile API"
## Description
Incorrect results are returned by LGBM_BoosterPredictForMat API of LightGBM and not matching with results of LGBM_BoosterPredictForFile API. It induces 3rd, 6th, 9th and so on additional observations.
Result of LGBM_BoosterPredictForFile API and python code are matching perfectly.
But result of LGBM_BoosterPredictForMat API and same python code are not matching (only matches 1st, 2n

[2021-07-14 17:45] StrikerRUS commented on #4403
@cyfdecyf Thanks a lot for taking this issue!

Yeah, given your great explanation, I totally agree with you.

[2021-07-14 22:22] jameslamb commented on #3756
@sagnik1511 yes please! You do not need to ask permission and are welcome to work on any file listed in the description of this issue.

[2021-07-15 00:36] jmoralez commented on #4471
Hi. I'm not able to reproduce this with the latest version in master. I believe it could be related to #4026 where if one split produced an empty child in one of the workers the predictions would become very large (which could be the cause of the high MSE you observe). That issue was fixed but hasn't been released yet.

Can you try running this with the version in master? I ran it and got:
[code]

[2021-07-15 09:42] chixujohnny opened #4475 "GPU not being utilized when training with "device: gpu""
## Description
I already make a GPU+CUDA version of lightgbm
BUT, no matter I use 'device':'cuda' or 'device':'gpu', the GPU seems not work at all
And the info seems the GPU is already work.

I use command 【htop】: CPU in a full runing status.

I user command 【watch -n 1 nvidia-smi】: GPU  load a very small memory and really not work at all.

It seems that no matter I use any device, LGB will only u

[2021-07-15 12:05] draphi opened #4476 "feature_fraction doesnt picks last feature"
## Description
When feature fraction is set to a small value (e.g. 0.6), the last feature in the data set never gets selected.
I was expecting that the feature subset is re-evaluated for each iteration.
In general, a feature fraction that is not close to 1 has some feature_importances==0 for my data-set, but not necessarily in the last position. I suspect there is a bug, either in the description

[2021-07-15 14:37] Fish-Soup opened #4477 "Question: How to best set up model when we expect missing data for a given feature"
### Context
I am working on some time series forecasting, where normally I can use exogeneous variables to forecast well.  However often the addition of lagged target variables to the features is helpful.

Short term forecasting is the important but long term forecasting is as well. I could fit 2 models, a short term one with a target-1 feature added and long term without. However this seems waste

[2021-07-15 15:22] xingyuansun commented on #4471
Hi José, thank you for your reply! It seems to be an installation issue -- running by re-installing LightGBM 3.2.1 using pip/conda generates results like you provided. Thanks for the help!

[2021-07-15 15:22] #4471 closed

[2021-07-15 15:28] jameslamb commented on #4471
thanks for the help @jmoralez

[2021-07-16 01:30] shiyu1994 commented on #4414
@freetz-tiplu Could you provide an example, even if the error does not occur every time? I can run the example multiple times to catch the error. It would be very helpful for us to identify the problem. Thank you!

[2021-07-16 02:12] shiyu1994 commented on #4456
@wsonv Thanks for using LightGBM. Do you want to train your own OVA classifiers because you want to specify different monotone constraints for the scores of different classes?

So far we don't have an interface to merge boosters into one. We may merge the boosters by merging the tree items in the text model files. But I'm not sure whether that will meet your need.

Please feel free to post any fur

[2021-07-16 02:39] shiyu1994 commented on #4455
@memeplex Thanks for using LightGBM. Unfortunately the `shrinkage` in the model file is only for record. It has no effect when the model is loaded again from the file. The `leaf_value` is exactly the values of the leaves in the tree, without any adjustment when loading from file. So if you do want to change the shrinkage rate, you have to modify the `leaf_value` item.

I think what you need is the

[2021-07-16 02:46] memeplex commented on #4455
Thank you for your answer.

The problem with this approach is that when you're learning online you need to use, say, the estimator E(s) at time s, and later the estimator E(t) at time t > s, which is built from a modified version of E(s), say E'(s) (for example, applying decay for the elapsed interval (s, t)). It's not possible to do this in advance AFAICS because I need both E(s) and E'(s), and t

[2021-07-16 02:50] memeplex commented on #4455
And you probably want to set `boost_from_average=False` so that the first tree has the same shrinkage than the others.

[2021-07-16 02:52] memeplex commented on #4455
Ah, and of course I can increment the shrinkage in new trees instead of decrement it in old ones, but this can't go happily unbounded forever, at some

[2021-07-16 03:01] shiyu1994 commented on #4388
@aceson28 Sorry for the late response. For the EFB feature grouping process, I suggest to leave out the graph stuff for better understanding, so I wrote the process in 1~4. I'm sorry, but I don't quite understand the operations you described in the graph. I think we can describe it with a clearer language with the feature group sets etc.

a. The labeling process for the original categorical values

[2021-07-16 03:31] shiyu1994 commented on #4455
@memeplex I think we can divide it into two cases:
1. We want to decay the learning rate during boosting. In this case, a customized objective function can help.
2. We want to adjust the learning rate of previous trees after training these trees. In that case, we can only modify the model through the model file (changing `leaf_value`), and load the model into the memory again to continue the train

[2021-07-16 03:33] memeplex commented on #4455
Yes, my question is about 2. I was expecting something like that. Sadly the json output doesn't work as an input, cause it's easier to modify. Anyway, thanks!

[2021-07-16 03:34] #4455 closed

[2021-07-16 20:52] raybellwaves opened #4479 "doc: missing score method on LGBMRegressor methods doc"
AFAICT in the docs under https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRegressor.html and scrolling down to methods I don't see the score method being mentioned

![Screen Shot 2021-07-16 at 4 51 16 PM](https://user-images.githubusercontent.com/17162724/126007171-4b08f446-267b-44e9-8b1c-e2abebe4e384.png)

but it exists

![Screen Shot 2021-07-16 at 4 51 58 PM](https://user-images.

[2021-07-17 14:58] StrikerRUS commented on #4476
Hey @draphi ! Thanks a lot for posting this issue with detailed reproducible example!

I can confirm that one feature is unused in `3.2.1` version. But I think this issue has been fixed in `master` via #4450. Also linking #4371 as the same issue.

Here is what I get with nightly build of LightGBM:

![image](https://user-images.githubusercontent.com/25141164/126040878-299e6990-988e-4dac-a951-09b81d

[2021-07-17 16:00] bholekiran commented on #4473
Can anybody please check this issue?

[2021-07-17 16:41] StrikerRUS commented on #4479
@raybellwaves Thanks for writing this issue!

Just a clarification why it is happening. During docs generation process we mock third-party libraries including scikit-learn
https://github.com/microsoft/LightGBM/blob/5b7a6f3e7150aeb704d1dd2b852d246af3e913a3/docs/conf.py#L41-L45
That's why Sphinx's `autodoc` extension with turned on `inherited-members` option
https://github.com/microsoft/LightGBM/blo

[2021-07-18 00:25] George3d6 commented on #3339
Same issue happened for me:

[code]

[2021-07-18 00:27] George3d6 commented on #3339
Some of the values are categorical in my case but not as many as 257 different ones, combined with @pseudotensor comment, I assume this is something else.

[2021-07-19 08:38] freetz-tiplu commented on #4414
I had an example but when I converted my data to CSV-files and tested it on the C++-Code, the problem did not occur.
I loaded the CSVs in python and tested it again with dask and two local workers but the spikes did not occur. When I used my normal data format however, I could observe single spikes again. I will investigate this further and will hopefully be able to prepare an example or maybe fin

[2021-07-19 10:14] bholekiran commented on #4473
The issue was in my calling application code and not in the library and hence closing the issue. Thanks.

[2021-07-19 10:14] #4473 closed

[2021-07-19 15:17] xingyuansun opened #4480 "[GPU/OpenCL] Can use at most 8.3GB GPU memory"
Hi, thanks for the package! I noticed a similar issue as #3899. I am using LightGBM with a version of 3.2.1, and an NVIDIA Tesla V100-SXM2-16GB (16GB memory). By running the following code, we can see the first run only takes 8299MB GPU memory, which means the second one should fit, since the number of data points only slightly increases. However, it turns out we get the following error message. C

[2021-07-19 20:17] mayer79 opened #4481 "Question on interaction constraints"
This is not a bug report but rather a question on how LightGBM deals with overlapping interaction constraints. If I understand the doc string correctly, each branch from root to leaf will split only on features appearing in one set of constraints.

So if the (Python) constraints are [[0, 1], [1, 2, 3, 4]], then the split path x0 -> x1 -> x2 is not possible because there is no constraint containing

[2021-07-20 01:43] aceson28 commented on #4388
ok I get it for some question
for a. labeling I mean is the label of discretization bins not for categorical.
b. so what is the function of mapped missing value to last/first bin?
d. can I say if there are conflicts, the new value is same as the first variable value?
e. if it is like that, I don't see the effect of merged variable

[2021-07-20 03:28] shiyu1994 commented on #4464
Thanks for reporting that!
I tested the example on my win10 machine, but failed to reproduce the error with the latest master of LightGBM. The script runs successfully and gives the correct output.
[code]
So I think more details about the versions of R, RTools can be helpful to identify the cause.

[2021-07-20 03:43] shiyu1994 commented on #4466
@George3d6 Thanks for using LightGBM.
Yes, the `init_model` in the `train` function is for continual training. You can use that.

For update, it is only boost for one more iteration. The behavior you reported about the update method is strange, though. `update` is called during the training process in each iteration. To make it work, you need to set `keep_training_booster=True` in the `train` meth

[2021-07-20 09:18] shiyu1994 commented on #4469
@HemanthKumarGadi Thanks for using LightGBM. Could you please provide a reproducible example so that we can help to identify the problem?

[2021-07-20 09:22] shiyu1994 commented on #4467
@cookielee77 Yes, we have a plan to support single-precision calculation with CUDA in the very near future.

[2021-07-20 09:49] shiyu1994 commented on #4475
@chixujohnny Thanks for using LightGBM. How much memory are being occupied on GPU with the dataset? I've tested with a dataset of 400,000 training samples and 2,000 features, the GPU consumes only 1GB memory, which is reasonable.

For feature bin values, we have 400,000 * 2,000 = 800,000,000, each takes 1 byte if we use maximum bin number 256, then this will be 0.8 GB.

But this dataset gives GPU-

[2021-07-20 11:00] shiyu1994 commented on #4477
@Fish-Soup Thanks for using LightGBM.
Does the lag=long and lag=1 have very different label values? Or does the two tasks have very different ground truth distribution? If so, combining the training set the two may not be helpful if the goal is to predict for only lag=long or lag=1.

Though LightGBM can handle missing values, that does not mean that it can handle two very different learning tasks

[2021-07-20 11:00] shiyu1994 commented on #4477
Please feel free to post here if you have any further questions or comments.

[2021-07-20 12:16] shiyu1994 commented on #4388
b. Mapping missing values to the last/first bin makes skipping them easier when finding the best split threshold.
d. No, when there are conflicts, the final value in the merged feature bin is undefined.
e. Merging features allowing us to leave out the missing values and save memory for sparse features, and handles the merged feature as a dense feature, which is more cache friendly than sparse feat

[2021-07-20 12:44] chixujohnny commented on #4475
Thanks for your reply @shiyu1994

Compare with your experiment, the using gpu memory of my job seems reasonable.

And the GPU-Util is really close to 0%. Is different from XGB 90%+ GPU-Util.  (But training speed not seems slower with XGB. So, LGB will save more power? hhhh )

I'm looking forward to your new version.

Thank you!

[2021-07-20 17:03] dfalbel commented on #4464
Here's the sessionInfo() of the system I can reproduce the error:

[code]

This is using master lightgbm too.
Here's a link to the GHA run that reproduces the failure: https://github.com/curso-r/treesnip/runs/3116229035?check_suite_focus=true

[2021-07-20 23:02] Fish-Soup commented on #4477
@shiyu1994 thanks for responding. Not sure if I made it clear but this is a regression problem.

The only difference between the lag=long and the lag=1 data is that the later has values in the target-1 feature whilst the former has nans.

This means when we fit on sample_set=1 we fit only on the data thats has the target-1 feature. In this case lightGBM gets the best accuracy both the case with ta

[2021-07-21 02:32] shiyu1994 commented on #4481
@mayer79
The answer is "yes".
LightGBM keeps track for each leaf the features on the path from the root to the leaf. And when splitting each leaf, only features in a interaction constraint set that contains all the features in the path are allowed.
See
https://github.com/microsoft/LightGBM/blob/5b7a6f3e7150aeb704d1dd2b852d246af3e913a3/src/treelearner/col_sampler.hpp#L92-L111

[2021-07-21 04:19] chinnawat1 opened #4482 "plot_tree returns empty chart"
Working on azure databricks, I would like to plot a tree classifier diagram by using plot_tree. Here is what I did and got:

![image](https://user-images.githubusercontent.com/53522784/126429676-cfad81c3-b06f-43a6-8302-6c8f80052667.png)

I also tried using "create_tree_digraph". Sadly, I can't install graphviz library since after installing by following this https://docs.microsoft.com/en-us/azure/

[2021-07-21 05:46] mayer79 commented on #4481
Wonderful, thanks for confirmation and also the code snippet @shiyu1994 !

[2021-07-21 05:46] #4481 closed

[2021-07-21 06:29] ravehun commented on #4239
memory leak with LGBMRegressor(device_type='cuda').

[code]

outputs:
[code]

[2021-07-21 12:15] StrikerRUS commented on #4482
Hey @chinnawat1 !

`plot_tree()` function internally calls `create_tree_digraph()` function and then converts a result to `png` format. That's why you get empty axes.
https://github.com/microsoft/LightGBM/blob/5b7a6f3e7150aeb704d1dd2b852d246af3e913a3/python-package/lightgbm/plotting.py#L667-L678
Unfortunately, without installing `graphviz` library you cannot plot trees in LightGBM.

[2021-07-21 12:16] #4482 closed

[2021-07-22 00:33] dfsnow commented on #4464
I'm seeing the same issue. I'm guessing this may be related to #4007 and #4259. Some further details:

## No crash

Running a clean install of the script below in a new project with renv enabled works for 3.2.1.99. See `sessionInfo()` below.

[code]
<details>
<summary>Session Info</summary>

[code]

</details>

Installing parsnip and loading it *after* lightgbm likewise does *not* result in a cras

[2021-07-22 14:47] ChristophAymannsQC opened #4483 "Warn when passing labels with missing values"
## Summary

Currently (it seems to me) missing values (`np.nan`) are silently replaced by 0s when `objective=regression` (I haven't checked other objective functions), possibly related to [this](https://github.com/microsoft/LightGBM/blob/d517ba12f2e7862ac533908304dddbd770655d2b/src/io/metadata.cpp#L319). It would be nice if this was made transparent to the user who might be inadvertently passing m

[2021-07-22 16:56] #4398 closed

[2021-07-22 19:57] AWSjswinney opened #4484 "Python wheels not PEP 599 compliant; wheels should include libgomp.so.1"
## Description
PEP 599 and PEP 513 describe a spec for broadly compatible wheels. They include a list of dynamic libraries that wheels are allowed to dynamically link against without bundling the `so` in the wheel. The LightGBM wheel depends on `libgomp.so.1` but does not include in the wheel package. To fix this, you can use [auditwheel](https://github.com/pypa/auditwheel). I have not tested this

[2021-07-22 21:36] cnll0075 commented on #4447
Hi, yes setting it higher will make the CPU slightly higher, however, the difference is not as big as yours. Have you tried running the training longer (e.g. run it consecutively for 1000 times)?

Also should I try setting `omp_set_num_threads` in addition to `num_threads`?

[2021-07-23 12:25] #4475 closed

[2021-07-25 04:36] jameslamb commented on #4464
Thanks to everyone participating for your help and investigation!

I am planning to test some theories about this tomorrow when I have some time and easy access to a Windows environment.

<hr>

@dfalbel , I looked at the definition of that GHA job (https://github.com/curso-r/treesnip/actions/runs/1049626089/workflow). I noticed that there's a call of `remotes::install_deps()` in a stage earlier th

[2021-07-25 04:43] jameslamb commented on #4484
Thank you very much for this excellent report @AWSjswinney ! Are you interested in contributing this feature? If not, would it be alright for maintainers to `@` you for a review in the future if/when this work is picked up?

[2021-07-25 04:54] jameslamb commented on #4458
hey @jmoralez , sorry it took so long to get back to you.

If you want to attempt that, I'd support it! I hadn't taken that on yet because it seemed fairly complex in exchange for eliminating a somewhat-rare collision.

`worker['address']` wouldn't be quite enough. For example, on a `LocalCluster` with three workers they might have addresses `127.0.0.1:35651`, `127.0.0.1:35652`, and `127.0.0.1:356

[2021-07-25 14:19] dfalbel commented on #4464
Hi @jameslamb, thanks for looking at this!

I have added the `remove.packages("lightgbm")` call and the error still persists: https://github.com/curso-r/treesnip/runs/3154997458?check_suite_focus=true#step:11:50
I think `install.packages` ultimately always removes the existing package folder before installing the package again.

For the second question, I can confirm that error happens on both RSt

[2021-07-25 18:19] jameslamb commented on #4007
I'm locking conversation on this issue. Please comment on #4464 if you'd like to join the conversation about this problem.

[2021-07-25 19:06] jameslamb commented on #4464
I was able to reproduce this issue today using the latest `master` of LightGBM.

<details><summary>environment info and install instructions (click me)</summary>

I installed `{lightgbm}` from source on Windows 10 like so:

[code]

I'm using Rtools40 downloaded on May 9, 2020, so not the newest one. As far as I can tell from https://cran.r-project.org/bin/windows/Rtools/history.html, it isn't poss

[2021-07-25 22:52] jameslamb commented on #4464
Alright I added a bunch of log statements and I think I've narrowed down the place where this segfault is being thrown.

I'm able to reproduce the issue on `master` using this further-simplified example that uses a standard R matrix instead of loading the `agaricus` dataset.

[code]

The segfault is being thrown from calls to `Network::num_machines()` in the Dataset loader. Right here:

https://gi

[2021-07-26 10:24] Fish-Soup commented on #4459
Hi
LightGBM already supports a parameter, linear_tree=True which fits a linear relationships inside the leaves of the tree. However the minimum value for n_trees is 2. If this could be lowered to 1 then i would imagine this would solve your feature request? with I imagine far less work.

[2021-07-26 11:43] StrikerRUS opened #4487 "RTD builds are failing due to time out"
[code]

![image](https://user-images.githubusercontent.com/25141164/126983235-d9ed5ff6-ede5-4801-b862-fd2e358ca867.png)

![image](https://user-images.githubusercontent.com/25141164/126983292-4adbd601-8377-4f89-b2f4-8a8ff1f5f144.png)

[2021-07-26 14:24] Yingping-LI commented on #3436
@jmrichardson Hi, I encounter a similar problem, could you please give an example about how you suppressed these warning messages? Thanks a lot in advance!

[2021-07-26 16:41] #4487 closed

[2021-07-26 19:30] DexGroves commented on #4371
Thanks for the quick fix @shiyu1994!

[2021-07-26 20:21] flippercy commented on #4459
Hi @Fish-Soup:

Thank you for the reply but I am afraid not. On the one hand, a single boosting tree with linear function as leaves is different from a full boosting model with linear booster; on the other hand, currently monotone_constraint does not work at the level of leaves when linear_tree=True.

[2021-07-27 12:54] hengjieyu opened #4491 "LightGBM returns feture importance of 0 for a categorical feature with five categories (dataset: 130 instances)"
## Description

Using LightGBM for regression, our dataset has a  categorical feature (5 categories), totally 130 instances. The feature_importances_ returns 0 for the categorical feature. We used a public dataset to do same thing, and this issue happened again.

## Reproducible example

import pandas as pd
import numpy as np
import lightgbm as lgb
from sklearn.datasets import fetch_california_hou

[2021-07-27 15:35] freetz-tiplu commented on #4414
I created an example but
1. the smallest example I could find where the problem occured has 27k samples for each worker. The CSVs were too big, which is why I made them publicly available here: https://www.dropbox.com/sh/1y7x08hlskfbw4a/AADxoTx0_9Cjo352SZBSD_l0a?dl=0
There is one CSV for each worker. The first column denotes the label and the the first row contains the column number as feature nam

[2021-07-27 16:35] Denisevi4 commented on #4459
what if you set num_leafs to 1?

[2021-07-27 16:39] flippercy commented on #4459
@Denisevi4 as far as I know num_leaves has to be greater than 1.

[2021-07-27 18:21] AWSjswinney commented on #4484
Yes, I will definitely be happy to answer any questions from maintainers. Also, if I find the the time, I may test and submit a pull request myself.

[2021-07-28 04:21] jmoralez commented on #4458
Haha, that's ok. I'll try this and let you know if I get it working. I agree on changing that test to allow some conflicts in the meantime.

[2021-07-28 06:08] pseudotensor opened #4492 "lightgbm.basic.LightGBMError: Out of Host Memory"
## Description

[code]

But we keep track of GPU usage, CPU usage, memory for both etc.  And no indication of anything going on that would mean really out of memory:

![image](https://user-images.githubusercontent.com/2249614/127272020-3fac1c0e-bb0b-4462-b881-ed68cbfd9969.png)

Odd things:
1) 3620 x 9 and took 140s to fail
2) See we track CPU usage, which is low, memory, with 100GB free, GPU usage

[2021-07-28 06:10] pseudotensor commented on #4492
Here's another example.  We hit this randomly in testing with about 2 tests showing out of thousands.

Again, same thing, very small data, not busy system, plenty of resources, and says OOM.  Also takes too long again, which is odd for such small data unless lightgbm is doing something wrongly

![image](https://user-images.githubusercontent.com/2249614/127272558-73d6aae6-d0ed-496e-8830-3338aeeaa1d

[2021-07-28 08:54] pseudotensor opened #4493 "early_stopping_rounds for dask"
I'm confused about the latest changes for dask that support evaluation sets.  But this is not really useful unless we have early stopping.  I see it's still not supported.  When is it planned?

When I modified dask-lightgbm package, it was pretty easy to support both eval sets and early stopping, so I'm wondering why it's not here.  I assume there is some sync issue?

https://github.com/h2oai/dask

[2021-07-28 13:14] hengjieyu commented on #4491
It seems like LightGBM relys on the ratio of category number and instance number when treating a categorical feature. If the ratio is too big (5/130 in this example), the LightGBM model will ignore this categorical feature and return a feature importance of 0. When the ratio is 5/450 or 3/130 in this example, the model will use this categorical feature and return a feature importance greater than

[2021-07-28 14:07] jameslamb commented on #4493
If you'd are interested in contributing support for early stopping in LightGBM's Dask interface, comment on #3712 saying so and we'd be happy to review a pull request.

Otherwise, you can follow #3712 to be updated. At the moment, I'm not aware of any maintainers working on it. I personally am focused on R-package issues for the next minor release (#4310).

The commit you've linked ignores signifi

[2021-07-28 14:09] jameslamb commented on #4484
Thanks very much!

[2021-07-29 05:01] jameslamb commented on #4464
I'm convinced that the root of the problem is related to the way that R loads DLLs, and that @dfsnow is right that `{lightgbm}` and `{fansi}` are in conflict with each other somehow.

If `{dplyr}` is loaded before `{lightgbm}` but then the `fansi` DLL is unloaded before loading `{lightgbm}`, the reproducible example does not produce a segfault, and Dataset construction succeeds.

[code]

If `{fans

[2021-07-29 05:16] jameslamb commented on #4464
Just to rule out another possibility like "loading any other package with compiled code before `{lightgbm}` is problematic"...I tried loading some other packages with compiled code before `{lightgbm}` and trying to construct a Dataset. These did not produce a segfault or any other issues.

I attempted `{data.table}` and `{RPostgreSQL}`, and checked that those packages' DLLs were loaded by running

[2021-07-29 11:38] StrikerRUS commented on #4484
If I remember correctly, we are not including OpenMP libraries in wheels intendedly to avoid the following error:

  https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm-crashes-randomly-with-the-error-like-initializing-libiomp5-dylib-but-found-libomp-dylib-already-initialized

Related: https://github.com/dmlc/xgboost/issues/1715 and https://github.com/apache/incubator-mxnet/issues/20095#is

[2021-07-29 13:38] StrikerRUS commented on #3369
For the reference: Parquet data reader implementation in XGBoost with optional Arrow dependency at compile time.
https://github.com/dmlc/dmlc-core/pull/653
https://github.com/dmlc/dmlc-core/blob/5eaff7643a88949c81af1e5de11945632920bf96/CMakeLists.txt#L71-L73

[2021-07-29 13:40] StrikerRUS commented on #4125
Opening this issue due to active PR: #4489.

[2021-07-29 14:53] datenzauberai commented on #3735
Looks much better now!

[2021-07-29 18:04] #4415 closed

[2021-07-29 21:41] pseudotensor commented on #4082
[code]

Again,  no categorical handling enabled etc.

[2021-07-30 09:13] alexeymaksakov-tomtom commented on #2981
Hi, @imatiach-msft , I've tried to use your branch with the training set, I have problems with, and I've got
[code]
Any idea where starting to look at?

[2021-07-30 20:50] StrikerRUS commented on #4403
Closed via #4472.

[2021-07-30 20:50] #4403 closed

[2021-07-31 20:27] StrikerRUS commented on #4074
Just seen this error at `master`:

<details>

<summary>Logs:</summary>

[code]

</details>

[2021-08-01 05:32] jameslamb commented on #4464
@dfalbel @dfsnow thanks very much for your patience. I _think_ I found the problem and have a fix up. Could you please try installing from my branch and let me know if it seems to resolve the issue?

[code]

[2021-08-01 06:06] dfsnow commented on #4464
@jameslamb Your branch works for me. Fixes both `{parsnip}` and `{fansi}` with the following test script:

[code]

Also works with renv. Thanks for the quick turnaround!

[2021-08-01 12:03] dfalbel commented on #4464
Hey @jameslamb ! Thanks very much for the investigation and fix. I can confirm that this works great!

[2021-08-01 17:13] aidiss opened #4497 "[gpu] [python] LightGBMError: No OpenCL device found"
## Description

## Reproducible example

Connect to localhost:8888 jupyter notebook

[code]

Results in

[code]

## Environment info

LightGBM version or commit hash: Docker version

Command(s) you used to install LightGBM

Run everything according to https://github.com/microsoft/LightGBM/tree/master/docker/gpu

[code]

## Full traceback

[code]

## Additional Comments

I have seen similar issues

[2021-08-02 04:42] jameslamb commented on #1944
Adding some relevant links I've found while investigating #3946:

* https://blog.r-hub.io/2020/06/03/vignettes/
* http://www.markvanderloo.eu/yaRb/2019/01/11/add-a-static-pdf-vignette-to-an-r-package/
* https://cran.r-project.org/doc/manuals/R-exts.html#Writing-package-vignettes.

[2021-08-02 10:04] aceson28 commented on #4388
b and e. is after merging the variable and find the best candidate for split point, the histogram will not use ?
d. can you refer what the algorithm do in code? in what lines?

[2021-08-02 18:53] Dr4cky opened #4500 "Question: Scaling data when using LightGBM cross-validation"
I was wondering whether it is possible to scale data when using the LightGBM cross-validation. So far, it seems that I have to program the cross-validation manually such that I can standardize the training data and apply the same transformation to the validation data in each iteration.

Am I missing something, or is it simply not possible?

Thanks!

[2021-08-03 04:30] jmoralez commented on #4500
Keep in mind that scaling the features shouldn't have any effect on tree-based models like lightgbm, however if you want to do it you can use the scikit-learn API with something like the following:
[code]
|   model__learning_rate | scaler           |      score |
|-----------------------:|:-----------------|-----------:|
|                   0.1  | passthrough      |   -92.827  |
|

[2021-08-03 04:31] jmoralez commented on #4500
@jameslamb do you know why the scores aren't identical? I just tried this example with xgboost and `sklearn.ensemble.GradientBoostingRegressor` and they get the exact same scores with and without scaling.

[2021-08-03 19:09] StrikerRUS commented on #4497
@aidiss @valentasgruzauskas Are you both using WSL?

[2021-08-03 19:15] aidiss commented on #4497
@StrikerRUS no, I am on linux

[2021-08-03 20:18] StrikerRUS commented on #4500
@Dr4cky

I guess you need `fpreproc` argument.
https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.cv.html
https://github.com/microsoft/LightGBM/blob/d05f54701ee88a1373bd9e0a1ea4317827015c9c/tests/python_package_test/test_engine.py#L1589-L1607

[2021-08-03 22:24] #4458 closed

[2021-08-03 22:25] jameslamb commented on #4458
I think @jmoralez 's fix in #4498 is a better and more reliable long-term fix than the test changes I proposed in the description of this issue, so closing it for now. Hopefully we won't see any more conflicts like this 🤞

[2021-08-04 16:21] lcrmorin commented on #4500
@jmoralez I came here because I have a similar question. I get that for tree models the scale shouldn't have an impact (see the discussion here https://datascience.stackexchange.com/questions/60950/is-it-necessary-to-normalize-data-for-xgboost for example). However I don't really see how it would hold with l1 or l2 regularisation. Scale usually matter a lot when there is regularisation. For exempl

[2021-08-04 17:34] jmoralez commented on #4500
I think you may be thinking of L1 and L2 regularization in the context of penalizing coefficients as with Lasso or Ridge. In GBDT the regularization is applied to the split gain. So for example if you have a split at `x = 100` with some gain `g` and you try scaling your feature, the split may now be at `x = 50` but the gain should be the same.

[2021-08-05 08:34] lcrmorin commented on #4500
Yes I was interpreting the l1-l2 penalisation as penalising coefficients. Do you have a source that explain the penalisation of the gain in details ? I have found : [Regularized Gradient Boosting](https://papers.nips.cc/paper/2019/file/465636eb4a7ff4b267f3b765d07a02da-Paper.pdf) but it is a bit stale in terms of illustrations.

[2021-08-05 11:49] PG20R opened #4502 "Question: Understanding increase of NDCG scores"
Hi!
I have a small question:
I am currently using lightgbm in a ranking application and hence try to optimize ndcg. In my project - as well as in other examples  I found online - I noticed the following behavior during training: The ndcg scores of the training and validation data seem to get much better already with a very small number of boosting rounds (with n_estimators = 5 already an ndcg impr

[2021-08-05 21:40] #4379 closed

[2021-08-05 21:40] #4384 closed

[2021-08-06 14:38] tandav commented on #3679
For me updating `3.1.1 -> 3.2.1` fixes the issue

[2021-08-08 06:03] pseudotensor commented on #4286
FYI I still get this on master as of 2370961ae01a7332f6356bda311897b35e67e362

[code]

[2021-08-09 02:49] jameslamb commented on #4131
I am going to pick this up tonight, to get this fix in for the next release (#4310).

[2021-08-09 20:00] Steviey opened #4508 "Can we optain VIP()- variable importance from lightGbm the tidy-way?"
Can we optain VIP- variable importanse form lightGbm the tidy-way?

[2021-08-09 21:28] jameslamb commented on #4508
Thanks for using `{lightgbm}`, @Steviey .

There isn't enough information in your question for maintainers here to give you an answer. Can you please add much more detail on what you mean by "obtain variable important the tidy-way"?

[2021-08-09 22:01] yechiav opened #4511 "One Tree doesn't produce mean of labels"
Hey
one thing i cant get straight
1. have a classification issue with two features
2. created a RandomForest with 1 Tree
3. Tree branches to all possible combinations
4. would expect the output value to be the Mean of the leaf - it is not

original regression problem
![image](https://user-images.githubusercontent.com/24636519/128779655-b4578b3b-040b-4a38-bc1c-8fad892a20cc.png)

tree visual ( leaf

[2021-08-10 06:51] chloe-wang opened #4512 "less penalty if the tree splits samples more randomly from different groups."
## I grouped the samples into several groups manually.  I would like to force the tree to split more randomly in the group view.
For example, if I have 100 samples in 2 groups here,  I prefer the tree to split the samples into two leaves while both left leaf and right leaf
have almost equal samples from both groups: 25(group 1) + 25(group 2) for both left leaf and right leaf.

## Motivation

## De

[2021-08-10 11:57] #4460 closed

[2021-08-10 16:25] Steviey commented on #4508
I'm thinking of Julia Sigles example here:

https://stackoverflow.com/questions/62772397/integration-of-variable-importance-plots-within-the-tidy-modelling-framework

There seems to be a generic one and a custom one- over the model-specific function predict().

[2021-08-11 01:09] Steviey commented on #4508
If anybody is interested in doing it without vip with catBoost/treesnip/tidymodels...
[code]
**Output (pretty ugly):**
                         [,1]
ms_sub_class       1.24522954
ms_zoning          1.12307172
lot_frontage       2.94193678
lot_area           2.01862041
lot_shape          0.90817355
lot_config         0.35386407
[...]

PS: Suprise suprise...this also works with lightGbm/treesnip/tid

[2021-08-11 01:09] #4508 closed

[2021-08-11 01:18] jameslamb commented on #4508
Ah ok, your question was about the R package. Glad you figured out a way to get what you needed.

In the future, when you open an issue here please fill out the issue template and provide as much detail as possible.

Thanks for using `{lightgbm}`!

[2021-08-11 08:00] jsanjay63 opened #4514 "Use of is_unbalance parameter"
## Description
I am trying to use is_unbalance parameter in my model training for binary classification problem where positive class is approx 3%. If I set the parameter 'is_unbalance', I observe that the binary log loss drops in the first iteration but then keeps on increasing. I'm noticing this behaviour only if I enable this parameter 'is_unbalance'. Appreciate your help on this. Thanks

## Rep

[2021-08-11 13:39] jameslamb commented on #4514
Thanks very much for using LightGBM.

There is not enough information in your report for maintainers here to assist you without significant guessing. For example, you haven't mentioned the programming language you're using or the operating system you're on.

Are you able to provide a reproducible example, some self-contained code we could run to confirm this behavior?

[2021-08-11 16:00] jameslamb commented on #4512
@chloe-wang , thanks for using LightGBM!

When LightGBM builds trees, it chooses splits based on the estimated *gain* (improvement in the training loss) for those splits. Typically that is not tightly related to "number of samples".

You can read more about this process at https://lightgbm.readthedocs.io/en/latest/Features.html#leaf-wise-best-first-tree-growth, or in XGBoost's excellent tutorial o

[2021-08-12 03:41] jmoralez commented on #4500
Hi @lcrmorin, sorry for the late response.

In LightGBM there are two parameters that control the regularization: `reg_alpha` and `reg_lambda` and they roughly work like in the following equation:
<a href="https://www.codecogs.com/eqnedit.php?latex=SplitGain&space;=&space;\frac{(\sum_{i&space;\in&space;I_L}g_i-\alpha)^2}{\sum_{i&space;\in&space;I_L}h_i&space;&plus;&space;\lambda}&space;&plus;&spac

[2021-08-12 07:16] xtyi1997 opened #4515 "The light改变，"
## Summary

## Motivation

## Description

## References

[2021-08-12 07:23] #4515 closed

[2021-08-12 07:33] xtyi1997 opened #4516 "The lightgbm use for time series"
I want to use lightgbm handle time series. The loss function is very important for me. I want to design it by myself.
for example:
     def lossfunction(y_true, y_pred):
The shape of "y_true" is (n,)
How can I convert (n,) to  (n,5)?

[2021-08-12 15:29] AWSjswinney commented on #4484
I opened a pull request to update the documentation to mention this. Does this seem like an acceptable compromise?

[2021-08-13 01:33] memeplex commented on #3641
@StrikerRUS I think @joshi-abhishek is right, there still are very annoying warnings showing all the time, specially when running inside a grid search.

In version 3.2.1:

[code]

The output is:

[code]

This happens with many parameters, some aliases will throw the warning while others not, and in some cases (like the one in my example) there is no way to get rid of the warning.

Notice that I'm

[2021-08-13 08:37] sharpe5 commented on #2742
Solution from @Junbabek works - but pip does not seem to have v3.2.1 which is the minimum version.

If using Anaconda install [LightGBM v3.2.1](https://anaconda.org/conda-forge/lightgbm):
[code]

To summarise this entire thread:
* Issue caused when category 0 is the most common feature.
* Install v3.2.1 to fix.

[2021-08-13 12:28] StrikerRUS commented on #2742
@sharpe5

Wheel file `v3.2.1` for Windows has been on PyPI since April, please double check:
https://pypi.org/project/lightgbm/#files

![image](https://user-images.githubusercontent.com/25141164/129356902-98127975-8cf5-4d0b-b6f3-95238e398a34.png)

[2021-08-13 12:54] StrikerRUS commented on #3641
@memeplex This is a different warning comparing to the original one in this issue.
[code]
says that you are passing param alias that has a direct equivalent in constructor arguments.
You can avoid this warning by using `min_child_weight` instead of `min_sum_hessian_in_leaf` (https://github.com/microsoft/LightGBM/issues/3436#issuecomment-703748814).

#3742 didn't fix alias warning because alias che

[2021-08-13 18:01] #4470 closed

[2021-08-13 18:33] memeplex opened #4518 "Unable to suppress parameter alias related warnings"
## Description

Many parameter aliases trigger warnings that may be annoying and repetitive, specially in the context of model selection using grid search. These warnings can't be silenced except by changing the parameter to some specific alias. Often, this specific alias is not the one "recommended" (most used or first listed) in the documentation.

## Reproducible example

See https://github.com

[2021-08-13 18:33] memeplex commented on #3641
Done here https://github.com/microsoft/LightGBM/issues/4518

[2021-08-14 01:49] jameslamb commented on #4516
Thanks for using LightGBM!

This issue does not currently have enough detail for maintainers to help you. Can you please share a reproducible example (sample code that we can run) which demonstrates what you're trying? If you can share some code with us and say "currently this fails, but I want it to do `<X>`", then we will be able to advise you on how to achieve what you're trying to achieve.

Al

[2021-08-14 03:41] jameslamb commented on #4511
Thanks for using LightGBM.

We appreciate the effort made to create a reproducible example, but in the future please include your code directly in the issue instead of linking to external, temporary resources such as notebooks running on mybinder. That helps maintainers and other users looking at this issue (including those finding it from search engines in the future) to be able to use your code

[2021-08-14 03:58] xtyi1997 commented on #4516
Thanks your answer.
I want to add new cow.
for example:
![image](https://user-images.githubusercontent.com/28750869/129433250-8a1e53bf-860c-4aac-ae80-6688a4387893.png)
The index_a is index of origin dataset,  (origin dataset will be preprocessed by shuffle)
so that I can compute  the distance  between normal sample and  fault sample.

[2021-08-14 04:06] xtyi1997 commented on #4516
Thanks your answer.
The following is my question.
The shape of y_pred is (n,)
I want to convert to (n,5)(5 is random number)
![image](https://user-images.githubusercontent.com/28750869/129433507-e4dbe6d4-7920-477b-97b6-62d3cf71534a.png)
The index_a is index of origin dataset, (origin dataset will be preprocessed by shuffle)
so that I can compute the distance between normal sample and fault sample.

[2021-08-14 04:17] jameslamb commented on #4516
I apologize, but I don't understand the question.

Are you able to provide some code that demonstrates what you are trying to accomplish?

[2021-08-15 04:15] jameslamb opened #4521 "[R-package] Possibly-incorrect handling of duplicate parameters"
## Description

In the CLI, if you provide a training config with `bagging_fraction=0.8` and `bagging_fraction=0.5`, you will see a warning like this during training.

If you provide a config with those duplicate values to `lgb.train()` in the R package, you'll see this instead:

I need to do more investigation, but I think this means that the R package is not handling duplicates in parameters cor

[2021-08-15 20:23] jameslamb commented on #3556
I've updated the description and added this to #2302, where we store the full list of feature requests.

Closing this for now per our policy in #2302. Anyone is welcome to pursue adding this feature! Please just leave a comment here saying that you are interested, and the issue can be re-opened as a place to ask maintainers questions.

[2021-08-15 22:01] jameslamb commented on #3756
This issue has been open for about 8 months now, so I think it's ok for maintainers to start picking up the work to finish it and not wait any longer for outside contributors to find it from searches for `good first issue`.

Anyone reading this is welcome to contribute if you'd like, as long as the issue is open, but I think maintainers should also start contributing as time permits, to improve th

[2021-08-15 22:12] jameslamb commented on #4433
I've added the label `awaiting response`. @jtsw1990 , are you able to work with maintainers here on this issue?

If not, it will be closed after 30 days without a response.

[2021-08-16 02:55] jameslamb commented on #3414
@jameswinegar @StrikerRUS I finally came back to investigating this today.

**I was not able to reproduce any notable performance differences**.

I then tried 3 different envs:

* `conda-forge-base` = `lightgbm`, `numpy`, and `scikit-learn` installed from `conda-forge`
* `defaults-base` = `lightgbm`, `numpy`, and `scikit-learn` installed from the default channels
* `conda-forge-with-mkl` = identic

[2021-08-16 03:47] jameswinegar commented on #3414
@jameslamb I had found a rouge c++ process running on the machine that when executed under certain conditions caused contention.

It is good that we have solid benchmarking we can do to compare now at the least.

[2021-08-16 15:25] #4476 closed

[2021-08-16 15:25] #4456 closed

[2021-08-16 18:26] jameslamb commented on #3414
Ah ok great, thanks very much! I think then that this issue can be closed for now. Appreciate you bringing it up and putting all that effort into a reproducible example, that made it possible to get to an answer we could feel confident in.

[2021-08-16 18:26] #3414 closed

[2021-08-17 09:11] #4491 closed

[2021-08-17 11:30] jtsw1990 commented on #4433
Hey @jameslamb thanks for your time, I can't seem to replicate the scenario again strangely, am going to close this issue.

[2021-08-17 11:30] #4433 closed

[2021-08-17 15:01] jameslamb commented on #4433
Sure, no problem. Come back any time and open an issue if you need additional help (or want to contribute 😛 ).

Thanks for using LightGBM!

[2021-08-17 17:15] StrikerRUS commented on #4518
@jameslamb I believe it's rather `bug` than `feature request`. Users ask to not print warnings (via `verbose=-1`) but this one is printed.

[2021-08-17 17:24] jameslamb commented on #4518
sure, fine with me

[2021-08-17 17:38] StrikerRUS commented on #3414
@jameslamb Thanks a lot for investigating this issue!

[2021-08-17 18:16] #4484 closed

[2021-08-19 01:30] #4131 closed

[2021-08-19 06:26] vidarsumo commented on #4464
When I run this
[code]
I get file not found
[code]

[2021-08-19 13:11] 8549 opened #4534 "init_score not working in LGBMClassifier"
## Description
Setting `init_score` param in LGBMClassifier doesn't work because the internal call to `lightgbm.basic.list_to_1d_numpy()` fails. But if called manually the function works and returns correctly (see example). Or is there something more to it and i didn't understand how this param works?

## Reproducible example
https://colab.research.google.com/drive/1LooDVMlITs-mlSi8hjRyjwOZuMCl73Z

[2021-08-19 13:15] jameslamb commented on #4464
Some versions of the unix tools for Windows might have slightly different behavior. Can you tr commenting out the uses of `find` in `build-cran-package.sh`?

[2021-08-19 14:51] jmoralez commented on #4511
I believe https://github.com/microsoft/LightGBM/issues/4118#issuecomment-813808432 can help:

But currently trees trained in LightGBM don't have the class proportion information in leaves, since we are actually training regression trees. So to implement this, we need to renew the tree leaves after a tree is trained, to calculate the class proportion for rf.

[2021-08-19 15:46] vidarsumo commented on #4464
I commented this out (if I understood you correctly)
`find . -name '*.h.bak' -o -name '*.hpp.bak' -o -name '*.cpp.bak' -exec rm {} \;`

Then I ran `sh build-cran-pacakge.sh` and got
[code]

I tried to run this `R CMD INSTALL lightgbm_3.2.1.99.tar.gz `but got:
[code]

[2021-08-19 15:55] aspenlin opened #4535 "Why the first tree of linear model is constant"
@SpeckledJim2 the coefficients of the linear model are already available in the output of `save_model`. The relevant parts of the output are `num_features` (number of features used in the linear model for each leaf), `leaf_features` (index of the features used in each leaf's linear model), 'leaf_const' (constant terms of the linear models), and `leaf_coeff` (coefficients of the linear models). (No

[2021-08-19 15:56] jameslamb commented on #4464
That doesn't look specific to `{lightgbm}`. I expect that if you run `install.packages("xgboost", type = "source", repos = "https://cran.r-project.org")` (for example), you will hit a similar error.

When using R 4.x on Windows, if you plan to install packages from source it's expected that you have installed Rtools ([click here to get it](https://cran.r-project.org/bin/windows/Rtools/)) at `C:/rt

[2021-08-19 15:59] jameslamb commented on #4464
Also, since I just noticed that error message is about building the 32-bit version of the library (`arch - i386`).

If you DO have Rtools installed but during the installation you chose to only install the 64-bit components, then use `R CMD INSTALL --no-multiarch` to skip building the 32-bit version of `{lightgbm}`.

[2021-08-19 19:30] StrikerRUS opened #4537 "Improve portability of OpenMP checks in R-package configure on macOS"
Originally discussed in https://github.com/microsoft/LightGBM/pull/4507#discussion_r692334224.

Right now, `configure.ac` checks compilation on macOS with `-Xclang -fopenmp` OpenMP flags. In case of failure, it tries to compile one more time with default `-fopenmp` flag. I think we can improve that check by trying to compile with some other OpenMP flags with the aim to support more compilers.

htt

[2021-08-19 19:55] StrikerRUS commented on #4534
@8549 Thanks for rising this issue!

First of all, please let me note that you are using very old version of LightGBM (`2.2.3`). The actual one is `3.2.1`. Use `pip` to update it:
[code]

As for the error you've encountered, please check `fit()` arguments' description carefully.
[code]

You should pass **lists** for `eval_*` arguments.
Just fix these lines in your code:
[code]

[2021-08-19 19:56] #4534 closed

[2021-08-19 19:59] StrikerRUS commented on #4534
Also, please read the following comment and next time include a code in your issue on GitHub.
https://github.com/microsoft/LightGBM/issues/4511#issuecomment-898811415

[code]

Logs:
[code]

[2021-08-20 04:30] jameslamb opened #4539 "[ci] warnings from cppcheck"
## Summary

Warnings caught by `cppcheck` should be resolved, if they are determined to be genuine issues and not false positives.

## Motivation

[`cppcheck`](http://cppcheck.sourceforge.net/) is a static analyzer for C++ code.

This tool can catch some classes of issues that are not caught by other linters or tests with sanitizers, and it does that using a lightweight approach that doesn't requi

[2021-08-20 06:11] kurchi1205 commented on #4483
Hi , I want to make my first contribution . Can I work on this?

[2021-08-20 10:45] 8549 commented on #4534
Thank you very much for the detailed help. I was able to run my code.

[2021-08-20 12:18] #4469 closed

[2021-08-21 01:57] jameslamb commented on #4539
471 warnings on `master` (https://github.com/microsoft/LightGBM/commit/a926d4fe939118b6377455220e44ca9ded5b964e)

I've filtered out only the warnings from the full logs by running the following:

[code]

<details><summary>warnings only (click me)</summary>

[code]

</details>

The full logs are much larger. Here's a snippet of the format:

[code]

[2021-08-21 23:41] jameslamb opened #4543 "[RFC] [R-package] Replace "info" interface in lgb.Dataset with keyword arguments"
## Summary

The following changes  should be made to `lgb.Dataset()` in the R package.

"deprecated" = "supported, but raises a warning if used".

**In release 3.3.0 (#4310)**

* [x] deprecate keyword argument `info` in `lgb.Dataset()`
    - https://github.com/microsoft/LightGBM/pull/4573
* [x] add keyword arguments `group`, `weight`, `init_score`, and `label` to `lgb.Dataset()`
    - https://gith

[2021-08-22 01:20] jameslamb commented on #4323
Want to add that when this feature is picked up, the R package should support categorical features for data frames using the same interface as the Python package:

* setting `categorical_feature = "auto"` in `Dataset` (the default) means "automatically detect categorical features"
* if `categorical_feature` in `Dataset` is a vector of feature indices or names, use that list of features for `catego

[2021-08-22 01:35] jameslamb commented on #3756
I think `compat.py` can be safely ignored for this purpose, since it just includes  some try-catched imports for compatibility reasons.

[2021-08-22 04:14] jameslamb opened #4546 "Enable use of constructed Dataset in predict() methods"
## Summary

It should be possible to call `predict()` on a constructed `Dataset` and get raw predictions.

Note that it is currently possible to get an *evaluation* (value of metrics) on a constructed dataset  in LightGBM's public API. See https://github.com/microsoft/LightGBM/issues/4034#issuecomment-843003438.

## Motivation

Getting raw predictions can be useful for purposes other than evaluati

[2021-08-22 04:20] jameslamb commented on #4546
I opened this feature request in response to https://github.com/microsoft/LightGBM/issues/4034#issuecomment-843003438.

Added it to #2302, per this project's standard practice. If you are interested in contributing this feature, please leave a comment here and maintainers can re-open the issue and answer any questions you have.

tagging @shiyu1994 and @StrikerRUS , in case you want to add any addi

[2021-08-22 04:20] #4546 closed

[2021-08-22 04:24] jameslamb commented on #4034
In #4545, I've proposed some documentation changes and an error message change to try to make it a bit clearer that only text files are supported in `predict()`.

For anyone finding this issue, you can try the following sample code with the R package to evaluate a constructed `Dataset`  stored in a file.

[code]

[2021-08-22 12:07] StrikerRUS commented on #4546
This is duplicate of #1939.

[2021-08-23 01:40] shiyu1994 commented on #4310
Hi @jameslamb Since we are merging the new CUDA version and the new category encoder soon, we need to release 3.3.0 before that. If we cannot fix all the issues in the list in the short term, can we pick some most important ones?

[2021-08-23 02:34] jameslamb commented on #4310
Yes definitely. Can you please review #4496 (fixes a critical problem affecting the R package on Windows) and provide an opinion on #4543? I think those are the most important remaining items.

[2021-08-23 05:24] jameslamb commented on #4310
I just updated the description of this release, marking #4220 and #4282 as `not critical`. I would have preferred getting them fixed before the 3.3.0 release, but I think that it's ok for them to be done later, in the interest of reducing the amount of work left to do to try to get a new minor release out (since it has been a long time since v3.2.1 and many valuable bugfixes and features have not

[2021-08-23 21:39] HarryAtDelphia opened #4549 "LGBMRegressor always enable L2 metric, which makes 'first_metric_only' not working"
## Description

I would like to train a LGBMRegressor and evaluate on correlation, however I noticed that LGBMRegressor always has the L2 as the first evaluation metric, and evaluated on L2 only.

## Reproducible example

[code]
## Environment info

LightGBM version or commit hash: lightgbm        3.1.1        py38h23ab428_0

Command(s) you used to install LightGBM

[code]

## Additional Comments

[2021-08-23 22:25] jameslamb commented on #4549
Hi @HarryAtDelphia , thanks for using LightGBM!

I think you may have misunderstood how the parameter `early_stopping_rounds` ([documented here](https://lightgbm.readthedocs.io/en/latest/Parameters.html#early_stopping_round)) works.

Setting `early_stopping_rounds=600` means "stop training after 600 consecutive iterations where performance on a validation set failed to improve". So comparing itera

[2021-08-23 22:47] StrikerRUS commented on #4549
@HarryAtDelphia If you'd like to ignore default metric associated with objective function, you should pass `metrics="None"` as a string.

[code]

[2021-08-23 22:48] Laurae2 commented on #4543
Agree with all the proposed changes, not only this will make it easier to maintain but also make it easier for users to work with. 👍

[2021-08-24 00:00] HarryAtDelphia commented on #4549
Thank you for help. I am sorry that I didn't make it clear. Exactly as you said it seemed 'corr_eval' metric was improving as training proceeded, so if the early stopping is evaluated based on this metric, the training shouldn't stop at round 600 but keep going on. The fact the training stopped at round 602 and reported round 2 as the best is because it used 'L2' as evaluation metric. So I would l

[2021-08-24 00:00] #4549 closed

[2021-08-24 00:01] HarryAtDelphia commented on #4549
The string works! Thank you for help.

[2021-08-24 05:08] #4477 closed

[2021-08-24 06:10] #4424 closed

[2021-08-24 08:01] ICDI0906 opened #4550 "what is the distribution communication framework in lightGBM?"
Is there a distribution distribution communication framework in LightGBM like rabit in xgboost?

[2021-08-24 13:26] jameslamb commented on #4550
Unlike [`rabit`](https://github.com/dmlc/rabit), LightGBM's implementation of collective operations like Allreduce, Allgather, etc. was never released as a standalone library. It is an integrated part of LightGBM itself.

Linking in case you aren't aware...last year, XGBoost decided to use a similar approach, pulling `rabit` back into XGBoost and shipping it with that library directly: https://git

[2021-08-24 20:07] John64 opened #4551 "Weights & Early Stopping with LGBMRegressor"
I've been using LightGBM for a while, but mostly with classification & never weights.  I have a basic pandas dataframe with the weights in a column.  I can't get an early stopping LGBMRegressor, utilizing 'mae', to run.  Keep getting this error:
``
('Wrong type(float) for weight.\nIt should be list, numpy 1-D array or pandas Series',)
Wrong type(float) for weight.
It should be list, numpy 1-D arra

[2021-08-24 20:16] jameslamb commented on #4551
Thanks for using LightGBM! We need some more information to help you.

1. What version of LightGBM are you using and how did you install it?
2. Are you able to provide a fully-reproducible example (some self-contained code that maintainers could run which produces the same error)? That would reduce the effort needed to answer your question.

[2021-08-24 22:10] John64 commented on #4551
From Mini-Conda list:
[code]
Not sure how ppl usually do this, but this minimal code will reproduce error as long as pickle objects are OK.  It wouldn't upload here, so I put into a link in my repository:
[https://github.com/John64/dataexamples](url)
[code]
Thanks Again

[2021-08-24 22:19] jameslamb commented on #4551
Thanks very much!

Through that information, you've shared that you're using Python 3.9, version 3.2.1 of `lightgbm`, and are on Windows (based on the path `D:\\temp\\`).

I personally don't open pickle files whose origin I don't know about, since it is possible to define arbitrary code to run when an object is unpickled.

You could create a fully-reproducible example for this case by, for example

[2021-08-24 23:06] John64 commented on #4551
Will csv work?  Got it to do the same with csv files.
Been a while since using numpy for random data, but I'll try in the morning if needed.  Thx
[code]
[code]

[2021-08-25 02:33] #4034 closed

[2021-08-25 05:28] jameslamb opened #4553 "[R-package] Cannot construct Dataset from text file without header"
## Description

Construction of a `Dataset` from a text file with no header fails with the following error

  missing value where TRUE/FALSE needed

## Reproducible example

[code]

This error occurs with both `header = FALSE` and `has_header = FALSE` (https://lightgbm.readthedocs.io/en/latest/Parameters.html#header).

## Environment info

LightGBM version or commit hash: latest `master` (https://

[2021-08-25 11:45] RyanVereque commented on #4497
@aidiss

I was encountering the same issue as you and was looking at these same solutions.

But it turns out that for me `libnvidia-opencl.so.1` is no longer present anywhere within the filesystem when running the Dockerfile at https://github.com/microsoft/LightGBM/blob/master/docker/gpu/dockerfile.gpu for some reason. Installing `nvidia-opencl-icd-375` adds it in. Yet running `clinfo` it still sh

[2021-08-25 13:07] StrikerRUS commented on #4551
Hey @John64! Thanks a lot for the repro!
Just a hint: you can simplify CSV reading like the following:
[code]

This is the same error as in #4534. And the solution is in https://github.com/microsoft/LightGBM/issues/4534#issuecomment-902198942.

Just fix these lines in your code:
[code]
[code]

[2021-08-25 13:11] #4551 closed

[2021-08-25 15:47] John64 commented on #4551
Thank You very much Striker.  Working Great

[2021-08-25 19:16] nitinmnsn opened #4555 "What does the parameter 'reference' mean in the lightgbm dataset API?"
I used to think that the parameter means the bins cutoffs created in the training data would be used in the validation data if while creating the validation dataset I specify the training dataset as the value to the reference argument. However, I am not able to see any difference with or without passing anything to the reference parameter. Following is the code I used to study the parameter:

[cod

[2021-08-25 19:57] mikemahoney218 opened #4556 "[R-Package] Extremely long column names cause error "[LightGBM] [Fatal] Check failed: (reserved_string_size) >= (required_string_size) at lightgbm_R.cpp, line 177""
## Description

Using the R package to fit models fails with error
`[LightGBM] [Fatal] Check failed: (reserved_string_size) >= (required_string_size) at lightgbm_R.cpp, line 177`
when (many?) columns have long column names.

Truncating column names solves this issue and the model fits successfully.

## Reproducible example
[code]

<sup>Created on 2021-08-25 by the [reprex package](https://reprex.t

[2021-08-25 20:12] #4556 closed, assigned to nobody

[2021-08-26 02:46] aBeginner666 opened #4561 "What would happen if some features are categorical-like but aren't specified as categorical?"
Hi there,

I'm working on a regression problem with lightGBM 2.2.3, some toy codes below just to demonstrate the general setting (doesn't mean X and Y are actually ranodm).

Suppose there's a feature that takes value in -2.0, -1.0, 0.0, 1.0,, 2.0, 3.0.  (like categorical, but whether the order matters depends on the prediction performance, can be interpretered either way). How would the model hand

[2021-08-27 10:28] cagataytuylu opened #4562 "Random Seed on LightGBM"
## Description

I was working on demand forecasting in algorithm the other day. I was going over my daytime work and doing my vicar calculations of 30000 iterations. However, on the same day, because the code was taking too long, I stopped the code and turned off my computer and went home. When I got home and turned it on again, the algorithm started to stop after around 200 iterations. After the

[2021-08-28 02:48] jameslamb opened #4566 "[doc] [R-package] Add {lightgbm} to ModelDeployment CRAN view?"
## Summary

CRAN supports a feature called "task views", which can be used to discover packages related to a specific topic.

@terrytangyuan, could `{lightgbm}` be added to the ModelDeployment view at https://cran.r-project.org/web/views/ModelDeployment.html, since `{xgboost}` is there? I know I could have DM'd you, but thought it would be better to have the conversation here so other LightGBM mai

[2021-08-28 03:08] terrytangyuan commented on #4566
Thanks for asking and yes it would be great to include lightgbm there!

Feel free to submit a PR to the repo for this specific task view [here](https://github.com/terrytangyuan/ctv-model-deployment). Note that once the PR is merged, it may still take quite a while for the change to be updated on CRAN since I will need to check with CRAN team to see if there's any update on the maintenance process

[2021-08-28 03:30] jameslamb commented on #4566
Oh thanks! Didn't realize there was a repo dedicated to that task view, I should have scrolled all the way to the bottom of the page 😂

[2021-08-28 03:46] jameslamb commented on #4566
I've open https://github.com/terrytangyuan/ctv-model-deployment/pull/6 with a suggestion, so I think this issue here can be closed. Thanks again!

[2021-08-28 03:46] #4566 closed

[2021-08-28 12:49] StrikerRUS commented on #3756
I believe that during updating `python-package/lightgbm/sklearn.py` we need to replace `array-like` everywhere in docstrings with something meaningful. Originally arose in https://github.com/microsoft/LightGBM/pull/4547#discussion_r695997902. We need to use concrete data types to describe data sources for `X`, `y` and others. Not just because concrete types will be easier to understand for newcome

[2021-08-28 22:40] memeplex commented on #3379
With multiple processes in a grid search it's not event possible to use a context manager to suppress this warning during fit, it seems that the context state is lost somehow, my notebook gets literally flooded of:

[code]

[2021-08-28 22:50] memeplex commented on #3379
As a workaround I did the following:

[code]

[2021-08-29 17:02] mayer79 commented on #4566
Sweet! LightGBM is on https://cran.r-project.org/web/views/MachineLearning.html as well.

[2021-08-30 03:44] aBeginner666 commented on #4561
Hi James. thanks for the answer and sample code, clean and clear 👍

Some follow-up questions: I'm referring to https://github.com/microsoft/LightGBM/issues/4086 to understand the histogram bin boundaries in my problem setting. So according to Shiyu, "the histogram bin boundaries are determined before training and are fixed during the whole boosting process, and the boundaries are chosen so that th

[2021-08-30 06:57] Blaizzy opened #4576 "[doc] A page for listing related projects and links"
## Summary

Hi,

My name is Prince Canuma, I’m a Data Scientist & DevRel at Neptune.ai,

Following the discussions in the https://github.com/microsoft/LightGBM/pull/4529  issue,

I want to propose the creation of a related projects page devoted list and describe in-brief tools that have an integration or support LightGBM.

## Motivation

By creating this page, you will be creating a template for c

[2021-08-30 15:51] ChristophAymannsQC commented on #4483
Sure. Please do give it a shot.

[2021-08-31 09:12] ChristophAymannsQC opened #4578 "Compute partial dependencies from learned trees"
## Summary

Partial dependencies can be computed directly from the data distribution in the leaves of the trees in the booster, rather than by calling `predict`, see references below. This tends to be faster. It would be nice if LightGBM allowed for direct computation of the partial dependencies using this method.

## Motivation
Partial dependency plots are widely used to interpret a model. Provid

[2021-08-31 14:41] jameslamb commented on #4483
Thanks for starting this discussion, @ChristophAymannsQC !

@kurchi1205 before you get too far into trying to implement this, I think we should get maintainers' opinions on this question. I have some initial thoughts.

1. If any change is made for this feature request, I have a strong preference for raising a warning instead of automatically dropping samples. Dropping samples brings a lot of compl

[2021-08-31 14:56] ChristophAymannsQC commented on #4483
@jameslamb Thanks a lot for your thoughts. Didn't want to step on anyone's toes here. :)

[2021-09-01 05:24] jameslamb commented on #3924
At the moment, this feature is not being actively worked on (see https://github.com/microsoft/LightGBM/pull/3989#issuecomment-909897621).

Per the current policy in this repository, I'm going to close this GitHub issue but keep the feature marked as open in #2302. Anyone who is interested in contributing this feature or who wants to add something to this discussion is encouraged to comment here, a

[2021-09-01 05:24] #3924 closed

[2021-09-01 08:40] alfaro96 opened #4583 "Predicted probabilities are different in `lightgbm 2.3.1` and `lightgbm 3.0.0`"
# Description

We are having an [issue in `scikit-learn`](https://github.com/scikit-learn/scikit-learn/issues/18316) because the predicted probabilities between `lightgbm 2.3.1` and `lightgbm 3.0.0` are different for the `LGBMClassifier`, and I have not found any breaking change in the release notes. Our equivalence tests between `HistGradientBoostingClassifier` and `LGBMClassifier` were passing w

[2021-09-01 14:00] jameslamb commented on #4583
Thanks very much for your question. Are you able to create a reproducible example that imports `LGBMClassifier` directly from `lightgbm`, instead of using `sklearn.ensemble._hist_gradient_boosting.utils.get_equivalent_estimator`? That would eliminate a layer of indirection and make this discussion a bit more focused.

[2021-09-01 15:02] jmoralez commented on #4583
I believe it could be a conflict between this https://github.com/microsoft/LightGBM/blob/4ee6399db460644c14847662e1ccd55ebb026c17/src/objective/multiclass_objective.hpp#L31 and [this](https://github.com/scikit-learn/scikit-learn/blob/2beed55847ee70d363bdbfe14ee4401438fba057/sklearn/ensemble/_hist_gradient_boosting/utils.pyx#L71-L74):
[code]

[2021-09-01 15:04] alfaro96 commented on #4583
Thank you @jameslamb for the quick reply. I have modified the original reproducible example to eliminate the indirection.

[2021-09-01 15:20] jmoralez commented on #4583
I'm able to reproduce the values from `2.3.1` by setting `learning_rate=3/2`, which is the factor that was introduced before the `3.0.0` release, hope this helps.

[2021-09-02 07:26] alfaro96 commented on #4583
I will close the issue since it seems to be solved.

Thank you @jmoralez and @jameslamb for the quick replies!

[2021-09-02 07:26] #4583 closed

[2021-09-02 07:54] BinchaoPeng commented on #4467
hi，I would like to realize the difference   @@between gpu version and cuda version, do you know where the doc is? @cookielee77 @jameslamb @StrikerRUS @shiyu1994 @cbecker

[2021-09-02 08:51] BinchaoPeng opened #4589 "`pip install lightgbm --install-option=--gpu` in ubuntu20.04"
In my system,cmake is 3.16.3-1ubuntu1。

sys: ubuntu 20.04

cli:`pip install lightgbm --install-option=--gpu`

error:
[code]
log info:
[code]

[2021-09-02 11:30] vidarsumo commented on #4464
I do have Rtools 4.0 installed but there is no mingw_64 folder under C:/rtools40/usr/
I tried `R CMD INSTALL lightgbm_3.2.1.99.tar.gz --no-multiarch` and got this error: `C:/rtools40/usr/mingw_64/bin/g++: No such file or directory`

/mingw_64/bin/g++ does exist but not under /usr/. It's located in the root /rtools40/

[2021-09-02 13:39] StrikerRUS commented on #4589
Hey @BinchaoPeng ! Thank you for raising this issue.

Could you please clarify where did you type `pip install lightgbm --install-option=--gpu` command?
The log you've provided seems to be about something in PyCharm IDE. LightGBM installation script should have dump another info.

[2021-09-02 13:47] StrikerRUS commented on #4467
@BinchaoPeng Hi!
Sure, here it is: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-cuda-version-experimental.

CUDA version is a re-written in CUDA language GPU version for systems where OpenCL is not available.

[2021-09-02 14:10] BinchaoPeng commented on #4467
okay，thank you！

[2021-09-02 15:57] StrikerRUS commented on #4589
Glad you've managed to install LightGBM!

This is not necessary. We are using system-widely installed CMake at CI jobs just fine. Probably your conda environment is not configured properly...

[2021-09-02 20:54] jameslamb commented on #4464
oh! I see now. I think you might have downloaded RTools35 and installed it in directory `C:/rtools40`, and that might be failing because you're mixing R 4.x and Rtools35.

Rtools35 has folders (from the root of Rtools) named `mingw_32/` and `mingw_64`, while Rtools40 has MinGW stuff in `/usr/mingw32` and `/usr/mingw64`.

I know this for sure because we use those paths in this project's CI

https:/

[2021-09-03 22:25] Sinnombre opened #4591 "Using forcedsplits parameter causes wild inaccuracies and crashes"
## Description
Maybe I don't understand the function of this parameter but I am having a great deal of trouble using it.

I'm working with forecasting sales using LightGBM in R. In the data I have (which unfortunately I am unable to share), the overwhelming majority of items sell 0-1 per week, with about 0.3% outliers with weekly sales averaging >20, some going into the 1000s. I observed that sepa

[2021-09-04 15:43] jameslamb commented on #4591
Thanks very much for using `{lightgbm}` and for the thorough write-up. I'll look into this shortly.

I've edited the formatting of your original post to make it a bit easier to read. If you are new to GitHub, please consider reading through https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax to learn how to u

[2021-09-04 16:24] jameslamb commented on #4591
@Sinnombre can you please try updating to the latest version of `{lightgbm}` on `master` of this repo?

[code]

I tried your reproducible example (thanks very much for providing that!!) and found that for `{lightgbm}` 3.2.1 installed from CRAN, I also get the error

When I use the version of the R package built from `master`, I do not get such an error. Training succeeds.

There have been a lot of

[2021-09-04 20:29] StrikerRUS opened #4594 "`KeyError: 'pop from an empty set'` error in `_machines_to_worker_map()` function"
Just appeared in `master` QEMU build. I had to restart that failing build in order to keep nightly builds up to date, so there is no link to that build.

<details>

<summary>
Logs:
</summary>

[code]

</details>

[2021-09-05 14:18] memeplex opened #4596 "Avoid dataframe deep copy while creating dataset"
## Summary

The python API does the following while creating a dataset from a dataframe with cat cols:

[code]

By default `copy` does a deep copy (copies all data and indices) but AFAICS there is no need of that here and it could trigger a memory expensive operation.

## Motivation

Avoid extra memory usage. The sequence of steps here will end up with three copies of the data:
* the original data

[2021-09-06 02:13] jameslamb commented on #4596
Thanks very much! I think it will take a bit of investigation to test whether such a change can be made safely. Are you interested in working on this and submitting a pull request?