[2017-01-13 02:43] wxchan commented on #202
@ClimbsRocks subsample_freq/bagging_freq should be int, not float, it represents after [how many] iterations do one re-subsample. The parameter you want is `subsample`.

[2017-01-13 02:44] wxchan commented on #198
@guolinke we can remove `objective` from init and infer it from which subclass they use.

[2017-01-13 02:44] guolinke commented on #196
@wxchan Did you install successfully now? can you share some experiences ?

[2017-01-13 02:46] wxchan commented on #196
@guolinke no, but my issue is different.

I think add `CXX1X=g++-6` to `~/.R/Makevars` will use `g++` instead of `clang++`. @coforfe @BonnyRead

[2017-01-13 02:47] guolinke commented on #198
@wxchan OK,
So the only way to use the custom objective function is using LGBMModelBase.
And we should give some information that the prediction of LGBMModelBase is the raw scores.

[2017-01-13 02:48] wxchan commented on #202
@guolinke perhaps you should remove `[]` in this error message, it may be misleading.

[2017-01-13 02:48] guolinke commented on #196
@wxchan add ```-lgomp``` didn't help?

[2017-01-13 02:49] BonnyRead commented on #196
@wxchan It there any specific order for your suggestion?
I don't see clear where should I insert CXX1X=g++-6 into Makevars file

[2017-01-13 02:50] wxchan commented on #198
@guolinke I forgot `objective` is also for custom objective. Then we should leave it, perhaps add a warning if user sets up `wrong` objective string.

[2017-01-13 02:55] wxchan commented on #196
@guolinke no, still the same. I almost never use R before, maybe it's some other reason.

@BonnyRead like
[code]

[2017-01-13 03:02] BonnyRead commented on #196
@wxchan OMG!! It did work.
Bad news is there is another error.
[code]

[2017-01-13 03:17] guolinke commented on #196
@BonnyRead fixed this, can you try the latest code?

[2017-01-13 04:01] BonnyRead commented on #196
@guolinke I am really appreciate of your help. It works properly right now.

I got a question about that will you repair the compiler problem.

In my case, I do not familiar about setting of MAC OS. Hence, all of my setting is default.

I believe most users in mac is similar to me. It is impossible for them or me to add this code to

these specific position without any technical suggestion or help

[2017-01-13 04:34] guolinke commented on #196
@BonnyRead Thanks.
The reason is from R side, it is not way to overwrite compiler in the package side.
I will add some scripts to help the installation in oxs.

[2017-01-13 05:03] guolinke commented on #196
update the installation in OSX here:
https://github.com/Microsoft/LightGBM/tree/master/R-package#osx-installation

[2017-01-13 08:12] #202 closed

[2017-01-13 08:19] chivee commented on #74
@ycdoit could you help on creating the PR of Nuget package.

[2017-01-13 09:53] watermelonboss opened #205 "Muticlass and grid search [python]"
When  the  LightGBM is used to muticlass ,"objective" is set to 'muticlass' .But objective and metrics don't match.So I set "eval_metric" is "multi_error" when fit , it success.
Now , I need to grid search but I find "eval_metric"  can be set "multi_error".

How can I use grid search when muticlass  ?

[2017-01-13 12:39] moveforever opened #206 "when all features are categorical, how to setup configuration"
My data format is as followed:
[code]
The first column is label, and the remaining columns are categorical features. And I setup categorical_feature = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
When input of light_gbm data is these data, there appear error:
[code]
what should data format be? Or maybe i setup configuration wrong.
Can u help me?

[2017-01-13 12:43] guolinke commented on #206
The feature  index is start from 0 , not 1

[2017-01-13 12:44] wxchan commented on #206
index starts from 0
categorical_feature = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22

[2017-01-13 13:57] wxchan opened #207 "[c++ vs python]performance comparisons between different language packages"
CPU: Intel(R) Core(TM) i7-4720HQ CPU @ 2.60GHz
Memory: 8G
OS: ubuntu 16.04
python version: 2.7

preprocessing stage is same as https://github.com/guolinke/boosting_tree_benchmarks

run each dataset three times, all the number in table represents seconds of 500 iterations; time = load data time + train time

higgs: [full log and config](https://github.com/wxchan/LightGBM/tree/cmp/performance/higgs)

[2017-01-13 14:06] guolinke commented on #207
@wxchan can you try load from file in python? I think the different result may cause by this.

[2017-01-13 14:46] wxchan commented on #207
do you mean load data direct from file? it produces another result.

log and script are here: https://github.com/wxchan/LightGBM/tree/cmp/performance/higgs-load-dataset-from-file

[2017-01-13 15:28] guolinke commented on #207
@wxchan Did you use the latest code to rebuild python package? Maybe this time/result difference is caused by float/double type

[2017-01-13 15:48] guolinke commented on #205
@wxchan  any idea about this?

[2017-01-13 15:52] wxchan commented on #207
I think I am using the latest code. Let me check it again.

[2017-01-13 15:54] guolinke commented on #207
@wxchan you accuracy result in sh version is same with my benchmarks about 2 month again.. So I think it may is not the latest code.

[2017-01-13 15:57] wxchan commented on #205
I did not understand the question.

@watermelonboss Do you want to set eval_metric = multi_error in GridSearchCV?

I think it's duplicate with #146

[2017-01-13 18:47] coforfe commented on #196
Hello,

Thanks, I almost got it being compiled...

I changed `Makevars` following your latest sugestions:

[code]

And launched the installation/compilation process with these errors in the latest stages:

[code]

Thanks,
Carlos.

[2017-01-13 18:55] coforfe commented on #196
Hello,

Finally **very good** news.
It got compiled!

I changed `Makevars` to this:

[code]

And it passed the compilation process, with just some warnngs:

[code]

I tested the installation, just in case, with the example you provided and it executed it smoothly:

[code]

Thanks a lot for you excellent work with this!
Carlos.

[2017-01-13 19:49] ClimbsRocks commented on #202
ah, got it. that makes much more sense. Thanks for the explanation!

[2017-01-13 21:33] vruusmann opened #208 "Scikit-Learn wrapper cannot fit multi-class tasks"
## Environment info
Operating System: GNU/Linux (Fedora)
CPU: N/A
LightGBM: latest source checkout (commit 7dec4dec6ab45afa753cd9069f85dbbaaeefad43)
Python: 2.7 and 3.4
Scikit-Learn: 0.18.1

## Error Message:

The function `LGBMClassifier#fit(X, y)` contains logic which is supposed to detect and properly handle multi-class classification problems. However, something doesn't work quite as expected,

[2017-01-14 01:17] ClimbsRocks opened #209 "Python/sklearn Question: How to get feature names, aligning with feature_importances_"
tl;dr: Using the sklearn interface for Python, how can I access the names the model was trained on in a way that aligns with the feature_importances_?

I'm trying to take advantage of passing in a pandas DataFrame with categorical data left as `dtype='category'`. The model is training fine, and I can get the `.feature_importances_` from it. Are the feature_importances_ reported in the same order a

[2017-01-14 02:47] moveforever commented on #206
you mean a categorical feature encoding, and i have done as that feature index is start from 0.

[2017-01-14 02:57] wxchan commented on #206
he means `categorical_feature = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22`

[2017-01-14 03:02] wxchan commented on #208
the default eval_metric="binary_logloss", you can pass "multi_logloss" to it for now, I will fix it

but should it be checked if eval_set=None? @guolinke

[2017-01-14 03:03] moveforever commented on #206
i have tried  categorical_feature = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22, and it failed.

[2017-01-14 03:03] wxchan commented on #209
It's the same order as DataFrame's columns.

[2017-01-14 03:04] moveforever commented on #206
it still appear data format error

[2017-01-14 03:05] wxchan commented on #206
oh, the delimiter in your file should be tab(tsv) or comma(csv), not space

[2017-01-14 03:15] moveforever commented on #206
yeah, it's delimiter, now it's ok.
tks

[2017-01-14 03:21] #206 closed

[2017-01-14 03:31] wxchan commented on #207
@guolinke updated. The result of c++ and python-load-data-from-file is same.

btw, xgboost adds new tree building algorithm similar to lightgbm. https://github.com/dmlc/xgboost/pull/1940. would you like to test on it? (The memory is not enough for my machine.)

[2017-01-14 04:04] guolinke opened #211 "compared with xgboost new histogram based algorithm"
xgboost just adapt the histogram based idea from LightGBM, https://github.com/dmlc/xgboost/issues/1950 .
It is much faster now and I run a new compare experiment: https://github.com/guolinke/boosting_tree_benchmarks

## Environment

CPU:  E5-2670 v3 * 2
Memory:  256GB DDR4 2133 MHz

## speed

| Data      |  xgboost| xgboost_approx | xgboost_hist |  LightGBM|
|----|  ----| ---- | ----- | ----|
| Hi

[2017-01-14 04:11] guolinke commented on #207
@wxchan the new result seems much reasonable now.
So the python-package is almost faster as raw cpp version, happy to know this.
Thanks for your benchmark!

I just compared with the new xgboost_hist, refer to: #211 .

BTW, you means xgboost_hist is still cost much on memory usage?

[2017-01-14 04:33] guolinke commented on #208
@wxchan I think it is not need to check metric when not passing validation data.
You can alter this logic in ```config.cpp``` as well.

[2017-01-14 04:57] guolinke commented on #192
@vruusmann you can try the latest commit, already output more feature information in the last section of model file.

[2017-01-14 04:57] #192 closed

[2017-01-14 05:12] guolinke commented on #196
@coforfe
it still is not compiled by gcc. So it will build a single thread library.

I think the ```/usr/local/opt/llvm/lib``` is the clang library.
@wxchan did you know how to link gcc library or where it is ? I don't have a mac to find out..

[2017-01-14 07:03] chivee commented on #196
the default path of brew is under
`/usr/local/Cellar`

mine is
`/usr/local/Cellar/gcc/6.2.0/lib/gcc/6`

you can use `brew info gcc` to show the path of gcc

@coforfe  I would like to suggest a try on

`C=gcc-6
CC=gcc-6
CXX=g++-6
LDFLAGS=-L/usr/local/Cellar/gcc/6.2.0/lib
CPPFLAGS=-I/usr/local/Cellar/gcc/6.2.0/include
`

[2017-01-14 09:40] Allardvm commented on #207
I can write a Julia version of the data-loading and training scripts, if you're willing to add an unofficial language package to a comparison on the official git. You'd have to run the script on your computer to make the results comparable, but I'd be happy to help out with that if you encounter any issues.

[2017-01-14 11:14] Laurae2 commented on #211
xgboost approx / hist methods currently are scaling very poorly when it comes to multithreading. This is one of my test benchs using Bosch, I can't even keep the CPU more busy than 60% (sparse 1Mx1K is too small in this case):

![image](https://cloud.githubusercontent.com/assets/9083669/21954482/2e5f2506-da52-11e6-94a7-8a386047ad8d.png)

Worse is the approx method, which can't even use 25%.

Did y

[2017-01-14 11:25] guolinke commented on #211
@Laurae2 can you give more details about your test dataset ? e.g #data, #feature, sparse / one-hot coding and so on

[2017-01-14 11:28] wxchan commented on #211
I think is https://www.kaggle.com/c/bosch-production-line-performance/data?

@guolinke did you try `grow_policy=depthwise`?

[2017-01-14 11:30] Laurae2 commented on #211
@guolinke test data: [train_numeric.csv](https://www.kaggle.com/c/bosch-production-line-performance/data)

* 1,183,747 observations
* 969 features, converted to sparse format for R
* 81% sparse (217,925,677 elements)

[2017-01-14 12:03] guolinke commented on #211
@Laurae2
I just ran some benchmarks in 50 iterations by one thread.

Higgs:

LightGBM: 306s
xgboost: 455s

[lightgbm_higgs_speed.log.txt](https://github.com/Microsoft/LightGBM/files/705895/lightgbm_higgs_speed.log.txt)
[xgboost_hist_higgs_speed.log.txt](https://github.com/Microsoft/LightGBM/files/705896/xgboost_hist_higgs_speed.log.txt)

I think your dataset is sparse, so maybe the reason is cause

[2017-01-14 12:08] guolinke commented on #211
@wxchan try depth-wise? why?

[2017-01-14 13:33] Laurae2 commented on #211
@guolinke xgboost only 30% CPU usage on Higgs.

I'll run 12 threads, 6 threads, and 1 thread to compare all this on Higgs.

![image](https://cloud.githubusercontent.com/assets/9083669/21955175/bd781f50-da65-11e6-83bf-e49ecb2c98be.png)

It seems to run much faster than your benchmark (for 12 threads, other results incoming soon). Here is a sample for Higgs:

![image](https://cloud.githubusercontent

[2017-01-14 13:36] guolinke commented on #211
@Laurae2

2 * E5-2680 v2,	DDR3 1600Mhz, 256GB,
run by 16 threads

[2017-01-14 13:41] coforfe commented on #196
Hello,

Thanks for the new suggestion @chivee it worked fine.

In my system `brew info gcc` provides the same path as yours. But I found that I had version `6.2.0` and `6.3.0`.  I tried with both cases and both compiled.

So my `Makevars` is this:

[code]

And the compilation worked without any warning:

[code]

Testing the installation now provides a more compact and I think faster output:

[code

[2017-01-14 13:43] guolinke commented on #196
@coforfe from your log, it still compile by clang ...
you forget to add ```CXX1X=g++-6```

[2017-01-14 14:16] coforfe commented on #196
Yes, sorry...

It compiled too, but with many warnings.

The `Makevars` file is now:

[code]

This is the compilation with the warnings related to the `omp parallel`

[code]

And in terms of the test code, it run slower:

[code]

Thanks!
Carlos.

[2017-01-14 14:20] guolinke commented on #196
oh, still need

SHLIB_OPENMP_CFLAGS = -fopenmp
SHLIB_OPENMP_CXXFLAGS = -fopenmp
SHLIB_OPENMP_FCFLAGS = -fopenmp
SHLIB_OPENMP_FFLAGS = -fopenmp

[2017-01-14 14:26] coforfe commented on #196
Hi,

OK.
It compiled with much less number of warning, right.

The `Makevars` file:

[code]

The compilation:

[code]

And the example:

[code]

Thanks,
Carlos.

[2017-01-14 17:19] Laurae2 commented on #211
@guolinke I also use DDR3 1600 MHz (64GB in my case).

My benchmarks on Higgs:

* xgboost fast, 1 thread: 1136.12s
* xgboost fast, 6 threads: 488.22s
* xgboost fast, 12 threads: 477.86s
* lightgbm, 1 thread: 2437.73s
* lightgbm, 6 threads: 592.61s
* lightgbm, 12 threads: 546.24s

Something I don't understand is this when I use xgboost:

[code]

While you have:

[code]

I'm using Python 3.5, so the

[2017-01-14 17:25] guolinke commented on #211
@Laurae2 what is the data information output by your lightGBM? https://github.com/guolinke/boosting_tree_benchmarks/blob/master/lightgbm/lightgbm_higgs_speed.log#L4
If it is 10500000 * 28. This file is correct.
If not, maybe you are using wrong parameter(e.g default bagging?) for xgboost.

[2017-01-14 18:00] Laurae2 commented on #211
@guolinke I have the same exact line as yours.

https://github.com/Laurae2/boosting_tree_benchmarks/blob/master/lightgbm/lightgbm_higgs_speed_01.log#L4

My params are also identical to yours, except I changed:

* xgboost file path
* number of threads

Default bagging in xgboost is 1.00 (use all data). I compiled xgboost from source. When I run your sh code as is (after removing all the things I ca

[2017-01-14 19:33] minimaxir opened #213 "[R] Missing predict() method for object of class lgb.CVBooster"
The only `predict()` method exists for object of class `lgb.Booster`; for the output of a `lgb.cv()` training function, `predict()` throws an error:

[code]

[2017-01-14 20:30] minimaxir opened #214 "[R] record_evals vector is empty if verbose = 0"
[code]

[2017-01-14 20:34] vruusmann commented on #208
Thanks, the LGBMClassifier instance is new able to detect the "arity" (ie. binary vs. multiclass) of the classification problem.

[2017-01-14 20:34] #208 closed

[2017-01-14 20:45] vruusmann opened #215 "Scikit-Learn wrapper fails if the `fit` method has `categorical_feature` argument"
## Environment info
LightGBM: latest source checkout (commit e7431447e158b1b55f81d2fb7b16e4668c782fad)

## Error Message:

[code]

## Reproducible examples

[code]

## Steps to reproduce

1. Download the Auto-MPG dataset file [Auto.csv](https://github.com/jpmml/jpmml-lightgbm/blob/master/src/test/resources/csv/Auto.csv).
2. Run the above Python script. The experiment succeeds if the `categorical_f

[2017-01-14 20:48] vruusmann commented on #215
This regression happened sometimes within the past 24 hours (ie. commits on Jan 13-14th?), because this Python script was working correctly yesterday.

[2017-01-14 21:07] vruusmann commented on #215
I can temporarily work around this problem, if I convert Pandas' `DataFrame` to Numpy's `matrix`, and supply both `feature_name` and `categorical_feature` arguments:

[code]

[2017-01-14 21:08] Laurae2 commented on #214
Without verbose you have no callback to record evaluation during training. Use `record=1`.

See https://github.com/Microsoft/LightGBM/issues/191#issuecomment-271927235

[2017-01-14 22:17] minimaxir commented on #214
Gotcha.

[2017-01-14 22:17] #214 closed

[2017-01-14 23:45] Laurae2 commented on #211
I went creating the matrix (binary format) for xgboost using R. All my tries using a libsvm format ended with nearly the same issue (it's just the row count changing in xgboost, I tried Python 2.7 and 3.5...).

Now xgboost works properly and matches your runs for AUC. I have to test for speed after.

[2017-01-15 03:18] wxchan commented on #215
It's some bug how we deal with pandas 'category' type. I will fix it later.

btw, do you know any good deterministic way to do 'ad hoc encoding', so we don't need to pass the categorical encoding of train dataset to eval and test dataset?

@guolinke now we only make train and test category encoding same, how about prediction? Then we need to pass self.pandas_categorical to InnerPredictor. What if

[2017-01-15 06:59] wxchan commented on #211
@guolinke xgboost depthwise is faster, we can compare best performance of xgboost to lightgbm.

Anyway, is there any conclusion here? According to the new updated graphs in dmlc/xgboost#1950 , xgboost has really good performance with allstate dataset.

[2017-01-15 07:06] guolinke commented on #211
@wxchan
depth-wise is always faster, due to it pass much fewer #data when grows same #leaves.

Xgboost's algorithm is better for sparse data, And LightGBM is better for dense data.
However, xgboost's algorithm need much temporary space when #theards grows, this limit its speed-up in multi-threading.
And for allstate dataset, it is all one-hot features, so lightgbm actually can use categorical feat

[2017-01-15 08:14] watermelonboss commented on #205
@wxchan yes

[2017-01-15 10:03] guolinke commented on #211
@Laurae2
can you try this #216 for you Bosch dataset?

[2017-01-15 10:56] Laurae2 commented on #213
Cross-validation does not produce a model but is only used to check for the metric evolution in a CV. You must train a model separately to use predict. If you want to access all the models separately, you just need to use a loop to train separately from each train fold and predict on its respective test fold.

Also, lgb.cv does not produce a lgb.Booster class. It produes a lgb.CVBooster class.

[2017-01-15 11:25] wxchan commented on #205
it's duplicate with #146

use fit_params, please check original sklearn GridSearchCV api.

[2017-01-15 11:32] Laurae2 commented on #211
@guolinke Will test for Bosch dataset.

@wxchan I got reverted results for depthwise (I could test for Bosch too if needed). See table below on Higgs:

---

Speed:

| Model | Mode | Threads | Speed (s) |
| :---: | :---: | :---: | :---: |
| xgboost | Fast + Lossguide | 1 | 3600.66 |
| xgboost | Fast + Lossguide | 6 | 1147.86 |
| xgboost | Fast + Lossguide | 12 | 916.89 |
| xgboost | Fast + Depthwis

[2017-01-15 11:35] wxchan commented on #215
@guolinke any ideas on this? How about we do some hash encoding for string categorical feature? (Or revert this feature for now).

[2017-01-15 11:43] wxchan commented on #211
@Laurae2 your result is actually same. I read your log, for 100 iterations, depthwise: 227.867, lossguide: 278.813. As that thread said, it's tested only with first dozen of iterations. (https://github.com/dmlc/xgboost/issues/1950#issuecomment-271969048)

btw, xgboost, Fast + Depthwise, 12 should be 1038.30, not 1308.30.

[2017-01-15 11:48] guolinke commented on #215
@wxchan
I think we can expose two more api:
1. set_encoding,
2. get_encoding,
both of them are interactive with Booster. And inner_predictor can use them to get encoding methods.

[2017-01-15 12:02] wxchan commented on #215
Is that too complicated? Use pandas to transfer categorical features to numerical is pretty simple and flexible, if make it auto in lightgbm, it may not turn out to be what user wants, and user probably won't know that. (even I don't know whether one feature is treated as categorical feature some time)

[2017-01-15 12:05] guolinke commented on #215
@wxchan
Not change any logic in LightGBM.
encoding can be just an string, And LightGBM only write/read it with model file.
Python can just parse this encoding string to get what it want.

[2017-01-15 12:06] watermelonboss commented on #205
@wxchan Thanks!!!

[2017-01-15 12:23] guolinke commented on #196
@coforfe It is correct now.
update the documents as well: https://github.com/Microsoft/LightGBM/blob/master/R-package/README.md#osx-installation .

[2017-01-15 12:23] #196 closed

[2017-01-15 12:23] #209 closed

[2017-01-15 12:24] #205 closed

[2017-01-15 14:23] geoHeil opened #217 "categorical_feature in R package"
How should the `categorical_feature` in the R packages `lgb.Dataset`?

[2017-01-15 14:30] geoHeil opened #219 "[r-package] cannot open data file error when reading matrix"
When using http://archive.ics.uci.edu/ml/datasets/Bank+Marketing
http://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip as outlined below

[code]

Results in
[code]
Is this an issue with lightGBM or am I using the package wrong?

## Environment info
Operating System: osx 10.12.2
CPU: 2,5 GHz Intel Core i7

## Error Message:
`api error: cannot open data file 29`

## Reproducible ex

[2017-01-15 14:42] guolinke commented on #219
@geoHeil
your training data is not numerical matrix.
You should convert it to numerical matrix before you call lgb.Dataset

[2017-01-15 14:43] geoHeil commented on #219
but this `as.matrix(dataTrain[,1:16]` was performed @guolinke

[2017-01-15 14:46] guolinke commented on #219
you can run
[code]
``is.character(x) `` will return True.
I am not familiar with R. But I think this dataset contains some string values, so R convert full matrix to a ```character``` matrix.

[2017-01-15 14:50] geoHeil commented on #219
I see. Indeed, that is true. How can I use https://github.com/Microsoft/LightGBM/issues/217 `categorical_feature` to prevent this problem? Or would I need to convert strings to labels first and then list these columns in `categorical_feature`?

[2017-01-15 14:54] guolinke commented on #219
R-package doesn't support string type as feature now, you need to convert it to int type manually.
Then specific these columns in ``categorical_feature``

[2017-01-15 15:18] geoHeil commented on #219
I substituted all factor variables (label encoded them) via `d$column <- as.numeric(d$column` How can I explicitly construct a "dense" matrix or not ignore negative values?
[code]

Is it correct to use `categorical_feature = c("job", "martial")` a string of categorical columns?

[2017-01-15 15:24] guolinke commented on #219
you can use ```is_sparse=false```.
if you want to use ```colnames``` in categorical_feature, you should set ```colnames``` as well.

[2017-01-15 15:31] geoHeil commented on #219
Thanks for that hint. Applying it like `dataTrainX <- as.matrix(dataTrain[,1:16], is_sparse=FALSE, colnames=TRUE)` will not work. And setting it like:

[code]

will fail as well.
[code]

[2017-01-15 15:35] guolinke commented on #219
[code]

[2017-01-15 15:41] geoHeil commented on #219
When only applying `is_sparse=FALSE` and not setting `colnames` or `categorical_feature` the problem persists.

Using your suggestion like
[code]
wont fix it.

I am calling lightgbm like
[code]

[2017-01-15 15:51] guolinke commented on #219
you means it success when not set colnames and categorical_feature?

[2017-01-15 15:53] geoHeil commented on #219
No, I mean neither option works, all have the same error of
[code]

[2017-01-15 15:57] guolinke commented on #219
I think you are still using character matrix, not numerical. can you share full scripts?

[2017-01-15 16:00] geoHeil commented on #219
I updated the problem description above with full script. Can you reproduce the issue there?
I double checked the matrix
[code]
will return false

[2017-01-15 17:49] minimaxir commented on #213
That appears to be correct: the `lgb.CVBooster` object indeed contains a `booster` vector which has a list of `nfolds - 2` number of `lgb.Booster` objects.

The `xgboost` package has a method parameter to predict on the models resulting from a `xgb.cv`, however looking at the documentation closer for that package, the resulting prediction is for each of the folds, so it's less helpful.

Closing.

[2017-01-15 17:49] #213 closed

[2017-01-15 17:50] minimaxir commented on #219
`as.matrix()` converts the containing vectors to `character`s.

Try using `data.matrix()` instead, which keeps vectors as `numeric`.

[2017-01-15 18:07] geoHeil commented on #219
Thanks. That solves that issue.
How can I make sure `categorical_feature` are handled correctly e.g. is

[code]
correct?
The resultng predictions for this dataset are all 0.5 which seems strange.

[2017-01-15 18:41] minimaxir commented on #219
Try using using a `list` of column names instead of a vector.

[2017-01-16 07:32] Kyla0606 opened #221 "Error when import python"
I followed the instruction in https://github.com/Microsoft/LightGBM/blob/master/docs/Python-intro.md, then I tried to import lightgbm in Python, and I got the followed error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "lightgbm/__init__.py", line 13, in <module>
    from .sklearn import LGBMModel, LGBMRegressor, LGBMClassifier, LGBMRanker
  File "lightgbm/sklea

[2017-01-16 07:34] geoHeil commented on #219
this wont change the output / all 0.5

[2017-01-16 08:06] wxchan commented on #221
sorry, it's a bug

a quick solution: install scikit-learn with `pip install scikit-learn` and re-install lightgbm python-package

[2017-01-16 08:20] Kyla0606 commented on #221
It's solved. Thanks.

[2017-01-16 08:20] #221 closed

[2017-01-16 09:32] coforfe opened #224 "[R] Submitting to CRAN?"
Hello,

What is the idea of submitting LightGBM to CRAN?.

Thanks,
Carlos.

[2017-01-16 09:41] gugatr0n1c opened #225 "[Question] what exactly does "is_umbalance" in binary tasks?"
Hi,

there is several way how to deal with umbalance tasks. What exactly does this parameter here?

Some sampling?
Different objetictive/metric? Precision, Recall, Fscore? (Seems to be always logloss).
Something different?

In docs, there is only:
**is_unbalance, default=false, type=bool
used in binary classification. Set this to true if training data are unbalance.**

Can you describe it more in

[2017-01-16 09:46] wxchan commented on #225
if is_unbalance = true, weight of each positive sample / weight of each negative sample =  num_negative_sample / num_positive_sample

[2017-01-16 10:30] geoHeil opened #227 "categorical with high levels"
When running lightgbm with support for categorical variables I see the following warning
`[LightGBM] [Warning] Too many categoricals are ignored,                    please use bigger max_bin or partition this column` it would be great if lightgbm would tell me the name of the problematic column.

[2017-01-16 11:01] Laurae2 commented on #224
Currently we need to have a stable release first. Then we also need to check if the package can be compiled on any OS, including exotic ones (Solaris, etc.).

After it will be [submitted to CRAN](https://github.com/Microsoft/LightGBM/issues/19#issuecomment-271212946) once we reach that level and a good documentation of the R package (currently the doc is sparse about parameters and their impacts).

[2017-01-16 11:15] Laurae2 commented on #219
@geoHeil Can you provide 10 lines of your dataset? (you can change all values of the lines, it doesn't matter for us). Use `dput` on the 10 first rows, or use `str` and paste the structure of the data so we can exactly reproduce the minimal example you have.

Run also `sum(is.na(d))` and paste the result.

N.B: `categorical_feature` should take an index starting from 0 (like 0 = feature 1, 50 = fe

[2017-01-16 13:16] geoHeil commented on #219
@Laurae2

http://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
The dataset used to demo the problem is public domain and can be downloaded as mentioned above.

Regarding your questions:
[code]

your proposed feature argument change results in a call of lgb like
[code]
instead of calling the colums by name. But that wont work for me either.

[2017-01-16 15:14] Laurae2 commented on #219
@geoHeil Please check #228 for my fix. Thanks for reporting the issue, I think I fixed it.

Install it with: `devtools::install_github("Laurae2/LightGBM", subdir = "patch-5")`

On the PR228 page, there is code to run, but you can take your code but make sure you use this to start all IDs with 0:

[code]

Then, you do like you want to use categorical_features. Such as:

[code]

Check below, but it'

[2017-01-16 15:21] Laurae2 commented on #217
See #228 for two examples. There is a bug about categorical features in R which is fixed in that PR.

[2017-01-16 18:16] geoHeil commented on #219
Since it is merged I assume installing from `devtools::install_github("Microsoft/LightGBM", subdir = "R-package")` should be fine as well.

Do I understand correctly that setting `colnames=TRUE` for `lgb.Dataset()` is not required to use **named** categorical columns?

@Laurae2 thanks for the fix. It works now.

Unfortunately, I will not get binary error `< than 0.106148` whereas a simple `randomF

[2017-01-16 18:38] Laurae2 commented on #219
@geoHeil

I pushed one more fix in #229, you can also install it via install_github. But that fix is if you are a user who uses wrong column names, and doesn't impact the end user

You don't need to use `colnames=TRUE`, instead you pass directly the names to `colnames` (or you have to update the names manually), You can always check by running in the R interactive prompt, like this:

[code]

Light

[2017-01-16 19:40] geoHeil commented on #219
Thanks. Will need to try that. Already played around with the hyper-parameters.

Meanwhile: I restarted R Studio and the issue that all predictions are 0.5 appeared again. After restarting a second time and cleaning its cache for the 3rd time
1) predictions are sane again (not 0.5 for all the data)
2) I get 0.234071+0.0339701 with is_unbalance=TRUE

[2017-01-16 20:03] Laurae2 commented on #219
I get `[213]: valid's binary_error:0.0979878+0.00762715` on your data with 5 folds for validation and manual hyperparameter tuning. A stochastic optimizer would push this much further than manual tuning.

[code]

If I change seed I can get `0.1019679+0.002719573` or similar numbers, so it can depend a lot on how the random splits are made but that's stable results.

[2017-01-16 20:51] #225 closed

[2017-01-16 20:51] gugatr0n1c commented on #225
thx

[2017-01-16 21:00] geoHeil commented on #219
Where can I find `Laurae::kfold(numericd$y, 5` this package? it does not seem to be on CRAN. Thanks for the tip. I should try https://sigopt.com which parameters would you recommend "most" i.e. they only support 10 parameters?

[2017-01-16 21:14] Laurae2 commented on #219
@geoHeil my package is here: https://github.com/Laurae2/Laurae

You can use CEoptim or DEoptim in R (for free, obviously) if you want to do feature selection and hyperparamter optimization (personally got better results with CEoptim, but DEoptim scales better with explicit parallelization).

For parameters, use this: https://github.com/Laurae2/Laurae/blob/master/R/LauraeML_lgbreg.R (make sure to d

[2017-01-17 03:10] linrio opened #230 "sklearn_examples.py runs error in python."
[](For bugs and unexpected issues, please provide the following information, so that we could reproduce in our system)

## Environment info
Operating System: Win64
CPU: intel core i5

## Error Message:
D:\Program Files (x86)\Anaconda\setup\anaconda\lib\site-packages\pandas\core\frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats

[2017-01-17 06:29] Kyla0606 opened #231 "There comes an error when I set the weights"
I used the following example code in https://github.com/Microsoft/LightGBM/blob/master/docs/Python-intro.md:
`data = np.random.rand(500,10) `
`label = np.random.randint(2, size=500)`
`w = np.random.rand(500, 1)`
`train_data = lgb.Dataset(data, label=label, weight=w)`
`param = {'num_leaves':31, 'num_trees':100, 'objective':'binary' }`
`num_round = 10`
`bst = lgb.train(param, train_data, num_round)`

[2017-01-17 06:30] wxchan commented on #230
Warning is not error. Just ignore it. I will fix it later.

[2017-01-17 06:42] wxchan commented on #231
`w = np.random.rand(500, 1)` -> `w = np.random.rand(500, )`

[2017-01-17 07:01] Kyla0606 commented on #231
Gotcha, thanks.

[2017-01-17 07:01] #231 closed

[2017-01-17 13:49] spedygiorgio opened #233 "poisson regresson in lightgbm"
Thank you really very much for your amazing package!
Any plans to introduce:
a. poisson regression as objective?
b. Offset parameter like in poisson regression?

This would permit to handle variable exposure observations in count regressions

[2017-01-17 21:18] coforfe commented on #224
Sorry, thanks for your reply and clarifications.
If I see the possibility I could participate in creating a vignette for the package.

Thanks again,
Carlos.

[2017-01-18 00:48] #219 closed

[2017-01-18 03:24] linrio commented on #230
@wxchan Tks! Expecting a better version

[2017-01-19 07:12] #215 closed

[2017-01-19 07:12] guolinke commented on #227
@geoHeil OK, i think I can add this kind of warning.

[2017-01-19 07:12] #230 closed

[2017-01-20 10:43] cbecker opened #240 "are there tags / branches planned for versioning?"
It would be useful to have tags with alpha/beta releases of LightGBM, so that projects that clone this repository can easily choose which version to checkout.

Right now I am using commit hashes, which is a bit cumbersome. Are there plans for the next release, and tagging it with a meaningful tag?

[2017-01-20 15:18] supdizh commented on #110
I have the same issue with 1)
nthread  is not working in both python vanila and scikit API.
it works in bin + train.conf, however.
my settings:
    param = {
             'task': 'train',
             'boost_type': 'gbdt',
             'objective': 'multiclass',
             'num_class': 3,
             'max_bin': 255,
             'learning_rate': 1,
             'num_leaves': 31,
             'v

[2017-01-20 15:27] guolinke commented on #110
@supdizh I just have a try. nthread works.
can you paste the full code ? especially for the use of parameters.

[2017-01-21 05:35] anddelu opened #242 "How to get every leaf preidction of every tree in a gbm tree?"
I want to use a gbm tree to get features for other models to use.
I know I can get a gbm tree prediction, but I want to get every leaf  prediction of every tree in a gbm tree in details. For example, tree A in a gbm tree, I want to know which leaf of A is  chosen to predict and the other leaves location in A.
please see the following picture:
![fb_gbdt1](https://cloud.githubusercontent.com/assets/

[2017-01-21 06:04] guolinke commented on #242
refer to https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#io-parameters.

Set "predict_leaf_index=true"

[2017-01-21 06:04] #242 closed

[2017-01-21 09:35] supdizh commented on #110
@guolinke never mind.
stranglely the exact code works now

[2017-01-21 14:44] Allardvm commented on #45
Closing this issue, since we now have a functional Julia package.

[2017-01-21 14:44] #45 closed

[2017-01-22 01:13] yanyachen opened #243 "Bugs in lgb.Predictor of R package"
In the current R package, the reshape and predleaf arguments is not functioning as hoped.

1. reshape
[code]

2. predleaf
[code]

[2017-01-22 01:41] linrio opened #245 "Running R-package on Rstudio error."
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Win10
CPU: Intel Core i5
C++/Python/R version: R version x64 3.3.2, Rtools version: Rtools 34

## Code:
'
#install.packages("devtools")

[2017-01-22 07:03] cnglen opened #246 "gridsearchcv() freezes?"
Sometimes(When the param_grid is large) GridSearchCV() freezes.
Each process use CPU 0%. I have to kill it by C-c C-c.

## Environment info
Operating System: Linux
CPU:
C++/Python/R version: Python

[2017-01-22 07:22] wxchan commented on #246
try with smaller data or fewer parameters

[2017-01-22 07:24] wxchan commented on #246
there is a gridsearch example in examples/python-guide/sklearn_example.py, can it work on your machine?

[2017-01-22 13:44] guolinke commented on #245
@linrio can you install successfully in command line?

[2017-01-22 13:44] #243 closed

[2017-01-22 16:50] #207 closed

[2017-01-23 02:17] cnglen commented on #246
It works for small data  or small parameters.
Maybe the data is too large.
Finally: I set n_jobs=1.

[2017-01-23 02:21] minimaxir opened #248 "[R] Feature importance"
Feature importance appears to be available in the core binary and accessible by the Python API, but not via the R API.

Is there a way to work around this?

[2017-01-23 06:57] yanyachen opened #249 "Rawscore Prediction in R package"
I tried predict.lgb.Booster method in R package for prediction with and without setting rawscore=TRUE.
But the prediction results can't verify each other.
Could someone explain this a little bit? Maybe I understand it wrong.

[code]

[2017-01-23 07:19] yanyachen opened #250 "Parsing the tree model json dump into a data.table structure"
I think it would be great if we can parse the model object to a data.table structure, so that we can compute advanced feature importance and interaction from it.

I have implemented a simple version in R for doing that, the output is similar to the xgboost::xgb.model.dt.tree function.

But it require several packages as dependencies (Imports): jsonlite, data.table, magrittr.
I use jsonlite to pars

[2017-01-23 09:54] cbecker opened #251 "crash with new version"
I am experiencing a crash when running a simple test case, which seems to be due to commit https://github.com/Microsoft/LightGBM/commit/4948dcc5f1da21e572b283e9ffd3035308055998

I haven't had time to debug it yet, but this is what I get
[code]

when running the code here http://pastebin.com/xyhJ97YM

I will take a second look later, but I wanted to leave it here for reference. Maybe this test coul

[2017-01-23 10:43] guolinke commented on #251
Thanks!
have fixed, you can try it again.

[2017-01-23 10:43] #251 closed

[2017-01-23 10:44] guolinke commented on #249
@yanyachen
fix this at latest version.
However, ```Logit(prob) == logodds``` this may is still not True, due to precision problem.

[2017-01-23 10:44] #249 closed

[2017-01-23 10:45] #217 closed

[2017-01-23 10:58] guolinke commented on #227
fixed in latest version.

[2017-01-23 10:58] #227 closed

[2017-01-23 11:00] guolinke commented on #240
@cbecker good suggestion. I will try to make it.

[2017-01-23 11:01] guolinke commented on #250
@yanyachen I think it is ok.
welcome to create PR.

[2017-01-23 11:40] Allardvm commented on #211
Just chiming in to note that, although comparing performance with XGBoost set at `tree_method = hist` and `grow_method = lossguide` seems fair, we should keep in mind that XGBoost has some additional processing to handle missing values (see https://github.com/Microsoft/LightGBM/issues/122). This can have a rather large impact on performance, so we shouldn't expect XGBoost to come out on top in ter

[2017-01-23 11:45] guolinke commented on #211
@Allardvm The most of time cost in histogram algorithm is the histogram building.
The best split finding in histogram actually cost very small.
So even with two round best split finding, it actually doesn't impact much on speed.

[2017-01-23 11:46] Laurae2 commented on #211
@Allardvm for a feature, xgboost only tests NA values aggregated against lowest and highest value. It's negligible, even with 99% sparsity.

[2017-01-23 21:38] mangstad opened #252 "Using R: api error: Training data only contains one class"
I installed LightGBM in R on Linux (Ubuntu 12.04). Everything installed fine.

When trying to run a simple test on my data, I encountered the following error:
`
Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_data,  :
  api error: Training data only contains one class
`

Tracked it down to happening when explicitly constructing the lgb.Dataset object (the error doesn't h

[2017-01-24 04:42] cnglen opened #254 "How does lgb handles category features internally?"
two questions:

1. How does  lgb handles category features internally?

2. How does  lgb handles "null"?  Like xgboost? Try split left and right, and chooses the best one?

Thanks.

[2017-01-24 15:59] yanyachen commented on #250
Close this issue, since PR #253 merged

[2017-01-24 15:59] #250 closed

[2017-01-25 02:41] henry0312 commented on #233
Please give me the definition of poisson regression as objective.
When I have free time, I'll add if possible.

[2017-01-25 03:30] henry0312 opened #259 "Categorical feature support with string"
Currently, LightGBM supports categorical feature with only int type.
Is it possible (and easy) to support not only int type but also strng?

[2017-01-25 03:33] guolinke commented on #259
@henry0312 It will increase complexity of IO part.
Actually, we are refining the support of categorical features.
Will come out a better solution in next release.

[2017-01-25 03:35] minimaxir commented on #248
Implemented in PR https://github.com/Microsoft/LightGBM/pull/257/commits/2d8af6dfc807645bae51122268e236a79a9cfddf

Tested it and it looks great!

[2017-01-25 03:35] #248 closed

[2017-01-25 03:36] henry0312 commented on #259
Hum, I see.
I'm looking forward to the nex release :)

[2017-01-25 03:36] #259 closed

[2017-01-25 09:27] #240 closed

[2017-01-25 09:47] henry0312 opened #261 "Need much more tests"
It's necessary to write much more tests to keep the quality of LightGBM.
I can contribute to python-package.

TODO:

- [ ] Tests for C++
- [x] Tests for Python
- [ ] Tests for R

[2017-01-25 20:43] spedygiorgio commented on #233
Hi thank you very much for your reply. I think that regarding point one you can have a look to xgboost "poisson regression" as objective [xgboost](https://github.com/dmlc/xgboost/blob/master/doc/parameter.md) (see also the max_delta_step_parameter). Regarding the offset parameter it depends:
a. the gbm r package has an offset parameter explicity,
b. the approach used in xgboost to obtain the same

[2017-01-25 21:12] miguelgfierro opened #263 "Log loss for regression"
I'm trying to replicate in LightGBM this code in XGBoost using the python API:

[code]
How can I implement the evaluation metric log loss?

[2017-01-26 03:52] chivee commented on #261
That will be great! Please help us on the test, and leveraging travis for a better release strategies. we are planing a better versioning for the release, so that the package users can stick to the stable version

[2017-01-26 03:56] chivee commented on #254
I'm not quite understand what you are asking.
the usage of LightGBM or how the LightGBM works?

category can be set at:
https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#io-parameters

[2017-01-26 06:29] henry0312 commented on #233
Is the loss definition this, right?
(from https://en.wikipedia.org/wiki/Poisson_regression)

![image](https://cloud.githubusercontent.com/assets/433434/22321980/2fee7e1a-e3dc-11e6-8a70-3319bc97ba71.png)

[2017-01-26 08:01] gugatr0n1c opened #264 "Error: unknow submodel type"
After upgrade LightGBM to latest version and calling model built with some of previous version I get error below. After downgrade of lib it is working again.

## Environment info
Operating System: LinuxMint
C++/Python/R version: Python3.5

## Error Message:
Traceback (most recent call last):
  File "predict.py", line 22, in <module>
    model = lg.Booster(model_file = workingDir + '/modely/model.t

[2017-01-26 08:03] guolinke commented on #264
@gugatr0n1c you can manually change the first line of your model to "tree" to adapt the latest code.

[2017-01-26 08:10] gugatr0n1c commented on #264
ok, thx

[2017-01-26 08:38] spedygiorgio commented on #233
I think so but I am not sure.

[2017-01-26 10:17] guolinke commented on #252
@mangstad
weird. I can run your code successfully...
Did you try to build with latest code?

[2017-01-26 10:19] guolinke commented on #263
@miguelgfierro
"eval_metric=binary_logloss"

[2017-01-26 10:19] #263 closed

[2017-01-26 11:18] Laurae2 commented on #233
@henry0312 Using that formula provides no direct solution. You need to go for negative log-likelihood so gradient descent can be applied.

Therefore, you would need an exponential and you end up with:

* Gradient: `exp(pred) - label`
* Hessian (gradient derivative by pred): `exp(pred)`

Due to `exp(pred)` as the hessian, stability issues can occur quickly, in both sides (low values or gigantic val

[2017-01-26 11:26] Laurae2 commented on #245
@linrio Rtools must be downloaded and installed manually (along with PATH setup correctly), not installed via `install.packages`.

Run this in an interactive R console and paste us the output:

[code]

The second call must give you `c:\Rtools\bin\make.exe` or anything similar.

[2017-01-26 14:46] mangstad commented on #252
I installed from github 20-30 minutes before submitting that issue, so it was the latest then. I'll try again today.

[2017-01-26 14:50] guolinke commented on #252
@mangstad How do you install it ?

[2017-01-26 15:29] mangstad commented on #252
As suggested in the readme in the R package folder
`devtools::install_github("Microsoft/LightGBM", subdir = "R-package")
`

[2017-01-26 15:39] guolinke commented on #252
maybe it is caused by ```Ubuntu 12.04```. I don't have environment to test.
can you run it successfully in other platforms?

[2017-01-26 18:58] yanyachen commented on #252
I had same problem when I was using Ubuntu 14.04.
You can solve it by restarting your R session, at least that works for me.
But I can not reproduce that error with latest code for now.

[2017-01-26 20:29] mangstad commented on #252
Restarting the session didn't do anything. However, I just reinstalled from github, and apparently one of the commits in the past couple days must have fixed this as I no longer get the error.

[2017-01-26 23:36] #252 closed

[2017-01-27 06:47] modkzs opened #267 "predict result doesn't change with fobj each iter"
I try to use lightgbm with following fobj:
[code]

but predict result doesn't change each iter. I try to print grad and hess, none of them is 0.

when I use this fobj with init_model, it runs well.

[2017-01-27 11:46] guolinke commented on #267
@modkzs
Did you mean the training loss is always same with iteration goes?
Can you also paste full code?

[2017-01-27 14:13] aussetg opened #268 "CV doesn't work in Python with a custom objective."
## Environment info

Operating System: macOS 10.12.2 ( Darwin (x86_64-apple-darwin16.0.0) )
CPU:  Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz
C++/Python/R version: gcc-6 / Python 3.5.2 :: Anaconda custom (x86_64)

## Error Message:

[code]

## Reproducible examples

Take `advanced_example.py` and replace:

[code]

by

[code]
## Steps to reproduce

Run the python file, it will crash.

[2017-01-27 14:44] wxchan commented on #268
It's indeed a bug. Fix in #269 . Thanks for your report.

[2017-01-27 14:48] #268 closed

[2017-01-27 14:55] wxchan commented on #261
Adding some tests on multi-class and lambdarank tasks will be great.

[2017-01-27 16:30] geoHeil commented on #130
How can I set `is_sparse` via sklearn?

[2017-01-28 09:16] modkzs commented on #267
@guolinke Yes, training loss is same. So I compare predict result each iter, and it doesn't  change, too. The full code it very long, so I can paste code related with lgb:

[code]

I try many params but result doesn't change. So it seems useless to paste params.
PS: this fobj and fevl can act will with xgboost

[2017-01-29 08:33] wxchan commented on #267
log can be controlled by:
1. 'verbose' in params, c++ log, -1 disables all
2. verbose_eval in train(), python log, False disables all

can you also paste your log of lightgbm and xgboost so we can see the difference? you might provide a sample data to reproduce such issue if possible.

btw, is this fairobj same as built-in fair objective?

[2017-01-30 11:52] geoHeil opened #271 "predict probabilities parameter clarification"
What is `num_iteration` parameter used for when predicting probabilities via the sklearn API?

[2017-01-30 12:49] geoHeil opened #272 "predicted probabilities are almost the same for each class"
When calling `lgb.predict_proba(X_new)` I get the following result. As you can see, there are almost the same probabilities for the histogram.
![lightgbmexploration](https://cloud.githubusercontent.com/assets/1694964/22423110/337fa114-e6f0-11e6-90f2-e02fbe1082b8.jpg)

When setting `raw_score=TRUE` do I understand correctly that this would give me the values before the logit transformation?

![down

[2017-01-30 16:29] #233 closed

[2017-01-30 16:32] guolinke commented on #271
@geoHeil It is the trained number of iterations(trees) you want to predict with.
e.g. if num_iteration==2, it will use the tree trained of first 2 trees to predict for non-multi-class task, and use first 2*num_class  trees for  multi-class task.

[2017-01-30 16:32] #271 closed

[2017-01-30 16:35] geoHeil commented on #271
@guolinke  But usually I would want to predict with all the num_iterations trained for binary classification?

[2017-01-30 16:36] guolinke commented on #271
@geoHeil
If you want to used all of them, just keep num_iterations as default value.

[2017-01-30 16:38] geoHeil commented on #271
@guolinke so do I understand correctly that: `def predict_proba(self, X, raw_score=False, num_iteration=0):` from https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py will use **all** trees to form a prediction?

What is the reason to use less trees?

[2017-01-30 16:38] guolinke commented on #272
I think it will output probabilities, not 0/1 if using predict_prob.

@wxchan  do you have any idea?

[2017-01-30 16:40] guolinke commented on #271
@geoHeil
Yes, it will use all of trees.

There are many reasons to use less trees, e.g. too much trees may cause over-fitting .

[2017-01-30 16:41] #246 closed

[2017-01-30 16:47] spedygiorgio commented on #233
Thanks, BTW are also you planning to support offset?

Il lun 30 gen 2017, 17:29 Guolin Ke <notifications@github.com> ha scritto:

[2017-01-30 16:58] Laurae2 commented on #233
@spedygiorgio It is already supported. You must use the bias (initial score in LightGBM).

Do remember in the case of Poisson regression + non-linear model to modify accordingly either the label or the bias.

Let's suppose you have claims and account count, either is right:

* `y = claims/accounts`, `x = ...`
* `y = claims`, `x = ...`, `base score = log(accounts)`

[2017-01-30 17:11] geoHeil opened #274 "lightgbm get colnames"
How can I access the col names of a trained lightgbm model?

`LightGBM] [Warning] Ignoring Column_3 , only has one value`

I.e. find out what the name of the column called column_3 is in the python API?

[2017-01-30 19:12] Laurae2 commented on #272
Without knowing your data, your output seems normal. The model is apparently very good at separating classes 0 and 1 with only one tree (the predicted values are not 0 and 1, a sigmoid can't predict 0 and 1 unless the values are negatively/positively infinite), and therefore with 200 trees it attempts to calibrate the probabilities to minimize the logarithmic loss (if you use binary classification

[2017-01-30 19:32] geoHeil commented on #272
@Laurae2 thanks for that input. Indeed values are around 0.9 and not 1 respectively the same for 0.1 and not 0.

Why would I train for 1000 and evaluate only on 500? Isn't tree based pruning more efficient here or a max_depth limit?

[2017-01-30 19:43] Laurae2 commented on #272
@geoHeil boosting is an ensemble prone to overfitting which must be controlled using a separate validation dataset. For instance, if you know from the validation evaluation metric you are overfitting past 500 trees (whatever your other parameters are, it does not matter), you would rather avoid predicting more than 500 trees to have the optimal model according to the validation evaluation metric.

[2017-01-30 19:46] geoHeil commented on #272
Thanks for this great writeup.

[2017-01-30 19:47] #272 closed

[2017-01-31 02:05] henry0312 commented on #261
I start with python-package from today :)

[2017-01-31 03:04] wxchan commented on #274
you can use `Booster.dump_model()['feature_names']` for now, we might provide better api in the future.

[2017-01-31 17:23] minimaxir opened #276 "[R] categorical_features not respected during model training/testing?"
* Models are exact same with/without setting categorical variables.
* Doesn't matter if using `categorical_feature` parameter for `lab.Dataset()` or using `lgb.Dataset.set.categorical`.
* Categorical model uses `no_greater` for decision instead of `no_equal`?
* `categorical_feature` appears as `NULL` for the training dataset after model is trained

---

## Setup

[code]

## W/O Categorical

[code]

[2017-01-31 17:59] minimaxir commented on #276
Can apparently be worked-around by passing `categorical_feature` directly to `lgb.train`.

[code]

[code]

[2017-02-01 12:29] geoHeil opened #277 "crash of lightgbm binary"
The lightgbm binary will crash without any notice.
## Environment info
Operating System: 10.12.3 (happened on 10.12.2 as well)
CPU:
MacBook Pro (Retina, 15', Mitte 2014), 2,5 GHz Intel Core i7
C++/Python/R version:
- current master branch for lightgbm
- python 3.5.2 (Python 3.5.2 :: Anaconda custom (x86_64))

## Error Message:
none present

## Reproducible examples
- https://github.com/geoHeil/lig

[2017-02-01 13:26] wxchan commented on #277
num_leaves = 2000000??? out of memory

[2017-02-01 14:27] geoHeil opened #278 "plotting with column labels"
Using the sklearn API I can fit a lightGBM booster easily. If the input is a pandas data frame the `feature_names` attribute is filled correctly (with the real names of the columns). It can be obtained via `clf._Booster.dump_model()['feature_names']`

But when plotting it like `lgb.plot_importance(clf, figsize=(14,15))`
![download](https://cloud.githubusercontent.com/assets/1694964/22508997/8dd893

[2017-02-01 14:28] geoHeil commented on #277
Well my bayesian optimization tool was trying a lot of value combinations.

[2017-02-01 16:04] #274 closed

[2017-02-01 16:05] geoHeil commented on #277
45000 seems to work as a maximum.

[2017-02-01 16:05] #277 closed

[2017-02-01 16:17] wxchan commented on #278
I plan to refine a better api for getting feature name, then work on this.

[2017-02-01 16:38] wxchan opened #279 "refine Documents"
- [x] check or unify formats, typos, words, grammars, punctuations and etc.

**python-package**:

- [x] auto update with docstrings

**R-package**:

- [x] add R docs

[2017-02-02 10:32] wxchan commented on #279
@guolinke can you add a `call-for-contribution` tag here?

[2017-02-03 16:01] wxchan commented on #278
@geoHeil you can try latest codes now. I think seaborn depends on matplotlib, does it have additional feature (matplotlib does not have)?

[2017-02-03 17:27] geoHeil commented on #278
Yes nice looking plots out of the box. ;)
wxchan <notifications@github.com> schrieb am Fr. 3. Feb. 2017 um 17:03:

[2017-02-05 02:58] #278 closed

[2017-02-05 03:03] guolinke commented on #276
@wxchan it seems ```categorical_feature``` in lgb.Dataset has some bugs.
Can you help to check this ?

[2017-02-05 04:17] JackStat opened #283 "Add option to keep cv predicted values"
Forgive me if I missed something but I have review the code and documentation and didn't see a way to keep the cv probabilities.

[2017-02-05 06:32] wxchan commented on #276
@guolinke I am not so familiar with R.

[2017-02-05 06:33] guolinke commented on #276
@wxchan sorry, I thought it is python package problem...

[2017-02-05 06:38] #276 closed

[2017-02-05 06:39] guolinke commented on #276
@minimaxir fixed, can you try it again?

[2017-02-06 02:55] cnglen commented on #254
@chivee
How the LightGBM works? (for category features)

[2017-02-06 14:08] jianqin123 opened #284 "how to customize the metric function in lightgbm such as ks?"

[2017-02-06 22:01] maxxfan opened #285 "multiclass_classification prediction score, how is it calculated?"
May I ask some questions about multiclass prediction process?

For multiclass_classification example, the prediction result LightGBM_predict_result.txt looks like:
0.35487178523191665     0.27813394980323153     0.11328126210446009     0.059019174521813413    0.19469382833857823
0.092846988782339712    0.13315247488950777     0.23752461867816194     0.2414290772499664      0.29504684040002416
0.13

[2017-02-07 10:46] Laurae2 commented on #284
For custom evaluation metric:

* Python: https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py
* R: https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/early_stopping.R

[2017-02-07 11:01] Laurae2 commented on #285
Q1: I take your example, in bold is the class predicted with the highest probability:

| Class 1 | Class 2 | Class 3 | Class 4 | Class 5 |
| --- | --- | --- | --- | --- |
| **0.35487**... | 0.27813... | 0.11328... | 0.05901... | 0.19469... |
| 0.09284... | 0.13315... | 0.23752... | 0.24142... | **0.29504**... |
| 0.13632... | 0.21393... | **0.29558**... | 0.22153... | 0.13261... |

By default it i

[2017-02-07 11:23] vruusmann opened #287 "Continuous features can have incorrect bounds in the text file"
I'm using the HEAD version of the master branch to train a poisson regression model.

On line 2216 of my input CSV file I have a data record where `hhnInc=0.0149999996647239`:
https://github.com/jpmml/jpmml-lightgbm/blob/master/src/test/resources/csv/Visit.csv#L2216

However, in the resulting LightGBM text file the bounds of `hhnInc` feature are recorded as `[0.015, 25]`:
https://github.com/jpmml/

[2017-02-07 11:36] vruusmann commented on #287
The output when introducing `print(visit_X.as_matrix()[2215])` into the above example:
[code]

So, the rounding appears to take place inside the LightGBM library (as opposed to Pandas or Numpy libraries).

[2017-02-08 07:12] wxchan commented on #287
It happens in Common::Atof, it parses 0.0149999996647239 as 0.015. Not sure how to fix it.

[2017-02-08 07:58] wxchan commented on #287
You can add `str_buf.precision(20);` for example before https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/bin.h#L169 to see more decimal places. I am not sure what's the default precision here.

[2017-02-08 08:17] yanyachen opened #288 "Add params to Booster object for feature contribution computing"
To implement the idea described at http://blog.datadive.net/interpreting-random-forests/, I think it's necessary to add params to Booster object (public or private?) so that we can scale down the raw prediction (e.g. log odds) of each node/leaf to get the real prediction (e.g. probability).

Does this sound a reasonable change to you @guolinke ? If so, where do you prefer to add the params to Boos

[2017-02-08 08:27] vruusmann commented on #287
The main question is:

1. Does the "round up" happen when importing data? If so, then LightGBM decision tree algorithm sees `hhnInc=0.015`.

or

2. Does the "round up" happen when serializing the trained model into text file? If so, then LightGBM decision tree algorithm sees `hhnInc=0.0149999996647239`.

I would be slightly more concerned about the first scenario, because it means that all `hhnInc

[2017-02-08 08:34] wxchan commented on #287
it happens in serializing.

[2017-02-08 20:04] yanyachen commented on #288
Sorry, another question.
Is there anyway to get the learning_rate of each tree? The learning rate may change along training process if using reset_parameter.

[2017-02-09 09:20] wxchan commented on #288
to get the learning_rate of each tree:

![figure_1](https://cloud.githubusercontent.com/assets/13624043/22776685/94557902-eeeb-11e6-9b58-250ddbf371bf.png)

the learning rate is multiplied to leaf value, so `learning_rate = (left leaf value * left leaf count + right leaf value * right leaf count)/(interval value * interval count)`

for figure above, learning_rate = (0.058523409363745504*1666 + 0.08

[2017-02-10 17:19] quadpartisan opened #292 "lambdarank"
Any examples on the setup (query/group) for lambdarank with R ? Can't seem to get this right after much trying ...

[2017-02-10 20:32] travisbrady commented on #37
Related question: do the labels in the input file obey the "higher is better" rule as well?
Pardon me if that's a silly question.

[2017-02-12 07:09] jianqin123 commented on #284
thanks a lot

[2017-02-12 07:09] #284 closed

[2017-02-13 06:36] bighaidao opened #293 "MPI parallel_learning support csv ?"
Hi ,I  have a problem  with MPI data format . could MPI train  support csv ?

[2017-02-13 08:58] bighaidao opened #294 "Parallel socket version problem : Connection timed out"
hi, when I use LightGBM  Parallel socket version,I have a  problem with it .And then only run on a machine.

but it is ok when I  use the Parallel MPI version .
Could anyone help me ?Thanks

[2017-02-13 09:41] kevinzhangguangjin opened #295 "Is There any way to translate the dt.tree to 'if-else' like statement?"
Is There any way to translate the dt.tree to 'if-else' like statement?

with tree number and detail rules.

[2017-02-13 15:53] kevinzhangguangjin opened #296 "Plans to support export PMML model in R package?"
It would be great to do this directly in R.

[2017-02-13 17:26] wxchan commented on #296
I guess you can use https://github.com/vruusmann/jpmml-export. @vruusmann

[2017-02-13 18:26] vruusmann commented on #296
The current working codebase is located at https://github.com/jpmml/jpmml-r

I did a few steps in this direction but got stuck with a problem that LightGBM's R wrapper object is not a "pure" R object (eg. a list), but some environment-type R object:
[code]

Such environment-type R objects are very difficult to (re-)use on other platforms.

On Java platform, the LightGBM-to-PMML conversion logic is

[2017-02-13 21:42] Laurae2 commented on #296
@vruusmann Can you write on a temp file using `lgb.save` in R to dump it for jpmml-r? It (should be) is the model file re-usable elsewhere.

You are right it is an environment-type object and not a list, and it is difficult to get to the internals of it (unlike xgboost). That's mainly due to the OO style.

Demo for dumping to a temp file and reading it in R right after in the temp folder:

[code]

[2017-02-13 22:50] vruusmann commented on #296
@Laurae2 Any plans for making `lgb.Booster` object "stateful"?

Currently, the RDS serialized form of `lgb.Booster` object does not hold the description of the model. It is assumed that this RDS file is shipped together with an LightGBM text file, and the `lgb.Booster` object is initialized by doing `lgb.load(filename)`.

Why not embed the LightGBM text file directly into the RDS serialized form o

[2017-02-14 02:43] guolinke commented on #294
Did you check the firewall rule?

[2017-02-14 02:45] guolinke commented on #293
If you can run it in single machines, it should work fine in MPI as well.

[2017-02-14 02:48] guolinke commented on #283
@JackStat
I think a simple solution is saving all cv models. Then get the predictions by these models.
Welcome to contribute for this, I think it is easy to implement.

[2017-02-14 02:49] guolinke commented on #285
@Laurae2 Thanks for the detailed explanation 👍

[2017-02-14 02:49] #285 closed

[2017-02-14 02:52] guolinke commented on #292
@quadpartisan
when you create a ```lgb.Dataset``` class, you can pass parameter ```group``` to specific your group data.

[2017-02-14 02:52] #292 closed

[2017-02-14 02:55] guolinke commented on #288
@yanyachen
I think the solution provided by @wxchan can solve your problem without add additional parameters.

[2017-02-14 02:55] #288 closed

[2017-02-14 04:15] JackStat commented on #283
Absolutely.  I looked through the code and thought that would be a good strategy as well but I could not find an object that had the holdout data.frame.

So it looks like this chunk creates the 3 boosters (assuming 3-fold cv)

[code]

Then you can run something with `lapply` to get predictions from each booster using `bst_folds[[1]]$booster$predict`  Now I just need to know where the cv data.frame

[2017-02-14 05:53] bighaidao commented on #294
@guolinke
 I fix this problem with  updating libfabric  to 1.4 version.
But  Ｉ still have problem whit socket version. As the step it  still  run just in one machine.
the log like this

[LightGBM] [Info] Local rank: 0, total number of machines: 1
[LightGBM] [Info] Finished initializing network
[LightGBM] [Info] Finished loading 100 models
[LightGBM] [Warning] File libsvm.bin existed, cannot save b

[2017-02-14 05:56] guolinke commented on #294
@bighaidao did you set the ```tree_learner``` ?

[2017-02-14 11:31] Laurae2 commented on #296
@guolinke perhaps a rework of the R6 booster class might be needed (ex: [xgboost](https://github.com/dmlc/xgboost/blob/master/R-package/R/xgb.Booster.R) - for better flexibility/extensibility), what is your opinion on this?

This would cause to remove the environment-style (object oriented) and add the booster as an argument to all the public/private functions needed (these functions would become

[2017-02-14 11:49] vruusmann commented on #296
My request for more "statefulness" was based on my previous experience with converting XGBoost model objects.

The state of an `xgb.Booster` object:

- `xgb.Booster$raw` - A byte array, which contains the persistent state of an XGBoost model in XGBoost proprietary data format.
- `xgb.Booster$handle` - A pointer to an in-memory Booster object that has been initialized based on the above byte array.

[2017-02-14 11:58] vruusmann commented on #296
@guolinke @Laurae2 How about "downgrading" from R6 classes to S4 classes? Could preserve the current object-oriented API approach, while becoming more approachable for outside users. IIRC, one can explore the "contents" of S4 classes in RStudio pretty easily.

[2017-02-14 22:17] yanyachen commented on #288
Yes, it solved my problem. Sorry, I forgot to close the issue.

[2017-02-15 04:11] extremin opened #297 "Is there a plan to support time series splitting when using cv?"
Is there a plan to support time series splitting when using cv？like the new splitting strategy of  sklearn below
http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

[2017-02-15 05:14] wxchan commented on #297
I think it's not a key feature. You can use sklearn.model_selection.TimeSeriesSplit to split data and train with lightgbm.

[2017-02-15 05:32] extremin commented on #297
Thx for your reply.I just think it's useful when dealing with time series data and we can get the best CV iteration easily using earlystopping.

[2017-02-15 05:36] #297 closed

[2017-02-15 05:53] wxchan commented on #297
We can do like this:

- [ ] add an argument called data_splitter for example to lightgbm.cv, it takes a Class instance with split() method
- [ ] update document
- [ ] add a test case

are you interested in implementing it? You can reopen this thread.

[2017-02-15 06:50] kevinzhangguangjin commented on #296
Thanks @vruusmann @Laurae2 @wxchan @guolinke .
It seems stuck in the R6 classes "extraction" and no other option so far to get this done directly in R .
I saw Python approach is available but I did suggest to do this in R because R is more and more popular and PMML is easy to deploy .

[2017-02-16 01:23] bighaidao commented on #294
@guolinke  yes . tree_learner = feature  just as the parallel_learning example train.conf .

I just modify the data path  and the last
[code]

[2017-02-16 01:43] guolinke commented on #294
@bighaidao
From your log.
I think the ```num_machines``` is parsed to ```1``` in LightGBM.
I think it should not happen since you set it to ```2```.
Can you paste your scrpits?

[2017-02-16 02:05] bighaidao commented on #294
@guolinke

hi,this is the conf
[code]

and  this is my comand
`../../lightgbm config=zlj_train.conf`

[2017-02-17 01:08] mratsim opened #299 "Early stopping in a Scikit Pipeline"
I use LGBMClassifier as the last step of a Pipeline which works great.

However I am unable to use early stopping.
Early stopping needs "eval_set" to be set, but there is no way to easily reapply the pipeline transformation to eval_set.

For example, this code would not work because LGBMClassifier does not implement the transform method:
[code]

I see two potential solutions to this:

1. Implement

[2017-02-17 05:23] wxchan commented on #299
`transform` is deprecated in [`sklearn.ensemble.GradientBoostingClassifier`](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier.transform), what will happen if you use it in pipeline?

[2017-02-17 12:22] mratsim commented on #299
The transform method of `sklearn.ensemble.GradientBoostingClassifier` is actually selecting the top features from the train data and returning only that. My first proposal would be to have transform being an identity function.
Proposal 1 might actually be something to resolve/clear up upstream though: "How to apply Pipeline transformations without the last classifier step to a validation set"

Jus

[2017-02-19 22:11] anupkotalwar opened #301 "Parallel training in R"
Hello,

Is there way to perform parallelize training using R wrapper?

Thanks,
Anup

[2017-02-19 22:25] minimaxir commented on #301
Use the `num_threads` parameter. You can verify that the training is indeed parallel by observing Task Manager/Activity Monitor.

[2017-02-19 22:31] anupkotalwar commented on #301
How can we configure to run it on multiple machines?

[2017-02-20 00:50] guolinke commented on #301
@anupkotalwar
Currently, R/python package doesn't support parallel learning.
You can use CLI version instead.

[2017-02-20 00:50] #301 closed

[2017-02-20 00:52] guolinke commented on #294
@bighaidao
I found "[LightGBM] [Info] Finished loading 100 models" in your log, but I cannot find "input_model" in your config.
I wonder is this config the real one you used?

[2017-02-20 01:41] zhangyafeikimi commented on #295
Yes, not a very hard work.

[2017-02-20 04:31] guolinke commented on #211
close now. will give a new comparison based on LightGBM v2.

[2017-02-20 04:31] #211 closed

[2017-02-20 06:56] Travis-Xiao opened #304 "Output message: "No further splits with positive gain, best gain: -inf""
The training log always output "No further splits with positive gain, best gain: 0.000000"
or "No further splits with positive gain, best gain: -inf, leaves: 22".
Although the final accuracy is good, I doubt the training has some problem. Is there any training parameter not appropriate for multiclass classification? Thanks.

## Environment info
Operating System: Windows10
CPU: Intel(R) Xeon(R) E5-

[2017-02-20 08:42] wxchan commented on #304
It's normal. Try larger dataset.

[2017-02-20 08:42] wxchan commented on #299
Would you like to submit a pr for this issue?

[2017-02-20 12:07] mratsim commented on #299
@wxchan Thank you for your follow-up.

After extensive talking with @Laurae2, I think both solution 1 and 2 should not be done at LightGBM level.

## For solution 1  - Implement a dummy `transform` method:
- This would be a workaround upon a lack of functionality in `sklearn` Pipeline API. Most classifiers even in sklearn do not have a `transform`. And for those that do have (Decision Trees and va

[2017-02-20 12:55] jpison commented on #294
Are you using Red Hat or Fedora?

It could be an openmpi problem..

Look at this:   https://bugzilla.redhat.com/show_bug.cgi?id=1408316

[2017-02-20 16:58] cbecker opened #305 "Segfault due to overflowing int with large datasets"
There is at least one overflow issue when using the C api with large datasets. What seems to happen is that int overflows, indexing with negative values, for example at https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L998

I suspect there are multiple other places where this happens. I will take a look this week at fixing this issue, but this is also a warning against using `int` f

[2017-02-20 17:46] cbecker opened #306 "[Question] Class balancing in multiclass setting"
I have a doubt about multiclass clasification: does LightGBM weights each class inversely proportional to the number of training samples in that class for training?

This is generally very important to balance training data, especially on very skewed datasets.

Related to this, if LightGBM is not doing this automatically, can this be achieved by setting the `weights` metadata for each sample? Than

[2017-02-20 18:28] kuraga opened #307 "Segmentation fault if df.shape[1] == 0 (no columns)"
## Version

https://github.com/Microsoft/LightGBM/tree/ea6bc0a5ba80195fc214495ade8c4bdff532535a

## Environment info

Operating System: Gentoo Linux
CPU: Intel Core i7
C++/Python/R version: GCC 4.9.4, Python 3.4.5, Pandas 0.19.2

## Error Message:

Segmentation fault

## Steps to reproduce

Construct data next way:

[code]

(train data has 0 columns). I don't know if Scikit Learn is important.

[2017-02-20 18:44] Laurae2 commented on #306
I think you can't use `is_unbalance` is multiclass problems, you have two solutions from that point:

* You use `weights  for each sample but this is not an appropriate solution as you will notice you can not apply several weights to a single observation
* You train n-class One vs All classifier (train each class vs all others bucketed in the same class = binary classification to repeat per class)

[2017-02-20 21:29] cbecker commented on #306
Thank you. My understanding is that, even if a 1-vs-all approach is used in training the trees, the overall loss being minimized can be interpreted as a global cost function, and the values in `weights` represent the weight for each value in this loss.

I would then expect that setting those weights (which are scalars as you said) would help generate a more balanced classifier. Is there something

[2017-02-21 00:53] guolinke commented on #305
@cbecker Thanks. I think using size_t for all loops is not need.
And omp loop doesn't support size_t either.
The overflows are often caused by the multiplication of two int.
I think fixing them is enough.

[2017-02-21 00:53] #304 closed

[2017-02-21 01:02] guolinke commented on #306
I thin the ```is_unbalance``` can be adapted into multi_class.

[2017-02-21 08:38] ytsaig opened #309 "Python-side subsampling"
I am trying to run the LightGBM training loop via the python API with custom logic for subsampling. In other words, instead of specifying `subsample` in the parameters to lightgbm, which would result in sampling over a uniform distribution, I would like to compute the sampled indices in each iteration and do an update step with subsampled data (a use case is clustered data, where sampling should a

[2017-02-21 08:47] guolinke commented on #309
@ytsaig what is the version of code you used?

BTW,
[code]
what is ```subsample```?  a sampled data?

https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L759

It should be the sampled row indices.

[2017-02-21 08:52] ytsaig commented on #309
@guolinke in python, `lightgbm.__version__` returns 0.1. I am running on ubuntu in python 3.5.2.

[2017-02-21 08:53] guolinke commented on #309
@ytsaig can you paste the output of ```git log``` in your lightgbm source folder?

[2017-02-21 08:55] ytsaig commented on #309
@guolinke sure, here are the first few lines:

commit 59c116fe5c6763e823ff6480e9bdaf75714b683a
Author: Guolin Ke <i@yumumu.me>
Date:   Sun Feb 5 14:37:38 2017 +0800

    fix #276

commit eef4d2d0c8097f9d21958a72d7118df9a71c7460
Author: wxchan <wxchan@users.noreply.github.com>
Date:   Fri Feb 3 14:38:47 2017 +0800

    refine plotting library (#282)

    * refine plot

    * use warnings

    * ref

[2017-02-21 08:57] guolinke commented on #309
@ytsaig  OK, i see.
Can you try to update to the latest code, and rebuild python package, then see what happens?
Thanks

[2017-02-21 09:08] ytsaig commented on #309
@guolinke thanks for the suggestion. I updated, and I'n not getting a segfault anymore. Now I get the following error:
[code]
I'm not sure why it would have different bin mappers since [Dataset.subset() sets reference = self](https://github.com/Microsoft/LightGBM/blob/10212b5f2477cfc2b6af5045ef3a2fd2998d1c0e/python-package/lightgbm/basic.py#L770).

[2017-02-21 09:27] guolinke commented on #309
can you try:

[code]

[2017-02-21 13:01] ytsaig commented on #309
@guolinke That seems to work, thanks! I'm curious, why keeping the subsets in an array makes a difference here?

For completeness, I created a [reproducible example](https://gist.github.com/ytsaig/f9a7963e62b3451004a8c1b1a3297950).

Finally, I'm wondering, if I wanted to have the sampling done on the C++ side by passing a list of indices and bypassing the bagging stage, what would be the recommend

[2017-02-22 13:06] dsl10brc opened #310 "link to lightgbm paper"
Can I get link to lightgbm algorithm paper just like we have xgboost algorithm paper (https://arxiv.org/pdf/1603.02754.pdf)?

[2017-02-22 13:07] guolinke commented on #310
The paper will release soon. stay tuned.

[2017-02-23 17:35] dragonfly90 opened #313 "doc error?"
https://github.com/Microsoft/LightGBM/wiki/Experiments#comparison-experiment

xgboost_hist (using histogram based algorithm): max_depth =0 ?

[2017-02-23 20:59] mratsim commented on #299
Closing, issue is raised with Scikit-learn.

[2017-02-23 20:59] #299 closed

[2017-02-24 01:28] guolinke commented on #313
the tree model of xgboost hist is not controlled by '''max_depth'''.
It is controlled by '''max_leaves'''.

[2017-02-24 01:28] #313 closed

[2017-02-24 01:32] guolinke commented on #309
@ytsaig
The reason is you should not free last used subset.
When resetting training data, lightgbm will compare the new data with the old one(last used subest).
If old one is freed, it will access the freed memory and cause error.

For the sampling, you can using '''bagging''' parameters. I think it is better than subset.

[2017-02-24 01:32] #309 closed

[2017-02-24 01:33] guolinke commented on #307
you want to train with no columns ?
@wxchan  can you add some checks for this ?

[2017-02-24 01:34] #293 closed

[2017-02-24 01:36] #245 closed

[2017-02-24 01:37] guolinke commented on #254
categorical features support is deprecated now.

[2017-02-24 01:37] #254 closed

[2017-02-24 01:40] guolinke commented on #89
@wxchan
in the latest commits, i update some omp loop strategy and gain some speed-up.
Can you test this in OS X and report the sys time ? Thanks

[2017-02-24 03:51] guolinke commented on #287
the feature bounds is not outputted in model file since LightGBM v2.
I wonder is this feature still needed?

[2017-02-24 04:11] guolinke commented on #305
@cbecker any updates?

[2017-02-24 07:59] wxchan commented on #307
No errors shown on my machine, with latest version.

[2017-02-24 08:37] anddelu opened #315 "Regularized Greedy Forest is not in the lightgbm"
I heard that Regularized Greedy Forest (RGF) have been used to win some kaggle competitions and it works better than gradient boosting  in some situations . Apparently, up to now, rgf is not included in lightgbm. I hope lightgbm can support it as soon as possible.

[2017-02-24 08:40] vruusmann commented on #287
Apparently, you've decided to drop the "feature information" section of the text file in LightGBM v2. What's the supposed replacement method/mechanism for obtaining descriptive information about features then?

There needs to be some sort of "model schema" information available:

- Feature operational type: continuous or categorical. Previously available by checking the "decision_type" attribute o

[2017-02-24 09:12] guolinke commented on #287
@vruusmann I see. will add it back.

[2017-02-24 09:22] guolinke commented on #296
I think downgrade to "S4" is not so easy for LightGBM.
lgb.Booster caches many buffers to store some score/prediction to avoid the repeated calculation. It is hard to achieve this by S4.

@Laurae2 Can we just add something like lgb.Booster$raw to achieve stateful?

[2017-02-24 11:40] gugatr0n1c opened #316 "[Python] ctypes.ArgumentError: argument 8"
I get error below in same cases, not sure where is the problem:

Traceback (most recent call last):
  File "search_44_test_jinak.py", line 216, in <module>
    prediction_valid = model.predict(matrix_valid, num_iteration = model.best_iteration)
  File "/usr/local/lib/python3.5/dist-packages/lightgbm-0.1-py3.5.egg/lightgbm/basic.py", line 1539, in predict
    return predictor.predict(data, num_iter

[2017-02-24 12:02] #287 closed

[2017-02-24 12:04] guolinke commented on #287
@vruusmann
Fixed,
However, the format of feature bounds is changes.
It is outputted following by the ```feature_names```.
[code]

[2017-02-24 13:20] kuraga commented on #307
@guolinke sure I got this situation while applying a wrong condition on dataset.

See #317 , please.

[2017-02-24 13:39] wxchan commented on #307
it seems already fixed in master branch, no such error on my machine, try to merge into master in #317 . btw, why would you like to train with no columns anyway?

[2017-02-24 13:40] guolinke commented on #307
@wxchan The travis test of #317 failed.

[2017-02-24 13:41] wxchan commented on #307
@guolinke it's merged into v1 branch, I try this test case with master branch, seem no error.

[2017-02-24 13:55] wxchan commented on #316
pls provide a reproducible example

[2017-02-24 14:02] kuraga commented on #307
Is v1 branch maintainable, isn't?

As I said above, this situation is accident. But we have a __segmentation fault__ not just an exception - so does it matter, did I want to do this or not?..

[2017-02-24 14:08] guolinke commented on #307
@kuraga
v1 is a release of previous commits. It will not be updated any more. (or we will not call it a release)
And the bug in v1 will be fixed in v2.

[2017-02-24 14:10] kuraga commented on #307
Ok, sorry. Seems like it's ok on master. Thanks.

[2017-02-24 14:10] #307 closed

[2017-02-24 15:14] vruusmann commented on #287
@guolinke Thanks for making the `feature_info` attribute available. It's fully adequate for my PMML conversion needs.

[2017-02-24 17:11] Laurae2 commented on #296
@guolinke yes if a S4 class is not a solution, I'm thinking about this:

* lgb.save able to save to a (potentially compressed) character variable (and not only to a file)
* lgb.Booster$raw for the model file (compressed I guess)
* saveRDS to serialize only lgb.Booster$raw (or we could tell the user in documentation that only lgb.Booster$raw must be serialized - serializing complete environments do

[2017-02-24 20:36] vruusmann commented on #296
Asking user to `saveRDS()` only the `lgb.Booster$raw` attribute (and not the entire `lgb.Booster` object) is probably "too much to learn".

Actually, my first complaint (https://github.com/Microsoft/LightGBM/issues/296#issuecomment-279478153) is not about the environment-type R objects _per se_. R6 classes appear to be fully interoperable with the `saveRDS()` method.

This complaint should be rein

[2017-02-24 21:25] ledmaster commented on #89
@guolinke While you wait for @wxchan results, this is running it on a 180k rows dataset:

real	4m12.452s
user	5m3.590s
sys	3m17.036s

If I run XGBoost with their new binning capabilities it doesn't seem to use all the threads in htop too.

[2017-02-25 00:49] guolinke commented on #89
@ledmaster
I find openmp cannot work well in some CPUs, recently.
Can you provide your cpu info?

[2017-02-25 02:01] ledmaster commented on #89
@guolinke
Intel Core i7, 2.8ghz, 2 cores.

[2017-02-25 02:09] guolinke commented on #89
@ledmaster if the physical cores are only 2, you better set num_threads=2.

[2017-02-25 15:27] gugatr0n1c commented on #316
@wxchan I probably found the case. I set:

iteration = numpy.random.choice([3000, 5000, 10000])

then iteration is numpy.int64 type, which cause problem in model.predict() with best_iteration setting...

When I convert iteration with int() then it is OK...

[2017-02-25 15:28] gugatr0n1c commented on #315
Voting for this as well

[2017-02-25 23:11] ekerazha opened #319 "About removal of categorical features support"
I think the removal of categorical features support has been a really bad choice.
One-hot encoding is extremely expensive (computation time, memory usage), even in sparse format, if we have thousands of categories (I'm not talking about lightgbm itself, I'm talking about the data pre-processing). Categorical features support in lightgbm allowed to manage columns with thousands of categories in a n

[2017-02-26 01:06] yanyachen commented on #288
I just realized that if the depth of tree is only 1, then this method can't be applied because interval_value is always 0. Is there anyway to walk around this? Thanks you!

[2017-02-26 01:26] guolinke commented on #319
The previous support of categorical features will slow down the training speed a little.
If this is really needed, I will figure out a new way to enable it again.

Thanks

[2017-02-26 01:27] guolinke commented on #288
@yanyachen I will open a new PR to output shrinkage_rate for each tree

[2017-02-26 08:57] ekerazha commented on #319
Ok, thanks.
For my part, I'll keep using the latest commit with categorical features support.

[2017-02-26 11:02] Laurae2 commented on #319
@guolinke What do you think about the following?:

* Passing `categorical_features` (or providing `-1`) disables Exclusive Feature Bundling
* Not passing `categorical_features` enables Exclusive Feature Bundling

Another solution is user should stick to v1 for `categorical_features` support, but it is not the best solution for the end-users.

[2017-02-26 11:05] guolinke commented on #319
@Laurae2
The support of categorical feature and exclusive features bundling does not conflict with each other.
They can work at the same time.

[2017-02-26 11:16] Laurae2 commented on #319
@guolinke I meant sometimes there are slowness issues with EFB (hence the reason of giving the user the ability to disable it, if provided a specific input). Here is an example of a 70x30k matrix, which takes longer to perform EFB than training (some seconds):

![image](https://cloud.githubusercontent.com/assets/9083669/23339152/2cd444aa-fc1c-11e6-9a9a-b24061627ed3.png)

As that matrix is reconstr

[2017-02-26 11:18] guolinke commented on #319
@Laurae2
OK, I see. you can use ```enable_bundle=false``` to disable it .

[2017-02-27 09:52] ace7 opened #324 "Support for multiple data files"
It would be great if we can specify multiple data files, or file patterns, eg:
[code]

[2017-02-27 10:03] coforfe commented on #279
Hello,

I can help with the "R docs".
I will need some basic info of the type of documents you want to create/update.

Regards,
Carlos.

[2017-02-27 11:45] zcschao opened #325 "[Python]model of best_iter cannot be saved correctly"
I found a problem when using LightGBM. The model during training iter and the trained model have different evalution results on predicting the same vaild set using the same self-defined eval metric. In order to exclude the cause of the parameter, I try using the parameter of /examples /python-guide/ simple_example.py, but the problem still exists.The difference is intolerable when iter_num is larg

[2017-02-27 20:48] Haoychen opened #327 "[Python]Clarification of num_trees in booster params and num_boost_round in training function"
For python interface, I could specify the **_num_trees_** in booster configuration. Also, I could specify the **_num_boost_round_** in train function. Theoretically, in regression and binary classification problem, number of trees = number of iterations. It seems the two parameters stand for the same thing. But in python interface, after training, I check the model and find that only **_num_boost_

[2017-02-28 03:15] wxchan commented on #327
in multiclass classification, num_trees = num_boost_round * num_class.
in other task, they are the same.

specifying num_trees in booster configuration does nothing. you should use num_boost_round

[2017-02-28 03:17] wxchan commented on #324
you can merge them into one with `cat`

[2017-02-28 03:19] wxchan commented on #89
I forgot to reply here.

examples/regression for 100k iterations, num_threads=2:

real	15m43.995s
user	12m56.495s
sys	6m43.981s

real	16m20.021s
user	12m33.574s
sys	6m29.688s

[2017-02-28 16:07] Haoychen commented on #327
Thanks for wxchan's explanation. Solved this problem.

[2017-02-28 16:07] #327 closed

[2017-03-01 02:49] ace7 commented on #324
Yes, I know. But for a Hadoop/Spark job, generally there will be many output files, it will be more convenient to use those files without an additional `cat` command.

[2017-03-01 10:12] wxchan commented on #324
That's fair, but can you use lightgbm on hdfs now?

[2017-03-01 13:13] #324 closed

[2017-03-01 19:12] mratsim opened #329 "Python: Add best_score callback when early stopping"
Like best_iteration, it would be useful to add a best_score callback when early stopping occurs.

The updates seem pretty straightforward :
- EarlyStopException class in [callback.py](https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/callback.py)
- The documentation

I'll propose a PR this weekend. Did I miss something ?

[2017-03-01 19:42] ekerazha commented on #319
@guolinke I'm trying v2 with categorical features support, I'm using the same code I used with v1, but something goes wrong with v2:

[code]

Look at `[48]`, at some point the validation loss just explodes.

[2017-03-01 23:44] guolinke commented on #319
can you provide the code and a sampling data so that i can reproduce this?

[2017-03-01 23:53] guolinke commented on #325
@wxchan can you take a look for this?

[2017-03-01 23:54] guolinke commented on #316
@wxchan i think you can open a PR to fix this.

[2017-03-02 00:01] guolinke commented on #296
@Laurae2 can you help to implement this? i can help after you opening PR.

[2017-03-02 02:42] wxchan commented on #316
I am not sure what exactly the bug is. Cannot reproduce it.

[2017-03-02 02:43] guolinke commented on #316
@wxchan it seems is the passed parameter ```num_iteration``` in ```predict```. It may be the numpy type.

[2017-03-02 02:51] wxchan commented on #316
I tried to pass np.int32 and np.int64 to num_iteration, met no bug. @gugatr0n1c can you provide a reproducible example here?

[2017-03-02 02:53] wxchan commented on #325
I can't find an obvious bug, is it something related to the issue raised in #319 when l2 is large?

[2017-03-02 02:56] wxchan commented on #329
best_iteration represents best model, which is used for prediction. what is best_score for?

[2017-03-02 02:58] wxchan commented on #279
I am not familiar with R (docs). @guolinke @Laurae2 can you provide some info here?

[2017-03-02 03:25] guolinke commented on #279
@wxchan @coforfe
I think the first thing we need is the doc for the all interfaces in R.
Just like the python api doc: https://github.com/Microsoft/LightGBM/blob/master/docs/Python-API.md
R will generate its doc in https://github.com/Microsoft/LightGBM/tree/master/R-package/man from the comment in R codes.
So we need to refine these comments.

[2017-03-02 07:19] zcschao commented on #325
I think I find the bug in my code.I didn't pre-process the data.After dropna and normalization, LightGBM just runs well. I still have a lot to learn. :smile:

[2017-03-02 08:28] #325 closed

[2017-03-02 08:29] guolinke opened #331 "Support gcForest"
refer to https://arxiv.org/pdf/1702.08835.pdf

Welcome to contribute for this.

[2017-03-02 09:13] wxchan commented on #331
Just read this paper. I am interested in looking into it this weekend.

[2017-03-02 09:16] gugatr0n1c commented on #316
@wxchan @guolinke
I can reproduce it with this steps each time:

- iteration set as numpy.int64, ie = 1000
- use early stopping
- but set learning_rate is small, that early_stopping is not applied and all iterations are used
- use num_iteration = model.best_iteration inside predict:
model.predict(matrix_learn, num_iteration = model.best_iteration)

When early_stopping stops learning process it is

[2017-03-02 12:04] wxchan commented on #316
still cannot reproduce it. I think in this case, `model.best_iteration` should be -1.

[2017-03-02 13:00] wxchan commented on #331
Let me take some notes here, and some discussions.

1. Cascade Forest
input: m samples * n features (1st level), m samples * (n features + num_class)
output: m samples * num_class
each level: num_forest * num_trees

other detail: k-fold cv (ensemble)

2. Multi-Grained Scanning
kinda like `sliding windows` + `one level of Cascade Forest`

So the basic thing we need to implement is `one level of Cas

[2017-03-02 18:31] ekerazha commented on #319
Can I send an e-mail to the address you have on your github profile (i at yumumu)?

[2017-03-02 19:36] Haoychen commented on #331
Just read this paper today. Feel glad if you could implement it in LightGBM.

1. I think, with bagging, replacing random forest with gbdt or dart might work well. But replacing complete-random tree forest would discourage the diversity, which may lead to converge too early. Would like to get the results after your implementation.

2. Why not develop the gcForest with one-vs-all classifier first? M

[2017-03-02 23:48] mglowacki100 opened #332 "is_unbalance parameter - documentation"
I've noticed following parameter:
`is_unbalance : bool `- Is unbalance for binary classification
As far I understand, when set to True, then there is some algorithm in LightGBM that deals with  imbalanced classes for binary classification. I didn't find any information what method is used.
Is it for example SMOTE from here [https://github.com/scikit-learn-contrib/imbalanced-learn]() or something c

[2017-03-03 00:01] guolinke commented on #332
refer to this paper:
Burges, Christopher JC. "From ranknet to lambdarank to lambdamart: An overview." Learning 11.23-581 (2010): 81.

[2017-03-03 00:02] guolinke commented on #319
@ekerazha Sure

[2017-03-03 00:44] guolinke commented on #319
@ekerazha can you try the latest commit?

[2017-03-03 03:29] WangHanbin commented on #254
I found that the categorical features support is deprecated when the LightGBM v2 released. However, it is added back 2 days ago(2017.3.1). I wonder to know what are the reasons behind the engineering or algorithm itself?

[2017-03-03 08:46] mglowacki100 commented on #332
Thank you!

[2017-03-03 08:46] #332 closed

[2017-03-03 08:51] gugatr0n1c commented on #316
In this case yes, but I never know before when early_stopping will stop the learning process.
But when I transform it with int() it is working. So we can close this I guess.

[2017-03-03 09:49] mglowacki100 commented on #331
I think that complete-random tree forest could be replaced by random rotation, it also encourages diversity. Anyway, random rotation could be interesting itself, regardless gc-forest.
Multi-grained scannig could be skipped at first, it is task specific.
[http://www.ijicic.org/ijicic-11-02046.pdf]()
[https://github.com/tmadl/sklearn-random-rotation-ensembles]()

[2017-03-03 10:13] wxchan commented on #254
@WangHanbin refer to #319

[2017-03-03 12:34] Laurae2 commented on #331
@wxchan here the implementation details and some answers to your questions (@guolinke may verify if I got stuff wrong or not), this is just stacking of random models:

---

# Cascade Forest (a level of it)

* Complete-Random Tree Forest = ensemble of Random Trees **(number of forests parameter)**
* Random Tree split = take a random feature each time, grow indefinitely until there are only no more

[2017-03-03 12:36] Laurae2 commented on #296
@guolinke sorry I was sick, I will try working on it now.

[2017-03-03 22:36] ekerazha commented on #319
It looks like the bug has been fixed, although with the same hyperparameters it performs a little bit worse than v1 on my dataset (RMSE is a little bit higher, but it's a tiny difference).

[2017-03-04 11:18] wxchan commented on #331
We don't need to do exactly like in paper as long as the performance is good.

I wrote some api scratch now (#333 ). I do some test, performance seems not good, maybe something goes wrong.

Is there a good implement of Complete-Random Tree Forest in python now?

[2017-03-05 12:22] Laurae2 commented on #331
@wxchan what target metric are you using? If you use logloss or similar, as the predictions are uncalibrated. Make sure to use a metric which does not require calibration (AUC, automated thresholding Accuracy, etc. for instance).

I don't think there are any Complete-Random Tree Forest implementations in Python (or they might be there under another name - you can attempt to use RandomForest from s

[2017-03-06 01:38] wxchan commented on #331
@Laurae2 can you reproduce similar results to the paper with your implement?

[2017-03-06 03:03] kevinzhangguangjin commented on #295
@zhangyafeikimi  Would you mind give me some tips to do it?

[2017-03-06 05:17] zhangyafeikimi commented on #295
You need to write a compiler to compile trees to source code. Is it hard?

A not-good-enough example:
https://github.com/zhangyafeikimi/ml-gbdt/blob/master/bin/json2cxx.py

[2017-03-07 00:03] Laurae2 commented on #331
@wxchan I can't reproduce them because I run out of memory on my local computer (+ it is very long when data gets large), but I get very good results on MNIST.

I just tested MNIST with the following settings:

* 1000 first observations = training set
* test set (10000 observations) = test set
* 3 folds for Cascade Forest / gcForest
* Accuracy is on test set (Cascade Forest / gcForest is just taki

[2017-03-07 04:33] wxchan commented on #331
@Laurae2  1000 samples for training may be not enough. I train a single lightgbm model w/ the entire MNIST dataset w/o much parameter tuning, the accuracy is `98.06%`. The code as follow:
[code]

Actually I didn't see much advantage on gcForest compared to the ensemble of lightgbm or xgboost. I might test on other datasets in paper when I have time. And I plan to wait the author releases their cod

[2017-03-07 04:39] wxchan commented on #331
I plan to close my pr for now until author releases the codes. Glad to help if someone else would like to contribute this feature.

[2017-03-07 10:58] Laurae2 commented on #331
@wxchan I can't train on 60K samples a Cascade Forest, I automatically run out of RAM on a 4GB laptop. I used only 1K sample to make it fast, because training a Cascade Forest is like training multiple lightgbm/xgboost which means it takes forever (it was already taking forever for 1K samples, so for 60K I wouldn't even have finished by today the Mutli-Grained Scanning). The paper authors used a l

[2017-03-07 11:55] mglowacki100 commented on #331
@Laurae2 could you share your code? I've laptop with 64GB so I could do more memory-intensive tests.

[2017-03-07 13:11] yongtaof opened #337 "support pmml evaluation"
Add c++ pmml evaluation support

## Environment info
Operating System:
CPU:
C++/Python/R version:
C++

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-03-07 13:59] Laurae2 commented on #331
@mglowacki100 Try this code for MNIST (make sure to read the code comments first):

[code]

If you run out of memory, my latest R package has support for storing models externally so it does not eat memory quickly.

[2017-03-07 15:53] wxchan commented on #331
@Laurae2 I know gcForest is better than single xgboost/lightgbm, I meant the **'ensemble'** of xgboost/lightgbm.

To conclude, I think gcForest is not a very novel idea, just stacking ensemble, I think every kaggle masters can think out this idea, far from `An Alternative to Deep Neural Networks`.

[2017-03-08 20:59] areobe opened #339 "Relative paths in R-package prevent source package build"
## Environment info
Operating System: Scientific Linux 6
R version: MRO 3.3.2 (2016-10-31) -- "Sincere Pumpkin Patch"

## Summary
We are unable to build a source R package from your git repo.
This is an issue for us because we keep the source R package tar.gz in our source control and deploy from there using install.packages().

## Error Message:
`fatal error: ../../src/application/application.cpp

[2017-03-09 00:43] guolinke commented on #339
can you use ```devtools::install_github("Microsoft/LightGBM", subdir = "R-package")``` to install?

[2017-03-09 00:45] guolinke commented on #337
@yongtaof you are requesting a new feature ? can you provide more details?

[2017-03-09 00:46] #319 closed

[2017-03-09 00:46] #316 closed

[2017-03-09 08:13] chivee commented on #22
https://github.com/huanzhang12/lightgbm-gpu/issues, a community version of gpu

[2017-03-09 09:14] yongtaof commented on #337
Thank you and yes I wish lightgbm to support pmml evaluation(be an
execution engine that support all pmml models). I can't find any c++ pmml
execution engine. It will be a great feature since we could get brilliant
performance if the models are deployed on production env. What do you think
of it? Actually I'm working on a project to deploy the trained models
dynamically to a c++ server. If I can't

[2017-03-09 11:47] Laurae2 commented on #339
Are you able to keep the whole source locally (instead of just the package) and use `devtools::install(<path to the R-package>)` inside R ? (command line or interactive shell does not matter)

[2017-03-09 15:36] areobe commented on #339
A plain `R CMD INSTALL .` works fine from within the R-package directory.
We just need to source tar.gz to be self contained much like any other package in CRAN/MRAN.

MXNet has a similar setup where they compile a common shared library first then use that in their R package. See: http://mxnet.io/get_started/amazonlinux_setup.html#install-the-mxnet-package-for-r
In their [Makefile](https://github.

[2017-03-09 19:35] mratsim commented on #329
Hello @wxchan. Sorry for the late reply.

Best_score would be used for automation (Pipelines, GridSearches ...).
It should return the metric corresponding to best_iteration

[2017-03-10 06:09] guolinke commented on #339
@areobe  you can try the latest code.

[2017-03-10 06:09] #339 closed

[2017-03-10 08:39] wxchan commented on #329
ok, you can open a pr for it, or I can do it later if you don't have time.

[2017-03-10 11:15] Laurae2 commented on #331
@wxchan ensemble of RF/CRTF should be better because the xgboost/lightgbm boosting default diversity is lower (ensemble of random > ensemble of strong).

gcForest is a stochastic stacking ensemble, nothing new in it as you said because it's mostly a manual implementation to add to have it.

[2017-03-11 14:44] ekerazha commented on #47
Note that real RFs use sampling **with replacement**. If you sample 0.63 without replacement, you can have the same number of unique samples, but that's not the same thing.

[2017-03-12 08:18] datahonor opened #341 "Run /LightGBM-master/examples/python-guide/sklearn_example.py get some UserWarnings"
Hello, when run the **python /LightGBM-master/examples/python-guide/sklearn_example.py** file, the result of the running have same UserWarning: Using Pandas (default) integer column names, not column indexes. You can use indexes with DataFrame.values.
I try to modify the sklearn_example.py, as follows:
#######################################
df_train = pd.read_csv('../regression/regression.train',

[2017-03-12 09:53] wxchan commented on #341
can you paste the different results here?

[2017-03-12 09:54] wxchan commented on #341
I planned to let you see the warning in example, but it appears indeed a little annoying. I will remove it later.

[2017-03-12 11:47] dahuan1 commented on #341
Sorry, I know the reason. i should modify:
**names=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z","aa","ab","ac"]**
Thanks.

[2017-03-13 04:50] nerdylinius opened #343 "'num_iterations' keyward seem to be out of work"
I tried the following codes expected got a model with 120 trees, but got one with 100 trees. Is the 'num_iterations'  keyward not available here?

import lightgbm as lgb
from sklearn import datasets
import numpy as np

X, y = datasets.make_regression(n_samples=100000, n_features=100)

lgb_train = lgb.Dataset(X, y)

params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regr

[2017-03-13 04:55] guolinke commented on #343
The training is controlled by python in Python package.
So you should pass ```num_boosting_round``` to the ```lgb.train```.
https://github.com/Microsoft/LightGBM/blob/master/docs/Python-API.md#trainparams-train_set-num_boost_round100-valid_setsnone-valid_namesnone-fobjnone-fevalnone-init_modelnone-feature_nameauto-categorical_featureauto-early_stopping_roundsnone-evals_resultnone-verbose_evaltrue-

[2017-03-13 04:55] #343 closed

[2017-03-13 05:01] nerdylinius commented on #343
thx, I thought it might be the same way as xgboost :+1:

[2017-03-13 08:17] anddelu opened #344 "python: lambdarank not in python examples"
I want to find more materials of lambdarank and find it not in python examples. I see the 'exe' exmpale about it and find the training data format is libsvm. Can dataframe be suitable to lambdarank?

[2017-03-13 08:23] wxchan commented on #344
yes.

[2017-03-13 09:37] tak-wah opened #345 "categorical feature not be identified"
I use my own dataset including the categorical feature, return the ValueError as follow:
**_ValueError: could not convert string to float: 'a'_**
the categorical feature in the first column, i set parameters : **_categorical_feature=0_**

The format of the partial data:
3	a    -1.047	0.537	1.186   ...
1	b    -0.151	-0.221	-0.090  ...
...    ...      ...              ...              ...        ...

[2017-03-13 10:23] wxchan commented on #345
isn't it second column?

are you using c++ version? add `label=0`.

[2017-03-13 10:51] chivee commented on #22
@huanzhang12, glad to see you have the plan to create PR back. we can have discussion here, and work together to enable GPU training

[2017-03-13 11:25] tak-wah commented on #345
The first column is the label.
I use the .conf format version and try to add label=0, but get the same wrong:
**[LightGBM] [Info] Using column number 0 as label
Met Exceptions:
Unknown token a in data file**

I try to use python version,get the tips as follow:
Traceback (most recent call last):
  **File "/root/anaconda3/lib/python3.6/site-packages/lightgbm-0.1-py3.6.egg/lightgbm/engine.py", line 1

[2017-03-13 11:28] guolinke commented on #345
@tak-wah
It seems you use file as input data.
currently, python package only accept the non-numerical categorical features by Pandas.
If you need to pass data by file, you need to convert them to ```int``` first.

[2017-03-14 04:01] huanzhang12 commented on #22
@chivee Thanks! I am working on finalizing my GPU code. One thing I need to do right now is to merge my branch to the upstream LightGBM master. Since there are a lot of changes in v2 (commit 4f77bd28), I need to make sure I don't break anything. I will let you guys know if I have any questions or concerns. Thanks!

[2017-03-14 07:43] chivee commented on #22
@huanzhang12 , Sure, feel to ask if you need any help.

[2017-03-14 07:44] #294 closed

[2017-03-14 07:44] #267 closed

[2017-03-14 07:45] #310 closed

[2017-03-15 03:11] everdark opened #346 "R-package: lgb.save does not retain full information of the booster object?"
Hi,

I am just wondering whether this is what I should expect for the behaviour of `lgb.save`.
Here is my script to reproduce what I am confused:

[code]

Since I'd like to also keep the eval metrics for each iteration. Can I achieve this by `lgb.save`. If it is not, I need to write out it on my own.

[2017-03-15 03:15] anddelu commented on #344
I see the example of lambdarank and find the data format is almost  "label qid:$id $feaid:$feavalue …  #description" which is different from the example of lightgbm's lambdarank. How to understand the rank.train or rank.test file without qid:$id? How to understand the predicitons like "0.26435133365037472、0.20650814382479751、-0.007454471069208085 …"  when execute the task of prediction?

[2017-03-15 05:58] wxchan commented on #344
you should specify your query data like https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#query-data.

[2017-03-15 09:13] anddelu commented on #344
It's said that "If name of data file is "train.txt", the query file should be named as "train.txt.query" and in same folder of training data. LightGBM will load the query file automatically if it exists." so I don't need specify the query file when I have the "train.txt.query" file.
However I still can't understand the result of prdicitons like "0.26435133365037472、0.20650814382479751、-0.007454471

[2017-03-15 09:23] wxchan commented on #344
it's for c++ version, for python, here is an example: https://github.com/Microsoft/LightGBM/blob/master/tests/python_package_test/test_sklearn.py#L55.

I am not 100% sure about lambdarank. I think the predicitons within one query can be ranked according to the result. It will be more clear if you have a concrete example.

[2017-03-15 11:38] Laurae2 commented on #346
@everdark use `saveRDS` and `readRDS` for R objects if you do not want to save only the model.

See issue #296.

[2017-03-15 14:45] Laurae2 opened #348 "[R-package] Provide recommendation for mnative?"
@guolinke I am just wondering if recommending using `mnative` can yield better performance for those installing directly from `install_github` (default is `mcore2` in R).

Installation log when installing using `install_github` in Windows for instance: we can see it is tuned for Core 2 architecture:

[code]

This would require adding in the [README.md](https://github.com/Microsoft/LightGBM/blob/ma

[2017-03-15 17:07] tak-wah commented on #345
@guolinke Thank you!
According to your tips, I convert `[a, b, ...]` to `[0, 1, ...]` and `categorical_feature=0`, then it work well.

Another trouble that the `multiclass` accuracy rate with low when i use `/examples/multiclass_classification/multiclass.*` data sets.
[code]
Is it data sets reason?

[2017-03-15 17:22] wxchan commented on #345
The dataset is randomly generated.

[2017-03-16 05:58] chivee commented on #348
@Laurae2 , did that means that we should alter the c++ build rather than just R libraries. I think we can make that a suggestion rather than a compulsory process.

[2017-03-16 15:22] everdark commented on #346
noted. thanks for the quick response.

[2017-03-17 06:31] #296 closed

[2017-03-17 06:34] guolinke commented on #348
@Laurae2
I remember the difference between ```O2``` and ```O3``` in LightGBM is very small.
You can try some benchmarks on this.

[2017-03-17 06:36] #345 closed

[2017-03-17 06:37] guolinke commented on #344
The predictions results are the relevant scores. (Higher = better) .
For the python-package, you should set ```group``` for the lambdarank tasks.

[2017-03-17 06:37] #344 closed

[2017-03-17 06:38] #341 closed

[2017-03-17 23:02] Laurae2 commented on #348
@chivee no, this would just be a suggestion to users if they want to achieve better local training speed. I'm not sure if it has a major impact though, I'll test all that thoroughly before I make a PR. As @guolinke there are very small differences just for `O2` and `O3` flag alone.

@guolinke when I get time on my server I'll try `O3` and `march=native` to see what happens to the speed. I'm collec

[2017-03-18 13:34] chriscramer opened #350 "Python sklearn boosters store the training/validation set, increasing memory use"
When using sklearn (in general), it's common to have many different models, for example, if you want to create a multi-output regressor, you need to make use of sklearn's MultiOutputRegressor class which wraps the creation of multiple regressors into a single object.  I'm doing the same thing, but with a very large number of models (around 1500).

It seems that the LGBM classes include the booster

[2017-03-18 13:50] guolinke commented on #350
If you want to solve this, you should use ```lgb.Dataset``` class, and call the training by ```lgb.train```.

LightGBM doesn't use the ```X``` and ```y``` directly. It will construct a ```lgb.Dataset``` by ```X``` and ```y``` first, and then use it to train. And from your code, it will have this construction many times since the provided data is ```X``` and ```y```, not the ```lgb.Dataset```. So a

[2017-03-18 14:00] chriscramer commented on #350
I had already considered that, but the problem with that approach is that it breaks the multiclass/multioutput wrappers in sklearn.  You would have to re-write those sklearn classes in order to call lgb.train, instead of calling the wrapped class's .fit method

[2017-03-18 14:07] guolinke commented on #350
@chriscramer  you also can override the ```fit``` method, to let it support the training from ```lgb.Dataset```.

[2017-03-18 14:15] chriscramer commented on #350
The fit method in the sklearn classes?  That sounds a bit awkward.

[2017-03-18 14:22] guolinke commented on #350
I am not familiar with sklearn.
But i think the source code of ```MultiOutputRegressor```(or other class you want to change) is available. You can inherit it, and override its ```fit``` function based on its original code.

[2017-03-18 14:26] chriscramer commented on #350
sure, but I could also inherit from the LGBMRegressor, and have it delete the training and validation sets from the booster, right?

I guess I'm questioning the need for the booster to hang onto the training and validation sets after training is complete.

[2017-03-18 14:30] guolinke commented on #350
sure, you can delete the dataset after finishing the training.

[2017-03-18 14:37] chriscramer commented on #350
actually, looking at the code some more, I would have to go that route even if I did use lgb.train.  The resulting booster from that method still contains the training and validation sets.

basically, the model returned by lgb.train contains both the training and validation data used to create the model.  FWIW, I tend to think that this is not the best approach.   The model is the model, regardles

[2017-03-18 14:56] guolinke commented on #350
The reason is the training function in ```booster``` is called by one-by-one iterations (for flexible usage, e.g. change parameter/data during training. ). It doesn't know when is finish. And the returned booster by lgb.train also can be used to continue training.

@wxchan I think we can add a parameter ```free_dataset_after_train``` in lgb.train. And set it to ```True``` in sklearn interfaces sin

[2017-03-18 17:10] chriscramer commented on #350
I think that adding the parameter makes a lot of sense and would certainly address the issues I'm seeing.  Thanks for looking into this!

[2017-03-19 07:24] wxchan commented on #350
@guolinke can we just remove all datasets at the end of sklearn fit?

[2017-03-19 07:34] guolinke commented on #350
@wxchan you should set the datasets in booster to null as well.

[2017-03-19 07:42] wxchan commented on #350
@guolinke I see. I forgot some details: if I have an trained boost, and I want to continue training with another datasets with a different bin mapper, will it work?

[2017-03-19 07:46] guolinke commented on #350
@wxchan, it won't work if you just change the training data.
However, you can achieve it by set this booster as the "init predictor" of datasets.

[2017-03-19 11:24] Laurae2 commented on #346
@everdark record_evals should now be stored if you use the serialization interface: https://github.com/Microsoft/LightGBM/pull/347

This will not work with `lgb.save` and `lgb.load`.

[2017-03-19 11:38] Laurae2 commented on #127
@guolinke @tobigithub I think this feature should be handed to the specialized interfaces which are doing hyperparameter tuning and grid searching and not LightGBM itself, unless there is a guaranteed way to get the best parameters specifically for LightGBM only.

If you are an EXE file user, what about a script:

* Creating dynamically configuration files with the appropriate hyperparameters (in

[2017-03-20 13:44] chrisorm commented on #331
Have you guys been able to replicate their benchmarks? The above R code seems to cite 91.1 on mnist compared with 96+ in the paper.

I have an implementation of this paper (particularly the Cascade Forest) using the Scikit-learn API, but have not been able to reach anything like their benchmark. I emailed the authors of the paper asking to clarify incase I misinterpreted some part of their descrip

[2017-03-21 12:40] Laurae2 commented on #331
@chrisorm You need to use Multi-Grained Scanning to achieve the optimal performance they depict. 98% using Cascade Forest should be achievable on MNIST, but we need someone with a very large computational power to test it using all MNIST data instead of 2,000 samples + poor parameters I used for maximum speed (NB: not 1,000, was a mistake in my previous posts).

However, Multi-Grained Scanning on

[2017-03-21 13:02] chrisorm commented on #331
@Laurae2 Have you tried the adult dataset? They do a benchmark vs. random forest in the paper, and this is much smaller and doesn't use multigrain scanning either. I am highly curious as to whether one could do better than the RF benchmark they quote, given thats what I got with 2000 trees forest that is out of the box sklearn.

On cursory look, your algorithm seems logically to be doing the same

[2017-03-21 19:04] chriscramer opened #351 "Periodic segfault in SparseBinIterator<VAL_T>::Reset"
When I'm creating a large number of models (in Python), I will occasionally see a segfault.  By enabling debugging (and later doing some printf-style instrumenting), I can track the error down to SparseBin::CopySubset creating the Iterator:

    SparseBinIterator<VAL_T> iterator(other_bin, used_indices[0]);

on line 318.  The error reports at a later line because the SparseBinIterator::Reset happe

[2017-03-21 19:06] chriscramer commented on #350
For what it's worth, my temporary solution to this is to subclass LGBMRegressor so that after fitting it uses cPickle to serialize and deserialize the _Booster, since I can't seem to get the _Booster to release the train_set otherwise.

[2017-03-21 19:51] chriscramer commented on #351
Hrm... it's not exactly there.  There is memory corruption prior to this which is causing the corruption in the structure pointed to by other_bin

[2017-03-22 04:15] huanzhang12 commented on #22
@guolinke @chivee Some quick updates: I have mostly finished upgrading my GPU code to v2: https://github.com/huanzhang12/lightgbm-gpu/tree/v2. I am currently working on implementing the Dense4bitsBin on GPU (which is new in v2), and doing more testing. I hope I can get the code ready to review and merge by the end of this week.

[2017-03-22 04:39] guolinke commented on #22
@huanzhang12  awesome, looking forward to your contribution.

[2017-03-22 13:16] Laurae2 commented on #331
@chrisorm Here on Adult dataset. I'm also getting the same issue you described for Adult dataset: better RF out of the box (86.57%) than their results (86.17%). I'm sure Deep Forest/Boosting can push it even further easily (87.58%+).

* Train/Test set: as defined on the Adult dataset (32,561 training, 16,281 testing)
* k-Folds for Cascade Forest: 3
* 4 threads on i7-4600U (usage of hyperthreading

[2017-03-22 14:11] wxchan commented on #350
I think we can only free the datasets in sklearn interface, avoid adding more parameters to lgb.train.

[2017-03-23 11:59] Laurae2 opened #352 "[Docs] Any documentation for boost_from_average?"
I'm just wondering if there is any documentation for `boost_from_average` (ref commit e179c7c).

I'm seeing this specific change:

[code]

However, when trying it, I'm seeing no difference and trees are identical (or, I'm not looking at what I should look for).

Test:

[code]

[2017-03-23 12:16] guolinke commented on #352
@Laurae2
I think the multi-class task cannot produce the correct L2 metrics.

[2017-03-23 12:27] gugatr0n1c opened #353 "[New Feature] support "Random Rotation Ensembles""
There is nice research paper (seems to be reasonable tested) about Random Rotation Ensembles.
http://www.jmlr.org/papers/volume17/blaser16a/blaser16a.pdf

Idea is to add some kind of matrix rotation before each tree is built.
There are some ideas about matrix preprocessing (numerical versus categorical values, scaling) a I believe we can assume that matrix is ready (there is several tools to do th

[2017-03-23 12:29] Laurae2 commented on #352
@guolinke The one below is with `multi_logloss`, identical results. Is this an expected behavior? (I might not have understood what it does: starting with a specific score which is the average of each class / sample count?)

[code]

[2017-03-23 13:45] wxchan commented on #352
I think it may depend on your dataset.

with the data in .../examples/multiclass_classification
boost_from_average = true
[code]
boost_from_average = false
[code]

[2017-03-23 13:49] wxchan commented on #353
it's also mentioned here: https://github.com/Microsoft/LightGBM/issues/331#issuecomment-283911685

[2017-03-24 03:42] guolinke commented on #351
You create the subset by you own ?  or the bagging ?

[2017-03-24 12:15] gugatr0n1c commented on #264
[LightGBM] [Fatal] Model file doesn't contain feature infos
Traceback (most recent call last):
  File "predikuj.py", line 22, in <module>
    model = lg.Booster(model_file = workingDir + '/modely/model_0_' + str(cv) + '.txt')
  File "/usr/local/lib/python3.5/dist-packages/lightgbm-0.1-py3.5.egg/lightgbm/basic.py", line 1218, in __init__
    ctypes.byref(self.handle)))
  File "/usr/local/lib/python

[2017-03-24 12:16] gugatr0n1c commented on #264
I manually changed "gbtd" to "tree", but I got another error

[2017-03-24 12:18] gugatr0n1c commented on #264
Can I handle this as well somehow? I have many model built. I cannot regenerate all models with new lib. Thx

[2017-03-24 12:21] gugatr0n1c commented on #264
@guolinke thx for help

[2017-03-24 12:22] guolinke commented on #264
you can just copy the "feature_names=....." and change its name to "feature_infos" .

[2017-03-24 12:32] gugatr0n1c commented on #264
@guolinke there is another error below, I can share model file, not sure If I got it right (55M file)
https://dl.dropboxusercontent.com/u/36271853/model_0_0.txt

error:
[LightGBM] [Fatal] Tree model string format error
Traceback (most recent call last):
  File "predikuj.py", line 22, in <module>
    model = lg.Booster(model_file = workingDir + '/modely/model_0_' + str(cv) + '.txt')
  File "/usr/lo

[2017-03-24 12:58] guolinke commented on #264
@gugatr0n1c can you try the latest commit?

[2017-03-24 13:00] chriscramer commented on #351
by bagging

That said, there appear (under Linux and OS X at least) to be a number of memory corruption issues caused by thread safety problems inside of the code.  I can see where they are occurring on Linux by linking against -lmcheck and setting the environmental variable MALLOC_CHECK_=3, but the logic of the code looks correct to me.

I'm currently up against a deadline, but after that deadlin

[2017-03-24 13:04] guolinke commented on #351
@chriscramer
Sure, thanks.
BTW, is it possible caused by the ```used_indices[0]``` ? Did you check the size of this array?

[2017-03-24 13:12] gugatr0n1c commented on #264
@guolinke yep!, working now (still need to rename gbtd->tree and add f_infos, but that is OK), thx!

[2017-03-24 13:12] #264 closed

[2017-03-24 13:21] Laurae2 commented on #352
@wxchan I tested it with another set and got different results now like you explained.

[2017-03-24 13:21] #352 closed

[2017-03-24 16:46] chriscramer commented on #351
I'll check.  Thanks!

[2017-03-24 21:13] Laurae2 commented on #331
@chrisorm Another Deep Forest implementation in Python here: https://github.com/pylablanche/gcForest

[2017-03-24 21:45] leo-gan opened #356 "need clarification in documentation"
in https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md

- "fair, Fair loss" - link here is broken and didn't point to the explanation;
- "fair_c, default=1.0, type=double ... parameter for Fair loss." - as previous
- "lambdarank, lambdarank application" - there is no link to the explanation. Google didn't bring anything meaningful;
- "goss, Gradient-based One-Side Sampling" - ther

[2017-03-24 22:20] wxchan commented on #356
fair: @henry0312
lambdarank: https://pdfs.semanticscholar.org/fc9a/e09f9ced555558fdf1e997c0a5411fb51f15.pdf
goss: I think it's not published yet? @guolinke

[2017-03-24 23:11] tobigithub commented on #127
Thank you!
Tobias

[2017-03-24 23:11] #127 closed

[2017-03-25 10:39] Laurae2 commented on #356
For simple understanding:

* Fair loss: derivable proxy for MAE objective function, check https://www.kaggle.com/c/allstate-claims-severity/discussion/24520 for more details about MAE proxies
* Fair loss c parameter: check https://www.kaggle.com/c/allstate-claims-severity/discussion/24520 - bigger c induces more brutal transitions (closer to V curve), while smaller c induces a smoother transition

[2017-03-25 11:02] Laurae2 opened #358 "GOSS benchmarking allowed? (NDA question)"
@guolinke NDA question: is it allowed to provide **public** benchmark results of GOSS before the paper is out?

If yes, which PR do you recommend to use? I am currently using 1bf7bbd for benchmarking stuff on v2.

(just wondering, because the v2 pull request comment is empty now)

[2017-03-26 04:00] guolinke commented on #358
@Laurae2
better to keep these benchmark private for now since they may be not the final solution.  Thanks !

[2017-03-26 04:00] #358 closed

[2017-03-26 11:31] henry0312 commented on #356
I'm sorry for my late response.
However, I can't find another documetns for fair loss 😢

[2017-03-26 16:45] wxchan commented on #356
the loss function name is really unfriendly for search engine, and seem this loss function is not mentioned a lot too

[2017-03-26 17:08] zhangyafeikimi opened #362 "GOSS is broken"
I ran a goss example with following config which is based on examples\binary_classification\train.conf
The program crashed from vector index of out range exceptions. It is very easy to reproduce.

    # task type, support train and predict
    task = train

    # boosting type, support gbdt for now, alias: boosting, boost
    boosting_type = goss

    # application type, support following applicat

[2017-03-26 17:18] wxchan commented on #362
no error shown on my machine. did you use latest code?

[2017-03-26 17:26] zhangyafeikimi commented on #362
Yes, latest code.
I ran it with vs2017 in debug mode. A vector access was really out of range.
Maybe these errors can't be revealed in release mode and linux.

[2017-03-26 19:18] JayveeHe opened #364 "Can not pickle Booster which is trained with init_model"
According to  #151 and #149 , we are able to dump trained Booster with Pickle and joblib.

Everything goes fine until I try to pickle a model which is trained with non-None param `init_model`(model object or .txt path).

I can pickle Booster model with init_model by calling save_model() first and then pickle a new Booster object init with `model_file`.  (see case `gbm7` in the example)

Is it poss

[2017-03-26 22:25] wxchan commented on #364
there is a pointer in _InnerPredictor object, I think removing it before save model will be ok (not 100% sure)

[2017-03-27 04:55] JayveeHe commented on #364
Yes, it works

[2017-03-27 04:55] #364 closed

[2017-03-27 05:12] JayveeHe commented on #364
And the precision works fine, too.

Details:
https://gist.github.com/JayveeHe/2f9bc4b7e56c6a3924fdda51392f77c4

[2017-03-27 06:34] #362 closed

[2017-03-27 06:34] chivee commented on #22
Refer to https://github.com/Microsoft/LightGBM/pull/368#

[2017-03-28 00:59] #305 closed

[2017-03-28 08:37] rudaoshi opened #370 "model trained by cli cannot be loaded by python api"
When loading the model using python Booster, it report:

lightgbm.basic.LightGBMError: Model file doesn't contain feature information

How can I solve this?

[2017-03-28 09:14] wxchan commented on #370
I guess your model is trained in earlier version, my new trained model can be loaded into python Booster well.

[2017-03-28 09:15] guolinke commented on #370
refer to this : https://github.com/Microsoft/LightGBM/issues/264#issuecomment-289008917

[2017-03-28 12:23] asfix commented on #331
Hello, i would like to apply gcForest on my logo dataset. However, I don't know where to start from. First of all, i need an implementation. Is there any implementation of gcForest rather than Python version. For example, c++ or R would be great. Can anybody help or guide me? I have seriously involved in this method.

Any kind of help will be appreciated.

[2017-03-29 12:14] gugatr0n1c opened #372 "Binary format needed - slow model reading"
I have built many models, some of them are big 300M file or bigger (10k trees ie).

In such cases predict phase is slow (not too much but still, when one is using stacking with cross validation this can slow done prediction calculation badly ~2hours).

I find out it is not problem of calling model.predict() this is reasonable fast.
Problem is loading model from disk:

model = lg.Booster(model_file

[2017-03-29 12:31] JustM57 opened #373 "Installation bug 16.04"
## Environment info
Operating System: Ubuntu 16.04
CPU: Intel® Core™ i5-2300 CPU @ 2.80GHz × 4
C++/Python/R version: 3.5
GCC 5.4.0

I just try to install lgm as it is written in instructions. And trying to complete make -j (it goes up to 93% and thats all) in a couple of seconds my PC stops answering.
Tried to reinstall lgm - same result

[2017-03-29 12:33] guolinke commented on #373
can you Installation other project successfully? like xgboost.

[2017-03-29 12:37] JustM57 commented on #373
Yes, I've got xgboost installed. Btw I got Lunux on this PC about a week ago.

[2017-03-29 13:08] JustM57 commented on #373
I've tried another way of installation - through OpenMPI, but got same results. PC crashed on 'Building a CXX object"

[2017-03-29 13:33] Laurae2 commented on #372
@guolinke Do you think a binary format for models is appropriate? (and to add to the API)

This is what xgboost does for speeding up model saving/loading.

Just for comparison:

* xgboost uses a binary format for fast save/load
* LightGBM does not have (?) a binary format for fast load

I tested on a private dataset with 10,000 iterations and 256 leaves, using a 2GBps PCI-E SSD to make sure the SS

[2017-03-29 13:35] wxchan commented on #373
It sometimes happens to my machine too, just wait couples of minutes it might be fine.

[2017-03-29 13:47] JustM57 commented on #373
thanks... It seems to be 15 minutes. Quite a lot

[2017-03-29 13:48] #373 closed

[2017-03-29 13:52] guolinke commented on #372
@Laurae2 yes. The binary model format is needed. But I am busy with other things recently.
So I add a call of contribution first.
Welcome to contribution 😄

[2017-03-29 13:53] guolinke commented on #373
@wxchan  Did you know the reason ?

[2017-03-29 14:09] wxchan commented on #373
No, I think it's not a lightgbm problem, it happens when I compiled other programs.

[2017-03-30 09:16] saraswatmks opened #374 "Error installing Lightgbm R package: jsonlite Permission denied"
Hi

I am unable to install lightgbm package in R.

## Environment info
Operating System: Ubuntu 16.10
CPU: x86_64-pc-linux-gnu (64-bit)
C++/Python/R version:  3.3.3 (2017-03-06)

## Error Message:

Downloading GitHub repo Microsoft/LightGBM@master
from URL https://api.github.com/repos/Microsoft/LightGBM/zipball/master
Installing lightgbm
trying URL 'https://cran.rstudio.com/src/contrib/jsonlite_1.

[2017-03-30 23:30] u023 opened #375 "LightGBM model does not load saved in different versions"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Windows
CPU:
C++/Python/R version: Python 3.5

## Error Message:
lightgbm.basic.LightGBMError: b'unknow submodel type in model file mod

[2017-03-31 01:39] guolinke commented on #375
refer to #264 .

[2017-03-31 01:39] #375 closed

[2017-03-31 01:39] #370 closed

[2017-03-31 11:22] Laurae2 commented on #374
4 solutions:

* Run R with the required privileges (you have denied write access)
* Clone git locally and install from there
* Install while ignoring dependencies
* Change your R package directory to a directory where you have read/write access (nuclear option)

[2017-04-01 09:20] jfpuget opened #376 "Typo in Python package: Nump has no attribute RandomState"
I just cloned the code, and had to modify line 239  in engine.py from
 ` randidx = np.RandomState(seed).random.permutation(num_data)
`
to

 `randidx = np.random.RandomState(seed).permutation(num_data)
`

to get it running correctly in Python 3.5 (Anaconda)

[2017-04-01 10:55] Laurae2 commented on #348
@guolinke Some results here. Not posting the exact details for the benchmark because there will be more at a mini-conference I am doing next month.

Settings:

* `v1` is LightGBM v1
* `v2` is LightGBM v2@1bf7bbd
* `default` means compiled with `-O2 -mtune=core2`
* `O3` means compiled with `-O3 -march=native`
* `O3-fmath` means compiled with `-O3 -ffast-math -march=native`
* `O2` means compiled wit

[2017-04-01 11:04] guolinke commented on #348
@Laurae2 Thanks for your benchmark 👍 .
If change to O3 is needed, you can create a PR for it.

[2017-04-01 16:13] saraswatmks commented on #374
I am unable to find out how to provide "required privileges" in R. Can you please help ??

[2017-04-01 18:59] sockfull commented on #84
Is there a suggested version of MinGW to use? I tried the original and mingw-w64 and both failed to compile. At the make step

[2017-04-02 00:57] guolinke commented on #84
@sockfull
https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#cmake-with-mingw

[2017-04-02 01:01] #376 closed

[2017-04-02 01:02] Laurae2 commented on #376
@jfpuget fixed in PR #377 , thanks for reporting it

[2017-04-02 19:26] sockfull commented on #84
I was using those commands from the installation guide when I got errors. I am wondering if I have not setup MinGW appropriately though, I have only used it once before to compile . I downloaded it from here:
https://sourceforge.net/projects/mingw/files/ for the installer. The gcc and base installations are installed, and cmake from https://cmake.org.

[2017-04-03 10:10] Laurae2 commented on #374
@saraswatmks do you have admin rights on your machine to start R as a user with the permissions you need to write on the folders where you cannot as a regular user?

`ls -l <insert your R library directory>` to find out the permissions.

The problem is obvious in the log you pasted:

* Namespace permission denied
* Permission denied

If you don't change the user running R (someone with permissions

[2017-04-03 15:06] Laurae2 commented on #348
@guolinke I'll open a PR to add a recommendation when I get some good charts ready and when the mini-conference will be ready soon (early next month), I'll link to it on the PR.

I also have xgboost benchmarks for comparison, do you want to see them? (I also got for `nthread={1, 2, 3, 4, 5, 6, 12}` and `depth={3, 4, 5, 6, 7, 8, 9, 10, 11, 12}`, but then it gets very large in GitHub, I plan to make

[2017-04-03 15:53] guolinke commented on #348
Sure. The comparison benchmarks are always welcome. It can help to find out which part we can further improve.

[2017-04-03 16:51] avannaldas commented on #315
Hi, I can take this up. Will read about RGFs and get back in couple of days.

[2017-04-04 09:06] xelibrion commented on #89
Experienced the same issue today, it is actually running 4 threads just as I told it too, it's just seem to unable to utilise all cores. There's quite a bit of context switching happening as well - not sure if that's intended.

<img width="588" alt="screen shot 2017-04-04 at 7 04 20 pm" src="https://cloud.githubusercontent.com/assets/175334/24649192/948e5ecc-1969-11e7-9293-4187d3699e92.png">

[2017-04-04 19:30] Laurae2 commented on #348
@guolinke Here for xgboost:

* xgboost is at commit `b4d97d3`
* default means compiled with `-O2 -mtune=core2`
* `O3` means compiled with `-O3 -march=native -funroll-loops`
* `O3-fmath` means compiled with `-O3 -ffast-math -march=native -funroll-loops`
* `-funroll-loops` is added because it is xgboost's default (actually, not even seeing a difference with or without)

xgboost was "slow", I skipped

[2017-04-04 20:12] avannaldas commented on #315
Hi @guolinke  ,

I went through the paper [Learning Nonlinear Functions Using Regularized Greedy Forest - arXiv](https://arxiv.org/pdf/1109.0887) which originally proposed RGF.

The authors of the paper propose three improvements to a Gradient Boosting technique...
1. Introduce regularization, to counter overfitting effects due (2)
2. Update coefficients/weights repeatedly at every step rather tha

[2017-04-05 02:51] guolinke commented on #315
Thanks @avannaldas !
you can upgrade to the vs2015 in your local project, but don't push the update of the ```.sln``` and ```.vcproj``` to the online.

for the development guide, you can check the https://github.com/Microsoft/LightGBM/blob/master/docs/development.md .

It seems the GRF is the improvement of Gradient Boosting. So I think you can just inherit the ```gbdt``` class(https://github.com/

[2017-04-05 05:57] ryutek opened #379 "for v2, after save, load does not work"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Windows 10
CPU: i7
C++/Python/R version: Python 3.6

## Error Message:
[LightGBM] [Fatal] Wrong size of feature_names
Traceback (most r

[2017-04-05 06:23] saraswatmks commented on #374
@Laurae2 I am the admin of my machine. How do I give myself permissions to install lightgbm ? Please help me close this. My work is stalled due to this installation issue.

[2017-04-05 06:32] saraswatmks commented on #374
This is resolved. Since I am new to linux, I didn't know the way to give permission to a folder.
The solution is:
sudo chmod -R 777 <your path>

[2017-04-05 06:32] #374 closed

[2017-04-05 06:42] avannaldas commented on #315
Thanks for the info @guolinke, I'll spend some more time understanding RGF in depth and go through the existing `gbdt` implementation in LightGBM. Will get back in with questions by Monday.

[2017-04-05 08:00] mglowacki100 opened #380 "small dataset - poor performance"
I have small but rather wide dataset (100 columns, 150 rows).
I use mljar.com as rapid prototyping tool (web-based app, that combines xgboost, lightgbm, rf, knn, nn, ...).
I've got similar results in terms of AUC and log-loss for xgboost, rf, extra-trees and random greedy forest, but way worse for lightgbm.
I understand that:
- my description is not detailed enough to investigate now
- in general,

[2017-04-05 08:27] guolinke commented on #380
@mglowacki100  try set ```min_data=1 min_hess=0```.

[2017-04-05 08:29] guolinke commented on #380
the default value of ```min_data=100```. And you data only have 150 rows. So actually it doesn't learn a real model.

[2017-04-05 08:33] ddofer commented on #24
The Allstate dataset is listed in the metrics, but it's given as an example of binary classification, when the dataset itself has a continous (regression) target.
The Examples data folder doesn't have anything on how the data was converted to a binary target and if any additional preprocessing was done. Any chance you could elaborate? (I want to be able to compare/reproduce exactly).
Thanks!

[2017-04-05 08:36] guolinke commented on #24
@ddofer >0 is positive .

[2017-04-05 08:38] guolinke commented on #24
BTW, it is Allstate Claim Prediction Challenge (6 years ago), not Kaggle Allstate Claims Severity dataset.

[2017-04-05 08:41] ddofer commented on #24
Aah, thanks!

On Wed, Apr 5, 2017 at 11:38 AM, Guolin Ke <notifications@github.com> wrote:

--
Dan Ofer             -              דן עופר
Publications <http://scholar.google.co.il/citations?hl=en&user=uDx2ItYAAAAJ>

Photography
http://picasaweb.google.com/ddofer
http://500px.com/DanOfer

[2017-04-05 08:58] wxchan commented on #379
can you provide a reproducible example with codes?

[2017-04-05 09:02] mglowacki100 commented on #380
Thanks!
Is it possible to add smart-defaults for this parameter (set of values depending on number of rows)?
Less dumb-proof is warning in documentation about small datasets and those parameters.
LightGBM, has a lot of knobs and as far I see xgboost doesn't have analogous parameter.

[2017-04-05 16:21] vatn opened #382 "[Question]How does lgb.train compute error in valid list?"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-04-05 16:37] #382 closed

[2017-04-05 16:51] Laurae2 commented on #379
Also, can you provide the model file if you can't provide the dataset?

[2017-04-05 20:55] Neil-Schneider commented on #380
The analogous parameter in xgboost is `min_child_weight`. The default is `1`.

[2017-04-05 21:14] Laurae2 commented on #380
@Neil-Schneider this is not right, xgboost's `min_child_weight` is analogous to LightGBM's `min_hess`.

[2017-04-06 04:44] ryutek commented on #379
[model.txt](https://github.com/Microsoft/LightGBM/files/901481/model.txt)

This is a simple code line to load the model and an error occurs here. The model file is attached.

import lightgbm as lgb

bst = lgb.Booster(model_file="model.txt")

[2017-04-06 10:07] wxchan commented on #379
I see, it's a bug, the feature name is split by space in model file and some of your feature name has a space inside (creativeNameCotainsWeek 7).

@guolinke how do you think to fix it?

[2017-04-06 10:10] guolinke commented on #379
@wxchan convert the space to "_" when set the feature names?
I think do it in the cpp side may be better.

[2017-04-06 10:15] wxchan commented on #379
If we change the feature names, would the user notice it?

How about we use '\n' instead of space? I think '\n' won't appear in feature names (in most cases).

[2017-04-06 10:16] Laurae2 commented on #379
@guolinke What about preventing users from training a model when features have a space? - or, wrap each feature name with double quotes `""`? We could also use another delimiter which should never be in feature names (return carriages, etc.).

[2017-04-06 10:22] pylablanche commented on #331
@Laurae2 thanks for citing my work.
The small test I ran was indeed on a very small data set and on 8x8 images I don't think the Multi-Grain scanning step is very relevant. If anyone have the resource to test the implementation on the whole MNIST data set and let me know the performance (I have limited resources available) that would be great!

I'm currently working on the memory usage issue and w

[2017-04-06 10:48] pylablanche commented on #331
@chrisorm I have just read what you went through while implementing gcForest and I don't think the paper is sufficient in the details it is providing. There are several technical points that aren't clear and I had to make some assumption especially about how the training is done.
It was a pretty dull answer from the authors.

I also read that you use Extra Trees for the "complete random forest" bu

[2017-04-06 10:52] Laurae2 opened #384 "[Feature] Predict Average of Trees"
Is there a way to predict the average of boosted trees of LightGBM?

I am trying to implement a stochastic optimizer based on LightGBM, by doing the following:

1. Creating a 2000-tree boosting model with `learning_rate = 1e-5` (to make it "not learn", but with enough precision to reverse engineer each tree), taking each 10% of samples only
2. Averaging each tree predictions to reduce noise, using

[2017-04-06 11:07] guolinke commented on #384
@Laurae2
How to ensure the 2000 trees in step.1 not same ? Some random settings?

[2017-04-06 11:12] guolinke commented on #384
I think it is like the random forest.

@wxchan Did you have any updates on RF ?

We can set ```num_iterations``` and ```num_tree_per_iteration``` at the same time.

[2017-04-06 11:52] Laurae2 commented on #384
@guolinke Yes, I use bagging 10% of samples every iteration.

[code]

It find it is very strong (for leaf prediction) when used locally.

[code]

![image](https://cloud.githubusercontent.com/assets/9083669/24752858/0e83b896-1ad0-11e7-96a0-6abcaa3cdc85.png)

![image](https://cloud.githubusercontent.com/assets/9083669/24752868/12b29752-1ad0-11e7-8727-7ab1995788e5.png)

![image](https://cloud.githubu

[2017-04-06 13:20] Neil-Schneider commented on #380
@Laurae2 Sorry to mislead, you are right.

Is there a difference between the two when all weights are equal to `1`?

[2017-04-06 13:38] Laurae2 commented on #380
@Neil-Schneider the weight is taken into account when computing gradient statistics, thus the hessian (2nd derivative / 2nd proxy derivative of the loss function) is impacted. When all weights are equal to `1`, then it is the regular hessian for each observation. If you put all weights to `2`, then the hessian is twice the value for each observation. (etc.)

In short: you might think as a weighted

[2017-04-06 15:22] chrisorm commented on #331
@pylablanche I have run it on the digits dataset, but the results were not much more exciting than I could get with a single random forest of reasonable size. I can rerun it later if you want the exact numbers.

You are perhaps correct they do not mean a extremely random tree now I reread. The seem to imply they use exactly this type of tree http://www.jair.org/media/2470/live-2470-3860-jair.pdf.

[2017-04-06 16:58] JayveeHe opened #385 "Segmentation Fault when training with large dataset in Python"
I am using lightGBM in my Python project, I get a problem of segmentation fault when training with large dataset.

Definition of Large dataset:
I have many csv files which contains samples and features data,  `n_feature=2890+`, `n_sample_per_csv=2230+`.

To start training, I firstly combine 300+ csv file (parse into np.array) and then use lgb.Dataset() to construct dataset object.

It will cost ab

[2017-04-06 22:06] kkimdev commented on #66
Can we have this issue open meantime to track the progress?

[2017-04-06 22:08] Laurae2 commented on #66
@kkimdev fixed already in https://github.com/Microsoft/LightGBM/pull/180 and https://github.com/Microsoft/LightGBM/pull/178 - or, use your own custom objective using the API (straightforward in R/Python).

[2017-04-06 22:09] kkimdev commented on #66
Great, thanks!

[2017-04-06 23:44] kkimdev commented on #66
@Laurae2 Is python custom objective function API documented anywhere? I can't find it... And looks like the available objective functions are hard-coded in the cpp file? https://github.com/Microsoft/LightGBM/blob/master/src/objective/objective_function.cpp

[2017-04-07 00:17] wxchan commented on #385
Does it cause by python? Can you test it on c++ version?

[2017-04-07 02:38] guolinke commented on #385
@JayveeHe
It seems your ```num_data*num_feature``` exceed the ```int32_t::max()```.  refer to #305
BTW, what is the format of your dataset? Mat ? CSR ? or ...?

[2017-04-07 15:10] liyi193328 opened #387 "Why lambdaRank best gain is -inf?"
Hi,
   when I use lambdaRank to predict rank, I make data format carefully according to python package's test file and data format, I can run the test py correctly, but I run my data,
[code]
resulting to:
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Loading query boundaries...
[LightGBM] [Info] Loading query boundaries...
[LightGBM] [Info] Finished loading data in 0.149870 secon

[2017-04-07 15:49] guolinke commented on #387
@liyi193328
1. it seems you don't use the latest code.
2. what is your parameters?
3. the range of label?

[2017-04-07 15:50] #380 closed

[2017-04-07 15:53] guolinke commented on #379
@Laurae2 , if add ```""```, it will be not so straightforward to ```split```.
I think we output some warnings and then replace these space symbols to ```_``` or ```-``` .

[2017-04-07 15:53] #356 closed

[2017-04-07 15:59] #31 closed

[2017-04-07 16:00] #295 closed

[2017-04-07 16:00] #306 closed

[2017-04-07 16:03] guolinke commented on #350
@wxchan  Sorry, I miss this.
Yeah, I can it can work, but remember to set all references of Dataset to None.

[2017-04-07 16:04] guolinke commented on #337
@yongtaof  Does this(https://github.com/jpmml/jpmml-lightgbm) meet your demand ?

[2017-04-07 16:05] guolinke commented on #385
@JayveeHe Can you also help try the latest code. I fix one potential bug.

[2017-04-07 16:32] JayveeHe commented on #385
@guolinke ok, I will try it.

[2017-04-08 02:51] liyi193328 commented on #387
@guolinke Thanks,
I install lightgbm 3 days ago.
**the range of label be [-2, 2], float number;**
train.conf is same as:
https://github.com/Microsoft/LightGBM/blob/master/examples/lambdarank/train.conf

[2017-04-08 04:00] guolinke commented on #387
@liyi193328
I see. The label should be int type and >= 0 in lightgbm, and larger means more relevant(better).

[2017-04-08 07:06] liyi193328 commented on #387
@guolinke Thanks, I'll test it

[2017-04-08 10:59] Laurae2 commented on #331
@chrisorm The big red flag is indeed with the stacking method. As with any stacking methods, this is computationally intensive and does not have much meaning when predicting a layer: this is more like an attempt to mathematically converge to a better local optima, and letting "machine learning" doing the work, provided a known structure where it will work reasonably "fast" and well.

Using RF to b

[2017-04-08 11:01] Laurae2 commented on #171
@guolinke I think it is done in R package and Python package for now.

What else do you think users might need? (partial dependence plots?)

[2017-04-08 11:13] Laurae2 commented on #89
@xelibrion Just for debugging purposes: can you tell me what you get if you compile this?

[code]

This should use all your cores to print (I suppose it will use all 4 threads).

@ledmaster xgboost fast histogram requires large dataset to be able to keep 100% CPU usage constant. Usually, it will never reach 100% for anything other than singlethread (unless your dataset is scaling largely enough to

[2017-04-08 12:01] pylablanche commented on #331
@Laurae2 @chrisorm Thank you both for your feedback.
I definitely share the overall feeling around gcForest and the fact that the authors did not released the code is indeed very suspicious in addition of being a mistake.

I have also spotted a number of points in the paper that I find surprising such as the 1000 trees per Random Forests. On a data set like MNIST with 10 classes and 55000 samples

[2017-04-09 05:35] liyi193328 commented on #387
@guolinke problem sovled, Thanks.
And I can't find num_boost_round(which is iteration_num or epochs) in sklearn API(neither constructor or fit  function have)
In train api, there is num_boost_round; And In cmd line, conf file have num_trees;
So what 'm I missing? there must some way to set num_iteration in fit function.

[2017-04-09 06:50] liyi193328 commented on #387
@guolinke Just Now, my small data set can run OK, label range is [0, 30], but when I increase label range to [0, 2800],  errors happens likes this:
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Loading query boundaries...
[LightGBM] [Fatal] Label excel 0
Met Exceptions:
Label excel 0
what's the insight reason? Thanks.

[2017-04-09 07:10] guolinke commented on #387
@liyi193328
Do you really have so many labels for ranking?
Refer to https://github.com/Microsoft/LightGBM/blob/master/src/io/config.cpp#L267-L271 .
LightGBM use (2^label) as label gain. And the default max_label is 31. So if you use ```2800```, it cannot be handled.

[2017-04-09 08:12] JayveeHe commented on #385
@wxchan I am not pretty sure is it caused by Python, sorry I can't test it on C++ at the moment (maybe later or not)

@guolinke Hi, I tested on the latest code, and the problem doesn't happend again.

I try to reproduce the problem by this [example code](https://gist.github.com/JayveeHe/cf67a90390d601319ec834e467ad0891), with the old(3 days ago, #381 ) version of LightGBM.
By running the `pass_exa

[2017-04-09 14:46] liyi193328 commented on #387
@guolinke I may scale the rank label.
How about the num_boost_round in python sklearn API? Thanks.

[2017-04-09 14:51] guolinke commented on #387
refer to : https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/sklearn_example.py#L20

The ```n_estimators```, same as sklearn.

[2017-04-09 15:21] Laurae2 opened #389 "[WIP] Install documentation for LightGBM on GPU"
Related to PR #368

Is there any documentation to install, setup, and use LightGBM on GPU? As the docs folder and the Wiki did not change, I was wondering if there are specific steps required.

Similar to [this](https://github.com/huanzhang12/lightgbm-gpu), but for this repository.

Similar question for:

* Python package GPU installation/usage
* R package GPU installation/usage

To-do:

- [x] Lin

[2017-04-09 17:49] ntarasov opened #390 "[R] Lambdarank cross validation"
Hi,
when I use lgb.cv for cross validation lambdarank objective:
[code]
I get the result:
[code]

But, when I use train with validation:
`model <- lgb.train(params, train_data, valids = list(test = train_data), nrounds = 400)`
I get normal result:
[code]
Dataset labels: 0,1,2,3,4,9,10

So what's the reason?

[2017-04-09 17:52] ntarasov commented on #390
Package lightgbm version 0.1

[2017-04-09 19:39] huanzhang12 commented on #389
@Laurae2 I will work on move the documentation on my [development repository](https://github.com/huanzhang12/lightgbm-gpu) to here.

[2017-04-09 19:40] huanzhang12 commented on #389
For python I think just using the GPU-enabled shared library and pass `device=gpu` as an additional config parameter is sufficient. For R package I am not sure...

[2017-04-09 21:04] avannaldas commented on #315
Hi @guolinke , I've sent you an email to your Microsoft alias. Thanks!

[2017-04-10 02:19] guolinke commented on #390
what is your label range? refer to #387 .

[2017-04-10 02:28] #22 closed

[2017-04-10 02:49] guolinke commented on #389
I update some documents for GPU, @huanzhang12 can you check them?

For R/python package, I think they both need to pass the additional paramter ```device=gpu``` to enable it.
@Laurae2 @wxchan  you can create PR to simplify it.

[2017-04-10 03:08] huanzhang12 commented on #389
@guolinke For the building procedure, we need to mention the dependency package (`cmake` >= 3.2, `boost` >= 1.56, OpenCL >= 1.2) and how to install them.
On Windows it is probably gonna work (as noting I used is platform dependent), but untested.

[2017-04-10 03:16] guolinke commented on #385
@JayveeHe Thanks.

[2017-04-10 03:16] #385 closed

[2017-04-10 03:27] huanzhang12 commented on #389
@guolinke @Laurae2 It seems I can't make a pull request to the wiki (github does not have this feature). So I am not able to directly edit it. But most detailed instructions are on my development repository page. You can probably move most materials to the wiki, perhaps adding a "GPU tutorial", helping people to setup GPU training and achieve good speedup.

[2017-04-10 03:34] guolinke commented on #389
@huanzhang12 you can put your materials to the docs/... , I can add a link to it in the wiki.

[2017-04-10 03:42] Earthson opened #392 "LightGBMError: b'sum of query counts is not same with #data'"
what is the meaning of query counts? data count must be same in each group?

[2017-04-10 03:44] guolinke commented on #392
Not. It means your query data is error.

sum(query_cnt1, query_cnt2, ...) should equal to number of data.

[2017-04-10 03:45] huanzhang12 commented on #389
@guolinke OK, I think I will put a tutorial there

[2017-04-10 03:55] Earthson commented on #392
I'm confused, what is the correct input like?

[code]

[code]

[2017-04-10 03:58] guolinke commented on #392
@Earthson
The query_cnt isn't the query_id.
query_cnt_1 means the number of data in the first query.
...

[2017-04-10 04:02] Earthson commented on #392
but how could it be different? Is query_cnt computed using group array?

[2017-04-10 04:05] guolinke commented on #392
refer to here: https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#query-data

You should pass the query_cnt directly, not the query_id.

[2017-04-10 04:06] heroxrq opened #393 "[LightGBM] [Fatal] Model file doesn't contain feature names"
## Environment info
Operating System: CentOS Linux release 7.2.1511
CPU: Intel(R) Xeon(R) CPU E5-2650 v3 @ 2.30GHz
C++/Python/R version: 4.8.5

## Error Message:
[LightGBM] [Fatal] Model file doesn't contain feature names

## Reproducible examples
the data is libsvm format
max_idx 9250421
distinct_idx 3492428

when I reduce the number of features to 500000, it is ok, but if increase the feature to

[2017-04-10 04:12] guolinke commented on #393
Did you use cpp version? and perform continue training?
BTW,  what is the content in the "model.txt" ? Did you use "model.txt" as both input_model and output_model ?

[2017-04-10 04:42] ntarasov commented on #390
Dataset labels: 0,1,2,3,4,9,10

[2017-04-10 04:50] Earthson commented on #392
Oh, I see. thx:)

I'm a little confused about how to use the model after fit? There is no transform method like sklearn? And fit also does not accept parameter num_round?

[2017-04-10 04:53] guolinke commented on #392
sklearn.gbm don't have ```num_round``` as well. It uses ```n_estimators``` at __init__.

refer to : https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/sklearn_example.py#L20

[2017-04-10 04:53] #392 closed

[2017-04-10 04:54] #387 closed

[2017-04-10 04:55] guolinke commented on #390
@Laurae2
It seems there are some bugs on CV. Can you help to check that?

[2017-04-10 05:02] Earthson commented on #392
Many thx:)

[2017-04-10 05:18] heroxrq commented on #393
I have tried using both cli or python to train, and use the cli to load the model.txt file to predict.

I didnot perform continue training.
The model.txt is the output of training, I didnot use it as input_model.

I seems that when the number of features is big, the cli predict does not work.
----------------------------------------------------------------------------------------------
feature_num

[2017-04-10 06:10] Earthson commented on #392
@guolinke does y must be int?
My label is in range (0.0, 1.0), model always return 0:(
I've also tried to convert it to 0, 1, 2, 3, ..., N-1, but the program just teminated

[code]

[2017-04-10 06:12] guolinke commented on #392
yeah, it should be int.

[2017-04-10 06:31] Earthson commented on #392
@guolinke What is the meaning of y? data index in order? I've noticed strange y in rank sample:

[code]

[2017-04-10 06:32] saraswatmks opened #394 "Unable to install lightgbm in python jupyter - version `GLIBCXX_3.4.22' not found"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Ubuntu 16.10
CPU: x86_64-pc-linux-gnu (64-bit)
C++/Python/R version: Python 2.7.13
2.7.13 |Continuum Analytics, Inc.| (default, Dec 20

[2017-04-10 06:34] guolinke commented on #392
larger means more relevant(better) . e.g.  5(perfect) 4(good) .., 0(bad) .

[2017-04-10 06:44] heroxrq commented on #393
$ less model.txt
tree
num_class=1
num_tree_per_iteration=1
label_index=0
max_feature_idx=9249958
objective=binary sigmoid:1
feature_names=Column_0 Column_1 Column_2 Column_3 Column_4 Column_5 Column_6 Column_7 Column_8 Column_9 Column_10 Column_11 Column_12 Column_13 Column_14 Column_15 Column_16 Column_17 Column_18 Column_19 Column_20 Column_21 Column_22 Column_23 Column_24 Column_25 Column_26 Co

[2017-04-10 06:46] Earthson commented on #392
@guolinke Do we have any limitation on label? like distinct count must be small enough?

My program is always terminated and restart..

[2017-04-10 06:47] guolinke commented on #393
@heroxrq Thanks,
I think there may be some problem for large line in the reader .

[2017-04-10 06:49] guolinke commented on #392
The default range of range in ranking is [0,31) , int type.

[2017-04-10 06:49] heroxrq commented on #393
I think the loading of model exists some bugs when the "feature_names" line is long.

[2017-04-10 06:52] guolinke commented on #393
@heroxrq can you give me this model file that I can debug on it ?

[2017-04-10 06:57] heroxrq commented on #393
ok, great! The model.txt is 176M, which way does I git it to you? email?

[2017-04-10 06:57] guolinke commented on #393
@heroxrq OK

[2017-04-10 07:02] Earthson commented on #392
@guolinke How to set a larger value?

[2017-04-10 07:05] Earthson commented on #392
Does `label_gain` goes for it?

[2017-04-10 07:06] guolinke commented on #392
you can achieve it by set the label_gain parameters.

refer to https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#objective-parameters
```label_gain[i]``` = k means the gain of ```label==i``` is ```k```.
if you label range is [0,100), you should set it to a array with 100 elements.

[2017-04-10 07:10] heroxrq commented on #393
@guolinke
I sent the model.txt and 10 lines of testset file to the mail address "i@yumumu.me", please check it.

[2017-04-10 07:50] guolinke commented on #393
fixed it in the latest code.

[2017-04-10 07:50] #393 closed

[2017-04-10 07:50] #337 closed

[2017-04-10 07:57] guolinke commented on #390
I take a look. Both python/R have bugs for the Cross validation for ranking task.
The reason is it makes folds randomly without considering group information.
The correct approach is making folds by groups, not by data.

[2017-04-10 09:30] ntarasov commented on #390
@guolinke I use custom data split considering group information, because nfold causes message:
[code]

This is data split:

List of 3
 $ : int [1:23777] 89 90 91 92 93 94 95 96 97 98 ...
 $ : int [1:29034] 1 2 3 4 5 6 7 8 9 10 ...
 $ : int [1:24071] 448 449 450 451 452 453 454 455 456 457 ...

[1] 76882

[1] 76882

[2017-04-10 09:44] heroxrq opened #396 "[Question] How to realize distributed prediction?"
My task is to predict a dataset with 400 millions records, with 2 millions (libsvm sparse) feature dimension. In a Linux server with 32 core, it cost 8 seconds predicting 10000 records with full cpu load. This is too slow! So, how to realize distributed prediction? Does LightGBM support spark now? or other solutions for consideration?

[2017-04-10 10:10] guolinke commented on #396
A simple solution is partition your prediction data manually, and use different machine to predict the different part.

The main reason of slow in your task is the high dimension features. I will try to optimize it.

BTW, you can try the branch ```predict```, I think it can be faster.

[2017-04-10 10:55] guolinke commented on #396
@heroxrq just push a new commit in ```predict``` branch. It should be faster for prediction in high dimension feature .

[2017-04-10 11:04] Laurae2 commented on #390
@guolinke xgboost doesn't implement CV in ranking tasks with query/group because it requires reconstruction of the appropriate datasets each time (this is not a major problem), along with all the issues it brings (this is a major problem). For instance, if you pass a group information, xgboost will always refuse to perform CV.

However, I'm trying to go through, check #397. Trying to find out if t

[2017-04-10 12:04] heroxrq commented on #396
@guolinke
it is faster, costs 7 seconds predicting 100000 records, about 10 times speed up. However,  it costs 8 hours to predict 400 millions records.

[2017-04-10 13:14] Laurae2 commented on #389
@guolinke for R package we might have to convert the cmake to make in Makevars.

I found this but I don't know how it could be integrated: https://github.com/forexample/r-cmake

@huanzhang12 R in Windows uses MinGW, while in Unix it uses the default way of installation. Are they enough alone or do we need more to install with GPU support? If cmake is a must, we might try to find to workaround for

[2017-04-10 13:39] wxchan commented on #394
The error should have nothing to do with lightgbm. Have you tried http://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error?

[2017-04-10 13:41] wxchan commented on #389
I don't have machine to test gpu version right now. @huanzhang12 can you also help update python package?

[2017-04-10 15:54] saraswatmks commented on #394
Hi @wxchan
Thanks for the answer.
I don't know why I am facing this error only while installing lightgbm, not with any other package. I tried following the steps given in link above, but nothing seem to be helping.

I am stuck. :(

[2017-04-11 00:36] huanzhang12 commented on #389
@Laurae2 It is fine if we don't have cmake. I list cmake 3.x as a dependency just because I need to look for OpenCL and boost headers/libraries automatically in `CMakeList.txt`. cmake 3.x can do this more reliably (than older cmake versions or hard-coded paths). Without cmake, if everything has been installed to standard system location (like `/usr/includes` and `/usr/lib64`, etc) and the compiler

[2017-04-11 08:45] wxchan commented on #396
perhaps you can predict with spark, but I didn't test its performance. you need to install https://github.com/lensacom/sparkit-learn first

one example:

[code]

[2017-04-11 08:52] wxchan commented on #389
can it work on mac? I got segfault on my machine.

[code]

[code]

[2017-04-11 09:16] huanzhang12 commented on #389
@wxchan It should work on mac as it detects your Intel HD 5000 GPU as a OpenCL device. Glad to see you get it compiled successfully!

Base on the backtrace it seems the problem is in the offline cache of Boost.Compute. The offline cache is for caching compiled GPU kernels, so that it does not need to be compiled again when next time you launch LightGBM with GPU. From the backtrace I guess it crash

[2017-04-11 12:42] wxchan commented on #389
It works after comment out `BOOST_COMPUTE_USE_OFFLINE_CACHE` line. I think it can be added into instruction?

[2017-04-11 15:59] Laurae2 opened #398 "[Off-topic / Do not answer] GPU installation pictures"
issue used for adding pictures for GPU installation on Windows

[2017-04-11 15:59] #398 closed

[2017-04-11 16:26] huanzhang12 commented on #389
@wxchan Glad to know it works for you! I can add this to instruction, but please report this bug to Boost.Compute so that they can fix it in a future release. Offline cache is a nice feature to have, otherwise the user has to wait for kernel compilation (`Compiling OpenCL Kernel with 256 bins...`) each time launching LightGBM, and it can take some time.

I guess it is not a hard problem to fix, pr

[2017-04-12 03:08] henry0312 opened #399 "Can't update label_gain"
In LamdaRank, we can't update `label_gain`.

## Environment info

Operating System: OS X 10.11.6 and Ubuntu 16.04.2
C++/Python/R version: Python 3.5.3

## Error Message:

"segmentation fault"

or

something like "\*\*\* Error in `python': free(): invalid next size (fast): 0x00007f69d400d620 \*\*\*"

## Reproducible examples

https://gist.github.com/henry0312/e778750249d68bae963b8291aef130bd

## St

[2017-04-12 03:23] #399 closed

[2017-04-12 03:41] henry0312 commented on #399
546056e7673f2f81b2c72bd4c823a8f031561b55 solves this issues.
Thank you very much.

[2017-04-12 08:08] heroxrq commented on #396
@guolinke
I have tried to use hadoop streaming to use the lightgbm cli. However, the predict branch is much slower than the master branch.
200 files, with each is 100 M
master branch takes 1 min total to predict
predict branch takes 22 min total to predict
I wonder that why in local machine, the predict branch is faster, but in hadoop streaming, the predict branch is slower!

[2017-04-12 08:25] guolinke commented on #396
@heroxrq
The reason is: To reduce the cost of high dimension feature, it needs an additional cost to collect some information (one pass of all model). For one prediction task, it needs one time of this cost.

So it has 200 times of this additional cost since you have 200 prediction task.

[2017-04-12 08:28] heroxrq opened #403 "[LightGBM] [Fatal] Input format error when parsing as LibSVM"
[LightGBM] [Fatal] Input format error when parsing as LibSVM
[LightGBM] [Fatal] Unknown token abcd-1234 in data file

I use lightgbm to predict LibSVM format data. However it report the above fatal error. I place id (contains Letters and Numbers) of each record in the first column so as to know the id. Since in predict dataset, the label column (first column) has no relationship with predict proce

[2017-04-12 08:38] guolinke commented on #403
yea, it only support numbers except header.

[2017-04-12 08:38] #403 closed

[2017-04-12 09:27] heroxrq commented on #396
@guolinke
But the lightgbm is in mapper, each mapper just need to predict the local data in that node. It has 200 mappers. I think lightgbm in A mapper has no relationship with lightgbm in B Mapper.

[2017-04-12 10:06] guolinke commented on #396
I didn't got your point.
You run one prediction task by calling lightgbm in one mapper, right? So one mapper will have one additional cost.

[2017-04-12 11:14] Laurae2 commented on #389
@huanzhang12 @guolinke I managed to compile with with GPU trainer in R + Windows! Will come very soon with a PR for enabling GPU in R package.

![image](https://cloud.githubusercontent.com/assets/9083669/24954933/b03ecf4e-1f81-11e7-80c1-9e98f7973069.png)

[2017-04-12 11:36] heroxrq commented on #396
@guolinke
yes, I run one prediction task by calling lightgbm in each mapper as follows. rationally, one mapper have one additional cost. The total time consumed in predict branch should less than in master branch?
--------------------------------------------------------------------------------------------
predict_mapper.sh:
python read_data_from_stdin.py
tar -zxvf LightGBM.tar.gz > /dev/null
expor

[2017-04-12 11:50] guolinke commented on #396
@heroxrq
The ```predict``` branch have such a additional cost, and the master branch not.
So ```predict``` branch may slow when data are small.

[2017-04-12 12:13] heroxrq commented on #396
@guolinke
I have tested almost the same data size in local or mapper. In local, the predict branch is faster, on the contrary, it is faster of master branch in mapper. I wonder whether the cluster environment affect the lightgbm.

[2017-04-12 12:40] guolinke commented on #396
@heroxrq
ok, I got it now.  Not sure about the reason.
BTW, I just push a commit in the predict branch, it avoid the additional cost for the prediction. Can you help to try it and give a speed-up result?

[2017-04-12 13:10] heroxrq commented on #396
@guolinke
I've tried just now, just like predict branch before (local fast, slow in mapper), seems no speed-up.

[2017-04-12 13:41] dvarkiac opened #405 "[GPU] Error while running cmake"
I have downloaded "LightGBM-master" and try to run compile lightgbm but getting the below error.
Installed opencl and boot as well. Currently using CUDA 8 drivers for gpu. using cmake version ( 3.2.2).
Could you please le t me know how to solve this issue.

# cd LightGBM-master
# cd build/
# cmake -DUSE_GPU=1 ..
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GN

[2017-04-12 13:44] guolinke commented on #405
it misses OpenCL.
Refer to https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#with-gpu-support to get more details.

[2017-04-12 13:54] gugatr0n1c commented on #389
@Laurae2 Which method did you used? Visual studio or mingw?

[2017-04-12 14:12] guolinke commented on #396
@heroxrq just update again. Can you try it again.

[2017-04-12 14:13] dvarkiac commented on #405
I followed the same; but i am still getting the same error. whether I need to provide the OPENCL include and Library path specifically. if so how. Please help.

Below is the path of  opencl , which came along with cuda driver installation.
/usr/lib64/nvidia/libnvidia-opencl.so
/usr/lib64/nvidia/libnvidia-opencl.so.1
/usr/lib64/nvidia/libnvidia-opencl.so.375.26
/usr/local/cuda-8.0/targets/x86_64-li

[2017-04-12 14:16] Laurae2 commented on #405
as you have NVIDIA drivers installed, make sure you have, you can specify manually `OpenCL_LIBRARY` and `OpenCL_INCLUDE_DIR` on the `cmake` line as it seems you know where they are, like how you use `-DUSE_GPU=1`.

[2017-04-12 16:00] Laurae2 opened #406 "[R-package] Hardcoded LightGBM name during devtools::install_github?"
## Environment info

R 3.3.3

Tried:

* Ubuntu 16.04
* Lubuntu 15.10
* Windows 8.1 + Rtools 34
* Windows Server 2012 R2 + Rtools 34

## Error Message:

Cannot install LightGBM using `devtools::install_github` when the repository name is not strictly `LightGBM`, even if the installation is strictly identical (only changed name: repository name).

[code]

## Reproducible examples / Steps to reproduc

[2017-04-12 16:29] Laurae2 commented on #389
@gugatr0n1c I used only MinGW for CLI, Python, and R, no need Visual Studio for compiling LightGBM and Boost (performance might vary though).

@huanzhang12 Got the same issue in Windows about @wxchan issue on Mac. Commenting that line 26 `BOOST_COMPUTE_USE_OFFLINE_CACHE` fixed the issue.

[2017-04-12 18:42] huanzhang12 commented on #405
@dvarkiac CMake can't find OpenCL because there is no libOpenCL.so found in your system. If you are using Ubuntu, you can try to install `ocl-icd-libopencl1` and `ocl-icd-opencl-dev`. Also check if there is a file (filename should include nvidia, I forget the exact name) inside /etc/OpenCL/vendors/.

[2017-04-12 18:46] huanzhang12 commented on #389
@Laurae2 Glad to know you get it working on Windows! I think we need to look into the BOOST_COMPUTE_USE_OFFLINE_CACHE issue a little bit, because I think offline cache is a good feature to have; otherwise each time we have to wait for a few seconds to get GPU kernels compiled, which is annoying.

@Laurae2 You can probably try to remove the OpenMP pragma at https://github.com/Microsoft/LightGBM/blo

[2017-04-12 19:22] Laurae2 commented on #406
Current solution: fork LightGBM or create a new repository based on the git file. Changing name does not cause issue, but getting it on local and pushing it to GitHub seems to generate strange issues when made from scratch.

![image](https://cloud.githubusercontent.com/assets/9083669/24975444/f9721c72-1fc5-11e7-89e1-c105ec96d507.png)

![image](https://cloud.githubusercontent.com/assets/9083669/249

[2017-04-12 19:22] #406 closed

[2017-04-12 21:55] travisbrady opened #410 "No trees in PMML file using pmml.py"
I ran pmml.py and it yielded a xml file containing no trees.

## Environment info
Operating System: OS X
CPU:
C++/Python/R version: Python 3.5

## Reproducible examples
Booster text file from `save_booster`: https://gist.github.com/travisbrady/3408dedf1a8217a32eb859337b354648

## Steps to reproduce

1. Create binary classifier using Python
2. Save booster
3. Run pmml.py

Output PMML
[code]

[2017-04-12 23:43] huanzhang12 commented on #389
@Laurae2 I am able to fix the offline cache issue in Boost.Compute on Windows. I have created a pull request at Boost.Compute repository: https://github.com/boostorg/compute/pull/704

[2017-04-13 04:35] guolinke commented on #410
fixed in the latest commit.

[2017-04-13 04:35] #410 closed

[2017-04-13 11:08] Laurae2 commented on #405
@dvarkiac If you can't make it work, can you also try using `cmake-gui` (it's available for Unix-variants) and fiddling with the paths manually?

If your OpenCL library and OpenCL headers are not in the same base directory, typically it causes issues for cmake to find them (like yours with `/usr/lib64/nvidia` and `usr/local/cuda-8.0/targets...`).

You need the following to specify manually:

* Ope

[2017-04-13 13:56] Laurae2 commented on #384
I think `num_tree_per_iteration` is not yet exposed for training. If I set to a different value than 1, I get back 1:

[code]

[2017-04-15 07:20] dancaspi opened #417 "[Help] - advice on how to modify code for research"
Hey,
I am researching methods of improving tree based predictions. I have various schemes I would like try for fitting leaf scores. What would be the recommended approach to modify the source code such that I could **use the generated trees** but modify the eventual leaf scores? My preference would be to use only R/Python ,  even somewhat at the cost of speed (as this is mainly theoretical as this

[2017-04-15 11:02] guolinke commented on #417
@dancaspi
you can use these two c_api to edit leave output vaules: https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L1065-L1083

[2017-04-15 11:07] #396 closed

[2017-04-15 11:20] Laurae2 opened #419 "Wiki installation guide: add glibc >= 2.14 requirement"
LightGBM cannot be installed using libgc below 2.14.

Quote for a Slack chat:

Even though glibc <2.14 is old, a lot of large businesses are still using last decade tools and are not expecting to update to newer tools in the near future.

![image](https://cloud.githubusercontent.com/assets/9083669/25063192/fa854976-21dd-11e7-84bc-a49e80a3ede2.png)

[2017-04-15 22:27] topepo opened #421 "installing R package on macOS"
I'm using macOS Sierra 10.12.4 and R version 3.3.3 (2017-03-06) with
[code]
`~/.R/Makevars` is
[code]
Compilation worked with no messages using github version current to 2016-04-13 but:
[code]
More history on this is at topepo/caret#572

[2017-04-16 06:36] dancaspi commented on #417
@guolinke  Wow thanks for the quick reply. much appreciated!

[2017-04-16 12:02] Laurae2 commented on #331
I didn't see it in any journal, probably it was not submitted.

I think under the name "Stacking" (and if we change the models) it has a great future, but not under the name "Deep Forest". Currently, stacking is widely used for getting the maximum performance out of models, which is nothing new (especially on Kaggle competitions).

It also lacks how they compiled their machine learning programs, b

[2017-04-17 07:30] #417 closed

[2017-04-18 02:53] heroxrq opened #428 "doubt about "number of used features""
[LightGBM] [Info] Number of data: 2012548, number of used features: 552754

My training data has 2,000,000 (libsvm sparse format) features, but the log info of lightgbm say used features are 552754. I want to know whether some features are not used and what process lightgbm does to reduce features?

[2017-04-18 02:58] guolinke commented on #428
check ```bin_construct_sample_cnt``` in https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md .
LightGBM use sampling data to construct feature bin mappers.
If features didn't show in the sampling data, they will be ignored.
And if the number of non-zero values of one feature is smaller than ```min_data_in_leaf```, this feature will be ignored as well.

You can set ```bin_construct_

[2017-04-18 02:58] #428 closed

[2017-04-18 03:04] #379 closed

[2017-04-18 03:04] #350 closed

[2017-04-18 03:05] guolinke commented on #419
Thanks. I will add it to wiki.

[2017-04-18 03:05] #419 closed

[2017-04-18 09:51] Laurae2 commented on #261
@henry0312 tests are completed for Python I think. For R we need to setup Travis for it.

[2017-04-18 09:53] Laurae2 commented on #389
@huanzhang12 now we have good documentation for Linux and Windows, and on how to choose device/platform. We still lack some doc for Mac, and I don't have access to my Mac currently.

Someone volunteering to make some Mac documentation:

* To **properly install** LightGBM in CLI / Python / R **with multithreading working**? (seems we still have people with issues) #89 #421
* Get GPU mode usable eas

[2017-04-18 10:26] pylablanche commented on #331
@Laurae2 I have indeed been able to improve the slicing part of my Deep Forest implementation and I can now train it on the 55000 MNIST training samples for a window size of 15x15 pixels on my laptop (8GB of RAM). I'll post results here as soon as I get them.
Anyway, I still cannot reproduce the configuration used in the paper as I would need much more computing resource but at least it is much mo

[2017-04-18 11:35] billbargens opened #430 "[GPU] make failure"
I want to build the LightGBM tool with GPU support.
The cmake processing succeeded with the messages as follows:

cmake -DUSE_GPU=1 -DOpenCL_LIBRARY=/usr/local/cuda/lib64 -

But the make processing failed with the message as follows:

[2017-04-18 11:42] Laurae2 commented on #430
Can you specify manually `OpenCL_LIBRARY`? It seems cmake is pointing to a directory, while it should point to a library file name (such as OpenCL.lib).

Once done, these messages will disappear:

[code]

Then, retry again compilation and it should compile.

[2017-04-18 15:24] henry0312 opened #431 "[possibly issue] Watchdog detected hard LOCKUP"
After https://github.com/Microsoft/LightGBM/commit/66b7f03238387951e6a0ba3060353ae098691fbc, my system becomes to be crashed while running heavy task (using 20 threads for learning for several hours).
A kernel log says "NMI watchdog: Watchdog detected hard LOCKUP on cpu 10".
I'm not sure that the commit has a serious bug, but I would appreciate it if you could look into that for me.

## Environmen

[2017-04-18 16:13] wxchan commented on #329
@guolinke you can close this thread too

[2017-04-18 19:07] JesseLimtiaco opened #432 "Reload R model object imported from different environment without using a temp file"
Hello,

My question is similar to the issue brought up in 296:

https://github.com/Microsoft/LightGBM/issues/296

The R6 objects are environment-type variables and my use case transfers these R6 objects between different environments/machines instead of RDS files.  The solution to make the saveRDS.lgb.Booster and readRDS.lgb.Booster works when transferring the RDS files but I was hoping to avoid c

[2017-04-18 19:42] Laurae2 commented on #432
Can you save the model and the best iteration / metric log separately? If yes, then this will allow you to skip this issue. You can then write the metric log / best iteration directly on the newly created environment (model).

ping @guolinke if there is a way to save/load model from a variable containing the model string in memory instead of a file ?

[2017-04-18 19:51] huanzhang12 commented on #389
@Laurae2 Thanks for your hard work on getting the instructions on Windows ready!

Based on the previous issues on Mac you mentioned, it could be a little bit tricky to get everything working on Mac. Currently I don't have access to any Mac computers, and I can't find any cloud computing service providing Mac virtual machines with GPU. So we need to look for some volunteers here.

[2017-04-19 02:42] guolinke commented on #431
@henry0312
Not sure about the reason.
can you try remove ```march=core2 mtune=native``` in this line ?

[2017-04-19 02:44] henry0312 commented on #431
Thank you for your response.
I'll try to remove 'march=core2 mtune=native' in CMakeLists.txt

[2017-04-19 03:15] henry0312 commented on #261
@Laurae2 no, the current tests doesn't cover all of the python-package.

@wxchan I'd like to use [nose](http://nose.readthedocs.io/en/latest/index.html). What do you think about nose?

[2017-04-19 03:23] fword opened #433 "why lightgbm lambdarank example input file doesn't have query information?"
Plz delete this

[2017-04-19 03:23] fword commented on #433
As we kown lightgbm lambdarank's loss function minimize the wrong pairwise order in the same query.While i find lightgbm lambdarank example input format doesn't have the query information,and this is like point-wise

[2017-04-19 04:22] #433 closed

[2017-04-19 04:24] guolinke commented on #432
@Laurae2
https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L1035-L1048
https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L769-L779

[2017-04-19 05:35] billbargens commented on #430
You are right. Thank you!

[2017-04-19 05:35] #430 closed

[2017-04-19 09:02] heroxrq opened #434 "How to set weight for each class?"
I faced a problem to train a 6 classes classifier. Since data is unbalanced and I want to modify the loss function. Can lightgbm set weight of each class like xgboost?

[2017-04-19 10:18] Laurae2 commented on #434
Use the weight parameter: https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#weight-data

[2017-04-19 10:35] Laurae2 commented on #421
@topepo Do you know an online place where we can rent a Mac with different OSes (with GPU support) so we can try to make proper/reproducible working instructions for Mac to have:

* Support for multithreading
* Support for GPU

? ping also @tobigithub if you know anything so we can make the Mac installation setup step ahead, since Mac (macOS only specifically..?) seems to be an issue since the beg

[2017-04-19 12:44] Laurae2 commented on #421
@topepo Can you install and try first with gcc 5 and tell us if it works?

gcc 6 and macOS seems to be a known issue which is not limited to LightGBM but to many other libraries using OpenMP.

[2017-04-19 13:59] qashqay654 opened #435 "Problems with prediction speed and accuracy"
I'm trying to train and predict lgbm model with my own feval.

First problem is that it takes 45 seconds to prediction of dataset with 100 thousand rows and 500 columns on 50 CPUs. Is it possible to make a prediction faster?

The second one is that prediction in feval function differs from total prediction on the same dataset
[code]
False

How can I evaluate feval with correct prediction?

[2017-04-19 14:16] guolinke commented on #435
How did you get the prediction?
it will be slow if using ```gbm.prediction``` . But using ```feval(pred, dataset)```, it is just some copy ( https://github.com/Microsoft/LightGBM/blob/66b7f03238387951e6a0ba3060353ae098691fbc/src/boosting/gbdt.cpp#L610-L646 ) .

For the differs, it is caused by the multi-threading sum-up order. you should use "almostSame" here.

[2017-04-19 14:34] qashqay654 commented on #435
@guolinke thank you. And what is the fastest way to get prediction from trees if not using `gbm.prediction` in python? `feval(pred, dataset)` is not working in my case, cause I need to get full vector of predictions.

[2017-04-19 14:47] guolinke commented on #435
using ```gbm.prediction``` is always slow. The reason is it needs start from first tree every time you call it.

What is "full vector" ? the content of```pred``` in ```feval(pred, dataset)```  is same(ignore sum-up issue) as the ```gbm.prediction```.

[2017-04-19 16:24] topepo commented on #421
[code]
That seems to have done it. I can execute the examples in the R package without any issues.

Thanks!

[2017-04-19 16:24] #421 closed

[2017-04-19 19:08] JesseLimtiaco commented on #432
Yes this implementation would be very helpful.  Can we add analogous __load_model_from_string and __save_model_to_string functions to the Booster class in the R package?  Right now it seems the only way to initialize in R is to make a new model or read from model file:

# Booster non existent
        stop("lgb.Booster: Need at least either training dataset or model file to create booster instance"

[2017-04-20 06:15] billbargens opened #436 "can not do training"
## Environment info
Operating System: CentOS7
GPU: NVIDIA  Tesla K80
Driver Version: 352.39

## Configurations
Following the introduction, I set the additional parameters:
device = gpu
gpu_platform_id = 0
gpu_device_id = 0

## Error Message
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Saving data to binary file /disk1/user_tags/1.txt.bin
[LightGBM] [Info] Saving data to binary f

[2017-04-20 06:19] billbargens commented on #436
When I set device = cpu, the training task still failed with the error message:

[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Finished loading data in 12.159612 seconds
[LightGBM] [Info] Number of positive: 100694, number of negative: 99742
[LightGBM] [Info] Total Bins 51742
[LightGBM] [Info] Number of data: 200436, number of used features: 25871
*** Error in `./lightgbm': doubl

[2017-04-20 06:22] wxchan commented on #436
try https://github.com/Microsoft/LightGBM/issues/389#issuecomment-293199730

[2017-04-20 07:39] billbargens commented on #436
It seems to be not the same problem

## Install
I use the custom boost lib path and cmake module path:

And the cmake process succeeded:

make

## Training with cpu
Using the default configuration without gpu support, the training task failed with the error message:

## Training with GPU
Set the additional parameters:

The training task failed with the error message:

[2017-04-20 09:54] Laurae2 commented on #436
@billbargens Can you use gdb and print us the backtrace?

Tutorial for gdb in LightGBM: https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Windows.md#debugging-lightgbm-crashes-in-cli (just adapt the paths to yours) - remember to compile with the debug flag. It should spit out better details for debugging instead of what your backtrace.

[2017-04-20 09:58] billbargens commented on #436
@Laurae2  But my production environment is CentOS7? The guide is about windows?

[2017-04-20 10:00] Laurae2 commented on #436
@billbargens you have gcc (`/usr/lib64/libgcc_s-4.8.5-20150702.so.1` in your debug code), so gdb must be available.

Windows guide uses unix tools only, so it doesn't matter if it's Windows or Linux operating system.

[2017-04-20 10:04] billbargens commented on #436
@Laurae2 Also, I found that even I compiled and build the tool without gpu-support and did training just with cpu,  the task still failed with the similar error mesage!

[2017-04-20 10:08] Laurae2 commented on #436
Compile LightGBM without GPU support and with the debug flag, and print us the gdb backtrace so we can look at the problem in details.

[2017-04-20 12:21] billbargens commented on #436
Steps:

GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-re

[2017-04-20 12:53] Laurae2 commented on #436
You have mangled names with addresses only on your backtrace like on the previous logs, which means LightGBM was not compiled with debug:

[code]

Did you wipe the old LightGBM files? If not, the compiler will skip compiling the new files and it will not compile with debug correctly. To make sure you use a clean LightGBM installation with debug, use a new folder as if you install a fresh LightGBM

[2017-04-20 17:08] wxchan commented on #331
NEWS: The 2nd author claimed today: they will release their codes before June 1st.

https://www.zhihu.com/question/56474891/answer/158293083

[2017-04-20 17:20] Laurae2 commented on #331
Google translate is very difficult to get on it apparently (it hides all the content once translated for weird reasons), here it is:

Ji Feng
Talk about machine learning and others
 925 people agree with the answer
Thank you
As one of the participants in the paper, I do very limited, here to talk about my personal opinion on the little teacher gcForest week. Here is the statement: all views just r

[2017-04-20 23:37] eulersformula opened #437 "Unable to reproduce validation result using predict()/predict_prob() function"
I am using a python version of LightGBM on a Mac OSX system and I am having some issues with prediction functions. In short I am not able to reproduce the validation result using predict()/predict_prob() right after calling fit() function. Here is the code:

clf = lgb.LGBMRegressor(boosting_type='gbdt', objective=objective, num_leaves=num_leaves, subsample=bagging_fraction, subsample_freq=1, colsa

[2017-04-21 02:18] guolinke commented on #437
@eulersformula
I think the reason is the float accuracy by the multi-threading sum-up order.
Can you try use small iterations and give me the differ ?

[2017-04-21 03:22] eulersformula commented on #437
I retried using 300 iterations, and the difference is still quite large:

[300]	valid_0's error: 0.463488	**valid_1's error: 0.472815**
After using predict() function:
0.49015656486542553

[2017-04-21 03:25] guolinke commented on #437
It is almost same in my test.
You use the custom eval function, right?
can you paste the code of ```rmse``` ?

[2017-04-21 03:42] guolinke commented on #437
@wxchan can you also help to take a look for this issue ?

[2017-04-21 03:52] tobigithub commented on #421
Hi,
not affiliated, never tried:

www.hostmyapple.com
https://xcloud.me
https://www.macstadium.com
www.macincloud.com

Although I feel  Timothy Donald "Tim" Cook  should give Bill Gates
and Satya Nadella  a freed demo version of their latest hardware and
software for development purposes.  Because:
https://www.wired.com/2009/08/dayintech_0806/

probably cheapest native  version:
https://www.apple.

[2017-04-21 03:58] eulersformula commented on #437
Yes I am using customized eval function. I defined it as

def rmse(preds, labels):
    return 'error', np.sqrt(((np.clip(preds, 0, 2) - labels) ** 2).mean()), False

For your convenience I also pasted the several lines of relevant codes below:

clf = lgb.LGBMRegressor(boosting_type='gbdt', objective=objective, num_leaves=num_leaves, subsample=bagging_fraction, subsample_freq=1, colsample_bytree=fe

[2017-04-21 04:08] wxchan commented on #437
self-defined eval function should be `func(y_true, y_pred)`, you are using `func(y_pred, y_true)`; I guess it's the reason

[2017-04-21 04:13] eulersformula commented on #437
I redefined it as following:

def rmse(labels, preds):
    return 'error', np.sqrt(((preds - labels) ** 2).mean()), False

But I still got a huge different (same as before). Actually since the function is symmetric about labels and predictions, it would not make a difference.

Do you guys have any bench mark data and script such that I could try to replicate the results? I tried to use single thre

[2017-04-21 04:20] wxchan commented on #437
is your predict result in any iteration of training log?

[2017-04-21 04:21] wxchan commented on #437
you might use datasets in examples folder

[2017-04-21 05:45] eulersformula commented on #437
OK... I think I finally figured out what's happening here. Basically I have to fill NA's in the data before running the whole thing. Interestingly, without filling in NA's in the data, the training process can still be performed and the rmse of the validation set is actually correct! However when using predict() function to the same validation set, it has problems. I am not sure if this is a bug,

[2017-04-21 05:50] guolinke commented on #437
@eulersformula
yea, we don't support the na input in python now.
I will quick fix for that.

[2017-04-21 05:50] #437 closed

[2017-04-21 07:33] billbargens commented on #436
Following your advice, I rebuilded the source code. But it seemed that the tool was still  not compiled with debugging flags.

I also tried to add the configurations in CMakeLists.txt, but I can still see many  -O3 flags appearing during compilation:

## Clone clean source code
git clone --recursive https://github.com/Microsoft/LightGBM

## CMake with Debug Mode

mkdir build
cd build/
cmake -DCMAK

[2017-04-21 07:38] gugatr0n1c opened #438 "[GPU][python] GPU training not working on win10"
For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
WIN10
cuda 8.0, with latest driver, cuDNN 5.1 (training keras+tensorflow working OK)
gtx1080
python 3.5 (anaconda3 4.1.1, x64)
boost 1.63
cmake 3.8
mingw-x64 4.9.1

## Error Message:
[LightGBM] [Info] This is the GPU trainer!!
[LightGBM] [Info] Total Bins 36823
[Ligh

[2017-04-21 08:23] huanzhang12 commented on #436
@billbargens Are you using the latest master branch of LightGBM?
I encountered a similar problem before, which is a bug in GBDT::ResetTrainingData(). This should be already fixed PR #402. Maybe there is an similar bug somewhere else, but I need a full backtrace to analyze the problem.
I suggest you clone a clean copy of LightGBM and rerun CMake with -DCMAKE_BUILD_TYPE=debug

[2017-04-21 08:30] huanzhang12 commented on #438
Can you run the clinfo utility and see if OpenCL devices can be detected?
You can get a copy of clinfo from the boinc project (untested because I don't run Windows, but should work):
https://boinc.berkeley.edu/dl/clinfo.zip

[2017-04-21 08:33] billbargens commented on #436
@huanzhang12  Yes, I have tried to provide the full backtrace logs.
I cloned and rebuilded the source code with debug flag. But it seemed that the tool was still not compiled with debugging flags. Refer to my last reply!

[2017-04-21 08:36] huanzhang12 commented on #436
In your last reply I saw that debugging flags were applied (-g is there), so your are good.
Just reproduce the crash and get the backtrace ;)

[2017-04-21 08:45] billbargens commented on #436
@huanzhang12

**gdb --args "./lightgbm" config=conf/cet/submit1_leaves255_trees400_depthNone.conf**
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

[2017-04-21 08:57] gugatr0n1c commented on #438
Number of platforms:                             1
  Platform Profile:                              FULL_PROFILE
  Platform Version:                              OpenCL 1.2 CUDA 8.0.0
  Platform Name:                                 NVIDIA CUDA
  Platform Vendor:                               NVIDIA Corporation
  Platform Extensions:                           cl_khr_global_int32_base_atomics cl_kh

[2017-04-21 09:02] gugatr0n1c commented on #438
maybe similar issue? https://github.com/dmlc/xgboost/issues/1163

[2017-04-21 09:11] huanzhang12 commented on #438
Because the crash in inside clGetPlatformIDs(), a basic OpenCL function, it could be a linking/runtime issue.
I would suggest you compile a simple OpenCL program and see if it works. I suggest you take a look at the problem in this question http://stackoverflow.com/questions/24641898/opencl-crashes-on-call-to-clgetplatformids, which is very similar to yours.