[2017-08-02 17:44] sami043 commented on #769
@wxchan

Thanks for the quick replies.

Are there plans to expand it to non-command line later on? Or would it be possible to load a .txt model through the command line interface and export the .cpp code?

[2017-08-02 17:59] wxchan commented on #769
@sami043 for 2nd one, yes, set `task : convert_model`, you can see #469

for 1st one, maybe in the future, I am a little busy these days.

[2017-08-02 20:15] sami043 commented on #769
That did the trick! Thanks!

[2017-08-02 20:15] #769 closed

[2017-08-02 20:22] j-mark-hou commented on #770
thanks!

[2017-08-02 20:22] #770 closed

[2017-08-02 20:51] ClimbsRocks opened #772 "[Request] Update PyPi distribution"
Looks like there's been a bunch of great work done over the past month! Any chance we could get an updated build on PyPi so it's easy for everyone to take advantage of this?

Specifically, at my company, we want to use LightGBM on our production system, but the way we install dependencies relies on `pip install`ing. We're pretty reliant on categorical features, so I'm particularly interested in th

[2017-08-02 21:49] j-mark-hou opened #773 "[python package]: categorical_feature in lgb.Dataset object doesn't appear to matter"
Setting a categorical_feature in the definition of lgb.Dataset() doesn't appear to do anything.  However, setting categorical_feature in the train() function does appear to to do something.

It seems like that, by default, the train() function should treat the categorical columns of lgb.Dataset as categorical without having to manually respecify.

[code]

[2017-08-02 22:19] j-mark-hou opened #774 "[python package]: ignore_column support"
Does the python package currently have support for the ignore_column option?  I can't seem to find it.

Based on the param_dict_to_str() function, it seems like putting something in params might work, but it doesn't:

[code]

[2017-08-03 00:29] guolinke commented on #774
@j-mark-hou ignore_column only work when input is file.
When input is python object, I think it is easy to drop columns by python.

[2017-08-03 00:33] j-mark-hou commented on #774
sounds great, I'll try that.

[2017-08-03 00:33] #774 closed

[2017-08-03 00:34] guolinke commented on #766
@Laurae2
I am sure the crash is caused by that line.
you can try following to find this:
1. replace https://github.com/Microsoft/LightGBM/blob/master/R-package/R/utils.R#L43-L60 with ```stop("error")``` , you will find it doesn't crash.
2. replace https://github.com/Microsoft/LightGBM/blob/master/R-package/R/utils.R#L43-L60 with ```buf_len <- 200L; err_msg <- raw(buf_len); stop("error")``` , you w

[2017-08-03 00:39] guolinke commented on #773
refer to our test here: https://github.com/Microsoft/LightGBM/blob/master/tests/python_package_test/test_engine.py#L211-L239
I think it should work.
maybe you can try to set ```'boost_from_average': False,```.
if your `n` is small, you also may need to set `'min_data': 1`, and `'min_data_in_bin': 1,` .

[2017-08-03 00:42] guolinke commented on #771
as discussed in #766 , the crash is caused by ```x<-raw(n)``` , not sure about the reason. Maybe some memory manage problem.

you can try following to find this:
1. replace https://github.com/Microsoft/LightGBM/blob/master/R-package/R/utils.R#L43-L60 with ```stop("error")``` , you will find it doesn't crash.
2. replace https://github.com/Microsoft/LightGBM/blob/master/R-package/R/utils.R#L43-L60 w

[2017-08-03 02:01] guolinke commented on #773
@wxchan
it seems there has some bug with this:
[code]
the ```categorical_feature``` in lgb.Dataset will be override  ?

[2017-08-03 02:02] guolinke commented on #772
@ClimbsRocks there is one small issue in python-package with categorical feature: https://github.com/Microsoft/LightGBM/issues/773

will update pypi after fixed.

[2017-08-03 02:03] guolinke opened #775 "[R] lgb.Dataset should not remember parameter passed from lgb.train"
@wxchan @Laurae2 can you help to fix this ?

[2017-08-03 02:05] guolinke commented on #390
@Laurae2 any updates for this ?

[2017-08-03 02:05] #752 closed

[2017-08-03 02:08] guolinke commented on #331
refer to https://github.com/kingfengji/gcForest and https://github.com/pylablanche/gcForest

[2017-08-03 02:08] #331 closed

[2017-08-03 02:10] guolinke commented on #171
refer to a better visual analytics tool: https://github.com/thu-vis/BOOSTVis2

[2017-08-03 02:10] #171 closed

[2017-08-03 02:16] guolinke commented on #315
Thanks @avannaldas .

Actually, LightGBM already contained many ideas in RGF, e.g. the best-first tree growth, newton step, and so on. So it doesn't have much values for us to implement it.  The remaining difference is their many regularization methods. Maybe we can add these regularization methods in LightGBM.

However, the contribution is still welcome.

[2017-08-03 02:18] guolinke commented on #581
@BlindApe @Laurae2 any updates ?

[2017-08-03 02:28] guolinke commented on #763
It seems c# doesn't have the native Matrices support (like the numpy / pandas in python).
As a result, the C# interfaces is not easier to be used, compared with raw cpp version.
So we provide the dll in nuget, you can wrap your interface based that dll.

BTW, it seems @ycdoit had done some works for the c# interfaces. @ycdoit can you share some details ?

[2017-08-03 02:43] #726 closed

[2017-08-03 02:45] #761 closed

[2017-08-03 04:15] ClimbsRocks commented on #772
Thanks! That'll be a differentiator from xgboost, which hasn't cut a new
release in a while.

On Wed, Aug 2, 2017 at 7:02 PM Guolin Ke <notifications@github.com> wrote:

[2017-08-03 05:45] wxchan commented on #773
@guolinke yes, there is definitely some bug. Let's discuss what should happen in case 3 & 4 below:

1. Dataset: None, train: something -> use train setting
2. Dataset: not None, train: None -> use Dataset setting
3. Dataset: not None: train: auto -> use Dataset setting?
4. Dataset: not None: train: others -> override or intersect?

[2017-08-03 05:48] wxchan commented on #773
@guolinke another thing is, we are using set_categorical_feature to set categorical_feature, but it's also a public method of Dataset. What if user wants to reset categorical_feature with this method, does those logic remain?

[2017-08-03 05:49] guolinke commented on #773
@wxchan
for 3 & 4. We can give the warning. And override by lgb.train if dataset is not constructed.

[2017-08-03 05:51] wxchan commented on #773
@guolinke for 3, I think use Dataset is better, because 'auto' is default setting.

[2017-08-03 05:51] guolinke commented on #773
@wxchan
I think as long as the dataset is not constructed, the categorical feature can be override. But we can always give a warning if previous is not none.

[2017-08-03 05:53] guolinke commented on #773
@wxchan it makes sense. But I think we still need to give a warning in that case.

[2017-08-03 11:16] wxchan commented on #775
@guolinke I find out a new question. What about feature_name and categorical_feature from lgb.train? Should they be remembered by Dataset?

[2017-08-03 11:25] guolinke commented on #775
@wxchan
I think there are some parameters (like categorical_feature, ... ) cannot be changed after dataset is constructed, and lgb.train will construct the dataset.

So maybe a new solution is, we try to use dataset.param + param_from_lgb_train to construct dataset first. If it fails, we remove the parameter from lgb_train, otherwise we add it to the dataset.param.

[2017-08-03 12:02] wxchan commented on #775
@guolinke can we seperate two kind of params: for Dataset and for Booster?

[2017-08-03 12:03] wxchan commented on #775
@guolinke I guess I over-think this. The params are only updated in `train_set._update_params(params)`, I can just make a copy of original one and copy it back after training.

[2017-08-03 14:16] zenkzz opened #777 "LightGBM does not run inside Azure ML R script"
When using a LightGBM R package in Azure ML I get the following error:

    [Error]         +++ NT HARD ERROR (0xc0000139) +++
    [Error]             Parameter 0: 0x4ad4bc8 [log2f]
    [Error]             Parameter 1: 0x4b5e2e8 [C:\src\lightgbm\libs\x64\lib_lightgbm.dll]
    [Error]             Parameter 2: 0xffffffffc0000139
    [Error]         [FATAL] Exception: 0xc0000139 (!! HARD ERROR !!) {P

[2017-08-03 14:24] guolinke commented on #777
@zenkzz we didn't test it on MS R open, not sure it can work or not.
For the CRAN R, I think it should work.
@Laurae2 any ideas ?

[2017-08-03 14:36] guolinke commented on #777
@zenkzz how do you install lightgbm ? can you provide the install log ?

[2017-08-03 14:40] chivee commented on #777
@zenkzz , lightGBM on Azure ML was [only supported in Ubuntu](https://docs.microsoft.com/en-us/azure/machine-learning/machine-learning-data-science-virtual-machine-overview).

[2017-08-03 14:41] chivee commented on #777
@zenkzz , However, you can installed the CLI version if you needed.

[2017-08-03 14:45] guolinke commented on #777
@chivee I think @zenkzz installed LightGBM by himself, so it should be supported, since it is a standard windows OS.

[2017-08-03 14:51] zenkzz commented on #777
I installed LightGBM myself. I initially compiled in CRAN R 3.4 and used it in MS R Open 3.2.2. I then tried to use the compiled version on Azure with CRAN R 3.1. It says everything is OK but there is no output after LightGBM import in R script. I compiled with MS R 3.2.5 and run on MS R 3.2.2 and it still fails with the same error.

[2017-08-03 14:56] zenkzz commented on #777
@guolinke Install logs:

[code]

[2017-08-03 14:58] guolinke commented on #777
@zenkzz
from your log, the lightgbm is installed to ```C:/Program Files/R/R-3.4.1/library/lightgbm``` .
But why the dll is loaded from ```C:\src\lightgbm\libs\x64\lib_lightgbm.dll``` ? it should be in ```C:/Program Files/R/R-3.4.1/library/lightgbm/libs/x64/lib_lightgbm.dll``` .
Maybe you are using the wrong R to call LightGBM ?

[2017-08-03 15:06] zenkzz commented on #777
@guolinke I am using Azure ML cloud service. There I execute R script with zip file attached, where there is lightgbm and other needed packages. R script is executed in a container with a Windows system. The files from the zip file are extracted into src directory. Install.packages installs the packages from zip files contained in the directory. So the original path is `C:\src\lightgbm_2.0.4.zip\l

[2017-08-03 15:18] zenkzz commented on #777
I checked. Install.packages actually creates a directory lightgbm in src.

Just for info here is my R code:

[code]

[2017-08-03 15:18] guolinke commented on #777
I see. Maybe the problem is the "Azure ML cloud" doesn't support visual c++ runtime (it is funny...), and simply add more dlls is not working.
You can try to use mingw version by set ```use_mingw <- TRUE``` in this line: https://github.com/Microsoft/LightGBM/blob/master/R-package/src/install.libs.R#L4

[2017-08-03 15:22] guolinke commented on #777
you also can try to install from github in your R script:
[code]

[2017-08-03 15:35] zenkzz commented on #777
@guolinke Compiling with use_mingw <- TRUE worked. Thanks for solving my problem.

[2017-08-03 16:18] #777 closed

[2017-08-03 17:15] iFe1er opened #778 "[Python LambdaRank BUG] eval_metric MAP higher is better"
early stopping is working wrong using MAP metrics. In my test case it stoped the valid_sets's MAP from going up, which is the opposite.

**code:**

params = {
    'boosting_type': 'gbdt',
    'objective': 'lambdarank',
    'metric': ['map'],
    'eval_at':[3],
    'num_leaves': 128 - 1,
    'learning_rate': 0.025,
    'feature_fraction': 0.6,
    'bagging_fraction': 0.8,
    'bagging_freq': 1,

[2017-08-03 18:36] Laurae2 commented on #761
@guolinke Is it at prediction time or during training?

Also, looking at GOSS C++ code, I think the following about it:

* On noisy datasets (like Bosch), GOSS will improve the metric performance
* On synthetic datasets (like Higgs), GOSS will behave poorly and decrease the metric performance

Do you think this is right? I am starting benchmarks on LightGBM to check whether this is right or not.

[2017-08-03 18:43] Laurae2 commented on #775
@guolinke I think we should separate dataset creation and training like xgboost did, it allows to avoid mistakes when using a lgb.Dataset straight away for the training.

Or, another solution:

* When training, copy lgb.Dataset (do not use the original one)
* Perform dataset construction on that copy so the original lgb.Dataset is intact

[2017-08-03 18:43] j-mark-hou opened #779 "[python package]: when some features are categorical, validation performance continually diverges from manual computation via predict as num_iterations grows"
It seems like these two should generate the same output:
method 1. the validation performance printed by the train() function during training
method 2. taking the trained model, using predict(_, num_iterations) on the validation data, and manually computing the validation performance after the fact

However, when some of the x-features are categorical, it appears that as the num_iterations variabl

[2017-08-03 18:54] Laurae2 commented on #777
@zenkzz Can you report the printed output if you run `.libPaths()` in R? You might have two LightGBMs, double check the folders.

In addition, if `.libPaths()` returns more than one (at least two) values, then if you use scripts to use R (like Rscript), LightGBM may be loaded from the wrong folder which causes this issues (I had a similar issue in one of my servers).

[2017-08-03 19:02] Laurae2 commented on #581
@guolinke I'll try to work on it this weekend, it should fix #390 at the same time.

Do you have any R proper example for lambdarank like [here](https://github.com/Microsoft/LightGBM/issues/390#issue-220486691) with a dataset? I just want to make sure I am testing properly lambdarank.

[2017-08-03 19:17] Laurae2 commented on #766
@guolinke When I enter `lgb.call` (using my script) and immediately stops LightGBM (click stop in debugger), I can't close R anymore. However, if I run stuff in the Console, it works as expected.

Something strange is happening before `lgb.call` is called the first time and we have to find out what happens.

Reproducible example:

* Use RStudio
* Run my code
* Click immediately Stop at the first d

[2017-08-03 19:26] j-mark-hou commented on #779
This seems like an issue with categorical values appearing in the validation set that don't appear in the training set.  For example, the code below runs fine:

[code]

[2017-08-03 20:34] j-mark-hou commented on #779
This was based on the old version of lightgbm that apparently didn't include the optimized way of doing categoricals.   New version of lightgbm is giving me an error so I will close for now.  until I can check if the error still occurs for the new version.

[2017-08-03 20:34] #779 closed

[2017-08-03 20:37] j-mark-hou opened #780 "[python package]: training error with categoricals"
I just re-built lightgbm from the latest github master on windows with mingw using `python setup.py install --mingw` (in the same environment where I previously had an older version installed, not sure if it matters).

training with categoricals yields an error.  It finishes all the rounds of training, then crashes.  Taking out the categoricals makes everything run fine.

[code]

[2017-08-03 20:58] Laurae2 opened #781 "[R-package] Categorical feature usage crashes R kernel"
Data: [bank_data.zip](https://github.com/Microsoft/LightGBM/files/1198592/bank_data.zip)

Might be identical to https://github.com/Microsoft/LightGBM/issues/780 issue also.

## Environment info
Operating System: Windows 8.1 Pro
CPU: i7-4600U
C++/Python/R version: R 3.4.0

## Error Message:

Crash

## Reproducible examples

[code]

## Steps to reproduce

1. Run the crashing code, see it crashes
2.

[2017-08-04 00:22] guolinke commented on #780
@wxchan it seem is caused by the save and load model (keep_training_booster=false).

[2017-08-04 00:26] #780 closed

[2017-08-04 00:27] guolinke commented on #780
@j-mark-hou can you try the latest commit ?

[2017-08-04 00:33] #778 closed

[2017-08-04 00:34] guolinke commented on #778
@wxchan It seems we miss `map` in https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1807 . I just add it.
Can you help to check other metrics ?

[2017-08-04 00:38] guolinke commented on #761
@Laurae2 it is in training.
on synthetic datasets, most data have similar weights (gradients), so using GOSS may have loss. However, you can adjust top_rate and other_rate to let GOSS working in synthetic datasets as well.

[2017-08-04 00:40] guolinke commented on #581
@Laurae2 you can use this(https://github.com/Microsoft/LightGBM/tree/master/examples/lambdarank).
I think this dataset can be add into R-package as well.

[2017-08-04 00:50] guolinke commented on #775
@Laurae2 We construct Dataset in lgb.train is because it can avoid user to specific many "reference",

Copying a Dataset is also not trivial, e.g. we need to write more codes to manage the raw memories, since many Datasets may share the same pointer(handle). And it will cost more memories.

So the simple pop up the train_params after training is much easier.

[2017-08-04 00:57] guolinke commented on #766
@Laurae2 I think it is some kind of memory manage error. I will investigate it. Let us discuss in another thread.

[2017-08-04 01:27] fulldecent opened #782 "Update macOS install instructions"
This regards https://github.com/Microsoft/LightGBM/wiki/Installation-Guide

I cannot edit the file, so creating an issue.

Just want to note that the normal `brew install gcc` worked for me. This removes about two hours from the installation process for macOS as currently documented in this file.

[2017-08-04 02:15] guolinke commented on #782
@wxchan @henry0312
Does using ```brew install gcc``` have openmp support ?

[2017-08-04 02:22] guolinke commented on #781
@Laurae2 It seems your data contains some negative numbers.
LightGBM cannot accept the categorical feature with negative numbers. I will add a checking and update the docs.

[2017-08-04 02:36] guolinke commented on #781
The reason of not allowing negative numbers is because I use Bitset to speed up the split/prediction. When using negative number, it is hard to convert it to a positive position in the bit vector.

[2017-08-04 02:42] henry0312 commented on #782
Yes, it have OpenMP, but I don't know whether it works fine.
How can I check simply?
https://computing.llnl.gov/tutorials/openMP/samples/C/omp_hello.c works at least.

[2017-08-04 02:43] guolinke commented on #782
so why we need the ```--without-multilib``` ?

[2017-08-04 02:48] henry0312 commented on #782
I don't know the details, but there was a bug in the previous gcc.
cf. https://github.com/Homebrew/homebrew-core/commit/bc4ce49717a77a0debdb2c3b8b2542c87ab58daa.

[2017-08-04 03:13] guolinke commented on #781
@Laurae2 It seems the problem is in R side.
I try following to generate a csv file, and run in cli, without any errors:

[code]

[2017-08-04 03:45] guolinke commented on #771
@Laurae2 after some debug, i find the error is caused by following:

![image](https://user-images.githubusercontent.com/16040950/28953356-10f614be-790a-11e7-938d-655b8250cf59.png)

It is very strange, the program should stop here (https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Booster.R#L45) .
But it continued run to here (https://github.com/Microsoft/LightGBM/blob/master/R-pack

[2017-08-04 14:43] Laurae2 commented on #781
@guolinke Seems the example I had on https://github.com/Microsoft/LightGBM/pull/228 is not working anymore. Indices must be corresponding to R now (starts from 1 and not from 0), it is not doing +1 automatically.

It works if I add +1 to categorical features:

[code]

[2017-08-04 14:43] #781 closed

[2017-08-04 15:13] j-mark-hou commented on #780
it works.  thanks.

[2017-08-04 19:02] i3v commented on #343
Same thing.
[There's](https://github.com/Microsoft/LightGBM/blob/c860efeac955d16a0d108c2e924252bffaa35053/docs/Parameters.md) even a `For python/R package, cannot use this parameters to control number of iterations` note. But somehow I've managed to not notice it and it took quite a long while to understand that I was using default `num_boosting_round` value. IMHO, it would be nice if lgbm would w

[2017-08-04 19:12] Laurae2 commented on #772
@ClimbsRocks The current development xgboost version would create way more issues than adding features. Fast histogram is currently in an unstable state (you would need a version from 15 Feb 2017 to avoid OS-specific issues).

What would you need specifically from a newer xgboost?

[2017-08-04 19:13] Laurae2 commented on #343
@i3v I think there should be docs/examples in Python where `num_boost_round` is explicit. In R the parameter as a separate argument is required explicitly both in docs and in examples (`nrounds`), prefilled as `10`.

[2017-08-05 00:39] #771 closed

[2017-08-05 10:35] i3v commented on #343
@Laurae2
Indeed, there are some examples.
E.g. [here](https://github.com/Microsoft/LightGBM/blob/55de8ea651aa4f3af80d78d0452593be4e13bada/docs/Python-intro.md):
[code]
`num_round` is used as a positional argument, even though it's actually optional. May be this is to highlight its importance.  So, formally, everything is fine, but still, IMHO, it's rather easy to make a mistake here. A rather hard

[2017-08-05 10:39] Laurae2 commented on #343
@i3v The following note is not strange:

This is the expected behavior of gradient boosted trees: 1 model per class requires num_class * num_iterations trees. Each boosting iteration is actually doing one iteration per class model.

[2017-08-05 11:12] i3v commented on #343
@Laurae2  yep, I do get the meaning of this note. Just like with the first one - it is correct, but it just _looks_ a bit strange:

1. The use of "here equal with". I don't say it's grammatically incorrect, but "is equal to" looks way more common. (And maybe it is better to just get rid of these words at all)
2. OK, `num_tree == num_iterations` but what's about `num_trees` and others?

[2017-08-05 11:36] Laurae2 commented on #343
@i3v

1. There are a lot of grammatical issues to fix (some wordings are strange but are still understandable)

2. They are just aliases referring to a single parameter as outlined in the doc.

[2017-08-05 11:52] i3v commented on #343
@Laurae2

1. Yes, sure.
2. Yes, sure. I mean it just sounds strange. The `num_tree here equal with num_iterations` says "`num_tree` == `num_iterations`". But we already know that these two (and some others) are equal, cause they are aliases. But for some reason this phrase mentions just these two parameters, not all. And it looks a bit strange.

[2017-08-05 15:20] Laurae2 commented on #761
@guolinke I'm seeing how slow GOSS is on my custom URL reputation dataset (the 2.25M xx 20K massive dataset).

BTW, it spends most of the time predicting in singlethread?

![image](https://user-images.githubusercontent.com/9083669/28996508-27d1e980-7a02-11e7-9e3f-f964562601e6.png)

[2017-08-05 15:52] guolinke commented on #761
@Laurae2 yeah, it is slow due to prediction, especially when #feature is large. Actually, the prediction is done by multi-thread, But it has many branching (if-else), which causes the low usage per thread.

However, another possible reason is you are using valid data(with metrics) during training .

[2017-08-05 15:55] Laurae2 commented on #761
@guolinke yes I am using a validation data during training. However I did not see it that slow with Bosch and Higgs even with validation data, it was 100% CPU usage.

[2017-08-05 16:04] guolinke commented on #761
I see, so it will have two prediction costs, and both slow(due to large #feature).
And if you are using auc metric, it could be even slower since auc is also run by single thread.

BTW, you can build LightGBM with "TIMETAG" flag, and it will output some timing statistics (with verbose=2).
It will be better if you can provide the timing statistics, Thanks.

[2017-08-05 16:07] Laurae2 commented on #761
@guolinke How to build LightGBM with TIMETAG flag in R?

I am using fast AUC computation in R (https://github.com/Laurae2/R_benchmarking#area-under-the-curve-roc-benchmarks).

[2017-08-05 16:46] guolinke commented on #761
Add it into cmake, like this https://github.com/Microsoft/LightGBM/blob/master/CMakeLists.txt#L33

[2017-08-05 16:55] i3v commented on #343
The PR is now merged. Hope it would help someone one day :).
Thanks, @Laurae2!

[2017-08-06 02:29] guolinke commented on #773
@wxchan updates ?

[2017-08-06 03:40] fenqingr opened #788 "10 warnings for "C4267" in compile gpu build"
Hi There,

I found my GPU usage is constantly under 10%, most of time just 0% with some spike at around 20% to 50% so I suspect that my GPU build has problem and I deleted the installation folder and reinstalled it and I found 10 warnings about compiling issues(See below log). Can someone look at it ? Thanks a lot!

log below:

========================================

Microsoft Windows [Version 6

[2017-08-06 05:36] AbdealiJK opened #789 "[CLI] Categorical: Read string and convert to int on the fly"
This is a feature request

It would be very useful to be able to read in Categorical values as strings ("abc", "def", etc) and convert that to integers internally.

This adds a bit of overhead, but would be much easier for users. There would probably be some overhead to do this, so a flag can be made if the user wants to do it, or we can automatically check if the column has any alphabet or not

[2017-08-06 06:06] AbdealiJK opened #790 "Distribution with YARN"
I've been looking at the examples in lightgbm for a distributed run and noticed that I need to mention the machine IPs and so on.

Is there an easier way to submit a job with YARN ? Like how XGBoost has with dmlc-submit ?

[2017-08-06 13:32] benediktbrandt opened #793 "early_stopping_rounds is ignored in python interface when specified via parameters dict"
The parameter early_stopping_rounds is ignored when it is set via the parameters dictionary but it works fine when it is explicitly specified in the call lgb.train. I think this should be fixed or the documentation needs a note that this parameter is ignored in the python interface (like the note for num_iterations in http://lightgbm.readthedocs.io/en/latest/Parameters.html)

Here is a code exampl

[2017-08-06 13:46] wxchan commented on #793
ok, we will add a note into doc.

[2017-08-06 19:32] Laurae2 commented on #761
It does not output timing statistics.

I added TIMETAG here: https://github.com/Laurae2/LightGBM/blob/test/CMakeLists.txt#L15

I also used `verbose = 2` but it prints nothing.

[code]

[2017-08-06 20:10] Laurae2 commented on #761
OK, I got them to appear but they appear only at the end.

10 trees

[code]

[code]

You can compare with 3 trees, because at 5th tree it slows down considerably:

[code]

[2017-08-07 01:56] guolinke commented on #793
@wxchan
besides updating docs, I think we also can add some warnings in python/R package if user pass these parameters into dict.
Another solution is reading these parameters from dict.

[2017-08-07 01:57] #773 closed

[2017-08-07 02:06] #390 closed

[2017-08-07 02:09] guolinke commented on #788
I think it is not caused by these warnings, and these warnings are from boost.compute library.

refer to https://github.com/Microsoft/LightGBM/issues/768, The gpu version is not perfect now, especially when #data is small .

[2017-08-07 02:09] #788 closed

[2017-08-07 04:46] guolinke commented on #772
updated.

[2017-08-07 04:46] #772 closed

[2017-08-07 05:44] huanzhang12 commented on #768
Yes, LightGBM GPU can still be improved in many ways. Currently the GPU implementation only uses like 30%-50% of full GPU potential.

The major reason the GPU is slow for small data is that, we need to transfer the histograms from GPU to CPU to find the best split after the feature histograms are built. This is not ideal. The overhead of data transfer is significant on dataset with a lot of featur

[2017-08-07 07:35] RAMitchell commented on #768
Multi-gpu and some of these other features can be harder in OpenCL due to library availability. We have nccl for p2p multi-gpu allreduce which helps a lot. I actually started off in OpenCL and switched to Cuda due to frustrations with boost compute.

[2017-08-07 08:20] PPACI opened #794 "Tree model should contain num_leaves field"
Hi everyone, i got a strange bug in my jupyter notebook using LightGBM.
When trying to load data from a pandas Dataset, i got the following case :

## Environment info
Operating System: Ubuntu
Python: 3.5

## Error Message:
[code]
## Reproducible examples
[code]
Note that this example is perfectly working :
[code]

[2017-08-07 08:27] Laurae2 opened #795 "[R-package] Investigate Booster$new error"
Follows #784 in comments.

The error is in the following synchronous calls: `lgb.train` -> `Booster$new` -> `public_bind_env$initialize` -> `handle <- lgb.call("LGBM_BoosterCreate_R", ret = handle, train_set$.__enclos_env__$private$get_handle(), params_str)`

I managed to reproduce the error (it seems the error is very hidden until you throw the debugger at all the functions to reproduce the issue

[2017-08-07 08:29] guolinke commented on #794
@wxchan it seems is some problem in python package.

[2017-08-07 08:34] PPACI commented on #794
Note that i also tried several ways to install lightGBM  : pip, pip --no-binary, python setup.py from source but none worked.

[2017-08-07 08:43] guolinke commented on #794
@PPACI can you provide the output log of first example ?

[2017-08-07 08:54] PPACI commented on #794
Strangely, i couldn't have an output log in my jupyter notebook.
Even while configuring `logging.basicConfig(level=logging.DEBUG, stream=sys.stdout)`.
Also trying `verbose_eval=1` did not yield any log. Will investigate on my side to see if it's not a mis configuration of my jupyter. (other libs without problem in my setup)

[2017-08-07 08:56] guolinke commented on #794
@PPACI
The second example doesn't have logs as well ?

[2017-08-07 09:03] PPACI commented on #794
Nothing. i will try i a non jupyter environnement and report.
I did test and the first example which doesn't work on last version, and it seems to work with release 2.0 from 3 may (tag d12e5e4).

[2017-08-07 09:05] guolinke commented on #795
@Laurae2
what is `.subset2(...` ?
Stop at `api error: ...` is the expected behavior.
The strange thing is stopping at https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Booster.R#L81 is strange behavior.

[2017-08-07 09:09] PPACI commented on #794
OK. Got no log in jupyter but it work in console.
[code]

[2017-08-07 09:11] guolinke commented on #794
The problem is you are using very small data (55). you can try to set min_data=1 and min_data_in_bin=1 .

[2017-08-07 09:11] #794 closed

[2017-08-07 09:31] PPACI commented on #794
For future reference :
I had to set a higher **min_sum_hessian_in_leaf** (100 in my case) to have a working model.
Thank you guys to pointing me to training parameters in case of small data.

[2017-08-07 10:10] run2 opened #798 "Plotting gives error Invalid decision type in tree model"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Ubuntu 16.04
CPU:Intel(R) Xeon(R) CPU E5-2697
C++/Python/R version: Python 3.5.2

[2017-08-07 10:12] run2 commented on #798
This is caused due to the following code in plotting.py
            if root['decision_type'] == 'no_greater':
                l_dec, r_dec = '<=', '>'
            elif root['decision_type'] == 'is':
                l_dec, r_dec = 'is', "isn't"
            else:
raise ValueError('Invalid decision type in tree model.')

root['decision_type'] needs to be checked with '<=' or '='

[2017-08-07 11:56] #795 closed

[2017-08-07 11:58] #775 closed

[2017-08-07 12:52] Laurae2 opened #800 "[R-package] construct yields different results"
## Environment info
Operating System: Windows 8.1 Pro
CPU: i7-4600U
C++/Python/R version: 3.4.0

When using `construct`, training metric differs. It is 100% reproducible.

## Steps to reproduce

1. Run this (without construct):

[code]

2. Run this (with construct) and compare:

[code]

---

Run 1:

[code]

Run 2:

[code]

[2017-08-07 13:03] guolinke commented on #800
@Laurae2 min_data will affect the dataset construction.
And you didn't pass it as the parameter of Dataset.

[2017-08-07 13:06] Laurae2 commented on #800
@guolinke It now matches when passing `min_data = 1` to `construct`.

Do you know the list of Dataset-only parameters?

[2017-08-07 13:06] #800 closed

[2017-08-07 13:08] guolinke commented on #800
@Laurae2
Check this https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/config.h#L94-L153

[2017-08-07 15:32] fulldecent opened #801 "Allow early stopping without validation set"
Currently the early stopping feature requires the user to specify a validation set. Instead, the validation set should be optional. Reasonable behavior should happen if it is unspecified.

---

# Benefits of specifying a validation set

1.  The customer may demand model performance be tested against a certain set
2.  Avoid overfitting
3.  Reduce validation computation time versus testing against f

[2017-08-07 15:55] Laurae2 commented on #801
@fulldecent There are several issues with your solution:

* Any sample going in the train set leaks and therefore you are overfitting immediately
* Validation may require cross-validation, especially with noisy datasets and unbalanced datasets
* Not every metric is created equal, for instance F1-score requires a quadratic improvement to increase the same way a scaled MAE do
* Some datasets lead to

[2017-08-07 21:19] neox123 opened #802 "Question"
Hello,

I want to pass the file without config parameters.

Could you give me an example?

I read the wiki, I do not know.

And do not have a small sample file for testing?

The files in the example folder are all big.

Thanks

[2017-08-07 22:27] j-mark-hou commented on #626
Hey, I think I'm missing something.

My understanding of lgb is that:
1. turn features into buckets
2. build trees with bucketed features

Given that the trees are expressed in terms of mappings from bucketed features to y-values, shouldn't the buckets themselves be enough?  What role does information present in the raw data but not in the bucketed version come into play?

The particular use case

[2017-08-08 00:16] guolinke commented on #802
refer to quick start(http://lightgbm.readthedocs.io/en/latest/Quick-Start.html).
And I think the files in example are very small.

[2017-08-08 00:16] #802 closed

[2017-08-08 00:28] guolinke commented on #626
@j-mark-hou
The main reason is for the efficiency. Mapping from y-value to bucketed values is time-costing, it needs about m*n*log(max_bin).
For the training/val data, we need to predict over it many times, so the cost of bucketed conversion is acceptable.
However, for the test data, we only predict it one time. Thus, bucketed conversion will bring much over-head. And for the prediction of test da

[2017-08-08 00:57] j-mark-hou commented on #626
am I understanding correctly that the `m*n*log(max_bin)` comes from (m features) x (n observations per features) * (log(max_bins) binary search time to pick the right bin)?

I agree this is costly, however however in the particular use case the alternative is costlier.  The feature generation itself takes a few hours, and the resulting pandas dataframe is sufficiently large that writing/reading in

[2017-08-08 02:22] guolinke commented on #626
yeah, you understand it correctly.
welcome to contribute this feature. To support this, you may need:
1. Check the `BinMapper` to know how to perform "Raw X <->  bucked X"
2. Check the `Dataset` to check how to mapping the feature index
3. Add a function into "Dataset" for the prediction, the parameters is a "boosting" object. In that function, you should convert the Bucked X -> Raw X, and call bo

[2017-08-08 02:33] guolinke commented on #626
@j-mark-hou
another reason of not allowing this is:
It may cause the incorrect prediction if predicting with Dataset. e.g. The Dataset used in Prediction is not align with the Dataset used in training. It may need some techs to check this, e.g. the md5 .

[2017-08-08 02:45] j-mark-hou commented on #626
got it, I'll start looking into it.  no guarantees, but let's see if I can do something.

[2017-08-08 04:42] geoHeil opened #804 "[question] handling of unseen categorical data"
I have da train pandas.DataFrame like
target,feat1,feat2
[code]

and a validation frame which contains
[code]

feat1 is of type `pandas.Categorical`.

A) how should the categorical be properly passed to lightGbm
B) how can I ensure that predictions of observations with unseen categorical values are handled correctly i.e. gracefully by utilizing the rest of the available columns?

[2017-08-08 04:45] guolinke commented on #804
for A: the string will be converted to int type in python, and a mapper will be saved.
for B: The unseen categories will be handled correctly, you don't need to worry about it. But if there are many unseen categories, the accuracy may be not good.

[2017-08-08 09:37] hlee13 opened #805 "can LGBM_BoosterPredictForMat support sparse vector"
If one of feature value miss when I use function LGBM_BoosterPredictForMat，what should I input，0 ？ or other function can support sparse vector. I can input feature id and value.

[2017-08-08 09:51] hlee13 commented on #805
LGBM_BoosterPredictForCSR, LGBM_BoosterPredictForCSC any demo, doc?

[2017-08-08 10:29] guolinke commented on #805
refer to the code of python package: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L732-L778

[2017-08-08 10:29] #805 closed

[2017-08-08 10:29] guolinke commented on #793
@wxchan can you help for this ?

[2017-08-08 17:09] geoHeil commented on #804
@guolinke Which parameters should be used to pas a pandas.Dataframe with categoricals? Please could you link an example. https://github.com/Microsoft/LightGBM/issues/699 mentions several recently new introduced parameters. Assuming one columns is i.e. address which contains a high number of different categorical labels (=levels) what parameters would you suggest here?

[2017-08-08 19:36] limexp commented on #372
@guolinke
Do you have any suggestions about binary file format? Is it an issue for a discussion?

There is no flag to indicate that binary or text mode required in current interface of [GBDT::SaveModelToFile(int num_iteration, const char* filename)](https://github.com/Microsoft/LightGBM/blob/6d4c7b03b7273f23b913406cc9c9d85d5178b373/src/boosting/gbdt.cpp#L863) method.
How to understand what format

[2017-08-08 20:06] geoHeil commented on #804
@guolinke also https://github.com/Microsoft/LightGBM/issues/751 you mention that it should be of type int. Is Int or String as mentioned here the correct type?

[2017-08-08 20:30] Laurae2 commented on #804
@geoHeil The Python wrapper abstracts the categorical conversion (String -> Int) and converts it for you. This is not the case if using CLI.

[2017-08-08 21:41] limexp commented on #789
@AbdealiJK, @guolinke,

There are two points to consider.

1. Reading data. Is using categorical_column parameter is required to be filled? Or feature must became categorial as soon as any non-numeric value is found? I'm quite sure that decision must be based on categorial_columns parameter. Also string representations (like 'NA' or 'nan') for missing values must be defined.

2. Saving and exporti

[2017-08-08 21:44] AbdealiJK commented on #789
I think:
1. categorical_column would be the better and simpler approach to do it
1. string to integer mapping is the best way to do it. Using initial string values throughout would require a lot of refactoring and also integer mapping is more memory efficient

[2017-08-08 21:52] limexp commented on #789
@AbdealiJK
2. I didn't suggest to refactor everything and add strings to the kernel. The question was about representation of split value in the saved model. It could be integer index (with mapping saved apart) or a string value itself.

[2017-08-08 22:00] Laurae2 commented on #789
@limexp string value would increase model size and is not efficient, it can also cause major issues (not including the potential name clashes and what to do with characters which are not compliant to the text format used by LightGBM)

[2017-08-08 22:12] j-mark-hou opened #807 "[python package]: Poisson regression returns negative values"
This is strange because poisson regression should only return positive values.  Consider the example below.

A few points:
1. treating both X columns as continuous instead of categoricals makes the bug go away.
2. setting the size of the poisson noise lam to 1 makes the bug go away
3. making the X and Y less skewed (e.g. just poisson instead of this lognormal thing) makes the bug go away

This is

[2017-08-08 22:16] limexp commented on #789
@Laurae2, I totally agree. And each decision has its pros and cons.
This feature would be great for CLI, so data can be used without preprocessing. Is it really important for python or R interfaces?
In any case we lose control over NaN values.

[2017-08-08 22:20] Laurae2 commented on #789
@limexp R and Python already have the conversion from categoricals to integers.

But if the model deployment in production is done using CLI, one must create a script to convert categoricals to their appropriate integers (usually done with SQL or any other data warehousing software).

[2017-08-08 22:29] Laurae2 commented on #807
I'm thinking Poisson regression is missing an exponential, because the gradient is currently the L2/MSE gradient: https://github.com/Microsoft/LightGBM/blob/master/src/objective/regression_objective.hpp#L317-L332

ping @henry0312

[2017-08-08 22:30] j-mark-hou commented on #807
i should mention that that the mean values of the predicted values match up quite well with the mean values of the actual target y, so in particular the problem is not that predict() is returning the log of the mean.  perhaps I'm misunderstanding you?

[2017-08-08 22:34] Laurae2 commented on #807
@j-mark-hou Gradient descent for Poisson regression is supposed to optimize for `y - exp(x)` (Poisson gradient), not `y - x` (L2 gradient).

[2017-08-08 22:35] j-mark-hou commented on #807
ah, understood.  good find!

[2017-08-09 01:51] ajing opened #808 "[R package question] Is that possible to retrieve the score for each sample from lgb.cv?"
I just wondering whether this is possible. This function can help to analyze the errors during training and do better feature engineering.

[2017-08-09 01:56] guolinke commented on #372
@limexp
we only have text format now. Binary format is a to-do item.

[2017-08-09 01:58] guolinke commented on #804
@geoHeil refer to http://lightgbm.readthedocs.io/en/latest/Advanced-Topic.html#categorical-feature-support .

[2017-08-09 01:58] #804 closed

[2017-08-09 05:26] limexp commented on #372
@guolinke
I understand this and want to clarify the task and estimate the impact of it on existing programs before starting to code. It is better to decide beforehand than to modify afterwards.

It's hard to change binary file format in the future and not to ruin existing saved models, or it would require to add versions support and make code complex. Of course there are universal solutions like p

[2017-08-09 06:48] wxchan commented on #798
@run2 you can submit a pull request with your change.

[2017-08-09 06:50] wxchan commented on #793
@guolinke there is a test case called 'test_categorical_handle', you specify 'categorical_column' in dict now, which it's not working right now. Should I keep it in dict?

[2017-08-09 06:53] guolinke commented on #793
@wxchan why it cannot work ?
refer to: https://github.com/Microsoft/LightGBM/pull/806/files#diff-c90239f8147ba65eec9e89412fe27c01R130

[2017-08-09 06:55] wxchan commented on #793
@guolinke I meant it's not being used before in that test case.

[2017-08-09 06:55] guolinke commented on #793
@wxchan BTW, here is another issue (from Gitter):

-------------------
Hi I am trying to do a manual train/test split in lightGBM.
Example code:
dataset = lgb.Dataset(data, label=labels, silent=True, free_raw_data=False)
lgb.train(
params=LGB_PARAMS,
num_boost_round=10,
train_set=dataset.subset(train_idx),
valid_sets=[dataset.subset(test_idx)],
verbose_eval=True,
)
But I got errors like this:
File

[2017-08-09 06:59] guolinke commented on #793
@wxchan sorry, I didn't get your point. you meant the `categorical_column` cannot be in dict now ?

[2017-08-09 07:00] wxchan commented on #793
@guolinke yes, before #806.

[2017-08-09 07:02] guolinke commented on #793
@wxchan
you meant only after #806, we can use `categorical_column`  in dict ?
But it passes the test before #806 .

[2017-08-09 07:05] wxchan commented on #793
@guolinke it won't throw an error, it's ignored. Actually in current version, categorical_column only support list or set, use int will throw an error. So it must be ignored.

[2017-08-09 07:08] guolinke commented on #793
@wxchan
before #806 , the `categorical_column: 0` in dict will be converted to `categorical_column=0`, and this will be accepted by LightGBM dll. Otherwise the test cannot pass, since the prediction needs to equal to label.

[2017-08-09 07:14] wxchan commented on #793
@guolinke ok I got it. So what should be current logic if categorical_feature is set in both dict and argument?

[2017-08-09 07:16] guolinke commented on #793
I think use the one in dict, and give a warning ? ( since it has a default value in argument, it is hard to tell is set by user or not. )

[2017-08-09 07:17] guolinke commented on #793
BTW, do you have any idea about the issue in this comment: https://github.com/Microsoft/LightGBM/issues/793#issuecomment-321169954 ?

[2017-08-09 07:21] wxchan commented on #793
@guolinke I am trying to reproduce it and didn't reproduce it yet. I think it should be fixed after reference chain. Is he using latest version?

[2017-08-09 07:26] guolinke commented on #793
@fcchou can you try use the latest code ?

[2017-08-09 11:35] run2 commented on #798
Done - thanks.

[2017-08-09 11:52] #798 closed

[2017-08-09 13:44] AljazJ opened #811 "LightGBM error - categorical feats"
Hi there,

the error I get:

  File "C:\Program Files\Python35\lib\site-packages\lightgbm\engine.py", line 168, in train
    booster = Booster(params=params, train_set=train_set)
  File "C:\Program Files\Python35\lib\site-packages\lightgbm\basic.py", line 1250, in __init__
    train_set.construct().handle,
  File "C:\Program Files\Python35\lib\site-packages\lightgbm\basic.py", line 807, in constru

[2017-08-09 13:49] guolinke commented on #811
@wxchan
https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L637-L644
it seems the `str` type cannot be recognized.
@AljazJ can you provide the re-produce code ?

[2017-08-09 14:04] AljazJ commented on #811
Thanks for answering! This is the part that precedes it, I'm not posting everything since the code cannot be run without some dependent datasets, but if needed I could post also a larger part preceding it:

[code]

[2017-08-09 14:09] wxchan commented on #811
@AljazJ can you print `cat_features` before `lgb_train = lgb.Dataset(data, labels, categorical_feature=cat_features)` and paste output here?

[2017-08-09 14:09] guolinke commented on #811
@AljazJ if you have multi categorical features, please use list instead.
e.g. `cat_features = [0,1,2,3]`

[2017-08-09 14:09] #811 closed

[2017-08-09 14:12] wxchan commented on #793
@guolinke so actually we don't need to check categorical_column from params dict and pull it out of it. It works perfectly fine.

[2017-08-09 14:27] AljazJ commented on #811
107,108,109 is the output.

I'm fairly new to Python, but it seems that using list may not change a lot here, however I'll see and report - thanks @guolinke!

[2017-08-09 14:28] j-mark-hou opened #812 "[python package]: suggestion: lgb.Booster.predict() should check that the input X data makes sense"
In particular, I'm thinking about these things:

1. if the input is an np.array, check that the columns is the same as the number of features the lgb.Booster object uses.  if not, throw a warning.
1. if the input is a pd.Dataframe object, should check that the feature_names of the lgb.Booster object is a superset of the columns of the pd.Dataframe
2. if feature names in the booster object are repe

[2017-08-09 15:43] rgranvil opened #813 "Default_value missing from lgb.dump output"
The output from lgb.dump no longer contains information on the default_value for missing values (either -Inf, 0, or Inf).  Was this an intentional change?  Can this be re-added?

Snippet of lgb.dump as of approximately June 2017:
[code]
Snippet of lgb.dump today:
[code]

Code:
[code]

[2017-08-09 16:32] olofer commented on #807
It looks fixable by simply implementing the ConvertOutput method as the exp(). But I'm not sure it is the best way since it implies a bunch of silly log(exp(score)) calculations at all points.

[2017-08-09 18:15] fcchou commented on #793
@guolinke The latest code works. Thanks!  Looking forward to see the next Python release coming out with all the bug fixes.

[2017-08-09 21:44] fulldecent commented on #801
Thank you for the deep explanation. I can see that even k-fold cross validation is not a reasonable default for everything and users must need to manually set up validation for every project.

[2017-08-09 21:44] #801 closed

[2017-08-09 23:50] guolinke commented on #813
Thanks, just fix it in the latest commit.
However, the `default_value` is changed to `default_left` and `missing_type`.
`default_left=True` means the missing values are in the left-child.
`missing_type=None` means this feature doesn't have missing values.
`missing_type=Zero` means this feature uses zero as missing values.
`missing_type=NaN` means this feature use Na/NaN as missing values.

[2017-08-09 23:50] #813 closed

[2017-08-09 23:50] guolinke commented on #807
@henry0312

[2017-08-09 23:52] guolinke commented on #793
@wxchan maybe we can handle both int, str, multi-str(`','.join(...)`), list of str, list of int .

[2017-08-10 04:10] guolinke opened #814 "[CI] GPU CI failed"
it seems the opencl of AMD (`AMD-SDK.tar.bz2`) cannot be downloaded.
@huanzhang12 @wxchan can you help to fix it?

[2017-08-10 04:48] #814 closed

[2017-08-10 07:55] harryshics opened #816 "An issue of the MAP metric when using lambdarank"
I encountered an issue on the MAP@k metric when using lambdarank.

When running the sample code in "LightGBM/examples/lambdarank/", I found different setting of eval_at could return very different values of MAP@k.

For example, when setting eval_at = 1,3,5, we get
 training map@1 : 0.9801
 training map@3 : 1.10945
 training map@5 : 1.18806

However, when setting eval_at = 1,2,3,4,5, we get
trainin

[2017-08-10 08:13] i3v opened #817 "__func__ and MSVS2013"
The `__func__` keyword, which is used in just two files, [here](https://github.com/Microsoft/LightGBM/blob/f8597c93bce24724349b8a17ffc4fab05b64e97c/src/metric/xentropy_metric.hpp#L81) and [here](https://github.com/Microsoft/LightGBM/blob/f8597c93bce24724349b8a17ffc4fab05b64e97c/src/objective/xentropy_objective.hpp#L54) seem to be not supported in older MSVS versions (pre-MSVS2015).

MSVS2013 is ab

[2017-08-10 08:13] #816 closed

[2017-08-10 08:15] guolinke commented on #816
sorry, it is a bug. have fixed.

[2017-08-10 08:19] guolinke commented on #817
@i3v
you can use ```_MSC_VER ``` macro.
e.g.
[code]

[2017-08-10 08:28] guolinke commented on #816
It seems there is another bug. fixed in https://github.com/Microsoft/LightGBM/commit/e9ac42c31cc15a9875583854a3ef107d55ec5c31

[2017-08-10 08:58] pplonski opened #818 "[python package] not raising exceptions"
The python package is not always raising exceptions, below is example code which ends with core dump and no exception is raised.

[code]

I got following output:
[code]

Thank you!

[2017-08-10 09:01] i3v commented on #817
@guolinke
Yep, it looks like [my initial approach is not correct at all](https://stackoverflow.com/a/2282433/1032586).

So, is `LightGBM/utils/common.h` OK for this?
Should I submit a PR?

[2017-08-10 09:23] wxchan commented on #818
It's not python related. I think it's caused by 0 features.

[2017-08-10 09:25] pplonski commented on #818
Yes, the problem is caused by 0 features - I set it on purpose. The script is finishing with core dump, it should raise exception.

[2017-08-10 10:21] guolinke commented on #817
@i3v you can create a PR.
BTW, maybe put it in the `meta.h` is better.

[2017-08-10 10:33] #818 closed

[2017-08-10 13:35] blewy commented on #808
- Hi ajing, i cant get the lgb.cv to work for modeling a continous variable with regression. Where you able to make it work?
lgb.train worked just fine with an validation dataset, but gb.cv still puzzles me.

- R gets stuck and the folowing warning shows:
"Warning messages:
1: In foldVector[y == dimnames(numInClass)$y[i]] <- sample(seqVector) :
  number of items to replace is not a multiple of rep

[2017-08-10 14:28] i3v commented on #817
The PR is now merged, thanks, @guolinke !

[2017-08-10 14:37] #817 closed

[2017-08-10 15:29] harryshics commented on #816
Thanks.

[2017-08-10 16:40] coulls opened #822 "Segfault with data or voting parallel operation over sockets"
## Environment info
Operating System: Ubuntu 16.04.2 LTS
CPU: Amazon EC2 m3.2xlarge instance
C++/Python/R version: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)

## Error Message:
From rank 0 machine:
[code]

From rank 1 machine:
[code]

## Reproducible examples
Using example from LightGBM/examples/parallel_learning/

## Steps to reproduce

1. Clone master branch of LightGBM repositor

[2017-08-10 17:07] ajing commented on #808
What is in your dtrain? What does your y look like?

[2017-08-10 17:08] coulls commented on #822
This also occurs with MPI-based parallel operation.

Segmentation fault occurs here:  https://github.com/Microsoft/LightGBM/blob/master/src/io/dataset_loader.cpp#L744

[2017-08-10 17:09] #822 closed

[2017-08-10 17:11] guolinke commented on #822
@coulls  can you try the latest code ?

[2017-08-10 17:17] coulls commented on #822
This appears to work now.  Thank you!

[2017-08-10 20:51] dah33 commented on #789
I was using categorical features on a Kaggle Kernel. Python converts NaNs to "-1" when you convert values within categoricals to integers. This causes LightGBM to bomb out with a fatal error. This is silent on Kaggle, and kills the kernel.

The solution is:

`for col in categorical_vars:
    df[col] = pd.Categorical(df[col].cat.codes+1)`

[2017-08-10 23:00] blewy commented on #808
Its a continous variable

 I created dtrain like this:
- dtrain <- lgb.Dataset(as.matrix(train.dataset), label = train.target)

and a summary from train.target:
 - summary(train.target)
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
     0.67   1204.49   2116.89   3032.27   3859.20 106863.00

[2017-08-11 07:02] mdabros commented on #763
I am interested in providing a lightGBM learner/model as a more efficient alternative to my own gradient boost implementation in [SharpLearning](https://github.com/mdabros/SharpLearning). With the primary goal of making machine learning more accessible in C#.

My hope was to have a stand-alone C# interface for lightGBM (+ native dll) in a nuget package and then use that package in SharpLearning. I

[2017-08-11 14:09] henry0312 commented on #807
I'm sorry for late response.
I've been in my short summer vacation, so I'll check and reply next week (as soon as possible).

[2017-08-11 14:11] #793 closed

[2017-08-11 14:12] #705 closed

[2017-08-11 16:15] JimSEOW commented on #763
@mdabros consolidation! Great job!

[2017-08-11 16:41] ajing commented on #808
Is train.dataset a data.frame? Does it have any missing value?

[2017-08-11 18:57] blewy commented on #808
No Missings and ist a data.frame but I used as.matrix to creata suitable
dataset for lgbm. This thing is that  training with "lgb.train" works fine,
but cv.lgb does not.

Have you used cv.lgb for regression before ? did it worked ?

On 11 August 2017 at 17:41, ajing <notifications@github.com> wrote:

[2017-08-11 18:59] ajing commented on #808
Yes, it worked.

[2017-08-11 19:04] blewy commented on #808
Hum.. ok so the problem is on my data set. Thanks.

On 11 Aug 2017 7:59 pm, "ajing" <notifications@github.com> wrote:

[2017-08-11 19:10] rgranvil opened #824 "Categorical features with 2 levels"
Based on the output of lgb.dump, LightGBM appears to be treating categorical variables with 2 levels as continuous variables.  I don't think this would have an impact on the model, but what is the reason for this treatment?

Lgb.dump output splitting on "vs" (a categorical variable with two levels):
[code]

Lgb.dump output splitting on "gear" (a categorical variable with three levels):
[code]

Cod

[2017-08-11 19:12] Laurae2 commented on #824
A categorical variable with 2 different values is the same as a binary feature, therefore continuous treatment is more appropriate for speed.

ping @guolinke in case

[2017-08-11 19:17] blewy commented on #808
I just tried thos code, its still show warnings :(

"
data<-read.table("./data/lowbwt.dat", header=TRUE, skip=0)

data_train <- data[, c(2:11)]

target <- data_train$BWT
data_train$BWT <- NULL

library(lightgbm)
dtrain <- lgb.Dataset(as.matrix(data_train), label = target)
params <- list(objective = "regression", metric = "l2")
model <- lgb.cv(params,
                dtrain,
                10,

[2017-08-11 19:44] rgranvil commented on #824
It creates some complications when parsing the lgb.dump file to generate scoring code when the variable types are changing.  Is it possible to keep the continuous treatment in model training for speed, but output the dump file in categorical format?  This would maintain consistency between the function inputs and function outputs.

[2017-08-12 01:20] ajing commented on #808
Have you try this example:

[code]

This is a classification problem, but you can use regression to fit the model.

[2017-08-12 01:45] #824 closed

[2017-08-12 01:45] guolinke commented on #824
@rgranvil can you try latest code ?

[2017-08-12 04:04] yananchen1989 opened #826 "Memory error occurs when preparing training"
My memory is 32G and swap memory is also 32G. Train data is 16G.
After converting it(pandas df format) to lightgbm dataset,  I deleted the pandas df to release RAM.
There is much RAM left and I find that in the begin of training, it costs too much memory although in the course of training, the RAM usage % is very low.
So why in the beginning of training, there alwasys comes memory error.
How many

[2017-08-12 04:14] guolinke commented on #826
The issue seems from Pandas (caused by this line ```data = data.values.astype('float')```) . I think this will consume many memories.

From this log, I think you didn't really delete the `pandas` Data frame.
The lgb.Dataset will store the DataFrame, and construct from it when calling ```lgb.train``` .

You can try to convert the pandas to numpy matrix first, then use it to construct lgb.Dataset .

[2017-08-12 04:29] yananchen1989 commented on #826
[code]
Thanks. order_train is my pandas dataframe. After I create lgb_train, I excute: `delete order_train` in ipython. You mean that the delete execution is not in effect (actually the RAM has not been released at all) and the dataframe is still there.  So it leads to memory error.

By the way, when I use numpy array instead, what change should I make to `categorical_feature` parameters. Should i

[2017-08-12 04:33] guolinke commented on #826
I think you can get feature_name from pandas.DataFrame. And you set feature_name and categorical_feature at the same time when define a lgb.Dataset. In that case, you can use the feature_name in categorical_feature (like `categorical_feature = ['product_id','aisle_id','department_id','f40','f41','f41']`).

[2017-08-12 04:39] yananchen1989 commented on #826
Fine.  This should solve the memory error problem.
[code]

[2017-08-12 08:47] blewy commented on #808
Yes, I tried that one, it works fine. But the label (or target variable)
its a 0/1 value. I was just checking the possibility of an issue for true
continuous variables.

On 12 August 2017 at 02:20, ajing <notifications@github.com> wrote:

[2017-08-12 11:18] tyokota opened #827 "Issues with installing GPU-enabled on Windows 10."
I am trying to install the GPU-enabled LGB package in Windows 10... I see the following error:

[code]
Here's a snapshot of my PATH:
![image](https://user-images.githubusercontent.com/4334198/29240202-d23d12ca-7efb-11e7-857e-d391929e04ee.png)

Only installed 64-BIT R/R-Tools:
![image](https://user-images.githubusercontent.com/4334198/29240209-017847d0-7efc-11e7-9fe7-501ca9dd99db.png)

![image](htt

[2017-08-12 15:02] fulldecent commented on #801
Just documenting my end result here. I have found another approach to achieve what I am looking for.

[code]

[2017-08-12 16:01] guolinke commented on #827
It seems you are installing R package ?
please refer to https://github.com/Microsoft/LightGBM/tree/master/R-package .
And Set use_gpu to TRUE in R-package/src/install.libs.R

[2017-08-12 16:01] #827 closed

[2017-08-12 19:17] tyokota commented on #827
Still the same issue with the .dll not being found..,
![image](https://user-images.githubusercontent.com/4334198/29243617-1a3123b2-7f3f-11e7-8f99-f3c2a7a6c71d.png)

[2017-08-12 21:17] fulldecent opened #828 "CV method restarts model each time"
I am using this code

[code]

It is my understanding that running the latter line multiple times would continue training the model. This would be useful if you would like to modify parameters and train it some more. Or maybe if you would like to feed in additional data. However when I try with the above it will erase and restart the model each time.

I have also posted this in https://stackoverflo

[2017-08-12 21:21] Laurae2 commented on #828
It is the expected behavior.

You can't resume training with a different dataset.

What is not working?

[2017-08-12 21:32] Laurae2 commented on #127
@tobigithub Change the number of threads, and destroy + garbage collect the model everytime training finishes. It will lower the memory pressure a lot.

Something like this for the latter issue (destroy + garbage collect model):

[code]

[2017-08-13 02:25] guolinke commented on #827
@tyokota
can you provide the full log ?
BTW, if you updating windows 10 recently, you may need to reinstall nvidia driver and cuda.

[2017-08-13 07:52] tyokota commented on #827
@guolinke that was exactly it. I reinstalled Nvidia drivers and Cuda toolkit/CudNN.

[2017-08-13 21:55] fulldecent commented on #828
I am reading the source code at

https://github.com/Microsoft/LightGBM/blob/70b17a545bd90ea92b4518c5e4f3548ab8a11b15/python-package/lightgbm/basic.py#L994-L1005

which states:

So it seems to me that continued training is supported but I am not doing it right.

[2017-08-13 22:00] Laurae2 commented on #828
ping @wxchan

[2017-08-14 21:15] hatooku opened #830 "data_size_t only supports 32 bit integers (too small?)"
https://github.com/Microsoft/LightGBM/blob/19eececfb889f03640e8c90bb09a00f9bb4a9f2f/include/LightGBM/meta.h#L14

Is it possible to change data_size_t to support 64 bit integers? I'm trying to run lambdarank, but my query_id's are 54 bit integers, so they do not work as the vector queries_ has type vector<data_size_t>. Also, with the change it can support larger datasets.

[2017-08-15 01:39] dou3516 opened #831 "Visual Studio version and CMake configure"
Visual Studio version should be informed 12 or higher in installation guide to avoid unexpected error. So is CMake configure.

[2017-08-15 01:43] rgranvil commented on #824
@guolinke Works well now. Thanks.

[2017-08-15 01:55] guolinke commented on #831
LightGBM is based on c++11, only vs2013 or higher can support it.

[2017-08-15 01:55] #831 closed

[2017-08-15 01:58] henry0312 commented on #807
Guys, we can refer:

- [poisson regresson in lightgbm · Issue #233](https://github.com/Microsoft/LightGBM/issues/233)
- [Support Poisson regression by henry0312 · Pull Request #270](https://github.com/Microsoft/LightGBM/pull/270)

@olofer I'm sorry, I can't understand what you mean. Please give me some sample codes (or diffs).

[2017-08-15 02:33] guolinke commented on #830
using 64-bit integer will be much slower, and 32-bit is enough for most case. So we use 32-bit integer by default.
I think it isn't small for single machine (due to memory limitation in single machine). And for the big data case, I think using parallel learning is a better choice.

the solution for your query_id problem:
1.  If the number of unique value of your query_id is smaller than 32-bit, yo

[2017-08-15 02:33] #830 closed

[2017-08-15 03:13] rgranvil opened #833 "Error when predictor has only negative values"
I get this error when I fit a model with predictors with only negative values.  The model works as expected when I convert the predictors to positive values.

**[LightGBM] [Fatal] Cannot construct Dataset since there are not useful features.**

Code:
[code]

[2017-08-15 03:31] #833 closed

[2017-08-15 03:39] #826 closed

[2017-08-15 06:53] xujianjlu opened #834 "set 'nthread' param is not work when using booster.predict() , there are too many threads"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2017-08-15 06:54] guolinke commented on #834
please use the latest code, I think it is fixed.

[2017-08-15 06:54] #834 closed

[2017-08-15 08:30] AaronIntro opened #835 "LGBMRanker Model"
Hello,

   Thanks for your wonderful work, however, I am still confused on the application of LGBMRanker. Would u provide some details about LGBMRanker （examples or illustrations）?

[2017-08-15 23:51] mhmoudr opened #836 "Training on GPU does not utilise GPU properly"
Mainly the issue is GPU utilisation. as after building LightGBM for GPU up to the described process, and running on a sample dataset, while monitoring both CPU and GPU (please check attached screen shot)
The process move the training dataset into GPU memory and nvidia-smi recognise it as a running process, while during the training GPU utilisation does not exceed 2-5%, on the other hand CPU seems

[2017-08-16 00:59] fenqingr commented on #836
same thing here, most of time GPU usage stays at 0% with some spike ~10% to 20%. I though my CPU( i5 2500K @ 4G) caused bottle necking my GPU performance and from your case I believe it is not the case.

[2017-08-16 01:12] rgranvil opened #837 "Categorical features with missing values"
This is a simple example with a single categorical predictor x, a binary target y, and a model with a single split.  It seems that the missing value direction is suboptimal in this case.  I would expect the missing value to be grouped with levels 1, 2, and 3 instead of with levels 4 and 5.  Is this the intended behavior?

![image](https://user-images.githubusercontent.com/5714229/29343199-913c5b1e

[2017-08-16 01:38] olofer commented on #807
Take a look at this edit: https://github.com/olofer/LightGBM/commit/8782ae9efc60b6ea635cb694e18a87ea9be75de0

I have not tried it. Look at the code comment in the file for an explanation what it is supposed to do.

[2017-08-16 02:11] marugari commented on #524
I have made a prototype of https://github.com/Microsoft/LightGBM/issues/524#issuecomment-315924517.

https://github.com/marugari/LightGBM/tree/fast_multi
https://github.com/marugari/Notebooks/blob/master/LightGBM-Fast_Multi.ipynb

[2017-08-16 02:30] #837 closed

[2017-08-16 02:30] guolinke commented on #837
@rgranvil Thanks very much for many deep dives of these bugs.

[2017-08-16 05:24] guolinke commented on #836
It is normal if your training data is small.
BTW, you are using `max_depth` = 12, but forget to set ```num_leaves```, so you are training the small model, which will also cause the low gpu usage.

[2017-08-16 05:51] mhmoudr commented on #836
I am using a dataset that have ~14Mil row and ~1000 sparse features the memory foot print as you can notice in the `nvidia-smi` was 649MB, and in term of the `num_levels` I have set it to 12 as well and I had exactly the same behavior

[2017-08-16 05:54] guolinke commented on #836
@mhmoudr ```num_leaves=2^max_depth```.
@huanzhang12 I remember the sparse feature cannot use GPU to speed up, right ?

[2017-08-16 06:19] mhmoudr commented on #836
As I am writing this I am running using `num_levels = 24` (as depth still on 12) but GPU utilization is closer to 1% this time.
The question that I have why CPU in this scenario are utilized with something close to 80%, doesn't this mean that all of the heavy lifting (calculation) that supposed to happen on GPU cores is happening actually on CPU? as in other packages when I train on GPU, CPUs seem

[2017-08-16 08:04] guolinke commented on #524
@marugari
Thanks very much, it seems is a training top-k worst class solution ?

[2017-08-16 09:28] henry0312 opened #839 "Memory leak"
Memory leak happens with the current HEAD of master (f1e3ab923cc6d296c95d28afb3c883dce0119628).
With v2.0.4, memory leak doesn't happen.

## Environment info

Operating System: Ubuntu 16.04.3
CPU: Intel Xeon E5-2623 v3
C++/Python/R version: gcc 5.4.0 and Python 3.6.1

## Error Message:

## Reproducible examples

[code]

## Steps to reproduce

1. Just run the above code

[2017-08-16 09:51] henry0312 commented on #839
There is something wrong with https://github.com/Microsoft/LightGBM/pull/673.

[2017-08-16 09:54] wxchan commented on #839
@henry0312 don't have machine to run it right now. Can you paste error message here?

[2017-08-16 09:56] wxchan commented on #828
@fulldecent I check it yesterday, if you set init_model=None in lgb.cv, you will get different result. (w/o init model). How do you judge if it's a continued training or restart?

[2017-08-16 09:56] Laurae2 commented on #839
@henry0312 Can you provide RAM usage for these commits after your script runs?

f7d190a
ac73638

Make sure you also run the garbage collector at the end (otherwise it is not comparable).

[2017-08-16 09:56] henry0312 commented on #839
@wxchan There is no error message. Usage of memory just increases

[2017-08-16 10:08] henry0312 commented on #839
* https://github.com/Microsoft/LightGBM/commit/f7d190aa5c021de10fd5924d782d2cdf4eee9494 : 6% of 128GB = about 7.68GB
* https://github.com/Microsoft/LightGBM/commit/ac73638f29d9f5647922c69c6cbf983228fe382c : 0.1% of 128GB = about 1.28GB

[code]

Note that `range(1000)`.

[2017-08-16 10:12] henry0312 commented on #839
@Laurae2 `gc.collect()` doesn't seem to fix the issue.

[2017-08-16 10:21] Laurae2 commented on #839
@henry0312 strangely in R the memory never increases.

[code]

[2017-08-16 10:22] guolinke commented on #839
@henry0312 can you try the lgb.train ?

[2017-08-16 10:22] henry0312 commented on #839
@Laurae2 That is because https://github.com/Microsoft/LightGBM/commit/f7d190aa5c021de10fd5924d782d2cdf4eee9494 affects only Python.

[2017-08-16 10:24] Laurae2 commented on #839
@henry0312 It means in Python there is a pointer or something preventing the garbage collector to clear everything from the `gbm` variable. It's weird that a new (unused in this case) parameter causes this issue.

[2017-08-16 10:30] guolinke commented on #839
@wxchan I think it is cause by this line: https://github.com/Microsoft/LightGBM/commit/f7d190aa5c021de10fd5924d782d2cdf4eee9494#diff-c90239f8147ba65eec9e89412fe27c01R209

you should free the handle first, than load string. Otherwise the handle will be just override without free memory

[2017-08-16 10:35] henry0312 commented on #839
@guolinke There are also memory leaks with the below code whith uses `lgb.train`:

[code]

[2017-08-16 13:01] guolinke commented on #283
@yanyachen
Actually, we can get the prediction of training dataset and validation dataset by using this function:
R: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Booster.R#L486-L489
python: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1768-L1793

I think use them is enough to achieve the CV prediction score.

[2017-08-16 13:03] guolinke commented on #808
duplicated, refer to #283

[2017-08-16 13:03] #808 closed

[2017-08-16 13:04] guolinke commented on #835
refer to https://github.com/Microsoft/LightGBM/blob/master/tests/python_package_test/test_sklearn.py#L55-L63

[2017-08-16 13:04] #835 closed

[2017-08-16 13:05] guolinke commented on #812
@j-mark-hou  sure, very happy to see this feature.

[2017-08-16 13:10] guolinke commented on #836
@mhmoudr refer to #768 .
The LightGBM GPU still need to use CPU to do some calculations.
And all sparse features cannot use GPU to speed up, so the CPU usage is high in your case.

[2017-08-16 13:14] guolinke commented on #789
@dah33 you can use NA to represent missing.
@wxchan can we add a conversion for the -1 (to `NaN`) in python package ?

[2017-08-16 13:15] Laurae2 commented on #789
@guolinke @wxchan In Python package we may enforce anything negative is NaN for categorical variables (strictly `-1` only for `NaN` would be strange).

[2017-08-16 13:16] guolinke commented on #789
@Laurae2 okay, maybe I can support this in c++ side, and gives a warning for this conversion.

[2017-08-16 13:45] #730 closed

[2017-08-16 13:46] guolinke commented on #782
@wxchan  can you help to confirm this ?

[2017-08-16 13:47] #581 closed

[2017-08-16 13:56] henry0312 commented on #789
There is a very difficult problem: we cannot pass categories (list of values) to auto convert.
This becomes a problem when one know true categories and all of them apper in train data.

[code]

[2017-08-16 14:01] henry0312 commented on #789
There is another problem: we cannot know if a value is not in categories or missing value, because pandas.Categorical encode both of them to -1

[2017-08-16 14:05] henry0312 commented on #789
Additonaly, pandas.Categories encode labels to int accoriding to their order of appearance, I guess, so we may not reproduce the same encoding when predicting.

[2017-08-16 14:12] fulldecent commented on #283
Is this related to https://github.com/Microsoft/LightGBM/issues/828 ?

[2017-08-16 15:28] geoHeil opened #842 "[question] reading & changing parameters of fitted model"
How can I read the parameters of ideal `n_estimators` after early stopping from the model?

How can I change a parameter after fitting the estimator? I.e. I want to train with let's say 40 threads, but predict only with 2?

[2017-08-16 15:45] huanzhang12 commented on #768
@RAMitchell Thank you for letting us know your valuable experience and suggestions. I will certainly consider using NCCL. I hope the parallel learners in LightGBM do not reply too much on the interconnection, because they have shown good scalability in distributed settings.

[2017-08-16 15:49] huanzhang12 commented on #836
@mhmoudr Sparse features processing has too much irregularity and are currently not accelerated on GPU. Try to set `sparse_threshold` parameter to 1.0 or a number very close to 1.0 and see if there are any improvement. See more details in the [GPU performance tuning guide](https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Performance.md).

[2017-08-16 15:51] huanzhang12 commented on #524
@marugari Sorry for my late reply. I will look into this.

[2017-08-16 16:14] guolinke commented on #842
1 use booster.best_iter
2 you can pass param dict to predict function

[2017-08-16 16:14] #842 closed

[2017-08-16 19:22] geoHeil commented on #842
@guolinke
`clf.booster_.best_iteration` works. I.e. when the result is **0** and `'n_estimators': 100` obviously 100 are correct.

But assuming the result was 10. Would this mean 10 iterations were applied during the best run?

[2017-08-16 20:25] geoHeil opened #843 "predict_contrib not defined"
I am on 94d3a05d5680a023f365af31dfa55f335a517c5b and get

LightGBMError: b'Unknown parameter: predict_contrib' for the sklearn API

[2017-08-16 21:06] #843 closed

[2017-08-16 21:13] marugari commented on #524
@guolinke
Yes. This algorithm's focus is not gains but residuals, unlike the paper.

@huanzhang12
It seems that classes improve gain easily often don't match classes have large loss.
This causes poor prediction accuracy in my implementation.

[2017-08-16 21:30] geoHeil opened #844 "simple custom metric from scikit-learn scorer"
Scikit-learn provides several methods to calculate metrics from `(y_true, y_prediction)` i.e. f1, beta score like http://scikit-learn.org/stable/modules/generated/sklearn.metrics.fbeta_score.html https://github.com/Microsoft/LightGBM/issues/284 outlines how to build grad / hess objective, but is there a simpler way to simply use the output of i.e. the f_beta_score as the custom objective?

[2017-08-16 21:30] dah33 commented on #789
Is there a distinction to be made between nominal and ordinal features when worrying about known categories that are not present in the training data?

Can ordinal values be encoded as floats just using Series.cat.codes.astype(float)? They would then be ordered correctly.

Nominal values if not present in training set, then is there advantage in encoding them as anything other than NaN? When would

[2017-08-16 21:32] Laurae2 commented on #789
@dah33 ordinal features should be numerical, while nominal features should be categorical.

[2017-08-16 21:34] dah33 commented on #789
@henry0312 nominal categories pandas encodes to integers in order of appearance. Ordinal categories are encoded in a way that preserves order (0 for A, 1 for B, 2 for C, etc) even if that category did not appear in the data frame

[2017-08-16 22:03] dah33 commented on #789
@Laurae2 thanks for the tip. The terminology is a bit misleading as pandas calls ordinals just a "Categorical" with an order. Whereas LightGBM has categorical_features='auto' which detects Categoricals but really this should only be handed nominals, as you say.

[2017-08-17 01:13] #839 closed

[2017-08-17 02:55] guolinke commented on #842
when best_iteration <= 0, it means using all models.

[2017-08-17 04:31] geoHeil commented on #789
@Laurae2 I have a question regarding the encoding:
https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py#L532 is using eval_set[i] = (valid_x, self._le.transform(valid_y)) but the _le i.e. scikit-learn.LabelEncoder. However that one definitely fails on unseen labels during transform. How does it then magically work as outlined in Microsoft/LightGBM#804 to properly ha

[2017-08-17 09:22] Laurae2 commented on #789
@geoHeil I don't use scikit-learn transformers as they are known to have shady issues on transformers / supervised machine learning (like https://github.com/scikit-learn/scikit-learn/issues/3956 about your LabelEncoder).

It is better to prepare oneself the categorical features before feeding to LightGBM the DMatrix, or to use custom converters like the one I made in R for LightGBM, this way you k

[2017-08-17 09:25] Laurae2 commented on #789
@dah33 An ordinal scale is still debatable whether it is continuous or discrete (in theory). But for LightGBM, it is better to feed them as numeric because:

* Continuous treatment (numeric) respects the ordinality rule in LightGBM (greater or less than)
* Discrete treatment (categoricla) breaks the ordinality rule in LightGBM (equal to + some potential conversions losing order)

[2017-08-17 10:49] geoHeil commented on #789
@Laurae2  a couple of days you mentioned that

and that is https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/compat.py#L75
so I wonder if I should lightGBM's python wrapper to automate this conversion as this is still only using a LabelEncoder which as far as I know can't handle unseen data.

[2017-08-17 11:22] Laurae2 commented on #789
@geoHeil I recommend a using a separate converter because there's no way a saved model can remember something which is not native (a LightGBM saved model does not know what is Python).

As with any preprocessing steps, they must be separate to the LightGBM interface (explicit), not inside the LightGBM interface (abstracted). The conversion is done for the user convenience (like what `lgb.cv` does)

[2017-08-17 11:24] geoHeil commented on #789
@Laurae2 thanks for the clarification. @wxchan can you clarify this for python?

[2017-08-17 11:57] iAceLee opened #845 "The way to get the output of each decision tree, not the accumulated one."
Hi, LGBM provides us an end-to-end way from getting the training model to predicting new data by using it. However, when I want to use the LGBM as a feature exractor, which means I need to get the output of each tree and use the output as my new feature to train another model (like linear regression, etc). Since I am a new-be coder, I cannot find a easy way to accomplish this target, or maybe it's

[2017-08-17 13:30] psdhillon commented on #421
how about gcc 7, is this problem still persist with gcc7 as i am unable to get over this problem. Please suggest

[2017-08-17 13:41] wxchan commented on #789
cat.codes of pandas categorical features will be saved to model after training and read from model during prediction.

[2017-08-17 13:48] geoHeil commented on #789
@wxchan thanks. So https://github.com/Microsoft/LightGBM/blob/cc771df49941f1045bcca52ea97c00288d319dca/python-package/lightgbm/basic.py#L240 is storing it - but where is this information used in the transform part i.e. where possibly unseen categories are handled?

[2017-08-18 09:41] Laurae2 commented on #844
@geoHeil There's no simpler way as it requires to know the underlying mathematics.

To use it as a custom objective, you need the gradient (derivative) and hessian (second derivative) of your metric. Both of the derivative and second derivative must be convex (preferably), continuous (preferably), finite (preferably), and non-zero (zero will freeze the possible improvements as it is supposed to me

[2017-08-18 09:52] Laurae2 opened #846 "PR and commits to merge back"
@guolinke Do you have an idea which PRs and commits should be merged back to master branch?

I'm thinking about the following:

* https://github.com/Microsoft/LightGBM/pull/840 [python] fix python memory leak
* https://github.com/Microsoft/LightGBM/pull/838 Remove check of max_depth
* https://github.com/Microsoft/LightGBM/pull/832 python-package: fix version
* https://github.com/Microsoft/LightGBM

[2017-08-18 09:55] henry0312 commented on #846
oh my god...

[2017-08-18 10:08] guolinke commented on #846
sorry, I will add them back

[2017-08-18 10:08] #846 closed

[2017-08-18 10:12] geoHeil commented on #844
@Laurae2, thanks. The first part is clear to mea. Could you explain what
you mean with: Note that the gradient and hessian should be computed for
each observation, and not globally. F-beta score would require to transform
discrete gradient/hessian into continuous gradient/hessian first.

Laurae <notifications@github.com> schrieb am Fr., 18. Aug. 2017 um
11:42 Uhr:

[2017-08-18 10:15] Laurae2 commented on #844
@geoHeil

One observation = one pair of gradient/hessian

discrete gradient/hessian into continuous gradient/hessian first.

F-beta for a single observation is discrete, not continuous (it can take only a fixed amount of values => discrete).

In addition, as one observation = one pair of gradient/hessian, to transform F-beta to continuous, you must use the probabilities and not only the predicted

[2017-08-18 10:19] wxchan commented on #789
@geoHeil store in L231, read from L237
unseen will be -1 as pandas rule of cat.codes I think, you can make up a small dataset to check.

[2017-08-18 10:21] henry0312 commented on #846
If you don't want to lose contributors, don't do any force push to master, I think...
Good luck, @guolinke!

[2017-08-18 10:26] wxchan commented on #846
What happened?

[2017-08-18 10:41] geoHeil commented on #789
@wxchan thanks. Regarding the number of levels i.e. for a String address field the number of distinct categorical levels is pretty big what would you suggest in this case?

[2017-08-18 10:48] wxchan commented on #789
@geoHeil not sure I understand your question. Do you mean address of street? I think you can either merge several rare categories into one big category, or extract some common information from this feature (like city of address).

[2017-08-18 10:49] wxchan commented on #844
Maybe you can try something like https://github.com/HIPS/autograd, but I heard it's slow.

[2017-08-18 11:01] geoHeil commented on #789
@wxchan exactly, I thought I had seen some `min_cat` and `max_cat`parameters around the lightGBM documentation- but can't seem to find it now.

Is that first type of handling (merge by frequency) indeed implemented?

[2017-08-18 11:02] geoHeil commented on #844
thanks

[2017-08-18 11:02] #844 closed

[2017-08-18 11:06] wxchan commented on #789
@geoHeil no, you need to implement on your own. I am actually not sure what the status of categorical feature handling right now, seem guolinke has reverted it this afternoon. I will check it later.

[2017-08-18 11:09] henry0312 commented on #846
To revert the direct support of categorical feature probably, he returned master to 64e52093b37d710836b74ce4291013a46d5a0dec, although [v2.0.6](https://github.com/Microsoft/LightGBM/tree/v2.0.6) still exists.
cf. https://github.com/Microsoft/LightGBM/commit/4181fd9f9b3e89f11eaa8442952518a30f48afd3

[2017-08-18 11:26] guolinke commented on #846
used cherry-pick to add these PR back.

[2017-08-18 18:16] rgranvil opened #848 "Regression dump output for tree #0"
In the lgb.dump output, the decision_type for tree 0 with a regression target is always "<=", regardless of whether the feature is categorical.  If I understand correctly, the purpose of tree 0 is just to start the boosting from the average and isn't really splitting on any feature.  However, this format creates some complications when parsing the dump file and preparing scoring code because of th

[2017-08-20 12:35] #848 closed

[2017-08-20 12:35] guolinke commented on #828
@fulldecent updates ?

[2017-08-20 21:24] fulldecent commented on #828
Here is my test case:

![screen shot 2017-08-20 at 5 18 26 pm](https://user-images.githubusercontent.com/382183/29498502-f586a17a-85cb-11e7-823e-4e4c53e39cb8.png)

And then immediately after, I run the same line:

![screen shot 2017-08-20 at 5 20 37 pm](https://user-images.githubusercontent.com/382183/29498518-fdcc3156-85cb-11e7-9b2a-37360dda1c8c.png)

My expectation was that run 2 would start wit

[2017-08-21 03:01] ChenZhiyong opened #853 "Categorical Feature Support"
There are some existing open-source GBDT tools support categorical feature:
1. Catboost, which converts the categorical features to numerical features.
2. H2O.gbm, which uses a sorting based solution and splits categories into 2 subset.

Though LightGBM also support categorical feature, but it simply is a one-vs-rest partition. I don't think it is better than Catboost/H2O's solution.

I would like

[2017-08-21 12:22] wxchan commented on #828
cv is training muplite models. we can't change one gbm object (init_model) into multiple gbms object.

[2017-08-21 14:45] guolinke commented on #828
@wxchan init model can be used in CV.
@fulldecent from you code, you both use ```init_model=classfier``` in two runs.

[2017-08-21 21:18] fulldecent commented on #828
@guolinke Correct I thought the CV was mutating the classifier object. This is because the CV method does not provide a classifier as an output.

[2017-08-22 04:36] guolinke commented on #828
@fulldecent
The lgb.CV doesn't return the lgb.Booster object. As a result, you cannot use it as the init_model.
You should use the return object of lgb.train as init_model.

[2017-08-22 14:21] hlee13 opened #856 "LGBM_BoosterPredictForCSR performance is too slow?"
when predict on 200 Trees and 10 depth, average cost 40 ms

[2017-08-22 14:31] guolinke commented on #856
It depends on the number of features.
When #feature is large, it will be slow.

[2017-08-22 14:31] #856 closed

[2017-08-22 14:33] hlee13 commented on #856
max feature num below 2000.  default cmake CFLAGS is O2?

[2017-08-22 14:35] guolinke commented on #856
yeah, you can try O3.

can you show how you call LGBM_BoosterPredictForCSR ?
you pass all data by one-call of LGBM_BoosterPredictForCSR ? or per data per call ?

[2017-08-22 14:39] hlee13 commented on #856
per data per call, cost 40ms, it is not my expectation. I think per data on 200 Trees and 10 depth, it will be return inside 10ms

[2017-08-22 14:42] guolinke commented on #856
per data per data is very inefficient.
every time calling the LGBM_BoosterPredictForCSR, it has an additional init cost, and will be run in single thread.

The LGBM_BoosterPredictForCSR ( and other prediction apis) are designed for the multi-row data.

[2017-08-23 02:35] hlee13 commented on #856
additional init cost could be avoid? Because per data represent per request, it need real time.

[2017-08-23 02:42] hlee13 commented on #856
additional init cost is in omp lib?

[2017-08-23 02:46] guolinke commented on #856
@hlee13
refer to this function: https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L174-L207

you can separate it to the two function:
1. init:  https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L179-L195
2. predict: https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L202

[2017-08-23 05:59] alberthkcheng commented on #574
+1. I am using Mac.

I think it is data specific. My crashed one has only 1, 0, NA.
could it be data type issue. I am trying to get a simple reproducible example.

[2017-08-23 06:29] guolinke commented on #574
@Laurae2

[2017-08-23 08:56] henry0312 commented on #699
For some my tasks (that can't be published for detail), I got the best performance with #762.

[2017-08-23 09:55] StrikerRUS commented on #833
I'm trying to make sklearn wrapper pass compatibility test `check_estimator` and at `check_fit_score_takes_y` it fails with the same error. [Link](https://github.com/scikit-learn/scikit-learn/blob/ffe9866e5f62799de16b2c5f0f2ad5f7c5aa39d0/sklearn/utils/estimator_checks.py#L800) to the test.

Any thoughts why it happens?

[2017-08-23 10:49] StrikerRUS commented on #574
I found related issue first and commented about this error in python package in #833.

[2017-08-23 10:52] guolinke commented on #833
@StrikerRUS
try to set ```min_data=1``` and ```min_data_in_bin=1```.

[2017-08-23 12:00] alberthkcheng opened #858 "[R] Decision Type always 'is' in Mac while "<=" in Windows"
I try to run the basic walkthrough demo for R and use lgb.model.dt.tree to get a data table.

But I got different data table for Windows and Mac. In 'decision_type' column, Mac shows "is", Windows shows "<=".

I try run another model in Mac with some continuous variable but the decision_type is "is". It seems the split is actually on <= although it show "is"...

update: when I save the model in Ma

[2017-08-23 15:12] wangshuailong opened #859 "lgb.importance: Error in data.table::rbindlist(l = list(single_tree_dt, tree_node_leaf[c("leaf_index", : Unsupported type 'NULL'"
## Environment info
Operating System: Mac OS Sierra 10.12.6
CPU: 2.5Ghz Intel i7
C++/Python/R version: Microsoft R Open 3.4.0

## Error Message:
when I use lgb.importance

## Reproducible examples

The error produced when I dealt with my own data, but also can be reproducible with this one.

## Steps to reproduce
As Above

## SessonInfo

## Other Important Info
I had an error with lgb.Dataset as f

[2017-08-23 18:21] StrikerRUS commented on #833
@guolinke
Thank you for the response. With these parameters there is no error.
Unfortunately, `check_estimator` doesn't accept additional parameters, only estimator object.

[2017-08-24 00:55] guolinke commented on #858
you are using an old version in Macs. Please update to latest version.
And it may be somethings wrong for your R installation in MAC.

decision_type is not simply 0/1 now. It is a bitset (8-bit) contains the information of missing value handle.

[2017-08-24 00:55] #858 closed

[2017-08-24 01:02] guolinke commented on #859
the first error is caused by single-leaf tree, which only have constant output (don't  have `leaf_index` field). @Laurae2 can you help to fix this ?

And it seems there are many strange issues for the R-package in OSX.
How did you install the lightgbm R ? are there any log ?

[2017-08-24 01:28] wangshuailong commented on #859
Thank you for your help.
At first I installed by devtool::install_github, but it seems it was compiled by Apple Clang. It didn't work, and I had no idea how to ask it to compile with Gcc. So i gave up.
Then I installed as the document.
git clone --recursive https://github.com/Microsoft/LightGBM
cd LightGBM/R-package
# export CXX=g++-7 CC=gcc-7 # for OSX
R CMD INSTALL --build . --no-multiarch

I sa

[2017-08-24 07:20] guolinke commented on #859
@wangshuailong
you should uncomment this line in OXS: ``# export CXX=g++-7 CC=gcc-7 # for OSX`` .

[code]

[2017-08-24 08:35] wangshuailong commented on #859
Yes I uncommitted these lines. Didn't write correctly.

[2017-08-24 08:59] #828 closed

[2017-08-24 09:00] guolinke commented on #859
@wangshuailong
did you install gcc ?
[code]

[2017-08-24 09:30] Laurae2 commented on #859
@guolinke see PR #862 for `lgb.importance` fix

[2017-08-24 10:56] #859 closed

[2017-08-24 13:01] wangshuailong commented on #859
@guolinke @Laurae2 Thank you so much! It's working Now!

[2017-08-25 12:33] AbdealiJK commented on #853
I may be wrong but after https://github.com/Microsoft/LightGBM/issues/699 this is not a one-hot-encoding based categorical feature support anymore.
Its more involved and theoretically nicer

What categorical support are you thinking of ?

[2017-08-25 18:21] StrikerRUS commented on #833
@guolinke
I've faced this problem again while executing the following piece of code (1 sample fitting test)
[code]
Log:
[code]
Can you please tell me default values of which parameters I should change this time?

[2017-08-26 00:22] guolinke commented on #833
@StrikerRUS
can you print ```param``` before this line: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py#L375 ?

[2017-08-26 09:38] StrikerRUS commented on #833
@guolinke Sure
[code]

[2017-08-26 14:24] guolinke commented on #833
@StrikerRUS try to  set ```'min_child_weight=1e-6```

[2017-08-26 22:35] StrikerRUS commented on #833
@guolinke Unfortunately, no result.

[2017-08-27 02:19] guolinke commented on #833
@StrikerRUS ```min_child_samples=1```

[2017-08-27 02:57] StrikerRUS commented on #833
@guolinke Already tried - the same error.

[2017-08-27 03:52] guolinke commented on #833
@StrikerRUS
you are using one sample with many features ? or many samples with one feature?
if only one sample, we cannot learn from it, since it cannot be partition.

[2017-08-27 10:46] Ubikas opened #865 "'Segmentation fault (core dumped)' trying to change parameter in the middle of training"
## Environment info
Operating System: Ubuntu 16.04
CPU: Intel® Core™ i7-7700K CPU @ 4.20GHz × 8
GPU: GeForce GTX 1080/PCIe/SSE2 (Driver Version: 384.59; cuda_8.0.61.2 [patched])
C++/Python/R version: gcc 5.4/ py 2.7
LightGBM v. 2.0.5 (just compiled with GPU option from the branch two weeks ago)

## Error Message:
Segmentation fault (core dumped)

## Reproducible examples
https://github.com/Microso

[2017-08-27 10:57] StrikerRUS commented on #833
@guolinke One sample with many features. Many thanks for the explanation.

[2017-08-27 11:35] guolinke commented on #865
@wxchan

[2017-08-27 12:15] #865 closed

[2017-08-27 22:04] hadjipantelis opened #867 "Working with categorical features in R"
Hello,

Thank you for making `LightGBM` available. Unfortunately I cannot find a documentation example on how to use the R implementation with categorical features. Is there one?

 While in the [Python docs](https://github.com/Microsoft/LightGBM/blob/55de8ea651aa4f3af80d78d0452593be4e13bada/docs/Python-intro.md) clearly suggest that categorical features will *not* benefit from one-hot encoding and

[2017-08-28 15:54] Laurae2 commented on #867
See https://github.com/Microsoft/LightGBM/pull/228 for R.

Requirements are identical to command line interface, except it is 1-indexed instead of 0-indexed.

[2017-08-28 16:08] hadjipantelis commented on #867
Thank you for the clarification; I will look into the CLI documentation in more detail.

In any case, an example in demo scripts would help; aside `categorical_feature` also the `free_raw_data` functionality is a bit mystifying as the script provided does not explain how it is used.

Thanks again; feel free to close this issue.

[2017-08-28 16:24] i3v opened #868 "Saving 2GB+ models"
Saving really large models (resulting in file sizes >2GB) fails due to limitations in code.
Here's a code demonstrating this:
[code]
It should create ~2.3GB "test.txt" file.
(Note: needs ~32GB RAM and about a night and  on 2xE5-2630v3).

I do agree that such models are, probably, too large to be useful in daily practice. Still, personally, I ran into this issue during automatic meta-parameters tun

[2017-08-28 18:22] mohaksaxena opened #869 "Poisson objective function log link"
@guolinke It seems like the poisson objective function is missing a link function. Better results seen when using `ConvertOutput` is `exp` and `score[i]` is exponentiated. This can also be seen in xgboost

Let me know what you think

[2017-08-28 18:24] Laurae2 commented on #869
See https://github.com/Microsoft/LightGBM/pull/863

[2017-08-28 18:24] Laurae2 commented on #867
You can just use `categorical_feature`.

[2017-08-28 20:25] #869 closed

[2017-08-28 23:06] i3v commented on #868
Concerning R - AFAIU, it won't be that simple.
I don't know much about R, but I've just googled a few things about it (`R-devel, package base version 3.4.0`).

1. They call objects with >2^31 elements "[long vectors](https://stat.ethz.ch/R-manual/R-devel/library/base/html/LongVectors.html)". And it looks like only some functions support such objects.

2. Although "long", their "long vectors" [do n

[2017-08-29 01:10] guolinke commented on #868
refer to #372 and @Laurae2
in our first version, the model is saved to file directly, without using string in R.
But it is hard to save/load Booster Object if using this way, so we change to use string to store the models.
some solutions:
1. using 2D array and saving the string tree by tree.
2. using a more efficient format.

[2017-08-29 15:12] i3v commented on #372
AFAIU, concerning the benchmark:

-  One of the possible reasons behind high "Time to save" is the `stringstream` perfomance. It looks like it might be [~10x slower](https://stackoverflow.com/questions/18892281/most-optimized-way-of-concatenation-in-strings/18892532#18892532) than `+=` (even though it is a bit counter-intuitive). This might vary from OS to OS and from compiler to compiler though (

[2017-08-29 16:55] alberthkcheng opened #871 "Expected behaviour of max_bin"
What I understand is assuming I have a feature contains value [1,2,3,4,5,6] ,
if max_bin = 2, it will create at most 2 bin, e.g. [1,2,3], [4,5,6]
So the node split can only occur between 3.5.

However, when i do this in R, I still see the split at 1.5, 2.5, etc.

Did I misunderstand the meaning of max_bin?

[2017-08-30 04:44] guolinke commented on #871
@alberthkcheng
can you provide a re-produce sample ?

[2017-08-30 06:41] alberthkcheng commented on #871
Now I think it could be caching problem.
I start with:
[code]
Everything looks fine. It have 5 bins. Then I run:
[code]
The result is exactly the same with before (there are 5 bins). What i did to get 3 bin is to reconstruct lgb.Dataset:
[code]
------------------------
Another Problem: If i set max_bin = 2, it crash (could be related to this [issue](https://github.com/Microsoft/LightGBM/issues/574

[2017-08-30 09:00] guolinke commented on #871
@alberthkcheng
If you passing a Dataset to lgb.train, then this dataset is constructed, and it cannot be changed.

if your feature have both negative and positive values, its max_bin should great than 2.

[2017-08-30 09:00] #871 closed

[2017-08-30 09:02] #807 closed

[2017-08-30 09:34] alberthkcheng commented on #871
Thanks @guolinke , now i understand more about how these awesome thing works.

I would assume the parameter under these [section](https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#io-parameters)  is used to construct the Dataset.

Do you think it would be better if the R / Python interface only allow defining those params in lgbm.Dataset() and require running lgb.Dataset.constru

[2017-08-30 15:10] mrgloom opened #872 "Sane range of parameters for hyperparameters search?"
Can you specify sane range of parameters for hyperparameters search for binary and multiclass classification?

[2017-08-30 15:13] Laurae2 commented on #872
See https://github.com/Microsoft/LightGBM/issues/695

Applies to mostly any dataset.

But for common uses and fast optimal hyperparameter searches, only use `max_leaves` + `max_depth`, and optionally add `subsample` + `colsample_bytree`.

[2017-08-30 15:26] #872 closed

[2017-08-31 20:00] StrikerRUS opened #874 "Impossible install from sources with pip and localized Visual Studio"
It's impossible to install LightGBM with `pip` on Windows machine with **localized** Visual Studio.

Log:
[code]

It's known `pip` [bug](https://github.com/pypa/pip/issues/4251). And it is caused by logs that are produced by Visual Studio with Russian (I suppose any non-English) localization (if MinGW was localized it would cause installation fail too).

I had the same [problem](https://github.com

[2017-08-31 23:52] StrikerRUS commented on #874
After close look at `setup.py` file another question has raised: why not to try at first build from existing in folder `windows` Visual Studio solution file? It'll make possible not to install CMake.

[2017-09-01 02:19] guolinke commented on #874
@StrikerRUS Thanks.
using cmake is more flexible, and bringing the unify settings for osx/linux/windows.

[2017-09-01 03:28] AbdealiJK opened #876 "Make binning optional"
In some cases, it is very critical to use the exact solution of GBM which it theoretically guarantees.

 - This reduces the number of hyper parameters that need to be estimated
 - This can be used to compare techniques and libraries easily
 - For single machine tasks it could be more accurate that binning

Not allowing the user to decide whether he wants binning or not is a deal breaker as some fo

[2017-09-01 03:33] guolinke commented on #876
@AbdealiJK
The whole idea of LightGBM is based on binning. So it is not possible without binning.
You can use large ```max_bin``` , which is like the non-binning.

However, the parameter of binning actually doesn't have much effects on accuracy.
for the accuracy, it doesn't have much loss when using binning. And binning will bring the better generalization power.

[2017-09-01 03:33] #876 closed

[2017-09-01 04:26] AbdealiJK commented on #876
Is there a limit on the `max_bin` parameter?

I have not tried this yet, but I am guessing if I have lets say terabytes of RAM and use a `max_bin=numRecords` for some data which is very large (billion rows) ... this should be giving me the exact same result as no binning at all ?

[2017-09-01 04:32] guolinke commented on #876
@AbdealiJK
I think it is better to smaller than ```65535``` (2^16 - 1) .
using num_redcords is absolutely not needed.

large max_bin will be much slower, and may hurt the test accuracy.

[2017-09-01 06:12] cocorosiekz opened #877 "pmml.py seems broken in current version"
OS: Debian 8.4
LightGBM Python API version: 2.0.6 (installed from pip)
pmml.py version: current master

The traceback is below

    python pmml.py lightgbm_model.txt
    Traceback (most recent call last):
      File "pmml.py", line 133, in <module>
        decision_type = get_array_ints(next(model_content))
      File "pmml.py", line 19, in get_array_ints
        return [int(token) for token in ge

[2017-09-01 06:50] guolinke commented on #877
@cocorosiekz
you can use this https://github.com/jpmml/jpmml-lightgbm instead.

[2017-09-01 06:57] cocorosiekz commented on #877
@guolinke OK, I'll follow that project. Thanks anyway!

[2017-09-01 06:57] #877 closed

[2017-09-01 10:09] StrikerRUS commented on #874
@guolinke
So, can I start rewriting calls in setup.py?

I understand your position about CMake and I don't suggest to **replace** CMake+VS building by sln+VS. I suggest to **add** this method on Windows: if sln+VS fails go to CMake+VS. What do you think?

[2017-09-01 12:07] guolinke commented on #874
@StrikerRUS yeah, you can rewriting.

you can try the "sln+VS" first.

[2017-09-01 14:39] rgranvil commented on #699
@guolinke I recall seeing an update a couple weeks ago that this new treatment of categorical features has been temporarily removed.  Is this still the case? Could you provide any additional information on what the issue is? Thanks!

[2017-09-01 15:19] Laurae2 commented on #876
It shouldn't be a hyperparameter to tune, but a parameter to define depending on the memory pressure your computer can handle. If your model takes 200GB in memory and you have only 150GB RAM, reducing the number of bins (squared) will reduce the number of bits required. Using a minimal amount of bins will obviously reduce the performance of the model, while using a larger amount of bins will autom

[2017-09-01 17:59] szilard opened #879 "Possible memory leak (from R)"
I'm trying to train a large number of models for this project: https://github.com/szilard/GBM-tune

I also want to ensemble the top models therefore I'm keeping the models in an R list. However memory usage is growing beyond expectation and also cannot account for the growth by looking at the memory footprint of the R objects in the session.

After 10 random param search iterations with 20 repeate

[2017-09-01 18:03] Laurae2 commented on #879
Try `reset_data` parameter on `lgb.train`, and/or remove the model after it was used. Each model uses a lot of memory as it holds the dataset separately. You can also `rm` + `gc` the model once used.

Also, you are free to use all cores on https://github.com/szilard/GBM-tune/blob/master/4_train_rs/run-tuning.R#L145 - unless you have too many cores in which case you have negative efficiency.

[2017-09-01 18:09] szilard commented on #879
Thanks @Laurae2

I'll try the `reset_data` param now.

What I want is 100 hyperparam combinations (each with 20 CV resamples) , then want to select top 10 and average the top 10, so I cannot really remove models until the end (well I could just keep the top 10 like a model "moving window"), but I'll try just `rm` the data and `gc()` first.

[2017-09-01 18:09] szilard commented on #879
Btw I use half of cores because lightgbm used to be slower when using the hyper threaded cores, though I did not check again lately.

[2017-09-01 18:27] Laurae2 commented on #879
@szilard With `reset_data` the model will be as if the training data never existed, therefore it will have no link with the training data (and will not hold too much memory).

Note that with R, the automatic garbage collector does not work with custom objects from C/C++. You will need to manually call the garbage collector to clear memory left from models.

You can run the example below (it trains

[2017-09-01 18:46] szilard commented on #879
@Laurae2 Thanks for nice easily reproducible example (unlike mine).

With `reset=FALSE` you get after 500 iterations (not 1000): OS reports 27GB usage, while R gc() reports 1.5GB.

Just doing `reset=TRUE` will already improve things: OS reports 4.6GB.

Doing `reset=TRUE` and calling `gc()` in the loop will have OS 1.3GB. Thanks for the latest tip.

[2017-09-02 02:13] StrikerRUS opened #881 "Multi-class Random forest support"
I suppose I missed to specify some parameter, but I can't figure which one.

[code]

Error:
[code]

All params:
[code]

[2017-09-02 02:18] guolinke commented on #881
@StrikerRUS It doesn't support multi-class RF now.

[2017-09-02 02:26] StrikerRUS commented on #881
@guolinke
Many thanks for your fast feedback!

[2017-09-02 21:00] StrikerRUS commented on #874
@guolinke
In addition, to speak about `pip`, I noticed that version from PyPI is 2.0.6, but from GitHub is 2.0.5.

[2017-09-03 01:40] guolinke commented on #874
@StrikerRUS
Yeah, it is caused by some complicate reasons.
The next GitHub version will be 2.0.7 .

[2017-09-03 06:20] nji-syd opened #882 "No dockerfile supporting python with gpu using nvidia-docker"
## Environment info
Operating System: Ubuntu 16.04
CPU: Intel i7-4810MQ CPU @ 2.80GHz
Python version: 3.5

## Error Message:
LightGBMError: b'No OpenCL device found'

## Reproducible examples
Using Python 3.5:
lgb_params = {
            'task': 'train'
            ,'objective': 'regression'
            ,'boosting_type': 'gbdt'
            ,'device': 'gpu'
            ,'gpu_device_id': 0
        }

[2017-09-03 08:57] PetterS opened #883 "Bagging does not perform a bootstrap sample"
When enabling `bagging_fraction`, each element of the data is picked 0 or 1 times. Bagging means [boostrap aggregation](https://en.wikipedia.org/wiki/Bootstrap_aggregating), so this is quite confusing.

In a bootstrap sample, elements are picked with replacement, i.e. potentially many times. It then does not make sense to require `bagging_fraction `≤ 1, since the bootstrap sample could be larger t

[2017-09-03 09:14] guolinke commented on #882
@wxchan

[2017-09-03 09:19] guolinke commented on #883
Yeah, It actually is subrow, not the replacement sampling.
We can add a note in the document.

[2017-09-03 09:21] Laurae2 commented on #883
Bagging in boosting (or by default) has no relation with Breiman's Random Forests.

In general, bagging is just taking a sample from the training set, without resampling (where the sample is called bag). The other meaning is a model average (bagging several LightGBM means taking average of the trained models).

[2017-09-03 09:26] #883 closed

[2017-09-03 09:52] Laurae2 opened #885 "Bagging very large data is faster with weights"
@guolinke Do you know why bagging using zero weights is faster than the original bagging in LightGBM?

Training one iteration is significantly faster with zero weights than using the bagging parameter.

May be related to this: https://github.com/Microsoft/LightGBM/issues/761

[2017-09-03 09:59] qrqpjxq opened #886 "During parallel training, metrics of training set sometimes will be bad"
When doing parallel training, metrics of training set sometimes will be bad in each worker at the same iteration.

i'm trying to train on 5 workers, the metrics on training set:
worker0:
[LightGBM] [Info] Trained a tree with leaves=63 and max_depth=19
[LightGBM] [Info] Iteration:1, training auc : 0.624454
[LightGBM] [Info] Iteration:1, training binary_logloss : 0.680496
[LightGBM] [Info] 1.889427

[2017-09-03 10:25] wxchan commented on #882
@nji-syd Those dockerfiles are added before gpu support. I don't know how many people are using it now. I actually don't use docker much. You can help add one to support gpu if you'd like.

[2017-09-03 11:35] Frank-AFN commented on #437
Does the problem fix? I also come across the same issues when using scikit-learn wrapper LGBMRegressor. can not reproduce the results. I also can not use random_state param when to create a model.

[2017-09-03 11:44] guolinke commented on #437
@Frank-AFN
it is fixed, please try the latest code.
if not, please provide a re-produce example.

[2017-09-03 11:48] guolinke commented on #886
@qrqpjxq
The accuracy of training data in parallel learning is based on local partition.
So it may is not good since #data is very small in your case.

You can add a parameter: ```valid=trainset``` to get the accuracy on full training data.

[2017-09-03 11:50] guolinke commented on #885
@Laurae2
what is bagging fraction you are using ?

[2017-09-03 11:59] Laurae2 commented on #885
@guolinke I'm using a 400GB (dense) dataset with 0.9 for `bagging_fraction` with 1 iteration only, repeated many times (using gradients only). Maybe the cost of initializing bagging is expensive? (my scenario is a very rare scenario anyway)

For 50GB datasets I always get better speed with bagging (any value).

I get a 1.05x speedup using weights arbitrary weights.

[2017-09-03 12:16] qrqpjxq commented on #886
thanks, but after set valid=trainset; num_machines=2
worker0:
[LightGBM] [Info] Number of positive: 1849, number of negative: 1672
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data: 3521, number of used features: 8
[LightGBM] [Info] Finished initializing training
[LightGBM] [Info] Started training...
[LightGBM] [Info] Trained a tree with leaves=63 and max_depth=27
[LightGBM] [Info

[2017-09-03 12:20] Frank-AFN commented on #437
class lightgbm.LGBMRegressor(boosting_type='gbdt', num_leaves=31, max_depth=-1, learning_rate=0.1, n_estimators=10, max_bin=255, subsample_for_bin=50000, objective=None, min_split_gain=0, min_child_weight=5, min_child_samples=10, subsample=1, subsample_freq=1, colsample_bytree=1, reg_alpha=0, reg_lambda=0, random_state=0, n_jobs=-1, silent=True, **kwargs)
As the doc http://lightgbm.readthedocs.io/

[2017-09-03 12:21] guolinke commented on #885
@Laurae2

The additional cost of bagging:
1. sampling in-bag indices and out-of-bag indices
2. worse cache-missing problem when building histograms
3. additional cost for the prediction of out-of-bag data

So it is possible slower when #data is large and tree is small.

[2017-09-03 12:24] guolinke commented on #437
@wxchan

[2017-09-03 12:25] guolinke commented on #886
@qrqpjxq
can you try it without set ```categorical_column = 0,4``` ?

[2017-09-03 12:36] guolinke commented on #886
@qrqpjxq
I just test in by using example data: https://github.com/Microsoft/LightGBM/tree/master/examples/parallel_learning

The result:
 worker 1:
[code]
worker 2:
[code]

[2017-09-03 13:09] qrqpjxq commented on #886
i tried again, if delete  categorical_column = 0,4  there's noting wrong. metrics:  logloss and auc in each worker is the same.
but set categorical_column = 0,4; there will be wrong, and metrics in each worker is not same.

[2017-09-03 14:38] Frank-AFN commented on #437
Hi @guolinke, maybe I have the same confusion with this guy. Same script and same data with preprocessing can not get the same score. Thanks for your reply.
https://www.kaggle.com/c/zillow-prize-1/discussion/37445

[2017-09-03 14:42] guolinke commented on #886
@qrqpjxq
1. can you provide your test data so that i can debug on it ?
2. did these workers generate the same model files ?

[2017-09-03 14:44] guolinke commented on #437
@Frank-AFN
when random seed is fixed, the result should be re-producable

[2017-09-03 15:13] PetterS commented on #883
I completely agree that it has nothing to do with Random Forests per se.

However, bagging is literally short for “bootstrap aggregation,” and bootstrap means sampling with replacement. This library repuposes the term to mean without replacement, which is confusing.

[2017-09-03 15:33] Laurae2 commented on #883
@PetterS Bagging has several meanings and not only the one from Wikipedia (which is very biased towards Breiman, and that article is actually wrong).

Bagging techniques using sampling:

| Feature / Observations | Yes | No |
| --- | --- | --- |
| Yes | Patching / Random Patches | Subspacing / Random Subspaces |
| No | Pasting / Random Pastes | (non stochastic, population...) |

All these meta-algo

[2017-09-03 15:50] wxchan commented on #437
@Frank-AFN I just check latest codes, the result can be reproduced with same random_state. Can you share your whole codes?

[2017-09-04 01:59] Frank-AFN commented on #437
@wxchan
def cross_validation(cross_validation_results_file, best_model_file):
    x_data, y_data, train_columns = prepare_lgb_data()
    lgb_model = lgb.LGBMRegressor(nthread=48, seed=0)
    print(lgb_model.get_params().keys())
    print('train data column length is {0}'.format(len(train_columns)))

    cv_param = {'num_leaves': [512],
                'max_bin': [10],
                'boosting_typ

[2017-09-04 02:11] qrqpjxq commented on #886
ok, i've send the trainset to your email.

[2017-09-04 02:57] nji-syd commented on #882
@wxchan I'd like to help with the dockerfile for gpu. What's the best way
to troubleshoot the No OpenCL device found error? The image appears to have
OpenCL 1.2 and 2.0, not sure if this is part of the problem, or if there
are other environment variables not defined which LightGBM is looking for
but can't find?

On 3 September 2017 at 20:25, wxchan <notifications@github.com> wrote:

[2017-09-04 03:08] albertauyeung commented on #524
Hi all, I have a question and I am not sure if it is related to this discussion. When I train a multi-class model, from the log I can see that the number of trained trees is usually equal to the number of classes times number of iterations. Does that means LGB is training something like a one-vs-all classifier? If so can we not take the output for each class and somehow achieve multilabel classifi

[2017-09-04 14:55] Laurae2 commented on #885
@guolinke thanks, now I get why bagging is slow in my case. As I do only 1 iteration and repeat this 500 times, it has the extra overhead everytime LightGBM runs (500 times).

[2017-09-04 14:55] #885 closed

[2017-09-04 14:58] Laurae2 commented on #867
@guolinke You can close this.

[2017-09-04 15:33] #867 closed

[2017-09-04 18:10] PetterS commented on #883
Thanks a lot for the clarification @Laurae2!

[2017-09-05 01:37] marugari commented on #524
@albertauyeung
LGB uses softmax (or softprob) and minimizes cross-entropy.
However, the number of trees per iteration should be equal to the number of classes because `TreeLearner` doesn't support multi-output.

[2017-09-05 03:55] wxchan commented on #882
It seems a common issue. https://github.com/Microsoft/LightGBM/issues/586 @guolinke it there any doc about "No OpenCL device found error"?

[2017-09-05 10:07] weltherrschaf opened #889 "unexpected Behavior of dropout in poisson regression"
I understand that with 1000 rounds, drop rate= 0.001,skip_drop = 0  and max_drop = 1, I should expect to see about 1 tree drop out. Is this correct?

I'm attempting to tune several lightgbms on grouped data (1 lgb per group). For most of my groups, drop out seems to help and improves my predictions by say 5%. However, for one of my groups, dropping even a (supposably) single tree (of hundreds) com

[2017-09-05 10:59] Frank-AFN commented on #437
@guolinke @wxchan

[2017-09-05 11:04] wxchan commented on #437
you can add into cv_param

[2017-09-05 18:24] stefanks commented on #763
Also very interested in this

[2017-09-06 11:07] nji-syd commented on #882
Here is the log output for compiling lightgbm and installing the python
bindings:

There are some errors, but the cuda version that we want to use is 1.2 not
2.0? Why is version 1.2 not suficent?

CMake Error at
/usr/share/cmake-3.5/Modules/FindPackageHandleStandardArgs.cmake:148
(message):
  Could NOT find OpenCL (missing: OpenCL_LIBRARY) (found version "1.2")

Step 20/32 : RUN cd /usr/local/src

[2017-09-06 13:53] guolinke commented on #882
@huanzhang12

[2017-09-07 04:39] guolinke commented on #889
@henry0312

[2017-09-07 07:04] hitfad opened #892 "python loadmodel error"
Traceback (most recent call last):
  File "loadmodel.py", line 8, in <module>
    bst = lgb.Booster(model_file='./LightGBM_model.txt')
  File "/root/anaconda2/lib/python2.7/site-packages/lightgbm-0.2-py2.7.egg/lightgbm/basic.py", line 1235, in __init__
    ctypes.byref(self.handle)))
  File "/root/anaconda2/lib/python2.7/site-packages/lightgbm-0.2-py2.7.egg/lightgbm/basic.py", line 47, in _safe_ca

[2017-09-07 07:36] guolinke commented on #892
@hitfad please use the latest version.

[2017-09-07 07:36] #892 closed

[2017-09-07 09:19] PayneJoe opened #893 "categorical_feature seems does not work?"
My code:

`cate_cols = [0,2,4,6,7,8,9,10]

        d_cv = lightgbm.Dataset(X.values, label=Y.values, max_bin= 127, categorical_feature= cate_cols)

        self._model = lightgbm.train(self._params, d_cv, self._iter)

        print(self._params)

        print(d_cv.params)`

And the output of this partial code:

It seems that my setting for parameter **categorical_feature** did not work yet, as an

[2017-09-07 10:14] Frank-AFN commented on #437
Still can not.  @wxchan

[2017-09-07 10:37] wxchan commented on #437
@Frank-AFN can you paste your result here?

[2017-09-07 11:02] guolinke commented on #893
@wxchan

[2017-09-07 16:15] coryandrewtaylor opened #895 "Possible memory leak (Python)"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

Related issue: #879

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Windows 7, 10
CPU: Intel Core i7-6820HQ (8 cores, 2.7 GHz)

[2017-09-07 18:10] GlobalMin opened #896 "lgb.cv for regression results in fold error (R)"
Regression with lgb.cv() doesn't seem to work. When I run the basic example with a binary outcome it works but for regression the target variable is usually continuous. If I change the example to have a continuous target the error appears.

## Environment info
Operating System: Windows
CPU: x86_64-w64-mingw32/x64 (64-bit)
R version: 3.4.0 (2017-04-21)

## Error Message:
In foldVector[y == dimnames

[2017-09-07 18:36] Laurae2 commented on #896
@GlobalMin Can you try https://github.com/Microsoft/LightGBM/pull/897 ?

[2017-09-07 20:49] huanzhang12 commented on #882
@nji-syd @guolinke @wxchan
The reason for "no OpenCL device found" is that the OpenCL ICD files are missing in the nvidia-docker image.
Try to add the following line in the docker file:

[code]

[2017-09-08 00:22] #879 closed

[2017-09-08 00:23] guolinke commented on #895
@wxchan

[2017-09-08 05:05] #896 closed

[2017-09-08 10:17] #874 closed

[2017-09-08 14:12] GlobalMin commented on #896
Yes that works perfectly thank you!

[2017-09-09 10:01] wxchan commented on #895
@coryandrewtaylor I didn't see memory leak with your gist. Are you using latest codes? Can you share your memory usage before and after training?

[2017-09-09 10:04] wxchan commented on #893
categorical_feature seems passing to c++ successfully but not save to Dataset.params().
@guolinke is there any quick way to get model params now?

[2017-09-09 15:19] guolinke commented on #893
@wxchan sorry, I didn't get it

[2017-09-09 18:44] coryandrewtaylor commented on #895
@wxchan I was on version 2.0.5 (which is the latest version available through `conda`). I've upgraded to version 2.0.6 via PyPI. The memory leak is gone.

Thanks!

[2017-09-09 18:44] #895 closed

[2017-09-09 22:24] nji-syd commented on #882
Thanks @huanzhang12 <https://github.com/huanzhang12> that appears to have
resolved the OpenCL error. There is a cmake error now for the python
compile.

system has cmake 3.5.1 in usr/bin which is in the path.

installing cmake in conda adds version 3.6.3, but does not resolve the
error.

INFO:LightGBM:Starting to compile the library.
INFO:LightGBM:Starting to compile with CMake.
Traceback (most re

[2017-09-10 00:32] StrikerRUS commented on #882
@nji-syd As a quick fix you can use `--precompile` option for `python setup.py install` instead of `--gpu` one, since you already have compiled library file by that moment.

[2017-09-10 03:25] hlee13 opened #900 "training data does not has negative label value, but predict task has a lot of negative label , is it overfit?"
# config

task = train
boosting_type = gbdt
objective = regression_l1
metric = l2
metric_freq = 1
is_training_metric = true
max_bin = 255
data = data.train
valid_data = data.validate
num_trees = 200
learning_rate = 0.1
gaussian_eta = 0.9
num_leaves = 255
max_depth = 10
snapshot_freq = 50
tree_learner = data
feature_fraction = 0.9
bagging_freq = 5
bagging_fraction = 0.8
min_data_in_leaf = 100
min_s

[2017-09-10 06:23] guolinke commented on #900
@hlee13
I think it is caused by "regerssion_l1".
you can try the "regression" .

[2017-09-10 06:23] #900 closed

[2017-09-10 06:27] guolinke commented on #886
@qrqpjxq updates ?

[2017-09-10 06:37] qrqpjxq commented on #886
what's your meaning?
i don't know how to give you my trainset.

[2017-09-10 06:42] guolinke commented on #886
@qrqpjxq You can email it to me.

[2017-09-10 06:56] guolinke commented on #886
@qrqpjxq
can you try the latest code?
I think it should be fixed.

[2017-09-10 06:59] hlee13 commented on #900
@guolinke  regerssion_l1 cannot modify

[2017-09-10 07:01] guolinke commented on #900
@hlee13 really? In many cases, "regreession" actually can get better l1 score than "regression_l1" .

[2017-09-10 07:12] qrqpjxq commented on #886
is there any wrong in split_info.hpp/77 &cat_threshold.data()?
i compile in mac os, a error : LightGBM/src/treelearner/split_info.hpp:77:45: error: lvalue required as unary '&' operand std::memcpy(buffer, &cat_threshold.data(), sizeof(uint32_t) * num_cat_threshold);

[2017-09-10 07:14] guolinke commented on #886
@qrqpjxq can you delete LightGBM folder, then re-clone ?

[2017-09-10 07:37] qrqpjxq commented on #886
is ok, work very vell.thank you~

[2017-09-10 08:47] geoHeil opened #901 "sklearn categorical handling"
I try to use the scikit-learn api for categorical handling in lightgbm with the latest master branch:

[code]
The column A which is a pandas.Categorical should be treated automatically according to API documentation as categorical_feature='auto' is set.

However, I only get an error of:
[code]
which indicates that the categories are not converted automatically.

[2017-09-10 09:42] Laurae2 commented on #900
@hlee13 L1 loss is unstable, please use a proxy metric (Fair loss, modified Hinge loss, etc.) to have the model converge better.

[2017-09-10 11:20] StrikerRUS commented on #901
@wxchan The error is produced by sklearn's `check_X_y()` which always returns numpy array. What's the preferable way to fix it: not to store returned values of `_LGBMCheckXY()` at all or only in case of pandas.DataFrame?

[2017-09-10 15:36] cjliux opened #902 "opencl version was incorrectly detected."
I followed the installation guide in wiki to build the gpu version of lightGBM. However, the version detected when I entered `sudo cmake -USE_MPI=ON -USE-GPU=1 ..` is 2.0, while the version actually installed is 1.0.
Do any one know the reason?

[2017-09-10 21:29] jacquespeeters opened #903 "[R package] Verbosity of "[LightGBM] [Info] Trained a tree with leaves=XX and max_depth=XX""
R verbosity differ from Python.

In Python in order to only get evaluations of watchlist set i set verbose = 0 and verbose_eval = XX. Therefore in avoid to have all information how trees are trained in my console such as :
`[LightGBM] [Info] Trained a tree with leaves=XX and max_depth=XX`

In R  i tried with verbose = 0 then i've no verbosity at all. And with verbose = 1 and eval_freq = XX my cons

[2017-09-11 01:15] guolinke commented on #903
try the latest code.

[2017-09-11 01:15] #903 closed

[2017-09-11 08:09] ZLake opened #905 "How the sample_weight parameter is used inside the fit function of lgb.LGBMRegressor"
## Environment info
Operating System: Mac OS EI Capitan 10.11.6 (15G31)
CPU:1.6 GHz Intel Core i5
C++/Python/R version: python 3.6.1

## I am using lgb.LGBMRegressor in a regression task. I have a ndarray sample weight and set it as the sample_weight parameter in model.fit() for my lgb.LGBMRegressor.

## However, I found something unexpected. When I set all sample weight to 1, it performs as no sa

[2017-09-11 09:05] qrqpjxq commented on #886
hi, there's another problem.
when set workers = 8, it works well:
2017-09-11 16:52:33,826 INFO Iteration:1, valid_1 auc : 0.635991
2017-09-11 16:52:33,869 INFO Iteration:1, valid_1 binary_logloss : 0.548136
2017-09-11 16:52:34,318 INFO Iteration:2, valid_1 auc : 0.644662
2017-09-11 16:52:34,361 INFO Iteration:2, valid_1 binary_logloss : 0.477304
2017-09-11 16:52:35,348 INFO Iteration:3, valid_1 au

[2017-09-11 09:26] Laurae2 commented on #905
This is the expected behavior, as all gradients and hessians sums are mulitplied by 2. It incurs a different model as regularization / pruning is not performed the same, if not scaled appropriately.

[2017-09-11 09:46] ZLake commented on #905
@Laurae2 thanks for ur reply, it makes total sense to me, awesome!

Is there any recommended way of setting the weight, like the largest weight is 1, the rest sample weight decreases based on their importance compared with the most important samples.

BTW, if this is the case, what is the trained model when the sample weight is 0? Because I also want to disable the effect of some sample by setting

[2017-09-11 09:52] MenglaiWang opened #906 "It cost too much time while using the lib_lightgbm.so for predicting"
## Environment info
Operating System:CentOS release 6.3 (Final)
CPU:Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
C++/Python/R version:C++

Hi, guolin,
     I am using the LGBM_BoosterPredictForMat  function for predicting in the so file. But it can be really slow.
I have 100 trees and 40 leaves.The  #feature is just 73.
Each round, I feed 10*73  into lightgbm, and it cost about 500+ us .   Sometimes

[2017-09-11 09:55] guolinke commented on #886
@qrqpjxq what is number of your training data ?
if it is very small, it is possible.

[2017-09-11 09:58] Laurae2 commented on #905
It depends on your dataset and your loss function.

Can you provide a reproducible result?

[2017-09-11 10:01] guolinke commented on #906
@MenglaiWang
Every time you calling LGBM_BoosterPredictForMat, it will re-init the predictor.
So the best practice is only calling it one time with all data.

If you want calling it multi-time, you can separate the init work(https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L177-L194) to a addition function, to avoid the many duplicated init.

[2017-09-11 10:01] #906 closed

[2017-09-11 10:01] Laurae2 commented on #905
Note that for the "weight = 0" issue, LightGBM may perform differently the binning (if you remove the observation).

This can be observed with the following:

[code]

Reproducible code:

[code]

[2017-09-11 10:09] MenglaiWang commented on #906
OK，i  will try it😀

[2017-09-11 12:05] qrqpjxq commented on #886
yes, dataset is a litter small, ony 20w.
but i try training in a big data, like this:
each worker contents about 1000w data, val-set is 20w, but metric is wrong in inter 33-50.
(file type is libsvm)

[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Connected to rank 1
[LightGBM] [Info] Connected to rank 3
[LightGBM] [Info] Connected to rank 4
[LightGBM] [Info] Connected to rank 6
[L

[2017-09-11 12:06] qrqpjxq commented on #886
in the last try, i set categorical_column = 0,16,17,18,20,24

[2017-09-11 12:26] guolinke commented on #886
@qrqpjxq it seems there is a bug when #data is large.
Can you try:
1. without set categorical_column ?
2. use 2 workers to reproduce this ?

[2017-09-11 12:32] guolinke commented on #886
@qrqpjxq
it also possible caused by the network communication error.
To avoid this, can you try to run multi-process in single machine to simulate multi-worker ?

[2017-09-11 14:56] AlexandraBomane opened #907 "LightGBMError : Cannot construct Dataset since there are not useful features trying to tune "min_child_samples" parameter"
Hi everybody,

I'm trying to tune the parameter "min_child_samples" of a LGBMClassifier object with the function GridSearchCV of Scikit-Learn but I get the error : "LightGBMError : Cannot construct Dataset since there are not useful features." whereas I succeeded to tune other parameters with exactly the same data (such as max_depth, reg_lambda, min_child_weight...).

## Environment info
Operating

[2017-09-11 16:31] huanzhang12 commented on #902
The OpenCL 2.0 library is probably a generic ICD (installable client driver) library and headers provided by the OS, which is automatically detected by CMake. At runtime, the ICD library dispatches actual OpenCL function calls to the vendor specific OpenCL libraries provided by AMD/Nvidia/Intel.

In LightGBM, only OpenCL 1.2 is required, and OpenCL 2.0 should be backwards compatible. In fact, all

[2017-09-12 01:29] ZLake commented on #905
@Laurae2 Thank you for ur reply, it helps a lot! Really great answer!

[2017-09-12 01:29] #905 closed

[2017-09-12 02:31] qrqpjxq commented on #886
i tried train in 1worker(1000w data)/4workers(1200w data)/8workers(600w data)
it seems that something wrong when workers is 8, in 1 and 4 it run's ok, but in 8 there is wrong in iter-26

one worker is about similar as 4workers
4workers:
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Connected to rank 1
[LightGBM] [Info] Connected to rank 2
[LightGBM] [Info] Connected to rank 3
[Li

[2017-09-12 02:42] guolinke commented on #886
@qrqpjxq
do you use the "tree_learner=data" ?

[2017-09-12 02:49] qrqpjxq commented on #886
yes, my config is like:

task = train
tree_learner = data
is_pre_partition = false

is_training_metric = true
boosting_type = gbdt
objective = binary
metric = binary_logloss,auc
metric_freq = 1

max_bin = 255
num_trees = 50
learning_rate = 0.3
num_leaves = 512
num_threads = 8

bagging_freq = 5
min_data_in_leaf = 20
min_sum_hessian_in_leaf = 5.0
is_enable_sparse = true
use_two_round_loading = false

[2017-09-12 02:52] guolinke commented on #886
@qrqpjxq your data is pre-partitioned ? and you set ```is_pre_partition = false``` ?

[2017-09-12 02:57] qrqpjxq commented on #886
yes, i changed data_loader.cpp a litter, just read file from hdfs. and file is not prepatitioned. but i think this will not effect training?

[2017-09-12 04:03] qrqpjxq commented on #886
i think the problem is here:

//data_parallel_tree_learner.cpp
before SyncUpGlobalBestSplit:
smaller_best_split:
feature: 20; gain: 3.65923; left_count: 982; right_count: 25676; threshold: 0
larger_best_split:
feature: 20; gain: 17.5227; left_count: 2801; right_count: 79161; threshold: 0

after SyncUpGlobalBestSplit:
smaller_best_split:
feature: 15; gain: 5.6889; left_count: 7841; right_count: 188

[2017-09-12 04:58] guolinke commented on #886
@qrqpjxq
when the gain=-inf, the content in splitinfo has no meaning.

[2017-09-12 05:45] MenglaiWang commented on #906
@guolinke
Follow your advice, I have tried to separate the init work to avoid re-init the predictor, and it is exciting to get 2x faster speed. But it is not satisfying yet. How can I speed up 2x more faster?

[2017-09-12 09:16] patarol commented on #827
@guolinke it seems that I have a similar issue when trying to install LightGBM for R. I get this erros message after type: `R CMD INSTALL --build . --no-multiarch`
`* installing to library 'C:/Users/luciano.pataro/Documents/R/win-library/3.4'
* installing *source* package 'lightgbm' ...
** libs
installing via 'install.libs.R' to C:/Users/luciano.pataro/Documents/R/win-library/3.4/lightgbm
Warning:

[2017-09-12 09:48] liulhdarks opened #909 "Do you have the plan to support Java like xgboost4j?"
Do you have the plan to support Java like xgboost4j?

[2017-09-12 09:56] guolinke commented on #906
@MenglaiWang
can you use more data in every single batch ?

[2017-09-12 10:01] MenglaiWang commented on #906
@guolinke
No,I can't. Each time I only need to predict for 10 samples.😫

[2017-09-12 10:23] qrqpjxq commented on #886
I find in iteration one's first split, the gain is 6659, but in iteration 18, the first split gain is 136497, and 1.04708e+06 in third split.
i think there's something wrong, but can't find where is it.

Iteration:1
[LightGBM] [Info] Started training...
before SyncUpGlobalBestSplit:
smaller_best_split:
feature: 22; gain: 5305.8; left_count: 8395392; right_count: 1624913; threshold: 62
larger_best_

[2017-09-12 11:18] guolinke commented on #886
@qrqpjxq
Thanks, can you print the sum_gradients and sum_hessians as well ?

[2017-09-12 11:23] qrqpjxq commented on #886
ok, in iteration 18, third split:

sum_gradient: 12404.6; sum_hessian: 333.905
smaller_split feature: 25; gain: 4619.12; left_count: 19330; right_count: 461; threshold: 169
sum_gradient: 9191.71; sum_hessian: 3058.82
larger_split feature: 25; gain: 995.896; left_count: 85741; right_count: 16003; threshold: 2
sum_gradient: 12404.6; sum_hessian: 333.905
smaller_split feature: 14; gain: 84714.2; left

[2017-09-12 11:24] qrqpjxq commented on #886
this worker maybe:

sum_gradient: 12404.6; sum_hessian: 333.905
smaller_split feature: 26; gain: 1865.2; left_count: 19349; right_count: 442; threshold: 154
sum_gradient: 9191.71; sum_hessian: 3058.82
larger_split feature: 26; gain: 670.372; left_count: 92400; right_count: 9344; threshold: 0
sum_gradient: 12404.6; sum_hessian: 333.905
smaller_split feature: 15; gain: 141334; left_count: 13510; rig

[2017-09-12 11:38] guolinke commented on #886
@qrqpjxq
I remember the sum_gradient and sum_hessian have the left and right, they are in the splitinfo.

[2017-09-12 12:22] qrqpjxq commented on #886
the message is like:
before FindBestThreshold small leaf sum_gradients: 12404.6; sum_hessians: 333.905
after FindBestThreshold small leaf left_sum_gradients: 12070.4; right_sum_gradients: 334.238; left_sum_hessian: 327.763; right_sum_hessian: 334.238; gain: 1865.2; left_count: 19349; right_count: 442; threshold: 154
before FindBestThreshold large leaf sum_gradients: 9191.71; sum_hessians: 3058.82

[2017-09-12 12:27] qrqpjxq commented on #886
![log](https://user-images.githubusercontent.com/23420013/30325736-6ffd5262-97f8-11e7-943f-75c96ea9a17e.jpg)

[2017-09-12 12:51] qrqpjxq commented on #886
it that left_sum_hessian + right_sum_hessian != sun_hessian?

[2017-09-12 13:47] guolinke commented on #886
@qrqpjxq can you provide your print code ? I want to check the sum_hessian is the local one or the global one

[2017-09-12 14:07] cjliux commented on #902
Actually, OpenCL2.0 isn't present on my machine, and cmake raised the error because it cannot find the correct version identifier in the `libopencl.so` file since it had recognised it to be of version 2.0 rather than 1.2.

[2017-09-12 14:38] huanzhang12 commented on #902
@cjliux Can you provide more information, including your GPU vendor and CMake log?

[2017-09-13 01:17] marugari commented on #893
@PayneJoe You might already know, `lgb.train(categorical_feature=cate_cols)` might work well.

[2017-09-13 01:38] qrqpjxq commented on #886
serial_tree_learner.cpp:
// Get a leaf with max split gain
185     int best_leaf = static_cast<int>(ArrayArgs<SplitInfo>::ArgMax(best_split_per_leaf_));
186     std::cout << "then chose best_leaf: " << best_leaf << std::endl;
187     // Get split information for best leaf
188     const SplitInfo& best_leaf_SplitInfo = best_split_per_leaf_[best_leaf];
189     std::cout << "feature: " << best_leaf_S

[2017-09-13 02:53] guolinke commented on #660
refer to #310

[2017-09-13 02:54] guolinke commented on #310
it is going to release, refer to https://nips.cc/Conferences/2017/AcceptedPapersInitial

[2017-09-13 02:58] henry0312 commented on #310
Great!!

[2017-09-13 03:10] qrqpjxq commented on #886
in below split, in father node sum_gradients = 490.476
but left_sum_gradients = -450.066, right_sum_gradients = 940.542
this my cause gradients bigger and bigger

before FindBestThreshold small leaf sum_gradients: 490.476; sum_hessians: 494193
after FindBestThreshold small leaf left_sum_gradients: 1772.61; right_sum_gradients: -1282.13; left_sum_hessian: 320931; right_sum_hessian: -1282.13; gain:

[2017-09-13 07:10] PayneJoe commented on #893
Much appreciated for your tips, @marugari

I did not notice that parameter categorical_feature also emerged in train method. I'll try it thoroughly.

[2017-09-13 07:50] wxchan commented on #893
The performances are different between using categorical_feature of dataset and using categorical_feature of train method?

[2017-09-13 08:44] PayneJoe commented on #893
@wxchan  How did it happen like this? And how can we use this parameter? Thanks-)

[2017-09-13 09:06] wxchan commented on #893
@PayneJoe eh..it's a question. I think they should perform the same.

[2017-09-13 09:20] marugari commented on #893
I think `lgb.Dataset(categorical_feature=)` didn't work in last Dec.
https://github.com/marugari/Notebooks/blob/master/LightGBM.ipynb

If the parameter is passed successfully, thresholds become integer.
(The following is heavy!)
https://raw.githubusercontent.com/marugari/Notebooks/master/output/lgb_cat.txt
https://raw.githubusercontent.com/marugari/Notebooks/master/output/lgb.txt

[2017-09-13 11:50] wxchan commented on #893
@marugari It's a known bug. I just tested, it should be fixed.

[2017-09-13 15:50] wxchan commented on #372
anyone interested in helping test loading and saving model with protobuf?

it's in branch: https://github.com/wxchan/LightGBM/tree/proto, you can cmake with -DUSE_PROTO=ON to install with protobuf, and add `model_format=proto` in config to load and save models with protobuf.

a simple test:
text ->proto
save: 0.612300s -> 0.023627s
load: 0.471999s -> 0.024712s
size: 13M -> 5.9M

[2017-09-13 20:48] BenjaminLott opened #912 "I've tried everything I can to install LightGBM for R and I'm having no luck"
What Im Working With: I installed Rtools 64 bit, Microsoft VS 2015 and 2017,  I'm running R 3.4.1 and up to date Rstudio.

My computer is Windows 7.

I got lightgbm to work on my older computer by just running the install_github() method and it worked really well.

Now I cannot make any progress getting it to work and I'm frustrated.

I'll start off to say that I am not the most tech savvy when it

[2017-09-13 21:42] guolinke commented on #912
will it fail if you install python package from source?

[2017-09-13 21:48] Laurae2 commented on #912
What is the command you used for method 2? `libdll` can't be `"C:\\Program Files\\R\\R-3.4.1\\lib_lightgbm.dll"` as it is where the LightGBM DLL should reside after installation.

In addition, if `cp` fails, you need a bash with `cp` available in `PATH` environment variable. With a default Rtools installation, it should not happen because `cp` exists in `C:/Rtools/bin`, unless you deleted stuff in

[2017-09-14 02:01] shaz17 commented on #912
I am trying to install LightGBM on RHEL6 64 bit and am falling into similar issues. I also want to download the dependent packages for LightGBM but am unable to get the dependency tree resolved.
R version 3.2.5

I have tried the below methods:
1. Installing using devtools::install_github(). Doesn't work gives me a warning message as below:
Warning message:
 GitHub repo contains submodules, may not

[2017-09-14 03:39] argman commented on #310
zan!

[2017-09-14 11:11] patarol opened #913 "[R Package] 'lgb.get.eval.result' function gives error"
Hi,

I'm running LightGBM in `R` for Windows.
I can run most fucntions and the speed improvement is huge.
I'm trying to understand both `lgb.cv` and `lgb.train` output. So, I've tried to run `lgb.get.eval.result`, however I get an error message:
`Error in lgb.get.eval.result(model, "train", "regression") :
  lgb.get.eval.result: wrong data name`

I already tried to use both my own data and `agaric

[2017-09-14 12:20] BenjaminLott commented on #912
To my knowledge, it does not fail when I download the python package from source.
![image](https://user-images.githubusercontent.com/19614725/30429105-41e6c9d0-9924-11e7-99db-442c38545f6e.png)

[2017-09-14 13:36] CharlieKirkwood commented on #912
I've just recently installed LightGBM for R (version 3.4.0 Patched) on Windows 10. This is what I did and it worked for me so here goes...

Prerequisites:

- Install Git, CMake, Rtools (64bit), and Visual Studio (I also selected MS Build during the VS install options).

- Add the following (or their equivalents on your system) to your PATH environment variable:
C:\Program Files\R\R-3.4.0patched\bi

[2017-09-14 13:46] fulldecent opened #914 "Make domain errors more specific"
Errors can be thrown if there is a problem with input data. Example:

These will be more helpful if they can identify exactly which data (row and column) violated the input requirement.

[2017-09-14 14:17] BenjaminLott commented on #912
Thank you Laurae and guolink for your replies and your work on this project, I actually figured out a way to get it to work.  Turns out, there was a problem with my cmake path (ofcourse >:O)

This is the FULL process which should be reproducible (At least in Windows 7),
I'll try to include baby steps because it might help other people.

Step 1: Install cmake 64bit (https://cmake.org/download/)

St

[2017-09-14 14:24] sp-expl-R commented on #912
Any suggestions for 64 bit Linux Users, either using DEVTOOLS or extracting from source.

[2017-09-14 15:44] guolinke commented on #886
@qrqpjxq it is normal for the sum_gradient is bigger.
But the sum_hessian seems is very abnormal, it should equal to left+right.
Did it always like this or only sometime are wrong ?

[2017-09-14 15:49] guolinke commented on #913
@Laurae2 it seems that is something wrong with R. Do you know why ?

[2017-09-14 15:54] guolinke commented on #907
when your #data is small, you should use small "min_child_samples", otherwise many feature will be dropped.

[2017-09-14 15:54] #907 closed

[2017-09-14 15:55] Laurae2 commented on #913
@guolinke Works correctly here.

Reproducible example:

[code]

@patarol You are using the wrong values for the parameters. Check the reproducible example above.

[2017-09-14 15:55] guolinke commented on #914
it seems you are not using the latest code.
can you try it ?

[2017-09-14 16:08] AlexandraBomane commented on #907
Thanks a lot guolinke.
What do mean by "small" min_child_samples ? Can you please give a range ?
Alexandra

[2017-09-14 17:29] #912 closed

[2017-09-14 17:58] sp-expl-R opened #915 "Best option to install LightGBM on RHEL6 with dependencies"
Hi,
I have been trying to install the LightGBM on a LINUX machine (64bit) trying various options without any success so far.
My server is behind a firewall, but I have access to internet through a Proxy server.
Below is what I have tried:
library(devtools)
install_github("Microsoft/LightGBM", subdir = "R-package",force = TRUE)

I get the below error:
Downloading GitHub repo Microsoft/LightGBM@mast

[2017-09-14 18:09] guolinke commented on #907
at least smaller than `num_data / num_leaves`
BTW, if your features are mostly constant, the features will be dropped as well.

[2017-09-15 00:03] rgranvil opened #916 "Sampling for bin construction"
@guolinke If I understand correctly, bin_construct_sample_cnt is used to set the number of observations used to create the bins.  Could you confirm whether this is a random sample or a sample of the top n observations?  Thanks.

[2017-09-15 00:42] guolinke commented on #916
it is random sample.

[2017-09-15 00:42] #916 closed

[2017-09-15 02:12] qrqpjxq commented on #886
i tried parallel learning and single training, in both the sum_hessian != left + right;

in serial_tree_learner.cpp my print code is:
std::cout << "before FindBestThreshold small leaf sum_gradients: " << this->smaller_leaf_splits_->sum_gradients()
        << "; sum_hessians: " << this->smaller_leaf_splits_->sum_hessians() << "; sum_count: " << this->smaller_leaf_splits_->num_data_in_leaf() << std:

[2017-09-15 02:46] guolinke commented on #886
@qrqpjxq
really?
from the code: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L158-L172 and https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L353-L367.
It should be the same.

[2017-09-15 03:25] rgranvil commented on #916
@guolinke Could you explain what is happening in this example?  I have  a single predictor, x1, with two possible values: 1 or 2.  When the dataset is sorted by x1, I get the error:

_[LightGBM] [Fatal] Cannot construct Dataset since there are not useful features.
Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_data,  :
  api error: Cannot construct Dataset since there a

[2017-09-15 03:30] qrqpjxq commented on #886
but i tried the example in examples/binary_classification
the information is:

[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Finished loading data in 0.012198 seconds
[LightGBM] [Info] Number of positive: 3716, number of negative: 3284
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data: 7000, number of used features: 8
[LightGBM] [Info] Finished initializing train

[2017-09-15 03:55] qrqpjxq commented on #886
then i tried in examples/parallel_learning/    data = binary.train; workers=2
if also sum_h != left_h + right_h

[LightGBM] [Info] Finished loading parameters
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Trying to bind port 12400...
[LightGBM] [Info] Binding port 12400 succeeded
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Listening...
[LightGBM] [Warning] Set T

[2017-09-15 08:17] patarol commented on #913
@Laurae2 Thank you!!

I tried to look up in `?lgb.get.eval.result` but no usage example comes within the [R documentation ](http://127.0.0.1:23738/library/lightgbm/html/lgb.get.eval.result.html) help.
I didn't know that the dataset should be a `"lgb.Dataset" "R6"` data derived from `lgb.Datased`.

It would be great if both the usage example (like this one used by you) and type of dataset should be

[2017-09-15 08:19] Laurae2 commented on #913
re-open this, I'll make a PR to fix during this day and it will be closed automatically once the PR gets merged to the master branch.

[2017-09-15 10:30] fulldecent commented on #914
Sorry, that fixed it. Thank you.

[2017-09-15 10:30] #914 closed

[2017-09-15 11:28] rgranvil commented on #916
The issue seems to be related to bin_construct_sample_cnt.  In the above example, I tested values of bin_construct_sample_cnt between 1,000 and 600,000 in increments of 1,000.  It seemed to only produce the error when bin_construct_sample_cnt was between approximately 126,000 and 133,000 or between 167,000 and 200,000.  Other values would run fine.

[2017-09-15 13:21] guolinke commented on #916
refer to https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/utils/random.h#L65

sample K from N.

[2017-09-15 13:33] guolinke commented on #916
@rgranvil it seems the final sampling has some problems

[2017-09-15 14:46] JohanGarp opened #917 "Linear regression"
I have the impression that LightGBM regression means logistic regression rather than linear regression,
is that correct? If so, are there any plans to support linear regression?

[2017-09-15 14:49] Laurae2 commented on #917
Binary objective is logistic regression, while regression (same as regression_l2) objective is like any linear regression with least squares through gradient descent.

[2017-09-15 14:56] JohanGarp commented on #917
That was quick response!
Thank you, I will try that immediately!

[2017-09-15 15:18] JohanGarp commented on #917
Maybe there is something that I don't understand, but here is a simple example in code:
  for (int i = 0; i < 200; ++i)
  {
    for (int j = 0; j < 200; ++j)
    {
      cout << i+j << ", " << i << ", " << j << endl;
    }
  }

This should generate values from 0 to 400.
I use the same data for training and testing.
Output from LightGBM is values from 194 to 203.

[2017-09-15 15:39] Laurae2 commented on #917
This is normal, it is a tree-based model. It is not a linear model, but a non-linear model made of thresholds as rules.

[2017-09-15 16:30] JohanGarp commented on #917
OK, thanks.

[2017-09-15 16:30] #917 closed

[2017-09-15 17:41] Laurae2 commented on #917
@guolinke How do you make @JohanGarp example work *properly* while being reproducible? Here is an example using an integer label from 1 to 200 using features with the same exact values:

[code]

And the weird binning result:

![image](https://user-images.githubusercontent.com/9083669/30495807-b0ec3110-9a4d-11e7-86db-604f425360ec.png)

[2017-09-16 00:41] guolinke commented on #917
@Laurae2 try the min_data_in_bin=1, and bigger num_leaves/num_iterations

[2017-09-16 01:48] rgranvil commented on #916
@guolinke Yes, it seems that in the Sample function, some values of N and K would make it very unlikely to sample from the bottom of the data.

Would this sampling approach work as an alternative?
https://stackoverflow.com/a/9345144

[2017-09-16 02:11] rgranvil commented on #916
@guolinke or is there a reason this method couldn't be used for all K < N?

else if (K > N / 2) {
      for (int i = 0; i < N; ++i) {
        double prob = (K - ret.size()) / static_cast<double>(N - i);
        if (NextFloat() < prob) {
          ret.push_back(i);
        }
      }

[2017-09-16 06:54] Laurae2 commented on #917
It refuses to train with too large number of leaves (same if min_data_in_bin is lowered to 1).

[2017-09-16 14:21] guolinke commented on #917
@Laurae2 refuses ?

[2017-09-16 14:24] Laurae2 commented on #917
@guolinke Try this:

[code]

You will get an error if you try running it multiple times. The training also would be very poor.

The error:

[code]

![image](https://user-images.githubusercontent.com/9083669/30512979-78b67702-9afb-11e7-8697-917f71aa0e05.png)

[2017-09-16 15:04] guolinke commented on #886
@qrqpjxq
I am being very busy recently. It will be good if you can fix this and open a PR.

[2017-09-16 15:08] guolinke commented on #916
@rgranvil
This algorithm is O(N), while another is O(K).
I think we can change it to the hashset solution for the stable result.

[2017-09-16 15:28] guolinke commented on #917
@Laurae2
test it in the CLI:

log:

[code]

data:
[test.txt](https://github.com/Microsoft/LightGBM/files/1308417/test.txt)

[2017-09-16 15:33] Laurae2 commented on #917
@guolinke OK, found why it was not good: integers instead of numeric.

Code below works fine:

[code]

![image](https://user-images.githubusercontent.com/9083669/30513527-0b7145d2-9b05-11e7-9e64-4d8a240b3e5a.png)

[2017-09-16 15:38] guolinke opened #918 "[python] windows build error"
@StrikerRUS

after your PR of changing to use .sln file to build window python package. I met following error:

[code]

I installed vs2017 enterprise. I need to add its path to the $PATH$ to access MSBUILD ?

[2017-09-16 15:39] qrqpjxq commented on #886
ok, i will try it. but if you can add my wechat: qjxtqrm ? then if there any questions i can ask you timely.

[2017-09-16 15:42] guolinke commented on #917
@Laurae2
In the LightGBM R package, the dataframe is passed to lightgbm as a float array. When the dataframe is integer type, I cannot sure it will convert to float or not.

[2017-09-16 20:00] StrikerRUS commented on #918
@guolinke Yes, MSBuild has it's own directory which should be added to the PATH. These lines indicate that there is no MSBuild in the PATH:

WARNING:LightGBM:Compilation with MSBuild from existing solution file failed.

In my case (Windows 10  x64, VS 2013) it's `C:\Program Files (x86)\MSBuild\12.0\Bin`.

After failure of compiling with MSBuild it tries to compile with CMake + VS, so CMake should

[2017-09-17 00:16] nji-syd commented on #882
Thanks Nikita. Back a step, before trying the python bindings, still have
No OpenCL device found. Hi @huanzhang12 <https://github.com/huanzhang12> adding
the nvidia.icd file as instructed results in build without errors however
running the higgs example
<https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Tutorial.md>
results
in error as shown below. there is also an apparent typo in the co

[2017-09-17 01:15] guolinke commented on #918
can we try to use sys.path.insert to insert some default folder and avoid the manully work?

[2017-09-17 09:49] StrikerRUS commented on #918
I think yes. I'll create a PR soon.

[2017-09-17 16:35] rgranvil commented on #916
@guolinke If it was R coding, I could probably help out, but I don't know nearly enough C++ to be of any help implementing it

[2017-09-17 20:36] JohanGarp commented on #917
I've used the CLI stuff in examples/regression as a starting point.
When looking at the parameters in your example, I noticed that I can increase the
"learning_rate" from 0.05 to 1.
I also found a parameter "feature_fraction" that is not helping in my case :-)
Now I think it looks much better!

[2017-09-17 23:18] StrikerRUS commented on #918
@guolinke It's turned out that it is not so trivial task. As I understood, PATH changes on Windows have an effect only in case of setting `shell=True` which is strongly discouraged.
https://bugs.python.org/issue8557

I think that users understand they should modify PATH in case of using installed program from command line.

[2017-09-18 02:36] guolinke commented on #918
@StrikerRUS
Most user are not familiar with these PATH things, I don't think it is a good idea to leave it to user.
And the path of msbuild.exe is also not easy to find if only installing visual studio ( ```C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin```, different version may have different path. ). And we often don't put it into PATH after installing visual stu

[2017-09-18 10:17] StrikerRUS commented on #918
@guolinke

What is the point of it? The current version of `setup.py` rollbacks to cmake solution automatically when can't compile with MSBuild (e.g. not in the PATH).

[2017-09-18 10:29] guolinke commented on #918
@StrikerRUS got it. I think this can be closed.

[2017-09-18 10:29] #918 closed

[2017-09-18 11:11] StrikerRUS commented on #918
@guolinke OK. Anyway, I'll think about detecting installation directory of MSBuild.

[2017-09-18 14:48] geoHeil commented on #901
@StrikerRUS, @wxchan
even the python native API does seem to have problems with categorical conversion:

` DataFrame.dtypes for data must be int, float or bool. Did not expect the data types in fields`
was that feature removed? Am I using it wrong?
[code]

[2017-09-18 15:00] Christopher-Whitridge opened #920 ""Unknown parameter: is_train_metric" after successful build"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Ubuntu 16.04
CPU: ppc64le
C++/Python/R version: 5.4.0 / 2.7.12 / 3.2.3

## Error

[2017-09-18 15:15] huanzhang12 commented on #882
@nji-syd Can you put your complete dockerfile to github gist or pastebin? I can't run the dockerfile you pasted here due to formatting issues. Thanks!

[2017-09-18 15:35] wxchan commented on #920
try to run `sed -i 's/is_train_metric/is_training_metric/g' lightgbm/lightgbm.conf` first

[2017-09-18 17:21] geoHeil commented on #901
actually, my last report might be related to https://github.com/Microsoft/LightGBM/issues/893

[2017-09-19 06:55] #901 closed

[2017-09-19 07:26] #920 closed

[2017-09-19 07:43] geoHeil commented on #901
@guolinke, when early stopping is applied the categorical conversion is not applied for the evaluation set! i.e. I then see the error of Only bool, float, ... data types supported by lightgbm.

[2017-09-19 08:06] guolinke commented on #901
@wxchan

[2017-09-19 10:48] nji-syd commented on #882
@huanzhang12 here is the file: https://gist.github.com/nji-syd/3985cd63d5f96788baaa7e2305c2c99a
Thanks

[2017-09-19 16:56] geoHeil opened #921 "sklearn categorical handling of early stopping"
https://github.com/Microsoft/LightGBM/issues/901 is re-enabling basic support for categorical. However, early stopping is still not supported as it dies not convert the categorical columns.

I.e. I see ` DataFrame.dtypes for data must be int, float or bool. Did not expect the data types in fields`  when early stopping is enabled for the scikit-learn API

[2017-09-19 16:56] geoHeil commented on #901
created a separate issue for  it: https://github.com/Microsoft/LightGBM/issues/921

[2017-09-19 19:39] huanzhang12 commented on #882
@nji-syd Your dockerfile looks good, but there is a small glitch.
At line 18, you also want to include `/usr/local/nvidia/lib64` in LD_LIBRARY_PATH, because OpenCL runtime library (and many other important nvidia libraries) is in that directory.

So basically change line 18 to:
[code]

An even better solution is to **delete line 17 and 18 entirely**, and use the LD_LIBRARY_PATH from the nvidia doc

[2017-09-20 02:22] russellwmy commented on #915
So I built with the dockerfile which is running ubuntu. But i need to test it functionality later.
I think You can modify the dockerfile to use RHEL6  as based image as well.

[2017-09-20 03:22] henry0312 commented on #889
I'm so sorry for late response, but I don't know the cause of your issue.
Did you try the latest version of LightGBM?

This may be wrong. The **expected** number of trees to be dropped is 1 (sometimes 0 or 2...).

[2017-09-20 08:27] Tony-Y opened #923 "python dump_model TypeError"
I got an error from running simple_example.py as shown in "Error Message" bellow. This error disappeared after modifying the code as following:

[code]

## Environment info
Operating System: macOS Sierra 10.12.6
CPU: MacBook Pro (Retina, 15-inch, Mid 2014) 2.5 GHz Intel Core i7
Python: 2.7.13 :: Anaconda 4.3.1 (x86_64)

## Error Message:
Save model...
Traceback (most recent call last):
  File "sim

[2017-09-20 17:01] hangyao opened #925 "Binary classification prediction probabilities are very close to 0.5"
Hi Team,

## Environment info
Operating System: Windows 7 64-bit
CPU: Intel i7-2600 3.40GHz
C++/Python/R version: Python 3.6

## Error Message:

I run a binary classification Grid Search CV with sklearn wrapper, and the prediction probabilities of the best estimator are really close to 0.5 instead of at two ends of 0 and 1. I used the following parameters:

[code]

Here is the histogram and output

[2017-09-20 17:04] Laurae2 commented on #925
You are using a learning rate of 0.01 and only 10 boosting iterations, this is an expected behavior.

[2017-09-20 17:57] hangyao commented on #925
Thank you @Laurae2 for your prompt response! I thought the default value of num_iterations is 100? I will change the learning rate and give it a shot.

[2017-09-20 18:10] guolinke commented on #925
@hangyao
you set ```n_estimators=10```, so the number of iterations is 10.

[2017-09-20 19:32] ChiuYeeLau commented on #611
had the same problem. Updating cmake to the latest version solves my problem

[2017-09-20 20:32] hangyao commented on #925
@guolinke Thank you! I got it. Yes, it was my fault of setting up improper parameters.

[2017-09-21 01:31] #923 closed

[2017-09-21 04:02] nji-syd commented on #882
thanks @huanzhang12 for picking that up, a rookie error on my part! I've tweaked the file and made it public on github [here](https://github.com/nji-syd/lightgbm-docker). maybe someone wants to add something similar to the project?

[2017-09-21 04:32] huanzhang12 commented on #882
@wxchan Maybe you can work on adapt @nji-syd 's Dockerfile into the official repository?

[2017-09-21 21:15] MichalAdamczyk-Base opened #926 "The output is bombared with useless logs '[LightGBM] [Info] Trained a tree with leaves ...'"
## Environment info
Operating System: Mac OS
Python version: 3.6.1

## Steps to reproduce

[code]
I would like to see results after each 10 steps. However, I am bombarded with useless logs that I don't want to see (and I believe I told it to my lgbm model by setting 'verbose':0).

This is basic, most important thing about model - validate how it progresses. How to achieve this with LightGBMs?

[2017-09-22 03:50] #925 closed

[2017-09-22 07:38] marugari commented on #889
Does the same group always have terible score with different seed?

[2017-09-22 07:39] GushchinaVarya opened #928 "Reading model.txt file, decision_type"
Hello! Where can I find the information about way of forming model.txt file?

Especially I'm interested in question about decision_type. What means decision_type=2 2 2..?

A month ago you wrote
"decision_type is not simply 0/1 now. It is a bitset (8-bit) contains the information of missing value handle."

in issue #858

Where can I find full information about types?

Thank you

[2017-09-22 11:50] AbdealiJK commented on #372
I personally find the text format the best feature of lightgbm. You can easily check things like how many trees and so on are being used without any additional commands which is complicated know binary models

[2017-09-22 11:53] AbdealiJK commented on #14
Note that the given pseudo code only ensures the split to be in the correct order and not the whole model as a later split could lead the model to be non monotonic

[2017-09-23 08:49] cjliux commented on #902
In [2]: import lightgbm
---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input-2-bd597743fb90> in <module>()
----> 1 import lightgbm

/opt/LightGBM/python-package/lightgbm/__init__.py in <module>()
      6 from __future__ import absolute_import
      7
----> 8 from .basic import Booster,

[2017-09-23 10:07] wxchan commented on #882
@nji-syd you can submit a pull request and let @guolinke to merge it.

[2017-09-24 01:09] nji-syd commented on #882
@wxchan do you want me to create a new branch, i don't have permission to
do this?

On 23 September 2017 at 20:08, wxchan <notifications@github.com> wrote:

[2017-09-24 01:58] guolinke commented on #882
@nji-syd you can do it on your cloned LightGBM, and create a PR back.

[2017-09-25 03:30] guolinke commented on #928
it is a bitvector now.
refer to: https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/tree.h#L13-L15
https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/tree.h#L176-L195

[2017-09-25 03:30] #928 closed

[2017-09-25 09:19] weltherrschaf commented on #889
sorry for my late response:

Yes I tried the newest version of lightGBM with working poisson regression (so after it was fixed) and also tried by building again from the master branch right before I made this posting.

 thats what I meant with „, I should expect to see..“, sorry for beeing unclear here.

Alot of the times yes. Even when I try to set up the parameters like I posted, so trying to ac

[2017-09-25 09:26] ZLake opened #930 "Does the order of the feature matters when training?"
Hi, there:
I am working on feature selection using the feature importance obtained from the trained lgb model on all features.

However, I found strange results. When I use the feature index array (named selected_feature, values are the indexes of the features to keep) of the selected feature index to select the features, which can be written as train[:,selected_feature]. Then I feed this to the a

[2017-09-25 10:28] guolinke commented on #930
@ZLake
If you are using the sub_col (feature_fraction, subcol_per_tree), the result will be different, since the features are chosen according to their index.

if you are using the full features.  it is possible if there are some similar features.
And i think this problem cannot be avoided if you want the different column orders.
tree learning algorithm is a greedy process of finding the most usef

[2017-09-25 10:28] #930 closed

[2017-09-25 15:06] fl2o opened #932 "[Python] Reset_parameter not working for multiclass"
Hello,

I think that there is an issue with reset_parameter callback in Python when doing multi-class classification.

It is easy to reproduce:

[code]

It works as expected for binary classification and regression problems.

Thank you for the library and keep up the good work :)

[2017-09-25 15:54] guolinke commented on #932
@wxchan

[2017-09-25 19:24] alexmulo commented on #405
Hi,

I solved the proble using this line:

sudo cmake -DUSE_GPU=1 -DOpenCL_LIBRARY=/usr/local/cuda-8.0/lib64/libOpenCL.so -DOpenCL_INCLUDE_DIR=/usr/local/cuda-8.0/include/ ..

This is for all of those using CUDA

[2017-09-25 21:58] henryiii commented on #3
By the way, non-Apple LLVM works just fine, as well. Just use `brew install llvm` (that'll get 5.0, with OpenMP), and set up the environment for the compiler in `/usr/local/opt/llvm`.
In Sierra, with Apple Clang based on 3.9, and High Sierra, with Apple Clang based on 4.0, the OpenMP library is disabled. (even though the `-fopenmp-targets` option slipped through!)

[2017-09-26 05:25] wxchan commented on #932
look like reset parameters have bugs in all situation, the ObjectiveType and similar configs are set to default during reset.

[2017-09-26 10:39] #932 closed

[2017-09-26 12:37] kbzhang opened #934 "The results of lightgbm in linux and windows are inconsistent under the same version"
Operating System:
linux: ubuntu 14.04
windows: windows2008 R2

Version：
2.0.4

## Error Message:

1. Under the same configuration，the same trainset, the model of windows is different from linux
2. With two model to predict the same testset , There is a big difference between the results

[2017-09-26 13:28] guolinke commented on #934
"big difference?"

There are many possible reasons.
With different compilers, the result could be different. the main reason is the multi-threading and openmp executing order issues.

The python in the different platform also may cause the difference. you can exclude this reason by using CLI version.

[2017-09-26 13:28] #934 closed

[2017-09-26 21:43] sbodenstein commented on #881
@guolinke: is there any plan on adding this? And what sort of timeline is expected?

[2017-09-26 22:02] nji-syd commented on #882
@guolinke pull request [here](https://github.com/Microsoft/LightGBM/pull/929)

[2017-09-26 22:02] #882 closed

[2017-09-27 05:17] amjiuzi opened #935 "[R_package] regression model issues"
hi , @Laurae2 , need u again,
my raw data has 3 types: integer, factor , numeric
1. is it necessary to trans them into numeric like:
[code]
2. after transing into numeric, is it right on building lgbdataset like:
[code]
3. after preparation above, i run downstairs and got errors, what should i do on modeling successfully:

[code]

[2017-09-27 06:41] amjiuzi commented on #935
···r
  livingrooms bathrooms useArea floor KC_score buildingArea basementArea sold_price month1 loc_clus1 loc_clus4
1           3      2.25    1670     1        8         1240          430     545000      2         3        28
2           4      2.50    3300     2       10         3300            0     785000      1         3        47
3           3      3.25    3190     2        9         3190

[2017-09-27 08:33] #886 closed

[2017-09-27 08:33] guolinke commented on #893
@wxchan updates of this ?

[2017-09-27 08:34] guolinke commented on #913
@Laurae2 updates ?

[2017-09-27 08:36] guolinke commented on #915
@sp-expl-R "Installation failed: Unknown SSL protocol error in connection to codeload.github.com:443" i think this is not a LightGBM issue.

refer to the https://github.com/Microsoft/LightGBM/tree/master/R-package .

[code]

[2017-09-27 08:36] #915 closed

[2017-09-27 08:37] guolinke commented on #921
@wxchan are there some bugs ?

[2017-09-27 08:38] guolinke commented on #926
@MichalAdamczyk-Base you can try the code of latest branch, which put these info into dubeg level output.

[2017-09-27 08:38] #926 closed

[2017-09-27 20:10] JohanGarp opened #938 "Using the C API LGBM_DatasetCreateFromSampledColumn"
I'm trying to use the LGBM_DatasetCreateFromSampledColumn function,
but I don't understand how to use the parameters.
Is there an example I could look at?

[2017-09-27 21:48] mayer79 commented on #698
Maybe (one) of the reasons is the following code snipped from `lgb.train`:

[code]

No matter if you pass `nrounds` in the `params` list or as a separate argument to `lgb.train`, you will always end up in the else branch and, if `nrounds` was specified in `params`, the default of 10 will be used.

Fixing this won't solve the problem, which is hidden in the call to `LGBM_DatasetCreateFromCSC_R`. Bu

[2017-09-28 06:54] #853 closed

[2017-09-28 08:58] WXFMAV opened #939 "Weighted Sample Leads to Iteration Fails"
## Environment info
Operating System: MacOs
CPU:
C++/Python/R version: Python
## Error Summary

The algorithm simply can not iterate when I applying weighted sample technique, this problem occurs only when I set 'objective' as 'regression_l1' and valid the weighted sample algorithm. Additionaly, the weight of each sample varies from 0~100000  in our project .
I wonder if I have missed some importa

[2017-09-28 09:38] guolinke commented on #939
@henry0312

[2017-09-28 15:11] wxchan commented on #921
@guolinke I don't have much time before Oct. @henry0312 @StrikerRUS can you help check this thread and #893 if you have time?

[2017-09-28 20:47] StrikerRUS commented on #921
I can't reproduce the error. I use the @geoHeil's code from the previous issue:
[code]

@geoHeil Please provide your actual code.

[2017-09-28 21:19] tt83 opened #941 "Suggestion for EvalAndCheckEarlyStopping function"
When early stopping is met last early_stopping_round_ models are removed, but scores are not:
[code]
May be better to update scores as well, something like this:
[code]

[2017-09-29 01:46] travisbrady opened #942 "Expose metrics in C/Python APIs"
I'm using the `LGBMRanker` class via the sklearn API in Python to train a lambdamart model, but I'm seeing issues where the ndcg@10 computed by lgb is substantially greater than what is computed in pure Python using the code here: https://gist.github.com/mblondel/7337391#file-letor_metrics-py-L124

I need to compute ndcg in this way because I have a need to first compute it per-query and then aver

[2017-09-29 02:19] guolinke commented on #941
@tt83 will you use that score ?

[2017-09-29 06:17] henry0312 commented on #921
I'm sorry I don't have much time until next week, either.

[2017-09-29 06:18] henry0312 commented on #939
I'll check next week, sorry.

[2017-09-29 10:58] tt83 commented on #941
Yes, I use. But if it is a feature, never mind.

[2017-09-29 13:52] yutkin opened #943 "How to detect the end of a model fitting in a callback?"
I need to invoke some function after the end of a model fitting. How can I detect this in the callback? I can figure it out by comparing current iteration with the last but it's not always true (for example I can use early_stopping callback).

[2017-09-30 01:12] tyokota opened #946 "`eary_stop`"
Please review for the following line(s):

[code]
from `lgb.cv()` in the R package. I think that's a typo? It's preventing `lgb.cv()` from running.

[2017-09-30 01:34] UpsideDownRide opened #947 "[R] Error: object 'is_eval_err' not found"
## Environment info
Operating System: Windows  Version	10.0.16294 Build 16294
CPU:  i7-5820K
C++/Python/R version: R 3.4.2

I have compiled OpenCl version for my system and Windows executable runs just fine. However I'm getting an error in R.

## Error Message:

[LightGBM] [Info] Number of positive: 3140, number of negative: 3373
[LightGBM] [Info] Total Bins 128
[LightGBM] [Info] Number of data: 6

[2017-09-30 01:44] huanzhang12 commented on #947
This seems to be caused by commit f90dfaf. @bfgray3 Can you take a look at this? I think there is a typo here: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/callback.R#L135, `is_eval_error` should be `is_eval_err`?

@UpsideDownRide Can you change line 135 of `R-package/R/callback.R` into the following:

[code]
and see if it works?

[2017-09-30 01:48] huanzhang12 commented on #946
@bfgray3 please check this, thanks!

[2017-09-30 01:50] huanzhang12 commented on #946
@tyokota if you change `eary_stop` to `early_stop` does it work for you?

[2017-09-30 01:52] bfgray3 commented on #947
Yes @huanzhang12 you are correct.  Sorry for the inconvenience.

[2017-09-30 02:00] bfgray3 commented on #947
@huanzhang12 I'm about to put in a PR fixing #946 and #947.

[2017-09-30 02:01] huanzhang12 commented on #947
@bfgray3 Thanks!

[2017-09-30 02:43] #946 closed

[2017-09-30 02:44] huanzhang12 commented on #947
Fixed in ac2a914

[2017-09-30 02:44] #947 closed

[2017-09-30 05:32] wxchan commented on #943
I think there is no straightforward way to do it right now. We can add a callback point after training stage ends.

There may be a stupid alternative to do it: one callback after each iteration and one callback to revert it before each iteration.

[2017-09-30 11:03] UpsideDownRide opened #949 "[R] Api Error"
When trying to run the model I get the following error.

## Environment info
Operating System: Windows Version	10.0.16294 Build 16294
CPU: i7-5820K
C++/Python/R version: R 3.4.2

## Error Message:

Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_data,  :
  api error: Unknown parameter: showsd

traceback()

5: stop("api error: ", lgb.encode.char(err_msg, act_len))
4: lgb.

[2017-09-30 14:04] huanzhang12 commented on #949
It seems you add `showsd` to the parameter list `params` of `lgb.train`? `showsd` is not an acceptable parameter in this list; Instead, it is a valid parameter for the `lgb.train` function itself. So instead of doing

[code]

you should do this:

[code]

[2017-09-30 14:37] Laurae2 commented on #935
Data must be a numeric matrix.

[2017-09-30 14:57] #580 closed

[2017-09-30 15:02] Laurae2 opened #950 "Visual Studio Compilation Warnings"
When compiling the package under R with Visual Studio, we get the following warnings:

[code]

Is it expected?

[2017-09-30 20:21] #949 closed

[2017-10-01 01:14] guolinke commented on #935
@Laurae2
can you convert other data types to numeric inside R package ?

[2017-10-01 01:21] guolinke commented on #950
@Laurae2
from the log of appveyor, https://ci.appveyor.com/project/guolinke/lightgbm/build/2.0.5.850/job/y9rfq8excolyvcll
I don't find these warnings.

The build command:
[code]

[2017-10-01 08:04] geoHeil commented on #921
I can conform now that as @StrikerRUS said it works on the minimal sample i.e. the error can't be reproduced. During the next 1-2 weeks I will try to run my actual code again and check if I can still reproduce the error.

[2017-10-01 13:42] zkurtz opened #954 "inconsistent parameter names: "n_estimators""
The [python API](http://lightgbm.readthedocs.io/en/latest/python/lightgbm.html#lightgbm-package) has an "n_estimators" argument.  It took me a while to figure out that this is the same as "num_boost_round", since this parameter is not even mentioned on [the main parameters page](https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md).

It seems like it would be simplest to replace `n

[2017-10-01 13:45] Laurae2 commented on #954
@zkurtz This is the fault of the scikit-learn API, not the Python API (look up for parameters of `sklearn.ensemble.GradientBoostingClassifier` or similar).

[2017-10-01 13:58] zkurtz commented on #954
Oh, OK.  I guess that means that there's no point in trying to replace the `n_estimators` parameter. But I propose replacing line 163 [here](https://github.com/Microsoft/LightGBM/blob/0350a9a6ff3a72e9c24eb28038bd10d4f4408c47/python-package/lightgbm/sklearn.py) with something like "Number of boosted trees to fit (i.e. num_boost_round in lightgbm.train)" to be clear about the relationship between th

[2017-10-01 14:05] Laurae2 commented on #954
The parameter is the same as [scikit-learn](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html).

If we were to add the equivalent to the true API, we would have to add them to each parameter. However, `n_estimators` ("Number of boosted trees to fit.") is very easy to understand as it is equal to the number of boosting iterations (which is the same as

[2017-10-01 17:15] travek opened #955 "C API - Cannot construct Dataset since there are not useful features"
Hi!

I'm using lightgbm C_API and trying to construct dataset. I wrote a simple code to test dataset consytruction but this coderesults in FatalError:
Cannot construct Dataset since there are not useful features

Test code is the following:
	vector<float> v;

	for (int i = 0; i < rows; i++)
	{
		for (int j = 0; j < cols; j++)
		{
			v.push_back((((i + 1) * (j + 1)) % 3 == 0 ? 1 : (i + 1) * (j + 1)

[2017-10-01 18:58] Laurae2 commented on #950
@guolinke Strange. I'll try to reproduce the issue on my other machines next week.

[2017-10-01 19:00] Laurae2 commented on #942
You can define and use a custom metric coded in Python like here: https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py#L149-L151

[2017-10-01 19:07] Laurae2 commented on #889
@weltherrschaf Can you define a custom Poisson loss function and cap the range of gradients/hessians so they don't explode, then test again if you see the sudden metric jumps?

You can find the formulas here: https://github.com/Microsoft/LightGBM/blob/master/src/objective/regression_objective.hpp#L298-L364

[2017-10-01 19:10] Laurae2 commented on #658
Refer to #667

[2017-10-01 19:10] #658 closed

[2017-10-01 19:11] #389 closed

[2017-10-02 01:37] guolinke commented on #955
what is n_row ?
if it is too small, you can try to set ```min_data=1 min_data_in_bin=1``` in your parameter.

[2017-10-02 01:37] #955 closed

[2017-10-02 09:42] Tony-Y opened #959 "No Index Checking in Dataset::CopySubset"
I noticed no index checking exists in Dataset::CopySubset. I think this function must have a code such as the following:

[code]

[2017-10-02 13:42] wxchan commented on #943
why don't you just write codes after lgb.train() without a callback?

[2017-10-02 15:23] wxchan opened #960 "[python] refine pandas support"
to do list:

- [ ] re-write PANDAS_DTYPE_MAPPER: more concise?
- [ ] auto extract feature_name from DataFrame: check consistency among train, valid, test datasets?
- [ ] auto transfer category from DataFrame: check consistency? save for prediction?
- [ ] check pandas input valid (#1395):
	_data_from_pandas:
	_label_from_pandas: support category?
- [ ] re-write the format of `pandas_categorical` se

[2017-10-02 15:57] StrikerRUS commented on #960
I think, we can explicitly invoke pandas features (e.g. column names, categorical columns, etc.) at sklearn wrapper level and then pass data as numpy array. In this case all sklearn checks will be performed for pandas too.

[2017-10-02 16:44] yutkin commented on #943
I need to collect some kind of data in "a buffer" at every iteration, and after a training, it should be saved. I think that usage of a global buffer is not a good idea, so I've supposed there is a better solution. For example, local buffer and detection of the end of the training.

[2017-10-03 13:11] wxchan commented on #960
@StrikerRUS I am not sure I get it. The pandas support should be independent to sklearn support. You can take a try if you have a good idea.

[2017-10-03 15:57] zkurtz opened #962 "R lgb.unloader crashes"
In any R session, I get
[code]

[2017-10-03 16:01] guolinke commented on #962
@Laurae2 @bfgray3

[2017-10-03 16:10] zkurtz opened #963 "R lgb.train crashing on simple example"
[code]
The final line returns
[code]
This behavior was the same on Mac Sierra and on Red Hat linux

[2017-10-03 18:02] Noxoomo commented on #836
I had the same problem. After changing num_threads option from cpu_cores (in my case 16) to 1 solved the problem. BTW, it's bug and should be fixed.

[2017-10-03 19:22] travisbrady commented on #942
@Laurae2 Yes thank you, I know about that. But the goal here is actually not to define _anything_ on my own, but rather to expose what Lightgbm is doing internally.

In my case I have the above referenced ndcg calculation in pure Python which disagrees with lightgbm, so I want to resolve that by using the lightgbm version everywhere.

[2017-10-03 23:37] bfgray3 commented on #962
@guolinke @Laurae2 @zkurtz this code is not the latest available on GitHub.  In my commit f90dfaf36ae6f9a9ace5e253269257eff2bba369 I switched away from using `sapply`.

[2017-10-04 00:39] zkurtz commented on #962
Verified that this passes without error with a fresh build on my mac.

[2017-10-04 00:40] #962 closed

[2017-10-04 01:20] guolinke commented on #963
@zkurtz
I am not familiar with R, but it seems the type of label is wrong.
@Laurae2 @bfgray3

[2017-10-04 02:06] bfgray3 commented on #963
I believe the error is in the following line: https://github.com/Microsoft/LightGBM/blob/7193c30fb545306c9e8bb02e9a428fb3fc0a02c1/R-package/R/lgb.Dataset.R#L429.  This is unrelated to my recent pull request, but I'm wondering if these few lines should be rewritten as:

[code]

as appears a few lines previous.  Right now, R is treating `info` as a function (closure), and that's why it can't turn it

[2017-10-04 09:52] StrikerRUS commented on #960
@wxchan I'm not sure it's "good idea"...
I want to say, that pandas support should be implemented "more deeper" than sklearn wrapper. But all data checks in sklearn wrapper cannot handle pandas (now pandas just passed as is without any checks).
https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py#L415

So, I offer to extract all pandas features (column names, catego

[2017-10-04 11:16] bfgray3 commented on #963
@zkurtz when you create the response variable you name it `label` but then in the `lgb.Dataset` call you use `labels`, which is a function from the `base` package. Please rerun, removing the "s" from the variable name and see if that resolves the issue.

[2017-10-04 12:26] zkurtz commented on #963
@bfgray3 You are correct -- I have a basic typo in my example, and replacing `labels` with `label` fixes one issue. Now I don't what to call this (a feature request?) but it seems like the error message could be more helpful based on some kind of check of the input label object type.  I imagine there should be some list of acceptable types that would include neither `closure` nor `function`:

[cod

[2017-10-04 12:30] #963 closed

[2017-10-04 12:35] zkurtz commented on #954
I'm well aware of what `num_boost_round` means, but was not previously familiar with the sklearn API and `n_estimators` seemed ambiguous to me.  For one thing, if sounds like it could refer to a collection of boosted trees, treating the output of a "single" lightgbm instance (with, say, `num_boost_round = 100`) as one estimator.

If your lightgbm sklearn documentation is really just a copy of the

[2017-10-04 12:35] #954 closed

[2017-10-04 13:45] zkurtz opened #964 "R - lgb.train crashing on wide data"
[code]
The script above runs without error if `n_features` is less than ~400.  But with 500 or higher (as above) it segfaults as

[code]
I understand the overfitting risks with wide data and have seen some discussion regarding how some of the hyperparameters could play a role.  But it would be very useful to have this fail more gracefully to enable optimizing lightgbm via standard hyperparameter t

[2017-10-04 14:36] guolinke commented on #964
I think it is R's problem.
@Laurae2 any ideas of this issue ?

[2017-10-04 14:56] wxchan commented on #960
@StrikerRUS I edit some tasks I can think of. You can add more you think it's necessary.
I think it's better that each of them be implemented separately, not like now one function doing multiple things.

[2017-10-04 14:59] wxchan commented on #893
Sorry I am very busy last month. I can confirm there is some bug for categorical_feature. Both ways (set in dataset & set in train()) seem not working. I will try to fix it in this week.

[2017-10-04 15:04] weltherrschaf commented on #889
@Laurae2 I tried but didn't get too far. First I tried to replicate/approximate my results from using the poisson objective WITHOUT dart. However, only some of the predictions are comparable, the rest is way off. This is the objective I used:

`    poissonregobj <- function(preds, dtrain) {
      labels <- getinfo(dtrain, "label")
      preds <-exp(preds)
      grad <- preds - labels
      hess <-

[2017-10-04 15:55] StrikerRUS commented on #960
@wxchan Yeah, great idea about small separate functions!

[2017-10-04 17:16] zachmayer commented on #458
`sudo cmake -DUSE_GPU=1 -DOpenCL_LIBRARY=/usr/local/cuda-8.0/lib64/libOpenCL.so -DOpenCL_INCLUDE_DIR=/usr/local/cuda-8.0/include/ ..` fixes the error for me on ubuntu 14 with NVIDEA

[2017-10-05 04:33] Tony-Y commented on #959
I show a simple python example throwing no error.

# test_subset.py
[code]

# How to run this code
cd LightGBM/examples/python-guide
python test_subset.py

# output
7000
7000

[2017-10-05 08:37] Tony-Y opened #965 "[Python ] A typo in get_group"
I found a typo in `LightGBM/python-package/lightgbm/basic.py`.

[code]

wrong: `init_score`
correct: `group`

[2017-10-05 11:53] wxchan commented on #965
@Tony-Y you can submit a pr yourself next time.

[2017-10-05 11:57] wxchan commented on #943
@yutkin in this case, I think the easiest way to do it is copy all codes of early stopping callback and add your owns.

[2017-10-05 15:31] #965 closed

[2017-10-05 15:42] guolinke commented on #959
@Tony-Y you can submit a PR to fix this.
However, I prefer to check it in C_API (https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L674-L694), since we will use this function inner and checking this will cause the performance issue.

[2017-10-05 20:21] Laurae2 commented on #964
@zkurtz transform at least a column to numeric format.

[code]

[2017-10-05 20:30] zkurtz commented on #964
Great! This gets me going again.

[2017-10-05 22:08] ClimbsRocks opened #967 "Request- Deprecation warnings and stability between releases"
Hi Team,

This package is awesome, and we use it a lot. It's become our default gradient boosting implementation at work. The training speed in particular is astounding.

I was disappointed to find that the latest release had two changes that broke our existing code: The type of data inputs accepted changed, throwing `ValueError`s, and the `.best_iteration` attribute disappeared, throwing an `Attr

[2017-10-06 02:42] #913 closed

[2017-10-06 10:23] Tony-Y commented on #959
@guolinke I submitted a PR.
I confirmed the bounds checking works well using the following python script:

### test_subset.py
[code]

### Output
[code]

[2017-10-06 16:04] StrikerRUS commented on #960
I haven't taken a detailed look at [this](https://github.com/pandas-dev/sklearn-pandas) yet, but it could be useful.

[2017-10-06 19:07] #964 closed

[2017-10-06 19:20] zkurtz commented on #964
Is there a commit associated with this closure?  It seems definitely preferable if users would not have to worry about bug -- at the very least to have some not about it in the documentation.

[2017-10-06 19:24] Laurae2 commented on #964
@zkurtz It's a known bug and there are no workaround.

The usual solution is this nuclear method like for xgboost in the past: https://stat.ethz.ch/R-manual/R-devel/library/base/html/data.matrix.html

[2017-10-06 19:27] Laurae2 commented on #935
@guolinke `lgb.prepare` should deal with most common cases, but the best method is to use the base package function `data.matrix` which will attempt to convert everything to a single numeric matrix.

[2017-10-07 05:33] wxchan commented on #967
Thanks for your suggestions. We don't have much experience on this and will be careful in the future.

Btw, what's exactly the two changes you refer to (`The type of data inputs accepted changed` & `the .best_iteration attribute disappeared`)? Do you mean in sklearn interface?

[2017-10-07 08:43] henry0312 commented on #939
@WXFMAV can you give me reproduceable code?

[2017-10-07 10:02] OscarYuen opened #972 "module 'lightgbm' has no attribute 'xxxx' when running lightgbm in Python Module"
"module 'lightgbm' has no attribute xxxx" error message shows when using lightgbm(with/without gpu enabled) on IDLE
When running it on python shell line by line only, it has no problem

## Environment info
Operating System: Windows 10 64bit
CPU:  intel i7-6700
C++/Python/R version: Python 3.5.2 64bit

## Error Message:
`AttributeError: module 'lightgbm' has no attribute 'train'`
## Reproducible ex

[2017-10-07 11:00] StrikerRUS commented on #967
Sorry that you had problems with LightGBM's backward compatibility. From my side I confirm that

As a typical user, I can remind you that you can fix versions of dependences of your software. It's very useful when you have dozens of them. And then you periodically do review of dependences and in case of "all OK" increment the version of the corresponding dependence.

[2017-10-07 11:17] wxchan commented on #972
Do you have some scripts named lightgbm.py? If not, can you show how you install lightgbm?

[2017-10-07 19:33] luozm commented on #902
I have the same problem. Everything is ok during installation (both command line and python version), and I can use both CPU and GPU on the command line. But when I try to import it in python, it raises an error:
`>>> import lightgbm`

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/lightgbm/__init__.py", line 8, in <module>

[2017-10-07 20:59] shuyangdu opened #974 "Inconsistent behavior in version 2.0.4 and versions after 2.0.4"
I used lightgbm for a regression task. Here are the parameters I used:
`params_gbd_l1 = {
    'max_bin': 80,
    'learning_rate': 0.0116,
    'boosting_type': 'gbdt',
    'objective': 'regression_l1',
    'feature_fraction': 0.94,
    'bagging_fraction': 0.85,
    'bagging_freq': 80,
    'num_leaves': 110,
    'lambda_l2': 86.9,
    'n_estimators': 450,
}`
I used the exact same data set and 5-fold

[2017-10-08 02:02] guolinke commented on #974
@shuyangdu
after 2.0.4, we change the missing value handling, which use the ```na``` as missing value (previous is zero).
you can try to set ```zero_as_missing``` to use zero to represent missing.

[2017-10-08 02:02] #974 closed

[2017-10-08 03:11] shuyangdu commented on #974
Thanks for your response, Guolin! I have tried to set zero_as_missing to true but the difference is still the same. Is there anything else that may affect the model behavior?

[2017-10-08 04:07] guolinke commented on #974
@shuyangdu you can try the bigger ```max_bin```, we also modify this algorithm.

[2017-10-08 11:43] StrikerRUS commented on #959
Fixed in #969.

[2017-10-08 11:43] #959 closed

[2017-10-08 17:55] shuyangdu commented on #974
Actually, I have tried to use different parameters (including bigger `max_bin`) in my hyper-parameter optimization and all of the results have similar differences in test MAE. Any other factors could cause this? And would it be any problems if I continue to use 2.0.4 (maybe you fixed some bugs in later versions)?

[2017-10-09 06:36] WXFMAV commented on #939
It was impossible to upload the huge train data files but the Codes that leads to errors can be show as below
[code]

outputs:

[code]

while the head 20 records of **w_train** is
[code]
it seems that the error can be avoid when the **w_train** is small enough.

[2017-10-09 06:39] WXFMAV commented on #939
@henry0312  The codes works well if only we set
[code]
into
[code]

[2017-10-09 10:16] Goorman opened #978 "Dataset columns slice or train feature selection."
Is it possible to either slice dataset by columns or block certain features from being used in specific train call?

I construct dataset from big sparse libsvm file, so it would require to add a few extra computationally intensive steps to select features by myself.

[2017-10-09 10:41] StrikerRUS commented on #978
You could use `ignore_column` parameter for this: http://lightgbm.readthedocs.io/en/latest/Parameters.html#io-parameters

[2017-10-09 11:04] Goorman commented on #978
Thanks.

[2017-10-09 11:04] #978 closed

[2017-10-09 12:07] WXFMAV opened #979 "Maybe a bug about Hessian matrix of regression_l1 objective function"
## Maybe a bug  about Hessian matrix of regression_l1 objective function

There may be a bug in Hessian matrix of regression_l1 objective function.

It was strange and unreasonable in function **ApproximateHessianWithGaussian** that the gaussian variance is set as
**const double c = std::max((std::fabs(y) + std::fabs(t)) * eta, 1.0e-10);**

The proper code maybe as
**const double c = std::max((std

[2017-10-09 14:32] guolinke opened #980 "Use feature name in prediction"
The model file has stored the feature names. However, the prediction is still based on feature indices.
As a result the prediction will fail when test dataset changes column order of features.

[2017-10-09 20:29] Laurae2 commented on #979
ping @henry0312

[2017-10-09 21:21] bbennett36 commented on #980
Does this solve your problem?  (Coming from the FAQ page)

Solution 2: Because LightGBM constructs bin mappers to build trees, and train and valid Datasets within one Booster share the same bin mappers, categorical features and feature names etc., the Dataset objects are constructed when construct a Booster. And if you set free_raw_data=True (default), the raw data (with Python data struct) will b

[2017-10-10 02:34] guolinke commented on #980
@bbennett36
I think we are talking about different topics. I know change the feature order in python/R is easy, so that will be a big problem.

But in CLI version, this is a problem, especially when using weight_column/ignore_column.

[2017-10-11 06:55] desperadox commented on #980
@guolinke
I met the same problem.
Can we write more information in the mode file? I think it could be not enough to record only the index. Such as label name, weight name, ignored column and a hashmap( the key is the used feature name and values is the index in the train data).

[2017-10-11 07:51] Tony-Y commented on #979
@WXFMAV  Please see [Representations of the delta function](https://en.wikipedia.org/wiki/Dirac_delta_function#Representations_of_the_delta_function).
This code employs the heat kernel for the delta function approximation. `c` in this code may be a small positive number.

[2017-10-11 08:28] Tony-Y commented on #902
@luozm When I installed the python package, I modified `setup.py` as followings:
[code]

I also set the environment variable `CUDA_ROOT ` as the following:
[code]

After that, ran `python setup.py install --gpu`.

[2017-10-11 09:24] Tony-Y commented on #979
@guolinke BTW, why does `b` exist?

Why not as the following?
[code]

[2017-10-11 09:33] henry0312 commented on #979
I'm sorry I don't have time to check the issue and remember the reason.

[2017-10-11 09:40] henry0312 commented on #979
Oh, I just rememberd!

b is the position of the center of the peak, so I wanted to clarify the shape of gaussian function.

cf. https://en.wikipedia.org/wiki/Gaussian_function

[2017-10-11 09:41] henry0312 commented on #979
When I have free time, I'll check this issue, sorry.

[2017-10-11 09:45] henry0312 commented on #979
cf. https://github.com/Microsoft/LightGBM/pull/178#issuecomment-271280902

[2017-10-11 09:46] henry0312 commented on #939
When I have free time, I'll check this issue, sorry.

[2017-10-11 10:15] vladimir-vilinski commented on #909
I need it too for one of the highly important Microsoft customer...
predict4j - does not work with current version (fails because default_values missing in 2.0.7 model).
pmml conversion - does not work either, fails by double -> int cast somewhere in model

[2017-10-11 10:20] fcbruce opened #984 "Segmentation Fault while continue training of dart"
Continue training the model of `dart`, and the process crashed after serval iterations. And I try to the [`advanced_example.py`](https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py) by changing `gbdt` to `dart`, it also crashed.

## Environment info
Operating System:
mac OS Sierra 10.12.5
CPU:
2.7 GHz Intel Core i5
C++/Python/R version:
Python

## Error Mess