[2020-11-09 11:47] StrikerRUS commented on #3546
Yes, it does.

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.train.html#lightgbm.train

Yes, formerly this param was named `max_position`. Please refer to https://github.com/microsoft/LightGBM/pull/2801/files.

[2020-11-09 12:06] guolinke commented on #3532
I mean set  boost_from_average=false to  *lightgbm built-in huber loss*, not your custom loss.

[2020-11-09 12:26] ljczxy commented on #3546
我最近也遇到了做过问题，太感谢了

[2020-11-09 12:27] ljczxy commented on #3546
我最近也遇到了这个问题，感谢

[2020-11-09 12:44] #3440 closed

[2020-11-09 12:56] cotterpl commented on #3473
I have figured out that we are not shuffling the set properly. Doing shuffle fixed the issue. Now score is similar to locally run one.

[2020-11-09 12:56] #3473 closed

[2020-11-09 15:02] raybellwaves commented on #3542
Thanks. I guess I was expecting a link in https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html to https://lightgbm.readthedocs.io/en/latest/Python-Intro.html.

Now I think about it more is it worth removing

[code]

from https://lightgbm.readthedocs.io/en/latest/Python-Intro.html# and just keep the link to https://github.com/microsoft/LightGBM/blob/master/python-package/README.rst#ins

[2020-11-09 19:26] rohan-gt commented on #3313
@guolinke is it possible to add this functionality like @jameslamb mentioned?

[2020-11-10 03:24] #3546 closed

[2020-11-10 07:54] etveritas commented on #3459
@guolinke hello, would this feature will be added in the future?

[2020-11-10 08:01] guolinke commented on #3459
Currently, the data loader in LightGBM is designed for row-wise data. For the column-wise, it needs more refactoring works.
But I think this is quite important, as it can save memories when loading from many column-wise objects, like pandas/datatables.

[2020-11-10 08:44] etveritas commented on #3459
I see, most of ml system use C++ as backend can meet this problem, maybe we should get some change.
Thanks~
And feel free to close this issue or not.

[2020-11-10 18:35] dishkakrauch commented on #3532
It's getting closer.

[code]

![Lightgbm huber custom ++](https://user-images.githubusercontent.com/34490641/98716454-a381df80-239c-11eb-83ea-4715a0f98fe2.png)

What else can I do?

[2020-11-10 22:50] jameslamb commented on #3469
Seems that this bug wasn't actually fixed by #3541 , so re-opening this: https://github.com/microsoft/LightGBM/pull/3554#pullrequestreview-527671202

[2020-11-11 02:10] guolinke commented on #3532
I think your customed eval is different with LightGBM built-in one.

https://github.com/microsoft/LightGBM/blob/e9f51698ebfa80cb32c8e6cca72fad76b3a36da5/src/metric/regression_metric.hpp#L191-L198

[2020-11-11 03:49] #2281 closed

[2020-11-11 07:48] dishkakrauch commented on #3532
So what more shoud I do to get identical results with custom huber loss function and eval?

[2020-11-11 08:02] guolinke commented on #3532
can you try to use custom huber objective + built-in huber metric, and built-in huber objective + customer huber metric?
This can debug which part has problems.

[2020-11-11 10:40] dishkakrauch commented on #3532
Good idea!
I found out problem is in custom loss, cause custom eval function gives same results as default huber metric.

[code]

[code]

[2020-11-11 15:15] guolinke commented on #3532
okay, your objective function is still different, please check following code.
[code]

[2020-11-11 17:21] samFarrellDay opened #3556 "[python] support saving and loading CVBooster"
The two most immediately apparent ways to save a cvbooster (to me at least) would be to use pickle, or save_model() as is done with basic booster models. However, neither of these appear to work:

[code]

Would it be possible to get a `.save_model()` method for CVBooster?

[2020-11-11 19:37] dishkakrauch commented on #3532
Still nothing...

[code]

![LightgGBM huber default loss and default eval](https://user-images.githubusercontent.com/34490641/98856265-5a01c500-246e-11eb-8213-5f7d67354d83.png)

[code]

![LightgGBM huber custom loss and custom eval](https://user-images.githubusercontent.com/34490641/98856316-6c7bfe80-246e-11eb-8e56-39d7fa992ad1.png)

[2020-11-12 02:40] guolinke commented on #3532
did you check the type of `np.sign(residual)`, maybe you need to convert it to float.
and you can check the grad/hess manually for debug, instead of run it end-to-end.

[2020-11-12 02:42] guolinke commented on #3532
and you should use 'abs(residual)` for comparison, refer to `std::abs(diff) <= alpha_`.
you should be more careful about your code...

[2020-11-12 03:11] ivinogra opened #3557 "bug/segfault when using add_features_from and somewhat sparse data"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Ubuntu 16.04.6 LTS

CPU/GPU model: Intel(R) Core(TM) i7-3840QM CPU @ 2.80GHz

C++ compiler version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609

CMake version: 3.5.1

Python version: 3.6.3

Comments: tried on other machines running Debian with newer python, gcc, and cmake

LightGBM ve

[2020-11-12 05:00] guolinke commented on #3557
@shiyu1994 as you are changing the related codes, can you also fix this in your PR? (or after merge it).

[2020-11-12 05:02] Juniper-23 commented on #3352
Hi @jameslamb, not as of now. But, I would definitely need some help.

[2020-11-12 05:14] guolinke commented on #3556
`cvbooster` contains a list of  `Booster`. So you can achieve it like
[code]

For the restore, you can load model one-by-one, and append it to a empty cvbooster. refer to
https://github.com/microsoft/LightGBM/blob/1bc27939a43c414c3424f339994d0aa11f3aa3b1/python-package/lightgbm/engine.py#L303-L305

[2020-11-12 06:06] jameslamb commented on #3352
ok no problem. `@` me whenever you need!

[2020-11-12 07:06] hanzigs opened #3559 "[LightGBM] [Warning] No further splits with positive gain, best gain: -inf"
For a data with 24 columns and 1000 records, running automl with following parameter set
[code]
throws lot of repeated below warning
[code]

May i know whats the mistake i am making?
Thanks

[2020-11-12 08:53] dishkakrauch commented on #3532
@guolinke thanks for your seggestions but I've double checked code before previous comments...
There is convertation to float before getting sign of residual array - it's okay.

[code]

Also I've cheked difference before np.abs and default python abs functions for same array - it does not give any difference for evaluatin function.

[code]

Just a few comments above we have figured out that proble

[2020-11-12 10:27] guolinke commented on #3532
@dishkakrauch
I was saying for the objective, not the eval.
refer to cpp code:
[code]
 So it should be like, and you missing
[code]

[2020-11-12 12:00] dishkakrauch commented on #3532
@guolinke thanks for patience, I've read your comments, read cpp code. Now it's okay and custom objective (train loss) with custom eval metric (valid loss) gives the same results as default huber objective and huber metric.
I gonna leave here code for somebody who will face this problem too.

default:
[code]
custom:
[code]

@guolinke  thanks again!

[2020-11-12 12:08] dishkakrauch commented on #3532
Wanna ask one more question about evaluation metric.
Looks like it's gonna be different and I misread cpp code before.

Was:
[code]
Should be:
[code]

Am I right?

[2020-11-12 12:36] guolinke commented on #3532
refer to:
   if (std::abs(diff) <= config.alpha) {
     return 0.5f * diff * diff;
   } else {
     return config.alpha * (std::abs(diff) - 0.5f * config.alpha);
   }
I think `alpha * (np.abs(residual) - .5 * alpha)` equals to `alpha * np.abs(residual) - .5 * (alpha ** 2)`.

[2020-11-12 12:46] dishkakrauch commented on #3532
Look like I've overworked and didn't take into account brackets and power function.
Therefore python code is exactly following to cpp code, thanks again!

[2020-11-12 12:46] #3532 closed

[2020-11-12 15:16] gzls90 commented on #2302
Read from multiple files and parquet support #2031

[2020-11-12 15:19] gzls90 commented on #2302
Parquet file support #1286

[2020-11-12 15:21] gzls90 commented on #2302
Register custom objective / loss function #3244

[2020-11-12 15:25] gzls90 commented on #2302
Object importantce #1460

[2020-11-12 15:30] gzls90 commented on #2302
Support trees with linear models at leaves #3319

[2020-11-12 16:02] jameslamb commented on #3559
Hi @hanzigs , thanks for using LightGBM!

This doesn't mean that you've made any "mistakes", necessarily. That warning means that the boosting process has effectively ended early, because you've overfit to the training data.

The default `min_data_in_leaf` for LightGBM is 20 (https://lightgbm.readthedocs.io/en/latest/Parameters.html#min_data_in_leaf). That means that any split that would create a

[2020-11-12 16:45] shiyu1994 commented on #3557
I'll open another PR for this.

[2020-11-13 00:01] hanzigs commented on #3559
Thanks @jameslamb
Its good now, for the automl I set the above default parameter set, so for testing, passed a small dataset and got the warnings

[2020-11-13 01:19] guolinke commented on #2701
I think #3425 already largely improves the speed of lambadrank.

[2020-11-13 01:21] guolinke commented on #2786
#3522 reduces the memory overhead for dense row-wise histograms, besides, it adjusts the block size and achieves a better speed-up.

[2020-11-13 18:04] StrikerRUS commented on #2701
@guolinke

Great! Then I'm removing this issue from `top priorities` section of the roadmap.

![image](https://user-images.githubusercontent.com/25141164/99105484-aa565f80-25f3-11eb-881d-d1a182fb8c8d.png)

[2020-11-13 21:33] StrikerRUS opened #3561 "Compilation warnings"
#3522 introduced some compilation warnings.

### Windows

[code]

### Clang

[code]

[2020-11-13 21:43] StrikerRUS commented on #3469
Hopefully, #3558 fixed this issue.

[2020-11-13 21:55] StrikerRUS commented on #3469
WAT?!

https://github.com/microsoft/LightGBM/runs/1398022470

[code]

[2020-11-13 22:23] jameslamb commented on #3469
WHAT IS HAPPENING :tired_face:

I'm so confused.

It is strange that the paths switched from forward slashes to backslashes, right?

[code]

I don't understand what is happening :/

[2020-11-13 22:58] skasturi opened #3562 "In skewed data's cross validation case where y_train has only 1 class, predict_proba returns probabilities for 2 classes"
In highly skewed datasets and CV, there is a possibility for the train split to contain a single class. When this happens, LightGBM is returning 2 probabilities when calling `predict_proba`.

I understand that this is uncommon and the model really isn't learning anything and uninformative; but this seems to break the interface of `predict_proba` to return an array of shape `(n_samples, n_classes)`

[2020-11-14 00:38] #3561 closed

[2020-11-14 23:09] StrikerRUS commented on #3469
After rerun another error (we have already seen it) is shown:
[code]

[2020-11-15 01:34] StrikerRUS commented on #3519
https://travis-ci.community/t/org-com-migration-unexpectedly-comes-with-a-plan-change-for-oss-what-exactly-is-the-new-deal/10567
https://travis-ci.community/t/extremely-poor-official-communication-of-the-org-shutdown/10568

[2020-11-15 03:20] jameslamb commented on #3469
UGH

[2020-11-15 04:21] jameslamb commented on #3519
It's really unbelievable.

The official Travis documentation on migrating to .com STILL refers to .com as a beta!

https://docs.travis-ci.com/user/migrate/open-source-repository-migration

![image](https://user-images.githubusercontent.com/7608904/99162834-cd524380-26c7-11eb-9425-bd48403997b5.png)

[2020-11-15 04:38] jameslamb commented on #3562
Hi @skasturi . Thanks for using `LightGBM`, and for taking the time to write up this reproducible example!

This is intentional behavior. `LightGBMClassifier` assumes binary classification if you do not pass an objective (https://github.com/microsoft/LightGBM/blob/c20cce0474ceba0a3239e09782f50aed1050bc38/python-package/lightgbm/sklearn.py#L478-L479). Like you mentioned, training a model on a targe

[2020-11-15 04:38] #3562 closed

[2020-11-15 05:05] jameslamb commented on #3511
Hi @ninenerd , thanks for using `LightGBM`! Apologies for our delayed response.

Performance is dependent on the problem and data, so we can't make a broad claim about LightGBM always being more effective than any other technique. LightGBM has been used in many winning solutions for machine learning competitions (https://github.com/microsoft/LightGBM/tree/c20cce0474ceba0a3239e09782f50aed1050bc38/e

[2020-11-15 05:07] jameslamb commented on #3511
I'm going to close this issue, because we try to use the Issues list to track work that needs to be done, like fixing bugs and adding new features. If you want to get more familiar with LightGBM, please consult [the documentation](https://lightgbm.readthedocs.io/en/latest/index.html). If you find that something is missing from the documentation that could help you, please open a new issue and requ

[2020-11-15 05:07] #3511 closed

[2020-11-15 14:43] StrikerRUS commented on #3469
New error:
[code]

[2020-11-16 02:33] jameslamb opened #3567 "[ci] R artifact build job is broken"
See https://github.com/microsoft/LightGBM/runs/1404264739?check_suite_focus=true

The job defined in https://github.com/microsoft/LightGBM/blob/master/.github/workflows/r_artifacts.yml is currently breaking, with this error

Error: Input 'submodules' not supported when falling back to download using the GitHub REST API. To create a local Git repository instead, add Git 2.18 or higher to the PATH.

[2020-11-16 02:34] jameslamb commented on #3567
I've marked this "good first issue" because it isn't urgent and I'm guessing that template is just missing an `apt-get insall git` somewhere. If you'd like to work on this, please add a comment here.

[2020-11-16 03:38] jameslamb commented on #3519
Two tasks just failed too even start on Travis. I'm hoping it's temporary and not sure if it's related to this issue, but want to note the links here in case we need to come back to them later.

https://travis-ci.org/github/microsoft/LightGBM/jobs/743842061
https://travis-ci.org/github/microsoft/LightGBM/jobs/743842062

[2020-11-16 14:20] galalH opened #3569 "v3.1.0 missing CRAN package"
The 3.0.0 release came with a CRAN package that made it super simple to install LightGBM. Can we have the same for the latest release as well?

[2020-11-16 14:47] StrikerRUS commented on #3569
@galalH Hi! Thanks a lot for using LightGBM and sharing your preferable way of installation with us!

We are working on this: https://github.com/microsoft/LightGBM/pull/3484#issuecomment-727712867.

[2020-11-16 15:55] tomzx opened #3570 "Check failed: max_cnt_per_block >= min_cnt_per_block"
## How you are using LightGBM?
LightGBM component: Python package

## Environment info

Operating System: Ubuntu 16.04 (docker container)

CPU/GPU model: N/A

C++ compiler version: N/A

CMake version: N/A

Java version: N/A

Python version: 3.8

R version: N/A

Other: N/A

LightGBM version or commit hash: 3.1.0

## Error message and / or logs

The logs below are from pytest we run regularly on our

[2020-11-16 16:00] jameslamb commented on #3569
Like @StrikerRUS mentioned, we're trying right now to actually get this release onto CRAN so you can just `install.packages("lightgbm")`.

But I can also add the CRAN artifact to the release manually. It's something that has to be done manually and the 3.1.0 release was only created last night (Central Standard Time, where I am).

I've just added it to https://github.com/microsoft/LightGBM/release

[2020-11-16 16:00] #3569 closed

[2020-11-16 19:05] maksymiuks opened #3571 "How exactly LightGBM predictions are obtained?"
Hi

In the beginning, I'd like to appreciate your work covering that package. I consider it a great tool. That's why I'm working on a dedicated R interface for tree ensemble models that allows calculating shap values fast using C++ code via Rcpp. LightGBM package is one in the scope of my interest. But for that, I need the information on how exactly the committee of trees is aggregated. From my in

[2020-11-17 00:08] guolinke commented on #3570
cc @shiyu1994

[2020-11-17 07:46] tianyi-qi-zefr opened #3576 "cross entropy loss is not equivalent to binary log loss"
## How you are using LightGBM?

LightGBM component:

## Environment info

Operating System: Linux

CPU/GPU model: CPU

C++ compiler version:

CMake version:

Python version: 3.6.10
LightGBM version: 2.3.0

Other:

LightGBM version or commit hash:

## Error message and / or logs

binary log loss is not equivalent to weighted cross entropy loss.
problem description:
compressing training instances by

[2020-11-17 09:22] guolinke commented on #3576
you can try `min_data=1', and set `min_weight` instead.

[2020-11-17 12:01] cyfdecyf opened #3577 "Can saved binary file be used if max_bin changes?"
I'm modifying the source code to add a new task "save_binary" to prepare data before running parameter tuning. The python package's `Dataset.save_binary` uses too much memory, thus I'd rather do it using cli version with `two_round=true` and `force_col_wise=true`.

I see [`max_bin`](https://github.com/microsoft/LightGBM/blob/0b5e60dd10338daa821bbb38cc022df8c0bc857e/src/io/dataset.cpp#L944) and [`B

[2020-11-17 18:03] tianyi-qi-zefr commented on #3576
by setting `min_data=1`, and `min_weight=.01`, both y3 and y4 predict 0.33333333 for every instance, they are same but they cause more problems now.

[2020-11-17 20:35] rebidaldal commented on #3372
Hi Guolin,

Today as I was trying to set up the docker image I noticed that as-of version 3.1.0 and `param["deterministic"] = True` the instability issue looks solved.

![fix1](https://user-images.githubusercontent.com/31393524/99444109-ced07580-292c-11eb-8418-99bc6514c12a.png)

After 100 runs the results do not differ at all :D
Also as far as I can see with this rudimentary benchmark, the perform

[2020-11-18 03:10] guolinke commented on #3576
@tianyi-qi-zefr you can use the larger min_weight, like 5 or 10.
Anyway, the compressed input cannot produce the exact same result, as aforementioned.

[2020-11-18 03:14] guolinke commented on #3372
@rebidaldal good news, thank you very much! I will take a look for boost_from_average

[2020-11-18 03:30] guolinke commented on #3372
@rebidaldal I think #3578 should fix the boost_from_average problem.

[2020-11-18 04:34] tianyi-qi-zefr commented on #3576
tried min_weight=5 and 10, both y3 and y4 still got 0.33333333 for all instances. Is there any way to make them y3 close to y4? I know it sounds silly but the distribution shift is actually a big deal to us, thank you very much!

[2020-11-18 08:03] guolinke commented on #3576
@tianyi-qi-zefr can you create a minimal reproduce example, for me to debug?

[2020-11-18 19:38] rebidaldal commented on #3372
I just the new release with real-life data (approx. 85GBs of tabular data in feather format) today. Using 5 identical machines with 48 cores (single socket) and with the same image file, I was able to replicate the results 5 times.

![realdata](https://user-images.githubusercontent.com/31393524/99578351-c3914e80-29ed-11eb-9dee-bb1d02cef4c6.jpg)

From this mini experiment I see that same data + sam

[2020-11-19 02:02] tianyi-qi-zefr commented on #3576
@guolinke sorry for the confusion, I re-organized my code a little bit.

What I am trying to do is replicate binary log loss behavior in cross entropy loss for compressed data. Mathematically their loss function should be equivalent. Check out detailed example in step 1.
Gradient and hessian of instances with compression and without compression are different, but sum of gradient and hessian at eac

[2020-11-19 02:32] guolinke commented on #3576
@tianyi-qi-zefr
Thank you, I will check it

[2020-11-19 02:41] ivinogra opened #3580 "unexpected results for predicting on validation sets in python"
If I understand correctly, Lightgbm makes it difficult to predict on a validation dataset (without access to raw say numpy data). There are functions `Booster.{eval,eval_train,eval_valid}`, but they are not correctly documented and are not user-friendly.

incorrect doc: By default, `Booster.valid_sets` will be cleared at the end of training making it impossible to predict on training or validation

[2020-11-21 04:36] guolinke commented on #3580
These interfaces are for the LightGBM itself to use, not for exposing. There are some dependencies, like `__inner_predict_buffer` need to set and reset, and not rival to use them directly.

If you really when you use them,  the feval function is the best solution.

[2020-11-21 04:38] guolinke commented on #3577
The max_bin will be fixed after save_binary, and you cannot update it.

[2020-11-21 04:47] guolinke commented on #3571
except for mutli-class tasks, the prediction is the sum of prediction of each tree.
For some tasks, like binary classification, there could be a transformation after sum, like sigmoid.
For multi-class, you need to sum the prediction by class first (trees are organized as tree[i * K + j], where i is iteration, j is class-id, and K is the number of class), and use softmax to get the probabilities fo

[2020-11-21 05:56] guolinke commented on #3576
@tianyi-qi-zefr you can remove `reg_lambda` and `reg_alpha` to make them close.

[2020-11-21 13:15] tonyk7440 opened #3583 "[R-package] Error during basic_walkthrough.R example script"
## How you are using LightGBM?

LightGBM component: R package

## Environment info

Operating System: Windows 10 Pro 1909

R version: 4.0.2

LightGBM version or commit hash: 3.1.0 via CRAN

## Error message and / or logs

While stepping through the first example [basic_walkthrough.R](https://github.com/microsoft/LightGBM/blob/master/R-package/demo/basic_walkthrough.R) I encountered an error on lin

[2020-11-21 15:06] david26694 opened #3584 "LGBMRegressor doesn't learn with custom objective and metric"
I'm trying to use a custom metric and objective for lightgbm. I'm trying to replicate the mean absolute error but the error doesn't seem to change. The custom metric and objective for MAE are defined in the example.

## How you are using LightGBM?

LightGBM component: Python package.

## Environment info

Operating System: macOS Catalina Version 10.15.2 (19C57)

CPU/GPU model: 1,4 GHz Quad-Core In

[2020-11-21 16:05] StrikerRUS commented on #3584
@david26694 Please refer to https://github.com/microsoft/LightGBM/issues/2128#issuecomment-492053052 and https://stackoverflow.com/a/58548572.

[2020-11-21 16:05] #3584 closed

[2020-11-21 23:18] jameslamb opened #3585 "[R-package] tests fail on 32-bit Windows, R-oldrel"
Carried over from https://github.com/microsoft/LightGBM/pull/3484#issuecomment-731590088.

`{lightgbm}` 3.1.0 was recently submitted to CRAN. It passed checks for many combinations of compiler, operating system, and R version, but is failing on CRAN's `r-oldrel-windows-ix86+x86_64` check. The details of this check can be found here: https://cran.r-project.org/web/checks/check_flavors.html#r-oldrel

[2020-11-21 23:21] jameslamb commented on #3585
It's interesting that these tests failed on CRAN's R 3.6 tests on Windows ([`r-oldrel-windows-ix86+x86_64`](https://www.r-project.org/nosvn/R.check/r-oldrel-windows-ix86+x86_64/lightgbm-00check.html)), but not R 4.0 ([`/r-release-windows-ix86+x86_64`](https://www.r-project.org/nosvn/R.check/r-release-windows-ix86+x86_64/lightgbm-00check.html))

[2020-11-21 23:50] jameslamb commented on #3585
Ok good news: I'm at least able to replicate what we're seeing on CRAN with R Hub.

[code]

✔️ `windows-x86_64-release`

artifacts (expires in 24 hours): https://artifacts.r-hub.io/lightgbm_3.1.0.1.tar.gz-6dc52587f27e479bb96bf2401df7f0d9/

<details><summary>R CMD check logs</summary>

[code]

</details>

✔️ `windows-x86_64-devel`

artifacts (expires in 24 hours): https://artifacts.r-hub.io/lightgb

[2020-11-21 23:57] jameslamb commented on #3585
@StrikerRUS let's please talk on this issue.

From https://github.com/microsoft/LightGBM/pull/3484#issuecomment-731654899

Running `R CMD check` on Windows is supposed to check with both 64-bit and 32-bit R. Look in the logs on CRAN's `r-release-windows-ix86+x86_64` job, for example.

https://www.r-project.org/nosvn/R.check/r-release-windows-ix86+x86_64/lightgbm-00check.html

running examples for

[2020-11-22 00:59] tianyi-qi-zefr commented on #3576
With both `reg_lambda` and `reg_alpha` set to 0, they are slightly closer to each other now. I think mathematically these regularization terms will affect loss function and therefore optimal residual can be different. Thank you very much!

[2020-11-22 01:28] StrikerRUS commented on #3585
I mean, I don't see anything similar to 32-bit checks in our `r-package (windows-latest, MINGW, R 4, cran)`  CI job. Am I missing something?
https://github.com/microsoft/LightGBM/runs/1435854065

Although there are no `--no-multiarch` flag for CRAN job...
https://github.com/microsoft/LightGBM/blob/1c5930bf1d9c6d779f71cf345b9ed5deab365833/.ci/test_r_package_windows.ps1#L149

[2020-11-22 01:37] #3567 closed

[2020-11-22 01:40] jameslamb commented on #3585
We shouldn't need to add anything to `R CMD check` on Windows that says "please run the 32-bit tests".

Just omitting the `--no-multiarch` flag is enough.

From ["Writing R Extensions"](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Checking-packages)

I think I see the issue though!

https://github.com/microsoft/LightGBM/blob/master/.ci/test_r_package_windows.ps1#L9

We probably nee

[2020-11-22 03:25] ankane opened #3589 "Model saved on Mac errors when loading on Windows"
Hi, thanks for this great library! I'm running into an issue where a model saved on Mac loads on Mac and Linux but not Windows (details below). This seems similar to #3137.

## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Mac (10.15) and Windows (Server 2019)
Python version: 3.9.0
LightGBM version or commit hash: 3.1.0

## Error message an

[2020-11-22 05:37] guolinke commented on #3589
did you check the end_of_line enocoding of the model file?
It should be always `\n` in all platforms. If not, it may is due to the file is re-saved manually or by some program.
For example, you can use github/git to push and pull model files, the line encoding will be changed.

[2020-11-22 05:38] guolinke commented on #3583
@jameslamb any ideas about this? I think we had tested these demos in cran.

[2020-11-22 05:40] guolinke commented on #3557
@shiyu1994 any progress for the fix?

[2020-11-22 06:31] ankane commented on #3589
Hey @guolinke, thanks for the response! It looks like that's the cause, as GitHub Actions converts line endings by default (https://github.com/actions/checkout/issues/135). Will close this out, but it'd be nice if LightGBM could handle either format.

[2020-11-22 06:31] #3589 closed

[2020-11-22 16:53] #3453 closed

[2020-11-23 03:04] jameslamb commented on #3583
Thanks for the thorough report and for using LightGBM @tonyk7440 !

I just installed from `master` on my Mac (running  R 4.0.2) and I can reproduce the error you reported.

I'd welcome a pull request, but calling that function in the demos isn't the right fix. `lgb.train()` should just take care of this for users. I think that this call to `$construct()` needs to be moved up further in the body of

[2020-11-23 05:19] #3570 closed

[2020-11-23 05:20] #3372 closed

[2020-11-23 17:10] lowjiajin commented on #3018
Can we reopen this issue? I'm also encountering the problem where there's no way to input different `group=` values for different splits within the CV. The example doesn't actually work, because `next(gen)` is simply executed once, and all the remaining group values within the iterator are never yielded.

There are similar unanswered qns on Stackoverflow too: https://stackoverflow.com/questions/64

[2020-11-23 17:30] jameslamb opened #3591 "Is it possible to change the amount of conflict allowed for Exclusive Feature Bundling?"
[The original LightGBM paper](https://papers.nips.cc/paper/2017/file/6449f44a102fde848669bdd9eb6b76fa-Paper.pdf) mentions using an approximation of mutual exclusivity in Exclusive Feature Bundling (EFB), like this:

take nonzero values simultaneously. If our algorithm can allow a small fraction of conflicts, we can
get an even smaller number of feature bundles and further improve the computational

[2020-11-23 21:44] tonyk7440 commented on #3583
@jameslamb Ok great, I will try what you have suggested above! Hopefully will have the pull request ready to review this week

I am a little confused about your third bullet point though. I presume you want to add a test to `test_dataset.R` to make sure that a dataset can be saved then reloaded and still trained successfully(is that correct?). I'm not sure what you would like the second test to do

[2020-11-23 21:52] jameslamb commented on #3583
Thanks!

The error you hit is because when you ran `lgb.Dataset(a_file_name)`, the resulting object hasn't been constructed yet, and the `data$construct()` call in `lgb.train()` is never reached.

So the test should look like this:

[code]

[2020-11-23 21:53] jameslamb commented on #3583
Oh! I realize now that in my third bullet, I made a mistake. That was supposed to say "and then another test like that for `lgb.cv()`", sorry for the confusion!

[2020-11-24 02:59] #3557 closed

[2020-11-24 03:29] cyfdecyf commented on #3577
@guolinke Thanks for your reply.

I opened a pull request https://github.com/microsoft/LightGBM/pull/3592 to prevent binary file with non-matching parameters from being used.

[2020-11-25 01:06] ivinogra commented on #3580
Yes, I didn't fully appreciate this point. But I see now that the ways things are setup this is mostly for callbacks.

Not sure I understand your suggestion @guolinke Actual predictions are superior to `feval`: i can plot them, I can share them with another person, I can decide on a suitable metric later, etc. Currently they are released by default without any mention in the documentation, and the

[2020-11-25 02:43] hanzigs commented on #3559
Hi @jameslamb
I can understand this conversion "num_leaves = 2** max_depth" is not a good practice,
May i know for MaxDepth = [2,3,4,5,6,7,8,9,10]
What can be set for num_leaves? or can we leave as default=31
Thanks

[2020-11-25 03:31] jameslamb commented on #3559
Those hyperparameters (`num_leaves`, `max_depth`) need to be tuned, and good values will depend on your dataset.

When you think about which types of values to search, remember that LightGBM grows trees  leaf-wise, not level-wise:  https://lightgbm.readthedocs.io/en/latest/Features.html#leaf-wise-best-first-tree-growth.

You can use the combination of `min_data_in_leaf`, `max_depth`, and `num_leav

[2020-11-25 03:31] #3559 closed

[2020-11-25 05:12] jameslamb commented on #3519
I think that we need to start making progress on this, since Travis-ci.org will be completely shut off 5 weeks from now.

@guolinke the next two things we need to do require administrator access to the repo, so I think that to get it done either you need to do it or @StrikerRUS and I need to be granted that access (for a short time)

* make Travis checks optional on pull requesttts
* move to `trav

[2020-11-25 19:44] e-baumer opened #3595 "[Question] For what iteration is the evaluation metric returned when using early stopping in Sklearn's GridSearchCV or RandomizedSearchCV"
Thank you for developing and continuing to support a great tool.

This question is related to using early stopping when hyper-parameter tuning a lightGBM model along with Sklearn's GridSearchCV and RandomizedSearchCV.  GridSearchCV and RandomizedSearchCV rank the parameters based on a scoring metric. If one uses early stopping (as shown in the example below), is the model from the last iteration o

[2020-11-25 21:45] jameslamb opened #3596 "[RFC] Replace "parallel learning" in docs with "distributed learning"?"
LightGBM comes with the ability to use multiple machines for training. This can be done with the CLI, or with integrations like Spark, Kubeflow Fairing, and Dask (#3515 ).

Today, the docs refer to training with multiple machines as "parallel learning".

![image](https://user-images.githubusercontent.com/7608904/100284019-20cc5900-2f34-11eb-8f94-a14e756ebd3d.png)

I think that this is not quite pr

[2020-11-25 23:44] StrikerRUS commented on #3596
I'm +1, BUT with keeping old links alive.

[2020-11-25 23:51] #3404 closed

[2020-11-26 03:07] guolinke commented on #3596
agree with @StrikerRUS

[2020-11-26 03:17] jameslamb commented on #3596
ok thanks! I'll prepare a PR.

I also agree on preserving the prior links

[2020-11-26 03:17] guolinke commented on #3519
@jameslamb no problem!

[2020-11-26 03:29] guolinke commented on #3519
it needs the approval from microsft, i submitted the request.

![image](https://user-images.githubusercontent.com/16040950/100304856-a30f5880-2fda-11eb-9e41-384ab352eb92.png)

[2020-11-26 03:41] jameslamb commented on #3519
ok great, thank you very much!

[2020-11-26 04:01] Dinxin opened #3599 "Confusion: What is the exact meaning of "lightgbm" in "parallel learning" example?"
The folder did not contain the file named "lightgbm". I would like to run the code in python.

[2020-11-26 04:11] guolinke commented on #3599
did you mean `./lightgbm`? it is the execute file in Linux.
The example for CLI version. For python with parallel learning, you can refer to dask-lightgbm.

[2020-11-26 04:11] #3599 closed

[2020-11-26 04:13] jameslamb commented on #3599
Hi @Dinxin

`lightgbm` in the examples in https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html refers to the LightGBM CLI.

Are you looking at that guide because you need to do distributed (multi-machine) training? If you want to do multi-machine LightGBM training, you can try [`dask-lightgbm`](https://github.com/dask/dask-lightgbm).

Also keep an eye on #3515 and https://github.

[2020-11-26 23:45] davidmosca opened #3601 "Normalising LGBMRanker Scores"
LGBMRanker (trained with objective function lambdarank and metric ndcg) returns unbounded scores. Is there a way to normalise these scores (e.g. between 0 and 1) so that they are comparable across queries? Thanks.

[2020-11-27 02:12] guolinke commented on #3601
you can use sigmoid, as used in training. However, as the training objective only considers the docs in the same query. I think the score across queries still cannot be comparable.

[2020-11-27 12:39] aldanor opened #3603 "Important: reproducible segfault from version 3.0.0 onwards (both 3.0.0 and 3.1.0 affected)"
Environment setup:
- linux-64
- numpy=1.18
- lightgbm 3.0.0 or 3.1.0 (crashes in both cases), conda-forge version or built manually with clang/iomp5 (crashes in both cases)

(Should lightgbm run this kind of testing on CI to catch these sort of errors as early as possible?)

<details>
<summary>Test script (click to expand)</summary>

[code]
</details>

On lightgbm 2.3.1, the script finishes succes

[2020-11-27 13:00] aldanor commented on #3603
If you run this through gdb, you get this: so, a double free in Dataset?

[code]

[2020-11-27 14:04] zenggyu commented on #3390
Hi, @jameslamb , I am working on `lgb.model.dt.tree.R`.

[2020-11-27 14:15] #3427 closed

[2020-11-27 15:39] guolinke commented on #3603
I guess bin_construct_sample_cnt=1 is the root cause. We alreay add warnings about this.

[2020-11-27 15:41] guolinke commented on #3603
Refer https://github.com/microsoft/LightGBM/pull/3521

[2020-11-27 15:51] aldanor commented on #3603
I'll try rerunning the example and report back. What's the minimum sensible value, something like 257 so it never chooses int8? That's not clear. Wonder if it should just throw a preliminary exception (saying 'this has to be > ...') instead of a segfault?

[2020-11-27 15:58] aldanor commented on #3603
I've updated the script to use `[10_000, 200_000]` for `bin_construct_sample_cnt`. It passed a hundred cases and then fails the same way on these parameters (note that `bin_construct_sample_cnt = 200_000` here):

[code]

[2020-11-27 16:47] jameslamb commented on #3390
Thanks! Now that Hacktoberfest is over we'd like to finish this task, so feel free to take several files if you'd like.

[2020-11-27 17:42] mfrasco6 commented on #3390
Hi, Mr. @jameslamb, I am working on `utils.R`.

[2020-11-27 18:08] aldanor commented on #3603
@guolinke Any thoughts on the last case? (is that another implicit consequence of histogram binning changes, or something else?)

[2020-11-28 01:19] guolinke commented on #3603
@aldanor we remove the `count` histogram, and use `hessian` to estimate `count`.
Therefore, for the non-const hessian objective (like `binary` you use), with very small `num_data_per_leaf` (like 1 you used, and min_sum_hessian_in_leaf=0), the count could be estimated incorrectly, and cause the check fail

[2020-11-28 02:32] aldanor commented on #3603
Thanks. So does that mean `num_data_per_leaf` should be avoided now in general? (I'll try rerunning this later to see if it works)

[2020-11-28 19:46] danbricedatascience opened #3606 "Support for Apple Silicon"
When does LightGBM is (roughly) expected to support Apple Silicon ?

[2020-11-29 01:21] guolinke commented on #3603
@aldanor avoid to set it `num_data_per_leaf ` to small values (e.g. smaller than 10), or avoid set min_sum_hessian_in_leaf to zero.

[2020-11-29 08:03] zenggyu commented on #3390
Since Hacktoberfest is over, I want to claim all of the rest of files.

[2020-11-29 08:09] jameslamb commented on #3390
they're yours, thanks! Please bunch the contributions into one or two pull requests.

[2020-11-29 13:48] michael135 opened #3608 "[LightGBM] [Warning] Met 'abs(label) < 1', will convert them to '1' in MAPE objective and metric"
I'm doing Regeression with MAPE (Mean Absolute Percentage Error) objective and eva_metric.
What is the meaning, of following warning?
[code]

[2020-11-29 14:30] StrikerRUS commented on #3606
What do you mean by "support"?

I believe LightGBM can be compiled on Apple Silicon. If compilation fails, could you kindly provide any logs from your machine?

[2020-11-29 14:42] danbricedatascience commented on #3606
Hi, by support I mean not only compiling it but enable using every ML capabilities, so the 8 cores GPU, the two neural accelerators and the 16 cores Neural Engine for model training, so not using Cuda but a totally different approach. [Tensorflow already has an alpha version available](https://blog.tensorflow.org/2020/11/accelerating-tensorflow-performance-on-mac.html) for testing but seems far to

[2020-11-29 15:00] StrikerRUS commented on #3469
One another popular error report about conflict installations:

[code]

[2020-11-29 15:23] StrikerRUS commented on #3606
Thanks a lot for your fast response! To be honest, I don't think that this kind of support (Mac-optimized version actually) will be implemented in the near future. At least, not by our small maintaining team without any help from the outside.

Our current GPU implementation is far from perfect in terms of GPU utilization https://github.com/microsoft/LightGBM/issues/768#issuecomment-320573774 and n

[2020-11-29 15:29] #2441 closed

[2020-11-29 15:33] StrikerRUS commented on #3606
Linking https://github.com/dmlc/xgboost/issues/6408 here.

[2020-11-29 16:49] danbricedatascience commented on #3606
@StrikerRUS Thanks for your answer. Anyway if it can at least work in standard CPU mode it could already be great. I will try to compile when I will have time and let you know.

[2020-11-29 19:45] georgiazoller commented on #3390
I am running a multivariate regression using my own data from my qualtrics survey. In the survey I did a treatment (author vs no author), with outcome being the dependent, and age and party being the independent variables. This is my code:
model.1 <- lm(Outcome ~ NoAuthor + PARTY + AGE, data=Party_Lines)
summary (model.1)

I then get this error:

Error in lm.fit(x, y, offset = offset, singular.ok

[2020-11-29 20:03] jameslamb commented on #3390
@georgiazoller that does not look related to LigtGBM. If it is, please open a new issue instead of commenting on this one.

[2020-11-29 20:35] jameslamb commented on #3469
@StrikerRUS just confirming...was that new error also only seen on the MINGW + R 3.6 + CMake build?

[2020-11-30 02:34] guolinke commented on #3606
@danbricedatascience I think the "ML engine" is better for neural networks, not for decision trees.

[2020-11-30 08:15] danbricedatascience commented on #3606
@guolinke yes maybe it's a pure linear algebra unit, like a TPU, but this is the same for GPUs, it's pure SIMD units mostly used for vector computing in ML. I don't know how LightGBM or the others Gradient Boosting are using GPUs but they are, so at least if it cannot use the M1 Neural Engine, it can maybe use its GPU  ? This 2.2 TFlops unit that has nothing to do with Intel integrated GPUs, check

[2020-11-30 08:29] YanzeZHANG opened #3613 "centos Install lightgbm-gpu ERROR"
I need help.
Cmake run error.
I google it all day but can not fix it.
### ErrorMessage
$ cmake -DUSE_GPU=1  -DOpenCL_LIBRARY=/usr/local/cuda/lib64/libOpenCL.so -DOpenCL_INCLUDE_DIR=/usr/local/cuda/include/ ..
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- work

[2020-11-30 09:28] gregor-s-j opened #3614 "[Bug] Params not being set when wrapping LGBMRegressor in custom BaseEstimator"
[Python API]

**Setting parameters on a wrapped `LGBMRegressor` has no effect.**

I'm wrapping `LGBMRegressor` with a custom class as below (I need the flexibility to stack estimators trained on different targets in an `sklearn` pipeline).

[code]

**Performing a grid search as below will produce identical results, using the default params**. However, according to `get_params()` the params have be

[2020-11-30 11:01] aldanor commented on #3603
@guolinke Thanks, that seems to have fixed it (although it would be nice if it was validated prior to running fits, especially the segfault with the low bin-construct hist sample count which could be probably prevented by requiring some minimum reasonable value for that parameter). I close this off for now.

[2020-11-30 11:01] #3603 closed

[2020-11-30 12:05] StrikerRUS commented on #3469
I think so... Sorry, I didn't pay much attention, so maybe it was R4 + CMake, not sure.

[2020-11-30 12:08] StrikerRUS commented on #3613
Hi @YanzeZHANG !

This looks like internal CMake issue. Could you please try updating CMake version?

[2020-11-30 17:31] jameslamb commented on #3608
Thanks for using LightGBM @michael135 !

There are values in your target variable which have an absolute value < 1. MAPE is unstable under such conditions, so LightGBM converts those values to 1.0 before evaluation. This warning is telling you that that's happening.

The code where this rounding happens: https://github.com/microsoft/LightGBM/blob/3e8e24b374fbfe6522e39862a79c81b2bea8b259/src/metric

[2020-11-30 20:45] #629 closed

[2020-11-30 20:46] jameslamb commented on #629
`{lightgbm}` is now officially available on CRAN, so I'm closing this issue. 😀

https://cran.r-project.org/web/packages/lightgbm/index.html

[2020-12-01 00:39] jameslamb opened #3616 "[ci] [R-package] R CI jobs on mac, linux do not always fail if unit tests fail"
Look at this build from #3598 : https://github.com/microsoft/LightGBM/pull/3598/checks?check_run_id=1477128773. It was marked successful in GitHub Actions, even though a unit test is failing.

![image](https://user-images.githubusercontent.com/7608904/100681705-f0bcf580-3339-11eb-87ca-4609b2c7e0e5.png)

Similar jobs on Mac have the same test error, but are marked as failures by GitHub Actions. For

[2020-12-01 02:01] #3583 closed

[2020-12-01 09:07] YanzeZHANG opened #3619 "why running GPU version but the GPU-Util is 0%"
I am running the GPU version on Centos, but it seems that GPU version does not run any faster.

I set this in train.conf：`device_type=gpu`

**LightGBM OUTPUT Message**
[code]
It says lightGBM is running using GPU , but I do `nvidia-smi` and get infomation like this
[code]
The GPU-Util is 0%, does it mean the GPU is not working? How to solve this problem?

[2020-12-01 13:31] StrikerRUS commented on #3619
@YanzeZHANG How do you run `nvidia-smi`? Is it possible that training has been actually finished by the time you execute `nvidia-smi` command?

Could you try running
[code]
or
[code]
as suggested in https://stackoverflow.com/questions/45544603/tensorflow-how-do-you-monitor-gpu-performance-during-model-training-in-real-time?

[2020-12-01 16:07] #3390 closed

[2020-12-01 17:34] michael135 commented on #3608
**Thank you @jameslamb, for detailed explanation.**

Why MAPE is unstable if `MAPE < 1` ?
(Is there any reference to read more about it?)

P.S.
I'm familiear with an "MAPE stability issue", when $actual = 0$ or close to zero.

[2020-12-01 17:57] jameslamb commented on #3608
It's not that it is unstable when MAPE < 1. This metric is unstable when the actual value of the target is less than 1 (in absolute value).

In the table I posted above, look at the MAPE values for the case where the target has values like 0.1, and compare those to the MAP for target values like 1.1 and 2.1.

Does that clarify it? If not, could you reword your question?

[2020-12-01 21:11] michael135 commented on #3608
I think now it's more clear to me.

So it will change this

instead |0.1 - 0.2| / 0.1 = 1.0

we will get:  |0.1 - 0.2| / **1** = 1.0

[2020-12-01 22:13] jameslamb commented on #3608
yep, that's right! So it's not perfect, but it's at least better.

You can see that the larger errors still result in a larger penalty:

|0.1 - 0.2| / 1 = 0.1
|0.1 - 0.3| / 1 = 0.2
|0.1 - 0.4| / 1 = 0.3

but with this formulation, the effect of having a target value close to 0 is softened a lot, so it's less likely to distort the MAPE. Since the MAPE is a **mean** over all absolute percentage erro

[2020-12-01 23:06] #3576 closed

[2020-12-02 03:38] guolinke commented on #3608
@michael135 MAPE is not a perfect metric, as it could divide zero when label is zero.
Therefore, we need a pre-defined threshold to avoid dividing zero. We simply use 1, as we don't want to emphasize the data with small labels have large errors, which conflicts with MAPE's design.

For example, when label is `1e-5` and predict is `1`, the error will close to 1e5, which is very large.

[2020-12-02 08:56] michael135 commented on #3608
Thank you @jameslamb  and @guolinke for the clarifications!

I **absolutely agree** for case when **label** = 1e-5.

But when **label** = 0.1  (or even 0.01). I'm bit confused.
**Is there some easy option to define (provide) a threshold when `label` will be rounded up to 1.0?**

Regarding the MAPE, I know, that it's not perfect, but for current problem, which I'm trying to solve it's kind of a lea

[2020-12-02 09:46] guolinke commented on #3608
@michael135 you can simply multiply your labels by 10 (for 0.1), or 100 (for 0.01).

[2020-12-02 11:03] #3482 closed

[2020-12-02 11:08] StrikerRUS opened #3621 "test_monotone_constraints often fails on MPI builds"
I've seen at least 4 times `test_monotone_constraints` test failed on **MPI builds** with the error
[code]

<details>

<summary><b>Full logs:</b></summary>

[code]

</details>

[2020-12-02 11:11] #3334 closed

[2020-12-02 11:21] StrikerRUS commented on #3346
I think original issue is solved by consistently using only one parameter name instead of multiple aliases. And warning messages are quite clear in case of trying to use multiple names of the same parameter. So, I don't think we should disable aliases completely (https://github.com/microsoft/LightGBM/issues/3346#issuecomment-687688499).

[2020-12-02 11:21] #3346 closed

[2020-12-02 12:11] michael135 commented on #3608
@guolinke , what is the difference, if I multiply or "lightgbm multiply" ?

[2020-12-03 02:26] guolinke commented on #3608
@michael135 I was saying a workaround for your question, "Is there some easy option to define (provide) a threshold when label will be rounded up to 1.0?"
Theoretically, multiply all labels by a constant, will not change the value of MAPE metric. So it is safe. And with large label range, the threshold is reduced accordingly.

[2020-12-03 07:26] xuyufan936831611 opened #3622 "Got features num diff error between training data and test data, when I use libsvm data to train and test"
## How you are using LightGBM?

## Environment info
Operating System:Linux version 4.14.81.bm.20-amd64
CPU/GPU model:CPU
gcc version 6.3.0
Python version:2.7

LightGBM version or commit hash:2.3.1

## Error message and / or logs

[LightGBM] [Fatal] The number of features in data (875) is not the same as it was in training data (1914).
Traceback (most recent call last):
  File "src/predict.py", lin

[2020-12-03 07:30] xuyufan936831611 commented on #3622
When I use data in libsvm format to predict, I always got the feature num diff error. Even when I use the train data to predict, I got the error also, so what should I do to fix it?

[2020-12-03 10:18] w23html opened #3623 "[Bug] Feature length mismatch when use string as data source"
## How you are using LightGBM?

LightGBM component: **Python package**

## Environment info

Python version: **3.6.10**

LightGBM version or commit hash: **3.1.0**

## Error message and / or logs

[code]

## Reproducible example(s)

## Steps to reproduce

**Execute the following:**
[code]

[2020-12-03 10:19] michael135 commented on #3608
@guolinke.
Now. I've got it.
This workaround is fine (to multiply, and then to divide back after prediction).

Thank you again @jameslamb  and @guolinke.

[2020-12-03 10:19] #3608 closed

[2020-12-03 10:58] StrikerRUS commented on #3621
@CharlesAuguste Could you please take a look?

[2020-12-03 13:10] guolinke commented on #3623
The first column should be label when using file as input. So the number of features is 2.

[2020-12-03 14:25] shiyu1994 commented on #3622
@xuyufan936831611  Does the error still exists in the latest version?

[2020-12-03 16:32] #3516 closed

[2020-12-03 18:38] w23html commented on #3623
Thanks, so even if we specify the `label` argument we still need to put the label as the first column to the input file? In this case which one take the precedence in use?

[2020-12-03 22:12] jameslamb commented on #3608
Glad we could help! If you don't mind, could you please accept my original answer on your Stack Overflow post, so it will be marked as answered?

https://stackoverflow.com/questions/65075804/lightgbm-warning-met-abslabel-1

[2020-12-03 22:13] CharlesAuguste commented on #3621
I am sorry, maybe there is a bug that happens only rarely, I will try to take a look this week-end and understand what happens. Thanks for letting me know

[2020-12-04 00:39] guolinke commented on #3623
@w23html yes, when loading from file, there should be a label column (you can set it by `label_idx`, by default it is first column).
And the `label` in lgb.Dataset constructor will take precedence if you also set it.

[2020-12-04 00:39] guolinke commented on #3622
@xuyufan936831611 you can try 3.1.0 or the latest master branch.

[2020-12-04 02:57] YanzeZHANG opened #3624 "bin size 257 cannot run on GPU"
I run LightGBM-GPU on centos and get this error. I set `device_type=gpu,max_bin =63`,and I didn't set any categorical feature in my `train.conf`. Why does this happen?
here is my `train.conf `.
### train.conf
[code]

[2020-12-04 03:01] YanzeZHANG commented on #3619
[code]
I got this，does it mean only a few features are using GPU ?

[2020-12-04 03:10] YanzeZHANG commented on #3613
It helps! I updatedCMake to 3.14 and  installed successfully

[2020-12-04 03:54] w23html commented on #3623
Thanks!

[2020-12-04 03:54] #3623 closed

[2020-12-04 04:12] YanzeZHANG commented on #3622
maybe you can try setting  `predict_disable_shape_check=ture` ,this may help

[2020-12-04 11:14] david26694 opened #3625 "Categorical features in sklearn API warning"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: macOS Catalina Version 10.15.2 (19C57)

CPU/GPU model: 1,4 GHz Quad-Core Intel Core i5

C++ compiler version: Apple clang version 11.0.3 (clang-1103.0.32.59)

Python version: 3.7

## Error message and / or logs

I use the `categorical_feature` option in `LGBMRegressor` and I get the following

[2020-12-04 12:10] StrikerRUS commented on #3621
Thanks a lot @CharlesAuguste !

Yeah, you are absolutely right! This error is quite rarely and happens only with MPI version. But I believe it still worth to take a brief look at least.

https://github.com/microsoft/LightGBM/blob/b0122ab7a4fc628a71961390686ffa1d341ad8be/.ci/setup.sh#L24
https://github.com/microsoft/LightGBM/blob/b0122ab7a4fc628a71961390686ffa1d341ad8be/.ci/test.sh#L165

[2020-12-04 12:15] StrikerRUS commented on #3613
Glad that updating CMake version helped!

[2020-12-04 12:15] #3613 closed

[2020-12-04 12:21] StrikerRUS commented on #3619
Yes, LightGBM utilizes GPU only for some but not all sub-tasks during the boosting process: https://github.com/microsoft/LightGBM/issues/768#issuecomment-320573774.

[2020-12-04 12:29] StrikerRUS commented on #3625
Yes, it is expected. This warning was originally introduced to make users sure that their categorical features were not lost.

Please refer to #792.

And we already have a request to refactor group of warnings related to cat. features: #3379. Feel free to comment there and share your opinion on how these warnings can be improved.

[2020-12-04 12:29] #3625 closed

[2020-12-04 14:31] sbushmanov opened #3626 "While predicting the model doesn't check if data dtypes have changed"
## Summary

Suppose we trained a model with a pandas df, some of the features defined as categorical. Then, if we feed a numpy array, the model silently accepts an array, but produces wrong (?) results. It would be nice to have:

1. Check if inputs dtypes are the same as at the train  time
2. Error message if input types have changed.

Train demo:

[code]
Predict on df:

[code]
Predict on numpy ar

[2020-12-04 14:58] guolinke commented on #3626
For categorical feature in pandas.DF, there is mapping (from categories to integer) saved in model. So if you convert it to numpy without that mapping, it produces the wrong results.

[2020-12-04 15:33] sbushmanov commented on #3626
Thanks for answering. But this is exactly why I'm suggesting this as a feature, not as a bug, because feeding numpy array accepted, but silently produces wrong results.

[2020-12-05 00:44] guolinke commented on #3626
@sbushmanov I think it is a trade-off. If we only accept the same data type in prediction, using a trained model will be limited.
However, due to the mapping in pandas categorical features, I think we should at least check for that, avoid that mapping being ignored.

[2020-12-05 00:45] guolinke commented on #3624
did you use the code from the latest branch?

[2020-12-05 05:10] sbushmanov commented on #3626
I think issuing at least a Warning is warranted

[2020-12-05 05:50] StrikerRUS commented on #3577
Fixed via #3592.

[2020-12-05 05:50] #3577 closed

[2020-12-05 07:11] jameslamb commented on #3613
@YanzeZHANG since you cross-posted this to Stack Overflow, can you please accept the answer "update CMake" there so that others who find it from search engines know that resolves it? https://stackoverflow.com/a/65154648/3986677

[2020-12-05 15:42] wenmin-wu commented on #2302
read from multiple zipped libsvm format text files

[2020-12-05 21:24] jameslamb opened #3629 "[R-package] R CMD CHECK note 'partial argument match'"
Moving this discussion from https://github.com/microsoft/LightGBM/pull/3611#discussion_r536890212.

`R CMD CHECK` on the R package currently produces the following note:

partial argument match of 'data' to 'dataset'
lgb.cv : : warning in getinfo(data = data, name =
"init_score"): partial argument match of 'data' to 'dataset'
lgb.cv : : warning in getinfo(data = data, name = "weight"):

## What th

[2020-12-06 22:07] CharlesAuguste commented on #3621
@StrikerRUS I am able to reproduce the error locally, it looks like there is a bug in the current implementation of the advanced constraints (other methods look ok, and categorical variables are handled ok too I think). I will be looking into it and I will try to provide a fix asap. I am sorry about that.

[2020-12-07 06:28] #3629 closed

[2020-12-07 06:28] #3616 closed

[2020-12-07 08:18] btrotta commented on #3571
I'm not sure if I'm understanding your question correctly, but I think when you talk about the "intercept" you mean something like the baseline constant prediction? E.g. for a binary prediction problem where the training labels are 90% ones and 10% zeros, we would start with a constant prediction of 0.9 and then add trees to improve the accuracy. This is indeed how LightGBM works, and this constan

[2020-12-07 12:00] StrikerRUS commented on #3621
@CharlesAuguste You definitely shouldn't apologize! Thank you very much for working on this! Glad that you've managed to reproduce the error.

[2020-12-08 07:44] gzls90 commented on #2302
Multiple GPU support [#620 ](https://github.com/microsoft/LightGBM/issues/620)

[2020-12-08 08:04] btrotta commented on #3595
It will choose the best iteration. Sklearn calculates the accuracy score using the estimator's `predict` method, which uses the best iteration (https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMModel.html#lightgbm.LGBMModel.predict)

[2020-12-08 14:22] StrikerRUS commented on #3267
Fixed via #3405.
Thanks a lot @AlbertoEAF !

[2020-12-08 14:22] #3267 closed

[2020-12-08 21:24] memeplex opened #3634 "min_data_in_leaf not exactly honoured"
## How you are using LightGBM?

LightGBM component:  Python package

## Environment info

Operating System: MacOS 11.0.1

CPU/GPU model:2,3 GHz Dual-Core Intel Core i5 / Intel Iris Plus Graphics 640 1536 MB

Python version: 3.8.6

---

When I train a model with `min_data_in_leaf = <n>` and then check the output with `trees_to_dataframe()` filtering only leaf nodes (i.e. `df.split_feature.isna()`),

[2020-12-08 21:29] memeplex commented on #3634
EDIT: changed `>= <n>` for `< n` (obviously)

[2020-12-08 21:37] jameslamb commented on #3634
Thanks @memeplex !

I can see what you mean about how that code you linked could still allow leaf nodes with `num_data < min_data_in_leaf` for very imbalanced splits.

@guolinke could comment on whether this is a bug or we need to update the docs on that parameter to clarify that it just guarantees that *at least one* of the leaf nodes produced by a split will have `num_data >= min_data_in_leaf`.

[2020-12-09 00:16] AlbertoEAF commented on #3267
Thanks a lot for all the help @StrikerRUS @jameslamb  ;)

[2020-12-09 01:02] hanzigs opened #3635 "AttributeError: 'NoneType' object has no attribute 'copy'"
Hi
Setting params={'verbose': -1}
[code]
throws error with the gridsearch
[code]
but setting verbose=0, no error
To just hide the warning
[code]
i used params={'verbose': -1}
may i know how to hide the warning please,
Thanks

[2020-12-09 02:29] guolinke commented on #3634
We have a change since 3.0.0. For better efficiency, we remove the `count` histogram and use `hessian` to approximate `count`.
Therefore, the data count per leaf is based on the estimation

[2020-12-09 03:53] jameslamb commented on #3635
This code is not from LightGBM. Can you please provide more details? Ideally, a reproducible example using small dataset like the ones from `sklearn.datasets`.

[2020-12-09 05:44] hanzigs commented on #3635
Yes, its from the gridsearchCV module, i am in the wrong place, sorry, Thanks

[2020-12-09 05:44] #3635 closed

[2020-12-09 05:47] memeplex commented on #3634
Thanks for the explanation. The idea is that a larger hessian means more variation in gradients so a bound may prevent overfitting to highly homogeneous subsets of train? I don't think that the count issue is that important, after all it's yet another regularization heuristic, but maybe improving the wording in the documentation might avoid some confusion.

[2020-12-09 07:02] pseudotensor opened #3636 "Wrong shape of predictions"
Lightgbm 2.2.3 -> 3.1.1

Long term bug.

[code]

[newlgbm.pkl.zip](https://github.com/microsoft/LightGBM/files/5664010/newlgbm.pkl.zip)

gives

[code]

Basically, if one has objective multiclass but have only 2 label types, then lgbm messes up and gives totally wrong results (wrong shape and preds nan).  Here preds.shape[1] is 326, which is wild, just normal predictions not pred_contribs etc.

[2020-12-09 07:58] guolinke commented on #3636
@pseudotensor can this be reproduced from scratch, without pickle?

[2020-12-09 08:04] pseudotensor commented on #3636
The pickle is pretty trivial file of model and data.  I'm sure it can be reproduced from scratch, but is it not enough?

[2020-12-09 08:08] guolinke commented on #3636
@pseudotensor I think the training (how to get the model) is the root cause for this issue, not in the prediction stage.
So it would be better to have an end-to-end example.

[2020-12-09 08:35] pseudotensor commented on #3636
I don't have easy way to get full training case.  But as I mentioned, the model was set to multiclass objective but training data target only had 2 label types.

[2020-12-09 10:53] belle9217 commented on #103
the same question i encount ,but i can't find any solutions

[2020-12-09 13:17] guolinke commented on #3636
As you use `predict_proba`, which is from sklearn interface, not LightGBM native python interface. So I assume you use the `LGBMClassifier` to perform training.
however, In `LGBMClassifier`, we will first check the label, if it only has 2 label types, it will use binary loss.

https://github.com/microsoft/LightGBM/blob/44a6fb7ffa646b469fc10475b3526c61239682ac/python-package/lightgbm/sklearn.py#L80

[2020-12-09 14:19] jameslamb commented on #103
@belle9217 please open a new issue describing what you tried and what happened, amd we will help you there

[2020-12-09 14:48] jameslamb commented on #3635
no problem, thanks for using LightGBM! Come back any time.

[2020-12-09 15:31] memeplex commented on #3634
Oh, it's the sum of hessians, not average hessian. In which case it will be correlated to both size and variation. Great.

[2020-12-09 20:08] fbwyx opened #3637 "Slowdown with sparse data + bagging on versions 3+"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: macOS 10.14.6 (also see it on Ubuntu 18.04, but didn't compile the master branch there)

CPU/GPU model: x86-64/No GPU

C++ compiler version:

[code]

Java version: None

CMake version:

[code]

Python version:

[code]

R version: None

LightGBM version or commit hash: 3.0, 3.1, and `44a6fb7ff

[2020-12-10 02:09] guolinke commented on #3637
@shiyu1994 can you help to check the efficiency of bagging?

[2020-12-10 19:57] memeplex commented on #2898
Sorry for revisiting this, but this message is shown when verbosity == -1, isn't that a bug? It's certainly not fatal.

[2020-12-10 21:06] memeplex commented on #3379
When I do a grid search using the sklearn api and pass eval_set to fit, I get this warning for every element in the grid (many times!).

I'm just passing a dataframe with categorical features as the train X, never explicitly passing categorical_feature.

I don't think this behavior is desirable.

[2020-12-10 21:51] memeplex opened #3640 "Spurious warning when passing valid_sets"
When passing valid_sets (or eval_set through the sklearn API) I get a spurious warning (similar to https://github.com/microsoft/LightGBM/issues/3379). Strangely, when running inside a Jupyter notebook, the warning is only thrown when there is a change in parameters, not on every train call, as if some state is persisting across calls. The more reliable way to reproduce the problem is to restart th

[2020-12-10 21:52] memeplex commented on #3379
Indeed it's not necessary to use the sklearn API in order to reproduce the above. I've provided simple instructions in https://github.com/microsoft/LightGBM/issues/3640.

[2020-12-10 22:05] memeplex opened #3641 "Warning shown with verbosity=-1"
According to the documentation `< 0: Fatal, = 0: Error (Warning), = 1: Info, > 1: Debug` but I'm unable to get rid  of the `2^max_depth > num_leaves` warning.

## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: MacOS 11.0.1 (Big Sur)

CPU/GPU model: 2,3 GHz Dual-Core Intel Core i5 / Intel Iris Plus Graphics 640 1536 MB

Python version: 3.8.6

[2020-12-10 22:50] memeplex opened #3642 "predict/predict_proba: sample_weight doesn't accept pd.Series"
In the sklearn interface fit and predict accept pandas data structures almost anywhere, but there is at least an exception: the sample_weight parameter in predict (and predict_proba) can't recognize a pandas Series as a valid argument (OTOH, the same series can be passed to fit sample_weight, which is inconsistent).

## How you are using LightGBM?

LightGBM component: Python package

## Environmen

[2020-12-11 01:07] memeplex commented on #3641
Besides, the UserWarning mentioned in https://github.com/microsoft/LightGBM/issues/3640 and https://github.com/microsoft/LightGBM/issues/3379 is also shown when verbosity = -1. This is a python warning and as such probably works at a different level, but I believe it would be better to treat all kind of warnings in a consistent way.

[2020-12-11 01:45] memeplex commented on #3641
Some additional info:

1. It only happens the first time, I've to reset the kernel to reproduce it one more time. As in another recent report of mine, some global state seems to be persisten between invocations (probably config, since it's global).

2. Looking at the Booster class initializer the problem seems to happen here:

[code]

[2020-12-11 03:16] memeplex commented on #3641
Oh, no, I think it's much simpler! It's all in config.cpp:

[code]

[2020-12-11 04:33] jameslamb commented on #3585
these tests are passing on version 3.1.1!

https://cran.r-project.org/web/checks/check_results_lightgbm.html

![image](https://user-images.githubusercontent.com/7608904/101862345-c20ffd80-3b37-11eb-95ba-576785a833d6.png)

[2020-12-11 04:33] #3585 closed

[2020-12-11 05:23] YanzeZHANG commented on #3624
I install GPU version according to your offical document. It is supposed to be the latest version right?

[2020-12-11 09:09] Jakobhenningjensen opened #3643 "Suppress warnings with sklearn API when run from terminal"
## How you are using LightGBM?

LightGBM component:  LightgbmClassifier

## Environment info

Operating System:

CPU/GPU model: Intel i7-8550 1.8 GHz  / NA

C++ compiler version:

CMake version:

Java version:

Python version: 3.7.9

R version:

Other:

LightGBM version or commit hash: v. 3.0.0

## Error message and / or logs

[LightGBM] [Warning] Accuracy may be bad since you didn't set num_leave

[2020-12-11 12:11] StrikerRUS commented on #3642
Neither `predict()` nor `predict_proba()` methods doesn't accept `sample_weight` argument at all.
Where did you find the info about that `sample_weight` can be passed to `predict*` methods in LightGBM?

[2020-12-11 12:11] #3642 closed

[2020-12-11 12:14] StrikerRUS commented on #3642
Here are params that can be passed as additional predict arguments via `**kwargs – Other parameters for the prediction.`:

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMModel.html#lightgbm.LGBMModel.predict

https://lightgbm.readthedocs.io/en/latest/Parameters.html#predict-parameters

[2020-12-11 15:00] memeplex commented on #3642
Yeah, right, it makes no sense since only gradients and hessians are weighted so it has nothing to do during predict. I guess I just put it there by mistake and then the error message (type error, unknown type) suggested it was a type issue so I reported it without without giving it a second thought. Thanks!

[2020-12-12 13:24] StrikerRUS commented on #3519
@guolinke

Any updates?

[2020-12-12 16:39] MrRobot2211 commented on #2742
Is this still going on? we should start a new entry

[2020-12-12 19:33] MrRobot2211 opened #3645 "Categorical features not working properly on gpu"
I'm encountering an issue on 3.0.0 on GPU. I dropped my categorical columns because I was concerned that was the cause (looking at another issue on the GitHub).

But, I still get the error, even though I might hit it less frequently?

Also, I seem to hit the error quite randomly, so for instance, this set of parameters when passed to the train class created the error:

`{'n_estimators': 70, 'learn

[2020-12-13 00:35] guolinke commented on #3519
it is still in request:
![image](https://user-images.githubusercontent.com/16040950/102000051-01983e80-3d1e-11eb-97e6-7daa1523f9ab.png)

I will try to contact them for the request.

[2020-12-13 04:08] xuyxu opened #3646 "Identify the decision path length in the tree booster during the training stage"
Hi, thanks for developing this great lib ;-)

I have one problem when using LightGBM to conduct my own project.  The problem is that I want to **extract the decision path length of each sample in the tree booster**. This could be interesting because trees produced from the latter boosting iterations tend to be shallower, and it may be worth further investigating.

An alternative solution is to ext

[2020-12-13 22:21] #3432 closed

[2020-12-15 01:52] 7starsea commented on #2302
Multiple GPU support (#620)
(From my experience, the xgboost with gpu seems faster than lightgbm with gpu.)

[2020-12-15 09:34] penolove opened #3648 "metric average precision seems having wrong direction model selection"
## How you are using LightGBM?
python lightgbm 3.1.1

LightGBM component:

## Environment info

Operating System: Linux

CPU/GPU model: Intel Core i5

Python version: 3.6

LightGBM version or commit hash:

## Error message and / or logs

[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[1]     valid_0's average_precision: 0.567788
Training until validation scores don't im

[2020-12-15 09:54] penolove commented on #3648
I think the root cause is
[code]

[2020-12-15 14:10] StrikerRUS commented on #3648
Fixed via #3649.

[2020-12-15 14:10] #3648 closed

[2020-12-16 03:00] dyd912 opened #3650 "need feature selection?"
I am new to lightGBM and have been using lightGBM for prediction for several weeks. I checked feature importance after training the model. However, I am not sure whether deleting some "less importatnt" features can improve the test result or not.
I have around 150 features and tons of samples, training an optimal model is time-consuming for me. Therefore, I want to know if feature selection can im

[2020-12-16 06:08] cyfdecyf commented on #2788
I see [fast_double_parser](https://github.com/lemire/fast_double_parser) is now used in master branch and is going to test its performance improvements.

But I'm more interested in using binary file as input data format instead of text.

The drawbacks of text files:

1. Storing double as text may take more than 8 bytes (sometimes much more)
    - use more disk space and cause more I/O
    - file s

[2020-12-16 07:32] 7starsea opened #3652 "can we convert xgboost model to lightgbm model"
## Summary

Currently from my experience, the training time for xgboost with gpu is faster than that of lightgbm with gpu, however the inference time of lightgbm cpu is faster than that of xgboost cpu. Therefore, I am wondering whether we can directly convert xgboost model to lightgbm model?

## Motivation

## Description

## References

[2020-12-16 09:23] yellowca opened #3653 "Parallel doc upgrade"
I have read and pratice accroding the  [https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html](Parallel Learning Guide),
However, when using the mpi version to train a large amout of data under data parallel mode, some points are unclear
1、 Do all the workers need to contain all the data? Will the lightgbm only read part of the whole dataset automatic?
2、Is the final model file un

[2020-12-16 12:55] belle9217 commented on #103
X_train, X_test, y_train, y_test = train_test_split(boston.data, boston.target)

model = xgb.XGBRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print( r2_score(y_test, y_pred) )

when i run the code blow on my mac os,i get a mistake as this:
AttributeError: dlsym(0x7f92b69c8890, XGDMatrixSetDenseInfo): symbol not found.

when i run"print(type(boston.data))",i get "<class 'n

[2020-12-16 14:48] StrikerRUS commented on #2788
@cyfdecyf Thanks a lot for sharing your opinion! LightGBM can read/save `Dataset` into a binary format: https://lightgbm.readthedocs.io/en/latest/Parameters.html#save_binary.

In case you meant saving a LightGBM **model** file (but this issue is about reading training data), there was an attempt to use a `protobuf` as a binary serializer: #908.

[2020-12-16 15:15] StrikerRUS commented on #3652
@7starsea Thanks for the interesting idea! But I don't think that this is something that should be implemented on LightGBM side. It sounds like a good candidate for third-party library that will do converting from one tree-based model to another one.

For example, CatBoost allows to load LightGBM model for prediction via ONNX format.

  https://github.com/catboost/catboost/releases/tag/v0.16.5

ht

[2020-12-16 15:15] #3652 closed

[2020-12-17 01:43] 7starsea commented on #3652
Thanks for letting me know the ONNX format. A quick question arising in my head is that can LightGBM load ONNX formatted model?

[2020-12-17 02:59] StrikerRUS commented on #3652
Unfortunately, LightGBM cannot load ONNX format.
Linking #1074 here as related to this question.

[2020-12-17 03:15] cyfdecyf commented on #2788
@StrikerRUS I've beening using the `save_binary` parameter. But currently only for train data and haven't tried this on validation and testing data.

Suppose I've got a larget training and many testing datasets and I'm trying to try lots of parameters. (Assume fixing parameter that will change the binary file.)

In order to save data loading time, I'm considering the following step:

1. Preprocess

[2020-12-17 08:25] ch3rn0v opened #3654 "Subsequent runs of the same code results in different scores"
## How you are using LightGBM?
* Python package

## Environment info

* Operating System: Ubuntu 20.04.1 LTS
* Python version: 3.8.5
* GCC 7.3.0
* LightGBM version or commit hash: 3.1.1

## Steps to reproduce

1. In jupyter lab's notebook, prepare train and validation datasets. (They are huge and private, so can't share a reproducible example).
2. Train lgbm with `random_state`, `bagging_fraction_

[2020-12-17 14:11] StrikerRUS commented on #2788
Yep, I think so. Just maybe you can specify test datasets as [validation data](https://lightgbm.readthedocs.io/en/latest/Parameters.html#valid). I believe it can help to simplify your pipeline.

[2020-12-17 23:39] jameslamb commented on #3650
hi @dyd912 , thanks for using LightGBM!

### Short Answer

LightGBM is a tree-based, supervised algorithm so it already has feature selection built into it. Because of this, I wouldn't expect dropping features to improve performance on a test set.

### Longer Answer

You should not expect the test performance to suffer from the presence of features that have low importance. But having more feature

[2020-12-17 23:39] #3650 closed

[2020-12-18 01:13] guolinke commented on #3654
you can set `deterministic=true`. https://lightgbm.readthedocs.io/en/latest/Parameters.html#deterministic

[2020-12-18 03:40] #3653 closed

[2020-12-18 05:16] jameslamb opened #3655 "[R-package] pkgdown docs for individual functions are broken"
The R docs at https://lightgbm.readthedocs.io/en/latest/R/index.html are rendering correctly:

![image](https://user-images.githubusercontent.com/7608904/102577423-a8cdfa80-40bd-11eb-97d7-a31a86e10707.png)

as is the reference page at https://lightgbm.readthedocs.io/en/latest/R/reference/index.html

![image](https://user-images.githubusercontent.com/7608904/102577445-b1263580-40bd-11eb-8c37-bfeb95

[2020-12-18 05:52] jameslamb commented on #3655
it looks like the there are errors in the most recent RTD build (https://readthedocs.org/projects/lightgbm/builds/12567523/)

I see this warning

[code]

and then later

[code]

so we have two problems:

1. not getting the submodules needed
2. the R docs breaking don't break the RTD build

Looking into them now

[2020-12-18 13:43] yellowca opened #3657 "core when using input_model for continuous train"
I was using input_model for continuous train; And my program crash with a core;
I have locate the stack
`#0  0x00007fa5b9e48680 in ?? () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#1  0x000000000073fce0 in std::_Destroy<std::string> (__pointer=0x726168732f706f6f) at /usr/include/c++/4.9/bits/stl_construct.h:93
#2  0x000000000073a874 in std::_Destroy_aux<false>::__destroy<std::string*> (__first=

[2020-12-18 18:46] danioyuan opened #3658 "Fit two dependent models iteratively"
## Summary

Use two GBMs to fit two parameters of a distribution iteratively.

## Motivation

If the observed data is modeled as random variables from a distribution with two parameters (such as a normal distribution), GBM can be used to fit the two parameters.

## Description

Each parameter has its own gradient and hessian functions. So one gbm can be used to fit parameter 1 (with parameter 2 se

[2020-12-18 19:38] #3655 closed

[2020-12-19 03:41] btrotta commented on #3658
I don't think this is a typical use case for GBMs. Have you considered using something like scipy optimize?

[2020-12-19 20:26] StrikerRUS opened #3659 "Component Governance detected 1 legal alerts"
Just found this alert here: https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=8243&view=logs&j=e0c3ed1e-0c79-508f-2647-33e12d6ed3d4&t=48f6b156-5662-5206-9827-62ded8c1f863

What is this? Does anybody know?
@guolinke @jameslamb

[code]

[2020-12-20 01:31] guolinke commented on #3659
it seems caused by breathe:
![image](https://user-images.githubusercontent.com/16040950/102703131-0c1a8100-42a6-11eb-81fe-d600117c6f44.png)

[2020-12-20 01:45] guolinke commented on #3519
still didn't get any response, I think we can move some CIs to azure pipeline or github actions.

[2020-12-20 02:27] jameslamb commented on #3659
I'm not familiar with these checks...is this something Microsoft requires, and do we absolutely have to resolve these alerts?

We don't do anything that comes even close to modifying or redistributing `chardet`. I cannot imagine that the use of `breathe` to generate documentation in this project could be used to compel us to change LightGBM's license to GPL.

I don't think we should take any actio

[2020-12-20 02:51] jameslamb commented on #3519
Currently, we have the following on every PR

* Azure DevOps: 12 jobs
* GitHub Actions: 17 jobs
* Travis: 19 jobs

We're limited to 20 concurrent jobs on GitHub Actions. So if we add more than 3 additional jobs to GitHub Actions, it will increase total CI time.

I've observed that we only have 3 concurrent jobs on Azure, but I don't know if that's the most we can have or just a configuration we ca

[2020-12-20 09:46] guolinke commented on #3519
@jameslamb actually, I already tried to increase the parallel jobs in Azure pipeline. However, it seems the max job is 10 (cannot increase), for public projects.
Another solution is to use self-hosted agents.

https://docs.microsoft.com/en-us/azure/devops/organizations/billing/buy-more-build-vs?view=azure-devops

[2020-12-20 09:51] guolinke commented on #3519
For self-hosted agents, we could setup windows and ubuntu VMs, but seems mac os is not possible in azure. So we can use the 10 microsoft-hosted agents to run macos, and self-hosted agents to run windows/linux.

[2020-12-20 10:27] guolinke commented on #3519
I just create two self-hosted pooll, for ubuntu and windows, each with 20 max jobs.
you can have a try:
![image](https://user-images.githubusercontent.com/16040950/102710921-f1212e80-42f0-11eb-82de-3ad084043104.png)

also cc @StrikerRUS

[2020-12-20 13:18] StrikerRUS commented on #3659
I agree with James! I think that using (and suggesting our users to install) `breathe` to build C API documentation shouldn't be a problem.

[2020-12-20 13:24] StrikerRUS commented on #3519
@jameslamb

My general position is that slow but full-covering CI services is better than fast and poor ones.

@guolinke

Just to clarify: are these pools directly sponsored by Microsoft or maybe in some other way? If not, I think we can find better solution than spending your own money.

[2020-12-20 13:29] StrikerRUS commented on #3519
I think that except `lint` and `docs` jobs for all other important ones we have twins at Azure Pipeline. So there should be nothing critical in case of we lose Travis 31st December.

[2020-12-20 13:48] StrikerRUS commented on #3518
Just found that we can use GitHub Container Registry (in case if we need of course).
https://docs.github.com/en/free-pro-team@latest/packages/guides/about-github-container-registry
https://docs.github.com/en/free-pro-team@latest/packages/guides/migrating-to-github-container-registry-for-docker-images

Not sure about actual price (seems it is still in beta), but

  https://docs.github.com/en/free-p

[2020-12-20 14:12] StrikerRUS commented on #3519
I mean, even jobs with several hours length shouldn't hurt our bi-monthly releases.

[2020-12-20 15:32] ch3rn0v commented on #3654
@guolinke , thank you very much! I tried running a model with and without this option a few times with a quite large dataset and it seems to work.

[2020-12-20 15:49] jameslamb opened #3665 "[R-package] [ci] use precompiled binaries from RPSM for Linux CI jobs"
The R package's CI jobs on Linux are slower than those on Mac, by several minutes. Consider this recent run: https://github.com/microsoft/LightGBM/pull/3664/checks?check_run_id=1583981483

**linux (average: 10m33s)**

* r-package (ubuntu-latest, gcc, R 3.6, cmake): 11m2s
* r-package (ubuntu-latest, gcc, R 4, cmake): 9m4s
* r-package (ubuntu-latest, clang, R 3.6, cmake): 10m59s
* r-package (ubuntu-

[2020-12-20 15:55] jameslamb commented on #3519
I absolutely agree with this.

I could move those to GitHub Actions right now! What do you think?

[2020-12-20 21:35] StrikerRUS commented on #3665
My only concern is about that fetching binaries from RPSM adds one more proxy layer that we aren't controlling. And I believe that this will move our CI one step aside from ordinary user behavior, while I believe that CI should simulate our users' use cases as closer as possible.

[2020-12-20 21:59] jameslamb commented on #3665
I agree with that! I should have called this "RFC", because I was also torn. I guess as long at the jobs aren't prohibitively long and our development pace stays at what it currently is, this is probably not something we should do.

[2020-12-20 21:59] #3665 closed

[2020-12-21 02:07] guolinke commented on #3519
It is supported by Microsoft, feel free to use them 😄

[2020-12-21 11:03] StrikerRUS commented on #3519
@guolinke OK, got it! 🙂

@jameslamb

Then I think it will be better to migrate **all** tasks from Travis to new Azure agents.

[2020-12-22 10:33] akstrfn opened #3667 "prerelease package v3.1.2 broken"
[code]

Likely the change introduced in PR #3639 requires change of workflow when making the release package.

[2020-12-22 11:12] StrikerRUS commented on #3667
We are so sorry, but that "release" was accidental! There are no plans to make `3.1.2` release actually. Next release should be `3.2.0` later. For now please keep using `3.1.1` or latest commits from the `master` branch.

[2020-12-22 11:12] #3667 closed

[2020-12-22 11:16] #3654 closed

[2020-12-22 13:53] krissy-fong opened #3669 "How do I convert a pandas Dataframe into a csv / libSVM file to load directly into Dataset from disk to avoid memory spike?"
I have 25gb of RAM and a 5gb pandas dataframe all float32. When I load the dataframe into lgb.dataset everything is fine, but when I go to start training, the memory usage spikes and system crashes.

My understanding is that this is due to multiple copies being created, but can be avoid if I save my data as a csv file and load directly from disk.

My questions:
1. How do I create the csv file?
2.

[2020-12-22 16:11] jameslamb commented on #3519
Ok! I can try that over the next few days.

[2020-12-23 04:38] ldmtwo opened #3670 "Wrong warning message pops up"
Issue:
Wrong warning message pops up. I misconfigured it by having dart+early_stopping_round on a binary class training task. That combo is invalid. The warnings below raised on line engine.py:153 make no sense and are more confusing than helpful.

This is output for a series of [train,predict].

[code]

[2020-12-23 05:04] jameslamb commented on #3670
Thanks for using LightGBM! Can you please elaborate? What would you like help with?

Alternatively, we'd welcome a [pull request](https://github.com/microsoft/LightGBM/pulls) with a proposal to improve the relevance and clarity of warnings from the Python package.

[2020-12-23 05:08] jameslamb commented on #3643
Thanks for using LightGBM, and for the thorough report!

I believe this is a duplicate of https://github.com/microsoft/LightGBM/issues/3641. See https://github.com/microsoft/LightGBM/issues/3641#issuecomment-742939002 for the root cause of this specific warning not respecting your setting for `verbose`. We'd welcome a pull request to fix it, if you have the time and interest!

If I've misunderstoo

[2020-12-23 05:08] #3643 closed

[2020-12-23 06:13] jameslamb opened #3671 "[dask] support parameter aliases in Dask API"
## Summary

LightGBM supports aliases for most parameter. For example, you can use `bagging_fraction` or `sub_row` to say "% of rows sampled during bagging".

The new dask API added in #3515 should be changed to support such aliases for the parameters it references.

See these comments for details on a few parameters that need to be updated to use aliases.

* https://github.com/microsoft/LightGBM/

[2020-12-23 15:36] evo11x commented on #3303
I get the same error

[2020-12-23 16:25] jameslamb commented on #3303
@evo11x thanks for using Lightgbm!

Please follow the advice in the previous comments above and ask the ML.NET developers to upgrade to at least LightGBM 3.0.0 (the newest release is 3.1.1 by now).

https://github.com/dotnet/machinelearning/issues

[2020-12-23 16:57] gharibkhani commented on #3303
I already opened an issue with them. You can follow and ask them to do it faster:

https://github.com/dotnet/machinelearning/issues/5447

[2020-12-23 17:11] jameslamb commented on #3303
thanks very much! I did not know about that issue, since it wasn't linked to this one.

[2020-12-23 21:26] StrikerRUS commented on #3670
@ldmtwo First message says that you specified a param that has its own argument in function:
https://github.com/microsoft/LightGBM/blob/d90a16d520fa12d84ecd983fba323727348616a4/python-package/lightgbm/engine.py#L90-L98
And it informs you that value from `params` will be picked up and has higher priority over function argument.

Second warning is about that earlier stopping cannot be used with dart

[2020-12-24 03:25] we1559 opened #3673 "xe_ndcg implementation is different from the paper"
hi, @sbruch I'm working with the xe_ndcg now, but I don't understand the second order's meaning,
https://github.com/microsoft/LightGBM/blob/master/src/objective/rank_objective.hpp#L339

so I refer to the original pr which you create
https://github.com/microsoft/LightGBM/pull/2620/files#diff-0d684c70b87b4c45b2e7054d75fd3e82324c3cff050fdaf79c4545c23642c496R107

the paper said the gradient should be

[2020-12-24 03:37] guolinke commented on #3673
cc @sbruch

[2020-12-24 06:04] chloe-wang opened #3674 "the split_gain is inconsistent with the value manually calculated"
## How you are using LightGBM?
* Python package
LightGBM component:  plot_tree
Python version: 3.0.0
## Error message and / or logs
I'm using the "mse" metric and "regression" objective.  Here I set the tree have only two leaves and boosting 1 round, which means it can only split once. Then I got the prediction for each sample. Then I found the loss gain calculated with below formula is inconsiste

[2020-12-24 12:03] tarunreddy1018 opened #3675 "Getting random outputs when calling LightGBM Predict for single row function in a multi threaded environment (LGBM_BoosterPredictForMatSingleRowFast) method"
Recently I have been using LightGBM 2.1.0 c_api library in production. And It was working fine. And now we have decided to update the version to 3.1.0 and check the performance gain. But we faced an issue where we were getting different results on different runs of predict function for single row (LGBM_BoosterPredictForMatSingleRowFast) method for the same input. But this problem occurs only when

[2020-12-24 13:30] sbruch commented on #3673
Please see Section 4.3 of the [paper](https://arxiv.org/pdf/1911.09798.pdf). The `lambdas` and `hessian` variables in this package correspond to the numerator and the denominator (respectively) of the last equation in that section.

[2020-12-24 17:48] StrikerRUS commented on #3659
OK, closing for now and till explicit requests from Microsoft legal team to change anything

[2020-12-24 17:48] #3659 closed

[2020-12-24 19:05] sergeyf opened #3676 "Can't suppress "UserWarning: Found `num_iterations` in params. Will use it instead of argument""
I'm getting that error quite a bit, and doing the standard

[code]

I'm using the Python sklearn api and verbose is set to -1.

Any ideas?

PS, thanks for this majestic package. I use it all the time and it works extremely well. The Semantic Scholar search engine now has a LightGBM reranker.

[2020-12-24 19:48] StrikerRUS opened #3677 "VS compiler warnings "warning C4244: '=': conversion from 'const _Ty' to '_Ty', possible loss of data""
Huge number of such warnings.

Looks like these warnings were introduced in #3299.

<details>
<summary>Log</summary>

[code]

</details>

[2020-12-24 20:03] StrikerRUS commented on #1315
Implemented in #3299.

[2020-12-25 00:45] guolinke commented on #3677
cc @btrotta

[2020-12-25 02:25] sisco0 commented on #3677
That happens when there is a _precission loss_, which mainly is based at combining `double` datatype with `float` datatype objects.
I am adding a PR for this to be solved.

[2020-12-25 04:04] we1559 commented on #3673
Thank you for your replay.

The last equation in Section 4.3 is approximating the inverse of H. And we get H^(-1) = `lambdas` / `hessian`

But I think we only need to calculate the original gradient and hessian, the GBM could use them to get a target of this iteration and update.

So I'm still confused. Why we need to update gradient's calculation according to the inverse of H?

[2020-12-25 09:40] ch3rn0v opened #3679 "Avoiding Exception "Check failed: (best_split_info.right_count) > (0) at ..." with a regression task"
## How you are using LightGBM?
* Python package

## Environment info

* Operating System: Ubuntu 20.04.1 LTS
* Python version: 3.8.5
* GCC 7.3.0
* LightGBM version or commit hash: 3.1.1

## Steps to reproduce

1. In jupyter lab's notebook, prepare train and validation datasets. (They are huge and private, so can't share a reproducible example).
2. Train lgbm with the data with different sets of fe

[2020-12-25 10:45] guolinke commented on #3679
you can use larger `min_data_per_leaf` or `min_hessian_per_leaf`.

[2020-12-25 10:58] ch3rn0v commented on #3679
Sure, I tried a few values. If I increase these too much though it results in the model being under-fitted.

I use `"regression"` as the value for the `"objective"` param. Metric is `"l1"`.

Do you mean specifying different weights for different samples? If so, I do not use this in the example we are discussing here.

Thank you very much for the rapid reply!

[2020-12-25 11:03] guolinke commented on #3679
If no sample weight and with `regression`, I think it may due to another problem, not related to `min_data` and `min_hessian`.
Did it only happen in large-scale data? if yes, I think you can try `deterministic=true`.

[2020-12-25 11:09] ch3rn0v commented on #3679
Although I didn't conduct the same experiment with a smaller fraction of my dataset, I tried bagging fraction before (perhaps with different set of features) and if I remember correctly it did not result in the above exception. Will try it again, thank you.

I appreciate the suggestion! I'm already using this param since your helpful advice in https://github.com/microsoft/LightGBM/issues/3654 :)

[2020-12-25 11:15] guolinke commented on #3679
interesting, I guess there may be a bug.
Did you use missing value handling? By default, it will enable if feature values contain NaN.
 you can also try `use_missing=false` .

[2020-12-25 11:27] ch3rn0v commented on #3679
you can also try `use_missing=false`.

Yes, I do use missing value handling. Will try with `use_missing=false` now and report back.

[2020-12-25 13:58] ch3rn0v commented on #3679
I tried running the same script as before (so without setting `min_data_in_leaf`, `min_sum_hessian_in_leaf`) with the only change being the addition of `"use_missing": False,` to the model's params. And the same exception still occurs.

Any other suggestions in relation to how this can be fixed are very welcome.

[2020-12-25 14:43] guolinke commented on #3679
@ch3rn0v did you use categorical features?

[2020-12-25 14:59] ch3rn0v commented on #3679
@guolinke , nope, all features are numerical.

[2020-12-25 21:35] StrikerRUS commented on #3369
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2020-12-25 21:35] #3369 closed

[2020-12-25 21:36] #3442 closed

[2020-12-25 21:37] StrikerRUS commented on #3447
gently ping @TomekPro for example of data

[2020-12-25 21:43] #3571 closed

[2020-12-25 21:44] #3595 closed

[2020-12-25 21:44] #3601 closed

[2020-12-25 21:45] #3619 closed

[2020-12-25 22:13] StrikerRUS commented on #3676
Hello @sergeyf !
Thanks a lot for the kind words!

Unfortunately, I can't reproduce the warnings with `3.1.1` version.
Could you please share a larger piece of related code?

[code]
![image](https://user-images.githubusercontent.com/25141164/103142612-ef9f9e00-4716-11eb-8070-ac653098a49b.png)

Adding `warnings.filterwarnings("ignore")` helps to suppress ```UserWarning: Found `num_iterations` in pa

[2020-12-25 22:47] sergeyf commented on #3676
Thanks @StrikerRUS! Changing it to `n_estimators` helped. It would be helpful to have that contained in the error message.

[2020-12-25 22:47] #3676 closed

[2020-12-25 23:05] StrikerRUS commented on #3479
Please refer to some other C# packages that have LightGBM as a dependency.

https://github.com/dotnet/machinelearning/tree/master/src/Microsoft.ML.LightGbm
https://github.com/rca22/LightGBM.Net

![image](https://user-images.githubusercontent.com/25141164/103142845-2af09b80-471c-11eb-81fe-b6564fd422d2.png)

Our Nuget package doesn't contain any C# code, it consists only of compiled dynamic library

[2020-12-25 23:05] #3479 closed

[2020-12-25 23:11] StrikerRUS commented on #3634
@jameslamb Would still you mind update the param description?

[2020-12-25 23:22] StrikerRUS commented on #3676
I'm afraid that it will be more confusing. The thing is that the same argument has different names in our standard API and in sklearn wrapper. And there is no way to know which one is used.
https://github.com/microsoft/LightGBM/blob/44a6fb7ffa646b469fc10475b3526c61239682ac/python-package/lightgbm/engine.py#L145-L148

https://github.com/microsoft/LightGBM/blob/44a6fb7ffa646b469fc10475b3526c61239682

[2020-12-25 23:28] sergeyf commented on #3676
Ah that makes sense.

[2020-12-26 03:09] guolinke commented on #3679
is that possible to provide an exproduce example, by a sub-feature (or even with subrow), so that we can debug with.

[2020-12-26 09:52] ch3rn0v commented on #3679
I'll start an internal discussion about this, but I doubt any particular data or even a piece of it will be shared.

In the meantime I ran a few other tests.

1. Tried the same dataset, this time with `bagging_fraction` and `bagging_freq`. The exception still happens.
2. Suppose I have a dataset D1 that works ok. When I add a feature F2, I get an exception. If I keep F2, but remove any single feat

[2020-12-26 10:02] ch3rn0v commented on #3679
Interestingly, the error still happens even with `"max_depth"` and `"num_leaves"` both being set to zero. Perhaps it occurs during some preliminary data verification?

[2020-12-26 10:05] shiyu1994 commented on #3679
A potential bug in histogram offset assignment may cause this error. I will create a PR for this.

[2020-12-26 20:52] StrikerRUS commented on #3626
Adding this as a sub-issue for `Check input for prediction` item in Feature Requests Hub: #2302.

[2020-12-26 20:52] #3626 closed

[2020-12-26 22:46] StrikerRUS opened #3684 "reduce sdist size"
Current `sdist` size in `master` is more than 3 Mb. This is due to adding new dependency `eigen` in #3299.

@jameslamb Could you please help with this like you've already done in #3639?

[2020-12-26 22:50] jameslamb commented on #3684
sure! Would be happy to

[2020-12-26 22:51] #3543 closed

[2020-12-26 22:51] jameslamb commented on #3634
sure!

[2020-12-27 07:18] jameslamb commented on #3319
When this is picked up, it should also get changes similar to https://github.com/microsoft/LightGBM/pull/3685.

1. `build_r.R` and `build-cran-package.sh` should be modified to only copy in the specific parts of Eigen that are needed (see `MANIFEST.in` changes in #3685)
2. `-DEIGEN_MPL2_ONLY` should be added to `LGB_CPPFLAGS` in `R-package/configure.ac` and `R-package/configure.win`

[2020-12-27 12:13] kevinorjohn opened #3687 "`is_unbalance` does not work properly for evaluation"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: macOS Catanila 10.15.6

CPU/GPU model: CPU

Python version: 3.7.0

LightGBM version or commit hash: 3.1.1

## Error message and / or logs

[code]

## Reproducible example(s)

[code]

## Description

The parameter of `is_unbalance` would not properly assign label_weight for the evaluation. In

[2020-12-27 15:54] sbruch commented on #3673
I'm not sure what's the source of confusion, but I'm perhaps not explaining this well. The optimization procedure in LightGBM is [Newton's second order method](https://en.wikipedia.org/wiki/Newton%27s_method_in_optimization). That is what requires the Hessian, in addition to the gradient, to compute an update direction.

The last equation in Section 4.3 is not just the inverse of Hessian, but the

[2020-12-27 16:05] jameslamb commented on #3352
@Juniper-23 do you think you'll have time to help us with this in the next week or two?

If not, I'd like to open it back up for someone else to come contribute.

[2020-12-28 02:23] jameslamb opened #3689 "[RFC] Remove Gitter and Slack"
This project's README currently says that you can use Gitter and Slack to ask questions about LightGBM.

the Slack auto-joining at https://lightgbm-slack-autojoin.herokuapp.com/ appears to be broken:

![image](https://user-images.githubusercontent.com/7608904/103185139-b420e300-4880-11eb-83fc-e91e15f66c41.png)

And gitter (https://gitter.im/Microsoft/LightGBM) has little activity.

I believe these

[2020-12-28 02:55] ankiean commented on #3028
I just tried using the average_precision metric, but it was giving me strange results. With early stopping, it says that the first iteration was the very best, but when I print all the validation scores, I see that it is still improving. Basically, it is stopping at the lowest average_precision score. This is wrong, right?

[2020-12-28 03:01] jameslamb commented on #3028
@ankiean yes, apologies! There was a bug in the Python package that led to the wrong treatment of average precision for early stopping (#3648). This was fixed in #3649 and will be available in the next release.

If you have other bug reports please open a new issue.

[2020-12-28 03:56] StrikerRUS commented on #3689
I'm +1 for closing inactive projects.

FYI, every month this link is broken for ~5 last days due to free Heroku tariff (search dev Slack for more details).

[2020-12-28 04:59] jameslamb commented on #3634
I've opened #3690 to document this, thanks again for bringing it up @memeplex

[2020-12-28 06:55] shiyu1994 commented on #3679
@ch3rn0v Can you please try https://github.com/shiyu1994/LightGBM/tree/fix-3679 to see if the same error occurs?

[2020-12-28 07:42] ch3rn0v commented on #3679
Hello @shiyu1994 , appreciate your rapid response! Do I understand it correctly that the only way to try this version is to do this: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#linux ? And if so, will I be able to remove this temporary version later? Will it result in any conflict if another version is already installed? Thanks in advance.

[2020-12-28 07:51] shiyu1994 commented on #3679
@ch3rn0v If you are using the Python API, you can create a `virtualenv` or `conda` to create a new python environment, and install the python package with the branch shiyu1994/fix-3679 in the new environment.
You may also install the python package from the branch directly. If you want to recover a standard released python package of LightGBM, just use `pip` to remove the branch package, and reins

[2020-12-28 08:09] we1559 commented on #3673
Maybe that's what I'm confused about. Is there any assumption about objective function in LightGBM？

[2020-12-28 10:12] we1559 commented on #3673
Maybe I get the result.

the simple Hessian you mentioned above is a diagonal matrix, so it's inverted matrix is H^-1 ii =  1 / H ii, H^-1 ij = 0(if i != j).
Finally used it to calculate the leaf value here https://github.com/microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L750

But in the complex Hessian situation, the inverted Hessian is not a diagonal matrix, so the code ab

[2020-12-28 10:50] ch3rn0v commented on #3679
I tried a few different ways to install this version in a new conda env. Alas, none of them worked.

For instance, `pip install git+git://github.com/shiyu1994/LightGBM@fix-3679` results in:

[code]

And yes, I did `conda install git pip` before that. Searching for any similar errors didn't help much.

I also don't happen to have `cmake` and can't install it right now.

Would you please suggest any

[2020-12-28 11:33] shiyu1994 commented on #3679
Can you please install `cmake`? You have to build LightGBM before install the python package.

[2020-12-28 11:39] shiyu1994 commented on #3679
The steps to install python package from source code is
`git clone --recursive https://github.com/microsoft/LightGBM ; cd LightGBM`
`mkdir build ; cd build`
`cmake ..`
`make -j4`
`cd ../python-package`
`python setup.py install`

[2020-12-28 12:58] cy-zheng commented on #3653
Hi @yellowca , I have the same question as you did. Do you figure out the answer for "Do all the workers need to contain all the data? Will the lightgbm only read part of the whole dataset automatic?"

Thank you so much!

[2020-12-28 13:09] cy-zheng opened #3691 "[Question] Question about LightGBM parallel training"
Hi,
I'm trying to use LightGBM in parallel mode, to accelerate my ML training jobs. I got some questions and couldn't find answers via official documents / stack overflow / issues.

- Does LightGBM python library support parallel mode?
- If I use tree learner "data" & "voting", do I need to split up the data horizontally before send data to worker? Does each worker needs the total data?
- Can you

[2020-12-28 13:20] yellowca commented on #3653
yes , there is a config option named "pre_partition" or something like this, by setting it to true u can tell LightGbm to treat the train data as part of while data

---Original---
From: "zhengchenyu"<notifications@github.com&gt;
Date: Mon, Dec 28, 2020 20:59 PM
To: "microsoft/LightGBM"<LightGBM@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"yellowca"<544091252@qq.com&gt;;
S

[2020-12-28 13:47] sbruch commented on #3673
Yes, precisely.

Correct.

[2020-12-28 14:52] we1559 commented on #3673
Thanks for your explaination

[2020-12-28 14:52] #3673 closed

[2020-12-28 16:39] ch3rn0v commented on #3679
While I'd be able to test this locally, it'll only make sense to run the experiment on a remote machine that has enough processing power. And I'm unable to install `cmake` there. While I could build it locally and `scp` the result to the server, it'd still require `python setup.py install` or similar. As far as I understand, the latter doesn't guarantee isolation within the current conda's env. An

[2020-12-28 22:18] StrikerRUS commented on #3679
The last step should be
[code]
if you'd like Python package installation pick up already compiled dynamic library.

@shiyu1994 Could you please transfer your changes from your fork to this repository? I believe you have enough rights to do this as a collaborator. Then we can trigger Azure Pipelines to build Python wheel file with your changes. And after that @ch3rn0v will be able to install patche

[2020-12-28 22:19] seekingdeep commented on #3517
@odidev but in the end does it build successfully?

[2020-12-29 22:15] StrikerRUS commented on #3679
Another option will be simply find current LightGBM installation folder, rename `lib_lightgbm.so` file to something like `lib_lightgbm_backup.so` and download only patched dynamic library file instead of the whole wheel in case you are not able to take risks of not fully isolated environments. It will work because as I can see fix includes changes only at cpp side but doesn't touch Python wrapper.

[2020-12-29 23:16] #3684 closed

[2020-12-30 05:25] ucasiggcas opened #3695 "[Question]how to use the float feature?"
hi,dear all
in the [docs](https://lightgbm.readthedocs.io/en/latest/Python-Intro.html), it said that we should transform the **float** data to **int** type , but I want to use the float directly since it is **Numeric Features**, so how to deal with it ?
[code]

[2020-12-30 05:57] jungsooyun commented on #3679
Same issue occurred in GPU lightgbm.

In my case, if i do not use both `max_depth`, `num_leaves` params together, and use only `num_leaves` params (max_depth as default), error doesn't come out.

Hope this bug fixed soon,

[2020-12-30 06:11] shiyu1994 commented on #3679
#3694 is opened to potentially fix these errors, but it is only related to CPU version. We need further investigation if the errors are not fully eliminated after this PR is merged.

[2020-12-30 09:26] ucasiggcas opened #3696 "GPU error"
[code]

[code]

## How you are using LightGBM?

LightGBM component:

## Environment info

Operating System:

CPU/GPU model:1080

C++ compiler version:gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609

CMake version:cmake version 3.18.4

Java version:

Python version:Python 3.7.9

R version:

Other:

LightGBM version or commit hash:

## Error message and / or logs

## Reproducible example(s)

##

[2020-12-30 09:56] ucasiggcas opened #3697 "about -inf in training"
hi,dear all
I have the training down
[code]
so what's the meaning of **-inf**?
could you pls help me ?

[2020-12-30 16:09] jameslamb commented on #3697
This warning means that based on the dataset and parameters you've used, LightGBM is unable to find new splits that improve the model. This might be a sign that you've set `num_leaves` or `max_depth` too high. Please see the suggestions in https://github.com/microsoft/LightGBM/issues/3559.

[2020-12-30 16:09] #3697 closed

[2020-12-30 22:48] StrikerRUS commented on #3695
Hi @ucasiggcas !

This note is actual only for **categorical** features.

For **numeric** features, nothing special should be done. They all are converted to float internally.

[2020-12-30 22:48] #3695 closed

[2020-12-30 22:50] StrikerRUS commented on #3696
Please install GPU version of LightGBM to utilize your graphic card: https://github.com/microsoft/LightGBM/tree/master/python-package#build-gpu-version.

[2020-12-30 22:50] #3696 closed

[2020-12-31 05:27] CVPaul opened #3698 "support multi-nodes and multi-gpus lightgbm training base on torch. distributed"
## Summary

## Motivation

## Description

## References

[2020-12-31 06:20] Hailprob opened #3700 "Are categorical features handled by label encoding?"
Are categorical features handled by label encoding?

[2020-12-31 06:27] shiyu1994 commented on #3700
Currently LightGBM use an approach which is more flexible than label encoding. The labels in label encoding are replaced with gradients, and the counts in label encoding are replaced with hessians. And the encoding is done for each individual leaf (when finding split for a leaf, the encoding only uses data in the leaf). See https://lightgbm.readthedocs.io/en/latest/Advanced-Topics.html#categorical

[2020-12-31 06:58] Hailprob commented on #3700
Thank you for your reply, I'd like to know whether there's a tree or boosted tree method that can handle categorical features without transformation, just like continuous features in decision tree

[2020-12-31 07:19] shiyu1994 commented on #3700
You mean treating categorical features as numerical ones? For example, if a categorical feature has categories {1, 2, 3}, do you want to treat 1, 2 and 3 as pure numbers (which can be compared by magnitude)? If so, you can set `categorical_feature=[]` in the `Dataset` constructor, if you're using python API.

[2020-12-31 07:46] Hailprob commented on #3700
No, if a categorical feature has categories {1, 2, 3}, I want the split is {1},{2,3} or {2},{1,3}and etc. Not {X<2.5},{X>=2.5}

[2020-12-31 07:50] shiyu1994 commented on #3700
In that case, LightGBM's current approach exactly do this. The dynamic encoding I mentioned can find the optimal subset split in the form {2},{1,3}. The encoding guarantees to find the optimal split among all the 2^{k-1}-1 options, where k is the number of categories of that categorical feature.

[2020-12-31 07:56] Hailprob commented on #3700
Ok, I got it, thanks a lot, can  sklearn lgb API do it ?

[2020-12-31 07:59] shiyu1994 commented on #3700
Yes. In the `fit` method there's a `categorical_feature` parameter.

[2020-12-31 08:03] Hailprob commented on #3700
Can't wait to try it and get how it split by plot_tree() method. I'll close the ISSUE if everything goes well

[2020-12-31 09:44] Hailprob commented on #3700
The last question that relate little to this issue, how can I dump the lightgbm.LGBMClassifier model

[2020-12-31 10:21] #3700 closed

[2020-12-31 10:22] Hailprob opened #3701 "dump_model"
Is there a way to dump a sklearn.Lightgbm.Classifier model?

[2020-12-31 10:45] #3701 closed

[2020-12-31 11:59] ucasiggcas opened #3702 "[Question] how to deal with data imbalance"
hi,dear all
In **lgb.train** for binary classification,the positive data are more than the negetive ,so how to deal with the probelm ?
thx

[2021-01-01 22:53] jameslamb opened #3704 "[R-package] memory leaks detected by valgrind"
Running the valgrind checks on the R package in #3703, I see the following.

[code]

This means that either that PR or some new changes on `master` have introduced issues that will prevent the next release of LightGBM from making it to CRAN. I'll test if this is related to #3699 or if it's already an issue on `master`  and update this issue.

<details><summary>full log from #3703</summary>

[code]

[2021-01-02 10:12] GLevV commented on #2302
1. Native support for Focal Loss. There are some implementations for LGBM and XGB. They show better performance on imbalanced data, but implementations are slow and clunky. Also allow to use MSE for classification (also known as [square loss](https://en.wikipedia.org/wiki/Loss_functions_for_classification#Square_loss)). More classification losses could be added to stand out in this department (sin

[2021-01-02 10:21] GLevV opened #3706 "Native support for Focal Loss"
Could you add native support for Focal Loss? There are implementations for LGBM and XGB. They show better performance on imbalanced data, but they are slow and clunky. Also allow to use MSE for classification (also known as [square loss](https://en.wikipedia.org/wiki/Loss_functions_for_classification#Square_loss), it's a proper scorer function and in some cases could be better than LogLoss). More

[2021-01-02 10:22] GLevV opened #3707 "Question about quantization"
Is it possible to add different quantization techniques? As I understand most of GBDTs use quantiles to quantize data (like pd.qcut or KBinsDiscretizer(strategy='quantile')), but there are other options, like uniform quantization (like pd.cut or KBinsDiscretizer(strategy='uniform')). There are also other techniques in Catboost (like entropy minimization) and in 1d classification/clustering (like j

[2021-01-02 22:04] StrikerRUS commented on #3702
Hi @ucasiggcas !

For imbalance data problem you can use any third-party solution from ones that are usually used for other ML algorithms. LightGBM has some special params that help to deal with the problem:
- [pos_bagging_fraction](https://lightgbm.readthedocs.io/en/latest/Parameters.html#pos_bagging_fraction) / [neg_bagging_fraction](https://lightgbm.readthedocs.io/en/latest/Parameters.html#neg_

[2021-01-02 22:04] #3702 closed

[2021-01-02 22:44] #3704 closed

[2021-01-03 01:10] guolinke commented on #3691
1. you can try the recently added dask-lightgbm.
2. in CLI mode, both non-pre-partition and pre-partition can work. If you using pre-partition data, you should set `pre_partition=true`.
3. using smaller max_bin and fewer features can reduce the communication cost.

[2021-01-03 01:11] guolinke commented on #3689
I am +1

[2021-01-03 01:19] guolinke commented on #3687
`is_unbalance` and `scale_pos_weight` are designed for the objective function, so this behavior is expected.
In most use cases, we don't want to change the distribution of evaluation data.
If you want to change the distribution, you can directly use the sample weights as in your script.

[2021-01-03 02:34] StrikerRUS commented on #3677
Unfortunately, #3678 didn't fix warnings. They are still in `master` after merging. Reopening this issue.

[2021-01-03 15:12] kevinorjohn commented on #3687
Ok, I got it. Let me close this issue.

[2021-01-03 15:12] #3687 closed

[2021-01-03 18:35] jameslamb commented on #3698
@CVPaul can you please edit the description and add more details explaining this feature request?

[2021-01-03 19:17] #2983 closed

[2021-01-03 19:44] gregor-s-j commented on #3614
@shiyu1994 Hope all is well!

I was wondering whether you had a chance to look into this?

[2021-01-03 22:53] jameslamb opened #3712 "[dask] Add support for early stopping in Dask interface"
## Summary

`DaskLGBMClassifier` and `DaskLGBMRegressor` in the Python package should support early stopping.

## Motivation

Early stopping is generally useful with gradient boosting algorithms, to avoid wasted training iterations or unnecessary growth in the model size once desirable performance has been achieved. This feature is available in the non-Dask interfaces for LightGBM, and should be a

[2021-01-03 22:54] jameslamb commented on #3712
Closing in favor of being in #2302 with other feature requests. Please leave a comment here if you'd like to work on this.

[2021-01-03 23:03] jameslamb opened #3713 "[dask] support 'pred_contrib' in predict()"
## Summary

LightGBM's `Booster.predict()` can be use to get feature contributions, by passing `pred_contrib=True`. This should be supported for model objects from the Dask interface as well.

## Motivation

This is useful for inspecting the relative importance of features in a LightGBM model.

## Description

The check at https://github.com/microsoft/LightGBM/blob/aae4fe401b316e156bf1d4aa8bbc213a

[2021-01-03 23:09] jameslamb opened #3714 "[dask] allow customization of num_threads"
## Summary

LightGBM training with Dask currently ignores the `num_threads` setting in user-provided parameters, and overwrites it with the number of CPU cores on each worker contributing to training.

This behavior is a good default, but it should be possible to override it.

## Motivation

There might be cases where it's desirable not to use as many threads as cores on each worker during trainin

[2021-01-03 23:10] jameslamb commented on #3714
Closing this in favor of being in #2302 with other features. Please leave a comment here if you'd like to work on it.

[2021-01-04 03:22] cy-zheng commented on #3691
Thanks for your reply @guolinke , **would LightGBM python library support parallel mode in future**? Is there a timeline?

I found some notes in LightGBM official document:
[code]
In my test, however, I found that with more parallel workers, the LightGBM task got slower:

- 19983 seconds with serial mode;
- 13960 seconds with data learner, 2 workers;
- 22575 seconds with data learner, 4 workers.

[2021-01-04 03:45] StrikerRUS opened #3716 "Use latest SWIG version to build jar artifacts"
https://github.com/microsoft/LightGBM/blob/d1014ea64e577921112160b2fe3cb018174861d7/.ci/setup.sh#L18
https://github.com/microsoft/LightGBM/pull/3477#issuecomment-714560441

[2021-01-04 03:56] StrikerRUS opened #3717 "[RFC] Move compute and eigen libraries to external_libs folder"
As the number of third-party dependencies is growing, I think it will be good to keep their source files in one place. `external_libs` folder looks good for this purpose. We already store `fast_double_parser` and `fmt` there.

[2021-01-04 05:31] shiyu1994 commented on #3614
@gregor-s-j Sorry for the delay. After looking into this, I don't think this is a bug in LightGBM sklearn API.

In fact, the `fit` method of `GridSearchCV` copies the initial base estimator (which is `SimpleModel()` in your example), and then calls `set_params` of the base estimator to resetting the hyper parameters when tuning.

So, in your case, if you want to the `set_params` called by `fit` me

[2021-01-04 06:14] ucasiggcas opened #3718 "[Warning] UserWarning: Using categorical_feature in Dataset."
hi,dear all
I tried according to the [link docs](https://lightgbm.readthedocs.io/en/latest/Python-Intro.html), but has the warning, could you pls help me ?
**train_data = lgb.Dataset(data, label=label, feature_name=['c1', 'c2', 'c3'], categorical_feature=['c3'])**
[code]

[2021-01-04 06:42] ucasiggcas opened #3719 "[error]lightgbm.basic.LightGBMError: Multiclass objective and metrics don't match"
hi,dear all
set the param as follows
[code]
what's the matter?
could you please help me ?
thx

[2021-01-04 07:05] shiyu1994 commented on #3637
The synthesized dataset has only 1 multi-value feature group, which results in single thread execution in the `Dataset::CopySubrow` method (with `num_groups_ == 1`).
https://github.com/microsoft/LightGBM/blob/d1014ea64e577921112160b2fe3cb018174861d7/src/io/dataset.cpp#L789-L801
PR #3720 should fix this.

[2021-01-04 07:16] shiyu1994 commented on #3657
Yes. I think it should be `ref_text_data[i].clear();`. Thanks for your report.

[2021-01-04 08:35] gregor-s-j commented on #3614
@shiyu1994 Of course, I was totally blind to this!

Thanks so much!

[2021-01-04 08:35] #3614 closed

[2021-01-04 09:03] guolinke commented on #3691
@cy-zheng
dask-lightgbm already works for you.

the parallel algorithm is not more worker faster, due to the communication overhead.
It depends on your data, e.g. number of data, number of features and parameter setting.

[2021-01-04 14:26] Hailprob opened #3722 "What's the difference between raw_score and leaf_value"
By **lgb.create_tree_digraph()**, I got a tree plot with _leaf_value_ on every nodes. By **lgb.LGBMClassifier().predict(raw_score=True)**, I got an float64 arraylike _raw_score_ object. By **predict_proba()** I got the _positive predict value_ given X. I have 2 questions:

1. how is the _leaf_value_ calculated?
2. what are the relations among the three values? Maybe Sigmoid transformation ?

[2021-01-04 16:31] jameslamb commented on #3717
I'm +1 on this

[2021-01-04 16:47] StrikerRUS commented on #3718
Hi @ucasiggcas !
Everything is fine! This warning is to make you confident that categorical features are not lost. Refer to
 https://github.com/microsoft/LightGBM/issues/3625#issuecomment-738758114.

[2021-01-04 16:47] #3718 closed

[2021-01-04 16:52] StrikerRUS commented on #3719
Hello @ucasiggcas !

`AUC` is a binary metric, but your task is multiclass with 3 classes. You can use `AUC-mu`.

https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric

[2021-01-04 16:52] #3719 closed

[2021-01-04 17:00] StrikerRUS commented on #3713
Closing in favor of being in #2302 with other feature requests. Please leave a comment here if you'd like to work on this.

[2021-01-04 20:52] austinpagan commented on #3450
Is this the current issue for this problem?  I'm one of the members of the team that ported this CUDA code, and I'm ready to try to reproduce this problem in my environment, if someone can teach me how (preferably with the most simple possible dataset)...

[2021-01-04 21:17] StrikerRUS commented on #3450
Hello @austinpagan !

Please refer to https://github.com/microsoft/LightGBM/pull/3428#issuecomment-747676987 for the self-contained repro via Docker. Please let me know if you need any additional details.

[2021-01-05 00:00] austinpagan commented on #3450
Let me apologize if my questions are seen as somehow inappropriate, as I'm rather new to the open source environment...

OK, so three things I'd like to understand, please:
(1) I could not find, in your link, any guidance that I could understand, can you point me more specifically to the recreate scenario?
(2) Is this problem only seen within Docker containers?
(3) I cannot see in this documentati

[2021-01-05 01:32] StrikerRUS commented on #3450
@austinpagan No need to apologize! Let me try to be more precise and do my best to answer your questions.

No, this error can be reproduced w/ and w/o Docker. But I believe Docker is the easiest way to reproduce the error on your side as it ensures we are using the same environment.

We don't test Power systems. So we can be 100% sure only that X86 systems are affected.

0. Get machine (preferably

[2021-01-05 02:54] #3352 closed

[2021-01-05 02:55] jameslamb commented on #3352
@Juniper-23 I let @zenggyu take this since it's been open for a while, but I hope you'll consider coming back to LightGBM to contribute in the future!

[2021-01-05 08:13] ucasiggcas commented on #3719
@StrikerRUS
but now has the same bug either
[code]
what's the problem?
thx

[2021-01-05 09:13] cy-zheng opened #3731 "[Question] Does LightGBM cli support "feature_name" config?"
Hi,
I'm using libsvm as the input data format, and want to know how I could pass column name to LightGBM cli.
I found that LightGBM python API support a parameter `feature_name`, does cli version support the same field? I cannot find it through doc.
https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.train.html#lightgbm.train

[2021-01-05 12:57] ucasiggcas commented on #3719
after update the version from 2.3.1 to 3.1.1,
Got Success,
thanks to you and myself

haha

[2021-01-05 18:23] austinpagan commented on #3450
So, since we're not set up with Windows boxes here (imagine that), I decided to at least try to see if I could reproduce the problem on a Power system (since, after all, we did this exercise largely to allow folks on Power to access the GPUs, and did not contemplate that X86 folks would experiment with moving from OpenCL to direct CUDA).

INSIDE my docker container on my power box, I just ran the

[2021-01-05 20:13] jameslamb opened #3732 "[python] [ci] Refactor tests to use pytest style"
## Summary

The tests on the Python package currently use two different styles.

[The `dask` tests](https://github.com/microsoft/LightGBM/blob/3fd48864da10baa6b96abc1bde219e4956e4f0a7/tests/python_package_test/test_dask.py) for example, use the pytest style, where each test case is a function and conditions are checked by `assert`-ing

[code]

While [the 'engine' tests](https://github.com/microsof

[2021-01-05 22:40] StrikerRUS commented on #3719
Glad you got it work!

Yes, AUC-mu was released in `3.0.0` version. So the failure on `2.3.1` was expected.

Also please note that `is_unbalance`

    https://lightgbm.readthedocs.io/en/latest/Parameters.html#is_unbalance

but not with `multiclass` objective.

[2021-01-05 22:47] StrikerRUS commented on #3731
Yes, feature names are supported in CLI version via `header` param.
https://lightgbm.readthedocs.io/en/latest/Parameters.html#header

You just place column names in your file and specifies `header=true`.

[2021-01-05 22:47] #3731 closed

[2021-01-05 22:57] StrikerRUS commented on #3450
@austinpagan Am I right that you got successful run of the `simple_example.py` script by following my guide from https://github.com/microsoft/LightGBM/issues/3450#issuecomment-754327830 **but without step `#0`**?

What do you mean by "our code"? CUDA implementation your team contributed to LightGBM repository or some your internal code from a fork?

[2021-01-06 00:05] erodmark opened #3733 "Issue when loading previously trained model file"
I am having the same issue as was explained in this thread: https://github.com/microsoft/LightGBM/issues/3442#issue-716029897

## How you are using LightGBM?

* Python package

* LightGBM component:

## Environment info

Python version: 3.7.3

LightGBM version or commit hash: version 2.3.1

## Error message and / or logs

[LightGBM] [Warning] Model format error, expect a tree here. met 4 0.0950000

[2021-01-06 02:25] austinpagan commented on #3450
Easy answer first:
"our code" means CUDA implementation our team contributed to LightGBM repository.
These warnings are only printed out when you run the code requesting the "cuda" device (as opposed to the OpenGL "gpu" device).

Yes, I ran "simple_example.py" following your guide, but skipping both steps 0 and 1, because we already have some Power boxes with functional docker containers, which al

[2021-01-06 02:47] ucasiggcas commented on #3719
@StrikerRUS
so how to deal with the data imbalance in multiclass?

[2021-01-06 03:49] StrikerRUS commented on #3719
You are free to use any third-party solution or `class_weight` from https://github.com/microsoft/LightGBM/issues/3702#issuecomment-753535634 or sample weights (https://github.com/microsoft/LightGBM/issues/3687#issuecomment-753552824).

[2021-01-06 04:18] StrikerRUS commented on #3450
Thanks for your prompt response!

Could you be more precise and tell based on what commit your local LightGBM version was compiled? You can check it by running
[code]
inside your local clone of the repo. Before taking any further steps we should agree on version we will debug with. Because by continuing with different versions of source files we are making the whole debug process pointless.

[2021-01-06 12:11] austinpagan commented on #3450
Fortunately for both of us, I'm a morning person.  With the nine hour time difference between Москва and Austin, me being at my computer at 3PM your time will improve our productivity.  To the extent that you can work a bit into your evening, that helps as well!

    (base) [root@58814263a195 LightGBM]# pwd
    /home/builder/fossum/LightGBM
    (base) [root@58814263a195 LightGBM]# git rev-parse HE

[2021-01-06 12:15] austinpagan commented on #3450
I hope it's OK that we're more used to doing our work inside the docker container rather than issuing commands to the container from outside...

[2021-01-06 13:46] StrikerRUS commented on #3450
No thanks, I believe that 5d79ff20d1b7ae226531e2445b17d747b253a637 is a good candidate for the debugging! Let's continue with this commit.

Given that simple code runs OK on POWER machine but fails on many x86 ones, it is starting to look like the bug affects only x86 architecture. However, it is quite strange because we are speaking about CUDA code executing on NVIDIA cards here...

I think we ca

[2021-01-06 13:57] austinpagan commented on #3450
I am happy with this plan!

I have a recommendation.  If you can try to run your "most verbose" test INSIDE the container as I do, as opposed to running it as a command from outside the container, we can remove that variable as well.  I have a dark suspicion that this may be a problem with Docker not doing a good job when GPUs are involved...

Also, I will just let you know that my plan would be t

[2021-01-06 14:01] austinpagan commented on #3450
Two more things.
(1) can you teach me how to PROPERLY rebuild LightGBM and the examples so that I'm not just running some old binary that HAPPENS to work?
(2) just FYI, when I type "python --version" it reports: "Python 3.6.9 :: Anaconda, Inc."  Don't know if this matters...

[2021-01-06 18:33] ivangvi opened #3734 "MAPE objective loss predictions having fixed ceiling?"
LightGBM 3.0.0
Python 3.8.3

Hi! I'm working on a forecasting project with a highly skewed target, representing sales:

![newplot (7)](https://user-images.githubusercontent.com/30244899/103796421-ed4a1780-5025-11eb-9344-183878e1d66b.png)

Since business side is interested in MAPE, I'm setting that as stop **metric** for training validation. Trying several **objectives**, I wasn't surprised when MA

[2021-01-06 18:38] ZahraEconomist commented on #3733
I have the same issue, I am running the model using python 3.7.6 with lightgbm 2.3. After I save the model and load it, the model gives zero as prediction for everything. It doesn't generate any errors.

[2021-01-06 20:07] datenzauberai opened #3735 "Ignoring set max_bin for categorical features should log a warning to avoid confusing log messages"
When training on GPU and setting max_bin (or max_bin_by_feature), the parameter might be silently ignored for categorical features with number of categories >= max_bin.

Still, the gpu_tree_learner might issue a warning that max_bin should be set for best performance. This behavior can confuse users as they are not given any hint why the set max_bin (as suggested by the warning) has been ignored.

[2021-01-07 06:09] cy-zheng opened #3736 "[Question] LightGBM python library's training speed is much slower than CLI"
Hi,

I'm doing some performance tuning on LightGBM. However, I found with the same configuration and same dataset, LightGBM python library's training speed is much slower than CLI. That result is strange and I don't know why.

Test result:
[code]

As you can see, CLI is 2x faster than python library, without accuracy loss. Do you have some knowledge & insights about this issue?

Thanks for your ki

[2021-01-07 07:57] #3677 closed

[2021-01-07 08:00] #3657 closed

[2021-01-07 08:07] guolinke commented on #3736
did you try to both build python package and CLI by your own?

I saw the different AUC scores, are they really use the same config and data?

Did you count the data loading time? you can try to load data from the file on the python-side.

[2021-01-07 08:16] guolinke commented on #3734
I think it is expected.
For mape objective, there is a "post-fix" for the output values, to avoid being skewing by too large (or too small) prediction values.
refer to code:
https://github.com/microsoft/LightGBM/blob/31bc196aba4841efbeaccae72bcbae997e7228de/src/objective/regression_objective.hpp#L640-L658

As you can see in the above code, when using mape objective, the prediction value will be th

[2021-01-07 08:22] guolinke commented on #3733
I think your model files are re-saved by other programs, like push-then-pull from GitHub, and cause the different line ending encodings.
A simple workaround is, you can try to remove "tree_sizes" filed in the model file.

[2021-01-07 08:24] guolinke commented on #3722
leaf_value is the output of a single tree.
raw_score is the sum of leaf_value of all trees.
For some objectives, like binary, some transformation (like sigmoid for binary) will be applied on raw_score, and produce the final prediction results.

[2021-01-07 15:32] StrikerRUS commented on #3450
OK, I have setup fresh and minimal environment to start debugging process.

What variable do you mean? I run a bash script inside a docker. It's common practise to ask Docker to run something. It can't be a problem. More proofs come from other reports of the same error. I believe users reported them use pretty different scripts and maybe do not use Docker at all. And they for sure do not use any v

[2021-01-07 15:41] austinpagan commented on #3450
Give me like 10 minutes, and I'll do a quick suggestion for some debug around that line 414 in src/treelearner/cuda_tree_learner.cpp...

[2021-01-07 15:44] austinpagan commented on #3450
Just for "synchronization" here's the sum check on my cuda_tree_learner.cpp, before I add debug to it:

    (base) [root@58814263a195 treelearner]# sum cuda_tree_learner.cpp
    36657    40
    (base) [root@58814263a195 treelearner]#

[2021-01-07 15:52] StrikerRUS commented on #3450
Thank you very much!

Have you applied two those fixes?

[2021-01-07 15:59] austinpagan commented on #3450
This may or may not end up being a "fix" if it helps, but it's useful information to have, and it's an easy change.

Please replace line 414 of src/treelearner/cuda_tree_learner with a different line, as follows:

Current line:

    CUDASUCCESS_OR_FATAL(cudaMemcpyAsync(&device_features[copied_feature * num_data_], tmp_data, sizes_in_byte, cudaMemcpyHostToDevice, stream_[device_id]));

Suggested ne

[2021-01-07 15:59] StrikerRUS commented on #3450
Here what I'm getting after a patch:
[code]

[2021-01-07 16:00] austinpagan commented on #3450
Sorry, I don't know how to "apply" a fix.

[2021-01-07 16:04] austinpagan commented on #3450
Oh, never mind.  I see now.  Give me a couple minutes.

[2021-01-07 16:05] StrikerRUS commented on #3450
Done! Building...

Simply change lines `#537-538` in file `src/treelearner/cuda_tree_learner.cpp`
from
[code]
to
[code]
and line `#48` in file `src/treelearner/cuda_tree_learner.h`
from
[code]
to
[code]

[2021-01-07 16:11] StrikerRUS commented on #3641
Kindly ask attention from @guolinke @chivee @shiyu1994 @btrotta to this issue. I'm afraid this issue makes debugging process in #3450 harder.

[2021-01-07 16:12] StrikerRUS commented on #3450
Built! Unfortunately, no changes...

I'm afraid that I can't get more debug info due to the following our issue: #3641.

[2021-01-07 16:13] austinpagan commented on #3450
And, on my end, I can't get this code to build.  So frustrating...

[2021-01-07 16:14] austinpagan commented on #3450
so, when you say "unfortunately, no changes" you mean the error reported is exactly the same, even with the change I proposed?  That would be good news, because it means the error is actually in THAT CALL, and not in some previous call in the same "async thread"...

[2021-01-07 16:15] austinpagan commented on #3450
still claiming the problem is in line 414, right?

[2021-01-07 16:21] StrikerRUS commented on #3450
"this code" = code with these fixes https://github.com/microsoft/LightGBM/issues/3450#issuecomment-756209798?

Maybe you don't have all source files? Could you please try to re-clone the repo and only after that apply a fix?
[code]

Yes, absolutely right.

I guess so. At least the error comes from line 414...

[2021-01-07 17:08] austinpagan commented on #3450
so when I try to build, it's trying to get files from the "external_libs" directory, but in my clone, that directory just contains two empty sub-directories...  any idea whether I'm missing some piece of the build that populates those directories?  It looks like there's a "setup.py" file that mentions this directory, but I don't know who is supposed to execute that setup command...

[2021-01-07 17:09] austinpagan commented on #3450
We are investigating, but I figured it wouldn't hurt to ask you if you just know the answer off the top of your head...

[2021-01-07 17:55] StrikerRUS commented on #3450
Please make sure you don't forgot `--recursive` flag during cloning the repo.
[code]

[2021-01-07 18:16] erodmark commented on #3733
@guolinke thank you! That worked. What does the "tree_sizes" add? Am I losing anything by removing this from my models?

[2021-01-07 18:17] erodmark commented on #3733
@guolinke thank you! That worked. What does the "tree_sizes" add? Am I losing anything by removing this from my models?

[2021-01-07 18:46] StrikerRUS commented on #3450
I've tried and can confirm that we can reproduce the error with simple command-line program. I simplified reproducible example so that it no longer requests Python installation. I believe it will help to sync environments.

Fortunately, the error is still the same. But we do not need a proxy of Python layer anymore. Now we run [simple regression example](https://github.com/microsoft/LightGBM/tree/

[2021-01-07 19:02] StrikerRUS commented on #3450
And here are more verbose logs from the run after applying your proposed change in 414 line of `src/treelearner/cuda_tree_learner.cpp` file https://github.com/microsoft/LightGBM/issues/3450#issuecomment-756205729:

[code]

Hope they will help somehow. Please let me know how can I modify the source code of CUDA treelearner more to get useful info that will help to narrow the problem.

[2021-01-07 19:39] austinpagan commented on #3450
So, sorry for the delay in response.  My colleague seems to be close to figuring out how we can reproduce this problem on Power systems.  You can rest easy for now, because if he is successful, we can handle it from here on out...

[2021-01-07 19:55] StrikerRUS commented on #3450
Oh, great news! Thank you very much!

[2021-01-07 20:34] deadsoul44 commented on #2790
Out of topic but is there any reference to show that NN cannot outperform GBDT in many tabular data? Thank you.

[2021-01-07 21:06] austinpagan commented on #3450
And, it is confirmed.  On my power system, I get this now:

(base) [root@58814263a195 python-guide]# python simple_example.py
Loading data...
Starting training...
[LightGBM] [Warning] CUDA currently requires double precision calculations.
[LightGBM] [Warning] Using sparse features with CUDA is currently not supported.
[LightGBM] [Warning] CUDA currently requires double precision calculations.
[Lig

[2021-01-07 21:07] austinpagan commented on #3450
So, again, I can pursue this now, without pestering you.  Wish me luck!

[2021-01-07 21:15] StrikerRUS opened #3739 "[R-package] duplicated return values in docs"
There are duplicated lines in return statements in our rendered [R-package documentation](https://lightgbm.readthedocs.io/en/latest/R/reference/index.html). For instance,

https://lightgbm.readthedocs.io/en/latest/R/reference/slice.html#value
![image](https://user-images.githubusercontent.com/25141164/103945284-06e28080-5146-11eb-8462-4c993a921416.png)

While normal return statement should look li

[2021-01-07 21:22] StrikerRUS commented on #3450
Hah, in any other situation people shouldn't be happy when someone another gets errors from software, but right now I'm happy! 😄
Hope it won't be hard to find a root cause for you.

Again, if you are not comfortable using Python, please check [this my message](https://github.com/microsoft/LightGBM/issues/3450#issuecomment-756307034) where I show how to reproduce the same error with LightGBM's exec

[2021-01-07 21:30] jameslamb commented on #3739
yes you're right, thanks! Removing the extra `@ return` and then regenerating the docs would fix it. To whoever picks this up, you can regenerate the documentation like this.

[code]

[2021-01-08 10:58] rickyhuw opened #3741 "when predict online is so slowly"
when I reload the 'model.txt' online for predict ranking ,the time over 300ms, how to solve the problem?

[2021-01-08 13:39] h-vetinari commented on #3641
I'm being hit by the same issue, opened #3742 to shift `CheckParamConflict();` after the `LogLevel`-processing.

[2021-01-08 18:04] jameslamb commented on #3741
Can you please provide more details?

* how are you using LightGBM (CLI, Python, R, something else)
* what parameters did you use for training? This will tell us how large the model is.
* what do you mean by "predict online"? Are you re-loading the model each time you generate a prediction?

[2021-01-08 23:33] ChipKerchner commented on #3450
This problem is that the non-CUDA vector allocators were changed to use kAlignedSize with VirtualFileWriter::AlignedSize between 3.0 and 3.1.  Therefore the CUDA vector allocator wasn't allocating enough space in some instances.  Here is a purpose change to fix the CUDA allocator.  simple_example.py and advanced_example.py work with this change.

[code]

[2021-01-09 03:46] guolinke commented on #3733
@erodmark it is used for speed-up model loading, so it won't hurt accuracy.

[2021-01-09 06:27] mdjabc opened #3743 "feature importance"
How can lightgbm calculate the importance of the input feature?
The LightGBM records the number of splits of the input features in a single tree, and then, sum the number of splits in all trees to grade the importance of the input characteristics?
some formula can be provided?such as(https://catboost.ai/docs/concepts/fstr.html#fstr).
Thank you!

[2021-01-09 14:20] StrikerRUS commented on #3743
Yes, you are right!

Here is the code to calculate the importance (2 types):

https://github.com/microsoft/LightGBM/blob/60985495123b0cb99caf0035e953d5152433f85e/src/boosting/gbdt_model_text.cpp#L609-L615

https://github.com/microsoft/LightGBM/blob/60985495123b0cb99caf0035e953d5152433f85e/src/boosting/gbdt_model_text.cpp#L620-L626

[2021-01-09 14:20] #3743 closed

[2021-01-09 14:41] #3641 closed

[2021-01-09 14:52] #3691 closed

[2021-01-09 14:53] #3670 closed

[2021-01-09 14:54] StrikerRUS commented on #3621
Closed via #3683.

[2021-01-09 14:54] #3621 closed

[2021-01-09 14:58] StrikerRUS commented on #3414
@jameslamb I don't think we can do anything with this issue. And

doesn't seem like something critical. Can we close this?

[2021-01-09 15:02] StrikerRUS commented on #3456
Could you provide compilation logs and the guide to how we can reproduce this?

[2021-01-09 15:31] StrikerRUS commented on #3450
@austinpagan @ChipKerchner Awesome! I can confirm that this fix helps to get rid from errors on X86 machines as well. Many thanks for the research you've done and providing the fix!

Would you like to contribute this fix from your account so that GitHub will associate fixing commit with you? Or maybe it's not very important for you and you prefer to let do this to someone from LightGBM maintainers

[2021-01-09 18:37] jameslamb commented on #3414
I'd like to leave it open for a little bit, if that's alright. @jameswinegar gave us what looks like a pretty clean reproducible example, and I would like to come back and look into this in the near future.

[2021-01-09 21:50] wenmin-wu opened #3744 "Python APIs to call Losses/Metrics functions implemented in LGB for general calculation purpose"
## Summary
As I mentioned in this [Kaggle discussion](https://www.kaggle.com/c/riiid-test-answer-prediction/discussion/208031), fast implementations of metrics/losses calculation are very essential in many cases. However, the implementation of other packages is not as fast as LGB. It would be great if LGB can provide Python/R APIs for the calculation of these Metrics/Losses.

## Motivation
Leverag

[2021-01-09 23:53] StrikerRUS commented on #3414
@jameslamb OK, got it.

[2021-01-10 00:01] StrikerRUS commented on #3744
Just to clarify: is your feature request about providing public API for metrics/loses to use in third-party packages?

[2021-01-10 06:17] wenmin-wu commented on #3744
Yup @StrikerRUS , maybe LGB can decouple the metrics/losses to small lib

[2021-01-10 13:43] StrikerRUS commented on #3744
Thanks for elaborating, got it!

[2021-01-10 14:12] guolinke commented on #3741
@rickyhuw LightGBM is mainly optimized for training. For inference, you can convert the model to cpp code (refer to https://lightgbm.readthedocs.io/en/latest/Parameters.html#convert-parameters).
you can also use other libraries, such as treelite, to load LightGBM model.

[2021-01-10 21:17] zyberg2091 commented on #3669
Just use the to_csv() method of the pandas dataframe

[2021-01-11 02:45] cy-zheng commented on #3736
- The CLI and python package did build by my own.
- The difference between AUC is quite small I think, it's only 0.03%.
- I didn't count the data loading time. I downloaded the data to my local disk, then run lightgbm.

[2021-01-11 03:46] guolinke commented on #3736
For python-package, did you load the data to numpy/pandas, then feed to LightGBM?
Could you provide the python code snippets? The speed could vary very much by different usage. Without any codes, it is hard to say why.

[2021-01-11 03:53] guolinke commented on #3735
@shiyu1994 can you help to check this?

@datenzauberai We are trying to remove the old categorical feature support, and use the catboost-like solution.
With the new algorithm, the categorical features will be converted to numerical features before tree learning, and the max_bin will be a hard constraint for it.

[2021-01-11 04:36] guolinke commented on #3646
Sorry for the late response.
For your problem, I think it is quite easy to implement.
You want the tree path length per sample, which actually is the `leaf_depth`.
LightGBM support to record to `leaf_depth`, refer to https://github.com/microsoft/LightGBM/search?q=leaf_depth
You can add a predict function, like `leaf_index`, to get the `leaf_depth` per sample. And use callback to get the leaf_depth

[2021-01-11 04:43] guolinke commented on #3669
you can try the simple solution first.
By converting the pandas to numpy.float32 first, and delete the pandas.
Then try to load from numpy.float32.

If this still cannot work, you can save pandas to csv file, by @zyberg2091 mentioned to_csv. But you need to skip the header and row index. For label, you can put it to the first column; for qid, you can put it to the second column, and refer to https

[2021-01-11 04:45] guolinke commented on #3674
refer to https://github.com/microsoft/LightGBM/blob/master/src/objective/regression_objective.hpp#L93
I think there is `1/2` for the mse loss.

[2021-01-11 04:45] #3674 closed

[2021-01-11 04:47] guolinke commented on #3675
cc @AlbertoEAF

[2021-01-11 04:50] guolinke commented on #3706
thank you, a good feature request!

For use regression objective for classification, I think LightGBM already supports it.
You can use the LightGBM native API, not sklearn API. And then set objective to l2, metric to classification metrics. I think it should work.

[2021-01-11 04:51] guolinke commented on #3706
@btrotta @shiyu1994 are you interesting in implementing Focal loss?

[2021-01-11 05:01] xuyxu commented on #3646
Thanks @guolinke! This is exactly what I want.

[2021-01-11 05:01] #3646 closed

[2021-01-11 05:02] ctwangtz opened #3746 "PLZ provide an easier way to install lightgbm-gpu version"
The method you provided is too complicated to install it easy, and I think  a code like "pip install lightgbm-gpu" is better.

[2021-01-11 07:47] rickyhuw commented on #3741
The Details:
* Python is used and the service is deployed with the flash framework
* parameters:params = {
    'task': 'train',
    'nthread': -1,
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss', 'auc'},
    'num_leaves': 31,
    'num_trees': 400,
    'learning_rate': 0.08,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 3,

[2021-01-11 11:10] StrikerRUS commented on #3744
However, I think it is a good candidate for feature request in any other general-purpose ML library like scikit-learn or special library for set of loses/metrics, not in LightGBM itself. I can't imagine one will install gradient boosting library with cpp code dependency only with the purpose of getting fast particular metric computation. Providing a separate dynamic library for only loses/metrics

[2021-01-11 11:20] StrikerRUS commented on #3746
Closing as a duplicate of #2263.

@ctwangtz If you are on Window, you can try nightly releases which support GPU-training out of the box.

https://github.com/microsoft/LightGBM/tree/master/python-package#install-from-pypi-using-pip

[2021-01-11 11:20] #3746 closed

[2021-01-11 11:37] StrikerRUS commented on #3706
@guolinke

I think sklearn API can be used as well, but the most general class `LGBMModel` from it.
[code]

[2021-01-11 13:39] zyberg2091 commented on #3739
can you provide any helpful link to generate docs like this or could you explain more about the process?

[2021-01-11 14:34] ninenerd opened #3747 "Incremental training with LightGBM - save model and resume on new data"
[code]

Once I have identified the best model params and saved it, I want to retrain on new data using the previous learnt model.
I read we will have to save the model in .txt file and reuse using **init_model**

Any insights how do i save the model and resume training on new data ?

[2021-01-11 14:47] jameslamb commented on #3739
The documentation for the R package is written with [`{roxygen2}`](https://cran.r-project.org/web/packages/roxygen2/vignettes/roxygen2.html), and you can follow the steps in https://github.com/microsoft/LightGBM/issues/3739#issuecomment-756397609 to regenerate them.

[2021-01-11 15:18] StrikerRUS commented on #3450
Fixed via #3748.

[2021-01-11 15:18] #3450 closed

[2021-01-11 17:01] #3542 closed

[2021-01-11 23:37] ChipKerchner commented on #3450
This should fix the remaining CUDA failures.  Let me know if you see any issues.

[code]

[2021-01-12 02:16] shiyu1994 commented on #3706
I can implement it.

[2021-01-12 06:37] tarunreddy1018 opened #3751 "Issue with call to c_api Predict functions in multi threaded way from golang"
**How we are using LightGBM:**

We are using the LightGBM c_api in our service. But this c_api is being called from golang. Basically we have a golang wrapper around the c_api. And we call the c_api functions from golang using cgo.

We get the “lib_lightgbm.so”  library file from the Github release section and use them.

**Version of LightGBM being used:**

3.1.1 (Observed with all versions >= 3.0

[2021-01-12 10:56] StrikerRUS commented on #3751
Linking #2760.

cc @JoanFM

[2021-01-12 11:07] StrikerRUS commented on #3450
@ChipKerchner After applying [this fix](https://github.com/microsoft/LightGBM/issues/3450#issuecomment-758292662) all but two tests are passed! Very nice indeed!

Failures in two remaining plotting tests are not related to CUDA implementation. I believe it is the same `graphviz` environment issue as in https://github.com/microsoft/LightGBM/pull/3672#issuecomment-757642931.

[code]

[2021-01-12 14:17] StrikerRUS commented on #3747
You can use something like this to save the best model and use it as `init_model` later:
[code]

[2021-01-12 14:17] #3747 closed

[2021-01-12 16:36] ChipKerchner commented on #3450
In my branch , test_plotting passes all tests.
[code]

[2021-01-12 16:38] jameslamb commented on #3450
woo! Thanks @ChipKerchner . Like @StrikerRUS mentioned, I think it's very very unlikely that the two failing plotting tests are related to your changes. I found in https://github.com/microsoft/LightGBM/pull/3672#issuecomment-757642931 that there might be some issues with the conda-forge recipe for `graphviz`.

[2021-01-12 17:33] ffineis commented on #3712
Hey I'd like to take this if it's cool - planning mainly base this off of [changes](https://github.com/h2oai/dask-lightgbm/commit/8cc8e83b0235050286a89dbbe2fd9d6b2e08271b) called out in #3515 and try to bring this in line with xgboost.dask.

[2021-01-12 17:38] jameslamb commented on #3712
sure, thank you! I'm really close to having a small reproducible example for the random "cannot bind to port XXXX" issue, will link that here when I've written it up.

[2021-01-12 18:00] ffineis commented on #3712
Omigod lifesaver, thank you!

[2021-01-12 19:10] StrikerRUS commented on #3450
Yeah, thanks for the info about tests @ChipKerchner ! I'm 100% sure that 2 failing plotting tests on our side is related to our environment. And I'll fix this environment issue during working on making CUDA builds run on a regular basis.

[2021-01-12 19:28] JoanFM commented on #3751
I will try to take a look if I take some time but not sure if I will be able soon

[2021-01-12 19:34] JoanFM commented on #3751
From the description it seems to be the thread_id the source of the problem then? So can it be that this is more of a preexisting issue that #2760 just exposed?

[2021-01-12 19:35] JoanFM commented on #3751
Could this be related to https://forum.openmp.org//viewtopic.php?f=3&t=653&start=0 ?

[2021-01-12 19:44] austinpagan commented on #3450
@StrikerRUS: Look at you, making all our dreams come true!!!  Thank you!

[2021-01-12 21:21] StrikerRUS commented on #3450
@austinpagan Thanks a lot for all your hard work!

[2021-01-12 21:28] StrikerRUS commented on #3200
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 21:29] #3200 closed

[2021-01-12 21:29] StrikerRUS commented on #3707
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 21:29] #3707 closed

[2021-01-12 21:31] #3722 closed

[2021-01-12 21:34] StrikerRUS commented on #3606
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 21:34] #3606 closed

[2021-01-12 21:39] jameslamb commented on #3475
I want to add that the `gpu_source` job is working with Clang 7.0.0 on Ubuntu 20.04 on Travis (https://travis-ci.org/github/microsoft/LightGBM/jobs/753978660#L7). So maybe the issue is limited to a subset of clang versions and not all of clang.

[code]

[2021-01-12 21:42] StrikerRUS commented on #3128
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 21:51] StrikerRUS commented on #3313
But please note that things might change:

   https://github.com/microsoft/LightGBM/issues/2966#issuecomment-611500108

I [expect some changes](https://github.com/microsoft/LightGBM/issues/2966#issuecomment-611521270) in the sklearn public API in the (near) future.

[2021-01-12 21:52] StrikerRUS commented on #3313
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 21:52] #3313 closed

[2021-01-12 22:08] StrikerRUS commented on #3244
@daanklijn Will passing callable metric/loss in standard params will suit your needs?
We have something similar for sklearn API and I personally find it more convenient than registering callables.
https://github.com/microsoft/LightGBM/blob/3c0e12dc5cf1bdb941e9845d08ba7b891a935745/examples/python-guide/sklearn_example.py#L65
https://github.com/microsoft/LightGBM/blob/78d31d9ae34c9c8ab2b0f8704c6962c

[2021-01-12 22:09] StrikerRUS commented on #3244
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 22:13] StrikerRUS commented on #3386
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 22:13] #3386 closed

[2021-01-12 22:14] StrikerRUS commented on #3459
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-12 22:14] #3459 closed

[2021-01-12 22:41] jameslamb opened #3753 "[dask] [python-package] DaskLGBMRegressor training error: 'binding port 12402 failed'"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Ubuntu 18.04

C++ compiler version: 9.3.0

CMake version: 3.16.3

Python version: 3.8.5

LightGBM version or commit hash: `master` (https://github.com/microsoft/LightGBM/commit/78d31d9ae34c9c8ab2b0f8704c6962c8d3510062)

## Error message and / or logs

Training with `DaskLGBMRegressor` often f

[2021-01-12 22:43] jameslamb commented on #3753
@ffineis I've assigned this to myself because I'm actively working on it right now. If you have ideas of stuff to try, leave a comment here.

@StrikerRUS I know you're somewhat of a LightGBM historian :joy: . If you remember similar issues with other LightGBM parallel training, please link them here.

[2021-01-12 22:43] StrikerRUS commented on #3062
Yeah, plotting module has been showing real feature names for a long time.
[code]

Script above produces the following image

![image](https://user-images.githubusercontent.com/25141164/104383154-7094cd00-5540-11eb-8aec-4e405ee1ad1c.png)

[2021-01-12 22:43] #3062 closed

[2021-01-12 22:58] StrikerRUS commented on #3753
🤣

Unfortunately I don't...
Probably @imatiach-msft faced something similar.

As a side note, I'm not sure but I guess `--depth=1` will not allow to execute `git checkout ${LIGHTGBM_COMMIT}` with `LIGHTGBM_COMMIT` other than the latest commit in the repo at the time of cloning the repo.

[2021-01-12 23:43] #3658 closed

[2021-01-13 00:41] StrikerRUS opened #3754 "Adjust CMake instructions of CUDA-related code for the recent CMake versions"
CUDA version of LightGBM can be built on Linux via the following instructions
[code]

Right now this results in a lot of CMake policy warnings about that `empty CUDA_ARCHITECTURES not allowed`:
[code]

To close this issue one should adjust [CMakeLists.txt](https://github.com/microsoft/LightGBM/blob/master/CMakeLists.txt) code so that all warnings are gone for CMake >= 3.16 (or for at least any oth

[2021-01-13 01:26] StrikerRUS commented on #3475
Allowing tests to fail and running our CI script further, we can see that all examples work OK but example Notebook fails with `LightGBMError: No OpenCL device found` error.

![image](https://user-images.githubusercontent.com/25141164/104394125-050a2a00-5557-11eb-8560-2cebecb7a1b9.png)

[code]

[2021-01-13 03:18] jameslamb commented on #3753
ha oh yeah, guess I got lucky with the commit I chose. Fixed.

[2021-01-13 04:22] ninenerd commented on #3747
@StrikerRUS One more question, after .fit on new dataset, do we have do Hyper parameter tuning ?
Is is recommended to change/add anything like add estimators ?
Does resuming training simply require init_model and .fit ?

[2021-01-13 04:46] jameslamb opened #3756 "[python-package] type hints in python package"
## Request for Comment

#3581 officially ended support for Python 2 in the Python package.

Now that Python 2 support has been ended, I'd like to propose adding type hints to the library (https://docs.python.org/3/library/typing.html).

Benefits of adding type hints:

* serves as additional documentation about the types of arguments and return types of functions
* allows us to enable `mypy`, a sta

[2021-01-13 05:45] tarunreddy1018 commented on #3751
@JoanFM Let me check with a sample c++ code if my issue is also the same as given in the link. I will get back to you on this soon.

[2021-01-13 06:07] cy-zheng commented on #3736
Hi @guolinke , after many tests I have done, I found some new results which might help us to find the root cause:

My python code:
[code]

I found that when I run the above task, sometimes it finished so fast (about 7000 seconds),  sometimes it finished so slow (about 18000 seconds). I drawed a flame graph for these tasks:

Slow run:
https://raw.githubusercontent.com/cy-zheng/svgs/master/pylib-slo

[2021-01-13 11:53] StrikerRUS commented on #3756
I'm +1.
This shouldn't be hard to add type hints, because for all public API functions (and even some internal ones) all types are already specified in docstrings.

[2021-01-13 12:02] StrikerRUS commented on #3747
It depends on your data. I thinks it will be better to tune hyperparams for a new model, not just reuse params used to train `init_model` model.

[2021-01-13 13:10] ninenerd commented on #3747
@StrikerRUS After training on new dataset with init_model using :
`new_est = lgb.LGBMRegressor().fit(X, y, init_model='model.txt')`
How will grid-search retain the old learning.
Usually we do HPT , identify best params and then fit on data. So where will we accomodate parameter tuning on re-training between these two lines ?
`best_lgbm.booster_.save_model('model.txt')
new_est = lgb.LGBMRegressor()

[2021-01-13 13:15] StrikerRUS commented on #3519
@guolinke

Could you please elaborate on "20 max jobs"? What does it mean? From the docs it is possible to run unlimited number of jobs for free on self-hosted agent.

![image](https://user-images.githubusercontent.com/25141164/104456998-82b35180-55ba-11eb-9288-6796d2860476.png)

[2021-01-13 13:24] StrikerRUS commented on #3747
I guess it should look like the following:

[code]

So that you will tune new model with `init_model` you saved before.

[2021-01-13 14:39] trivialfis commented on #3756
xgboost has been adding type hints gradually and the dask module is completely typed.  From my experience it's quite useful in both documentation and type checks.

[2021-01-13 15:15] AlbertoEAF commented on #3675
Hello @tarunreddy1018 yes this is not thread safe (nor the remaining predict methods). In my case we had to protect the predict calls with a mutex+lock scheme.

LGBM_BoosterPredictForMatSingleRowFast differs from the LGBM_BoosterPredictForMatSingleRow in the sense that it keeps your "prediction settings" and booster in your FastConfig (`m.config`) which is only used "read-only" by `LGBM_BoosterPre

[2021-01-13 15:56] #3519 closed

[2021-01-13 17:14] jameslamb commented on #3753
This morning, I tested the theory that LightGBM just cleaning up the network correctly. I tried to test this by changing `local_listen_port` to a new value on each training run, so that each run was looking at a different and non-overlapping range of ports. But that did not work.

I added this to the beginning of each test iteration

[code]

And then ran 10 times in a row again.

[code]

1. SUCCES

[2021-01-13 18:13] civilinformer opened #3758 "[python] Lightgbm.sklearn LGBMRegressor Subclassing Support"
I am trying to plug the LGBMRegressor into my ML pipeline and so need to subclass it.

That does not seem to work, well at least parameters are not set and I have not gotten any further than that.

Here is some code to reproduce the problem:

[code]

Now when trying to use this:

[code]
There is no effect. For some reason subclassing does not work?!

On the other hand getting params works for LGBM

[2021-01-13 18:16] jameslamb commented on #3753
**NOTE** I'm going to keep posting debugging findings here, but please feel free to unsubscribe from this issue. I'll open a PR or `@` people when I think I've found a solution.

<hr>

**Summary**

I tried that MPI version of LightGBM and found that this issue doesn't occur, but only because `lightgbm.dask` doesn't correctly use the MPI version of LightGBM. That can be a separate issue.

<details>

[2021-01-13 18:24] imatiach-msft commented on #3753
@jameslamb I think this is all expected, I don't see anything wrong with lightgbm - ports could be used for a variety of reasons.  The problem is with the dask-lightgbm code, since it doesn't try different ports.  In mmlspark, we have special retry logic that tries a specific port and, if it doesn't work, tries the next port.

[2021-01-13 18:29] imatiach-msft commented on #3753
@jameslamb this is written in scala but it might be useful:

https://github.com/Azure/mmlspark/blob/master/src/main/scala/com/microsoft/ml/spark/lightgbm/TrainUtils.scala#L411

note how we try different ports starting from a user-specified default listen port up to the number of tasks on the machine - we don't assume that some port range will just always work.  One we have the ports we are interes

[2021-01-13 18:33] tarunreddy1018 commented on #3675
Hi @AlbertoEAF , I have tested with multi-threading (from golang wrapper code which uses c api) with pre-v3.0.0 code. In fact we used v2.3.1 in production and all the predictions were as expected and consistent. This is expected because v2.3.1 had a lock guard in the beginning of predict function call. So, even if it is called in multi-threading way, only one thread executes the predict function a

[2021-01-13 18:41] ffineis commented on #3753
Nice! Then it just sounds like the `_build_network_params` method in `dask.py` needs to be made a little more adaptable than the existing

[code]

[2021-01-13 19:10] AlbertoEAF commented on #3675
Interesting @tarunreddy1018. Recalling better, I used 2.3.150 from lightgbmlib (Microsoft's Java bindings), which corresponds to some commit between tags v2.3.1 and v2.3.2, and already had random scores unlike you when not using locks on my user code, which makes me believe the issue is here for longer than expected.

However, ignoring my results, it seems from your observations there was a regres

[2021-01-13 19:16] tarunreddy1018 commented on #3751
Hi @AlbertoEAF, Can you check this thread. That one was an older thread which I had posted before I did any observations

[2021-01-13 19:26] JoanFM commented on #3751
Did u manage to reproduce the issue as in the thread @tarunreddy1018 ?

[2021-01-13 19:36] tarunreddy1018 commented on #3751
Hi @JoanFM , I have not yet tried reproducing the issue, I will first try to check running few sample c++ code as mentioned in the link. This will help in giving a clear picture. If the thread_id (tid) still comes out to be 0, then the issue was something related to our openmp library linking and not really with c api. But will check that and get back to you on the same thread.

Mean while can you

[2021-01-13 19:37] jameslamb commented on #3753
thanks for noting that! and to @imatiach-msft for the ideas. I think that one issue I'm seeing is that `lightgbm.dask` is returning before it's cleaned up the sockets it created.

I tried running training with my example above, and in a shell I ran the following

[code]

During training on a `LocalCluster` with three workers, I get a result like this

[code]

Once training ends, that same command

[2021-01-13 19:42] JoanFM commented on #3751
Hey @tarunreddy1018 ,

I did add the shared and unique locks under the assumption that const functions have no risk to change the object while keeping unique locks for non-const functions. So from this point of view I do not see why it would be unsafe to run it in a multithreaded way, however I am not so sure about the design and the robustness that was put from the beginning into it.

When I open

[2021-01-13 19:43] AlbertoEAF commented on #3751
Thanks for the very detailed report @tarunreddy1018 ;)

Great catch @StrikerRUS! I was looking for that

I think @JoanFM might be dead right, as in my experience lightgbmlib 2.3.150 (which corresponds to some commit between v2.3.1 and v2.3.2) this random scores already existed when using Java. Such is the case that we had to use synchronization on our Java provider code.

Here is the proof, we had

[2021-01-13 19:53] AlbertoEAF commented on #3751
I wonder if with so much macros, pointer manipulation and shared variables a method being const is any guarantee of constness?
Most probably it's not and we need to review the code more carefully.

[2021-01-13 19:56] AlbertoEAF commented on #3751
@tarunreddy1018 can you just reformat your original question to have the code block encased by a line starting with 3 backquotes  and cpp (i.e. "\```cpp"), followed by the code block and then terminated with a line with 3 backquotes: "```"?

Thanks :)

[2021-01-13 19:58] JoanFM commented on #3751
I remember doing looking at the code and seemed safe but sure I may have missed something.

[2021-01-13 20:00] tarunreddy1018 commented on #3751
@AlbertoEAF  reformatted

[2021-01-13 20:03] AlbertoEAF commented on #3751
Yeah and from my point of view, the problems start before that even. I don't have time to look into this but at least @tarunreddy1018 's thread id observations might be a hint for someone to explore.

In the meanwhile I'd suggest @tarunreddy1018 to put a lock in your code at least for now if you have some urgency as I don't think this can easily be fixed soon. It's still faster to use v3.1 than v2

[2021-01-13 20:07] tarunreddy1018 commented on #3751
@AlbertoEAF So, you would suggest to make a change in c api myself to have a lock in predict call. And build the library from that. And use this library right? This should give some performance improvements compared to 2.3.1

[2021-01-13 20:07] tarunreddy1018 commented on #3751
@AlbertoEAF Sure, I will check with thread id thing soon as soon as I get some time.

[2021-01-13 20:30] AlbertoEAF commented on #3751
@tarunreddy1018 I was suggesting doing the lock on the golang side around predicts, much easier :)

Of course you can always modify the code and re-compile lightgbm but I don't think that will get you more performance than the solution above and will let you later try out different versions with and without your lock, meaning that when a new version comes out fixed you only need to remove your loc

[2021-01-13 20:33] tarunreddy1018 commented on #3751
Yes Thanks, Will keep things posted as soon as I find any observations. That should help @AlbertoEAF :)

[2021-01-13 21:11] imatiach-msft commented on #3753
@jameslamb I agree with your findings - it would be great to find a cleaner way to close ports if possible.  However, the current implementation is wrong anyway because it assumes all ports in those ranges are available.  In practice, any application could be running and using some of those ports already - and the only way to find out if they are already used is actually to just try and bind to th

[2021-01-13 21:12] jameslamb commented on #3753
totally agree, thanks for pointing me in the right direction!! I almost have something working right now, will open a PR soon.

[2021-01-13 21:27] szilard opened #3759 "Scikit-learn API vs Classic (Training) API different results?"
lightgbm v 3.1.1

The AUCs do not match:

Scikit-learn API:

[code]

Training API:

[code]

Full code with data download here:

[code]

[2021-01-13 21:33] JoanFM commented on #3751
I had a little closer look at the code, and it seems that this `predict_buf_` is  resized to the size of OMP_NUM_THREADS() it would be interesting to know which value u get there.

My question is how it was this multithreading using OMP was being used if there was a lock guard protecting the c_api.

I understand u are calling at this function, am I right?

[code]

And the code snippet you shared i

[2021-01-13 22:23] dmh43 opened #3760 "Using continuous relevance labels for ranking"
Currently, we specify the label gains when instantiating the model: `LGBMRanker(label_gain=[0, 1, 3....])`. The gain is then looked up from this list according to the index specified by the target. Is it possible to instead have the target specify the gain directly? In other words the target would be like this: `np.array([0.54, 1.3, 0.83.....])`.

My motivation is to use a soft label as the target

[2021-01-13 23:13] StrikerRUS commented on #3759
Hello @szilard !

The issue is that params in two methods are not exactly the same.
Default objective function in "Classic (Training) API" is [`regression`](https://lightgbm.readthedocs.io/en/latest/Parameters.html#objective). While for the scikit-learn API you use `LGBMClassifier` class which has default objective `binary` (for your data).

Simply add `"objective": "binary"` to your params that a

[2021-01-14 06:20] ZhangTP1996 opened #3761 "Non-deterministic even with "deterministic=True" "seed=0" and the same number of threads in LightGBM==3.1.1"
LightGBM component:

## Environment info

Operating System: Linux

CPU/GPU model: CPU

Python version: 3.7.3

LightGBM version or commit hash: 3.1.1, installed by pip

## Error message and / or logs

## Reproducible example(s)

[code]

[data.zip](https://github.com/microsoft/LightGBM/files/5812610/data.zip)

The data to reproduce is attached in the zip file. Please fill in the "path" and run the c

[2021-01-14 06:22] guolinke commented on #3761
@shiyu1994 can you help to check this? it may be related to the bugs you fixed recently.

[2021-01-14 06:25] guolinke commented on #3736
@cy-zheng can you disable the validation and try again?
The validation in python-package has overhead for copying prediction/results.

[2021-01-14 07:34] JoanFM commented on #3751
Another observation I found is,

It feels that what OpenMP is trying to do and what the `unique` / `shared` locks are trying to do are two different parallelization models.

OpenMP is trying to parallelize one single prediction as much as possible around multiple trees, thus I guess optimizing for the speed of a single `predictor` while the shared/unique lock tries to enable to use the same predic

[2021-01-14 07:38] szilard commented on #3759
Oh, fantastic, thanks @StrikerRUS for quick reply and clarifying the issue. So, my bad, sorry about that (I'm mainly an R person, but now experimenting a little bit more with the python API). Thanks again and cheers!

[2021-01-14 08:10] #3759 closed

[2021-01-14 08:30] tarunreddy1018 commented on #3751
Hi, @JoanFM , The methods that we have been trying were ```LGBM_BoosterPredictForMatSingleRow``` and ```LGBM_BoosterPredictForMatSingleRowFast``` and it looks like these two methods are not creating a new Predictor object for each thread. But rather they have a "unique_lock" and they only let one thread to create a new Predictor object and all the other threads use this predictor object once creat

[2021-01-14 08:53] JoanFM commented on #3751
So maybe there is a problem that some of the Predictions can be thread safe and other can't.

I do think that the OMP num_threads are supposed to work for a single prediction, but I have not much expertise on that

[2021-01-14 11:52] tarunreddy1018 commented on #3751
I was thinking can we have the same logic as we had in other predict functions which are thread-safe. I mean to say that can we also have the other 2 predict functions also create a new Predictor object for each call as they do in other predict function. I believe this makes the other two thread safe as well. Right now the state of those 2 predict functions are such that we can only call one at a

[2021-01-14 12:01] JoanFM commented on #3751
I would agree, but I am not surr if allocating the buffer at each call may degrade the performance of single threaded too much? but anyhow it would benefit from more consistency.

But as you I am not sure if it had some specific intentions

[2021-01-14 12:37] StrikerRUS commented on #3759
No problem! Feel free to post new issues about Python-package if you find something is unclear there. Cheers!

[2021-01-14 12:52] AlbertoEAF commented on #3751
Which ones create a Predictor all the time? The versions that are not "SingleRow" ?
If so it makes sense, as creating a Predictor per single prediction can generate a large overhead. Remember that in low-latency scenarios memory allocation is one of the biggest factors.

I don't mean it can't be tried, but it would have to be benchmarked, and the single-thread scenario too. Maybe it's really the c

[2021-01-14 13:24] tarunreddy1018 commented on #3751
@AlbertoEAF yes for example ```LGBM_BoosterPredictForMats```, ```LGBM_BoosterPredictForCSR```,  ```LGBM_BoosterPredictForMat``` all these predict functions make a call to this line
[code]
This makes me suspect that all these predict functions create a new Predict object per thread call. And this Predictor Object has
```predict_buf_``` vector of vectors as one of its field and each call to this Pre

[2021-01-14 14:15] tarunreddy1018 commented on #3751
Hi, I have just verified and the predictions were consistent and as expected in multi threaded way with predict functions other than these two ```LGBM_BoosterPredictForMatSingleRow``` and ```LGBM_BoosterPredictForMatSingleRowFast```. So, my guess was right that these single row predict functions are not thread safe since all of them share the same Predictor object.

[2021-01-14 14:16] AlbertoEAF commented on #3751
Yes exactly @tarunreddy1018 :)

True you can always use the "batch" prediction methods with a single instance if you want to do parallel calls ;). And yes,  the single instance versions are optimized variants that minimize allocation overheads.

I think it would be nice to have confirmation from @guolinke, @StrikerRUS, or another of the main devs that this is not a bug. If it's really the case tha

[2021-01-14 14:18] JoanFM commented on #3751
I think the first action ahould be to add UNIQUE_LOCK to thr unsafe ones and add some documentations and learning from this thread?

[2021-01-14 14:19] AlbertoEAF commented on #3751
If you guys can make a PR and test with the unique lock and test that it no longer creates random outputs that would be great ;)

[2021-01-14 14:34] JoanFM commented on #3751
I am very short in available time to be honest. @tarunreddy1018 maybe since u have now the setup for the test you may be able to test that?

[2021-01-14 14:41] tarunreddy1018 commented on #3751
@JoanFM Yes I can put a "unique_lock" in the beginning of predict call and build the code and test if it makes it thread safe. And report over here. But regarding the performance I may not be able to do it full fledged since my setup is from golang and it may not be a true one. But definitely I can test if having a unique lock makes these two predict functions thread safe. If yes, then I believe t

[2021-01-14 14:52] StrikerRUS opened #3763 "List of dependencies that should be updated from time to time"
Here is a list of different places in LightGBM's GitHub repo where we specify some dependencies or helpers. Quite often we should specify a particular version of such software. And these versions are tend to obsolete with time. If you see that there is a newer version comparing to what we have, please feel free to propose a PR with updates.

- SHAs of commits of third-party dependencies in the [`e

[2021-01-14 15:02] StrikerRUS commented on #3751
@AlbertoEAF

Absolutely agree! But I don't have any serious experience with cpp code, sorry. So I believe only @guolinke @chivee @shiyu1994  @btrotta can help.

[2021-01-14 15:14] guolinke commented on #3519
@StrikerRUS The self-hosted agents are running on a scale-set, and I currently set its max size to 20. So the max parallel job is 20.
If more jobs are needed, I can increase the size.

[2021-01-14 15:23] shiyu1994 commented on #3761
@ZhangTP1996 The non-deterministic behavior comes from col-wise and row-wise histogram construction strategy. A quick fix to get a deterministic behavior is to set `force_row_wise=True` or `force_col_wise=True`. Otherwise LightGBM automatically chooses col-wise or row-wise strategy using a simple test which can make a different decision in each time.

However, ideally col-wise and row-wise should

[2021-01-14 15:36] StrikerRUS commented on #3519
@guolinke So one agent can execute only one job at a time. Got it! Right now we have 16 Linux jobs which utile self-hosted `sh-ubuntu` pool. I believe it is more than enough, thanks a lot!
And does one VM can handle only one agent?

[2021-01-14 16:03] ZhangTP1996 commented on #3761
Thanks for the rapid response. I will check this tomorrow.

[2021-01-14 17:01] szilard opened #3765 "R package install with GPU support fails"
This used to work:

[code]

Now, I get this error:

[code]

If I build the docker image with the last `RUN` entry commented out:

[code]

with

[code]

and then run it:

[code]

then I can run things manually:

[code]

gives the same error.

However, just compiling lightgbm (not the R package) seems fine:

[code]

as here:

[code]

though I also see
[code]

but it compiles anyway:

[code]

So ther

[2021-01-14 17:28] jameslamb commented on #3765
Thanks very much for the detailed report and great reproducible example! I'll take a look at this later today.

[2021-01-14 17:51] szilard commented on #3765
Thank you so much @jameslamb

[2021-01-14 19:11] szilard commented on #3765
Actually, the old way of installing the R package works:

[code]

[2021-01-14 19:59] szilard commented on #3765
Oh, I was wrong, the old method above compiles indeed, but it actually does not work:

[code]

[2021-01-14 20:16] StrikerRUS commented on #3765
@szilard Hey!

Let me put my two cents in it 🙂 . I completely out of ideas how `sed`-based installation is working while argument-based one is not. Hope @jameslamb will find the root cause.

But I took a look at your Docker file. Seems that you are inheriting from `nvidia/cuda:11.0-devel-ubuntu20.04` image. [`devel` part in it makes me sure that that image has already OpenCL libraries installed.](

[2021-01-14 20:24] StrikerRUS commented on #3765
BTW,

Probably this is the reason... I mean, maybe appropriate env variables are already set in Docker command line, but R doesn't see them.

[2021-01-14 20:25] szilard commented on #3765
Well, as I corrected myself later, the `sed` version actually does not work properly anymore either (it compiles, but it does not add GPU support actually).

Yeah, my Dockerfile has a history of additions over the years (and hacks like the `echo "libnvidia-opencl.so.1" > /etc/OpenCL/vendors/nvidia.icd` thing), I'll see if I can clean it up with your suggestions @StrikerRUS.

However, lightgbm comp

[2021-01-15 11:00] ZhangTP1996 commented on #3761
It seems that setting ```force_row_wise=True``` solves my current issue. Thanks!

[2021-01-15 11:49] szilard commented on #3765
Trying to understand what's going on, trying to strip down things as much as possible:

**If I remove the `ocl-icd-opencl-dev opencl-headers clinfo` install from my docker:**

[code]

Then the R install errors out (obviously) with:

[code]

The non-R install works even if striped down to this (no need for any ENV variables or any other compiler flags mentioned above by @StrikerRUS ):

[code]

Remo

[2021-01-15 12:41] szilard commented on #3765
If I make this change in `R-package/src/install.libs.R`:

[code]

then it finds OpenCL:

[code]

However, then it can't find Boost now:

[code]

It seems like the R build script cannot find the necessary paths anymore somehow, not only OpenCL.

[2021-01-15 13:11] StrikerRUS commented on #3765
Could you please try adding Boost paths (`-DBOOST_INCLUDEDIR=`) to `cmake_args`  here as well?
[code]

On our CI it finds Boost in `usr/include`:

[code]

Actual path for your Docker you can take from a successful installation from command line, I believe. Though, it's quite strange.
[code]

I'm not sure that newer version from Ubuntu ppa is better than preinstalled native version from NVIDIA in c

[2021-01-15 13:13] StrikerRUS commented on #3765
@jameslamb I believe R-package needs the same additions command line options for GPU-version as our Python-package:
[code]
https://github.com/microsoft/LightGBM/tree/master/python-package#build-gpu-version

[2021-01-15 13:41] szilard commented on #3765
I can't make it pass Boost by adding `-DBOOST_INCLUDEDIR=` to `cmake_args`.

[2021-01-15 13:42] szilard commented on #3765
All this strange, because last time I ran the benchmarks (September 2020) it was all working.

[2021-01-15 14:00] Marmeladenbrot commented on #2742
I have this error on CPU with the latest version on Windoes 10 x64.

Data is private so I sadly can't share it.

`Check failed: (best_split_info.right_count) > (0) at c:\users\vssadministrator\appdata\local\temp\pip-req-build-lqyem8a1\compile\src\treelearner\serial_tree_learner.cpp, line 661 .`

[2021-01-15 14:03] StrikerRUS commented on #3765
Please try `-DBOOST_INCLUDEDIR=/usr/include/boost` in `cmake_args`. And in case of failure again, add `-DBOOST_LIBRARYDIR=/usr/lib/x86_64-linux-gnu` as well.

[2021-01-15 14:03] szilard commented on #3765
Indeed, with this Lightgbm commit 7e11d4aeabd4a39ff (Aug 30, 2020) and using the old `sed` method:

[code]

it works:

[code]

[2021-01-15 14:08] szilard commented on #3765
Well, actually I don't know, it compiles, though now I'm on an instance without GPU, so I'm not sure if it adds GPU support (yesterday it seemed that the old `sed` thing compiles with the latest commit, but it does not add GPU support)

[2021-01-15 14:21] szilard commented on #3765
Sorry for possible confusion, maybe I did not explain it the best way, what I mean is that

[code]

seems to always compile OK, but in the latest lightgbm version it actually does not add GPU support.

In fact I think I'm able to see if GPU support was added even on this non-GPU instance, because with old commit  7e11d4a (Aug 30, 2020) after compiling with the `sed` thing,  I get:

[code]

while w

[2021-01-15 14:31] szilard commented on #3765
With this:

[code]

(added boost libdir but not the include)

it compiles:

[code]

and it will probably run.

I get

[code]

but on a box without GPU (good sign), I'll have to try it out on an instance with GPU.

The code I'm running btw:

[code]

[2021-01-15 14:40] StrikerRUS commented on #3765
Nice, given that the error happens on non-GPU machine! Indeed good sign!

But please note that successfully compiled GPU version and using `device_type='gpu'` in params may still result in training on CPU. This can occur with CPU that have onboard graphics and some combination of system-wide default platform and device (refer to [`gpu_platform_id`](https://lightgbm.readthedocs.io/en/latest/Paramet

[2021-01-15 14:49] StrikerRUS commented on #3732
- [ ] `test_basic.py`
- [ ] `test_consistency.py`
- [ ] `test_dask.py`
- [ ] `test_dual.py`
- [ ] `test_engine.py`
- [ ] `test_plotting.py`
- [ ] `test_sklearn.py`

[2021-01-15 16:42] szilard commented on #3765
or use `nvidia-smi` ;)

[2021-01-15 16:59] #3753 closed

[2021-01-15 17:09] jameslamb opened #3768 "[dask] Search for open ports only once per IP"
## Summary

In LightGBM distributed training (documented [here](https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html) and [here](https://lightgbm.readthedocs.io/en/latest/Features.html#optimization-in-parallel-learning)), each worker needs access to a list of all other workers' IPs + a port to communicate with them over.

#3766 updated `lightgbm.dask` to search for open ports on

[2021-01-15 17:11] jameslamb commented on #3768
Adding this to #2302 and closing it, per our practice for managing features. Anyone is welcome to contribute this feature! Please leave a comment here if you're interested in contributing it.

[2021-01-15 17:11] #3768 closed

[2021-01-15 17:23] szilard commented on #3765
I ran it on an instance with GPU (p3 with V100):

With this patch:

[code]

that is by using this hack in my Dockerfile (and with `ocl-icd-opencl-dev opencl-headers clinfo` added back):

[code]

it is compiling and running OK.

Full Dockerfile: https://github.com/szilard/GBM-perf/blob/f34c37357e82f7dd3d8f30e5625a7f268a3b98a5/gpu/Dockerfile

Full R code running: https://github.com/szilard/GBM-perf/

[2021-01-15 17:23] ningxb1570 opened #3769 "[R-Package] How to distinguish trees constructed for different classes in the output of lgb.model.dt.tree"
Hi. I'm using lightgbm package on R 3.6.1. I'm working on a multi-class classification problem and would like to take a closer look at the tree structure. The documentation says that "LightGBM constructs num_class * num_iterations trees for multi-class classification problems". This is consistent with what I saw from the output of lgb.model.dt.tree. But the tree_index ranges from 0 to num_class *

[2021-01-15 19:13] StrikerRUS commented on #3765
Those paths are default ones. Very strange that they are not propagated into R...

[2021-01-15 21:07] szilard commented on #3765
Sounds great @jameslamb

[2021-01-15 22:54] jameslamb commented on #3713
opening this as I'm actively working on it at the moment

[2021-01-16 03:24] jameslamb commented on #3769
Hi @ningxb1570 , thanks for using `{lightgbm}`!

**Short Answer**

For a multiclass task, the trees in the data.table created by `lgb.model.dt.tree()` are ordered by class. So for `num_class = 3`, for example, you'd have the following:

| tree_index | iteration number | class |
|:----------:|:----------------:|:------:|
|0                | 0                          | 0         |
|1

[2021-01-16 05:15] ningxb1570 commented on #3769
@jameslamb Thanks for providing such a detailed answer. That's very helpful!

[2021-01-16 06:28] ninenerd commented on #3747
@StrikerRUS One last question, in my initial model I am using PCA for feature engineering, so two objects will be saved i.e min-max scaler and PCA object.
When i resume training on data , will i have to create new objects or re-use old model objects for min-max and PCA ?
Thanks

[2021-01-16 17:50] AlbertoEAF commented on #3751
Hello @tarunreddy1018 I did a small C++ benchmark with 2 threads, 2 different input events and 500k instances each, and can confirm your and @JoanFM 's observations.
I changed the shared lock to unique lock and confirmed scores in the C++ side stop having errors. Given that there is a lock there, this can only be classified as a bug and so I can submit a patch.

Even so, I am getting performance i

[2021-01-16 19:32] AlbertoEAF commented on #3751
Yup, with the Fast variant I get:
- 1 thread ~  29s
- 2 threads ~ 36s
- 4 threads ~ 55s

I changed the parallelization of the benchmark so each thread would fill N consecutive positions of the output array to minimize cache lines collisions but at the end I still get the same behaviour: worse performance with more threads.

@tarunreddy1018 maybe you can test later on your own with 1 thread or more

[2021-01-16 20:06] tarunreddy1018 commented on #3751
Hi, @AlbertoEAF , are all you benchmarks based on putting a unique_lock in the predict function?

I had 2 suggestions that we can try:

1. Either have a unique_lock in the predict function (Giving up on performance, But good in terms of allocation overhead)
2. Or Still have a shared_lock but now each call will use its own vector. Thus avoiding race conditions. (Improving on performance, But has sl

[2021-01-16 20:47] StrikerRUS commented on #3763
@jameslamb Please help to clarify. Should we monitor new releases for R 3.x stuff or they have been frozen forever?

[2021-01-16 20:59] JoanFM commented on #3751
maybe the best way is to add unique lock for now as quick patch and then maybe we can add a set of functions for multithreaded usage? or that would be too much mantainance overhead?

[2021-01-16 21:03] jameslamb commented on #3763
No R 3.x resources will change.

Rtools for R 3.x is frozen forever. https://cran.r-project.org/bin/windows/Rtools/history.html

![image](https://user-images.githubusercontent.com/7608904/104822902-9a354900-580b-11eb-83a8-48f8ac99775a.png)

We also do not need to look for new versions of R itself. R doesn't have a concept of "long-term support" releases like other projects. So you won't see a bugf

[2021-01-16 21:06] tarunreddy1018 commented on #3751
@JoanFM Yes, agree. We can make it shared_lock or may be as you said have a seperate function for multi threaded usage. If doing so gives good performance sometime later. For now may be I will try out with shared lock approach and try having a new vector for each call and test it out for my use case. If it looks good then may be I will report later. So, that a thought can be given on that directio

[2021-01-16 21:24] StrikerRUS commented on #3763
I'm so sorry for my English, but I can read this answer in two ways. Which is correct? 😄

____

Ah, I see, thanks! Removed from the list.

I see there are

[code]

What about `4.0.4`? Why we shouldn't wait for it?

[2021-01-16 21:25] AlbertoEAF commented on #3751
Hi @tarunreddy1018 @JoanFM :)  As you can see from the PR https://github.com/microsoft/LightGBM/pull/3771 description and the benchmark code the change to unique lock at the `PredictSingleRow` level is enough to make it thread-safe.

Notice that neither `RowFunctionFromDenseMatric_helper` nor `RowPairFunctionFromDenseMatric` require locks as they allocate new memory without sharing internal variab

[2021-01-16 21:30] jameslamb commented on #3763
Oh sorry, let me rephrase.

* there will never be a new R 3.x release
* there will never be a new Rtools 3.x release

For 4.x series, there will continue to be new releases. They tend to do 4 or 5 per year. The next release of R will be R 4.1.0 (). That might or might not involve a new Rtools 4.x release. I use this mirror of the R source (R development is not actually done on GitHub) to keep trac

[2021-01-16 21:37] #3769 closed

[2021-01-16 21:51] tarunreddy1018 commented on #3751
```So a shared_lock wouldn't help us here, except if we go down one extra level of lock granularity, but this is already pretty tricky as we have virtual functions etc and in terms of maintenance would be pretty hard to maintain.```

@AlbertoEAF In the above statement, you meant to say that the performance gains that you got with shared lock and unique lock are almost similar right. So, shared loc

[2021-01-16 21:53] JoanFM commented on #3751
I think that the measure that needs to be counted is the amount of predictions we can do in a unit of time and not the speed of the prediction right?

[2021-01-16 22:05] StrikerRUS commented on #3763
Thank you very much!
Then I'm removing R 3.x from the list as well.

Got it, great! Then I think we can have them both in the list.

Quite frequent. For instance,

VS releases have 2-year cycle, but I still find it useful to have VS mentioned here.

[2021-01-16 22:24] AlbertoEAF commented on #3751
I meant doing locking only inside the predictor exactly where needed in the inner calls of SingleRowPredict, so every statement that is parallelizable could be parallelized.
But yes, I also got the same execution time with unique and shared locks on that PR benchmark (though the shared locks produced wrong scores obviously).

Exactly, as I do 3M predictions, if it had a higher throughput the progr

[2021-01-16 22:25] JoanFM commented on #3751
Ok I see @AlbertoEAF thanks!

[2021-01-16 22:55] tarunreddy1018 commented on #3751
Thanks @AlbertoEAF @JoanFM

[2021-01-16 23:14] AlbertoEAF commented on #3751
Hi again @tarunreddy1018 :)

I tried your idea of merging those two functions. Approach 1 was the laziest, turning the ..._helper() to a function that returns a function (basically computes the offset vs the data pointer), this allows us to have a single representation (pairs (int, value)): https://github.com/microsoft/LightGBM/compare/706f2af7badc26f6ec68729469ec6ec79a66d802...feedzai:single-row-

[2021-01-17 00:00] AlbertoEAF commented on #3751
Ok I just profiled the benchmark, and it's normal that those changes have little/no effect. All the time is spent in internal calls already. Consider as 100% execution time the part of the code with the C API predict call `LGBM_BoosterPredictForMatSingleRowFast`, the `Predict` method spent >97% of execution time.

(Notice that I used valgrind, so I am not accounting for the mutex contention time t

[2021-01-17 04:38] AlbertoEAF commented on #3751
Ok, after reading the code over and over I can say 2 things:
1. Code is highly coupled in the back-end between Booster & Predictor. There's no sane way of changing that. So, if you want full multi-threaded performance you should instead REMOVE the unique lock from the single predictor (thread-unsafe) and you build on your side a thread pool with N threads, and 1 Booster and FastConfigHandle PER th

[2021-01-17 05:00] tarunreddy1018 commented on #3751
@AlbertoEAF Right, I agree with that. I will try out as you suggested. Thanks for the information. I guess this is fine for now.

[2021-01-17 06:48] jameslamb opened #3775 "[dask] make Dask training resilient to worker restarts during network setup"
## Summary

LightGBM distributed training requires that all workers participating in training know about each other (https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html#preparation). This information is given via the parameter [`machines`](https://lightgbm.readthedocs.io/en/latest/Parameters.html#machines).

LightGBM's Dask module generates a list of workers by checking where pi

[2021-01-17 06:50] jameslamb commented on #3775
Closing this, as we use #2302 to track feature requests. Leave a comment below if you'd like to contribute this feature, and we'll be happy to re-open it!

[2021-01-17 06:50] #3775 closed

[2021-01-17 06:58] jameslamb opened #3776 "[dask] GPU support"
## Summary

The Dask interface in https://github.com/microsoft/LightGBM/blob/706f2af7badc26f6ec68729469ec6ec79a66d802/python-package/lightgbm/dask.py currently only supports CPU-based training.

It should support GPU-based training as well, for those who want to use `lightgbm.dask` to perform multi-GPU training (https://github.com/dask/community/issues/104#issuecomment-718755797).

## Motivation

[2021-01-17 06:59] jameslamb commented on #3776
Closing this, as we use #2302 to track feature requests. Leave a comment below if you'd like to contribute this feature, and we'll be happy to re-open it!

[2021-01-17 06:59] #3776 closed

[2021-01-17 11:33] wonghang commented on #3679
@shiyu1994  Just for your information.

I also got a similar error and then I google on the web and found this issue.

I am using LightGBM 3.1.1 (the version that I can install from "pip3 install lightgbm")
I run it with missing_data=True, regression task, least-square error, no GPU, big data set

I got the following error at some point:
[code]

I saw #3694 had been merged. Therefore, I compile th

[2021-01-17 14:07] AlbertoEAF opened #3778 "[bug] Creating multiple boosters from file results in broken scores."
Using the master branch, if I create 2 boosters from file using the C API, I get broken scores from all but the first created booster:

[code]

Meaning, only the first booster created works properly.

I'm on Ubuntu 18.04, x86_64.

Thank you

[2021-01-18 04:58] jameslamb commented on #3765
Thanks to both of you for all the great information, and a nice reproducible example!

I've proposed what I think could be a fix, in https://github.com/microsoft/LightGBM/pull/3779. It wouldn't "just work", but would at least allow you to pass in these paths as command-line args like you can in the Python package, so no one would need to use `sed` to re-write `install.libs.R`.

[2021-01-18 05:10] jameslamb opened #3780 "[R-package] Add an R GPU job in CI"
## Summary

CMake-based builds of the R package support building a GPU-accelerated version of LightGBM (https://github.com/microsoft/LightGBM/blob/master/R-package/README.md#installing-a-gpu-enabled-build).

This feature is not currently tested in a continuous integration (CI) job, but it should be.

## Motivation

The lack of automated tests for the R GPU package means it can be broken by changes