[2018-01-08 03:19] startakovsky commented on #1181
@guolinke the following does work... and for now I will use this approach to track `gbm.best_iteration_`. Just hoping it would also work when supplied to `params` (i.e. `lgb.LGBClassifier(**params)`.

![image](https://user-images.githubusercontent.com/689723/34657898-84e1b176-f3df-11e7-817a-571983a99f87.png)

[2018-01-08 03:23] joseortiz3 opened #1182 "Quantiles Regression is Poorly-Calibrated"
## Environment info
Operating System: Windows 10 64
CPU: i7-7700k
C++/Python/R version: Python 3.6 Anaconda 5.0.0

## Problem Description
The quantile-estimation functionality recently implemented is poorly-calibrated in comparison to sklearn's `GradientBoostingRegressor`. This means that specifying the quantile (75% percentile/quantile, for instance) results in estimations that do not bound 75% o

[2018-01-08 03:37] StrikerRUS commented on #1181
@guolinke

The answer is #890.

[2018-01-08 03:48] StrikerRUS commented on #1181
@guolinke
Yeah, it seems that in this situation `early_stopping_rounds` is passed through `params` into `train()` and used there.

In my opinion, all users are adult enough to read the docstring and notice that `early_stopping_rounds` has own parameter and shouldn't be passed via `**kwargs`.

[2018-01-08 04:01] guolinke commented on #1182
@joseortiz3
Thanks, this is very helpful. It indeed is a issue.

As we discussed in https://github.com/Microsoft/LightGBM/issues/1109#issuecomment-353497158 , current implementation of quantile in LightGBM is not perfect.
There are 2 reasons:
1. the gradient/hessian of quantile loss is not easy to fit. `quantile_l2` is a trade-off solution, which is not equivalent to `quantile`. Maybe you can try

[2018-01-08 04:02] guolinke commented on #1182
@Laurae2 @henry0312
any suggestions for the quantile objective ?

[2018-01-08 04:42] guolinke commented on #1182
@joseortiz3 Thanks for feedback.
So maybe we should try to fix the leaf-value towards sklearn's solution.

[2018-01-08 05:19] TaiChiBagua opened #1183 "can i use hdfs as the datasource to train lambdarank with multiple machines ?"
I have the formated data stored in hdfs, which is 40G
can i train the model with multiple machines without first copy to local,
or is there some methods to use to accelerate the process ?
thanks!

[2018-01-08 07:53] guolinke commented on #1181
@startakovsky I agree with @StrikerRUS . Logically, `early_stopping_rounds` is used to control the `fit`(training) process, so using it in `fit` is more reasonable.

[2018-01-08 07:53] #1181 closed

[2018-01-08 08:42] svenpeter42 commented on #1119
Sorry for the late reply, I just came back from my Christmas break.
Yes, I'm definitely interested in adding this to the official LightGBM!

[2018-01-08 08:44] chivee commented on #1119
@svenpeter42 , Happy new year! you can send the PR when code is ready.

[2018-01-08 12:16] svenpeter42 commented on #1119
Happy new year to you, too! I'll clean up the code and rebase on your current master and will file a PR then.

[2018-01-08 12:57] dou3516 opened #1184 "How to add constraits (e.g. value region) of prediction in training?"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2018-01-08 15:50] PayneJoe opened #1185 "Can we use GPU in python package?"
I've already install GPU versioned Lightgbm successfully, unfortunately not got a way to use it yet. Providing any examples about this is much appreciated!

[2018-01-08 16:11] StrikerRUS commented on #1185
You need to set an additional parameter `device` : `gpu` (along with your other options like` learning_rate`, `num_leaves`, etc) to use GPU in Python. It will use the first GPU installed on the system by default (`gpu_platform_id=0 `and `gpu_device_id=0`). https://lightgbm.readthedocs.io/en/latest/Parameters.html#gpu-parameters

You may read the following (examples in R, but everything should be c

[2018-01-08 16:26] StrikerRUS commented on #1185
BTW, @huanzhang12 is it OK that GPU-Tutorial says

But actually default values are -1 (like it's said in Parameters):

...
default value is -1, means the system-wide default platform

...
default value is -1, means the default device in the selected platform

?

[2018-01-08 19:40] startakovsky opened #1186 "sklearn remove warning, there is no `verbose_eval`"
Is there any way to remove warnings in the sklearn API?  The [fit](http://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.LGBMModel.fit) function only takes `verbose` which seems to only toggle the display of the per iteration details.

`[LightGBM] [Warning] min_data_in_leaf is set=74, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=74.`

[2018-01-08 19:53] StrikerRUS commented on #1186
You are trying to set one parameter twice (or you are using an alias of parameter which shouldn't be passed via `**kwargs`). Please pay attention to the `aliases` in docs: https://lightgbm.readthedocs.io/en/latest/Parameters.html#learning-control-parameters

[2018-01-08 20:05] Laurae2 commented on #1182
@guolinke The user must transform the labels to [0, 1] for quantile regression, then extrapolate back to the original range of the labels.

Quantile regression will not work properly without scaling values to the correct range. For instance, scikit-learn uses the range [0, 100], with alpha*100 = alpha for the target quantile. Training is not done using the labels, but is done using the labels' qua

[2018-01-08 20:22] huanzhang12 commented on #1185
@StrikerRUS Yes I think you are right. The language in documentation is inaccurate. I will fix it.

My understanding is that a id = 0 means the first platform/GPU. When setting the id to -1, it will use the default platform/GPU. The default/GPU does not have to be the first platform/GPU (with id = 0).

[2018-01-08 20:31] yaxen commented on #1129
FreeBSD 11.1, amd64.

GCC: compiles and works fine.

Clang: there is a problem with CMake to find OpenMP.
https://gitlab.kitware.com/cmake/cmake/issues/17474
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=223678

[2018-01-08 22:47] startakovsky commented on #1186
Thanks @StrikerRUS , you seem to be responding specifically to this warning. Here is another warning: `[LightGBM] [Warning] No further splits with positive gain, best gain: -inf`.

I am seeing this line appear too many times and other lines during training and I am interested in completely suppressing this warning.

These warnings are generated from the C++ code, and doesn't seem to be suppressed

[2018-01-08 23:01] StrikerRUS commented on #1186
@startakovsky Yeah, I was talking about that concrete warning.

Now ping @guolinke because you've already discussed this with him in #1157.

[2018-01-08 23:42] startakovsky commented on #1186
thanks @StrikerRUS

@guolinke how do I suppress the C++ generated warnings in the sklearn API?
 https://github.com/Microsoft/LightGBM/issues/1157

[2018-01-09 02:13] PayneJoe commented on #1185
Thanks @StrikerRUS ! Cannot imagine a super parameter can get GPU running. I'll go and confirm it later on.

[2018-01-09 04:33] guolinke commented on #1186
@startakovsky
you can set `verbose=-1` in Constructor, not the `fit` function.

[2018-01-09 04:34] #1186 closed

[2018-01-09 07:49] ryan7th opened #1188 "what's the libsvm format using weight_column parameter?"
i wanna use the weight parameter describe in the doc
[code]
but i do not quite understand the doc above.
i suppose if i set the label=0 and weight=0, the data format should be
label weight fid:v1 fid:v2 .....

but what's the meaning of 'name:weight'?
can anybody give me an advice?

[2018-01-09 08:20] guolinke commented on #1188
you cannot skip the index of weight column, only the index of label can be skipped in Libsvm format.
so when you use 0-th column as weight, the format should be like `label 0:weight 1:f1 2:f2 `

It is `weight=name:name_of_weight_column`, which is used in csv/tsv format.

[2018-01-09 08:20] #1188 closed

[2018-01-09 08:22] guolinke commented on #1188
@StrikerRUS do you think current descriptions of these columns is clear ? should we refine them ?

[2018-01-09 08:32] ryan7th commented on #1188
@guolinke i think it will be better to give an example, since every has its own understanding

[2018-01-09 08:42] guolinke commented on #1182
@Laurae2 I didn't find where sklearn normalize the range of label to [0,100].
Can you provide some sources of it ?

[2018-01-09 10:00] StrikerRUS commented on #1188
@guolinke I think the descriptions are OK, but we could give example [here](https://lightgbm.readthedocs.io/en/latest/Parameters.html#weight-data) as suggested by @ryan7th .

[2018-01-09 11:55] ameyais commented on #666
@guolinke

I want to remove the lock, because I want to use predict with multi thread to speed up
If I remove the lock, is it still thread safe under situation 3?

[2018-01-09 18:37] Laurae2 commented on #1182
@guolinke It does quantile transformation here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/ensemble/gradient_boosting.py#L434-L442

[2018-01-10 06:05] guolinke commented on #1182
@Laurae2
I think it is not the same as normalizing label range to [0,100].
sklearn assigns the percentile value of delta(`y-pred_over_previous_trees`) for each leaf.

I think simply normalize the label range range cannot help, since the leaf output is still the sum_grad/sum_hess, which is not same as the percentile value even for normalized label.

[2018-01-10 06:06] #1185 closed

[2018-01-10 08:14] TaiChiBagua opened #1189 "how much memory do i need, when i use two_rounds?"
i tested the two_rounds option, for i have 40G data, but only 30G ram.
but it took too long to start training, or it hanged? almost an hour Loading.

So, what caused this?  The two_rounds also needed much memory? or Just because it is very slow？

i saw one comment says

https://github.com/Microsoft/LightGBM/issues/1138#issuecomment-353857567
：

but i don’t understand how, could someone explain thi

[2018-01-10 09:16] guolinke commented on #1189
The memory cost when using `two_round` is about `(num_data * num_feature) Bytes` for dense features.

you can check the memory usage. It should use much fewer memory if you pass the parameter correctly.

`two_round` will have a additional pass of data file. So the reason may is your Disk speed is very slow.

[2018-01-10 09:16] #1189 closed

[2018-01-10 21:48] shenmemingzine opened #1190 "error message: TypeError: __init__() got an unexpected keyword argument 'max_bin'"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Kaggle kernel
CPU: N/A
C++/Python/R version: Python

## Error Message: __init__(

[2018-01-10 22:32] StrikerRUS commented on #1190
`max_bin` parameter was deprecated and now should be passed via `params`.

[2018-01-11 00:11] yitang opened #1191 "predict on saved binrary datasets"
Hi, I wonder why we can't predict using the binary data format like?

if i run the following code line, i get the unknown train dataset format error.

[code]

[2018-01-11 00:18] Zibi789 opened #1192 "A bug in ResetGoss"
There is a bug in ResetGoss (file boosting/goss.hpp), lines 77 and 78.
The buggy case is here:
[code]
Then `bag_data_cnt` is 0, and `new Dataset(bag_data_cnt)` generates an error message informing that `bag_data_cnt must be > 0`.
The simplest way to fix it is to add this line after line 77:
[code]
And then it is necessary to add the header file `algorithm`

[2018-01-11 02:52] guolinke commented on #1192
@Zibi789 thanks very much!
Would you like to create a PR to fix it ?

[2018-01-11 02:59] guolinke commented on #644
@araujoalexandre
I think the slow prediction with sparse high dimension had been fixed in the latest version.

[2018-01-11 03:02] guolinke commented on #1191
@yitang
The reason is the binary Dataset only contains the binned index of feature values, which cannot be used in prediction.

If you want to predict with files, you can use csv/libsvm format.

[2018-01-11 03:02] #1191 closed

[2018-01-11 03:03] #1190 closed

[2018-01-11 03:11] guolinke commented on #1184
I think it isn't a standard function in boosted tree algorithm.
Limiting the value of single tree is easy, you can just change this line(https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/tree.h#L14).
However, the final prediction is based on all trees.

One possible solution is using custom objective function with self-defined `ConvertOutput` (like https://github.com/Microsoft/Lig

[2018-01-11 03:11] #1184 closed

[2018-01-11 03:40] Zibi789 commented on #1192
Yes, I can. How can I push a branch to LightGBM? It seems that I need a permission to do it.

[2018-01-11 04:15] chivee commented on #1192
@Zibi789 , you can fork into your own repo, fix the bug and send it back though https://github.com/Microsoft/LightGBM/compare

[2018-01-11 15:54] aazz521 opened #1195 "Bug in ArgMaxAtK"
I accidentally found there's a bug in function ArgMaxAtK(file include/LightGBM/utils/array_args.h)

Test case:
a = {2, 4, 1, 3}
MaxK(a, 3, out)  => out = {4, 3, 1}
which I expected to be {4, 3, 2}

In line 136
(
if ((k > l && k < r) || l == 0 || r == end - 1)
),
condition "l == 0" is buggy.
When l == 0 and k > 1, the max number is the first element, while the right hand side of pivot may still be

[2018-01-11 17:05] guolinke commented on #1195
@aazz521 can you try the #1196? I think it should fix this.

[2018-01-11 23:30] aldanor opened #1197 "set_label() is ignored after subset()?"
It seems like setting the label on a subset has no effect, here's a simple example:

[code]

It seems like although the label is set explicitly on `train`, it still tries to use the default (zero) labels from `base`:

[code]

[2018-01-12 03:04] TaiChiBagua commented on #1189
By num_data * num_feature，
num_data is the number of total training data or the data sampled?

[2018-01-12 03:06] guolinke commented on #1189
it is number of total training data.

[2018-01-12 03:44] #1195 closed

[2018-01-12 03:45] #1192 closed

[2018-01-12 03:55] guolinke commented on #1197
@aldanor
you can try following code to get label from cpp side:
[code]

And you can see the label is set correctly.

For the training stop, you may need to set `min_data=1`
[code]

[2018-01-12 03:55] #1197 closed

[2018-01-12 10:11] aldanor commented on #1197
Thanks. Hmm.. so the warning because it uses the bin mapper from the base dataset and cannot find data for one of the 255 bins in the subset, or something like that? I've tried passing `'min_data': 1` but it doesn't seem to make it shut up.

[2018-01-12 10:30] TaiChiBagua commented on #1189
thanks

[2018-01-12 11:35] guolinke commented on #1197
the reason of that warning:
1. small training data with large `min_data` (full name: `min_data_per_leaf`) and large `num_leaves` (`min_data * num_leaves > #data`). As a result, the tree cannot split any more.
2. the data is hard to split ( split cannot reduce loss). Since you using random data, so it is possible caused by this reason.

[2018-01-12 13:12] niyamatalmass opened #1198 "Request for a demo in python for "boost from prediction""
There is a demo in R for [boosting from prediction](https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/boost_from_prediction.R). But I can't find the same example in python. Can someone upload the python version of it?

[2018-01-13 02:44] guolinke commented on #1198
I think it is quite straightforward. you only need to set init_score in dataset before training.

[2018-01-13 02:44] #1198 closed

[2018-01-14 05:51] originalchris opened #1200 "Cannot get GPU to work with lightgbm in R"
Hello,

I followed the steps in the following link.

[GitHub](https://lightgbm.readthedocs.io/en/latest/GPU-Windows.html)

and tested with the code:

[code]

and I get the following error:

[code]
Would anyone be able to help me with this problem? I have lightgbm working properly when I train other under my cpu.

I currently use an Intel i7 2600K and an Nvidia GTX TITAN Black Edition (the old GK11

[2018-01-14 16:01] vruusmann opened #1201 "Refactoring the presentation of `pandas_categorical` section in model files"
If the LightGBM model was trained using `pandas.DataFrame` that contains categorical columns, then the last section of the model file is a `pandas_categorical` section.

The problem is that this section is 1) formatted differently from other feature-related sections (eg. the `feature_importance` section), and 2) the current representation (list of lists) is difficult to parse for outside applicati

[2018-01-15 19:53] zhangsssss opened #1202 "The prediction became poor after upgrading from 1.0 to 2.* for R"
## Environment info
C++/Python/R version: R

## examples
The R version 1.0 works:
bst = lgb.train(params, dTrain, 150, list(train = dTrain,test = dTest))
the last row of the output is
[150]: train's rmse:0.0134871  test's rmse:0.015928
when calculating the test set error by hand:
pred = predict(bst, data_sparse[test_ind,]) # it takes sometime for large data, but the distribution looks good
sqrt(su

[2018-01-16 00:58] guolinke commented on #1202
@zhangsssss
can you provide more information ?
1. more information about the train/test data, include its dimension, type(matrix, csc, ..)
2. a reproduce example by using random data
3. the full script

[2018-01-16 00:59] guolinke commented on #1200
@Laurae2

BTW, Use the GPU install guide here [https://github.com/Microsoft/LightGBM/tree/master/R-package] is working.

[2018-01-16 00:59] #1200 closed

[2018-01-16 06:44] guolinke commented on #624
added in #1199

[2018-01-16 06:44] #624 closed

[2018-01-16 06:45] guolinke commented on #1182
fixed in #1199

[2018-01-16 06:45] #1182 closed

[2018-01-16 07:20] guolinke commented on #979
please try the one solution in #1199

[2018-01-16 07:20] #979 closed

[2018-01-16 19:04] joseortiz3 commented on #1182
I think now with the new updates that fix this issue, LightGBM is _the_ fastest, quantiles-supporting boosted decision tree implementation available. Pretty exciting! I'm getting about 20x speedup with similar performance over sklearn!

[2018-01-16 21:55] Laurae2 commented on #1202
@guolinke probably due to the default hyperparameter changes.

[2018-01-17 15:12] sugs01 commented on #760
Please update lightgbm package, your problem will be resolved.

library(devtools)
options(devtools.install.args = "--no-multiarch") # if you have 64-bit R only, you can skip this
install_github("Microsoft/LightGBM", subdir = "R-package")

[2018-01-17 18:00] Laurae2 commented on #1183
I think you need to convert first to a readable format for LightGBM (CSV, SVMLight, or LightGBM binary) then do local copies.

ping @guolinke for more information

[2018-01-17 22:03] JoshuaC3 commented on #1076
Is it possible to get this information for the training phase as well as the prediction phase? I ask this w.r.t the R package @Laurae2 and also with LIME @julioasotodv ?

[2018-01-17 23:16] cpfarrell opened #1205 "Incorrect training when label array comes from slicing multi-dimensional numpy array"
See below for script containing example illustrating the issue. It appears that when the array of labels passed to a Dataset comes from slicing a multi-dimensional array lightgbm does not use the correct values in the array but access values from the presliced array, my guess would be that it is not correctly taking into account the strides parameter of the array.

Let me know if anything is neede

[2018-01-19 13:29] mandeldm opened #1206 "[Python] GPU install on Windows fails at last step"
I'm installing the GPU version of LightGBM for Python on a new Windows 10 PC.

My GPU is NVIDIA GeForce GTX 1070.

I have already installed:
Visual Studio Community 2015 (including C++)
CUDA 8.0 (including the latest patch)
CMake 3.10.2 (win64-x64)
mingw-w64 7.2.0
Git 2.15.1.2
Boost 1.64.0 (msvc-14.0-64.exe)

I used the instructions from http://lightgbm.readthedocs.io/en/latest/Installation-Guide.

[2018-01-19 16:08] guolinke commented on #1206
I think you cannot compile both CPU and GPU version ?

[2018-01-20 03:38] mandeldm commented on #1206
No, I didn't try build other packages using VS.
However my VS install used all the default settings, so I'm not sure I could do anything differently. Any advice would be great.

I have tried two more approaches, but both failed:

1) I tried `pip install lightgbm --install-option=--gpu`. Before I did that, I added the paths for `BOOST_ROOT`, `OpenCL_INCLUDE_DIR` and `OpenCL_LIBRARY` to environment

[2018-01-20 12:45] guolinke commented on #1206
The default installation of VS doesn't include cpp compiler. Please make sure you have choice the cpp compiler (and related items). BTW, the MSBulid (latest one) is better if you want to built by command line.
For the cmake. please make sure the path of cmake is in your PATH environment( the default is none, you may need to add it manually.)
Mingw version is not recommended due to its low performa

[2018-01-20 12:49] guolinke commented on #1206
ping @StrikerRUS to confirm the cmake issue.

[2018-01-20 18:32] aldanor commented on #14
Any thoughts on this?

[2018-01-20 20:04] StrikerRUS commented on #1206
@guolinke Unfortunately, I can't confirm this because I have VS2013 and have no ability to install VS2015+ due to the lack of free space on the `C` drive.

[2018-01-20 20:17] Laurae2 commented on #1206
cmake must be in PATH.

@mandeldm Try to compile first using CPU only.

Add them to PATH and/or cmake.

[2018-01-21 01:44] ethen8181 commented on #171
Hi team, checking to see if the partial dependency plot functionality is still on the to-be-included list. Thanks!

[2018-01-21 05:25] guolinke commented on #1205
it seems the reason is in python side.
ping @StrikerRUS @wxchan to confirm this.

[2018-01-21 05:27] guolinke commented on #1202
@Laurae2 I think the parameter changing doesn't effect the prediction.
In this case, the metric output in training and prediction are different.
@zhangsssss can you provide a reproduce example?

[2018-01-21 05:49] mandeldm commented on #1206
Thank you for all the tips. After installing MS Build, running `pip install lightgbm --install-option=--gpu` appears to have succeeded.

Is there a simple way to confirm that the newly installed version of LightGBM actually relies on the GPU?

[2018-01-21 06:00] guolinke commented on #1206
@mandeldm
You can try to run it with parameter ```device=gpu```

[2018-01-21 06:00] #1206 closed

[2018-01-21 09:51] mayer79 commented on #14
From practical perspective (outside kaggle-world!), this feature would be extremely helpful in many applications where reasonable model behavior is relevant.

[2018-01-21 12:24] Laurae2 opened #1207 "VS 2017 Compilation Warnings"
@guolinke Are those warnings expected in VS 2017?

## Environment info

Operating System: Windows 8.1 Pro
CPU: i7-7700HQ
C++/Python/R version: R 3.4.2

## Warning Message:

[code]

## Reproducible examples

Compile package for R using VS 2017.

[2018-01-21 12:33] Laurae2 commented on #1142
@guolinke I think it still crashes but probably in another place now.

![image](https://user-images.githubusercontent.com/9083669/35194187-a5c1a9f2-feaf-11e7-8d2f-c89d57b7afb6.png)

[2018-01-21 14:52] Laurae2 commented on #1143
Update: pkgdown successfully compiles the website.

I had to do many workarounds to avoid crashes for that but it does work now.

PR coming soon.

Examples:

![image](https://user-images.githubusercontent.com/9083669/35195321-20aad0f0-fec2-11e7-9cf8-5a8b904a8437.png)

![image](https://user-images.githubusercontent.com/9083669/35195394-0835146c-fec3-11e7-9130-e25fcf0a11ef.png)

![image](https://use

[2018-01-21 22:14] piotrek1543 commented on #3
@Clovel after  installing `gcc --without-multilib` try to run gcc specific version compiler:
`gcc-7 -fopenmp hello_par.c -o hello_par`

[2018-01-22 01:50] StrikerRUS commented on #1205
From the first glance it seems to be that we are facing this problem

https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.ndarray.ctypes.html

here
https://github.com/Microsoft/LightGBM/blob/fc167922d9896f4f4ba6c4db3160bc6bd5d17a84/python-package/lightgbm/basic.py#L201-L217

[2018-01-22 03:04] guolinke commented on #1207
I am not sure about these `cl` warning. I think these flags are generated by cmake.
I will fix the last warning.

[2018-01-22 03:09] guolinke commented on #1142
@Laurae2
I just try it again, and everything is fine. Can you try to clean up and re-install R package from the latest code again?

[2018-01-22 03:10] guolinke commented on #1142
@Laurae2
oh, When `q()` R, it crashed.
It seems there are some GC problem.

[2018-01-22 03:15] guolinke commented on #1201
@StrikerRUS @wxchan Do you have time to implement this feature ?

[2018-01-22 03:20] #1142 closed

[2018-01-22 03:37] guolinke commented on #1205
@StrikerRUS
you are right, I just write a script to test it;
[code]

The output:
[code]

The reason is the multi-dimensional sliced object isn't store in a continuous memory.
We may need to detect the multi-dimensional sliced object, and perform a copy before converting to pointer.

[2018-01-22 08:03] dancaspi commented on #1137
Hey, so shamefully enough, it seems my mistake was writing group*s*. anyhow, I still encountered some difficulty and supply this  fully reproducible example:
I actually use lambdarank as type of ordinal regression - I only have one ordering task. Therefore I pass to groups just the number of observations (as if they all come from a single query). The "native" lgbm apparently works with these setti

[2018-01-22 10:04] vruusmann commented on #1201
The two main requirements are:
1. Split the current single-line representation into multi-line representation. Each line should correspond to format `<feature name>=<list of feature values in the original value space>`.
2. Figure out a good list-of-values representation. In my above comment it is suggested that individual values could be separated by the colon character `:`. This works with numeri

[2018-01-22 10:07] vruusmann commented on #1201
This issue is nothing (time-)critical for me.

It's more about pointing out a minor style issue/inconsistency with LightGBM model file format.

[2018-01-22 14:20] aldanor commented on #14
@guolinke Would you be able to advise how to approach this and whether it's feasible? I.e., where should it belong, would it be sufficient to implement it just somewhere in `feature_histogram.hpp`? I guess `FeatureMetainfo` could just contain the `-1/0/1` constraint then.

Here's the meat of the implementation in XGBoost, for reference: https://github.com/dmlc/xgboost/blob/master/src/tree/param.h#

[2018-01-22 16:22] guolinke commented on #14
@aldanor
I don't know the details about the monotonic constraints.
What is the idea? And why it is needed?

following may is useful:

The split gain calculation: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L291-L297

The leaf-output calculation:
https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L305-L308

[2018-01-22 18:05] StrikerRUS commented on #315
For those who comes here from search engines and searches for the working implementation of the Regularized Greedy Forest (RGF), you could use Python wrapper of the original C++ implementations (both vanilla and fast ones) which were written by the authors of the paper.
https://github.com/fukatani/rgf_python

[2018-01-23 10:00] aldanor commented on #14
@guolinke Monotonic constraints may be a very important requirement for the resulting models. For many reasons: first, as noted above, there could be domain knowledge that must be respected - e.g., in insurance and risk management problems. Second, you may want to emit a model that's monotonic with respect to certain features so you can infer in a very fast way whether the predicted score improves

[2018-01-23 10:24] guolinke commented on #14
@aldanor very cool, would like to work together with it.

[2018-01-23 10:47] guolinke commented on #14
It seems the MC(Monotonic constraints) could be cumulative, that is, if both model A and B is MC, then A+B is MC.
So we only need to enable MC in decision tree learning.

combine @chivee  's pseudo code and @AbdealiJK 's suggestion.

I think the algorithm is:

[code]

[2018-01-23 10:54] guolinke commented on #14
@aldanor would you like to create a PR first ? I can provide my help in the PR.

[2018-01-23 12:44] aldanor commented on #14
@guolinke I will give it a try, yep. Your suggested algorithm in the snippet above looks fine, that's kind of what like xgboost does (in exact mode though, not histogram; do you think there would be any complications here because of binning?)

Where would this code belong then, `treelearner/feature_histogram.hpp`? (I still have to read through most of the code)

[2018-01-23 14:21] guolinke commented on #14
@alexvorobiev
The `check` means return gain with `-inf`, as a result, that split will not be chosen.
I think there is not different for the MC in binned algorithm.

We need to update the calculation of gain: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L354-L357 and https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L4

[2018-01-23 16:00] naarkhoo commented on #213
theoretically, one should be able to predict - using the best model within the cross-validation (of course with the price of few data point).

[2018-01-23 19:31] Laurae2 commented on #1142
Now works properly.

Reproducible code for before/after ffeae5a:

[code]

[2018-01-23 19:50] veniciuss opened #1212 "LightGBM - Predict Probability"
.
I want to use lightGBM to get the  _predict_proba_ (as in XGBOOST).

Can someone tell how can I do this?

[2018-01-23 19:51] Laurae2 commented on #1212
LightGBM already outputs probabilities.

[2018-01-24 03:21] #1212 closed

[2018-01-24 06:56] liyingkun1237 opened #1213 "[root@qx-ccx-mod-01 conf]# cat /etc/redhat-release CentOS Linux release 7.4.1708 (Core)"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2018-01-24 06:58] liyingkun1237 opened #1214 "type=ANOM_ABEND msg=audit(1516775306.071:3106): auid=3002 uid=0 gid=0 ses=236 pid=30046 comm="python" reason="memory violation" sig=11"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2018-01-24 07:02] #1214 closed

[2018-01-24 07:02] #1213 closed

[2018-01-24 09:13] liyingkun1237 opened #1215 "kernel: python[23544]: segfault at 2c5 ip 00007f25cf1a41d5 sp 00007f25b2cede10 error 6 in lib_lightgbm.so[7f25cf10e000+153000]"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2018-01-24 09:26] bylake opened #1216 "lightgbm process stop suddenly after running for a while"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: centos 7
CPU:
C++/Python/R version: python3.6

## Error Message:
kernel: python[

[2018-01-24 10:46] #1215 closed

[2018-01-24 10:47] guolinke commented on #1216
@bylake
can you provide a re-produce example ?

[2018-01-24 15:46] #1205 closed

[2018-01-24 15:49] guolinke commented on #1207
@StrikerRUS Do you have any ideas about these warnings?

[2018-01-24 17:17] StrikerRUS commented on #1207
@guolinke Nope. Unfortunately, as I said earlier, I'm not able to compile with VS on my local compute, but I'll google about these warnings.

[2018-01-25 02:14] tianke0711 opened #1217 "lgbmclassifier save and load model"
I have following code, I use the following code to save the lgbmclassifier mode . But How to load saved mode:

[code]

[2018-01-25 02:19] guolinke commented on #1217
https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py#L82-L84

[2018-01-25 02:19] #1217 closed

[2018-01-25 02:24] bylake commented on #1216
Hi, I failed to upload my data, so I have just written the email to you,and my data is in the email

[2018-01-25 03:20] tianke0711 commented on #1217
I don't know why you @guolinke  close my issue. It does n't work for me

[2018-01-25 03:23] guolinke commented on #1217
save model to file. it seems you miss `.` .
[code]

load from model:
[code]

Isn't that clear enough ?

[2018-01-25 03:27] tianke0711 commented on #1217
but there is issue. I used  lgb.Booster(model_file='mode.txt') to load mode to predict.

pred_period = lgmodel.predict(X_test)`

The shape of pred_period is wrong, I want to get the shape(x, ), but the result is (x, y(is 14)) in my case

[2018-01-25 03:44] tianke0711 commented on #1217
Hi could you @guolinke open this issue.
I think  it is a bug of lgqbm

[2018-01-25 03:45] guolinke commented on #1217
@tianke0711
I see, for the sklearn model save/load, you can use joblib.
example:
[code]

[2018-01-25 03:49] guolinke commented on #1217
@tianke0711 I think you are using sklearn interface with mulit-class classification.
It is not possible to just use the raw text model to perform prediction in this case, due to sklearn will have a transform on class label (https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py#L640-L641), which is not saved in text model file.

[2018-01-25 03:50] guolinke commented on #1217
This code will provide the probability on all class:
[code]

[2018-01-25 03:55] tianke0711 commented on #1217
OK I got it, thanks @guolinke ! if the lgbm can improve the issue, it is the best

[2018-01-25 04:32] guolinke commented on #1217
@tianke0711
I don't think it is a real issue.
Since your are using sklearn interface, it is better to use sklearn's solution to save/load model.

Booster.save/load is the "low level" lightgbm interface, it doesn't have duty to consider the upper level's implementation.

[2018-01-25 13:29] vijaykumarnadal commented on #917
hai i am new to lightgbm package i have the following sample dataset(train) i am trying to build linear regression model with medianhousevalue(response variable) in rstudio

housingMedianAge | totalRooms | totalBedrooms | population | households | medianIncome | medianHouseValue
41 | 880 | 129 | 322 | 126 | 8.3252 | 452600
21 | 7099 | 1106 | 2401 | 1138 | 8.3014 | 358500
52 | 1467 | 190 | 496 | 17

[2018-01-25 16:49] vijaykumarnadal opened #1219 "Lightgbm regression in r"
I am new to lightgbm package I am trying to build linear regression model with following sample train data having medianhousevalue as response variable in rstudio

housingMedianAge    totalRooms  totalBedrooms   population  households  medianIncome    medianHouseValue
41  880 129 322 126 8.3252  452600
21  7099    1106    2401    1138    8.3014  358500
52  1467    190 496 177 7.2574  352100
52  12

[2018-01-25 17:28] dsun29 commented on #1100
@StrikerRUS  can you please share sample code to pass **max_bin** using **params**?

[2018-01-25 19:29] Laurae2 commented on #1219
LightGBM is not a linear regression. You can use `lm` (https://stat.ethz.ch/R-manual/R-devel/library/stats/html/lm.html) instead.

[2018-01-25 19:29] #1219 closed

[2018-01-25 19:29] StrikerRUS commented on #1100
@dsun29
[code]

[2018-01-26 00:33] StrikerRUS commented on #1207
If I'm not mistaken, these warnings appear only while compiling R-package (Appveyor logs are clear). Because we are not setting listed flags, I think that they are generated by default. Since they are ignored, I suppose we shouldn't worry.

[2018-01-26 03:17] dsun29 commented on #1100
@StrikerRUS
That is not what I was looking for bu thanks!
    `d_valid = lgb.Dataset(x_valid, label=y_valid, params = {'max_bin': p['lgb_max_bin']})`

[2018-01-26 06:35] tianke0711 opened #1221 "LightGBM and RFE can't reproduce the score as in another computer."
I used the the feature selection method: RFE to select feature for features, and selected features for LightGBM trained. But I found that the score result can't be reproduced, although it is slightly difference. one is about 0.5516(win 7), another one is 0.5513(win 10). The reason I think that it is the selected features is different: I want to select 20 features(there are about 50 features or mor

[2018-01-26 06:42] Laurae2 commented on #1221
Try to set number of threads to 1.

[2018-01-26 06:48] guolinke commented on #1221
you can figure the problem is cause by `REF` or not first.
For example, you can both use all features (without 'REF') in different computers, and see what happen.

If the reason is caused by 'REF', LightGBM cannot know that, since 'REF' is a high level controller. So we cannot fix it. And you should open issue in 'REF' project.

[2018-01-26 06:54] tianke0711 commented on #1221
@Laurae2  thanks for your comment, I am trying!

[2018-01-26 06:59] tianke0711 commented on #1221
hi @Laurae2  could you tell me why you suggest to set number of threads to 1, if you explain it, it is best. Thanks!

[2018-01-26 07:08] guolinke commented on #1221
@tianke0711 that is because, the same "subsample" with different "num_therads" will produce different result, since the bagging is optimized with multi-threading.

[2018-01-26 07:17] #1216 closed

[2018-01-26 09:16] tianke0711 commented on #1221
hi @guolinke  do you know some methods are good for feature selection for lgbmclassifier model?

[2018-01-27 14:19] #1221 closed

[2018-01-27 20:30] sosmond opened #1222 "Plot trees in R"
The python package has plotting functions to visualize the trees grown. Is there a plan to add the same functionalities to the R package? Something like xgboost's xgb.plot.tree and xgb.plot.multi.trees using DiagrammeR.

[2018-01-28 04:36] munitech4u commented on #700
Change this:
Y = train[['Made Donation in March 2007']]
to >>
Y = train['Made Donation in March 2007']

[2018-01-28 17:57] vivek2319 commented on #700
Thank you.

[2018-01-29 08:39] msn27149m commented on #267
is it multi-classification problem or just binary classification problem?

[2018-01-30 08:10] lw3259111 opened #1224 "[LightGBM] [Warning] No further splits with positive gain, best gain: -inf"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2018-01-30 08:14] guolinke commented on #1224
refer to https://github.com/Microsoft/LightGBM/issues/640

[2018-01-30 08:14] #1224 closed

[2018-01-30 10:10] Laurae2 opened #1225 "Opinion on LightGBM scalability"
@guolinke What's your opinion on the current LightGBM scalability? Visual Studio has a strange behavior without CPU affinity, which makes it faster than if it had CPU affinity setup.

https://medium.com/@Laurae2/getting-the-most-of-xgboost-and-lightgbm-speed-compiler-cpu-pinning-374c38d82b86

I did some tests using R, and Visual Studio is still best for LightGBM as we saw before.

![image](https:/

[2018-01-30 10:10] Laurae2 commented on #1222
@yanyachen any idea?

[2018-01-30 10:36] guolinke commented on #1225
@Laurae2 It seems you are using a very sparse dataset.
Do you have the results on dense dataset ?

[2018-01-30 10:40] Laurae2 commented on #1225
@guolinke Do you have any large dense dataset with enough features? (something like 1M x 1K, or smaller)

Higgs is too small in number of features.

[2018-01-30 12:57] guolinke commented on #1225
@Laurae2 I think you can generate some new features in higgs dataset.
e.g. sum/sub/mul/div of two features.

[2018-01-31 07:32] guolinke commented on #14
@aldanor any updates ?

[2018-02-01 20:21] jmriebold opened #1227 "[Python] Crashes and/or segfaults in Alpine Docker containers"
## Description
We've been having issues with segfaults and crashes when training LambdaMART models with LightGBM inside Docker containers. Sometimes when the container starts up and loads LightGBM everything works fine, others it segfaults immediately. I can't discern any pattern to when it works vs. when it doesn't, but since the application is containerized everything ought to be the same. I was

[2018-02-02 16:27] goraj commented on #441
I have a similar issue when running cross validations using custom fold indices with lightgbm *2.0.11*.

Cross validation using a loop and the lightgbm.cv yield different mean AUCs.
The following example reproduces the behaviour:
[code]

[code]

[2018-02-03 10:14] Laurae2 commented on #1207
I am getting no more warnings from 3dc5716.

[2018-02-03 10:14] #1207 closed

[2018-02-03 10:14] Laurae2 commented on #1225
I started one run today using mul of all features. 33.3 GB matrix. Will come back later for results.

[2018-02-03 18:44] Laurae2 commented on #1225
@guolinke The difference is huge with CPU pinning on Higgs 33.3GB.

![image](https://user-images.githubusercontent.com/9083669/35770389-8d92984e-091a-11e8-941c-91efa446cb36.png)

[2018-02-04 00:20] guolinke commented on #1225
@Laurae2 so for dense dataset, the pinned solution is better.
I guess the reason is the effect of memory bandwidth (latency).
For dense dataset, LightGBM prefers the high memory bandwidth, so pin solution is better.
While for sparse dataset, the memory bandwidth is not the bottleneck.

[2018-02-04 09:50] Laurae2 opened #1228 "Comparing performance with and without Hessian?"
I want to add docs for Hessian-less optimization for R, using LightGBM, what vector value should I use for the hessian?

ping @guolinke

[2018-02-04 14:53] guolinke commented on #1228
the non-hessian solution require the post-fix of leave outputs.
So it cannot use custom grad/hess to achieve it now.
You can use current code (non-hessian) and the old code(with hessian) to compare.

[2018-02-05 03:29] nimamox opened #1230 "Custom objective and evaluation functions"
Hi folks,
The problem is that when I set `fobj` to my customized objective function, the prediction error I receive after training differs from what is reported by `feval` at the last iteration. The errors are identical, as expected, if I remove `fobj`.

[code]

This gives me,

[code]

And if I evaluate both metrics on predictions, it correctly gives the same results:

[code]

But the problem is t

[2018-02-05 05:26] guolinke commented on #1230
@nimamox can you reproduce this with random generated data?

[2018-02-05 06:08] nimamox commented on #1230
@guolinke Sure! Create the dataset as below:

[code]
[code]
[code]

[2018-02-06 01:40] guolinke commented on #1230
@nimamox you should set to `objective=None' when using `fobj`.
I will create a PR to auto set it.

[2018-02-06 13:33] ad1729 opened #1233 "[Python] Is stratified sampling performed during training?"
Does the [`bagging_fraction` parameter](http://lightgbm.readthedocs.io/en/latest/Parameters.html#learning-control-parameters) perform stratified sampling at each iteration?

[2018-02-06 14:20] guolinke commented on #1228
@Laurae2 can we close this ?

[2018-02-06 14:21] guolinke commented on #1233
it is not the stratified sampling. it is the random sampling.

[2018-02-06 14:21] #1233 closed

[2018-02-06 14:26] ad1729 commented on #1233
So for highly imbalanced datasets (1% positive class examples) and bagging_fraction = 0.8 (say), there might be iterations where there are no positive class cases in the sample of observations used at that iteration?

[2018-02-06 14:27] guolinke commented on #1233
yes, the sampling is independent with the label.

[2018-02-06 14:29] ad1729 commented on #1233
Thanks for the clarification! Is this something that will be supported in the future?

[2018-02-06 14:42] guolinke commented on #1233
I am not sure about this will be useful or not.
I think using stratified sampling will change the distribution of training data, which will cause the bad result in many cases.
If changing the distribution of training data can help, you can just use the balanced sampled data before use GBDT, which is not need the stratified sampling as well.

[2018-02-06 14:54] ad1729 commented on #1233
My point was along the following lines:

sample size: 1,000,000
positive class cases: 10,000 (so 1%)

We set `bagging fraction = 0.8` and `scale_pos_weight = 99` (and `bagging_freq = 1`)

So at each iteration M while building the ensemble, it samples 800,000 of which 8,000 are positive class cases, instead of the random sampling. Thus, the class proportions are maintained and are the same as the f

[2018-02-06 15:07] guolinke commented on #1233
I didn't understand this. I think random sampling will produce "800,000 of which 8,000 are positive".

"scale_pos_weight" doesn't affect the sampling.

I think `bagging fraction` is safe, it will not change the distribution.

[2018-02-06 15:48] ad1729 commented on #1233
Never mind, figured it out. Thanks for the discussion!

[2018-02-06 20:06] Laurae2 commented on #1228
@guolinke yes unless you think there is a way to get custom metrics to work with hessian-less optimization.

[2018-02-06 20:08] #1225 closed

[2018-02-07 00:50] guolinke commented on #1228
I think it is not possible in current solution.
Also it is not needed due to it is rare case.

[2018-02-07 00:55] guolinke commented on #1228
The cost is very big to support postfix in python/R package.
I think it is also not needed due to it is not common.

For the comparison, you can just use different versions of LightGBM.

[2018-02-07 00:55] #1228 closed

[2018-02-07 02:22] huaxz1986 opened #1235 "recipe for target '../lightgbm' failed"
## Environment info
Operating System: Ubuntu 16.04
CPU: Intel® Core™ i7-7700K CPU @ 4.20GHz × 8
C++/Python/R version: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.6) ,Target: x86_64-linux-gnu

## Error Message:
[code]
## Reproducible examples

## Steps to reproduce

1. build boost 1.66.0 and install it in 'usr/'.
[code]
2.run `cmake`:

[code]
  It says:

[code]

3. run `make -j4`

[2018-02-07 04:49] guolinke commented on #1235
I think the real error is `collect2: error: ld returned 1 exit status` .
Did you install cuda correctly and pass the right path to it ?

[2018-02-07 06:07] huaxz1986 commented on #1235
When I run:
[code]
It says:
[code]

[2018-02-07 06:36] huaxz1986 commented on #1235
I compiled successfuly which is different from official instructions.

The official instructions is:
[code]

But I do it like this:
[code]
And fortunately everything is OK.

[2018-02-07 09:06] nimamox commented on #1230
Do you mean setting `objective: None` inside the params dictionary? Cause that doesn't seem to work. :/

[2018-02-07 09:06] nimamox commented on #1230
@guolinke Do you mean setting `objective: None` inside the params dictionary? Cause that doesn't seem to work. :/

[2018-02-07 09:30] #1235 closed

[2018-02-07 10:41] nimamox commented on #1230
@guolinke Thank you. My derivatives are correct, I guess ([+](https://datascience.stackexchange.com/questions/26972/cost-sensitive-logloss-for-xgboost)). So I should add this line to my `fobj` and `feval`?
```y_hat = 1.0 / (1.0 + np.exp(-y_hat))```
But then how come my loss becomes considerably much worse than before:

With `objective: 'regression'` and without applying sigmoid:
[code]

With `obje

[2018-02-07 10:46] guolinke commented on #1230
you can run more iterations. regression will boost from average, which will be better in the beginning.

[2018-02-07 11:46] guolinke commented on #1230
you can use `scale_pos_weight` to achieve the penalizing false negatives.

when using the regression, the training will start from the average value of label. That is the only different when you set `objective=none`.
BTW, you should add the sigmoid both in fobj and feval.

[2018-02-07 11:50] guolinke commented on #1230
BTW, from you result, I found the fobj convergences much faster. I think it will be better in the end.

[2018-02-07 11:59] guolinke commented on #1230
if it still cannot work, you can provide a similar example with random generated data, I can help you to figure it out.

[2018-02-07 16:10] cdeterman opened #1236 "R package with CUDA?"
This is a general question.  I see there is an R package for this and I also see in the installation [docs](https://github.com/Microsoft/LightGBM/blob/master/docs/Installation-Guide.rst) that it requires installation of an OpenCL SDK.  Is the installation for the R package limited to only using the OpenCL backend or is there a CUDA backend available?

[2018-02-07 16:14] Laurae2 commented on #1236
There is no CUDA backend available currently.

[2018-02-07 21:47] g-leech opened #1237 "Outdated line in Python docs?"
Isn't [this line](https://github.com/Microsoft/LightGBM/blame/819df01278fc7f5ef5f135f6e9a09f8d419f21fb/docs/Python-Intro.rst#L96) no longer needed, given the direct categorical split feature?:

[2018-02-08 10:35] guolinke commented on #1237
it is still true for cli version.

[2018-02-08 10:35] #1237 closed

[2018-02-08 10:36] guolinke commented on #1236
OpenCL is included in CUDA.

[2018-02-08 10:36] #1236 closed

[2018-02-08 12:51] rbagd opened #1238 "[R] Accessing model estimate in parallel leads to a segfault"
Since `lgb.interprete` in `R` only uses a single thread, I attempted to calculate feature importance for many observations in parallel by chunks. This resulted in `R` segfaulting with `memory not mapped` errors (see full log in the attachment). I investigated a little bit further and it seems that whenever model is accessed with one of the LightGBM functions, there's a memory conflict leading to a

[2018-02-08 14:15] guolinke commented on #1238
It can work in single thread ?

[2018-02-08 14:17] cdeterman commented on #1236
@guolinke I understand that, I was curious about the actual use of CUDA not OpenCL within the CUDA toolkit.  Thanks.

[2018-02-08 14:17] cdeterman commented on #1236
@guolinke I understand that, I was curious about the actual use of CUDA not OpenCL within the CUDA toolkit.  Thanks.

[2018-02-08 14:19] guolinke commented on #1236
ping @huanzhang12

[2018-02-08 14:22] guolinke commented on #1238
I check the code of dump_model, and I think it is thread-safe.
So I think the problem is in R side.
When you use doParallel, you may need to load model from file, since the pointer will be freed if you create a new process.
ping @Laurae2 to confirm.

[2018-02-08 14:51] rbagd commented on #1238
The workaround with loading model from a file seems to help indeed.

`cl <- makeCluster(1)` still results in a segfault while replacing `%dopar%` by `%do%` (sequential execution) terminates normally. So it must be related to forking.

[2018-02-08 22:51] nimamox commented on #1230
@guolinke As I mentioned, I'm using leaf predictions as categorical features to my other model, so I can not afford high number of trees, as it makes my other model heavy, and well, you know curse of dimensionality... I don't know what best practices are regarding using GBDT leaf predictions. Are later trees produce more informative leaf predictions? In that case I could "warm-up" first so-to-spea

[2018-02-09 01:37] usptact commented on #710
On MacOS High Sierra with MacPorts installed, I did the following:

1. Install `clang-5.0` using MacPorts
2. Inside the `/build` directory, run
`cmake -DCMAKE_CXX_COMPILER=clang++-mp-5.0 -DCMAKE_C_COMPILER=clang-mp-5.0 ..`
3. To build the python package, go to `/python_package` directory and modify the `setup.py` script.
You need to modify the function `compile_cpp()` at the very end that checks t

[2018-02-09 01:45] zhangsssss commented on #1202
Hi I'm so sorry for the late reply. As I installed the latest version (lightgbm_2.1.0.tar.gz), the problem seems to have been gone... The versions I installed on around 7/15/2017 and 12/01/2017 had the problem I mentioned. Both times I just followed your installation guidance so the version should be the latest at those moments. Now my VM with these old versions of LightGBM is gone, so I'm not abl

[2018-02-09 09:26] guolinke commented on #1202
@zhangsssss very happy to know the good news.

[2018-02-09 09:26] #1202 closed

[2018-02-09 14:44] imatiach-msft commented on #157
@superbobry I've checked in the code to generate SWIG Java wrappers to LightGBM
To build, you just need to run:

mkdir build ; cd build
 cmake -DUSE_SWIG=ON ..
 make -j4

The jar file is also available in maven central:
https://repo.maven.apache.org/maven2/com/microsoft/ml/lightgbm/lightgbmlib/
 You can import it with sbt via:
 "com.microsoft.ml.lightgbm" % "lightgbmlib" % "2.0.120"

If you have a

[2018-02-09 14:46] imatiach-msft commented on #909
@vladimir-vilinski @liulhdarks @vruusmann  I've checked in the code to generate SWIG Java wrappers to LightGBM repo
To build, you just need to run:

mkdir build ; cd build
 cmake -DUSE_SWIG=ON ..
 make -j4

The jar file is also available in maven central:
https://repo.maven.apache.org/maven2/com/microsoft/ml/lightgbm/lightgbmlib/
 You can import it with sbt via:
 "com.microsoft.ml.lightgbm" % "lig

[2018-02-11 15:41] Laurae2 commented on #1238
@rbagd pointers are not forkable (serialization fails). You must export the model first, then load the model from the separate (forked) R session.

Use `clusterEvalQ` to run an arbitrary script in R on the forked R sessions (also, beware of I/O locks).

[2018-02-12 00:08] #1238 closed

[2018-02-12 03:07] guolinke commented on #1227
@jmriebold can you provide the core dump log of that crash ?

[2018-02-13 02:23] chivee commented on #909
@guolinke , let's remaining this open for further discussion.

[2018-02-13 07:27] nimamox commented on #1230
@guolinke I guess you were right! The problem was that when I changed to `objective: 'none'`, my learning rate would be very small, and I needed to increase it by an order of magnitude! I wondered before why XGBoost's appropriate learning rate is about .25 but anything more than .023 makes my LGBM to overfit.

[2018-02-13 07:29] guolinke commented on #1230
happy to know your problem had been solved.

[2018-02-13 07:29] #1230 closed

[2018-02-14 18:15] Jemma1um commented on #3
@Clovel  I can't install with option of "--without-multilib" too. But it's funny that, when I switch " gcc -fopenmp ... " into " gcc-7 -fopenmp ..." it works!
@piotrek1543   Thank you!

[2018-02-14 18:17] Jemma1um commented on #3
@Clovel
I can't install with option of "--without-multilib" either.
But it's funny that, after I **changed " gcc -fopenmp ...... " to " gcc-7 -fopenmp ......",** it doesn't return clang error and works!
@piotrek1543 Thank you!

[2018-02-15 15:29] Zelazny7 opened #1242 "Expose C_API_PREDICT_CONTRIB in R package"
Returning predictor contributions have been added directly to the C++ code.  These predictions are available from Python (using `predict_contrib=True`) but it doesn't look like they are accessible from R.

Please add an option to `predict.lgb.Booster` to return predictor contributions as well. These are used extensively in https://github.com/slundberg/shap and would help interpret lightGBM models.

[2018-02-15 22:43] nimamox commented on #1230
Sorry to open this issue again. Does setting `lambda_l1` and `lambda_l2` have any effect when using a custom objective function? I've added these regularization parameters (with values of different orders of magnitudes) to the model to no avail. Do I have to add the regularization terms to my custom objective (since `objective` is `'none'` now)? And if so how can I access model weights inside the

[2018-02-17 10:14] akaniklaus opened #1244 "Default Parameter Set & Ranges for Hypertuning"
I have obtained 82% binary classification accuracy on test-set with a static set of parameters. Then, I performed GridSearch to increase the accuracy. However, the resulting accuracy was lower.

I would like to ask what would be a default hypertuning search parameters for a regular data (not unbalanced) that a newbie can use to perform an initial test for binary classification problem.

I would be

[2018-02-17 10:26] Laurae2 commented on #1244
Check here: https://github.com/Microsoft/LightGBM/issues/695

Applies also to balanced datasets if you remove `scale_pos_weight`.

[2018-02-17 10:47] Laurae2 opened #1245 "Normalization of Regularization?"
In most frameworks we are using regularization which is automatically scaled to the number of features we have. There are rare cases where the training using non-normalized weights are causing issues, such as:

* Not having direct access to the server which trains a model on significantly more data than locally
* No direct way to query the number of observations to train
* Unknown/unspecified numb

[2018-02-17 11:27] guolinke commented on #1245
@Laurae2 it seems the xgboost's pr is for linear model, and LightGBM doesn't have linear models.
can you explain the idea with more details ? And where did you get the comparison table ?

[2018-02-17 11:47] akaniklaus commented on #1244
@Laurae2 Thanks a lot!!! I will try that. I was just about to reply to you in that issue in order to ask this.

[2018-02-17 11:55] Laurae2 commented on #1245
I'm using a private dataset which has very noisy features.

Instead of doing regularization with absolute scaled values, regularization is set depending on the number of training observations to scale the gain/leaf value.

For instance, the gain and leaf calculation in GBDT should be the following by default:

* value = [ ((sum(gradients) - L1)² / (sum(hessians) + L2)] (with sign for leaf value)

[2018-02-17 12:10] akaniklaus commented on #1244
@Laurae2 Can you give smaller ranges or step-sizes for num_leaves, max_depth as the current ones that you've given are too large. (It can take too long to tune them without a high step-size on a regular computer). For ones that you haven't recommended tuning, can you suggest default parameters if they are different than the default used by LightGBM. Also, what would be your suggestion about static

[2018-02-17 12:20] Laurae2 commented on #1244
@akaniklaus Never use grid search, use random search or bayesian optimization.

Use GBDT only unless you have a special need to use DART or GOSS.

[2018-02-17 13:43] guolinke commented on #1245
thanks @Laurae2 , got it.
I am aware about this problem, however, I think user should know the regularization of L1/L2 will be weaken when using large samples.

If we want it to be auto adaptive, we will have following new problems:
1. how do we scale the L1/L2 with number of samples ?
2. is that scale really needed ? or is regularization needed when #samples is large ?

[2018-02-17 16:06] akaniklaus commented on #1244
@Laurae2 Thanks!!! I switched to random search as I don't know how I can use bayesian optimization. Do you have any recommendations about bagging_fraction, feature_fraction, bagging_freq parameters as well as; lambda_l1, lambda_l2 and min_gain_to_split regularizations?

[2018-02-17 17:58] akaniklaus commented on #380
@guolinke @Neil-Schneider What about a dataset size of 2K? would defining those parameters as 1 and 0 still necessary? What would be suggested values of these parameters? Is there also a minimum threshold of dataset size for LightGBM? For example, can we say that ideally we should have at least 10K rows? What would be the suggested parameters for 10K?

[2018-02-17 23:49] guolinke commented on #380
@akaniklaus it depends. `1` is used for the extreme cases. for the 2k dataset, you can use 10/50/100, depends on your `num_leaves`.
However, for the small dataset, using small `num_leaves` is recommended.

These is not a threshold, but you should aware to use simple model (small `num_leaves`) is better for small datasets.

[2018-02-18 00:04] akaniklaus commented on #380
@guolinke Thanks. The default value is 20 now so I guess that it is allright as I obtained good accuracy.

[2018-02-18 11:38] Laurae2 commented on #1245
@guolinke I'll be running a large experiment next week on Higgs to assess how regularization behaves when the number of observation changes (along with hyperparameter tuning). We might get practical hypotheses on a proper scaling from it.

[2018-02-19 11:44] yoshimoncho opened #1246 "Random Forest for regression in LightGBM?"
Hi,
I've been trying to use RF with regression objective in LightGBM for python, but the loss value never decreases. Even if I tune the parameters it never decreases. Is Random Forest implemented for regression in LightGBM for python?

[2018-02-19 11:46] Laurae2 commented on #1246
Are you using subsampling and column sampling? If you use Random Forest without sampling, it will learn from a single tree only as all trees would become identical to the first one.

[2018-02-19 11:52] yoshimoncho commented on #1246
@Laurae2 Sure, with a value of 0.8...

[2018-02-19 11:54] Laurae2 commented on #1246
Can you provide a reproducible script?

[2018-02-19 11:54] yoshimoncho commented on #1246
@Laurae2 I've used this parameters...
			param = {'num_leaves':300,
			         'objective':'regression',
			         'max_depth':-1,
			         'learning_rate':0.01,
			         "min_child_samples":20,
			         "boosting":"rf",
			         "feature_fraction":0.4,
			         "bagging_freq":10,
			         "bagging_fraction":0.4 ,
			         "bin_construct_sample_cnt":200000,
			         "bag

[2018-02-19 11:56] yoshimoncho commented on #1246
@Laurae2 This is the relevant part of my script:
			train_data=lgb.Dataset(X_new_train,label=y_new_train)
			validation_data = lgb.Dataset(X_val,label=y_val)

			num_round = 100
			clf2=lgb.train(param,train_data,num_round,valid_sets  = [validation_data],early_stopping_rounds = 100,categorical_feature = [59] )
			predictions=clf2.predict(X_test)

[2018-02-21 20:47] econkc commented on #881
Hi,

I have the same error message even using gbdt or dart boosting. At first , my data has 6 target classes and it ran fine. However, I have decided to drop one of the classes and now have 5 targets, I change 'num_class' param accordingly but now I have got this error

Any suggestion?

[2018-02-23 05:04] prokopyev commented on #571
@Laurae2 's solution helped me in a similar instance as well.

[2018-02-23 06:06] guolinke commented on #1246
@yoshimoncho it is better to use `bagging_freq=1` for RF.

[2018-02-23 20:54] Trottefox opened #1247 "v 0.1"
Hello,

I'm working on python with an old compiled windows version  of the program (v 0.1) and I have more interesting results on a trainset I'm working on than with the newest version with the same parameters (or I think so)
I tried a lot of thing to find the reason why, but not having the source of the v0.1 makes it really uneasy.

I tried the first version available v1 and result are consistent

[2018-02-23 21:51] imatiach-msft commented on #909
@chivee @guolinke - @drdarshan suggested that the Java bindings could be improved by using SWIG typemaps.  This would be more customized code but it would remove the need for developers to deal with SWIG pointer types.  I think this is an improvement that we could add in the future for developers who use the Java bindings directly (and not our spark-based learners).

[2018-02-24 22:18] adavanisanti opened #1248 "Class labels in predict result or model file"
Hi,

Is there a way to get the correct class labels in the prediction result or model file? It looks like both model and result files have label indices and not labels themselves. Appreciate any pointer to get this info instead of reading the file again.

Thanks
Santi

[2018-02-25 03:28] guolinke commented on #1248
@adavanisanti
what is your definition of `label` ?  the name of class?

LightGBM is not just for the classification. And it is very common to provide the class probability in prediction, not the class name.
To get the final classification result on `label`, you should map it by yourself.

[2018-02-25 03:33] guolinke commented on #1247
Hi @Trottefox , we had lots of changes after v0.1.
I think it is very hard to get a full change list after 1 year.

following are some major changes that may affect the result:
1. the bin finding algorithm
2. the missing value handle
3. some default parameters
4. random number generator

[2018-02-25 05:07] adavanisanti commented on #1248
@guolinke Yes, label = name of the class. I understand that LightGBM is not just for classification and probability is the output of prediction. However, it is not clear what the internal representation of the label in LightGBM is. Since I don't explicitly pass a map to train the model, can I assume that the internal mapping from the name of class to label has alphanumeric order? This will help me

[2018-02-25 05:36] guolinke commented on #1248
@adavanisanti
LightGBM only accepts numbers for the class labels.
for binary class, >0 means positive, otherwise is negative.
for multi-class, it only  accepts number of >=0 .

[2018-02-25 06:46] adavanisanti commented on #1248
@guolinke Got it! Thanks for the clarification.

[2018-02-25 06:46] #1248 closed

[2018-02-25 16:05] Trottefox commented on #1247
Thanks for your reply, I'm sure there is a lot of changes, that's why I needed a source.

I use no missing value, and whatever random seed I take, results are consistent with both algorithms.
So my guess was more the third option for which I could maybe do something. But I didn't think the first one could be involved.

I also thought about the way categorical values are detected, but choosing them

[2018-02-25 16:15] Laurae2 commented on #1247
@Trottefox fetch an old commit using git then install the package. You can get the history of this repository using `git log`.

This document (https://github.com/Microsoft/LightGBM/blob/master/docs/Key-Events.md) shows all the key events to this repository with the associated commit.

[2018-02-25 19:47] Trottefox commented on #1247
I didn't know I could do that on my own, thanks a lot !
The next thing to do is a revert on the chosen commit id, I suppose.

[2018-02-26 17:34] discobot opened #1249 "c++ model format and multiclassification"
I'm trying to use my trained multiclassification lighgbm model in c++ project, and I can't figure out how to extract predicted class from a model converted to a c++ file (with convert_model_language = cpp ; task = convert_model).

The only interface i see is `GBDT::PredictLeafIndex(const double* features, double *output)`
How can I reconstruct predicted class or class probabilities from leaf value

[2018-02-27 03:40] guolinke commented on #1249
@discobot I think you need the `GBDT::Predict`, not the predictLeafIndex.
The predict will give the probability distribution over classes.

[2018-02-27 13:28] fukatani opened #1251 "[docs] Wining solution links are broken."
https://github.com/Microsoft/LightGBM/blob/master/examples/README.md

e.g. I clicked Porto Seguro’s Safe Driver Prediction solution, and reached different competition solution,
Thanks,

[2018-02-27 13:59] StrikerRUS commented on #1251
ping @ChenZhiyong
Practically all links are wrong. Could you please fix it?

[2018-02-28 03:16] zkurtz opened #1253 "feature_fraction warning needed if only one feature"
I don't think this qualifies as a bug, but it would be handy to have a warning in place in case a user tries to do training on a single feature and sets feature_fraction < 1. This tripped me up for a little while -- I could not figure out why the predicted values were zero everywhere:

[code]

[2018-02-28 05:15] guolinke commented on #1253
@zkurtz what version you are using?
I think have set the num_used_feature to 1 if it is smaller than 1.

https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learner.cpp#L248

[2018-02-28 05:19] #1249 closed

[2018-02-28 05:24] guolinke commented on #1251
fixed

[2018-02-28 05:24] #1251 closed

[2018-02-28 11:24] zkurtz commented on #1253
I'm on 2.0.10 -- looks like it's time for me to update, thanks!

[2018-02-28 11:24] #1253 closed

[2018-02-28 12:29] fstandhartinger commented on #74
Thanks for providing the nuget package and the excellent work on LightGBM in general!

But IMHO a nuget package that provides an .exe and an unmanaged .dll is not at all what you would wish for as an .NET developer.
You'll hardly find any C# developer that can make use of this nuget package in real life. Creating a .NET wrapper for the natively compiled .dll requires huge efforts and skills rarely

[2018-02-28 12:48] mfagerlund commented on #74
I agree with everything Florian says, I've developed my own GBM code (not
based on LightGBM or XGBoost) that's inferior to *both* LightGBM *and*
XGBoost, but I still use it because it's native C#. If LightGBM came out
with a proper c# wrapper, that would be waay better.

2018-02-28 13:29 GMT+01:00 Florian Standhartinger <notifications@github.com>
:

--
Mattias Fagerlund
Carretera AB

[2018-02-28 22:03] #1247 closed

[2018-02-28 23:04] fstandhartinger commented on #74
I experimented a bit with creating an executable based wrapper.
I also found out that the .exe in the nuget package is not providing GPU support.
Is there any chance to get a nuget package that contains a GPU ready compiled .exe?

[2018-03-04 11:02] fstandhartinger commented on #763
Hi there,

I have created a .NET wrapper for LightGBM (including GPU support) based on the executable version of LightGBM.
If interrested, see here:
[LightGbmDotNet](https://github.com/fstandhartinger/LightGbmDotNet)

But of course a proper .NET wrapper for LightGBM, maintained by the original team would be even better.

Best regards

Florian

[2018-03-04 11:02] fstandhartinger commented on #74
Hi there,

I have created a .NET wrapper for LightGBM (including GPU support) based on the executable version of LightGBM.

If interrested, check it out: [LightGbmDotNet](https://github.com/fstandhartinger/LightGbmDotNet)

But of course a proper .NET wrapper for LightGBM, maintained by the original team would be even better.

Best regards

Florian

[2018-03-05 09:11] mdabros commented on #763
Hi @fstandhartinger

Thanks for developing a usable C# wrapper for the LightGBM.exe based nuget package. This is definitely a step in the right direction, and I think this will help make LightGBM more accessible to the .net community.

For my specific use-case, including it as a more efficient an alternative to the gradient boost implementation in SharpLearning, I would prefer a solution where the

[2018-03-05 15:25] fstandhartinger commented on #763
@guolinke:
Could you please clarify what you mean with C# missing native Matrices support?
I consider writing a C# dll wrapper (or upgrade my current exe based wrapper).
Aren't muti dimensional floating point arrays enough for dealing with the LightGBM interface?
It not, maybe external libraries like [Math.NET](https://numerics.mathdotnet.com/) can help to fill the gap here.
Thanks!

[2018-03-05 20:44] lucasecardoso commented on #1076
Hi,

I'm working on implementing this functionality in the Python package, but I'm finding inconsistencies between the data accessed by the R package in the file lgb.interprete.R and the data we're seeing in the Python package.

Specifically, when parsing the model with R, the program is looking for elements of the model that we're not finding when printing the model in Python:

[code]
When lookin

[2018-03-06 14:55] redditur commented on #14
@guolinke @chivee

I would also be very interested in seeing this feature implemented in LightGBM. As aldanor stated above the Pseudo-code suggested earlier is correct and is how XGBoost implements monotonic constraints.

As such this feature should be fairly trivial to implement for someone with an intimate knowledge of the codebase.

[2018-03-06 19:07] zkurtz commented on #1222
These go above and beyond what's current in xgb.plot.tree; would be great to have them in R for LightGBM http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8017582

[2018-03-06 22:42] vruvora commented on #1246
Is it possible to get the value of each estimator in `random_forests` to generate prediction intervals/uncertainty estimates?

[2018-03-06 22:44] vruvora opened #1256 "LightGBM Earth Mover's Distance"
Thanks for designing such an awesome library. I was curious if you have plans to incorporate Earth Mover's Distance into LightGBM so we can optimize over distributions.

[2018-03-07 14:35] Zelazny7 commented on #1242
I would be happy to give this a shot given some pointers are which pieces of code are affected. I'll attempt it either way and cross my fingers I only need to twiddle with the R package code.

[2018-03-07 16:15] zachmayer opened #1257 "Accelerated Gradient Boosting"
I just read a cool paper on arxiv and thought it might be of interest to the LightGBM team: https://arxiv.org/pdf/1803.02042.pdf

[2018-03-09 02:14] yh0sh opened #1258 "Disable log info message when loading model"
when I load model as pickle or Booster class with parameter file_name, log info message appears as bellow:

and the corresponding source code:
https://github.com/Microsoft/LightGBM/blob/v2.1.0/src/boosting/boosting.cpp#L26

The problem was issued by stackoverflow, but is not solved yet:
https://stackoverflow.com/questions/48065751/silence-when-loading-lightgbm-model-in-python-from-pickle

I use py

[2018-03-09 06:36] chivee commented on #1242
@Zelazny7 , thanks so much, we could help to check the logic when PR is ready.

[2018-03-09 17:45] Zelazny7 commented on #1242
I created a PR for this feature here:
https://github.com/Microsoft/LightGBM/pull/1259

[2018-03-10 00:43] #1258 closed

[2018-03-11 01:40] olofer commented on #1256
Could you specify more precisely what you have in mind? Even computing the EMD requires solving a linear program if I'm not mistaken.

[2018-03-11 13:38] #1242 closed

[2018-03-12 13:28] chivee commented on #1256
@vruvora , what's situation/scenario do you want to use Wasserstein/EMD?  considering it's normally seen in deep learning scenario.

![image](https://user-images.githubusercontent.com/2283057/37286249-5ccb9bcc-263c-11e8-8963-0eb5307e9de0.png)

![image](https://user-images.githubusercontent.com/2283057/37286224-4dfb966a-263c-11e8-9e3e-4d7829deb87a.png)

[2018-03-13 09:05] Raise-me-up opened #1261 "There are lots of errors when I compile LightGBM on Windows by using cmake"
## Environment info
Operating System:  Windows 10
CPU:  i5-7300HQ
CMake version: 3.11.0-rc3

## Error Message:
F:\Microsoft visual studio 2015\installation\VC\include\utility(180): error C2065: “__this”: 未声明的标识符 [E:\Anaconda\Light
GBM\LightGBM\build\_lightgbm.vcxproj]
  F:\Microsoft visual studio 2015\installation\VC\include\utility(205): note: 参见对正在编译的函数 模板 实例化“void std::swap<int,doub
  le>(std::

[2018-03-13 11:10] guolinke commented on #1261
Did you choose cpp components  when installing visual studio?

[2018-03-13 12:34] penolove opened #1262 "Feature importance calculate on validation set"
seems that feature importance calculates on the training set, can it apply to validation set?

[2018-03-13 15:16] Raise-me-up commented on #1261
Of course!

[2018-03-13 18:52] Zelazny7 commented on #1262
You can use the column sums of the absolute values of the predictor contributions to achieve this. When predicting, pass in `pred_contrib=true` or `predcontrib=TRUE` (R version) which will return a matrix of predictor contributions. The last column is the model intercept and can be ignored. By summing the absolute values of these contributions you can calculate importance on any data set.

[2018-03-14 00:28] guolinke commented on #1261
from your log, it seems you didn’t install visual studio correctly. you can try to repair it and reinstall c++ components. If problem still exists, you can try to install MSBuild 2017 with c++, English version.

[2018-03-14 00:28] #1261 closed

[2018-03-14 03:31] zhanglistar commented on #790
I am going to do this.

[2018-03-14 16:24] slon opened #1264 "Proposal: Support creating dataset from multiple input arrays"
Hi,

I would like to discuss the problem I have experienced and propose the solution.

I'm using LightGBM for a dataset about 100G in size (in float32 numpy format). Dataset is generated in memory just before training and passed to lightgbm in a form of one huge numpy matrix. What way I'm able to avoid writing 100G to disk, which would be a lot slower.

Dataset is generated using 24 threads. Each

[2018-03-14 18:23] zkurtz opened #1265 "Feature request: Allow lgb.cv user to specify actual folds instead of nfold"
For some binary regressions, the training labels are probabilistic (continous [0,1]) instead of binary {0,1}. However, unsurprisingly, `lgb.cv` in R throws the error

[code]
as in [896]( https://github.com/Microsoft/LightGBM/issues/896) if you try to run `lgb.cv` with `stratified = TRUE`.  Indeed, there isn't an obvious default method for stratifying on a continuous variable.

Therefore it would b

[2018-03-15 02:03] janelu9 opened #1266 "is there a demo that shows how to train data from hdfs？"
I am wondering if the algorithm is paralleled of hdfs version or just read data  parallelized on hadoop?

[2018-03-15 05:51] AbdealiJK commented on #1039
I think this can be made more generic to use the HDFS functionalities to read using. As amazon sdk support for HDFS would add S3 support too.
Kind of like how Spark or Hive use the same libraries for HDFS and S3

Related to:
https://github.com/Microsoft/LightGBM/issues/1183

[2018-03-15 05:52] AbdealiJK commented on #1022
Would be awesome to check in the python package if Running on Jupyter + boostvis is installed and show a quick plot using boostvis as I assume visualization would take little time

[2018-03-15 07:23] chivee commented on #1266
Not yet, Let's using feature parallel for example,  you can build with USE_HDFS  enabled and set datasource to the hdfs files. it should works file

[2018-03-15 10:57] Nzteb opened #1267 "Exclusive Feature Bundling (EFB) Python"
Hi,

the paper in table 2 you compare the implementations  lgb_baseline, EFB_only, LightGBM. It says lgb_baseline is without EFB and without GOSS.

How is it possible to reproduce these implementations with the Python package?

E. g.  I see switching boosting type from GOSS to GBDT but I cannot find any information about EFB in the documentation. Is this implemented in all of the different boostin

[2018-03-15 12:17] guolinke commented on #1267
EFB is enable by default. you can disable it by set `enable_bundle=false` when construct dataset.

[2018-03-15 12:17] #1267 closed

[2018-03-15 12:50] Nzteb commented on #1267
Perfect, thanks!

[2018-03-15 13:42] Rpygamer commented on #1217
import lightgbm as lgb
# ....

gbm = lgb.train(params,
                lgb_train,
                num_boost_round=10,
                valid_sets=lgb_train,  # eval training data
                feature_name=feature_name,
categorical_feature=[21])
#.......

# to save
gbm.save_model('model.txt')
# to load
bst = lgb.Booster(model_file='model.txt')

[2018-03-15 18:42] Sandy4321 opened #1268 "may you explain what is data format for lambdarank"
In order to use this project example is it important to share how data from recommended systems/ranking
can be transformed to data files examples in this folder
https://github.com/Microsoft/LightGBM/tree/master/examples/lambdarank

so how data in this folder connected to real data from real live ranking task
Thanks

[2018-03-15 22:36] guolinke commented on #1267
you should add it to the parameter dict and then pass to Dataset

[2018-03-15 23:09] yanyachen commented on #1076
Sorry for replying late. You need to parse the boosting trees to a format that contain the parent index of a node or a leaf. I did that here: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.model.dt.tree.R#L78

[2018-03-16 00:51] vruvora commented on #1256
I want to train the LightGBM to output a distribution.

[2018-03-16 08:28] janelu9 opened #1269 "how to use lightgbm of hdfs version?"

[2018-03-16 08:52] chivee commented on #1269
Build from source with HDFS enabled, detailed could be found at :

https://github.com/Microsoft/LightGBM/pull/1243

[2018-03-16 09:12] janelu9 commented on #1269
@chivee  well I know how to build it but wonder how to use it from python api

[2018-03-16 09:32] janelu9 commented on #1269
@chivee  need I train it like https://github.com/Microsoft/LightGBM/issues/396?

[2018-03-16 13:14] Zelazny7 commented on #1262
Yes, you're understanding is the same as mine! You will be calculating the Shap scores for each feature. The have the nice property of being consistent and adding up to the predicted score so I agree with you about them being better as well. However, they may take a while to compute on large datasets. I haven't done any timing tests and I'm not sure what the complexity of the operation is.

[2018-03-16 14:47] penolove commented on #1262
Thx! Is the shap feature importance mention in this paper? https://arxiv.org/abs/1706.06060

[2018-03-16 14:58] Zelazny7 commented on #1262
Yes, that is what's being calculated using `pred_contrib = true` or `predcontrib=TRUE`. I had nothing to do with that paper and only exposed what the author of that paper added to LightGBM in the R package

[2018-03-16 15:01] vinhdizzo opened #1270 "R package not building because of DCF error (DESCRIPTION file not formatted properly?)"
Hi,

I just downloaded LightGBM this morning and tried to build the R package.  I am getting the following error.  Seems like the DESCRIPTION file is not formatted correctly.
![image](https://user-images.githubusercontent.com/114053/37527832-394d3a78-28f0-11e8-89b4-03029b76e863.png)

[2018-03-16 16:13] asos-gordon opened #1271 "documentation error for LGBMRanker group format"
When executing

LGBMRanker().fit(X, y, group=groups)

I get the following error message

LightGBMError: b'sum of query counts is not same with #data'

The cause was the form of groups. The documentation states that the shape of groups should be n_samples but this is false. Instead, groups.sum() should equal n_samples, where groups is an array of successive group sizes and not, as I inferred from t

[2018-03-16 20:50] vinhdizzo commented on #1270
I was able to build the R package if I modified the "Description" section of  `DESCRIPTION` to be:
[code]

I think that line might've been too long originally.

[2018-03-17 04:30] jsh9 commented on #789
I use lightgbm in Python, and I also would love for lightgbm to encode categorical features internally (i.e., "on the fly").

Having read the discussions above, I acknowledge that this is not trivial, but I think it can be implemented in the data preparation stage (i.e., when user creates the `lightgbm.Dataset` object), and the training stage does not need any changes.

Here are some details:

- I

[2018-03-18 03:24] Interstella12 commented on #1044
I received the same error “ValueError: For early stopping, at least one dataset and eval metric is required for evaluation”, my code are like this,obviously, I've set the 'eval_set' and 'eval_metic'
`lgbc_params = {
        'boosting_type': "gbdt",    # string, optional (default="gbdt")
        'num_leaves': 31,   # int, optional (default=31)
        'max_depth': -1,    # int, optional (default=-1

[2018-03-18 10:02] guolinke commented on #1271
Thanks for point out, you can create a PR to directly fix it.
Thank you.

[2018-03-18 10:03] guolinke commented on #1270
@jameslamb

[2018-03-18 11:09] miclegr opened #1272 "[R-package] add support for gamma/tweedie objective functions"
Would be possible to support in the R pakage gamma and tweedie objective functions as it is in the python package?

Currently possible objective function are hardcoded in utils.R lgb.check.obj function:
[code]

Unfortunately adding gamma and tweedie there doesn't do the trick.

[2018-03-18 15:39] jameslamb commented on #1270
Thanks for bringing this to my attention! Will submit a fix soon

[2018-03-18 16:28] pranavpandya84 commented on #912
I followed exactly the same steps to install lightgbm in R (3.4.0) and getting error with DESCRIPTION file.

Approach one:

`lgb.dl(commit = "master", compiler = "vs", repo = "https://github.com/Microsoft/LightGBM")`

![error lgb 2](https://user-images.githubusercontent.com/22565727/37568132-49e572dc-2ad1-11e8-95d8-75f2234ea44d.PNG)

Approach two:
[code]
![error lgb](https://user-images.githubuser

[2018-03-18 16:41] Laurae2 commented on #912
@pranavpandya84 Duplicate: https://github.com/Microsoft/LightGBM/issues/1270

[2018-03-18 17:44] pranavpandya84 commented on #912
Super! Thank you so much for the prompt response. I am able to install it successfully now.  Thx.

[2018-03-18 21:26] jameslamb commented on #1270
@vinhdizzo I was able to reproduce this error on my machine today.

The issue is not the that first line is too long...it's the empty line I added when I added additional information to the `DESCRIPTION` in #1260 . I think that R does not like any blank lines in the `DESCRIPTION` file. I will update shortly

[2018-03-19 01:15] guolinke commented on #1268
refer to https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#query-data

This data is sampled from Yahoo Learning to rank dataset: https://webscope.sandbox.yahoo.com/catalog.php?datatype=c

[2018-03-19 01:15] #1268 closed

[2018-03-19 01:16] guolinke commented on #1271
@asos-gordon I didn't find about ` states that the shape of groups should be n_samples ` . can you point it out ?

[2018-03-19 01:18] guolinke commented on #1269
@janelu9 it supports the hdfs file. I don't think it can support spark rdd.
For the spark version, please refer to https://github.com/Azure/mmlspark, which support LightGBM

[2018-03-19 01:18] #1269 closed

[2018-03-19 01:19] guolinke commented on #1266
hdfs is just a IO interface, and independent with parallel learning. If you want to train parallel, you can refer to https://github.com/Microsoft/LightGBM/blob/master/docs/Parallel-Learning-Guide.rst

[2018-03-19 01:19] #1266 closed

[2018-03-19 01:20] #1270 closed

[2018-03-19 04:54] janelu9 commented on #1266
@guolinke could you give me a demo

[2018-03-19 06:00] guolinke commented on #1266
@janelu9 refer to this: https://github.com/Microsoft/LightGBM/tree/master/examples/parallel_learning,
but replace the data file with the hdfs path.

[2018-03-19 08:22] #1246 closed

[2018-03-19 09:19] asos-gordon commented on #1271
Sure, here are screenshots from the readthedocs page and the internal documentation

<img width="1440" alt="lightgbmdocumentation_screenshot" src="https://user-images.githubusercontent.com/32770683/37587184-7fcd6906-2b56-11e8-82ce-83ec1bf09de6.png">
<img width="846" alt="lightgbmdocumentation_screenshot2" src="https://user-images.githubusercontent.com/32770683/37587186-7feed5be-2b56-11e8-85b1-534f

[2018-03-19 09:35] guolinke commented on #1271
fixed in the latest commit .

[2018-03-19 09:35] #1271 closed

[2018-03-20 09:44] janelu9 commented on #1266
@guolinke thank you ！

[2018-03-20 15:05] hutaohutc opened #1275 "R lightgbm can not use two valids in version 0.1"
When i use code in https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/basic_walkthrough.R
make error
[code]

[code]

[2018-03-20 15:56] #1275 closed

[2018-03-21 03:22] mutexliu opened #1277 "lightgbm uses only one core for training"
I'm using lightgbm for recently [kaggle competition](https://www.kaggle.com/c/talkingdata-adtracking-fraud-detection), where the training data has 180,000,000 rows and about 15 features.

The computer (centos) has 24 cores, but only uses one core for training.
Training parameter `nthreads` is set to 8.

Is it common for lightgbm when training with small features?
Any suggestions for using more cor

[2018-03-21 03:35] guolinke commented on #1277
can you provide a example code? I think it should be run multi-threading

[2018-03-21 06:16] kylelee82 opened #1278 "Problem with large regression numbers"
## Environment info
Operating System: Ubuntu 16.04
CPU: Intel(R) Core(TM) i7-7600U CPU @ 2.80GHz
C++/Python/R version: Python version==2.1.0

## Problem:

It seems like for regression targets larger than 1million, there is a performance issue with LightGBM and the model doesn't really train i.e. bad convergence.  It is surprising that targets of million/billion (which are pretty decently sized reg

[2018-03-21 07:32] guolinke commented on #1278
please try the “reg_sqrt=true”

BTW, Lightgbm will limit the max output of tree leaves(default is 100), you can change it to a larger value.

[2018-03-21 07:44] kylelee82 commented on #1278
Thanks a lot - this will help, see updated graph below:

![image](https://user-images.githubusercontent.com/7127211/37698654-c3615fbe-2d1e-11e8-8506-14c41a8f359d.png)

But I have some questions on doing this:

1. Is this recommended for all regression cases? (i.e. just leave it True for all regression cases)
2. Will the log-link property for some of the objectives still hold if this transformation

[2018-03-21 08:15] chivee commented on #1278
Is this recommended for all regression cases? (i.e. just leave it True for all regression cases)

Will the log-link property for some of the objectives still hold if this transformation is used?

I assume it will not properly work for negative numbers?

[2018-03-21 09:26] kylelee82 commented on #1278
For clarification I was referring to the exotic loss functions (Poison/Tweedie/Gamma), and it seems this feature is blocked out when those functions are used:

https://github.com/Microsoft/LightGBM/blob/master/src/objective/regression_objective.hpp#L368

[2018-03-21 14:51] mutexliu commented on #1277
After rechecking the cpu usage, I found the cpu usage changes drastically, from 100% to 800%, which mean the program is run multi-threading.

So, apology for my correct information. I will close this issue.

[2018-03-21 14:51] #1277 closed

[2018-03-21 16:35] fl2o opened #1279 "max number of categories for Categorical features"
Suppose that I have a dataset with a categorical variable encoded as int. In the train function of lightgbm, I declare this variable as categorical

`lgb.train(..., categorical_feature=['my_categorical_feature'], ...)`

I would like to know:

- What is the maximum number of different categories that lightGBM can handle ?

- Is it related to the max_bin parameter?

- if yes, what happens if max_bin

[2018-03-21 16:48] guolinke commented on #1279
it depends on the memories of your machine.

[2018-03-21 16:55] vinhdizzo opened #1280 "[R-package] Process R exited abnormally with code 5"
R is crashing on me, and I was finally able to create a reproducible example.

## Environment info
Operating System: Windows 7 with 16GB of memory
CPU: Intel i7-4790
C++/Python/R version: C++ using VS Community, R 3.4.2 (MS R Open)
LightGBM: Git version as of 3/21/2018

## Error Message:
Process R exited abnormally with code 5 at Wed Mar 21 09:48:01 2018

## Reproducible examples
[code]
## Steps t

[2018-03-21 17:01] fl2o commented on #1279
Thank you for your prompt reply!

But can you please be more explicit?
especially about the 3 points?

Let's say I am working on a windows 7 (64bits) machine with 3To HDD and 8Go RAM

[2018-03-21 20:43] AraneoA opened #1281 "Error in lgb.check.obj(params, obj) when using quantile regression."
Hi,
I am trying to do a quantile regression and get an error stating that the objective is invalid. I understand that quantile regresison is available in the current version installed v2.1.0

Since the data I´m working with is too big I am pasting a small reproducible example below plus additional details.

Thanks!

## Environment info
Operating System: UBUNTU 17.10
CPU: AMD Ryzen/CUDA GPU
C++/Pyt

[2018-03-22 01:28] guolinke commented on #1272
fix in the latest commit.

[2018-03-22 01:28] #1272 closed

[2018-03-22 01:38] guolinke commented on #1279
it depends the memories and #data of your dataset.

it is related, but doesn't have much impact. The bin of categorical feature isn't fully controlled by max_bin.

8GB memory may is not enough if your #data is large.

[2018-03-22 01:44] guolinke commented on #1278
@kylelee82
it depends on the distribution of the labels. if it is a Poisson/Tweedie/Gamm distribution, you can use it.

`reg_sqrt` cannot be used here since it will break the distribution assumption of Poisson/Tweedie/Gamm .

[2018-03-22 01:44] #1278 closed

[2018-03-22 01:46] guolinke commented on #1280
I thin the error is in ```[LightGBM] [Fatal] Cannot construct Dataset since there are not useful features. ```

Can you try the smaller `min_data_in_leaf` ?
BTW, are you using the very sparse data ?

[2018-03-22 01:53] vinhdizzo commented on #1280
Yes, the error could be coming from the construct line. But why would
LightGBM crash in a subsequent call? Does it have to do with pointers?

No, I don't believe the data is sparse in this example, as seen in the
example. There is one categorical variable with 10k classes, and missing
values.

I can try with smaller min_data_in_leaf, but why would this create the
error? I set it to be sizable to b

[2018-03-22 02:24] guolinke commented on #1280
it seems the x1 is int type, I remember we only accept the float matrix. can you try to convert to float ?

[2018-03-22 02:29] kylelee82 commented on #1278
@guolinke So moving forward, the official usage for behavior with large numbers in regression (>million range) will just to enable `reg_sqrt` and no further improvements will be made in the engine itself, right?

[2018-03-22 02:30] guolinke commented on #1280
when dataset constructed fail, it cannot produce the valid pointer, as a result, using it to the lgb.train will fail

[2018-03-22 02:31] guolinke commented on #1278
yeah.

[2018-03-22 02:40] vinhdizzo commented on #1280
I was not aware that data had to be float and that int would create errors.
This makes a lot of sense in terms of LightGBM crashing. Perhaps the R
wrappers should check the matrix consists of float via is.double? Also, the
R documentation should mention this.

As for the data construct, the error seems to be thrown when lgb.train is
executed the first time. I am guessing that lgb.train modified so

[2018-03-22 02:44] guolinke commented on #1280
@Laurae2 Can we check the int type of matrix before using it ?

[2018-03-22 02:57] vinhdizzo commented on #1280
I can confirm that I no longer run into this error after coercing the matrix to double by multiplying by 1.0.  Thank you for your help, @guolinke .  Would be great if @Laurae2 could specify this explicitly in the R documentation (the `data` argument) and to test via `is.double`.

[2018-03-22 07:47] miclegr commented on #1272
Fix is not working unfortunately, as I was mentioning adding gamma in the OBJECTIVES vector in lgb.check.obj function doesn't do the trick.

Reploducile Example:
-----------------------

[code]

Error
-----
[LightGBM] [Fatal] No object function provided

[2018-03-22 08:03] guolinke commented on #1272
Are you on the latest master code ?
Can you try to clean the old package and reinstall ?

[2018-03-22 08:30] fl2o commented on #1279
Thanks
How are controlled the bin of categorical features then?
Setting max_bin = 32 with 256 000 categories, lightgbm will not group different categories in the same bin?

[2018-03-22 08:32] guolinke commented on #1279
@fl2o it depends how many different categories in each feature.

[2018-03-22 08:44] fl2o commented on #1279
It's still unclear what role plays max_bin for categorical, and the link between number of categorical features, number of categories per feature and memory
Maybe some examples can highlight the behaviour ?

[2018-03-22 09:16] guolinke commented on #1279
details are in code: https://github.com/Microsoft/LightGBM/blob/master/src/io/bin.cpp#L207-L389
max_bin can limit the #bin for numerical features.
For the categorical feature, refer to the code here: https://github.com/Microsoft/LightGBM/blob/master/src/io/bin.cpp#L331-L350 .
In short, the condition is `used_cnt < cut_cnt || num_bin_ < max_bin` , where `cut_cnt=0.99*#data`.
So when #category is sm

[2018-03-22 09:31] fl2o commented on #1279
Thank you very much!
It is now very clear
"used_cnt < cut_cnt , where cut_cnt=0.99*#data " was the point I was missing :)

Have a nice day

[2018-03-22 09:31] #1279 closed

[2018-03-22 11:14] AraneoA commented on #1281
Thanks! After building with latest code it is working. Must have been a recent change.

[2018-03-22 11:18] AraneoA commented on #1272
I was referred to this issue from #1281. This fixed quantile as well. I can also confirm that gamma is working as well.

[2018-03-23 02:19] j-mark-hou commented on #14
Hey, so unfortunately I'm not very familiar with the code base and it's been a while since I've written any c++, but here's an attempt:
https://github.com/Microsoft/LightGBM/compare/master...j-mark-hou:add_monotone

I also haven't tested this code so not sure it works.
If this looks logically correct, the next step would be to actually add the monotone_constraint argument into the parameters.  I d

[2018-03-23 02:26] guolinke commented on #14
@j-mark-hou
there is one bug in your code, refer to @AbdealiJK `s comment and my algorithm below.

[2018-03-23 03:11] j-mark-hou commented on #14
got it, I'll continue waiting for someone with a better understanding of the codebase to take a look then.

[2018-03-23 09:12] janelu9 opened #1282 "it seems that lightgbm con't read the path of parquet file on hdfs"
can it only read a single txtfile on hdfs ?

[2018-03-24 15:29] qianrenliang opened #1283 "Can anyone tell me how lightgbm cal split gain?"
in xgboost paper:
one node impurity score: sum_grad / (sum_hess + gamma)

but i dont see it in lightgbm paper,  in the issue#1230 , author say split gain is calculated by sum_grad / sum_hess, but i want know where is gamma ,alias min_split_gain

[2018-03-24 19:48] Laurae2 commented on #1245
@guolinke L1, L2, and hessian regularization does not seem to scale linear/log with the number of observation (although the optimal value increases with the number of observations), I think it's good for only for GLM-type models and not tree-based models.

No conclusion so far.

[2018-03-24 19:48] #1245 closed

[2018-03-24 19:52] Laurae2 commented on #1280
@guolinke Yes, we can check with `storage.mode(matrix) == "double" or `is.double(matrix)`.

To change the matrix storage mode, we can do `storage.mode(matrix) <- "double"`

[2018-03-24 19:53] Laurae2 commented on #1280
Re-opening temporarily until fixed with description.

[2018-03-24 21:08] ZellW commented on #248
Hmm, I just installed lightGBM and I get `Error in lgb.importance(bst, percentage = TRUE) :
  could not find function "lgb.importance"`

[2018-03-26 02:07] janelu9 commented on #1282
it is suggested to support parquet file , generally we write file as parquet format from spark directly~

[2018-03-26 02:10] janelu9 opened #1286 "[hdfs] support parquet file"
can it only read a single txtfile on hdfs ?
it is suggested to support parquet file , generally we write file as parquet format from spark directly after feature project~

[2018-03-26 02:10] janelu9 commented on #1282
- [ ]

[2018-03-26 02:10] #1282 closed

[2018-03-26 09:32] tantrev commented on #1222
A function similar to xgb.plot.multi.trees method would be especially useful for biological applications like setting gates for cell sorting, where model interpretation is pivotal.

[2018-03-27 21:12] ttustonic commented on #763
Here's another one: https://github.com/ttustonic/LightGBMSharp
It is interop library for the original LightGBM dll and has a few classes to mimic Python wrapper.

Cheers, Tom

[2018-03-28 02:28] guolinke commented on #1286
@janelu9 Sorry, it only supports text file now.

[2018-03-28 02:30] guolinke commented on #1283
gamma is the parameter  `lambda_l2`.
refer to: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L291-L297

[2018-03-28 02:30] #1283 closed

[2018-03-28 17:17] Whamp opened #1287 "Windows GPU CMAKE Generator Error x64"
I'm new to cmake so this may just be user error but when installing for gpu on windows according to the instructions here:

 [https://github.com/Microsoft/LightGBM/blob/master/docs/Installation-Guide.rst#build-gpu-version](url)

I get the following error message when running:

`cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DUSE_GPU=1 ..`

## Environment info
Operating System: Windows 10 Pro
CPU: i7-5820K

[2018-03-28 19:41] borntoburnyo opened #1288 "Typo in Python API document page"
## Environment info
Operating System: NA
CPU: NA
C++/Python/R version: NA

## Error Message:
There is typo in page:
http://lightgbm.readthedocs.io/en/latest/Python-API.html#training-api
Under `lightgbm.cv` return value:

eval_hist – Evaluation history. The dictionary has the following format: {‘metric1-mean’: [values], ‘metric1-stdv’: [values], ‘metric2-mean’: [values], ‘**metric1-stdv**’: [values

[2018-03-28 20:57] #1288 closed

[2018-03-28 20:58] chivee commented on #1288
thank you

[2018-03-28 21:06] Whamp commented on #1287
No idea what solved it but trying the install fresh from the top worked

[2018-03-28 21:06] #1287 closed

[2018-03-29 02:58] yananchen1989 opened #1289 "Requirement error when install GPU version"
I want to install lightgbm of GPU version in my machine. Before installing it, I execute the command "`pip install cmake`" and there is no error after that.
Then I try install lgb like this below:
[code]
I don't knwo what's wrong with this. How to solve it ?

[2018-03-29 03:01] guolinke commented on #1289
I think cmake isn't in pip. it is a system side package.

[2018-03-29 03:01] #1289 closed

[2018-03-29 06:06] meetdave06 opened #1290 "[GPU] Segmentation fault on Ubuntu 14.04"
## Environment info
Operating System: Ubuntu 14.04.1
CPU: Intel(R) Core(TM) i7-5820K CPU @ 3.30GHz
GPU : GeForce GTX 1080, Vendor: NVIDIA Corporation  8GB
Nvidia-version : NVIDIA-SMI 375.39 Driver Version :375.39
C++ : g++ (Ubuntu 4.9.4-2ubuntu1~14.04.1) 4.9.4
Python : anaconda3 python3.6

## Error Message:

[LightGBM] [Info] Number of positive: 220, number of negative: 94780
[LightGBM] [Info] Thi

[2018-03-29 06:52] Laurae2 commented on #1290
Please provide a reproducible example on a smaller publicly available dataset (you also don't have 1 million observations, you have 95000).

We can't nail down whether you don't have enough available GPU RAM or if it is a bug.
If on the smaller dataset it still crashes, can you run gdb as the GPU documentation says to pinpoint where it crashes? (Compile for CLI with debug flag, cf GPU docs)

[2018-03-29 08:46] pranavpandya84 opened #1291 "Huge difference in modelling time (R and Python version) for 75 million observations"
This is related to currently active machine competition on Kaggle namely TalkingData. In an experimental run, I have tested R version of LightGBM and have compared it with Python version. Surprisingly, Python version of LightGBM takes extremely high training time and I wanted to know if it's normal in Python LightGBM with large number of observations.

- Total observations: 75 million
- params : s

[2018-03-29 09:10] Laurae2 commented on #1291
@pranavpandya84 There should be no reason for Python to take that much time, as the underlying code is identical to R. Please use the same dataset and run without Kaggle kernels (on your machine).

Kaggle kernels are not reliable when it comes to CPU usage for benchmarking. Also, the Python kernel uses double the number of boosting iterations. Note also that the AUC differs significantly (features

[2018-03-29 11:58] peeyman opened #1292 "Is it possible to pass additional arguments to a custom objective function?"
I want to write a custom objective function which can accept prediction of the other models as arguments. To be more precise, I want something like the following as header:

`def customObjective(preds, lgb_train , otherArgs):`

Or, is it possible to pass those predictions in lgb_train and extract them inside?

Thank you in advance.

[2018-03-29 14:31] Laurae2 commented on #1290
ping @huanzhang12 , debug trace provided for troubleshooting

[2018-03-29 14:40] andyharless commented on #1291
The links are screwy, because of the way Kaggle's web site handles them.  The Python kernel to which @pranavpandya84 intends to refer (go to https://www.kaggle.com/aharless/try-pranav-s-r-lgbm-in-python, click on "Versions", click the link for "Version 5", and click on "Log") does the same number of boosting iterations as the R kernel to which he refers (go to https://www.kaggle.com/pranav84/singl

[2018-03-29 14:58] IbanezJS opened #1293 "Just questions"
Hi !

1)Is there 'feature importance' in LightGbm like in XGBoost?
2)What is the fastest way to get prediction for single row on already trained model. If say i have a stream of newcoming data rows and i want to get prediction for each row as fast as possible

[2018-03-29 15:07] Laurae2 commented on #1291
Multiple potential reasons below, the most probable is AUC which is left on training set in Python and should be removed as it is computationally extreme (significantly slower than training the model).

I've seen Kaggle kernels being 10x slower depending on the time of the day, and kernels where updates causes some libraries to take 5x or even longer time to do model training.

As LightGBM is memo

[2018-03-29 15:13] andyharless commented on #1291
Thank you @Laurae2. I didn't realize computing AUC for the training data was so expensive, and I didn't notice that difference between the kernels.  That may be the main explanation.  I'll try it without the training AUC after the current run finishes.

[2018-03-29 15:20] pranavpandya84 commented on #1291
@Laurae2 Thanks you so much for the detailed response.

[2018-03-29 18:15] andyharless commented on #1291
Yes, the training AUC evaluation does appear to have been the problem. With it, the last Python run timed out after 6 hours. Without it, it ran in less than an hour. Thank you again, @Laurae2.

[2018-03-30 01:59] borntoburnyo commented on #1288
Thank you for the great work.

[2018-03-30 23:15] arsenyinfo commented on #812
Currently, it leads to some kind of inconsistency:

[code]

Imho, check on feature count is really important, and this lack of assertion may lead to harsh, not so easy to debug issues.

[2018-03-31 01:59] meetdave06 commented on #1290
@huanzhang12  Hey, any update?

[2018-03-31 08:08] #1291 closed

[2018-03-31 13:32] w-zm opened #1294 "Different sequence of feature cause different result when using LightGBM?"
When I train a model using LightGBM, as follow:

    xgtrain = lgb.Dataset(dtrain[predictors].values, label=dtrain[target].values,
                      feature_name=predictors,
                      categorical_feature=categorical_features
                      )
    xgvalid = lgb.Dataset(dvalid[predictors].values, label=dvalid[target].values,
                      feature_name=predictors,

[2018-03-31 14:12] guolinke commented on #1293
@IbanezJS cpp predict function is in https://github.com/Microsoft/LightGBM/blob/master/src/application/predictor.hpp
However, it isn't design for steam data.
If you want speed up the single row prediction by multi-threading, you can change this function:
https://github.com/Microsoft/LightGBM/blob/master/src/boosting/gbdt_prediction.cpp#L9-L27

[2018-03-31 14:15] guolinke commented on #1294
This is by design. feature order will affect the accuracy.
The reason is, when choose a feature to split tree node, if two features have the same split gain, the feature with smaller index(id) will be chosen.

[2018-03-31 14:15] #1294 closed

[2018-03-31 14:21] w-zm commented on #1294
Thank you for your detailed answers.

[2018-03-31 16:58] IbanezJS commented on #1293
@guolinke Hi
which part you suggest to go parallel?
`for (int k = 0; k < num_tree_per_iteration_; ++k)`
this cycle? Are the `models_` all independent?

Actually I don't get math here. Why `num_iteration_for_pred_` and `early_stop` need for prediction on already trained model?
How `early_stop` may decide to stop prediction iterations?
Please give some educational references for this questions.

[2018-03-31 18:38] #1262 closed

[2018-04-01 00:33] guolinke commented on #1293
you can use openmp.
The models_ are independent.
sorry, not everything has reference.

The pr of early_stopping in prediction : https://github.com/Microsoft/LightGBM/pull/550

you can specific `num_iteration_for_pred_` to use part of trees for prediction, default is using all trees.

BTW, if you are not using multi-class, and didn't use early stopping in prediction, the changes is quite easy:
[cod

[2018-04-01 03:20] wjmj commented on #1105
It will be a very useful feature, I hope it will be implemented as soon as possible.

[2018-04-01 12:37] peeyman commented on #1292
@Laurae2  Thank you very much for the answer.

[2018-04-02 11:15] #1292 closed

[2018-04-02 12:16] IbanezJS commented on #1293
@guolinke thanks for the hint!

does `#pragma omp parallel` really beneficial?
I mean how heavy model->Predict() could be and what is average of num_iteration_for_pred_?
If compare to threads synchronization and context switch time.

Are there any further simplifications if using only binary classification output?

[2018-04-02 13:38] guolinke commented on #1293
@IbanezJS it depends on the complexity of your model, e.g. num_leaves, num_trees. You can just test it by run it.
I think it cannot be further simplified.

[2018-04-03 01:39] hohaxu opened #1296 "Questions on how to print out training loss for each epoch"
Hello, Sorry this may be a very basic question. But I have spent a few hours on it and searched stackoverflow etc :(

Is there a way to print out training loss for each epoch? I tried setting 'is_training_metric' = True and seems not working..

[2018-04-03 02:24] guolinke commented on #1296
`is_training_metric=True` should work.
Which package/version you are using with ? And did  you give the metric type ?

[2018-04-03 04:33] cavities opened #1297 "lgbmranker must set group for ranking task"
i use lgbmranker predict rank,but raise this  ValueError("Should set group for ranking task")
sample data like
`boston = datasets.load_boston()

data_boston = boston['data']
label_boston = boston['target']`

and evaluation index is gini coef

[2018-04-03 04:58] hohaxu commented on #1296
**version should be 2.1.0**

2.1.0

--------
**config as following**

params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'l2', 'auc', 'binary'},
    'is_training_metric': True,
    'metric_freq': 5,
    'num_leaves': 31,
    'learning_rate': 0.5,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 1,

[2018-04-03 07:34] guolinke commented on #1296
you should use
[code]

```is_training_metric=True``` only works in cli version.

[2018-04-03 09:52] luobotaxinghu opened #1298 "regression: sharp drop in performance under a certain circumstances"
In regression,  when  standard deviation of  target value is more than 10,000,  there is  a sharp drop in performance.
The code  below,  show that origin  y in [-500, 500] mostly,  multiply by 1000 and y is in [-500k, 500k]. You will find origin predict value of lightgbm is in [-500, 500],  but it is in [-50k, 50k] after multiplying.
I would like to know why and how to deal with it.

code:

`
from

[2018-04-03 09:57] kylelee82 commented on #1298
This may be related to the issue I had: https://github.com/Microsoft/LightGBM/issues/1278 (I believe it's the large regression numbers that cause a problem, rather than the standard deviation of the target)

[2018-04-03 10:42] luobotaxinghu commented on #1298
@kylelee82  Not because of  large regression numbers, you can add 1 million to y,  the performance will not drop. In a addition, XGB will  perform much better  with  similar  hyper-parameters.

[2018-04-03 11:04] guolinke commented on #1298
@luobotaxinghu `num_leaves=20` with `max_depth=50` ?

It is because by large regression target. LightGBM will limit the max tree output to 100 (https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/tree.h#L14), as a result, for large regression target, it needs much more trees to convergence. You can change `100` to larger number or set `reg_sqrt=True`. However, large regression targe

[2018-04-03 11:04] #1298 closed

[2018-04-03 11:29] luobotaxinghu commented on #1298
@guolinke Thank you.

[2018-04-03 12:42] pranavpandya84 opened #1299 "What is the mechanism of using param ‘scale_pos_weight’?"
It seems that XGBoost and LightGBM both have `scale_pos_weight` argument but calculation is done completely different. I couldn't find any authentic answer regarding how to calculate it in LightGBM so requesting it here.

I'm using following method to calculate scale_pos_weight. I am not sure if it's correct.

[code]

[code]

[2018-04-03 17:27] hohaxu commented on #1296
Yes it works! Thanks a lot!

[2018-04-03 17:27] #1296 closed

[2018-04-04 18:05] econkc opened #1300 "Class weight for multiclass"
Hi,

I have a quick question regarding the is_unbalance option whether or not it is supported for multiclass classification. I have gone through some of the threads and it seems like there are attempts to update this but the document still states that this option is only for binary classification. It appears that the sklearn version supports class_weight='balanced'. What about the python (non-skle

[2018-04-05 03:51] aroraakshit commented on #118
@Miracleday23Kevin  Try:
`cmake -DCMAKE_CXX_COMPILER=g++-iiii -DCMAKE_C_COMPILER=gcc-iiii .. `

Change `iiii` to 6 or 7 depending on the version of gcc installed on your mac.

[2018-04-05 20:53] bbennett36 commented on #1299
`scale_pos_weight` is always just `positives / negatives` I thought?

https://stats.stackexchange.com/questions/243207/what-is-the-proper-usage-of-scale-pos-weight-in-xgboost-for-imbalanced-datasets

This answer is for XGBoost but it should be the same for both datasets. If you're still unsure, I think 'is_unbalance' essentially does the same thing but calculated 'scale_pos_weight' by itself.

[2018-04-05 22:35] pranavpandya84 commented on #1299
Thanks @bbennett36
Actually, that formula is also mentioned in XGBoost documentation but LightGBM documentation lacks details on this parameter. That's why I wanted to confirm if formula stays the same for XGBoost and LightGBM or different.
I took reference for the formula from [this post](https://github.com/Microsoft/LightGBM/issues/1233)

[2018-04-06 01:27] w-zm commented on #1294
@bbennett36 ok, thanks a million.

[2018-04-06 04:05] alberthkcheng opened #1301 "[R-package] num_iteration=NULL behaviour for prediction"
In **documentation** :
num_iteration - number of iteration want to predict with, NULL or <= 0 means use best iteration

In **code**:
[code]

So, is the actual behaviour  *use all* or *best iteration*?
Thanks.

(similar question applied to methods like *lgb.model.dt.tree*)

[2018-04-06 04:26] guolinke commented on #1301
@alberthkcheng if you used early_stopping (and without re-load model from file), it will use the best_iteration, otherwise it uses all models.

[2018-04-06 04:26] #1301 closed

[2018-04-06 06:04] huanzhang12 commented on #1290
Thank you for reporting this issue! Based on the backtrace, the error is unlikely to be caused by the crash location in `boost/compute/program.hpp:646`. In fact, the crash is in the destructor of a C++ string. It is very likely that the heap was already corrupted before this point.

@meetdave06 Can you try to use an older commit (for example, compile the source of 2.1.0 release on Jan 25) and see

[2018-04-06 06:07] alberthkcheng commented on #1301
Thanks.. so this logic is handled in the C++ code?

[2018-04-06 07:53] samratp commented on #1299
@pranavpandya84
negatives / positives looks more accurate to me.

From the document we can see

scale_pos_weight, default=1.0, type=double
– weight of positive class in binary classification task

With the default value of '1', it implies that the positive class has a weight equal to the negative class. So, in your case as the positive class is less than the negative class the number should have b

[2018-04-06 08:04] Laurae2 commented on #1299
For both xgboost and LightGBM, `scale_pos_weight`, if assuming perfectly balanced positive/negative samples, means that:

`number of positive samples = number of negative samples`

which also means the following when using weights through `scale_pos_weight`:

`number of positive samples * sample_pos_weight = number of negative samples`

Therefore, its value, if asking for balance, is the following

[2018-04-06 08:04] #1299 closed

[2018-04-06 10:52] meetdave06 commented on #1290
@huanzhang12  Sure, I will try that out over the weekend. I am not sure what do you mean by bisection. I guess using git bisect to figure out the faulty commit. I will figure out how to use that.

[2018-04-06 21:52] SixiangHu commented on #1265
Is this a feature already implemented? Have a check the `folds` parameters in `lgb.cv`.

[2018-04-07 01:39] zkurtz commented on #1265
Indeed, looks like it's there! Here's a goofy use case that appears to at least run without throwing an error:

[code]

[2018-04-07 01:39] #1265 closed

[2018-04-09 09:57] JoaoLages opened #1302 "How are categorical features encoded in lightGBM?"
This is just a doubt. I know it is more of a stackoverflow question, but guys in there downvote my question for no reason...
Thank you in advance.

[2018-04-09 13:52] AFanthomme opened #1303 "Segfault on repeated fits of large datasets"
Hi !

While trying to adapt Boruta to work with LGBM on a fairly large dataset (18000 features, each of them being 0, 1 or 2, and 26500 examples) I ran into the following crash (simplified for clarity) :

## Steps to reproduce
`for i in range(100):
    Generate large dataset X, y
    clf = LGBMClasssifier()
    clf.fit(X, y)
`

When executing this, the first iterations always work, but most of the

[2018-04-09 21:12] bbennett36 opened #1304 "[Python] Confused about the difference between 'save_binary' in the Dataset class and 'save_binary' parameter for training?"
As said in the title, I'm a bit confused on the 'best' way to store my dataset as a binary file.

I'm currently calling it like this from a pandas dataframe-
[code]

The params in the example above DOES NOT use the `save_binary `parameter . (Not sure if the model even uses the binary dataset versions that I output)

Using it this way forces me to use` free_raw_data=false` which [according to the q

[2018-04-09 22:30] aparnack opened #1305 "'NoneType' object has no attribute 'LGBM_BoosterCreate' issue"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Windows 10
CPU: core i7, 8th Gen
C++/Python/R version: mingw-64 installed on Apr

[2018-04-10 06:39] guolinke commented on #1302
refer to https://github.com/Microsoft/LightGBM/issues/699

[2018-04-10 06:39] #1302 closed

[2018-04-10 06:42] guolinke commented on #1303
hi @AFanthomme , can you provide the type of X and y, e.g. 2d matrix or CSR matrix ? what is the data type? float32 or float64 ?

[2018-04-10 06:45] guolinke commented on #1304
@bbennett36 if you use the `reference` parameter for the validation data, you can always use `save_binary` with `free_raw_data=True`.
for example:
[code]

[2018-04-10 06:45] #1304 closed

[2018-04-10 06:48] guolinke commented on #1305
it seems you didn't install lightgbm correctly, since the `_LIB` is None.
https://github.com/Microsoft/LightGBM/blob/ebb07f019a611ec9d3712aadbc9e725faaa9c78c/python-package/lightgbm/basic.py#L1302

[2018-04-10 06:48] #1305 closed

[2018-04-10 06:49] guolinke commented on #1297
@cavities for ranking task, the group/query is needed. what is the problem ?

[2018-04-10 06:49] #1297 closed

[2018-04-10 06:51] guolinke commented on #1300
@StrikerRUS it seems the document is out-of-date.
The PR is https://github.com/Microsoft/LightGBM/pull/1114
And it only support the sklearn version.

[2018-04-10 06:51] #1300 closed

[2018-04-10 08:34] AFanthomme commented on #1303
You're right, this is relevant info

X is a 2D dense matrix of int8 (to avoid extra memory), and once loaded in a dataset it is encoded in 3 bins as expected

[2018-04-10 17:38] aparnack commented on #1305
Hi
I deleted the entire thing and reinstalled as per https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html  - this is what I had followed earlier as well.
It still gives the same error.
xgboost works, and installation process is same. Hence I dont understand what went wrong in this installation. There are hardly any discussions in stackoverflow on lightgbm issues

Thanks
Aparna

[2018-04-10 19:27] econkc commented on #1201
I also notice that when use "predict", we also need to specify the categorical features on the predicting data too. Is it possible to convert the categorical features in the predicted data to match the training data?

[2018-04-10 19:43] econkc opened #1306 "Issue with num_class for multi-class classification"
Hi,

When I try to run a multiclass classification in python, I always need to add 1 to num_class variable from the actual number of class, otherwise the model won't run. Once I add 1, class 0 (which seems to be read as the extra class added) will have no observation. This doesn't seem to affect the accuracy of the model, although I think it might cause the slow down in estimation process because

[2018-04-11 00:03] guolinke commented on #1306
@econkc the classes should start from 0, and contiguous.
As a result, if the number of your max class is k, the num_class  = k+1

[2018-04-11 00:03] #1306 closed

[2018-04-11 00:07] guolinke commented on #1305
I think you are using python-package with mingw64 in windows 10? right?
if yes, you should install from source, with option --mingw, refer to https://github.com/Microsoft/LightGBM/tree/master/python-package#install-from-github
[code]

Or you can install vc runtime, and install from pip.

[2018-04-11 01:01] aparnack commented on #1305
Hi Guolin
Even this new method doesnt work.
I had first tried the commands in git bash last time, that gives sh.exe error. But in the second try it ran (this was mentioned in the lightgbm documentation). So this time I did everything in dos command (cmd.exe).  The cmd installation gave this error. I think there's some serious problem with my whole system. [My anaconda itself doesnt get invoked.] S

[2018-04-11 01:17] guolinke commented on #1305
I think you can use VC , instead of mingw64. download link: https://go.microsoft.com/fwlink/?LinkId=746572
And you can use ```pip install lightgbm``` directly with vc runtime (make sure you had uninstalled the old version).

[2018-04-11 01:39] guolinke commented on #1305
just pip uninstall

[2018-04-11 05:00] quantitative-technologies opened #1307 "Failed R installation."
## Environment info
Operating System: Ubuntu 17.10
CPU:
C++/Python/R version: R version 3.4.2

## To reproduce:

...
Warning messages:
1: GitHub repo contains submodules, may not function as expected!
2: In get(Info[i, 1], envir = env) : internal error -3 in R_decompress1

Loading required package: R6
Error: package or namespace load failed for ‘lightgbm’ in get(Info[i, 1], envir = env):
 lazy-loa

[2018-04-11 05:09] Laurae2 commented on #1307
Your package seems corrupted, restart R and reinstall LightGBM. (It seems you installed packages over already started packages, this won't work)

[2018-04-11 05:24] quantitative-technologies commented on #1307
Yes, you were correct about installing over started packages. It works for me with `install.packages`, btw.
So everything seems OK now.

[2018-04-11 10:18] wagnew3 opened #1308 "Python Custom Multiclass Loss Function Doesn't Work"
Custom multiclass loss functions in python don't work-- LightGBM doesn't seem to be learning anything.
In the example code below on the iris dataset, I train lightgbm with the default multiclass loss function and get a training accuracy of 97%. When I train lightgbm on a custom loss function, I get a training accuracy of 43% (basically random). However, when I train xgboost with the same custom lo

[2018-04-11 12:22] dkivaranovic opened #1309 "Keep predictions from valid_sets using lgb.train"
I am running lgb.train with early stopping and want to save the predictions of the validation set of the best round. However, it seems that this is not possible at the moment. I am working with large data sets and loading data and predicting is very time consuming... Such an option would save me a lot of time.

My question is related to #283

[2018-04-11 13:37] vivekk-ezdi commented on #724
lightgbm.cv can also be used fore regression tasks. In that due to default True behaviour of stratify, an error is thrown in sklearn StratifiedKFold. See the [question here](https://stackoverflow.com/questions/49774825/python-lightgbm-cross-validation-how-to-use-lightgbm-cv-for-regression/49775393#49775393).

If we are sticking with `True`, then we should add a check if `objective` is `'regression

[2018-04-12 01:36] #1307 closed

[2018-04-12 01:39] guolinke commented on #1309
you can use this function (https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1923) to get the prediction.
data_idx=1 means the first validation dataset, data_idx=2 means the second one, and so on.

And you should set `keep_training_booster=True` when using `lgb.train` .

[2018-04-12 01:39] #1309 closed

[2018-04-12 01:41] guolinke commented on #1308
@wagnew3 thanks, it seems there are some bugs, i will take a look.

[2018-04-12 01:53] guolinke commented on #1308
@wagnew3
please try this custom obj:
[code]

[2018-04-12 01:55] guolinke commented on #1308
refer to doc here: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1497-L1499
It is different with the XGBoost.

[2018-04-12 01:55] #1308 closed

[2018-04-12 01:59] guolinke commented on #1303
@AFanthomme refer to the code here: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L757-L761
even when your data type is int8, it will be converted to float32. As a result, there may have some memory problem in the above code.

[2018-04-12 08:16] AFanthomme commented on #1303
@guolinke Thanks a lot, this is probably where the problem lies (the data barely fits into memory when on float32, since I also keep some intermediate results this could explain why the error happens only after some time). Is there a workaround to keep memory usage lower at this step?

Also it seemed the error happened during the fit and not the Dataset construction when I separated the two, but I

[2018-04-12 09:16] wagnew3 commented on #1308
Thank you!

[2018-04-12 09:19] guolinke commented on #1303
@AFanthomme The data construction is by lazy fashion unless you call `dataset.construct()` explicitly.

you can save your data to csv flie, then construct dataset it from csv file with parameter `two_round=True`.

[2018-04-12 10:56] dkivaranovic commented on #1309
Thank you @guolinke! Not sure if I'm missing something but when I run
[code]

I get the following error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'Booster' object has no attribute '__inner_predict'

I am using Ubuntu 16.04.4 LTS, Python 3.6.0 :: Anaconda 4.3.1 (64-bit) and Lightgbm 2.1.0

[2018-04-12 13:01] WonderDream opened #1311 "How to specify the query/group id column for lambdarank in Python?"
I noted there was a "query" parameter, but how could I specify the column id or name in python when my data was constructed from a DataFrame?

Taking the code below as an example, the columns of the trainData is ['qid', 'f1', 'f2', 'f3', 'label'], and the  fields is ['qid', 'f1', 'f2', 'f3'], of which the qid is the query/group id, and the f1-f3 are the features.  I tried to set the query id in pa

[2018-04-12 13:30] guolinke commented on #1303
how do you pass `two_round=True`? can you provide a code?

[2018-04-12 13:35] guolinke commented on #1311
you are using the python-package, so you cannot use "query" parameter.
you should use the parameter `group` when construct lgb.Dataset.
BTW, `group` is not the group_id/query_id, you should convert it like the query/group file: https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#query-data

[2018-04-12 13:35] #1311 closed

[2018-04-12 13:54] AFanthomme commented on #1303
The relevant portion of the code is here :
           X, X_val, y, y_val = train_test_split(X, y, test_size=0.25, random_state=np.random.randint(2**12))

            # Dump dataset as csv to reload it as dataset without float32 conversion
            y = y.astype(np.int8)
            y_val = y_val.astype(np.int8)
            X = np.hstack((np.reshape(y, (-1,1)), X))
            print(X.shape, X.dt

[2018-04-12 16:06] Laurae2 commented on #1307
@quantitative-technologies It doesn't work for LightGBM because it requires a library which cannot be fully unloaded (like most libraries hooking onto R directly, C side). Therefore, if attempting to overwrite the package (by reinstalling the package live), it will overwrite nearly all files except the critical ones, and will error automatically at startup.

[2018-04-13 01:26] guolinke commented on #1303
can you try:
[code]

[2018-04-13 07:36] MikolajMizera opened #1312 "MPI example in Python"
Hello,
is it possible to start parallel learning via MPI in python (preferably using scikit-learn api)? According to docs, I should start mpi workers first, but they won't start without training set specified, which I specify in python script. I use LightGBM from pip with --install-option=--mpi .
I tried to fit the LGBMClassifier
`LGBMClassifier(n_jobs=56, boosting_type ='dart', random_state=42, m

[2018-04-13 08:35] guolinke commented on #1312
@MikolajMizera python version doesn't support parallel version yet.

[2018-04-13 08:47] MikolajMizera commented on #1312
@guolinke ok, thank you

[2018-04-13 08:47] #1312 closed

[2018-04-13 11:47] AFanthomme commented on #1303
@guolinke No change unfortunately...

[2018-04-13 14:10] guolinke commented on #1303
@AFanthomme what is your memory capacity ?

[2018-04-13 14:13] AFanthomme commented on #1303
16Gb
It seems like it could store this dataset, especially since the first fits work

[2018-04-13 14:16] guolinke commented on #1303
how about add force gc in the loop ?

[2018-04-13 17:10] Laurae2 opened #1313 "Random Forest prediction on very large matrices is extremely slow"
## Environment info
Operating System: Windows Server 2016
CPU: Dual Xeon E5-2697v3
C++/Python/R version: 3.4.4

## Error Message:

LightGBM gets "stuck" when attempting to predict a from a Random Forest model using very large data (approx 4TB RAM, sparse 1GB RAM).

## Reproducible examples

Private data, can't share unfortunately. But steps below can help.

## Steps to reproduce

* Step 1: create

[2018-04-14 14:07] rgranvil commented on #1303
@AFanthomme I may have had a similar issue before where my first call to lgb.train ran fine and then I ran out of memory on the 2nd fit.  Adding 2 explicit calls to gc before each lgb.train solved the problem for me.  When I monitored the memory usage at each step, it looked like some memory would not get freed until the 2nd call to gc.  You could give that a try.

[2018-04-14 15:33] AFanthomme commented on #1303
I tried with two gc, still does not solve the problem
I also switched back to constructing from numpy arrays, csv is long to write and did not help
It seems that the available memory (monitored by "free -m") is 6,5Gb after constructing datasets and gc, it then drops to 3.1 during beginning of training and that is at that point that it segfaults (did not catch the precise value at time of segfault,

[2018-04-15 02:49] guolinke commented on #1303
@AFanthomme can you try `histogram_pool_size=1024` or `is_sparse=false` or both of them ?

[2018-04-15 09:30] Laurae2 commented on #1313
This should be tested as a convenience alternative: https://github.com/dmlc/treelite

TO-DO benchmark

In R, requires converting dgCMatrix to SciPy sparse format, it might explode memory (untested).

[2018-04-15 09:37] guolinke commented on #1313
@Laurae2 the GBDT model is normal ?

[2018-04-15 09:39] #1293 closed

[2018-04-15 09:43] guolinke commented on #1313
@Laurae2 it is possible slow if using the csc(dgcMatrix) format. The dense matrix will stuck as well ?
BTW, can you change `20000` in this line(https://github.com/Microsoft/LightGBM/blob/master/src/application/predictor.hpp#L63) to a larger value, and test again ?

[2018-04-15 10:43] AFanthomme commented on #1303
That did make a change : using

            params = {'learning_rate':0.02, 'objective':'binary', 'metric': 'auc', 'two_round':True,
                        'histogram_pool_size':1024, 'is_sparse':False}
            data_train = lgb.Dataset(X, label=y, params=params)
            data_val = lgb.Dataset(X_val, label=y_val, reference=data_train)
            print('Begin constructing datasets')

[2018-04-15 10:49] guolinke commented on #1303
how about set `is_sparse=true` ?

[2018-04-15 11:01] AFanthomme commented on #1303
Also dies at construct...

[2018-04-15 12:06] AFanthomme commented on #1303
Do you think that could help even if the dataset is really not sparse at all?

[2018-04-15 12:32] guolinke commented on #1303
from your log, it seems your dataset is sparse, as a reslut, using the dense format is memory costly.

[2018-04-15 12:57] AFanthomme commented on #1303
With csr matrix, if i use int8 matrices lightgbm yields :

TypeError: Expected np.float32 or np.float64, met type(int8)

If I switch back to float32 (during csr_matrix construction) the memory consumption is increased and segfault at dataset construction as before

[2018-04-15 13:08] guolinke commented on #1303
@AFanthomme can you send your data(int8 type) to pickle, and send it to me ?
I think it is more efficient for me to debug on it directly.

[2018-04-16 02:45] sosmond opened #1315 "Piecewise linear trees"
I recently discovered [this paper](https://arxiv.org/pdf/1802.05640.pdf) which was submitted earlier this year showing impressive results of GBDTs utilizing piecewise linear trees. It's claimed that PL trees converge faster and are more accurate than the constant trees xgboost & lightgbm uses, and that optimizations exist to make GBDT-PL competitive speed-wise.

The repo for the paper can be found

[2018-04-16 07:00] dixit16 opened #1316 "[LightGBM] [Warning] Unknown parameter: NA"
Hi ,

I am trying to train and test a simple light-gbm model and while running predict I am getting the following error : [LightGBM] [Warning] Unknown parameter: NA.

Below is the code snippet that I am using -

I have kept train and test data same in order to figure out the issue -

data_train = as.matrix(select(small_train,-c(ip,click_day)))
data_test = as.matrix(select(small_train,-c(ip,click_d

[2018-04-16 15:05] mlisovyi opened #1317 "[python] Adding learning_rates to args of sklearn API"
The training API in the python package has a very handy feature of adjusting learning rate with iterations. However, this is not on the list of args of `LGBMModel.fit()`. Is there any particular reason not to do so? Otherwise, this feature would be very welcome.

From the `sklearn.py ` code structure it seems to be as easy as adding an arg to the `fit()` method and passing it over to the `train()`

[2018-04-16 18:18] mlisovyi opened #1318 "[python] Reported evaluation metric and early stop"
The issue that I face is: when one runs with the early stopping enabled, one aims to be able to **stop specifically on the eval_metric metric**. However, python API of LightGBM checks __all__ metrics that are monitored. This is different from the XGBoost choice, where they check the last item from the eval list, but this is also a justifiable choice. However, this choice should not prevent us from

[2018-04-17 02:11] guolinke commented on #1316
@dixit16 please try this https://github.com/Microsoft/LightGBM/issues/571#issuecomment-305331818

@Laurae2 any other suggestions?

[2018-04-17 02:15] guolinke commented on #1317
I am not very familiar with the sklearn interface. However, I think learning_rates isn't the standard features of sklearn. I don't know adding this is right or not, since it may break the compatibility with sklearn.
@StrikerRUS any ideas about this ?

[2018-04-17 02:33] #1318 closed

[2018-04-17 02:33] guolinke commented on #1318
you can try the latest master branch with following code:
[code]

[2018-04-17 07:40] mlisovyi commented on #1317
@guolinke you are right, `learning_rates` is not a standard feature of the sklearn interface. However, it seems that there are many non-standard args of the LGBMModel.fit() method. Since I'm a new user I might have overlooked a basic conceptual reason from the LightGBM philosophy.

[2018-04-17 08:34] guolinke commented on #1318
@mlisovyi It is in the Parameter document.
You can set it to `None', 'null' or 'na'. However, Python `None` equals to empty string, which will use the objective name as the metric name.

[2018-04-17 09:49] guolinke commented on #1303
after some offline syncs, it seems this problem is casued by AMD Ryzen CPU. close for now.

[2018-04-17 09:49] #1303 closed

[2018-04-17 09:58] StrikerRUS commented on #1317
@guolinke I have the same thoughts as you. Sklearn interface itself is very conservative one. On the one hand, I don't think that overloading sklearn interface by all possible features is good idea, because it will confuse new users, who expect only standard (for sklearn estimatior) `fit(), .predict()` behavior with minimum params. On the other hand, LightGBM's sklearn wrapper has **already** addi

[2018-04-17 11:32] stephenzwj opened #1320 "Random Forest regression issue: the regression loss never decreases"
Hi,
I've been trying to use RF with regression objective in LightGBM for python, but the loss value never decreases. Even if I tune the parameters it never decreases. Is Random Forest implemented for regression in LightGBM for python? Can anyone shares the settings with me?

## Environment info
Operating System: Windows 10
CPU: INTEL I5
C++/Python/R version: Python

## Error Message:
There is no e

[2018-04-17 12:31] mlisovyi commented on #1318
Thanks a lot for pointing this out. There seems to be some room for improvement of the documentation: the section that you pointed out does say **nothing** about how the `metric` arg is used (only what are the possible values and even omitting the disabling values). Also in other places in the python API documentation (I can not say anything about docs of other API's) there is no mention that the

[2018-04-17 14:01] guolinke commented on #1318
@mlisovyi it will be great if you can contribute on it.
You can just create a PR to fix it

[2018-04-17 14:04] guolinke commented on #1320
how many data you use ?  what the mean of your regression targets ?

[2018-04-17 14:11] uriel-vinetz-rf opened #1321 "Alpha parameter in Huber Loss"
@guolinke
Why is the alpha parameter for Huber Loss limited to a range between 0 and 1? I don't think it should be a limitation according to the definition: https://en.wikipedia.org/wiki/Huber_loss. However, at least in the R package, a value larger than 1 yields an error.

Thanks,
Uriel

[2018-04-17 15:37] stephenzwj commented on #1320
I use 42984 samples and there are 103 features in each sample. The mean of my regression targets is 147.6040. Samples and targets are all in float type.

[2018-04-17 19:50] mayer79 commented on #1320
What happens if you set the learning rate to 1?

[2018-04-18 03:10] guolinke commented on #1320
@stephenzwj I think the problem can be solved if you covert the mean of regression targets to 0 (by minus 147.6040). The reason is, the output of tree is limit to (-100,100).
I will change this hard constraint to a configurable parameter soon.

[2018-04-18 03:22] #1321 closed, assigned to nobody

[2018-04-18 03:54] guolinke commented on #1320
refer to #1322

[2018-04-18 04:01] guolinke commented on #1316
@dixit16 where this warning happen ? when performing predict ?

[2018-04-18 04:10] guolinke commented on #1316
@dixit16  you can try #1323

[2018-04-18 07:01] stephenzwj commented on #1320
@guolinke Yes, it is working now.

[2018-04-18 07:03] stephenzwj commented on #1320
@mayer79 Varying the learning rate from 1 to 1e-5, there is no difference. It seems the problem is the output constraint, which havs been mentioned be guolinke.

[2018-04-18 08:15] #1320 closed

[2018-04-18 09:14] jiangniao26 opened #1324 "run python setup.py, says:Exception: Please install CMake and all required dependencies first The full version of error log was saved into /Users/hong/LightGBM_compilation.log"
My computer is Mac. I followed the Installation Guide step by step:

brew install cmake
brew install gcc
git clone --recursive https://github.com/Microsoft/LightGBM ; cd LightGBM
export CXX=g++-7 CC=gcc-7
mkdir build ; cd build
cmake ..
make -j4

pip install setuptools wheel numpy scipy scikit-learn -U

cd LightGBM/python-package
export CXX=g++-7 CC=gcc-7  # for macOS users only
python setup.py in

[2018-04-18 12:32] guolinke commented on #1324
Did `brew install gcc` install gcc 7 ?

[2018-04-18 13:08] jiangniao26 commented on #1324
I'm not sure, since I just "brew install gcc". And now, when I do this on the terminal:  brew install gcc7
It shows,
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> Updated Formulae
clac                       glslang                    pcre2
elasticsearch@5.6          hcloud                     planck
gjs                        jpegoptim                  swiftfor

[2018-04-19 02:13] #1316 closed

[2018-04-19 02:15] guolinke commented on #1324
For the log, the error is
[code]
So it seems the gcc isn't used by cmake.

Did it throw the error If you run following cmd only ?
[code]

[2018-04-19 03:12] jiangniao26 commented on #1324
[code]
No, it didn't throw any error.

[2018-04-19 03:55] guolinke commented on #1324
okay, so you can install python package via `-p`.

[code]

[2018-04-19 06:50] guolinke commented on #1324
`error: [Errno 13] Permission denied: '/Users/hong/LightGBM_compilation.log'`
you may need to run by root

[2018-04-19 06:57] dixit16 commented on #1316
@guolinke : Hey , sorry couldn'y respond earlier. Yes the warning shows up while predicting. I am not sure of the impact of this warning on prediction ..

[2018-04-19 07:41] jiangniao26 commented on #1324
@guolinke It works, thanks! 真是太谢谢了，请原谅我这个小白。

[2018-04-19 11:38] julioasotodv opened #1326 "Support for building Java Wrapper in OS X"
Hi,

I just tried to build LightGBM with the Java wrapper in OS X and the build finishes OK, but te resulting jar does not include the needed dylib libraries:

[code]

And

[code]

Any plans to support this feature for OS X by editing CMakeLists.txt? I am not a very experienced Mac developer by myself, and I don't "fully" understand dyanmic libs in OS X...

Thank you!

[2018-04-19 13:01] huaxz1986 opened #1327 ""core dumped" When use docker"
## Environment info
docker version: Docker version 1.13.1, build 092cba3
docker file:  dockerfile-cli (https://raw.githubusercontent.com/Microsoft/LightGBM/master/docker/dockerfile-cli)

## Error Message:
Segmentation fault (core dumped)
## Reproducible examples

config-file:
[code]
machine_file.txt:
[code]

## Steps to reproduce

1. enter docker bash:
[code]
2. run
[code]
The output is
[code]

[2018-04-19 14:54] Bigwode opened #1328 "When I run 'pip install lightgbm --install-option=--gpu', I got an error"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:ubuntu16.04
CPU: intel i9
C++/Python/R version:Python3.5

## Error Message:

/hom

[2018-04-19 21:27] Mithloth opened #1329 "[R] CMakeList.txt error - Installing GPU Version"
I've been attempting to install the R package of LightGBM with GPU support via the R helper package and have been running into some difficulties.  Namely, when in RStudio I run the code
[code]
I get the following:
[code]

I attempted this again without the `use_gpu=TRUE` and received a similar error.  Any idea what I can try to resolve this?

I'm performing this on Windows 10 using R 3.4.4, CMake

[2018-04-20 02:33] guolinke commented on #1329
you should install x64 version, for R, Rtools, and others .
@Laurae2 to confirm the installation from `lgb.dl`

[2018-04-20 02:34] guolinke commented on #1326
@imatiach-msft any ideas about swig in oxs ?

[2018-04-20 02:34] guolinke commented on #1324
you are welcome

[2018-04-20 02:34] #1324 closed

[2018-04-20 02:56] imatiach-msft commented on #1326
@guolinke @julioasotodv I've replied here:
https://github.com/Azure/mmlspark/issues/290
"sorry, we only test running spark on linux right now (windows and OS X are currently not tested). I added the SWIG Java wrappers to LightGBM, the logic to construct the jar file, and built and uploaded the jar to maven central. Prior to uploading to maven I should probably build lightGBM on OS X and add the re

[2018-04-20 03:00] imatiach-msft commented on #1326
it seems that osx can also create .so files (?) - if so it might just be an issue in the code that tries to load the native files

[2018-04-20 03:25] guolinke commented on #1326
@julioasotodv can you try to load the `.so` file (/ml/lightgbm/osx/x86_64/lib_lightgbm.so) ?

[2018-04-20 05:00] huaxz1986 commented on #1327
@guolinke It throws exception: `Machine list file doesn't contain the local machine`.

When I use `127.0.0.1` instead `localhost`，the output is :
[code]

[2018-04-20 05:06] guolinke commented on #1327
@huaxz1986 you can try the ip like the `172.17.0.x` ,

[2018-04-20 05:07] guolinke commented on #1327
BTW, you set `local_listen_port = 12400`, while using 12401 in your machine file. you should set them to the same port.

[2018-04-20 05:11] Laurae2 commented on #1329
It requires to have only the 64-bit installation of R (no 32-bit version).

The cmake error is intriguing though.

[2018-04-20 06:44] julioasotodv commented on #1326
@guolinke That worked, but I couldn’t do the same with lib_lightgbm_swig.dylib

[2018-04-20 06:56] guolinke commented on #1326
@imatiach-msft any idea about lib_lightgbm_swig.dylib ?

[2018-04-20 07:41] AlexandraBomane opened #1331 "Issue with 'random_state' parameter in LightGBM 2.1.0"
I am using lightgbm 2.1.0 for a binary classification problem.

Here, my model :

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from lightgbm.sklearn import LGBMClassifier
from sklearn.pipeline import Pipeline

clf = Pipeline([("selectfeat", SelectKBest(f_classif)), ("model", LGBMClassifier(n_estimators = 1000, subsample = 0.8, colsample_bytree =

[2018-04-20 14:07] BasDost opened #1332 "Pytthon API. best_iteration, best_score for custom evaluation function"
I'm using lightgbm.train with valid_sets, early_stopping_rounds and feval function for multiclass problem with "objective":  "multiclass". I want to find best_iteration and best_score for my custom evaluation function. But it finds them for multi_logloss metrics, which is corresponding to specified objective. So the question is can I find in LightGBM best_iteration and best_score for my feval func

[2018-04-20 14:33] imatiach-msft commented on #1326
@guolinke I think I will need to change the jar packaging logic to add dylib files too
@julioasotodv what was the error when you tried to load lib_lightgbm_swig.dylib?

[2018-04-20 15:02] mlisovyi commented on #1332
Early stopping (and thus best_xxx) is defined based on stop of improvement of **any** included metric. By default, the objective function is included as a default metric. If you want to drop that from the metrics list, you have to specify `metric='None'` in the parameters, see #1318, where basically the same question was asked :) I'm trying to get through a PR for the docs to make this feature cle

[2018-04-20 15:09] mlisovyi commented on #1317
Any decision on this issue?

I personally find the `learning_rates` very useful. But as a user I also strongly prefer to use the sklearn API, as it allows to make use of many nice sklearn functionalities. Thus, it would be wonderful to have such advanced (and useful) feature available in this interface. This arg can have the default disabled value and a beginner user doesn't have to be exposed to

[2018-04-20 15:48] BasDost commented on #1332
Thanks!

[2018-04-20 15:48] #1332 closed

[2018-04-20 16:35] mlisovyi commented on #1331
Hi,

I'm also using lightgbm 2.1.0 (installed via conda) and for me the `random_state` arg of the sklearn API works (also in the fit). The differencesin what i have tried: _I do not use a pipeline._

The line that you pointed out prepares arguments for the native lightgbm.train() call. I'm a new user, so i do not know the history of past releases. But the code looks as if `random_state` was implem

[2018-04-20 22:54] Mithloth commented on #1329
I've reinstalled the 64-bit versions only for both R and Rtools, and I get similar (though not exactly the same) results:
[code]

Interestingly enough, now when I remove the `use_gpu=TRUE` piece, the process works. It's only the GPU build that seems to be failing.

[2018-04-21 07:43] namato opened #1333 "boosting_type "rf" leads to unresolvable failures"
Hey guys, I'm doing some grid searching with various boosting_type settings, and notice that whenever I use boosting_type rf, the fit fails:

[code]

Even though in the sklearn API:
1) There are no other parameters set other than the defaults
2) The fit succeeds with "gbd", "dart" and "goss"
3) There is no way to actually set these values in the sklearn API (bagging_freq, bagging_fraction) other t

[2018-04-21 08:13] guolinke commented on #1333
for random forest, you should use subsets. As a result, you should set ``baggeng_freq=1`` with `bagging_fraction < 1.0f `

[2018-04-21 08:13] #1333 closed

[2018-04-21 09:35] supersush opened #1334 "[python] gbm predict with pred_leaf=True parameter fail"
Hi, i use gbm.predict with pred_leaf=True parameter to get leaf info,but got ValueError: negative dimensions are not allowed.  If i change pred_leaf=False, all is well. Thank you for helping me find what is  wrong  when i using this method.

Details info:
## Environment info
Operating System:centos7
CPU: Intel(R) Xeon(R) CPU E5-2630 v3 @ 2.40GHz
C++/Python/R version:python2.7

## Error Message:
Fi

[2018-04-21 11:02] guolinke commented on #1334
is the error caused by this line: https://github.com/Microsoft/LightGBM/blob/ebb07f019a611ec9d3712aadbc9e725faaa9c78c/python-package/lightgbm/basic.py#L457 ?

[2018-04-21 14:05] supersush commented on #1334
according to the traceback, i think it is caused by this line

Traceback (most recent call last):
  File "gbm_train.py", line 71, in lgb_train
    train_leaves = gbm.predict(x_train, num_iteration=gbm.best_iteration, pred_leaf=Tru
e)
  File "/home/shuai.su/.local/lib/python2.7/site-packages/lightgbm/basic.py", line 1784
, in predict
    return predictor.predict(data, num_iteration, raw_score, pred

[2018-04-21 14:08] supersush commented on #1334
according to the traceback, i think it is caused by this line
https://github.com/Microsoft/LightGBM/blob/ebb07f019a611ec9d3712aadbc9e725faaa9c78c/python-package/lightgbm/basic.py#L491

Traceback (most recent call last):
File "gbm_train.py", line 71, in lgb_train
train_leaves = gbm.predict(x_train, num_iteration=gbm.best_iteration, pred_leaf=Tru
e)
File "/home/shuai.su/.local/lib/python2.7/site-pac

[2018-04-21 14:11] supersush commented on #1334
according to the traceback, i think it is caused by this line
https://github.com/Microsoft/LightGBM/blob/ebb07f019a611ec9d3712aadbc9e725faaa9c78c/python-package/lightgbm/basic.py#L491
@guolinke
Traceback (most recent call last):
  File "gbm_train.py", line 71, in lgb_train
    train_leaves = gbm.predict(x_train, num_iteration=gbm.best_iteration, pred_leaf=True)
  File "/home/xx/.local/lib/python2.

[2018-04-21 14:56] supersush commented on #1334
according to the traceback, i think it is caused by this line
https://github.com/Microsoft/LightGBM/blob/ebb07f019a611ec9d3712aadbc9e725faaa9c78c/python-package/lightgbm/basic.py#L491
@guolinke
Traceback (most recent call last):
  File "gbm_train.py", line 71, in lgb_train
    train_leaves = gbm.predict(x_train, num_iteration=gbm.best_iteration, pred_leaf=True)
  File "/home/xx/.local/lib/python2.

[2018-04-21 15:06] supersush commented on #1334
What make me more confused is that if i set 'num_trees': 20 ,
gbm.predict(x_train, num_iteration=gbm.best_iteration, pred_leaf=True) will not throw any exception.
If set num_trees more than 20, this statement will throw the exception above. If i set pred_leaf=False，also will not throw throw exception.

[2018-04-21 15:34] guolinke commented on #1334
@supersush
can you provide a reproduce code by random generated data?

[2018-04-22 09:30] nirupamkar opened #1335 "cat_l2 feature"
I am trying to use cat_smooth and cat_l2 feature.  it seems like it's not a valid option. However the parameter list contains these 2 parameters.

## Environment info
Python 2.7

## Error Message:

LightGBMErrorTraceback (most recent call last)
<ipython-input-14-0858c9cebd11> in <module>()
     44                valid_sets=lgb_test_data,
     45                num_boost_round=1000,
---> 46

[2018-04-22 15:29] guolinke commented on #1335
which version you are using with?
I have test with parameter `cat_l2`: https://github.com/Microsoft/LightGBM/blob/e005cdb049271ecdd4e631043517ac18f6c9a867/tests/python_package_test/test_engine.py#L214-L246 .
If python api cannot use these 2 parameters, these tests will fail.

[2018-04-22 15:29] #1335 closed

[2018-04-23 02:08] #1334 closed

[2018-04-23 02:29] guolinke commented on #1334
@supersush Okay, I see. I think the `n_preds` exceed the range of `int64_t` .

[2018-04-23 07:41] AlexandraBomane commented on #1331
I have got the same issue with LightGBM 2.0.10 but with the parameter "n_jobs".

[2018-04-23 15:00] zkurtz opened #1336 "Why not have binary classification initialize to the base rate by default?"
Currently, a logistic regression on unbalanced data evidently initializes the probability(TRUE) = 0.5 regardless of the base rate. For example, with a base rate of ~0.1 and a single boosting round with a low learning rate, the resulting scores are all very close to 0.5:

[code]

This is particularly problematic in small datasets where overfitting is an immediate concern. It means that the booster

[2018-04-23 19:39] naveenraj96 commented on #912
I'm trying to install lightGBM as specified by @BenjaminLott in R 3.4.3 and am getting the follwing error during step six
![git](https://user-images.githubusercontent.com/28676098/39149136-d0314310-475b-11e8-87a2-6090b7a826b5.PNG)
Can someone please help me.

[2018-04-23 22:38] mlisovyi commented on #1331
@StrikerRUS could you please comment?

[2018-04-24 00:16] guolinke commented on #912
please install git

[2018-04-24 06:27] guolinke commented on #1336
@zkurtz we have `BoostFromAverage` (https://github.com/Microsoft/LightGBM/blob/master/src/boosting/gbdt.cpp#L353-L375). I also test it for binary classification cases. However, most of them don't have improvement (with enough iterations and early stopping), although it can speed up the convergence slightly.

[2018-04-24 08:21] JoshuaC3 opened #1337 "k"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Step

[2018-04-24 08:22] #1337 closed, assigned to nobody

[2018-04-24 14:06] zkurtz commented on #1336
Yes I think this would be an improvement for binary classification. I'll do some testing via `init_score`, which looks like it could achieve the desired behavior. If that works, I'll try to figure out how to modify the source code and do a PR -- this would be my first!

[2018-04-24 17:05] naveenraj96 commented on #912
I have installed git. my git version is: git version 2.16.2.windows.1. I have also installed cmake version 3.11.1, visual studio 2017 (community) and Rtools 35. I have also installed lgbdl package and when I run the code in step 6 of @BenjaminLott I am getting the above error. Please help me.

[2018-04-24 17:06] Laurae2 commented on #912
@naveenraj96 Git is not available from command line as shown in the error message even though you installed it. Add Git to PATH so command line interfaces can access Git commands (open another issue if you can also).

[2018-04-24 19:43] olofer commented on #1336
You can achieve what you want already (unless I'm mistaken) by using the boost-from-average option with the xentropy objective.

[2018-04-25 04:15] PhungVanDuy opened #1338 "Prediction with pred_contrib happened Segmentation fault (core dumped)"
## Environment info
Operating System: Ubuntu server 16.04
C++/Python/R version: python 2.7.13
LightGBM: 2.0.12
## Error Message:
Segmentation fault (core dumped)
## Reproducible examples
I performed multiclassification with 54 class after that I want to predict in test set with pred_contrib. But I got this error: "Segmentation fault (core dumped)". Although it still working with pred_contrib = Fal

[2018-04-25 07:48] zxsimple opened #1339 "What is the right way for hyper parameter tuning for LightGBM classification?"
## Environment info
Operating System: Win 7 64-bit
CPU: Intel Core i7
C++/Python/R version: Python 3.5

## Problem:
sklearn GridSearchCV for hyper parameter tuning get worse performance on [Binary Classification Example](https://github.com/Microsoft/LightGBM/tree/master/examples/binary_classification)

[code]

[code]

1.  Train LightGBM booster results `AUC value 0.835`
[code]
2. Grid Search with

[2018-04-25 09:41] guolinke commented on #1338
can you try to use fewer samples? or use fewer `num_iteration` in predict ?

[2018-04-25 09:43] guolinke commented on #1339
@StrikerRUS any ideas about this ?

[2018-04-26 07:05] chytufk opened #1340 "Single process for predict in python (scikit interface)"
I am trying to run the prediction (using predict_proba from the scikit interface) without parallelization (in a single process/using single CPU core). I've tried tried training with n_jobs=1 (while training to see if it helps) and tried setting environment variable OMP_NUM_THREADS from within the predict function like so, with no improvement.
`os.environ["OMP_NUM_THREADS"]` = "1"

Only thing that

[2018-04-26 07:56] guolinke commented on #1340
you can set ```num_threads=1``` in create predict booster(lightgbm.Booster), in the `params` dict.

[2018-04-26 07:56] #1340 closed

[2018-04-26 08:06] guolinke commented on #1329
similar to https://github.com/Microsoft/LightGBM/blob/master/docs/Installation-Guide.rst#windows-2
you should install these dependencies and set following envs.
``
Set BOOST_ROOT=C:\local\boost_1_64_0\
Set BOOST_LIBRARYDIR=C:\local\boost_1_64_0\lib64-msvc-14.0
``
BTW, it should have a space here `-DUSE_GPU=1 ..`  not the `_DUSE_GPU=1..`

[2018-04-26 08:06] #1329 closed

[2018-04-26 08:07] guolinke commented on #1329
@Laurae2 is the space error the bug in your repo ?

[2018-04-26 08:53] guolinke commented on #1338
can you share the model files?  or can you check: are there many trees with only single node (num_leaves=1)?

[2018-04-26 09:11] guolinke commented on #1338
it would be better if you can send me (guolin.ke@outlook.com) the model file, with a sample of prediction data (csv or lightsvm format).

[2018-04-26 09:41] PhungVanDuy commented on #1338
@guolinke
I just sent my model and test data for you. Please check your email. Thanks!

[2018-04-26 10:22] weltherrschaf opened #1341 "R-Package in new R version 3.5.0"
Is the R-Package of LGB supported under the latest R release? Can't get it to work yet, is anybody experiencing similar issues?

## Environment info
Operating System: Windows 10
C++/Python/R version: R: 3.5.0

## Error Message:
Just updating R and using the old LGB install I get:

"Error: package or namespace load failed for ‘lightgbm’:
 package ‘lightgbm’ was installed by an R version with differ

[2018-04-26 10:45] Mithloth commented on #1329
@guolinke @Laurae2 I went ahead and ran a version of the lgb.dl function with all instances of `".."` changed to `" .."`. I'm not sure if that's specific to my machine or a general issue with the function, but it seems to have resolved the rest of the problem.

Thanks so much for your help here!

[2018-04-26 14:01] guolinke commented on #1341
@Laurae2

[2018-04-26 15:07] #1338 closed

[2018-04-26 15:12] guolinke commented on #1338
@PhungVanDuy please try the latest master branch. BTW, the n_preds equals to num_row x num_iterations x num_class, please make sure that the length cannot exceed the range of int64.

[2018-04-26 15:14] guolinke opened #1342 "AMD OpenCL SDK download link is down"
@huanzhang12 the download link: https://developer.amd.com/amd-accelerated-parallel-processing-app-sdk/ is 404 now. That causes the build failed on check-the-docs and gpu tests.

[2018-04-26 16:29] PhungVanDuy commented on #1338
@guolinke thanks for your support. I will try it again.

[2018-04-26 16:37] bbennett36 commented on #1339
[code]

1. If this is the exact code you're using, the only parameter that is being changed during the grid search is 'num_leaves'.

2. Are you sure that the grid search model has EVERY parameter that was used in the first model with the same value? I can see right away that in youre not calling 'objective': 'binary' in the paramsearch and it looks like if you don't specify that parameter for skle

[2018-04-26 16:49] Laurae2 commented on #1341
@guolinke I am getting the following in `construct`:

[code]

I believe this is related to the following: https://svn.r-project.org/R/branches/ALTREP/ALTREP.html - it changed the memory layout of R objects.

Objects:

[code]

[2018-04-26 18:30] nran02 opened #1343 "Fatal Error when run lgb.train in Rstudio"
## Environment info
Operating System:  OS 10.11.6
CPU:
R version: 3.4.3

## Error Message:
Fatal Error happens when I run "lgb.train" in **Rstudio**.
Actually, the training completed twice when I ignored to set parameter 'nthread'. But 'fatal error' always happen now.

When I run same codes in **R**, it shows:
*** caught segfault ***
address 0x11af91628, cause 'memory not mapped'
address 0x11afa4e

[2018-04-26 18:42] nran02 commented on #1343
@Laurae2 Thanks for your help in advance!

[2018-04-26 20:28] StrikerRUS commented on #1331
@AlexandraBomane Could you reproduce the error with latest version and random data? Please provide random data generator code.

[2018-04-26 20:29] StrikerRUS commented on #1339
@guolinke Sorry, very busy till June with my thesis.

[2018-04-26 22:35] guolinke commented on #1341
it seems a big changes. However, I don’t have time to fix it recently.
@Laurae2 Can you help to add the warnings to R package until fix it?

[2018-04-26 23:10] vspinu opened #1344 "[R-package] [Fatal] Check failed: num_data > 0"
## Environment info
 setting  value
 version  R Under development (unstable) (2018-02-17 r74265)
 os       Ubuntu 16.04.4 LTS
 system   x86_64, linux-gnu
 ui       X11
 language
 collate  en_GB.UTF-8
 tz       Europe/Amsterdam
 date     2018-04-27

 lightgbm    * 2.1.0       2018-04-26 local

## Error Message:

[code]

## Reproducible examples

[code]

Could be related to #1341 and #1280.

[2018-04-27 00:26] guolinke commented on #1344
you can use 3.4.x R for now.

[2018-04-27 02:14] zxsimple commented on #1339
@bbennett36

I'm sure I specified exactly the same parameters, you see  different `num_leaves` because I had slight change to see whether what's difference.

I did used `objectcive: binary`, see:
[code]

I debug LightGBM-sklean and see \Python35\Lib\site-packages\lightgbm\sklearn.py, the `fit` function just set some default value for some of the parameters, not sure whether this is the problem.

[

[2018-04-27 05:37] Laurae2 commented on #1339
@zxsimple Provide a fully reproducible example. It is difficult to troubleshoot your issue without because we are comparing Apples with Oranges (parameters list, training data size (grid search), folds (grid search)).

[2018-04-27 05:40] ghostintheshellarise opened #1345 "n_jobs=-1 caused problem at GCM"
## Environment info
Operating System: Ubuntu 16.04 on Google Compute Engine
CPU: 16vCPU with no GPU support
C++/Python/R version: Python 3.6

## Error Message:
There is no error message but an unexpected slow down in the process.  The CPU seems to stop processing anything when I change the setting of the regressor from n_jobs=1 to n_jobs=-1

## Reproducible examples
[https://drive.google.com/drive

[2018-04-27 05:43] Laurae2 commented on #1341
@guolinke I'll prevent R installation under >=3.5.0 until fixed.

[2018-04-27 07:01] guolinke commented on #1345
did you test it in other platforms? e.g. local machines and other VMs?

[2018-04-27 09:07] zxsimple commented on #1339
Here is complete code snippet,  you can get the data from https://github.com/Microsoft/LightGBM/tree/master/examples/binary_classification

[code]

[2018-04-27 13:03] mlisovyi commented on #1339
@zxsimple
how exactly did you observe a difference in the roc_auc score?
With your code I get:
[code]
Which look identical... Note that `Booster.predict()` seems to output probabilities right away, while for the `GridSearchCV` you need to run `predict_proba()` method to get those for the roc_auc_score.

[2018-04-27 16:20] StrikerRUS commented on #1340
@guolinke Can we provide the same functionality in sklearn wrapper via `**kwargs` [here](https://github.com/Microsoft/LightGBM/blob/fb55d72fcb9096a7a78c523df9f8d711938fc223/python-package/lightgbm/sklearn.py#L511)?

[2018-04-28 00:28] guolinke commented on #1341
fixed in the latest commit

[2018-04-28 00:28] #1341 closed

[2018-04-28 00:29] guolinke commented on #1344
fixed in the latest commit

[2018-04-28 00:29] #1344 closed

[2018-04-28 03:42] zxsimple commented on #1339
@mlisovyi thank you very much

As you mentioned `Booster.predict` return the probability rather than classification.

Also `best_score_`  of `GridSearchCV` model means:

For multi-metric evaluation, this is present only if refit is specified.

Your just point out the key.

[2018-04-28 04:24] ghostintheshellarise commented on #1345
Yes. I run it on my local Macbook Pro and same issues happened

[2018-04-28 09:25] jaykelin commented on #157
@imatiach-msft catch an exception like `java.lang.ClassNotFoundException: com.microsoft.ml.lightgbm.SWIGTYPE_p_void`
[code]
traning model
[code]

[2018-04-28 22:41] Laurae2 commented on #1343
@nran02 Remove the NAs from the matrices to remove the crash.

[2018-04-28 22:41] #1343 closed

[2018-04-29 13:35] #1280 closed

[2018-04-29 13:38] guolinke commented on #1345
can you try to run it with native python, not the ipynb?

[2018-04-29 13:40] Laurae2 commented on #1343
This should also fix it as you probably either had NA or integer matrix: https://github.com/Microsoft/LightGBM/pull/1347

[2018-04-30 14:57] stevenknguyen commented on #1317
@mlisovyi Can't you do this by passing an argument as a `reset_parameter` callback in the sklearn api?

[2018-04-30 18:17] bbennett36 opened #1348 "What's the difference between 'binary' and 'xentropy' as the objective?"
I'm confused about these two objective functions. The documentation says that the 'binary' objective is cross entropy but when I use 'xentropy', I get different results. It looks like it is always performing slightly better using 'xentropy' instead of 'binary'. I'm wondering why the results are different and if I'm interpreting these parameters the wrong way. The 'binary' parameter has a link to t

[2018-04-30 18:32] bbennett36 commented on #1348
@Laurae2 Hmmmm so what would cause different results for a classification problem if there is only labels for 1 and 0?

[2018-04-30 18:46] Laurae2 commented on #1348
@bbennett36 probably different initialization score. I think it was not yet implemented in `xentropy`.

ping @guolinke for more information

[2018-04-30 19:01] mlisovyi commented on #1317
@stevenknguyen  This sounds interesting. Since I'm a new user, I have not mastered LightGBM callbacks yet. Do you have an example of what you have in mind?

[2018-04-30 23:13] #14 closed

[2018-04-30 23:27] guolinke commented on #1317
@mlisovyi refer to https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.reset_parameter
you can use `callbacks= [callback.reset_parameter(learning_rate=learning_rates)]`

[2018-04-30 23:29] guolinke commented on #1183
I think with the help of MMLSpark(https://github.com/azure/mmlspark), this issue is solved.

[2018-04-30 23:29] #1183 closed

[2018-04-30 23:30] guolinke commented on #889
close since there is not response, @weltherrschaf feel free to reopen.

[2018-04-30 23:30] #889 closed

[2018-04-30 23:35] guolinke commented on #1044
@Interstella12 I think `f1` is not the eval_metric in LightGBM. you can set it to a right one.

[2018-04-30 23:35] #1044 closed

[2018-04-30 23:36] guolinke commented on #1143
@Laurae2 any updates ?

[2018-04-30 23:38] guolinke commented on #1227
Since most OS can run it, I think the problem is in Alpine side.
@jameslamb feel free to reopen if it is needed.

[2018-04-30 23:38] #1227 closed

[2018-04-30 23:44] guolinke commented on #1244
@akaniklaus you can try:
1. feature_fraction between (0.3 ~ 0.9),  its best value is depend on your dataset.
2. if your dataset is large, you can ignore lambda_l1, lambda_l2 and min_gain_to_split. If the dataset is small, you can try a relative small lambda_l1 and lambda_l2, e.g. 0.01 or 0.1.
3. I recommend to use min_data_in_leaf, and you can set it to a value smaller than num_total_data / num_le

[2018-04-30 23:44] #1244 closed

[2018-04-30 23:45] guolinke commented on #1326
@julioasotodv can you answer @imatiach-msft 's question, thanks very much.

[2018-04-30 23:46] guolinke commented on #1313
ping @Laurae2

[2018-04-30 23:48] guolinke commented on #1336
Thanks @olofer , the xentropy do support this.

[2018-04-30 23:48] #1336 closed

[2018-04-30 23:49] guolinke commented on #1331
ping @AlexandraBomane

[2018-04-30 23:50] guolinke commented on #1339
@zxsimple feel to close this issue if you think the problem is solved.

[2018-05-01 00:02] guolinke commented on #1345
@ghostintheshellarise Just read your notebook, I think the problem is in following code, right?
[code]
The reason is, when you set `n_jobs=-1` in LightGBM, it will use all CPU cores. In that situation, you cannot set `n_jobs=4` in `plot_learning_curve`, otherwise the CPU is overload, and cause the halt.

If want to set `n_jobs=4` in `plot_learning_curve`, you should set `n_jobs` to #CORES/4 in Lig

[2018-05-01 00:02] #1345 closed

[2018-05-01 00:03] guolinke commented on #1348
yeah, exactly, xentropy will start from the average probability: https://github.com/Microsoft/LightGBM/blob/master/src/objective/xentropy_objective.hpp#L108-L128

[2018-05-01 00:03] #1348 closed

[2018-05-01 02:34] stevenknguyen commented on #1317
@mlisovyi

something like this should work

[code]

[2018-05-01 08:52] mlisovyi commented on #1317
Thanks a lot! This looks easy and elegant. Let me try it out.
Just to be sure: `base_learning_rate` set to the `learning_rate` input arg value, isn't it?

[2018-05-01 11:37] naarkhoo opened #1349 "labels for the the multi class classifier"
Seems the response variable should be encoded as numeric. It is not intuitive in the the multi-class classifier, how the response variables are encoded, and [seems there is no way to access the model parameter](https://stackoverflow.com/questions/49674112/accessing-lightgbm-model-parameters)

Here is an example for the multi-class classification

[code]

So the size of `_my_preds_` matrix is (numb

[2018-05-01 11:41] Laurae2 commented on #1349
The number of the column corresponds to the number of the label minus 1.

* Column 1 = Label 0
* Column 2 = Label 1
* Column 3 = Label 2

[2018-05-01 12:05] naarkhoo commented on #1349
So it means, t is the same as factors from `as as.factor(iris$Species)` - the code above is just an example that labels are numbers.

[2018-05-01 12:08] Laurae2 commented on #1349
It is mandatory to have numbers for the labels in LightGBM, starting from 0 to (n-1)th class if doing multiclass classification.

[2018-05-01 12:10] Laurae2 commented on #1313
@guolinke It seems to work fine when putting 100000 instead of 20000.

[2018-05-01 12:10] #1313 closed

[2018-05-01 12:12] Laurae2 commented on #1143
@guolinke Didn't find time to work on it currently, this month I have more free time so I might try to do it again.

[2018-05-01 12:12] naarkhoo commented on #1349
Totally - I got that - it is just going back to the original data, and interpreting the result (so I needed to make sure, I am mapping-back correctly).

[2018-05-01 15:52] stevenknguyen commented on #1317
@mlisovyi

It's just a placeholder you need to replace `base_learning_rate` with whatever learning rate is best for your problem.

[2018-05-01 17:39] StrikerRUS commented on #1340
ping @guolinke

[2018-05-01 18:31] zkurtz commented on #1336
Indeed `xentropy` appears to be a workable solution. I still wonder if the default for `binary` should be updated. It's also not clear to me why there are separate `xentropy` and `binary` objectives when they [appear to be the same](http://wiki.fast.ai/index.php/Log_Loss#Log_Loss_vs_Cross-Entropy) in the case of labels in [0,1].

Notes for usage in R:

- `xentropy` actually appears to have `boost_

[2018-05-02 00:49] #1339 closed

[2018-05-02 03:52] germayneng opened #1350 "[SHAP] higher feature importance == higher weight?"
Hi all,

thank you for making such an awesome module. It is my bread and butter. I do have a question, and it is not really a  technical problem, just some clarification on the lgbm concept:

I understand that based off feature importance in lgbm, we will get the raw number of splits. Concept wise, let say variable A is the highest, which means it contributes more in the splitting and hence the pr

[2018-05-02 08:25] guolinke commented on #1340
@StrikerRUS I think we can have this in predict function

[2018-05-02 08:27] guolinke commented on #1336
@zkurtz feel free to open a PR if you think it is needed to update the `binary`

[2018-05-02 20:26] Zelazny7 commented on #1262
@Laurae2 given how the algorithm was implemented, that doesn't seem unreasonable to me. Thank you for testing the performance.

[2018-05-02 21:21] StrikerRUS commented on #1331
@AlexandraBomane On my compute the following code works fine. The only change of your code I've made was `k='all'`

[code]

[2018-05-03 09:29] DeepakLabh opened #1352 "Continue Training issue (Using init_model param)"
reference code
[code]
Using init_model returns following error:

[code]

[2018-05-03 12:08] alastairrushworth opened #1353 "best_iter and best_score problem without specifying early_stopping_rounds"
Firstly, thanks for a fabulous piece of software!

There seems to be an issue that `lgb.cv` doesn't print correctly the result of the cross validation if `early_stopping_rounds` is not specified in the params.  Perhaps that is the expected behaviour - but in that case, I'd point out that the documentation for the R package doesn't seem to reflect this (see for example [https://github.com/Microsoft

[2018-05-03 19:16] StrikerRUS commented on #1317
Just to make it clear: under the hood `learning_rates` param works exactly via `reset_parameter` callback.

https://github.com/Microsoft/LightGBM/blob/04d37f9b38cb851c5201081c2b8289eb0ecbca02/python-package/lightgbm/engine.py#L167-L168

So I think we shouldn't duplicate the same functionality and issue may be closed.

[2018-05-03 19:33] #1317 closed

[2018-05-03 19:36] mlisovyi commented on #1317
Thanks for help and advices! I think it would be useful to add a remark.instruction about learning rate shrinkage implementation in the sklearn interface

[2018-05-03 19:41] StrikerRUS commented on #1317
@mlisovyi You are welcome!

Yeah, I'll try to do it. If you know the appropriate place where to insert a note, please let me know or create a PR.

[2018-05-03 21:20] mlisovyi opened #1355 "[python] What iteration the Booster stops on in early stopping?"
Hi,

the documentation [here](http://lightgbm.readthedocs.io/en/latest/Python-Intro.html#early-stopping) claims that in the case of early stopping the last evaluated iteration is returned by `train()`. This would be in line with what xgboost does. However, in practice I observe that the `Booster` object stored inside `LGBMModel` points at the optimal iteration.

I assume it is a known behaviour an

[2018-05-03 23:28] gaohang commented on #1267
the same question with Nzteb. I cannot find enable_bundle param and  enable_bundle is not in the parameter dict.

[2018-05-04 00:37] little-eyes commented on #985
It will be super cool to see the Dask + LightGBM together. Is there any updates here?

[2018-05-04 01:09] TomAugspurger commented on #985
Still haven't had a chance. If you're interested in investigating this @little-eyes, I can help answer questions from the dask side of things :)

[2018-05-04 02:14] guolinke commented on #1352
Sorry, RF(random forest) don't support continued training.

[2018-05-04 02:32] guolinke commented on #1355
@mlisovyi I update it to the best iteration, but forget to update the doc

[2018-05-04 02:33] guolinke commented on #1267
@gaohang set it to the `params` dict, not the python function arguments.

[2018-05-04 06:04] DeepakLabh commented on #1352
Thanks - Changed it to 'gbdt' and it worked..

[2018-05-04 06:04] #1352 closed

[2018-05-04 06:27] mlisovyi commented on #1355
@guolinke would you mind updating the docs or shall i?

[2018-05-04 06:52] germayneng commented on #1350
@bbennett36 thankyou for giving this insight. I do have some questions:

1) how do i set the gain for the feature importance for lgb

2) SHAP is really good. However, it feels like LIME. It does the explanation for a particular instance or test set. As such, when you mention that you use it for feature importance, does it mean that you use SHAP to evaluate your predictions and from there, identify

[2018-05-04 06:57] Laurae2 commented on #1350
LightGBM R and Python wrappers can predict feature importance and SHAP values. SHAP returns a matrix (per observation, per feature) you can analyze to get insight on the model predictions. "Most important feature" is very subjective and requires the user what to look for (biggest values might not mean better)

[2018-05-04 07:00] huanzhang12 commented on #1342
Seems to be a problem with AMD. We need to find another mirror for AMD APP SDK.

[2018-05-04 08:14] guolinke commented on #1355
@mlisovyi you can update it in your PR~

[2018-05-04 09:48] #1355 closed

[2018-05-04 09:52] StrikerRUS commented on #1267
@gaohang like in the following code:
[code]

@guolinke It seems that we have no information about `enable_bundle` in Parameters.rst.

[2018-05-04 10:01] StrikerRUS commented on #1342
They say it's "temporary server problem":
https://community.amd.com/thread/227948
and provide link to the Dropbox:
https://community.amd.com/message/2859384#2859384

Also some mirror is provided here:
https://github.com/fireice-uk/xmr-stak/issues/1511#issuecomment-385120692

[2018-05-04 14:30] LifeRiver2017 commented on #1217
After I use booster_ to save model:
`clf.booster_.save_model('../model/lightGBM_v1_1.txt')`
I load model by:
`bst = lgb.Booster(model_file='../model/lightGBM_v1_1.txt');`
but bst has no method of predict_proba(), which is I really need. It taken 30 hours for me to train this model, disappointed...

[2018-05-04 20:38] StrikerRUS opened #1356 "macOS builds fail"
It seems that `brew` is broken again on macOS builds at Travis.
It suggests `brew link --overwrite gcc`, but we already have this line in our script.

[2018-05-05 01:05] guolinke commented on #1217
@LifeRiver2017 you can predict it to the raw score via predict function, and convert it to prob by yourself

[2018-05-05 07:06] qmick opened #1359 "Categorical features with large int cause segmentation fault"
## Environment info
Operating System: Ubuntu server 16.04 64bit
CPU: Intel(R) Xeon(R) CPU E5-2640 v4 @ 2.40GHz * 2
C++/Python/R version: Python 3.5.2

## Error Message:
Python output:

GDB output:

## Reproducible examples
[code]
## Steps to reproduce
1. Run example above

## Possible reason
Seems like it's caused by Python int to C++ int conversion error. Large Python int become negative in C++ s

[2018-05-05 23:26] #1356 closed

[2018-05-06 00:34] StrikerRUS commented on #1359
@guolinke I'll try, but not promise to do it fast.

[2018-05-06 12:15] geoHeil commented on #1326
See the Microsoft mmlspark project which includes lightgbm
https://github.com/Azure/mmlspark
YangChaoKiKa <notifications@github.com> schrieb am So. 6. Mai 2018 um 08:21:

[2018-05-06 12:45] YangChaoKiKa commented on #1326
@geoHeil this is exception that I got when running lightGBM in scala, please help @imatiach-msft
Name: org.apache.spark.SparkException
Message: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 3, localhost, executor driver): java.lang.UnsatisfiedLinkError: Could not load the native libraries because we encountered the follow

[2018-05-06 12:49] YangChaoKiKa commented on #1326
<img width="680" alt="screen shot 2018-05-06 at 8 47 20 pm" src="https://user-images.githubusercontent.com/29375406/39673438-c982ce68-516e-11e8-9aed-1f3183794b16.png">
I compliled some lib from tips in the open issues, but I still don't know how to tell my local spark to find them when running lightGBM

[2018-05-06 16:15] geoHeil commented on #1326
did you check the fat-jar if the compiled native code files are actually
contained within the jar?

YangChaoKiKa <notifications@github.com> schrieb am So., 6. Mai 2018 um
14:50 Uhr:

[2018-05-07 07:52] guolinke commented on #1353
I think it is by design. when without early_stopping, the best_iter and best_score will never be set.
best_iter=-1 means using the last iteration.

@Laurae2 It is changed a while ago, due to some feedbacks, but i don't remember why.
Are there any problems ?

[2018-05-07 14:01] imatiach-msft commented on #1326
@YangChaoKiKa hi, sorry for any confusion, we currently do not support running LightGBM on mac OSX and windows. This is something that we are planning to add in the future - basically we just need to compile the binaries (dylib for mac and dll for windows) and add them to the jar that is published to maven in the corresponding /osx/x86_64/*.dylib or similar for windows folder.

[2018-05-07 14:02] imatiach-msft commented on #1326
@YangChaoKiKa I'm curious as to why you had a jnilib file for the swig wrappers instead of dylib

[2018-05-08 02:57] yoonespi opened #1360 "What is mean leaf_value?"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Windows 7
CPU: intel i5
C++/Python/R version: python 3.6

## Error Message:

##

[2018-05-08 03:08] YangChaoKiKa commented on #1326
@imatiach-msft  looking forward to the new edition for macOS and windows, and the linux version you provide has trouble with my centos's glibc and it needs a 2.27 version that is not compatible with our current system. I had to resort to the docker and already have some fun with it.  And to be honest, I really need to replace the native GBTClassifier spark provides.

[2018-05-08 03:19] YangChaoKiKa commented on #1326
@imatiach-msft  Let me try to reproduce the jnilib and figure out what exactly happens, then get back to you

[2018-05-08 05:08] yoonespi commented on #1360
then If I apply sigmoid function to the score, can I get predicted value?

[2018-05-08 05:46] guolinke commented on #1360
@yoonespi if you want to predict by yourself, not by LightGBM, you should apply sigmoid.

[2018-05-08 12:05] yoonespi commented on #1360
okay thanks!

[2018-05-09 15:52] bbennett36 opened #1364 "[Python] Can we add the ability to save model parameters to a Booster object?"
One of the biggest features that I think LightGBM is missing is having the ability to retrieve parameters from a trained model.

When I first started using LightGBM I got burned a couple times because I thought the model was using certain parameters but it actually wasn't due to a small type in the parameter name or using an incorrect alias so I think this will greatly benefit newcomers. Even afte

[2018-05-10 03:56] janelu9 commented on #1206
@mandeldm  hello can you tell me how did you install ms build? now i get the same problem .

[2018-05-10 04:04] janelu9 commented on #1206
need i select any options else to install cpp compiler with vs2015?
![image](https://user-images.githubusercontent.com/24219258/39851584-41bb332e-544a-11e8-8c2c-59500abf9655.png)

[2018-05-10 04:05] janelu9 commented on #1206
need i select any options else to install cpp compiler with vs2015?
![image](https://user-images.githubusercontent.com/24219258/39851603-66604b1a-544a-11e8-859f-d91dde6dfa91.png)

[2018-05-10 09:47] guolinke commented on #1364
@bbennett36 thanks, that is a good request. I will do it when i am free.

[2018-05-11 04:44] zyoohv opened #1366 "[Python]Report ' RuntimeWarning: invalid value encountered in double_scalars' when run cv."
## Environment info
Operating System: Ubuntu 16.04
Python version:3.5

## Error Message:

[517]   cv_agg's auc: 0.706559 + 0.00383309
[518]   cv_agg's auc: 0.706564 + 0.00382547
[519]   cv_agg's auc: 0.70659 + 0.00380338
[520]   cv_agg's auc: 0.706591 + 0.00382418
[521]   cv_agg's auc: 0.706558 + 0.00382061
[522]   cv_agg's auc: 0.70654 + 0.00382207
[523]   cv_agg's auc: 0.706538 + 0.00382968
[524

[2018-05-11 20:59] bbennett36 commented on #1366
This looks like a problem with your data/numpy, not LightGBM.

This might help -
https://stackoverflow.com/questions/3767409/invalid-value-encountered-in-double-scalars-warning-possibly-numpy

Yeah it looks like theres something going on with a NaN/null value  -
`/usr/local/lib/python3.5/dist-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.`

Try this answer if the oth

[2018-05-12 07:28] guolinke commented on #699
@tt83 it has no difference

[2018-05-13 08:02] tanmayGIT commented on #3
Please have a look at :
https://stackoverflow.com/a/50313990/3465857

[2018-05-15 02:59] zeushera140 opened #1368 "How to load libsvm text file as dataset?"
## Environment info
Operating System: win7-64bit
CPU: i5-5200U
Python: 3.6.5

## Error Message: LightGBMError: b'cannot open data file

## Reproducible examples:
I tried to load a libsvm format text file with python-api, but failed. Maybe it's due to the wrong format, so I wonder if there is an example to show how to load libsvm format text files. thanks.

below is my file format
-1 15515:1 280:1

[2018-05-15 03:38] zeushera140 commented on #1368
problem solved, seems due to the file encoding

[2018-05-15 03:38] #1368 closed

[2018-05-15 11:25] jrzaurin opened #1369 "LightGBM and gcc 8 in MacOS: `Library not loaded: /usr/local/opt/gcc/lib/gcc/7/libgomp.1.dylib`"
For Mac Users
[code]

The 2nd of May `gcc-8` was released, which is a major released.

Therefore, if, since then, you run
[code]

gcc-8 version will be installed:

[code]

## ISSUE
If the lightGBM version you have was built with `gcc-7`, when you try to load it now you might get:

[code]

## SOLUTION
I came around this error by installing it from source doing:

[code]

and then

[code]

[code]

By

[2018-05-16 09:51] summersunshine1 opened #1370 "gbm train process with valid res is not the same with valid predict from train model"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:
gbm train process with valid res i

[2018-05-16 19:28] ClimbsRocks opened #1371 "feval metric score ignored for early stopping with Python API"
When using `early_stopping_rounds`, the `feval` function is ignored, and early stopping is determined by the default metric (binary logloss in this case). I included a reproducible example below.

I don't see any way of turning off the default metric (I tried manually setting it to `'metric': None` in the params dict, but it still exhibited this behavior).

I created a trivial "custom metric" that

[2018-05-17 01:46] wushengzhong opened #1372 "LightGBM Installation Error in MacOS with Anaconda Python3"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: mac OS 10.13.4
CPU: intel core i7
C++/Python/R version: Anaconda Python 3.6.4

#

[2018-05-17 06:26] guolinke commented on #1372
I think the problem is gcc 8 in macos.
Move to https://github.com/Microsoft/LightGBM/issues/1369

[2018-05-17 06:26] #1372 closed

[2018-05-17 06:32] guolinke commented on #1369
okay, I see.
The macos binaries is built by gcc7, which cannot be used for gcc8.
Built from source can solve it.
@StrikerRUS should we update it to the gcc8 version?

[2018-05-17 06:33] Laurae2 commented on #1369
@guolinke by default this should be now gcc-8 for macOS.

[2018-05-17 06:35] guolinke commented on #1370
@summersunshine1 Have they a large gap ?
I think the slight difference is not a problem.
There may is some floating point precision issues between cpp and python in AUC calculation.

[2018-05-17 06:38] guolinke commented on #1369
@Laurae2 thanks.
However, our latest binaries is built before the update of gcc 8. Maybe we should release the new binaries recently.

[2018-05-17 06:40] guolinke commented on #1371
@ClimbsRocks When you use two metrics, the training will stop when one of them met early stopping.
In your case, the binary_logloss met early stopping.

To avoid this, you can use only one metric.

[2018-05-17 06:44] #1371 closed

[2018-05-17 08:09] ClimbsRocks commented on #1371
Thanks for sharing how to ignore the default metric. I just submitted a PR to add that to the docs.

[2018-05-17 08:10] ClimbsRocks commented on #1371
As always, I'm impressed by how responsive you are

[2018-05-17 09:21] fujii opened #1374 "Should document the case train_set is specified in valid_sets of lightgbm.train"
In the document,

http://lightgbm.readthedocs.io/en/latest/Python-API.html#training-api

This is not correct. Looking into the source code, train_set is handled differently.

https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/engine.py#L136

[2018-05-17 14:26] StrikerRUS commented on #1369
Yeah, after this PR https://github.com/Microsoft/LightGBM/pull/1357 Travis artifact for macOS is built by `g++-8`. However, the latest release on PyPI `2.1.1` contains the version for `g++-7`.

Since there is an incompatibility between `g++-7` and `g++-8`, I think we should create a note about it and suggest to install `2.1.1` version for those who use `g++-7`.

Or there is another variant. I'm no

[2018-05-18 00:33] summersunshine1 commented on #1370
when valid() function call after train() successively,the valid function result is fixed and is the same with eval result in train(),but when i just call valid() ,the valid results is seriously different at every time.

[2018-05-18 02:14] guolinke commented on #1370
@summersunshine1
when you comment the `train` and re-run this script, and valid data (generated randomly) is changed.
As a result, it will have the different result, right ?

To check it, you should use the same valid data for the test.

[2018-05-18 04:45] ShawnyXiao opened #1375 "How to load a scpiy.sparse.csr_matrix array into Dataset and specify categorical features meantime?"
I know how to load a scpiy.sparse.csr_matrix array into Dataset and specify categorical features seperately. But as scpiy.sparse.csr_matrix has no column names, how could I load a it into Dataset and specify categorical features meantime?

[2018-05-18 06:33] Laurae2 commented on #1375
You can use indexes (column number, starting from 0).

[2018-05-18 07:39] summersunshine1 commented on #1370
sorry, it's my fault, i close the issue

[2018-05-18 07:39] #1370 closed

[2018-05-18 08:27] ShawnyXiao commented on #1375
Thanks for ansering! :)

[2018-05-18 08:28] #1375 closed

[2018-05-18 17:37] qifengzhou commented on #458
I got the same problem on installing the GPU version on Ubuntu.

'''
qifeng@DLS:~/LightGBM/build$ sudo make -j$(nproc)
Scanning dependencies of target lightgbm
Scanning dependencies of target _lightgbm
[  1%] Building CXX object CMakeFiles/lightgbm.dir/src/boosting/gbdt.cpp.o
[  3%] Building CXX object CMakeFiles/lightgbm.dir/src/boosting/prediction_early_stop.cpp.o
[  4%] Building CXX object CMak

[2018-05-18 20:25] rgranvil opened #1379 "Feature request: Feature-specific penalties"
@guolinke In some applications it would be helpful to be able to penalize the use of specific features.  Some features may have higher costs to obtain or are less interpretable, which can be an important consideration when the model needs to be explained to non-technical audiences.

For example, if feature1 has additional cost I may want to apply a penalty to it's split gains, which would result i

[2018-05-18 22:03] StrikerRUS commented on #1342
Another possible solution is to move GPU tests to the Appveyor. Some links and paths could be fond [here](https://github.com/boostorg/compute/blob/master/.appveyor.yml).

[2018-05-19 06:29] Ubikas commented on #458
Hi @qifengzhou ,
I had to spend some time until I manged to collect all info to make it right. It's already been some time since my last lightgbm update run, hope script still valid :)

[code]
Mind catalogs according to your setup and cuda.

[2018-05-19 11:52] StrikerRUS commented on #1369
Travis images we run aren't the latest version of macOS, but `g++-8` can be successfully installed on them. So, the variant with separate Python wheels is unacceptable.

I think we just can document this behavior.

[2018-05-20 10:21] #1364 closed, assigned to nobody

[2018-05-20 20:17] Laurae2 opened #1385 "Can't compile R package in WSL (Ubuntu 16.04)"
Specs:

* Operating System: Ubuntu 16.04 (WSL)
* R version: 3.5
* Compiler: gcc 5.4
* Commits tried: master (dc69957), 497e60e (before master), 4967709 (R 3.5 fix)

It seems gcc in WSL is more strict on types.

I'm trying to compile the R package under WSL, and I'm getting the following errors:

[code]

[2018-05-21 02:59] guolinke commented on #1385
@Laurae2 can you try this pr #1386 ?

[2018-05-21 08:31] qifengzhou commented on #458
Hi @Ubikas @StrikerRUS,

Thank you for the instruction!
I followed it and compiled it successfully. However, its still not working, I got an error when running LGB in jupyter notebook
"[LightGBM] [Warning] Unknown parameter: tree_method
[LightGBM] [Warning] Find whitespaces in feature_names, replace with underlines
[LightGBM] [Warning] Unknown parameter: tree_method
[LightGBM] [Fatal] GPU Tree Lea

[2018-05-21 09:58] Laurae2 commented on #1385
@guolinke Works with #1386 (tested also `lgb.train` example).

[2018-05-21 11:28] Gunnvant opened #1387 "Mac OS install instructions need to be updated"
The gcc has been updated to version 8.1 since 17-05-18. The install documentation needs to be updated. Instead of
`git clone --recursive https://github.com/Microsoft/LightGBM ; cd LightGBM
export CXX=g++-7 CC=gcc-7
mkdir build ; cd build
cmake ..
make -j4`

It should now be
`git clone --recursive https://github.com/Microsoft/LightGBM ; cd LightGBM
export CXX=g++-8 CC=gcc-8
mkdir build ; cd build
c

[2018-05-21 11:40] #1385 closed

[2018-05-21 13:45] StrikerRUS commented on #1387
Thank you @Gunnvant ! PR is on the way!

[2018-05-21 22:46] #1359 closed

[2018-05-21 22:52] Laurae2 opened #1388 "Compile with Intel Compiler?"
@guolinke do you know how to compile LightGBM with icp (Windows) in R?

With Linux, seems straightforward by replacing gcc by icc, but not in Windows (controlled by Visual Studio cmake?)

[2018-05-22 03:08] #1369 closed

[2018-05-22 03:08] #1387 closed

[2018-05-22 03:09] guolinke commented on #1364
Now the parameters will be auto saved in the end of model file.

[2018-05-22 15:01] tnmichael309 commented on #1186
import warnings
warnings.filterwarnings('ignore')

[2018-05-22 16:31] bbennett36 commented on #1364
@guolinke You guys are awesome! Thanks!

[2018-05-22 16:43] bbennett36 commented on #1379
How are you measuring "feature importance"?  If you're going off the split or gain from the core package then I would recommend looking into SHAP. It has a better and consistent way of showing feature importance.

https://github.com/slundberg/shap.

Also, unless i'm mistaken, the 'min_sum_hessian_in_leaf" parameter should help with limiting the really important features and help solve some your cu

[2018-05-23 02:31] rgranvil commented on #1379
I do primarily use the package's lgb.importance function based on split gain, but I've been meaning to test out SHAP importance.  I don't think this would solve the issue, at least not in the use cases I have in mind, but I will read into this.  Thanks for the tip.

I usually tune min_sum_hessian_in_leaf (and/or min_data_in_leaf) when building models.  I don't think this parameter would help here