[2016-10-09 05:54] guolinke opened #1 "Don't support 'nan' in data file"

[2016-10-11 05:51] #1 closed, assigned to nobody

[2016-10-16 14:18] fengqifang opened #2 "lambdarank prediction error"
Running the lambdarank example, training finished.

When run "LightGBM config=predict.conf

gives error

"[LightGBM Error] input format error, should be LibSVM"

[2016-10-16 15:53] Yorko opened #3 "unsupported option '-fopenmp' on Mac OS X"
Is Mac OS X supported?

I'm on 10.12 Sierra and get the "unsupported option '-fopenmp'" error after "make -j"

[2016-10-16 16:01] guolinke commented on #2
Thanks. I cannot debug it for my laptop is broken now.
Can you help to test that other examples work or not?
Thanks

[2016-10-16 16:02] guolinke commented on #3
Actually, It is not tested on OSX now. Will fix soon

[2016-10-16 16:07] Yorko commented on #3
Maybe it'll work with Clang updated, I'll try.

[2016-10-17 01:46] guolinke opened #4 "RAM consumption becoming bottleneck when #feature are large and RAM are intensive"
LightGBM will allocate a cache to store historical histograms. This will cost about #leaf x #feature x #bin. May need to design a LRU liked cache to reduce this memory cost.

[2016-10-17 02:12] chivee commented on #3
hi, @Yorko , we currently doesn't have clear plan to support for OSX(but it should have). openMP is needed by lightGBM for building, please refer to https://clang-omp.github.io/ for the instuctions

[2016-10-17 02:20] chivee commented on #2
@fengqifang , thanks for your feedback.

the test data indeed has label which cannot be ignore by the IO reader.

you can add `data_has_label = true' in your predict.conf.

[2016-10-17 02:20] #2 closed

[2016-10-17 02:53] chivee commented on #4
yes, when RAM is intensive for your task, LightGBM will waste lots of time for paging.

[2016-10-17 04:54] zyzhong opened #5 "Can't find executable lightgbm"
I follow the Installation Guide, and the compile success. But there is no lightgbm file, the CMakeLists.txt might have some problem?

[2016-10-17 05:06] chivee commented on #5
@zyzhong , the default folder for binary file is the root folder, please double check weather is LightGBM in your root folder.

you can share your compiling log for further debug. i'll close the issue first, please feel free to reopen if the problem still in there.

[2016-10-17 05:06] #5 closed

[2016-10-17 05:07] chivee commented on #3
I'll close this issue first, please feel free to reopen if the problem still there after installing OpenMP properly.

[2016-10-17 05:07] #3 closed

[2016-10-17 06:50] zyzhong commented on #5
Oh, it's the LightGBM file, maybe it should be put in bin/ somewhere

[2016-10-17 06:58] guolinke commented on #5
@zyzhong It actually has name error in cmake. have fixed. you can pull latest code to build again.
Thanks very much.

[2016-10-17 07:03] guolinke commented on #2
@chivee I think it will be better if we can set data_has_label according to the input model and data file. I will add this soon.

[2016-10-17 07:15] sooheon commented on #3
On mac os sierra, installing OpenMPI with with homebrew and following instructions still resulted in same error. Installing using C++11 mode and with C++ MPI bindings (these were flags for the homebrew recipe) did not fix the error.

[2016-10-17 08:00] chivee commented on #2
@guolinke, sure, adding an try logic for parser will fix this problem

[2016-10-17 08:37] chivee commented on #3
hi @sooheon , i'm not quite sure that you are typo openMP - > openMPI which doesn't needed by lightGBM. i'm not quite sure that apple clang has openMP supported on sierra.

[2016-10-17 08:51] bartleusink commented on #3
Compiling LightGBM with gcc-6 on OSX works:

[code]

[2016-10-17 08:54] sooheon commented on #3
Thank you I was indeed confusing OpenMPI and OpenMP

[2016-10-17 09:12] chivee commented on #3
@bartleusink , thanks for your sharing

[2016-10-17 10:16] Yorko commented on #3
@bartleusink Thank you!
For me it finally worked.

If anybody's interested: I had to additionaly link brew to gcc

`sudo chown -R $USER /usr/local/`
`brew link --overwrite gcc`

[2016-10-17 12:43] zyzhong opened #8 "libSVM data problem"
LightGBM print log, "[LightGBM] #data:18269614 #feature:43".
The datas have 44 dimensions started with 0, why the log says #feature:43? It's something wrong?

[2016-10-17 13:03] guolinke commented on #8
LightGBM will ignore features that (almost) all are same values(like all zeros).

[2016-10-17 13:03] #8 closed

[2016-10-17 13:35] sh1ng opened #9 "Not precise configuration of xgboost"
You should use **min_child_weight** instead it controls second sum derivative. In case of regression task it equivalent to number of nodes(divided by 2). For you objective functions it's no so trivial, but it's better that default min_child_weight=1.

If you only set max_depth=8 it guarantys only that max number of leafes, but destitution could be really skewed and overfit train data set(in your c

[2016-10-17 14:13] guolinke commented on #9
I think this will not affect so much in accuracy.
And it will not affect speed as well, the gain calculation cost is very small in LightGBM as well.
However, we will set min_child_weight=1 in LightGBM and run them again.
Thanks for your advise.

[2016-10-17 14:21] sh1ng commented on #9
My proposal is set min_child_weight = 100 or 200 for xgboost.
min_child_weight=1 doesn't make a lot of sense IMHO

[2016-10-17 14:40] guolinke commented on #9
OK, LightGBM is set ```min_data_in_leaf=100```  and ```min_sum_hessian_in_leaf=10.0``` by default.
So I should set  ```min_data_in_leaf=0``` and ```min_sum_hessian_in_leaf=100.0``` in LightGBM, and set ```min_child_weight=100.0`` in xgboost.
This should give a fair result.

[2016-10-17 14:46] sh1ng opened #10 "Could you add your lib to benchm-ml?"
https://github.com/szilard/benchm-ml

[2016-10-17 16:11] guolinke commented on #10
Welcome to contribute for this benchmark.
We would like to add this, but we have limit man power in this project and benchmark is not our priorities.
Thanks

[2016-10-17 16:11] #10 closed

[2016-10-18 03:05] guolinke commented on #9
https://github.com/Microsoft/LightGBM/wiki/Experiments  had updated.

[2016-10-18 03:05] #9 closed

[2016-10-18 05:28] guolinke commented on #2
fixed, the parameters "data_has_label" is not need any more.

[2016-10-18 05:32] chivee commented on #10
@sh1ng , pull request will be welcome if you can help us on the bench-marking.

[2016-10-18 05:55] chivee opened #11 "[Feature] Python Bindings for LightGBM"
Hi all, we have tentative plan on extending LightGBM to python users. please share us your opinions.

[2016-10-18 06:16] geoHeil opened #12 "Problem building on osx"
I have a problem building on osx:
`clang: error: unsupported option '-fopenmp'` which is related to http://stackoverflow.com/questions/36211018/clang-error-errorunsupported-option-fopenmp-on-mac-osx-el-capitan-buildin but cannot be fixed by setting
[code]
what am I missing?

[code]

[2016-10-18 06:31] chivee commented on #12
hi @geoHeil , could you please refer to #3 and give it a try.

according to your log `- The CXX compiler identification is AppleClang 8.0.0.8000038` you still using apple clang for compiling.

[2016-10-18 06:44] geoHeil commented on #12
thanks indeed that works. But now I get a different compile error:

[code]

[2016-10-18 06:57] geoHeil commented on #12
Thanks for the link `cmake -DCMAKE_CXX_COMPILER=g++-6 -DUSE_MPI=ON ..` results in a working build.

[2016-10-18 06:57] #12 closed

[2016-10-18 12:30] DanielAdrian commented on #11
I think this should be a great step forward with adoption, of course it should be also pretty easy to install and use.
These are the features I think you should consider for python support:

- install via pip

- scikit learn interface so people can use fit/predict and have a drop-in replacement for xgboost/GBM

- Loading/Saving models via pickle or dedicated methods

[2016-10-18 14:54] alexvorobiev opened #14 "[Feature] Support for monotonic constraints?"
Are you planning support for monotonic constraints? See e.g. here https://github.com/dmlc/xgboost/issues/1514

[2016-10-18 15:54] PerformanceGenetics opened #15 "[Feature] Integration with Azure ML Studio"
This is a great package. I'd suggested (politely) that if there are not any plans to bring XGBoost within the Azure ML Studio GUI, this would be a good module to add as an option and provide a much needed tool within the interface

[2016-10-18 16:45] chivee commented on #14
I'm pasting the snippets for the monotonic constraints here

`IF (split is a continuous variable and monotonic)`

`THEN take average of left and right child nodes if current split is used`

`   IF monotonic increasing THEN CHECK left average <= right average`

`   IF monotonic decreasing THEN CHECK left average >= right average`

@alexvorobiev , do you  have referable papers for this features?

[2016-10-18 17:27] alexvorobiev commented on #14
@chivee I only have the reference to the R GBM package https://cran.r-project.org/package=gbm

[2016-10-18 21:37] yychenca commented on #11
Agree with ParadoxShmaradox. And for me earlystopping would be a great feature to have.

[2016-10-19 03:19] chivee commented on #11
@ParadoxShmaradox @yychenca , we can break its procedure into two several phrases: 1. python bindings. 2 scikit-learn(or other popular framework) interface.

As for model (de)serialization,  cross validation, and early stopping seems to be another popular features we should move on. I'll open issues for this features.

[2016-10-19 05:02] chivee commented on #15
hi @PerformanceGenetics . we would happy to talk to Azure ML team to make this happen.

[2016-10-19 06:14] chivee commented on #14
@alexvorobiev , thanks for your sharing. I'm trying to get the idea behind this method.

[2016-10-19 12:06] wxchan opened #17 "svmlight format leads to different models, because it ignores 0-value terms?"
Seems the data in svmlight format leads to a different model from the same data in csv/tsv format, because it ignores the value=0 terms.

Use data in LightGBM/examples/regression for example. I write a python [notebook](https://github.com/wxchan/LightGBM/blob/master/examples/regression/run.ipynb) to compare between different data formats under same configurations.

The outputs of svmlight format d

[2016-10-19 12:54] guolinke commented on #17
Thanks, this is a bug.
I will fix it soon.

[2016-10-19 13:24] #17 closed

[2016-10-19 14:45] kirillseva opened #19 "[Feature] R package"
Was actually surprised to see that you haven't got one already, given that MS owns revolution analytics.

Granted, some of the multi-node features will be hard to integrate into R, but OpenMPI-backed single node training looks promising too and I'd like to compare it to xgboost in our production workflow.

Let me know if you guys have internal plans for building an R package or whether you're wait

[2016-10-19 15:06] guolinke commented on #19
We have plan for building R packages, and also welcome community to contribute.
This feature will be finished soon since we receive many requests about it.

BTW, can you share your ideas and demands about R packages?
Thanks.

[2016-10-19 15:33] geoHeil commented on #11
Want to add, that something like xgboosts `scale_pos_weight ` to handle imbalanced classes, or even better an Implementation of *Example-Dependent Cost-Sensitive* would be very interesting http://nbviewer.jupyter.org/github/albahnsen/CostSensitiveClassification/blob/master/doc/tutorials/tutorial_edcs_credit_scoring.ipynb

[2016-10-19 16:36] Allardvm commented on #19
Developing the package itself may not even be necessary, although it would certainly help adoption. The Julia XGBoost library uses XGBoost's convenient shared library bindings and it would be great to have something similar to use for a Julia wrapper to LightGBM (although C++ is bit harder to interface with from Julia).

[2016-10-19 16:41] fengqifang opened #20 "what format shoud be when data has missing value?"
Tried to repeat the example using my own data.

There are missing values in the data, with default value 'NA', the LightGBM gave error message.

( No luck after replaces as 'nan')

"[LightGBM] finished load parameters
[LightGBM Error] meet error while parsing string to float, expect a nan here"

[2016-10-19 16:42] guolinke commented on #20
I just have an new commit. you can use NA(na) and NaN(nan) now.

[2016-10-19 16:42] #20 closed

[2016-10-19 16:50] mxbi commented on #19
#18

[2016-10-19 16:55] mxbi commented on #11
I think we need a way to create the LightGBM binary format directly from a NumPy array instead of having to do an expensive write&read to CSV/SVMLight. For really big datasets (eg. Kaggle Bosch Competition) it can take an hour to read and write CSVs, so something like this (functionality similar to xgboost.DMatrix()) would be excellent.

[2016-10-19 17:31] kirillseva commented on #19
@mxbi it's not very serious :)
things like
https://github.com/Microsoft/LightGBM/pull/18/files#diff-fea194ac8c906aa3b18f13b0672ac4e8R54
https://github.com/Microsoft/LightGBM/pull/18/files#diff-fea194ac8c906aa3b18f13b0672ac4e8R68
can make one worried :/

R has a very good interface to interact with C++ code, all you need to do is bundle R package and C++ code together in one repo (unfortunately), a

[2016-10-19 17:41] Allardvm commented on #19
Yes, transmitting data efficiently is also the first thing that comes to my mind.

In general, it would be useful to have a way of interfacing with LightGBM during training iterations (i.e. pausing after an iteration and waiting for further commands). This should be enough to develop quite efficient and customizable K-fold cross-validation tools, without having LightGBM write its model to disk (or

[2016-10-19 18:29] chivee commented on #19
there are so many common needs between R and Python wrappers, I'm not familiar with R, but I guess we should exporting our training logic to some extern C API. which can be used by most of functional programming languages.

@ycdoit maybe you can share us some ideas. @guolinke , we can start from an general Model/Data container so that it can be easily porting from other tools

[2016-10-19 18:54] kirillseva commented on #19
@chivee [this](http://www.rcpp.org/) is what you'd typically use for tying together C++ classifiers with R shell

[2016-10-20 00:05] guolinke commented on #20
If you still meet errors, please feel free to reopen this issue.

[2016-10-20 00:46] guolinke opened #22 "[Enhancement] Accelerate tree learning by GPU"
This is an interesting topic and may can further accelerate the learning speed of LightGBM.
@chivee @xuehui1991 Please investigate about this.

[2016-10-20 01:49] taifeng1205 commented on #15
We are actively collaborating with Azure ML team on bring this onboard. And internally there is another GBDT tool available on AzureML, which will be even more powerful in the future with our help.

[2016-10-20 03:50] chivee commented on #22
yes, we still need to investigate the bottleneck for (or give an statics about ) GPU computing, such as moving data via PCI v.s. computing gradients. However, the multiprocessor feature will definitely helping accelerate the computing process.

[2016-10-20 06:52] bighaidao opened #23 "Is there a way to get the trees Feature important ?"

[2016-10-20 06:59] chivee commented on #23
yes, you can read the model files, which indicate the feature importance.

[2016-10-20 09:27] silverstone1903 opened #24 "Using LightGBM with csv files"
Hi,

I want to use csv files but I don't know how can I convert them for LightGBM. Is there an easy way for it?

Thanks in advance!

[2016-10-20 09:29] guolinke commented on #24
LightGBM can use csv file directly. you can refer to https://github.com/Microsoft/LightGBM/wiki/Quick-Start#training-data-format .

[2016-10-20 09:44] silverstone1903 commented on #24
@guolinke Thank you for quick answer! Then I'm updating my question. I'm getting this error:  "Meet unknow characters while parsing string to float." Am I doing something wrong?

[2016-10-20 09:47] guolinke commented on #24
@silverstone1903 try to update to latest repo and try again?

[2016-10-20 09:57] #23 closed

[2016-10-20 11:09] #24 closed

[2016-10-20 11:46] #15 closed

[2016-10-20 13:03] modkzs commented on #11
I think user-define loss and eval function is also important

[2016-10-20 14:00] fengqifang opened #26 "[Feature] silence the progress or verbosity"
Is there any way to silence the progress?

If I do not want the output "[LightGBM] 1.501629 seconds elapsed, finished 50 iteration]"

[2016-10-20 14:17] wxchan commented on #26
Try to comment out the line `Log::Stdout("%f seconds elapsed, finished %d iteration", std::chrono::duration<double, std::milli>(end_time - start_time) * 1e-3, iter + 1);` in src/gdbt.cpp and recompile.

[2016-10-20 14:34] fengqifang commented on #26
Thanks, wxchan.

It would be better put that option in conf

[2016-10-20 14:51] silverstone1903 commented on #24
@guolinke  Nope. It didn't work. Like I asked, do I need to do pre-processing for data or something like that? I'm trying to use [Kaggle Allstate Claims Severity](https://www.kaggle.com/c/allstate-claims-severity/data) data. If yes can you explain it please. I'm a little bit newbie for these kind of computing stuffs.

[2016-10-20 15:22] yychenca commented on #11
@chivee Thank you chivee. I had a chance to try LightGBM with a dataset of 180k rows and 30 features for a regression problem. The training completed in 8 seconds as compared to 52 secs by XGBoost using comparable parameters, 63 leaves vs 8 depths. And the accuracy of LIghtGBM (L1/MAE ) was even a bit better. Truly impressed!!

Noticed that early stopping has already been added and I'll probably g

[2016-10-20 15:28] guolinke commented on #24
@silverstone1903  Are you directly use the raw data of this competition?
I find this data have things like "A", "B" and other not numerical values. And it also has an header...
You need to:
1. remove header
2. put label into first column
3. change non-numerical values to numerical values, or just remove them

[2016-10-20 16:25] guolinke commented on #11
@yychenca Thanks for your support, we will continue to make LightGBM a better tool.

[2016-10-20 16:55] ArdalanM commented on #11
A quick wrapper for LightGBM: https://github.com/ArdalanM/pyLightGBM
It still dump input to svm format before training on.

[2016-10-20 19:18] tks0123456789 opened #28 "Gradients calculation doesn't match with probability"
Gradients
https://github.com/Microsoft/LightGBM/blob/master/src/objective/binary_objective.hpp#L63-L78
63        const score_t response = -2.0f * label * sigmoid_ / (1.0f + std::exp(2.0f * label * sigmoid_ * score[i]));
66        hessians[i] = abs_response * (2.0f * sigmoid_ - abs_response) * label_weight;
and line 75, 78
This is derived from logloss func L = -log(1+exp(-2 * label * score)) and pr

[2016-10-21 03:38] chivee commented on #26
@fengqifang , thanks for your advice, we will update the log level settings

[2016-10-21 03:55] chivee commented on #11
@ArdalanM , thank you ardalanM , that will be very helpful!

[2016-10-21 04:15] guolinke commented on #26
The contribute about this is also welcomed

[2016-10-21 04:37] guolinke commented on #28
Thanks, you are right, have fixed.

[2016-10-21 04:37] #28 closed

[2016-10-21 05:18] chivee commented on #26
I will add this feature soon.

[2016-10-21 06:07] wxchan commented on #26
Not sure what people actually need. If the silence parameter exists, which parts of output would disappear?

I have another suggestion: if run lightgbm without 'config=', it will show some helps about configurations like [libsvm](https://github.com/cjlin1/libsvm/blob/master/svm-train.c#L13) does.

[2016-10-21 06:09] chivee commented on #26
@wxchan ,we are adding an optional logger for lightGBM, with which you can set your logging levels to choose the verbosity.

we can adding some -h --help options for this case.

[2016-10-21 11:48] #26 closed

[2016-10-22 08:12] yanyachen commented on #19
Besides some features that @kirillseva already mentioned, There are some others on my mind and might be useful for modeling, and these features may be not limited to the R package.

- Callback function system (for both cv and training)
- Prediction with leaf index
- Model Parsing to plain text: split, gain, cover

I think @fakyras and @Far0n can contribute more ideas on this

[2016-10-23 00:25] Laurae2 commented on #19
For R currently I have implemented:

* Training + validation + prediction (using regular or distributed)
* (repeated) Cross-validation + prediction
* Output metric table
* Feature importance + Plot
* Cross-validated feature importance + Plot

Currently it works using CSV files and uses tons of arguments (and a lot of "hacky ways" of doing things) which is not a good solution but it does its job pr

[2016-10-23 01:42] guolinke commented on #19
@Laurae2 Good job, thank you.
We will expose interfaces for Python/R package soon, especially for the interfaces of in-memory data convert.

[2016-10-23 06:12] dselivanov commented on #19
IMHO we can work on R package only after core developers will expose C/C++ API for python/R. Solutions which wraps command line interface are not flexible/fast/interactive.

[2016-10-23 12:33] #4 closed

[2016-10-23 16:12] damienrj opened #31 "[Feature] PMML support"
Being able to save the model in PMML format would be great (https://github.com/jpmml). Would make it easy to move LightGBM models into production.

[2016-10-23 16:34] guolinke commented on #31
Model file of LightGBM is simple and readable. I think it is easy to write an parser to do this.

[2016-10-24 03:54] guolinke opened #33 "Add max_depth option to deal with over-fitting"
LightGBM grows tree by leaf-wise. This will give good accuracy when #data is large.
However, it may cause over-fitting while #data is small.
Add max_depth to limit the depth of tree model can deal with it.

[2016-10-24 03:55] chivee opened #34 "[Feature]Interface for data layers"
I would like to open this issue for tracking progress on data/model in-memory transfer interface development.

the interface should offering:
- serialization from [memory, disk] to [memory,disk] for data
- access data in training/validating process
- porting libraries for other tools

[2016-10-25 05:37] #33 closed

[2016-10-25 07:58] nlothian opened #37 "Interpretation of LambdaRank results file"
How should the results in the LambdaRank results file be interpreted?

I think the numbers are scores within the query group, and higher is better?

I assume we use the .query file to work out how many records are written for each query group?

[2016-10-25 09:08] guolinke commented on #37
Hi, the label/prediction in lambdarank is the relevant score, higher means better.
for the query file: https://github.com/Microsoft/LightGBM/wiki/Configuration#query-data
I will close this now. please feel free to reopen if you still have questions.

[2016-10-25 09:08] #37 closed

[2016-10-25 11:01] Laurae2 opened #38 "log_file param not working"
I am trying to use the log_file param (as seen on [line 97 config.h](https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/config.h#L97))  but it seems to not work: no log is output to the file (the file is not even created).

However, the model is trained successfully. I end up with the model file only.

Here is my train.conf:

[code]

* Using commit: 1aefcd8a05419ab26e19d34e71c44f0c

[2016-10-25 11:13] guolinke commented on #38
@Laurae2  we don't provide the log_file function now, this parameter is dump, i will remove it soon.
You can use [Redirect](http://stackoverflow.com/questions/6674327/redirect-all-output-to-file) instead.

[2016-10-25 13:00] chivee commented on #38
@guolinke , perhaps we should adding the function back rather than delete it

[2016-10-26 01:17] RAMitchell commented on #9
@guolinke would you consider adding your scripts used to generate these experiments to the repo?

In particular any preprocessing of the raw data files. I would like to exactly replicate these benchmarks for GPU optimisation work on xgboost.

[2016-10-26 02:14] guolinke commented on #9
@RAMitchell I will build a new repo for the benchmarks.
BTW, are you interesting about porting GPU accelerate to LightGBM?

[2016-10-26 02:44] RAMitchell commented on #9
Great, thanks.

Definitely interested in implementing a version of your algorithm, although probably in xgboost as I have already done a fair bit of work there.

I think your algorithm will have a lot of nice properties for GPU parallelism.

[2016-10-26 09:48] sh1ng commented on #9
@RAMitchell it's better to use independent benchmark like https://github.com/szilard/benchm-ml it already contains xgboost as first class citizen. You can create PR for xgboost GPU plugin.

It worth to play with regression task also, so If you know big enough dataset (10M at least) let me know.

[2016-10-26 19:51] ArdalanM commented on #34
Also Interested.
We made a python wrapper and so far, the main drawback is the read/write to disk before calling lightgbm.

[2016-10-27 04:00] guolinke commented on #38
I still think we don't need the log file. Redirect can solve most of these problems.
If you still need it, please free feel to reopen.

[2016-10-27 04:00] #38 closed

[2016-10-27 09:21] ArdalanM opened #39 "Early stopping not working anymore"
Couple of days ago early stopping was working.

In binary_classification example
If you add ```early_stopping_round = 10``` and increase ```num_trees``` you won't have early stopping.
Instead you will have the following outputs:

[code]

```LightGBM_model.txt``` is filled with all the trees up to ```num_trees``` (here ```num_trees=1000```)

[code]

[2016-10-27 10:21] guolinke commented on #39
Hi, @ArdalanM , The early_stopping will be enable while using validation data.
But I only find training metric output in your logs..

[2016-10-27 10:39] guolinke commented on #39
fixed. Pull the latest code and try again?
Thanks for pointing out this.

[2016-10-27 10:39] #39 closed

[2016-10-27 12:55] kingvision opened #40 "feature selection"
hi:
  i want to use the code for feature selecting , can you give me some ideas?
or give me an example?
thanks

[2016-10-27 13:11] guolinke commented on #40
The function of feature importance is not provided in LightGBM now.

About the idea of feature selection , you can refer to http://scikit-learn.org/stable/modules/ensemble.html#feature-importance-evaluation .

LightGBM provide the readable model file, I think you can parse it then calculate the features importance.

Also welcome the contribution about this function.

[2016-10-27 16:04] guolinke opened #41 "More flexible format of input data"
Currently, LightGBM only support fixed format data input.
I want to add some new features:

1. support data with header
2. can specify index/name of label, query/group and weight columns
3. can specify some columns in data that won't be used in training

[2016-10-27 18:40] rquintino opened #43 "Plans to support multiclass classification?"
or through a 1 vs all classifier?

[2016-10-28 07:42] #40 closed

[2016-10-28 11:29] Allardvm opened #45 "[Feature] Julia Package / Interface compatibility"
It would be great if you would consider Julia's requirements when designing LightGBM's interface for R and Python. There's some quite extensive documentation on how Julia can call C and C++ code here: http://docs.julialang.org/en/release-0.5/manual/calling-c-and-fortran-code/#man-calling-c-and-fortran-code, but we can use this issue for discussion as well.

To get things started until LightGBM's i

[2016-10-28 15:38] geoHeil opened #46 "categorical data"
Hi,

so far dummy coding categorical data worked fine. However, with the latest update, I see
`Feature 3050 only contains one value, will be ignored`
in the logs for each encoded column.

This only seems to be a problem when `is_unbalance=true` is passed
How should I handle categorical data for lightGBM so that it works fine?

[2016-10-28 16:11] guolinke commented on #46
Hi, @geoHeil , you had coverted categorical data to flatten 0/1 features, right?
And I want to know which repo version is fine?
Thanks

[2016-10-28 16:15] geoHeil commented on #46
Current repo is fine if the parameter is set to false.

It was the first time I tried to set it to true.

Indeed 01 dummy coding was used.
Guolin Ke <notifications@github.com> schrieb am Fr. 28. Okt. 2016 um 18:12:

[2016-10-28 16:23] guolinke commented on #46
@geoHeil Got it, i will figure out why. Thanks

[2016-10-28 16:27] guolinke commented on #46
@geoHeil can you send me a sample of data that can re-product this ? Thanks, you can send it to my email.

[2016-10-28 16:53] Laurae2 opened #47 "[Feature] Random Forest mode"
Just wondering, are there any plan for modifications to be able to use LightGBM in Random Forest mode? It would be really interesting to see how LightGBM fares in a (potential) Random Forest mode, both in terms of speed/performance vs xgboost, H2O, Python scikit-learn, and R (LightGBM could be much faster than any of them?).

[2016-10-28 18:57] SeanXRGuo opened #48 "Binary Classification Result Not Binary"
I followed the "binary classification" example and got a list of float numbers. Am I missing anything here?

[2016-10-28 20:41] Laurae2 commented on #48
@SeanXRGuo it outputs the probabilities. You need to manually threshold the predictions (for instance using >= 0.50 for class 1, <0.50 for class 0) to get to the class predicted.

[2016-10-28 23:33] #48 closed

[2016-10-29 01:17] kingvision opened #49 "Multi-Class classification C++ example"
Hi:
    can you provide a Multi-Class classification C++ example?
thanks

[2016-10-29 10:12] guolinke commented on #49
hi, @kingvision , LightGBM doesn't support multi class classification, but we will add this feature soon.
please follow the update of #43 .

[2016-10-29 10:12] #49 closed

[2016-10-29 10:21] guolinke commented on #47
The most optimizations of LightGBM is in decision tree learning. So I think it will be still fast in RF.
We are interesting for the implementation of RF, but I would like to call the community to contribute this first.

[2016-10-29 10:21] #41 closed

[2016-10-29 10:31] guolinke commented on #45
Thanks, @Allardvm , we are working on c_api of LightGBM now.
I took a look for the link you provided. It seems Julia can directly call the c_api without additional works on c interface.
Did I miss something?

[2016-10-29 12:19] Allardvm commented on #45
If it's a regular C API then everything should be fine. As far as I can see the only limitation is _"Packed structs and union declarations are not supported by Julia."_

Looking forward to the API!

[2016-10-29 15:25] guolinke commented on #46
"is_unbalance=true" don't have any effect for feature extraction. So I have no idea what cause this.
can you provide more details to me ? like the parameters you set, and a sample of data that can reproduce this

[2016-10-29 15:26] geoHeil commented on #46
I can hand you the paramters:

[code]

[2016-10-29 16:04] chenghuige opened #51 "[Feature]LightGBM_model.txt also record internal node output values or SummedWeights in leaf"
Say if one leaf split trun into internal node indexOfNewInternal , we can record like

`_previousLeafValue[indexOfNewInternal] = _leafValue[leaf];`

and at last output previousLeafValue (length as NumInternalNodes) to  LightGBM_model.txt.

So we can use this info for writting wrapper code to calc each feature importance for one specific instance prediction/inference by summing up value diff before

[2016-10-29 23:59] guolinke commented on #51
I think this is easy to be done. Welcome to contribute

[2016-10-30 06:36] guolinke commented on #34
I add the the draw of c_api definition at [here](https://github.com/guolinke/LightGBM/blob/master/include/LightGBM/c_api.h)

[2016-10-30 07:44] guolinke commented on #46
If you cannot provide data.. can you provide more details about it?
like #data, #num_category_of_that_feature, the distribution of these categories..
Or can you generate a fake data that re-produce this?
One other suggestion is change "50000" to a bigger number in following lines:
https://github.com/Microsoft/LightGBM/blob/master/src/io/dataset.cpp#L219
https://github.com/Microsoft/LightGBM/blob/m

[2016-10-30 08:10] geoHeil commented on #46
Please find a jupyter notebook here https://github.com/geoHeil/pythonQuestions/blob/master/lightGBM.ipynb

Indeed, it will probably not be possible to share the data.
Can you help me improve this minimal example?

[2016-10-30 10:07] wxchan commented on #43
I am trying to work on this feature, hope what I have done is right.

**Current version is [here](https://github.com/wxchan/LightGBM/tree/dev). I might need some help on fixing details and making test.**

You can run examples in examples/multiclass_classification and use compare.py to compare the result between lightgbm and xgboost. You can replace the data with yours and see if it works.

You nee

[2016-10-30 15:18] geoHeil commented on #46
This binary https://www.dropbox.com/s/k0wmfdk747km1pr/lightgbm?dl=0 compiled around lunch the day before yesterday works **fine** - even with unbalanced = True I think this is the hash 2af0dccd692d85fce1491c484c644bbf44d36f19

For me 3a06ce35ed3dfd882b246880f32866337f31ac99 seems to break something.

From that on I only receive

[code]

[2016-10-30 16:13] geoHeil commented on #46
@guolinke I found a reproducible example: https://github.com/ArdalanM/pyLightGBM/blob/master/notebooks/regression_example_kaggle_allstate.ipynb

errors with the LIBSVM error from above for the latest build -- with the old one it works fine.

[2016-10-30 17:03] guolinke commented on #46
@geoHeil I have try the https://github.com/ArdalanM/pyLightGBM/blob/master/notebooks/regression_example_kaggle_allstate.ipynb and it works fine...
can you try to delete your local directory of LightGBM, and re-clone the latest one, then build a new binary?
BTW, what is the OS you run with? windows or Ubuntu?

[2016-10-30 17:18] geoHeil commented on #46
I can try that. Running on osx

[2016-10-30 21:41] ArdalanM opened #54 "libSVM format does not work for prediction anymore"
I use [```dump_svmlight_file```](url) to dump an array for prediction.
Since two days ago, I get the following errors when I try to predict from a dumped array.

[code]

It should not look for label since we are at prediction phase.

[2016-10-31 00:30] guolinke commented on #54
Thanks, had fixed, can you try it again?

[2016-10-31 00:30] #54 closed

[2016-10-31 00:31] guolinke commented on #46
@geoHeil I fixed the bug for the prediction of libsvm. can you try again?
BTW, can you work with categorical feature now?

[2016-10-31 06:13] kingvision opened #55 "face verification"
Hi:
    After extracting face region high dimensional LBP feature, can  I use LightGBM further select features, used for face verification? Can you give some advice or examples?
    thanks

[2016-10-31 06:31] chivee commented on #55
hi @kingvision , it is hard to understand your task since we don't have much experience on face verification. but I think that can be done as following:

1. Making LBP feature readable for LightGBM
2. Define objective function for face verification( classification to my understanding).
3. Training & read the model file to select features.

[2016-10-31 06:59] chivee commented on #34
please refer to #56 to see the draft

[2016-10-31 07:35] geoHeil commented on #46
As mentioned above: the SVM problem is fixed.
Regarding the categorical data:

[code]
fails to predict a positive class if is_unbalance=True, however "works" / at least predicts more than 0 postivive class labels if this option is set to false. This seems to be strange for me.

[2016-10-31 09:33] guolinke commented on #46
@geoHeil
1. can you give me some comparison for AUC/Logloss for is_unbalance=True and is_unbalance=False?
2. Is all Column ignored?

[2016-10-31 16:25] geoHeil commented on #46
Regarding 1) I will need to rund some more comparison computations over the next couple of days.
Regarding 2) only some columns are ignored.

[2016-11-01 07:41] wxchan opened #58 "Segmentation fault when initial score size doesn't equal to data"
If the init_score file does not exists or its size does not match training data, I think it should get same result without init_score file.

But the log is like this (on ubuntu 16.04):

[LightGBM] [Info] Loading parameters .. finished
[LightGBM] [Info] Start loading initial scores
[LightGBM] [Error] Initial score size doesn't equal to data, score file will be ignored
[LightGBM] [Info] Finish loadi

[2016-11-01 07:52] geoHeil commented on #46
What I can say so far: the serial learner results of no positive class labels being predicted (probably due to the warnings / errors above). In fact, the serial learner seems to stop after these errors and only the feature parallel learner continues below:
[code]
The feature parallel learner on a single machine predicts more than 0 positive labels.

Shouldn't the outcome be more similar?
Anyway: r

[2016-11-01 07:54] guolinke commented on #58
it seems init_socres_  is delete, but forget to set to "nullptr".
Is it the same error in Mac ?

[2016-11-01 08:03] wxchan commented on #58
Yes, same error on Mac.

Perhaps you could change Error to Fatal here. Because when users set init_score, they probably want it works rather than be ignored. (They might not see the Error log.) They can make their own decisions by deleting init_score.

[2016-11-01 08:09] guolinke commented on #46
1. you are using single machine, right? the result on serial_tree_learner should be same with feature_tree_learner. Are the serial_tree_learner really stop?
2. some of columns are ignored have not much effect for the training. If one column is ignore, it means this column is very sparse. if you still want to use them, you can edit "50000" in https://github.com/Microsoft/LightGBM/blob/master/src/io

[2016-11-01 08:12] geoHeil commented on #46
I will do the update. Do you believe that is_unbalance=True is better than an apriori SMOTE?
Anyway: serial and feature seem to generate different results on my single machine.

[2016-11-01 08:37] guolinke commented on #58
@wxchan thanks, it is a good point.

[2016-11-01 09:06] #58 closed

[2016-11-01 09:15] chivee commented on #46
hi @geoHeil , it's very difficult for us to reproduce this problem. could you shared some sampled data to us, especially `Feature Column_21 `.

[2016-11-01 10:16] yuhai-china opened #60 "How to get feature importances"
Hey,

LightGBM is greate, I try to use it for several datasets, but I cannot get feature importance after training.
How can I enable to output  feature importance after training?

Thanks

[2016-11-01 10:20] guolinke commented on #60
feature importance will write to model file automatically. you can check the model file.

[2016-11-01 10:20] #60 closed

[2016-11-01 10:26] yuhai-china commented on #60
[LightGBM_model.txt](https://github.com/Microsoft/LightGBM/files/563780/LightGBM_model.txt)

[train.conf.txt](https://github.com/Microsoft/LightGBM/files/563781/train.conf.txt)

However, I cannot find feature importance from the model file as attached, anything wrong?

Thanks

[2016-11-01 10:28] chenghuige commented on #60
@yuhai-china you can find from LightGBM_model.txt last line

[2016-11-01 10:33] yuhai-china commented on #60
@chenghuige I cannot find feature importance from the model file as attached, anything wrong about config file?

Thanks

[2016-11-01 10:33] guolinke commented on #60
@yuhai-china are you run this with the latest code?

[2016-11-01 10:34] yuhai-china commented on #60
the code was downloaded about one week ago.

[2016-11-01 10:43] yuhai-china commented on #60
I update to the latest code and finally get the feature importance, thanks

[2016-11-01 13:12] geoHeil commented on #46
Please have a careful look at https://github.com/geoHeil/pythonQuestions/blob/master/lightGBM.ipynb I found a reproducible example

[2016-11-01 13:22] chivee commented on #46
@geoHeil , the linker wasn't reachable.

[2016-11-01 13:36] geoHeil commented on #46
@chivee , but you can reach the link now?

[2016-11-01 13:50] chivee commented on #46
@geoHeil , Still not, 404 error

[2016-11-01 13:51] geoHeil commented on #46
@chivee sorry - but it should work now. If the problem persists I will e-mail you a jupyter notebook.

[2016-11-01 15:41] guolinke commented on #46
@geoHeil , I still not sure about your problems. Try to summarize in following:
1. training result by "serial_tree_learner" and "feature_tree_learner" are different ?
2. set "is_unbalance=true" cannot predict positive class?
3. Some features are ignored? (actually, this is not a bug)
Am I right?

[2016-11-01 16:02] geoHeil commented on #46
@guolinke these are my observations. But regarding 3) this is a problem for me as I have a lot of dummy coded variables which are binary encoded and thus "ignored".

[2016-11-02 00:22] guolinke commented on #46
@geoHeil .
The solution for 3 is  edit "50000" in https://github.com/Microsoft/LightGBM/blob/master/src/io/dataset.cpp#L219 to a bigger value(e.g. 500000). Had you tried this?

[2016-11-02 05:56] geoHeil commented on #46
I need to check this change.
But the column definitely contain non zero values as shown in the last
cells of the jupyter notebook. However it may be just a single value with 1
all others of zeros.
Guolin Ke <notifications@github.com> schrieb am Mi. 2. Nov. 2016 um 01:23:

[2016-11-02 06:26] chivee commented on #46
@geoHeil ,` [LightGBM] [Error] Feature Column_99 only contains one value, will be ignored` are expected to be trigger when all samples have the same value on one features ( in this case Column_99),  so that LightGBM would not use this feature for training.
(may be we should change this log to Warning so that it will not be confusing anymore)

`is_unbalanced=true` should not used for your case for

[2016-11-02 07:50] geoHeil commented on #46
I checked again and found the issue.
As a `pd.getDummies(X)` worked e.g. without the error messages of lightGBM I continued to search for the problem and found it in my pipeline. The strange thing was that even here only 0-s and 1-s were in the columns.

The problem was that the effect coded categories were included in the pipeline as well.

Indeed here in this notebook, it was fine = always some

[2016-11-02 07:50] #46 closed

[2016-11-02 08:27] #43 closed

[2016-11-02 08:28] chivee commented on #43
@rquintino , please check the latest code for the Multiclass Classfication example

[2016-11-02 08:51] chivee commented on #49
@kingvision , please check https://github.com/Microsoft/LightGBM/tree/master/examples/multiclass_classification

[2016-11-03 12:38] darraghdog opened #63 "is_unbalance=true produces error."
Hi, I am performing binary classification with an unbalanced target. I would like to try the is_unbalance setting, however when I set it to 'true' in my config file, I get the message "cannot find more split with gain = -inf , current #leaves=1". When I set to false, it trains without an issue.
Also I cannot tell from the configuration page how this parameter will be used in the model. It would be

[2016-11-03 14:32] Laurae2 commented on #63
is_unbalance for binary classification sets the weights of the negative class to the sum of positive labels / sum of negative labels. I think it is better to change the bias (init_score) and leave is_unbalance alone (unless you want to assign weights to labels).

Looks like [Bosch data set at Kaggle](https://www.kaggle.com/c/bosch-production-line-performance), use init_score (bias) if you want to

[2016-11-04 02:54] guolinke commented on #63
@darraghdog can you update to latest code and try again?

[2016-11-04 04:33] mlanier opened #65 "Exe immediately closes when opened"
The lightgbm.exe immediately closes when opened.

[2016-11-04 04:43] chivee commented on #65
that was expected, for that lightGBM doesn't contain any GUI interface.

you should open it under CMD enviroment

[2016-11-04 05:50] #65 closed

[2016-11-04 07:39] binga opened #66 "MAE objective function"
Hi,
For regression problems, the objective function typically used is RMSE. However, if the evaluation metric is MAE, there have good discussions on Kaggle on modifying the objective function. Reference: https://www.kaggle.com/c/allstate-claims-severity/forums/t/24520/effect-of-mae. Is there any way to use a custom objective function in LightGBM?
Thank you.

[2016-11-04 07:47] guolinke commented on #66
@binga , we are working on c_api and python/R package. The custom objective will be supported in python and R package.
You also can directly change the code to add self-defined objective function.

[2016-11-04 08:13] binga commented on #66
Looking forward to it. Thank you.

[2016-11-04 08:13] #66 closed

[2016-11-05 02:28] guolinke commented on #63
@darraghdog I have updated the code just now. You can have a try.
BTW, you also set "min_sum_hessian_in_leaf" to a smaller value, e.g. 1 .

[2016-11-07 09:57] Allardvm opened #68 "Segfault in SparseBin() due to invalid data_indices[0]"
Using the latest master, I occasionally (but not systematically) get a segfault while training a sizable database that I, unfortunately, am unable to share because it contains sensitive data.

Using a debug-flagged recompiled LightGBM, I used the core dump to obtain the stack at the time of the segfault:
[code]
This suggests that the following line in [sparse_bin.hpp#L62](https://github.com/Micros

[2016-11-07 10:31] guolinke commented on #68
@Allardvm , you are right. The caused is the num_data=0.
This is called by multi-threading, some of these threads may meet num_data=0 and return errors.
Thanks, I will fix it now

[2016-11-07 10:37] Allardvm commented on #68
Well that was quick! Thanks 👍

[2016-11-07 13:14] guolinke commented on #68
close for now. feel free to reopen if problem still exists.

[2016-11-07 13:14] #68 closed

[2016-11-08 08:19] nlothian opened #70 "How to encode categorical features"
I have a libsvm file containing a mix of continuous and categorical features, and I'm attempting to use LambdaRank on it. Here is a sample:

[code]

When I train, I get the following:

[LightGBM] [Warning] Ignoring feature Column_33307, only has one value
[LightGBM] [Warning] Ignoring feature Column_33308, only has one value
[LightGBM] [Warning] Ignoring feature Column_33309, only has one value
[L

[2016-11-08 08:29] chivee commented on #63
Feel free to reopen it, if issue still there

[2016-11-08 08:29] #63 closed

[2016-11-08 08:30] chivee commented on #55
feel free to reopen if issues still there

[2016-11-08 08:30] #55 closed

[2016-11-08 08:31] chivee commented on #70
its means that all of your sample have same value on these features, thus make these feature "unsplitable"

[2016-11-08 09:26] nlothian commented on #70
The maximum feature index I have is 4082

`0.0 1:0.0926002480364 3:1.0 18:1.0 308:1.0 4082:1.0`

My error log starts like this:

[code]

Where are the column names coming from? I don't have a feature index 0

[2016-11-08 13:28] guolinke commented on #34
I think this is finished , refer to #61.
Let us continue to implement Python/R package and some tests.

[2016-11-08 13:28] #34 closed

[2016-11-08 14:51] guolinke commented on #45
@Allardvm I think the c_api in dev branch is ready to use. I will merge it after finished some tests and reviews.
Please feel free to give some suggestions and feedback.
Thanks

[2016-11-08 14:54] Allardvm commented on #45
Thanks! Will take a look.

[2016-11-08 22:16] aszalucha opened #71 "Segmentation fault (core dumped)"
I have a big train data in libsvm format (11GB) like:
[code]
and instance with 26GB RAM. Even with `use_two_round_loading = true` it runs out of RAM

[code]

So I tried to use it with `head -n10000` of train and validation.
[code]

It looks like train data were loaded but then program crashed. How can I track the reason?

[2016-11-09 00:52] guolinke commented on #71
hi, @aszalucha:
1. it seems your data using different feature indices in different row. Is this normal? How many features in your data?  #data * 20 ?
2. can you shared this sampled top-10000 data to me? I will debug on it.
Thanks.

[2016-11-09 01:00] guolinke commented on #70
@nlothian
1. columns are ignored is because these columns only contain one value(like all zeros), or very sparse.
2. What the number of your data?
3. The max index is really 4082 ? I see your log above are ignoring 30000+ features.
4. The feature index in Libsvm start with ```0``` , and you data don't use this column. so it will be ignored.

[2016-11-09 04:46] nlothian commented on #70
2) I have 10,000 rows of data.
3) Yes. This is one of the reasons I'm puzzled! I've attached my data and query file. Clearly I'm doing something wrong.

[train.libsvm.zip](https://github.com/Microsoft/LightGBM/files/579961/train.libsvm.zip)
[train.libsvm.query.zip](https://github.com/Microsoft/LightGBM/files/579963/train.libsvm.query.zip)

.

[2016-11-09 05:49] guolinke commented on #70
Hi, @nlothian , I found feature index '33937' in your data file. you can check in line 1894.

[2016-11-09 05:54] nlothian commented on #70
Thanks @guolinke, my apologies - I missed it.

[2016-11-09 06:04] chivee commented on #70
however, this warning doesn't affect the training result.

[2016-11-09 06:39] #70 closed

[2016-11-09 07:15] aszalucha commented on #71
Yes, my data is very sparse, libfm's binary converter says that in the whole train data I have:
`num_rows=74907727     num_values=1573062267     num_features=16447701     min_target=-1     max_target=1`

The data sample top-10000 of train and validation I used is here https://www.dropbox.com/s/inb1bkz0qec2adf/tran_validation_sample.zip?dl=0

[2016-11-09 08:27] guolinke commented on #71
I have fixed this in dev branch. you can checkout to dev branch and have a try.
I also reduce some memory cost in dev banch as well. And you can set ```histogram_pool_size=1024``` (unit is MB) to reduce memory cost.

BTW, GBDT is not recommended when #features is very large.

[2016-11-09 23:26] franklin5 opened #72 "num_class is missing from Configuration page"
The parameter num_class is missing from Configuration page:
https://github.com/Microsoft/LightGBM/wiki/Configuration

[2016-11-10 00:05] franklin5 commented on #72
num_leave should have been num_leaves in Tuning Parameters section:  https://github.com/Microsoft/LightGBM/wiki/Configuration#tuning-parameters

[2016-11-10 02:45] guolinke commented on #72
Thanks, we add many features these days. will update the documents ASAP

[2016-11-10 02:46] guolinke commented on #71
close for now. feel free to reopen if problem still exists.

[2016-11-10 02:46] #71 closed

[2016-11-10 04:26] franklin5 commented on #72
Thanks! Looking forward to see more features and amazing performances from lightGBM and your teams' contributions.

I am using the python binding to get started with lightGBM, https://github.com/ArdalanM/pyLightGBM

I personally do not want to reinvest my time and energy just for the sake of another language to build the workflow that has worked: hyperopt + xgboost/sklearn. So far, the pyLightGBM

[2016-11-10 07:18] chivee commented on #11
Hi guys,  a simple Python binding using Ctype can be found at
https://github.com/Microsoft/LightGBM/blob/master/tests/c_api_test/test.py,

Any feedback to the bindings will be great.

[2016-11-10 09:25] Lchiffon opened #73 "Load lib_lightgbm.so in Python or R"
When I using OpenMPI to build LightGBM, I cannot load the `lib_lightgbm.so` in R or Python:
[code]
`OSError: lib_lightgbm.so: undefined symbol: ompi_mpi_comm_world`

[code]
`...lib_lightgbm.so: undefined symbol: ompi_mpi_comm_world`

However when I build lightGBM without openMPI, these methods can load the lib_lightgbm.so as normal.

Python 2.7.6
R 3.2.5
Unbuntu 14.04 x64
mpirun (Open MPI) 2.0.1

[2016-11-10 10:27] guolinke commented on #73
@Lchiffon I forget to link to openmpi when building .so.
Have updated cmake. can you try it again?

[2016-11-10 11:18] #73 closed

[2016-11-11 09:58] mfagerlund opened #74 "[Feature]C#/.NET Bindings and Nuget package?"
Any plans to package this for C# devs, preferably through a nuget package?

[2016-11-11 12:10] pyr-revs opened #75 "prediction results for classification are not probability?"
With latest version, prediction results for classification can have minus value (value<0), but I want probability for results (0 - 1).
(working on AWS EC2 AMI)

`
git clone --recursive https://github.com/Microsoft/LightGBM ; cd LightGBM
git checkout 0702b2ffbff9148c30768f23eaffc84dcb45cae4 # Nov 11, 2016 change GetTrainnigScore to non-const. # https://github.com/Microsoft/LightGBM/commit/0702b2ffb

[2016-11-11 12:32] guolinke commented on #75
have fixed. can you try it again?

[2016-11-11 12:32] #75 closed

[2016-11-11 12:54] guolinke commented on #74
Sure,  please follow the update of this thread.

[2016-11-11 13:33] pyr-revs commented on #75
fix verified, thanks for quick fix!

[2016-11-11 21:16] ArdalanM opened #76 "c_api & python: clarification"
Hi,

I am working on using `c_api.cpp` to improve the current python binding for LightGBM.
The implementation of `c_api.cpp` is really close to what already exist with xgboost thus it help a lot to better understand your version, thanks for that.

I am planning on creating two classes that will be equivalent to [`Booster()`](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.p

[2016-11-11 23:06] wxchan commented on #76
- L55: see comment [here](https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/c_api.h#L53)
- L56: you should read this script, [here](https://github.com/Microsoft/LightGBM/blob/master/tests/c_api_test/test.py#L181), be careful about DatasetFree
- L73: do it separately: `LIB.LGBM_BoosterEval(booster, 0, ...)` then `LIB.LGBM_BoosterEval(booster, 1, ...)`...

Perhaps you could let the

[2016-11-11 23:14] mfagerlund commented on #74
Will do!

[2016-11-12 01:01] guolinke commented on #76
@ArdalanM
Thanks for the @wxchan , I will give more details:
1. reference is used to construct validation data.
2. see in this line, https://github.com/Microsoft/LightGBM/blob/master/tests/c_api_test/test.py#L178
you should use train-set as reference to construct validation data.
3. use data_idx to get evaluation on different data. 0 means training data. 1 means 1st validation data, ...

[2016-11-12 13:56] gugatr0n1c opened #78 "base_score - allow to specify as in xgboost"
Hi,

in xgboost there is setting for base_score.
It represents 0th value of prediction, before first tree is built.

In LightGMB it seems to me this value is hardcoded to 0.

But for regression task this is not good choice (even for classification is better 0.5 as in xgboost).
Suppose that your mean of target is something big and you need learning_rate small, then thousands of trees are just catch

[2016-11-12 14:56] wxchan commented on #78
It actually can be solved with initial score now. Use a file with same score * shape of data. It will be even easier when you are using python/R package in the future.

[2016-11-12 15:07] gugatr0n1c commented on #78
great! my mistake not reading docs carefully, thank you

[2016-11-12 18:07] #78 closed

[2016-11-12 18:08] #72 closed

[2016-11-12 18:08] chivee commented on #72
refer to #76 #11

[2016-11-13 03:37] wxchan opened #79 "better FindBin algorithm"
The new FindBin function first considers big counts as unique bins. Is it correct?

Consider a case like this:
a sample of feature has 10 values: 1 2 2 2 2 3 3 3 3 4, and max_bin=3
For old algorithm: 1 and 2 in a bin, 3 in a bin, 4 in a bin
For new algorithm: 2 in a bin, 3 in a bin, 1 and 4 in a bin?

And there is a bigger bug I think, current code actually works like this:
init:
lower_bounds: inf

[2016-11-13 06:44] guolinke commented on #79
Thanks. This really is a bug.
I think a better algorithm is like:

[code]

However, when "big counts" and "small counts" are crossed together, it may have some problems.
Do you have better idea?

[2016-11-13 08:32] wxchan commented on #79
Might add another threshold (e.g. mean_bin_size/2), when meets "big counts" and previous value < threshold, merge it into previous bin or "big counts". So the "small counts" would be too small.

[2016-11-13 09:19] guolinke commented on #79
@wxchan , good suggestion, I think it can work

[2016-11-13 12:41] guolinke commented on #79
@wxchan, I have updated the code, you can check it again.

[2016-11-13 14:16] ArdalanM commented on #76
@guolinke, @wxchan, thanks for the clarification, helped a lot.

@wxchan, I am looking forward using the official python binding :+1:

Thanks

[2016-11-13 18:04] gugatr0n1c opened #81 "Question - Xeon Phi support? what is best hardware?"
Hello,

I am thinking about new server configuration.
1] Is it possible to use Xeon Phi for LightGBM?
2] From devel point of view, is it better to use Xeon Phi or "classical" Xeon CPU?

Any experience about best hardware for this library?
Thx a lot..

[2016-11-13 20:04] bwilbertz opened #82 "c_api: some experiences"
Hi all,

I've been hacking c_api this weekend in order to run some experiments from R. Doing so, I ran into some issues, which I would like to share here:

### Exposing C++ Objects
Why not directly exposing some C++ Objects like [Booster](https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L23)? This would make creation of R (#19) and Python(#11)-Bindings quite straight forward, since

[2016-11-14 01:20] guolinke commented on #82
@bwilbertz
1. Some languages don't support directly using c++ object,  like julia.
However, your suggestion is considerable, I can try to expose c++ object as well.
2. I will quick fix the ```exit(-1)``` this while using c_api.
For the error message and exception, we need to use RAII feature, so it may take some time to enable this.

[2016-11-14 03:47] guolinke commented on #81
@gugatr0n1c , LightGBM doesn't have specific optimization for Xeon Phi. And we don't have environment to test this. So it is hard to say which one is better.
About the optimizations relative to hardware, we use the multi-threading by openmp, and some cache hit chance improvement. But I am not sure can Xeon Phi support them or not.

[2016-11-14 06:31] chenghuige commented on #51
This feature is done and merged in master.
Based on LightGBM txt file I have written one wrapper for prediction feature importance,
looks like below, I will opensource that soon.

WARNING: Logging before InitGoogleLogging() is written to STDERR
I1114 14:22:06.767840 15872 LoadSave.h:55] gbdt try load as text from ./LightGBM_model.txt
I1114 14:22:06.767949 15872 GbdtPredictor.h:339] Loading from te

[2016-11-14 06:31] #51 closed

[2016-11-14 08:42] guolinke opened #83 "RAII enable"
We have enabled the exception handle due to the need of error message for c_api.
However, There still are many raw pointers in the project. Some pointers may not could free its resource while exception occurs.
For the better robustness, I think we need RAII now.

[2016-11-14 09:10] #76 closed

[2016-11-14 09:20] wxchan commented on #79
I think the bug is fixed now. is_big_value is not needed, you can check it during iteration.

I think there may be improvement, but it may not be necessary. For example, "small counts" smaller than threshold can be divided into two parts and merged into previous and current bins more evenly. Is the predict accuracy sensitive to the FindBin algorithm?

[2016-11-14 09:25] chivee commented on #83
Lets' create a new branch for the re-construct

[2016-11-14 09:32] guolinke commented on #79
@wxchan , ```mean_bin_size``` will be changed during the iteration, so we still need this.
A better FindBin Algorithm can improve traning accuracy, but not much on validation/test data.

For the improvement, I think it worth to try. Could you help to check this?
Thanks!

[2016-11-14 10:26] wxchan commented on #79
You only need another variable to store mean_bin_size at the beginning.

I will give a try when I have time. Btw, should the data sample base on weights?

[2016-11-14 13:06] bwilbertz commented on #82
@guolinke thanks for picking this up (and pushing RAII forward).

For the different headers like `boost/python.hpp`and `Rcpp.h`:
No, you would not need them on the API side (i.e. inside the [src](https://github.com/Microsoft/LightGBM/tree/master/src)-folder). The idea would be to include them only inside the respective package dirs.

Since your design of c_api is closely following the lines of xgb

[2016-11-14 13:35] guolinke commented on #82
@bwilbertz
Your point is :
1. put "Booster" and its relative functions to same class, and place into one header.
2. For python and R binding, using different code the expose "Booster" and "Dataset" in their own package dirs?

[2016-11-14 14:01] bwilbertz commented on #82
Yes, having certain C++ objects exposed in a stable API and wrapping them for R & Python into their corresponding smart pointers + exception handling.

Note, that for providing a R package, there is no way to do so without writing a certain amount of C or C++ code **specific** for R. It's just the question if you want to handle all the R `PROTECT`/`R_RegisterCFinalizerEx` stuff by yourself or use

[2016-11-14 14:17] guolinke commented on #82
@bwilbertz OK, I see.
So we still call the c style function in Python/R, right? These c++ objects are mainly use for GC?

My original idea is wrapping a basic class in Python by using these c_api, and user use this basic class or more high level interfaces without caring about c_api.
I am not familiar with R, but it will be better if we can delete it in c++.

[2016-11-14 14:19] gugatr0n1c opened #84 "Instalation without MS Visual Studio"
Hi,

is there any chance to get working this library without using Visual Studio (Win7 64bit, Win10 64bit)?

a] pre-built, e.i. as mxnet is providing?

b] using something else like MinGW as XGBoost is supporting?

[2016-11-14 14:24] chivee commented on #84
@gugatr0n1c , It haven't be tested. But if you have MSBuild installed, you can using cmake to build it. It could also be build under MinGW environment.

[2016-11-14 14:47] guolinke commented on #82
@bwilbertz  one other problem is it needs additional library to compile api for R. Can we avoid this?

[2016-11-14 15:51] bwilbertz commented on #82
Which additional library do you mean? Rcpp?
The only dependency would be that the user needs Rcpp package installed, when installing a potential RLightGBM package (because compilation of R C/C++ code takes places during installation of R packages). But Rcpp is anyway required for a huge number of recent R packages, so not really a restriction.

[2016-11-14 16:29] guolinke commented on #82
OK, it seems reasonable.
However, for boost/python.h, it needs to install boost. So i think it is better to use c_api directly by ```ctypes``` in python.

[2016-11-14 16:42] bwilbertz commented on #82
Fine. I will close this issue for now, since it was only meant to share some experiences.

[2016-11-14 16:42] #82 closed

[2016-11-15 18:24] silpara commented on #24
I am trying to train from a csv file with all numeric data and have put header = true and given name of label column on configuration file. But while building the model I get the error **Met Exceptions:
Data file  doesn't exist'**. I wanted to check whether lightgbm.exe is able to find the file or not so I removed the label column from the data and then I get the error that label doesn't exist in

[2016-11-15 19:10] ternaus commented on #11
Existing python binding is great, but I would love to be able to replace existing algorithms in the pipeline and most likely they have scikit-learn interface.

At least on the level of:

- 1. fit
- 2. transform
- 3. fit_transform
- 4. predict
- 5. predict_proba

[2016-11-17 03:06] rmhasan commented on #31
Hi I would like to work on this.

[2016-11-17 03:34] guolinke commented on #31
@rmhasan Welcome and thanks very much.

[2016-11-17 13:46] guolinke commented on #83
refer to #86

[2016-11-17 15:16] chenghuige opened #87 "Re-bagging log should be debug level ?"
[Info] Re-bagging, using 245460 data to train
I think it is not proper to be in info level.. too many logs to print, debug might be much better.

[2016-11-18 03:19] guolinke commented on #87
OK, it is reasonable

[2016-11-18 07:43] #87 closed

[2016-11-18 09:12] #83 closed

[2016-11-18 11:39] bj-wangjia opened #88 "[Feature] Lambdamart Mode"
Are there any plan for modifications to be able to use LightGBM in Lamdamart mode?

[2016-11-18 12:15] guolinke commented on #88
@bj-wangjia LightGBM support the lambdarank(lambdamart) , just set ```app=lambdarank``` and pass a query file or query_id (refer to https://github.com/Microsoft/LightGBM/wiki/Quick-Start#training-data-format).

[2016-11-18 15:15] #88 closed

[2016-11-19 17:42] ledmaster opened #89 "LightGBM installs fine on Sierra, but doesn't seem to be running in parallel"
Hello,

I installed LightGBM on my computer, which runs macOS Sierra, using gcc/g++ 6, but when I run it and monitor via htop, it doesn't use all the threads, even when I specify the number in the parameters. Running the same code in a cloud instance with Ubuntu 14.04 uses all the threads.

Another test I did was timing the script I am running. When I use XGB the "user" time is higher than "real",

[2016-11-19 22:37] bwilbertz commented on #19
Hi everybody.

I've bundled my Rcpp bindings for LightGBM into a small R package.

Have a look at [RLightGBM](https://github.com/bwilbertz/RLightGBM) and enjoy testing :-)

[2016-11-20 01:02] guolinke commented on #89
@ledmaster can you provide the config/parameters ?

[2016-11-20 01:31] guolinke commented on #81
close for now. feel free to reopen.

[2016-11-20 01:31] #81 closed

[2016-11-20 01:32] guolinke commented on #84
close for now, feel free to reopen

[2016-11-20 01:32] #84 closed

[2016-11-20 13:19] dmi3kno opened #90 "GetAddress in socket_wrapper.hpp is not defined under _WIN32"
I am referring to `/src/network/socket_wrapper.hpp` line 189, Function GetAddress is not wrapped into `#if defined(_WIN32).. .#else... #endif`

This function contains reference to `inet_pton` which is not defined in _WIN32 systems. The function definition should be ok for non-Windows systems, but _WIN32 version needs to be added.

I don't feel qualified to PR, but just wanted to raise a flag. With

[2016-11-20 16:03] ledmaster commented on #89
@guolinke Sure, here it is:

learning_rate=0.034
num_leaves=200
valid=/path_to/Xts_fold_2
bagging_freq=100
bagging_fraction=0.8
metric_freq=1
tree_learner=feature
feature_fraction=0.3
metric=l2
max_bin=255
early_stopping_round=0
application=regression
num_iterations=1000
bagging_seed=3
num_threads=4
min_data_in_leaf=8
feature_fraction_seed=2
data=/path_to/Xtr_fold_2
task=train
output_model=LightGB

[2016-11-21 01:13] guolinke commented on #90
@dmi3kno Do you build with Visual Studio?

[2016-11-21 01:47] guolinke commented on #89
@chivee , can you help to test this on OS X?

[2016-11-21 03:17] guolinke commented on #90
@dmi3kno It seems you use GCC compiler in "mingw-like" command line tool on windows.
We only test it with Visual studio on windows now. However, I will fix this soon.

[2016-11-21 04:02] #90 closed

[2016-11-21 05:52] rmhasan commented on #31
Hi Can you explain what is in LightGBM_model.txt? I included a snippet of one tree.  It has 10 lines. The first two lines are self explanatory. The last 8 have a field name followed by an equal sign followed by an array of numbers. Can you explain the meaning of each field and the significance of the array of values following the field.

![screenshot from 2016-11-21 00-43-27](https://cloud.githubu

[2016-11-21 06:07] wxchan commented on #89
Here is my time information on Macbook Air (macOS Sierra, gcc5.3) with [experiments data](https://github.com/Microsoft/LightGBM/wiki/Experiments#comparison-experiment), num_threads=4, might help:

Higgs
real	39m48.687s
user	67m33.737s
sys	3m25.816s

MS LTR
real	22m55.961s
user	69m55.512s
sys	1m26.549s

[2016-11-21 08:29] guolinke commented on #31
Sure, you can take a look at here: https://github.com/Microsoft/LightGBM/blob/master/src/io/tree.cpp#L42-L76.

``split_feature[i]`` means the feature used to split data at i-th node (note: node means non-leaf node).
``threshold[i]`` means the threshold used to split data at i-th node.
``left_child[i]`` means the index of i-th node's left child. ``>=0`` means non-leaf node. `<0` means leaf , and yo

[2016-11-21 09:11] wxchan commented on #79
I do some experiments on this. The accuracy seems not improved with more even bins. I think the purpose for building bins is to sample split points, so it might not need to be very accurate?

Actually my last suggestion (mean_bin_size/2 threshold) might not be good, here is a comparsion.

Higgs: both 0.845123

Yahoo LTR:
with mean_bin_size/2 threshold:
[LightGBM] [Info] Iteration: 500, ../data/yah

[2016-11-21 10:43] guolinke commented on #79
@wxchan, Maybe the reason is over-fitting. Do you take a look for the accuracy on training data?

[2016-11-21 14:03] ledmaster commented on #89
I tried reinstalling, and compiling with gcc5.3, but it's still not working. Both gcc6 and gcc5.3 are installed without multilib.

Here is a small example I ran:

real	1m17.821s
user	1m27.658s
sys	0m58.811s

[2016-11-21 14:22] wxchan commented on #89
@ledmaster The reason might not be gcc. I have the same issue running 1-minute-job, but it seems normal with longer time jobs. I am not familiar with the reasons behind this, just provide some information.

[2016-11-21 17:03] wxchan commented on #79
It can be overfitting. I think it's indeed not proper to decide upon the accuracy because they don't make significant differences. I find another possible problem, and I will open another PR for that. I will close this issue for now.

[2016-11-21 17:03] #79 closed

[2016-11-22 05:25] guolinke commented on #89
@ledmaster  you can try to run it with more iterations and check again?

[2016-11-22 07:01] rmhasan commented on #31
Hi @guolinke , so the features used are continuous features? And each number in the split_feature array is the split point correct? Can you explain how the values in threshold affect the splitting at each node. Thanks.

[2016-11-22 08:25] guolinke commented on #31
split point is {feature_idx(feature), threshold}.
rule:
[code]

[2016-11-22 14:13] ledmaster commented on #89
@guolinke Sure, here are the results for ~20k iterations:

real	34m19.882s
user	39m39.402s
sys	21m27.047s

I tried upgrading cmake, Xcode, and reinstalled using gcc-6 again, but it seems this was not the issue.

[2016-11-22 14:49] guolinke commented on #89
@ledmaster
can you add following code after this line https://github.com/Microsoft/LightGBM/blob/master/src/application/application.cpp#L34:
[code]
Then paste log to here?

[2016-11-22 16:01] ledmaster commented on #89
@guolinke Sure, here it is:

[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Number of threads : 4
[LightGBM] [Info] Number of threads after explicit set to 4: 4
[LightGBM] [Info] Finished loading data in 0.648777 seconds
[LightGBM] [Info] Number of data: 150654, number of features: 136
[LightGBM] [Info] Finished initializing training
[LightGBM] [Info] Started training...

With thi

[2016-11-23 00:57] travisbrady opened #92 "Query/group input format for ranking task"
Does LightGBM follow xgboost's group input format convention described here: https://github.com/dmlc/xgboost/blob/master/doc/input_format.md#group-input-format

I don't see it documented anywhere but would be happy to submit a PR to fill out the documentation a bit here.

[2016-11-23 01:11] guolinke commented on #92
https://github.com/Microsoft/LightGBM/wiki/Quick-Start#training-data-format
https://github.com/Microsoft/LightGBM/wiki/Configuration#query-data

[2016-11-23 01:16] guolinke commented on #89
I think the reason is:
1. It only has 2 cpu cores in your computer, the best setting is set num_threads=2(though it has 4 threads).
2. The test data is small, the computation cost is small, but the cost of open/close threads remain same. So it doesn't have much benefit with multi-threading. You can try a bigger data and try again.

Thanks!

[2016-11-23 03:14] travisbrady commented on #92
Ahh, thank you very much. I had missed that. Sorry for the noise.

[2016-11-23 03:14] #92 closed

[2016-11-23 22:39] ledmaster commented on #89
@guolinke I see, I will do this test.

Just for some additional information that may be useful. The same code/dataset that runs "single threaded" in my laptop (4 threads / 2 cores) has this time difference with an Ubuntu 14.04 machine with 8 vCPUs (4 cores):

real    9m49.343s
user    47m27.944s
sys     0m29.788s

The time includes IO operations to convert the data in this case, but in the tests a

[2016-11-24 02:38] anddelu opened #93 "LightGBM run error when number of dimensions is more than 90"
Environment: windows, number of datas: 6.3w
 I have found one problem: the lightgbm to train data doesn't work when number of dimensions is more than 90. However the number of dimmension is less than 70, the lightgbm can train data and predict data.
I can provide datas if needed.

[2016-11-24 03:16] guolinke commented on #93
This is very strange. Can you provide data?
thanks

[2016-11-24 03:18] chivee commented on #93
Hi @anddelu , that could because of  memory was completely used up? could you please pasting the log here.

[2016-11-24 03:33] guolinke commented on #89
@ledmaster  It is very strange for you cost much "sys" time on OS X. It almost half of total time.
But from wxchan's log, it is much better.
Could you give more details about your environment and compiler ?
@chivee could you help to dig this?

[2016-11-24 03:45] rmhasan commented on #31
Okay so in the image I uploaded up top, I see that split_feature contains integers, and threshold contain doubles. Also the numbers in split_feature are substantially larger then the numbers in threshold. So I believe that the numbers in split_feature are actually the indexes in the data.feature array. Is this correct?
Also what is the difference between split_feature_ and split_feature_real_ arra

[2016-11-24 03:54] guolinke commented on #31
both '''split_feature_''' and '''split_feature_real_ ''' stores index of feature, so it is integers.
The difference is ```split_feature_real_``` is the '''real''' feature index in dataset, and LightGBM only save this to model file: https://github.com/Microsoft/LightGBM/blob/master/src/io/tree.cpp#L108-L109 . I think you should use this as well.

```split_feature_``` is used inner for training. The

[2016-11-24 03:56] anddelu commented on #93
hi, thanks for responsing:
environment：memory 8g
I have tried to reduce data less than 5M, and found it works. I thought the lightgbm doesn't work beacause it can handle too many datas.
the following datas caused the lightgbm stop
Attached is datas: the number of dimensions is more than 90
[multiclass.txt](https://github.com/Microsoft/LightGBM/files/610442/multiclass.txt)

the pricture:
![image](h

[2016-11-24 03:58] guolinke commented on #93
@chivee I think data of 63000*90 is very small, it cannot be out of memory.

[2016-11-24 04:01] guolinke commented on #93
@anddelu  I try to run:
```lightgbm.exe data=multiclass.txt  valid=multiclass.txt objective=multiclass num_class=5```
and it finish successful.
Can you also provide your parameters?

[2016-11-24 05:28] anddelu commented on #93
here are my parameters, based on examples, in the train.conf file:
data=multiclass.train valid_data=multiclass.test objective multiclass num_class=5
metric=multi_logloss  metric_freq=1 early_stopping=10 num_trees=100
learning_rate=0.05  num_leaves=31

I used your method and find it work, howerever I use more datas to train model, it still shows error:
![err01](https://cloud.githubusercontent.com/a

[2016-11-24 05:35] wxchan commented on #89
Actually I have the same issue.

I run examples/regression for 100k iterations, the time is:
real    16m15.995s
user    12m22.990s
sys     8m44.370s

and htop status is the same.

[2016-11-24 05:37] guolinke commented on #93
![image](https://cloud.githubusercontent.com/assets/16040950/20587744/e2b1a112-b24a-11e6-8289-083a86793750.png)

I still can success run with your new data and config.
BTW the data in your config is not existing, So i change it to multiclass.txt both for training data and validation data.

[2016-11-24 05:50] guolinke commented on #89
@wxchan can you try to set num_threads=2 ?

[2016-11-24 06:06] wxchan commented on #89
@guolinke
num_threads=2:
real    13m36.647s
user    10m59.049s
sys     4m42.825s

[2016-11-24 06:24] anddelu commented on #93
thanks for your response.
BTW: the name of config file is correct, I just changed its name when upload it because of supported format.
Unfortuantely it doesn't work for me. I thougth maybe the lightgbm.exe is the reason.
I have tried to download the new lightgbm and release it(VS 2013 release 64). It still doesn't work.
I am very confused so I want to upload it to see if you can meet it again.

[l

[2016-11-24 06:53] guolinke commented on #93
@anddelu i still can run with your exe...
BTW, Did you use training data as validation data? if not, can you provide your validation data as well?

[2016-11-24 06:55] guolinke commented on #93
you can try my exe as well.
[lightgbm.exe.txt](https://github.com/Microsoft/LightGBM/files/610639/lightgbm.exe.txt)

[2016-11-24 07:14] anddelu commented on #93
validation data is not the traning data.

I used your lightghm, it still doesn't work by using the First datas and config file
[multiclass_train.txt](https://github.com/Microsoft/LightGBM/files/610655/multiclass_train.txt)
[multiclass_test.txt](https://github.com/Microsoft/LightGBM/files/610656/multiclass_test.txt)
[train_conf.txt](https://github.com/Microsoft/LightGBM/files/610657/train_conf.txt)

[2016-11-24 09:01] guolinke commented on #93
It actually have one bug. Have fixed: https://github.com/Microsoft/LightGBM/commit/92351659a7f39bed7fe20b67ce4b27f26501cd77

[2016-11-24 09:01] #93 closed

[2016-11-24 11:54] guolinke commented on #11
refer to #94.
The basic class are finished. I think we can base on these classes to implement sklearn-liked interfaces.

[2016-11-24 14:25] ledmaster commented on #89
@guolinke Sure, can you tell me what type of information would be useful?

For now:
My compiler is GCC/G++ 6.2.0.

My environment is:
macOS Sierra
Intel Core i7 2.8ghz
16gb 1333MHz DDR3

[2016-11-24 15:13] anddelu commented on #93
thanks very much!
I have rereleased it when download fixed codes.
Now the ligthgbm can work well.
Thank you!!!

[2016-11-24 17:25] Allardvm commented on #45
I have pushed a new version of the Julia package that uses the C-API  to https://github.com/Allardvm/LightGBM.jl. The pull requests covered the bugs that I encountered, but I still have several minor suggestions that I will get back to later. Thanks!

[2016-11-25 00:46] rmhasan commented on #31
The first number in the left_child array, that is the index of the left child of the root node correct? I am working on writing an example pmml for a tree. When I am done I will ask for feedback.

[2016-11-25 01:34] guolinke commented on #45
OK, BTW, i change/updated some c_api function (on python-package branch) for better flexibility, you can also take a look.

[2016-11-26 15:01] gugatr0n1c commented on #47
Voting for this as well, with options like this would be great:

Similary as in xgboost:
- just call boosting with only one iteration.
- allow to set num_of_trees for each iteraration (for boosting default = 1)
 - and better than xgboost, but same as in scikit, allow to calculate out_of_bag prediciton as option.

Other parameters can be used as well.

[2016-11-26 21:56] rmhasan commented on #31
Hi all please take a look at the [Pmml output](https://github.com/rmhasan/LightGBM/blob/master/examples/binary_classification/pmmlexample.txt) I got for a tree snippet from LightGBM_model.txt
Also look at the [tree example](http://dmg.org/pmml/pmml_examples/KNIME_PMML_4.1_Examples/single_audit_dectree.xml) from dmg.org for reference. Here is also [another example](http://dmg.org/pmml/pmml_examples

[2016-11-27 02:41] guolinke commented on #47
@gugatr0n1c , good suggestion.
I think a more simple solution is: inherit RF from GBDT, and overwrite ```boosting``` method with empty. And set bagging.
And I want to know, what is the purposes of "calculate out_of_bag prediciton"?

[2016-11-27 02:56] guolinke commented on #31
@rmhasan
1. yes, ```0``` means root node.
2. I think ```DataDictionary numberOfFields``` use to record the feature names and its value range.
I have no idea what ```<MiningSchema>``` is.
```score``` maybe the prediction of this node
```recordCount``` maybe the number of data in this node
```ScoreDistribution ``` maybe the probability of classification, I think we don't need this in regression.
And

[2016-11-27 03:08] rmhasan commented on #31
@guolinke Do you know where I can get the feature name? Is it stored somewhere?

[2016-11-27 03:34] rmhasan commented on #31
@guolinke  Also are the prediction values of each node stored in the internal_value and leaf_value arrays.

[2016-11-27 03:40] rmhasan commented on #31
@guolinke  Im looking at the SplitInfo class, it has  left_count and right_count fields. I think I can use those values for `recordCount`.

[2016-11-27 04:04] guolinke commented on #31
@rmhasan , I can save feature name to model.
internal_value is the prediction of non-leaf nodes, and leaf_value is the prediction of leaf node.
I also can save the count into model file.

Is there other data you need in model file?

[2016-11-27 04:28] rmhasan commented on #31
@guolinke That sounds great. Nothing comes to mind now. If I need something Ill let you know. Thanks.

[2016-11-27 10:21] gugatr0n1c commented on #47
Out of bag prediction is from practical experience. Many tasks are about feature engineering. Then RF with OOB prediction is fastest way to test progress.

So my typical usecase is as follows:
1] find out with hyper parameters tuning, that best params for boosting are ie. learning_rate = 0.002 with 25k iterations. This with 1M rows datasets with 10fold cross validation runs 2 days, even with your

[2016-11-29 01:09] wxchan commented on #47
There is a random forest implementation in xgboost?

I tried to do some experiment for random forest but the performance is not good.

I implemented it in following way, what did I miss:
1. inherit from gbdt
2. only boosting once at iter = 0
3. no shrinking and updating training score during training
4. bagging with replacement from n samples to n samples(not exact, but expectation)
[code]
5. resa

[2016-11-29 01:29] guolinke commented on #47
@wxchan  I think the accuracy of RF cannot beat GBDT in most application.
I think you can compare it with the RF in xgboost.

[2016-11-29 02:25] wxchan commented on #47
How to use RF in xgboost? I didn't see it in its [document](https://xgboost.readthedocs.io/en/latest/).

[2016-11-29 03:05] guolinke commented on #47
@wxchan  https://github.com/dmlc/xgboost/blob/b94fcab4dc90cfd6c0a80ac6dc3ea0ad154543a6/src/gbm/gbtree.cc#L35

[2016-11-29 03:07] guolinke commented on #47
@wxchan , I think using num_parallel_tree maybe is a better way. In this way, we can support random gbdt-forest.

[2016-11-29 05:27] wxchan commented on #47
Ok they really didn't mention it in document. It trains num_tree * num_parallel_tree trees. I guess it did bagging as usual and didn't resample used features before every split. And oob score may not be useful here.

According to [Tianqi Chen's answer at Quora](https://www.quora.com/When-would-one-use-Random-Forests-over-Gradient-Boosted-Machines-GBMs), I guess he might consider random forest is n

[2016-11-29 06:41] guolinke commented on #47
@wxchan , OK , I see.
One more question is: Does these GBDTs train independently? Or they are merged(e.g. average the output of trees) after one iteration then do boosting?

[2016-11-29 07:43] gugatr0n1c opened #98 "Support colsample_bylevel as in xgboost"
Hi,
there is nice parameter: colsample_bylevel

notes here:
https://github.com/dmlc/xgboost/blob/master/doc/parameter.md

Which can probably speed training up even more. And I have tested that it help deal with overfitting as well, and on my datasets it can improve accuracy.

Can you support this here as well?

thx

[2016-11-29 08:25] guolinke commented on #98
@gugatr0n1c  you can try ```feature_fraction''' parameter.
It is column sample by tree.
And LightGBM doesn't have level concept.

[2016-11-29 08:40] gugatr0n1c commented on #98
yeah, I am using feature_fraction. But when I am using hyperparameters tuning in xgb, there is always significant to  use all three: bagging rows, subsample on columns and this one.

I understand that LightGBM does not use levels, so  maybe this can be done in each split?
This is also good feature for randomforest mode, where you can achieve with this even more random forest.
But if this can slow

[2016-11-29 10:22] guolinke commented on #47
@wxchan , I think you should take care of the logic of histogram subtraction. If you use feature randomly in every split, we cannot cache histograms for some features.

[2016-11-29 10:24] guolinke commented on #98
@gugatr0n1c
LightGBM use Histogram subtraction to speed up training.
It will loss on speed if we use features randomly at every split, for we cannot cache histogram for some features.

However, I will have a try.

[2016-11-29 10:32] gugatr0n1c commented on #98
ok I understand... thx for clearing this up for me... thx for trying, however this is not "critical" feature to have, so feel free to throw away this idea..

[2016-11-29 15:12] wxchan commented on #47
It simply trains n trees and update score_updater once.  So just add a loop outside the num_class loop. To be honest, I think making the logic too complicated is not worth. Actually we already have a model between gbdt and rf, which is dart.

[2016-11-29 15:44] gugatr0n1c commented on #47
I tried several times n_tree in xgboost and perfomance was not better, so if the argument is to use it inside boosting as well, it is not worth it, and inherit it to second class will be better maybe...

[2016-11-29 18:11] gugatr0n1c commented on #47
Core usage when we have boosting methods is about speed. When you building app, where you need fastest prediction as you can get (ie in-time motion) and RF-accuracy is fine, then we still go for RF. Because sometime speed matters more than accuracy. Just another view on RF.

[2016-12-01 08:41] guolinke commented on #11
Hi, All,

the branch of python-package is merged, refer to https://github.com/Microsoft/LightGBM/tree/master/python-package
Welcome to have a try and provide feedback and issues.

[2016-12-01 08:45] #11 closed

[2016-12-01 09:39] gugatr0n1c opened #99 "save and load model in python"
Hi,

thx for Python interface! Seems to me working nicely.
Can you add also add example how to safe and load model?

Thank you.

[2016-12-01 10:15] guolinke commented on #99
@gugatr0n1c you can interactive with class ```Booster```.
```Booster``` can be get by using ```LGBMModel.booster()```

[2016-12-01 10:50] gugatr0n1c commented on #99
Ok I found save_model:
model.booster().save_model(path + model_name + '.txt', num_iteration=-1)
this is working nicely.

But not sure how load it back for later use... now method load_model or any where as input can be path for file

[2016-12-01 11:14] guolinke commented on #99
@gugatr0n1c  I have add this into example:

https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/simple_example.py

[2016-12-01 11:15] gugatr0n1c commented on #99
thx

[2016-12-01 11:15] #99 closed

[2016-12-01 14:40] gugatr0n1c opened #100 "Python interface - memory usage"
Hi, I just trying new Python interface, learning working nicely, but I am detecting double usage of memory.

To compare: when I used pyLightGMB interface it took 3G in Python and 3G in LightGBM, now it takes about 12.5G in Python.
I have active gc and deleting big variable during process.

Is there space for memory optimalization in Python wrapper?

thx

[2016-12-01 15:08] guolinke commented on #100
@gugatr0n1c  I will investigate about this.

And it will be an great help if can you run it with interactive python, and record the memory usage on each step.
Thanks

[2016-12-01 17:24] yychenca opened #101 "Python package installation"
Hi guys,

Just started to give the python package a try. Many thanks for making it happen!

 However, there seems to be a typo in the installation guide:

cd python-package; python setpy.py install

I assume the setpy.py should be setup.py.

Thanks,

Chris,

[2016-12-01 17:28] guolinke commented on #101
Thanks very much. have fixed.

[2016-12-01 17:28] #101 closed

[2016-12-01 18:23] yychenca opened #102 "Early stopping needs a default metric - python package"
It appears for early stopping the current version doesn't specify a default metric and therefore if we didn't explicitly define a metric it will fail:

import lightgbm as lgb
from sklearn import datasets, metrics, model_selection

rng = np.random.RandomState(2016)

X, y = datasets.make_classification(n_samples=10000, n_features=100)
x_train, x_test, y_train, y_test = model_selection.train_test_spl

[2016-12-01 18:59] ternaus opened #103 "Python Interface AttributeError: dlsym(0x10d8804e0, LGBM_DatasetCreateFromMat): symbol not found"
OS X Sierra
LightGBM Commit e2fd11ce75dfc69e5291b3efd2e352047a027370

[code]

[2016-12-01 20:08] gugatr0n1c commented on #100
My workflow: I am using 10 fold cv, I am doing cross validation manualy with for loop. It seems to me that possible leak is in second iteration of this loop, fun is, that when I am making third iteration the memory stays same about 11.5G

First iteration:
a] before fit call: 2.9G
b] during traning 5.6G
c] after training 5.7G

Second iteration:
a] before fit call: 5.3G
b] during traing: 11.5G (but

[2016-12-01 22:33] wxchan commented on #103
Can you share your previous codes?

[2016-12-02 00:17] guolinke commented on #100
did you call lightgbm.cv ?
can you share your main code framework?

[2016-12-02 00:18] guolinke commented on #103
It seems you didn't bulid library before install package.

[2016-12-02 00:21] guolinke commented on #102
@wxchan I think we can add default metric when object is str and eval_metric is none

[2016-12-02 00:28] ternaus commented on #103
Thank you. Now I feel stupid.

[2016-12-02 00:28] #103 closed

[2016-12-02 02:47] wxchan commented on #102
@guolinke I have made this change and commited to #97 . You can check that PR now. I also updated the python examples to make it more clear.

Btw, I can't access to Wifi in where I lived these couples of days, so I may reply late some time.

[2016-12-02 08:51] srhumir opened #105 "Feature Importance in Python package"
A feature importance attribute  for the model would be really useful.

[2016-12-02 08:57] guolinke commented on #105
Sure, we will provide this soon.

[2016-12-02 09:58] guolinke commented on #89
@wxchan  Did you figure why osx cost some much time in ```sys``` ?

[2016-12-02 10:22] binga commented on #105
Adding various feature importance metrics and highlighting important feature interactions just like this project (https://github.com/Far0n/xgbfi or https://github.com/limexp/xgbfir) could be a useful addition to this project.

[2016-12-02 18:20] Nyamhyy opened #107 "Sample weights in python sklearn interface"
Please add "sample_weight" parameter in fit function and "class_weight" parameter when initializing LGBMClassifier()

[2016-12-02 22:12] wxchan commented on #107
You can use `train_fields={'weight'=YOUR_WEIGHT_ARRAY}` for sample weight now. We can make it more clear in the future. By class weight, do you mean scale_pos_weight for binary classification? It's not supported in multiclass classification yet. But you can use the same sample weights for each class to achieve it.

[2016-12-02 22:14] wxchan commented on #89
Not yet. It looks proportional to the number of iterations. Do you have any suggestions to help find out the reasons?

[2016-12-03 01:17] #107 closed

[2016-12-03 01:17] #102 closed

[2016-12-05 10:39] gugatr0n1c commented on #100
sorry, bug on my site.. closing for now

[2016-12-05 10:41] #100 closed

[2016-12-05 10:48] gugatr0n1c opened #110 "Python - metric and nthread"
Hi,

1] it seems to me that nthread is not working in Python interface - no matter what I set all threads are used.

2] If I have 4cpu with multithreading = 8 threads, this still call all 8 - default setting is -1, so it should call 4 or not?

3] is there way to set metric from default l2 to l1 in python? set metric = 'l1' is not working

thx

calling this:

model = lg.LGBMRegressor(

[2016-12-05 11:50] wxchan commented on #110
1,2) it's same as c++, is nthread in c++ working for you?
3) eval_metric is used in fit()

full API:
[code]
[code]
[code]

[2016-12-05 12:44] gugatr0n1c commented on #110
1,2]  actually I used pyLightGBM, and with that it was working

3] ok thx, so it is different usage than in xgboost, where eval_metric is NOT used as input for traning, but just for monitoring on valid_data..  here it is input for training how to split data in leafs, right?

[2016-12-05 13:28] guolinke commented on #110
@gugatr0n1c
3]. I think xgboost is also use ```eval_metric``` in ```fit```. https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBClassifier.fit

[2016-12-05 13:42] guolinke commented on #110
fix 1.
for 2, you should set nthread=4, the default value of openmp is 8.

[2016-12-05 13:47] gugatr0n1c commented on #110
no definitely not, in xgboost it is only used for valid data,
https://github.com/dmlc/xgboost/blob/master/doc/parameter.md
or here
https://github.com/dmlc/xgboost/blob/ef4dcce7372dbc03b5066a614727f2a6dfcbd3bc/src/objective/regression_obj.cc

Xgboost has for regression only RMSE for training and this is not possible to change - there is new plugin system there, where user can change objective, but

[2016-12-05 14:09] gugatr0n1c commented on #110
hmm, it does not make any sence to use l2 for training and l1 for valid_data monitoring... maybe eval_metric should influace objective fully... (drawbacks is that then only one eval_metric can be used - for some classification problem is good to monitor auc, recall an logloss)

up to you guys...
but thanks for your great work, this library is outperforming xgb badly :)

[2016-12-05 14:54] guolinke commented on #110
@gugatr0n1c  I am not quite understand what you mean.
you want to output training metric during training?
You can add training data to ``eval_set``.
```fit(matrix_train, target_train, [(matrix_train, target_train), (matrix_test, target_test)], eval_metric="l1")```

And LightGBM will not load train_data twice.

[2016-12-05 15:43] gugatr0n1c commented on #110
strange, I changed to code as suggest [here](https://github.com/Microsoft/LightGBM/pull/97/commits/eba6d200a81776b0062971ee3f03a5486fc97825)

to:
params = {
			'task' : 'train',
			'boosting_type' : 'gbdt',
			'objective' : 'regression',
			'metric' : 'l1',
			'max_depth' : 15,
			'num_leaves' : 1000,
			'min_data_in_leaf' : 1000,
			'learning_rate' : 0.0025,
			'feature_fraction' : 0.2,
			'baggi

[2016-12-05 15:53] srhumir opened #111 "sklearn.base.clone does not work"
When I try to clone a model using "sklearn.base.clone", I get the error

TypeError: __init__() got an unexpected keyword argument 'verbose'

It does not deem that 'verbose' is a problem, as clone works fine for instance with LogisticRegression() from
sklearn.linear_model has 'verbose' parameter and works fine.

Here is a reproducible example

import lightgbm as lgb
from sklearn.linear_model import

[2016-12-05 16:03] guolinke commented on #110
@gugatr0n1c , I just have a try, and it output L1 metrics. Can you paste your code?

[2016-12-05 16:06] guolinke commented on #111
@wxchan  can you help to look into this?
And I also want to know the reason of use sklearn.base.clone ..

[2016-12-05 16:14] gugatr0n1c commented on #110
@guolinke there two different things:

1] one is to output error on eval_data with chosen metric - this is working correctly for me as well
but
2] second is to build tree - when in each split you choosing split according to chosen metric, this I believe is only taking alwas 'l2' - no matter I set  metric = 'l1', but when I was using pyLightGBM it was working

[2016-12-05 16:43] guolinke commented on #110
are you sure pyLightGbm can do this? you need to change objective funtion to support this.

[2016-12-05 16:45] guolinke commented on #110
and tree split is not according to any metrics. It uses the gradients calculated by objective function.

[2016-12-05 16:48] guolinke commented on #110
And you can give a example how to set pyLightGBM to use L1 as split tree. I will check for it.

[2016-12-05 17:54] gugatr0n1c commented on #110
- maybe I was just confused with early_stopping with metric = 'l1' which obviously give different solution then with l2
- I know that splits are according to gradient of objective function, but I was thinking that this is role of 'metric' input... when I set metric = 'l1', then objective is modify to mean absolute difference and than gradient is calculated based on this
- in pyLightGBM I just set

[2016-12-05 17:58] gugatr0n1c commented on #110
or as it is in scikit http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingRegressor.html

[2016-12-05 22:56] wxchan commented on #110
@gugatr0n1c lightgbm is same as xgboost in this part. You can see [this thread](https://www.kaggle.com/c/allstate-claims-severity/forums/t/24520/effect-of-mae). It includes how you use MAE as objective.

[2016-12-06 02:31] guolinke commented on #110
@gugatr0n1c
I think you misunderstand for parameter ```is_training_metric```. its fullname is ```is_provide_training_metric```, which means print metric of training data or not.

[2016-12-06 08:15] gugatr0n1c commented on #110
ok thx, for explanation, closing

[2016-12-06 08:15] #110 closed

[2016-12-06 08:25] gugatr0n1c opened #112 "Python: loading model ending with error - size doesnt match"
I have built model, than save the model with

model.save_model(working_dir + '/modely/model_' + str(tt) + '_' + str(cv) + '.txt', num_iteration = -1)
tt and cv just iterators = both 0 in this case..
Building model was ended with early_stopping.

I can share with dropbox (35M), seems to be everything OK.
https://dl.dropboxusercontent.com/u/36271853/model_0_0.txt

But when I tried to load it with th

[2016-12-06 08:27] guolinke commented on #112
@gugatr0n1c can you try to rebuild library and python package? I fix this yesterday night.

[2016-12-06 08:28] gugatr0n1c commented on #112
sure, thx for quick info

[2016-12-06 08:43] gugatr0n1c commented on #112
jop, working, thx

[2016-12-06 08:43] #112 closed

[2016-12-06 09:24] #111 closed

[2016-12-06 09:24] guolinke commented on #105
refer to https://github.com/Microsoft/LightGBM/pull/109

[2016-12-06 09:24] #105 closed

[2016-12-06 12:32] srhumir commented on #111
I would like to implement some form of esemble. It would be more safe to give copies of the models to the ensemble function. I found clone the most comfortable.

I am still too beginner, will come back to it later.

[2016-12-07 01:24] guolinke commented on #31
@rmhasan I have put the feature name and data count into model file.
BTW, I add other field ```decision_type```.
When ```decision_type==0```, it means ```<=threshold``` is in left child, and ```>threshold``` is in right child. (numerical feature)
When ```decision_type==1```, it means ```==threshold``` is in left child, and ```!=threshold``` is in right child.(categorical feature)

[2016-12-07 03:42] rmhasan commented on #31
Thanks. I will make some progress this week, and report back.

[2016-12-07 11:27] gugatr0n1c opened #115 "Python error - unknown type"
Hi, trying to run this code a getting this error, any help? (latest version)

for ii in range(0, 100000):

    lr = np.random.choice([0.25, 0.1, 0.05, 0.025, 0.01, 0.005])
    listy = np.random.choice([25, 50, 100, 250, 500, 750, 1000, 2000])
    min_in_leaf = np.random.choice([25, 50, 100, 250, 500, 750, 1000, 2000])
    subF = np.random.choice([0.15, 0.2, 0.3, 0.5, 0.66, .75, 0.83])
    subR = n

[2016-12-07 11:42] guolinke commented on #115
@gugatr0n1c It seems we cannot handle numpy object as parameter now.
you can change
listy = np.random.choice([25, 50, 100, 250, 500, 750, 1000, 2000])
to
listy = int(np.random.choice([25, 50, 100, 250, 500, 750, 1000, 2000]))
for quick fix.

[2016-12-07 11:48] guolinke commented on #115
@wxchan  Is it any way to convert numpy data to python type elegantly?

[2016-12-07 12:06] gugatr0n1c commented on #115
yeap, working... so it is up to you then to close this issue or not... thx

[2016-12-07 12:37] wxchan commented on #115
@guolinke It may be better to convert them directly to string, by adding more types in param_dict_to_str:
[code]

[2016-12-08 06:39] guolinke commented on #98
close for now. It is not efficient to do this.

[2016-12-08 06:39] #98 closed

[2016-12-08 06:41] guolinke commented on #47
@wxchan OK, so just simple RF is OK. BTW, maybe it is better to not enable subsample by leaf.

[2016-12-08 12:38] ledmaster opened #116 "Seed doesn't seem to be working for SKLearn interface"
Hi,

I tried to run the sklearn_example.py file with different seeds, and I am getting the exact same results:

seed=0 -> The rmse of prediction is: 0.413481558002
Feature importances: [ 0.04766667  0.032       0.01633333  0.049       0.02333333  0.067       0.029
  0.01933333  0.00366667  0.04066667  0.03233333  0.02566667  0.00233333
  0.03433333  0.024       0.02066667  0.00333333  0.03633333

[2016-12-08 12:49] wxchan commented on #116
@ledmaster seed is used in sample(when num of data>50000), bagging, sub_feature and tree dropout in dart, do you use any of these fields?

@guolinke did you rename seed in parameters?

[2016-12-08 13:05] guolinke commented on #116
this actually is a bug, I forget to set seed in c_api. will fix soon.

[2016-12-08 13:06] wxchan commented on #116
Before that, you can try to set other_params = {'bagging_fraction': 0.9, 'feature_fraction': 0.9} for example in fit() function.

[2016-12-08 13:07] ledmaster commented on #116
@wxchan @guolinke

Sure, thank you!

[2016-12-08 13:08] guolinke commented on #116
@wxchan , I think we should use seed in sklearn to generate other-seed used in c_api.

[2016-12-08 13:12] wxchan commented on #116
@ledmaster sorry, my mistake, it should be `other_params = {'bagging_seed': 1, 'feature_fraction_seed': 2}`

@guolinke I think simply set all other seeds equals to seed will be fine. If user wants to separate them, they can still use other_params.

[2016-12-08 13:29] guolinke commented on #116
@wxchan , I use seed to generate other seeds inside c_api (only generate if seed is passed). And if user specific other seeds, the generate seeds will be overwritten.

[2016-12-08 13:36] #116 closed

[2016-12-08 13:36] #115 closed

[2016-12-09 00:28] sergiubuciumas opened #118 "LightGBM doesn't get installed in OSX"
Tried to install according to instructions but fails, can anybody help me find what is wrong ?

[  4%] Building CXX object src/CMakeFiles/lightgbm.dir/objective/objective_function.cpp.o
In file included from /Users/sbuciuma/LightGBM/src/objective/objective_function.cpp:3:0:
/Users/sbuciuma/LightGBM/src/objective/binary_objective.hpp:50:37: error: stray '\357' in program
       if(cnt_positive > cn

[2016-12-09 01:08] guolinke commented on #118
it seems your source file contains some strange character. I am not sure why this happen.
Can you delete the folder completely, and clone again, then build?
BTW, is there any error message when using cmake?

[2016-12-09 01:17] sergiubuciumas commented on #118
removed completely folder and here is the output from **cmake**

`➜  build git:(master) cmake -DCMAKE_CXX_COMPILER=g++-6 ..
/usr/local/Cellar/open-mpi/2.0.1/lib/libmpi.dylib
/usr/local/Cellar/open-mpi/2.0.1/lib/libmpi.dylib
-- Try OpenMP C flag = [-fopenmp=libomp]
-- Performing Test OpenMP_FLAG_DETECTED
-- Performing Test OpenMP_FLAG_DETECTED - Failed
-- Try OpenMP C flag = [ ]
-- Performing Test

[2016-12-09 01:19] guolinke commented on #118
I see, it is openmp problem in OXS. @wxchan , Did you find the solution?

[2016-12-09 01:28] henry0312 commented on #118
Are you sure you installed GCC with OpenMP via Homebrew?

[2016-12-09 01:30] sergiubuciumas commented on #118
yes,  reinstalling now for the 4th time ....

[2016-12-09 01:31] henry0312 commented on #118
Please paste `g++-6 -v`

[code]

[2016-12-09 01:45] henry0312 commented on #118
Oh, wait.
the current CMakeLists.txt  is broken for OSX.
I'll fix.

[2016-12-09 01:46] sergiubuciumas commented on #118
Thank you.

[2016-12-09 02:15] henry0312 commented on #118
Probably, `cmake -DCMAKE_CXX_COMPILER=g++-6 -DOpenMP_C_FLAGS=-fopemmp ..` allows you to install lightgm.
However, I can't know why `find_package(OpenMP REQUIRED)` doesn't work in OSX.
https://github.com/Microsoft/LightGBM/blob/master/CMakeLists.txt#L16

[2016-12-09 02:19] wxchan commented on #118
@guolinke no, still not works.

@sergiubuciumas can you try to change `find_package(OpenMP REQUIRED)` to `find_package(OpenMP)` (remove REQUIRED) in [CMakeLists.txt](https://github.com/Microsoft/LightGBM/blob/master/CMakeLists.txt#L16) and see if it works?

[2016-12-09 02:34] henry0312 commented on #118
`cmake -DCMAKE_CXX_COMPILER=g++-6 -DCMAKE_C_COMPILER=gcc-6 ..` works fine.
We need to set `CMAKE_C_COMPILER` because CMake uses AppleClang as C compiler.

Please update wiki, https://github.com/Microsoft/LightGBM/wiki/Installation-Guide

[2016-12-09 02:38] sergiubuciumas commented on #118
@wxchan

[code]

[2016-12-09 02:40] henry0312 commented on #118
It's strange.

Set only `CMAKE_CXX_COMPILER`:

[code]

Set both `CMAKE_CXX_COMPILER` and `CMAKE_C_COMPILER`:

[code]

[2016-12-09 02:42] guolinke commented on #118
@sergiubuciumas This fix will give you a slow version of LightGBM..
It will not run multi-threading..

[2016-12-09 02:47] wxchan commented on #118
The solution provided by @henry0312 works for me. I think it's a better solution.

[2016-12-09 02:49] guolinke commented on #118
@henry0312 , Thanks!

Update the install guide : https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#osx

[2016-12-09 02:49] #118 closed

[2016-12-09 02:52] henry0312 commented on #118
not at all :)

[2016-12-09 13:11] gugatr0n1c commented on #22
according to benchmarks in xgboost project, GPU can speed-up building tree severel times (i7-6700K vs. Titan X (pascal)), what is impresive..

https://github.com/dmlc/xgboost/pull/1848/commits/f0c61666a7041f4159d966b9ade8fa27e44eb786

[2016-12-12 07:40] rmhasan commented on #31
Hi @guolinke, so I was able to make some progress and filled in almost all the missing parts except for the miningschema part. I will do more research on that one. Please take a look at  [my pmml output](https://github.com/rmhasan/LightGBM/blob/master/examples/binary_classification/pmmlexample.txt) once again. So I was looking through this thread. In your first comment you talked about implementin

[2016-12-12 07:49] guolinke commented on #31
@rmhasan

Add some references:
https://github.com/dmlc/xgboost/issues/839
https://github.com/jpmml/jpmml-xgboost

I think using an independent parser is better, maybe python or other easy-to-use implementations is better.

I am not sure how PMML works, e.g. Does it support load multi tree models from one file?
If yes, I think one file is better. If not, we only can output multi files.

[2016-12-13 03:20] rmhasan commented on #31
@guolinke  I can do python. I will take a look at the links you gave me. Thanks.

[2016-12-13 12:25] Laurae2 commented on #47
@wxchan: performance must not be good in any case (unless you change evaluation metric) because the update does not have the freedom like in real Random Forest implementations (you are limited by grad/hess in LightGBM/xgboost). If you want to compare with Random Forest implementations, using AUC for classification is recommended (so it is scale-invariant) - for regression, using Spearman correlati

[2016-12-13 13:38] jcrosskey opened #120 "Boosting type specification in Python sklearn"
Can you add option to specify the boosting type for sklearn?

[2016-12-13 13:58] wxchan commented on #120
You can try `fit(..., other_params={'boosting': 'dart'})` now.

We will discuss where to put this option. @guolinke

[2016-12-13 14:15] jcrosskey commented on #120
Thank you. This is a quick solution!
I was thinking about specifying it when a model is instantiated, so that this can be used in other methods provided in sklearn.

[2016-12-14 03:32] #120 closed

[2016-12-14 14:47] Allardvm opened #122 "[Feature] Let data inform node assignment of missing values"
LightGBM does not yet use the training data to inform the way it handles missing values. Instead, it seems missing values are just treated as `0`'s, leading to worse predictions than other frameworks such as XGBoost that explicitly process missing values.

XGBoost's solution works quite well and the gist of it seems compatible with LightGBM's procedures, so I guess this would be a good start. The

[2016-12-14 16:27] guolinke commented on #122
@Allardvm
I think it is not hard to adapt this feature. Following are some key points:

  1. the representation of missing value, maybe ```nan``` or ``na``.
  2. zero values in lightSVM file are missing or just zero ? or using parameter to specific this?
  3. Add an specific bin for missing value in histogram
  4. search best threshold two time if having missing value bin
  5. how to predict with

[2016-12-14 23:31] dsl10brc opened #123 "Python-package installation error"
when I do: python setup.py install

I get this error:

[code]

It works fine on this wrapper: https://github.com/ArdalanM/pyLightGBM

But I have to always give exec_path="/Users/my_name/Downloads/openmpi-2.0.1/LightGBM/lightgbm" when I run it

[2016-12-15 00:01] guolinke commented on #123
You are windows user? right?
Did you build lightgbm with ```DLL|x64``` before install python package?

[2016-12-15 12:14] Allardvm commented on #122
Yes, it shouldn't be too hard to implement the algorithm itself, but it's gonna be tricky to avoid subtle bugs. As for your points:

1. I would say we should stick to NaN for now, and possibly add a parameter that specifies the value that should be interpreted as 'missing' at a later point.
2. As far as I know, svmlight does not support missing values. I suggest that we stick to the format's speci

[2016-12-15 15:16] tks0123456789 opened #125 "Max depth of each tree is max_depth - 1"
The parameter max_depth does limit the max depth for tree model but the max is max_depth -1.  Is this expected behavior?

[2016-12-15 15:24] guolinke commented on #125
@tks0123456789
LightGBM grows tree leaf-wise. It use ```num_leaves``` to control the complexity of tree model. And leaf-wise will have better accuracy.
However, when #data is small, leaf-wise may cause over-fitting, due to it may grow deep tree.
So LightGBM provide an option ```max_depth``` to limit the max depth. Tree still grow by leaf-wise.
When ```max_depth < 0 ``` means not limit the depth.

[2016-12-15 15:28] guolinke commented on #125
The depth in LightGBM start from ```1```.  see : https://github.com/Microsoft/LightGBM/blob/master/src/io/tree.cpp#L43

Is it better to start from ```0``` ?

[2016-12-15 15:49] tks0123456789 commented on #125
Yes.  The usual meaning of depth is the number of edges from the root.
And the LightGBM's doc says "The relation is num_leaves = 2^(max_depth)."
https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#tuning-parameters

[2016-12-15 15:55] guolinke commented on #125
@tks0123456789
Thanks, fixed!

[2016-12-15 15:55] #125 closed

[2016-12-15 16:10] dsl10brc commented on #123
@guolinke  I am a mac user. I followed this procedure for build on mac : https://github.com/Microsoft/LightGBM/wiki/Installation-Guide

[2016-12-15 16:23] guolinke commented on #123
did it show any errors when build library? you can paste your full commands and output logs here.

[2016-12-15 17:59] dsl10brc commented on #123
@guolinke  I cloned from https://github.com/Microsoft/LightGBM/wiki/Installation-Guide to a new location and it worked. Thanks

[2016-12-15 20:07] #123 closed

[2016-12-16 16:00] gugatr0n1c opened #126 "Dart - very poor accuracy"
When I use dart as a booster I always get very poor performance in term of l2 result for regression task.
Even If I use small drop_rate = 0.01 or big like 0.3.

When I use dart in xgboost on same dataset, with similar setting (same learning rate, similiar num_trees) dart alwasy give me boost for accuracy (small but always).

But here accuracy is poor badly, like there is a bug, not just dart is no

[2016-12-16 16:06] gugatr0n1c commented on #126
What is working in XGB is probably not just drop_rate but also skip_drop. http://xgboost.readthedocs.io/en/latest/tutorials/dart.html

Can you please support this as well?

[2016-12-16 16:55] guolinke commented on #126
@wxchan

https://github.com/dmlc/xgboost/blob/master/src/gbm/gbtree.cc#L547-L711

can you check the code of implementation in XGBoost, and figure out why?

[2016-12-17 03:59] wxchan commented on #126
@guolinke I read these codes before. It's not hard to be added, but I have no idea where he came upon those parameters. Btw, is [this line](https://github.com/dmlc/xgboost/blob/master/src/gbm/gbtree.cc#L683) a bug? `weight_drop[idx_drop[i]] *= factor;`?.

[2016-12-17 04:00] wxchan commented on #126
@gugatr0n1c
1. Can you provide how you set up skip_rate etc. for xgboost?
2. Do you know where xgboost gets the ideas of skip_rate, sample_type and normalize_type?
3. Can you show accuracy comparisons between xgboost and lightgbm (both gbdt & dart) for your task?

[2016-12-17 08:21] tobigithub opened #127 "Automatic parameter tuning and grid search"
LightGBM is so amazingly fast it would be important to implement
a native grid search for the single executable EXE that covers the
most common influential parameters such as num_leaves, bins, feature_fraction,
bagging_fraction, min_data_in_leaf, min_sum_hessian_in_leaf and few others.

As simple option for the LightGBM executable auto grid could be
a simple text based option in the train.conf suc

[2016-12-17 08:25] guolinke commented on #126
@wxchan, I am not familiar with XGBoost.
Following is my guess:
1. ```weight_drop``` is the weights of all trees, not just dropped trees, right? If yes, I think the line you refer to is a bug. it should be ```weight_drop[idx_drop[i]] *= factor``` . If this is a bug, I am not sure why XGBoost can preform better....
2. It seems drop tree logic is based on sum_weight in XGBoost, but LightGBM is just

[2016-12-17 09:47] wxchan commented on #127
Can you try [sklearn.model_selection.GridSearchCV](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV) with LightGBM sklearn interface to see if it works? The sklearn interface is inherited from sklearn.base.BaseEstimator so it's expected to work exactly like other estimators in sklearn.

[2016-12-17 10:22] wxchan commented on #127
I tested sklearn.model_selection.GridSearchCV, it should work well. Follow #128 .

[2016-12-17 10:24] wxchan commented on #126
@guolinke I can add that option. I will do some investigations on this.

[2016-12-17 10:47] gugatr0n1c commented on #126
@wxchan
ad1] usually I run random search on parameters, and for xgboost on my datasets best setting is:
skip_rate = 0.3
drop_rate = 0.2
I use default for next two dart parameters.

ad2] actually dart for xgboost was done with my issue here
https://github.com/dmlc/xgboost/issues/809
And it seems to that marugari add skip_rate just like his idea.
On other two setting I do not know the source.

ad3]

[2016-12-17 15:09] gugatr0n1c opened #129 "Setting parameters differently per round"
Hi,

there is way in Python to set learning_rate differently for each boosting round as follows:

- decay learning rates
- learning_rates accepts:
- 1. list/tuple with length = num_boost_round
- 2. function(curr_iter)
- 3. function(curr_iter, total_iter)
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=10,
                init_model=gbm,
                learning_r

[2016-12-17 15:14] guolinke commented on #129
Yes, it can change most of parameters during training, just implement your own callbacks.

You can follow the implementation of [learning rate callback](https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/callback.py#L101-L138).

And I just have a check, num_leaves, min_data_in_leaf, feature_fraction and bagging_fraction can be changed during training.

[2016-12-17 16:20] wxchan commented on #129
@guolinke I think we can turn `reset_learning_rate` to `reset_parameter(key, value)` in callbacks. I can do it tomorrow and also add docs for callback functions.

Btw, I tried to change metrics during training before, seem not work. But I think this is an expected behavior, right?

[2016-12-17 16:29] guolinke commented on #129
@wxchan , I think it should work now. check the code:
https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L68-L87

BTW, currently reset logic is not efficient except [learning rate](https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L83). Maybe we can also optimize for some common parameters.

[2016-12-17 16:48] wxchan commented on #129
@guolinke I know it's implemented, but it takes very long time when I used it, did you try it?

[2016-12-17 18:23] mikebenfield opened #130 "rare categories give a warning"
When I try to mark a feature as categorical, but certain categories are rare, I often get a warning. Some example Python code:

[code]

The warning is:
[code]

[2016-12-17 19:40] gugatr0n1c commented on #130
I get same warning even without marking features as categorical... what does this means?

[2016-12-18 00:17] guolinke commented on #130
For categorical feature, it is a wrong warning. I forget to remove it... will fix soon.

@gugatr0n1c For numerical feature, you can pass an additional parameter {"is_sparse":False} to quick fix. And I think this can be fixed with #122

[2016-12-18 00:42] #130 closed

[2016-12-18 05:17] tobigithub commented on #127
@wxchan
Nice. Thanks.

[2016-12-18 05:31] tobigithub opened #132 "Print best results for the best iteration round at the end"
The Windows executable I mostly work with
does print all the result metric, but not the best result metric.

With a parameters like  early_stopping_round = 800 it will not print
the best result metric at the end and the command window buffer
would not hold too many data (unless set very large).

It would be useful for bookkeeping purposes to record the best metric
round RMSE or AUC at the very end

[2016-12-18 06:34] tobigithub commented on #127
oh no.
so what about Microsoft EXE (MZ Mark Zbikowski) file users?
The need to switch to Python?

[2016-12-18 06:36] wxchan commented on #126
@gugatr0n1c
Can you test two things on your dataset:
1. For lightgbm dart, set drop_rate to a very small number, such as drop_rate=1/num_iter; because your num_iter is big, each trees may be dropped too many times;
2. For xgboost dart, set learning rate=1. For dart, learning rate is a different concept from gbdt. In original paper, it's fixed to 1.

[2016-12-18 07:21] marugari commented on #126
It's not so difficult to add `skip_rate`.
If there are users, I will PR.

[2016-12-18 08:17] gugatr0n1c commented on #126
@wxchan
ad1] I tried with 0.005, 0.0005, 0.0001 and got similar "bad" results... strange is that early stopping stop training very early (hundreds of iterations with compare two several thousands without dart)

ad2] I can do this tomorrow from work

[2016-12-18 08:39] guolinke commented on #129
@gugatr0n1c I think it can work perfect now.
@wxchan can you also test the performance now? I have pushed some commits. It should be much better now.

[2016-12-18 12:55] wxchan commented on #129
@guolinke tested. Much better now.

[2016-12-18 12:57] wxchan commented on #126
@marugari where do you get the idea about `skip_rate` and `normalize_type`?

another question: when `sample_type = weighted` in xgboost, `dparam.rate_drop * weight_drop.size() * weight_drop[i] / sum_weight` (from [here](https://github.com/dmlc/xgboost/blob/master/src/gbm/gbtree.cc#L657)) can be bigger than 1, the probability of 'this' tree being selected is calculated as some number bigger than 1

[2016-12-18 13:54] marugari commented on #126
@wxchan Regarding `skip_rate`, All we have to do is leaving `idx_drop` empty.
In order to use `learning_rate < 1` in `dart`, I propose the following:
[code]

`sample_type` is very rough, since I think it's not involved in convergence.

[2016-12-18 14:13] wxchan commented on #126
@marugari sorry, what I meant is, is there some paper regarding skip_rate and normalize_type, because they are not shown in dart original paper?

[2016-12-18 14:22] gugatr0n1c commented on #129
great thx, I will wait for docs from wxchan about callback function, I am newbie in python, so not sure how to use it

[2016-12-18 14:22] marugari commented on #126
@wxchan  sorry. They are my extensions, not published.

[2016-12-18 15:06] wxchan commented on #126
@marugari I see, thanks.

[2016-12-18 15:12] wxchan commented on #129
@gugatr0n1c I already added to [docs](https://github.com/Microsoft/LightGBM/blob/master/docs/Python-API.md).
There are only two options now: list/tuple with length = num_boost_round or function(curr_iter).
A simple example how to reset bagging_fraction (0.7 for first 5 iter and 0.6 for 5-10):
[code]

[2016-12-18 16:55] gugatr0n1c commented on #129
thx for the example,

I just compile latest version and get this error by calling this (was working before update):

num_leaves_list = np.random.randint(500, 1000, iterace).tolist()
model = lg.train(
                        params,
                        (matrix_learn, target_learn),
                        num_boost_round = iterace,
                        valid_datas = (matrix_test, target_test

[2016-12-18 19:17] gugatr0n1c commented on #129
model = lg.train(
                        params,
                        lg.Dataset(matrix_learn, target_learn),
                        num_boost_round = iterace,
                        valid_sets = lg.Dataset(matrix_test, target_test),
                        early_stopping_rounds = 50,
                        callbacks = [lg.reset_parameter(num_leaves = num_leaves_list)]
                    )

[2016-12-18 21:54] gugatr0n1c commented on #129
ok, one more thing.. I tried just simple test to compare if I am using it right and just called

num_leaves_list = [750] * iterace
model = lg.train(
                        params,
                        lg.Dataset(matrix_learn, target_learn),
                        num_boost_round = iterace,
                        valid_sets = lg.Dataset(matrix_test, target_test),
                        early

[2016-12-18 22:01] gugatr0n1c commented on #130
@guolinke it was working, but in latest version it appears again, even with {"is_sparse":False}

[2016-12-19 00:50] guolinke commented on #130
@gugatr0n1c Did you use sklearn interface?
You can try the latest version, i just commit a fix

[2016-12-19 01:15] guolinke commented on #129
@gugatr0n1c  did you use "feature_fraction" or "bagging" ?

[2016-12-19 04:17] #132 closed

[2016-12-19 06:40] Alexkevin commented on #31
just want to know how is this progress going?  I can't wait to try it

[2016-12-19 07:06] gugatr0n1c commented on #130
Thx, but still same problem. No, I am not using sklearn.
Calling this:

boost_type = 'gbdt'
    if dart_rate > 0:
        boost_type = 'dart'

    params = {
                        'task' : 'train',
                        'boosting_type' : boost_type,
                        'objective' : 'regression',
                        'metric' : 'l2',
                        'max_depth' : int(max_depth),

[2016-12-19 07:09] guolinke commented on #130
@gugatr0n1c you should pass "params"  to Dataset as well.
"is_sparse" is parameter for Dataset

[2016-12-19 08:20] gugatr0n1c commented on #130
oh I see, thx, yeap, working now

[2016-12-19 08:41] gugatr0n1c commented on #129
@guolinke yes, I used both in params... now it seems to be working nicely, accuracy is much better, thx!

[2016-12-19 09:11] wxchan commented on #126
If you want to use skip_rate, you can arrange a callback with changing drop_rate.

Just my opinion on this: I think the parameters I add **'here'** should be tested, I am not saying they are wrong, they can be wonderful ideas, but I want to be convinced before I add them **'here'**. And I totally agree if other user would like to contribute to it.

[2016-12-19 11:30] gugatr0n1c commented on #126
@wxchan If I set in xgboost learning_rate to 1, accuracy is very bad as well, even worse than here...

[2016-12-19 11:37] wxchan commented on #126
@gugatr0n1c in original paper, they only use shrinkage_rate=1/(1+num_drop_trees); as marugari said, he set shrinkage_rate_ = learning_rate_ / (drop_index_.size() + learning_rate_); I think this is the main difference rather than skip_rate or sample_type.

[2016-12-19 12:08] gugatr0n1c commented on #126
As I wrote I did not used 'sample_type' parameter. I only used 'drop_rate' and 'skip_rate' (together with learning_rate << 1) in xgboost. And it was working nicely. I can not say now the influence of 'skip_rate'. But when I used random search for hyperparameters tuning, it always wanted to set 'skip_rate' to something non zero.
But, yes I agree that the main trick is to adapt shrinkage_rate as wri

[2016-12-19 12:17] marugari commented on #126
@wxchan Although `weight_drop` of new trees can be large, leaf values of that are scaled by `learning_rate`.
I think `weight_drop` * `learning_rate` = 1.0.

[2016-12-19 12:34] wxchan commented on #126
@marugari oh sorry, I didn't see the `if (num_drop == 0)` branch. My fault. I also didn't know xgboost calculates learning_rate in another place, I thought it's calculated only in CommitModel.

Then I think it's reasonable to change shrinkage_rate to see if it works. It is actually a combination of shrinkage_rate in gbdt and normalization weight in dart.

[2016-12-19 13:41] gugatr0n1c commented on #129
I can confirm now, that this brings boost in accuracy.
For example, if optimal num_leaves = 750, then better is using in callback:

num_leaves_list = np.random.randint(500, 1000, iterace).tolist()

Thx. Closing this issue.

[2016-12-19 13:41] #129 closed

[2016-12-19 13:49] gugatr0n1c opened #134 "Build on win10 do not produce DLL dir"
Hi,

I am trying to build library on new win10 server, 64bit.
I am using Visual Studio (Community 2015) 14.0

Build seems to be OK, log below. But when I try to install Python interface from python-package folder I get this error below. LightGBM/windows/x64/Release/ is created, but no DLL folder is created.

$ python setup.py install
Traceback (most recent call last):
  File "setup.py", line 17, i

[2016-12-19 13:51] guolinke commented on #134
@gugatr0n1c  you should choose config to "DLL|x64" if you want to build library.
It seems you choose "Release|x64".

[2016-12-19 14:00] gugatr0n1c commented on #134
oh man, I am stupid, I just over see this in manual "after built (library(.dll) file is in  ./windows/x64/DLL/ )."

[2016-12-19 14:00] #134 closed

[2016-12-19 15:50] guolinke commented on #126
@gugatr0n1c  can you test again with latest code?

[2016-12-19 16:49] gugatr0n1c commented on #126
@guolinke I tried, but got error: Segmentation fault, I tried twice recompile from github

boostint_type = 'gbdt'  is OK
boostint_type = 'dart'  return Segmentation fault

[2016-12-19 18:42] tobigithub commented on #132
That was quick,
Thanks.

[2016-12-20 01:56] guolinke commented on #126
@wxchan can you take a look about this?

[2016-12-20 04:02] wxchan commented on #126
@guolinke it seems caused by c_api because cmd line version is fine. I take a look at segfault log: it happened in Dart::Init, seems gbdt_config_ is still null after GBDT::ResetTrainingData.

[2016-12-20 08:16] guolinke commented on #126
@gugatr0n1c  @wxchan  fixed, can you try it again?

[2016-12-20 08:30] gugatr0n1c commented on #126
@guolinke training seems to be working, give you know about accuracy

[2016-12-20 08:43] gugatr0n1c commented on #126
@guolinke seems to be not working properly. It almost not converge (even worse than before). Seems to me that first tree is build with very large learning_rate, than additional trees has huge problem to converge.

Tried with dart_rate: 0.3, 0.05, 0.001 and with learning_rate = 0.004 and 0.1 - almost same result on all settings.

[2016-12-20 08:45] guolinke commented on #126
@gugatr0n1c  OK, I see.
@wxchan , I also try this, the training error is small. seems the learning rate is still wrong.

[2016-12-20 09:01] wxchan commented on #126
But all I change is to make learning rate a variable rather than fixed to 1. So if you set learning rate=1, it's same as before. The first tree is built with shrinkage_rate=1, it's also same as before.

I actually test this setting when I implemented dart and found it not work so well. So I didn't add it before.

Can you try to set learning rate to some number near 1 like 0.8 or 0.9? Because shrin

[2016-12-20 09:28] guolinke commented on #126
@wxchan ,
I think the weight of dropped trees is not correct now.
when learning_rate = 1.0:
weight of new tree: 1/(k+1)
weight of drop tree: 1/(k'+1) * k/(k+1).
sum of these weight is approx to 1.

current implementation:
weight of new tree: lr/(k+lr)
weight of drop tree:  lr/(k+lr)* k/(k+lr)
sum of these weights is still approx to 1.

However, I think if we add learning rate to DART, may be sum o

[2016-12-20 09:29] ekerazha commented on #19
bwilbertz did a good job, unfortunately it lacks several features (e.g. early stopping with eval set).

[2016-12-20 09:35] wxchan commented on #126
@guolinke that is exactly what I have tried before and I think it's better, that's why I said it's a combination of gbdt shrinkage rate (lr term) and dart dropped weight (1/(k+1) term).

Current implementation is according to xgboost. All we know here is xgboost dart works better on some datasets, I think we still need better theory.

By the way, I just fixed that bug of xgboost dart I mentioned i

[2016-12-20 09:40] dancaspi opened #135 "[bug] installation of python package fails with python 3.5.2"
after compiling the package on ubuntu 16.04 LTS 64-bit, with gcc5, the python package installation fails because of the "include_package_data=True" in the setup.py. when running the script with the flag on, the error is:
 error: Error: setup script specifies an absolute path:

after turning off the installation succeeds and import to python also succeeds.
can this be turned off by default? what ar

[2016-12-20 09:50] wxchan commented on #135
Actually I am facing this issue all the time too. Have you checked [this thread on stackoverflow](http://stackoverflow.com/questions/18085571/pip-install-error-setup-script-specifies-an-absolute-path)? It looks like some bug in setuptools.

Do you have some suggestions on it? It should work on different systems including linux, windows, macos and etc..

[2016-12-20 10:05] dancaspi commented on #135
Hey,
yes, this is exactly the thread that lead me to try and turn off "include_package_data".
**I run the python_package_tests and they seem to have passed**.... so maybe this can be marked as a solution? i admit, I am not sure what are the exact implications of the flag i turned off....

[2016-12-20 10:10] gugatr0n1c commented on #126
I read the original paper and there is several thing to point out:
1] setting, where DART is beating MART is small number of trees (250), this is not typical in practice (maybe for randomforest, not for boosting on bigger datasets) - table 5., not sure if we can replicate results for 5k trees with small learning_rate (little bit questioning result from paper for bigger datasets).

2] 'core' idea i

[2016-12-20 11:10] guolinke commented on #126
@wxchan
I think xgboost using learning rate at [here](weight of new tree: lr/(k+1)
weight of drop tree: lr/(k+1)* k/(k+1)), not in GBTree.

So the learning rate of DRAT is not 1.0.

[2016-12-20 11:15] guolinke commented on #126
@gugatr0n1c  can you try the xgboost with latest code? @wxchan just fix bug in xgboost.

[2016-12-20 11:16] wxchan commented on #126
@guolinke but weight of the first tree is 1/(num_drop+lr) = 1/lr, it canceled out the lr.

[2016-12-20 11:16] dancaspi opened #136 "[Documentation/Example wrong] reference dataset in lgb.Dataset and early stopping"
In the basic example:
https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/simple_example.py

the final number of trees is determined by the result of early stopping. is the test set only used for evaluation purposes (show the result) or actually used in determining the number of trees? as if it's latter, this poses a statistical question: the number of trees is just like any ot

[2016-12-20 11:23] guolinke commented on #126
@wxchan , I see.
Maybe we can do some experiments for these different settings.
I think we can choose our own algorithms, not limit to the implementation in xgboost.

[2016-12-20 11:30] gugatr0n1c commented on #136
Idea of early_stopping is to avoid overfitting and stop training when model start to overfit.
If you will wait until train_data start to overfit/diverge, than it is often too late.
Yes you can watch on num_trees as a next hyperparameter, but actually hyperparametrs are difficult to fit on train_data (there are some concept on neural nets where architecture is changing during learning process).

So

[2016-12-20 11:50] wxchan commented on #135
It's a solution for personal user. `include_package_data=True` is needed for pypi package, so we can't remove it. Before we have a better solution, I think we need user to remove that line manually.

[2016-12-20 11:56] wxchan commented on #136
The example is meant to let user know the **'syntax'** only. In reality, eval set and test set are different.

[2016-12-20 12:02] wxchan commented on #126
I think:

[code]

will be better. In this case, tree normalization is same as before, just new tree shrinks by lr.

[2016-12-20 12:20] dancaspi commented on #136
@gugatr0n1c  - I am not sure that the separation you make between "building trees" and "hyperparameters" is statistically justified - from a statistical standpoint, at least to me, they are all fitted on data which is never used as "test". I do agree that you can decide (for whichever reason), to tune some of the parameters on the validation set, without harm the validity of your evaluation on the

[2016-12-20 13:18] gugatr0n1c commented on #136
@dancaspi oh sorry Dan, I do not understand your original point. Yes, agree fully. There is still test sets out there to tell the results (measure, prediction,..), but train or valid is still about fitting data - no matter how.

I am not sure if there is way how to tell how many iterations are optimal without some data_set to tell (in this case valid_set). We can guess, but I believe that ie. redu

[2016-12-20 13:26] gugatr0n1c commented on #136
3] maybe run 1] find out optimum, reduce ie 15% (expecting overfitting)

[2016-12-20 13:32] dancaspi commented on #136
@gugatr0n1c hey, thanks for your reply.
As I said, we are in agreement as we both say that fitting the number of trees (iterations) on the test is flawed. Now remains the question of "early stopping", and is it at all meaningful on the train set. as the train set error is "always decreasing", we could argue that using early stopping on **train** is meaningless, and thus the mechanism of early stop

[2016-12-20 13:51] gugatr0n1c commented on #136
@dancaspi sure, I agree with test_set vs fitting parameters, that is clear..

[2016-12-20 16:12] dancaspi commented on #135
fair enough... should I close or leave that open as the matter isn't really solved? your call

[2016-12-20 16:14] dancaspi opened #137 "How to use feature_fraction,bagging_fraction,bagging_freq with RandomizedSearchCV"
Hey,
I want to create a parameter grid using RandomizedSearchCV, however, it appears that the scikit binding doesn't include those parameters (maybe under a different name?)

Am I missing something or is this yet to be implemented?

Thanks,
Dan

[2016-12-20 17:25] ekerazha opened #138 "Issues with categorical features since commit b51c7be"
Since commit b51c7be I get the `Too many categoricals are ignored` warning and poor results on my data set. I use the sklearn interface.

No issues before b51c7be with the same code.

[2016-12-20 17:36] ekerazha commented on #137
feature_fraction -> colsample_bytree
bagging_fraction -> subsample
bagging_freq -> subsample_freq

[2016-12-20 23:06] guolinke commented on #138
@ekerazha can you paste an example code that how you call sklearn interface?
And how you use categorical_feature? by indices or feature_name?

[2016-12-20 23:10] guolinke commented on #126
@wxchan  I think [this](http://dmlc.ml/xgboost/2016/07/02/support-dropout-on-xgboost.html) may be help

[2016-12-21 01:09] marugari commented on #126
Dropped trees and new trees has similar leaf values.
It seems that shrinking just new trees is improper.

[2016-12-21 02:01] guolinke commented on #126
@marugari
In you implementation. if not trees are dropped, add new_tree with weight ```lr```. Total delta weight is ```lr```.

if trees are dropped, add new_tree with  ```lr/(k+lr)```, and shrink ```k``` trees by ```k/(k+lr)```. Total delta weight is ```lr/(k+lr) - k * lr/(k+lr)* w_j ```. ```w_j``` is the previous weight of drop tree ```j```.
```w_j``` can be ```lr * (k/(k+lr))^i ``` (if skipped)

[2016-12-21 02:59] marugari commented on #126
[This](http://dmlc.ml/xgboost/2016/07/02/support-dropout-on-xgboost.html) is a little inaccurate. I'm Sorry...

New trees and sum of dropped trees scaled by previous weights has similar leaf values.
Thus, the normalization factor is independent of previous weights.

If weights of dropped trees are small. new trees have also small leaf values.
I don't think the delta weight is suitable characterist

[2016-12-21 03:11] guolinke commented on #126
@marugari I think i understand your idea now.
You let weight of new tree approx to the sum of dropped trees,  and use ```skip_rate``` to add new tree and increase total weight?

It seems when ```skip_rate==0.5``` has best accuracy.

My idea is let total weight to be increased at every iteration. I think this may save half of iterations while achieve same accuracy.

[2016-12-21 03:23] marugari commented on #126
@guolinke You are right.
In the case of small `learning_rate`, skipping iterations are main sources of loss reduction.

[2016-12-21 04:42] guolinke commented on #126
I just push a commit at dart branch: https://github.com/Microsoft/LightGBM/commit/518bafd53570ebdf0db84aceefa989dd24a32394

It adds ```skip_drop``` and ```xgboost_dart_mode```.
I also try some experiments, and it seems ```xgboost_dart_mode``` works well in small dataset.

@gugatr0n1c can you try this with your data?

[2016-12-21 06:50] gugatr0n1c commented on #126
love to test this, but have some xmas travelling now, so it will take some time..

[2016-12-21 07:05] guolinke commented on #126
@gugatr0n1c take you time and merry xmas!

@wxchan Do you have any comments?

[2016-12-21 07:47] dancaspi commented on #137
Thanks!

[2016-12-21 08:50] ekerazha commented on #138
@guolinke I use indeces:
[code]
I double checked that categorical columns use integer values.

Everything works fine if I use the python-package interface before b51c7be, while it's broken since b51c7be.

[2016-12-21 09:52] wxchan commented on #135
You can close it. It's not our bug.

[2016-12-21 09:53] #135 closed

[2016-12-21 10:14] wxchan commented on #126
It's better now. I think you can merge it to master and update docs for it.

[2016-12-21 11:54] guolinke commented on #138
@ekerazha , one other thing is, the index of feature is start from ```0```. so is it 2nd, 4th, 6th, 8th and 10th col  are categorical features ?

[2016-12-21 11:57] guolinke commented on #126
@wxchan , I am not sure should we keep xgboost_dart_mode? And should give it a better name?

[2016-12-21 13:16] ekerazha commented on #138
@guolinke It starts from 0.
0, 2, 4, 6, 8 are not categorical.

If I take the current LightGBM code and I replace the python-package content with the python-package code before b51c7be, it works fine. Commit b51c7be has broken something inside python-package.

[2016-12-21 13:27] #138 closed

[2016-12-21 13:27] guolinke commented on #138
@ekerazha OK, i finally find out why, forget to set max_bin in sklearn interface.

Thanks!

[2016-12-22 00:43] #137 closed

[2016-12-22 14:36] gugatr0n1c opened #140 "[Improvement][Python] support numpy boolean type"
I was trying to test xboost_dart_mode with some random search by np.random.choice([True, False]) on this parameter, but then I need to convert it with bool().

It would by nice to support/convert np.boolean inside.
Same for 'is_sparse'.

thx

[2016-12-22 14:39] l4mun commented on #122
Moreover it seems that colums with NA + one value is considered as a constant and therefore dropped.
"[LightGBM] [Warning] Ignoring Column_XX , only has one value"
And therefore i have worse results as with XGBOOST.

One major tricks of XGBOOST is when you have a column with only 2 value (Sex: Man/Woman, or dummy a categorical feature but with no pre-existing NA) you can encode one of the two valu

[2016-12-22 15:01] guolinke commented on #140
can you try to test it again. I just push a commit

[2016-12-22 15:05] #136 closed

[2016-12-22 16:00] HuangZhanPeng opened #141 "Windows Install LightGBM"
I follow the guide to install LightGBM in windows, when I execute

`
it raises error
error: Error: setup script specifies an absolute path:

C:\Users\Ryan\LightGBM-master\python-package\lightgbm\..\..\windows\x64\Dll\lib_lightgbm.dll

setup() arguments must *always* be /-separated paths relative to the
setup.py directory, *never* absolute paths.
`

I have no idea to solve the problem

###  Solutio

[2016-12-22 16:05] wxchan commented on #141
check #135

[2016-12-22 16:08] guolinke commented on #141
@wxchan  I think you can add this to document

[2016-12-22 16:11] wxchan commented on #141
@guolinke I will. I think it probably can be solved. I am not very familiar with this part.

[Same issue in xgboost](https://github.com/dmlc/xgboost/issues/1846).

[2016-12-22 16:23] HuangZhanPeng commented on #141
I have done the same thing

LIB_PATH = libpath['find_lib_path']()
to
LIB_PATH = libpath['../windows/x64/Dll/lib_lightgbm.dll']

but it raise another error

Traceback (most recent call last):
  File "setup.py", line 18, in <module>
    LIB_PATH = libpath['/windows/x64/Dll/lib_lightgbm.dll']
KeyError: '../windows/x64/Dll/lib_lightgbm.dll'

[2016-12-22 21:03] gugatr0n1c commented on #126
@guolinke merry xmas to you as well

I done some tests:
for xDart (xgboost_dart_mode = True) I got great accuracy - this is great for my datasets, beating 'gbdt'
for Dart (xgboost_dart_mode = False) still bad accuracy... (but done limited tests only with very small learning_rate)

But here both xDart and Dart have training very slow: 15mins (gdbt) vs. several hours for xDart, some iterations are v

[2016-12-23 00:21] marugari commented on #126
@gugatr0n1c Really?
Yes, XGBoost-DART is very slow (espesially late in a training) because it doesn't use the buffer.
However, I seem LightGBM-(x)DART runs as fast as gbdt.

[2016-12-23 00:22] guolinke commented on #141
@HuangZhanPeng , ```libpath``` is a List, you cannot use ```str``` to index it.

[2016-12-23 00:23] guolinke commented on #126
@gugatr0n1c what values of your ```drop_rate``` and ```skip_drop```? this speed seems abnormal.

[2016-12-23 01:10] HuangZhanPeng commented on #141
Thank you very much, Actually I just make a mistake, when I modify LIB_PATH = ['../windows/x64/Dll/lib_lightgbm.dll'], everything is Ok @guolinke @wxchan

[2016-12-23 08:36] anddelu commented on #126
hi, erveryone, I have rencently trianed dart and gbdt model using same training data with some noise. For predictions, in general, the dart model is little better than gbdt model. I set all the same parameter learning_rate=0.0112.  I didn't try xgboost so I can't tell something.
@gugatr0n1c  I just don't know how to use mxnet to implement "deepnet (5 hidden layers, prelu, adam, xavier) ", can you

[2016-12-23 08:51] gugatr0n1c commented on #126
@guolinke my setting is this:
learning_rate = 0.006
up to 10k iterations with early_stopping = 50 (stopped around 5k-7k iters with 'gdbt')
drop_rate = skip_drop = 0.3
using xDART

First like 100 iterations are fast, but I can see still that some iterations are very fast some slower
But after 1k iterations it is like 100ms vs 20s

@marugari not detaily tested in xgboost, but never have this feeling

[2016-12-23 10:03] guolinke commented on #126
@gugatr0n1c
I know what happen now. I will try to optimize the speed.
The reason is it will drop much tree after trained many iterations, this will increase the computation cost of score.
A quick solution is reset drop_rate smaller during training.

[2016-12-23 10:12] guolinke commented on #126
@wxchan  if xgboost_dart_mode is better, I think we can just keep it and remove our version.
What do you think?

[2016-12-23 10:16] wxchan commented on #126
@guolinke It may depend on different task. Our version is based on original paper. I think it's better keep it for now.

[2016-12-23 10:56] wxchan commented on #140
We can make it 'duck type' here. Pseudo code:
[code]
[For 1-d iterable](http://stackoverflow.com/questions/1952464/in-python-how-do-i-determine-if-an-object-is-iterable).
[For val is numeric](http://stackoverflow.com/questions/500328/identifying-numeric-and-array-types-in-numpy).

[2016-12-23 11:49] guolinke commented on #140
@wxchan I think you can create a new PR for this

[2016-12-26 03:31] guolinke commented on #126
@gugatr0n1c  I add an parameter ```max_drop``` to limit the number of dropped trees. This can help for the speed. But I am not sure how it will affect to the accuracy.
And if ```max_drop <= 0```, it means not limit.
I will close this issue for now, feel free to open an new issue if it cannot speed up or have much loss on accuracy.

[2016-12-26 03:31] #126 closed

[2016-12-27 06:10] rmhasan commented on #31
Hi @Alexkevin, there is progress. I am producing pmml output. I am following the [schema for the tree model](http://dmg.org/pmml/v4-3/TreeModel.html) to produce a valid pmml document. The main part which is the tree structure is there.  You can pull my code, run it and take a look at the pmml output. The script is the pmml.py file in the pmml directory. First you need to create a LightGBM_model.tx

[2016-12-27 08:04] #141 closed

[2016-12-27 08:13] wxchan commented on #140
@guolinke About sklearn.model_selection.GridSearchCV/RandomizedSearchCV, there are no options to search over dart parameters, should we add other_params to LGBMModel.__init__?

[2016-12-27 08:16] guolinke commented on #140
@wxchan maybe use kwargs to replace other_params ?

[2016-12-27 09:36] gugatr0n1c commented on #126
@guolinke thx, I will run some tests after New Year

[2016-12-27 09:40] gugatr0n1c commented on #140
thx, now it is working, feel free to close this when you will want to..

[2016-12-27 09:48] gugatr0n1c opened #144 "[Improvement] Support nthread in predict()"
Seems to me that when calling model.predict() it is using only one cpu. It would be great to support nthread also in predict().
I think predict() is only additive calculation and each tree can be evaluate in separate cpu, then it is only weighted sum of local predictions. Parallelization on trees can be also effective. What do you think?

Also, not sure how the residuals in DART are calculated, bu

[2016-12-27 09:50] guolinke commented on #144
I think the predict is always multi-threading now.
I will check why python-package only use one cpu.

[2016-12-27 10:06] gugatr0n1c commented on #144
Seems to be working on linux, but not on win10 server

[2016-12-27 10:08] guolinke commented on #144
can you try the quick fix i commit just now?

[2016-12-27 11:43] gugatr0n1c commented on #144
seems to be working, much faster now, thx

Just from curiosity how is multi-threading supported here? all cpu working on one trees or one cpu working on tree?

[2016-12-27 11:59] guolinke commented on #144
@gugatr0n1c
the multi-threading is for samples.
if using multi-threading for trees, it will have lots of cost of create/delete threads.

[2016-12-27 12:07] gugatr0n1c commented on #144
@guolinke thx
feel free to close this issue, when you wanted to

[2016-12-27 12:40] gugatr0n1c commented on #144
@guolinke so, the expectation is to predict more then one sample (at least num_sample_to_predict >= nthreads) this is reasonble...

Just maybe for tasks where you can predict only one sample (some financial trading) may be other parallelization better...

thx for info..

[2016-12-27 14:57] wxchan commented on #140
@guolinke I tried it, not work. In sklearn, BaseEstimator.get_params use inspect.signature(__init__) to get parameter keys first, so kwargs won't count into parameters.

[2016-12-28 03:55] guolinke commented on #144
@gugatr0n1c I think predict only for one sample is not the common case.
close for now.

[2016-12-28 03:55] #144 closed

[2016-12-28 03:58] guolinke commented on #140
@wxchan So how do you let ```BaseEstimator.get_params``` get parameters in ```other_params```? Expand them into ```init```?

[2016-12-28 07:48] wxchan commented on #140
@guolinke just add them one by one at the end of __init__, for example:

[code]

[2016-12-28 07:51] guolinke commented on #140
@wxchan I am not sure how it works.
If we set ```self.key=val``` for some parameters not in ```init```, can ```BaseEstimator.get_params``` get these keys?

[2016-12-28 07:54] wxchan commented on #140
@guolinke it can't.

[2016-12-28 08:02] wxchan commented on #140
@guolinke xgboost uses another method [get_xgb_params](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L175), it won't override get_params, may be better.

[2016-12-28 10:47] dancaspi opened #146 "[example] parameter grid search with scikit-api and categorical features, how?"
Hey,
I am trying to tune parameters with RandomizedSearchCV and lightgbm
where exactly do i place the categorical_feature param?

[code]

[2016-12-28 10:50] wxchan commented on #146
try fit_params in RandomizedSearchCV

[2016-12-28 11:07] dancaspi commented on #146
Thanks!!! working.
along the same lines:
what if I want to search over both DART and GBDT type boosters at the same time. however, all the DART related params make the gbdt throw an invalid parameter...

thanks,
Dan

[2016-12-28 11:12] wxchan commented on #146
Probably no way to do that now. It is working on #145 .

[2016-12-28 11:14] dancaspi commented on #146
thanks, much appreciated.

[2016-12-28 11:14] #146 closed

[2016-12-29 06:18] rmhasan commented on #31
Hi @guolinke, I have a script that translates each tree in the LightsGBM_model.txt file into a pmml output file. All the files get placed inside a directory called pmml_out. The pmml output can pass a validation check with it's schema. More information on the standard of pmml and the xsd schema I am outputting can be found  [here](http://dmg.org/pmml/pmml-v4-3.html). Feel free to clone my repo and

[2016-12-29 08:45] guolinke commented on #31
@rmhasan , you can create PR first. If there are any problems, we can solve them together.
Thanks!

[2016-12-30 13:45] henry0312 opened #149 "how to save model with sklearn's joblib?"
How to save model with [joblib](http://scikit-learn.org/stable/modules/model_persistence.html "3.4. Model persistence — scikit-learn 0.18.1 documentation")?

## Environment info

Operating System: OS X 10.11.6
CPU: Intel Core i7

## Error Message

`ValueError: ctypes objects containing pointers cannot be pickled`

For detail, please see https://gist.github.com/henry0312/7ae4ab3257152849819d84fca19

[2016-12-30 16:51] wxchan commented on #149
Not support yet. I will fix it soon.

[2016-12-30 16:55] henry0312 commented on #149
Are some codes like https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/core.py#L671 needed?

[2016-12-30 17:06] wxchan commented on #149
Yes, but xgboost only has booster pointer, LightGBM has 3 parts of pointers: booster, train set and valid sets. Also class Dataset is kinda complicated.

[2016-12-30 23:47] rmhasan commented on #31
Hi @guolinke, can you explain what is in LightGBM_predict_result.txt after running ./lightgbm config=predict.conf in one the examples, lets say binary_classification. Is it all scores? And can you explain what lightgbm in predict mode does with all the trees in LightGBM_model.txt.

[2016-12-31 03:15] guolinke commented on #31
@rmhasan ,
For binary classification, the output is the probability of positive class. It is transformed from raw scores by sigmoid.
For other tasks, the output is raw score, and raw score is the sum on all tree's scores.

[2016-12-31 07:28] wxchan commented on #149
I think dataset pointer can be deleted directly and rest is same as xgboost. I did it on my [pickle branch](https://github.com/wxchan/LightGBM/tree/pickle). But with python build-in pickle module, the loaded model is a little different. Can you try if joblib works?

[2016-12-31 23:45] rmhasan commented on #31
@guolinke Hi so you are taking the raw score and multiplying it by the sigmoid to get the output.

[2017-01-01 00:22] rmhasan commented on #31
@guolinke Should I multiply the values in the leaf_value array and internal_value array for each node by the sigmoid value to get the score for each node.

[2017-01-01 03:11] #140 closed

[2017-01-01 03:12] guolinke commented on #31
I think you don't need to do this. just raw score is fine

[2017-01-01 04:16] rmhasan commented on #31
Hi Happy New Year to all. @guolinke the pmml output can be consumed by the jpmml-evaluator. I am ready to do a pull request. First I am going to right a detailed README the pmml.py script.

[2017-01-01 05:05] henry0312 commented on #149
Saving models with joblib works fine, but predictions of loaded model aren't the same with those of before model.
(I updated the example, https://gist.github.com/henry0312/7ae4ab3257152849819d84fca19f4108#file-tset_gbm_joblib-py)

[2017-01-01 05:05] henry0312 commented on #149
[code]

[2017-01-01 06:23] wxchan commented on #149
The reason is discussed in #151 , related to float and double precision. I think they are same model since gbm.get_params() == gbm2.get_params().

[2017-01-01 06:49] henry0312 commented on #149
I got it :)

[2017-01-01 14:34] #149 closed

[2017-01-01 14:42] henry0312 opened #154 "Maybe dump_model doesn't work."
## Environment info

Operating System: OS X 10.11.6 and Ubuntu 16.04

## Error Message:

[code]

## Reproducible examples

https://gist.github.com/henry0312/fe2250c0578ba318583e2521640d1be5

## Steps to reproduce

1. move the above example file into `examples/python-guide`
2. `python test.py`

[2017-01-01 15:00] #154 closed

[2017-01-01 15:00] guolinke commented on #154
@henry0312 can you try it again?
Thanks!

[2017-01-01 16:09] henry0312 commented on #154
Thank you for your quick fix.
The issue is solved, but another problem occurs at line 37 in https://gist.github.com/henry0312/fe2250c0578ba318583e2521640d1be5.

[2017-01-01 16:33] wxchan commented on #154
@henry0312 I am making feature_importance_ as a property, it will solve this issue.

[2017-01-01 16:38] guolinke commented on #154
@wxchan it seems
[code]
cannot work on windows, it will throws error:
[code]

[2017-01-01 16:46] wxchan commented on #154
@guolinke the error throws at _safe_call(...) or before?

[2017-01-01 16:48] guolinke commented on #154
throw at _safe_call(), and predict for data file also failed now.
I think the reason is caused by temp file, it seems the created file cannot be accessed.

[2017-01-01 16:59] wxchan commented on #154
@guolinke try replace `NamedTemporaryFile(mode='w+')` with `NamedTemporaryFile(mode='w+', delete=(os.name=='nt'))`

python docs do say `Whether the name can be used to open the file a second time, while the named temporary file is still open, varies across platforms (it can be so used on Unix; it cannot on Windows NT or later)`

Can you try test_basic.py on Windows? I think it will suffer the same

[2017-01-01 17:24] wxchan commented on #154
Using tempfile for windows won't work.

reference:
http://stackoverflow.com/questions/15588314/cant-access-temporary-files-created-with-tempfile

2 solutions:
1. create and delete files manually
2. use memory string buffer
I think current solution is good enough for unix-like, we can solve it separately for windows.

[2017-01-02 01:19] guolinke commented on #154
@wxchan i see, i will fix this directly

[2017-01-02 09:12] henry0312 commented on #154
For https://github.com/Microsoft/LightGBM/issues/154#issuecomment-269908741, I got back traces, and I found that there is something wrong with dump_model (also @wxchan said, https://github.com/Microsoft/LightGBM/pull/155#issuecomment-269945746)

[code]

[2017-01-02 09:34] wxchan commented on #154
Did you re-build c++ version?

[2017-01-02 10:36] henry0312 commented on #154
Yes, I did.
`segmentation fault` occurs still at the current master HEAD (f6024c8bd39eaa7f5d30e8bdcccff24b1f94eb31).

[2017-01-02 12:41] henry0312 commented on #154
Finally, I identified the cause of https://github.com/Microsoft/LightGBM/issues/154#issuecomment-269908741.
I'll create a PR.

[2017-01-02 14:09] geoHeil opened #157 "[Feature] jvm-package of LightGBM"
So far LightGBM does not offer a JVM integration like https://github.com/dmlc/xgboost/tree/master/jvm-packages What is the current state? Is anyone working on a JVM integration?

Maybe https://github.com/java-native-access/jna starting out with https://code.google.com/archive/p/jnaerator/ would be an interesting start.

https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basi

[2017-01-02 22:26] vruusmann commented on #31
As an author or JPMML-Evaluator, I've been watching the progress on this issue with great interest. These are my observations so far:

- The PMML exporter should encode LightGBM model as a single segmentation-type [``MiningModel`` element](http://dmg.org/pmml/v4-3/MultipleModels.html), not a series of ``TreeModel`` elements (as implemented in PR #153).
- Features need to have correct type specific

[2017-01-03 01:16] guolinke commented on #31
Hi @vruusmann , Thanks for your comments.
1. @rmhasan , I think you can use MiningModelelement.
2. I changed to double precision for float type data in recent update:  https://github.com/Microsoft/LightGBM/commit/1d7acf57ce461443bf510dd49b36fd2a5687f099
however, it seems still have lost on precision: http://stackoverflow.com/questions/4738768/printing-double-without-losing-precision. I am not sure

[2017-01-03 03:18] rmhasan commented on #31
@guolinke and @vruusmann  I will work on the `MiningModel` element. Also might I suggest using 17 as the decimal precision.  Here is a [link](http://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html) to a proof of why you would get lossless decimal recovery from text.

[2017-01-03 06:40] vruusmann commented on #31
@rmhasan The upgrade to `MiningModel` element should be trivial:

Now:
[code]

Then:
[code]

[2017-01-03 07:51] tobigithub opened #158 "sigmoid not available during sklearn grid search"
Hi,
the sigmoid and is_enable_sparse are not available during the python sklearn grid search.
The parameters work in stand-alone scripts and the sigmoid function can have a decent impact
on the results. I used binary classification, but attached an example from the wiki (regression).
There may be other parameters that are not available during grid search, I did not test all of them.

[code]
## Env

[2017-01-03 08:14] vruusmann commented on #31
The suggested precision will be good for FP64 values whose magnitude is close to `1`. However, it may prove to be too little or too much for FP64 values that are much greater or much smaller, respectively, than `1` (eg. `1.234567+E10` and `1.234567E-10`).

C++ is a very mature language/ecosystem, so it should provide built-in utilities for formatting/parsing FP32 and FP64 values using "correct, dy

[2017-01-03 09:04] guolinke commented on #31
@vruusmann

actually, the output precision of ```std::numeric_limits<double>::digits10 + 1``` is enough for double precision.
Check: http://stackoverflow.com/questions/554063/how-do-i-print-a-double-value-with-full-precision-using-cout
And I think it is better than C's ```printf with %g```

I also try some tests:
[code]
and it outputs ```3.14159265358979e-30```

Or you means to output hex code of

[2017-01-03 09:08] wxchan commented on #158
I check the parameters not in sklearn interface:
tree_learner
is_pre_partition
is_sparse
bin_construct_sample_cnt
sigmoid
max_position
label_gain

@guolinke any these parameters have an alias or not support for sklearn?

Also there is an alternative way now
[code]

[2017-01-03 09:13] guolinke commented on #158
@wxchan
tree_learner and is_pre_partition is used for parallel learning, so it is not need to add them.
is_sparse has not effect on training, so doesn't need to add it either.
you can add rest of them, they are not in sklearn now. And you also can change the alias if needed.
BTW, ```max_position``` and ```label_gain``` are used for the ranking. and sigmoid only used in binary classification.

[2017-01-03 09:22] wxchan commented on #158
Is sigmoid also used in ranking? It's said in docs.
What's the effect of is_sparse? We can add it to fit().

[2017-01-03 09:28] pandasasa opened #159 "Does LightGBM support libsvm data format in python/C++?"
[](For bugs and unexpected issues, please provide the following information, so that we could reproduce in our system)

## Environment info
Operating System:
CPU:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-01-03 09:31] #159 closed

[2017-01-03 12:00] guolinke commented on #158
@wxchan
yes, I forget it. Sigmoid is used in ranking as well.
if disable ```is_binary``` it will slow for the sparse data.
default label gain: https://github.com/Microsoft/LightGBM/blob/master/src/io/config.cpp#L250-L252

[2017-01-03 12:01] ekerazha commented on #158
@guolinke @wxchan CLI and sklearn interfaces also use different default values, e.g.:

_CLI default values:_
min_data_in_leaf = 100
min_sum_hessian_in_leaf = 10.0

_sklearn default values:_
min_child_samples (min_data_in_leaf) = 10
min_child_weight (min_sum_hessian_in_leaf) = 5

I think they should be equalized (**on my datasets**, sklearn default values give better results).

[2017-01-03 12:59] wxchan commented on #158
@guolinke the default label gain on docs is {0,1,3,7,15,31,63,...}. Is brace required? Can I set default to None and if it's None, pop it from params?

[2017-01-03 13:11] guolinke commented on #158
No brace , and you can just use list as parameter in python interface.

you want to pop all params with '''None''' ? I think it is OK, and for the ```objective``` keep it as string (```"None"```).

[2017-01-03 13:20] guolinke commented on #19
Official R-package is under development now.
I finished the basic wrapper of Dataset and Booster.
Currently, it can handle the lower level training (not tested). And I will finish the high level interface soon.

However, It is my first time to use R. So I want to ask for some suggestions and comments.
Check out https://github.com/Microsoft/LightGBM/tree/r-package and feel free to give comments.
Th

[2017-01-03 13:29] dselivanov commented on #19
@guolinke took a look to `lightgbm_R.cpp`. Why are you not using Rcpp? It is much more easy to work with and maintain.

[2017-01-03 13:41] ekerazha commented on #157
Here https://github.com/Microsoft/LightGBM/wiki/Features they say Spark support is planned. A XGBoost4J alternative would certainly be nice.

[2017-01-03 14:59] wxchan commented on #158
No, just label gain. The default is too long to write in __init__.

[2017-01-03 16:30] guolinke commented on #19
@dmahugh I want to try with Rcpp at the first, but it seems have many [issues](https://github.com/RcppCore/Rcpp/issues). For providing stable package, I go back to the low level R extension. And working with R extension is not so heavy as well.
However, current implementation is based on [R6](https://cran.r-project.org/web/packages/R6/vignettes/Introduction.html), it also have some problems. So I

[2017-01-03 16:40] dselivanov commented on #19
@guolinke I thought you are not using Rcpp because of GNU v2 license compared to MIT license of LightGBM.
In fact Rcpp is very stable and heavily tested by [800+ packages](http://dirk.eddelbuettel.com/blog/2016/10/16#rcpp_800_packages) which rely on it...

[2017-01-03 17:38] guolinke commented on #19
@dselivanov Thanks, I will check RCpp again.
And I will check about the license problem as well.

[2017-01-03 22:12] ostrokach commented on #141
I was running into this error on Linux running Anaconda 3.5 as well.

I fixed it using the following patch to setup.py (same as the patch for xgboost dmlc/xgboost#1846).

[code]

[2017-01-03 22:31] vruusmann commented on #31
@guolinke Sorry about giving bad advice - I'm not familiar with C++ language/libraries/way of thinking.

Anyway, I got the impression that there's still something not quite right with Booster persistence. Specifically, if an Booster object is serialized into a text file, and then de-serialized into a new Booster object, then these two Boosters have different internal state (eg. perhaps their `thre

[2017-01-04 01:44] guolinke commented on #31
@vruusmann It indeed existed some precision problem, but I fix it recently.
I also add test for it:
https://github.com/Microsoft/LightGBM/blob/master/tests/python_package_test/test_basic.py#L41-L46
its differ is on 16th decimal place now.

Do you think it is ok or not?

[2017-01-04 04:02] guolinke commented on #19
@dselivanov I was wrong. Using Rcpp need to link to its code(header files). So it still needs GPL license.
http://softwareengineering.stackexchange.com/questions/254737/does-an-rcpp-dependent-package-require-a-gpl-license
https://cran.r-project.org/web/packages/Rcpp/vignettes/Rcpp-FAQ.pdf

And using R extensions also need to link to GPL's code:
https://stat.ethz.ch/pipermail/r-help/2011-July/28318

[2017-01-04 04:43] wxchan commented on #141
@ostrokach this solution does not work for me. I think the bug is caused by `packages=find_packages()` not LIB_PATH.

[2017-01-04 06:55] guolinke commented on #19
due to license issue, I will write an simple ctypes-like function for R object to avoid include R`s header file.
delete the r-package branch for now, will add back when finish this part.

[2017-01-04 07:00] dselivanov commented on #19
@guolinke
I personally think that GPL>=2 will be ok... R itself GPL v2, so I guess it shouldn't be a problem for people which use R itself.

[2017-01-04 07:08] guolinke commented on #19
@dselivanov We have strict policy for using GLP license...
I also make some progress about access raw R object in C, will go back soon.

[2017-01-04 07:32] captify-acherednychenko opened #162 "Treating missing values as zeros in sparse mode"
Hey there, thanks for the great product.

Would be great to have ability to mark missing features as ones, having zeros. My case - I am training on large sparse file, with numbers of features > 1M. I hacked a code slightly to automatically put trivial features as categorical, but that has no effect.

Please assist, some instructions on what to change in the code would be acceptable

Thanks,
Andrii

[2017-01-04 07:36] guolinke commented on #162
@captify-acherednychenko
you want let missing values to be treated as ```1```?

[2017-01-04 07:45] captify-acherednychenko commented on #162
@guolinke
thanks for an immediate reply. no, basically, I want trivial (having only one value) features to be included in training. I am adding only 1 into the file, otherwise it will blow-up.

so, I changed code slightly, to treat them as categorical, but that has no effect, as I don't have 0 values in the file (I assume)

would be great to have a quick code change advice

thanks

[2017-01-04 07:51] vruusmann commented on #31
@guolinke Very nice, we're getting closer and closer to the destination.

Would it be possible to ensure that the values are identical? In other words, the test should use method like `assertExactlyEqual(double[] values, double[] serDeValues)` instead of `assertAlmostEqual(values, serDeValues, double tolerance)`?

In Java, the following test would pass cleanly:
[code]

[2017-01-04 07:51] guolinke commented on #162
@captify-acherednychenko
If these ignored features actually is not trivial, you can change ``bin_construct_sample_cnt`` to a bigger value (default is 50000).

If they are really trivial, it will have not effect on training even you add them force, due to data cannot split according to these features.

[2017-01-04 08:13] captify-acherednychenko commented on #162
ok, let's imagine case - I want to describe if user have seen some document on the web. If user did - I put 1 for that feature. For sure, I don't put 0 in case user haven't seen a doc, otherwise file will blow up.

As a result, for that feature, I have only 1s in the file, and LightGBM is treating this feature as trivial, which I am sure is not the case?

Please assist.
Thanks

[2017-01-04 08:18] guolinke commented on #162
@captify-acherednychenko I think LightGBM can handle this naturally. It will try missing value as zero.
And you are using Libsvm format, right?
can you paste a sample of your data like?

[2017-01-04 08:33] guolinke commented on #31
@vruusmann
Now it is exact same: https://github.com/Microsoft/LightGBM/blob/master/tests/python_package_test/test_basic.py#L46-L50

I also test this in cpp:
[code]

[2017-01-04 09:44] captify-acherednychenko commented on #162
yes, using Libsvm, for example here is part of file which contains only 4 occurrences of 49312 feature.  however, in log I see that this feature is ignored.

note that those are parts of files, as original ones are pretty big.

[guolinke.sample.libsvm.txt](https://github.com/Microsoft/LightGBM/files/684299/guolinke.sample.libsvm.txt)
[guolinke.log.txt](https://github.com/Microsoft/LightGBM/files/6

[2017-01-04 10:18] guolinke commented on #162
I see. Just of part of these features are ignored, not all of them, right?
The reason is LightGBM sample part of data to construct bin mapper. When data is too sparse, the sampled data in some features may are all zeros, so these feature will be ignored.

If you really want to use all of them, you can set ```bin_construct_sample_cnt``` to your number of row of data.

And set feature to categorical

[2017-01-04 17:22] captify-acherednychenko commented on #162
setting bin_construct_sample_cnt actually doesn't help. will continue investigation later, closing this issue so far

[2017-01-04 17:22] #162 closed

[2017-01-05 10:00] naveenkaushik2504 opened #164 "Getting core dump while invoking LGBM_BoosterCreateFromModelfile method from c api provided"
I was trying to invoke the c_api wrapper via my own custom wrapper method.
I first generated a model file and then I am using _LGBM_BoosterCreateFromModelfile_ method to get the handler for the model. But while doing this its giving a core dump in this [line](https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/utils/pipeline_reader.h#L52).

Following is the backtrace while running u

[2017-01-05 10:40] guolinke commented on #164
@naveenkaushik2504
Did you use the latest code?
can you load this model by command line version lightgbm?

[2017-01-05 11:22] naveenkaushik2504 commented on #164
Yes @guolinke I am using the latest code. Also I am able to load the same model with the command line version.
All I have done in c_api.cpp is added the following method:
[code]

[2017-01-05 11:28] guolinke commented on #164
@naveenkaushik2504 Did you compile you code with flag ```-pthread``` ?

[2017-01-05 12:16] naveenkaushik2504 commented on #164
It worked. Thanks a lot. Closing the issue.

[2017-01-05 12:16] #164 closed

[2017-01-05 12:17] #158 closed

[2017-01-06 03:08] cbjorgol opened #165 "Instructions install GCC 5.3 instead of 6"
## Environment info
Operating System: OS X El Capitan

## Error Message:

    brew install gcc --without-multilib
    Warning: gcc-5.3.0 already installed

## Steps to recreate

When I follow the instructions for mac, installing gcc installs gcc-5.3.0 rather than 6+ which results in the following downstream error during installation.  How do I install gcc-6 instead of gcc-5.3.0?

    cmake -DCMAKE

[2017-01-06 03:22] cbjorgol commented on #165
Looks like my homebrew just needed an update

[2017-01-06 03:22] #165 closed

[2017-01-06 08:07] PerfectWzp opened #167 "how to specify new gcc path for cmake using gcc_6.2.0 in CentOS"
[](For bugs and unexpected issues, please provide the following information, so that we could reproduce in our system)

## Environment info
Operating System:CentOS release 6.2
CPU:Intel(R) Xeon(R) CPU E5606  @ 2.13GHz, 8 cores

## Error Message:
( in LightGBM/build)
cmake -DCMAKE_C_COMPILER="/home/wzp/workspace/software/gcc_620_wzp/bin/gcc" -DCMAKE_CXX_COMPILER="/home/wzp/workspace/software/gcc_62

[2017-01-06 08:29] guolinke commented on #167
I think it is a cmake issue..
Did you try following:
[code]

if still not work, maybe you didn't install gcc correctly.

And this error may be the main reason:
`/home/wzp/workspace/software/gcc_620_wzp/libexec/gcc/x86_64-pc-linux-gnu/6.2.0/cc1: error while loading shared libraries: libmpc.so.2:`

http://stackoverflow.com/questions/19625451/cc1-error-while-loading-shared-libraries-libmpc-so-2-canno

[2017-01-06 16:37] PerfectWzp commented on #167
Thank you for your solution, I alreay run `cmake` and `make -j` successfully.

The problem comes from below error, I forget to set LD_LIBRARY_PATH to reference my own mpc.
"/home/wzp/workspace/software/gcc_620_wzp/libexec/gcc/x86_64-pc-linux-gnu/6.2.0/cc1: **error while loading shared libraries: libmpc.so.2: cannot open shared object file: No such file or directory**"

My error disappeared after I

[2017-01-07 03:03] littleDing opened #169 "python example not working on 32-bit system, might be type error?"
[](For bugs and unexpected issues, please provide the following information, so that we could reproduce in our system)
The python examples not working on my computer, throwing an error
"LightGBMError: Input data type erorr or field not found"

## Environment info
Operating System:
Ubuntu 14.04.5 LTS
Linux version 3.13.0-79-generic (buildd@lcy01-11) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #12

[2017-01-07 03:05] littleDing commented on #169
I install on another 64-bit Ubuntu machine, works well.
Checking the file "c_api.cpp" at line 540, it handles int32 and float32, is it where the problem is ?

[2017-01-07 03:40] guolinke commented on #169
we didn't test it on 32bit systems.
Which example you run? I will try to figure why.

[2017-01-07 07:50] guolinke commented on #169
@littleDing  can you try latest code?

[2017-01-07 07:50] #167 closed

[2017-01-08 01:33] Simon-Liu622 opened #170 "Can lightgbm support train on disk?"
I have a big train file almost 40gb, but my mac memory only 16gb,how can i train my train_data

[2017-01-08 01:36] guolinke commented on #170
@Simon-Liu622

I think it is ok to train in memory.

try following:
1. use Command line version LightGBM.
2. Set ```two_round=true```

[2017-01-08 02:17] guolinke opened #171 "Plot functions for Python/R wrapper"
welcome to contribute for this feature.

[2017-01-08 02:24] guolinke commented on #19
Finish almost all features except CV(will add soon).
welcome to have a try and open PR to refine it.

[2017-01-08 19:48] Laurae2 opened #176 "R LightGBM train error (unknown parameter 143286)"
## Environment info
Operating System: Windows 8.1
CPU: Intel i7-4600U

## Error Message:
`
[LightGBM] [Warning] Unknown parameter 143286
`

Then it crashes the R session.

![image](https://cloud.githubusercontent.com/assets/9083669/21753004/27e502ea-d5e3-11e6-97a5-65915252035a.png)

143286 seems to be the reference to the number of elements in the train dgCMatrix data.

![image](https://cloud.gith

[2017-01-08 20:25] Laurae2 commented on #176
I was compiling the R package from separate folders, and it seemed to compile successfully without any warning. In fact it doesn't (even if it does), it's why I was getting such error when running LightGBM.

PR #177 "fixes" it.

[2017-01-08 20:25] #176 closed

[2017-01-09 05:21] guolinke commented on #19
close this.
open the new issues if need other features in R-package.

I also want to call one or two community member to help maintain R-package, including refine R codes/documents, release package on CRAN and solve issues/PR related to R. Feel free to contact me if you like to do it.

[2017-01-09 05:21] #19 closed

[2017-01-09 05:32] #170 closed

[2017-01-09 23:26] Laurae2 opened #183 "R package: predictions do not match with in-training predictions"
## Environment info
Operating System: Windows 8.1
CPU: Intel i7-4600U

## Error Message:

Not an error message but the predictions do not match with the expected result.

To catch the test predictions during training, we use a custom evaluation function which fetches the predictions (PRED1) and assign them to a global environment, then returns 0 (which returns an error to stop LightGBM).

Once we

[2017-01-10 00:10] guolinke commented on #183
@Laurae2 the reason is LightGBM uses C's ```float``` for inner prediction for training. This can reduce memory cost for store gradients, and also can have a litter bit speed-up.
But for the prediction, it uses C's double.

[2017-01-10 01:00] trungngv opened #185 "R package: could not find function startsWith"
I'm just trying to run the provided example to see if the R package works. It gives the following error.

## Environment info
Operating System: Ubuntu 14.04
CPU: Intel(R) Xeon(R) CPU E5-2670 v2 @ 2.50GHz

## Error Message:
Error: could not find function "startsWith"

## Reproducible examples

[code]

## Steps to reproduce

Run the demo example code

[code]

[2017-01-10 01:43] guolinke commented on #185
what is the version of your R ?

[2017-01-10 10:15] neal668 opened #188 "Are there more Python examples in classification and prediction?"
## Environment info
Operating System: Centos 6.0
CPU: Core i5-3320M

## Error Message:
The listed three python examples is good. However, can please provide more examples in classification and predictions (include the use of parameters)?

[2017-01-10 10:20] wxchan commented on #188
What kind of examples would you like? You can give us an example what task you are facing.

[2017-01-10 10:39] neal668 commented on #188
@wxchan Hi, I am using LightGBM for some classification task in Python. By following the examples provided, I notice LightGBM can provide the leaf index in prediction process, in basic.py, as shown below

pred_leaf : bool
            True for predict leaf index

Setting this parameter as True, I didn't see the predicted leaf index thus I hope could provide some more  Python examples. Thank you for

[2017-01-10 11:00] Laurae2 commented on #183
@guolinke Is it possible to keep consistency by either using all predictions to `float`, or all to `double`? (or use the same prediction precision from the shell)

This way, the metrics would be reproducible (along with how LightGBM is doing boosting - currently the only way to get the "real" validation predictions from the model is to use a "hacky" metric evaluation).

[2017-01-10 11:50] wxchan commented on #188
just set pred_leaf=True

for example, change https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/simple_example.py#L50 to `y_leaf = gbm.predict(X_test, pred_leaf=True)`

[2017-01-10 12:11] guolinke commented on #183
@Laurae2  can you try the latest commit ?
BTW, before you compile the new one, you should remove the old ```.o``` files in your ```R-package/src/``` folder.

[2017-01-10 12:37] neal668 commented on #188
@wxchan  Many thanks. I tried this method. However, in the simple-example.py, some mistake occurs. I prefer this example is on regression instead of classification.

![image](https://cloud.githubusercontent.com/assets/15664226/21806400/f5abcb1e-d773-11e6-8c4d-4adf0be46245.png)

After delete this code, the program worked while I could not find where the result was saved. Thus I said I am not clear

[2017-01-10 12:57] Laurae2 commented on #183
I deleted the previous R package, locally compiled LightGBM, and installed the R package. Tested also via install_github to check if I didn't do anything wrong (like compiling the wrong commit), same results. I provide lot of logs for troubleshooting, and it's an issue on only one observation.

I did exactly what you told me to do. Still the same issue (but NOT the same output, it's a good sign, s

[2017-01-10 15:08] littleDing commented on #169
@guolinke
The latest code does work now !

Thanks a lot & Cheers :-)

[2017-01-10 15:08] #169 closed

[2017-01-10 15:10] guolinke commented on #183
@Laurae2  Thanks, It helps me to find a bug inside of LightGBM.
It should be fixed now. please try the latest code.

[2017-01-10 15:21] Laurae2 commented on #183
@guolinke This runs perfect now! Perfect matching of predictions. Bug fixed 👍

I leave this open to run benchmarks again on LightGBM to check RAM efficiency / performance. I will repost there soon to say if changing from float to double did impact something & close this issue afterwards.

[code]

[2017-01-10 16:06] cbecker opened #189 "Incorrect bin bounds for toy example"
hi. First thanks for LightGBM, I am so far very happy with it.

I found out that there is an issue with the bin finder, in a very simple example.
To reproduce, you can compile this example https://gist.github.com/cbecker/fb628bec3c179fc49617ba369cbb1aab

It creates a 2-class toy example, where each class is a unit-standard-deviation Gaussian, with means 0 and 10 respectively. Training error should

[2017-01-10 17:15] Simon-Liu622 opened #190 "when i use csr_matrix as my data format,need i set which col is the label?"
Is there any example for this,Only i find this:
csr = scipy.sparse.csr_matrix((dat, (row, col)))
train_data = lgb.Dataset(csr)
but i think the code can't know which is the label?

[2017-01-10 18:18] Laurae2 commented on #183
Back with the benchmark I wanted to do: the impact using double instead of float is less than 1.5% (up to 3 seconds for a 200 seconds run). Not much an issue so far.

@guolinke Would you rather put all to float or all to double, if it were to squeeze (or not) that 1.5% performance boost? (you can close this issue once you found out what is the best design for LightGBM as you know more than myself

[2017-01-11 00:13] trungngv commented on #185
I am running R version 3.2.3 (2015-12-10).

[2017-01-11 00:22] guolinke commented on #185
@trungngv I see. The ```startsWith``` is added at R 3.3 .
I will change it to adapt lower version of R.

[2017-01-11 00:49] guolinke commented on #189
@cbecker
The error is caused by this line: https://gist.github.com/cbecker/fb628bec3c179fc49617ba369cbb1aab#file-main-cpp-L63
it should be ```dset.reset( loader.CostructFromSampleData(sampleData, numSamples, numSamples) );```
The second argument is ```sample_cnt```, not the number of features.

BTW, For 2 class classification, you can use ```binray```.

[2017-01-11 00:50] guolinke commented on #185
fixed

[2017-01-11 00:50] #185 closed

[2017-01-11 00:52] guolinke commented on #190
@Simon-Liu622
you can should pass an additional array as label.
[code]

[2017-01-11 00:52] #190 closed

[2017-01-11 01:01] guolinke commented on #183
@Laurae2 Thanks for the benchmark.
Prediction is not the overhead in training, it only be called one time in one iteration. So I think we can keep it double now.

[2017-01-11 01:02] #183 closed

[2017-01-11 01:12] guolinke commented on #188
@neal668
Just comment this line: https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/simple_example.py#L52

the prediction result is saved to the return value of Line50

[2017-01-11 01:53] neal668 commented on #188
@guolinke Thank you for your help

[2017-01-11 01:53] #188 closed

[2017-01-11 01:57] Laurae2 opened #191 "R Package: force silence?"
Is there a way to for silence in the R package? I'm coding a stochastic optimizer which makes use of LightGBM, and LightGBM writes so much to the interactive console that I cannot use my optimizer without silencing it (it slows down heavily over time - I would need about 1M, or even more boosting iterations scattered across 10K+ models, R interactive console can't bear 1M lines in console).

The s

[2017-01-11 02:54] Simon-Liu622 commented on #190
thx a lot!

[2017-01-11 03:07] guolinke commented on #191
@Laurae2 I separate the verbose and record now.
```verbose`` will control all message output and set ```record=TRUE``` will save eval result into booster.

[2017-01-11 07:47] cbecker commented on #189
Thanks, that fixes it.

Can I find the documentation of the C++ api somewhere? It took me a while to make this example, as I was missing some information and had to guess it from how the C api files.

I am closing this issue, problem solved :)

[2017-01-11 07:47] #189 closed

[2017-01-11 08:24] geoHeil opened #192 "question [python-package] pandas and categorical support"
How can I create a `lgb.Dataset` directly from `pandas`?

`train_data = lgb.Dataset(data, label=label, feature_name=['c1', 'c2', 'c3'], categorical_feature=['c3'])
`shows how to use categorical features.
Can these be inferred directly from pandas `categorical` datatypes or must these be specified manually?

[2017-01-11 08:40] wxchan commented on #192
cannot infer yet. it's a good feature to be added.

[2017-01-11 09:38] guolinke commented on #192
@wxchan I think you can help to add following features in python package.

1. auto infer categorical features
2. convert them to int type (for all categorical features, not just inferred)

[2017-01-11 09:54] geoHeil commented on #192
If you convert to int how would new categorical levels be handled?
Guolin Ke <notifications@github.com> schrieb am Mi. 11. Jan. 2017 um 10:39:

[2017-01-11 10:44] guolinke commented on #192
@geoHeil After this fix, for the non-numerical type features, it will be treated as categorical features.
For other categorical features that is int type, you still need to specific them in the ```categorical_feature```

[2017-01-11 17:03] Laurae2 commented on #191
@guolinke Thanks, works perfectly, it requires the three following parameters to force full silence and keep recording:

[code]

This will be very useful for any batch users who wants to see only the issues/errors.

[2017-01-11 17:03] #191 closed

[2017-01-11 18:37] cbecker opened #195 "dllexport for Booster and other classes"
Is there an interest in exporting classes such as Booster, ObjectiveFunction, Dataset and other classes/functions?

I am writing code that deals with those classes directly and needs them exported, which for Windows needs adding the `dllexport` decl. I can create a PR with the changes if there's interest of having this in the LightGBM upstream repo.

[2017-01-11 19:43] vruusmann commented on #192
Would it be possible to "export" categorical feature information also in `GBDT::SaveModelToFile` method? The section of feature importances could be followed (or preceded) by another section, which makes the assumption about feature type and the valid value space explicit.

For example, feature specification for the [Auto-MPG dataset](https://archive.ics.uci.edu/ml/datasets/Auto+MPG):
[code]

Perh

[2017-01-11 19:48] vruusmann commented on #192
The proposed "ad hoc" one-hot-encoding would also address the situation, where Pandas data column contains string values.

[2017-01-11 23:33] coforfe opened #196 "[R] [OSX] Installation error - Compilation error"
Hello,

Thanks for your effort in porting this into R.
I have just tried to install it in my Mac (just immediately after opening RStudio) using the command you recommend:

[code]
And I get this error:

[code]
This is the `sessionInfo()`:

[code]

Please let me know if you need more details.

Thanks,
Carlos.

[2017-01-12 01:04] guolinke commented on #196
it is the openmp error in osx.
You can find the quick solution at https://github.com/dmlc/xgboost/issues/276 .
We will fix this soon as well.

@wxchan Did you have tried compiled by clang-omp/clang-omp++ ?
Is its performance better than gcc in oxs ? refer to https://github.com/Microsoft/LightGBM/issues/89

[2017-01-12 02:46] BonnyRead commented on #196
Hi there, I am trying to install this package from github as well.
Yet, the issue also occurs to me while installing the package.
I have seen the reference you tag above, but I could not solve it by myself.
Is there any technical support or a simple guide to solve this problem?
Thanks in advance for your help

[2017-01-12 02:49] guolinke commented on #196
@BonnyRead what is your environment ?

[2017-01-12 02:53] BonnyRead commented on #196
I am sorry for forgetting post this crucial information.

My environment is Mac OS Sierra 10.12.1

This is my session info in R

R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.1

locale:
[1] zh_TW.UTF-8/zh_TW.UTF-8/zh_TW.UTF-8/C/zh_TW.UTF-8/zh_TW.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods

[2017-01-12 02:58] guolinke commented on #196
OK. A quick solution:
1. install gcc:
[code]
2. edit and add following in ```~/.R/Makevars```
[code]

[2017-01-12 05:40] BonnyRead commented on #196
Thanks for your quick reply
It takes me a long time to set gcc.
Even though I installed it, it does arouse another error.
It seems that it is about the edited file ~/.R/Makevars

[code]

[2017-01-12 05:44] guolinke commented on #196
@BonnyRead It is still compiled by clang++, not gcc...

[2017-01-12 06:56] geoHeil commented on #192
@vruusmann still it is unclear to me if this would only work with learned labels e.g. the ones present during training or if new ones would be supported as well. In case of the ad hoc one-hot-encoding this would mean that new (and thus unknown) columns would be generated.

[2017-01-12 07:33] ClimbsRocks opened #198 "Python scikit-learn predict_proba returns probabilities > 1"
## Environment info
Operating System: Mac OSX Sierra
CPU: 2013 2 GHz Intel Core i7

## Error Message:
None in LightGBM

Sorry I can't provide a data example, but we're working with our company's non-public data.

The issue is that predict_proba returned values > 1, which can obviously break some scoring functions, and does not make logical sense.

That said, as the user, I personally would want to

[2017-01-12 07:34] guolinke commented on #198
@ClimbsRocks Can you share for a example code?

[2017-01-12 07:36] chivee commented on #195
Sure, any PR is welcoming. Porting these classes would contributed to the customization in the binding language.

[2017-01-12 07:36] wxchan commented on #198
it happened with binary classification or multiclass?

[2017-01-12 07:39] ClimbsRocks commented on #198
Ah, just realized the lower bound isn't bounded at 0 either.

  File "/Users/preston/anaconda3/lib/python3.5/site-packages/sklearn/metrics/classification.py", line 1807, in _check_binary_probabilistic_predictions
    raise ValueError("y_prob contains values less than 0.")
ValueError: y_prob contains values less than 0.

This is all inside of [auto_ml](https://github.com/ClimbsRocks/auto_ml), a lib

[2017-01-12 07:39] ClimbsRocks commented on #198
@wxchan binary classification

[2017-01-12 07:42] ClimbsRocks opened #199 "Python scikit-learn API difference: .feature_importance_ vs. .feature_importances_"
This is a minor annoyance:

scikit-learn has an "s" at the end of `.feature_importances_`, while lgbm does not: `.feature_importance_`. It's easily worked around, but thought I'd mention it here. Happy to submit a PR for this if you guys are ok with the change!

[2017-01-12 07:44] guolinke commented on #199
@wxchan

[2017-01-12 07:47] wxchan commented on #199
I see, you can create a pr to change it, don't forget to change the docs.

[2017-01-12 07:54] BonnyRead commented on #196
I see what's your point, but I could not find a way to switch the compiler of Xcode.

I am not familiar with this issue, R is the only language that I am able to use.

Is this project connected to C or C++.

Google only shows some discussions about how to switch compiler of a C++ project in Xcode

[2017-01-12 08:21] guolinke commented on #196
@BonnyRead you are using xcode? not command line to compile ?
solution 1: install gcc for xcode: https://www.cyberciti.biz/faq/howto-apple-mac-os-x-install-gcc-compiler/
solution 2: use comand line to install R package.
I don't have a osx to test.

@wxchan it seems need to change all <omp.h> to  <libiomp/omp.h>

[2017-01-12 08:25] guolinke commented on #198
@ClimbsRocks can you provide more details ? e.g. the functions you called, the parameters ..

[2017-01-12 08:51] vruusmann commented on #192
Here's an example LightGBM text file for the abovementioned Auto-MPG dataset: https://github.com/jpmml/jpmml-lightgbm/blob/master/src/test/resources/lgbm/RegressionAuto.txt

It's possible to extract the set of "active" category values for some feature by observing which values are used as thresholds (ie. filter threshold values where `split_feature[i] == $feature && decision_type[i] == 1`). For ex

[2017-01-12 08:51] ClimbsRocks opened #202 "Python scikit-learn GridSearchCV bagging_freq bug"
Running GridSearchCV to test out a few theories, and ran into this bug:

LightGBMError(b'Parameter bagging_freq should be of type int, got [0.7]',)

Obviously for the sklearn interface, this is called subsample_freq at the user level, but gets translated to bagging_freq internally.

The rest of the parameters appear to be fine, it's just this one that's thrown an error so far.

For what it's worth

[2017-01-12 08:55] guolinke commented on #202
@ClimbsRocks
subsample_freq is the frequency of re-subsample. e.g if you set it to 1, it will re-sample in every iteration.

[2017-01-12 09:17] #199 closed

[2017-01-12 09:19] BonnyRead commented on #196
I am being confused by the information came from internet.

Since i search on compiler gcc and the xcode shows.

Hence, I think it is all about Xcode. The truth is that I compile with command line.

All in all, I could not install from devtools::install_github, right?

The thing is I have not install package without Rstudio.

[code]
This code seems like doesn't work as I imagined.

[code]

I am ne

[2017-01-12 09:23] chivee commented on #196
@BonnyRead , Tried to complied LightGBM through console will make it easier for installing.

`R-pacage` is under the source folder of LightGBM, please try to update the source code to the latest one by

`git pull` under the source folder of LightGBM

[2017-01-12 09:25] guolinke commented on #196
@BonnyRead
not, you don't need to create an new folder.
I think you can still use install_github.
BTW, can you paste the content of your ```~/.R/Makevars``` ?

[2017-01-12 09:37] BonnyRead commented on #196
@chivee I don't get what you mean.
Had I better to install the package under the console of Rstudio.
Also, what kind of source code should I update. I do not see what R-pacage folder under LightGBM.

@guolinke Here it is.
[code]
Actually, I copy entirely from your post. Something goes wrong?

[2017-01-12 10:21] guolinke commented on #196
@BonnyRead
It is very weird. Can you also try to install from local?
[code]
It still not success, paste your error message here.

[2017-01-12 10:28] wxchan commented on #196
try add `CXX1X=g++-6` to `~/.R/Makevars`

but I still fail to install R-package, error like following:
[code]

[2017-01-12 10:34] guolinke commented on #192
@vruusmann
You want a section that contain more information about features. e.g. feature_name, feature_type and value_range, right?
And if the feature values in prediction data is not in the valid range/value, throw errors?

However, I think it cannot see all values of features in training data.
In my opinion, I think it should be able to predict the data with un-seen value as well.

[2017-01-12 10:44] guolinke commented on #196
@wxchan add ```-lgomp``` to ```PKG_LIBS``` in R-package/src/Makevars.

[2017-01-12 11:12] vSkullv commented on #74
When can we expect the C# Nuget package to be finished?

[2017-01-12 11:36] wxchan commented on #198
seem xgboost has same issue: https://github.com/dmlc/xgboost/pull/1899

is there any constraint to ensure the output between 0 and 1?

[2017-01-12 12:03] guolinke commented on #198
@wxchan really? I think the output after sigmoid should be in (0,1)

[2017-01-12 13:06] wxchan commented on #198
what if sigmoid < 0?

[2017-01-12 13:33] guolinke commented on #198
@wxchan  https://github.com/Microsoft/LightGBM/blob/master/src/boosting/gbdt.cpp#L658-L672

if sigmoid <= 0, it will not use the  sigmoid transform.

https://github.com/Microsoft/LightGBM/blob/master/src/boosting/gbdt.cpp#L69-L74

And sigmoid will only be set when using "binary" objective.

So the only possible way is calling wrong objective function, e.g. regression, or use custom objective.

[2017-01-12 14:36] cbecker commented on #195
Fixed with https://github.com/Microsoft/LightGBM/pull/203

[2017-01-12 14:36] #195 closed

[2017-01-12 15:41] vruusmann commented on #192
It would be very nice if LightGBM exported all information that it has about features, as that would make it easier to 3rd party applications to get a quick overview of model's "schema".

Currently, the header section only contains the list of feature names. The operational type (continuous vs categorical) can be inferred by parsing tree section(s) and checking the value of corresponding `decision

[2017-01-12 20:31] coforfe commented on #196
Hello,

I got a little more progress in the compilation process but still with errors.
This is what I did.

+ First I have reinstalled `gcc` with
[code]

+ I tried some different combinations in `Makevars` file. And this is the one that I finally used, that got a further progress:

[code]

And these are the error messages:

[code]

Thanks,
Carlos.

[2017-01-12 22:42] ClimbsRocks commented on #202
@guolinke : yeah, i think this error is just a data type error.

It's getting a list `[0.7]` instead of a float `0.7`. I removed this from my grid search and the rest of it worked fine. i wouldn't expect this to be a super important param to tune given the other options available, but thought i'd mention it since it threw an error.

[2017-01-12 22:44] ClimbsRocks commented on #198
@guolinke : that's exactly it! I was just copy/pasting the example code to see how quickly i could get this up and running for a quick MVP before bed, and left `objective='regression'` in there for the classifier. at some point i'll try to submit a PR for either user input validation, or an example update.

[2017-01-12 22:44] #198 closed

[2017-01-13 02:10] BonnyRead commented on #196
@guolinke I guess you ask me to paste your code on my terminal
This is what i get after paste it into terminal and run

[code]
It seems that I still use clang++ as my compiler.

However, I reenter the code for installing gcc again.
[code]
Seems like I have already done that before.

Is there any necessary procedure which need to be done in terminal to switch my compiler?