[2020-08-18 02:06] shiyu1994 commented on #3244
Sure.

[2020-08-18 06:33] MaxHalford commented on #3312
Fair enough!

[2020-08-18 06:33] #3312 closed

[2020-08-18 08:21] rohan-gt opened #3313 "[Feature Request] Auto early stopping in Sklearn API"
Is it possible to perform early stopping using cross-validation or automatically sampling data from the provided train set without explicitly specifying an eval set?

[2020-08-18 09:10] guolinke commented on #3313
lgb.cv supports early stopping, does it meet your request?

[2020-08-18 09:48] julioasotodv commented on #3200
Keep in mind that LightGBM already includes Quantile Regression. Even though it may not enjoy the probabilistic properties of a *true* bayesian forecast, it is still the most used method nowadays for variance forecast estimation.

[2020-08-18 10:00] MotoRZR commented on #3200
Quantile regression is fine if you're only interested in specific quantiles.  If you want to the full distribution it's not as useful.  Also, with quantile regression it's inefficient to have a model for each quantile with different sets of hyperparameters.

With neural nets there are various ways to do this like:
-variational inference i.e., have two targets for the network, the mean and standard

[2020-08-18 10:05] MotoRZR commented on #3200
This article also points out some of the flaws of quantile regression.  Not specifically LightGBM related but still relevant.

https://medium.com/@qucit/a-simple-technique-to-estimate-prediction-intervals-for-any-regression-model-2dd73f630bcb

[2020-08-18 10:17] julioasotodv commented on #3200
@MotoRZR yes, I recall reading that article a while ago.

IMO, the most interesting approach is the one where the parameters of a distribution are estimated (this is, the first one you mentioned two messages above). In fact, that distribution parameter estimation method is what Amazon uses in their [DeepAR paper](https://arxiv.org/abs/1704.04110) (which happens to be the default model in their AWS

[2020-08-18 11:24] rohan-gt commented on #3313
I was actually looking for the same feature within the Sklearn API

[2020-08-18 16:05] dishkakrauch opened #3316 "LightGBM GPU Python 3.7 CUDA 10.1 Windows Server boost 1.73 success compilation but running error"
## How you are using LightGBM?

Python package

LightGBM component: API

## Environment info

Operating System: Windows Server 2016

CPU/GPU model: GPU Tesla V100 32 GB

C++ compiler version: Visual Studio 16 2019

CMake version: 3.8.1

Java version: None

Python version: 3.7.7

R version: None

Other: None

LightGBM version or commit hash: e9fbd19d7cbaeaea1ca54a091b160868fc5c79ec

## Error messag

[2020-08-18 16:36] dishkakrauch commented on #3316
@StrikerRUS can you help me out again?

[2020-08-18 22:41] glarb opened #3317 "segfault in LGBM_BoosterResetParameter()"
Hello, in 2.3.2 and 3.0.0 the following segfaults in LGBM_BoosterResetParameter():

int out_num_iterations = 0;
BoosterHandle myBooster = 0;
int ret = LGBM_BoosterLoadModelFromString( model_str, &out_num_iterations, &myBooster );
if ( (!ret) && myBooster ) {
  ret = LGBM_BoosterResetParameter( myBooster, "num_threads=1" );
}

The crash occurs in gpdt.cpp
void GBDT::ResetConfig(const Config* config

[2020-08-19 08:24] btrotta opened #3319 "[R-package] Support trees with linear models at leaves"
PR #3299 implements trees with linear models at the leaves. I have only tested this with the Python package, and it's possible that some additional changes are needed to get it working for R. To calculate the linear model, we need a Dataset object that contains the full feature data (for numerical features, not needed for categorical), rather than just the binned data. Therefore, when we create th

[2020-08-19 09:08] lorenzwalthert opened #3320 "R README installation instruction hierarchy"
The README in `master/R-package` has a title hierarchy that is a bit confusing to me. Here I summarized the part of it that I find hard to follow:

[code]

I am excited about recent efforts to distribute this package via CRAN, so maybe this README is WIP anyways and the issue is redunant. Also, since it's quite a long README and contains some information for maintainers and not end users, maybe it

[2020-08-19 09:38] rohan-gt opened #3321 "[Enhancement] Add default ranges for hyperparameter tuning"
Is it possible to add good default conservative ranges for each of the hyperparameters for tuning purposes in the documentation? By this I mean something like [0, 100] instead of [0, Infinity] based on results from testing on a lot of different datasets so that these ranges can directly be used for tuning without worrying about what the right values should be each time?

Another alternative could

[2020-08-19 12:38] guolinke commented on #3317
ping @shiyu1994 for investigating.
@glarb could you provide a reproduce code example. It seems your are using c++ api directly. it will be better if you can share a code repo for reproducibility.

[2020-08-19 14:53] StrikerRUS commented on #3321
Hi @rohan-gt !
We already have a such feature request: #2617. You can vote for that in our feature request hub: https://github.com/microsoft/LightGBM/issues/2302#issuecomment-674561882.

[2020-08-19 14:53] #3321 closed

[2020-08-19 14:53] jameslamb commented on #3320
Hi @lorenzwalthert , thanks for raising this and for using `LightGBM`!

This README has grown quite large, you're definitely right. We've tried to preserve prior section headings as much as possible, so that old links people have bookmarked or posted in stack overflow answers still work.

The CRAN maintainers are taking a much-deserved break right now (https://cran.r-project.org/), but when they'r

[2020-08-19 14:57] jameslamb commented on #3319
Thanks @btrotta ! If no one else picks this up before me, I'll come back and get it at some point.

For the issue with diagnostic-suppressing pragmas, we might have to do something like we do for the LightGBM ones: https://github.com/microsoft/LightGBM/blob/1804fd12ea240af438a8c2d6c67d6a0f9bdf4c5e/build-cran-package.sh#L45

[2020-08-19 14:58] jameslamb commented on #3319
I just added this to #2302 in the R package section, so based on our convention I'll close it.

Anyone reading this issue...please leave a comment if you'd like to create a pull request for it and I can re-open it!

[2020-08-19 15:07] StrikerRUS commented on #3316
Hi @dishkakrauch !

Sure, let's see what is going wrong.

Compilation itself looks fine.

Could you please add `verbose` param and post produced logs here?
[code]

[2020-08-19 17:16] glarb commented on #3317
Hi, I can reproduce the segfault using tests/c_api_test; is this sufficient?

`
import test_
import ctypes

test_.test_booster()

num_total_model = ctypes.c_long()
booster = ctypes.c_void_p()
test_.LIB.LGBM_BoosterCreateFromModelfile (
  test_.c_str('model.txt'),
  ctypes.byref(num_total_model),
  ctypes.byref(booster)
)

print ( 'this segfaults:', flush=True )
test_.LIB.LGBM_BoosterResetParameter

[2020-08-19 19:27] dishkakrauch commented on #3316
Thanks for the fastest reply @StrikerRUS
Here we go with param verbose=4:
![debug1](https://user-images.githubusercontent.com/34490641/90680894-38c47a80-e26b-11ea-9285-c3fedfc98fbb.png)

[2020-08-19 19:41] Chianghung commented on #3289
lgb_train = lgb.Dataset(X_train,label=y_train, free_raw_data=True,categorical_feature=['sta','time'])
lgb_eval = lgb.Dataset(X_test, label=y_test, reference=lgb_train)
print('Start training...')
gbm = lgb.train(params,lgb_train,categorical_feature=['sta','time'],valid_sets=lgb_eval,num_boost_round=10000,keep_training_booster=True,early_stopping_rounds=10)
gbm = lgb.train(params,lgb_train,valid_set

[2020-08-19 20:50] StrikerRUS commented on #3316
Thanks for the logs!

What is your CPU?

I think you could try to play around with `gpu_platform_id` and `gpu_device_id` params: https://lightgbm.readthedocs.io/en/latest/Parameters.html#gpu-parameters.

[2020-08-19 20:52] lorenzwalthert commented on #3320
Thanks @jameslamb. I did not think of back-linking 😊.

If you want to preserve all these links, that sounds reasonable. Or thinking about which headers were there a long time already and can't be removed, while some more recent ones are probably not back-linked as much.

I don't know if you can change the hierarchy of the header with preserving linking, but as I said above, you have `Installing th

[2020-08-19 22:00] jameslamb commented on #3320
oooooo I see. Ok so basically after the `### Installing the CRAN package`, it isn't obvious that you're DONE and can just use it. So maybe it should be like

[code]

[2020-08-19 23:23] tcleberg opened #3325 "lightgbm.sklearn estimators pass sklearn.utils.check_is_fitted() when fitted"
## Summary

Currently, when fitted, these estimators raise errors when `sklearn.utils.check_is_fitted()` after having their `fit()` methods called. This causes problems with anything that uses this check- for example, creating [partial dependence plots](https://scikit-learn.org/0.18/auto_examples/ensemble/plot_partial_dependence.html).

## Motivation

To have the `lightgbm.sklearn` estimators oper

[2020-08-19 23:31] guolinke commented on #3289
You can try to map the category to the continued int range, start from 0.

[2020-08-19 23:52] StrikerRUS commented on #3325
Please refer to https://github.com/microsoft/LightGBM/issues/3014#issuecomment-618056991.

[2020-08-19 23:52] #3325 closed

[2020-08-20 00:24] StrikerRUS commented on #3014
Hello @adrinjalali !

Have scikit-learn team made any decision for using properties as indicators of fitted estimators: https://github.com/microsoft/LightGBM/issues/3014#issuecomment-618056991?

Also, it looks like internally some scikit-learn estimators uses properties for some attributes (`coef_`, `intercept_`, `n_iter_`, for instance). Does it mean that they are incompatible with scikit-learn t

[2020-08-20 00:32] StrikerRUS commented on #3293
@guolinke Please share your thoughts about https://github.com/microsoft/LightGBM/issues/3293#issuecomment-671356698

[2020-08-20 01:43] guolinke commented on #3293
@StrikerRUS
My purpose to release the 3.0.0rc1, is to have a time buffer to include some on-going new features into 3.0.0 .
If the next version is 3.1.0, I should release the 3.0.0 directly..

[2020-08-20 03:30] jameslamb commented on #3293
I agree, the next release should be 3.0.0 and we should do it ASAP. That was the purpose of having a release candidate.

[2020-08-20 05:18] lorenzwalthert commented on #3320
Yes. For me, it's clear that the first two ### headers are alternative methods for installation, but the third header does not really fit in there, so which an explanation could definitively help.

[2020-08-20 05:46] dishkakrauch commented on #3316
My CPU is Interl(R) Xeon(R) Gold 6248 2.50 GHz.

I've tried all combinations from -1 to 1 with params `gpu_platform_id` and `gpu_device_id` but unfortunatelly nothing changed.

[2020-08-20 07:31] Chianghung commented on #3289
Thank you very much.Problem solved,model is much smaller.New problem:categorical_feature is used,but the model file has none categorical_feature information as follows:
 [categorical_feature: ]
pandas_categorical:[]

[2020-08-20 07:32] Chianghung commented on #3289
Thank you very much.Problem solved,model is much smaller.New problem:categorical_feature is used,but the model file has none categorical_feature information as follows:
[categorical_feature: ]
pandas_categorical:[]

[2020-08-20 09:10] guolinke commented on #3289
@Chianghung
In this case, it is better to pass the numpy object to LightGBM.
like
[code]
And do the same preprocessing before prediction.

[2020-08-20 13:55] A4Ayou opened #3326 "Prediction for the Learn-to-Rank Application"
Hello,

I developed a learning-to-rank (LTR) model by setting the objective to `lambdarank`, and training the model using the `.fit()` function with an LGB Data Set where I passed (1) the features data, (2) the label data, and (3) the `group `of the query.

To predict the results, I am using the `.predict()` function. But this function only takes as input the array of features, and do not consider

[2020-08-20 14:03] guolinke commented on #3326
Group is not needed in prediction time. The prediction results are pointwise, and you can rank them by yourself.

[2020-08-20 14:07] jameslamb commented on #1222
Adding this comment to this discussion: https://github.com/microsoft/LightGBM/pull/3188#issuecomment-677278222

hey @randxie are you still interested in trying this :stuck_out_tongue:

[2020-08-20 14:18] A4Ayou commented on #3326
Thank you for the quick answer !

Follow-up question (just by curiosity): would it be more efficient to run the prediction with the pairwise approach (as it is done for training)? Or is it not feasible?

[2020-08-20 14:26] guolinke commented on #3326
I think the current solution (listwise) is more efficient than pairwise.

[2020-08-20 14:29] A4Ayou commented on #3326
But the lambdarank implemented in LightGBM training module is pairwise and not listwise, correct?

And independent from this question, why are we using pointwise approach instead of pairwise/listwise for prediction?

[2020-08-20 15:02] StrikerRUS commented on #3293
@guolinke

I thought that `3.0.0rc1` and `3.0.0` should be identical in terms of functionality. But I might be wrong.

[2020-08-20 15:13] StrikerRUS commented on #3316
For all combinations the error is the same `Unknown OpenCL Error (218)`, right?

Could you please recompile LightGBM with GPU debug mode? Just uninstall the current package and run all steps from your original message, but before that change this line to `#define GPU_DEBUG 4`. It should give additional info from the GPU learner.
https://github.com/microsoft/LightGBM/blob/4d8d289d41d88b2b3d280aff42

[2020-08-20 20:57] glarb commented on #3317
Btw @shiyu1994 it doesn't matter what the parameter string is, or even if it's empty, the segfault always occurs if a reset is attempted after model loading.
Thanks.

[2020-08-20 22:01] rsdmse commented on #3286
I just tested that `distroless` works too. Again, same performance on GPU. The image size is further reduced to merely **14 MB**. Please feel free to test this out:
[code]

[2020-08-20 23:34] guolinke commented on #3326
@A4Ayou
it is listwise, as all pairs in one list are used in training. And then, based on the scores of all pairs, the pointwise score is aggregated. In short, the lambdarank will calculate the score listwise, then reduce it pointwise. and the tree is learned to aggregated pointwise score. Therefore, it does not need to use listwise in prediction.

[2020-08-20 23:37] guolinke commented on #3317
@glarb I guess the resetparameter is designed for the training, not for the prediction.
In prediction, there is not `Ronfig` object in `Booster`, and cause the problem.
To reset num_threads, you can simply use `omp_set_num_thread()` in c++ code.

[2020-08-21 00:54] glarb commented on #3317
Thanks @guolinke.

In the c_api.h comments for LGBM_BoosterPredictForMatSingleRowFast():

That's my intention of using LGBM_BoosterResetParameter() once before many calls to LGBM_BoosterPredictForMat().  Why bother parsing the parameter in every call to LGBM_BoosterPredictForMat()?

It's nice that the new *FastInit() stuff could be used to configure parameters once for single-row predict, but it s

[2020-08-21 02:23] jameslamb commented on #3320
ok makes sense, thank you! I'll take a shot at re-writing it and will ask for your feedback on the PR.

I hope that a week from now, I can tell you we're on CRAN :sunglasses:

[2020-08-21 06:35] dishkakrauch commented on #3316
![datasets_503819_1433215_debug compile 1](https://user-images.githubusercontent.com/34490641/90859840-a10d7c00-e391-11ea-8d86-12a50e8cdc65.png)
![datasets_503819_1433215_debug compile 2](https://user-images.githubusercontent.com/34490641/90859856-a7035d00-e391-11ea-9079-62e9d6d6365c.png)
![datasets_503819_1433215_debug compile 3](https://user-images.githubusercontent.com/34490641/90859865-ab2f7a8

[2020-08-21 06:40] dishkakrauch commented on #3316
I accidentally closed issue, sorry.
It's reopened now!

@StrikerRUS @huanzhang12

[2020-08-21 10:25] ubbikk opened #3328 "Predictions after deserializing are inconsistent on different machines"
## How you are using LightGBM?

* Python package

## Environment info

Operating System: Deep Learning AMI (Ubuntu 16.04) Version 25.3(AWS) + Ubuntu 18.04(PC)

CPU/GPU model:

C++ compiler version:

CMake version:

Java version:

Python version: Python 3.6.5 :: Anaconda, Inc. (AWS) + Python 3.6.6 :: Anaconda, Inc. (PC)

R version:

Other:

LightGBM version or commit hash: 2.3.1 (both environments)

[2020-08-22 03:35] jameslamb opened #3331 "[R-package] hex logo"
now that a logo has been introduced (#3327 ), we should add a hex logo for the R package! These are very very popular in the R world. For example, see RStudio's collection here: https://github.com/rstudio/hex-stickers

I tried creating some tonight in R using the `{hexSticker}` package. That is working really well! here's an example:

![image](https://user-images.githubusercontent.com/7608904/9094

[2020-08-22 03:50] jameslamb opened #3332 "[R-package] logo in documentation"
See the following links:

* https://github.com/microsoft/LightGBM/pull/3327#issue-471319731
* https://pkgdown.r-lib.org/reference/build_favicons.html

To close this issue, generate favicons for the `pkgdown` site for the R package.

[2020-08-23 15:45] veridone opened #3334 "How to use C_API(with category feature) to predict the data from stdin"
I want to use lightgbm like "cat file | ./lightgbm config=test.conf"
I has **category feature** in the model
I searched website to find a demo to use lightdbgm c api, but do not find
Use the LGBM_BoosterPredictForMat can covert data to predict matrix, But how to pass the category feature to the function?

[2020-08-24 03:56] guolinke commented on #3331
@jameslamb
l think unifying it to the `LightGBM` is better. The python package is also name `lightgbm`, but with this logo.
I think XGBoost also only have one logo `XGBoost`.
BTW, for hex logo, maybe it is better to use the black background?

[2020-08-24 04:00] jameslamb commented on #3331
Unlike in Python, the hex sticker practice in the R community is broadly followed, and they're always the name of the package. I feel pretty strongly that our hex sticker should be the package name. I don't believe there is a hex sticker for XGBooster's R package.

I can try one with the black backhround so you can see it! Will add one here shortly.

[2020-08-24 04:10] guolinke commented on #3331
@jameslamb okay, I see. It seems we can have a better design for the tex logo, after checking https://github.com/rstudio/hex-stickers . I will propose a new one here in several days.

[2020-08-24 04:10] guolinke commented on #3293
@jameslamb @StrikerRUS I think we can release the 3.0.0 after R's logo ready.

[2020-08-24 04:10] jameslamb commented on #3331
oh sure! sounds good, thank you

[2020-08-24 06:22] dishkakrauch commented on #3316
Sorry, but it's the same...

[2020-08-24 12:02] A4Ayou commented on #3326
Thank you !

[2020-08-24 12:02] #3326 closed

[2020-08-24 14:22] jameslamb commented on #3293
It's ok with me if we release before the logo is ready for R! Since that change only affects our documentation and can be done without needing to re-release the package.

[2020-08-24 16:42] StrikerRUS commented on #3331
@jameslamb

Sorry, I have no font to change the wording. I just remember @guolinke said that it is

but I don't know what means "slight costumed".

[2020-08-24 16:49] StrikerRUS commented on #3316
Could you please double check Jupyter Console output? It is possible that debug messages are still printed into console, while normal logs uses Jupyter Notebook Cells output. Are you sure there is no additional debug info in the console to share with us?

[2020-08-24 16:53] StrikerRUS commented on #3293
What do you think about the try to submit to CRAN before the release? I believe it will be great to sync releases.

[2020-08-24 17:31] #3266 closed

[2020-08-25 00:14] guolinke commented on #3293
yeah, it is a good idea. @jameslamb could you provide me a package to submit?

[2020-08-25 00:22] jameslamb commented on #3293
yep! I decided to take this opportunity to start working on #3283 ... just made #3335 with a first effort for that.

This package has the version changed to 3.0.0 and can be submitted to CRAN!

[lightgbm_3.0.0.tar.gz](https://github.com/microsoft/LightGBM/files/5120768/lightgbm_3.0.0.tar.gz)

[2020-08-25 00:32] jameslamb commented on #3331
looking forward to @guolinke 's designs, I think we can have some fun with this! For inspiration, here is what it looks like with a black background instead

![lightgbm-r-hex](https://user-images.githubusercontent.com/7608904/91109405-78f77480-e640-11ea-928c-4620f351ed13.png)

[code]

[2020-08-25 09:25] dishkakrauch commented on #3316
![datasets_503819_1441057_Untitled1](https://user-images.githubusercontent.com/34490641/91157387-ec939300-e6cd-11ea-92a5-d5816e36282d.png)
![datasets_503819_1441057_Untitled](https://user-images.githubusercontent.com/34490641/91157397-f1584700-e6cd-11ea-8818-876b06479df2.png)
@StrikerRUS I've checked Jupyter output, but it's empty except notices that script is saved.

[2020-08-25 13:56] StrikerRUS commented on #3316
Uh, seems that error happens very early without any additional logs.

My last idea is to try to reinstall another version of NVIDIA driver.

[2020-08-25 15:44] diego-florez commented on #3310
Hi @StrikerRUS

[2020-08-25 15:48] diego-florez commented on #3310
Hi @StrikerRUS

- problem:
`LightGBMError: GPU Tree Learner was not enabled in this build.
Please recompile with CMake option -DUSE_GPU=1`

- steps:
picture bellow
![image](https://user-images.githubusercontent.com/36284452/91196877-f8497e80-e6fa-11ea-96c0-26c58a6f4994.png)
Then on the jupyter nb I set the model params like this --> `clf = RandomizedSearchCV(lgb.LGBMClassifier(max_depth=-1, random

[2020-08-25 16:55] StrikerRUS commented on #3310
OK. Seems that you have successfully compiled dynamic library. Now you should install Python wrapper.
[code]

Please pay attention to the second line: `fatal: ...` It is possible that you are compiling some old version of the library. Remove `LightGBM` folder before `git clone` command.

[2020-08-25 20:19] dishkakrauch commented on #3316
I decided to reinstall literally everything.
Gonna asnwer you in a few days.

[2020-08-25 20:50] diego-florez commented on #3310
The problem is solved, but now I have a problem with bin size --> `LightGBMError: bin size 369 cannot run on GPU
`
I tried in params --> `clf = RandomizedSearchCV(lgb.LGBMClassifier(max_depth=-1, random_state=None, silent=True, n_estimators=200, max_bin = 63, device="gpu", gpu_platform_id = 0, gpu_device_id = 0)`

However I have the same error

Should I open another issue? As issue #3310 is solved

[2020-08-26 00:08] guolinke commented on #3293
@jameslamb I am waiting for the cran's reply. it has been a whole day.
Once the cran got accepted, we can release 3.0.0 .

[2020-08-26 00:12] jameslamb commented on #3293
great! I bet they will be slow this week, working through the backlog from vacation.

Also the delay might mean we finally made it past the automated checks and that the package is being reviewed by a human 😎

[2020-08-26 05:22] guolinke commented on #3310
@diego-florez did you use categorical features? if yes, you can try to disable them.

[2020-08-26 11:25] diego-florez commented on #3310
@guolinke yes, 11/18 are categorical, but they are set as type "categorical" and I tried with the following params `categorical_feature="auto"` (as it is recommended), `categorical_feature=my_list_of_cat_vars` (as it is recommended), `ignore_column=my_list_of_cat_vars` (as you have said -- not sure at all if this is the param you meant)

And the same error persist with the 3 of them

[2020-08-26 13:50] StrikerRUS commented on #3310
@diego-florez Are you loading your data from a file? Because `ignore_column` parameter only works in that case:

    https://lightgbm.readthedocs.io/en/latest/Parameters.html#ignore_column

[2020-08-26 14:46] diego-florez commented on #3310
the training data is a pandas dataframe previously loaded in the notebook, there is not any other solution for the problem? Maybe change categorical variables to one hot encoding?

[2020-08-26 15:32] ChipKerchner commented on #2937
@huanzhang12 Our resources are starting to be moved off this project.  We would like to get this feature approved and integrated into master ASAP if possible.  Please let us know any understanding issues.

[2020-08-27 00:47] guolinke commented on #3310
@diego-florez can you try to use label encoding for categorical features, and don't set 'categorical_feature'. Then LightGBM will treat them as numerical features.

[2020-08-27 06:45] chloe-wang opened #3337 "how to make the tree more intelligent for further splits"
## Summary

sometimes, we have a feature which is not informative for single split, because there is no information gain. However, it may make the further splits easier if we split it. For example, we have a  dataset, which has the house price as the  label,  and has features like city name, distance to the center of the city, the location etc. City name is not informative for single split if the

[2020-08-27 07:30] guolinke commented on #3293
@jameslamb finally get a reply.

Dear maintainer,

package lightgbm_3.0.0.tar.gz has been auto-processed and is pending a manual inspection of this new CRAN submission. A CRAN team member will typically respond to you within the next 10 working days. For technical reasons you may receive a second copy of this message when a team member triggers a new check.

Log dir: <https://nam06.safelinks.prote

[2020-08-27 07:31] guolinke commented on #3293
and

Thanks, we see:

   License components with restrictions and base license permitting such:
     MIT + file LICENSE
   File 'LICENSE':
     The MIT License (MIT)

     Copyright (c) Microsoft Corporation

     Permission is

Please only ship the CRAN template fior the MIT license.

Is there some reference about the method you can add in the Description field in the form Authors (year) <doi:...

[2020-08-27 14:54] jameslamb commented on #3293
oooo I know how to fix those!

For the license, we need to do this (https://github.com/tidyverse/tidytemplate/blob/master/LICENSE) instead of having the entire license text (https://github.com/microsoft/LightGBM/blob/master/R-package/LICENSE). They do that to make it easier to do automated checks and to prevent people from saying their project follows a mainstream license but then sneaking in othe

[2020-08-28 05:31] rohan-gt opened #3339 "[Bug] LightGBMError: bin size 257 cannot run on GPU"
I'm getting the following error while running the latest LightGBM GPU using these params:

[code]

on Google Colab using this Kaggle dataset: https://www.kaggle.com/c/ieee-fraud-detection. I'm dropping all the categorical variables:

`LightGBMError: bin size 257 cannot run on GPU`

[2020-08-28 16:02] dishkakrauch commented on #3316
@StrikerRUS Everything has become okay after full os reinstalling.
Thanks for your time)

[2020-08-28 16:02] #3316 closed

[2020-08-28 17:26] StrikerRUS commented on #3316
@dishkakrauch I'm glad that reinstallation solved the problem!

Thank you for the info!

[2020-08-30 03:48] btrotta commented on #3337
This is a known limitation of this type of model since the tree-building algorithm is "greedy": it makes the most loss-reducing split at each node but does not look ahead further than this. If we instead tried to do a global optimization on the tree structure (i.e. choose the best overall tree structure, by considering all possible sequences of splits) the running time of the algorithm would incre

[2020-08-30 04:09] #3331 closed

[2020-08-30 13:14] StrikerRUS commented on #3332
Closed via #3336.

[2020-08-30 13:14] #3332 closed

[2020-08-31 03:42] chloe-wang commented on #3337
@btrotta thanks for the reply. Yes, we understood that this is the limitation of the tree-building algorithm.  Just wondering that whether there are some tricks to overcome this issue to some extent, like some kind of feature engineering.

[2020-08-31 08:29] rohan-gt commented on #3313
Optuna actually does this for LightGBM through the [LightGBMTunerCV](https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.lightgbm.LightGBMTunerCV.html) method. But this is for automatic tuning

[2020-09-01 07:07] btrotta commented on #3337
I don't know of any such tricks unfortunately, apart from creating combined features as you mentioned above.

[2020-09-01 08:08] chloe-wang commented on #3337
@btrotta thanks a lot.

[2020-09-01 08:31] antonkulaga opened #3343 "please, update conda-forge lightgbm package!"
Please, update conda-forge package to 3.x so we can upgrade our code smoothly!

[2020-09-01 09:27] guolinke commented on #3343
refer to https://github.com/conda-forge/lightgbm-feedstock/pull/23
it will be updated automatically.

[2020-09-01 12:35] Chianghung commented on #3289
Thanks,but it doesn't work and seems a bug.
If  num_boost_round is too large,the model is so large that it cannot be loaded,besides, the model file still has none categorical_feature information as mentioned above.

[2020-09-01 13:27] StrikerRUS commented on #3337
Closing as this is general question and not directly related to LightGBM.

[2020-09-01 13:27] #3337 closed

[2020-09-01 13:30] StrikerRUS commented on #3343
Sorry, but we do not maintain conda package. Also, that PR has been merged, so LightGBM is `3.0` in `conda-forge` channel now.

[2020-09-01 13:30] #3343 closed

[2020-09-01 15:24] guolinke commented on #3289
It is a limitation of string length of ctypes in python. It is not trivial for us to fix it.
BTW, You should also use keep_training_booster=True, while disabling the pandas category feature.

[2020-09-01 17:06] StrikerRUS commented on #3293
`3.0.0` has been released in all distribution channels that we officially support, except CRAN. I believe we can close this issue because we have a separate issue for CRAN.

[2020-09-01 18:07] jameslamb commented on #3293
agreed!

[2020-09-01 18:07] #3293 closed

[2020-09-01 18:13] Merudo opened #3346 "Parameter min_data_in_leaf ignored by lightgbm.cv()"
# Environment info

Component: Python package

Operating System: Windows 10

CPU/GPU model: GeForce 960M

CMake version: 3.18.2

Python version: 3.8.3

LightGBM version: 3.0.0

## Error message and / or logs

[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=30 will be ignored. Current value: min_data_in_leaf=10

## Reproducible example(s)
[code]
## Steps to reproduce

1. Run the

[2020-09-01 19:42] StrikerRUS commented on #3346
@Merudo I can't reproduce the issue given only `cv` params. Please provide [MCVE](https://stackoverflow.com/help/minimal-reproducible-example).

[code]

[2020-09-02 02:14] #3014 closed

[2020-09-02 07:30] btrotta commented on #3026
Reopened since there is an active PR.

[2020-09-02 12:16] mirekphd commented on #3346
User-specified custom setting of this and many other hyperparameters seem to be used correctly in v3.0.0, at least judging from the fact that the user-specified values are preserved in the model object. I don't know if it's strong enough evidence. It depends if the custom value can be replaced by default at training time, and then incorrectly preserved in the model object as if it were used.

[2020-09-02 16:44] jayantphor opened #3348 "Light GBM GOSS Tree working"
I have implemented  Light Gbm in python but unable to  figure out how the sampling works after 2nd iteration as it takes all the 21 records in first two iterations but it takes only 7 record in 3rd iteration. I have used the following set of parameters to train my model.

 1. **Input Data File-**
[input_data.xlsx](https://github.com/microsoft/LightGBM/files/5163494/input_data.xlsx)

2. **Set of Pa

[2020-09-03 05:59] guolinke commented on #3348
goss is sampling method in gbdt. and it will start to sample after `1.0 / leanring_rate` iterations. as you set learning rate to 0.4, it starts to sample at 3-rd iteration.

[2020-09-03 06:19] jayantphor commented on #3348
Thanks @guolinke for the answer but how do i know which 7 records it is choosing for third iteration when goss is applied. Is there any method to choose those records?

[2020-09-03 06:27] guolinke commented on #3348
refer to code https://github.com/microsoft/LightGBM/blob/ca066d499d4b58f74fbd7ab875855cb9f3cb07a1/src/boosting/goss.hpp#L103-L152

basically, it chooses the data with the large gradients (by `top_rate`), and randomly samples the data with small gradients (by `other_rate`).

[2020-09-03 06:42] jayantphor commented on #3348
Yes i was looking into this code but I have few queries:
-As per documentation it should pick the top k records with larger gradients but why it is taking [gradient* hessian] ?
-For the top_rate(0.2) it is sampling 0.2*21=4.2(~4 records) but on the other side with other_rate(0.1) how it is sampling 0.1*20=2 records out of the remaining 17 records?

[2020-09-03 07:27] guolinke commented on #3348
@jayantphor
`hessian` is like the weight of a data sample, so we multiply gradient to it. And the sample weight (if provided) will be multiplied to `hessian` too, so it is useful when using sample weights.
the other_rate is based on total dataset, not the rest data samples. so it is about `21 * 0.1` samples. and it is sampled randomly: `bagging_rands_[cur_idx / bagging_rand_block_].NextFloat() < p

[2020-09-04 09:01] mirekphd commented on #3328
Why model.*txt* and not model.*pkl*? Have you tried the trusted `joblib.dump() / joblib.load()` pair for persisting model objects (instead of plain text)?

[2020-09-04 09:10] mirekphd commented on #3346
I think @Merudo you observed the warning issued by LightGBM when passing two synonyms of the same hyperparmeter to a training function. I've reproduced your error in v3.0.0 by passing such synonyms, all set equal to their default values (so as to be certain which values are actually used):

[code]

[2020-09-04 09:55] mirekphd commented on #3346
Simplifying example by @StrikerRUS I could reproduce the warnings but not the problem (of custom value being ignored). At least the logs indicate that a conflict of two synonyms is resolved in favor of the primary name (as defined in [Parameters](https://lightgbm.readthedocs.io/en/latest/Parameters.html)).

[code]

Output:
[code]

But than again we cannot observe `lightgbm.cv` models (they are not

[2020-09-04 11:18] StrikerRUS commented on #3346
Yes, it looks like the problem of using multiple aliases at the same time. But without full example we cannot be 100% sure.

Conflict resolution is deterministic, but I think there is no guarantee that the primary name will be used:
https://github.com/microsoft/LightGBM/blob/82e2ff7a018f2466f8102c80a7bafb9324238d19/include/LightGBM/config.h#L1053-L1061

[2020-09-04 11:59] mirekphd commented on #3346
I run yet another test, using a realistic LGBMRegressor with custom cross-validation function (a wrapper on lightgbm.cv), where we preserve model objects. Logs and model objects data suggest that custom hyperparameter values were correctly used. Note that to trigger the warning I did not have to supply two synonyms like above, it was enough to pass non-primary names. I believe this behavior was al

[2020-09-04 13:33] mirekphd commented on #3346
Using default hyperparameters (but keeping all other settings unchanged from the above regression) I reproduced the metrics known from v2.3.1 now in v3.0.0. On the other hand, as reported above, it was impossible to reproduce known metrics using non-default (optimized) hyperparameters in v3.0.0, even though it used to be possible (and still is) in v2.3.1.

So @StrikerRUS yes, there seems to be a g

[2020-09-04 14:19] StrikerRUS commented on #3346
We have a lot of breaking changes in `3.0.0`, so it maybe just a coincidence that your metrics are the same in `2.3.1` and `3.0.0` for a particalar set of params.

As I know, there have been no changes in default values of params since `2.3.1`.

[2020-09-04 14:57] mirekphd commented on #3346
In general yes, but not in this case, for various reasons. One of them is that exact equality as a confluence of various changes is rather unlikely if we observe it on 4 mostly uncorrelated metrics each computed on 3 different datasets, i.e. on 12 values in total...

For instance I can reveal here MSE values, as these metrics are dataset-dependent:

1. default hyperparameters
lightgbm: v2.3.1 (py3

[2020-09-04 15:47] jameslamb opened #3352 "[R-package] All functions should have explicit return statements"
## Summary

In R, the `return` statement is not strictly required in functions.

[code]

This means that it can sometimes be difficult to understand, from looking at the code, what a function will return.

## How to close this issue

To close this issue, make sure that every function in the R package is explicitly using a `return` statement. The R package's code can all be found in `R-package/R`.

[2020-09-04 15:48] jameslamb opened #3353 "Hacktoberfest Issues + "good first issue" issues"
## Summary

Hacktoberfest 2020 starts in a few weeks (https://hacktoberfest.digitalocean.com/). This is an annual event where GitHub and DigitalOcean promise to send people shirts and stickers if they make 5 pull requests into open source projects.

On other project's I've worked on, I have had a really good experience with contributors coming in during this time to fix small issues.

These can be

[2020-09-04 16:12] Merudo commented on #3346
It seems `lgb.cv` stores parameters entered in previous calls, and uses those instead of the most recent parameters.

Here is an example:

[code]
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=30 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=30 will be ignored. Current value: min_data_in_leaf=20
[LightGBM]

[2020-09-05 01:04] #2550 closed

[2020-09-05 11:04] guolinke commented on #3346
@mirekphd did you use bagging in your hyperparameters searching?
if yes, could you try to disable bagging and compare them again?

[2020-09-05 11:07] guolinke commented on #3346
@Merudo @mirekphd it is a long thread, is the hyperparameters unchangeable during searching in cv?

[2020-09-05 11:11] guolinke commented on #3346
I think it is related to #2594, the dataset objective will preserve its initial values.
The affected parameters are:

https://github.com/microsoft/LightGBM/blob/5b5f4e39a9d9b075ef0aedafb9e400ede521a34f/python-package/lightgbm/basic.py#L810-L828

[2020-09-05 11:11] mirekphd commented on #3346
I wrote a comprehensive metric-based unit test to cover all scenarios (synonyms of `min_data_in_leaf `) , because I expected it to pass at least in the previous lightgbm version... it did not:

[code]

[2020-09-05 11:22] mirekphd commented on #3346
In version v3.0.0 metrics do change (for this model), but after adjustment for that, the test fails in the same place as before:

[code]

[2020-09-05 11:26] mirekphd commented on #3346
Except that the parameter @Merudo first noticed as problematic and we used it since then, `min_data_in_leaf`, is not on this list :)

[2020-09-05 11:37] mirekphd commented on #3346
The problem apparently existed in an even earlier version of lightgbm, v2.2.3, the oldest one I can test now:

[code]

[2020-09-05 11:43] mirekphd commented on #3346
Sorry, the workaround does not seem to help (tested in v3.0.0) :)

[code]

[2020-09-05 13:06] Merudo commented on #3346
@mirekphd I'm afraid I don't understand the purpose of your tests. It seems you are testing whether the parameters passed are equal to the default parameter values?

You specified the value of `min_data_per_leaf` to be 1 while the default is 20, so the test is failing as expected.

[2020-09-05 13:07] StrikerRUS commented on #3346
@Merudo Please note that there is an issue with your code: you have two aliases of the same parameter in one params dict:
[code]
https://lightgbm.readthedocs.io/en/latest/Parameters.html#min_data_in_leaf

I believe, consistently using only one parameter name (`min_data_in_leaf` for example) solves the problem:
[code]

[2020-09-05 13:31] mirekphd commented on #3346
No, no, that part of the test (that checks if default parameter values were passed) would be executed only if the *metric* is as expected if default parameters were used for training.

[2020-09-05 13:45] mirekphd commented on #3346
After disabling bagging (by setting `bagging_fraction` to 1.0 and `bagging_freq` to 0) regression model metrics have indeed changed (on one test set improved, on two other deteriorated) from the one obtained with default hyperparameters only.

[2020-09-05 13:55] mirekphd commented on #3346
Yup, this is true, a test where primary name and alias have only one value never fails:

[code]

[2020-09-05 16:17] guolinke commented on #3346
@Merudo
I think @StrikerRUS is right.
BTW, even with alias in parameter, the results are also correct.
You can check the return results, they are different.

The is an additional warning when set params to the dataset after first cv.

[code]
But the value should be right. I will fix the additional false warning.

[2020-09-05 16:21] guolinke commented on #3346
@mirekphd We have a new change to ensure the consistency of bagging when using multi-threading.
This change will result in different bagging results, so the accuracy will be different when using bagging.
Is that consistent worst when using bagging, compared with the old versions?

[2020-09-05 16:28] mirekphd commented on #3346
I see, I will perform more tests then, moving my replication problems for non-default hyperparams to a separate Github issue. I will try to  attribute changes in accuracy to changes in code.

[2020-09-05 16:34] guolinke commented on #3346
Yeah, it is better to create one issue for one problem.

[2020-09-05 19:17] mirekphd commented on #3346
Good question. It is indeed a path-dependent issue, but it requires a conjunction of as many as three conditions:
- at least two models (CV or single) to be trained in a sequence (in a Notebook or a .py script) (kudos to @Merudo) AND
- a synonymous parameter name passed together with the primary one AND
- a change in the *primary* parameter's name to *default value* (a change measured from previou

[2020-09-05 19:18] mirekphd commented on #3346
Related: https://github.com/optuna/optuna/issues/1718

[2020-09-05 19:38] StrikerRUS commented on #3346
[`feature_pre_filter`](https://lightgbm.readthedocs.io/en/latest/Parameters.html#feature_pre_filter) is a [Dataset parameter](https://lightgbm.readthedocs.io/en/latest/Parameters.html#dataset-parameters). Indeed, those parameters are stored in dataset object and cannot be changed in `train`/`cv` functions. You should create new dataset to change them.

[2020-09-05 22:32] esvhd opened #3354 "[R-package] Error installing R package with local pre-complie option in `build_r.R`"
Hi,

I'm having problem install lightgbm for R after I complied from source with git master branch.

My locally complied version works for my python install. But struggling with R. It seems to not be able to find `lib_lightgbm.so`, which I clearly have in `~/git/LightGBM/lib_lightgbm.so`.

I followed the instruction [here](https://github.com/microsoft/LightGBM/tree/master/R-package#install). Speci

[2020-09-06 01:29] jameslamb commented on #3354
hello @esvhd , thanks for using `LightGBM`! We have been making a lot of changes to the R package recently and I think that installing the R package together with a precompiled `lib_lightgbm.so` is in a weird state.

Is there a strong reason that you need to use a precompiled binary? For example, did you build it with some customization?

If not, could you please try building from source? You can

[2020-09-06 02:18] guolinke commented on #3346
@mirekphd I think the purpose of parameter alias is for the convenience, not for the user to use a different alias every time in sequential training.
If this indeed is a problem, we can throw the error directly when the user tries this behavior, or disable the alias function totally.

[2020-09-06 02:38] guolinke commented on #3353
I think we can revise the feature request hub, and label some of them.

[2020-09-06 02:40] jameslamb commented on #3353
for these aggregators, it's important that each individual issue has the `good first issue` and `hacktoberfest` labels. So a section in #2302 titled "Good First Issue" wouldn't work.

[2020-09-06 02:41] guolinke commented on #3353
@jameslamb BTW, do the labeled issues need to be open? since most `feature request` issues are closed.

[2020-09-06 02:42] jameslamb commented on #3353
yes, they need to be open

[2020-09-06 02:50] jameslamb commented on #2678
oh this one can stay closed @guolinke . I fixed this in #3269

[2020-09-06 02:50] #2678 closed

[2020-09-06 03:11] jameslamb commented on #2441
if you're reading this and interested in contributing this feature, please comment here. Feel free to `@` me with questions

[2020-09-06 05:42] jameslamb opened #3357 "[docs] update list of winning solutions"
This project's documentation includes a list of winning solutions for machine learning competitions which used LightGBM.

https://github.com/microsoft/LightGBM/tree/master/examples#machine-learning-challenge-winning-solutions

With one exception (), this has not been updated since December 2019.

## How to close this issue

Look through "completed" competitions (from December 2019 to now) at https

[2020-09-06 08:42] esvhd commented on #3354
Thanks for the prompt reply!

I built the package from source to enable MPI and GPU support. I read in the R install guide and found how to turn on GPU, but nothing on MPI? Is there anything I need to do there?

Thanks!

Sent from my iPhone

[2020-09-06 08:47] Juniper-23 commented on #3357
Hi, I can help with the above. I need a quick clarification, from my understanding the above issue requires me to check for the usage of LightGBM in the solution description/discussions of the first three winning entries?

[2020-09-06 09:23] #3044 closed

[2020-09-06 09:28] guolinke commented on #3357
@Juniper-23
yeah, you can review the shared winning solutions in Kaggle/KDD, etc.

[2020-09-06 10:41] mirekphd commented on #3346
So this is why both @Merudo and https://github.com/optuna/optuna/pull/1774 have set this new hyperparameter `feature_pre_filter` to False. But leaving it at its breaking default of True and using the workaround you suggested ("create new dataset to change them.") does not help solve the original issue (default value is used for training - despite user wishes - when non-alias (primary) name `min_da

[2020-09-06 11:04] mirekphd commented on #3346
I suspect the special conditions above, which may seem rare and bordering user error, may occur in rather unexpected places as a side-effect of interaction with other pieces of code, on higher level of abstraction, such as `ray tune` invoking `optuna` invoking `lightgbm`... or multi-stage custom pipelines where different hyperparameters are used at each stage (e.g. to quickly select features on al

[2020-09-06 11:09] MaxHalford commented on #2791
Cheers @guolinke. I don't believe there's much improvement to bring from that side then.

How about the method that is discusses in [this scikit-learn issue](https://github.com/scikit-learn/scikit-learn/pull/18242)? Is it already implemented?

[2020-09-06 16:32] guolinke commented on #2791
@MaxHalford i quick through the PR. I think it is related to python-side histogram implementation, and our cpp implementation is already optimized for both speed and memory.

[2020-09-06 19:05] mirekphd commented on #3346
That other issue of replicating SOTA metrics known from v2.3.1 has become less important because v3.0.0 has shown a 2-fold training speed improvements in hyperparameter optimization in parsimonious production models, which allowed us to quickly improve on previous SOTA metrics. So the conclusion is that one may need to re-optimize hyperparameters of existing models given all the improvements made

[2020-09-07 03:04] guolinke commented on #3346
@mirekphd I am afraid that the new bagging solution caused the performance drop.
If with multiply seeds, with the same bagging fraction/frequency, but v3.0 is worse. I think we can investigate it.

[2020-09-07 03:35] jameslamb commented on #3354
@esvhd ah, maybe that is a gap in our documentation, apologies!

Can you replace `R-package/src/install.libs.R` with this?

<details><summary>new install.libs.R (click me)</summary>

[code]

</details>

Then if you use `Rscript build_r.R`, I believe it will build a GPU-enabled version of the package with MPI support.  This isn't a combination we've tested with the R package before, so please let m

[2020-09-07 04:07] jameslamb commented on #3320
@lorenzwalthert Thanks again for using `LightGBM` and for taking the time to work with me on this issue.

Could you please take a look at the PR I just opened (#3360 ) and let me know what you think? Basically I've proposed reorganizing it like this:

![image](https://user-images.githubusercontent.com/7608904/92347401-9c390f80-f095-11ea-980e-7efb15d85ee3.png)

[2020-09-07 04:24] jameslamb opened #3361 "[R-package] submit hex logo to hexb.in?"
In #3331 , we added a hex logo for the R package. @guolinke @StrikerRUS any objection to me adding a PR to add this to http://hexb.in/?

Many other R packages are there including `{ggplot2}`, `{purrr}`, and `{data.table}`.  This is a place that people go to find standard-size hexagon logos when they want to print up laptop stickers. I think having the `{lightgbm}` logo there could be another way t

[2020-09-07 07:03] nontrivial opened #3362 "Subsetting Dataset not equivalent to subsetting raw data then creating Dataset"
Using Dataset.subset() to train on specific rows of your data is not equivalent to creating a new Dataset with only those specific rows (I've included an example below).

I assume maybe this is the intended behavior? Is it because when you create the Dataset on data some global properties are computed like histogram bin widths and these are copied to the subset Dataset? If that's the case what is

[2020-09-07 07:31] miguellacerda opened #3363 "NDCG and Tied Scores"
Hi there

_How do you handle tied scores when calculating the NDCG?_

I am checking if I can reproduce the value of the NDCG eval metric reported by LGBMRanker. To do this for a given query, I use the fitted model's predict method to obtain the predicted scores on my validation set, sort the items by these scores and then sum up the discounted gain for the top _T_ scores. However, several items ge

[2020-09-07 07:33] guolinke commented on #3363
@miguellacerda I remember that we will use the higher score when some pairs are tied.

[2020-09-07 07:39] esvhd commented on #3354
Hi @jameslamb Impressed by the helpful reply!

I tried this, looks like it was complaining about not finding OpenCL.

I tried adding these flags in my `~/.R/Makvars` but it did **not** work either.

[code]

When I complied the python package I had to add the following flags for `cmake`:

[code]

Full output from `build_r.R`:

[code]

Also have to admit, enable MPI at this stage is for my learning,

[2020-09-07 07:51] ogrisel commented on #2791
For the record, lightgbm is 1.5x to 2x faster than the master branch of scikit-learn in sequential mode at the moment. This difference reduces with many threads because of the diminishing returns of parallelism after 8 to 16 CPU threads. I haven't investigated yet why lightgbm is so much faster in sequential mode yet.

[2020-09-07 07:58] jameslamb commented on #3354
hmmm ok, interesting! Sorry, I know very little about OpenCL (my main role here is maintaining the R package) so I can only help so far.

My answer got long as I started typing, so I broke it up

## Things to try

1. Symlink or copy those OpenCL libraries into a common place on the search path of `CMake`'s `find_package()`.
2. Add the customizations from your `cmake` command to `cmake_args` in `R-

[2020-09-07 08:15] esvhd commented on #3354
Amazing, glad to report option 2 you suggested seems to have worked!

I replaced line 137 in your `build_r.R` to the below, then the build script worked fine and `lightgbm` package is now installed for my `R 4.0.2`.

[code]

Thanks @jameslamb !!

[2020-09-07 08:18] esvhd opened #3364 "[R-package] allow use of MPI for distributed training"
## Summary

As @jameslamb suggested in his very helpful replies to #3354 , adding a switch in `build_r.R` script to enable GPU and MPI would be very helpful.

## Motivation

Enable MPI support for R packages. A switch is already available for python builds.

I'll let more capable minds to comment on the pros and cons for MPI vs sockets, and particularly when it comes to training.

## Description

[2020-09-07 09:35] Jie-Yuan opened #3365 "How to install gpu-LightGBM quickly (linux)"
## Summary

## Motivation

## Description

## References

[2020-09-07 11:18] guolinke commented on #2791
@ogrisel the sequential mode is `num_thread=1`?
Did you test the LightGBM 3.0.0 ?
We have several speed optimizations in the 3.0.0 release. In particular, LightGBM also implement row-wise histogram algorithm (previous is column-wise), and may is faster with smaller #thread or smaller #feature.

[2020-09-07 11:33] ogrisel commented on #2791
I just set the `OMP_NUM_THREADS=1` environment variable when running my benchmark script. I suppose this is equivalent.

Yes.

Ah thanks that's probably it then. Indeed the Higgs boson benchmark I used has not that many features.

[2020-09-07 14:33] StrikerRUS commented on #3361
No any objections from me. Please do it!

[2020-09-07 14:38] guolinke commented on #3361
@jameslamb please move forward 😺

[2020-09-07 14:43] StrikerRUS commented on #3365
Here is the guide how to install GPU version for Linux: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#id17

FYI, after resolving https://github.com/microsoft/LightGBM/pull/3144#issuecomment-687650386 we possibly will provide a separate Python wheel with GPU-enabled acceleration.

[2020-09-07 14:43] #3365 closed

[2020-09-07 15:07] jayantphor commented on #3348
Thanks @guolinke.
Can you please tell me how it is choosing a split points(exact value) in case of gbdt and goss ?

[2020-09-07 15:12] StrikerRUS commented on #3361
Their GitHub looks like they don't add new packages promptly 😢 :

![image](https://user-images.githubusercontent.com/25141164/92400717-05bc2b00-f135-11ea-9a05-4b6f26965d7e.png)

![image](https://user-images.githubusercontent.com/25141164/92400832-37cd8d00-f135-11ea-8e4a-ac5c79e69ffc.png)

Last merged PR was in April and some packages had been waiting for months: https://github.com/maxogden/hexbin/

[2020-09-07 17:16] StrikerRUS commented on #3267
Gently ping @guolinke for two questions above about the code location.

[2020-09-08 01:32] jameslamb commented on #3361
@StrikerRUS yeah I saw that too :/

Thankfully we have  no urgency around this. I'll open the PR and link it here, it's ok if it takes a few months

[2020-09-08 03:34] jameslamb commented on #3354
Great! And thanks for opening #3364.

I'll close this issue since things are working for you now. Come back any time!

[2020-09-08 03:34] #3354 closed

[2020-09-08 04:05] jameslamb commented on #3361
ok I've added https://github.com/maxogden/hexbin/pull/280, so I think we can close this issue and move the discussion there. I saw clicking around in that repo that the maintainers sometimes ask for more information on the license and ownership of the logo, so I tagged both of you.

[2020-09-08 04:05] #3361 closed

[2020-09-08 04:15] jameslamb commented on #3364
Thanks for reporting this! I'll close this for now and add it to #2302 , where we keep all feature requests. Anyone reading this, you're welcome to add this feature!

I also want to add some additional information. The goal of this feature is to provide an experience like:

[code]

That should add `-DUSE_MPI=ON` to `cmake_flags` in `R-package/src/install.libs.R`.

Someone picking this up might als

[2020-09-08 04:15] #3364 closed

[2020-09-08 04:22] jameslamb commented on #2472
this was fixed in #2961

[2020-09-08 04:58] jameslamb opened #3369 "Create Dataset from Arrow format"
## Summary

[Apache Arrow](https://github.com/apache/arrow) is an open source columnar in-memory storage format that's well-suited to tabular data. It offers efficient data loading from files or other input streams, and zero-copy data sharing between languages.

## Motivation

I think that this feature could allow for faster data loading, esp. from the parquet and CSV file formats. It would also a

[2020-09-08 05:02] jameslamb commented on #2791
I've just added a new efficiency-related feature: #3369

If anyone following along here has experience with Apache Arrow, please add any context you think could help on that issue, or let me know if I've made any mistakes.

[2020-09-08 14:05] StrikerRUS commented on #3369
Does it mean that right now one can use MMLSpark (https://github.com/Azure/mmlspark) for Arrow + LightGBM (similarly to parquet https://github.com/microsoft/LightGBM/issues/1286#issuecomment-517380041)?

[2020-09-08 14:54] jameslamb commented on #3369
possibly! But that definitely does not satisfy this feature. Spark is a heavy dependency that many users are unlikely to have access to.

[2020-09-08 16:13] maurever opened #3371 "Monotone constraint with Quantile distribution does not work correctly"
I tried quantile distribution while the monotone constraint is set and it looks it is not implemented correctly. The result prediction is not monotone, see the example and image bellow.

## How you are using LightGBM?

* Python package

## Environment info

Operating System: Linux Debian 10.5 (x86-64)

Python version:  Python 3.7.3rc1

LightGBM version or commit hash: lightgbm==2.3.1

## Reproduci

[2020-09-09 02:14] gharibkhani commented on #3303
Is it a work that needs to be done in ML.Net team?

[2020-09-09 02:56] guolinke commented on #3267
sorry for missing this thread...
@AlbertoEAF
1. I remember `ArrayToStringFast` is only for integer. So for model_to_string, changing DoubleToStr should be enough. For for the string_to_model, there are several functions. like https://github.com/microsoft/LightGBM/blob/adfc9f5c61ad3d11b9768ed0b9104297434ce822/include/LightGBM/utils/common.h#L513-L518 and https://github.com/microsoft/LightGBM/blob/a

[2020-09-09 02:59] guolinke commented on #3303
@gharibkhani
Yes, we have several new api changes in v3.0.0, and ML.NET need to adapt these changes if they using LightGBM v3.0.0

[2020-09-09 03:01] guolinke commented on #3369
I think @shiyu1994 can help with this. He has some ideas to refine the dataset class recently.

[2020-09-09 03:10] guolinke commented on #3371
Yes, For the objective function with `RenewTreeOutput`, the mononote constraint will be break.
There are not good solutions so far, as this line search process is optimized for different leaves independently.

[2020-09-09 09:38] Juniper-23 commented on #3352
I am fairly new to R but with whatever I have learnt so far I believe I can be of some help here :)

[2020-09-09 12:07] rebidaldal opened #3372 "instability caused by floating point errors"
## How you are using LightGBM?

LightGBM component:  Python package

## Environment info

Operating System:  Ubuntu 20.04.1 LTS

CPU/GPU model: Intel(R) Xeon(R) Platinum 8259CL CPU @ 2.50GHz

C++ compiler version: gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)

CMake version: 3.16.3

Java version: N/A

Python version:  3.8.5

R version: N/A

Other:

LightGBM version or commit hash: 3.0.0 (also happens

[2020-09-09 13:59] shiyu1994 commented on #3317
The segment fault is fixed by #3373.

However, this does not indicates that the number of threads of a GBDT predictor can be controlled by resetting parameters. Currently resetting parameters is only for training. Passing the number of threads to the predict interface is still needed to control the number of threads for prediction.

[2020-09-09 14:13] guolinke commented on #3372
@rebidaldal i run your codes, and seems no problem.
![image](https://user-images.githubusercontent.com/16040950/92609797-8de33180-f2e9-11ea-9504-f3b199328a02.png)

you can try to set `force_col_wise=True`.

[2020-09-09 14:16] guolinke commented on #3372
BTW, you set `min_data_in_bin` to a very large value. This seems unreasonable.

[2020-09-09 14:20] guolinke commented on #3372
I also run it for 100 times. seems no problems.
![image](https://user-images.githubusercontent.com/16040950/92610748-a43dbd00-f2ea-11ea-99ce-dd21a563df8e.png)

[2020-09-09 14:48] rebidaldal commented on #3372
I tried it with your suggestions (force_col_wise=True, min_data_in_bin = 100 (now constrained with max_bin)) However the issue persists.

![snip8](https://user-images.githubusercontent.com/31393524/92614302-91b08d00-f2c4-11ea-8eef-576f84165507.jpg)

[2020-09-09 15:00] jameslamb commented on #3352
thanks @Juniper-23 ! I just assigned this to you so no one else will take it. It's not urgent so take your time. Let me know if you have any questions.

[2020-09-09 15:40] rebidaldal commented on #3372
I have added the model files to https://github.com/rebidaldal/lightgbmBugreport if that helps. I also managed to create an even more minimal example:

![snip9](https://user-images.githubusercontent.com/31393524/92619900-ba3b8580-f2ca-11ea-9817-3adc591f006c.jpg)

issue seems to be related to feature fraction by node. However the models have the same feature_fraction_seed (generated by main seed). I

[2020-09-09 16:36] glarb commented on #3317
Thank you very much for the fix @shiyu1994!

Why couldn't LGBM_BoosterResetParameter() just create the config if it's missing, so it could be used for prediction too?  It seems wasteful to have to parse the parameters string for each prediction.

If LGBM_BoosterResetParameter() is really only for training, it would be helpful if you also changed the c_api.h doxygen description to
\brief Reset trai

[2020-09-09 17:46] kocas commented on #3372
I was able to reproduce the problem using WSL2 with Ubuntu 20.04 (I did not try on any other distro) but it works fine on Windows 10.0.19041.450 , on the same machine. might be due to fork vs creation..

[2020-09-10 00:10] guolinke commented on #3372
@rebidaldal
I check the generated model file, it seems the problem is in training. There are some floating-point rounding differences.
![image](https://user-images.githubusercontent.com/16040950/92666886-058e7c00-f33d-11ea-8e04-257286e33d34.png)

@rebidaldal can you try to fix num_threads to a relatively small value? like 8 or 4?

[2020-09-10 00:19] guolinke commented on #3372
BTW, can you try `boost_from_average` to false?
I find all leaf values are different in the first tree, it may be related to this.

[2020-09-10 10:20] rebidaldal commented on #3372
Hi @guolinke thank you for your suggestions.

I have tried running it with different number of threads, it works fine with 4 threads but instability starts to build up after 8 threads. In this sample data using 4 threads is fine but my actual data is nearly 1000 times larger thus I need to run it with 96 cores. So far this issue seems to be related to some combination of linux/threading/colsample_

[2020-09-10 12:52] wyfSunflower opened #3374 "nest model training"
Suppose there is a feature set X = {x1, x2, x3, ... xn}, and X1={xi1, xi2, xi3, ... xim} , X2 = {xj1, xj2, xj3, ..., xjn} are subset of X,
using lgb I construct two base models U = U(X1), V = V(X2)
and I want to using lgb to construct a complex model W = W(U, V, X) = W( U(X1), V(X2), X)
= W(U(xi1, xi2 ,xi3, ... xim), V(xj1, xj2, xj3, ..., xjn), x1, x2, x3, ... xn)
I don't  how to traing the total

[2020-09-10 13:31] guolinke commented on #3372
@rebidaldal I think `colsample_bynode` will not cause this problem.
did you try boost_from_average=false ?

[2020-09-10 13:32] guolinke commented on #3372
@rebidaldal BTW, LightGBM is not NUMA-aware, using it to the multi-socket cpus will be much slower.
96-core seems is multi-socket. you can try to use the cores of one CPU only.

[2020-09-10 13:44] rebidaldal commented on #3372
yes I did, but unfortunately it did not help.
![avg](https://user-images.githubusercontent.com/31393524/92738564-bb30ed80-f384-11ea-96e1-0cd24ff7b5e7.jpg)

Code is in notebook bug_4 in the repo.

[2020-09-10 13:49] rebidaldal commented on #3372
In this example I worked on a single socket 32 machine but at only 8 threads training results start to differ

In this example I worked on a single socket 32 machine but at only 8 threads training results start to differ

![numa](https://user-images.githubusercontent.com/31393524/92739446-90936480-f385-11ea-980d-5cb198588213.jpg)

[2020-09-10 14:43] rebidaldal commented on #3372
Yes, this issue is not specific to `colsample_bynode` but related to threading + randomness in general. I get a similar error when I try to use bagging too.

![bag](https://user-images.githubusercontent.com/31393524/92747575-00f1b400-f38d-11ea-94c9-ed691b3b57a7.jpg)

[2020-09-10 16:33] dgrnbrg opened #3375 "Expert-informed feature bagging"
## Summary

I would like to control feature bagging rather than having it be random. I'd like to specify, for a given iteration, the subset of features that I want that tree to be fit to.

## Motivation

For my use of lightgbm, I've found that my models underfit when using random feature bagging, but if I manually select subsets of features that make sense together, I'm able to achieve much higher

[2020-09-10 17:05] rebidaldal commented on #3372
Yes. I need to disable them both to keep it stable. Only turning one of them on is however sufficient for this bug to occur.

All params default:

![alldefault](https://user-images.githubusercontent.com/31393524/92768603-d27dd400-f3a0-11ea-93b0-188873f8b90e.jpg)

All params set to some custom value vs all but bagging/ff_by_node :

![all_but_multi_stoch](https://user-images.githubusercontent.com/31

[2020-09-10 17:07] rebidaldal commented on #3372
![ktb](https://user-images.githubusercontent.com/31393524/92768943-2a1c3f80-f3a1-11ea-9fa3-b17e7847b7c9.jpg)

thank you for the suggestion but it also did not help

[2020-09-11 07:01] btrotta commented on #3374
If I understand correctly, you would like to train at the same time the 2 base models U, V, and the complex model W which uses their output, and optimize the weights of all models to minimize the loss of W? This is not possible in LightGBM.

[2020-09-11 07:10] btrotta commented on #3375
We have recently added the ability to exclude specific feature interactions: https://lightgbm.readthedocs.io/en/latest/Parameters.html#interaction_constraints
It sounds like you want the opposite feature to this (ability to specify the _allowed_ feature interactions), but it might be helpful nevertheless (depending on your specific use case).

[2020-09-11 07:14] btrotta commented on #3149
Removed awaiting-response tag to prevent bot closing the issue. Reopened for hacktoberfest.

[2020-09-11 07:36] guolinke opened #3379 "[python] suppress the warning about categorical feature override"
[code]
`categorical_column` could be set in both `lgb.train` and `lgb.Dataset` . But this warning seems always show up if setting  `categorical_column`. I think this is quite annoying.

[2020-09-11 07:40] guolinke commented on #3371
I don't think this is a bug. will create a PR to warn the user when using them together.
Also, ping @CharlesAuguste  for future possible solutions.

[2020-09-11 07:56] #3317 closed

[2020-09-11 09:16] chloe-wang opened #3381 "custom the objective function for LTR"
Hi there,

I noticed that there is a sample for custom objective:
https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/multiclass_custom_objective.R

However,  how shall we define a custom objective when the objective includes some other information other than preds and dtrain? For example, in the lambdarank case, we may have the query_id information as well.

[2020-09-11 09:23] chloe-wang commented on #3381
I figure it out.

[2020-09-11 09:23] #3381 closed

[2020-09-11 10:40] AlbertoEAF commented on #3267
Thanks so much! I will start working on it ;)

[2020-09-11 11:19] AlbertoEAF commented on #3267
By the way @StrikerRUS , regarding such libraries, I think I'll go with Ryü, I've been reading up a bit on it. Both came up after David Gay's implementations and Ryü came after Dragon4. Dragon4 has a fallback algorithm for some numbers which is slower.
I also saw even faster implementations but I don't want to get too close to the edge as this is supposed to be stable.

I was thinking of using thi

[2020-09-11 11:31] guolinke commented on #3267
@AlbertoEAF BTW, is that possible to have the two-stage solution? like, have a script to locale/de-locale the model?
LightGBM itself could read/write always by current format.
But when users want to read the content of model file, we can locale it.

[2020-09-11 11:41] AlbertoEAF commented on #3267
Hello @guolinke , I'm not sure what you mean. Why would we want to transform the model content to different locales?
It's cleaner to have it store and load always with the same format, we don't need models in different locales.

Also, I believe it would be even trickier as you would have to know precisely the locale with which the model was written to read it correctly, which can be tricky to know

[2020-09-11 12:49] guolinke commented on #3267
@AlbertoEAF I misunderstood the locale problem.
you are right, the model should be locale-independent.

[2020-09-11 14:48] guolinke commented on #3372
Interesting, I will find a Linux machine to test this weekend.

[2020-09-11 15:25] aEgoist commented on #2898
Agree with @bfrobin446 . This happens when I'm refering to Chinese documentations, where said we should let
 classes< num_leaves< 2^max_depth. I took it and I got this warning, by changing which to num_leaves >2^max_depth it disappeared.
So by saying

 what are you really suggesting? Should be 2^max_depth > num_leaves or 2^max_depth < num_leaves?
This is confusing. If you take

Agreements would li

[2020-09-11 15:55] guolinke commented on #3372
@rebidaldal
could you try fillna by constants? like
[code]

[2020-09-11 16:55] Juniper-23 commented on #3352
@jameslamb Thanks! This would help :)

[2020-09-11 17:06] AlbertoEAF commented on #3267
By the way, maybe there were changes meanwhile because in the v3.0.0 code ArrayToStringFast and ArrayToString both operate on doubles. ArrayToString only operates on doubles, but ArrayToStringFast is a template that processes arrays of any type. I believe there's no reason to have both anymore.

Second point, instead of using Ryu, I was thinking of using fmt https://fmt.dev/latest/index.html, for

[2020-09-11 17:14] AlbertoEAF commented on #2898
I can submit a PR this or next week then ;)

[2020-09-11 17:44] AlbertoEAF commented on #3267
Wow, I replaced threshold, leaf_value and leaf_weight's ArrayToString calls by ArrayToStringFast in src/io/tree.cpp's Tree::ToString() and had surprising results. To test I read a reference model file and wrote it back (left=v3.0.0 code, right=modified code):
![image](https://user-images.githubusercontent.com/3976753/92956331-9b6df800-f45e-11ea-9184-1c6518c0c3d3.png)

Whilst ArrayToStringFast prod

[2020-09-11 17:50] ticoneva opened #3383 "pip with GPU option installs to .local instead of conda environment path"
## How you are using LightGBM?

LightGBM component:  Python package

## Environment info

Operating System: Ubuntu 20.04.1

CPU/GPU model: HPC cluster with AMD Zen-2 CPUs and NVIDIA Pascal GPUs

CMake version: 3.14.0

Python version: Anaconda 3.8

LightGBM version or commit hash: 3.0.0

## Steps to reproduce

1. pip install lightgbm \
--install-option=--gpu \
--install-option="--opencl-include-dir

[2020-09-11 19:25] StrikerRUS commented on #3383
We do not manipulate installation paths. It is definitely pip or/and conda issue. I believe your default pip comes from system folder instead of conda's one. Please run commands and see

[code]

BTW, why do you need a separate Python 3.8 installation along with conda on your machine?

[2020-09-11 19:25] #3383 closed

[2020-09-11 19:35] StrikerRUS commented on #3267
@AlbertoEAF I'm totally OK with using `fmt` library! It looks quite popular based on number of GitHub stars and we can use it as a git submodule (like boosts' `compute`).

[2020-09-12 02:43] guolinke commented on #3372
@rebidaldal
I think #3384 should fix the instability when using `subfeature_bynode`, you can have a try.

[2020-09-12 04:07] StrikerRUS commented on #3267
Hah, just noticed that `treelite` project is using `fmt` library. And `treelite` in turn is used in `rapidsai`'s project for tree models:
https://github.com/dmlc/treelite/blob/1c495c52a6dff8413f1b66f2f0ecc4e390473c5e/cmake/ExternalLibs.cmake#L10-L14
https://github.com/rapidsai/cuml

[2020-09-12 04:11] guolinke commented on #3372
#3385 should fix the bagging.

@rebidaldal please let me know if the problem still exists.

[2020-09-12 07:31] pseudotensor opened #3386 "Support h2o datatable and numpy types, including for categorical types"
https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html

Currently lightgbm consumes a dataframe that is converted to 32-bit or 64-bit floats internally.  These values are then binned, but not before having exposed the full data frame as full float values.

h2o-3 and other packages are "lighter" in that they chunk the data further into 1, 2, 4, byte objects.  E.g. bools and some

[2020-09-12 07:36] guolinke commented on #3386
@pseudotensor seems interesting, I will check it.

[2020-09-12 07:48] pseudotensor commented on #3386
Example compression summary from h2o-3 for a version of the Bosch dataset:

![image](https://user-images.githubusercontent.com/2249614/92990468-a3935b00-f491-11ea-89b7-27fd4235e542.png)

I can provide more details if interested.

[2020-09-12 08:52] Merudo opened #3387 "Lightgbm.cv doesn't work right with random forest boosting"
Lightgbm.cv doesn't returns the expected cross-validation result for a `boosting: 'rf'` (random forest) model.

It returns the CV results for each tree individually, instead of the overall CV for the random forest. For example with 300 trees, CV will return 300 results instead of 1...

## Environment info

Operating System:

CPU/GPU model:

C++ compiler version:

CMake version:

Java version:

Pyt

[2020-09-12 10:26] phdiims commented on #127
I am applying this on my own large dataset. The loop runs fine and the selected parameter values are returned. However, I also get the following error-

Error in data$update_params(params) : [LightGBM] [Fatal] Cannot change max_bin after constructed Dataset handle.
4.
data$update_params(params)
3.
(function (params = list(), data, nrounds = 10L, valids = list(), obj = NULL, eval = NULL, verbose =

[2020-09-12 13:13] #3300 closed

[2020-09-12 15:44] rebidaldal commented on #3372
Hi @guolinke

I have checked out branch #3385 with the two fixes and re-ran my tests and it looks like the instability problem is solved for now. I will do more tests on real-life sized data and I will let you know if there are any remaining issues.

![no_bug](https://user-images.githubusercontent.com/31393524/92999185-bc4e5000-f527-11ea-9999-e8ec2626b1bf.jpg)

Thank you very much for the fixes.

[2020-09-12 17:23] rebidaldal commented on #3372
Hi @guolinke

I was maybe too eager to declare that the instability is solved. One more test on the sample data with both bagging and feature_fraction_bynode on shows that there is at least one more bug remaining.

both turned on @ same 32 core machine with single socket / single NUMA node
![bug_5](https://user-images.githubusercontent.com/31393524/93001098-523ca780-f535-11ea-95b1-0f2192283b3f.jpg

[2020-09-12 17:37] rebidaldal commented on #3372
my tests show that the issue with `feature_fraction_bynode` is solved, but the `bagging `problem remains. Although it is mitigated since I did not catch it with 5 runs.
![bug_6](https://user-images.githubusercontent.com/31393524/93001455-bc564c00-f537-11ea-9ec7-de6006581c69.jpg)

[2020-09-12 19:04] tobigithub commented on #127
@phdiims the documentation for the  number of threads and other parameters for lgb.train() function is here

https://lightgbm.readthedocs.io/en/latest/R/reference/lgb.train.html
also this one with additional stuff and demos
https://www.rdocumentation.org/packages/Laurae/versions/0.0.0.9001/topics/lgbm.train

[code]

**Running your last script** I dont get any error, but I also can not get 100% CPU

[2020-09-12 23:37] guolinke commented on #3372
@rebidaldal is it the same test data?

[2020-09-13 00:25] guolinke commented on #3372
It is very strange, #3385 should make the deterministic sum operations for floating-point.

I push some new changes, could you test again?
If it still cannot work, can you try to set `is_sparse = False` ?

[2020-09-13 04:52] jameslamb commented on #3387
hi @Merudo , thanks for using `LightGBM`! Are you able to provide some code that reproduces this issue, preferably with random data?

Can you also please answer the questions that showed up when you clicked "new issue"? I've just added them to your description.

[2020-09-13 06:35] jameslamb opened #3390 "[R-package] use keyword arguments for all internal function calls"
## Summary

Today in the R package, there are a lot of internal function calls which use only positional arguments. Change them to use keyword arguments for extra safety.

I've added this issue to provide a small, focused contribution opportunity for [Hacktoberfest 2020](https://hacktoberfest.digitalocean.com/) participants. If you are an experienced open source contributor, please leave this for

[2020-09-13 13:46] naveen-9697 commented on #3310
I have done exactly what was shown in the post you replied to, with this reply and then also did what you wrote in this reply. I can now use lighgbm without any issues.

The issue is that there's no bump in the computation speed. and the GPU is barley being used, I only 0.08GB. How do i speed up the training speed. my data set sizes are, train=(247570, 70) and validation=(13031, 70). here is all m

[2020-09-13 15:38] StrikerRUS opened #3394 "Compiler warnings with VS 2015"
There are a lot of warnings produced by VS 2015:
[code]

To reproduce run [code from the guide](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#from-command-line):
[code]

[2020-09-13 18:02] CharlesAuguste commented on #3371
I am not familiar with how the quantile objective function works, but I will take a look!

[2020-09-14 05:10] guolinke commented on #3394
I think these warnings are generated by template function variable, and cannot be fixed.
And compiler should not throw these warnings.

[2020-09-14 05:12] guolinke commented on #3394
for example, it throws `max_bin` is not used in the following function.
https://github.com/microsoft/LightGBM/blob/dc963d9ffe46a8177e06cb7794b0c4acd5aad86b/src/io/dense_bin.hpp#L309-L342

But when `USE_MIN_BIN` is true, `max_bin` is used.

[2020-09-14 08:04] guolinke commented on #3386
@pseudotensor Is it https://github.com/h2oai/datatable ?
BTW, which api can be used to access the raw memory of datatables?

LightGBM currently processes the float data stored in the continued array and pandas.Dataframe will be converted to np array before that.

[2020-09-14 08:08] rebidaldal commented on #3372
Hi @guolinke

Yes, I am still using the same data. Although I changed the number of test from 5 to 10.
I tested again with the new changes;

- The issue related to ff_bynode is solved, therefore I stopped testing for it
- The issue related to bagging remains.
- is_sparse = False unfortunately did not work.

![bug_7](https://user-images.githubusercontent.com/31393524/93060133-650cc480-f67a-11ea-803

[2020-09-14 08:35] guolinke commented on #3372
@rebidaldal can you test this branch? https://github.com/microsoft/LightGBM/tree/sum-test

[2020-09-14 08:38] pseudotensor commented on #3386
Yes, this is what is referred to at: https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html  when saying "H2O DataTable's Frame" I believe.  If you recall, there was a problem where datatable -> lightgbm caused problems since lightgbm treated it as a buffer type object, but I think you convert it to numpy or pandas inside now.

Yes, so if types can be persisted, that would save

[2020-09-14 09:56] guolinke commented on #3372
@rebidaldal BTW, on my linux machine, I cannot reproduce this anymore, with fixes in #3385
![image](https://user-images.githubusercontent.com/16040950/93072123-8fc73f00-f6b3-11ea-8090-d23852afe0d1.png)

[2020-09-14 10:52] rebidaldal commented on #3372
This branch breaks ff_bynode. Perhaps #3384 fix is not in it. But it does not fix bagging.

![bug_8](https://user-images.githubusercontent.com/31393524/93076834-9f815c00-f690-11ea-835c-81fff9e42243.jpg)

It looks like` fillna(0) `also fixes instability but this workaround is not acceptable for my use case.

the fixes in #3385 have really mitigated the instability issue. Sometimes I get lucky and s

[2020-09-14 12:32] CharlesAuguste commented on #3371
I gave this some thoughts, and one way I can see this working would be:
- Reset all constraints before RenewTreeOutput is being called;
- Every time a leaf output is updated by RenewTreeOutput, update the constraints of the contiguous leaves using a function like GoUpToFindLeavesToUpdate (https://github.com/microsoft/LightGBM/blob/master/src/treelearner/monotone_constraints.hpp#L234);
- Introduce

[2020-09-14 14:04] guolinke commented on #3372
@rebidaldal yeah, that branch is to debug the omp reduction is the root cause or not.
As it doesn't work with bagging, i think there are some other places that also cause the problem.

[2020-09-14 14:08] guolinke commented on #3372
I will try on ubuntu 20.04 this weekend. Currently, I use 18.04, and seems everything is fine. (24 cores).

[2020-09-14 14:36] StrikerRUS commented on #3394
@guolinke Yeah, possibly. But some of them can be fixed and are not related to templates I believe. For instance,
[code]

[2020-09-14 15:43] StrikerRUS commented on #3394
Also, we have the following warnings with gcc for GPU version:
[code]
https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=7330&view=logs&j=9ce42e5d-f31a-544a-a6de-dc42f8c013ed&t=b696def5-78ae-590c-4234-04332342ba2d

But it looks like a problem in `boost` codebase itself, not with our GPU learner code, right? @huanzhang12

[2020-09-14 17:28] StrikerRUS opened #3398 "Flaky test with exception: access violation writing on Windows"
In `test_plot_split_value_histogram` sometimes `WindowsError: exception: access violation writing` occurs
https://github.com/microsoft/LightGBM/blob/164818b029b02253796c9b2fe6391c572608f345/tests/python_package_test/test_plotting.py#L63

For the moment of creating this issue I saw it two times: in #3380 and #3397.

[code]

Both times it was in the following Windows job
https://github.com/microsoft

[2020-09-14 18:15] jameslamb commented on #3398
is this different from #1818 ?

[2020-09-14 20:16] StrikerRUS commented on #3398
@jameslamb Yes, this this test started to fail only some days ago and it is VS while that one is MinGW.

[2020-09-14 20:25] jameslamb commented on #3398
oh ok got it

[2020-09-15 03:23] StrikerRUS commented on #1441
New results: https://github.com/szilard/GBM-perf/issues/29#issuecomment-689713624.

[2020-09-15 04:31] guolinke commented on #3371
@CharlesAuguste thank you so much!
Can't we just update the leaf outputs after RenewTreeOutput?

theoretically, the post-fix solution cannot learn the "optimal" tree structure, as we don't consider MC during tree growth.
But the RenewTreeOut also is a post-fix solution, for the tree structure is learned by the different objective.

[2020-09-15 04:38] guolinke commented on #3398
maybe there are some memory leakages. @shiyu1994 can you take a look when you have time?

[2020-09-15 04:44] guolinke commented on #3394
@StrikerRUS
yeah, for that warning, it is introduced by code refactoring.
![image](https://user-images.githubusercontent.com/16040950/93166253-a8396700-f750-11ea-806e-1251f8c61fbf.png)

for the rest type conversion errors, we can fix them.

[2020-09-15 05:56] #3374 closed

[2020-09-15 07:54] wyfSunflower commented on #3374
Another question:How to use lgb to train a gbdt+lr model?

[2020-09-15 10:47] yalwan-iqvia commented on #3369
I think it would be other way round. If LightGBM implemented datasetFromArrow, it would probably be useful to speed up / improve efficiency from within MMLSpark

[2020-09-15 12:21] #3363 closed

[2020-09-15 14:44] StrikerRUS commented on #3398
I guess these recent PRs may contain a bug: #2850, #3022.

[2020-09-15 15:11] AlbertoEAF commented on #3267
Yeah @StrikerRUS , even integer to string conversions might benefit from it, not only floating point conversions with shortest representation. LightGBM already has a custom `Atoi` function built to improve performance I believe, but it seems not even that will beat this:
- http://www.zverovich.net/2020/06/13/fast-int-to-string-revisited.html

[2020-09-15 17:06] CharlesAuguste commented on #3371
@guolinke yes updating leaf outputs after RenewTreeOutput should work the same as far as I understand it. I can give that a try in the coming days, and we'll see how that works!

[2020-09-15 19:43] StrikerRUS commented on #3394
@guolinke

I remember that refactoring was done to workaround warning from VS 2019 about that not all code paths return value. I think we should prefer eliminating warnings from the most recent VS versions.

[2020-09-15 21:53] dgrnbrg commented on #3375
Ah, so supposing that I had 2 correlated conditioning features (A & B), and a predictive feature (P), then I could ensure that any path in any tree has (A&P or B&P), but never (A&B or A&B&P)? Is there a reference where I can read more about this?

While that could be helpful for my application, I actually would like something like the learning rate callback, but for feature selection for a given t

[2020-09-16 02:55] Liansy opened #3400 "how to change lightgbm josn model to sql ？"
## Summary

## Motivation

## Description

## References

[2020-09-16 02:59] Liansy commented on #3400
I want to parse the JSON rule format of the lightgbm model into SQL statements for deployment on the database. Is there any good solution?

[2020-09-16 03:25] jameslamb commented on #3400
Hi @Liansy , thanks for using `LightGBM`! We don't have any code in this project that allows you to code-generate SQL from a trained model.

You can look through the [list of LightGBM extensions](https://github.com/microsoft/LightGBM#external-unofficial-repositories) to see if any of them have that type of functionality.

I know that such projects exist generally, like [`sqlflow`](https://github.c

[2020-09-16 03:26] jameslamb commented on #3400
For my own knowledge, could you explain why you're looking to use a SQL representation instead of, say, Python or C++?

[2020-09-16 08:29] btrotta commented on #3374
@wyfSunflower Please open a new issue for this new question. Also, could you provide some more detail about what you're trying to do? I don't understand what you mean by "gbdt+lr model".

[2020-09-16 08:45] btrotta commented on #3375
@dgrnbrg See my edit to my earlier comment above, I had misremembered how this works. Our implementation is similar to xgboost's; see their docs for detailed explanation: https://xgboost.readthedocs.io/en/latest/tutorials/feature_interaction_constraint.html

For your example, assuming your features are in the order [A, B, P], you could specify `interaction_constraints=[[A,P], [B,P]]` to prevent A

[2020-09-16 18:33] AlbertoEAF commented on #3267
@guolinke @StrikerRUS I've hit some issue with the LightGBM model (same as the one above with the image) which I don't understand and really need your help. Any ideas of what might be causing this are greatly appreciated!

## Issue

**When I switch the call that turns floating point parameters to strings in the model write**, I get **numbers which have sometimes a redundant trailing 0 in the scien

[2020-09-16 19:21] StrikerRUS commented on #3267
@guolinke The issue described above can be the root cause of our previous issue when maintainers of Julia package had to remove `tree_sizes` field to load a model created on another machine: #3137.

[2020-09-17 00:39] AlbertoEAF commented on #3267
To further reinforce the "bug" origin, I added code to strip away trailing 0's in the decimal digits of numbers, and it already works properly - i.e., there are no differences in the output models! (This is the temporary hack I proposed on the https://github.com/fmtlib/fmt/issues/1873).

This commit https://github.com/feedzai/LightGBM/pull/2/commits/c34c43da599b1bf60884d3576970103c26cc6204 adds th

[2020-09-17 01:18] AlbertoEAF commented on #3267
I was already able to replace all write calls except `DoubleToStr` again due to divergences in fmt and snprintf. However there's a hack to fix it too until they fix it in the library: truncating the output string to the maximum number of significant digits: https://github.com/fmtlib/fmt/issues/1875

[2020-09-17 02:14] guolinke commented on #3267
@AlbertoEAF the tree-size is the string size of tree model content. We use it for the multi-threading loading tree models.

[2020-09-17 07:21] AlbertoEAF commented on #3267
Ah! So it's no bug! I get it now, shouldn't be a problem then, thanks!

[2020-09-17 14:55] GlorianY commented on #3014
Hi,

Is this problem already fixed?

I use LightGBM version 3.0.0, and scikit-learn version 0.23.2.
When I try to run the code in the section "Steps to reproduce", from @romanlutz, I still get the NotFittedError error (sklearn.exceptions.NotFittedError: This LGBMClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator).

Or, in order to fix this erro

[2020-09-18 00:39] StrikerRUS commented on #3014
Hello @GlorianY !

The problem is fixed in the `master` branch. Unfortunately, the fix was not included in the `3.0.0` release. It will be in the next one. For now you can download wheel file from nightly build and install it: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html.

[2020-09-18 02:12] Liansy commented on #3400
In the process of project deployment, we usually use Python as a model building tool. However, when we finally deploy to the application, we can only deploy through hive SQL. We can't obtain the permission to use Java or C + +. Therefore, we want to parse the JSON model results saved by lightgbm into SQL case when.

[2020-09-18 05:18] jameslamb commented on #3400
I suspected that might be the case, thank you!

Unfortunately we do not support this today and I'm not aware of a project that does. I recommend opening an issue in https://github.com/sql-machine-learning/sqlflow and linking to this issue (so others who find this via search will know to go there).

@StrikerRUS @guolinke do you agree with that? Or do you think we should add this as a feature reques

[2020-09-18 07:02] Liansy commented on #3400
Thank you！

[2020-09-18 13:17] MatthiasMichael opened #3401 "LightGBM fails linear classification task"
I am not filing this as a bug because I am pretty sure the error is on my side.
I am trying to use LightGBM for a small toy classification example (sklearn iris dataset reduced to two classes and two features) that is linearly separable. LightGBM however fails to find an optimal separation between the examples used for training while the GradientBoostingClassifier integrated in sklearn does not se

[2020-09-18 20:39] StrikerRUS commented on #3400
@jameslamb I agree with you. It looks like a task for special libraries focused on ML with SQL, not for LightGBM main repo.

[2020-09-18 22:46] guolinke commented on #3401
I guess the data is very small . And you can try min_data=1 and min_bin_in_bin=1

[2020-09-19 01:17] jameslamb commented on #3400
Ok great, I can see you've opened https://github.com/sql-machine-learning/sqlflow/issues/2942 so I will close this.

[2020-09-19 01:17] #3400 closed

[2020-09-19 15:58] franktoffel commented on #2478
I have got the error `LightGBMError: Do not support special JSON characters in feature name.` when using LightGBM 3.0 on a Windows 10 machine. It seems that issues with special characters were fixed with this release, but perhaps not on windows?

[2020-09-21 07:53] MatthiasMichael commented on #3401
Thank you so much. Setting min_data_in_bin=1 solved my issue.

[2020-09-21 07:53] #3401 closed

[2020-09-21 10:24] jayantphor commented on #3348
Thanks @guolinke .
I have one more query regarding the factor (1-a)/b which is used inside the GOSS for bumping up the  hessian and gradient value of records with smaller gradients.
I have 36 records in my input dataset having 5 classes in my target variable  and my top rate and other rate are 0.2 and 0.1 respectively. There can be three ways to calculate the value of this 1-a/b factor i.e,

1. In

[2020-09-21 11:02] shiyu1994 commented on #3348
The code for calculating the factor (1 - a)/b is

It is basically the same as your Point 3, except that
1. The `other_rate` is multiplied with the size of whole dataset (`cnt`), instead of the remaining dataset after sampling the top instances.
2. `static_cast<data_size_t>` is a rounding down operation for positive floating numbers, instead of rounding to the nearest integer.

[2020-09-21 14:24] StrikerRUS commented on #3310
@naveen-9697 Please refer to #768 and some benchmarks in https://github.com/Laurae2/ml-perf/issues and https://github.com/szilard/GBM-perf/issues for the problem of small GPU utilization.

[2020-09-21 14:24] StrikerRUS commented on #3310
Closing this issue because the original problem has been solved.

[2020-09-21 14:24] #3310 closed

[2020-09-21 14:28] StrikerRUS commented on #2937
Implemented in #3160. Many thanks to all involved people for the amazing work! We are looking forward for further CUDA improvements, e.g. Windows support.

[2020-09-21 14:28] #2937 closed

[2020-09-21 15:03] StrikerRUS commented on #2341
I'd like to propose refactoring additional config structures introduced in the initial CUDA support (I believe they can be replaced by ordinary config object)
https://github.com/microsoft/LightGBM/blob/1782fcb1e46ad0f06993d403b62d013d1e2cf76b/include/LightGBM/cuda/vector_cudahost.h#L16-L34
https://github.com/microsoft/LightGBM/pull/3160#discussion_r474855979

[2020-09-21 15:11] jayantphor commented on #3348
Thanks @shiyu1994 .
So according to this code , for 36 records my (1-a)/b factor should be 9(after rounded off).

[2020-09-21 15:13] StrikerRUS opened #3402 "CI CUDA job"
Opening separate issue to discuss enabling CUDA CI job on demand as the original PR with initial CUDA support has 400+ comments. Refer to https://github.com/microsoft/LightGBM/pull/3160#issuecomment-659105695.

@guolinke Will `linux-gpu-pool` be used exclusively for LightGBM (CUDA) CI jobs? Or this machine is used for other purposes as well?

[2020-09-21 15:16] guolinke commented on #3402
It is exclusive, feel free to use it.

[2020-09-22 02:57] vedayoung commented on #474
me too, so what did u do to solve this problem :D

[2020-09-22 17:15] jameslamb commented on #474
hi @vedayoung , thanks for using `LightGBM`!

If you're having trouble installing LightGBM, can you please open a new issue and describe what you're trying and the error messages you see?

[2020-09-23 09:31] gofford opened #3404 "[R-package] workflow for encoding unseen (new) data"
Hi!

For a model that is trained weekly and used to make daily predictions, what is the 'correct' method for applying a R-trained LightGBM model to new, unseen daily data?

An alternative way to ask the same question is: do the same encoding rules need to be applied to the unseen new data, and if so, how should this be done? I can't find any examples of this.

I'm seeing an issue where a model per

[2020-09-23 13:23] onshek commented on #3379
I'm willing to take this as my first contribution to the repo.
It seems a new parameter `ignore_warnings` detault to be `True` can be added to related functions, right?

[2020-09-23 13:51] StrikerRUS commented on #3026
Closed via #3347.

[2020-09-23 13:51] #3026 closed

[2020-09-23 14:53] AlbertoEAF commented on #3267
Hello @guolinke @StrikerRUS I have good news, I've completed the code changes and it's passing all the tests!

Instead of relying on Ryu, actually I used fmt to write values to strings as it provides similar performance and its API is much more inline with the rest of the LightGBM codebase. To do string->double parsing I am using this library: https://github.com/lemire/fast_double_parser which pro

[2020-09-23 18:59] StrikerRUS commented on #3267
Looks like the difference is in the 18th+ digit in all examples. And according to IEEE 754, double gives only [15-17 first significant digits](https://en.wikipedia.org/wiki/Double-precision_floating-point_format#IEEE_754_double-precision_binary_floating-point_format:_binary64). So, I believe it is OK to have inconsistent digits after 17th place.

[2020-09-23 19:26] AlbertoEAF commented on #3267
Hmm that's interesting, in that case we could replace `Atof` and further simplify the codebase :)

Thanks Nikita! I'll run some tests tomorrow and see if the scores don't change.

[2020-09-23 21:47] narendramukherjee opened #3406 "Expose number of bins used by the model while binning continuous features to C API"
Hi,

I am using the sklearn api to lightgbm, and am wondering if there's a way I can get the number of bins (defined to be < max_bin) that the model creates while binning continuous features? I found the cpp code that counts up the bins (in `num_bin_`) here: https://github.com/Microsoft/LightGBM/blob/7a89d0054bcf0db9f96af3c53a078b6aa3152efe/src/io/bin.cpp#L207-L401 , going from #2063 , but is ther

[2020-09-23 23:26] econkc opened #3407 "Python scikit-learn predict_proba with objective='cross_entropy_lambda' returns probabilities > 1"
I'm running my model on Mac
Python version 3.0.0

LGBMClassifier(random_state=42, data_seed=42, objective='cross_entropy_lambda')

the predict_proba() returns value > 1.

[2020-09-24 04:25] guolinke commented on #3267
I remember that `atof` is used for the precision non-sensitive conversion (it will be faster), like the split_gain.
If the new solution is faster and more precisious, we can switch to it.

[2020-09-24 04:40] jameslamb commented on #3404
hi @gofford , thanks for using `LightGBM`! Can you please clarify a few things for me?

1. What version of LightGBM are you using?
2. Can you show me in code what you mean by "the encoding rules"?
3. Are you using the parameter `categorical_features` in your call to `lgb.train()`?

It would help if you can share a code sample that describes what you mean by "encoding generated from initial train".

[2020-09-24 05:56] guolinke commented on #3407
Refer to https://github.com/microsoft/LightGBM/blob/2870490073c537eeb3648893257be8692b63148c/src/objective/xentropy_objective.hpp#L219-L230

[2020-09-24 06:15] econkc commented on #3407
Thank you for a quick response

[2020-09-24 14:01] StrikerRUS commented on #3407
Also, it is worth to mention that `xentlambda` is listed in a separate application type. It is neither binary classification, nor multiclass classification problem. So, I think this objective should be used with general `LGBMModel` class, where `predict_proba()` method is unavailable, but not with `LGBMClassifier` to not get confusing results like described above.

![image](https://user-images.git

[2020-09-24 14:01] #3407 closed

[2020-09-24 14:50] gofford commented on #3404
Hey @jameslamb,

1) I'm using LightGBM 3.0.0.

2) Apologies for the ambiguity on the explanation! 'encoding generated from the initial train' is the `rules` output of `lightgbm::lgb.convert_with_rules` when applied to the training set. An abridged version of my processing code is:

3) Yes, I am using the `categorical_features` parameter in the call to `lgb.train()`

Here's some code. I don't have

[2020-09-25 22:49] StrikerRUS commented on #3402
I think we can go the following way.

1. Create a separate pipeline for CUDA job (https://sethreid.co.nz/using-multiple-yaml-build-definitions-azure-devops/).
2. Mark it as non-required and disable auto-builds (https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#run-pull-request-validation-only-when-authorized-by-your-team).
3. Setup comments triggers (

[2020-09-25 22:52] StrikerRUS commented on #3402
@guolinke

I think it will be enough to have 1 machine.

![image](https://user-images.githubusercontent.com/25141164/94322317-df9ee380-ff9a-11ea-86be-e85e4f99f108.png)

[2020-09-26 00:48] guolinke commented on #3402
@StrikerRUS these VMs are allocated on-the-fly, I am not sure can we install driver on it or not.

[2020-09-26 00:52] guolinke commented on #3402
I just install the gpu driver extension.

![image](https://user-images.githubusercontent.com/16040950/94326283-928c3300-ffd5-11ea-9c9a-b20dd29dc5ff.png)

[2020-09-26 00:56] guolinke commented on #3402
let us set the max workers to 2, in case for some cocurrence jobs.

[2020-09-26 19:12] StrikerRUS commented on #3402
Looks like driver extension didn't help: there is no `nvidia-smi` utility which is normally installed with NVIDIA drivers.

Also, I found experimental option that allows to not install driver on host machine but use driver containers.

   https://github.com/NVIDIA/nvidia-docker/wiki/Frequently-Asked-Questions#how-do-i-install-the-nvidia-driver

    https://github.com/NVIDIA/nvidia-docker/wiki#how-

[2020-09-27 01:31] guolinke commented on #3402
Thanks @StrikerRUS , Maybe we can use self-hosted github action agents. I used it before, which can use an permanent VM for CI jobs.
I will try to build one in the next week.

[2020-09-27 02:25] guolinke commented on #3372
sorry, I am busy recently, will come back to this issue at the end of OCT.

[2020-09-27 02:40] #2208 closed

[2020-09-27 02:40] #2468 closed

[2020-09-27 02:50] guolinke commented on #3402
just create an runner
![image](https://user-images.githubusercontent.com/16040950/94354594-2e3da200-00af-11eb-8005-1d0bf81a2816.png)

you can have try. the driver and docker is installed. Also, I fix the setup-python according to https://github.com/actions/setup-python#linux

[2020-09-27 18:00] StrikerRUS commented on #3402
Amazing! Just got it work!

Will read more about GitHub Actions self-hosted runners and get back with new proposals in a few days.

https://github.com/microsoft/LightGBM/runs/1173237869?check_suite_focus=true
![image](https://user-images.githubusercontent.com/25141164/94372186-5f948d00-0104-11eb-90ab-fb9ea02065dd.png)

[2020-09-27 19:03] StrikerRUS commented on #3402
Hmm, seems that it is possible to use on demand allocation of new VMs with each trigger:
https://github.com/AcademySoftwareFoundation/tac/issues/156
https://github.com/jfpanisset/cloud_gpu_build_agent

Or probably it will be good (at least easier) to have one permanent VM with installed drivers and docker, but turn it on and off automatically with new builds.

[2020-09-28 15:55] lcsdavid opened #3412 "["bug" linkage] can't resolve "__cdecl LightGBM::Tree::~Tree(void)" ..."
## ["bug" linkage] can't resolve "__cdecl LightGBM::Tree::~Tree(void)" ... on C++ library

For some reasons I need to interact with trees `LightGBM::Tree` more than it supposed to be as this class is not exported within LightGBM's DLL.
It results to a failure on linkage (perfectly normal) when trying to destroy those trees in this sample code:
[code]

The easy solution for this is too put the dest

[2020-09-28 15:58] jameslamb commented on #3412
thanks for using `LightGBM` @lcsdavid ! I don't understand the issue from your description, but it might be clearer if we see your proposed change.

Please submit a pull request, thanks for contributing!

[2020-09-29 01:49] abajorat93 opened #3413 "Early Stopping not working for custom folds in Cross Validation"
## How you are using LightGBM?
* Python package

LightGBM component:

## Environment info

Operating System: ubuntu:20.04

CPU/GPU model:

C++ compiler version: N/A

CMake version:N/A

Java version:N/A

Python version: 3.8

R version:N/A

Other:

## Error message and / or logs

[code]

## Reproducible example(s)

[code]

If I run the cross validation with custom folds, the early stopping does not

[2020-09-29 04:35] jameswinegar opened #3414 "[python] Performance - Conda (anaconda vs conda-forge channel)"
Discussed with @jameslamb around some performance issues when installing from conda-forge vs anaconda channel.

Anaconda's default channel produces around ~20x better performance. This is likely due to compiling BLAS and MKL with their default distribution. Given the popularity of the conda-forge package, it might be worth investigating performance improvements that can be made to drive the adopti

[2020-09-29 05:14] guolinke commented on #3414
did you try to set num_thread to the same number in benchmark?

[2020-09-29 05:35] jameswinegar commented on #3414
@guolinke these are on the same machine running in parallel. Nothing special was done for the configuration outside of what's shown here.

If you would like me to test I can run an additional test.

[2020-09-29 06:46] Brian0906 opened #3416 "Traning model on multi GPUs?"
I prefer to use multi GPUs to speed up traning model, but there is only few information about this in the document. Does lightGBM works well on multi GPUs ?

[2020-09-29 07:41] guolinke commented on #3414
@jameswinegar yeah, I guess some default environment variables may are different, like omp_num_threads, and cause the different performance. So it is worthy to try the fixed num_threads in the LightGBM side.

[2020-09-29 08:48] JiaRu2016 opened #3418 "expose valid_dataset_name to customized `feval()` interface"
## Summary

I'v encounter such a demand: for different valid dataset, apply different `feval` function, to achieve this, i need to know "which the `ds` is"  in `feval(preds, ds)`.  So it may be need to modify `feval ` interface to add eg. `ds_name` or `ds_index` argument:

[code]

Or is there any method that can solve this in user part thus do not change lightgbm source code ?

[2020-09-29 09:56] gofford commented on #3404
Rolling back to v2.3.1 resolved whatever was happening here, but why it was happening in v3.0.0 remains unclear.

[2020-09-29 11:28] StrikerRUS commented on #3414
Probably it worth to try to pin the following env variables as well:
[code]

[2020-09-29 19:47] metpavel opened #3420 "LambdarankNDCG objective ignores truncation level"
In /src/objective/rank_objective.hpp: currently, for each query, all pairs of documents contribute to the gradients computation regardless of the truncation level _k_. However, to correctly optimize for NDCG@_k_, one should exclude pairs containing both documents beyond the top _k_ (as they don't affect NDCG@_k_ when swapped). Please enforce the check for the truncation level _k_.

[2020-09-29 19:54] jameswinegar commented on #3414
okay, well I wasn't able to replicate the 20x performance difference again. There might have been someone running an additional workload.

I did this on a few machines and set all environment variables equal to number of cores.

Still seeing around a 10-15% difference in the performance between conda-forge and anaconda channel, favoring the anaconda channel.

[2020-09-29 23:35] #3394 closed

[2020-09-30 06:05] #3371 closed

[2020-09-30 06:07] #3398 closed

[2020-09-30 09:58] jacquespeeters opened #3422 "[Discussion] Lambdarank and query deduplication/weighting"
Might be off-topic, let me know if it is not the right place.

Problem description :
I want to create a non-personalized ranking for categories on an e-commerce website.
When using ranking, one query usually represents one user.

E.g. if we have 100 products in the same category :
* User_i make query “drill” then click on product_i, 99 others products are negative candidate
* User_j make query “dr

[2020-09-30 10:16] guolinke commented on #3420
@metpavel during training, some top docs may be wrong ranking, and not in top-k. In these cases, we still need to consider all docs.

[2020-09-30 10:31] metpavel commented on #3420
@guolinke, in fact, we would still consider all documents even if we exclude pairs containing both documents beyond the top-_k_ (as any document will contribute when paired with any other top-_k_ document -- thus any relevant document has a push towards the top of the list no matter what position it is at). Otherwise, we just optimize for NDCG@Full_Rank regardless of the desired truncation level.

[2020-09-30 10:45] guolinke commented on #3420
actually, the parameter once named `optimize_pos_at_`,  but I find it actually does not optimize the ndcg@k, and change its name to `truncation_level_`.

For your solution, `exclude pairs containing both documents beyond the top-k`, I mis-read it.
I think it is a good solution!
Do you have the interest to create a PR for this change?

[2020-09-30 12:29] lgrz commented on #3422
I'm not sure if this is off topic or not, but happy to be told otherwise.

You may want to look into click models for search, and consider how to make
them features for your ranking model, also it is closely related to a
sub-field called Online LTR.

This project has many resources on click models:
https://github.com/markovi/PyClick

[2020-09-30 14:14] StrikerRUS commented on #3414
ping @aldanor and @synapticarbors as [maintainers of the conda-forge feedstock](https://github.com/conda-forge/lightgbm-feedstock#feedstock-maintainers).

[2020-09-30 14:27] StrikerRUS commented on #3416
Multi-GPU support has been introduced several days ago with new CUDA compilation option. That is why there is no info about this yet.

Early tests show it can work with 4 GPUs: https://github.com/szilard/GBM-perf/issues/12#issuecomment-699144433.

[2020-09-30 20:38] StrikerRUS commented on #3402
@guolinke I'm afraid we cannot run tests with NVIDIA Tesla M60.

[code]

https://en.wikipedia.org/wiki/CUDA#GPUs_supported

![image](https://user-images.githubusercontent.com/25141164/94736731-60802580-0375-11eb-9661-5d9b1cf76b42.png)

https://github.com/microsoft/LightGBM/blob/79d288a32db3b124c39cbe40c1ab0c18647595d1/CMakeLists.txt#L159

   https://github.com/microsoft/LightGBM/pull/3160#discussi

[2020-10-01 00:39] guolinke commented on #3402
I see. I will change it to p100 or p40

[2020-10-01 00:54] guolinke commented on #3402
Now it is p100

[2020-10-01 06:11] StrikerRUS commented on #3402
@guolinke

Thank you!

Is there any similar to AWS G4 machines in Azure? It will probably cost less:
https://github.com/dmlc/xgboost/issues/4881#issuecomment-534322162
https://github.com/dmlc/xgboost/issues/4921#issuecomment-540244581

[2020-10-01 06:46] guolinke commented on #3402
The only other option is p40, which provides more GPU memories, but slightly slower. The cost is the same. So I choose p100.

[2020-10-01 15:59] onderhazaroglu opened #3426 "Sklearn wrapper class weight explanation"
I'm trying to use class weight feature sklearn wrapper but couldn't find an explanation regarding how these weights should be set. Should the weights be higher for more frequent classes?

[2020-10-02 03:21] jameslamb commented on #3404
Ok sorry for the delayed response!

@gofford this procedure all looks good to me!

Yes, before predicting on new data, you should call `lgb.convert_with_rules()` using the same rules created during training. Since your first call to  `lgb.convert_with_rules()` didn't provide your own rules, any character or factor columns will have been assigned numeric values based on the order they were encounte

[2020-10-02 12:03] btrotta commented on #3362
This is the intended behavior. When creating the subset LightGBM uses the same bin thresholds as the original dataset instead of calculating them from scratch. However the histogram (i.e. the number of data points in each bin) is recalculated for the subset.

This functionality is used for cross-validation in `CVBooster` (https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.CVBooster.html)

[2020-10-02 13:13] nathans3 opened #3427 "Please explain input variables of LIGHTGBM_EXPORT Dataset* ConstructFromSampleData"
Hello I am trying to use the method below. The meaning of some of the input variables is not clear.
Can you please explain the meaning of the input variable? Thank you!

LIGHTGBM_EXPORT Dataset* ConstructFromSampleData(double** sample_values,
    int** sample_indices, int num_col, const int* num_per_col,
    size_t total_sample_size, data_size_t num_data);

[2020-10-03 05:17] hcho3 commented on #3353
FYI Hacktoberfest now switched to opt-in: https://hacktoberfest.digitalocean.com/hacktoberfest-update. You should add `hacktoberfest` topic to the repository to opt in. Example:
![Screen Shot 2020-10-02 at 9 38 50 PM](https://user-images.githubusercontent.com/2532981/94983440-aa911480-04f7-11eb-9d10-1333179a9d06.png)

[2020-10-03 05:21] jameslamb commented on #3353
thank you! I juuuuust saw https://github.com/digitalocean/hacktoberfest/pull/596 on Twitter

I just added the `hacktoberfest` label to the repo

[2020-10-03 08:31] philip-khor commented on #3390
can I claim callback.R please?

[2020-10-03 12:15] AlbertoEAF commented on #3426
Usually you'd give more weight to the rarer classes so you get a more even "weighing" of the several classes.

[2020-10-03 13:39] onderhazaroglu commented on #3426
That's what I thought at the beginning, but seems like LightGBM works other way around. I tried the usual way, but giving more weight to frequent classes gave me a better accuracy. Is it possible the weights be divisor instead of multiplicator here? It'd be great if it was explained in documentation.

[2020-10-03 14:25] nathans3 opened #3432 "Issues with running in debug mode under Visual Studio"
Hello I am facing this issue - I am trying to use the C_API of LightGBM in my C++ project.
I have linked my project to LightGBM package which is stored in a different location than my project is located. All built and run well in Release mode. In debug mode however after a successful build, when I run I get the message that "the code execution cannot proceed because lightgbm.exe was not found. Rei

[2020-10-03 23:42] jameslamb opened #3433 "[R-package] Suppress 'warning: unknown pragma' for CRAN package"
## Description of the problem

As of the changes in #3160 , builds of the CRAN version of the R package with `gcc` now raise "unknown pragma" warnings.

CRAN does not allow the use of `-Wunknown-pragmas` to suppress such warnings, so we remove them with `sed` when building the R package.

The "bug" here is that LightGBM's CI did not catch this. That should also be fixed.

## How to fix this

Add `

[2020-10-04 06:01] cctechwiz commented on #3433
I'll take this one. I don't have a Mac like the example, but I do have Linux w/ `gcc` so that should work the same.

[2020-10-04 06:12] jameslamb commented on #3433
sure, thanks for contributing! I'll assign it to you.

I agree, this is probably a `gcc`-specific thing, not a Mac-specific thing. If you get stuck with our testing setup, let me know!

[2020-10-04 09:05] AlbertoEAF commented on #3426
I'm sure it will give you better accuracy, but does it give you better
recall on the rare class at the same alert rate?
I'm almost positive it will not.

On Sat, 3 Oct 2020, 14:39 onderhazaroglu, <notifications@github.com> wrote:

[2020-10-04 23:11] chutcheson commented on #2742
I'm encountering a very similar issue to this on 3.0.0 on GPU. I dropped my categorical columns because I was concerned that was the cause.

But, I still get the error, even though I might hit it less frequently?

[2020-10-05 09:30] sh1ng commented on #2793
Still happens in version 3.0
[code]

https://github.com/h2oai/h2o4gpu/blob/master/tests/python/open_data/gbm/test_lightgbm.py#L265-L284

[2020-10-05 15:58] jmrichardson opened #3436 "Suppress warning messages"
Hi, I am unable to disable warning messages.  I have found a few references in the issues list however none of the remedies are helping. I am using raytune with lightgbm to tune HPO and using sklearn cross_val_score:

[code]

I have tried setting verbose and verbosity to -1 in params.  Also with creation of the model.  As you can see I am using cross_val_score to do cross validation score so I don

[2020-10-05 16:39] StrikerRUS commented on #3436
@jmrichardson Hi!

Unfortunately, without a fully reproducible example it is hard to say why setting `verbosity=-1` didn't help to suppress warnings. However, I'd advise you to fix a root cause of these warnings: use aliases that are used in scikit-learn wrapper as normal arguments. Then all warnings will be disappear.

[2020-10-05 17:08] ninenerd opened #3438 "How to measure accuracy of a regression model ?"
import lightgbm as lgb
d_train = lgb.Dataset(x_train, label=y_train)
params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['objective'] = 'binary'
params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10
clf = lgb.train(params, d_train, 100)

#Prediction
y_pred=clf.predict(x_test)

[2020-10-05 18:28] StrikerRUS commented on #3438
Use any regression metric from scikit-learn library, for example.
https://scikit-learn.org/stable/modules/classes.html#regression-metrics
[code]

[2020-10-05 18:28] #3438 closed

[2020-10-05 18:44] #3152 closed

[2020-10-05 18:49] StrikerRUS commented on #3289
Closing because we already have a feature request for extremely large model files (#2265). Feel free to vote in #2302.

[2020-10-05 18:49] #3289 closed

[2020-10-05 18:51] #3303 closed

[2020-10-05 18:51] #3375 closed

[2020-10-05 18:52] #2987 closed

[2020-10-05 18:52] #3348 closed

[2020-10-05 19:56] jmrichardson commented on #3436
@StrikerRUS thank you for the tip.  That worked perfectly and didn't cross my mind to actually fix the warning :)

[2020-10-05 19:57] #3436 closed

[2020-10-05 22:22] jacquespeeters commented on #3422
Hello,

Thank you @lgrz but [I'm feeling quite confident about my ranking feature engineering :D](https://recsys.trivago.cloud/leaderboard/), but my problem here assert I'm optimizing the right thing.

After looking at nDCG loss, setting linear gain to label_gain and no weights paramater it should works (should have checked before writing my first post). Created a custom_map5 function to assess th

[2020-10-06 05:48] ninenerd opened #3440 "No further splits with positive gain, best gain: -inf"
I am new to Lightgbm and there are few documentation, so seeking some help.

1.What does this mean while training ? (No further splits with positive gain, best gain: -inf). An error ?

2. I am training a regression model with Lightgbm, what should be the metric for parameter ? see below hyper_params.

3. While fitting the model, there is something called eval_metric , should I use another metric t

[2020-10-06 06:24] btrotta commented on #3413
The following example (similar to your code, using built-in sklearn dataset) is working ok for me, even with custom folds:
[code]

It looks like you didn't post your complete script above, so I wonder if the problem is that you make repeated calls to `lgb.cv`, each time passing the same `folds` iterator? This will cause the error you are seeing, because on the second call the iterator is already c

[2020-10-06 12:35] JiaRu2016 commented on #3418
I'v found a temporary solution : just use `ds is valid_ds` where `valid_ds` is the Dataset object that passed to `lgb.train` `valid_sets=` parameter. But I'm not sure whether can we count on it.

[2020-10-06 12:35] #3418 closed

[2020-10-06 17:51] abajorat commented on #3413
Thank you, actually the GroupShuffleSplit did not do what I thought it would and that was the problem in the end.
Anyway, thanks for the answer

[2020-10-06 21:20] jualbina opened #3442 "Issue when loading previously trained model file"
I am trying to load a previously trained model file, but having format errors. I suspect that it is a versioning issue, since the older trained model shows version as _v2_, while newer model files shows as version v3 and work as expected. I have inspected the file and, although there is extra information on the newer model file, nothing seemed obviously wrong in the older model file.

Newer model

[2020-10-07 04:10] shiyu1994 commented on #2793
Ok.

[2020-10-07 06:05] #3413 closed

[2020-10-07 13:57] imatiach-msft commented on #2793
@shiyu1994 @guolinke FYI my issue was resolved when I upgraded after my fix https://github.com/microsoft/LightGBM/pull/3110 , but it sounds like others are still encountering issues similar to what I had

[2020-10-08 04:56] jameslamb commented on #2714
I'm going to close this issue due to inactivity. A lot of improvement have been made to the R package since May, which I hope have made it easier to install.

Because of this, the ability to install from a pre-compiled DLL will be removed soon: #3360

[2020-10-08 04:56] #2714 closed

[2020-10-08 05:05] jameslamb commented on #629
I want to provide an update for anyone who is subscribed to this issue:

`{lightgbm}` was briefly accepted to CRAN a few weeks ago, but was then kicked off for a combination of failing checks with `valgrind` and, according to CRAN, too many failed submissions. We have been banned from re-submitting until November.

See https://github.com/microsoft/LightGBM/pull/3338#issuecomment-702756840 for a su

[2020-10-08 06:17] lgrz commented on #3422
One thing to note is that AP is usually calculated with [binary relevance judgments](https://github.com/microsoft/LightGBM/blob/master/src/metric/map_metric.hpp#L92). Perhaps this is related to your issue?

[2020-10-08 22:29] OldMortality opened #3445 "[R-package] R session crashes on iris example"
R crashes when I get to lgb.train statement.

This is happening in my project, but I can recreate it in the iris example (attached)

I will attach the code, and a screenshot of the error.
This has worked for me before, I don't know what has changed.

[lightgbm R fatal error.zip](https://github.com/microsoft/LightGBM/files/5351548/lightgbm.R.fatal.error.zip)

The FAQ says I may ping a member with t

[2020-10-08 22:54] jameslamb commented on #3445
Hi @OldMortality , I can help you with this. Thanks for the repo and for using `LightGBM`!

I've copied your code below, as that makes it a little easier for others to see and improves the relevance of search results in this repo

<details><summary>reproducible example (click me)</summary>

[code]

</details>

and the screenshot:

![image](https://user-images.githubusercontent.com/7608904/95521256

[2020-10-08 23:21] OldMortality commented on #3445
Hi,

Thank you very much for your help with this.
I have installed the latest submission as you suggested, but it has the same problem.
It is quite strange, I did not have this problem before. This morning, without any provocation on my part, it gave me this error. After some googling, I found that there had been a similar problem in the python version, and the solution to that was to change the r

[2020-10-09 02:12] jameslamb commented on #3445
I tested on my Windows laptop tonight (Windows 10, RStudio 1.2.5019, R 4.0.2). I have good news and bad news:

**bad news**

When In installed like this

[code]

And then ran the code you provided, my RStudio session did crash in the first call to `lgb.train()`, just like yours did.

**good news**

When I restarted my R session and ran the sample code from the beginning. It all succeeded without e

[2020-10-09 09:21] OldMortality commented on #3445
I have done better than restarting the R-session: I restarted the computer! But to no avail.
I will try again now, just for luck.

[2020-10-09 09:41] OldMortality commented on #3445
Well, I restarted R, and did:
[code]
and then I still had the error.
Then I restarted R, from R-studio.
And now it works!

So that's great. It is getting a little late here in New Zealand, so I'll leave it for today. Many thanks for your help. I very much appreciate it, because I was entirely stuck with this.

Cheers,

Michel

[2020-10-09 13:19] StrikerRUS commented on #3412
Fixed via #3417.

[2020-10-09 13:19] #3412 closed

[2020-10-09 13:29] #3286 closed

[2020-10-09 13:37] TomekPro opened #3447 "Quantile LightGBM - inconsistent deciles"
Hi, I'm doing Quantile LightGBM, defined as follows:
[code]

Where QuantileEstimator is just:
[code]

Sometimes it happens that following decile for individual predictiions has lower value than the previous one.
![image](https://user-images.githubusercontent.com/72195667/95588201-66e06280-0a43-11eb-9c3e-acf78a7f016a.png)

Any idea why that's happening? I understand that those are different models,

[2020-10-09 13:38] TomekPro opened #3448 "Quantile LightGBM - inconsistent deciles"
Hi, I'm doing Quantile LightGBM, defined as follows:
[code]

Where QuantileEstimator is just:
[code]

Sometimes it happens that following decile for individual predictiions has lower value than the previous one.
![image](https://user-images.githubusercontent.com/72195667/95588201-66e06280-0a43-11eb-9c3e-acf78a7f016a.png)

Any idea why that's happening? I understand that those are different models,

[2020-10-09 13:58] StrikerRUS commented on #3448
Duplicate of #3447.

[2020-10-09 13:58] #3448 closed

[2020-10-09 17:30] mosscoder commented on #3346
Regarding bagging_fraction, I find that it has no effect in the R implementation of LightGBM v3.

[code]

[2020-10-09 20:23] StrikerRUS commented on #3346
@mosscoder Please don't forget to set [`bagging_freq`](https://lightgbm.readthedocs.io/en/latest/Parameters.html#bagging_freq).

    https://lightgbm.readthedocs.io/en/latest/Parameters.html#bagging_fraction

[2020-10-09 20:47] mosscoder commented on #3346
Thanks for informing me of this. Perhaps updating bagging_free = 1 as the default would be more intuitive if bagging_fraction < 1?

[2020-10-10 01:31] Brian0906 opened #3450 "CUDA: multi GPUs issue"
I'm trying to use multi-GPUs to train the model. When I increase the number of data, this issue happens.

Everything goes well if the size of train set is less than 10000.

Operating System:  Linux

CPU/GPU model:  GPU

![image](https://user-images.githubusercontent.com/26130954/95642532-a5296080-0adb-11eb-8d6f-ddbc2494ebfa.png)

[2020-10-10 01:59] StrikerRUS commented on #3450
@Brian0906 Thanks a lot using experimental CUDA implementation! I observe the same error even with 1 GPU executing [`simple_example.py`](https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/simple_example.py): https://github.com/microsoft/LightGBM/pull/3424#issuecomment-702189313.

[2020-10-10 02:55] Brian0906 commented on #3450
hi @StrikerRUS  what's the size of trainset in the simple_example.py? I fount that only if the size of dataset is large, this issue happens.

[2020-10-10 03:46] StrikerRUS commented on #3450
Dataset is very small in the example: 7000x28
https://github.com/microsoft/LightGBM/blob/master/examples/regression/regression.train

[2020-10-10 23:50] #3320 closed

[2020-10-11 18:43] iadi7ya commented on #3390
Hi @jameslamb , I'm working on `lgb.train.R`. Thanks!

[2020-10-11 19:52] jameslamb commented on #3390
thanks @iadi7ya ! I appreciate you taking the time to contribute to `{lightgbm}`!

[2020-10-12 01:36] OldMortality commented on #3445
Great, thank you. It is all working for me now. Many thanks for you help.

[2020-10-12 01:39] jameslamb commented on #3445
oh good, I'm glad! Thanks for using `{lightgbm}`, come back any time if you face other issues.

[2020-10-12 01:39] #3445 closed

[2020-10-12 06:33] gharibkhani commented on #3303
Hi,

This error can be reproduced by any example. I just used the example in docs.microsoft.com and able to reproduce it.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.lightgbmextensions.lightgbm?view=ml-dotnet

I created a console app and you can access it from the link below:

https://drive.google.com/drive/folders/1-wc04CM75-IGoxjRAniDuhqI-zrHTWwM?usp=sharing

[2020-10-12 12:02] leockl opened #3453 "Are negative values (ie. missing values) in categorical features treated as a separate category?"
Based on LightGBM's documentation in the link below, the parameter categorical_feature (for categorical features) states that "All negative values in categorical features will be treated as missing values."

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html#lightgbm.LGBMClassifier

My question is: Are the negative values (ie. missing values) in categorical features t

[2020-10-12 12:17] StrikerRUS commented on #3303
I believe it it worth to open a feature request issue in the ML.NET repo and ask them update LightGBM to `3.0` version.
https://github.com/dotnet/machinelearning/blob/35d5a479f1f7215ca14a26e6f43e1eaeb32b1523/build/Dependencies.props#L17

[2020-10-13 03:29] jameslamb opened #3454 "[R-package] [ci] miktex downloads failing"
I see this error in the three Windows, R, MINGW jobs CI jobs.

![image](https://user-images.githubusercontent.com/7608904/95811904-e5eec880-0cd9-11eb-8c1e-b187f9586904.png)

[code]

I've seen this error consistently over the last 24 hours, so I don't think it's temporary. These academic mirrors can have very long downtime periods...I am going to switch to another one.

[2020-10-13 03:30] jameslamb commented on #3454
hmmmm actually, http://dante.ctan.org/mirmon/ says that the U of I mirror was updated three hours ago 🤔

[2020-10-13 03:39] jameslamb commented on #3454
I just tried re-running the tests on #3452 and still see these errors

https://github.com/microsoft/LightGBM/pull/3452/checks?check_run_id=1245533474

[2020-10-13 04:14] jameslamb commented on #3454
I think this is just a thing that happens with CTAN a few times a year and we have to wait another day for it to hopefully improve :/

* November 2016: https://tex.stackexchange.com/questions/337888/i-keep-being-told-the-remote-package-repository-is-outdated
* June 2018: https://github.com/MiKTeX/miktex/issues/49#issuecomment-356626188

I do see that there was a new minor release, `miktex` 20.10,

[2020-10-13 17:17] jameslamb commented on #3454
I just re-ran the CI on #3452 and it is all passing now. So I think my theory that this was just an issue that would resolve itself was correct.

I'm going to close this

[2020-10-13 17:17] #3454 closed

[2020-10-14 09:15] XiaozhouWang85 commented on #3379
From reading other issues, it seems the "correct" way of defining categorical columns is via the Dataset. This might only be a problem when the input is a Pandas dataframe.

The problem is that when calling `train` the categorical column defaults to auto:
`categorical_feature (list of strings or int, or 'auto', optional (default="auto"))`

If we had an option of None then that might be a way of ge

[2020-10-15 08:54] scut-jack opened #3456 "Can LightGBM be compiled and run on an embedded arm linux board?"
Can LightGBM be compiled and run on an embedded arm linux board?   And if so, what should I do?

[2020-10-15 10:03] guolinke commented on #3456
If it is a linux OS, and can install cmake, gcc, g++, I think it could be compiled.
you can try our installation guide for linux.

[2020-10-15 12:41] scut-jack commented on #3456
It cannot install cmake, gcc, but I usually use cross-compilation to compile the software and run it on it; But this time the cross-compilation is not successful.I am wondering if this light GBM does not support running on the arm board?

[2020-10-15 12:54] thomasdkelly opened #3457 "joblib error when using python Booster.predict"
## How you are using LightGBM?

* Python package

Hi i am using LGBM classifier in a kaggle competition where we submit the code which is then run on a separate server

The code is simply:
`bst = Booster(model_file=FILE)
pred=np.random.choice(np.arange(19),p=(bst.predict(obs)).flatten())`

This gives me the error
`/opt/conda/lib/python3.7/site-packages/joblib/_multiprocessing_helpers.py:53: UserWa

[2020-10-15 13:38] StrikerRUS commented on #3457
Hi @thomasdkelly !
Indeed, as you've mentioned, LightGBM doesn't use `joblib` internally.

You wrote

but from the one line of code you provided it looks like you are using `Booster` object from standard API, not LGBMClassifier.

Could you please provide [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

[2020-10-15 15:10] thomasdkelly commented on #3457
Sorry its not a proper MCVE as i know it works on kaggle notebooks and colab

[2020-10-15 22:21] mattsplats commented on #3456
Note that you may need to compile differently for 32-bit embedded boards or OSes (Raspbian).

The example above has to override an x86 CMake preinstalled on the Docker image LightGBM's CI uses. In the usual case, `apt-get install cmake` or `yum install cmake` installs the correct version for Arm without any workarounds.

[2020-10-15 23:27] guolinke commented on #3406
sorry, this api is not exposed. Exposing it is relatively easy, contribution is very welcome!

[2020-10-15 23:35] guolinke commented on #3427
both sample_values and sample_indices are the pointer of 2d vector.
their first dimension size is num_feature, and second dimension size is num_per_col[j] (for j-th feature). we only store the non-zero feature values in sample_values, so different features may have different size, and therefore num_per_col is used.
sample_values[j][i] is the value of j-th feature at i-th sampled row. and sample_in

[2020-10-15 23:38] guolinke commented on #3432
do you want to use LightGBM compiled with debug mode? or only your code in debug mode?

[2020-10-15 23:43] guolinke commented on #3440
Hi @ninenerd
1. It is a warning,  not an error. It usually indicates that your setting of complexity is too high, or your data is not easy to fit.
2. both `l1` and `l2` could be used in the regression. and you can set it both in `hyper_params['metric']`, and `eval_metric`.
3. not need to set them both, they are the same parameter. LightGBM will show warnings when you set both of them.

[2020-10-15 23:48] guolinke commented on #3442
V3 model version adds the `leaf_weight` and `internal_weight`, these fields are not affect for the prediction results.
So as long as you can load the old model file successfully, you can safely use it.

If you cannot load it successfully, and can try to remove the `tree_sizes=...` line in the model file.

[2020-10-15 23:49] guolinke commented on #3447
I think it may be a bug, will investigate it when have time.

[2020-10-15 23:51] guolinke commented on #3453
the negative categories, missing categories and low-frequency categories will be merged into one category is LightGBM.

[2020-10-16 02:27] stakas opened #3458 "“LightGBMError: Bug. There should be only one multi-val group.”"
Apologies for turning here in a StackOverflow fashion, but I have not found any other kind of LightGBM help, so this is the last resort.

I am loading a series of large binary independently binarized with `save_binary` LightGBM files and concatenating them into a single file to train GBT with LightGBM, however, `train` method fails with a cryptic error message:

I haven't found anything anywhere r

[2020-10-16 02:36] scut-jack commented on #3456
There are no apt-get or yum command on the arm board. What I am currently doing is to install cmake and cross compiler arm-linux-gcc on my Ubuntu host, and then compile the machine code on Ubuntu and put it on the arm board to run, but the compilation fails.

[2020-10-16 03:16] StrikerRUS commented on #3458
Hello @stakas !

Could you please try this branch?
https://github.com/microsoft/LightGBM/tree/fix-add-features

I hope #2754 will fix this issue.

[2020-10-16 03:28] etveritas opened #3459 "How to specify data type when load data from Python?"
## Summary

Specify data type when load data from Python, like col1-->float16, col2-->int8

## Motivation

Save memory.

## Description

We usually use Python API of LightGBM, and use pandas DataFrame reserve data. Sometimes, we specify data in int8 or float16, but when convert into LightGBM Dataset, they all convert to float64 or float32, it can cause more memory usage. So how can we specify data

[2020-10-16 03:28] stakas commented on #3458
Ah, I had a hunch that is related to the addition of data sets, just could not get through the woods of C code. Will get some sleep and try `fix-add-features` branch.

Your help much is appreciated @StrikerRUS !

[2020-10-16 07:03] tppayability commented on #3447
Thanks, please let me know if you would need some additional info. Maybe the distribution of underlying data could be a clue?
![image](https://user-images.githubusercontent.com/72195667/96223492-4dcd3980-0f8e-11eb-89e1-3aff8a6ecbc7.png)

[2020-10-16 07:05] TomekPro commented on #3447
Thanks, please let me know if you would need some additional info. Maybe the distribution of undelying data (y) could be a clue?
![image](https://user-images.githubusercontent.com/49069202/96223720-a997c280-0f8e-11eb-954c-b83b90b93eca.png)

[2020-10-16 11:07] thomasdkelly commented on #3457
Found the issue wasn't even related to the warning message, was to do with casting the prediction as an integer properly. Thanks for your help

[2020-10-16 11:07] #3457 closed

[2020-10-16 13:55] cctechwiz commented on #3433
So I guess I was wrong and it might be more Mac-specific than I thought. I am unable to see the gcc warnings when I build.
![NoPragmaWarningsIgnored](https://user-images.githubusercontent.com/8186200/96267251-d1822880-0f84-11eb-8575-cd1de6025b56.PNG)

Versions:
[code]

That being said, I think I can still make the change need and verify them in other ways.

Before my changes to build-cran-package.

[2020-10-16 14:20] cctechwiz commented on #3433
I forgot to include a reference to my fork with the changes mentioned above:

https://github.com/cctechwiz-forks/LightGBM/tree/suppress-warning-unknown-pragma-cran

I can make a PR if that is easier, I just didn't want to go forward with that if you'd rather have someone else test this.

[2020-10-16 14:24] jameslamb commented on #3433
thanks @cctechwiz !

Yes, we should also remove these warning-suppression pragmas from `.cpp` and `.hpp` files.

Please open a PR. We'll be able to see the results from Mac builds in CI there. Please check the box on it that says "allow updates by maintainers", and I'll be able to push to it as well.

[2020-10-16 14:26] cctechwiz commented on #3433
Sounds good.

[2020-10-16 14:29] StrikerRUS commented on #3457
Glad to hear that you've solved the problem! Thanks for letting us know.

[2020-10-16 15:02] cctechwiz commented on #3433
I did not see a checkbox for "allow updates by maintainers" while making this PR. I've seen that checkbox before, so maybe I just missed it? Are there certain criteria that you are aware of for allowing maintainers to update?

[2020-10-16 15:40] jameslamb commented on #3433
It looks like this, whenever you click "Create pull request" (see the bottom left corner of the image below)

![image](https://user-images.githubusercontent.com/7608904/96279042-d1d9ee00-0f9b-11eb-8915-ccd55dceb79f.png)

That "allow maintainers to update" is just a thing that would allow me to push changes directly to your branch in your fork, but only while it is in an open pull request against t

[2020-10-16 19:03] #3433 closed

[2020-10-16 21:54] danioyuan opened #3461 "How to set initial estimates using Python API?"
## Summary

Add init_score argument to train() just like in LGBMRegressor.fit().

## Motivation

The scikit-learn API can use the init_score argument of LGBMRegressor.fit() to set initial value of the estimates. This is helpful when the estimates have to be in a specific range. In the Python API, the train function only has init_model, which is different from initial values. It would be nice for t

[2020-10-17 01:02] guolinke commented on #3459
this feature is not supported yet, LightGBM requires the same type for all features.

[2020-10-17 01:50] #3362 closed

[2020-10-17 05:35] jameslamb opened #3462 "[R-package] fix unit tests that cause valgrind issues"
#3443 attempted to fix the issues found by `valgrind` tests in `{lightgbm}`'s CRAN submission, documented in #3338 .

`valgrind` logs: https://www.stats.ox.ac.uk/pub/bdr/memtests/valgrind/lightgbm/tests/testthat.Rout

<details><summary>full logs</summary>

[code]

</details>

In #3443 , two R unit tests had to be skipped with `testthat::skip()` because they caused some minor `valgrind` issues. See

[2020-10-17 09:53] chloe-wang opened #3463 "splitting for nan value looks wrong"
hi,

I have a dataset which have a feature with value between -0.5 and 0.5. This feature also contains some missing value with nan.

However, I found the model split on some extremely big value like 1e300 which is very close to the infinity in python.

![image](https://user-images.githubusercontent.com/22490931/96334080-a0971600-10a0-11eb-882a-159fa65818c8.png)

Per my understanding, missing value

[2020-10-17 14:45] StrikerRUS commented on #3461
`init_score` can be set in the `Dataset` constructor.
https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html#lightgbm.Dataset

[2020-10-17 14:45] #3461 closed

[2020-10-17 15:38] #3301 closed

[2020-10-17 15:49] StrikerRUS commented on #3206
@jameslamb Would it make sense to add the same feature request for CUDA build? If you are OK, I can create an issue.

[2020-10-17 15:53] jameslamb commented on #3206
yes definitely! I think @Laurae2 already did a proof of concept of "R package with CUDA", but dont remember where it was posted.

Either way yes, definitely

[2020-10-17 16:04] AnshuTrivedi commented on #3390
@jameslamb  I am working on `lgb.Predictor.R`

[2020-10-17 16:28] narendramukherjee commented on #3406
Thanks @guolinke - can you give me some pointers on how to go about exposing this part of the api? I can then make an appropriate PR

[2020-10-17 16:52] StrikerRUS opened #3465 "[R-package] Add CUDA support for CRAN package"
## Summary

#3188 added an installation strategy for the R package that is compliant with CRAN's restrictions.

## Description

The goal of this issue is to be able to build the CRAN package for CUDA, like this:

[code]

Some basic thoughts about how to implement it can be found in #3206.

[2020-10-17 16:55] StrikerRUS commented on #3465
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2020-10-17 16:55] #3465 closed

[2020-10-17 16:59] StrikerRUS commented on #3206
Created #3465.

Here it is

https://github.com/szilard/GBM-perf/issues/12#issuecomment-699144433

https://gist.github.com/Laurae2/7195cebe65887907a06e9118a3ec7f96

[2020-10-17 19:18] Pey-crypto commented on #3390
can i claim lgb.Booster.R?

[2020-10-17 19:36] jameslamb commented on #3390
yes please!

[2020-10-17 22:08] jameslamb commented on #3206
oh perfect, thank you!

[2020-10-18 03:03] chloe-wang commented on #3463
This issue may be related to #2811 , but the issue still exits after I upgraded the lightgbm to v3.0.0.

[2020-10-18 03:55] jameslamb opened #3469 "[R-package] [ci] mingw gcc often fails on CMake builds"
See https://github.com/microsoft/LightGBM/runs/1264985038?check_suite_focus=true, from https://github.com/microsoft/LightGBM/pull/3443#issuecomment-711038604

[code]

<details><summary>full logs</summary>

[code]

</details>

[2020-10-18 03:57] jameslamb commented on #3469
@StrikerRUS I've opened an issue to document this problem, but I'm not sure we'll be able to reproduce it. It looks like it has not happened very much: https://github.com/microsoft/LightGBM/commits/master

(notice how many have ✅ )

![image](https://user-images.githubusercontent.com/7608904/96358359-fd5bf600-10cb-11eb-9fd4-5d4f3e57db66.png)

![image](https://user-images.githubusercontent.com/76089

[2020-10-18 03:57] guolinke commented on #3463
use 1e300 as split value, mean that non-missing goes to left, and missing goes to right. Is it wrong?

[2020-10-18 04:02] chloe-wang commented on #3463
Using 1e300 as split value shall not be a big issue, but we found the importance for the feature will increase a lot. We choose a feature in random, and set the half of its value to np.nan, the importance of this feature will be among top 10 while it's not informative at all.

[2020-10-18 04:06] chloe-wang commented on #3463
And one more thing, in xgboost, I think nan value will not be used for finding split point. Instead nan value will be mapped to the left node or right node after the split point has been decided by those non-missing values. It maybe more reasonable. I not sure for that though.

[2020-10-18 04:20] guolinke commented on #3463
for nan algorithm, lightgbm and xgboost use the same algorithm. it will try to put nan to left and right, and use the one with the larger gain.
Therefore, if one feature has lots of nan, it has more "freedom" than normal features, and thus, its importance may is higher.

[2020-10-18 04:27] chloe-wang commented on #3463
Then, why we can see the split value at 1e300, as the non-missing value range only from -0.5 to 0.5. So the split value shall not be bigger than 0.5....

[2020-10-18 04:29] chloe-wang commented on #3463
Maybe the nan is used for bin construction?

[2020-10-18 04:30] guolinke commented on #3463
`1e300` is not missing value. `1e300` is the upper bound of non-missing value.

[2020-10-18 04:32] guolinke commented on #3463
yeas, there is special bin for missing value.
and in nan finding algorithm, this bin could be in left side or right side.
In your above example, the nan bin is in the right side, and all non-missing values are in left side.

In you want more details, you can check the value of decision_type, it contains the information of missing value handle in that node.

[2020-10-18 05:04] StrikerRUS commented on #3469
Those green checks are results of my everyday manual reruns of failed jobs. Most of them happen due to random network problems. So, if the first rerun is successful I even do not look into logs.

[2020-10-18 05:33] jameslamb commented on #3469
Oh I see. That is going to make it hard to know how often this error happens, then.

https://github.com/microsoft/LightGBM/actions?query=branch%3Amaster+workflow%3A%22R+GitHub+Actions%22 also only shows one result per commit

![image](https://user-images.githubusercontent.com/7608904/96359539-980f0180-10d9-11eb-985b-9666cb097b84.png)

[2020-10-18 12:33] chloe-wang commented on #3463
@guolinke I think you are right. Thanks a lot. I will close the issue.

[2020-10-18 12:33] #3463 closed

[2020-10-19 05:19] istavnit commented on #3379
Seems to be not a friendly way to suppress this warning:
[code]
results in these warnings:
[code]

[2020-10-19 06:17] jameslamb opened #3471 "[R-package] [ci] improve logging in lint_r_code.R"
## Summary

We use a script, `.ci/lint_r_code.R`, to check style items in the R package with `{lintr}`. A few improvements could be made to the output from this script.

**what those logs look like right now**

[code]

## How to fix this issue

1. remove the `\n` in https://github.com/microsoft/LightGBM/blob/7e2f353df4ee6b7a17a653122ab5a549f8e8d0f7/.ci/lint_r_code.R#L89, since it  prints as a lite

[2020-10-19 06:18] jameslamb commented on #3353
commenting in case any possible contributors have subscribed to this issue...I've added a new "good first issue" for the R package: #3471

[2020-10-19 06:29] sinAshish commented on #3471
I'll work on this

[2020-10-19 06:34] jameslamb commented on #3471
thanks @sinAshish ! it's yours 😀

[2020-10-19 07:16] sinAshish commented on #3471
instead of print() I used noquote() to print without the quotes

[2020-10-19 08:52] cotterpl opened #3473 "Different accuracy when running distributed training"
It is not a bug but rather a question. I am testing LightGBM behaviour in a few scenarios:

1. Local: Train locally
2. Distributed: Train in distributed manner on two Kubernetes pods that run on Dask cluster
3. One worker: Train on the same Kubernetes pods with Dask cluster but use only 1 worker (no distribution)

When running distributed training I am using tree_learner=data. In the distributed s

[2020-10-19 11:40] guolinke commented on #3473
@cotterpl did you use the same validation set (without partition) in different nodes?

[2020-10-19 11:51] cotterpl commented on #3473
Yes, test set is exactly the same. Training set is the same (but partitioned for the distributed case). When using early stopping evaluation set is also the same - replicated in each worker. All hyperparameters are also the same.

Obtained MAE scores and amounts of trees are means from 5 runs and the score difference can not be explained by its standard deviation.

[2020-10-19 23:16] StrikerRUS opened #3475 "SEGFAULT on GPU version compiled with Clang"
Compilation goes OK, but then the first test fails

[code]

What I have already tried with no luck:
- change Python version from 3.6 to 3.8 (https://github.com/microsoft/LightGBM/pull/3393#issuecomment-691691309)
- change Boost version from 1.74 to 1.70 and 1.67
- remove `std::move` from https://github.com/microsoft/LightGBM/pull/3443#discussion_r507728708

How to reproduce: simply change `gcc` to

[2020-10-20 01:23] #3471 closed

[2020-10-20 02:38] guolinke commented on #3473
can you also provide the number of data samples?

In distributed mode, the feature bucket (binning) is also distributed. Assuming there are `m` features and `m` machines, each machine will only bucket one feature, by its local partitioned data.

In single-node mode, all features are buckted by non-partition data.

I think the above difference, cause the different feature binning results. And the f

[2020-10-20 12:57] cotterpl commented on #3473
I am running it in 2 nodes setup. Data is provided by DASK cluster.

The overall data size:
385918 rows x 19 columns

I have checked the data that enters lightgbm training in each of the nodes. The data has all of the features on both of them. For some reason dask does not distribute the rows evenly between nodes. Node 1 has been provided with 332098 while node 2 has been provided with only 53820

[2020-10-21 01:29] guolinke commented on #3473
@cotterpl this un-even partition will cause half of the features don't have accuracy feature binning, and cause bad performance.
besides, 385918 is relatively small, and I don't recommend to use it in distributed mode.

[2020-10-21 07:08] zzhuna1 opened #3476 "Installing Trinity on Mac OS clang: error: unsupported option '-fopenmp'"
I am trying to install trinity on Mac OS, and get the errors:

clang: error: unsupported option '-fopenmp'
make[4]: *** [CMakeFiles/fastaToKmerCoverageStats.dir/src/fastaToKmerCoverageStats.cpp.o] Error 1
make[3]: *** [CMakeFiles/fastaToKmerCoverageStats.dir/all] Error 2
make[2]: *** [all] Error 2
make[1]: *** [all] Error 2
make: *** [inchworm_target] Error 2

Does anyone had the same problem?

[2020-10-21 12:56] guolinke commented on #3476
sorry, what is trinity ?

[2020-10-21 12:56] jameslamb commented on #3476
I think you have the wrong repo. This project is not related to https://github.com/trinityrnaseq/trinityrnaseq at all, and I suggest that you [open an issue there](https://github.com/trinityrnaseq/trinityrnaseq/issues)

[2020-10-21 12:56] #3476 closed

[2020-10-22 11:29] zhenlingcn commented on #3339
I also have the same problem. Is there any way to solve this problem?

[2020-10-22 13:14] guolinke commented on #3339
sorry for missing this issue.
The max-bin actually cannot limit the number of bins for categorical feature.
there are two workarounds:
1) use the categorical encodings, converting categorical features to numerical ones.
2) split one categorical feature to multi categorical features, and make sure the number of categories in each splitted feature smaller than 256.

[2020-10-23 02:08] yezhejack opened #3479 "How to use the Nuget package in C# project"
I have a trained LightGBM model produced by python. I want to integrate it into my C# project. I found there is a package in Nuget. But I can't find any related docs.

I tried to install the Nuget. When I add "using LightGBM;", it can not work. The error is
`The type or namespace name 'LightGBM' could not be found (are you missing a using directive or an assembly reference?)`.

[2020-10-25 05:03] jameslamb opened #3481 "[R-package] confusing error when using lgb.train() with an unknown metric"
## How you are using LightGBM?

LightGBM component:  R package

## Environment info

Operating System: macOS 10.14

C++ compiler version: `gcc` 8.1.0

CMake version: 3.17.3

R version:  4.0.2

LightGBM version or commit hash:  https://github.com/microsoft/LightGBM/tree/c07644d1d71540204a9b56f26667e8180bd009e2

## Reproducible example(s)

Thanks to @Laurae2 for sharing this with me and creating the

[2020-10-25 14:16] songzy12 opened #3482 "python advanced_example would fail on current pypi version (released on Sept 1)"
## How you are using LightGBM?

LightGBM component:  Python package

## Environment info

Operating System: Ubuntu 18.04.4 LTS

Python version: Python 3.6.9

LightGBM version or commit hash:  116abc6

## Error message and / or logs

[code]
## Reproducible example(s)

## Steps to reproduce

1. Go to python example folder:
[code]
2. Run advanced_example.py
[code]

[2020-10-25 14:18] songzy12 commented on #3482
oops sorry, let me double check.

[2020-10-25 14:31] songzy12 commented on #3482
Just a note here:

Now the python advanced_example can not run on pypi version.

The reason is, the change of feval list is introduced on Sept 7:
https://github.com/microsoft/LightGBM/commit/afc76d2cb8234f6876ed75d923a7916bfef9a1e5

However, the pypi version is released on Sept 1:
https://pypi.org/project/lightgbm/

Feel free to close this.

[2020-10-25 18:29] StrikerRUS commented on #3482
@songzy12 Thanks for the report!

@guolinke I think it's time to think about the next release (the previous one was 1st September and we promised more frequent releases).

[2020-10-26 05:04] #3402 closed

[2020-10-26 05:12] guolinke commented on #3481
@jameslamb we could have a key, like 'na', 'nan', 'empty', for the empty metrics, and it returns nullptr in this case.
Otherwise it should throw errors.
The same strategy could be adapted to objective functions.

[2020-10-26 05:14] guolinke commented on #3475
It seems we have several CUDA bugs to fix.
Maybe we can summarize them into one issue, for easily tracking?

[2020-10-26 05:18] guolinke commented on #3406
you can add the related function in c_api.h and c_api.cpp.
like https://github.com/microsoft/LightGBM/blob/ceb6265fba14be11b9ef086018d9cc67ff7f5450/src/c_api.cpp#L1486-L1492

[2020-10-26 05:22] guolinke commented on #3387
I think the return of 300 results in cv is expected. it represents the average results over different folds, in 300 iterations.
In GBDT model, it also returns 300 results.
cc @StrikerRUS to confirm this.

[2020-10-26 05:25] guolinke commented on #3334
@veridone
currently, we only support the prediction from the normal file, the pipe input is not supported yet.
For the categorical features, as long as your model is trained by the categorical features, it will be auto-used in prediction time.

[2020-10-26 05:27] guolinke commented on #3334
If you want to implement the prediction from stdin, you can follow this function:
https://github.com/microsoft/LightGBM/blob/ceb6265fba14be11b9ef086018d9cc67ff7f5450/src/c_api.cpp#L421-L447
the replace the omp-for-loop to line-by-line prediction.

[2020-10-26 05:29] guolinke commented on #3334
another solution is using the single-line prediction api.

https://github.com/microsoft/LightGBM/blob/ceb6265fba14be11b9ef086018d9cc67ff7f5450/src/c_api.cpp#L2114-L2152

you can use `LGBM_BoosterPredictForMatSingleRowFastInit` to create a prediction interface, and then call `LGBM_BoosterPredictForMatSingleRowFast` to predict for one line.

[2020-10-26 09:44] diditforlulz273 commented on #2793
I have this issue with CPU learner, not GPU. Got it after upgrading from 2.3.1 to 3.0.0, makes every test with a tiny testing dataset fail for exactly the same reason:

lightgbm.basic.LightGBMError: Check failed: (best_split_info.left_count) > (0) at /__w/1/s/python-package/compile/src/treelearner/serial_tree_learner.cpp, line 630 .

[2020-10-26 11:00] guolinke commented on #2793
@diditforlulz273 could you try the latest master branch?
if the problem still exists, you can create a new issue and would be better if you can provide a reproducible example.

[2020-10-26 11:20] diditforlulz273 commented on #2793
@guolinke Have just built it from the latest master branch, still fails. I'll try to separate a minimum reproducible example and create an issue then.

[2020-10-26 12:02] StrikerRUS commented on #3475
It is not CUDA bug, but bug with our original OpenCL GPU version.

[2020-10-26 15:09] ThomasWolf0701 opened #3487 "Predict contribution gives wrong number of contributions in R"
_ ran the following code:_

data(agaricus.train, package = "lightgbm")
train <- agaricus.train
dtrain <- lgb.Dataset(train$data, label = train$label)
data(agaricus.test, package = "lightgbm")
test <- agaricus.test
dtest <- lgb.Dataset.create.valid(dtrain, test$data, label = test$label)
params <- list(objective = "regression", metric = "l2")
valids <- list(test = dtest)
model <- lgb.train(
  params

[2020-10-26 15:52] jameslamb commented on #3487
Hi @ThomasWolf0701 , thanks for using `{lightgbm}` and for providing this reproducible example. I'll look into this later today and get back to you.

[2020-10-26 16:12] ThomasWolf0701 commented on #3487
Was thinking one could be some kind of intercept but this is nor mentioned anywhere.

[2020-10-26 17:12] jameslamb commented on #2791
I've started a discussion at https://github.com/dask/community/issues/104 about the possibility of bringing `dask-lightgbm` into this project, similar to the direction `xgboost` has gone:

* discussion: https://github.com/dask/dask-xgboost/issues/39
* first PR: https://github.com/dmlc/xgboost/pull/4473

@StrikerRUS @guolinke I've been working with Dask a lot and would be willing to take responsibi

[2020-10-26 17:19] GorynyaE opened #3488 "How can I get the right encoding for categorical features?"
Hi! How can I get the right encoding for categorical features? Consider example: I train model where I use one categorical features. In output tree a have key “feature_infos” with my categorical feature:
"Categorical_feature": {
            "min_value": -1,
            "max_value": 6,
            "values": [
                -1,
                2,
                6,
                4,

[2020-10-26 17:29] StrikerRUS commented on #3487
@ThomasWolf0701 Hi!

For the additional column in predictions please refer to

  https://lightgbm.readthedocs.io/en/latest/Parameters.html#predict_contrib

and https://github.com/microsoft/LightGBM/issues/1969#issuecomment-480580776

[2020-10-26 17:31] ThomasWolf0701 commented on #3487
Many thanks for the information, would still be great to mention this in the R documentation/help

[2020-10-26 17:42] jameslamb commented on #3487
thanks @StrikerRUS ! I actually forgot that's how it works :grinning:

@ThomasWolf0701 I'll look for the right place to include this in the R docs that wouldn't be a duplication of our existing Parameters. In general, all parameters at https://lightgbm.readthedocs.io/en/latest/Parameters.html are passed through from the R package to the core LightGBM C++ library, and you should expect the behavior

[2020-10-26 18:12] jlc248 commented on #3028
Same issue, different metric. Is something as standard as `average_precision` not available in v3.0.0?

OS: CentOS7
Python: v3.7.8
lightgbm: v3.0.0
[code]

Error:
`ValueError: For early stopping, at least one dataset and eval metric is required for evaluation`

[2020-10-26 18:21] jameslamb commented on #3028
Hi @jlc248 ... `average_precision` was added very recently, in #3347 . It will be available in LightGBM 3.1.0, which is in progress (#3484 ).

I believe that all metrics except `average_precision` listed at https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric-parameters are available in LightGBM 3.0.0

[2020-10-26 18:22] jameslamb commented on #3481
I like that idea! I can open a pull request so we can see what it would look like.

I think it would help reduce confusion. Even just a few minutes ago, another user ran into this issue where they used an unsupported metric but got a seemingly-unrelated error message: https://github.com/microsoft/LightGBM/issues/3028#issuecomment-716732150

[2020-10-26 18:24] jlc248 commented on #3028
Thanks @jameslamb!

[2020-10-26 18:31] diditforlulz273 opened #3489 "Lightgbm CPU learner error - lightgbm.basic.LightGBMError: Check failed: (best_split_info.left_count) > (0)"
## How you are using LightGBM?

LightGBM component:

## Environment info

Operating System:
Ubuntu 20.04
CPU/GPU model:
Threadripper 1920x
C++ compiler version:
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
CMake version:
3.16.3
Java version:
--
Python version:
3.8.5
R version:
--
Other:

LightGBM version or commit hash:
Version: 3.0.0

## Error message and / or logs

@guolinke Have just built

[2020-10-26 19:01] StrikerRUS commented on #3488
@GorynyaE  Hi! LightGBM relies on pandas internal encoding. Please refer to the following lines:
https://github.com/microsoft/LightGBM/blob/a3862f151f8fa34154095217389d8661c015f662/python-package/lightgbm/basic.py#L371

https://github.com/microsoft/LightGBM/blob/a3862f151f8fa34154095217389d8661c015f662/python-package/lightgbm/basic.py#L378-L380

Also, the following discussions might be helpful: #2

[2020-10-26 23:34] #2603 closed

[2020-10-26 23:36] StrikerRUS commented on #3221
Fixed via #2754.

[2020-10-26 23:36] #3221 closed

[2020-10-26 23:52] StrikerRUS commented on #3458
Fixed in #2754. Feel free to reopen if the error hasn't gone.

[2020-10-26 23:52] #3458 closed

[2020-10-27 01:31] 7starsea opened #3490 "prebuilt gpu/cuda version for python"
I use  `pip install lightgbm`, and when I run the train api with device=gpu, there is an error "recompile with CMake option -DUSE_GPU=1" .

do we have a prebuilt gpu/cuda version for python-package?

Thanks.

[2020-10-27 01:34] StrikerRUS commented on #3490
No, we haven't. Windows wheels will gain in-built GPU support after merging #3403 .

[2020-10-27 01:44] 7starsea commented on #3490
I wish linux wheels would also gain in-build GPU support.

[2020-10-27 02:55] StrikerRUS commented on #3490
It is possible. Please refer to https://github.com/microsoft/LightGBM/pull/3403#issuecomment-708040308.

[2020-10-27 03:35] guolinke commented on #3489
Thanks @diditforlulz273
It seems I met the error when loading data.
[code]
could you share the raw data or NumPy format data?

[2020-10-27 05:32] fydlzr opened #3491 "Why the max&min in feature_infos_， do not match the max&min of df.describe();"
I get a dataframe with 4890800 lines, and I train a model with lambdarank and ndcg.

I saved the model into txt file and found the "feature_infos" like:
"feature_infos=[693.61992297118672:28891904.698301326].....".

Then I apply df.describe() and found the same feature's range should be  [3.573260e+02, 6.706632e+07].

It looks like that they do not match.

Also, when I shuffle or sort the data fra

[2020-10-27 07:02] diditforlulz273 commented on #3489
I guess the problem could be in different versions of Pandas and python's underlying pickle part.
I used Pandas 1.1.3 and Python 3.8.5

Sharing numpy arrays is nearly impossible - train dataframe has ~54 columns.
If versions matching won't help, I could share the data in .csv, although saving to .csv sometimes transforms ints like 7 to floats like 7.000000039 in an unpredictable manner, which can

[2020-10-27 08:38] GorynyaE commented on #3488
Thank you for your answer

[2020-10-27 08:38] #3488 closed

[2020-10-27 09:16] guolinke commented on #3491
@fydlzr you can increase bin_construct_sample_cnt
 (https://lightgbm.readthedocs.io/en/latest/Parameters.html#bin_construct_sample_cnt) to get exact feature info.

[2020-10-27 09:23] guolinke commented on #3489
@diditforlulz273 I found the root cause you cannot set both `min_data_in_leaf` and `min_child_weight` to `0`.
The leaf should be at least have one sample, otherwise, it cannot be a leaf.
We will fix the parameter checking, and throw errors before training.

[2020-10-27 09:59] fydlzr commented on #3491
Thanks very much.
One more question, how can I get the identical model  after I shuffle the dataframe?

[2020-10-27 10:46] guolinke commented on #3491
@fydlzr
I think it would be hard. there are two factors:
1. the bin construct. If you use the bin_construct_sample_cnt larger than #data. It should be identical when shuffling samples.
2. the histogram sum-up, which is executed by the order of samples. The floating-point accumulated error may cause the slight different results.

[2020-10-27 11:53] diditforlulz273 commented on #3489
@guolinke Well, indeed, this combination looks stupid, my bad. I used this tiny dataset in some of my integration tests, and, I guess, set all the possible constraints to 0 to make LightGBM build at least some trees and predict something reproducible. Anyway, it worked out well in 2.3.1 version :)

[2020-10-27 11:54] #3420 closed

[2020-10-27 12:09] fydlzr commented on #3491
Thanks again;
I just updated lgb from 2.3.1 to 3.0.0,  does the old param "max_position" equal to "lambdarank_truncation_level"?

[2020-10-27 13:02] guolinke commented on #3372
an update: the previous solution for stable multi-threading sum is very slow.

I just create a PR to rollback it. it may cause the instability of floating-point. But I think efficiency is more important.
Maybe we can have a parameter, named `deterministic`, and generate stable results (but may slower) when it is enabled.

[2020-10-27 14:19] guolinke commented on #3372
@rebidaldal
I just run your code on 20.04 with `deterministic` branch, but still cannot reproduce.
the results:
[code]

Is that possible that we reproduce it in a docker?

[2020-10-27 15:31] rebidaldal commented on #3372
Hi Guolin, I will try to make docker containers for deterministic and default (3.0.99) branches and share it with you. I already have some Amazon Machine Images on hand but they are kind of troublesome to share. Is there any other branches you would suggest me to try and reproduce the bug?

Thanks.

[2020-10-27 23:35] guolinke commented on #3372
Thanks @rebidaldal , you can use`deterministic` branch, with `param["deterministic"] = True`.

[2020-10-27 23:53] StrikerRUS commented on #2791
@jameslamb Awesome proposal!
Unfortunately, I'm not familiar with dask, but my intuition was that dask is about scaling training up to multiple machines. Something like "for small data use your own laptop, for big data use dask on several machines, for huge data use Spark on several clusters". Please correct me if I'm wrong. Anyway, my main concern is that by adopting dask wrapper we will have to

[2020-10-28 00:08] jameslamb commented on #2791
Thanks!

Dask is a thing that allows for horizontal scaling across multiple machines, but it's also an API for expressing Python work that could be parallelized (even if that parallelization is all on one machine).

So, for example, people often use [Dask Dataframes](https://examples.dask.org/dataframe.html) as a way to work with larger-than-memory data frames on a single machine. You write code t

[2020-10-28 00:47] StrikerRUS commented on #3387
Yes, results' structure is identical for all boosting types.

[2020-10-28 01:31] #3489 closed

[2020-10-28 12:57] StrikerRUS commented on #2791
@jameslamb Thanks a lot for the detailed response!

OK, this is great!

[2020-10-28 13:58] StrikerRUS commented on #3490
Closing as a duplicate of #2263.

[2020-10-28 13:58] #3490 closed

[2020-10-28 17:03] jameslamb commented on #2791
Thanks! @guolinke what do you think?

If we move forward with this, I'll ask the `dask-lightgbm` maintainers to make a PR here with the main components, and then we I can generate some issues for what else would need to be done for testing, docs, etc.

[2020-10-29 02:15] guolinke commented on #2791
awesome! sounds good to me

[2020-10-29 07:14] IvanPetrovMck opened #3500 "Multiple outputs for regression"
Hi,

I'm trying to predict yields that sum to 100 percents... Is there a possibility to do this in lightgbm? Basically it is a multioutput regression that have softmax layer and mse loss. I've tried using multiclass classifier as a base and wrote a custom objective. But apparently this doesn't work... I've checked derivatives of objective and they are correct. So most probably the reason is in tre

[2020-10-29 07:48] guolinke commented on #3500
maybe you can use https://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputRegressor.html

[2020-10-29 07:59] IvanPetrovMck commented on #3500
guolinke this wouldn't work, because I want to have all coefficients summed up to 100%

[2020-10-29 09:04] guolinke commented on #3500
@IvanPetrovMck
Use multi-class as base, and customed objective function should work.

However, the probability is not given by the leaves in single tree, it uses one tree for one class.
For example, assuming there are 3 classes, A, B and C. And trees are orderder like A1, B1, C1, A2, B2, C2, ...
And the score for class A is sum(A1, A2, ...), and the same for B and C.

BTW, you should provide the g

[2020-10-29 14:39] IvanPetrovMck commented on #3500
@guolinke Does same state for 'preds'? Are they also ordered in [n_classes, n_datapoints]?

[2020-10-29 17:01] IvanPetrovMck commented on #3500
Ок, everything works. The problem was with dimensions of gradients and predictions. Here is full working code for history. Thanks for helping.

[code]

[2020-10-30 02:24] grasevski commented on #2793
+1, this bug makes lightgbm GPU useless. still happens to me on latest master

[2020-10-30 03:19] jmq19950824 opened #3506 "Same Results with Different Seeds (random_state) in LightGBM"
**Reproductive codes**

import pandas as pd
import numpy as np
import lightgbm as lgb
from sklearn import datasets

iris = datasets.load_iris()
X = iris.data[:, :2]  # we only take the first two features.
y = iris.target

model_1 = lgb.LGBMClassifier(random_state = 1)
model_1.fit(X,y)
p_1 = model_1.predict_proba(X)

model_2 = lgb.LGBMClassifier(random_state = 2)
model_2.fit(X,y)
p_2 = model_2.pred

[2020-10-30 04:10] guolinke commented on #3506
if you don't use any random functions, like sub_feature or sub_row, the results are deterministic.

[2020-10-30 04:25] jmq19950824 commented on #3506
Thanks for your replying. Actually, this is the reason why lightgbm generates the same result with different seeds. Now this issue should be closed.

[2020-10-30 04:25] #3506 closed

[2020-10-30 08:15] #3500 closed

[2020-10-30 14:54] gopikanand60 opened #3507 "Negative r2_score"
No matter how I change the parameters, I'm getting a negative r2_score with lightgbm which essentially means that a linear graph or model would be better for me to make predictions. Any suggestions on how I can tackle this?

[2020-10-30 18:36] #3487 closed

[2020-10-31 12:47] ninenerd opened #3511 "LightGBM feature selection and low model size"
So I build a Random Forest regression model earlier, model size was around 200mb with HPT and pruning.

1. Now that I'm trying with lightGBM, a regression model, without HPT I am getting same high accuracy (rmse). I used default parameters only . Is lightGBM so effective compared to RF ?

2. Size of saved lightGBM model is 250kb, does that sound right for typical lightGBM model, or I am making som

[2020-11-01 02:35] guolinke commented on #3507
did you use the very small data? please provide more details.

[2020-11-01 03:25] jameslamb opened #3513 "[R-package] learning-to-rank tests are broken on Solaris 10"
I ran the R tests on Solaris using [R Hub](https://builder.r-hub.io/) tonight, and found that they're broken in one of the two Solaris environments that platform supports.

✅ `Oracle Solaris 10, x86, 32 bit, R-release, Oracle Developer Studio 12.6`
❌ `Oracle Solaris 10, x86, 32 bit, R-release`

I don't THINK this will block our next attempt at CRAN in #3484 . It looks like CRAN's Solaris environme

[2020-11-01 03:35] jameslamb commented on #3469
I am still seeing this a lot.

Here's a recent example: https://github.com/microsoft/LightGBM/pull/3510/checks?check_run_id=1337404177

Will look into it when I can. It's so weird....it seems like a problem with rtools, but we host that at https://github.com/microsoft/LightGBM/releases/tag/v2.0.12 so I'm now sure how it could be sometimes broken and sometimes successful.

[2020-11-01 13:24] gopikanand60 commented on #3507
Well, it has to do with a project related to sales forecasting where the training set had daily sales values of 2017 and 2018 which would come around to say 730 rows of records (80% for training and 20% for cross validation) and I was trying to predict for 2019 and comparing the results

[2020-11-01 16:46] aldanor commented on #3459
On a side note, it would be nice if lightgbm supported feature types like int16 etc. E.g. you may have a huge matrix of int16 features but you have to convert it to float32/float64 just in order for lightgbm to be able to consume it...

[2020-11-01 18:26] StrikerRUS commented on #3469
@jameslamb That error happens in almost every PR.

Maybe the reason is in random PATH order? I think before you find a root cause we can remove unwanted `make` from PATH like here:
https://github.com/microsoft/LightGBM/blob/c39afb9d5fe06a9010e0531518c8f63c887ac487/.appveyor.yml#L25

[2020-11-01 18:32] StrikerRUS commented on #3513
As a quick workaround with the aim to try upload `3.1.0` to CRAN we can just skip problematic files/tests/asserts.
https://github.com/dmlc/xgboost/blob/cf4f019ed63b94a8ba15d854a44feeaeeec385b0/R-package/tests/testthat/test_basic.R#L14
https://github.com/dmlc/xgboost/blob/cf4f019ed63b94a8ba15d854a44feeaeeec385b0/R-package/tests/testthat/test_basic.R#L239-L240

[2020-11-01 18:41] StrikerRUS commented on #3372
@guolinke
I've noticed you've write in #3494

Should we reopen this issue?

[2020-11-01 18:46] #3276 closed

[2020-11-02 00:28] guolinke commented on #3372
yes, as I cannot reproduce @rebidaldal 's case, let us wait for the docker version.

[2020-11-02 00:35] guolinke commented on #3513
@jameslamb , does the solaris generated the different NDCG scores rather than other platforms ?
it may be caused by the floating-point sum error accumulation, which may be different in different platforms.
Can we show its values, and try smaller thresholds?

[2020-11-02 00:39] guolinke commented on #3507
yes, the data is too small. You can try to use `min_data=2` and `min_data_in_bin=1` for small data.

[2020-11-02 00:58] jameslamb commented on #3513
Yes if we can't fix it quickly enough, that's probably fine.

Yeah I was thinking the same thing. I can change the tests so that the error messages show exact values.

[2020-11-02 01:49] jameslamb commented on #3513
Ok I was able to get better errors.

[code]

This if from the following test code: https://github.com/microsoft/LightGBM/blob/cf69591b68c68a78ea4064e6941b8270b8a00eef/R-package/tests/testthat/test_learning_to_rank.R#L53

[2020-11-02 02:21] jameslamb commented on #3513
I checked Windows builds...this issue doesn't show up on 32-bit Windows. So it's not a problem like "we have some lost precision on 32-bit systems". I think the issue really might be specific to Solaris.

[2020-11-02 03:09] jameslamb commented on #3469
It looks like the `Rtools` compilers are found first

[code]

I'll open a PR and start testing.

[2020-11-02 03:16] jameslamb commented on #3469
I also want to add to this thread that it seems this job specifically is the one that often suffers from this issue

[code]

[2020-11-02 04:40] jameslamb commented on #3469
I just tested and found that the PATH is identical on successful and failed jobs with this issue.

I added this to every job in https://github.com/jameslamb/LightGBM/actions/runs/340974450

[code]

<details><summary>PATH on success</summary>

[code]

</details>

<details><summary>PATH on failure</summary>

[code]

</details>

[2020-11-02 04:43] jameslamb commented on #3469
I downloaded the `rtools` we host on GitHub and the one [from CRAN](https://cran.r-project.org/bin/windows/Rtools/history.html)...they're identical

![image](https://user-images.githubusercontent.com/7608904/97830656-53679680-1c93-11eb-82d3-2a9ac1266210.png)

So that rules out my theory that maybe the upload only partially succeeded when I uploaded it and we somehow have a not-quite-complete Rtool

[2020-11-02 05:11] jameslamb commented on #3469
Ok next theory: maybe the environment is changing from job to job and something important like `LD_LIBRARY_PATH` is changing and breaking things.

I don't think that's it. The output of `$env` looks identical on a successful job (https://github.com/jameslamb/LightGBM/runs/1340287459?check_suite_focus=true) and a failed one (https://github.com/jameslamb/LightGBM/runs/1340287467?check_suite_focus=tr

[2020-11-02 05:45] jameslamb commented on #3469
next theory: the wrong `ld.exe` is found at runtime.

The text below shows the output of running `Get-Command ld.exe` after Rtools and R are installed. It looks like on booth successful and failed runs, the `ld.exe` from Chocolatey is used. So that's not the issue :/

**failed run**

[code]

**successful run**

[code]

[2020-11-02 06:03] jameslamb commented on #3469
next theory: we're getting the wrong `make.exe` or `mingw32-make.exe`

**failed run**

[code]

**successful run**

[code]

So that DOES seem like a problem (we should be getting the `make` / `mingw32-make` bundled with rtools) but it can't be the root cause of the issues we've been seing in CI. Since it's the same in both failed (https://github.com/jameslamb/LightGBM/runs/1340440025?check_suite_fo

[2020-11-02 07:10] gopikanand60 commented on #3507
I'm extremely sorry but I wasn't able to find a parameter called "min_data" in the list. However setting min_data_in_bin=1 didn't help much.

[2020-11-02 07:22] arita37 opened #3516 "How to produce executable at same time than .so file ?"
If we do
[code]

It compiled well but does not  produce  binary executable, only .so file

How to generate executable ?

[2020-11-02 07:28] guolinke commented on #3507
https://lightgbm.readthedocs.io/en/latest/Parameters.html#min_data_in_leaf

[2020-11-02 07:42] gopikanand60 commented on #3507
Thank you for the clarification. You mentioned that the data I have is small. How much would be required to make daily predictions for a year?

[2020-11-02 08:12] guolinke commented on #3507
@gopikanand60 for small data set, you can use the less-complexity parameters, like small num_leaves and num_trees, to prevent overfitting.

[2020-11-02 08:38] odidev opened #3517 "Wheel support for linux aarch64"
**Summary**
Installing LightGBM on aarch64 via pip using command "pip3 install LightGBM" tries to build wheel from source code

**Problem description**
LightGBM doesn't have wheel for aarch64 on PyPI repository. So, while installing LightGBM via pip on aarch64, pip builds wheel for same resulting in it takes more time to install LightGBM. Making wheel available for aarch64 will benefit aarch64 use

[2020-11-02 10:10] gopikanand60 commented on #3507
Yeah, I'm trying to iterate through possible values for parameters which help with overfitting. However, my initial error was around 50% and I'm able to bring it down only to about 39%. Can you please let me know how much data is normally required for a similar task as I've mentioned above?(Predicting sales for a year)

[2020-11-02 13:21] StrikerRUS commented on #3516
Hi @arita37 !

For Python package you don't need executables.

How to build executable you can read in https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html (CMake target named `lightgbm` is for executables and `_lightgbm` is for shared library).

[2020-11-02 13:27] StrikerRUS commented on #3469
Looks like Chocolatey is a real problem for us. I think, normally, we shouldn't get any utility from its' folder, everything should be used from Rtools or other software we install manually (and **not** via Chocolatey). I believe we can disable Chocolatey for our builds as we do not use it. But I'm not sure how to do that: seems that removing from PATH will not help, real uninstallation is slow...

[2020-11-02 13:39] StrikerRUS commented on #3517
Hello @odidev ! Thanks a lot for your interest and willing to help!

Please refer to #3421. We decided to go with QEMU at Azure Pipelines to build ARM wheels (and possibly other available architectures) similarly to all other our artifacts. I'm trying to get familiar with QEMU first, but unfortunately don't have a lot of time to do this. I'll be very grateful for initial PR we can start working fr

[2020-11-02 13:54] arita37 commented on #3516
Un-fortunately j7 option does not work...

[2020-11-02 13:57] StrikerRUS opened #3518 "[RFC] Docker Hub subscription"
Docker has introduced paid subscriptions and has limited pulls for users.
https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/

We use Docker in our Azure Pipelines with our own Docker image from https://github.com/guolinke/lightgbm-ci-docker:
https://github.com/microsoft/LightGBM/blob/cf69591b68c68a78ea4064e6941b8270b8a00eef/.vsts-ci.yml#L15-L16
and for som

[2020-11-02 14:03] StrikerRUS commented on #3516
Could you please elaboreate?

[2020-11-02 14:11] StrikerRUS commented on #1129
Conda-forge tells how they are getting prepared to Big Sur and new Apple architecture: https://conda-forge.org/blog/posts/2020-10-29-macos-arm64/.

[2020-11-02 15:06] jameslamb commented on #3518
Since this is a Microsoft project, can we use [Azure Container Registry](https://azure.microsoft.com/en-us/services/container-registry/) ? We could push the images that we care about there.

You can use the [`docker login`](https://docs.docker.com/engine/reference/commandline/login/) command to make authenticated requests to a container registry.

[2020-11-02 15:12] jameslamb opened #3519 "[RFC] Travis adding much stricter limits on free users"
Noticed in https://github.com/dask/community/issues/107 this morning. Travis is putting much much stricter limits on free-tier use of its CI services.

https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

The blog post also makes it sound like macOS jobs will no longer be available for free-tier users, but honestly the blog post's discussion of that is very confusing.

I'm not sure yet wha

[2020-11-02 15:34] StrikerRUS commented on #3519
Thanks a lot for bringing this up @jameslamb !

Yeah, seems that macOS builds will be paid...
Also, please notice we use `travis-ci.org`, not `.com`. Looks like this also matters.

[2020-11-02 15:40] StrikerRUS commented on #3518
Hmm. sounds reasonable! But what about images that we do not maintain and want to use the latest version of them? I'm speaking about R helper images mostly.

Anyway, I think we can wait a little bit and see what 100 pulls per 6 hours mean in real life. Also, it worth to keep an eye on open source community movements.

[2020-11-02 15:54] StrikerRUS commented on #3519
https://docs.travis-ci.com/user/billing-faq#what-if-i-am-building-open-source

Very "informative"! 😃

[2020-11-02 16:17] StrikerRUS commented on #3519
OK, `org` will be archived 31st December: https://travis-ci.community/t/org-to-com-migration-deadline/10260.

[2020-11-02 18:31] kyleengel opened #3520 "Malloc error (and SIGABRT) when calling .fit() on LGBMClassifier"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

I'm including my Mac's info below, but I was also able to reproduce this on Ubuntu 18.04.4.

Operating System: macOS High Sierra, 10.13.6

CPU/GPU model: CPU is 2.6 GHz Intel Core i7. GPU is Radeon Pro 560X 4096 MB.

C++ compiler version:

[code]

CMake version:

[code]

Java version:

[code]

Python version:

[2020-11-02 18:50] StrikerRUS commented on #3520
@kyleengel Thank you very much for reporting and for fully reproducible example!
I can confirm this code crashes on my Windows machine as well.

[2020-11-02 21:38] jameslamb commented on #3469
That can't be the root of the problem by itself though, right? Since we're getting `make` from Chocolatey on all builds, whether they fail or succeed.

Now that I've confirmed that the PATH and environment are the same between successful and failed jobs, tonight I'm going to break out my Windows laptop and this things on there.

Other theories I have:

* `make` or `mingw32-make` or `ld` in Rtoos35

[2020-11-03 00:07] jameslamb commented on #3520
+1 to what @StrikerRUS said...this is one of the best issues I've ever seen opened on an open source project. Thank you SO MUCH for the reproducible example, should make it easier for us to test and fix this.

[2020-11-03 04:37] guolinke commented on #3520
Thank you so much @kyleengel , I will work on this.

[2020-11-03 04:56] StrikerRUS commented on #3469
Yeah, that's true! But I believe that the usage of `make`/`ld`/`gcc` from Chocolatey folder is a big mistake by itself and we shouldn't allow this to happen.

[2020-11-03 04:58] jameslamb commented on #3469
yep I think you're right. I'm investigating stuff in a Windows environment tonight. Will keep trying things.

[2020-11-03 05:01] jameslamb commented on #3469
I learned tonight how to get a cheap (around $0.03 / hour) Windows VM on Azure and RDP in from my Mac

![image](https://user-images.githubusercontent.com/7608904/97951289-47490b00-1d5f-11eb-918e-14e81e69dc02.png)

So no more need to break out my very old Windows laptop 😀

[2020-11-03 05:21] jameslamb commented on #3469
ooooo ok I found something interesting!

I moved my logging calls down further (after install of MikTeX), and now I see this in failed builds

[code]

And this in successful builds

[code]

So it seems like maybe installing MiKTeX is doing something that changes the PATH? Still very confusing, but the fact that we're getting a `mingw32-make.exe` from Chocolatey but a `make` from Rtools still could

[2020-11-03 05:24] jameslamb commented on #3469
I'm going to keep dumping thoughts here... @StrikerRUS if you want to unsubscribe from this issue, I can `@` you when I find something. If you're getting too many notifications.

[2020-11-03 05:25] guolinke commented on #3520
I found the root cause: you used the too small `subsample_for_bin`.
For the best effiency, LightGBM uses the sampled data (number=`subsample_for_bin`) to estimate the number of non-zero values in the full data, and then use the smallest int type (like int8 or int16) to create related objects.
When you use the small `subsample_for_bin`, the estimation will be very biased, and create the wrong types

[2020-11-03 05:32] jameslamb commented on #3469
I just tried hard-coding an exact path to `mingw32-make.exe`

[code]

still got the same errors!

https://github.com/jameslamb/LightGBM/runs/1345827662?check_suite_focus=true

[2020-11-03 05:44] jameslamb commented on #3469
I MIGHT HAVE FOUND IT!

Can't believe I missed it before. I see this at the top of PATH

[code]

But looking on my Windows environment, Rtools stores mingw32-make and ld at `mingw_64/bin`!!

![image](https://user-images.githubusercontent.com/7608904/97953060-05bb5e80-1d65-11eb-9fb6-836efef15556.png)

Which we knew, because it's in the LightGBM R package documentation: https://github.com/microsoft/

[2020-11-03 06:20] jameslamb commented on #3469
wait maybe I was looking at the wrong job above!

Because I just got 7 to succeed at the same time (which has never happened during this investigation)

https://github.com/jameslamb/LightGBM/actions/runs/343035644

![image](https://user-images.githubusercontent.com/7608904/97954868-4ec1e180-1d6a-11eb-8a7a-211154250b07.png)

[2020-11-03 16:07] StrikerRUS commented on #3469
I remember Appveyor gives a possibility to connect via RDP for free.

No, thanks, everything is fine! I'm OK with skimming all messages.

[2020-11-03 22:46] jameslamb opened #3525 "[R-package] invalid read detected by valgrind"
Based on the result of a recent run of the valgrind job (https://github.com/microsoft/LightGBM/runs/1349685476?check_suite_focus=true), it looks like recent commits have introduced an illegal read.

[code]

I'm marking this `blocking` for #3484 , because I think CRAN will reject the package if we don't fix this.

Part of the issue here is that the check in https://github.com/microsoft/LightGBM/blo

[2020-11-04 01:10] guolinke commented on #3525
interesting, this is an omp declaration. https://github.com/microsoft/LightGBM/blob/cf69591b68c68a78ea4064e6941b8270b8a00eef/src/treelearner/leaf_splits.hpp#L74

[2020-11-04 02:08] dgw commented on #3519
I found this thread while googling for more info about the "OSS only credits". That linked change is disheartening.

Looks like my own OSS project will need to discuss the pros and cons of switching over to GitHub Actions instead of migrating our travis-ci.org repos to travis-ci.com. If you go through the process of requesting OSS credits, I'd love to see the results here. It would help us with ou

[2020-11-04 19:24] #3093 closed

[2020-11-04 19:24] #3387 closed

[2020-11-05 06:03] jameslamb opened #3529 "[ci] broken link to AMD docs"
For at least the last two days, I have seen the `check-docs` task on Travis persistently failing with this error:

[code]

When I try to hit this link from my laptop, I get a 403

[code]

HTTP/2 403
server: AkamaiGHost
mime-version: 1.0
content-type: text/html
content-length: 344
expires: Thu, 05 Nov 2020 05:44:11 GMT
date: Thu, 05 Nov 2020 05:44:11 GMT
set-cookie: pmuser_country=us; expires=Thu,

[2020-11-05 07:25] jameslamb commented on #3352
Hi @Juniper-23 , do you need any help with this? No rush at all, just want to help if you are stuck.

[2020-11-05 19:53] #1441 closed

[2020-11-05 20:02] StrikerRUS commented on #3357
Can we close this issue? I think the majority of solutions from Kaggle are covered right now.

[2020-11-05 20:04] jameslamb commented on #2983
@StrikerRUS Even though Hacktoberfest is over, I still think that `good first issue` issues should be kept open actually, so that they're discoverable for new contributors. I think hiding them in #2302 makes them hard to find.

It's very common practice on GitHub for would-be new contributors to go to a repository and expect to be able to filter the open issues by `good first issue`.

[2020-11-05 20:04] jameslamb commented on #3357
yeah I think so

[2020-11-05 20:04] #3357 closed

[2020-11-05 20:39] StrikerRUS commented on #2983
@jameslamb I'm OK with that. But please add some words about that in #2302 opening message then.

[2020-11-05 22:59] #3529 closed

[2020-11-06 02:02] jameslamb commented on #3469
oh thanks for re-opening this @StrikerRUS , I should have been more careful with the text in the description of #3523

[2020-11-06 04:20] jameslamb commented on #3469
I'm researching the possibility that changes in the GitHub Actions Windows images are to blame for the problems we're facing.

Nothing for sure yet, but these seem relevant:

* https://github.com/actions/virtual-environments/issues/1525
* https://github.com/actions/virtual-environments/pull/1435
* changes that updated CMake
    - 3.18.2 --> 3.18.3 (https://github.com/actions/virtual-environments/p

[2020-11-06 13:12] dishkakrauch opened #3532 "Custom huber loss in LightGBM"
## How you are using LightGBM?

LightGBM component:

## Environment info

Operating System: Windows 10

CPU/GPU model: NVIDIA 1060

C++ compiler version: Visual Studio 2019

CMake version: 3.17.2

Java version:

Python version: 3.7

R version:

Other:

LightGBM version or commit hash: 3.0.0.99

## Error message and / or logs

## Reproducible example(s)

[code]

![LightGBM mse](https://user-images.

[2020-11-06 14:19] #3353 closed

[2020-11-06 15:58] #3520 closed

[2020-11-07 03:16] #3525 closed

[2020-11-07 06:02] jameslamb commented on #2302
Based on https://github.com/microsoft/LightGBM/issues/2983#issuecomment-722630931, I've updated this issue's description:

I think that we should keep `good first issue` issues  open, so it's easy for new contributors to find them.

[2020-11-07 07:16] jameslamb commented on #3518
Ok yes I agree, we don't need to do anything right now, but should probably keep this open and monitor it for a few months

I'm not sure if the CI services we use rely on docker for non-containerized workflows. I think Azure DevOps, Appveyor, and Travis all provision virtual machines using VM images, not containers.

Also....the limit is based on IP address, and I think that for those services eve

[2020-11-07 11:57] guolinke commented on #3532
It seems your implementation is different with LightGBM:
https://github.com/microsoft/LightGBM/blob/da6c6ea3c92e6c53e1bdf8f1b2bf243cad8b034d/src/objective/regression_objective.hpp#L310-L335

[2020-11-07 18:22] AlbertoEAF commented on #3426
Ping @onderhazaroglu. Does it make sense?

Can we close this issue?

[2020-11-07 18:28] AlbertoEAF commented on #3210
Hello, just to be sure, are we migrating to the 4-part versioning or no? We're already at 3.0.0.99 after all.

But yes, having more releases would be nice, maybe it would be a good time to launch a new one :)

Should we close this issue?

[2020-11-07 18:44] StrikerRUS commented on #3469
@jameslamb For the most recent commit in `master` (da6c6ea3c92e6c53e1bdf8f1b2bf243cad8b034d) I can see that checks for it fail, BUT there are no any mentions of Chocolatey (or git)! All paths look correct and comes from Rtools. Here is the log: https://github.com/microsoft/LightGBM/runs/1368330765.

[2020-11-07 18:52] StrikerRUS commented on #3210
@AlbertoEAF

I believe that current 4-part versioning has a bit different semantics. https://github.com/microsoft/LightGBM/pull/3344#issuecomment-684913196

Already is in progress: #3484! 🙂

[2020-11-07 22:26] onderhazaroglu commented on #3426
Yes, I got it working finally. Thanks for the info.

[2020-11-07 22:26] #3426 closed

[2020-11-08 01:47] jameslamb commented on #3469
Yeah #3523 still did not fix this problem, unfortunately.

[2020-11-08 05:19] jameslamb commented on #3519
Just got this error on a personal project of mine that runs on travis-ci.org

![image](https://user-images.githubusercontent.com/7608904/98457686-8e644100-214f-11eb-9928-40bc01932d3e.png)

[2020-11-08 11:04] dishkakrauch commented on #3532
Thanks for your reply.
I've changed code according Lightgbm c++ source.
I't getting closer to default 'huber' objective, where am I getting still wrong?

[code]
![Lightgbm huber custom +](https://user-images.githubusercontent.com/34490641/98463303-569adf00-21cb-11eb-9c99-a3e0444baf4f.png)

[2020-11-08 13:01] guolinke commented on #3532
In lgb ’diff = score[i] - label_[i]; ‘, and you seems use `y_true - y_pred`.

[2020-11-08 13:03] dishkakrauch commented on #3532
Tried this approach but still can't get same results.

[code]

![Lightgbm huber custom +](https://user-images.githubusercontent.com/34490641/98465727-f1031e80-21db-11eb-9130-3b88eac48fdb.png)

[2020-11-08 21:14] StrikerRUS commented on #3519
So, what's the plan?

Mark Travis CI as non-required for the transfer period. Transfer LightGBM project from `org` to `com` domain. Write a letter to Travis support team kindly asking them for open source project points. Choose the most basic (and free plan) with ideally unlimited runs/minutes (but probably with just 1 parallel job) for Linux and Windows. Spend all given tokens for macOS builds. S

[2020-11-08 21:21] raybellwaves opened #3542 "add conda-forge as option in Installation guide?"
May be worth adding that LightGBM can be installed via conda-forge in the docs.

https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html

As a windows user this is often what I use to get started quickly.

I also find LightGBM a little better than XGBoost is this regard as the py-xgboost package is currently pinned at all old version on windows whereas the lightgbm is up to date (I belie

[2020-11-08 23:06] raybellwaves opened #3543 "other optuna links"
The README has a link to https://medium.com/optuna/lightgbm-tuner-new-optuna-integration-for-hyperparameter-optimization-8b7095e99258

Could also add a link to the optuna repo examples
https://github.com/optuna/optuna/blob/master/examples/lightgbm_simple.py
https://github.com/optuna/optuna/blob/master/examples/lightgbm_tuner_simple.py
https://github.com/optuna/optuna/blob/master/examples/lightgbm_

[2020-11-09 00:07] jameslamb commented on #3542
Good to see you hear @raybellwaves ! Thanks for the suggestion. I agree that this option should be documented, but it should also be clear that the conda-forge version of `lightgbm` is not maintained by LightGBM maintainers (https://github.com/conda-forge/lightgbm-feedstock)

Would you be willing to open a pull request documenting how to `conda install` LightGBM? Also I think this is a more approp

[2020-11-09 00:12] jameslamb commented on #3543
Thanks for the suggestion @raybellwaves !

Could you open a pull request that updates https://github.com/microsoft/LightGBM/blame/e93fd3331348c805010d0a849776677024353b7f/README.md#L43? It could be something like this:

[code]

[2020-11-09 01:56] raybellwaves commented on #3542
I'll sadly admit I didn't see to the Python Intro section and didn't expect it to have install instructions. Today was actually my time on the docs.

Wonder if it's worth adding a sentence at the top of the section referring to the the python section e.g.
https://lightgbm.readthedocs.io/en/latest/Python-Intro.html#install

[2020-11-09 02:12] guolinke commented on #3532
by default, the huber loss is boosted from average label, you can set `boost_from_average=false` for lightgbm built-in huber loss.

[2020-11-09 04:37] jameslamb commented on #3519
Ok yes, I agree with this plan!

If you can do the org to com transfer, I can take responsibility for writing to Travis support. What do you think?

[2020-11-09 04:44] jameslamb commented on #3542
Sorry, could you clarify?

Both https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#installation-guide and https://lightgbm.readthedocs.io/en/latest/Python-Intro.html#install both have links back to the detailed Python installation docs at https://github.com/microsoft/LightGBM/blob/master/python-package/README.rst

[2020-11-09 06:57] dishkakrauch commented on #3532
Unfortunatelly it didn't help.

[2020-11-09 08:03] #3491 closed

[2020-11-09 08:08] fydlzr opened #3546 "Does LGB support dynamic learning rate?"
Does LGB support dynamic learning rate?
Can lr be smaller and smaller during the training process?

And I just updated lgb from 2.3.1 to 3.0.0, does the old param "max_position" equal to "lambdarank_truncation_level"?

[2020-11-09 11:41] StrikerRUS commented on #3519
I'm not sure I have enough rights for migrating. Anyway, the first step is to mark Travis CI as non-required for PRs, because after migrating we will face runs cancelation as you've pointed in https://github.com/microsoft/LightGBM/issues/3519#issuecomment-723532090.

@guolinke Could you please help with marking Travis checks as non-required? Also, WDYT about this topic in general?