[2019-08-13 13:11] 12301098-Heminghui opened #2326 "a question about calculating delta ndcg"
The source code in the project is as below
![image](https://user-images.githubusercontent.com/11437820/62944136-a515ce00-be0e-11e9-93d5-9737cf5431cf.png)
but i think the right calculation is like
![image](https://user-images.githubusercontent.com/11437820/62944270-e0b09800-be0e-11e9-89e3-3cd3fbb6c24c.png)

[2019-08-13 13:29] Mahdi-Hosseinali commented on #2320
I'll be busy for next couple of weeks, but will be happy to do it then. Do you have any particular dataset in mind that'd be a good test case?

[2019-08-13 13:57] StrikerRUS commented on #2320
Sure, any time you can! I think any dataset from our [`examples` folder](https://github.com/microsoft/LightGBM/tree/master/examples) is OK. Or you can use scikit-learn built-in datasets.

[2019-08-14 16:24] #2266 closed

[2019-08-14 17:55] slonoslon opened #2328 "custom objective in Random Forest mode"
Is custom objective function supported when boosting_type is 'rf'? If not, at least a more informative error message would be helpful.

## Environment info

LightGBM version or commit hash:

2.2.4

## Error message

[code]
## Reproducible examples

[code]

[2019-08-14 18:08] Gerenuk commented on #2313
I've updated the description. It now shows the line trace and the observation that segmentation fault happens for num_threads>1 only.

[2019-08-14 19:24] StrikerRUS commented on #2313
@Gerenuk It's quite hard to be 100% sure without the reproducible example and full backtrace, but my assumption is that it's due to broken `numpy` package in your conda environment. To be more precise, with `mkl` library, which is `numpy`'s dependency. I would recommend create new clean conda environment and install only required packages (and install `lightgbm` without `gpu` option to confirm tha

[2019-08-14 20:00] Gerenuk commented on #2313
@StrikerRUS With a completely fresh installation of LightGBM there is still the same bug. And without gpu compilation it works normally.

[2019-08-15 10:08] Gerenuk commented on #2313
@StrikerRUS It turns out it works it works when I remove MKL. I have a AMD CPU btw. Interestingly everything else worked so far (e.g. XGBoost GPU).

Maybe a note in the FAQ would be good, because for a casual user Anaconda comes with MKL by default and you have no idea. It seems you have to install Miniconda and do `conda install nomkl` first if you have an AMD CPU.

[2019-08-15 12:24] chjq201410695 opened #2329 "OSError: exception: access violation reading 0x0000000000000274"
## Environment info

Operating System: win 10

CPU/GPU model: CPU

C++/Python/R version: python

LightGBM version or commit hash: 2.2.3

## Error message

OSError                                   Traceback (most recent call last)
<ipython-input-198-4cc1ed89595d> in <module>
     29                     show_stdv=True,
     30 #                     categorical_feature= ['UN_x','UN_y','TS_x','TS_y',

[2019-08-15 18:42] chjq201410695 commented on #2329
I finally solved this issue through deleting the lgb_train and lgb_test and making the Datasets again. So I close it.

[2019-08-15 18:42] #2329 closed

[2019-08-15 20:07] StrikerRUS commented on #2313
@Gerenuk Nice to hear that your problem has been solved!

We already have a note about the `mkl` from conda in our FAQ: https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm-crashes-randomly-with-the-error-like-initializing-libiomp5-dylib-but-found-libomp-dylib-already-initialized

[2019-08-15 20:07] #2313 closed

[2019-08-16 16:34] guolinke commented on #715
i think the reason is missing some dependencies in your jupyter, or it is not 64 bit version.

[2019-08-16 16:46] guolinke commented on #2315
cool idea!

[2019-08-18 06:48] jameslamb commented on #2259
I was able to reproduce this error tonight AND @brandenkmurray 's suggested workaround works for me.

<details><summary>R sessionInfo()</summary>
<p>

[code]

</p>
</details>

LightGBM commit: 686b0cc2f9a1639a65a3b9ae4b7ed11bdd142082 (most recent on `master`)

<details><summary>compiler versions</summary>
<p>

![image](https://user-images.githubusercontent.com/7608904/63221123-f220d980-c159-11e9-8

[2019-08-18 15:22] brandenkmurray commented on #2259
@jameslamb This looks like it could be the offending line: https://github.com/microsoft/LightGBM/blob/c4cd65ff05f4594be926305ff6fad4dfb4cfdd67/R-package/src/install.libs.R#L48

It's looking for `gcc` and `g++` to be at the beginning of the string.

Changing to `grepl('gcc-[6-8]$', Sys.getenv('CC', ''))` and `grepl('g\\+\\+-[6-8]$', Sys.getenv('CXX', ''))` works (just using "[6-8]" as an example, c

[2019-08-18 23:50] jameslamb opened #2332 "build_r.R throws warning about --keep-empty-dirs flag"
Running `build_r.R` (the script used to build the R package) throws this warning:

[code]

Looks like we should be using `--keep-empty-dirs` (`-` not `_`). I'll submit a PR momentarily.

[2019-08-19 02:20] #2332 closed

[2019-08-19 03:30] jameslamb commented on #2323
Thanks for opening this @dragie ! I will look at the relevant part of the R package and get back to you in a day or two.

[2019-08-19 03:31] jameslamb commented on #2267
@danielmarcelino are you still facing this issue? I'd be happy to help if you can answer the questions in my comment above.

Thanks!

[2019-08-19 04:18] jameslamb opened #2335 "R unit tests are not run in CI"
Are the R package's tests run anywhere in our CI? I looked through Travis, Azure, and Appveyor and as far as I can tell they aren't.

I ask because I just submitted #2334 which is passing all checks, but running the unit tests on the R package fails locally for me.

After noticing that, I saw that even on `master` the R unit tests locally for me.

**Steps to reproduce**

Clone `lightgbm` repo, the

[2019-08-19 04:27] jameslamb opened #2336 "Typo in R unit tests leads to 'unknown parameter' warning"
Running the unit tests on the R package tonight, I saw this warning reported several times:

[code]

Looks like it is just a combination of a typo in our tests plus the fact that `lightgbm`'s use of `...` in `lgb.cv()` allows such unknown keyword arguments to make it through without an exception being raised.

**How I'm running the tests**

I'm on most recent `master` of this project.

[code]

[2019-08-19 04:55] jameslamb commented on #2259
@brandenkmurray Oh great, thanks! That definitely seems like it could be the culprit. Let me try and if that works for me, I'll open a PR with the change.

[2019-08-19 05:21] jameslamb commented on #2259
Just opened #2339 , I hope it fixes it! Thanks for the help.

@fangaohz if you find time to come back to this issue and tell us your original report was _not_ from running the R package, we will re-open the issue. Thanks for reporting!

[2019-08-19 08:49] AnakTeka commented on #1998
How do you fix this? I have exactly same issue error `LightGBMError: No OpenCL device found` although I have successfully compile LightGBM with `--gpu` param

And this one does not fix my issue.

[2019-08-19 12:28] #2336 closed

[2019-08-19 15:19] mfluegge opened #2340 "What does random forest mode do exactly?"
Hey,

I'm looking for a python random forest implementation that
* can deal with missing values natively
* can find splits on categorical variables
* is fast

LightGBM seems like the way to go, since xgb doesn't support categorical variables.
However, I think an important part in random forest is that you only consider a small subset of features on every split. Does the `rf` mode achieve this? I s

[2019-08-19 15:29] sbruch commented on #2326
The calculation in the code is correct. Denoting gain by G(.), discount by D(.), and rank of a document in the list sorted by scores by rank_:

NDCG of the list where documents are sorted by scores has these two terms: G(m)/D(rank_m) + G(n)/D(rank_n)
NDCG after swapping documents m and n has these two terms: G(n)/D(rank_m) + G(m)/D(rank_n)

So the difference is of the following form:

G(m) * (1/D(

[2019-08-19 21:19] guolinke commented on #2340
@mfluegge
1. rf mode support sub-features. But currently, we only support the sub-feature at tree level, not the node level. I think the original rf also uses the sub-features at tree level.
2. we don't support the sample with replacement, therefore, bagging_fraction=1 does not make sense.

the rf mode is actually a hack of boosting mode. rf mode doesn't boost, and always uses the gradients of the

[2019-08-20 00:18] StrikerRUS commented on #2335
You are absolutely right! They aren't.

Are you planning to work on this feature request in the near future? If not, then, according to a new feature requests moderation policy, we should add this to #2302 and close this issue.

[2019-08-20 00:58] guolinke opened #2341 "Code Refactoring"
Thanks to the active community, LightGBM receives many PRs for the new features.
Consequently, some codes become missing the readability and maintainability, for the coupling of many different functions.
For the convenience of future developments and friendliness for new users, I would like to have a code refactoring.

ping @chivee  @StrikerRUS @jameslamb @Laurae2 @huanzhang12 @henry0312

you can

[2019-08-20 01:50] jameslamb commented on #2335
I am planning to work on it this week. But either way, could you help me understand why this would get added to #2302 ? It's not a "feature" as I understand that, since it's not a user-facing change. Is #2302 supposed to hold "everything except bugs and questions"?

[2019-08-20 09:19] mfluegge commented on #2340
Hey @guolinke,

thanks for your response !

1. Ok, I will have to check how splitting on tree-level impacts the behaviour of a random forest. I'm mostly referring to [Leo Breiman's influential paper](https://www.stat.berkeley.edu/~breiman/randomforest2001.pdf) which specifies random forest as bagged trees with random feature subsets selected at each split.

2. Alright, I understand. I guess I shou

[2019-08-20 09:19] #2340 closed

[2019-08-20 12:27] StrikerRUS commented on #2335
I don't know exactly, but according to that, for example, `More tests`, `Add pkgdown documentation support` and ` Rewrite R demos`, are there, I think yes.
Ping @guolinke for the help in clarifying #2302 contents.

[2019-08-20 14:36] nirupamkar opened #2343 "Question of categorical features"
@guolinke
1.is there any way to directly access the grouping of categorical features?
2.If the init score is given the optimum spilt for categorical/numerical feature will be a function of "residual error" or the original error?

[2019-08-20 15:58] MotoRZR opened #2344 "Add AUC mu metric for multiclass training"
There was a paper written on a new AUC metric for multiclass problems.

http://proceedings.mlr.press/v97/kleiman19a/kleiman19a.pdf

The authors have provided the code in the repository below so this should be straightforward to incorporate as an inbuilt metric.

https://github.com/kleimanr/auc_mu/blob/master/auc_mu.py

[2019-08-20 21:02] StrikerRUS commented on #2344
For the reference: catboost has already implemented AUC Mu: https://github.com/catboost/catboost/commit/298ca12c7c7c8bda54ef1291b3fb1ea0888e6539.

[2019-08-20 22:50] guolinke commented on #2335
yes, 2302 is for everything except bug and question.

[2019-08-21 03:14] #2259 closed

[2019-08-21 06:12] CanYouGiveMeAName commented on #1266
But I have a large amount of data. And they are all in hdfs。

[2019-08-21 06:13] shashankg7 commented on #648
@guolinke . Is there any range of scores for the ranking model? Upper limit and lower limit

[2019-08-21 06:28] khuongnd commented on #586
I got the same error. This is the solution I follow:
https://www.kaggle.com/kirankunapuli/ieee-fraud-lightgbm-with-gpu

[2019-08-21 06:55] guolinke commented on #648
@shashankg7 I don't there is a bounded range, but they should be in the relatively small values.

[2019-08-21 07:02] shashankg7 commented on #648
Hi @guolinke, thanks for your prompt response.

Since you mentioned relatively small ranges, I was wondering if I can apply a logistic function to ranking model's score? I want to get the output in the range [0,1].

[2019-08-21 12:33] guolinke commented on #648
Yeah, I think you can

[2019-08-21 16:06] jameslamb commented on #2335
Ok thanks, will close and add it to that issue. I plan to pick it up soon!

[2019-08-21 16:07] StrikerRUS commented on #2323
@dragie I think you can use [`PRROC` package](https://cran.r-project.org/web/packages/PRROC/index.html). It's [the highest voted answer at CrossValidated](https://stats.stackexchange.com/a/226972). or you can simply take the needed part of computations to your code from [its' sources](https://github.com/cran/PRROC/blob/master/R/PRROC.R).

[2019-08-21 16:16] jameslamb commented on #1910
Created https://github.com/microsoft/LightGBM/milestone/4

[2019-08-22 07:45] weidong8405 opened #2347 "how to setting rf model not boosting just bagging"
i set the config like this
 boosting_type = rf
but the bagging num_trees how to set for, i do not know
not the num_trees which is to set for the boosting iteration

[2019-08-22 17:09] mhamilton723 opened #2348 "Add Smarter Backoffs for MPI ring connection"
Hey, I am running many LightGBM training runs as part of LightGBM on Spark's CI process and i notice that it does alot of waiting because of bad network and this dramatically slows the tests:

https://github.com/microsoft/LightGBM/blob/0a4a7a86f5a1d3146c36c7d8c082154a193d4893/src/network/linkers_socket.cpp#L190

Could you potentially make it first wait for half a second, then wait for 10 seconds?

[2019-08-22 21:08] IsaacLance opened #2349 "Using categorical_feature and save_binary confusion."
When calling train on my dataset and a validation set, I'm getting the error:
`LightGBMError: Cannot set categorical feature after freed raw data, set free_raw_data=False when construct Dataset to avoid this.`

It seems that in order to set free_raw_data to False I would have to give up using:
`my_dataset.save_binary('test.bin')`
Since it frees the raw data. Is there a way around this? My datasets

[2019-08-23 01:25] guolinke commented on #2349
@IsaacLance
the best use case for categorical features is set it when declaring the lgb.Dataset, not in lgb.train.
If you set categorical feature before `save_binary`, this problem could be avoided.
After `save_binary`, the loaded dataset object from binary file is unchangeable.

If the parameters (of dataset) is set in lgb.Dataset, you don't need to set it again when training.

[2019-08-23 02:32] IsaacLance commented on #2349
So my code right now is in this order:
[code]
And I'm getting the error.

[2019-08-23 02:49] guolinke commented on #2349
I think it happens to `valset`? do you have the same processing?

[2019-08-23 02:52] guolinke commented on #2349
BTW, do `params` contains `categorical_feature` ? if yes, you can try to remove it.

[2019-08-23 03:11] IsaacLance commented on #2349
Valset is made the same exact way I just wanted to save lines here!
I'm using categorical_feature in params, if I remove it, won't the features be treated differently? I have categorical features. @StrikerRUS

[2019-08-23 04:35] IsaacLance commented on #2349
This may be related to the same underlying problem or not, I'm not sure, but I also am not able to get this to work:
[code]
My training still stops based on the second metric, even when this is set to True. I tried switching the order of my two metrics but it still stopped on multi_error with either order.

[2019-08-23 04:42] guolinke commented on #2349
@IsaacLance if you set `categorical_feature` in lgb.Dataset, you don't need to set it again in lgb.train.
@StrikerRUS to confirm this.

[2019-08-23 04:43] guolinke commented on #2349
for the `first_metric_only`, refer to this PR: https://github.com/microsoft/LightGBM/pull/2209

[2019-08-23 12:05] StrikerRUS commented on #2349
@StrikerRUS to confirm this.

Yeah, cat features can (and should) be set once in `lgb.Dataset()` constructor.

[2019-08-23 12:22] StrikerRUS commented on #2349
Seems that I cannot reproduce the problem.

[code]

[code]

[2019-08-23 12:27] StrikerRUS commented on #2349
@IsaacLance

You can check it by changing `cats = None`. After doing that the output changes, so cat features are treated as expected.
[code]

[2019-08-23 15:23] henry090 opened #2350 "RStudio crashes when I try to run light gbm train process"
Hi, I have just installed Light GBM and this time RStudio crashes when I try to run one of your examples: e.g. cross_validation.R

<img width="1280" alt="Screen Shot 2019-08-23 at 7 17 26 PM" src="https://user-images.githubusercontent.com/38523699/63603780-5bca3900-c5db-11e9-92e7-d58fb16f5c7c.png">

[code]

[2019-08-23 16:05] jameslamb commented on #2350
Thanks for the report and the session information! I'd like to help you out.

Could you paste in here the exact code you ran (so I can copy paste it and try to run myself)? I want to be sure you ran exactly `cross_validation.R`. It's possible we have some combination of parameters there which causes an issue with newer versions of the library.

Could you also tell us what steps you took to install

[2019-08-23 16:38] henry090 commented on #2350
[code]

__This is how I built__
[code]

[code]

__I removed the old folder and cloned, again. And the process was successful.__

[2019-08-23 16:42] mhoward2718 opened #2351 "Segmentation fault on binary format but not libsvm format"
I'm running the command line LightGBM binary. I have a dataset with several hundred million records. After experiencing some long load times, I converted it to the binary format using Python:

[code]

When the data was in LibSVM format, LightGBM is able to successfully train a model. When loading the binary data, though, it dies instantly with a segmentation fault.

Using the linux `head` and `tai

[2019-08-23 18:15] IsaacLance commented on #2349
It seems that categorical features don't work with Datasets loaded from binary made with save_binary. I set free_raw_data=False but I assume saving it doesn't actually save the raw_data with it, so that is my problem. If categorical data is not helping performance (this is still unclear to me whether it is helpful) I can just remove it.

[2019-08-23 18:31] StrikerRUS commented on #2349
@IsaacLance Can you please provide any reproducible example illustrating what are you saying?

[2019-08-23 19:40] IsaacLance commented on #2349
[code]
Results in
`LightGBMError: Cannot set categorical feature after freed raw data, set free_raw_data=False when construct Dataset to avoid this.`

[2019-08-24 01:05] guolinke commented on #2349
@IsaacLance still cannot reproduce:

[code]

[code]

[2019-08-24 01:06] guolinke commented on #2349
BTW, it is better to specific reference to valset, like `valset = lgb.Dataset(X_test, y_test,  reference=dataset, categorical_feature=cats)`

-

[2019-08-24 01:32] IsaacLance commented on #2349
Thanks for the tip! I made a mistake, my code didn't exactly match what I posted as an example. I was also loading the valset from a file. When I only load the dataset from a file, but not valset, it works! So my mistake was using save_binary with the valset.

[2019-08-24 11:38] guolinke commented on #2351
@mhoward2718 sure, please share the data.

[2019-08-24 11:43] guolinke opened #2353 "CI via GitHub actions"
It seems we can use github actions for the CI tests:
https://help.github.com/en/articles/about-github-actions

From these descriptions, it seems better than other CIs we are using.

@StrikerRUS

[2019-08-24 15:20] hayesall commented on #2353
Badges in the README can be updated too, here's an example:

<a href="https://github.com/actions/toolkit"><img alt="GitHub Actions status" src="https://github.com/actions/toolkit/workflows/Main%20workflow/badge.svg"></a>

The syntax should look like this (courtesy of Reddit user /u/peaceiris in [this thread](https://www.reddit.com/r/github/comments/csehoc/github_actions_official_status_badges/))

[2019-08-24 20:00] nirupamkar commented on #2343
@StrikerRUS @guolinke any help on this?

[2019-08-24 21:46] StrikerRUS commented on #2353
I think we can start from tests for R-package. @jameslamb created #2335 for that recently. R tests will require new script files for stuff installation and test itself, so it's good way to not adjust our existing scripts, but develop new ones from the scratch and learn new CI platform.

[2019-08-24 23:27] guolinke commented on #2343
@nirupamkar
1. you can access by cpp code.
2. it currently is based on `residual` (gradient), not the original label.

[2019-08-24 23:32] guolinke commented on #2348
This could be configurable.
I will create a PR for it.

[2019-08-24 23:45] guolinke commented on #2347
sorry, I don't understand your question.
`num_trees` in RF don't boost. the trees are independent.

[2019-08-24 23:48] guolinke commented on #2328
@slonoslon
yes, the RF cannot support custom objective now.
refer to https://github.com/microsoft/LightGBM/blob/46d2147684a86d7b4219c83386c469d34c1b075f/src/boosting/rf.hpp#L84

[2019-08-25 02:55] Ian09 commented on #2239
@y-research-yu hi, I have the same question with you. I have checked your gist and I think the gradient and hessian are correct. But the performance with the your implementation of lambdarank objective is very poor, actually, I the output is:

[1]	training's ndcg@1: 0.402163	training's ndcg@2: 0.422151	training's ndcg@3: 0.442433	training's ndcg@4: 0.462206	training's ndcg@5: 0.483969
[LightGBM] [

[2019-08-25 03:48] weidong8405 commented on #2347
but i read the code when generate a tree is will update the predict score use learning_rate, in RF the learning rate is useless?

[2019-08-25 10:53] StrikerRUS commented on #2349
Loading validation dataset from file works fine as well.
[code]

[code]

[2019-08-25 11:14] StrikerRUS commented on #2344
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-08-25 15:56] jameslamb commented on #2353
@StrikerRUS yes that's a good idea, I've been wanting to learn GitHub actions for CI.

I'll try that for #2335 (just assigned to myself).

[2019-08-25 16:08] #2328 closed

[2019-08-25 20:03] IsaacLance commented on #2349
I corrected my mistake and it's working now. Thank you for your help!

[2019-08-25 20:03] #2349 closed

[2019-08-26 09:31] deepdalytics opened #2357 "lgb.cv is constantly crashing in R"
Unfortunately, my R Session is always aborted after a few seconds when running lgb.cv. I call lgb.cv several times since it's part of a scoring function I use to do Bayesian Optimization and hence find the optima hyper parameters. However, the error does seem to come from lightgbm.

In RStudio, I get the following error:

[LightGBM] [Fatal] Check failed: cache_size >= 2 at /private/var/folders/6q/

[2019-08-26 13:34] hayesall commented on #2353
I adapted the Travis matrix to a GitHub Actions matrix. It's nowhere close to being ready for a pull request, but there aren't many examples yet so I figured I'd share what I've found.

- [hayesall/LightGBM: .github/workflows/ccpp.yml](https://github.com/hayesall/LightGBM/blob/ciworkflow/.github/workflows/ccpp.yml)
- [hayesall/LightGBM: Actions Example build](https://github.com/hayesall/LightGBM/r

[2019-08-26 15:28] guolinke commented on #2357
It seems the memory is not enough

[2019-08-26 21:39] r-luo opened #2359 "Check weights for NANs"
## Environment info

Operating System: AWS RHEL 7

CPU/GPU model: AWS ec2 m5.24xlarge

C++/Python/R version: Python 3.7

LightGBM version or commit hash: 2.2.3

## Reproducible examples

### Set up variables
[code]

### Training without weights
[code]
Returns
[code]

### Training with weights

[code]
returns
[code]

In addition, the weight usage example here https://github.com/microsoft/LightGBM/b

[2019-08-27 06:35] chris-smith-zocdoc opened #2360 "Missing JNI Exception Checks"
I'm attempting to track down a memory corruption bug that is occurring during training of LightGBM on spark (using https://github.com/Azure/mmlspark)

But when I enable the jvm options `-Xcheck:jni -verbose:jni` I am seeing an excessive number of warnings suggesting that errors aren't being checked in the jni code.

I haven't written jni before, but only call to `CallObjectMethod` is [here](https:

[2019-08-27 10:32] StrikerRUS commented on #2360
ping @imatiach-msft
Feel free to transfer this issue to https://github.com/Azure/mmlspark repo if you feel it should be there.

[2019-08-27 20:42] StrikerRUS commented on #2359
@r-luo I think you should use something smarter than random weights to see AUC improvement. However, even with your example I get the following output:
[code]
Use `np.random.seed(42)` to get the same output.

[2019-08-28 04:06] lk1983823 opened #2361 "Does LightGBM support jetson TX and nano?"
Does LightGBM support jetson TX and nano?

[2019-08-28 04:12] jsh9 opened #2362 "Categorical feature: does LightGBM deal with non-int data types?"
In the documentation here (https://lightgbm.readthedocs.io/en/latest/Parameters.html#categorical_feature), it is stated that categorical feature values must be integers.

However, in another documentation (https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.train.html#lightgbm.train), the categorical features values only need to be lower than int32 max value.

I tried to specify a float c

[2019-08-28 05:04] guolinke commented on #2361
officially no support. But you try to compile on it by yourself.

[2019-08-28 05:54] y-research-yu commented on #2239
@Ian09 Hi, thanks for the message. Unfortunately, I got no advance on this issue. @guolinke Any inspiring comments are highly appreciated, thanks!

[2019-08-28 06:40] chris-smith-zocdoc opened #2363 "JVM crash caused by LGBM_DatasetCreateFromCSRSpark"
I'm seeing jvm crashes in our spark cluster which I believe are being caused by `LGBM_DatasetCreateFromCSRSpark`

https://github.com/microsoft/LightGBM/issues/2360 indicated some issues in that method, so I setup a local stress test that just invokes a tiny java application in a loop. Doing this I was quite easily (> 1 out of 100 times) able to elicit a jvm crash but its not exactly what I'm seein

[2019-08-28 06:50] guolinke commented on #2239
@y-research-yu
I think there are some bugs in your code.
you can check the grad/hess numerical issues, such as nan/inf/zeros.

For your questions, the built-in lambdarank only have a slightly difference with the original algorithm. you can check `ndcg_norm` parameter.

BTW, you can set `'verbosity':2` for more information.

[2019-08-28 09:18] Ian09 commented on #2239
Hi @guolinke and @y-research-yu
I have checked the hess and I found that the hess is very small. For example, in my data, there are 7903 items, and the `mean, sum, min, max` of the hess for the first epoch(tree) is `-2.2476994045302423e-19,-1.7763568394002505e-15, -1.0848717237770573 6.157482893792464` and there is one items which is zero. Is it correct/normal for the hess?

BTW, I have checked @y

[2019-08-28 11:19] StrikerRUS commented on #2363
@chris-smith-zocdoc Thanks a lot for your very detailed investigation!

ping @imatiach-msft

[2019-08-28 11:22] StrikerRUS commented on #2359
@guolinke What do you think about ["all-ones" weights](https://github.com/microsoft/LightGBM/blob/master/examples/binary_classification/binary.test.weight) in our example?

[2019-08-28 11:33] StrikerRUS commented on #2362
@jsh9 You described the expected behavior. The first link is for LightGBM CLI version, and the second one is for Python-package. So, in CLI version it's possible to use only ints, and for Python-package you can use some other data types.
https://github.com/microsoft/LightGBM/blob/4fc0416fabee5ba8f062f6d7dd966e1b207b7f4f/tests/python_package_test/test_engine.py#L639-L644

If you are interested, her

[2019-08-28 11:33] #2362 closed

[2019-08-28 11:36] #2361 closed

[2019-08-28 11:49] StrikerRUS commented on #2361
@lk1983823 It will be cool if you report results in #1129.

[2019-08-28 15:15] henry090 commented on #2350
Hi, I updated gcc and cloned+reinstalled again. Works fine. No fatal error.

[2019-08-28 21:53] StrikerRUS commented on #2362
@jsh9

Sure, here are answers for your question: https://github.com/microsoft/LightGBM/issues/804#issuecomment-507169407, https://github.com/microsoft/LightGBM/issues/1936#issuecomment-463958324.

[2019-08-29 01:23] jameslamb commented on #2350
@henry090 thanks for the thorough updates. Sorry that it took me a few days to get back to you, I have been traveling.

I'm glad that it is working for you! You have already given us so much of your time... if you'd be willing to give us just a bit more of it, would you show the result of `gcc --version` here for people who find this issue in the future and want to know what combination of `lightg

[2019-08-29 01:40] jameslamb commented on #2267
No problem! We are here to help YOU, just want to know if it is still an issue which other people might be facing.

I'm glad you got it working on Linux, but I am worried we have some problem on Mac OS (see #2350 for example). Could you tell me _how_ you are installing `lightgbm` on your Mac? Like show me the exact code you are running? Namely, I'm curious about whether you are using `gcc` or `cla

[2019-08-29 01:56] jameslamb commented on #2357
@guolinke could you elaborate? I looked at the code around https://github.com/microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L676 but can't figure out how it's possible to violate that check.

As a reminder (it's been almost 3 years since you rote this code in #86, according to the blame 😂 ), it has this comment

in class `HistogramPool`

[code]

[2019-08-29 03:12] guolinke commented on #2357
refer to :
https://github.com/microsoft/LightGBM/blob/5f5dcff60471853d27b1c0ff82122199e9196080/src/treelearner/serial_tree_learner.cpp#L49-L72

I think it should not fail (unless the number of leaves = 1)

[2019-08-29 03:13] guolinke commented on #2357
but num_leaves should `>1`,
https://github.com/microsoft/LightGBM/blob/0dfda82607633132e10a693eba9666ed75585ac8/src/io/config_auto.cpp#L298-L299

[2019-08-29 03:52] imatiach-msft commented on #2363
@chris-smith-zocdoc interesting, I was able to create the program locally but for me I only see it succeed with logs like below (note I'm on an ubuntu machine):

11:51:44 PM: Executing task 'program.main()'...

BEGIN PROGRAM
[LightGBM] [Warning] There are no meaningful features, as all feature values are constant.
Done

BUILD SUCCESSFUL in 1s
2 actionable tasks: 1 executed, 1 up-to-date
11:51:45 P

[2019-08-29 03:55] imatiach-msft commented on #2363
I tried putting the sparse dataset generation code in a loop but it seems to pass:
[code]

output:
11:54:17 PM: Executing task 'program.main()'...

BEGIN PROGRAM
[LightGBM] [Warning] There are no meaningful features, as all feature values are constant.
<100 similar lines>
....
...
[LightGBM] [Warning] There are no meaningful features, as all feature values are constant.
Done

BUILD SUCCESSFUL in 2

[2019-08-29 04:00] imatiach-msft commented on #2363
one curious thing is that the crash on your cluster points to Booster create, and not the sparse dataset generation code. Actually, even more specifically, it seems to point to DCGCalculator init method, specifically on this line "/lib_lightgbm.so(_ZN8LightGBM13DCGCalculator4InitERKSt6vectorIdSaIdEE+0x568)[0x7f112343e3d8]":
[code]

[2019-08-29 07:24] #2348 closed

[2019-08-29 09:26] StrikerRUS commented on #1003
Happened again yesterday after a long break.
https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=2821
[code]

[2019-08-29 09:41] StrikerRUS commented on #2267
Ah! Only after a month since creating the issue I managed to take a closer look at the provided screenshot. And seems that I found the root cause of the crash.

Refer to https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm-crashes-randomly-with-the-error-like-initializing-libiomp5-dylib-but-found-libomp-dylib-already-initialized.

![image](https://user-images.githubusercontent.com/25141164/

[2019-08-29 09:58] adrinjalali opened #2365 "sample_weight (or weight) is ignored when the hessians of the loss are constant"
It seems like LightGBM assumes if sample weights are given, the hessian and the gradients are multiplied by the sample weight, and the rest of the pipeline doesn't have to worry about the weights. For instance, `FindBestThresholdSequence` doesn't care about the weights.

The issue is that when the hessian is constant, the `dadaset.cpp` ignores the weights, around here:

https://github.com/microsof

[2019-08-29 11:36] NicolasHug commented on #2365
Basically I think that this line should take into account the weights instead of just the counts.

[code]

[2019-08-29 14:17] chris-smith-zocdoc commented on #2363
@imatiach-msft I'm not too concerned about that particular stack for the cluster crash yet, I think it may be the result of existing heap corruption from previous calls to `LGBM_DatasetCreateFromCSRSpark` (note: I'm training multiple models in a loop on my cluster)

I've also noticed that repeat calls to `generateSparseDataset` from the same jvm instance don't reproduce. To reproduce the crash I n

[2019-08-29 14:32] imatiach-msft commented on #2363
@chris-smith-zocdoc I think this is this issue here:
https://github.com/microsoft/LightGBM/pull/2364
that error above looks very similar

the error is coming from this code:
    private static SWIGTYPE_p_int64_t intToPtr(int value) {
        SWIGTYPE_p_long longPtr = lightgbmlib.new_longp();
        lightgbmlib.longp_assign(longPtr, value);
        return lightgbmlib.long_to_int64_t_ptr(longPtr);

[2019-08-29 14:34] imatiach-msft commented on #2363
There's a corresponding PR on mmlspark side that I need to send out, will post it tonight.  But with that include PR I sent (#2364 ) you can pass the long value directly and remove the intToPtr method in your code - hopefully then you shouldn't see this issue anymore

[2019-08-29 14:36] guolinke commented on #2365
refer to
https://github.com/microsoft/LightGBM/blob/0551f77517d971ce9bc32e2633768245957b410a/src/objective/regression_objective.hpp#L148-L154

when weights are provided, `is_constant_hessian` is false.

[2019-08-29 14:36] #2365 closed

[2019-08-29 14:41] guolinke commented on #2359
@r-luo thanks, I think we should throw an error when meeting `nan`.

[2019-08-29 14:59] chris-smith-zocdoc commented on #2363
I tried with that change but am still seeing the same behavior. The new method without the `intToPtr ` method is

[code]

`num_col` never appeared directly as the problem in my output. Its the result of `auto indices = (jintArray) jenv->CallObjectMethod(objSparseVec, sparseVectorIndices);` that isn't an array but some other object

[2019-08-29 15:20] henry090 commented on #2350
gcc 9.2.0, AFAIR previously the version was 8 :)

[2019-08-29 17:30] mhoward2718 commented on #2351
Thanks.

I've put the data in both formats, conversion script and configuration files in this Git Gist:

https://gist.github.com/mhoward2718/9acd0903b62643b817ae954971b2259e

You should be able to clone it or download it as a zip.

[2019-08-29 18:46] chris-smith-zocdoc commented on #2363
On linux I'm able to reproduce the issue with check:jni but not without it, which is interesting.

One other difference is that the failure occurs calling `GetDoubleArrayElements` instead of `GetIntArrayElements` or `GetArrayLength`

[code]

[code]

[2019-08-29 20:37] jsh9 opened #2366 "Question: behavior of `Booster.predict()` with wrong number of columns"
I have a question about the behavior of `Booster.predict()`, when the input data has incorrect number of columns.

For example, a model `mdl` is trained on `X_train` which has 10 features, and both operations below raised no exception:
[code]

Could someone explain the behavior in each of the two cases above?

[2019-08-29 23:58] StrikerRUS commented on #2366
@jsh9

Unfortunately, this is a bug and duplicate of #812. So, closing this issue as duplicate.

[2019-08-29 23:58] #2366 closed

[2019-08-30 01:47] guolinke commented on #2347
yeah, the learning rate, of course, is not used in RF model.

refer to https://github.com/microsoft/LightGBM/blob/0551f77517d971ce9bc32e2633768245957b410a/src/boosting/rf.hpp#L48

learning_rate is forcely set to 1 in RF.

[2019-08-30 01:47] #2347 closed

[2019-08-30 01:58] guolinke commented on #2351
@mhoward2718 I run your code with the latest code, and everything is fine.
But with 2.2.3, it indeed throws an error `[LightGBM] [Fatal] Wrong size of feature_names`
I think this should be fixed in the latest code.

[2019-08-30 10:27] StrikerRUS commented on #2359
@guolinke Is it job for cpp code?

[2019-08-30 10:42] StrikerRUS commented on #2230
Closing due to inactivity. Feel free to reopen with new details.

[2019-08-30 10:42] #2230 closed

[2019-08-30 10:42] #2204 closed

[2019-08-30 10:43] #2343 closed

[2019-08-30 10:52] StrikerRUS commented on #2350
@henry090 Thanks a lot for your feedback! It's great that your problem has been solved by reinstalling. I guess it maybe related to #2267.

[2019-08-30 10:52] #2350 closed

[2019-08-30 11:19] StrikerRUS commented on #2168
Unfortunately, we do not maintain LightGBM on conda, so it's hard for us to tell you what changes were included at a  particular date. If it's still an issue for you, I think it's better to ask package maintainers at conda.

[2019-08-30 11:19] #2168 closed

[2019-08-30 11:44] guolinke commented on #2359
Yes, i will do it when have time

[2019-08-30 13:04] mhoward2718 commented on #2351
How strange - I'm using 2.4.4. Maybe the different is from the compiler version. I'll see if I can update that and will try again.

[2019-08-30 13:39] guolinke commented on #2351
BTW, did you use the same compiled application for the save and load?

[2019-08-30 16:31] imatiach-msft commented on #2363
@chris-smith-zocdoc thanks for the repro, will take a look this weekend to see if I can get to the bottom of those failures.  I suspect it is probably something similar to the windows issue where the sizes for some types are different on different systems - at least based on seeing large and negative values in the stack traces above and in the malloc errors.

[2019-08-31 19:46] jsh9 commented on #812
I may be interested helping improve this. What would be the ideal behavior here? Does LightGBM make predictions only based on column order (like sklearn), or based on column names?

[2019-09-01 15:36] StrikerRUS opened #2368 "first_metric_only parameter for R-package"
Refer to https://github.com/microsoft/LightGBM/pull/2159#issuecomment-493516950.

CLI implementation: #2172, Python-package implementation: #2049 , #2209.

[2019-09-01 15:41] StrikerRUS opened #2369 "Refit method for R-package"
CLI and Python-package implementation: #1603.

[2019-09-01 15:43] StrikerRUS commented on #2369
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-09-01 15:43] #2369 closed

[2019-09-01 15:43] StrikerRUS commented on #2368
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-09-01 15:43] #2368 closed

[2019-09-01 17:06] StrikerRUS commented on #1143
Finally #2176 has been merged recently! 🎉

See https://github.com/microsoft/LightGBM/issues/1143#issuecomment-493770556 for actions required to resolve this issue completely.

Now this issue entirely depends on #1944. After rewriting demos it should be rather straightforward replace `build_r_site.R` file with single `pkgdown::build_site()` call.

Also, here are some known issue:
- broken links for

[2019-09-01 17:11] StrikerRUS commented on #1143
According to the policy from #2302, I'm closing this issue as I'm not working on it anymore.

[2019-09-01 17:11] #1143 closed

[2019-09-01 20:18] pford221 opened #2371 "Unexpected Behavior for Early Stopping with Custom Metric"
Hello -

When passing a custom metric to `feval` argument in `Booster.train()`, I'm getting what I believe to be unexpected behavior. Or what I presume to be undesirable. The Booster is not returning the best iteration as determined by the validation set as can be seen with the **Reproducible example** and **Output** below.

**Environment:**

lightgbm: 2.2.3
os: Linux CPU
ami: 4.14.138-114.102.amz

[2019-09-01 20:28] StrikerRUS commented on #2371
@pford221 Hi! This behavior is expected.

From your example

so, 121 - 100 = 21.

[2019-09-01 20:29] pford221 commented on #2371
@StrikerRUS thanks for the prompt reply, but what makes it expected? It's not returning the best iteration as determined by the validation set. That's the problem not the fact that 21 + 100 != 121.

[2019-09-01 20:35] StrikerRUS commented on #2371
Why do you think that `21` is not the best iteration? Please post the entire recorded log to check it.

[2019-09-01 20:36] pford221 commented on #2371
Because the thing we're trying to maximize, `feval`, increases at iteration 79.

[1]	trn's savings: 16.6667	val's savings: 5.40541
Training until validation scores don't improve for 100 rounds.
[2]	trn's savings: 30.5556	val's savings: 21.6216
[3]	trn's savings: 34.127	val's savings: 14.8649
[4]	trn's savings: 36.9048	val's savings: 14.8649
[5]	trn's savings: 36.1111	val's savings: 16.8919
[6]	trn

[2019-09-01 20:41] pford221 commented on #2371
OK, I think I see the issue. The training set `trn` is also being monitored at the same time as the validation set `val`. If either of those don't increase after 100 iterations, then the training process stops.

Apologies for raising the issue. Is there a way to monitor the training error without having it count towards early stopping?

[2019-09-01 22:00] StrikerRUS commented on #2371
The expected behavior is described here:

https://lightgbm.readthedocs.io/en/latest/Python-Intro.html#early-stopping

So, it's expected that train dataset **shouldn't** be taken into account.

According to your logs, it seems that something really goes wrong and early stopping criteria is met at training dataset.

[2019-09-01 22:01] StrikerRUS commented on #2371
ping @guolinke
https://github.com/microsoft/LightGBM/issues/1374#issuecomment-391282387
https://github.com/microsoft/LightGBM/pull/2127#issuecomment-493288952

[2019-09-02 02:21] guolinke commented on #2371
@StrikerRUS
when the metric and objective are towards the same direction, the metric over training set could be always better.
But if they are not, it is hard to say.

[2019-09-02 10:46] StrikerRUS commented on #2371
@guolinke What do you think about really excluding training set from early stopping checks, like it's said in our docs?

[2019-09-02 12:00] StrikerRUS commented on #1143
@jameslamb Can you please take a look at [known issues 2 and 4](https://github.com/microsoft/LightGBM/issues/1143#issuecomment-526936690)? I have an intuition that they are pretty easy to fix, but unfortunately my lack of knowledge of R doesn't allow me to do it.

[2019-09-02 15:20] jameslamb opened #2373 "[R-package] Standardize R code on comma-first"
Per [this comment](https://github.com/microsoft/LightGBM/pull/2334#discussion_r317414998) on #2334 . We should standardize all R code in the repo on comma-first.

[2019-09-03 01:50] guolinke commented on #2371
@StrikerRUS yeah, I think we can do it.

[2019-09-03 02:20] jameslamb commented on #1143
On number 4...I will take a look. both `lightgbm` and `lgb_shared_params` are things I introduced to consolidate some duplicated documentation, but maybe `roxygen2` isn't playing nicely with them. I'll try to take a closer look.

For number 2, what do you think is wrong with it? That looks like a faithful representation of the code. It just looks weird because R thinks those are S3 methods, not pl

[2019-09-03 03:56] imatiach-msft commented on #2363
I'm seeing the same error with jni:strict on linux, not sure how to fix it yet though
[code]

[2019-09-03 11:10] StrikerRUS commented on #2315
Closed via #2330.

[2019-09-03 11:10] #2315 closed

[2019-09-03 11:16] StrikerRUS commented on #2371
@guolinke Nice!
#2209 starts the work towards that:
[code]
After merging it I'll help with the rest Python code.

[2019-09-03 11:40] StrikerRUS commented on #1143
@jameslamb

I worried about duplicated entry for one method (its' appearance differs from all other methods) and `` ` `` signs around the name. In short, is it OK? 😃

[2019-09-03 12:40] StrikerRUS commented on #1143
Just noticed that [`callback.R`](https://github.com/microsoft/LightGBM/blob/master/R-package/R/callback.R) is not documented at all. Adding this to [known issues](https://github.com/microsoft/LightGBM/issues/1143#issuecomment-526936690).

[2019-09-03 18:48] mhoward2718 commented on #2351
Hello.

Upgrading to GCC-7 seems to have solved it. It crashes when I use that binary data I had exported before. However, after recompiling with GCC7, I was succesfully able to re-save the data from LibSVM, load it, and train without without a crash.

Yes, it was the same application.

[2019-09-03 18:48] #2351 closed

[2019-09-03 21:11] Jingyu-Fan opened #2376 "ignore_column doesn't ignore the features when input is a binary file"
Related to https://github.com/Microsoft/LightGBM/issues/1061

## Environment info

Operating System: Linux

CPU/GPU model: CPU

C++/Python/R version: Python

LightGBM version or commit hash: 2.2.3

## Reproducible examples

[code]

[2019-09-04 01:28] guolinke commented on #2376
Once the dataset is constructed, the ignore column will not take effect.
Bin file is the constructed dataset, so it cannot used the ignore column.

[2019-09-04 02:05] guolinke commented on #2239
@Ian09 thanks! the small hessian may cause the problem.
The outputs of tree leaves is `sum_grad/sum_hess`.

@y-research-yu
BTW, the hessian should be a positive number, since `epsilon^2 * (sigmoid(s_{ij})*(1-sigmoid(s_{ij})` is the multiplication of 3 positive numbers. So I think there should be some bugs in the your code.

[2019-09-04 02:15] guolinke commented on #2239
@y-research-yu
I think the following code may be wrong:
https://gist.github.com/y-research-yu/ae9d32dabce52d33073278c2a13dabac#file-lightgbm_custom_obj_lambdarank-py-L83-L91

The hessian should be always accumulated, not need the `lambda_ji_2order`.
refer to
https://github.com/microsoft/LightGBM/blob/df26b65d786532b88b13d13cf8e4b7ac9fa8d8cd/src/objective/rank_objective.hpp#L156-L165

[2019-09-04 07:27] nonva commented on #1398
but, not in same query group, is the scores can be comparable?

[2019-09-04 08:07] guolinke commented on #1398
@nonva theoretically, they could be comparable.

[2019-09-04 21:15] marcioribp commented on #1186
@StrikerRUS
Thank you very much! As it turns out, I had to convert my category columns to int 32 as mentioned in the documentation page.

[2019-09-05 14:21] #2326 closed

[2019-09-05 14:23] jaydone78 opened #2382 "how to deploy lightgbm lambdarank model using jni ?"
Hi,
Our team trained a lightgbm model for ranking task using python. We want to deploy it as a online service using java. Based on these  [https://github.com/Azure/mmlspark/blob/master/src/main/scala/com/microsoft/ml/spark/lightgbm/LightGBMBooster.scala](url), I write some test code loading lightgbm lambdarank model:

[code]

[code]

it tells me 'Model file doesn't specify the number of classes'.

[2019-09-05 14:41] #2382 closed

[2019-09-05 23:03] zouzias commented on #706
The issue here is that the name of your Python script is `lightgbm.py` which confuses Python at the statement `from lightgbm import Dataset`.

`  File "D:\Coding\github\DataFountain\VIPCOM\src\lightgbm.py", line 78, in <module>`

[2019-09-06 03:21] jameslamb commented on #1143
yes I think it is ok! The backticks are actually valid R code in that case (they are the way that you create symbols in R which use characters like `<` that have other meaning)

[2019-09-06 08:55] BruceZhaoR commented on #1143
@StrikerRUS

For number 3, the are two ways to fix it:

1.  Modify the `DESCRIPTION`,  `Auhtors@R`  part,  add `aut/cre/fnd` to role. Because these 3 roles are the main auhtors, and will display in the sitebar part.
[code]

https://github.com/r-lib/pkgdown/blob/b6eec62574f1a0087c70eeb6574d6af0435828ff/R/build-home-authors.R#L9-L11

2. add `sidebar` html code in the `_pkgdown.yml` file.
[code]

htt

[2019-09-06 11:50] StrikerRUS commented on #1143
@BruceZhaoR Thanks a lot for your investigation! Ah, they have role filter without the possibility to overwrite it, nice!
https://pkgdown.r-lib.org/reference/build_home.html#yaml-config-authors

I saw someone tried to specify roles in `_pkgdown.yml`, but seems it's pointless.
https://github.com/DeclareDesign/fabricatr/blob/cf0dfe71e9ff064c09a03330f5f805b960b18839/_pkgdown.yml#L13-L17

I'm leaving

[2019-09-06 13:16] BruceZhaoR commented on #1143
Yes, it is hard-coded. Only the three roles `cre,aut,fnd` in the `DESCRIPTION` can be modified in the `Developer` sidebar.
Maybe we can open a issue?

It can't be reproducible and `pkgdown` do not have the `roles_include` param as far as I know，maybe the author edited the html to change the `aut` to Contributor.

[2019-09-07 13:50] Jie-Yuan opened #2388 "gpu donot work"
clf = LGBMClassifier(**{    'device': 'gpu',
    'gpu_platform_id': 0,
    'gpu_device_id': 0,
    'gpu_use_dp':True})

[2019-09-07 13:53] Jie-Yuan commented on #2388
LightGBMError                             Traceback (most recent call last)
<ipython-input-1-980474718830> in <module>
     37
     38 data = lgb.Dataset(X, y)
---> 39 _ = lgb.cv(param, data, num_boost_round=10000, verbose_eval=1000)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py in cv(params, train_set, num_boost_round, folds, nfold, stratified, shuffle, metrics, fobj, feval, init_mod

[2019-09-07 14:05] mhoward2718 commented on #2388
This is failing before it begins training. It is trying to convert your dataset into the internal LightGBM format and running out of memory. This might fail whether you use `device': 'gpu',` or `device': 'cpu'.

Have you considered using the `use_two_round_loading` parameter? It will help prevent a memory explosion when loading data.

[2019-09-07 17:26] #2359 closed

[2019-09-08 00:15] StrikerRUS commented on #2353
@hayesall Thank you very much! You freed me from fear of the blank page! Your work was really helpful for me.

@jameslamb I played with GitHub Actions today and managed to set something that tries to run all our tests on three platforms. It still suffers from environmental issues which result in `command not found` errors. However, feel free to start from this draft.
https://github.com/microsoft/L

[2019-09-08 16:32] #2376 closed

[2019-09-09 12:56] seahrh commented on #1044
I was able to use GridSearchCV with early stopping rounds.
Working example
[code]

[2019-09-09 21:14] chris-smith-zocdoc opened #2392 "[mmlspark] Memory Corruption"
Memory Corruption when using Spark Package https://github.com/azure/mmlspark/

Similar to https://github.com/microsoft/LightGBM/issues/2363 but I'm getting this while avoiding the usage of `LGBM_DatasetCreateFromCSRSpark`. To avoid that function I'm forcing my dataset to be a dense vector which uses this [code path](https://github.com/Azure/mmlspark/blob/c0921fb0f70612fc0e1c2003e9cdb0f40148d911/sr

[2019-09-10 00:01] StrikerRUS commented on #2392
@imatiach-msft Can you please take a look?

[2019-09-10 03:31] imatiach-msft commented on #2392
also adding @eisber

[2019-09-10 03:43] imatiach-msft commented on #2392
@chris-smith-zocdoc could you please also post the code that reproduces this error?
Are the objects passed to create it separate instances (dataset, parameters)?

[2019-09-10 03:58] imatiach-msft commented on #2392
based on the stack trace it looks like it is going into here:
https://github.com/microsoft/LightGBM/blob/317b1bfbbfdd8f8a4f5af16b970526bb9486f588/src/c_api.cpp#L143
and then here:
https://github.com/microsoft/LightGBM/blob/5d3a3ea47eb8693c924ffb891387e93534f92896/src/objective/objective_function.cpp#L15
which makes me suspect it has something to do with the Config:
https://github.com/microsoft/Lig

[2019-09-10 08:14] striveth opened #2393 "the predict value between version 2.0 and 2.2.3 is different"
As above, i trained a version 2.0 and 2.2.3 model, why the predict score is different?

## Environment info

Operating System: CentOS release 6.7 (Final)

CPU/GPU model: cpu

C++/Python/R version: gcc 4.8.2

LightGBM version or commit hash: 2.0 and 2.2.3

## Error message

call the function LGBM_BoosterPredictForCSR, the predict score is different, as below

For version 2.0:
score: 1.487197
score:

[2019-09-10 08:42] #2393 closed

[2019-09-10 09:48] johnwatts2 opened #2394 "Training and prediction using f1 metric don't match even when using test as val"
## Environment info

Operating System:
Windows 10 Professional
Version 1809
OS Build 17763.678

CPU/GPU model:
i3-9100F CPU

C++/Python/R version:
python 3.7.3

LightGBM version or commit hash:
2.2.3

## Error message
I have a highly imabalanced dataset but one that is not sparse. In train there are 1328 positives out of 104000. I validation and test set there are 400 positives out of 103000. I de

[2019-09-10 13:27] aprilffff opened #2395 "Can I change io params(like max_bin) after lgb.Dataset().construct()?"
I have constructed and saved binary lgb dataset to save ram usage. But I noticed that the io params are fixed  once contructed. Any solution to change io params after construct being called?

And do you have any plan on slicing features just like use_indices on samples? Because after construct() there would be no direct way to delete features.

[2019-09-10 13:30] jerome-eyespage commented on #1326
brew install libomp

[2019-09-10 15:14] guolinke commented on #2395
for the first question, very sorry, there is no work-around, especially for `max_bin`, which highly relies on the raw data, so it is not possible.
for the second question, you can use https://github.com/microsoft/LightGBM/blob/master/docs/Parameters.rst#feature_contri , to force mask some features.

[2019-09-10 15:23] aakash-sahu opened #2396 "LightGBM predicts even with missing features"
A trained LightGBM model provides prediction on data frame with missing numerical features without producing any error. It does gives error when using categorical features. Looks like an issue. Or is it by design? XGBoost gives error if any column is missing in production.

## Environment info

Operating System: Linux
Processor: 'x86_64'
Python version: 3.6.8
LightGBM version: '2.2.3'

## Error me

[2019-09-10 15:25] aakash-sahu commented on #2396
XGBoost gives error if any column is missing in **production**.

[2019-09-10 15:25] aakash-sahu commented on #2396
XGBoost gives error if any column is missing in **prediction**

[2019-09-10 15:41] guolinke commented on #2396
Thanks, i think we can Improve this for pandas data. Pandas provide the column names, so the names could be used to check the input data in predictions.

But for numpy or other data types without column names, we cannot do this check.

[2019-09-10 16:51] soerendip commented on #1408
This warning appears also when the categorical features are only passed to train and not specified anywhere else.

[2019-09-10 18:12] aakash-sahu commented on #2396
@guolinke - How about number of features between training and prediction? LGBM should match that irrespective of pandas/numpy. Though prediction with trained model is letting it through. On checking further, the number of features between train and predict doesn't matter at all. I can train with 2 and predict with 6 and vice versa. Check out the snippet:
[code]
#### Should at least give warning th

[2019-09-10 20:02] StrikerRUS commented on #1408
[code]

[code]

This warning is expected as per #792.

[2019-09-10 20:09] StrikerRUS commented on #2394
Your prediction metric should match your metric during the training process:
[code]

I guess, the last line of your snippet should be `lgb_f1_score(test_prob, testData)[1]`

[2019-09-10 20:19] StrikerRUS commented on #2396
This is quite old enhancement request. We do have it in our **feature requests** list (the second item in *python package* section): #2302.

Feel free to contribute this feature!

Closing this issue as a duplicate of #812 to not split a discussion into small pieces in different places.

[2019-09-10 20:19] #2396 closed

[2019-09-10 21:47] chris-smith-zocdoc commented on #2392
I'm still trying to create a reliable reproduction of this, but the code is essentially
[code]

Yes they should be, I'm using https://github.com/Azure/mmlspark/

The reason I mentioned "parallel within the same JVM" is because the setup Databricks appears to use is standalone mode with all cores for the executor.

So I have 2 executors, with 16 cores each.

[2019-09-11 00:23] chris-smith-zocdoc commented on #2392
Here's a new error I saw today that might be useful in diagnosing this

[code]

[2019-09-11 01:00] IsaacLance opened #2397 "Loading a model from Python into C++ just for predictions."
Is there example code anywhere of training and saving a model in Python and then loading and using it in C++? I'm not sure of the best/fastest way to do this. Python can save boosters three different ways, save_model, model_to_string, and dump_model. I assume for the C api we would use save_model? I saw some other discussion about saving a model as if statements for C++, too.

If it matters, the p

[2019-09-11 03:35] StrikerRUS commented on #2392
For `cache_size  >= 2` we have received the similar issue recently: #2357.

[2019-09-11 03:35] imatiach-msft commented on #2392
the check is coming from here:
https://github.com/microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L676
would be interesting to see what the value is.

"I'm still trying to create a reliable reproduction of this, but the code is essentially"
bizarre, we have tests covering that basic scenario, for the ranker:
https://github.com/Azure/mmlspark/blob/master/src/test/scala/com/micr

[2019-09-11 03:48] chris-smith-zocdoc commented on #2392
@imatiach-msft Do you a decent sized publicly available dataset I can train `LightGBMRanker` on? I'd like to try and reproduce on a public dataset without any of the custom logic in my codebase

[2019-09-11 03:53] imatiach-msft commented on #2392
@chris-smith-zocdoc the ranker tests in mmlspark are on the same dataset as this lightgbm github repository, and unfortunately it isn't that large.  There are a lot more datasets for the lightgbm classifier and regressor in mmlspark, but they are mostly small.  I did test the classifier on the Higgs dataset and there have been tests done on Criteo dataset -
I've put the azure databricks and HDInsi

[2019-09-11 03:54] imatiach-msft commented on #2392
you can find the lightgbm ranker test files here which we use as well:
https://github.com/microsoft/LightGBM/tree/master/examples/lambdarank

[2019-09-11 04:52] imatiach-msft opened #2398 "Documentation: parameters on booster model vs dataset"
It seems that the categorical_feature parameter needs to be set on the dataset instead of the booster (or perhaps both)?
https://github.com/microsoft/LightGBM/blob/master/docs/Parameters.rst#categorical_feature

Should the documentation here mention which parameters are on the dataset vs the booster?  Or is there documentation available with this breakdown already?
https://github.com/microsoft/Lig

[2019-09-11 05:25] chris-smith-zocdoc commented on #2357
I was able to reproduce this. The bug is triggered by the `max_depth` parameter at certain values, and they follow a predictable pattern. It occurs every 32 bits at the end of the octet, indicating a byte allignment issue?

[code]

Here the java program I used to reproduce

[code]

[2019-09-11 05:26] chris-smith-zocdoc commented on #2392
Thanks for the link @StrikerRUS I was able to reproduce the issue. Commented on the other issue https://github.com/microsoft/LightGBM/issues/2357#issuecomment-530224887

[2019-09-11 10:39] AlexeyKupershtokh opened #2399 "LightGBM dump_model() conflicts with matplotlib 3.1.x"
## Environment info

Operating System: Linux Mint 18

CPU/GPU model: AMD Ryzen 2600, Asus GTX 1060 6GB

C++/Python/R version: python 3.7.3

LightGBM version or commit hash: 2.2.0

## Error message

[code]

## Reproducible examples
[code]

[code]

## Steps to reproduce

1. run `pip install matplotlib==3.0.3`
2. run the example
3. observe
[code]
4. run `pip install matplotlib==3.1.1`
5. run the exam

[2019-09-11 10:47] StrikerRUS commented on #2398
It is expected that `categorical_feature` parameter is set on the Dataset #1408.

This is page with parameters for CLI version of LightGBM.  There is no Dataset/Booster abstraction there.

[2019-09-11 10:52] StrikerRUS commented on #2399
@AlexeyKupershtokh Thanks for reporting this! That error should be fixed in the latest `master`, refer to #2303. Can you check it please?

[2019-09-11 11:06] AlexeyKupershtokh commented on #2399
No it's not fixed at least for me.

The error is a bit different

though:
[code]

Attaching the dumped file for you.

[2019-09-11 11:34] StrikerRUS commented on #2397
@IsaacLance

Here is the original cpp code for the `predict` task:
https://github.com/microsoft/LightGBM/blob/b310fb417e4078cc30b153a5ef8f60c06d9ca9cf/src/application/application.cpp#L240-L249
https://github.com/microsoft/LightGBM/blob/master/src/application/predictor.hpp

You can use LightGBM CLI version for prediction via saved from Python model:
https://lightgbm.readthedocs.io/en/latest/Paramet

[2019-09-11 11:34] #2397 closed

[2019-09-11 13:58] chris-smith-zocdoc commented on #2357
There are two integer overflows in config.cpp

The static_cast is overflowing because its casting a double with `value > __INT32_MAX__`
https://github.com/microsoft/LightGBM/blob/b310fb417e4078cc30b153a5ef8f60c06d9ca9cf/src/io/config.cpp#L310

And the bitshift is wrapping around the integer multiple times for max_depth > 29
https://github.com/microsoft/LightGBM/blob/b310fb417e4078cc30b153a5ef8f60c

[2019-09-11 14:18] guolinke commented on #2392
Thanks @chris-smith-zocdoc
I think too many leaves/depth is not reasonable.
How about giving the upper bounds to them?
I think ``2 << 16`` is enough for a single tree.
ping @StrikerRUS

[2019-09-11 14:19] guolinke commented on #2357
Thanks @chris-smith-zocdoc
I think too many leaves/depth is not reasonable.
How about giving the upper bounds to them?
I think 2 << 16 is enough for a single tree.
ping @StrikerRUS

[2019-09-11 14:44] imatiach-msft commented on #2398
"This is page with parameters for CLI version of LightGBM"
@StrikerRUS Ah I see, good point.  Let me close this defect then.

[2019-09-11 14:44] #2398 closed

[2019-09-11 15:16] chris-smith-zocdoc commented on #2357
@guolinke Where do you think we should add validation? Should I add it to this function?

[code]

The regression was introduced in https://github.com/microsoft/LightGBM/pull/2216 to fix https://github.com/microsoft/LightGBM/issues/2215

I can submit a pr if you would like.

[2019-09-11 19:30] StrikerRUS opened #2401 "Setup editorconfig"
Original proposal: https://github.com/microsoft/LightGBM/pull/2400#issuecomment-530527218.

XGBoost example: https://github.com/dmlc/xgboost/blob/master/.editorconfig

[2019-09-11 19:31] StrikerRUS commented on #2401
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-09-11 19:48] StrikerRUS commented on #2398
@imatiach-msft To be honest, I'd like to see these mentions somewhere too. But I don't know how and where it can be done elegantly without duplicating params descriptions for all language-packages.

Maybe @guolinke knows?

[2019-09-11 21:10] StrikerRUS commented on #2399
Unfortunately, I cannot reproduce the error.

[code]

[code]

Attaching the dumped model in file to compare.
[model.txt](https://github.com/microsoft/LightGBM/files/3602750/model.txt)

[2019-09-12 05:50] johnwatts2 commented on #2394
```lgb_f1_score``` also uses ```f1_score``` to calculate the f1 metric. The predictions are rounded before that. This is a strange bug in ````LGBM```

[2019-09-12 07:58] guolinke commented on #2394
@johnwatts2
you should set `average='marco` in the second fl score.

And i was able to run your code, with the same f1 score.

[code]

[2019-09-12 07:58] #2394 closed

[2019-09-12 08:27] zhiyongLiu1114 opened #2402 "A corrected booster can't be trained when set inti_model a trained booster"
## Environment info

Operating System: win 10

CPU/GPU model: intel core i5 8th

C++/Python/R version: python 3.6

LightGBM version or commit hash:

## Error message

## Reproducible examples

Classification training
there are two datasets named data1 and data2, whose label is different from each other

a booster named lgb has been trained with default param on data1, and it performed well on data

[2019-09-13 01:23] RainFung opened #2404 "lightgbm memory spike"
`lightgbm.Dataset()` always raise a memory spike which make jupyter kernel crash.Like discussed in kaggle, https://www.kaggle.com/c/talkingdata-adtracking-fraud-detection/discussion/55325#319189.

[2019-09-14 01:45] RainFung commented on #2404
when to use np.float32 directly？ can you give some example

[2019-09-14 02:18] guolinke commented on #2404
To avoid any conversions, you should always use np.float32

[2019-09-14 13:30] StrikerRUS opened #2408 "Homebrew Formula for LightGBM"
Upstream issue: https://github.com/Homebrew/homebrew-core/pull/43244.

@ankane Thanks a lot for your efforts!

Please ping us if any help is needed from our side.

Want to hear opinion of macOS users @jameslamb @Laurae2 @henry0312.

[2019-09-14 18:41] Jingyu-Fan opened #2410 "early stopping bugs: 1. training data is not ignored; 2. first_metric_only is actually checking the first metric of the first validation data"
## Environment info

Operating System: Linux

CPU/GPU model: CPU

C++/Python/R version: Python

LightGBM version or commit hash: 2.2.4

There might be bugs here:
https://github.com/microsoft/LightGBM/blob/15566421bcc96d46bac353dee17b981a12827604/python-package/lightgbm/callback.py#L212-L234

**env.evaluation_result_list** contains the evaluations for all the metrics and all validation data(includi

[2019-09-14 19:29] ankane commented on #2408
Hey @StrikerRUS, the formula was just accepted, so Mac users can now do:

[code]

Homebrew pre-compiles ("bottles") formula, so it installs in a couple seconds :fire:

[2019-09-15 06:31] guolinke commented on #2410
yeah, it is work in progress. refer to https://github.com/microsoft/LightGBM/pull/2209

[2019-09-15 10:06] nirupamkar opened #2411 "Unreliable categorical groups"
I am dealing with a classification problem with categorical features. While doing so I have encountered a strange situation. I have trimmed down the situation to a base case.

1.Say I have 100M rows with 1 feature having more than 1M categories. The actual target rate of this categories can range from 0 to 1.

2.While predicting on the train dataset itself I observed there are categories with (say

[2019-09-15 15:26] jameslamb commented on #2408
WOW thank you so much @ankane this is great!

I read the formula and it looks good to me. @StrikerRUS we should consider updating that formula as a part of our release process. I think all we'd need to do is update which archive it points to.

[2019-09-15 15:28] guolinke commented on #2411
I think you misunderstood the categorical split algorithm.
There is no "merge bins" for categorical features, all categories are unique, except the long tail (the last 1% sorted by frequence) will be in the one bin.
Therefore, in your case, with `max_cat_thresold=150`, only 300 (two side scanning, the first 150 and the last 150) are evaluated in categorical splits. And as a result, the categorical

[2019-09-15 16:07] nirupamkar commented on #2411
@guolinke thanks for the quick reply. Really appreciate it. I misunderstood  the algorithm of categorical split of lgb. However if i put cat threshold=150, so there will be 1 bin with more than 1 category and rest will be having single category. Please confirm this.
Now if I put num_leaves=150, I am getting around 148 leaves with most having more than 1 categories. Am I missing something?

[2019-09-15 16:40] nirupamkar commented on #2411
@guolinke probably the earlier post is wrong. It orders the categories by (G/(H+cat_smooth)) and then try to find best split from first 150 categories and last 150 categories.
If optimum split is found at say 80th index, for next split 81-231 and last 150 categories will be tested.
So how many bins will be there at the end? As I am seeing lots of categories falling under 1 bin, is there any way to

[2019-09-15 16:46] guolinke commented on #2411
I think you still misunderstood it.
1. max cat threshold don't mean to merge categories to bigger categories. It is the number categories will be considered for one leaf split. For example, when set it to 1, the split will only consider the one vs rest splits; if set it to 2, it is one vs rest or two vs rest; and so on.
2. LightGBM will sort the categories according to its dynamic encoding value (

[2019-09-15 16:51] guolinke commented on #2411
Did you mean there are many one vs rest splits?

[2019-09-15 17:37] nirupamkar commented on #2411
Ok things got confused a bit.
1.The categorical histogram bins are created before the tree building right?
2."It is the number categories will be considered for one leaf split."- do you mean bin or split?
3.First lgb will sort categories by frequency and put all categories coming in last(say this is Cat_last) 1% in a bin, right?
4.Then lgb will sort categories by gradient/(hessisan +cat_smooth)?
5

[2019-09-15 20:27] nirupamkar commented on #2411
Is there a role of "bin_construct_sample_cnt" for creating bins for categorical features?

[2019-09-15 20:54] StrikerRUS commented on #2408
@ankane Awesome! Many thanks to you!

@jameslamb

That's for sure! We should send PR to Homebrew repo right after LightGBM new release.

@ankane Can you please confirm this? Should we only update `url` and `sha256` fields in the formula?

[2019-09-15 20:57] ankane commented on #2408
@StrikerRUS Yeah, unless the build instructions change.

[2019-09-16 00:08] StrikerRUS commented on #2404
Some use cases should be fixed by #2383.

[2019-09-16 00:11] StrikerRUS commented on #2408
@ankane Got it! Thanks a lot for your kindness!

[2019-09-16 00:19] StrikerRUS commented on #2410
1. We have already gotten the issue about that: #2371. Please follow up the discussion there.
2. It has been fixed in #2209.

[2019-09-16 00:19] #2410 closed

[2019-09-16 00:28] StrikerRUS commented on #2408
@ankane BTW, is it possible to add an option `--mpi` to the formula to install with the MPI support? Maybe for some users it will be useful.
It will require only adding `open-mpi` dependency and `-DUSE_MPI=ON` flag for CMake.
https://github.com/microsoft/LightGBM/blob/master/docs/Installation-Guide.rst#apple-clang-2

[2019-09-16 00:41] ankane commented on #2408
It looks like options aren't allowed in formula in Homebrew core. From the docs:

https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md

[2019-09-16 00:44] #2395 closed

[2019-09-16 00:51] StrikerRUS commented on #2408
@ankane Oh, I see! I'm sorry, I'm not very familiar with brew. I asked only because I have `brew install gcc --without-multilib` command ([outdated already](https://github.com/Homebrew/homebrew-core/pull/16751)) in my head 😃 .

[2019-09-16 02:38] guolinke commented on #2411
@nirupamkar
1. yeah, the bin is pre-allocated, and fixed in tree growing.
2. on each splits, the number of bins (almost equal to categories, except the long-tailed bin) will be considered.
3. No, the merged of long-tailed categories is at the bin constructed stage, no the tree growing stage.
4. yeah, the sorted is over categorical bins.
5. the split finding is a two side scanning: 1) from the larg

[2019-09-16 06:23] nirupamkar commented on #2411
@guolinke
Thanks for the detailed reply. I think the entire discrepancy is with bin_construct_sample_cnt. As I have a feature with long tail and the default value of bin_construct_sample_cnt  as 200000 makes things more complicated. For example with 1M categories with 100M rows, there is a chance, it will put those categories(say row count~ 500) to the long tail bin.
1. is min_data_per_group relat

[2019-09-16 07:20] henry090 opened #2412 "Rstudio on Windows throws Fatal error, on Mac works fine."
[code]

[code]

**Hi, I run my code snippet both on my Mac and Windows. Mac works fine but on Windows, RStudio throws a fatal error... What could be the possible reason of error?
But your examples for LightGBM on github work fine in both systems. So, probably this issue is related to my dataset.
AFAIR @Laurae2 once advised that integer and missing values could be the main reason. But again, Mac do

[2019-09-16 11:31] nirupamkar commented on #2411
@guolinke Thanks for all the help. Any pointer to my last question?

[2019-09-16 11:38] #2401 closed

[2019-09-16 12:05] Lean-Y opened #2413 "Recalculate feature importance during the update process of a tree model"
Feature importance ranking was calculated based on information about the loss gains learned within training data, which could carry significant overfitting and may unfairly inflate some importances. I want to estimate the local importance in the validation data using re-calculated gains.

Xgboost implements this feature, but I haven't found a similar feature in the document of lightgbm, "refit" ca

[2019-09-16 15:11] guolinke commented on #2411
1. the count is for the data in the current leaf. the sampled data is only used in bin construction.
2. no, max_bin only for numerical features.
3. the p is the prediction of the previous trees, so it is 0.5 (`sigmoid(0)`) on the first tree. So your assumption is wrong. It may cause by the `kEpsilon` in the sum_hessians.
4. it behaviors like the cat_last. And cat_last will not be chosen as the `ca

[2019-09-16 20:31] StrikerRUS commented on #2371
@pford221 Seems that recently merged #2209 should fix all cases when training data can cause early stopping
https://github.com/microsoft/LightGBM/blob/023749239ebf390b5d56e08f227a013cbd972eb0/python-package/lightgbm/callback.py#L240-L243

Can you please check the latest `master` and provide your feedback?

[2019-09-16 20:51] StrikerRUS commented on #2373
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-09-16 20:52] StrikerRUS commented on #1893
Any updates?

[2019-09-16 20:54] StrikerRUS commented on #2295
gently ping @Laurae2

[2019-09-16 23:02] Yuxiang-Luo opened #2417 "Model loaded from a saved .RData file doesn't have features info"
I'm using the R version 2.2.3. I trained and saved the lambdarank model as an .RData file, however, after when I load the model from the file using lgb.load,  the model does't have features info. I tried lgb.importance, which can return a list of features with importance score, however I don't see the list of all feature names.

## Environment info

Operating System: Mac OS

CPU/GPU model: CPU

C+

[2019-09-17 00:55] guolinke commented on #2417
A quick workaround is to use Booster$save_model.

[2019-09-17 01:01] guolinke commented on #2417
I think the features importances only have the info of the chosen features in trees, no the full list of features. So I don't understand what is your problem.

Could you provide a reproductive example, and explain what your expect output?

[2019-09-17 01:02] guolinke commented on #2417
And we don't save the feature info in R object, it is in cpp object. so you cannot found it.

[2019-09-17 03:27] germayneng opened #2418 "lgbm.train vs sklearn lgbm api"
Hi,

I am trying to replicate some parameters between non sklearn and sklearn api because some external packages use lgbm sklearn format (like eli5).

1. I cant seem to find class_weight for non sklearn format (i.e lgbm.train). For non sklearn, is the only way to add weights via weight parameter in lgbm.Dataset?

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html#lightgbm.Da

[2019-09-17 03:38] imatiach-msft opened #2419 "LightGBM distributed training can get stuck in some edge-case scenarios with labels missing on some partitions"
LightGBM distributed training can get stuck in some edge-case scenarios, specifically:

1.) In binary classification scenario where some workers have a dataset with only 1 label instead of 2 labels, the workers with 1 label exit early.  The workers with 2 labels then get stuck waiting on the workers with 1 label.

2.) In multiclass classification scenario, if a worker has a dataset with non-consec

[2019-09-17 03:41] imatiach-msft commented on #2419
I've been able to get around this issue by detecting missing labels on partitions and throwing an exception, but ideally lightgbm should 1.) either work in this scenario, even if the results may be less than ideal 2.) fail gracefully with error message when detecting this scenario, so that the checks would not need to be done in non-native Scala code

[2019-09-17 06:09] guolinke commented on #2419
good issues.
I think we can avoid these fails when distributed model is enable.

[2019-09-17 06:10] guolinke commented on #2419
for binary classification, the root cause is:
https://github.com/microsoft/LightGBM/blob/023749239ebf390b5d56e08f227a013cbd972eb0/src/objective/binary_objective.hpp#L76-L80

[2019-09-17 06:13] guolinke commented on #2419
for the multi-class, the root cause is:
https://github.com/microsoft/LightGBM/blob/023749239ebf390b5d56e08f227a013cbd972eb0/src/objective/multiclass_objective.hpp#L147-L154

the `class_init_probs_` should be synced from different workers.

[2019-09-17 10:38] #2404 closed

[2019-09-17 14:11] StrikerRUS commented on #2418
@germayneng Hi!

`class_weight` param is presented only in sklearn wrapper. Standard API (`lgb.train`) doesn't have this param because it's general-purpose function and do not distinguish between regression, classification and ranking tasks at the parameters level. Also, `class_weight` is transformed into `sample_weight` via sklearn function, so, it will require sklearn installed as a dependency.

[2019-09-17 14:11] #2418 closed

[2019-09-17 14:51] imatiach-msft commented on #2419
I'm amazed you fixed it so quickly, great to hear this can be avoided

[2019-09-17 15:36] StrikerRUS commented on #1990
@guolinke Are we planning implementing `CHECK_XX` functions? If not, I can include `readability/check` into a filter, and the number of errors will be significantly decreased which will allow to concentrate on other errors.

https://github.com/dmlc/dmlc-core/blob/fbe142b267a8edd1f1188fa2140d88f7ae308661/include/dmlc/logging.h#L165-L216

[2019-09-19 07:43] #2419 closed

[2019-09-19 07:46] guolinke commented on #1990
@StrikerRUS I think we could add them, but I don't have much spare time for it now.
Maybe you could help to implement it, or i could do it in the future?

[2019-09-19 08:39] keyurja opened #2423 "Correctness of Hessians and Gradients"
From my understanding, for binary objective without sample weight and class weight, we should have (like in xgboost) : gradient = (p - y), hessian = p * (1 - p)

But, in light-gbm we have : gradient = x, hessian = abs(x) * (1 - abs(x)), where x = -y/(1+e^(y*score))

Can someone please help me figure out how these two are similar or work similarly?

[2019-09-19 16:18] ironv opened #2424 "forcing a feature for consideration in every tree while using feature_fraction"
`lgbm 2.2.3 / py 2.7.x`

Is it possible to force a feature to be considered for every tree while still using `feature_fraction < .5`?  I am working on datasets where `age` is a very important predictor and surrogates (age-related conditions) are chosen when it is not available as a variable.

[2019-09-19 18:45] StrikerRUS commented on #1990
306c6dbfd507c2d89b0d593cc2a42cd72a14e777

Total errors found: 225

<details>

<summary><b>Report (Clickable):</b>

</summary>

[code]

</details>

[2019-09-19 20:06] trashprogrammer opened #2425 "Unknown parameter: max_bin_by_feature"
Hello, I'm getting an error that it doesn't seem to recognize the max_bin_by_feature.
If anyone can help me out, that'd be great. Thank you

###Here is the code:

lgb_train = lgb.Dataset(train.iloc[:,0:60], train['y'])
params = {
    'boosting_type': 'dart',
    'objective': 'regression',
     'metric': {None},
    'num_leaves': 45,
    'learning_rate': 0.5,
    'drop_rate': 0.032,
    'uniform_dr

[2019-09-19 20:19] StrikerRUS commented on #2425
@trashprogrammer Hi!

`max_bin_by_feature` was introduced after `2.2.3` release. You can build LightGBM from the latest sources or wait a little bit for #2138.

[2019-09-19 20:19] #2425 closed

[2019-09-20 02:45] guolinke commented on #1990
@StrikerRUS
it seems `mutex` is a false alert.
refer to https://github.com/google/styleguide/issues/434

[2019-09-20 13:10] StrikerRUS commented on #1990
@guolinke

refer to google/styleguide#434

Here is the reason why they are banned
https://github.com/iotaledger/entangled/issues/213#issuecomment-417307849
https://chromium-cpp.appspot.com/

We can use `// NOLINT` for them.

[2019-09-20 19:59] trashprogrammer opened #2428 "Cannot Plot Tree"
When I try to plot a tree I get an error saying I must install graphviz to plot tree. I tried installing it with conda and pip. I am able to import it just fine and am using graphviz version (2, 30, 1). I am also using the most up to date lightgbm version. I installed graphviz after lightgbm - could that be why it doesn't work? Any help would be greatly appreciated. Thank you

Here's the error and

[2019-09-20 20:02] #2428 closed

[2019-09-20 20:04] jameslamb commented on #2428
@trashprogrammer why did you close this? Could you share how you resolved the problem? Was it that thing where, when you work in a Jupyter notbeook, you need to reload the notebook to account for new packages you've installed?

[2019-09-20 20:08] trashprogrammer commented on #2428
I installed graphviz while the python session was still open. So I was able to import graphviz, but the variable in lightgbm was set so that it thought it was uninstalled. I think I literally just needed to reimport lightgbm after it got installed or restart python. Sorry for wasting your time. Thank you

[2019-09-20 20:10] jameslamb commented on #2428
Ahhhhh ok, got it. Not a waste of our time at all, thanks for reporting!

I think we could add a better message like "if you've recently installed graphviz, be sure to restart your session". We'd welcome a PR to add that if you'd like to contribute it! Otherwise I will probably add it in a few days.

[2019-09-21 01:37] guolinke commented on #2424
you can use forced_split, https://github.com/microsoft/LightGBM/blob/master/docs/Parameters.rst#forcedsplits_filename

[2019-09-21 08:13] yinhaosen commented on #3
@Yassunaga it works but why does specifying the version helps lol

[2019-09-21 09:32] Clovel commented on #3
@yinhaosen because calling `Gcc` defaults to `clang` on macOS. You need to call GNU `gcc`

[2019-09-21 12:32] #2323 closed

[2019-09-21 12:38] StrikerRUS commented on #2371
@guolinke What about cpp code? Is it easy to ignore training data there?
For R-package I guess we need to create a separate feature request issue, as we have some delay in the R-package development.

[2019-09-21 12:50] StrikerRUS commented on #2388
I think the error message is quite clear and self-described. It comes from OpenCL and indicates the lack of GPU memory. It's possible that your model is very large and cannot be fitted into memory.

[2019-09-21 12:50] #2388 closed

[2019-09-21 15:07] guolinke commented on #2371
I think training metric is excluded in cpp side. refer to
https://github.com/microsoft/LightGBM/blob/306c6dbfd507c2d89b0d593cc2a42cd72a14e777/src/boosting/gbdt.cpp#L520-L534

[2019-09-22 14:27] StrikerRUS commented on #2371
@guolinke Ah, nice!

And what about the case when user specifies path to training data into [`valid` param](https://lightgbm.readthedocs.io/en/latest/Parameters.html#valid)? I know that for CLI version the right way to monitor metrics over training data is specifying [`is_provide_training_metric` param](https://lightgbm.readthedocs.io/en/latest/Parameters.html#is_provide_training_metric). But it c

[2019-09-22 14:40] guolinke commented on #2371
@StrikerRUS a quick fix for that is to check the file path of valid. if it is the same as the training data, we could set is_provide_training_metric to true, and set it to "".
For the same data with different file path, the only way is to check the content, but I think it is very costly, and don't worth to do that.

[2019-09-22 18:22] StrikerRUS commented on #2371
@guolinke Yeah, path check is quite enough, I think! That was more my curiosity. As we have no similar to Python API
https://github.com/microsoft/LightGBM/blob/f1a1486929f8e981c44cba45132f5b4929453f8a/python-package/lightgbm/engine.py#L97
 (especially the word `anyway`) descriptions for the CLI version and it's incorrect usage, nothing should be done.

[2019-09-22 18:27] StrikerRUS commented on #1990
f1a1486929f8e981c44cba45132f5b4929453f8a

[code]

Total errors found: 107

<details>

<summary><b>Report (Clickable):</b>

</summary>

[code]

</details>

[2019-09-23 07:00] PsLiKrypt opened #2433 "Question about refit"
Hi,
I am now applying the refit method on my pre-trained model(model A) with new data (model B after). However, it performs worse than model A on a valid dataset. I know it could happen, but is it possible to tune the parameters during refitting to get a better result? Or my question also can be explained as Should I use the very same parameters during refitting?

[2019-09-23 07:26] guolinke commented on #2433
could you provide the code about how you do it?
It model B is tested over "new data", you should be better than model A.
But for valid data, it is hard to say. if it is closer to data of the pretrain, the refit could not improve it.

[2019-09-23 07:47] PsLiKrypt commented on #2433
Thanks for replying!
Well, I use the CLI version of lightgbm so it's hard to provide the code. In more details, I train model A over 7 days data, say, Sep.15 to Sep.21, model A, which will be used during Sep.22 all day.
Every hours I can collect realtime brand new data. Now I want to  update it within Sep.22. Since 'refit' is quit faster than just retraining a new model over 7 plus half days data,

[2019-09-23 08:54] guolinke commented on #2433
I feel like the distribution of two halves (let us donate them to p and q) in one day is much different.
So it is possible the model B is fit to p. So I think a more reasonable usage is to update it per day, not per half day.

[2019-09-23 10:16] guolinke commented on #2433
I think the only parameter in refit is refit_decay. Others are not used.

[2019-09-23 10:17] PsLiKrypt commented on #2433
Thanks! That helps a lot.

[2019-09-23 10:17] #2433 closed

[2019-09-23 12:24] #2424 closed

[2019-09-23 12:26] #2411 closed

[2019-09-23 12:26] #2402 closed

[2019-09-23 12:26] #2399 closed

[2019-09-23 14:15] guolinke commented on #2423
y is 1 or -1, so x equals to p.

[2019-09-23 14:15] #2423 closed

[2019-09-23 19:13] douglasdavis opened #2435 "bundle OpenMP dynamic library with wheels on macOS"
The [delocate](https://github.com/matthew-brett/delocate) package helps bundle dynamic libraries with Python wheels on macOS. I've used this to bundle the OpenMP dynamic library installed via Homebrew with wheels compiled with Clang shipped by Apple. This allows LightGBM users to install wheels without having to setup Homebrew. Of course it's not a large inconvenience to `brew install libomp`, but

[2019-09-23 20:48] StrikerRUS commented on #2435
@douglasdavis Thanks for the proposal! I don't think that bundling dynamic libraries with wheels is good idea, even for macOS. Moreover, OpenMP is very "sensitive" (~problematic~) dependency, refer to https://github.com/microsoft/LightGBM/pull/2414#issuecomment-532403860. It leads to random crashes in case of multiple copies of the library across the system.

Similar discussion in XGBoost about `d

[2019-09-24 02:09] jameslamb commented on #2373
reopening this issue as there is an active PR to fix it

[2019-09-24 06:25] xuyannus opened #2438 "Is there a way to config min_sample_weight_in_leaf during model training for Binary Classification?"
Question:
I am using LGBMClassifier and sample_weight to train a binary classification model. I have a problem to deal with overfitting when sample_weight is small.

It seems to me that min_data_in_leaf does not consider sample_weight. So, the question is: how to stop the tree to split if the sum of sample_weights in the leaf is small than a value (e.g. 100)

Could anyone please help?

Example Cod

[2019-09-24 11:59] guolinke commented on #2438
you can use `min_child_weight`

[2019-09-24 11:59] #2438 closed

[2019-09-24 13:03] StrikerRUS opened #2439 "Fix Clang 8 compilation warnings"
Refer to https://github.com/microsoft/LightGBM/pull/2421#issue-318455802.

[code]

[2019-09-24 13:05] StrikerRUS commented on #2439
@huanzhang12 Can you please help with this?

[2019-09-24 14:01] xuyannus commented on #2438
@guolinke the document says min_child_weight  is the same with min_sum_hessian. I am confused on what exactly does it do. any suggestions?

[2019-09-24 14:10] StrikerRUS opened #2441 "[R-package] use commandArgs instead of hardcoded stuff in the installation script"
Today, installing the R package with CMake like this:

[code]

Might require you to manually change some flags in `R-package/install.libs.R`.

https://github.com/microsoft/LightGBM/blob/e77658205d3b1bc5c19e4ba3821f4222f5be8c05/R-package/src/install.libs.R#L1-L4

Refer to https://github.com/microsoft/LightGBM/pull/2164#issuecomment-491576282.

To close this issue, expose those flags as command-line

[2019-09-24 14:12] StrikerRUS commented on #2441
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-09-24 23:41] guolinke commented on #2438
It is similar to the min_data, but use the second order gradients, and consider the sample weight. In regression, it equals to min_data.

[2019-09-25 01:28] xuyannus commented on #2438
thanks, @guolinke back to the question: how to stop the tree to split if the sum of sample_weights in the leaf is small than a value (e.g. 100). I am not sure how should I set up min_child_weight in a binary classification problem. should I use: min_child_weight = 100, or something else.

PS: thanks a lot for your fast reply,.

[2019-09-25 01:58] guolinke commented on #2438
The second order gradient is p(1-p) in binary objective. So it is hard to have a accurate value for your need. You can base on the distribution if your data, and estimate a reasonable value

[2019-09-25 03:49] therickli opened #2442 "plot_tree can't display feature names that contains Chinese character"
## Environment info

Operating System: Windows10, Ubuntu 16.04

CPU/GPU model: i7 8700

C++/Python/R version: python 3.7

When you have Chinese characters in feature names, you can't disply it normally in plot tree function.

## Example

[code]

[2019-09-25 04:01] jameslamb commented on #1893
Sorry for the delay. Attempted a fix in #2443. There are parts of this section of the code that I'm not very familiar with, so let's see if @Laurae2 agrees with my proposal in the PR review.

[2019-09-25 04:26] guolinke commented on #2442
Sorry, but we indeed don't support Chinese feature names.

[2019-09-25 05:48] therickli commented on #2442
It seems that this is caused by the graphviz. Can you give me some suggestions to work around it or fix it?

[2019-09-25 06:14] Jie-Yuan opened #2444 "Unable to reproduce"
I set random_state=666:

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=0.617,
               importance_type='split', learning_rate=0.005, max_depth=-1,
               metric='auc', min_child_samples=31, min_child_weight=0.01,
               min_split_gain=0.884, n_estimators=30000, n_jobs=-1,
               num_leaves=16, objective='binary', random_state=666,

[2019-09-25 06:53] Jie-Yuan commented on #2444
sklearn api

[2019-09-25 08:15] elzizyel opened #2445 "How to solve UserWarning: categorical_feature in Dataset is overrided."
## Environment info

Operating System: macOS

CPU/GPU model: CPU

C++/Python/R version: Python

LightGBM version or commit hash: 2.1.0

## Training Set Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 102759 entries, 0 to 102758
Data columns (total 12 columns):
plate_city                       102759 non-null int64
warehouse_province    102759 non-null int64
warehouse_city             102759

[2019-09-25 08:15] elzizyel opened #2446 "How to solve UserWarning: categorical_feature in Dataset is overrided."
## Environment info

Operating System: macOS

CPU/GPU model: CPU

C++/Python/R version: Python

LightGBM version or commit hash: 2.1.0

## Training Set Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 102759 entries, 0 to 102758
Data columns (total 12 columns):
plate_city                       102759 non-null int64
warehouse_province    102759 non-null int64
warehouse_city             102759

[2019-09-25 08:51] #2445 closed

[2019-09-25 10:36] akurennoy commented on #2239
@guolinke
Hi, the fact that the hessian is always accumulated is a difference from the formulation in the original paper (https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/MSR-TR-2010-82.pdf), right? As far as I understand, the last formula on page 16 (Section 7 LambdaMART) means that the hessian is added when the label of the item is higher and subtracted when it's lower. Or am

[2019-09-25 11:27] guolinke commented on #2444
could you describe your problem with more details?

[2019-09-25 13:18] guolinke commented on #2239
Thanks @akurennoy , As the learning is mainly depending on gradients. I think the hessian (like the weight) should be always positive.
For an intuitive example, for the low label doc with the highest score, its gradient will be negative, if its hessian is also negative (neg / neg = pos), the doc will not be pushed backward.
As for the equation in the paper, I will check it carefully.

[2019-09-25 13:42] aamster opened #2448 "nondeterministic behavior"
I would expect lightgbm to produce deterministic results if the parameter `seed` is set. However I get differences of more than .002 ROC AUC on a validation set using multiple runs of the exact same code.

I am using the following parameters:

lgb_params = {
    'objective':'binary',
    'boosting_type':'gbdt',
    'metric':'auc',
    'n_jobs': -1,
    'learning_rate':0.01,
    'num_leaves': 2**8,

[2019-09-25 14:41] StrikerRUS commented on #2448
@aamster Please post the whole snippet. Also, attach the data you use, if it's not sensitive. Or can you reproduce this issue with random data?

[2019-09-25 14:49] slam3085 opened #2449 "Inconsistent prediction results after dumping and loading lightgbm.LGBMClassifier via pickle"
Basically, title.

1. train model LGBMClassifier
2. get predictions for test set
3. dump model via pickle (I also tried joblib - had same issue)
4. load model
5. get different predictions for test set

Both models have same parameters and metrics in properties.
I'm using python 3.7.3 and lightgbm 2.2.3

[2019-09-25 14:50] StrikerRUS commented on #2442
@therickli In the latest `master` we raise a fatal error when meet non-ascii symbols. Refer to #2229. Sorry, but you should use only ascii in column names here:
[code]

[2019-09-25 14:50] #2442 closed

[2019-09-25 14:52] Nicobatt commented on #3
Hi,

I have the same problem:

`clang: error: unsupported option '-fopenmp'`

If I do
brew install gcc:
`gcc 9.2.0 is already installed, it's just not linked`

`gcc-9 -o omp_hello -fopenmp omp_hello.c `

`-bash: gcc-9: command not found`

so
`brew link gcc`
but

[code]

But I need to use Fortran as well! Could you help me??
Kind regards,
Nico

[2019-09-25 14:53] StrikerRUS commented on #2444
@Jie-Yuan Please follow [my comment in #2448](https://github.com/microsoft/LightGBM/issues/2448#issuecomment-535056081) and post your feedback there to not split the discussion of the same issue into multiple topics.

[2019-09-25 14:53] #2444 closed

[2019-09-25 14:58] StrikerRUS commented on #2446
See this: https://github.com/microsoft/LightGBM/issues/1408#issuecomment-530096617.

[2019-09-25 14:58] #2446 closed

[2019-09-25 15:02] StrikerRUS commented on #2449
@slam3085 Please post the whole snippet. Also, attach the data you use, if it's not sensitive. Or can you reproduce this issue with random data?

We do have a test where predictions are the same:
https://github.com/microsoft/LightGBM/blob/be206a96e7be553b0918805f6641e91285ce89d1/tests/python_package_test/test_sklearn.py#L155-L178

[2019-09-25 15:18] Jie-Yuan opened #2450 "Gpu acceleration is not obvious"
Gpu acceleration is not obvious

[2019-09-25 15:28] aamster commented on #2448
Hi @StrikerRUS I found out that if I keep the data set fixed, then results are reproducible. However, if I regenerate the data, i.e generate all the features, which involve a lot of math (division, aggregations, etc) then I get different results each time. Is it possible that Lightgbm will choose different splits based on differences in precision for example, each time the features are generated?

[2019-09-25 16:07] guolinke commented on #2448
Did you change the order of row/column? If yes, it cannot assure the reproducible.

[2019-09-25 16:16] aamster commented on #2448
@guolinke yes I noticed that column order was changing. I believe this is the issue

[2019-09-25 17:29] StrikerRUS commented on #2450
GPU can be enabled in a super easy way: just set [this param](https://lightgbm.readthedocs.io/en/latest/Parameters.html#device_type).

... And get the following fatal error which says you need to install GPU version:
https://github.com/microsoft/LightGBM/blob/f1a1486929f8e981c44cba45132f5b4929453f8a/src/treelearner/gpu_tree_learner.h#L281-L282

For the GPU installation refer to https://lightgbm.re

[2019-09-25 17:29] #2450 closed

[2019-09-25 19:27] akurennoy commented on #2239
Thank you very much for a quick reply. Makes sense. Apparently, designing the algorithm in full analogy with the Newton method wouldn't be a good idea here. (It's worth noting that the Newton method can "spoil" the gradient direction in classical optimization as well when the current point is far from a solution.)

[2019-09-26 04:01] guolinke commented on #2448
okay, as you set `colsample_bytree`, the sampled columns at each round will be different, for different column order.

[2019-09-26 04:14] guolinke commented on #1408
@StrikerRUS
maybe we can discard that warning when the data source is not pandas? I think the `auto` mode only works for pandas.

[2019-09-26 04:16] guolinke commented on #2450
GPU could not always accelerate the training. When the #feature is large, the memory copy between gpu and cpu will be large and becomes the bottleneck.

[2019-09-26 04:39] aprilffff opened #2452 "reset feature_contrib not working"
I used feature_contrib to select features( set to 0 to exclude the feature and set to 1 to include feature). That works well if just set feature_contrib before first booster update, but not work if I reset it within callback function. The proof of not working is that the excluded features are still got splitted according to `env.model.features_importance(env.iteration)-env.model.features_importanc

[2019-09-26 05:00] guolinke commented on #2452
@aprilffff
Thanks, the fix is in #2453, you could have a try.

[2019-09-26 06:16] billydentsu commented on #1935
Sorry for reopening this issue, but I am facing the same issue with:
-lightgbm==2.2.3 and shap==0.30.1
Can you please tell me your lightgbm version?

[2019-09-26 06:19] billydentsu opened #2454 "The issue previously mentioned here:"
## Environment info

Operating System:

CPU/GPU model:

C++/Python/R version:

LightGBM version or commit hash:

## Error message

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2019-09-26 06:21] billydentsu opened #2455 "[feature request] check feature name to compatible with json format"
## Environment info

Operating System:
MacOS
CPU/GPU model:
CPU
C++/Python/R version:
Python
LightGBM version or commit hash:
LightGBM==2.2.3
## Error message

[code]

[2019-09-26 06:23] billydentsu commented on #2455
My SHAP version is 0.30.1.

[2019-09-26 06:25] billydentsu commented on #2455
I have tried all of the approaches on the following issues:
https://github.com/slundberg/shap/issues/620#issue-450191481
https://github.com/microsoft/LightGBM/issues/1935#issue-395612381

[2019-09-26 06:44] guolinke commented on #2455
please try the latest master branch.

[2019-09-26 07:14] billydentsu commented on #2455
@guolinke I have just tried out the latest branch.
[code]
The same error persists. Please let me know if you need more information.

[2019-09-26 07:35] StrikerRUS commented on #2360
Fixed via #2405.

[2019-09-26 07:35] #2360 closed

[2019-09-26 07:46] #2454 closed

[2019-09-26 07:49] StrikerRUS commented on #1408
@guolinke

OK, I'll take a look.

[2019-09-26 09:07] slam3085 commented on #2449
Hi!

I can't share the data and the snippet looks like this:
[code]
Basically either I fit new model and dump it via pickle, or I use already trained one.

I tried to reproduce it in local environment only and couldn't, and now I understand why - I have python 3.7.3 as local environment and python 3.7.0 as production environment. So, actual steps to reproduce are:
1) train model in python 3.7.3
2)

[2019-09-26 10:06] nalin-mathur opened #2457 "Ranking model giving different results when model.txt file loaded in python."
Hi,
I have trained a ranking model using the executable lightgbm (obtained after building directory via cmake and then running make -j4) file along with the config file LightGBM/examples/lambdarank/train.conf using my own data. The model is saved in the LightGBM_model.txt file and then the command './lightgbm config='predict.conf' is used to make predictions using the saved model.
The predictions

[2019-09-26 11:46] guolinke commented on #2457
you can try to set `num_iterations` in predict explicitly. python-package will automatically use the best iteration, while cli version doesn't.

[2019-09-26 14:48] dalekube opened #2458 "Dockerfile GPU Build Permissions Error"
The standard Dockerfile, [dockerfile.gpu](https://github.com/microsoft/LightGBM/blob/master/docker/gpu/dockerfile.gpu), for the GPU build in a container, results in permissions errors when run as non-root in Kubernetes. The python process appears to be creating directories under the root directory, which is restricted. Most managed Kubernetes clusters force containers to be run as non-root only fo

[2019-09-26 15:36] #2452 closed

[2019-09-26 20:53] StrikerRUS commented on #2449
@slam3085

Makes sense! Thanks a lot for your investigation.

[2019-09-26 20:53] #2449 closed

[2019-09-26 20:57] StrikerRUS commented on #2455
@billydentsu Please provide any repro for creating your model, which you pass to `shap.TreeExplainer`. Or you can dump/pickle it and attach to the message here.

[2019-09-26 21:38] StrikerRUS commented on #2458
@dalekube Please try the fix from #2459. You may need to adjust `CONDA_DIR` value according to your restrictions.

[2019-09-27 00:10] #2357 closed

[2019-09-27 00:21] billydentsu commented on #2455
@StrikerRUS hi, thanks for the reply.

Here is the trained model:
[ts_fresh_model_v1.txt](https://github.com/microsoft/LightGBM/files/3660363/ts_fresh_model_v1.txt)

Please let me know if you have any other questions.

[2019-09-27 02:20] tekumara opened #2460 "Symbol not found: __ZNKSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEE13find_first_ofEPKcmm"
## Environment info
[code]

## Error message

[code]

Demangled symbol:
[code]

[2019-09-27 02:20] tekumara commented on #2460
Looks like lightgbm.dylib was compiled with gcc 8:
[code]

I'll try and install gcc 8.

[2019-09-27 03:44] tekumara commented on #2460
I installed gcc 8:
[code]

But I already have gcc 9 installed:
[code]

So I had to point the `gcc` simlink at gcc 8:
[code]

This works, although I think I'll try and recompile lightgbm.dylib in such a way that it doesn't rely on the symlinked `gcc` library, which will vary depending on when `gcc` brew formula was installed, and therefore which version it points to.

[2019-09-27 03:44] #2460 closed

[2019-09-27 09:07] nalin-mathur commented on #2457
The number of iterations was set to -1 which automatically takes the boosted model to the last iteration. There were no changes in the results after I explicitly changed the `num_iterations` in predict.

[2019-09-27 09:21] tekumara opened #2461 "fatal error: jni_md.h: No such file or directory (Mac OS X)"
I'm trying to build LightGBM v2.2.2 with SWIG on Mac OS X.

## Environment info

[code]

LightGBM v2.2.2

## Error message

[code]

[2019-09-27 09:22] tekumara commented on #2461
Looks like this was solved post v2.2.3 commit 414bb60, PR #2002

[2019-09-27 09:26] #2461 closed

[2019-09-27 09:27] nalin-mathur opened #2462 "Changing the name of output prediction file obtained through CLI."
After having trained a ranking model using the CLI, with lightgbm executable file (obtained after building the repo using cmake) and the 'LightGBM/examples/lambdarank/train.conf'. The model gets saved in a LightGBM_model.txt file.
I am then making predictions using the command './lightgbm config='predict.conf' '.

This predictions obtained get saved in a file named LightGBM_predict_result.txt. Is

[2019-09-27 11:22] guolinke commented on #2457
just saw your use `load_svmlight_file`, which is the root cause.
Refer to https://github.com/microsoft/LightGBM/issues/1908 and https://github.com/microsoft/LightGBM/issues/1776.

LightGBM use the zero-based libsvm file (when pass libsvm file to LightGBM), while `load_svmlight_file` is one-based.
So if your model is train by the one-based format, you should use the one-based data for the predictio

[2019-09-27 11:22] #2457 closed

[2019-09-27 11:23] guolinke commented on #2462
refer to https://github.com/microsoft/LightGBM/blob/master/docs/Parameters.rst#output_result

[2019-09-27 11:23] #2462 closed

[2019-09-27 12:06] guolinke commented on #2457
@StrikerRUS there are several issues regard to this. Should I add it to the FAQ?
BTW, #2464 could raise the error in this case.

[2019-09-27 12:30] rspadim opened #2465 "output model metadata when predicting"
Hi folks,
Could be possible when predicting get the number of "samples used" in each tree?
I'm studying to use it as an input to another model in the stack

For example:
tree 1 - the leaf used 15 samples of 10k sub samples of 15k total samples (i don't know if subsample can be different from total samples)
tree 2 - 20 samples of 9k sub samples
...

total samples = [15/10000, 20/9000 ....] (an arra

[2019-09-27 20:32] StrikerRUS commented on #2457
@guolinke

Yeah, I think it's definitely worth to mention that in the FAQ!

I remember there was a lot of issues in XGBoost about the same inconsistency too, e.g.: https://github.com/dmlc/xgboost/issues/2193#issuecomment-293957232, https://github.com/dmlc/xgboost/issues/3190#issuecomment-379969199, https://github.com/dmlc/xgboost/pull/3232.

It's really great!

[2019-09-27 20:57] StrikerRUS commented on #2455
@billydentsu It seems to be not the txt format actually. How did you produce that file?

[2019-09-28 12:32] #1863 closed

[2019-09-28 12:32] #2267 closed

[2019-09-28 12:33] #2448 closed

[2019-09-28 12:40] #2408 closed

[2019-09-28 15:25] brunoamorim13 commented on #3
After trying to run with gcc-9 I'm getting the following message:

`"std::ios_base::Init::Init()", referenced from:
      __static_initialization_and_destruction_0(int, int) in cczeen3H.o
  "std::ios_base::Init::~Init()", referenced from:
      __static_initialization_and_destruction_0(int, int) in cczeen3H.o
  "std::cout", referenced from:
      _main in cczeen3H.o
  "std::basic_ostream<char, std

[2019-09-28 20:52] StrikerRUS commented on #1829
Implemented in #2325.

[2019-09-28 20:52] #1829 closed

[2019-09-29 03:33] jameslamb opened #2468 "[R-package] training continuation unit test is broken"
One unit test in the R package is currently broken. Steps to reproduce on Mac

[code]

This results in the following error at the ends of the logs

[code]

I'm uncertain when the issue was first introduced (we do not run R tests in CI yet, #2335), but this behavior was observed at least as of https://github.com/microsoft/LightGBM/commit/cc7a1e27398d86e9befdf6eb08141359882f3d49.

[2019-09-29 08:39] elzizyel commented on #1408
@StrikerRUS Warning still exsits.
<img width="1105" alt="pic" src="https://user-images.githubusercontent.com/42927184/65829376-9197c700-e2d7-11e9-90ed-b75857e7c98b.png">

[2019-09-29 09:02] Laurae2 commented on #2412
@henry090 Does LightGBM crash with the default example?

[code]

[2019-09-29 09:59] guolinke commented on #2465
sorry, could you describe it clearer? I didn't understand your issue.
What is the "samples used" in each tree? Did you mean multiple GBDT models?

[2019-09-29 12:31] StrikerRUS opened #2472 "[R-package] exclude training data from being checked for early stopping"
Check all datasets in validation list for early stopping excluding the training data to match the Python-package behavior:

https://github.com/microsoft/LightGBM/blob/master/docs/Python-Intro.rst#early-stopping

Refer to #2371.
Python code:
https://github.com/microsoft/LightGBM/blob/5c0daca0a1ae601aa2bdcaa0d2fc16bcf3be150a/python-package/lightgbm/callback.py#L238-L241

C++ code:
https://github.com

[2019-09-29 12:33] StrikerRUS commented on #2472
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-09-29 12:33] #2472 closed

[2019-09-29 12:35] StrikerRUS commented on #2371
@pford221 Feel free to re-open if the issue is still presented in the `2.3.0` version.
For the R-package, I have created a separate issue #2472.

[2019-09-29 12:35] #2371 closed

[2019-09-29 15:20] jameslamb opened #2477 "[R-package] Add additional linters to CI"
Linting for the R code in this project was introduced in #2437 . As of that PR, the following linters from the `lintr` project were not available from the distribution of `lintr` on CRAN.

[code]

To close this issue, add those linters to `.ci/lint_r_code.R` once `lintr` does a new release (> 1.0.3) to CRAN.

[2019-09-29 15:21] jameslamb commented on #2477
Closing in favor of being in #2302 with other feature requests. If you'd like to submit a PR to address this, re-open the issue.

[2019-09-29 15:47] jameslamb commented on #2477
Since we use `r-lintr` distribution from conda (not CRAN), to complete this issue it may also be necessary to make a pull request to https://github.com/conda-forge/r-lintr-feedstock to get `r-lintr` feedstock updated.

[2019-09-29 15:47] rspadim commented on #2465
Hi @guolinke, for each tree we have some metadata about samples, i will post an image example here:

https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcn7a7bHwhEuueUD0zxo17A-QYc4JmIK6bn4fJfze7pH3c9RSYvVJ3UNwyUA

I want the “samples =1”, 47 ,48 ... the “number of samples used at leaf”

[2019-09-30 00:18] billydentsu commented on #2455
@StrikerRUS uh excuse me, I have used joblib.
Here is the model.txt file produced by the lightgbm:
[ts_fresh_model_v1.txt](https://github.com/microsoft/LightGBM/files/3668330/ts_fresh_model_v1.txt)

[2019-09-30 02:08] guolinke commented on #2455
@StrikerRUS maybe we can add a test for the json format check?

[2019-09-30 02:09] OnlyFor opened #2478 "[feature requests] support utf-8 characters in feature name"
Do not support non-ascii characters in feature name ?
Could you please consider backward compatibility ?

I use xgboost and catboost and sklearn at the same time, only lightgbm has encoding compatibility problems...

thx

[2019-09-30 02:11] guolinke commented on #2465
did you mean the number of samples per leaf?
you can get it from the trained GBDT model: https://github.com/microsoft/LightGBM/blob/e6505417eff10d1bae863d72d2a08469afc19e04/include/LightGBM/tree.h#L394

[2019-09-30 02:17] #2277 closed

[2019-09-30 02:30] guolinke commented on #2478
I guess the feature_name function in xgb/cat is maintained in python-side, so it is easy for utf8 encoding.  But this requires the different implementation in each language package, and different model save/load solution.

In LightGBM, it is maintained in cpp side, and save in model file, and thus is hard for utf8.

If we want to support the utf-8 feature name, the model save/load logic may change

[2019-09-30 02:41] rspadim commented on #2465
but how could i get it when executing predict?

for example:

output, leaf_samples_used = trained_model.predict(some_X_values)

i want for each X row the predicted output + the number of samples/data length of each leaf/tree

[2019-09-30 02:41] guolinke commented on #2478
A workaround is to save an additional file for features name, and force its name to ,<model_file_name>+".fn". And that the encodnig of that file could be utf-8, and autoload by python/R itself when loading the model file, not by cpp.

[2019-09-30 03:00] guolinke commented on #2465
you can use `pred_leaf`, and count the samples in each leaf index by yourself.

[2019-09-30 03:16] guolinke commented on #2455
@billydentsu I find the root cause,
you have the `"` symbol in your feature names, which is not support by json decoder...

[2019-09-30 03:17] OnlyFor commented on #2478
Could lightgbm automatically replace and restore utf8 feature names in python/R side, before and after cpp part ?  or maintain feature transformation in python/R, support utf8 indirectly ? transformation dict can also written to model file

[2019-09-30 03:31] rspadim commented on #2465
Ok i will test, i din’t know how to leave this issue “partially open” or ”waiting reply“
thanks @goulinke

[2019-09-30 03:32] rspadim commented on #2465
The idea is get informatin from original train data, anyway i will test it

[2019-09-30 03:42] guolinke commented on #2455
@StrikerRUS I think we should check the feature_name, to avoid the `[],{}":` characters.

[2019-09-30 03:51] guolinke commented on #2478
@OnlyFor I am not familiar with the string encoding, but I think that is not trivial.
Maybe we can use something like base64 to decode and encode for feature names.

[2019-09-30 04:12] jameslamb opened #2479 "[R-package] Export callback functions"
See [this comment](https://github.com/microsoft/LightGBM/pull/2443#issuecomment-536321691) and [this comment thread](https://github.com/microsoft/LightGBM/pull/2443#issuecomment-536314106) from #2443 . Currently the functions in `callback.R` are not exported in the R package. This means that the use of `callbacks` keyword argument in `lgb.train()` is unclear.

To close this issue, submit a PR with

[2019-09-30 04:13] jameslamb commented on #2479
Closing this in favor of being in #2302 . We keep all feature requests in #2302 . If you'd like to pick this issue up and submit a PR, please do and it can be re-opened.

[2019-09-30 04:48] henry090 commented on #2412
Yes, as I mentioned, it works fine. This dataset causes fatal error on windows. https://www.kaggle.com/c/ieee-fraud-detection

[2019-09-30 06:45] billydentsu commented on #2455
@guolinke Great! Now everything works. Thanks!

[2019-09-30 10:24] StrikerRUS commented on #2455
@guolinke

Can it be done by JSON library at cpp side?

[2019-09-30 14:47] rspadim commented on #2465
![image](https://user-images.githubusercontent.com/2468782/65889668-06224280-e378-11e9-8bfa-73486b59f58e.png)

it output the sample, but i don't have access to total data size, to create a % of samples used, is it using all data from training set? or each tree can have a subsample without less data?

[2019-09-30 18:20] NickScottKortical opened #2480 "[LightGBM] [Fatal] Check failed: right_max_bin > 0"
## Environment info

Operating System: Linux

CPU/GPU model:

C++/Python/R version: Python3.6

LightGBM version or commit hash:
lightgbm==2.2.3
## Error message

[LightGBM] [Fatal] Check failed: right_max_bin > 0 at /__w/1/s/python-package/compile/src/io/bin.cpp, line 196 .

[LightGBM] [Fatal] Check failed: right_max_bin > 0 at /__w/1/s/python-package/compile/src/io/bin.cpp, line 196 .

[LightGBM]

[2019-09-30 18:33] StrikerRUS commented on #2480
@NickScottKortical Thanks for reporting this! Please check `2.3.0`. It should be fixed there. Refer to #2299.

[2019-09-30 19:06] NickScottKortical commented on #2480
Ah great thanks, I only just picked up lightgbm last week and thought i was on the latest, but looks like theres a new version already :)

[2019-09-30 19:47] StrikerRUS commented on #2480
Yeah, we finally released `2.3.0` two days ago: https://github.com/microsoft/LightGBM/releases/tag/v2.3.0.

[2019-09-30 21:54] jayantsahewal opened #2482 "No changes in the training after bug fix"
## Environment info

Operating System: Linux

CPU/GPU model: CPU

C++/Python/R version: Python

LightGBM version or commit hash: 2.3.0 (Pypi/pip)

## Error message (No error)
Based on this fix - https://github.com/microsoft/LightGBM/pull/2040/files#diff-c4d8a1b2c7a8733615f069f725543826, I was hoping to see change (better/worse not sure) in the training process but it's exactly the same (with the s

[2019-10-01 02:27] guolinke commented on #2465
the out[0] is the leaf index for the sample 0,
and out[i] is the leaf index of sample i.
you can sample your need samples from `out`.

[2019-10-01 02:31] guolinke commented on #2482
I think this bug is for the forced_split, not for main training logic.

[2019-10-01 02:31] #2482 closed

[2019-10-01 02:53] rspadim commented on #2465
Ok I understood.
The doubt now is: out[0][0] is the number of samples at tree 0 at leaf used to predict sample 0. How many samples were used to train the tree 0?

[2019-10-01 03:10] guolinke commented on #2465
all trees are using the all samples in the training of GBDT, except you set `bagging`.

[2019-10-01 03:15] rspadim commented on #2465
Nice

1) The “first leaf” of a tree (i’m not considering predict function) have this information? (Number of samples when training)

2) in my example i have a tree with leaf with 0 samples, in this case the output is the model bias? I didn’t checked this before just curious about this

[2019-10-01 03:42] guolinke commented on #2465
@rspadim
`out[i][j] = k` means the leaf index of the i-th sample on j-th tree is k.
for the number of samples in each leaf of each tree, you should count them by these indices by yourself.

[2019-10-01 12:04] StrikerRUS commented on #1990
9b61166fccab1edc92edebc97ef6714018736b18

Total errors found: 108

<details>

<summary><b>Report (Clickable):</b>

</summary>

[code]

</details>

[2019-10-01 12:06] StrikerRUS commented on #1990
@guolinke Are we going to mark those headers as ``// NOLINT``? Or something else? https://github.com/microsoft/LightGBM/issues/1990#issuecomment-533547900

[2019-10-01 12:13] thvasilo opened #2484 "Data loading errors with extremely sparse datasets"
I'm trying out training on a couple of the datasets that @Laurae2 reported in #536 (url and kdda) using the LibSVM data available [here](https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary.html).

## Environment info

Operating System: Ubuntu 16.04

CPU/GPU model: Training on an MPI cluster of 3 m4.xlarge instances

C++/Python/R version: Latest master built with GCC 5.4

## Error messag

[2019-10-01 12:42] guolinke commented on #2484
that buffer is too large to allocate the memory spaces...
For the sparse data, we recommeder to use dense categorical feature directly, instead of high dimensional sparse features.

[2019-10-01 12:45] guolinke commented on #2484
BTW, for the high dimensional data, we don't recommend to use the distributed mode, for the communication cost is #feature x #max_bin. It will be even slower than using single machine.

[2019-10-01 12:52] guolinke commented on #1990
@StrikerRUS `NOLINT` looks good to me.

[2019-10-01 13:12] thvasilo commented on #2484
Hello @guolinke, thank you for the prompt response.

I'm not sure how to achieve that in libsvm data and CSV/TSV files would be enormous, because AFAIK the datasets would need to have dense representations, correct?

Any parameters I could change to make training at least possible in such a case possible? Like limiting the bin size might work? I was planning to include LighGBM as a comparison for

[2019-10-01 14:41] guolinke commented on #2484
@thvasilo
for the converasion, it is quite simply.
For example:
`20:1 10000:1 544323:1`
can convert to
`0:20 1:10000 2:544323`.

if you really need to run this, you can remove this code block entirely:

https://github.com/microsoft/LightGBM/blob/9b61166fccab1edc92edebc97ef6714018736b18/src/io/dataset_loader.cpp#L966-L1060

and this line as well:
https://github.com/microsoft/LightGBM/blob/9b61166fc

[2019-10-01 15:30] thvasilo commented on #2484
Thanks @guolinke I'll try out this PR tomorrow and report back.

This assumes the complete dataset must fit in the memory of every node correct? Or is it possible to use some out-of-core technique to achieve that?

[2019-10-01 15:37] rspadim commented on #2465
i got the tree info:

![image](https://user-images.githubusercontent.com/2468782/65977367-32a58f80-e448-11e9-93b9-3518b2cafa9d.png)

should i walk the tree and enumerate the leafs? or there's other method to easily output all leafs structure?

[2019-10-01 15:51] guolinke commented on #2484
yeah, it should be fit in the memory.
you can use the `two_round_loading=true` to reduce the peak memory, but it will double the time cost of data loading.

[2019-10-01 16:29] rspadim commented on #2465
maybe i'm doing something wrong...

i did this:
[code]

![image](https://user-images.githubusercontent.com/2468782/65981321-37ba0d00-e44f-11e9-9fcf-128c661412c6.png)

checking the model output, the leaf_index: 30, doesn't exists at model dump
the sample is=91, tree=19, leaf index=30

from model dump:
print(model_info['tree_info'][91])

[code]

[2019-10-01 16:51] rspadim commented on #2465
if you need i can share the dataset/notebook

[2019-10-01 22:35] yoshuae opened #2486 "LightGBM fit() issue with Scikit API"
## Environment info

Operating System: Linux

CPU/GPU model: aws ec2 r.4.16x large

C++/Python/R version: Python 3.6.8

LightGBM version or commit hash: 2.3.0

## Error message
Sorry I am a bit of a noob but my code worked (and works) on the release 2.2.3. Passing in a pandas data frame with a combination of int,float, and categorical type columns as input and the below error is thrown. Have also

[2019-10-01 23:03] StrikerRUS commented on #2486
@yoshuae Error comes from the `y`, not `X`. Label is allowed to be only `int`, `float` or `bool` dtype. `2.3.0` started to check  label dtypes.

[2019-10-01 23:09] StrikerRUS commented on #1003
@huanzhang12 Any success? Happened today one more time on Travis:

[code]

[2019-10-02 00:12] guolinke commented on #2465
I don't know what you want to do from your code.
I think it should be leafs[l][leaf]

[2019-10-02 00:21] rspadim commented on #2465
wow, sorry my typo, thanks, i will test

[2019-10-02 00:22] guolinke commented on #2486
@StrikerRUS
It seems the label is transformed in https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py#L759
Should it be int type after the transformation?

[2019-10-02 00:24] rspadim commented on #2465
there's a "'internal_count': 80000", it's the train dataset right? if it's, i think we are done here with this issue

[2019-10-02 00:28] StrikerRUS commented on #2486
@guolinke Yes, it should, I think. But only in `LGBMClassifier`, not in `LGBMModel` (which @yoshuae uses).

[2019-10-02 04:35] guolinke commented on #2465
`leaf_count` is the number of training data falling to that leaf. `internal_count` is the number of training data passing through that non-leaf node.

[2019-10-02 04:42] rspadim commented on #2465
uhm, for example... the training data have 100k rows, the sample to create the first tree have 80k, the 80k is the "non-leaf"? i'm at the top of tree model (not in a node/leaf) the first "internal_count" i can read at the json dictionary of model dump

[2019-10-02 05:29] guolinke commented on #2465
sorry, I don't understand it..
the sum of leaf_count over all leaves, is 80k in your example.
and the internal_count = count_of_its_left_node + count_of_its_right_node, and the internal_count of the root node is 80k.

[2019-10-02 05:34] rspadim commented on #2465
uhmmm, well i think it's ok
my doubt is more about something that i don't know how lgb handles, if a tree can be fit with 80k samples and the other one with 79k for example, that's why i'm trying to find how many samples was used

[2019-10-02 05:37] guolinke commented on #2465
all trees are using the same number of data in the one GBDT model.
Even with bagging, we will use the same number of data for each tree.

[2019-10-02 05:39] rspadim commented on #2465
nice! :) i think we can close this iisue, thanks a lot guolinke, i used this code if someone else need:

[code]

[2019-10-02 05:39] #2465 closed

[2019-10-02 06:04] henry090 commented on #2412
Hi, I noticed that after fresh installation for the 1st time LightGBM works (it runs the training process successfully). 2nd time it throws a fatal error (when you restart RStudio).

[2019-10-02 11:25] StrikerRUS commented on #2478
@guolinke Encoding feature names will hurt the model file readability for humans, I guess.

[2019-10-02 11:46] StrikerRUS commented on #1990
dc65e0ac6ee8faa5790263a8dc2d9cc2a8dd7c4b

[code]

Total errors found: 93

<details>

<summary><b>Report (Clickable):</b>

</summary>

[code]

</details>

[2019-10-02 16:10] yoshuae commented on #2486
I'll give this a check, thank you for following up.

[2019-10-02 18:41] StrikerRUS commented on #2486
@yoshuae Ah, make sense! We support `int64` dtype, but not `Int64` one.

https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html

[2019-10-02 18:41] #2486 closed

[2019-10-02 22:51] StrikerRUS commented on #2457
@guolinke

I added a test case for that in #2464.

Will you create a separate PR for this?

[2019-10-03 18:30] StrikerRUS commented on #812
The shape of data for prediction is now checked at cpp side, thanks to #2464.

The next steps may be to check the type and order of features, and their names in case of pandas DataFrame.

[2019-10-03 19:10] chris-smith-zocdoc commented on #2363
@imatiach-msft Have you tried reproducing this again after adding the JNI checks? https://github.com/microsoft/LightGBM/issues/2360

would be interesting to see if we get any better errors

[2019-10-03 21:48] StrikerRUS commented on #1003
One more time at Travis:

[code]

[2019-10-03 21:49] StrikerRUS commented on #1003
Reopening, as it error becomes quite frequent.

[2019-10-05 04:02] wyzrxrs opened #2490 "Lambdarank test data with no labels"
Hello, how do you test unseen cases after training the model? I've noticed from the discussions here and the MQ2008 data set, it seems that test data must have a column for labels. I've tested on c code, it returns the following error:
" [LightGBM] [Info] Data file rank.test doesn't contain a label column".

I also experimented on python, the error says "ValueError: invalid literal for float(): 1:

[2019-10-05 08:52] guolinke commented on #2490
How did perform the prediction? Code example? I believe that is a mis-usage.

[2019-10-05 10:38] wyzrxrs commented on #2490
Thanks for your prompt reply! My code is in fact based on https://mlexplained.com/2019/05/27/learning-to-rank-explained-with-code/.
x_train, y_train = load_svmlight_file("mq2008.train")
x_valid, y_valid = load_svmlight_file("mq2008.vali")
x_test, y_test = load_svmlight_file("mq2008.test")

q_train = np.loadtxt('mq2008.train.group')
q_valid = np.loadtxt('mq2008.vali.group')
q_test = np.loadtxt('mq2

[2019-10-05 11:36] guolinke commented on #2490
I don't think the `x_train` contains the label, the label is loaded to `y_train`.
And which error is shown? which lightgbm version you are run with?

[2019-10-05 11:54] wyzrxrs commented on #2490
You are right, thanks very much!

My question is, since my data has no labels,  and I am only interested in the return value of gbm.predict(x_test), should I create a dummy label, and use load_svmlight_file() to split into x_test and y_test (y_test is faked label)? Will the fake y_test label affect the predict result?

Or, is there another way to use the predict function, for example, preprocess t

[2019-10-05 12:15] guolinke commented on #2490
you don't need the label for the test data, and `predict` method does not the label input as well.
as in your code, using the `gbm.predict(x_test)` is enough. and make the `x_test` have the same shape as the `x_train`.

[2019-10-05 12:45] wyzrxrs commented on #2490
Great, thanks very much for your prompt replies!!

[2019-10-05 19:38] pford221 opened #2494 "Cross-Validation with Cross-Entropy Objective"
Hi -

When using python's API `lightgbm.cv` and `xentropy` objective where the `label` is a floating point number between 0 and 1, sklearn's _split.py is throwing an error:

`ValueError: Supported target types are: ('binary', 'multiclass'). Got 'continuous' instead.`

**Environment:**

lightgbm: 2.2.3
sklearn: 0.21.3
os: Linux CPU
ami: 4.14.138-114.102.amzn2.x86_64

**Reproducible example:**

[cod

[2019-10-05 21:30] StrikerRUS commented on #2494
@pford221 Hi! Please set `stratified=False`.
[code]

[2019-10-06 16:09] pford221 commented on #2494
That works, @StrikerRUS. Thank you for all the support!

[2019-10-06 16:55] StrikerRUS commented on #2494
@pford221 You are welcome! Glad that your problem has been resolved.

[2019-10-06 16:55] #2494 closed

[2019-10-07 12:13] #2458 closed

[2019-10-07 12:20] #2480 closed

[2019-10-07 12:21] #2490 closed

[2019-10-08 20:55] REASY opened #2499 "[mmlspark] JVM crash caused by LGBM_BoosterSaveModelToStringSWIG"
## Environment info

Operating System: Windows 10 x64, version 10.0.18362.388
Java: Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)

CPU/GPU model: AMD Ryzen 7 2700X

LightGBM version or commit hash:
- `"com.microsoft.ml.spark" %% "mmlspark" % "0.18.1"`
- `"com.microsoft.ml.lightgbm" % "lightgbmlib" % "2.2.350"` via https://github.com/Azure/mmlspark/blob/v0.18.1/build.sbt#L27

##

[2019-10-08 23:06] StrikerRUS commented on #2499
@imatiach-msft Please take a look

[2019-10-08 23:36] Xiad32 commented on #2208
So, what other configurations are needed here beside num_iteration? Would they differ based on the class where they are used; RF,GOSS or DART?

[2019-10-09 03:58] imatiach-msft commented on #2499
@REASY @StrikerRUS sorry about the trouble you are having.  Indeed, this was a bug and it should already be fixed with this PR:
https://github.com/microsoft/LightGBM/pull/2364
This issue should no longer appear in the latest master branch, although it is still an issue in 0.18.1 since it doesn't include the fix yet.  Sorry about the inconvenience.

[2019-10-09 04:00] imatiach-msft commented on #2499
also see the corresponding mmlspark fix:
https://github.com/Azure/mmlspark/pull/676

[2019-10-09 04:02] imatiach-msft commented on #2392
@chris-smith-zocdoc since other issue has been fixed, can this issue be closed as well, or are you still seeing crashes?

[2019-10-09 04:16] REASY commented on #2499
Thanks, @imatiach-msft. I'll try with snapshot version!

[2019-10-09 11:29] Nicobatt commented on #1420
Hi @StrikerRUS I have the same problem, but I've already reinstalled Xcode and gcc but it doesn't work, do you know why? Could you help me?

[code]

Let me know of what info you need!
Kind regards,
Nico

[2019-10-09 13:31] chris-smith-zocdoc commented on #2392
On the latest master of both LightGBM + mmlspark I am no longer seeing crashes. I'll re-open if they appear again

[2019-10-09 14:08] StrikerRUS commented on #1420
@Nicobatt Sorry, I have no macOS. I guess you should try the method from a more recent answer right under the one I mentioned: https://stackoverflow.com/a/54499878.

[2019-10-09 14:13] StrikerRUS commented on #2457
@guolinke Can you please either create a PR or an issue with the aim to not lose this docs enhancement in this closed issue?

[2019-10-09 14:16] StrikerRUS commented on #2478
@guolinke Should this issue be included in #2302?

[2019-10-09 14:47] StrikerRUS commented on #2499
@REASY Glad to hear that your problem has been solved! Thank you for the feedback!

@imatiach-msft Thanks a lot!

[2019-10-09 15:04] guolinke commented on #2457
Sorry, i am quite busy recently. Could you help me for the doc part?

[2019-10-09 15:44] ManuelMourato25 opened #2500 "Booster.predict returns same score for any distinct instance when executed via JEP"
I am trying to call LightGBM via JEP (Java Embedded Python), in order to predict the scores of a couple of records.
However, if I execute the Booster.predict command via JEP, it returns a constant score of 0.04742587, for every distinct record passed.
The same does not happen if I invoke LGBM from a Python script.
Any ideas on what the issue might be?
Note: when using JEP to invoke different model

[2019-10-09 16:26] ManuelMourato25 commented on #2500
LInked with the following issue : https://github.com/ninia/jep/issues/205

[2019-10-09 18:35] brunogasperini opened #2501 "top_rate + other_rate parameters restriction cannot be greater than or equal to 1"
Hello,

I'm tuning a LightGBM model using its goss version. However, I'm running into an issue where I cannot set the `top_rate`  and `other_rate` in a way that their sum is greater than or equal to 1.

From the first paragraph in page 6 of the NIPS paper (emphasis in bold are mine),

gradients and selects the top a×100% instances. Then it randomly samples b×100% instances **from the rest of the d

[2019-10-09 18:57] StrikerRUS commented on #2500
Since Python script returns a correct values, I guess there is an issue at the `JEP` side (we do not maintain it). Maybe something even with compatibility between `numpy`  and `JEP`. Also, please note that you can use our [SWIG bindings](https://github.com/microsoft/LightGBM/blob/master/swig/lightgbmlib.i) for JAVA application, or https://github.com/Azure/mmlspark, or https://github.com/jpmml/jpmm

[2019-10-09 18:57] #2500 closed

[2019-10-10 09:58] Sanchita-P opened #2502 "LightGBM cv"
How does LightGBM's cv module identify what the objective function is? I understand that LightGBM's default is: Regression, however, my problem is a classification one. There is no option to specify what the objective function is.
Additionally, in LGBMClassifier, if I specify the objective as binary, will the loss function also be automatically chosen correctly without me having to manually specif

[2019-10-10 17:30] rgranvil opened #2503 "lgb.cv reports incorrect validation metrics when not using stratification"
The example below reports incorrect validation logloss metrics when setting stratified = FALSE.  If I set stratified = TRUE, the metric is calculated as expected.  I tried debugging and this appears to be related to stratified fold indices being sorted while unstratified fold indices are not sorted.  Does slicing a lgb.Dataset require indices be sorted?  If I edit the generate.cv.folds function ht

[2019-10-11 07:36] guolinke commented on #2239
In the newton step for GBDT, the loss could be expanded by second-order Taylor expansion. Then the loss is a quadratic function, which reaches to the minimal point when x=-b/2a and a > 0. here a = sum_hessian / 2, b = sum_gradient.
Therefore, the sum_hessian  should be always positive, at least constant, otherwise the newton step theory is broken.

[2019-10-11 07:36] #2239 closed

[2019-10-11 12:03] StrikerRUS commented on #1129
Travis CI can now run your Linux builds on amd64 and arm64 (i.e. ARMv8 compliant CPUs) CPU architectures.

https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support

[2019-10-11 12:27] StrikerRUS commented on #2502
@Sanchita-P

You can (should) specify objective function via [objective](https://lightgbm.readthedocs.io/en/latest/Parameters.html#objective) param: `lgb.cv(params={'objective': 'binary'})`. You are right, as it's mentioned in docs, default one is `regression`.

"Objective and "loss" are different words for the same thing.

Yep. For standard API (not the sklearn wrapper) you should use argmax manu

[2019-10-11 12:27] #2502 closed

[2019-10-11 17:21] Sanchita-P commented on #2502
Hi @StrikerRUS ,

Thank you for your response! I understand that Sklearn API and LighGBM cv should not be used together. Due to this, I have made the following changes to my code but am getting an extremely strange error.

The error is : train() got an unexpected keyword argument 'bagging_freq'. This is odd since bagging_freq is a legitimate parameter. My code is this:

x_train, x_test, y_train, y

[2019-10-11 19:27] StrikerRUS commented on #2502
Because this is different APIs. Use scikit-learn modules for feature selection if you want to use LightGBM sklearn wrapper.

Fix this line:

[code]

[2019-10-11 19:31] Sanchita-P commented on #2502
Do you mean to use scikit-learn modules for hyperparameter tuning in the cross-validation module? If they are different APIs, what is the risk of happening?

[2019-10-11 19:54] StrikerRUS commented on #2502
I mean, scikit-learn modules for feature selection: https://scikit-learn.org/stable/modules/classes.html#module-sklearn.feature_selection, if you want to use `lgb.LGBMClassifier`/`lgb.LGBMRegressor`/`lgb.LGBMRanker`.

The are incompatible. The are not designed to be used together. There is no warranty that they can be used together. You can search this repo for errors people faced when combined st

[2019-10-11 19:59] Sanchita-P commented on #2502
@StrikerRUS , thanks again for your response! :) I apologize if my questions are naive, I am new to this and hence a steep learning curve. I was earlier using LGBMClassifier, however I also wish to use the cv module of lightGBM, so can no longer use LGBMClassifier of sklearn.

Additionally, earlier you had mentioned that one should use argmax manually to predict a class label. However, predict is

[2019-10-11 20:33] StrikerRUS commented on #2502
I think that you should continue using `LGBMClassifier` and stick to scikit-learn interface as it's more user-friendly, especially for beginners. In that case, you can replace `lgb.cv` with sciikit-learn cross validation: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html#sklearn.model_selection.cross_validate.

For **binary** problem it returns probabili

[2019-10-11 20:59] Sanchita-P commented on #2502
All your points have been duly noted, thank you for all the help and patience! Wishing you all the best :)

[2019-10-11 21:10] StrikerRUS commented on #2455
@guolinke Maybe we should combine it with
https://github.com/microsoft/LightGBM/blob/dc5840709909bc18df437cddf62677f7be2915a4/include/LightGBM/utils/common.h#L49-L56

[2019-10-11 21:12] StrikerRUS commented on #2502
Your are welcome!

[2019-10-12 08:09] guolinke commented on #2455
this can only remove the head and tail quotes.
I think simply remove them is not good. we may need to replace them or just throw errors.

[2019-10-12 19:08] lbo34 commented on #1044
@seahrh : Really? it worked this way? I am getting "fit() got an unexpected keyword argument 'model__eval_set'"

[2019-10-13 02:09] StrikerRUS commented on #2478
https://github.com/dmlc/xgboost/pull/4937#issuecomment-541330515.

[2019-10-13 10:08] agcala opened #2505 "LGBMRegressor error: NotFittedError: No booster found. Need to call fit beforehand."
**I am running the following code**

    reg = lgb.LGBMRegressor(boosting_type='gbdt',
                            objective='regression',
                            metric='l2',
                            device='gpu',
                            verbose=1)
    m = MultiOutputRegressor(reg).fit(X_train,y_train)
    m.estimator.booster_.feature_name()

And I get the error

    sklearn.exceptions

[2019-10-14 16:47] arnonbruno opened #2508 "Results vary depending on sorting method"
Hi,
I'm working on a classification problem where each observation is series of approx 90 features in a given moment of time. All observations are independent.
I noticed that, if I sort my data in ascending order (say, for year) before prediction, I get a result different from what I'd get sorting in descending.
Is this the diserable behaviour? I don't recall this issue happening in the past.

Tha

[2019-10-15 06:20] sandrawing opened #2509 "How to reduce the GPU memory usage?"
How can I reduce the GPU memory usage in case that my CPU memory is enough and GPU memory is limited?
Besides, what's the function of GPU and CPU when running tree model in LightGBM? Which part of the tree model computation do GPU and CPU process?

[2019-10-15 10:56] guolinke commented on #2501
@brunogasperini sorry, I think the sentence cause the misleading. We mean the bx100% (of the full dataset) from the rest data.

[2019-10-15 10:56] #2501 closed

[2019-10-15 10:58] #2484 closed

[2019-10-15 11:04] guolinke commented on #2508
@arnonbruno yeah, it is desirable.

Firstly, if you used `bagging`, which uses sub-rows in each iteration, the results will be different.
secondly, the floating-point sum-up will cause the different sum-up results when using different sum-up order.
Finally, LightGBM will use a sub-sampled set (refer to parameter 'bin_construct_sample_cnt` to construct "bin mapper", when the`bin_construct_sample_cn

[2019-10-15 11:04] #2508 closed

[2019-10-15 11:15] guolinke commented on #2503
@rgranvil yes, the subset requires the sorted indices.
@StrikerRUS could you check this in python side? It may have the same problem.

[2019-10-15 20:02] StrikerRUS commented on #2503
@guolinke Yes, indeed, indices are not sorted:
[code]
[code]

I guess sorting here should be enough:
https://github.com/microsoft/LightGBM/blob/b1c50d07cee4f6042a5d50c2c92ca81b321b000b/python-package/lightgbm/engine.py#L342-L343

[2019-10-16 09:57] lunz-s opened #2513 "Different behaviour for boost_from_average"
I have been provided with a LightGBM model from a third party that they have trained in R (presumably using LightGBM 2.1.12) alongside their training data set. I have been trying to reproduce their model, reading out their hyperparameters from the save and training my own LightGBM model in python (using version 2.3.0) on their training data, but failed to get the same leaf values.

In particular,

[2019-10-16 10:41] guolinke commented on #2513
2.1.12? or 2.1.2?

you can try to re-run it with that version, to check the behavior.

[2019-10-17 08:19] aprilffff opened #2514 "refit using lgb binary dataset"
I would like to refit the model using very large dataset (train+valid), so it'll be appericated if refit function accept lgb binary dataset as input. As far as I know, the fitting accuracy wont be different between train and refit, right?

[2019-10-17 09:08] guolinke commented on #2514
refer to the code:
https://github.com/microsoft/LightGBM/blob/198d0f3bf1d7f183aabaa6ee7d9cc145dd944dcc/python-package/lightgbm/basic.py#L2394

you can pass the `leaf_preds` and `train_set`, then the raw data is not needed.

[2019-10-17 12:42] arnwas opened #2515 "Are there plans for a go aka golang wrappers or package?"
Are there plans for a go aka golang wrappers or package?

So similarly as those for python or R?

Greetings, Arno

## Summary

## Motivation

## Description

## References

[2019-10-17 14:31] StrikerRUS commented on #2515
@arnwas Hi! As I know, we don't have any plans for full Go package.

However, there is a Go package for prediction part with LightGBM models. Will [`leaves` package](https://github.com/dmitryikh/leaves) be enough for your task?

Can you please describe your use case?

[2019-10-17 14:58] StrikerRUS commented on #2505
@agcala You should use `estimators_`, not `estimator`.

[code]

[2019-10-17 17:10] arnwas commented on #2515
I am already using Go, mainly for speed reasons, when big amounts are to be prepared, and python's friends e. g. numpy are too slow and consume too much memory. On the other hand i realized lightGBM giving better models, so i wondered how i would combine those two. Rewriting my things in python is not really an option, as i had to give up python for above reasons. If you have suggestions for worka

[2019-10-18 00:35] pseudotensor opened #2516 "pickled model predict uses all cores always"
lgbm 2.2.4
Ubuntu 18.04

1) Get this data and decompress: https://archive.ics.uci.edu/ml/datasets/HIGGS

2) Run this:
[code]

Notice that uses 4 cores, 400% in top.

Then run:

[code]

Then see how uses *all* cores, e.g. 3200-4000% on my 40 virtual core system.

This means that if pickle and load and predict, the speed will be *very* sensitive to anything else running on the system.

Need pickle t

[2019-10-18 00:41] pseudotensor commented on #2516
`OMP_NUM_THREADS=4 python lgbm_read.py` but this works.

[2019-10-18 02:03] StrikerRUS commented on #2516
### 1.
Uhmm, it's quite confusing. You are predicting and **then** setting some param:
[code]

### 2.
`set_params()` is for fit stage. Predict has its own params. Try
[code]
Refer to #1340.

[2019-10-18 02:06] StrikerRUS commented on #2515
Thanks for the explanation!

Seems that https://github.com/dmitryikh/leaves/issues/64 can be treated as upstream issue. However, I'm adding this request in our hub.

[2019-10-18 02:09] StrikerRUS commented on #2515
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-10-18 02:09] #2515 closed

[2019-10-18 03:14] pseudotensor commented on #2516
Sorry, copy paste bug.

Then lightgbm is not consistent.  E.g., before pickling anything, if I do model.fit and then model.predict without any n_jobs passed to predict, then predict uses the same number of cores that fit uses.

Only when one unpickles the model and then does predict does it not use the same cores.

So there is an inconsistency in how many cores used by predict.

[2019-10-18 03:28] pseudotensor commented on #2516
I'll say that the solutions presented are sufficient.

[2019-10-18 03:28] #2516 closed

[2019-10-18 06:31] Sanchita-P opened #2517 "LightGBM Model not being saved correctly"
I am saving my model by doing this:
`best_gbm.save_model('best_gbm_raw_v2.1.txt', num_iteration=num_boost_round)`
However, when I am going through the txt file, I see that num_iterations parameter is 100 which is the default parameter. This is incorrect since I am explicitly passing num_boost_round while saving and it is not 100. Apart from this, all the other parameters are being correctly saved.

[2019-10-18 09:51] MotoRZR commented on #2302
For everyone's information, the sparrow algorithm has been implemented in CatBoost

[2019-10-18 09:55] guolinke commented on #2517
for the parameter logging error, refer to https://github.com/microsoft/LightGBM/issues/2208, it is a known issue, but don't affect the usage.

For the second question, I don't understand it clearly. Did you mean that removing the `min_gain_to_split` in dict but adding it to the function argument results in the different result?

[2019-10-18 09:59] guolinke commented on #2208
@Xiad32 these configurations just log the error values in the model file, it doesn't affect the normal usage.

[2019-10-18 10:16] agcala commented on #2505
**Yikes.** The **scikit-learn** people should have spotted that one. Thank you so much.

[2019-10-18 10:27] Sanchita-P commented on #2517
@guolinke Thank you for your response!
For the parameter logging issue, do you mean that the log will contain an incorrect number but will not affect any results after loading the saved model?

On passing the exact same parameters to Native LightGBM API and Sklearn API, I am getting different results. However, no matter the number of times I run the respective models, I get exactly the same result

[2019-10-18 10:40] Sanchita-P commented on #2517
@guolinke Thank you for your response!
For the parameter logging issue, do you mean that the log will contain an incorrect number but will not affect any results after loading the saved model?

On passing the exact same parameters to Native LightGBM API and Sklearn API, I am getting different results. However, no matter the number of times I run the respective models, I get exactly the same result

[2019-10-18 10:42] #2505 closed

[2019-10-18 10:59] guolinke commented on #2517
@Sanchita-P yeah, these loggings are just for recording the used parameters in experiments, it doesn't be loaded when loading model.

for the parameters consistency problem, you can try to use a new `lgb_train` before `lgb.train`, like
[code]

lgb_train is lazy-inited, and only inited one-time, so it will be constructed in the cv part. And some parameters (like `min_child_samples`) in that part ma

[2019-10-18 13:43] Sanchita-P commented on #2517
@guolinke Using a new lgb_train before lgb.train worked! Thank you so much, I have spent the last 15 hours trying to figure it out and was unable to find the solution. You're a savior :)

[2019-10-18 17:56] StrikerRUS commented on #2001
@MotoRZR

  https://github.com/microsoft/LightGBM/issues/2302#issuecomment-543641394

Can you please provide some references/details?

@GUEEN How is your progress going?

[2019-10-18 18:05] StrikerRUS commented on #2341
@guolinke Can we tick `serial_tree_learner.cpp`? Or do you want to do more refactoring?

[2019-10-18 18:07] StrikerRUS commented on #2363
@chris-smith-zocdoc Are you still facing this error?

https://github.com/microsoft/LightGBM/issues/2392#issuecomment-540001969

[2019-10-18 18:08] StrikerRUS commented on #2417
Closing due to inactivity. Feel free to reopen with new details!

[2019-10-18 18:08] #2417 closed

[2019-10-18 18:10] chris-smith-zocdoc commented on #2363
I've been using dense vectors to avoid this method for my current work, I'll try it again later and report back

[2019-10-18 18:13] StrikerRUS commented on #2435
Due to the lack of comments, I'm going to close this for now. I think we can get back to the discussion once `delocate` become more adult.

[2019-10-18 18:13] #2435 closed

[2019-10-20 07:01] joelrich opened #2518 "Stop training branch of tree once a specific feature is used"
I am doing some multivariate time series experiments with only partially stationary data. The idea is this:

1) First I introduce an additional feature which is monotonically increasing (but not strictly), e.g. an integer year_index assuming that I have several years of data.
2) Then I want to train a gradient boosting model. However, as soon as the feature year_index would normally be used, I wan

[2019-10-20 08:14] MotoRZR commented on #2302
There’s a reference to minimum variance sampling here:

https://catboost.ai/docs/concepts/algorithm-main-stages_bootstrap-options.html

Although I think it just speeds up training rather than providing out of core training.

[2019-10-21 04:42] onozeam commented on #766
I suggest that you change the filename to other than `lightgbm.py`.

[2019-10-21 09:42] LaughingGo opened #2519 "Different scale of sample weight cause different accuracy."
I'm using lightgbm in a regression task. Could anyone tell me that why I get very different result when I just change the sample weight to different scale?

For example,
case #1: all the sample weight are 1/N (N is the number of samples),
case #2: all the sample weight are 1,
and the result of case #1 has a big gap with case #2.

Many thanks for any reply!

[2019-10-21 12:21] StrikerRUS commented on #2519
Please refer to #905.

[2019-10-21 12:21] #2519 closed

[2019-10-21 13:58] AlbertoEAF opened #2520 "[python package] lightgbm Dataset.save_binary() affects model train"
Operating System: Linux x86_64 & python3.7 & lgbm 2.3.0 (installed through conda).

**Bug:**

Calling save_binary on the train_data lgb dataset produces different models, train binary and evaluation results than not calling save_binary on the train data before the train.

**How to reproduce:**

Saving the lgbm dataset prior to training changes the results of the training:

`

    train_data = lgb.

[2019-10-21 15:52] ndjensen commented on #2500
@StrikerRUS, can you take a look at https://github.com/ninia/jep/issues/205#issuecomment-544078377 to see if LightGBM should be improved to handle locales better?

[2019-10-21 16:19] guolinke commented on #2520
The Dataset object is lazy-inited, due to it cannot be changed after inited.
`save_binary` will force the init of Dataset, and then it could not be changed.
Then, the `cfg.TRAIN_PARAMS.copy()` in lgb.train will affect the init of Dataset.
Above all, in your case, you should pass the `cfg.TRAIN_PARAMS.copy()` in lgb.Dataset too.

[2019-10-21 16:19] #2520 closed

[2019-10-21 16:20] guolinke commented on #2517
I think this could be closed.

[2019-10-21 16:20] #2517 closed

[2019-10-21 17:56] felixcra commented on #1174
I just encountered this issue too. I think it is very strange behaviour, that there an error message is shown when using the default value, which disappears if increasing or decreasing `num_leafes` by one.

[2019-10-21 19:33] StrikerRUS commented on #2500
@ndjensen Thanks a lot for keeping us with updates! Can you please elaborate a little bit more, in what aspects locale handling can be improved?

[code]

[2019-10-21 23:12] ndjensen commented on #2500
I don't entirely understand it, you can read the other comments on the Jep ticket, but I think if you save a model file in one locale and load it in a different locale, the model file is not read correctly.  @ManuelMourato25 already attached a model file and it doesn't work if read when the locale is Portuguese.  @ManuelMourato25, please feel free to correct me if I'm not explaining it correctly.

[2019-10-21 23:16] StrikerRUS commented on #2503
@jameslamb @Laurae2 Can you please fix it ASAP? Refer to https://github.com/microsoft/LightGBM/pull/2510#issuecomment-544485006.

[2019-10-22 01:59] sandrawing opened #2521 "More parameters for customized evaluation function?"
In LightGBM docs, customized evaluation function should accept two parameters: preds, train_data. However, if I need another 1-D array which is not in train_data nor preds to calculate evaluation function (for instance, I want to group the train_data first and then calculate the evaluation function), how can I solve this issue?

[2019-10-22 07:21] louis925 commented on #1841
@julioasotodv Could you explain more about why reducing learning rate while increasing boosting rounds can lead to overfit? In my own experiments, I found that this approach improve the CV scores.

[2019-10-22 15:47] jameslamb commented on #2503
Thanks @rgranvil for reporting. Apologies for the delayed response, as I just returned from a few weeks of travel.

@StrikerRUS thanks for the ping. I can look ASAP

[2019-10-22 20:57] GUEEN commented on #2001
Sorry, I've been busy with other commitments recently. Still planning to return sometime

[2019-10-22 23:04] chris-smith-zocdoc commented on #2392
@imatiach-msft unfortunately I'm seeing this again.

The version of mmlspark I was using did not have this [commit](https://github.com/Azure/mmlspark/commit/163dead1c86c8c3b0506c65d32758a5bb9712f2f) merged in it yet. This hid the issue on my cluster because it artificially reduced the parallelism to the number of executors instead of num_cores * num_executors. Once I pulled that commit in I saw th

[2019-10-23 06:17] ngoanpham commented on #1217
@Rpygamer  @all
In prediction, I'd like to know classes name from prediction result.
How to get name of each classes after load model?

[2019-10-23 13:33] jameslamb commented on #2503
opened #2524 to hopefully address this. @rgranvil running your example code on that branch, I get the same metric from both approaches.

Thanks for providing such a clean reproducible example we could use!

[2019-10-23 21:03] Laurae2 opened #2525 "[R-package] Add unit tests for best metric iteration/value"
After PR https://github.com/microsoft/LightGBM/pull/2471 gets merged, unit tests should be added to ensure correctness of the iteration and value of the best metric during training of a LightGBM model.

A test matrix could be the following:

* Train + 1 metric
* Train + n metric
* n test + 1 metric
* n test + n metric
* Train + n test + 1 metric
* Train + n test + n metric

[2019-10-24 01:48] #2503 closed

[2019-10-24 12:54] kryptonite0 opened #2526 "Feature Request: customizable early_stopping_tolerance"
I have a situation where the default numerical tolerance (0.001) for early stopping is too large. My target has a gamma distribution and the LGB Regressor reaches convergence too early, when the numerous low target values are well approximated by the model, but the few large values are still underestimated. When I deactivate early stopping, I can see the loss metric still improving at the 4th or m

[2019-10-24 16:17] pavel-is24 commented on #1563
@zangell44 Could you share you Dockerfile?

[2019-10-24 20:29] suissemaxx commented on #1044
This works for me:

[code]

[2019-10-24 20:47] #2373 closed

[2019-10-25 15:07] StrikerRUS commented on #2525
@Laurae2 Are you going to work on this issue? If not, we should add `help wanted` label and close it according to the feature requests policy.

[2019-10-25 15:28] StrikerRUS commented on #2526
@kryptonite0 Can you please provide a reproducible example or training logs at least?

As I know, we do not have any **default** numerical tolerance. Refer to:
https://github.com/microsoft/LightGBM/blob/fc991c9d7e07fd8e460ea24d1f5609f61fd2af3f/python-package/lightgbm/callback.py#L227
https://docs.python.org/3/library/operator.html#operator.lt

Linking https://github.com/dmlc/xgboost/issues/4982 he

[2019-10-25 15:29] #2514 closed

[2019-10-25 15:34] StrikerRUS commented on #2509
Refer to _Huan Zhang, Si Si and Cho-Jui Hsieh. "[GPU Acceleration for Large-scale Tree Boosting](https://arxiv.org/abs/1706.08359)". SysML Conference, 2018._ and https://github.com/microsoft/LightGBM/issues/768#issuecomment-320573774.

Maybe @huanzhang12 can add something.

[2019-10-25 15:57] jameslamb commented on #2412
@henry090 thanks for the report and apologies for our delay. I will see if I can reproduce this.

[2019-10-25 17:36] henry090 commented on #2412
I tested another dataset from Kaggle competition and it works fine. The dataset which I mentioned earlier has 400 or even more columns. Maybe it is related to the number of columns.

[2019-10-25 19:14] StrikerRUS commented on #1893
R-package should be fixed in #2443.

[2019-10-25 19:14] #1893 closed

[2019-10-25 19:15] jameslamb commented on #1893
Thanks @StrikerRUS . Sorry, I should have come and closed this

[2019-10-25 22:09] ogru opened #2527 "Learning Rate Decay in the CLI version"
I am running a CLI version and I am trying to provide a list of learning rates to LightGBM but it reports an error when I do something like this:

learning_rate = 0.1,0.05,0.04,0.01

Is there any/better way to do this?

Many thanks!

[2019-10-26 09:11] guolinke commented on #2527
Learning rate schedule is not supported in CLI version.

[2019-10-26 09:11] #2527 closed

[2019-10-28 09:51] gaoJava opened #2531 "standard headers are not found"
Scanning dependencies of target lightgbm
Scanning dependencies of target _lightgbm
[  4%] Building CXX object CMakeFiles/_lightgbm.dir/src/lightgbm_R.cpp.o
[  4%] Building CXX object CMakeFiles/lightgbm.dir/src/main.cpp.o
[  4%] Building CXX object CMakeFiles/lightgbm.dir/src/application/application.cpp.o
[  6%] Building CXX object CMakeFiles/_lightgbm.dir/src/c_api.cpp.o
In file included from In

[2019-10-28 12:06] StrikerRUS commented on #2531
@gaoJava Please provide info about your environment (it was in the issue template).

[2019-10-28 21:37] jameslamb commented on #2477
it seems that [lintr did a release on October 1, 2019](https://cran.r-project.org/web/packages/lintr/index.html)! I am going to re-open this issue and pick it up tonight or tomorrow.

[2019-10-28 21:58] jameslamb commented on #2477
and [they updated the conda feedstock for r-lintr](https://github.com/conda-forge/r-lintr-feedstock/pull/9) 🙌

Seems that project has a bot that automatically opens a PR when a new version makes it to CRAN (or maybe when a new release is created on `jimhester/lintr`).

Either way, should be able to address this issue now!

[2019-10-29 00:50] Ibrokhimsadikov opened #2532 "Lightgbm error: CMake Error: The source directory "does not appear to contain CMakeLists.txt"
*** arch - i386
installing via 'install.libs.R' to C:/Users/Ibragim/R/win-library/3.5/lightgbm
CMake Error: The source directory "C:/Users/Ibragim/AppData/Local/Temp/Rtmp6R2GGP/LightGBM/lightgbm_r/src" does not appear to contain CMakeLists.txt.
Specify --help for usage, or press the help button on the CMake GUI.
CMake Error: The source directory "C:/Users/Ibragim/AppData/Local/Temp/Rtmp6R2GGP/Ligh

[2019-10-29 01:31] gaoJava commented on #2531
**environment**
lightgbm+MacOS+Anaconda 安装
1 macos:  3.1GHz intel core i5
                 8 GB 2133MHz LPDDR3
2 anaconda:  anaconda3
3 python:3.7

**error**
  OSError: dlopen(/Users/{xxx}/anaconda3/lib/python3.6/site- packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/gcc/lib/gcc/7/libgomp.1.dylib
Referenced from: /Users/{xxx}/anaconda3/lib/python3.6/site-packages/lightgbm/

[2019-10-29 03:16] Ibrokhimsadikov commented on #2532
Hi, Jameslamb.
I am using this version of R:
R version 3.5.3 (2019-03-11) -- "Great Truth"
Copyright (C) 2019 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

[2019-10-29 03:22] Ibrokhimsadikov commented on #2532
2. I even do not know about the version of Lightgbm, as I am installing it for the first time
3. I am using for windows 8
I followed the step by step guide by BenjaminLott here:
https://github.com/microsoft/LightGBM/issues/912

I am getting error about Cmake, and saysy  CMakeLists.txt not found

[2019-10-29 03:44] jameslamb commented on #2532
Ah I see. Those instructions are quite old, and not official documentation.

I recommend that you follow the steps here: https://github.com/microsoft/LightGBM/tree/master/R-package#installation

If you still get an error, please share the exact code that you ran and the full error log.

[2019-10-29 03:54] Ibrokhimsadikov commented on #2532
Thank you for your immediate reply, I will definitely follow your steps

[2019-10-29 06:04] #2531 closed

[2019-10-29 06:07] gaoJava commented on #2531
thanks,This problem has been solved,The reason is that I should use root to perform these steps.

[2019-10-29 08:30] BuGTEa opened #2534 "Using C_API LGBM_BoosterPredictForMatSingleRow and it runs out Segmentation fault"
## Environment info

Operating System: Ubuntu 18.04.3

CPU/GPU model: Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

C++/Python/R version: C++ 11

LightGBM version or commit hash:  8f7199a

## Error message

Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

## Reproducible examples
[code]
## Steps to reproduce

Run That Scripts Using CMakeLists. Model Loaded is success, but LGBM

[2019-10-29 09:21] guolinke commented on #2534
@imatiach-msft
And @BuGTEa , could you provide the model file (model.txt)?

[2019-10-29 15:25] jameslamb commented on #2532
Thank you. Once you've tried, please let me know what happens. If you're able to get `lightgbm`'s R package installed then we can close this issue. If not, we'll help you figure it out.

[2019-10-30 00:51] BuGTEa commented on #2534
Here it is. The model.txt is generated by Python API.
[model.txt](https://github.com/microsoft/LightGBM/files/3786410/model.txt)

[2019-10-30 02:40] guolinke commented on #2534
you should pass `handle` directly in `LGBM_BoosterPredictForMatSingleRow`, not its pointer.

[2019-10-30 02:40] #2534 closed

[2019-10-30 12:39] AlbertoEAF commented on #2520
Hello,

This does look like a bug @guolinke, could you take a look again?
I've done some tests with passing the train params to the lgb datasets too and this affects the model building, namely the created trees, even when using save_binary all the time, and changing parameters afterwards changes results again.

This is not good as I'm having incoherent results after parameter sweeps, just because

[2019-10-30 12:43] AlbertoEAF opened #2535 "[python package] lightgbm Dataset.save_binary() affects model train - (#2520) part 2"
Hello,

I had submitted the ticket #2520, please read that before this one as it gives all required context.
With @guolinke's answer I re-tested using those assumptions but they don't add up in the end or I'm getting something wrong.

I've done some tests with passing the train params to the lgb datasets too and this affects the model building, namely the created trees, even when using save_binary

[2019-10-31 02:44] guolinke commented on #2535
test0:

The parameters indeed can affect the dataset creation. Some will affect it directly, such as `max_bin`, `bin_construct_sample_cnt`, etc. And the widely-used parameter `min_data_per_leaf` will be used to pre-prune the features that cannot be split.

test2:

I don't understand what you mean. As the used parameters in dataset will be fixed after `save_binary`, and you use the different parame

[2019-10-31 02:45] guolinke commented on #2535
also refer to this comment: https://github.com/microsoft/LightGBM/issues/2517#issuecomment-543674055

[2019-10-31 19:26] pseudotensor opened #2536 "poor accuracy for RF vs. sklearn when column sampling"
I introduced a leak of the target, and LightGBM has issues seeing the leak when RF is used with moderate column sampling (0.5 or less).  But sklearn has no issues:

[leak_issue_new.zip](https://github.com/microsoft/LightGBM/files/3795482/leak_issue_new.zip)

There is only noise level changes in the leaky feature compared to the target.

[code]

No other parameters (bins, estimators, learning rate,

[2019-10-31 19:27] pseudotensor commented on #2536
Code for people who just want to stare and not download zip:

[code]

See how we set max_features for sklearn to match lightgbm.

[2019-11-01 07:11] guolinke commented on #2536
@pseudotensor could you provide the ncols?

[2019-11-01 07:36] guolinke commented on #2536
I think the sklearn's RF is colsample by node as well. And it seems more leaves than your lgb setting.

[2019-11-01 17:13] pseudotensor commented on #2536
In my case there is only 1 leaky feature, I was just discussing if there were many how that complicates things even more.

I'll try colsample_bynode, but you said it will easily fail if leaky feature is selected, so why is that good?

As I mentioned, I tried many changes to hyper parameters, including number of leaves.  That has no effect here.

[2019-11-01 17:28] thvasilo opened #2537 "Understanding how feature histograms get populated in data-parallel mode."
I'm trying to understand how the data parallel algorithm works in LightGBM

One main communication point is in the function [FindBestSplits](https://github.com/microsoft/LightGBM/blob/a36eb7e76f7ff6e80358aabfd2b6f1b2c04ad41d/src/treelearner/data_parallel_tree_learner.cpp#L149) where each worker populates a part of `input_buffer_`.

This `input_buffer_` is the one later getting reduced-scattered am

[2019-11-02 02:00] guolinke commented on #2537
Are there different block_len_ in different workers? And the features bin mapper should be the same across workers. Did you check them by the same fid?

[2019-11-02 02:04] guolinke commented on #2536
I don't know about your data. But I try larger colsample, or enable colsample by node, larger number of leaves, smaller min_data. All of them can significantly improve the performance. So I guess your data needs more over-fit.
I also check the model file of your code, it didn't always use the first feature.

[2019-11-02 02:12] pseudotensor commented on #2536
But how possible with 1000 random trees of depth 10 and large leaves that sampling columns by 0.3 doesn’t overfit either?  There are only like 10 columns!

[2019-11-03 01:23] guolinke commented on #2536
@pseudotensor sorry, what is `10 columns` from?
And for RF model, I don't think using more trees can over-fit.

LightGBM indeed will use the feature with the smaller index when the split gain is the same.
I don't think this is problem, since the split gain should be different for different features.

[2019-11-03 01:48] guolinke commented on #2536
you can also use this branch: https://github.com/microsoft/LightGBM/tree/rand-feature to enable the random feature selection when the gain is the same.
However, I guess the results should be the same.

I insist that the `num_leaves=31` and `colsample_bytree=0.3` is too simple for RF model.
Especially compared with sklearn with ultimate leaves and `col_sample_bynode=0.3`.

A simple test:

[code]

[2019-11-04 06:36] shashankg7 opened #2538 "Error loading libsvm format file with 'qid' column"
I am trying to read a libsvm format file with the following ex. data:

0 qid:0 0:520 1:2513 2:145 3:46 4:126171 5:9358 6:3923 7:27 8:2418 10:58 11:25 12:329919 13:118 14:2872 15:2872 16:33 24:1 36:1 51:52 52:596 53:17 54:1 55:6

using the following code:

x = lgb.Dataset('../model/svmtest').construct()

When running it, I get the following error:

[code]

[2019-11-04 07:32] guolinke commented on #2538
sorry, LightGBM doesn't support qid in libsvm format.

[2019-11-04 07:32] #2538 closed

[2019-11-04 12:18] thvasilo commented on #2537
The `block_len_` are the same between workers.

What I've noticed is that `this->smaller_leaf_histogram_array_[feature_index].SizeOfHistgram()` returns different values for the same feature_id for different workers. Here's an reprex:

[code]

Truncated output:

[code]

I guess what I'm missing is that on different workers `feature_id` over the `for (int feature_index = 0; feature_index < this->num

[2019-11-05 00:28] pseudotensor commented on #2536
I modified the script to have the additional parameters you added: `'num_leaves': 500, 'min_child_samples': 2,` and I didn't see the same results:

[code]

[code]

[2019-11-05 00:29] pseudotensor commented on #2536
Perhaps you guys fixed something in last couple months, since I'm not using the latest version.

[2019-11-05 02:17] guolinke commented on #2536
@pseudotensor ```colsample_bynode``` is important in your case, as it will use more “different” features in each tree.

[2019-11-05 02:46] guolinke commented on #2537
Thanks @thvasilo .
This actually is correct. The buffer is aligned with the real-feature-id. So Instead of inner_feature_index, you should examine the real_feature_index.

[2019-11-05 02:50] guolinke commented on #2537
[code]
This is wrong, index over `smaller_leaf_histogram_array_` is the inner index, not the real index.

And following is the right way to get the real_feature_index.

+    if (train_data_->RealFeatureIndex(feature_index) == examined_feature) {
+      printf("%d: Examined feature number of bins: %d\n", rank_, num_bins_for_feature);
+      printf("%d: Examined feature number of bins from data: %d\

[2019-11-05 15:28] Guillermogsjc opened #2542 "Spike and slab feature sampling priors (feature weighted sampling)"
Hi @guolinke ,

being thinking about the `feature_bagging`and crossing myself information with permutation importances and other tools related to feature selection on decision tree ensemble models, I have reached an idea about a possible feature on `LightGBM`.

Threre could set the posibility of **performing the feature bagging according to assigned probabilities of inclusion for each feature** on

[2019-11-06 02:26] JerryX2014 opened #2544 "How weights are used in LightGBM"
Hello, I tried to build a model with a binary target and weights by using lightGBM in R and compared it to a XGBoost model. The model is just one tree with subsample = 1 and colsample_bytree = 1. Then I run the lgb.model.dt.tree function to check the model and compared its output to the result from the xgb.model.dt.tree for the XGBoost model.

Then I found that, for the root node,
1) both lightGBM

[2019-11-06 03:12] guolinke commented on #2537
@thvasilo
for ```int num_bins_data = this->train_data_->FeatureNumBin(examined_feature);```
you should use the `feature_index`.
For most operations in code, you should use `inner_feature_index`.

[2019-11-06 03:16] guolinke commented on #2537
The `feature_index` here refers to the `inner_feature_index`. Different workers could have different real-featuer-index to inner-feature-index mapping. But the `buffer_write_start_pos_` is algined by the real-feature-index. And this alignment is done in `BeforeTrain` .

[2019-11-06 03:25] guolinke commented on #2544
you can check `internal_weight`.
LightGBM both use count and weight. Count is mainly used for `min_data_per_leaf` constraint.
The weight is used for split gain calculation and leaf outputs, and the `min_weight_per_leaf` constraint.

[2019-11-06 03:25] #2544 closed

[2019-11-06 05:10] JerryX2014 commented on #2544
Thanks Guolin. But I couldn't find internal_weight... I am using lightgbm v2.2.4 in R.

[2019-11-06 10:02] guolinke commented on #2544
https://github.com/microsoft/LightGBM/search?utf8=%E2%9C%93&q=internal_weight&type=

[2019-11-06 11:49] lpolisi opened #2546 "Tune parameters for quantile regression"
I have a problem where I will need to compute both predictions and some type of uncertainty along with the predictions. I've come across quantile regression which is available in LightGBM.

With this method, I will basically need three models. One for the lower bound, one for the higher bound and then the usual mean predictions.

How should the parameter tuning be done for these three models?

1.

[2019-11-06 12:55] kangshaoshun opened #2547 "lightgbm.basic.LightGBMError: Cannot add validation data, since it has different bin mappers with training data"
## Environment info

Operating System:

CPU/GPU model:

C++/Python/R version:
python3.6
LightGBM version or commit hash:
2.1.2
## Error message

raise LightGBMError(decode_string(_LIB.LGBM_GetLastError()))
lightgbm.basic.LightGBMError: Cannot add validation data, since it has different bin mappers with training data

## Reproducible examples

[code]

"""
## Steps to reproduce

the same valid data,

[2019-11-06 15:22] guolinke commented on #2547
you should set the `reference` to the validation sets.

[2019-11-06 22:43] #2547 closed

[2019-11-06 22:45] StrikerRUS commented on #2547
Or use `create_valid` method.

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html#lightgbm.Dataset.create_valid

[2019-11-06 22:47] StrikerRUS commented on #2478
@guolinke WDYT https://github.com/microsoft/LightGBM/issues/2478#issuecomment-540021056?

[2019-11-07 12:33] NahuelGrasso opened #2549 "How does the "weight column"(weights for each row) passed on lgb.Dataset affects the "objective function"(log loss) in training?"
## Summary

How does the **weight column**(weights for each row) passed on lgb.Dataset affects the **objective function**(log loss) in training?
Does the objective function take into account the weights of each row or should we change the **objective function** to consider the **weights**?

## Motivation

I am trying to do a binary classification where I know that certain rows must be predicted ri

[2019-11-07 14:09] ai7603 opened #2550 "OpenCL Bus error"
I write a test python script using GPU
but there is something wrong
the python script:
`
import lightgbm as lgb
import numpy as np

params = {'max_bin': 63,
'num_leaves': 255,
'learning_rate': 0.1,
'tree_learner': 'serial',
'task': 'train',
'is_training_metric': 'false',
'min_data_in_leaf': 1,
'min_sum_hessian_in_leaf': 100,
'ndcg_eval_at': [1,3,5,10],
'sparse_threshold': 1.0,
'device': 'gpu',
}

[2019-11-07 16:44] thvasilo commented on #2537
OK I think I've almost got it now.

you should use the `feature_index`.

Using the above I consistently see the number of bins being `from_train_data_bins == hist_size_bins + 1`, i.e. `int num_bins_data = this->train_data_->FeatureNumBin(feature_index);` will always return a number of bins equal to what I get from `SizeOfHistgram()` plus one (whether that's 3 vs. 4, 128 vs. 129, or 2 vs. 3).

Is t

[2019-11-07 19:08] StrikerRUS commented on #2546
@lpolisi I think that StackOverflow is a better place to ask questions of a such type with the aim to get more answers. You can start reading from the following tutorials:
https://medium.com/@qucit/a-simple-technique-to-estimate-prediction-intervals-for-any-regression-model-2dd73f630bcb
https://towardsdatascience.com/regression-prediction-intervals-with-xgboost-428e0a018b
https://scikit-learn.org/

[2019-11-07 19:08] #2546 closed

[2019-11-07 19:20] StrikerRUS commented on #2549
@NahuelGrasso

It does.

https://github.com/microsoft/LightGBM/blob/7cfb492e7733f73526fbf8958d850bbb94af83ed/src/objective/binary_objective.hpp#L124-L136

Also, refer to https://github.com/microsoft/LightGBM/issues/2023#issuecomment-466633536 and #905.

[2019-11-07 19:20] #2549 closed

[2019-11-07 19:25] StrikerRUS commented on #2550
@ai7603 Please make sure you're using the latest version of LightGBM and drivers for your GPU.

I remember we had a fix for cases with extremely small number of bins recently.

Ping @huanzhang12 for further investigation.

[2019-11-07 19:36] StrikerRUS commented on #2513
ping @lunz-s

[2019-11-07 19:38] StrikerRUS commented on #2536
Can this be closed?

[2019-11-07 19:51] StrikerRUS commented on #2521
@sandrawing You can modify this line to pass more params in `feval` function:
https://github.com/microsoft/LightGBM/blob/7cfb492e7733f73526fbf8958d850bbb94af83ed/python-package/lightgbm/basic.py#L2658
https://github.com/microsoft/LightGBM/blob/7cfb492e7733f73526fbf8958d850bbb94af83ed/R-package/R/lgb.Booster.R#L635

[2019-11-07 19:51] #2521 closed

[2019-11-07 19:54] StrikerRUS commented on #2363
@chris-smith-zocdoc Any news?

[2019-11-07 19:58] StrikerRUS commented on #2320
@Mahdi-Hosseinali Any updates?

[2019-11-07 20:15] pseudotensor commented on #2536
Ok

[2019-11-07 20:15] #2536 closed

[2019-11-08 01:32] Mahdi-Hosseinali commented on #2320
Sorry for the long delay, I was hoping to get to it after my graduation, but took on a job and the company has a very tight deadline. However, it should be over by the end of November and I'll put this as my top priority. I hope that is okay with you and sorry for not sticking to my word.

[2019-11-08 01:34] chenjunboBUPT commented on #1717
When i use it with basic env, i works well.
But when i want to use it with pytorch env, i encounter this error.
OSError: exception: access violation reading 0x000001E028ADE000

[2019-11-08 05:16] kenkoooo opened #2552 "Cannot add validation data if the validation data is loaded from a file."
## Environment info

Operating System: Ubuntu 18.04
CPU/GPU model:
C++/Python/R version: Python 3.7

LightGBM version or commit hash: 2.3.0

## Error message
[code]
## Reproducible examples

The following one works:
[code]

But the following one doesn't work:
[code]

[2019-11-08 05:57] kenkoooo commented on #2552
It worked. I don't know why I failed a lot of times. :disappointed:

[2019-11-08 05:57] #2552 closed

[2019-11-08 07:46] aprilffff opened #2553 "how lgb.Dataset reference work and how data value affect bin construction"
when I contruct a valid set binary file, It's clear that I should set reference as a contructed-train-binary-file. But I'm wondering how "reference" work here.
1. whether use same num of bin count?
2. same bin cut thresholds for every feature in validset construnction?

After bins constructed, raw values of features are replaced by the index of bins. But during the calculation of leafouts or infog

[2019-11-08 07:59] Jon-W commented on #586
solved my problem too, thanks

[2019-11-08 16:27] guolinke commented on #2537
@thvasilo yes, different workers will optimize its own feature bin mappers based its own data partition.

[2019-11-08 16:33] guolinke commented on #2553
there is a "bin mapper", which stores how to map the continues floating values to discrete bins, in the dataset. Set reference will use the reference's (usually trainset) bin mapper to construct the valid set.

For the information gain, only the order of feature matters, since the features values only decide the cut point,  and don't be taken account into information gain calculation.

[2019-11-08 16:50] NahuelGrasso commented on #2549
Thanks! :)

[2019-11-08 20:37] jameslamb commented on #1944
I want to add (for whoever comes back to this issue), that we should consider factoring `ggplot2` out of the demos when they are re-written. Right now the demos are the only reason `ggplot2` is still a `Suggests` dependency of the R package (see #2543 for more info) and I don't think it's giving us a lot of added benefit beyond what can be done in the base plotting options available in R.

[2019-11-09 16:29] StrikerRUS commented on #2320
@Mahdi-Hosseinali No problem! Thanks! I just wanted to know that this issue is not abandoned.

[2019-11-09 16:40] StrikerRUS commented on #2526
Ping @kryptonite0

As you can see from examples, there is no "default numerical tolerance (0.001)":
https://github.com/microsoft/LightGBM/blob/785e477856b9e9e9e69123caf175dbb8455c3b11/examples/python-guide/advanced_example.py#L52-L59

[code]

[2019-11-09 18:43] jrzaurin commented on #1644
I know this issue is long closed, but I am wondering, should not the line

`preds=np.reshape(preds, (len(labels), 10))`

be

`preds=np.reshape(preds, (len(labels), 10), order='F')`?

[2019-11-09 19:12] jrzaurin commented on #1644
I know this issue has been close since forever, but I am wondering, should not the line:

`preds=np.reshape(preds, (len(labels), 10))`

be

`preds=np.reshape(preds, (len(labels), 10), order='F')`?

[2019-11-10 23:00] jameslamb commented on #2532
@Ibrokhimsadikov just checking, were you able to get the package installed?

[2019-11-11 00:21] rydevera3 opened #2558 "boost_from_average does not work with custom metric"
Hello all,

I created a custom metric but `boost_from_average` does not work if I set it to `True`. Is there a trick to getting it to work with a custom metric? Here is a reproducible example:

[code]

Then I implement without the custom metric to observe the predictions:

[code]

Then I use my custom metric:

[code]

The outputs are equal when `boost_from_average=False`.

[2019-11-11 05:03] guolinke commented on #2558
@rydevera3 is there any warning information?

[2019-11-11 05:05] guolinke commented on #2558
@rydevera3 okay, the root cause the customed objective, not the customed metric.
As boost_from_average has dependence over objective function, so it is not supported for customed objective. You can use `init_score` to set your own initial score, based on your objective functions.

[2019-11-11 05:05] #2558 closed

[2019-11-11 07:00] rydevera3 commented on #2558
Thank you @guolinke for the info. Do you have an example of how to use `init_score` for the multi-class classification case? Ideally, I'd just like to be able to replicate the boost from average functionality and then I can extend the objective function in the way I need to for my project.

[2019-11-11 09:05] ttpro1995 opened #2559 ""Input format error when parsing as LibSVM " when read Yahoo Learning_to_Rank_Challenge dataset"
I am trying to reproduce [Yahoo LTR experiment](https://github.com/microsoft/LightGBM/blob/master/docs/Experiments.rst#comparison-experiment) using python code. So far I can't find any Jupyter Notebook as example on how to load Yahoo LTR data into LightGBM

first two line of set1.train.txt look like this
[code]
My python code:

[code]

I get error

[code]

[2019-11-11 09:07] ttpro1995 commented on #1368
How do you fix UTF-8 problem ? Please give me example code.

[2019-11-11 14:15] #2455 closed

[2019-11-11 15:05] StrikerRUS commented on #2559
Refer to https://github.com/microsoft/LightGBM/issues/2538#issuecomment-549246478.

[2019-11-11 15:05] #2559 closed

[2019-11-11 15:10] StrikerRUS commented on #2525
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-11-11 15:10] #2525 closed

[2019-11-11 15:14] StrikerRUS commented on #2478
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2019-11-11 15:14] #2478 closed

[2019-11-11 15:18] StrikerRUS commented on #2134
Closing in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open (or post a comment if you are not a topic starter) this issue if you are actively working on implementing this feature.

[2019-11-11 15:18] #2134 closed

[2019-11-11 22:38] Yellow-Duck-Type opened #2561 "What does `FeatureMetainfo.bias` mean?"
Hello there, I would like to know if anyone could explain a little bit about `FeatureMetainfo.bias`?
The only place modifying this value is in `HistogramPool.DynamicChangeSize`
[code]
But `BinMapper.GetDefaultBin()` is the bin index for feature value 0.0f.
Since for **numerical feature**, the bins are ordered from low to high values, `BinMapper.GetDefaultBin() == 0` means all of a feature's values

[2019-11-12 01:57] guolinke commented on #2561
it is offset.

[2019-11-12 01:57] #2561 closed

[2019-11-12 02:19] ttpro1995 commented on #2538
@guolinke  how to resolve this issue ?

[2019-11-12 03:46] guolinke commented on #2561
The histogram actually is not fully scanned. For the "offset=1", you can skip the first bin, by the subtraction of other bins.

[2019-11-12 03:48] guolinke commented on #2538
you can using sklearn's libsvm loader, and pass the X, y, qid to lgb.Dataset.

[2019-11-12 07:30] ttpro1995 commented on #2559
solve it, use the script [yahoo2libsvm.py](https://github.com/guolinke/boosting_tree_benchmarks/blob/master/data/yahoo2libsvm.py) to preprocess data.

Then pass in the output data of the script

`train_data = lgb.Dataset("yahoo.train")`

[2019-11-12 11:45] StrikerRUS commented on #1990
7feaaefb5b730524d12449e48d93a862a668a024

Total errors found: 88

<details>

<summary><b>Report (Clickable):</b>

</summary>

[code]

</details>

[2019-11-12 14:57] Yellow-Duck-Type commented on #2561
Thanks for explaining!

[2019-11-12 19:09] chris-smith-zocdoc commented on #2363
I'm still seeing this bug https://github.com/microsoft/LightGBM/issues/2392#issuecomment-545192286 so I'd be hard to tell them apart at this point

[2019-11-12 20:14] Yellow-Duck-Type commented on #2561
Could you please explain a little bit more about the **benefit** of this?
For every node split, the histogram is scanned twice: from left and from right. I observed the only difference of the 2 scans are the skipped bins. If it does not skip bins, could it only scan once? That probably saves a good amount of time.

[2019-11-13 02:29] guolinke commented on #2561
the default_bin could be the missing value (when missing_type is zero and default_bin is zero). Then it could be in left or right side.
https://github.com/microsoft/LightGBM/blob/master/src/treelearner/feature_histogram.hpp#L97-L111

[2019-11-13 02:45] JerryX2014 commented on #2544
OK, I found the reason

The internal_weight is outputted in the JSON file, but lgb.model.dt.tree function doesn't output internal_weight information. The code below shows it outputs internal_value and internal_count, but not internal_weight.

https://github.com/microsoft/LightGBM/blob/7feaaefb5b730524d12449e48d93a862a668a024/R-package/R/lgb.model.dt.tree.R#L99-L114

I added the definition to the s

[2019-11-13 08:12] henry0312 opened #2564 "[FATEL] GBDT::LoadModelFromString can't detect alias of objective"
## Environment info

Operating System: Any

CPU/GPU model: Any

C++/Python/R version: Any

LightGBM version or commit hash: 2.2.3 and 7feaaefb5b730524d12449e48d93a862a668a024

## Error message

[code]

## Reproducible examples

[code]

[code]

## Steps to reproduce

1. run `save.py`
2. run `load.py`

[2019-11-13 16:46] nonsignificantp commented on #2552
I'm currently having the same problem with a similar hardward/software configuration. Any clue why is this happening?

[2019-11-13 22:55] Yellow-Duck-Type commented on #2561
Thanks for explaination!
I understand if `skip_default_bin` is **True**, the default bin gradient and hessian will be put on left or right according to `dir`, just like the `use_na_as_missing=True` case.
However, I thought this feature is already achieved by line:
https://github.com/microsoft/LightGBM/blob/3e3d76f64bfa3d95f9769bd82be7124158ff3df7/src/treelearner/feature_histogram.hpp#L529
https://

[2019-11-14 00:52] StrikerRUS commented on #1129
https://changelog.travis-ci.com/building-on-ibm-power-and-ibm-z-cpu-architectures-126959

[2019-11-14 06:45] cyhong549 opened #2566 "mape metrics calculate result not equal to the equation"
In the mape metrics, the calculation code is below, for my understanding, it may avoid the unlimit inf value, however, it will cause the error result when label is small. should we reduce the 1.0f or it is a bug?

std::fabs((label - score)) / std::max(1.0f, std::fabs(label));

## Environment info

Operating System:linux

CPU/GPU model:cpu

C++/Python/R version:python

LightGBM version or commit ha

[2019-11-14 08:23] guolinke commented on #2566
This is by design.
And when label is small, the mape is naturally unstable.
It is better to use mape for non small lables.

[2019-11-14 08:23] #2566 closed

[2019-11-14 11:38] guolinke commented on #2561
I remember when offset=1,  the histogram actually only contains (num_bin -1) bins. The last bin is `num_bin -2`.

[2019-11-14 11:47] guolinke commented on #2558
refer to https://github.com/microsoft/LightGBM/blob/master/src/objective/multiclass_objective.hpp#L150

class_init_probs_ is the distribution of classes over training data.

[2019-11-14 12:01] btrotta commented on #2344
PR is open for this.

[2019-11-14 12:27] PointCloudNiphon commented on #2478
Hello, every one I meet this error below,How can I solve it..
LightGBMError: Do not support non-ascii characters in feature name.

[2019-11-14 14:29] StrikerRUS commented on #2478
@PointCloudNiphon Hi!

For now, there cannot be any non-ASCII symbols in string model representation. So, you should simply rename your feature names before passing them into LightGBM.

[2019-11-15 02:59] #2564 closed

[2019-11-15 06:15] jameslamb opened #2569 "[R-package] package documentation using roxygen2 7.0.0+"
`roxygen2` 7.0.0 was [recently released](https://twitter.com/hadleywickham/status/1194338595202576385?s=19) to CRAN. To close this issue, install `roxygen2` locally and then change the R package's code so that the following works:

[code]

[2019-11-15 06:15] jameslamb commented on #2569
closing in favor of being in #2302 . If you'd like to pick this up, comment on the issue and we will open it back up!

[2019-11-15 06:22] jameslamb commented on #1990
https://github.com/microsoft/LightGBM/commit/a8dc03250e235a00baf3ecefe4155023624dd239

Total errors found: 87

<details><summary>report (clickable)</summary>

[code]

</details>

[2019-11-15 09:39] yekimov opened #2570 "Why labels in dataset are float32 only?"
I've delved some source code, and have found that labels for datasets can have only float32[] type.
I wonder why is there such restriction exists? Won't it be segnificant restriction if I want to
predict big numbers, like hundreds of millions or maybe billions?

Sorry for my English, thanks.

[2019-11-15 15:38] rajibrj43 commented on #2478
 Hello, every one I meet this error below,How can I solve it..
LightGBMError: Do not support non-ascii characters in feature name.
Bellow are my features. I can not find the ASCII character in my feature.
| ID | Name | Age | Photo | Nationality | Flag | Overall | Potential | Club | Club Logo | Value | Wage | Special | Preferred Foot | International Reputation | Weak Foot | Skill Moves | Work Rate

[2019-11-15 18:44] StrikerRUS commented on #2478
@rajibrj43 Hi! Indeed, there are no any non-ASCII symbols in your feature names. And I cannot reproduce your issue - LightGBM trains just fine with those feature names.

[code]

[2019-11-15 18:59] StrikerRUS commented on #2570
It's done for better memory usage and speed.
You can use `double` (#1120):
https://github.com/microsoft/LightGBM/blob/26ff099ab47cd98f7613503ff5976f7359e3465b/include/LightGBM/meta.h#L23-L24
However, it's better to transform your labels before training.

[2019-11-15 18:59] #2570 closed

[2019-11-15 19:03] #2553 closed

[2019-11-15 19:03] StrikerRUS commented on #2537
Can this be closed?

[2019-11-15 22:37] jameslamb commented on #1990
https://github.com/microsoft/LightGBM/commit/26ff099ab47cd98f7613503ff5976f7359e3465b

Total errors found: 87

Seems a new one was introduced in a previous PR?

[code]

<details><summary>Report (Clickable)</summary>

[code]

</details>

[2019-11-16 04:24] henry0312 opened #2571 "Release v2.3.1"
It's time to release v2.3.1 :)

[2019-11-16 10:43] thvasilo commented on #2537
Hello Nikita,

I haven't had the chance to work on my side of the project yet, once I
manage to replicate the results of the scatter gather using another
collective I'll close this.

--
Sent from a mobile device. May contain autocorrect errors.

On Fri, Nov 15, 2019, 20:04 Nikita Titov <notifications@github.com> wrote:

[2019-11-16 13:22] StrikerRUS commented on #2571
Since we do not provide any artifacts for R-package yet, I think we can not wait for #2471 and https://github.com/microsoft/LightGBM/pull/2524#issuecomment-545719165. And it seems there are no any other blocking issues.

[2019-11-16 17:03] jameslamb opened #2572 "[R-package] sorting of observation weights and initial scores is broken in lgb.cv()"
In #2503 , it was reported that using certain sampling strategies could cause incorrect results if the indices for subsetting weren't sorted. This was "fixed" in the R package by #2524 , however that PR introduced a bug noted in https://github.com/microsoft/LightGBM/pull/2524#issuecomment-545719165.

Essentially, `slice.lgb.Dataset()` takes in a vector of indices (row numbers) and returns a new `D

[2019-11-16 21:12] #2477 closed

[2019-11-17 10:21] sid1898 commented on #547
@Laurae2 what is the reason behind the jcrosskey model not giving the expected result.

[2019-11-17 14:36] andewfitting opened #2575 "Question about fobj and feval"
def loglikelihood(preds, train_data):
    labels = train_data.get_label()
    preds = 1. / (1. + np.exp(-preds))
    grad = preds - labels
    hess = preds * (1. - preds)
    return grad, hess

def binary_error(preds, train_data):
    labels = train_data.get_label()
    return 'error', np.mean(labels != (preds > 0.5)), False

This code is from advanced example.

Is it different between preds of fe

[2019-11-17 17:37] andewfitting commented on #2575
![eval_metric](https://user-images.githubusercontent.com/51317227/69011274-8853de00-099b-11ea-87a0-aabf00fac410.png)
![eval2](https://user-images.githubusercontent.com/51317227/69011275-8ab63800-099b-11ea-8a1a-1b87ddcc67e4.png)

[2019-11-17 18:52] StrikerRUS commented on #1911
Closing in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open (or post a comment if you are not a topic starter) this issue if you are actively working on implementing this feature.

[2019-11-17 18:52] #1911 closed

[2019-11-18 03:28] aprilffff opened #2577 "Question about score update between rounds for lambdarank"
Hi, I dont understand how you manage the score updates between rounds for lambdarank objective. As far as I know, the computation for ndcg needs labels in descrete value, but the output after first round would give continuous values as prediction. So how you convert the continuous output to descrete values and calculate the residuals from raw label as next rounds input?

[2019-11-18 07:07] henry0312 commented on #2478
So for now, I create and put a work-around for Python.

[code]

In the future, I (or someone) will remake python-package to include feature_names in it (outside cpp).

[2019-11-18 07:09] henry0312 commented on #2478
Hello,

I have noticed this issue recently and I think the current behavior is not great,
howerver, I also agree with https://github.com/microsoft/LightGBM/issues/2478#issuecomment-536375659 and https://github.com/microsoft/LightGBM/issues/2226#issuecomment-502113232.

So for now, I create and put a work-around for Python.

[code]

In the future, I (or someone) will remake python-package to includ

[2019-11-18 15:37] PointCloudNiphon commented on #2478
ok,I WILL HAVE A TRY,THANKS.

发自我的小米手机
在 OMOTO Tsukasa <notifications@github.com>，2019年11月18日 下午3:07写道：

So for now, I create and put a work-around for Python.

import types

# gbm is an instance of LGBMModel.
# you have feature_names
gbm.booster_._feature_names = feature_names
gbm.booster_.feature_name = types.MethodType(lambda self: self._feature_names, gbm.booster_)
# NOTICE: `pickle` can't dum

[2019-11-18 17:52] pford221 commented on #2575
In the last experiment, how would the lightgbm library even know to apply the logit link function (inverse of the sigmoid function) since no `objective` was passed. Does it profile the `label` and if it sees binary labels, assumes logit link function?

[2019-11-18 17:59] thvasilo commented on #2537
Tried this out today and it seems like I've managed to properly align the buffers, so it looks like I'm able to replicate the results of the scatter gather.

I'm using a map-reduce approach to gather all histograms, and the best solution I've found is to use the `buffer_write_start_pos_` as the reduction key, this allows me to circumvent all the confusion with inner/real feature indices.

Closing

[2019-11-18 17:59] #2537 closed

[2019-11-18 18:00] pford221 opened #2578 "Output tree structure to dataframe"
Hi -

Similar to how XGBoost provides a method for its Booster class to output the tree structures learned to a Pandas.DataFrame, would the maintainers have interest in having something similar for LightGBM?

I have a prototype working with Python API that I could clean up and submit a PR?

Here's the XGBoost Python implementation:
https://github.com/dmlc/xgboost/blob/master/python-package/xgboost