[2020-05-12 20:58] mgzde commented on #3066
I am really grateful for helping you so quickly but I got an error like this when I run "git clone master" so I couldn't try running Rscript build_r.R again.
![Ekran Görüntüsü (69)](https://user-images.githubusercontent.com/65132187/81744813-5df75f00-94ac-11ea-9092-2c9ad4df4eba.png)

[2020-05-12 21:00] jameslamb commented on #3066
ha you are fast! I was thinking about two things at once and made a mistake while typing. There was a typo in my comment and I edited it immediately.

It should have been `git pull origin master`, not `git clone master`.

[2020-05-12 21:10] mgzde commented on #3066
Okay, so I changed and it has become like this, as a result I got the same error again.
![Ekran Görüntüsü (70)](https://user-images.githubusercontent.com/65132187/81745529-aebb8780-94ad-11ea-824e-26f7856f2e22.png)
So I also attach the screenshot of C:\Program Files\Rtools
![Ekran Görüntüsü (72)](https://user-images.githubusercontent.com/65132187/81745797-1c67b380-94ae-11ea-8561-eb8bed5109eb.png)

[2020-05-12 21:15] jameslamb commented on #3066
aha! We are getting closer! I noticed that you have `C:\Program Files\Rtools` in your `PATH`. Can you please change it to `C:\Program Files\Rtools\bin`, close this CMD shell, open a new one, and re-run `Rscript build_r.R` from the root of the `LightGBM` repository?

I suspect that `make` is in `Rtools\bin` but not being found because your path ends in `Rtools\`.

If that's the case I'll make this

[2020-05-12 21:28] mgzde commented on #3066
OH MY GOD! It worked! I have lightgbm package now! You're amazing and I really really appreciate what you are doing and your help. Thank you so much @jameslamb  :)

[2020-05-12 21:35] jameslamb commented on #3066
WOO AWESOME! I am glad it's working for you! Thanks for your patience and for using `LightGBM`!

**For those arriving at this issue from search engines**:

If you try to build the R package on Windows and get an error like `"warning in system(cmd): 'make' not found"`, be sure that `Rtools\bin` is on your `PATH` environment variable.

[2020-05-12 21:35] #3066 closed

[2020-05-13 01:52] guolinke commented on #3053
@shaoguang123
can you try the update in that branch again? I add some debug outputs, so please paste the related log.
without the reproduce code, it is hard to detect the problem, so it will be better if you can provide more information if there are problems.

[2020-05-13 02:25] guolinke commented on #3074
fixed in f155379c1fe4e53d5d1c7fd195987a8d3aec4331

[2020-05-13 02:25] #3074 closed

[2020-05-13 04:02] jameslamb commented on #3064
Thanks @jeroen for your help here and your amazing work on the R toolchain for Windows!

I think we will move ahead with my proposal in #3065 , using `objdump` to generate a `.def` file and `make.exe` for building the package, since those tools are bundled in previous `Rtools` and `Rtools40`.

I really want to preserve the user experience of our installation "just working" if you have CMake and Rt

[2020-05-13 09:04] fengxh0628 commented on #3074
thank you for your quick fix @guolinke

I tested but still failed:
`[LightGBM] [Fatal] Check failed: (best_split_info.left_count) > (0) at /home/fengxh/Downloads/LightGBM/src/treelearner/serial_tree_learner.cpp, line 622 .`

Any idea how i can avoid it?

[2020-05-13 09:46] guolinke commented on #3074
@fengxh0628 can you provide a reproduce example for this case? thanks

[2020-05-13 09:48] fengxh0628 commented on #3074
Just a simple case:

[code]

Thanks.

[2020-05-13 11:25] guolinke commented on #3053
@shaoguang123 I think the problem is found. please try the fix in #3077

[2020-05-13 11:25] guolinke commented on #3074
@fengxh0628 can you try the fix in #3077 ?

[2020-05-13 14:18] fengxh0628 commented on #3074
It worked well. Thanks.

[2020-05-13 16:58] StrikerRUS commented on #3060
Closed via #3078.

[2020-05-13 16:58] #3060 closed

[2020-05-13 22:21] zcyang opened #3082 "feature_fraction_bynode does not work"
I am using python version of lightgbm 2.2.3 and found
[code]
 does not seem to work. The results are the same no matter what value I set.

I only checked the  boosting```gbdt``` mode. Does it support random forest ```rf``` mode?

[2020-05-13 22:44] StrikerRUS commented on #3082
`feature_fraction_bynode` was added in `2.3.0` version (PR #2330). Please update your version of LightGBM.

[2020-05-13 22:44] #3082 closed

[2020-05-14 02:47] shaoguang123 commented on #3053
@guolinke With the version `const-hess-goss`, it seems that the convergence problem no longer happens. Where do you think the problem might be？

[2020-05-14 04:45] guolinke commented on #3053
as the fix in #3077, the (weighted) hessian is wrong for the regression problem.

[2020-05-14 05:30] shaoguang123 commented on #3053
Before the fix, the hessian is weighted, but the flag is_constant_hessian_  is set to True.
And the flag is_constant_hessian_  affects the construction of histogram。
Is it means before the fix, the result under goss mode is not exactly right, whether I haven't encounter the convergence problem?

[2020-05-14 05:38] guolinke commented on #3053
yeah, the goss with regression objective is wrong before that fix.

[2020-05-14 05:52] shaoguang123 commented on #3053
Ok, Thank you for your answers！It quite helps me a lot!  @guolinke

[2020-05-14 13:55] odimka opened #3084 "LightGBM parallel learning crashes with voting tree_learner"
Although it works with feature tree_learner (default).

## How you are using LightGBM?
* Command Line Interface (CLI)

LightGBM component: examples/parallel_learning

## Environment info

Operating System: Linux

CPU/GPU model: CPU

C++ compiler version: g++ 9.2.1

CMake version: 3.16.3

Java version: N/A

Python version: N/A

R version: N/A

Other: built with -DUSE_DEBUG=ON

LightGBM version or c

[2020-05-14 17:11] jameslamb commented on #2335
just noting here this is now officially, fully closed by #2965

[2020-05-14 19:45] jameslamb commented on #1143
I think that the current state of our `pkgdown` stuff, including new changes from #3072 , is sufficient to keep this issue closed. I've marked this :ballot_box_with_check: in #2302 as I don't think any additional work is required

`pkgdown` site: https://lightgbm.readthedocs.io/en/latest/R/index.html

For more targeted recommended fixes, like #3036 , please create new issues.

[2020-05-14 21:23] StrikerRUS commented on #1143
@jameslamb Please comment on this: https://github.com/microsoft/LightGBM/issues/1143#issuecomment-493770556.

I thought this issue should be closed after that we can simplify our `build_r_site.R` script up to simple call of `pkgdown::build_site()`. We can't (?) do this right now due to remaining TODOs from the comment above.

[2020-05-15 02:48] shaoguang123 commented on #3053
@guolinke Aonther question I want to ask is that in the code before fix, since the flag is_constant_hessian_ is set to True, when we calculate the split gain and the the output of the leaves, the hessian we used is always the first element of the hessians?

In the code before fix, if we make the `multiply` always be 1, the convergence problem will also not happen any more. Is that right?

[2020-05-15 03:27] jameslamb commented on #1143
Ah ok, apologies for missing that commentt.

I'm confused by that comment @StrikerRUS ,can you clarify?

I just ran this and it produced a site that looks identical to our current site:

[code]

If I understand correctly, https://github.com/microsoft/LightGBM/issues/1143#issuecomment-493770556 is actually three areas for improvement that should be documented in their own issues

 * `build_articles

[2020-05-15 03:33] guolinke commented on #3053
@shaoguang123 yeah, but it will be a wrong algorithm, as the distribution of data is changed during training.

[2020-05-15 03:33] #3053 closed

[2020-05-15 20:38] StrikerRUS commented on #1143
@jameslamb Thanks a lot for your explanation!
Actually, I thought that not having those sections in R-package will cause a failure in site building process. In other words, they are **required**. Now I understand that they are **optional**.

I'm absolutely OK with breaking this meta-issue into individual ones!
But given that you've said, I believe it is enough to have only #1944.

Can we now repla

[2020-05-15 21:16] jameslamb commented on #1143
I think so, yes! Once we merge #3086 , can you leave the `fix/remove-devtools` branch enabled on readthedocs?

I'll try pushing a change that replaces `build_r_site.R` with `Rscript -e "pkgdown::build_site(install = FALSE)"`.

Thanks for all your work getting the R documentation set up!

[2020-05-15 21:19] StrikerRUS commented on #629
Maybe we just can wait for a while? 😄

  https://www.engadget.com/windows-10-32-bit-oem-173055990.html

[2020-05-15 21:26] StrikerRUS commented on #1143
Sure! Thank you!

[2020-05-15 21:36] jameslamb opened #3088 "[R-package] MSVC warning: "MSB8029: The Intermediate directory or Output directory cannot reside under the Temporary directory""
See https://github.com/microsoft/LightGBM/pull/3076#issuecomment-629477537 for background. On R package builds with MSVC and Visual Studio 2019, we see the following warning in the build logs:

See, for example, [the most recent `master` build](https://ci.appveyor.com/project/guolinke/lightgbm/builds/32890583/job/n9e9f9x0j3hmjtdb)

![image](https://user-images.githubusercontent.com/7608904/8209754

[2020-05-16 07:12] jameslamb opened #3091 "[R-package] [ci] MacOS Travis builds timing out"
See the conversation starting at https://github.com/microsoft/LightGBM/pull/3086#issuecomment-629481888. Currently, MacOS `r-package` builds on Travis are failing with an error like this:

In this case, "no output" means "nothing written to the log".

It seems that our build times for the R package on Mac were already very close to 10 minutes but just under this. It's possible the issue is caused

[2020-05-16 07:46] shaoguang123 opened #3093 "Training was stuck when use 'goss' with the latest version 2.3.2"
## How you are using LightGBM?

LightGBM component: **Python package**

## Environment info

Operating System: **Windows**

CPU/GPU model: **CPU**

Other:

LightGBM version or commit hash:  The latest master branch downloaded on 16 May 2020.

## The parameters：
`model = LGBMRegressor(max_depth=10, learning_rate=0.01, n_estimators=1000, num_leaves=250,min_child_samples=200, colsample_bytree=0.2, bo

[2020-05-16 08:31] guolinke commented on #3093
@shaoguang123 could you provide a reproduce example?

[2020-05-16 08:52] shaoguang123 commented on #3093
Actually, this problem doesn't happen very often. Like the example above，when I use n_jobs=40, the problem maybe disappear.
In order to work out it easier for us, I will use some small dataset and try to reproduce this problem.
I'll let you know as soon as I make progress.@guolinke

[2020-05-16 13:04] Laurae2 commented on #3075
@jameslamb as LightGBM does not crash anymore when using an R integer matrix, we can deprecate the non `*2()` versions.

[2020-05-16 13:17] Laurae2 opened #3094 "[R-package] LightGBM results change between int/num"
## How you are using LightGBM?

LightGBM component: R-package

## Environment info

(...)

Other: applies to any R version / compiler combination

LightGBM version or commit hash: 0e3509c

## Error message and / or logs

Training a model with integer labels seem to provide wrong results and/or change LightGBM behavior.

Training matrix :
* row 1: variables: 0, 1 => label 1
* row 2: variables: 1, 0

[2020-05-16 16:57] jameslamb commented on #3091
I did also try using `processx::run()` on Mac builds...that didn't have a meaningful impact on build times (the way it did for Windows in #2965 )

[2020-05-16 16:59] jameslamb commented on #3094
Wow thank you for the detailed write-up! I will look into this.

[2020-05-16 17:28] #3091 closed

[2020-05-16 17:37] StrikerRUS commented on #3091
Interestingly, Azure build hasn't been affected: same ~7min.

[2020-05-16 18:17] jameslamb commented on #3075
@Laurae2 ok thanks! I'll open a PR with a deprecation warning, and then when we do 3.0.0 (#3071 ) we can remove them

[2020-05-16 20:15] jameslamb commented on #1944
I just updated the title of this issue per this comment: https://github.com/microsoft/LightGBM/issues/1944#issuecomment-599140770

[2020-05-16 20:43] jameslamb commented on #3075
Closing for now since we've agreed on direction. This issue is in #2302 with other features.

[2020-05-16 20:43] #3075 closed

[2020-05-17 01:28] jameslamb commented on #1143
^ #3098 removes `build_r_site.R`

[2020-05-17 14:26] #3084 closed

[2020-05-18 14:38] #3036 closed

[2020-05-18 16:41] parayamelo opened #3099 "[R-package] MAPE metric not being minimized in R"
Hi,

I am running Lightgbm in R (R version 4.0.0, Lightgbm version 2.3.2), with metric = "mape". I see that when I run cross validation (lgb.cv), the best iteration is always the one with the maximum value of mape.

For example, I run cross validation with nrounds = 200. Last value:

[200]:  valid's mape:0.47669+0.033924

best.iter <- lgb.cv$best_iter

<lgb.CVBooster>
  Public:
    best_iter: 200

[2020-05-18 16:54] jameslamb commented on #3099
Thanks for the report @parayamelo, and sorry for the issue !

I will try to reproduce this behavior on a sample dataset. If I can't reproduce it, I'll need some more information from you.

[2020-05-18 16:56] parayamelo commented on #3099
Thank you @jameslamb! Yes, please, let me know if I can help you with something else.

[2020-05-18 19:50] StrikerRUS commented on #3099
@jameslamb We should make this regex to not catch `MAPE`
https://github.com/microsoft/LightGBM/blob/1f3e72c43ca8485eeba988738ecb0e977c7977f1/R-package/R/lgb.Booster.R#L599

[2020-05-18 19:53] jameslamb commented on #3099
:scream: thank you for pointing that out. I won't have time to investigate for a few more hours, that will help!

[2020-05-19 03:28] nyk510 opened #3100 "[bug] keyerror when print scikit-learn interface classifier (and regressor)"
## How you are using LightGBM?

python package: `version=='2.3.1'`

## Environment info

* Python 3.7.7 (default, Mar 26 2020, 15:48:22)
* [GCC 7.3.0] :: Anaconda, Inc. on linux
* Operating System: Ubuntu 16.04.6 LTS / running on Docker
* CPU/GPU model: CPU Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz
* C++ compiler version:
* CMake version:

LightGBM version or commit hash: 2.3.1

## Error message an

[2020-05-19 05:54] jameslamb commented on #3099
@parayamelo , @StrikerRUS was right, the issue was https://github.com/microsoft/LightGBM/issues/3099#issuecomment-630401721

`mape` conflicted with `map` (mean average precision, used in ranking tasks) and gets classified as a maximization problem.

I think I've fixed this in #3101. If you'd like to test, you can build from that pull request:

[code]

Thank you very much for reporting this issue a

[2020-05-19 07:13] mirekphd commented on #3014
On the contrary - rather than upgrading the environment, you need to pin all packages used by LightGBM, including sklearn to old versions from 6 months ago when the "current" (latest) LightGBM release was built. There are more and more API discrepancies with the recent versions of sklearn...

@StrikerRUS : a release is long overdue...

[2020-05-19 08:13] STHSF opened #3102 "[BUG]Does LightGBM support non-ASCII characters NOT THE FEATURE NAME"
When using non-ASCII characters in the features it rase `LightGBMError: Do not support non-ASCII characters in feature name.`
The features as:
![image](https://user-images.githubusercontent.com/8037442/82302031-a69ea300-99eb-11ea-990b-0b123f9e60d0.png)

and the error as:
![image](https://user-images.githubusercontent.com/8037442/82302096-b918dc80-99eb-11ea-8748-f7853ca77207.png)

[2020-05-19 09:21] mirekphd commented on #3100
I'm getting the same `KeyError` (`_changed_params` raised in `sklearn/utils/_pprint.py`) but for a different LGBM hyperparameter - `n_estimators` when trying to `print` an imported model object (LGBM regressor model) which worked many times before for the same binary object until the latest upgrade in scikit-learn.

We train many LGBM models versions each day (thank you for their stability!) and p

[2020-05-19 11:15] mirekphd commented on #3100
I can now confirm that indeed the problem was introduced in `scikit-learn==0.23.0`, but downgrading the package to `scikit-learn==0.22.2.post1` eliminates it.

I think @nyk510 that it should be an issue for scikit-learn devs too - will you report it there or shall I?

[2020-05-19 12:41] parayamelo commented on #3099
Thanks @jameslamb for the fix and @StrikerRUS for pointing out where the error was! I will test it and come back to you.

[2020-05-19 13:45] parayamelo commented on #3099
@jameslamb I tested the solution on 2 different datasets, in one that I trusted it worked, in the other one it worked, but I think there is a mistake on how I construct the dataset, because it finds the lowest mape at the first iteration. I will use this branch for the moment, will this be fix for future releases? Thank you once again!

[2020-05-19 15:16] jameslamb commented on #3099
Glad it's working!

Yes absolutely. #3101 will be merged in the next few days. It just needs to go through our normal review process.

[2020-05-19 16:13] parayamelo commented on #3099
Great! Thanks again, I will close the issue then.

[2020-05-19 18:50] nyk510 commented on #3100
@mirekphd
That's certainly true.

I've created an issue here:D

[2020-05-19 19:19] jameslamb commented on #3099
@parayamelo thanks! I am actually going to leave this open. Until that pull request is merged, other users might experience the same problem and then open a new issue if they don't see this one.

[2020-05-19 19:21] NicolasHug commented on #3100
This will be fixed in 0.23.1 which should be out soon

https://github.com/scikit-learn/scikit-learn/issues/17206

[2020-05-19 19:30] StrikerRUS commented on #3102
Should be fixed in #2976.

Please try the latest `master` branch or wait for a next release: #3071.

[2020-05-19 19:30] #3102 closed

[2020-05-19 19:34] StrikerRUS commented on #3014
@mirekphd

Please refer to #2987 for the discussion about pinning dependencies.

We are preparing `v3` release: #3071.

[2020-05-19 19:40] NicolasHug commented on #3100
In fact 0.23.1 is already out so the issue can probably be closed (it's a scikit-learn issue anyway)

[2020-05-19 20:59] osgrass opened #3103 "how to get metrics from C_AP"
Hi, I have a question regarding how to obtain metrics of training/validation from each iteration. I am calling c_api from c++ library. I see this in the document, I wonder if it can be done from c_api? Any clues would be appreciated. Thanks.

Xinmin

is_provide_training_metric 🔗︎, default = false, type = bool, aliases: training_metric, is_training_metric, train_metric

set this to true to output m

[2020-05-20 01:46] nyk510 commented on #3100
@NicolasHug Thank you for your polite comment!

[2020-05-20 06:33] srinadhan commented on #3064
This worked for me also, you are great life saver, I am struggling this for last 2 days

[2020-05-20 11:09] keyurjain opened #3106 "[BUG] LightGBM fails on GPU with high cardinality categorical variables"
## How you are using LightGBM?

Python Package

## Environment info

Operating System:
Ubuntu

CPU/GPU model:
Nvidia P40

LightGBM version or commit hash:
Latest

## Error message and / or logs
"bin size 16855 cannot run on GPU"

I know that there is an issue with lightgbm on gpu with high cardinality features. To quote @guolinke :
"GPU version cannot support categorical features with high cardina

[2020-05-20 14:45] jameslamb commented on #3064
Thanks for the report @srinadhan , and for using `LightGBM`. Glad it is working for you!

The changes in #3065 will be merged in the next few days.

[2020-05-20 23:15] guolinke commented on #3106
Catboost actually converts the categorical features into numerical ones.
And you can convert them by yourself.

[2020-05-20 23:15] #3106 closed

[2020-05-21 06:52] NaveenSrikanthD opened #3107 "Calculation of scale_pos_weight for multi class"
I am working on an implementations and using lightgbm .I have a problem with unbalanced classes my target variable is multi class. I have seen other issue the formula to calculate scale_pos_weight for binary class data

What has to be formula for Multiclass ?. can anyone please guide me

Below is the distribution for of my classes
High:3646904
Low:217191
Medium:292517
Other:525522

Total Records :

[2020-05-21 15:08] StrikerRUS commented on #3107
`scale_pos_weight` is used only for binary classification. For multiclass problem you can use `balanced` option from `class_weight`: https://scikit-learn.org/stable/modules/generated/sklearn.utils.class_weight.compute_class_weight.html.

[2020-05-21 15:08] #3107 closed

[2020-05-22 03:45] jameslamb commented on #2353
re-opening this because I'm actively working on it, to try to give us more CI capacity for all the work going on in the R package (#3065 and https://github.com/jameslamb/LightGBM/pull/25)

[2020-05-22 03:59] zexuan-zhou opened #3109 "Add use_missing in sklearn API"
## Summary

Looks like in the sklearn API doesn't take `use_missing` (https://lightgbm.readthedocs.io/en/latest/Parameters.html#use_missing) as a parameter

## Motivation

To allow user to turn off `use_missing`

## Description
Code to preproduce (lightgbm version 2.3.0)
[code]
gives error
[code]

[2020-05-22 04:10] parsiad commented on #3052
Thanks!

[2020-05-22 04:10] #3052 closed

[2020-05-22 06:06] imatiach-msft commented on #2981
@guolinke I have some great news!  I was able to resolve this issue, but only after pivoting in my debugging strategy several times.  I had a lot of trouble narrowing down the cause of the issue - I added a lot of std::cout debug but it did not help, partly because the errors that appeared were always very random.  After struggling with getting valgrind to work with Java (and spark), I gave up on

[2020-05-22 18:07] StrikerRUS commented on #3109
`use_missing` can be passed via `kwargs`. But `kwargs` are bugged in new minor (`0.23.0`) scikit-learn release: #3100. It should be resolved in the latest version (`0.23.1`) though. But I had no time to check that.

[2020-05-22 18:07] #3109 closed

[2020-05-22 18:09] zexuan-zhou commented on #3109
Thanks. Will keep an eye on that

[2020-05-22 19:04] StrikerRUS commented on #2353
@jameslamb If I'm not mistaken, Azure Pipelines and GitHub Actions share the same containers. Maybe this information will help you somehow.

[2020-05-22 19:09] jameslamb commented on #2353
@StrikerRUS that does help! I got very close on my fork last night, actually: https://github.com/jameslamb/LightGBM/pull/28

Was able to get past the `command not found` errors for `conda` and some other issues. My goal is to get that PR working on my fork for at least `lint` task and all `r-package` tasks across all operating systems, and then I'll open a PR here for us to discuss. I think a good

[2020-05-22 20:45] StrikerRUS commented on #2353
@jameslamb

Wow, great! That is exact place where I abandoned my attempts to get it work. 🙂

Agree with all your other points!

[2020-05-22 22:10] jameslamb commented on #2353
Your work up to https://github.com/microsoft/LightGBM/issues/2353#issuecomment-565809654 was extremely helpful!

[2020-05-22 23:39] ddxgz opened #3111 "cstdint header in C API"
Since `c_api.h` header file includes `<cstdint>` and `<cstring>`, when I was trying to call the C API from Swift, but got error that could not find those header files.

There's no problem to call the C API of XGBoost by usinig the same way, as its c_api.h also includes  `<stdint.h>` if `<cstdint>` is not defined.

## How you are using LightGBM?
C API

## Environment info

Operating System: MacOS 1

[2020-05-23 02:13] guolinke commented on #3103
you can refer our python-package code:
https://github.com/microsoft/LightGBM/blob/7fe10fa10b529805e447de523d56bbf8a589ae23/python-package/lightgbm/basic.py#L2880-L2911

basically, you need to call LGBM_BoosterGetEval.

[2020-05-23 02:13] #3103 closed

[2020-05-23 02:16] guolinke commented on #3111
we do have `cstdint` in c_api.h

https://github.com/microsoft/LightGBM/blob/7fe10fa10b529805e447de523d56bbf8a589ae23/include/LightGBM/c_api.h#L18

and in c_api.c, it includes c_api.h:
https://github.com/microsoft/LightGBM/blob/7fe10fa10b529805e447de523d56bbf8a589ae23/src/c_api.cpp#L5

[2020-05-23 02:37] #3067 closed

[2020-05-23 19:03] kailex opened #3112 "Error in cv_booster$record_evals[["valid"]][[first_metric]]"
## How you are using LightGBM?
I'm trying to implement custom objective and evaluation functions. Lightgbm works fine either with custom objective or evaluation function, but not both.

LightGBM component:
* R package

## Environment info

* Operating System: Debian 10.4
* CPU/GPU model: Intel Core i5
* GCC: 8.3.0
* CMake version: 3.13.4
* R version: 4.0.0
* LightGBM version or commit hash: 2.3.2

[2020-05-24 02:21] jameslamb commented on #3112
@kailex thanks for using `LightGBM` and for the reproducible example! I will take a look in the next day or two and get back to you

[2020-05-24 12:23] mirekphd commented on #3100
@nyk510, the issue negatively impacting `lightgbm` was indeed fixed in `scikit-learn==0.23.1`, so the issue here can be probably closed.

On the other hand, the fixed version of scikit-learn 0.23.1 does not get installed by default by `pip` in my containers, and it has to be pinned or else the buggy version 0.23.0 gets installed by default (probably other packages that use `scikit-learn` did not g

[2020-05-24 12:36] NicolasHug commented on #3100
This is surprising, what are you using? On a clean env, `pip install scikit-learn` will install 0.23.1. If you already have a scikit-learn version installed you'd need to use the `--upgrade` flag.

[2020-05-24 13:46] mirekphd commented on #3100
Right, but I thought that the need for a forced upgrade does not apply to `docker builds`... apparently the use of docker's cache replicates the situation of a previous package version being already "installed".

When I look into Jenkins log for a build triggered by my unpinning of `scikit-learn` (from previous working version `0.22.2.post1`), I see that package installations layers with both `pip

[2020-05-24 13:53] mirekphd commented on #3100
But wait, there's more.:) During the next automatic build of this python container 15 minutes later (this time a time-triggered one intended to check for available package and security upgrades) did correctly identify that a newer version of scikit-learn is available, but since only build has changed, the script ignored this change and left the buggy version 0.23.0. So I suppose we had the well ko

[2020-05-24 22:13] heisenberg72 opened #3115 "num_leaves and max_leaves yields different results although states as aliases"
The results are different based on selection as you can see here with digits dataset.
I first noticed it with my large dataset, and tried to reproduce it on public available dataset.

![digits](https://user-images.githubusercontent.com/35179399/82766112-807a6800-9e1c-11ea-9ec7-046ad284a3e8.PNG)

[2020-05-25 02:24] #3099 closed

[2020-05-25 02:25] jameslamb commented on #3099
@parayamelo this fix has been merged to `master`, thanks again for using `LightGBM` and for reporting this issue!

[2020-05-25 17:04] parayamelo commented on #3099
@jameslamb Thank you!

[2020-05-25 18:19] jameslamb commented on #3112
@kailex I think I've found the issue, and proposed a fix in #3117 . If you want to try it, you can install the R package from the branch in that pull request:

[code]

[2020-05-25 18:55] raphay3l opened #3118 "Performing Test MM_MALLOC - Failed"
Hi!

Unable to build GPU support. Please help.

I had tried VS 2017 with CUDA 8.0, 9.0, 10.0, 10.1 and 10.2 and also VS 2019 with CUDA 10.2. I am installing on Windows 10 inside Anaconda Prompt.

Below reports show details of my software and failure report.

![image](https://user-images.githubusercontent.com/13442202/82837554-53cc5c00-9ec1-11ea-8f8e-6ac40bd5ec7d.png)

![image](https://user-images.

[2020-05-25 19:04] jameslamb commented on #3118
@raphay3l thanks for using `LightGBM` and for the report! `Performing test MM_MALLOC - failed` does not necessarily mean the installation is broken. It is just a check to see how the library should approach `malloc`-type operations (https://github.com/microsoft/LightGBM/blob/5c0baf6fe008a9d59d604d0dd2742d4be4f9d6e1/include/LightGBM/utils/common.h#L29-L41)

Did you experience some other issue runni

[2020-05-25 19:53] Laurae2 commented on #3118
@raphay3l The `MM_MALLOC` macro failing is not an issue as it is related to choosing the correct header library containing `malloc` (unrelated to your GPU issue).

What is the error you encountered while compiling LightGBM with GPU support?

[2020-05-25 20:04] raphay3l commented on #3118
@Laurae2 @jameslamb thank you for swift response. Noted. I am closing this issue - resolved.

[2020-05-25 20:04] #3118 closed

[2020-05-25 20:08] StrikerRUS commented on #3115
In the second case `max_leaves` param is overwritten by `num_leaves` argument from classifier's constructor. You can see it in the logs:
[code]

Please use arguments from constructor if needed params are among them.

[2020-05-25 20:08] #3115 closed

[2020-05-26 07:18] Dronablo opened #3120 "Constant zero loss when using subset datasets"
## How you are using LightGBM?
* Python package
* LightGBM component: Dataset subsets.

## Environment info

Operating System: Windows 10 x64

CPU/GPU model: i7-9800X / RTX 2060

C++ compiler version:  Microsoft (R) C/C++ version 19.25.28610.4 for x64

CMake version:  3.16.19112601-MSVC_2

Python version: 3.8.1

LightGBM version or commit hash: 9654f16528d2d1e3462a298106cb1fc6ed43cbac + fixes to C

[2020-05-26 10:55] PhilipMay opened #3121 "Documentation Improvement: parameter 'num_iteration' of 'Booster.predict'"
The `num_iteration` parameter of `Booster.predict` is unclear for me. When I only want to use the first tree (first boosting round) for the prediction: Do I have to say `num_iteration=0` or `num_iteration=1`? Is it zero based?

If wanted I could provide a PR...

**Bonus question that should be documented:**
What happens if I use a random forest booster? Does `num_iteration` specify only one tree o

[2020-05-26 11:37] ElmiRakh opened #3122 "set_params to n_jobs does not resolve predict hanging with multiprocessing"
## How you are using LightGBM?

* Python package

LightGBM component:  2.3.0 and 2.3.1

## Environment info

Operating System: Ubuntu 18.04

CPU/GPU model: N/A

C++ compiler version:  N/A

CMake version:  N/A

Java version:  N/A

Python version: 3.7.1

R version:  N/A

Other:  N/A

LightGBM version or commit hash:  2.3.0 and 2.3.1

## Error message and / or logs

I have a number of trained lgbm mo

[2020-05-26 12:51] guolinke commented on #3120
I think you should set label  for whole_dataset .

[2020-05-26 13:05] kailex commented on #3112
@jameslamb I tried it and it seems that the issue is fixed.

[2020-05-26 13:55] Dronablo commented on #3120
Thanks a lot, solution works!

[2020-05-26 13:55] #3120 closed

[2020-05-26 16:10] StrikerRUS commented on #3122
@ElmiRakh I can't preproduce the issue locally, but `n_jobs` for prediction should be set via `kwargs` of `predict()` method. `set_params()` is for `fit()`.

https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMModel.html#lightgbm.LGBMModel.predict

[2020-05-26 16:10] #3122 closed

[2020-05-26 19:24] heisenberg72 commented on #3115
@StrikerRUS I'm glad you cleared that out for me, but still, why official documentation states one can use both names for the same parameter?

[2020-05-26 21:08] StrikerRUS commented on #3115
Because they are aliases of the same parameter and you can use **any** of them. But when you specify **multiple** aliases for the same parameter at the same time, only one is applied.

[2020-05-26 22:54] heisenberg72 commented on #3115
@StrikerRUS Where did I specify multiple aliases for the same parameter at the same time?
These two runs are independent.

[2020-05-26 23:03] jameslamb commented on #3115
hey @heisenberg72 , sorry this might not be obvious.

The information about parameter "aliases" in the documentation is used LightGBM-wide, and doesn't just apply to the scikit-learn interface to the Python API for LightGBM.

The constructor for `LGBMClassifier` is inherited from `LGBMModel`, and that class's explicitly sets `num_leaves=31`: https://github.com/microsoft/LightGBM/blob/796ba80332669

[2020-05-27 01:35] ocworld opened #3123 "[QST] What means the last column, the expected value, in pred_contrib output"
I have a question about pred_contrib output.

When I read doc in lightgbm web page, I found below comment.

If you want to get more explanations for your model’s predictions using SHAP values, like SHAP interaction values, you can install the shap package (https://github.com/slundberg/shap). Note that unlike the shap package, with pred_contrib we return a matrix with an extra column, where the las

[2020-05-27 13:23] StrikerRUS commented on #3123
Please refer to https://github.com/microsoft/LightGBM/issues/1969#issuecomment-480580776.

[2020-05-27 13:27] StrikerRUS commented on #2981
Closed via #3110.

Thank you very @imatiach-msft !

[2020-05-27 13:27] #2981 closed

[2020-05-28 05:01] DeiPlusAY commented on #2742
I also found this issue on GPU build.

[2020-05-29 06:05] mayer79 opened #3127 "SHAP in C++"
An idea about SHAP: the R package of LightGBM offers native R code to calculate SHAP decompositions. This is great but e.g. lacks the relevant decompositions into pairwise contributions (=interaction decompositions). So an R user does not have direct access to SHAP interactions for LightGBM. Python users will usually rely on the "shap" package in Python but R users are a bit lost.

In XGBoost, the

[2020-05-29 07:07] PhilipMay commented on #3121
My research showed that `num_iteration=0` is the same as `num_iteration=None`. So the first tree (boosting round) is like saying `num_iteration=1`.

The other questions are still lasting. Feedback is very welcome. :-)

[2020-05-29 11:02] candalfigomoro opened #3128 "Decouple boosting types"
With xgboost you can build (a sort of) Random Forest by setting `num_parallel_tree`>1 and `nrounds`=1

In LightGBM we can build (a sort of) Random Forest by setting `boosting`='rf'

Since the `num_parallel_tree` and `nrounds` params are decoupled in xgboost, what you can do is to set `num_parallel_tree`>1 and `nrounds`>1 to build a "**boosted random forest**". This is not possible in LightGBM afai

[2020-05-29 14:07] StrikerRUS commented on #3121
@PhilipMay Hi!

Here are answers for your questions.

Trees are zero-based.

`0` means "use all trees":

          https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMModel.html#lightgbm.LGBMModel.predict

RF has the same logic as all other boosters:
https://github.com/microsoft/LightGBM/blob/0a4a7a86f5a1d3146c36c7d8c082154a193d4893/src/boosting/gbdt_prediction.cpp#L53-L63

https://gi

[2020-05-29 14:57] StrikerRUS commented on #3127
Hi @mayer79 !
Actually, LightGBM has native SHAP values calculation in cpp from the original author. And I think that R-package calls these cpp functions, but do not re-implement it in the R code.

Unfortunately, it is unlikely that new features from SHAP package like feature interactions will be added into LightGBM code.

Please refer to https://github.com/microsoft/LightGBM/issues/1350#issuecomm

[2020-05-29 20:35] arnwas commented on #2515
He would, although those might be less well-known. But not all projects do need those, as mine does hardly at all. The only reaason to use numpy would - in my case - be sheer performance, an go does it by itself as opposed to python.

[2020-05-29 21:25] mayer79 commented on #3127
I see... bad news for R users then!

[2020-05-29 21:25] #3127 closed

[2020-05-30 10:44] heisenberg72 commented on #3115
@jameslamb
Oh, I see now. Thank you very much for your clarification. I wasn't aware that LGBMClassifier works through scikit learn API. Documentation for LGBMClassifier (https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html) is very clear, although it wasn't clear for me from this page https://lightgbm.readthedocs.io/en/latest/Parameters.html that these parameters are n

[2020-05-31 02:26] btrotta opened #3130 "[R-package] add support for interaction_constraints"
Related to #3126. I have made an attempt at implementing the R interface to specify the interaction constraints, but needs review from the R maintainers.

[2020-05-31 12:46] yanivzoh opened #3131 "[bug][Python-package] - leaf_weights changes after saving and loading model"
## How you are using LightGBM?
Python package.
version=='2.3.1'

## Environment info

Operating System: Microsoft Windows 10 Pro, OS Version: 10.0.18363 N/A Build 18363

CPU/GPU model: Intel Core i7-1065G7 CPU @ 1.30GHz

C++ compiler version:

CMake version:

Java version:

Python version: Python 3.7.6 | packaged by conda-forge | (default, Jan  7 2020, 21:48:41) [MSC v.1916 64 bit (AMD64)] on win3

[2020-05-31 17:26] jameslamb opened #3132 "[ci] New cpplint warning: C++ header after another system header"
I started seeing warnings like this on Travis today ([example build](https://travis-ci.org/github/microsoft/LightGBM/jobs/693187886))

include/LightGBM/boosting.h:12:  Found C++ system header after other system header. Should be: boosting.h, c system, c++ system, other.  [build/include_order] [4]
include/LightGBM/boosting.h:13:  Found C++ system header after other system header. Should be: boostin

[2020-05-31 17:33] jameslamb commented on #3132
There is an open PR in `cpplint` that looks related to this: https://github.com/cpplint/cpplint/pull/133

[2020-05-31 18:25] jameslamb commented on #3132
`cpplint` tries to enforce the Google style guide for C++ code. In that guide's section on [include order](https://google.github.io/styleguide/cppguide.html#Names_and_Order_of_Includes):

[2020-05-31 20:08] StrikerRUS commented on #3131
The only difference between two files is in one number:

![image](https://user-images.githubusercontent.com/25141164/83361511-5aac1080-a392-11ea-930b-bc3b995eddea.png)

And they differ in two last digits (17th and 18th). If I'm not mistaken, `double` has about 16 significant digits.

@guolinke

[2020-05-31 20:16] StrikerRUS commented on #3132
Here is the breaking commit: https://github.com/cpplint/cpplint/commit/1ccffc7234e683be4eb2a0a3484b7f1eb05e7293

[2020-06-01 02:39] kshitijmamgain opened #3134 "Running GPU on deep learning VM"
## How you are using LightGBM?
Hello this is my first time reporting an issue, I have succesfully built and run lightGBM with GPU in colab however I am unable to debug the problem while running it on the gcp vm. vm image had pre installed lightgbm I have tried installing lightgbm using both given approaches:
__Case 1.__ pip install lightgbm --install-option=--gpu which gave an error shown below
__

[2020-06-01 06:23] ZSCDumin opened #3135 "Is there any document about how to implement monotone constraint in lightgbm?"
Is there any document about how to implement monotone constraint in lightgbm?

[2020-06-01 06:36] tkruse commented on #3132
Hi, it was me who merged the cpplint commit and released that change without closing the MR https://github.com/cpplint/cpplint/pull/133 at the time. Sorry for the disruption.
It is released as 1.5.0.

Please discuss in https://github.com/cpplint/cpplint/pull/133 if you think the changed warnings are problematic.

[2020-06-01 10:23] guolinke commented on #3131
It is related double2str/str2double functions.
I remember we used all standard c++ functions for them.

[2020-06-01 14:50] jameslamb commented on #3132
@tkruse not a problem! Our code was out of spec with the style guide and the new release brought it closer to compliance. Thanks so much for all your hard work on `cpplint`! We use it on every build here, and I think it's helped us catch a lot of issues.

[2020-06-01 15:36] yalwan-iqvia opened #3137 "Error loading model file produced on different version/platform"
On trying to load a LightGBM model produced using python/LightGBM 2.2.3/linux, loading into LightGBM 2.3.1 via Julia FFI on windows fails.

Specifically, this error is encountered while trying load a file for use in the test suite for the julia wrapper.

## How you are using LightGBM?

Julia FFI wrapper to C -library

LightGBM component:

## Environment info

Operating System: Windows

CPU/GPU mod

[2020-06-01 18:49] StrikerRUS commented on #3132
Hi @tkruse !

Thanks a lot for your work and finding time to come here!
Could you please check this comment https://github.com/microsoft/LightGBM/pull/3133#discussion_r432994999? Is it expected that cpplint complains on `<LightGBM/application.h>` listed as a first item but everything is OK with `"application.h"` in `src/application/application.cpp` file?

[2020-06-01 18:49] StrikerRUS commented on #3131
So we can't do anything with it, right?

[2020-06-01 18:54] StrikerRUS commented on #3134
Hi @kshitijmamgain !

For the **Case 1** you need to provide `opencl-include-dir` and `opencl-library` options. Refer to https://github.com/microsoft/LightGBM/tree/master/python-package#build-gpu-version for how to do it.

For the **Case 2** I don't see any issues. LightGBM installation was successful.

[2020-06-01 18:59] StrikerRUS commented on #3135
Hi @ZSCDumin !

Monotone constraints are already implemented in LightGBM. Refer to https://lightgbm.readthedocs.io/en/latest/Parameters.html#monotone_constraints for how to specify them.

Also, we have an unmerged PR that will add new version of monotone constraints: #2305. And here is the paper about it: https://github.com/microsoft/LightGBM/files/3457826/PR-monotone-constraints-report.pdf.

[2020-06-01 18:59] #3135 closed

[2020-06-01 19:11] StrikerRUS commented on #3137
LightGBM 2.3.1 has version 3 of model file, while 2.2.3 produces version 2. However, if I'm not mistaken, new version of LightGBM is able to load old model: https://github.com/microsoft/LightGBM/pull/2269#discussion_r304874713.

@yalwan-iqvia Do you manually modify text model before loading back?

[2020-06-01 19:13] #3132 closed

[2020-06-01 19:24] yalwan-iqvia commented on #3137
So I thought this might be related, so I loaded and re-saved (via linux) to get a V3 model file. Same error occurred.

Then I tried to truncat number of trees in boosted model (cause I wondered if that would be related) and same error occurred

Loaded and re-saved model: https://github.com/IQVIA-ML/LightGBM.jl/blob/afc7cc18e9a69b4a47ed52902cf50960ec2c8719/test/ffi/data/gain_test_booster
Error: htt

[2020-06-01 21:10] kshitijmamgain commented on #3134
<br>Thanks for your  response, I also tried pip install lightgbm --install-option=--gpu --install-option="--opencl-include-dir=/usr/local/cuda/include/" --install-option="--opencl-library=/usr/local/cuda/lib64/libOpenCL.so" and it ran successfully however I get the following error when I import the library:
__Error__:
---------------------------------------------------------------------------
OSEr

[2020-06-01 21:49] StrikerRUS commented on #3134
According to your logs, **Case 2** worked fine for you. Why are you continuing experiments with `pip` installation?

[2020-06-01 22:22] kshitijmamgain commented on #3134
Hi!  that showed same error. I was unable to import lightgbm with Case2 as well

[2020-06-01 22:53] #2353 closed

[2020-06-02 00:19] StrikerRUS commented on #3134
What exact error?

Let's go with **Case 2** because it produces more logs by default.

As a starting point, remove old broken LightGBM installations, run these commands and paste logs here.
https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version

[2020-06-02 00:41] kshitijmamgain commented on #3134
I am still learning on this side but, one thing I would like to highlight is that my default python version is 3.7 but log shows that lightgbm installs in python3.5.

[2020-06-02 02:42] zouqian2468 opened #3138 "Define custom loss function"
How can I define custom loss function on the scala version of lightGBM?

[2020-06-02 03:15] kshitijmamgain commented on #3134
Hi, at the outset thanks for helping me with this.. so I have uninstalled the LightGBM installations and ran the commands on the link. Below is the log for it. However when I import the lightgbm now and run following on notebook:

Thanks again, I don't know what is it I'm doing wrong
## log details
jupyter@higgs-vm-vm:$ pip uninstall lightgbm
Found existing installation: lightgbm 2.3.1
Uninstallin

[2020-06-02 09:24] mayer79 opened #3139 "prediction failure with integer data"
System: R 3.6.3, lgb 2.3.2, Windows 10

LightGBM predictions fail silently for data matrix of type integer. This e.g. happens if a data set consisting of factors only is converted via `data.matrix`.

[code]

In the R-function  `lgb.Dataset`, there is a block

[code]
This block is missing in `lgb.Predictor`
[code]

So I think the bug can be fixed by adding to predict the following lines.
[code]

[2020-06-02 10:05] yalwan-iqvia commented on #3137
I can add that testing this locally on a windows machine worked ok ... so it seems to be an issue with the status checks system (docker image?) but what, I don't know

[2020-06-02 11:13] yalwan-iqvia commented on #3137
Each time I have truncated the model (to a point prior to "met ..., expected Tree") it gets a new error earlier on in the model parsing, see for example:

https://github.com/IQVIA-ML/LightGBM.jl/blob/98800ff14f77c7ad198c4ab7a342845ba7acfa16/test/ffi/data/gain_test_booster

https://github.com/IQVIA-ML/LightGBM.jl/pull/52/checks?check_run_id=730609619#step:7:111

I've also tried reading the model in

[2020-06-02 16:44] StrikerRUS commented on #3138
Sorry, we do not maintain scala language here. Please ask your question in the repo from where you've got bindings for scala language (is it MMLSpark?).

[2020-06-02 16:44] #3138 closed

[2020-06-02 18:06] StrikerRUS commented on #3134
Nice!

Compilation was successful.

Now please manually check that there is no `lightgbm` folder in `/opt/conda/lib/python3.7/site-packages/` due to this strange message:
[code]

After doing that run
[code]

[2020-06-02 18:29] kshitijmamgain commented on #3134
Okay done that. The log is below, when I import it it still throws an error
![lightgbm-vm](https://user-images.githubusercontent.com/56703496/83556157-68ba7800-a4dd-11ea-9006-4d64a16508b4.png)

### Log
jupyter@higgs-vm-vm:/LightGBM/python-package$ python setup.py install --precompile
running install
running build
running build_py
creating build
creating build/lib
creating build/lib/lightgbm
copyin

[2020-06-02 18:43] Dronablo commented on #2742
I also found this issue occurring from time to time on relatively fresh GPU build. For ~4 Gb dataset with 250000 rows and 1500 columns it could train normally for hours, than I got
```LightGBMError: Check failed: (best_split_info.right_count) > (0) at D:\Python\projects\lib\2003_lgbm\LightGBM\src\treelearner\serial_tree_learner.cpp, line 614``` which is at https://github.com/microsoft/LightGBM/blo

[2020-06-02 20:27] StrikerRUS commented on #3134
OK, guess I found the reason!

Found Boost components:
filesystem;system

Your issue looks similar to https://github.com/microsoft/LightGBM/issues/2641#issuecomment-568095613 because of two different installed boost versions.

You should leave only one of them: either 1.56.0 or 1.72.0. Probably one comes from your conda environment.

[2020-06-02 21:11] kshitijmamgain commented on #3134
Okay..so which one should I remove? 1.72.0? I am inside /opt/conda/lib and I see many files
However, I don't see Boost 1.56.0 there
![lightgbm-vm2](https://user-images.githubusercontent.com/56703496/83570396-f43f0380-a4f3-11ea-8018-37665533f3f8.png)

[2020-06-02 21:52] StrikerRUS commented on #3134
Please run `conda list` command. I expect `libboost` should be there.

[2020-06-02 23:08] kshitijmamgain commented on #3134
Hello again, no libboost present
![conda_list](https://user-images.githubusercontent.com/56703496/83578284-57d12d00-a504-11ea-83bb-ca4fa93f09f1.png)

[2020-06-02 23:44] StrikerRUS commented on #3134
Hmm, indeed! Quite strange...

I see you have a lot of packages in your conda environment. So removing libboost 1.72.0 from `/opt/conda/lib` will probably break some of them.

I think it is better to remove libboost 1.56.0 in your case (which is a system-wide library, I guess). Then LightGBM will be linked against 1.72.0 from your conda environment and there should be no problems at runtime.

[2020-06-02 23:46] kshitijmamgain commented on #3134
Ok any instructions on how that is to be done.. sorry but this side is new to me

[2020-06-03 07:38] artdgn opened #3142 "LGBMRanker: lightgbm.basic.LightGBMError: Unknown objective type name: rank_xendcg"
## How you are using LightGBM?
* Python package

LightGBM component: LGBMRanker

## Environment info
Operating System: Ubuntu 18
Python version: 3.6
LightGBM version or commit hash: 2.3.1

## Error message and / or logs

[code]

## Reproducible example(s)

[code]

[2020-06-03 15:07] StrikerRUS commented on #3134
Wow! Is it a third boost installation in your environment?

I'm sorry, I'm not very familiar with Linux. Can you try to remove all boost installations except one in your conda environment? I believe it can be done via `sudo apt-get --purge autoremove libboost` (or `libboost-dev`).

[2020-06-03 15:14] StrikerRUS commented on #3142
Unfortunately, `rank_xendcg` is not available in `2.3.1` version.
You can either download nightly build

https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html

![image](https://user-images.githubusercontent.com/25141164/83654577-fa9db000-a5c5-11ea-9cee-0a26980c1e5e.png)

or wait for a next release: #3071.

[2020-06-03 15:14] #3142 closed

[2020-06-03 17:00] StrikerRUS commented on #3137
@yalwan-iqvia I can confirm that the error happens on my local Windows machine. However, if I remove `tree_sizes=` model from your original comment can be loaded successfully .

[code]

I guess that the original model file was modified and `tree_sizes` are incorrect now.

[2020-06-03 17:29] kshitijmamgain commented on #3134
Hi! So, as you suggested I did the following steps:
1. removed files via sudo apt-get --purge autoremove libboost-dev. The only  boost version that is installed is 1.72 for python3 and 1.70 for python2.
2. I looked for boost 1.56.0 by searching '*1.56.0*', '*1.56*', '*1_56*  string but there is no file or directory by that name.
3. Uninstalled and re-installed the lightgbm, precompiled python pack

[2020-06-03 20:04] mgzde opened #3145 "Lightgbm data in R"
Hi everyone,

I'm using lightgbm package in my Windows 10 computer, RStudio 3.6.3 version. I also asked how can I install lightgbm for R a few weeks ago then it was initiliazed successfuly (I guess)with help but when I run the given lightgbm data(bank dataset #887) it gives me a model;
type: NULL
length:0
size:0B
value:NULL(empty).
 Also, I run lightgbm for my 10 years monthly univariate time seri

[2020-06-03 22:36] artdgn opened #3146 "Documentation doesn't match latest release (e.g. objective functions)"
Feature (`rank_xendcg`) not yet released: https://github.com/microsoft/LightGBM/issues/3142

But objective is listed in docs: https://lightgbm.readthedocs.io/en/latest/Parameters.html#objective

[2020-06-04 02:49] #3139 closed

[2020-06-04 02:49] jameslamb commented on #3094
closed by #3140 , thanks to @mayer79

[2020-06-04 02:49] #3094 closed

[2020-06-04 02:59] jameslamb commented on #3146
Thanks for using LightGBM @artdgn !

Right now, our docs at that link match the `master` branch of this repository, which can be  ahead of the most recent release to package managers like PyPi.

Sorry for the confusion! We could probably do a better job of adding comments like "new as of version x.x.x" under newer features.

I'm going to close this issue but please comment if anything was unclear

[2020-06-04 02:59] #3146 closed

[2020-06-04 03:01] jameslamb commented on #3145
@mgzde Can you please provide the following information:

1. How did you install the LightGBM R package? Descibe this in as much detail as possible, including the version or commit hash used.
2. What is the exact code you ran?

[2020-06-04 06:17] joseortiz3 opened #3147 "Windows Python GPU install: invalid command name 'boost-root=.......'"
## How you are using LightGBM?

* Python package

LightGBM component: lightgbm-2.3.1 with CUDA GPU support

## Environment info

Operating System:

CPU/GPU model: Dual Xeon E5-2667 v2 / Nvidia RTX 2080

C++ compiler version: VC 2019

CMake version: 3.17.3

Java version: N/A

Python version: 3.8.2

R version: N/A

Other: Boost: 17.3.0

LightGBM version or commit hash: lightgbm-2.3.1 with CUDA GPU s

[2020-06-04 06:20] joseortiz3 commented on #3147
Oh it was a typo. Apologies.

[2020-06-04 06:20] #3147 closed

[2020-06-04 06:55] guolinke commented on #3131
@StrikerRUS @yanivzoh I think #3148 should fix this

[2020-06-04 06:58] yalwan-iqvia commented on #3137
@StrikerRUS I only ever produced these files by calling `booster.save_model` (with num_iterations arg to truncate) or `LGBM_BoosterSaveModel` -- as you can see from tests on that branch that unix and mac passes, and it definitely worked for me locally too so I am still thinking there might be some failure in loading logic which is only triggered in a platform dependent way. If it loads correctly w

[2020-06-04 12:43] hsorsky opened #3149 "[Improvement] [Python] Improve docs relating to custom objective functions"
The current docs regarding using custom objective functions with the scikit-learn API, as can be found [here](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html), state:

As far as I can tell, there are two issues with this:
1. There is no notion of what the gradient is with respect to. I assume it is with respect to the outputs of the model, i.e. with respect to P(sa

[2020-06-04 12:43] hsorsky commented on #3149
If I am correct in my thinking, I am happy to pick this up

[2020-06-04 12:44] mgzde commented on #3145
I've installed git and CMake(3.16.6)
I've installed Visual Studio Code (April 2020 version) (Actually, I want to use lightgbm in RStudio, so I have RStudio 3.6.3)
I've also installed RTools35
I've added C:\Program Files\Rtools\bin to path
Then I've run the following code
git clone --recursive https://github.com/microsoft/LightGBM
cd LightGBM
Rscript build_r.R
![Ekran Görüntüsü (73)](https://user-i

[2020-06-04 13:57] #3112 closed

[2020-06-04 14:58] jameslamb commented on #3145
Thank you @mgzde , I will take a look in a few hours and see if I can replicate this.

In the future, please paste logs as text and code in code blocks instead of screenshots. That makes it easier for me to copy your code and run it (with screenshots, I will have to re-type it by hand), and makes it more likely that other people who face the same issue as you will find this issue from search engin

[2020-06-04 18:23] jameslamb commented on #3147
no problem! Thanks for using `LightGBM`!

[2020-06-04 19:42] kshitijmamgain commented on #3134
I have dropped the plans to build with gpus anyways, thanks for your help. Would keep an eye if this gets sorted out in future.

[2020-06-04 20:14] mgzde commented on #3145
I'm so sorry for this. I'm really new about github so I do not know the formattings. I can write the codes again as text instead of screenshot now.

[2020-06-04 20:25] mgzde commented on #3145
`#LIGHTGBM
library(lightgbm)
library(methods)

### We load in the agaricus dataset
### In this example, we are aiming to predict whether a mushroom is edible
data(agaricus.train, package = "lightgbm")
data(agaricus.test, package = "lightgbm")
train <- agaricus.train
test <- agaricus.test

### The loaded data is stored in sparseMatrix, and label is a numeric vector in {0,1}
class(train$label)
class

[2020-06-04 20:57] jameslamb commented on #3145
No problem @mgzde ! Thanks for copying in the code. I really do recommend you read https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax when you have the time.

the `#` has a special meaning that is causing some of your code comments above to look like titles. I copied your comment and reformatted it below the line here. If you click `...` then `Edit` on my comme

[2020-06-04 20:58] jameslamb commented on #3145
I'll try to reproduce this tonight and let you know what I find! Thanks again for using `LightGBM` and reporting the issue.

[2020-06-04 21:19] StrikerRUS commented on #3134
If possible, leave only one.

Have you **re-compiled** LightGBM library file before re-installing Python package?

Also, you may try to add folder with `boost 1.72.0` from conda (`/opt/conda/lib`) into `LD_LIBRARY_PATH` variable.

[2020-06-04 21:21] StrikerRUS commented on #3134
Ah, OK! As this is the problem with particular environment, I don't think that keeping this issue open will make any sense.

[2020-06-04 21:24] StrikerRUS commented on #3137
@guolinke Is it possible that calculated tree sizes on one platform are incorrect on another?

[2020-06-04 22:00] #3134 closed

[2020-06-05 01:27] fralychen opened #3150 "Windows - 10.0.17763 - AMD64"
CPU/GPU model:  AMD64

CMake version: 3.17.3(X64)

Python version: 3.8

when use Command Line build ,  loger raise to me "The system is: Windows - 10.0.17763 - AMD64"

[2020-06-05 04:52] mjmckp opened #3151 "Dialog box pops up when using Debug build of LightGBM"
When I attempt to use a debug build of LightGBM, when I create the booster object with default parameters, I get the following dialog box pop up:

![image](https://user-images.githubusercontent.com/7776787/83837244-3c029c80-a739-11ea-8cb5-445c2ae059b2.png)

This doesn't happen with a release build.  I think this is being generated by OpenMP, I've seen mention of it elsewhere in projects that use O

[2020-06-05 06:26] mjmckp opened #3152 "Index out of bounds exception in LightGBM when using LGBM_DatasetCreateByReference and LGBM_BoosterResetTrainingData"
Using LGBM_DatasetCreateByReference and LGBM_BoosterResetTrainingData causes in index out of bounds exception:

![image](https://user-images.githubusercontent.com/7776787/83840218-59d3ff80-a741-11ea-9023-1efb8be3a9ce.png)

Steps to reproduce:
- Clone LightGBM.Net from https://github.com/rca22/LightGBM.Net
- ~~Switch to the `update_jun_20` branch~~ (no longer necessary, use master branch)
- Put a D

[2020-06-05 08:48] tkruse commented on #3132
Hi, sorry, you (like others) are likely going to be impacted by 1.5.1 release which by default reverts the changes from 1.5.0, see the changelog (https://github.com/cpplint/cpplint/blob/master/changelog.rst) and https://github.com/cpplint/cpplint/pull/147

[2020-06-05 13:53] StrikerRUS commented on #3150
@fralychen

Please re-open the issue with description about what difficulties you are facing using CLI interface of LightGBM.

[2020-06-05 13:53] #3150 closed

[2020-06-05 15:18] jameslamb commented on #3132
Thanks for letting us know @tkruse !

[2020-06-05 15:21] jameslamb commented on #3151
Thanks for the report and for using `LightGBM`!

We do not maintain `LightGBM.NET`, could you please raise this issue in [that project's issues page](https://github.com/rca22/LightGBM.Net/issues)?

If you are able to reproduce this pop up using only `LightGBM` code here, please open a new issue and we'll be happy to help.

[2020-06-05 20:01] mjmckp commented on #3151
Sorry, I think you have misunderstood, the issue has nothing to do with LightGBM.Net, I maintain that project, and I am just using it as a way to explain how to replicate the issue.  The error is being generated by the native lightgbm dll.

[2020-06-05 20:02] jameslamb commented on #3151
oh I definitely did misunderstand. Can you please provide a reproducible example that doesn't rely on `LightGBM.Net`? That would help us to help you

[2020-06-06 06:25] guolinke commented on #3137
I think they should be identical in different platforms.
The only possible difference is the new line symbol. But we force to use `\n` for newline for all platforms.
@yalwan-iqvia did you manually save the model file? And can you check the new-line symbols?

[2020-06-06 06:27] guolinke commented on #3137
@StrikerRUS for your example (https://github.com/microsoft/LightGBM/issues/3137#issuecomment-638326846), I think it will break the newline symbols for cross-platform.

[2020-06-06 15:24] StrikerRUS commented on #3137
@guolinke `readlines()` method leaves newline character `\n` at the end of the string. Or do you mean that there can be an issue during writing lines due to that Python automatically translates `\n` to the proper newline character based on the platform.

[2020-06-06 16:48] guolinke commented on #3137
@StrikerRUS I am not a python expert, but I guess it could be.

[2020-06-07 14:49] momijiame commented on #2302
I would like to tackle the following issues on Python package. Could I discuss about a plan to fix? Also, where can we discuss that? IMHO, They will be resolved by improving to ``lightgbm.cv()`` function.

#2105: Make _CVBooster public for better stacking experience
#283: Keep cv predicted values

I want to reopen the above issues, but I can not do that. Maybe I have no permission.

[2020-06-07 16:36] #3040 closed

[2020-06-07 18:09] jameslamb commented on #3145
Sorry for the delay! I was able to test out this code today. All details of my investigation are given below.

For the first block of code using `agaricus`: **I was not able to reproduce the issue you are seeing. Please try re-running this code from a clean R session.**.

For the second block of using `bank`: **The code beginning with `# Try to find split_feature: 11` is incorrect. It is passing a

[2020-06-08 05:39] ocworld commented on #3123
@StrikerRUS Thanks for your comment

[2020-06-08 05:39] #3123 closed

[2020-06-08 17:07] Sandy4321 opened #3154 "reference for code for binary_classification"
there is no code for example in
https://github.com/microsoft/LightGBM/tree/master/examples/binary_classification

but only data
can you add code or reference for code

[2020-06-09 00:07] StrikerRUS commented on #3152
@mjmckp Hi!
The same request as in #3151: please provide a reproducible example that doesn't rely on `LightGBM.Net`.

[2020-06-09 00:50] mjmckp commented on #3152
I don't have the time to reproduce these errors in some other way, unfortunately. I don't think it's unreasonable to use the unit tests of LightGBM.NET to reproduce the error, the tests are simple and self-contained, and the native DLL is easily debugged with Visual Studio using mixed-mode debugging.  These are genuine bugs in LightGBM, the same tests passed with a previous version of the native D

[2020-06-09 03:44] jameslamb commented on #3152
The group of maintainers here is also a small group of volunteers with limited time, and we cannot take on the task of reproducing a bug using a library that we do not maintain. We will be happy to help you when you can find time to reproduce this issue using only the software managed in this repo.

[2020-06-09 06:47] ismailbbm opened #3155 "[Question] Tweedie log-link transformation"
I am training a model using Tweedie and wanted to understand a bit more its inner working. In the documentation it is mentioned that a log-link is used.

However I am struggling to find in the code where the log-link is applied.

The Tweedie [metric](https://github.com/microsoft/LightGBM/blob/ac5f5e56d012b1f435f1a52cbd6600f100ffa187/src/metric/regression_metric.hpp#L311) does not have the log-link

[2020-06-09 09:56] #3131 closed

[2020-06-10 05:05] Dronablo opened #3156 "Jupyter notebook output is flooded by LGBM output"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Windows 10

CPU/GPU model: i7-9800X / RTX 2060

C++ compiler version: Microsoft (R) C/C++ version 19.25.28610.4 for x64

CMake version: 3.16.19112601-MSVC_2

Python version: 3.8.3

LightGBM version or commit hash: ce95d9ca8aab8fd007a2682d4cc80157b4e1b801

## Error message and / or logs
I use

[2020-06-11 00:25] guolinke commented on #1038
hi @rdbuf , yeah, callback is the most convenient way to do this, I think.

[2020-06-11 01:30] momijiame commented on #283
My sincere thanks to @StrikerRUS for unlocking.

### Motivation and requirements

I know that people (especially, included some Kagglers) want this feature and I want to fix it. There are probably two reasons why people might want to get prediction values of trained models from the cv() function.

req1. to analyze out-of-fold predictions for training data in more detail.
req2. to do some ensemble

[2020-06-11 01:31] kshitijmamgain opened #3158 "*** Error in `python': free(): invalid next size (normal): 0x0000564fe394c840 ***"
## How you are using LightGBM?
I am using Hyperopt to run lighgbm parameter space on compute engine vm. I have installed lighgbm using pip install since building cpu version from CLI was throwing [similar](https://github.com/microsoft/LightGBM/issues/3134) error.  The codes run well on colab version 2.2.3
The eval round would sometime run for 50 times and close and for other time exit after runnin

[2020-06-11 18:43] StrikerRUS commented on #283
@momijiame Thank you very much for your detailed plan! It looks good to me! Looking forward to your PR.

@matsuken92 Maybe you have something in the mind that can improve the proposed PR's plan?

[2020-06-11 19:41] rdbuf commented on #1038
I see, thanks :)

[2020-06-11 19:49] JerryX2014 opened #3161 "folds in lgb.cv"
## How you are using LightGBM?

LightGBM component:  R package

## Environment info

Operating System: Linux

CPU/GPU model: N/A

C++ compiler version:N/A

CMake version:N/A

Java version:N/A

Python version:N/A

R version: 3.5.1
Other:

LightGBM version or commit hash: 2.3.2

## Error message and / or logs

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_av

[2020-06-11 20:28] jameslamb commented on #3161
@JerryX2014 thanks for using `LightGBM`, and for the report! Is it possible to provide code that can reproduce the issue completely?

This description leaves a lot to interpretation:

[2020-06-11 21:44] #3088 closed

[2020-06-11 21:46] StrikerRUS commented on #3025
Seems that all issues here were fixed and we can close it, can't we?

[2020-06-11 21:59] jameslamb commented on #3025
yes, thank you!

[2020-06-11 21:59] #3025 closed

[2020-06-11 22:35] christopher-rojas opened #3163 "[R-package] Randomness if top_rate and/or other_rate too low"
Hello,

I'm tuning a LightGBM model using its goss version for a multi-class classification problem. However, I'm running into an issue where I observe significant randomness in replication results if top_rate and/or other_rate hyperparameters are too low, even though I thought I had set all of the seeds. Specifically, I have explicitly set the seed for R's random number generator, as well as the

[2020-06-12 04:09] jameslamb commented on #3163
Thanks for using `LightGBM` and for reporting this issue.

* Can you please share the code you are running, ideally a reproducible example that shoows the issue?
* Can you please share the output of this R command --> `sessionInfo()`.
* How did you install `LightGBM`'s R package? Version 2.2.3 is more than a year old, I'm wondering if you can update to a more recent version.

[2020-06-12 08:58] matsuken92 commented on #283
@StrikerRUS Okay, I will review this plan !

[2020-06-14 00:56] #3064 closed

[2020-06-14 00:56] #3024 closed

[2020-06-15 06:41] btrotta commented on #3154
@Sandy4321  That example is for the command-line interface. You don't need any additional code to run the example, just execute the commands as shown in the readme.

Alternatively, you might like to use the Python or R interface.
Quick-start guide for Python: https://lightgbm.readthedocs.io/en/latest/Python-Intro.html
Docs for R: https://lightgbm.readthedocs.io/en/latest/R/

[2020-06-15 07:11] btrotta commented on #3149
@hsorky The gradient is the derivative of the loss with respect to the prediction. There is an example here: https://github.com/microsoft/LightGBM/blob/e83042f20633d7f74dda0d18624721447a610c8b/examples/python-guide/advanced_example.py#L136
For classification tasks, the preds argument represents the _logit_ of the final predictions (i.e. it should have values in the interval `[-infinity, infinity]`

[2020-06-15 11:38] nathans3 opened #3166 "Issues with Light GBM C_API"
Hello, I've been trying to use the C-API solving a simple regression problem. I created a simple toy model of linear regression.
Basically, my code creates dataset handle from mat using DatasetCreateFromMat then adds label field, and then creates a booster using BoosterCreate. However, the resulting booster does not predict anything, the prediction result is always 0.
My code is attached.
Please a

[2020-06-15 13:52] Sandy4321 commented on #3154
Great thanks

[2020-06-15 23:41] #3154 closed

[2020-06-15 23:51] lyliu opened #3167 "Multi-class sample imbalance problem"
Hi,
I have sample imbalance problem for multiclass.
I use class_weight, but it doesn't  have any effect on the results, I think it may not work, so how to solve the multi-class sample imbalance problem.

[2020-06-16 11:16] JiaRu2016 opened #3170 ""Cannot add validation data, since it has different bin mappers with training data" for Datasets loading from binary file"
I'v create an pair of train / test Dataset and `save_binary()` to a file. Then I load the Datasets from disk and and put them into  `lgb.train()` to train model, got the Error:

"Cannot add validation data, since it has different bin mappers with training data"

this issue https://github.com/microsoft/LightGBM/issues/2552 seems very similar to mine, but my dataset do not contain any category featu

[2020-06-16 13:04] sh1ng commented on #2648
Recompiling with defined `SCORE_T_USE_DOUBLE` macro solves the issue https://github.com/microsoft/LightGBM/blob/master/include/LightGBM/meta.h#L30.

It means `lib_lightgbm.so` must contain both versions or 'gpu_use_dp=true' parameter should be removed and compilation instruction adjusted accordingly.

cc @pseudotensor @arnocandel

[2020-06-16 14:51] StrikerRUS commented on #3170
@JiaRu2016 I guess you forgot to add `reference=ds_train` in your valid dataset creation command:
[code]

[2020-06-17 10:14] dtomas1989 commented on #3049
Did you fix it?

[2020-06-17 14:18] Sandy4321 commented on #3049
Good question, seems to be they do not care at all

[2020-06-18 03:29] guolinke commented on #3166
@nathans3 it seems you didn't call the training function?

[2020-06-18 05:02] nathans3 commented on #3166
I was looking for a training function, but could not find an explicit one. Is it UpdateOneIter?

[2020-06-18 09:31] JiaRu2016 commented on #3170
@StrikerRUS  add `reference=ds_train` does not sole this problem. And after days of trial, I works, I don't know why. Maybe it's related to evnironment

[2020-06-18 09:51] PierreCeteaud opened #3172 "min_child_sample does not guarantee size of leaves (python)"
I am training a model with these parameters :
[code]
when I'm looking to the structures of the trees generated, I get for the sizes of leafs (value of 'leaf_count' from the booster dump) this kind of structures:
[code]
Some leaves have size <2400, even some nodes don't reach this limit.

I'm using version 2.3.1of lightgbm

[2020-06-18 10:05] PierreCeteaud commented on #3172
I've found that using min_data_in_leaf parameter instead of mild_chil_sample corrected the problem.
[The documentation ](https://lightgbm.readthedocs.io/en/latest/Parameters.html#min_data_in_leaf) says that min_child_sample

[2020-06-18 10:05] #3172 closed

[2020-06-18 10:05] PierreCeteaud commented on #3172
there is an s at samples

[2020-06-18 11:52] guolinke commented on #3166
Refer to https://github.com/microsoft/LightGBM/blob/e83042f20633d7f74dda0d18624721447a610c8b/src/c_api.cpp#L1335-L1344

[2020-06-18 11:58] guolinke commented on #3170
@StrikerRUS the dataset is loaded by binary file, and the reference is set before (create_valid), so it is not the root cause.

@JiaRu2016 did you use the multi-processing, and save/load the binary files by the same name? Can you test on other environments?

[2020-06-18 18:44] ChipKerchner commented on #2648
Please do NOT remove the gpu_use_dp flag.  We are using it in the CUDA version.

[2020-06-18 21:19] hsorsky commented on #3149
Is this the case in multi-class classification? Or is it assumed that soft-max is applied to the output values that live in `(-inf, inf)`?

[2020-06-19 01:17] jameslamb commented on #3158
@kshitijmamgain thanks for using `LightGBM`!

This trace is not enough for us to help. Could you please provide the code you ran and, if possible, a small reproducible example that we could try running ourselves?

[2020-06-19 04:42] #3047 closed

[2020-06-19 05:36] JiaRu2016 commented on #3170
I saved and loaded the binary file in jupyter notebook (when then error occurs), maybe this is the root caule?  I'll try other environment and tries make this problem reporduceable

[2020-06-19 11:02] btrotta commented on #3149
Multi-class classification is similar to binary, the preds argument that LightGBM will pass to the custom objective is the raw score without softmax applied.

[2020-06-19 21:13] zyxue opened #3177 "Why does default num_leaves is 2^n -1 instead of 2^n"
More specifically, I'm reading the parameters of [LGBMRegressor](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRegressor.html#lightgbm.LGBMRegressor), the default `num_leaves` is 31, I wonder why not 32? What's the intuition behind it, please?

[2020-06-22 00:39] guolinke commented on #3049
@Sandy4321
'class_weight' is mainly designed for multi-class task, although current code supports to use it for binary classification.

[2020-06-22 00:39] #3049 closed

[2020-06-22 00:40] guolinke commented on #3167
can you provide a code example and demonstrate how it doesn't work?

[2020-06-22 00:42] guolinke commented on #3177
Not actually, we just set it to 31 randomly and didn't change it since that.

[2020-06-22 00:42] #3177 closed

[2020-06-22 00:45] guolinke commented on #3163
@christopher-rojas
As you run the old version, the bagging will be affected by num_thread.
you may need to fix num_thread and try again.

[2020-06-22 00:48] guolinke commented on #3161
@jameslamb
maybe this could be reproduced by random data?

[2020-06-22 00:54] guolinke commented on #3155
Refer to https://github.com/microsoft/LightGBM/blob/e83042f20633d7f74dda0d18624721447a610c8b/src/objective/regression_objective.hpp#L458-L460

Tweedie inherits RegressionPoissonLoss, which applies `exp` transformation to outputs.

[2020-06-22 00:54] #3155 closed

[2020-06-22 01:02] guolinke commented on #3152
@mjmckp I think check this when I have time.

[2020-06-22 01:04] guolinke commented on #3151
@mjmckp The `Debug' is the 'debug' mode of lightgbm.dll or LightGBM.net?

[2020-06-22 01:06] guolinke commented on #3137
@StrikerRUS can you confirm whether the `\n` is the problem or not?

[2020-06-22 01:13] guolinke commented on #3054
@nirupamkar thanks, I think we can write the actual split gain to model file.

[2020-06-22 01:18] lyliu commented on #3167
My code example is as follows:
`data_file='data/train_data/train_data.csv'
train_data,test_data = get_data(data_file)
class_weight = dict({1:0.1, 2:0.3, 3:0.3, 4:0.3})

print("=============Begin training model=============")
# set param
param = {'num_leaves':100,
        'min_data_in_leaf':30,
        'objective':'multiclass',
        'max_depth':10,
        'learning_rate':0.1,
        'min_child

[2020-06-22 01:25] mjmckp commented on #3151
@guolinke The debug build of `lightgbm.dll`

[2020-06-22 01:36] mjmckp commented on #3152
@guolinke Thanks a lot.  I've updated the reproduction instructions above to use the master branch, now you will need to re-enable the failing test and corresponding failing constructor as described.

[2020-06-22 01:39] StrikerRUS commented on #3167
@lyliu `class_weight` is defined only in [sklearn wrapper](https://lightgbm.readthedocs.io/en/latest/Python-API.html#scikit-learn-api). It cannot be used in ordinary API.

[2020-06-22 01:39] #3167 closed

[2020-06-22 01:45] StrikerRUS commented on #3137
@guolinke I'll try to get Linux machine in next days and reproduce the issue. But TBH, I don't think that `\n` is a root cause.

[2020-06-22 05:11] Adam1679 commented on #2818
Sorry that I left for a long time. I'm trying to figure out a solution for such kind of template. But I did a lot of stack overflow search and found that there is no solution for such kind of runtime template. (template is compile time). So i think what we need is polymorphism. for example, construct a base class and subclass it using different data size. But this may result in other problems like

[2020-06-22 15:19] Sandy4321 commented on #3049
thanks
so you need to change user manual to remove confusion from word "only"
Use this parameter only for multi-class classification task;

also
 for binary classification task you may use is_unbalance or scale_pos_weight parameters
if we have 2 labels "green" and "red"
which one will be used for scale_pos_weight ?

[2020-06-22 20:53] CanML opened #3178 "Unknown parameter when using monotone_constraints_method and monotone_penalty"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Windows 10

CPU/GPU model: Intel i9

C++ compiler version:

CMake version:

Java version:

Python version: 3.8

R version:

Other:

LightGBM version or commit hash: 2.3.2 (using build from https://www.lfd.uci.edu/~gohlke/pythonlibs/ )

## Error message and / or logs

[LightGBM] [Warning] Unkn

[2020-06-22 21:01] StrikerRUS commented on #3178
I guess `monotone_constraints` were merged later after creating those releases. They are very old.

![image](https://user-images.githubusercontent.com/25141164/85334673-4b793800-b4e4-11ea-9213-72dc53dd0ab2.png)

Please use official nightly builds in which `monotone_constraints` are included.

https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html
![image](https://user-images.githubuserc

[2020-06-22 21:01] #3178 closed

[2020-06-22 21:14] CanML commented on #3178
I didn't realize releases happened so frequently that included new features without changes to the minor version number. Thank you.

[2020-06-22 21:22] StrikerRUS commented on #3178
Just to be clear: the latest official release is `2.3.1` and it is very-very old (https://github.com/microsoft/LightGBM/releases, 28 Nov 2019). Next release will be a major release `3.0.0` (#3071). `2.3.2` is not a release but is just a dev version for `master` branch.

[2020-06-22 21:24] CanML commented on #3178
Got it, thanks again

[2020-06-22 22:00] zachmayer opened #3180 "[Feature request] Arbitrary base learner"
## Summary
Its pretty cool that I can define my own loss function and gradient for LightGBM, and then use the linear, tree, or dart base learners to optimize my loss function.

It'd be really cool if I could specify my own base learner, perhaps in the form of an sklearn class with a fit method, a predict method, and support for sample weights.

It'd really open up a whole new world of possibilitie

[2020-06-23 13:40] StrikerRUS commented on #2884
Implemented in #3126.

[2020-06-23 13:40] #2884 closed

[2020-06-23 14:28] yalwan-iqvia commented on #3137
@guolinke sorry i took this long to reply.

I can say that I tried various things, including using julia wrapper to C API to re-save the model and it did not change the result. I only initially produced model using python for a convenience, and I tried a lot of things to make the issue go away (including saving with truncation by using a lower num_iterations than what was used for saving, not a ma

[2020-06-23 14:42] yalwan-iqvia opened #3182 "GOSS/GBDT difference using C-API"
LightGBM version: 2.3.1
Language: C-API, via julia FFI
Platform: Linux

Context: Julia wrapper was missing support for boosting parameter (and commensurate parameters supporting it). So we worked on adding support, including tests.

We wrote a test which involved essentially the following assertion:

This worked fine for DART, but when we varied GOSS parameters model was coming out as identical to

[2020-06-24 02:29] guolinke commented on #3182
@yalwan-iqvia did you check the content of the learned model?

[2020-06-24 06:18] AaronX121 commented on #2790
Hi, @wmiller01, I have been playing with soft decision trees (SDT) for a while, and I don't think it is a good idea to include it in LightGBM or any other scalable GBDT system.
**Pros:**
* SDT is more powerful than traditional trees like CART. For example, applying 10 SDTs onto the vanilla Gradient Boosting algorithm leads to better performance than LightGBM / XGBoost with hundreds of base decisio

[2020-06-24 06:37] yalwan-iqvia commented on #3182
I did not, however I can show here now:

GBDT
[code]

GOSS
[code]

I put these through a difftool and only the `boosting` parameter field differs, everything else is identical.

[2020-06-24 06:44] yalwan-iqvia commented on #3182
Having showed this I realised that it is stupid to expect models to vary on basis of gradients if the model is never given chance to update from gradients, so I call `UpdateOneIter` twice for each model, so we have at least one gradient update step, model result is similar:

GBDT
[code]

GOSS
[code]

Again if you put them through difftool, they differ only by `boosting` parameter

[2020-06-25 01:11] vignesh0710 opened #3183 "Missing plot tree and create_tree_digraph from lightgbm"
I installed lightgbm from PyPI

[code]

`Python version - 3.7.2`

I am trying to convert the tree object for the model LGBMRegressor to graphviz.dot.Digraph but both plot_tree and create_tree_digraph are not in the attributes list

Error:

`'LGBMRegressor' object has no attribute 'plot_tree'`

Anyway to solve this would be great.

[2020-06-25 02:02] StrikerRUS commented on #3183
They are not methods of objects, but separate functions.

Refer to the example of how to use them

https://github.com/microsoft/LightGBM/blob/be85f56ffc0d3939a7140fc8686c7ba695aefdb5/examples/python-guide/plot_example.py#L56-L58

https://github.com/microsoft/LightGBM/blob/be85f56ffc0d3939a7140fc8686c7ba695aefdb5/examples/python-guide/plot_example.py#L60-L62

(Full example: https://github.com/micro

[2020-06-25 02:02] #3183 closed

[2020-06-25 13:51] sebastian-janisch opened #3184 "Numerical Representation of Categorical Features in Persisted Model File"
Hi!

I am taking a closer look at the persisted model file and came across the feature_infos field and I’m puzzled as to what the values represent for categorical features.

From what I can gather we have value ranges for every feature. Continuous features have an interval denoted in brackets and categorical values have a list of numbers separated by a colon.

E.g. there’s a categorical feature in

[2020-06-25 14:22] #3100 closed

[2020-06-25 19:21] vijay-yajiv opened #3185 "Reading csv files into lgb"
Reference to the discussion in this link

_Originally posted by @guolinke in https://github.com/microsoft/LightGBM/issues/1032#issuecomment-341370260_

I have a very large Pandas file which has to be fed into lgb.
I tried using lgb.Dataset but have been facing Data exploding issues.
I tried all the binary saving options, but the issue still exists.

I am planning to save my Pandas file to csv and

[2020-06-26 03:28] guolinke commented on #3182
@yalwan-iqvia
I just remember the goss will use GBDT mode in the first k (`k=1/learning_rate`) iterations.
So you can try to run more iterations.

[2020-06-26 05:28] jameslamb opened #3187 "[R-package] 32-bit library support"
## Summary

As I've investigated #2960 as part of #629 , I've learned that packages on CRAN have to be able to build on 32-bit Windows.

**I believe that we need to add support for a 32-bit build LightGBM to get the R package to CRAN.**

### Evidence that this is required

I have not yet found any official statement that says "all R packages have to build on 32-bit Windows", but I see strong evide

[2020-06-26 05:32] jameslamb commented on #3187
I've updated #2302 , but I'd like to leave this open for a bit to discuss.

I believe it is worth calling this issue `[R-package]` because this feature specifically serves the interests of the R package (getting onto CRAN) and R-specific solutions (for example gross hacks with `#ifdef LGB_R_BUILD`) could be options for addressing this.

[2020-06-26 05:54] jameslamb commented on #2960
opening this now that there is an open pull request for it, #3188

[2020-06-26 10:43] #3185 closed

[2020-06-26 10:47] yalwan-iqvia commented on #3182
@guolinke

This was the missing understanding! Thank you 😄

Is this documented somewhere that I missed, or could documentation do with a note regarding this?

[2020-06-26 19:11] StrikerRUS commented on #3187
I remember we enabled optional building for 32bit in Python-package some time ago. The only change that was needed `cmake ... -A Win32`.
https://github.com/microsoft/LightGBM/pull/2188/files
BTW, I'm not sure that it is still working as we have no CI for that type of build.

[2020-06-26 19:41] jameslamb commented on #3187
oh cool! Hey that's at least something simple I can try, thank you!

[2020-06-27 02:17] jameslamb opened #3191 "[R-package] Windows R 4.0 jobs fail after "Building R Package""
**Error on Windows + MSVC + R 4.0 job**

See for example https://github.com/microsoft/LightGBM/pull/3000/checks?check_run_id=811619463

![image](https://user-images.githubusercontent.com/7608904/85912443-2a6d5b80-b7f2-11ea-8c33-2a32110e0d6c.png)

Some R CI jobs on GitHub Actions are failing at this step:

[code]

**Error on Windows + MINGW + R4.0 job**

See for example https://github.com/microsoft

[2020-06-27 02:22] jameslamb commented on #3191
see the description in #3168 for some background on challenges we have faced with Windows R jobs on GitHub Actions before.

[2020-06-27 02:35] jameslamb commented on #3191
Next I tried checking thatt this is happening on all PRs. It seems it is:

**#3190 - [YES](https://github.com/microsoft/LightGBM/pull/3190/checks?check_run_id=812516995)**

**#3189  - [YES and more issues](https://github.com/microsoft/LightGBM/pull/3189/checks?check_run_id=810882756)**

MINGW R 3.6 and R 4.0 jobs

[code]

![image](https://user-images.githubusercontent.com/7608904/85912739-7c16e580

[2020-06-27 02:44] jameslamb commented on #3191
I've opened a pull request on my fork where I'm exploring this: https://github.com/jameslamb/LightGBM/pull/32

[2020-06-27 03:49] jameslamb commented on #3161
Maybe, but before I spend time trying to recreate this, I want to know if @JerryX2014 can provide a reproducible example

[2020-06-27 12:40] #3191 closed

[2020-06-27 23:47] JerryX2014 commented on #3161
@jameslamb  Sorry, all good now. I used the index from full sample instead of the training sample. I made the change and it works.

[2020-06-28 01:40] jameslamb commented on #3161
oh great! No need to be sorry, thanks for using `LightGBM`!

[2020-06-28 01:40] #3161 closed

[2020-06-28 15:35] yairdata opened #3194 "Continue learning not working as expected with chunked files"
i am using the python package on CPU, python 3.6
lightgbm version 2.3.0
since i am running with limited resources on a single machine and read a large file , i am using chunked option when reading the pandas.
i expected that the log loss will decrease over time but with each new chunk on the input data - the logloss doesn't fit the best iteration of the previous learning.

[code]

relevant log sec

[2020-06-29 02:41] Wolfybox opened #3195 "The issue here is that the name of your Python script is `lightgbm.py` which confuses Python at the statement `from lightgbm import Dataset`."
The issue here is that the name of your Python script is `lightgbm.py` which confuses Python at the statement `from lightgbm import Dataset`.

`  File "D:\Coding\github\DataFountain\VIPCOM\src\lightgbm.py", line 78, in <module>`

_Originally posted by @zouzias in https://github.com/microsoft/LightGBM/issues/706#issuecomment-528633016_

you are right! I changed the file name and it worked.

[2020-06-29 02:42] #3195 closed

[2020-06-29 03:23] jameslamb commented on #3194
Hi @yairdata , thanks for using `LightGBM`! I've reformatted your description (hope you don't mind) so it is easier to read.

In case are you are new to markdown, you should see [this documentation from GitHub](https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code).

This is a cool use of chunked data frames + training continuation!

Can you please cl

[2020-06-29 05:18] yairdata commented on #3194
thanks for the answer @jameslamb !
i didn't quite get the point of chunked vs. randomly drawn data from same dataset.
isn't it essentially the same - new data is encountered by the model when it tries to keep training?
what i am looking for is a way to deal with data that is larger than memory on a single machine , so i can't load all of it into a pandas dataframe.
i thought i can use the continue

[2020-06-29 07:29] shiyu1994 commented on #3054
@nirupamkar  Your calculation of weight is inconsistent with weights in the graph due to
1. You tried to use the hessians after the first iteration (the leaf scores of the tree 0 is used to calculate the hessians), so you should compare your results with the graph of the second tree (tree 1). Hessians used by tree k + 1 is base on the prediction results of previous k trees.
2. It seems that -0.93

[2020-06-29 07:51] nirupamkar commented on #3054
@shiyu1994 thanks for the explanation. So
1.3.5 weight in 0th trees is nothing but 0.5*(1-0.5)*14
2.My understanding was lgb updates the hessian after all internal spilts as well which is not the case.

[2020-06-29 08:02] shiyu1994 commented on #3054
@nirupamkar hessians are updated using the leaf values after a full tree is grown.

[2020-06-29 11:03] guolinke commented on #3194
@yairdata

I agree with @jameslamb , I don't the continued training will always improve the performance on the fixed validation set.
For the large dataset, you can set the data to csv file first, then pass the filename to lgb.Dataset constructor, with additional parameter `two_round=True`.

[2020-06-29 11:07] guolinke commented on #3184
@sebastian-janisch
LightGBM will the low-frequency categories. The filtered categories will be not shown in `feature_infos`.

[2020-06-29 11:08] guolinke commented on #3182
@yalwan-iqvia
It seems it is not documented. Maybe we should enhance it.

[2020-06-29 11:33] yairdata commented on #3194
thanks @guolinke .
can you provide short code example of that technique?

[2020-07-01 01:11] guolinke commented on #3194
it is like
[code]

[2020-07-01 02:57] jameslamb opened #3198 "[R-package] [ci] R CI jobs failed with to download MiKTeX"
See https://github.com/microsoft/LightGBM/pull/3197#issuecomment-652137494 and comments on #3136 . R jobs are failing with an error like

I have been able to reproduce this on my laptop

![image](https://user-images.githubusercontent.com/7608904/86197900-01173d00-bb1c-11ea-83c4-b929542ed1b5.png)

It's weird because the mirror is definitely up:

![image](https://user-images.githubusercontent.com/76

[2020-07-01 03:13] jameslamb commented on #3198
When I paste the URL from that error into a web browser, it downloads successfully.

https://ctan.math.illinois.edu/systems/win32/miktex/setup/windows-x64/miktexsetup-2.9.7442-x64.zip

[2020-07-01 03:15] jameslamb commented on #3198
oh!!!! There are now two `mixtexsetup` hosted there! Ok I think I know what I have to do.

[2020-07-01 10:01] MotoRZR opened #3200 "Probabilistic Forecasting"
We know that LightGBM currently supports quantile regression, which is great,  However, quantile regression can be an inefficient way to gauge prediction uncertainty because a new model needs to be built for every quantile, and in theory each of those models may have their own set of optimal hyperparameters, which becomes unwieldy from a production standpoint if you're interested in multiple quant

[2020-07-01 14:29] ChipKerchner commented on #2937
The pull request has been active for almost 3 weeks and we're not getting much feedback.

I'd like some assistance with the continuous integration systems.  It show problems but my testing on an AMD64 system with a GPU (OCL) shows no issues with the unit tests.  I am unable to produce an environment that allows me to run the automated testing.  Please help!

[2020-07-01 16:28] #3198 closed

[2020-07-02 00:55] guolinke commented on #2937
sorry @ChipKerchner , I will look at this today.

[2020-07-02 05:09] #3054 closed

[2020-07-02 06:05] thadeuluiz opened #3201 "Numerical instability with auc_mu validation and large datasets"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Fedora 29

CPU/GPU model: Intel(R) Xeon(R) Gold 5120 CPU

C++ compiler version: g++ (GCC) 8.3.1 20190223 (Red Hat 8.3.1-2)

CMake version: 3.14.5

Java version:  OpenJDK Runtime Environment (build 1.8.0_232-b09)

Python version: Python 3.6.10 -- on conda

R version: N/A

Other:

LightGBM vers

[2020-07-02 06:27] guolinke commented on #3152
Hi @mjmckp
It indeed is hard to debug, it keeps throwing the `argument to num_threads clause must be positive`, even if I add checks before all #omp num_threads(). And in these tests, it seems  I cannot print logs from LightGBM dll side.
I am familiar with C# and  its test environment. It will be better if you wrap it to a reproduce console problem that I can easily get in.

And I got the differen

[2020-07-02 08:56] MuhammedBuyukkinaci opened #3202 "Lightgbm not giving same results for same environments on different computers"
## How you are using LightGBM?

LightGBM component: Installed by conda

## Environment info

Operating System: Ubuntu 16.04 LTS

CPU/GPU model: i7 7th generation

gcc version: 5.4.0

Java version:

Python version: 3.7.2

LightGBM version or commit hash:2.3.1

## Our findings

For different computers, we built up the same environment. We ran the same piece of lightgbm code and saw different results

[2020-07-02 12:20] guolinke commented on #3202
Before v2.3.1 (included), when using bagging, you should use the same num_threads for determinism.
And we fix this in the master branch recently.

[2020-07-02 12:20] #3202 closed

[2020-07-02 13:12] StrikerRUS commented on #3201
@btrotta Can you please take a look?

[2020-07-02 14:51] anilcelikurbanstat commented on #3202
Hi @guolinke,

Different computers with same environments returned different results for us even if the num_threads parameter was set to the same number. We all use 2.3.1 and our environments are identical in python, the only difference is our hardware.

Do yo believe that this will be fixed if we use the latest available version on master branch?

[2020-07-02 15:19] AyeChan378 commented on #2786
Thank you for saying so.Now, if you have a problem with termux then you can show us the error.

[2020-07-02 20:29] louis925 opened #3203 "Early stopping round = 0 doesn't disable early stop as described in the documentation"
## How you are using LightGBM?
* Python package

LightGBM component: 2.3.1

## Environment info

Operating System: Ubuntu

CPU/GPU model:

C++ compiler version:

CMake version:

Java version:

Python version: 3.7

LightGBM version or commit hash: 2.3.1

## Error message and / or logs

In the Parameters documentation about [early_stopping_round](https://github.com/Microsoft/LightGBM/blob/master/doc

[2020-07-02 21:11] StrikerRUS commented on #3130
Closed via #3136.

[2020-07-02 21:11] #3130 closed

[2020-07-03 00:34] guolinke commented on #3202
@anilcelikurbanstat when `num_threads`  is fixed (and the same parameters), the results should be determinism, even in different machines, in old versions like 2.3.1.
you said "When we set number of threads parameter to 1, all of us(3 people) are getting the same result, even the 10th decimal after comma is the same."
Did you try to disable `bagging` and test again?
Do you have other tools, which

[2020-07-03 19:53] CanML commented on #3200
Seconded - I think this would make LightGBM incredibly more useful for the same regression problems it is used to tackle now, as well as additional problems that require a more probabilistic approach.

Some of the ngboost team's ideas for next steps, on predicting joint probability distributions, as they mention in their slides ( https://drive.google.com/file/d/183BWFAdFms81MKy6hSku8qI97OwS_JH_/vi

[2020-07-04 02:22] jameslamb opened #3206 "[R-package] Add GPU support for CRAN package"
## Summary

#3188 added an installation strategy for the R package that is compliant with CRAN's restrictions. I originally added support for using a flag to build a GPU-enabled version from that CRAN package, but decided to pull it out of that pull request. I think it deserves more careful thought and testing.

## Description

The goal of this issue is to be able to build the CRAN package for the

[2020-07-04 02:26] jameslamb commented on #3206
This has been added to #2302 . Leave a comment here or on that issue if you'd like to contribute this feature!

[2020-07-04 02:26] #3206 closed

[2020-07-04 07:20] UlionTse opened #3207 "GPU Error with 'max_bin'"
When set `max_bin>255`:
[code]

When set `max_bin=255`:
[code]
When `max_bin in (64,128)`:
OK!

Like #1116, but 3 years have passed, isn't there a better solution?
@guolinke You say `GPU version cannot support categorical features with high cardinality.
You can fix it by split one categorical feature into multi categorical features.` What is number with `high cardinality`?  2?

What is standard to

[2020-07-04 14:53] StrikerRUS commented on #261
@jameslamb Thanks to all your hard work, I believe we can tick `Tests for R` now in the original comment. WDYT?

[2020-07-04 14:54] jameslamb commented on #261
I think so, yes! I think the R tests are in a much better place than they were when this issue was opened

[2020-07-05 04:36] btrotta commented on #3201
@thadeuluiz Thanks for reporting this and providing a reproducible example. I'll look into it.

[2020-07-05 14:46] #3121 closed

[2020-07-06 08:14] MotoRZR commented on #1837
Another survival model for consideration (now implemented in XGBoost)

https://arxiv.org/abs/2006.04920

https://xgboost.readthedocs.io/en/latest/tutorials/aft_survival_analysis.html

[2020-07-07 04:53] jameslamb opened #3210 "RFC: version changes + more frequent releases"
I'd like to open this request for comment to discuss a proposal.

After releasing v 3.0.0 (#3071 ), I'd like to propose that we use 4-part version numbers for language wrappers, broken down like this:

![image](https://user-images.githubusercontent.com/7608904/86708875-f9a1d900-bfde-11ea-8285-6cad0b036b7e.png)

So, for example, if you see version `3.1.0.8` of the R package, that means *"the 8th re

[2020-07-07 09:52] guolinke commented on #3210
will this conflict with semantic versioning? https://semver.org/

[2020-07-07 09:55] #3201 closed

[2020-07-07 10:37] guolinke commented on #3207
If you set `max_bin` < 255 can work, I don't think the problem is from categorical features.

[2020-07-07 10:44] guolinke commented on #3049
@Sandy4321 it depends on which one you set it to positive class (> 0).

[2020-07-07 10:47] guolinke commented on #2648
ping @huanzhang12 for the

[2020-07-07 11:38] UlionTse commented on #3207
@guolinke  I use all numeric features to work it, category features with gpu doesn't work. So I do not know What is number with `high cardinality` of category feature?  With all numeric features,  I also don't know what is number with `max_bin` can work.

[2020-07-07 12:17] guolinke commented on #3207
@UlionTse set `high cardinality <= 256 (max_bin)`  should work.
for the `Check failed: (best_split_info.left_count) > (0)`, it is a bug of current GPU implementation. So if you use small `max_bin` can work, you can use that temporarily.

[2020-07-07 12:50] StrikerRUS commented on #3210
Good suggestion!
If I'm not mistaken something similar @imatiach-msft uses for JAVA binding in MMLSpark: https://github.com/microsoft/LightGBM/issues/3041#issuecomment-624217161.

However, I vote for the consistent version number across all official LightGBM components. 4-part version numbers will greatly increase the maintenance burden. Also, it will be very hard to make separate changelogs acros

[2020-07-07 14:17] imatiach-msft commented on #3210
@StrikerRUS yes, I do almost exactly this, except instead of a fourth version I extend the third version, eg 2.3.150 corresponds to 2.3.1.  I like this proposed versioning schema and can migrate to it for the JAVA wrapper, I'm open to any new ideas.  I can't really keep to 2.3.1 because the JAVA releases are separate and I sometimes have blocking issues that span both (JAVA JNI + native jar) and m

[2020-07-07 15:29] jameslamb opened #3212 "[R-package] RFC: require R >= 3.5.0"
I'm opening this request for comment as part of the changes we're considering for `LightGBM` 3.0.0 (#3071 ).

I'd like to propose the following:

## How this makes LightGBM better

Today, we maintain a couple places in the code for the R package which are if-else blocks checking whether you are on a version of R earlier than R 3.5.0

* https://github.com/microsoft/LightGBM/blob/1e2013a306c0ca719fa

[2020-07-07 16:07] StrikerRUS commented on #2953
ping @batutlsk for

[2020-07-07 16:14] #3166 closed

[2020-07-07 16:48] #3203 closed

[2020-07-07 17:38] mayer79 commented on #3212
I remember there where some troubles when R 3.5 was being released.

I think in this case it is fully justified to require R >= 3.5, even if one or the other company might still rely on older R versions (with old versions of LightGBM, probably, so no real issue).

[2020-07-07 18:57] dantetrick opened #3213 "Issues Fitting "Same" Data into Light GBM Classifier"
I have an issue fitting my data to a LightGBM Classifier that hopefully I can get some help with.

1. I have 1 notebook that works fine so I cloned it in order to try to optimize the flow.
2. The cloned notebook fails using nearly the same code on the same data. The difference between the codes is found in how I 'filter' out test and training data.
3. The row count is exactly the same when I try t

[2020-07-07 19:08] StrikerRUS commented on #3213
@dantetrick Sorry, we do not maintain MMLSpark here. Please copy the content of your issue in the appropriate repository: https://github.com/Azure/mmlspark/issues.

[2020-07-07 19:08] #3213 closed

[2020-07-08 00:10] mjmckp commented on #3152
Thanks for taking a look, @guolinke

I have uncommented and fixed up the disabled `ResetTrainingData` test, please pull and try again.

To run the tests from the console, the command line is
[code]
for the `Create` test, and
[code]
for the `ResetTrainingData` test.  You may need to alter the path to `LightGBMNet.Test.dll`, depending on where it is located on your PC.

[2020-07-08 06:04] batutlsk commented on #2953
Now, works with no problems but i didn't change anything

[2020-07-08 06:17] louis925 commented on #3203
Thanks!

[2020-07-09 08:02] guolinke commented on #2953
feel free to reopen if you met it again.

[2020-07-09 08:02] #2953 closed

[2020-07-10 11:53] StatMixedML commented on #3200
Thanks @MotoRZR for referring to my repo https://github.com/StatMixedML. In fact, I am currently also working on an extension of LightGBM to probabilistic forecasting, see the repo here https://github.com/StatMixedML/LightGBMLSS

[2020-07-10 17:14] rjmcmcftw opened #3218 "lightgbm 2.3.2 sklearn classifier/regressor does not have init_model in fit param"
## How you are using LightGBM?

LightGBM component:

## Environment info

Operating System:

CPU/GPU model: CPU

C++ compiler version:

CMake version:

Java version:

Python version: 3.6

R version:

Other:

LightGBM version or commit hash:

## Reproducible example(s)

[code]

## Steps to reproduce

As seen here, the init_model param does not exist in the sklearn api of the classifier. I verified

[2020-07-10 18:19] StrikerRUS commented on #3218
@rjmcmcftw Unfortunately, `init_model` param is available only in the latest LightGBM version (not yet released). But according to your screenshots, you have got `2.2.3` version, but not `2.3.2`.

[2020-07-10 18:19] #3218 closed

[2020-07-11 16:12] StrikerRUS commented on #3137
Finally got an access to a Linux machine. Can confirm that the model `r"https://raw.githubusercontent.com/IQVIA-ML/LightGBM.jl/132d9eaebb6fba44f1cbc377ab0a00d4ac0d3244/test/ffi/data/gain_test_booster"` can be loaded back successfully at both `2.2.3` and `2.3.1` versions on Linux machine.

However, I cannot reproduce the issue with random data and model. I trained and saved a model on Linux with `2

[2020-07-11 19:55] sriharitn opened #3219 "[R-package] Installation issue for LightGBM in R 4.0.1 (Linux)"
I followed the exact installation guide, but I get the following error at the very end for Light GBM in R 4.0.1 in Linux.

I have R6 installed but not sure what the issue could be.

[code]

[2020-07-11 19:59] jameslamb commented on #3219
Thanks for using `LightGBM`! Could you please share some additional information?

* operating system and version
* compiler and version
* the full log from installation (everything printed when you ran `Rscript build_r.R`)

If you can share that information, I'll look into this and try to see what's going on.

[2020-07-11 20:12] sriharitn commented on #3219
Please see below.

operating system and version: `Linux 3.10.0-1062.18.1.el7.x86_64 x86_64`
compiler and version: `gcc version 4.8.5 20150623 (Red Hat 4.8.5-39) (GCC) `
Full Log from installation:
[code]

[2020-07-11 20:22] jameslamb commented on #3219
Thanks! Did you recently update from an old version of R? Could you show me the output of these commands?

[code]

I see other issues with a similar error, that seems to be caused by mixing R versions in your installed packages.

* https://github.com/tidyverse/tidyverse/issues/179
* https://r.789695.n4.nabble.com/Error-in-rbind-info-getNamespaceInfo-env-quot-S3methods-quot-td4755490.html

If you h

[2020-07-11 20:25] jameslamb commented on #3219
If that doesn't work, you should also consider updating `gcc` (if possible). We expect `LightGBM`'s core library to be compilable with `gcc >=4.8.2`,  but that is not necessarily true for all R packages.

CRAN uses `gcc` 9.3 and 10.1 for testing Linux packages, so it's possible for a release of a package like `R6` to make it onto CRAN even if it can't be built with `gcc` 4.x

[2020-07-11 20:48] sriharitn commented on #3219
Yes, I recently upgraded R and Rstudio from 3.5 to 4.0.

Please see below running Rscript.

Rscript --version
`R scripting front-end version 3.5.0 (2018-04-23)`

Rscript --vanilla -e "print(.libPaths())"
[code]

[2020-07-11 21:03] jameslamb commented on #3219
Ah, then yes this is your problem. The output of  `Rscript --version` tells me you still have R 3.5 installed.

The `.libPaths()` output tells me that you have multiple libraries of R packages. I'm guessing they are a mix of R 3.5  and R 4.0 packages.

I bet that if you run `ls /mnt/home/abc/R/x86_64-pc-linux-gnu-library/4.0`, you will not see `R6` listed.

I believe that if you remove  R 3.5.0 (a

[2020-07-11 21:20] sriharitn commented on #3219
Thank you for quick response.

I'll check with my Linux admin on Monday on changing the environment variable.

When I check the location below, I do see R6 installed for R 4.0.1. Strange.

[code]

[2020-07-11 21:34] jameslamb commented on #3219
oh interesting! Maybe the issue is in a dependency of `R6` then. Either way, the issue definitely seems to be related to R 3.5 and R 4.0 mixed  on the same system (see those issues I linked).

If you don't have admin access, you can try to work around this by passing a direct path. So instead of

[code]

you can try

[code]

Where instead of `/usr/local/bin/Rscript`, put whatever location `Rscript

[2020-07-11 22:04] sriharitn commented on #3219
That makes sense. Thanks again.

[2020-07-11 22:10] jameslamb commented on #3219
I'm going to close this issue since it seems that it's not related to LightGBM directly. If you fully upgrade to R 4.0 and still experience this problem, please comment here and I'll re-open it.

Thanks for using `LightGBM`, and enjoy your weekend!

[2020-07-12 03:37] #3212 closed

[2020-07-12 05:54] JiaRu2016 opened #3221 "`Dataset.feature_name.__len__()` do not equal to `Dataset.num_feature()` after `add_features_from` another dataset"
## How you are using LightGBM?

* Python package

## Environment info

Operating System: Ubuntu 18.04

CPU/GPU model: GPU

C++ compiler version:   gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

CMake version:  cmake version 3.17.1

Python version: 3.8

LightGBM version or commit hash:  on both master and tag=v2.3.1 can reproduce this issue

## Reproducible example(s)

[code]

## Steps to reproduce

1. o

[2020-07-12 06:03] guolinke commented on #3221
refer to https://github.com/microsoft/LightGBM/pull/2754

[2020-07-12 07:32] JiaRu2016 commented on #3221
I have merged `fix-add-features` into current `master` branch, rebuild it and reinstall python package. However this problem still exits (exactly same output as before). Moreover when constructing dataset a Warning message raise:
[code]

[2020-07-12 09:04] guolinke commented on #3221
@JiaRu2016 I think the feature name in python-package is not fixed yet in the PR, it needs to get from lightgbm.dll.
ping @StrikerRUS to confirm.

[2020-07-12 09:06] guolinke commented on #3221
@JiaRu2016 BTW, LightGBM will filter the feature, based on min_data (and min_data_per_bin).
In your test case, the number of data is smaller than min_data and min_data_per_bin, you should set them both to 1 to run your test.

[2020-07-12 16:29] JiaRu2016 commented on #3221
@guolinke you are right. Explicitly set `ds.feature_name = ds.get_feature_name()` will solve this problem.

[2020-07-13 12:43] sriharitn commented on #3219
Hi James, Unfortunately I reran with `Rscript with 4.0.1` I still get the same error.

[code]

[2020-07-13 16:20] jameslamb commented on #3219
I still believe this issue is the result of mixing installations of R versions, per the links I shared.

Can you please share the new output of these commands?

[code]

If your R version has been upgraded, have tried running this command I suggested?

[code]

[2020-07-13 17:24] sriharitn commented on #3219
you may be right on the multiple versions of `R`. Here is the output of

[code]
[code]
when I run this

[code]
nothing happens.  the command runs smoothly.

Yes, I removed and reinstalled `R6` package.

I'm trying to work with my Linux Admin to resolve this and he seems to think that it has to do with  have the right `R` paths. Hopefully, I would be able to resolve this and will surely report back

[2020-07-13 17:39] jameslamb commented on #3219
hmmmm ok, that is good that you're able to target the `4.0.1`!

Look for the value of the `R_LIBS` and `R_HOME` environment variables, those will be clues.

Now that I think about it, I know why this might not still work for you if you have multiple versions of R installed...even if you use `/specific/path/to/Rscript`, this command will use whichever `R` is found by `R_HOME`:

https://github.com/m

[2020-07-14 15:13] jtilly opened #3227 "Refit segfaults on large data sets"
Refit segfaults on large data sets, because

https://github.com/microsoft/LightGBM/blob/9f367d11ad52ae8f2f1cf7b3447735723281d820/src/c_api.cpp#L348

limits the index to be of type int32. With `n_estimators=100` this means you'll run into trouble if you're refitting with a little more than 20 million rows (arguably very large values for a refit).

The simplest fix would be to recast `i * ncol + j`,

[2020-07-15 12:58] AlbertoEAF opened #3229 "SWIG - Using multiple matrices to build LightGBM train dataset"
Hello,

With really large datasets  (>16GB worth of double values) in a single machine I'm hitting a limitation with malloc (limit of the non-teraspace malloc) to allocate a single buffer for the train data that will in turn be fed to https://lightgbm.readthedocs.io/en/latest/C-API.html#c.LGBM_DatasetCreateFromMat.

I thus need to use multiple smaller buffers and use `LGBM_DatasetCreateFromMats` i

[2020-07-15 15:55] AlbertoEAF commented on #3229
@imatiach-msft do you think this fix you made is enough to deal with this ?

https://github.com/microsoft/LightGBM/pull/2859

Thanks!

[2020-07-15 16:15] imatiach-msft commented on #3229
@AlbertoEAF I hope so, the fix should already be in latest master in mmlspark.  Any way you could share a way to reproduce the issue?  If not, are you able to validate the latest mmlspark fixes this issue?

This build:

[code]

corresponds to this PR:

https://github.com/Azure/mmlspark/pull/882

[2020-07-15 16:30] #3229 closed

[2020-07-15 16:33] kobics opened #3230 "Modifying model file"
Hi
We would like to modify a model file, but few things seems wrong.
1 When we modify shrinkage/leaf values, and load, sometime the kernel dies
2 When we modify the shrinkage, and load the model (And the kernel does not die), the predictions are the same as the original model, before modifying the shrinkage

Thanks

[2020-07-15 19:20] StrikerRUS commented on #3011
Closed via #3220.

[2020-07-15 19:20] #3011 closed

[2020-07-15 19:54] StrikerRUS commented on #2935
Closed via #2992.

[2020-07-15 19:54] #2935 closed

[2020-07-16 01:55] jameslamb commented on #3230
Hi @kobics , thanks for using `LightGBM`! If you can please provide some more information, an appropriate maintainer will help you.

Can you please answer the questions you were asked when you clicked "New issue"? Copy this content (https://raw.githubusercontent.com/microsoft/LightGBM/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md) and fill it out in a comment here.

[2020-07-16 02:37] guolinke commented on #3230
@kobics if you change the model file manually, you should remove `tree_size` field.

[2020-07-16 12:15] kobics commented on #3230
Hi @jameslamb thanks for your reply. please explain what you ask me
Thanks

[2020-07-16 12:19] #3227 closed

[2020-07-16 12:21] kobics opened #3232 "Problems when modifying model file"
## How you are using LightGBM?

LightGBM component:

## Environment info

Operating System: Linux

CPU/GPU model: NA

C++ compiler version: NA

CMake version: NA

Java version: NA

Python version: conda install 2.3.0

R version: NA

Other: NA

LightGBM version or commit hash: NA

## Error message and / or logs

Hi
We would like to modify a model file, but few things seems wrong.
1 When we modify s

[2020-07-16 12:26] StrikerRUS commented on #3227
@jtilly Thanks a lot for finding and fixing the issue!

[2020-07-16 13:24] guolinke commented on #3232
@kobics if you change the model file manually, you should remove the tree_size field.

[2020-07-16 13:24] #3232 closed

[2020-07-16 14:22] jameslamb commented on #3230
it looks like you opened #3232 with the details I'm asking for. That wasn't my intention, but that works!

did @guolinke 's suggestion (https://github.com/microsoft/LightGBM/issues/3232#issuecomment-659409428) help you?

[2020-07-16 19:39] kobics commented on #3230
works for the leafs (at this point), when i change the shrinkage and load, it still breaks

[2020-07-16 19:39] kobics commented on #3230
partially :

works for the leafs (at this point), when i change the shrinkage and load, it still breaks

[2020-07-16 20:38] jameslamb commented on #3230
Ok I've reopend this issue. Let's keep the conversation here and not use #3232 , so it is one conversation.

From #232 , it looks like you are using version 2.3.0 of the Python package. That version is quite old...could you try installing version 2.3.1 from PyPi (`pip install lightgbm`) or building from source in this repo?

If you need to be on 2.3.0 for stability reasons (totally understand!), i

[2020-07-17 00:37] guolinke commented on #3230
@kobics what do "break" mean? it dies?

The shrinkage rate is not used in prediction time. The leaf value is already shrinkage in training. It will not apply again.

[2020-07-17 10:24] AlbertoEAF opened #3236 "New release ETA?"
Hello,

Are there plans for a new release soon?

Thank you :)

[2020-07-17 13:39] ekerazha commented on #3236
@imatiach-msft is a new release of lightgbm also blocking a new release of mmlspark? Both projects got a massive amount of improvements in the latest months, but they don't get any new release since November 2019.

[2020-07-17 14:20] shiyu1994 commented on #3151
@mjmckp  This is due to a bug in undefined "num_threads" of the TrainingShareStates. The num_threads of a TrainingShareStates is set in this function. However, when the bin is nullptr, num_threads of TrainingShareStates is not set.

But later on, this num_threads will be passed to num_threads argument of omp here

which causes the error.

Inserting `num_threads = OMP_NUM_THREADS();` between line 2

[2020-07-17 14:25] imatiach-msft commented on #3236
@ekerazha no, it is not blocking mmlspark.  There have been several lightgbm java (jar) releases in the recent past, and mmlspark depends on those.  mmlspark can be used from any PR build as a spark package, so a release shouldn't block anyone.  However, @mhamilton723 is planning to do an official rc-2 release soon for mmlspark (he is a part-time research SDE who currently owns MMLSpark but is als

[2020-07-17 15:20] sriharitn commented on #3219
Hi James, thanks for all your help. It finally worked, you can close the issue. Basically, you are right, It was the conflict in R packages that caused the issue. So editing the environment variable really helped.

`export PATH="/opt/R/4.0.1/bin:${PATH}`

[2020-07-17 15:20] #3219 closed

[2020-07-17 15:37] jameslamb commented on #3219
great! Thanks for using `LightGBM`, come back and open a new issue if you run into other problems with the R package.

[2020-07-17 17:46] cegafe3 opened #3237 "Monotonically constrain integer variables with missing values"
I'm trying to impose monotonic constrains to variables that are integers and have missing values. The problem is, the default int32 format doesn't support missing values, and the int64 format that accepts missing values is not supported by LigthGBM.

What is the right way of dealing with this without having to cast the variable to float?

[2020-07-17 20:50] kobics commented on #3230
@guolinke Thanks this is very helpful. Can you tell me if there additional parts of the model I can erase and still be able to :
1 load and predict
2 load and continue to train

Thank you

[2020-07-18 00:58] #3163 closed

[2020-07-18 02:21] guolinke commented on #3237
you can use `zero_as_missing`, and set 0 to the missing values.

[2020-07-18 02:21] #3237 closed

[2020-07-18 02:26] guolinke commented on #3230
@kobics For the tree model, you can edit tree structure and tree outputs (but need to remove the tree_size). For the most remaining fields in tree, there are to record the status in training.

[2020-07-18 02:27] guolinke commented on #3151
@shiyu1994 I think you can create a PR to fix this first.

[2020-07-18 12:04] AlbertoEAF commented on #3236
There's a new open-source Java wrapper which would really benefit from a release though, to benefit from the latest patches in the master: https://github.com/feedzai/feedzai-openml-java/tree/master/openml-lightgbm as it is focused in low-latency scoring.

@imatiach-msft basically you're releasing new versions of the lightgbm java based on the master right? In your experience, how stable is master

[2020-07-19 01:05] #3151 closed

[2020-07-19 07:40] mercedesmedaly commented on #2478
Recode variables( names), with tildes, ...
symbols that are not allowed in the American language

[2020-07-19 20:30] kobics commented on #3230
@guolinke Thanks. is the status recorded used for later training (if we use it as an init model)?

[2020-07-20 01:51] guolinke commented on #3230
@kobics
I don't think so.

[2020-07-20 04:24] imatiach-msft commented on #3236
@AlbertoEAF I think master is very stable, at least for the native code.  I've done many releases before from master, often due to critical bugs that were blocking users/customers from using the distributed version.  Yes, I can do another release of the maven jar.  Do you need a new release right now, or after a specific PR is merged?  Would be happy to do a release for that project.

[2020-07-20 11:42] AlbertoEAF commented on #3236
Thank you for your input and generosity @imatiach-msft! Due to development though we can no longer use those maven releases as we had to change the build process to build directly from source.

Based on @imatiach-msft's answers, it seems we have two hypothesis: wait for a new release or use master directly.

Does someone have an idea of the next release date?

[2020-07-20 12:16] guolinke commented on #3236
@AlbertoEAF
refer to #3071 , although I want to release the new version ASAP,  we have several issues that need to address.

[2020-07-20 13:37] AlbertoEAF commented on #3236
Thank you!

[2020-07-20 13:37] #3236 closed

[2020-07-20 16:46] #3207 closed

[2020-07-20 16:48] StrikerRUS commented on #3152
@guolinke If I'm not mistaken, this issue was resolved in #3238, right?

[2020-07-20 18:14] AlbertoEAF opened #3241 "[bug] Introduced bug in *Fast() methods with the locking strategy PR"
The https://github.com/microsoft/LightGBM/pull/2760 PR introduced 2 bugs in the fast methods introduced in https://github.com/microsoft/LightGBM/pull/2992/.

The non-fast variants were correctly changed, but the Fast variants were not updated in the same manner:

- https://github.com/microsoft/LightGBM/commit/1c35c3b9ede9adab8ccc5fd7b4b2b6af188a79f0#diff-59f374370af59cd4cbd753881fc246c5R1936-R1981

[2020-07-21 01:13] guolinke commented on #3241
@AlbertoEAF I think delaying the release of  3.0.0-rc1 for about one-week (or slightly longer) is not a big deal.
What is the ETA of this fix?

[2020-07-21 01:39] guolinke commented on #3152
@StrikerRUS I think it fixed #3151 , not this.

[2020-07-21 08:17] guolinke commented on #3152
ping @mjmckp to confirm.

[2020-07-21 08:20] guolinke commented on #3027
It is hard to say which lines are enough for sparse data, but 20 indeed is too few.
Maybe we can have a reasonable guess from file size.

[2020-07-21 08:55] JoanFM commented on #3241
Hey @AlbertoEAF

Sorry for the inconvenience, did I screw doing some realignment? Let me know if I can be of help on fixing the issue.

[2020-07-21 09:26] PastelBelem8 opened #3243 "[Python] Cannot run `goss` using custom objective function `fobj`"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Ubuntu 18.04.4 LTS

CPU/GPU model: Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (x86_64) / Intel Corporation UHD Graphics 620

C++ compiler version: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

CMake version: 3.10.2

Java version: openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_2

[2020-07-21 09:32] guolinke commented on #3243
@PastelBelem8 Did this happen only when using the customed objective?
@shiyu1994 can you help to check this issue?

[2020-07-21 09:41] PastelBelem8 commented on #3243
Yes @guolinke

[2020-07-21 09:42] daanklijn opened #3244 "[Python] Allowing custom objective / metric function with "objective" and "metric" parameters"
## Summary

It would be nice if one could register custom objective and loss functions, so that these can be passed into the LightGBM's  `train` function via the `param` argument.

## Motivation

I believe that this would be a nice feature as this allows for easier hyperparameter tuning. Currently one would need to write logic that retrieves the custom function based on the name in a config file a

[2020-07-21 09:47] shiyu1994 commented on #3243
@guolinke ok.

[2020-07-21 10:01] AlbertoEAF commented on #3241
The fix is quick, a two-liner and is done, however changing the API and measuring if there are improvements would take a little longer. I can only work on the weekend, so I can do it this weekend or the next. Is that ok @guolinke?

Otherwise I'd ask if we can release 3.0.0-rc1 with the commit before the merge of #2992 @guolinke to avoid being stuck with this API for the future.

No problem @JoanFM

[2020-07-21 10:14] guolinke commented on #3243
@PastelBelem8
Does
[code]
also work?

[2020-07-21 10:14] guolinke commented on #3241
@AlbertoEAF I think it is okay

[2020-07-21 10:24] PastelBelem8 commented on #3243
@guolinke  yes, it does!

[2020-07-21 12:20] StrikerRUS commented on #3152
OK, seems I was just confused by

in https://github.com/microsoft/LightGBM/issues/3151#issuecomment-660133543

[2020-07-21 12:33] guolinke commented on #3152
also ping @shiyu1994 to confirm.

[2020-07-21 19:28] Cuize opened #3245 "Bug for using CEGB with bagging"
## How you are using LightGBM?
C++ library

LightGBM component:

## Environment info

Operating System: macOS Mojave

CPU/GPU model:

C++ compiler version:

CMake version:

Java version:

Python version:

R version:

Other:

LightGBM version or commit hash: latest. last commit f5f27ca88c69d194ca03df88c5c2a58acce15e33 (7/16/2020)

## Error message and / or logs

## Reproducible example(s)
set `cegb

[2020-07-21 20:51] mjmckp commented on #3152
@guolinke That's correct, this is a different and currently unresolved issue,

[2020-07-22 00:41] guolinke commented on #3245
@Cuize thanks, you can try #3246

[2020-07-22 01:34] Cuize commented on #3245
@guolinke  thanks for the quick fix!

[2020-07-22 16:09] lcsdavid commented on #2341
May I add that there is an error in
<[LightGBM/include/LightGBM/dataset_loader.h](https://github.com/microsoft/LightGBM/blob/master/include/LightGBM/dataset_loader.h)>:30:26-48
CostructFromSampleData should be ConstructFromSampleData ?

Regards.

[2020-07-22 20:50] kobics opened #3247 "Training for two rounds is not equivalent to training one round twice"
## How you are using LightGBM?

LightGBM component: 2.3.1

## Environment info

Operating System:

CPU/GPU model: CPU

C++ compiler version: NA

CMake version: NA

Java version: NA

Python version: 3.7.6

R version: NA

Other: NA

LightGBM version or commit hash:

2.3.1

## Error message and / or logs

## Reproducible example(s)

## Steps to reproduce

1.  build a model with , num_boost_round=1, s

[2020-07-23 03:15] shiyu1994 commented on #3152
@mjmckp In the ResetTrainingData test, `dataSet2` is created by calling `new Dataset(dataSet, dataSet.NumRows / 2);`. And the Dataset constructor calls the LightGBM interface `LGBM_DatasetCreateByReference`.

However, note that this does not really create a new `dataSet2` with the first half rows of `dataSet`. It only creates an empty framework of dataset with half the size, since the `LGBM_Datase

[2020-07-23 05:04] PastelBelem8 commented on #3247
Have you tried setting the seed?

[2020-07-23 05:51] guolinke commented on #2341
@lcsdavid I think it is a typo. welcome to create PR to fix it.

[2020-07-23 05:55] guolinke commented on #3247
@kobics there are many factors will cause this.
please provide a reproducibly example, by random gerenated data.

[2020-07-23 10:36] PastelBelem8 commented on #3243
@guolinke any tip that might get me started on debugging potential reasons for this error? I would like to contribute if possible :)

[2020-07-23 11:57] guolinke commented on #3243
Thanks @PastelBelem8 , it will be great!
firstly, you can try `force_col_wise=true`.
if there is not problem, I think
I think it is caused by the subset used in bagging:
https://github.com/microsoft/LightGBM/blob/952e23a0093e68cde6453c7ac2f4a818b5892c81/src/boosting/goss.hpp#L145-L154

if with  `force_col_wise=true`, it still failed. I think the problem is caused by bagging:
https://github.com/mic

[2020-07-23 14:26] kobics commented on #3247
import numpy as np
import lightgbm as lgb

X = np.random.randn(100,3)
Y = np.random.randn(100)
S = lgb.Dataset(X,Y,free_raw_data=False)

params = {
'task':'train',
'boosting_type':'gdbt',
'objective':'regression_l2',
'metric':{'l2'},
'max_depth':2,
'learning_rate':0.1}

# 1 round
model1 = lgb.train(params,S,num_boost_round=1,valid_sets=[S],early_stopping_rounds=10)
model1.save_model('model1.txt')

[2020-07-23 14:37] guolinke commented on #3247
can you try
[code]
?

[2020-07-23 14:58] kobics commented on #3247
works! thanks.
can you explain why?

[2020-07-24 00:32] guolinke commented on #3247
Dataset will record the `init_score`, which is from `init_model`.
So in continued train mode, it is better to reset Dataset.
You can also clear the `init_score` in Dataset as well, by setting its values to zeros.

[2020-07-24 04:15] jameslamb opened #3249 "[R-package] Reduce duplication in Makevars.in, Makevars.win"
## Summary

See https://github.com/microsoft/LightGBM/pull/3188#discussion_r451041017  for background. Today in `R-package/Makevars.win.in` and  `R-package/Makevars.in`, all objects have to be explicitly listed out.

To close this issue, you might take an approach like what `xgboost`  does: https://github.com/dmlc/xgboost/blob/master/amalgamation/xgboost-all0.cc

[2020-07-24 05:09] jameslamb commented on #3249
closed in favor of being in #2302 ,where we keep all feature requests. Please comment here if you'd like to contribute this and the issue will be re-opened.

[2020-07-24 05:09] #3249 closed

[2020-07-25 10:05] #3027 closed

[2020-07-25 10:05] #3245 closed

[2020-07-25 18:40] PastelBelem8 commented on #3243
@guolinke for this particular dataset, setting `force_col_wise=true' seems to solve the problem. Thanks for the help.

[2020-07-26 11:28] StrikerRUS commented on #3243
@PastelBelem8 Thanks a lot for the updates!

However, I don't think that a segfault is something that should happen during training with custom objective. So I'd better reopen the issue.

[2020-07-26 11:39] StrikerRUS commented on #3180
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2020-07-26 11:39] #3180 closed

[2020-07-27 02:25] #3182 closed

[2020-07-27 13:16] franktoffel commented on #3058
Any update on this? We are facing similar issues.

[2020-07-27 16:10] zachmayer commented on #3180
Just a follow up on this:
- [ngboost](https://github.com/stanfordmlgroup/ngboost) supports arbitrary base learners, which solves the problem for me for now.
- There's an interesting new package called [Grownet](https://github.com/sbadirli/GrowNet) which has some evidence that boosting different weak learners (specifically neural networks) is useful. (There's a [paper](https://arxiv.org/pdf/2002.07

[2020-07-27 20:50] anovember opened #3255 "using CV with dart & early_stopping_rounds"
I understand why using `lgb.train` with `dart` and  `early_stopping_rounds` won't work (earlier trees are mutated, as discussed in #1893 ), but it seems like using this combination in `lgb.cv` would be valid / useful for figuring out the optimal number of rounds.

Or am I missing something?
Thanks.

[2020-07-28 00:59] jameslamb commented on #629
Ok I took the current version of the R package on #3188 , since I think that PR will be merged  soon, and built an R source package to check on R Hub.

<details><summary>How to run R Hub checks</summary>

from a terminal:

[code]

from R:

[code]

</details>

## Overview

[R Hub](https://builder.r-hub.io/about.html) is a free project that runs `R CMD check` on an R package on a bunch of platforms.

[2020-07-28 01:51] guolinke commented on #3058
@shiyu1994 can you help to check this?

[2020-07-28 02:17] shiyu1994 commented on #3058
Maybe we can add a `predict_with_tree(tree_id=i)` method for Booster. I'll handle this.

[2020-07-28 06:33] guolinke commented on #629
@jameslamb
for oracle Solaris, maybe we can disable the network module.
for the `misaligned` error, maybe the removal of `MM_MALLOC` is the root cause?

[2020-07-28 12:03] lcsdavid opened #3257 "[TYPO] DatasetLoader::ConstructFromSampleData"
May I add that there is an error in
<[LightGBM/include/LightGBM/dataset_loader.h](https://github.com/microsoft/LightGBM/blob/master/include/LightGBM/dataset_loader.h)>:30:26-48
CostructFromSampleData should be ConstructFromSampleData ?

Regards.

Originally posted by @lcsdavid in https://github.com/microsoft/LightGBM/issues/2341#issuecomment-662830604

Creating PR to fix it.

[2020-07-28 12:26] StrikerRUS commented on #3058
Will adding `start_iteration` parameter to the existing `predict` method be enough? I think then it will be possible to select one tree with the help of `num_iteration` and `start_iteration`. Also, it will be consistent with the API of `save_model` method (and some others).

https://github.com/microsoft/LightGBM/blob/b299de3f7248627f43c956ea60e5dc8d9bbcba1b/python-package/lightgbm/basic.py#L2809-L

[2020-07-28 12:31] lcsdavid commented on #3257
Associated PR #3258

[2020-07-28 12:40] StrikerRUS commented on #629
Ah, Solaris 11 has `ifaddrs.h` file, but unfortunately CRAN runs Solaris 10: https://issues.prosody.im/419

[2020-07-28 14:30] jameslamb commented on #629
I was thinking the same thing!

I don't think so. On [the build with that issue](https://builder.r-hub.io/status/original/lightgbm_2.3.2.tar.gz-40375e2cf86e487891de62cbe5261bb2), I see this

[code]

and `-DMM_MALLOC=1` in the compiler statements.

[2020-07-28 14:58] StrikerRUS commented on #629
Maybe we can use a patch for Solaris 10 from `psutil`?

https://github.com/giampaolo/psutil/blob/master/psutil/arch/solaris/v10/ifaddrs.h
https://github.com/giampaolo/psutil/blob/master/psutil/arch/solaris/v10/ifaddrs.c

It looks quite small.

[2020-07-29 02:06] #2960 closed

[2020-07-29 04:07] jameslamb commented on #629
for the alignment issues, I filtered the log to see which lines from LightGBM specifically are causing this problem

![image](https://user-images.githubusercontent.com/7608904/88754642-d32a1600-d124-11ea-8a1a-f79468e99df7.png)

Those lines of code look like this:

[code]

I'm not good enough at C++ to see the common pattern between these cases, but hope that helps.

[2020-07-29 04:36] guolinke commented on #629
@jameslamb do you know which tests cause these errors?

[2020-07-29 04:39] jameslamb commented on #629
You can see the logs here: https://builder.r-hub.io/status/lightgbm_2.3.2.tar.gz-38bbdb220ecd4ea288a2986c8f5717eb

Unfortunately I can't tell from those logs which test is breaking. Running the jobs on R Hub are pretty easy though...maybe tomorrow I can build a version of the R package that writes a lot more log messages, so we can narrow it down.

[2020-07-29 04:46] guolinke commented on #629
@jameslamb

[code]

[2020-07-29 04:54] jameslamb commented on #629
!!!!! ooooooo interesting, I missed that!

Ok so one thing we could do is add `testthat::skip_on_cran()` to those tests, so they're run in our CI and not on CRAN. That wouldn't fix the underlying problem but it would help toward the larger goal of getting to CRAN.

[2020-07-29 04:59] guolinke commented on #629
@shiyu1994 could you help to locate the mis-align errors?

[2020-07-29 05:01] jameslamb commented on #629
I'm trying that now. By the way, to test that specific issue in the environment where I saw it, you can run this from the root of the repo

[code]

then in R (but change  the email address)

[code]

[2020-07-29 05:44] shiyu1994 commented on #629
Ok. I'll look into this too.

[2020-07-29 10:58] davidvilanova opened #3262 "[LightGBM] [Fatal] Multiclass objective and metrics don't match"
Hi,
I have the following problem while trying to traing a model with three classes.

See reproducible example:

[code]

What am i doing wrong ?

[code]

[2020-07-29 12:27] StrikerRUS commented on #3262
@davidvilanova Hi!

For multiclass task you can use `auc_mu` metric: https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric-parameters.

[2020-07-29 12:27] #3262 closed

[2020-07-29 13:00] davidvilanova commented on #3262
if i use `auc_mu`  i get the following error
[code]

[2020-07-29 13:35] StrikerRUS commented on #3262
Class labels should start from 0.

https://github.com/microsoft/LightGBM/blob/d42f43132df63ae64783d3bc4f6366dd325116af/R-package/demo/multiclass_custom_objective.R#L6-L9

[2020-07-29 13:36] StrikerRUS commented on #3257
Fixed in #3258.

[2020-07-29 13:36] #3257 closed

[2020-07-29 15:06] StrikerRUS commented on #3206
I wonder, how will it be useful for users given that they have to install Boost and OpenCL by their own anyway? The only difference will be "CMake vs configure", if I'm not mistaken. Maybe it's better to provide a link for the guide how build from the most recent sources?

[2020-07-29 16:25] jameslamb commented on #3206
I don't think it is something we have to do before going to CRAN, but it would be useful some day in the same way that Python users can do this

[code]

* no need to have or know about cmake
* no need to have or know about git or GitHub

I agree that it's ok to just have it documented in the README how to build for source, maybe for a long time, but I do think this could be useful one day.

[2020-07-29 16:40] kidotaka commented on #3062
In my experience with lightgbm 2.3.0, real feature names are displayed using plot_tree.

plot_tree and create_tree_diagram just display feature names via booster.dump_model().

I think that your model don't have real feature names.

In dataset construction time,
"Column_ + i" is used if there are no available feature names.

https://github.com/microsoft/LightGBM/blob/6f339d77a1bb9d16086a85439f68b4

[2020-07-30 04:57] jameslamb commented on #629
Ok now I think that the failing unit tests and the misalignment errors are not related. Look at this build: https://builder.r-hub.io/status/original/lightgbm_2.3.2.tar.gz-9a1b2e49f6bf473892a6b9eccfa9f045

So I see

[code]

but also

[code]

That is in a version of the package with these tests (https://github.com/microsoft/LightGBM/issues/629#issuecomment-665428213) skipped.

[2020-07-30 06:06] friedsela opened #3266 "Tweedie loss function"
It seems to me that even if the prediction equals the true value, the loss (as defined) is not 0. Is this so? Why does this make sense? Is there a reference for this?

[2020-07-30 14:53] AlbertoEAF opened #3267 "[fix] Locale independent model load/save"
Hello,

# Issue

With the revert of its PR, this issue became again a concern in Java: https://github.com/microsoft/LightGBM/issues/2890.

At the moment LightGBM uses strtod() and C++ streams to read/write floating point the model file numbers.
The issue is that Java breaks the initialization to the standard "C" locale (see https://github.com/microsoft/LightGBM/pull/2891). Current evidence shows t

[2020-07-30 18:53] StrikerRUS commented on #3267
Speaking about float2str conversion in saving models, XGBoost recently adopted Ryū algorithm (https://github.com/dmlc/xgboost/pull/5772) and numpy uses Dragon4 algorithm (https://github.com/numpy/numpy/pull/9941).

[2020-08-01 17:19] jameslamb commented on #2684
This issue can be considered permanently closed! Now that #3095 has been merged, there is only one such function (`lgb.convert()`), so this issue is now irrelevant.

[2020-08-01 17:19] jameslamb commented on #2683
This issue can be considered permanently closed! Now that #3095 has been merged, there is only one such function (`lgb.convert()`), so this issue is now irrelevant.

[2020-08-01 17:29] jameslamb commented on #2678
Just updated the title and description now that #3095 has been merged.

[2020-08-01 17:32] jameslamb commented on #2679
This is now irrelevant since #3095 has been merged, so I'm marking it `wontfix`.

`lgb.convert()`' (the function that replaces `lgb.prepare2()` will now take in a data frame and guarantee that it returns one that has only integer and numeric columns. It is completely fine for a training dataset to mix integer and numeric values.

[2020-08-01 17:32] jameslamb commented on #2680
This is now irrelevant since #3095 has been merged, so I'm marking it `wontfix`.

`lgb.convert()`' (the function that replaces `lgb.prepare2()` will now take in a data frame and guarantee that it returns one that has only integer and numeric columns. It is completely fine for a training dataset to mix integer and numeric values.

[2020-08-01 17:35] jameslamb commented on #2681
I just updated this description and title now that #3095 has been merged.

[2020-08-01 17:41] jameslamb commented on #2682
I've updated the title and description here now that #3095 has been merged

[2020-08-01 17:59] jameslamb commented on #629
I just had a thought about some of these...if we pick up #1944 and create R `vignettes/`, that could also be used to avoid some of the CHECK NOTEs in https://github.com/microsoft/LightGBM/issues/629#issuecomment-664714892 about examples that take too long to run. If we introduced vignettes, the documentation for expensive functions like `lgb.train()` and `lgb.cv()` could just say "for example code

[2020-08-02 16:08] StrikerRUS commented on #2105
Closed via #3204.

[2020-08-02 16:10] StrikerRUS commented on #283
Implemented in #3204.

[2020-08-02 16:14] StrikerRUS commented on #1445
Implemented in #3204.
Now it is possible to get feature importances from `CVBooster`.

[2020-08-04 05:57] shiyu1994 commented on #3058
I've done the implementation as @StrikerRUS suggested. If boost_from_average is enabled, the average score will be integrated into the first tree. So `booster.predict(data, start_iteration=0, num_iteration=1`), it will provide the score of the first tree with average value added. Does that meet your request? @pransito

[2020-08-04 10:36] FiksII opened #3273 "Results depend on categorical labels"
Python package
LightGBM component:
lightgbm==2.3.1
## Environment info
Operating System:
Windows 10
Python version: 3.7.6

The results (for example, cv) depend on categorical labels. As an example, I took Boston dataset, added artificial category feature with values ['low', 'mid', 'high']. Then, I encoded it:
dataset_1 is created based on {'low': 0, 'mid': 1, 'high': 2} encoding, dataset_2 is crea

[2020-08-05 01:35] hcho3 commented on #629
@jameslamb FYI, you can download Oracle Solaris VM from [this link](https://gist.github.com/jcheng5/ca6c6b693b743a01d458a2872b039ab6). The link also shows how to install R in Solaris. It came in handy when XGBoost failed CRAN checks for Solaris target and I had to debug it.

[2020-08-05 01:37] jameslamb commented on #629
ooooooooo that's awesome, thank you! Will be a lot faster than using R Hub to debug 😂

[2020-08-05 01:38] jameslamb commented on #629
@hcho3 are the notes at that link why you decided to add `SystemRequirements: GNU make` to `DESCRIPTION`?

https://github.com/dmlc/xgboost/blob/5a2dcd1c33738ff0941438952155e2472a09d809/R-package/DESCRIPTION#L68

[2020-08-05 01:47] hcho3 commented on #629
@jameslamb It had to do with supporting Windows: #2994.

[2020-08-05 01:49] jameslamb commented on #629
ooooo thanks!

[2020-08-05 10:53] mirekphd opened #3274 "More frequent releases"
## Summary

Please start making more frequent releases, at least monthly.

## Motivation

The project is actively maintained and adds new features and corrects issues every month.

The release frequency has dropped significantly compared to previous years (every 2 months in 2018 and every 4 months in 2019).

Currently the [latest version](https://github.com/microsoft/lightgbm/tags), 2.3.1, is 8 mo

[2020-08-05 15:05] #3241 closed

[2020-08-05 15:17] #3247 closed

[2020-08-05 15:18] #3230 closed

[2020-08-05 16:16] mirekphd commented on #3040
I confirm that problem of large `devel` vs. small(er) but insufficient `runtime` base image exists also for CUDA 11: OpenCL dynamic library required by LightGBM is not available in the smallest `nvidia/cuda` images such as `base` or `runtime`, i.e. smaller than `devel`. However,  you can save around 5 GiB of storage space by skipping the cuDNN versions, which contain the `cudnn` token, unless you

[2020-08-05 17:13] StrikerRUS commented on #3274
You can always download and use our nightly builds: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html.

Speaking about making more frequent releases, we are already on the way to it! Please feel free to comment in the existing issue: #3210.

[2020-08-05 17:13] #3274 closed

[2020-08-05 22:57] guolinke commented on #3273
@shiyu1994 could you help to investigate this?

[2020-08-05 23:00] guolinke commented on #3244
thanks @daanklijn
I think this is quite easy to implement.
@shiyu1994 could you help with this when you have time?

[2020-08-05 23:10] guolinke commented on #2302
we would like to call the voting here, to prioritize these requests.
If you think a feature request is very necessary for you, you can vote for it by the following process:

1. got the issue (feature request) number.
2. search the number in this issue, check the voting of it exists or not.
3. if the voting exists, you can add 👍 to that voting
4. if the voting doesn't exist, you can create a new vo

[2020-08-05 23:14] guolinke commented on #3255
@anovember yeah, when with `dart`, you can use the early stoping to get the optimal num_rounds, in both lgb.train and lgb.cv.
But you need to re-run the training without early stopping with the optimal num_rounds, to get the correct model.

[2020-08-05 23:14] #3255 closed

[2020-08-05 23:26] guolinke commented on #3266
refer to the discussion in https://www.kaggle.com/c/m5-forecasting-accuracy/discussion/150614

[2020-08-05 23:29] #3243 closed

[2020-08-05 23:58] guolinke commented on #3137
@yalwan-iqvia
Does the problem still exist? From our tests, we think the model file should work fine across platform.
If your model is re-saved by other processes, like your mentioned Julia wrapper, you should better remove the `tree_sizes` filed.

[2020-08-05 23:58] #3137 closed

[2020-08-06 00:05] guolinke commented on #2392
@chris-smith-zocdoc  @imatiach-msft @JoanFM
Is this issue solved? refer to https://github.com/Azure/mmlspark/pull/792

[2020-08-06 00:07] guolinke commented on #2943
@AlbertoEAF sorry for the late response.

Is this issue solved? what is your current plan to fix this?

[2020-08-06 00:10] guolinke commented on #2363
@imatiach-msft
is this fixed? Is there anything I can help?

[2020-08-06 00:18] guolinke commented on #1717
It seems the problem mainly happen in windows. and one comment say disable the intel GPU can help.

you can try this solution. and gentle ping @huanzhang12 for the better word around.

We have a new CUDA implementation (#3160), which does not depend on OpenCL, and it should fix this.

[2020-08-06 00:25] guolinke commented on #2793
@shiyu1994 con you help to investigate this too?
you can start from @imatiach-msft 's test.

[2020-08-06 00:27] guolinke commented on #2828
@PhilipMay yeah, good suggestion. Thanks very much.

[2020-08-06 00:33] JoanFM commented on #2392
Hey @guolinke. I think it might be but unfortunately I do not have the possibility to reproduce the same conditions as when I was experiencing the problem.

[2020-08-06 00:40] guolinke commented on #3030
@sh1ng very sorry for the late response!
Just double confirm, this only happens in GPU, right?

[2020-08-06 00:42] guolinke commented on #2991
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute to this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2020-08-06 00:42] #2991 closed

[2020-08-06 00:45] guolinke commented on #3128
I think it is a useful feature, but not trivial to implement it.
we will need to refactor the whole `boosting` part. And I don't have much time recently.
@shiyu1994 is helping me for the lightgbm project recently, but he is also busy this month.
We can start refactoring in the next couple of months.

[2020-08-06 00:46] guolinke commented on #2991
move the discussion to #3128

[2020-08-06 00:51] guolinke commented on #3038
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute to this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2020-08-06 00:52] guolinke commented on #3044
@Taube03
did you mean the code location?
you can refer to https://github.com/microsoft/LightGBM/blob/master/src/treelearner/cost_effective_gradient_boosting.hpp

[2020-08-06 00:54] guolinke commented on #3061
For your question, yeah, the tree is ordered by class first, then iteration.
for example, for the i-th iteration, and j-th class, its tree index is `i * K +j`, where `K` is the number of total classes.

[2020-08-06 00:56] guolinke commented on #3061
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute to this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2020-08-06 00:56] #3061 closed

[2020-08-06 00:57] guolinke commented on #3062
Thank you @kidotaka .
@PhilipMay Does that meet your request?

[2020-08-06 00:58] guolinke commented on #3170
@JiaRu2016 any updates?

[2020-08-06 01:07] guolinke commented on #2791
@MaxHalford Thanks very much. Actually, LightGBM is able to convert tree model to c++ codes.
However, the tree in lightgbm is not the balance tree, so it is not trivial to optimized by the methods your post.
But this is indeed a good potential direction.
BTW, we will implement the symmetric tree (like in CatBoost) in the future (by @shiyu1994 ), which will be much faster in prediction time, and mo

[2020-08-06 01:11] MaxHalford commented on #2791
@guolinke I think the trick still works. You just need to maintain two arrays that indicate the left and right child of each node. That way you can "walk" to the next node with something like:

[code]

[2020-08-06 01:21] guolinke commented on #2791
Thank you @julioasotodv .
Actually, the CUDA implementation in existing tools already integrates most "Histogram tricks" from LightGBM.
So it is more like the "reinvert the wheel" if we just simply re-implement it again.
We plan to revisit the existing implementations and estimate the potential improvements. If there are still some rooms, we will develop the new version of LightGBM GPU.

[2020-08-06 01:23] guolinke commented on #2791
@MaxHalford ,
The current prediction logic is very similar to that fashion, it is https://github.com/microsoft/LightGBM/blob/9b2637354a84e0da813f8e2b22608a87eee01e4c/include/LightGBM/tree.h#L572-L584 .

[2020-08-06 01:30] #2828 closed

[2020-08-06 01:31] guolinke commented on #2790
For the SDT, I agree with @AaronX121 .
Besides of efficiency, I think the learning of SDT is also very different with DT.
The DT is learned by greedy feature selection, while SDT is more like learned by the back-propagation as in neural networks.
The greedy feature selection is a great strength of GBDT. With this function, GBDT is very robust to all kinds of tabular data.
But replacing it to SDT,

[2020-08-06 02:08] jameslamb opened #3276 "[R-package] plots are broken in R documentation"
See https://github.com/microsoft/LightGBM/pull/3270#issuecomment-668579806 and the comments that follow it.

The plots on these pages are broken:

* https://lightgbm.readthedocs.io/en/latest/R/reference/lgb.plot.importance.html
* https://lightgbm.readthedocs.io/en/latest/R/reference/lgb.plot.interpretation.html

![image](https://user-images.githubusercontent.com/7608904/89481846-43a4e880-d75e-11ea

[2020-08-06 02:09] JiaRu2016 commented on #3170
I'v tried several envrionment: Mac or Linux, python script or jupyter notebook, lgb CPU version or GPU version, but can not reproduce this error , so I'm closing this issue

[2020-08-06 02:09] #3170 closed

[2020-08-06 04:10] friedsela commented on #3266
I am aware of this discussion on Kaggle. Maybe I am missing something but I don't see how this answers my questions. It seems to me that if what I am saying is right, then the loss function does not force the predictions to be equal the target, but something else and I find it weird, therefore I am asking for a reference, and I didn't see any in the discussion you referred me to.

[2020-08-06 05:03] guolinke commented on #3266
Tweedie is not invented by us, and I didn't use it before, so I cannot provide you the exact reason.
But I think for a loss function, it is not necessary that should be zero when output equals to target.

[2020-08-06 05:55] hanzigs opened #3278 ""boost_from_average" parameter in "binary" objective is true."
Using lightgbm == 2.3.0
I get this warning
[code]
I have set this parameter to False, still I get warning
[code]
How to get rid of this warning? Found these two link that already discussed this issue
https://github.com/Azure/mmlspark/issues/471
https://github.com/Microsoft/LightGBM/issues/1514

also in https://stackoverflow.com/questions/55499429/lightgbm-ignore-warning-about-boost-from-average
Th

[2020-08-06 06:10] guolinke commented on #3278
I think we can remove this warning in 3.0 release.
ping @StrikerRUS @jameslamb
any other warnings should we remove?

[2020-08-06 06:27] guolinke commented on #3278
@hanzigs I think this was already removed in the latest master branch.
please update your LightGBM.

[2020-08-06 06:27] #3278 closed

[2020-08-06 06:53] yalwan-iqvia commented on #3137
My take is that if this is apparently occasionally correct and the workaround is to remove `tree_sizes` field then perhaps processes should not write it at all, which might be an acceptable fix to the issue.

I don't regularly anticipate a need to produce a file on one system and consume it on another, so this doesn't affect me personally. I just needed tests to pass, but this does look like a pot

[2020-08-06 07:44] hanzigs commented on #3278
Updated to 2.3.1
![image](https://user-images.githubusercontent.com/30790120/89505068-5bd34100-d80c-11ea-9f49-786633631096.png)
Still I get this
![image](https://user-images.githubusercontent.com/30790120/89505103-6d1c4d80-d80c-11ea-9b17-1cd6060aa13a.png)

[2020-08-06 08:09] guolinke commented on #3278
@hanzigs I mean the latest master branch. 2.3.1 is not the latest one.

[2020-08-06 08:53] AlbertoEAF commented on #2943
Hello Guolinke,

It could be fixed by wrapping with an exception in C++ & SWIG or returning
a void pointer which can be wrapped to return an OutOfMemory exception in
Java.
Although this can be fixed at any time as it does not change the API, this
is far from my priority list so maybe we can close it if you want?

Thank you

On Thu, 6 Aug 2020, 01:07 Guolin Ke, <notifications@github.com> wrote:

[2020-08-06 09:00] guolinke commented on #2943
@AlbertoEAF don't hurry, you can fix it anytime.

[2020-08-06 10:36] mirekphd commented on #3040
But there was another twist in the story: `devel` image version is needed after all when CUDA (not just OpenCL as in current lightgbm) is used by a modeling library. This is because only `devel` and larget `nvidia/cuda` images contain the required NVIDIA CUDA compiler (`nvcc`) - at least judging from xgboost requirements, where `cmake` it raises this error in `runtime' images:
`  Could not find nv

[2020-08-06 11:10] franktoffel commented on #3058
Hello Juline,

There was some response from LighGBM developers, see email below and ticket
in GitHub.

Is this what we were missing?

Hope you are doing well!

Regards

On Tue, 4 Aug 2020 at 07:57, shiyu1994 <notifications@github.com> wrote:

--

*Francisco J. Navarro-Brull*

[2020-08-06 12:40] #3058 closed

[2020-08-06 17:07] #3184 closed

[2020-08-06 17:07] #3194 closed

[2020-08-06 17:07] #3158 closed

[2020-08-06 17:48] chris-smith-zocdoc commented on #2392
@guolinke that pr addresses freeing the native memory but I don't think they address the concurrency issues in `LGBM_BoosterCreate` that this issue was created for. I'm not working with LightGBM at the moment so I can't easily reproduce.

[2020-08-06 20:58] StrikerRUS commented on #3278
@guolinke

I hope I removed all warnings in #3073 during to preparation for 3.0 release.

[2020-08-06 21:51] friedsela commented on #3266
Ok, Thank you.

[2020-08-06 22:29] mirekphd commented on #3210
Even if it is permissible under all world conventions, it is rare enough that most CI CD systems have not been tested for it (our has, as we have such packages installed). One needs a sizeable collection of packages indeed installed in their environment to encounter first cases of this kind. We do, so I can confirm that the incidence of 4-part tokens among python packages used for data science and

[2020-08-06 22:33] mirekphd commented on #3274
I dont think its a duplicate, because the other thread is calling for a 4-part version numbers, which is a blocker IMHO. I just need the more frequent releases under standard 3-part semantic versioning.
/reopen

[2020-08-06 22:35] mirekphd commented on #3210
Can we please try to separate the red herring of 4-part versions with the urgent bug of no releases having been made for 8 months, which was raised e.g. in #3274?

[2020-08-06 22:55] guolinke commented on #3210
@mirekphd
I think the delay of the current release is due to many new changes in the `3.0` version.
`3.0` provides about 2x speed-up in CPU, and many new (breaking) features. There are still some on-going works, so we will release a `pre-release` now, and continued to work on the rest items.
It is not the usual case, normally, we will release by monthly or bi-monthly.

BTW, currently, the release

[2020-08-06 23:00] guolinke opened #3280 "[Blocking] [ci] CI for R freeze"
refer to https://github.com/microsoft/LightGBM/runs/955837580
It seems the installation of Rtools (with R 4.0) freezes.
ping @jameslamb

[2020-08-06 23:01] jameslamb commented on #3280
Ok I can look in 10 minutes

[2020-08-06 23:25] jameslamb commented on #3280
ok looking right now

[2020-08-06 23:30] jameslamb commented on #3280
I'm going to push changes to #3277 to test, since that is a small R change that was already approved.

[2020-08-07 00:03] jameslamb commented on #3280
😕 I tried removing `/VERYSILENT` so we could get more logs installing Rtools, but no luck. I don't see any other [configuration options](https://cran.r-project.org/bin/windows/base/rw-FAQ.html#Can-I-customize-the-installation_003f) that can help here.

https://github.com/microsoft/LightGBM/pull/3277/checks?check_run_id=956113469

[code]

Those logs tell us that:

* R was found and could be downloa

[2020-08-07 00:10] guolinke commented on #3280
@jameslamb thank you so much.
No problem, I will merge it first.

[2020-08-07 01:48] shaoguang123 opened #3282 "There is still something wrong with custom objective under 'goss' mode"
## How you are using LightGBM?

LightGBM component: **Python package**

## Environment info

Operating System: **Windows**

CPU/GPU model: **CPU**

Other:

LightGBM version or commit hash:   The latest version download from the master branch at 2020/8/6

## Problem

I meet the error `Wrong type(int) for hessian. It shold be list, numpy 1-D array or pandas Series` after the commit #3263, when using

[2020-08-07 02:02] jameslamb opened #3283 "[R-package] automate release process for R"
See https://github.com/microsoft/LightGBM/pull/3071#issuecomment-670243598 for background. To close this issue, implement the solution in that comment or some other approach that allows for building a release of the R package without manually updating anything other than `VERSION.txt`

[2020-08-07 02:11] guolinke commented on #3282
ping @shiyu1994
it seems the array in python ctypes is changed in c++.
@shaoguang123 can you provide a reproduce example, with random data, so that we can easily debug?

[2020-08-07 02:18] shaoguang123 commented on #3282
sorry, my bad. I miss something which cause that problem.

[2020-08-07 02:18] #3282 closed

[2020-08-07 03:10] janelu9 opened #3284 "I find GPU is not faster than CPU train"

[2020-08-07 07:07] guolinke commented on #3284
These are some overheads in current GPU implementation. So it cannot always faster.
For the data with large number of samples, but with a small number of features, using GPU may be much faster.

[2020-08-07 07:07] #3284 closed

[2020-08-07 09:23] mirekphd commented on #3210
Excellent news! I did not know that such large improvements were still possible! It means that in `v3.0.0` CPU training will most likely overtake GPU training...:) the difference in favor of GPU is so small even for huge datasets and under the new CUDA implementation, as we saw in #3160

By the way, I happen to know that there is still a room for substantial improvement in your CPU implementation,

[2020-08-07 09:53] guolinke commented on #3210
@mirekphd
the remaining works of 3.0 are the more new features, the CPU efficiency part is almost done.
you can have a try, we just released `3.0.0rc1` .

[2020-08-07 15:00] jameslamb commented on #3280
I just checked and the `pacman` repos still seem to be down. I hope it's resolved soon.

[2020-08-07 18:19] jameslamb commented on #3278
sorry, missed this comment! But I can't think of any others that need to be removed.

[2020-08-08 04:59] jameslamb commented on #3187
It was kind of hard to figure out how to replicate the 32-bit R builds. The flags like `--extra-arch`, `--multiarch`, and `--force-multiarch` have slightly confusing effects.

Just noting for myself here that this is the command to use to test if the package works on 32-bit Windows:

[code]

You'll know this works if you see a message in the logs saying the library is being built on a 32-bit platf

[2020-08-08 05:06] jameslamb commented on #3187
I can confirm that the package is installable with 32-bit R on Windows

[code]

However, the tests are failing

![image](https://user-images.githubusercontent.com/7608904/89702845-46a9ff80-d93d-11ea-9a2f-31e5d0b570a1.png)

[2020-08-08 05:08] jameslamb commented on #3187
here are the full logs from the tests. All failed with this `cannot create Dataset handle`

<details><summary>error log</summary>

[code]

</details>

[2020-08-08 06:11] jameslamb commented on #3283
this should also include automating the creation of binaries: https://github.com/microsoft/LightGBM/pull/3188#issuecomment-667683956

[2020-08-08 16:34] jameslamb commented on #3280
I have been trying with #3277 and I still see this issue :/

This is difficult because even after removing the `/VERYSILENT`, we're still not getting any logs. Going to pull out my Windows laptop and try running this code there.

It seems that a lot of the `pacman` mirrors are working now...maybe that was never the issue to begin with, I don't know. Maybe something in `Rtools` is asking for a user

[2020-08-08 18:31] jameslamb commented on #3280
Ok making progress!!! Now I think that the pacman thing was completely unrelated.

I found that the download code we've been using to get Rtools is returning a successful status, but not actually downloading anything!!!

![image](https://user-images.githubusercontent.com/7608904/89717326-6a0c9300-d9ad-11ea-9a60-149632b47cf2.png)

and then if you run the code to install Rtools and the file doesn't

[2020-08-08 18:37] jameslamb commented on #3280
hmmmm doesn't seem like it's a redirect.

![image](https://user-images.githubusercontent.com/7608904/89717430-9674df00-d9ae-11ea-9923-cdd6d32d5035.png)

[2020-08-08 19:15] StrikerRUS commented on #3187
Hmmm, how is it possible that [according to the R Hub](https://github.com/microsoft/LightGBM/issues/629#issuecomment-664714892) we get only one NOTE for 32 bit Windows?

[2020-08-08 19:44] jameslamb commented on #3187
Unfortunately the logs link from that R Hub build are no longer available, but if they were you'd see a line like this:

It's a frustrating part of using R Hub, it doesn't exactly replicate CRAN as far as I can tell, even when you pass `--as-cran`. When I have tried with `win-builder` (https://win-builder.r-project.org/) before, it tried to build with both 32-bit R and 64-bit R and failed for the

[2020-08-08 19:45] jameslamb commented on #3187
in the meantime I'll submit to win-builder and share the full logs here once they're done, so we can see where we stand with that service.

[2020-08-08 20:09] StrikerRUS commented on #3280
According to your screenshots you are downloading from `cran.r-project.org`, but our CI tries to download from `cloud.r-project.org`. Maybe this matter...

https://github.com/microsoft/LightGBM/blob/33af069cc174a4c56c5f1e2f351196a284248f80/.ci/test_r_package_windows.ps1#L105-L106

On my local machine CI code works fine and downloads both R and Rtools sucessfully.

[2020-08-08 20:33] jameslamb commented on #3280
😱 😱 😱 😱 😱

[2020-08-08 20:37] jameslamb commented on #3280
when I change to cloud, it still does not download a file on my laptop

![image](https://user-images.githubusercontent.com/7608904/89719336-291d7a00-d9bf-11ea-9e17-45a27490bc6b.png)

[2020-08-08 20:38] jameslamb commented on #3187
here is the log from win-build. It shows the error I was mentioning.

**00check.log**

[code]

**00install.out**

[code]

I still think it is a good idea to try submitting to CRAN and see what happens.

[2020-08-08 20:41] jameslamb commented on #3187
ooooooo this discussion looks promising! https://community.rstudio.com/t/configure-win-and-cran-submission/24684

I think I misunderstood the "Biarch" field. Let me try re-submitting with `Biarch: true`.

[2020-08-08 20:42] jameslamb commented on #3187
here are the full results, by the way. This link will work for 72 hours https://win-builder.r-project.org/oUfPEaiEOrWF/

[2020-08-08 20:52] jameslamb commented on #3280
when I switch to `Invoke-WebRequest` with the same URL, a file is downloaded!

![image](https://user-images.githubusercontent.com/7608904/89719558-7ac70400-d9c1-11ea-9118-4570422e9e71.png)

I'm so confused 😕

[2020-08-08 21:16] jameslamb commented on #3187
ok new logs after updating to `Biarch: true` in `DESCRIPTION`! Now I see the same results on win-builder as https://github.com/microsoft/LightGBM/issues/3187#issuecomment-670825279

**00check.log**

[code]

**00install.out**

[code]

Full record is here: https://win-builder.r-project.org/g37i74xkiEnW/

This is encouraging because it means:

1. At least the package is installable
2. The approach I

[2020-08-08 21:26] jameslamb commented on #3280
I just switched to `Invoke-WebRequest` on #3277 and R Windows jobs for R 3.6 are now passing, but the ones for R 4.0 are still pending after 25 minutes :/

This is tough because you cannot (as far as I know) pin to one distribution of Rtools as long as it is not "frozen" (https://cran.r-project.org/bin/windows/Rtools/history.html).

![image](https://user-images.githubusercontent.com/7608904/897200

[2020-08-08 21:32] rsdmse opened #3286 "Dockerfile.gpu improvement"
## Summary

A Dockerfile for the CLI is prepared and tested on GPU. Improvements are made to reduce the final image size compared to the current Dockerfile.gpu.

## Motivation

The final image size can be drastically reduced from 2.6 GB (Dockerfile.gpu but without python) to 111 MB. (Here I just compare CLI-only images. Adding conda and the necessary python packages would increase the final image

[2020-08-08 21:40] jameslamb commented on #3280
I just pushed a commit to #3277 that switches from `cloud.` links to `cran.` links for R and Rtools. I also added an `ls` after the downloads, so we can see in the logs if the files were downloaded and that that was the issue.

[2020-08-08 22:05] StrikerRUS commented on #3286
Hi @rsdmse !

Thanks a lot for your investigation! Please feel free to create a PR with the described improvements.

Speaking about `runtime` version of CUDA images, please check the following thread: https://github.com/microsoft/LightGBM/issues/3040#issuecomment-669288968.

[2020-08-08 22:06] jameslamb commented on #3280
ok from [the logs on #3277](https://github.com/microsoft/LightGBM/pull/3277/checks?check_run_id=962392415), it seems that the files ARE getting downloaded successfully.

So something else is failing for Rtools 4.0 specifically :/

![image](https://user-images.githubusercontent.com/7608904/89720555-24f75980-d9cb-11ea-918a-9d946e03a8d7.png)

My guesses now are:

1. some package manager (`pacman` or

[2020-08-08 22:12] jameslamb commented on #3280
oh I forgot to add `/VERYSILENT` above. When I do that

[code]

the process just hangs forever :/

[2020-08-08 22:15] StrikerRUS commented on #3280
Can you please try to duplicate (escape) `\` signs in `DIR` argument and add `SUPPRESSMSGBOXES` argument?

https://github.com/r-lib/actions/blob/32bf69a8dfce4486d4f2221a3a6ea9b1dd75eadb/setup-r/lib/installer.js#L270-L272

[2020-08-08 22:20] jameslamb commented on #3280
oooo sure!

I also just found that I can stop the "hangs forever" problem locally by changing the command to this:

[code]

So maybe something about the new `Rtools` does not work well with `Start-Process` on some versions of PowerShell?

[2020-08-08 22:27] jameslamb commented on #3280
hey maybe that is working?

Here is one of the R 4.0 jobs getting past Rtools (https://github.com/microsoft/LightGBM/pull/3277/checks?check_run_id=962455060)

![image](https://user-images.githubusercontent.com/7608904/89720840-7f45e980-d9ce-11ea-945e-806cf8f603ec.png)

I need to step away for a few hours, but hopefully that was it and the build on #3277 will work. @StrikerRUS please feel free to p

[2020-08-08 22:51] rsdmse commented on #3040
I was directed to this issue from #3286. I confirm that using a multistage build with `devel` and adding the missing libraries to `base` resulted in a working binary that passed the tutorial test (`runtime` also works but it wasn't necessary at least for the tutorial). See #3286 for details.

[2020-08-08 22:54] rsdmse commented on #3286
Thank you! I'll create a `Dockerfile.cli-gpu` (CLI-only) to distinguish it between `Dockerfile.gpu` (CLI + Python).

[2020-08-09 08:56] mirekphd commented on #3286
CuDNN - not and will not. The rest - not, but will be once the PR adding CUDA support is merged in.

[2020-08-09 11:03] rsdmse commented on #3286
Thanks for the clarification. In that case I think it would make more sense to use `nvidia/opencl` rather than `nividia/cuda`, at least for now. I just built an image with the former and tested it on our machine. As expected, it has exactly the same performance. The image size is reduced by another 7 MB to 104 MB.

[2020-08-09 12:41] Chianghung opened #3289 "Save_model doesn't support model larger than 2G？ if num_boost_round is too large，the saved model cannot work."
Errors：  [LightGBM] [Fatal] Model format error, expect a tree here. met
when loading the model.txt

[2020-08-09 14:29] guolinke commented on #3289
Which wrapper did you use? Could you provide the code example?

[2020-08-09 21:02] Shihab-Shahriar opened #3290 "Small doc error in Experiments"
In [Experiments](https://lightgbm.readthedocs.io/en/latest/Experiments.html) page, at the hyper-parameter setting of `xgboost_hist`, two different `tree_method ` are mentioned, both `approx` and `hist`.

[2020-08-10 00:26] jameslamb commented on #3283
this should also include creating an artifact with the source distribution we'd upload to CRAN:  https://github.com/microsoft/LightGBM/pull/3285#issuecomment-670968342

[2020-08-10 01:02] jameslamb commented on #3290
@Shihab-Shahriar thanks for letting us know! We'd welcome a pull request to fix it, if you'd like to [submit one](https://github.com/microsoft/LightGBM/pulls).

I think you can remove `tree_method: approx`.

[2020-08-10 02:09] jameslamb commented on #3280
this was  fixed by #3277

[2020-08-10 02:09] #3280 closed

[2020-08-10 02:13] mikiwzh opened #3291 "Python Sciki-learn API LGBMClassifier predict raw_score=True return probability outside 0 and 1"
## How you are using LightGBM?

 Python package
LightGBM component: LGBMClassifier from sklearn API

## Environment info

Operating System: Linux

CPU/GPU model:

C++ compiler version:

CMake version:

Java version:

Python version: 3.7.6

R version:

Other:

LightGBM version or commit hash:

## Error message and / or logs

## Reproducible example(s)

Tried both with and without 'objective': 'bina

[2020-08-10 02:32] StrikerRUS commented on #3291
Hi @mikiwzh !
When you pass `raw_score=True` it means that estimator will return not probability, but raw scores before transformation.

[2020-08-10 02:32] #3291 closed

[2020-08-10 03:48] songchuangyuan opened #3292 "The result of feature parallel algorithm is not correct"
1. Directly use the stand-alone version of the binary_classification example test, the number of rows of data is 7000, the feature is 28, set the training parameters, calculate the AUC and loss value.
2. Using the example test of two parallel machines, the data in the first step is divided vertically. The number of data rows of the first machine is 7000 and feature 14, and the number of data rows

[2020-08-10 04:01] guolinke commented on #3292
Some settings will break the consistency of parallel algorithm.
could you provide your settings?

[2020-08-10 04:02] guolinke commented on #3292
BTW, for the feature palallel in lightgbm, you need to pass the whole dataset (with 28 featues), to both two nodes.

[2020-08-10 04:32] guolinke opened #3293 "[WIP] next release (3.0.0)"
This is to continue #3071, we have several new items that are not finished.
I plan to release the 3.0.0 by the end of Sep.

PRs:
- [ ] #2912
- [ ] #2754
- [ ] #2463
- [ ] #2305 (last remained part)

New Features
- [ ] #2937
- [ ] #2604
- [x] Add some features to R-package that are already in C API and Python package (#2281, #2472, #2369, #2983)
- [ ] CRAN release of course #629

Fixes (may is not

[2020-08-10 04:39] guolinke commented on #3293
cc @shiyu1994 for CTR features (and symmetric trees).

[2020-08-10 05:04] jameslamb commented on #3293
@guolinke sounds good! I think that to get to CRAN, I really need the help of you and other C++ maintainers on https://github.com/microsoft/LightGBM/issues/3187. I'm trying to get better at C++ but it's beyond my ability to fix that issue by September.

I also think we should attempt a submission to CRAN right now (of 3.0.0-1). I think it's very unlikely that it will be accepted without https://gi

[2020-08-10 06:09] songchuangyuan commented on #3292
Thank you for your answer. I tested it again according to your method, and the result is correct. In fact, the feature parallel mode is only to speed up the training, not because the file is too large to load into the memory. What about data parallelism?

I did the first test:
1. Directly use the stand-alone version of the binary_classification example test, the number of rows of data is 7000, the

[2020-08-10 10:36] guolinke commented on #3293
@jameslamb no problem. sorry for missing  #3187, I will try to submit it to cran.
@shiyu1994 can you help with the 32-bit build problem?

[2020-08-10 10:39] guolinke commented on #3293
@jameslamb
The submit results:
![image](https://user-images.githubusercontent.com/16040950/89774573-be904980-db38-11ea-941c-74d6935e9396.png)

[2020-08-10 10:41] shiyu1994 commented on #3293
Ok.

[2020-08-10 10:55] guolinke commented on #3292
@songchuangyuan
1. if you don't set `pre_prationition=true`, you should use the whole dataset for all machines.
2. The bin-finding (feature value bucketize) is also parallelize. Each machine will only use its local data, to find the bins for a subset of features, just like your observation. The reason is for efficiency since it is not efficient to sync the samples in different machines (we assumin

[2020-08-10 11:22] songchuangyuan commented on #3292
@guolinke
Thank you very much for your reply. It is helpful to understand the parallel algorithm of lightgbm. I'm studying the federal machine learning of homomorphism data based on lightgbm. According to your answer, the problem to be solved is still different from that of data parallel thinking.

[2020-08-10 13:33] StrikerRUS commented on #3293
@guolinke I believe RC candidates are for beta testing features that will be in the corresponding ordinary release. No new features are allowed after RC is released, only bug fixes reported during beta testing period. All features you've mentioned in your staring comment should be included in `3.1.0` version as they are non-breaking ones.

ping @henry0312 to confirm

[2020-08-10 15:55] jameslamb commented on #3293
woo, thanks so much! You will get an email some time in the next 48 hours with requested changes, and links to logs.

[2020-08-10 20:28] #3290 closed

[2020-08-10 21:14] StrikerRUS commented on #2302
Let me start.

#2644

[2020-08-11 00:03] guolinke commented on #629
@jameslamb

Dear maintainer,

package lightgbm_3.0.0-1.tar.gz does not pass the incoming checks automatically, please see the following pre-tests:
Windows: <https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwin-builder.r-project.org%2Fincoming_pretest%2Flightgbm_3.0.0-1_20200810_124026%2FWindows%2F00check.log&amp;data=02%7C01%7Cguolin.ke%40microsoft.com%7C426deefe7dce41a77cb108d83d

[2020-08-11 00:11] jameslamb commented on #629
thanks @guolinke ! Ok I know how to fix the Debian note, and how to get  better error Qindows. I'll create a PR tonight.

Thanks for your help, we'll have to do this a few times 😬

[2020-08-11 00:12] guolinke commented on #629
@jameslamb no problem!

[2020-08-11 01:46] #3292 closed

[2020-08-11 16:17] jameslamb commented on #3283
When I pick this up, I want to be sure to include in the release notes a shout-out to the maintainers of https://github.com/curso-r/rightgbm/issues/2 who have already done good work figuring out a process for some of this.

[2020-08-11 17:54] mirekphd commented on #3286
One peculiarity I noted is the fact that the popular packages which are either device-agnostic or have a pre-compiled GPU variant (would that be the purpose of this Dockerfile too?) such as e.g. xgboost and tensorflow-gpu, are still compiled against CUDA 10.1, which NVIDIA has effectively abandoned... 8 months ago (see [nvidia/cuda](https://hub.docker.com/r/nvidia/cuda/tags?page=1&name=10.1)), res

[2020-08-11 18:52] rsdmse commented on #3286
We tend to containerize GPU applications for users on our HPC cluster. A user requested LighGBM recently and I came across the `dockerfile.gpu` in this repo. After some testing I think the 0.1 GB version works just as well as the 2.6 GB version.

We also have a customized dockerfile for tensorflow, but that's mainly because we wanted to use python 3.7 instead of their default 3.6. It's largely bas

[2020-08-12 08:13] drexk commented on #3273
Is there any update on this issue?

We're also facing this critical issue in our production system and need the issue resolved urgently. I hope we can get an estimate of the time frame... thank you very much...

[2020-08-12 08:26] guolinke commented on #3273
@drexk @FiksII you can try to encode the categories start from `1`, instead of `0`.
We have some special handle for the category `0`.

test results:
[code]

[2020-08-12 08:31] FiksII commented on #3273
Ok. Seems it works. In this case, it needed to be fixed docs.

![image](https://user-images.githubusercontent.com/42637009/89993277-0938cf80-dcb9-11ea-8c38-6ce7fba105a6.png)

[2020-08-12 08:33] drexk commented on #3273
Thank you for attending to this bug quickly. I'll have a quick word with my team about this. Thanks!

[2020-08-12 08:43] guolinke commented on #3273
@FiksII @drexk no problem.

@shiyu1994 I think this seems a potential bug.
may is caused by the prediction, data partition, or feature histogram finding.

[2020-08-12 12:09] yairdata opened #3300 "wrong probability prediction after loading model from disk"
i have created a lightGBM model , saved it as txt file with save_model method.
then i have created pmml from it and scored my test set.
in parallel i loaded back the model and scored the test set.
the predicted probabilities where different.
looking at the predictions themselves  - seems like the pmml scores are correct and the python ones are not.
important note - a lot of the python scores were

[2020-08-12 12:36] guolinke commented on #3300
Did you check the version of LightGBM used in the training model and python prediction?
Did you ensure the feature order in `df[categorical_columns+numeric_columns]` are the same as in training?
Did you check the output transformation in prediction, like sigmoid in binary classification?

sorry, I don't quite understand your process you encounter the problem.
It will be better if you can reproduce

[2020-08-12 16:27] jameslamb commented on #3187
I did not intend to close this in #3285

[2020-08-12 16:30] jameslamb commented on #3187
The issues I was seeing on `win-builder` and locally (https://github.com/microsoft/LightGBM/issues/3187#issuecomment-670974687), also showed up in our submission to CRAN (https://github.com/microsoft/LightGBM/pull/3298#issuecomment-672744381)

<details><summary>CRAN logs</summary>

**00check.log**

[code]

**00install.out**

[code]

</details>

[2020-08-12 19:11] aakarshg opened #3301 "Make MPI ring connection retry count configurable"
## Summary

Currently the maximum number of retries is [20](https://github.com/microsoft/LightGBM/blob/master/src/network/linkers_socket.cpp#L189), which might seem enough for normal cases, but when running with large number of machines, this isn't enough. If this can be made into a parameter that can be passed to the config, that'll be helpful

[2020-08-12 19:28] jameslamb commented on #3301
Thanks for the suggestion and for using `LightGBM`! We'd welcome a pull request if you're interested in making one.

Otherwise we will add this to our feature backlog (#2302) and try to get to it in a coming release

[2020-08-12 23:59] guolinke commented on #3187
@jameslamb
Actually, I think 32-bit version is very slow. Should we really need to support it?
Is there any solution that we can somehow "hack" the cran checks for 32-bit? like skip the tests?

[2020-08-13 03:00] jameslamb commented on #3187
I'm really not sure how strongly CRAN feels about 32-bit. So here's my proposal.

1. I just built a version of the package with "skip on 32-bit" logic added to all the tests and submitted it to win-builder. Let's see what the results are.
2. If it passes, let's submit that to CRAN. HOWEVER, I don't want to try to sneak it in. Let's use the optional comment field at https://cran.r-project.org/submi

[2020-08-13 03:13] guolinke commented on #3187
@jameslamb
The "slow" is for LightGBM itself. we have many internal data structures are based on 64-bit objects. Using 32-bit to simulate it will be much slower.

BTW, it seems the 32-bit Linux build can pass?

[2020-08-13 03:20] guolinke commented on #3187
BTW, it seems the Windows version is built by MinGW? I remember @Laurae2 benchmarked that MinGW is much slower than vc++ in windows.
Is that possible to have vc++ build in cran?

And 32-bit version should work by vc++ build.

[2020-08-13 03:32] jameslamb commented on #3187
Oh sure, I understand that we would not advise anyone to use 32-bit and would tell them they'll get better performance on 64-bit. I haven't tried 32-bit with MSVC yet (like https://github.com/microsoft/LightGBM/issues/3187#issuecomment-650349787), just because you have to use MINGW on CRAN.

I will try it tonight, based on https://github.com/microsoft/LightGBM/issues/3187#issuecomment-650349787.

[2020-08-13 03:35] jameslamb commented on #3187
I don't think so. I think the only two R Hub 32-bit Linux builds were on Solaris and those both failed (https://github.com/microsoft/LightGBM/issues/629#issuecomment-664714892)

[2020-08-13 03:38] guolinke commented on #3187
@jameslamb
yeah, sure, we can have a quick workaround now.
BTW, maybe it is better to have a warning in the current workaround if the user tries to use 32-bit build?

[2020-08-13 03:40] jameslamb commented on #3187
yep I agree! I just think that having a not-that-great 32-bit build is worth it if it gets the R package onto CRAN.

I'll report the results from building a 32-bit version with MSVC here shortly, let's see how it goes.

[2020-08-13 03:42] guolinke commented on #3187
I saw the errors in 32-bit version are caused by `network/socket_wrapper.hpp:30:21: fatal error: ifaddrs.h: No such file or directory` . And the windows bulid for both 32-bit and 64-bit seems all pass.

[2020-08-13 03:45] jameslamb commented on #3187
Ah yes, this is very confusing. See this explanation when @StrikerRUS asked me the same question 😬 (https://github.com/microsoft/LightGBM/issues/3187#issuecomment-670966615). Those Windows jobs have names like `32-bit / 64-bit` but they skipped the 32-bit parts.

[2020-08-13 03:49] guolinke commented on #3187
A quick summary:

- disable 32-bit tests, for now, to have usable cran version (in 64-bit). Also, add some warnings to the 32-bit version.
- after that, we can take some time to fix the 32-bit build problems, also cc @shiyu1994
- I prefer to use MSCV in windows build. If this is not possible in CRAN. Maybe we can have a doc, to let users aware of the performance drop in MinGW.

[2020-08-13 03:52] jameslamb commented on #3187
thank you, yes I agree with that! With the one condition CRAN might reject our submission with the skipped tests. But we'll just have to see. I'll open a PR with the skipping once I get working results from win-builder.

[2020-08-13 03:59] jameslamb commented on #3187
Ok I just tried with MSVC. You can see the changes I had to make here: https://github.com/microsoft/LightGBM/compare/master...jameslamb:r/try-32bit-msvc?expand=1.

I ran this

[code]

Here's as much log as I was able to copy:

<details><summary>build_r.R logs</summary>

[code]

</details>

There were a lot of warnings and linker errors. here's a small sample

lightgbm_R.obj : error LNK2019: unreso

[2020-08-13 04:04] jameslamb commented on #3187
I might be able to fix that, though. I'm experimenting with some things.

[2020-08-13 04:37] jameslamb commented on #3187
Happy to report that skipping the tests does allow us to pass checks on 32-bit Windows! I've opened #3302 with those changes.

[2020-08-13 07:14] gharibkhani opened #3303 "Unknown importance type: only support split=0 and gain=1"
Hi,

I am using the Lighgbm via ML.Net. I got the latest code and built the lib.lightgbm.dll and tried it but I am getting the "Unknown importance type: only support split=0 and gain=1" error. I tried to find out the parameter responsible for the feature_importance_type but I just found saved_feature_importance_type parameter. I believe the code needs the same logic that
SaveModelToFile has to get

[2020-08-13 07:31] guolinke commented on #3303
@gharibkhani We have several breaking changes in api recently, and need to change accordingly in ML.Net.

[2020-08-13 11:04] FiksII commented on #3273
Unfortunately, the bug still exists. Unfortunately, I could not find an example with a smaller number of samples.
[failed_example.csv.gz](https://github.com/microsoft/LightGBM/files/5068609/failed_example.csv.gz)
The code is similar:

[code]

[code]

[code]

Just check...

[2020-08-13 11:20] FiksII commented on #3273
Or more common:
[code]

[2020-08-13 11:28] drexk commented on #3273
what a heart-breaking news. Our production system is bleeding money everyday because of this bug. @FiksII can you recommend an alternative machine learning library that my team can implement and switch to temporarily while waiting for this unfortunate disaster to get fixed? Thanks!!!

[2020-08-13 11:46] FiksII commented on #3273
@drexk Well, it's an open-source project, so we can't put pressure on them, I hope the developers are trying their the best. This library is one of the best compared with all others. That's why I'm using it. Good luck with your production system. I hope your team survives.

[2020-08-13 12:12] FiksII commented on #3273
Ok... It seems this bug is fixed in 3.0.0 @drexk

[2020-08-13 12:18] guolinke commented on #3273
@FiksII @drexk
The more reliable categorical solution is to use the numerical encoding solutions, like https://contrib.scikit-learn.org/category_encoders/ .

[2020-08-13 12:22] guolinke commented on #3273
@FiksII
to confirm, in 3.0.0, the problem is solved?

[2020-08-13 12:26] FiksII commented on #3273
@guolinke

Of course, it's not the production code. But, sometimes, our categories are linked with different numbers. So, what's why I found such bug.

So far, yes.  But, I need more time for testing.

[2020-08-13 12:29] StrikerRUS commented on #3187
@guolinke

What do you think about the possible solution I proposed with borrowing `ifaddrs.h` for Solaris?
https://github.com/microsoft/LightGBM/issues/629#issuecomment-665091451

[2020-08-13 12:32] guolinke commented on #3273
From the code, I think mapping start from 1 should be identical for any mappings, since LightGBM will re-map it in training, according to the count of different categories.
The possible reason is that some categories have the same count, in this case, the one with the smaller index will be used first, and then may cause different results.

[2020-08-13 19:50] kmedved commented on #3200
This would be a wonderful addition. FWIW - Catboost has recently rolled out support for something like this as well, [in version 0.24](https://github.com/catboost/catboost/releases/tag/v0.24) via `RMSEWithUncertainty`. I don't know how they implemented it yet.

[2020-08-13 20:00] StrikerRUS commented on #3200
Thanks to GitHub we can find the corresponding commit: https://github.com/catboost/catboost/commit/af88523dcb4dbaececac1891b26316a9cc23c384.

[2020-08-14 03:25] drexk commented on #3273
I appreciate all the pointers I get in this discussion.

[2020-08-14 03:51] jameslamb commented on #3187
Coming from https://github.com/microsoft/LightGBM/pull/3302#issuecomment-673860386, @guolinke and @shiyu1994 here is how to develop on this. These steps assume you are on a 64-bit Windows system (but will use the 32-bit version of R).

## Set up R for Windows

1. Go here and click "Download R-4.0.2 for Windows" (https://cran.r-project.org/bin/windows/base/).
2. Double-click the installer that is d

[2020-08-14 05:17] FiksII commented on #3273
@guolinke. Approved. I have an example there are a lot of categories with 1 sample. And the results are different.

[2020-08-14 05:21] guolinke commented on #3273
@FiksII The low-frequency categories will be filtered in LightGBM, so it may not ensure consistency.
Using 'freq=1`'s categories often will result in over-fitting.

[2020-08-14 05:26] FiksII commented on #3273
@guolinke Yes, I understand.  But, anyway, it looks strange, I dont know the details, but theoretically. Splitting by categorical feature is based on a metric (gini, for example), and it should not depend on the value of the categorical feature. As I remember, such tree node contains boolean condition, like: `category  == 1||10||15||25||26`.

[2020-08-14 05:47] FiksII commented on #3273
@guolinke  Just in case, this is another failed example.
[failed_example_2.csv.gz](https://github.com/microsoft/LightGBM/files/5072782/failed_example_2.csv.gz)

[code]

[2020-08-14 10:03] guolinke commented on #3273
https://github.com/microsoft/LightGBM/pull/3305 should fix the problem with zero bins.

I am investigating your example now @FiksII

[2020-08-14 12:35] Sandy4321 commented on #3049
Can you share full code example

[2020-08-14 14:38] guolinke commented on #3273
@FiksII why you use so small `subsample_for_bin` ? this is very unstable.
`subsample_form_bin` means the sampled data used for the bin bucketed. using only 5 samples is very strange.

Besides, you can use larger `min_data_in_bin` to reduce the side effect of categories with the same count.

An test by your example:
[code]

[2020-08-14 14:41] guolinke commented on #3273
@FiksII

The split finding in categorical feature is first to sort, then find the split from left to right (and right to left).
Therefore, some categories with the same count, may result in the different sort order, when using different encoding, and silghtly cause the different result.

[2020-08-14 23:34] guolinke commented on #3187
I first build the 32-bit cli/python versions, both of them can work.
This proves that the c++ code is ready for 32-bit.

[2020-08-14 23:40] jameslamb commented on #3187
ooooo that is really encouraging! That might mean there is just something we need to change in the R-specific files in `R-package/src`

Can you share the command(s) for how you built the python package with 32 bit?

[2020-08-15 00:44] guolinke commented on #3187
@jameslamb it is quite simple.
1. install 32-bit python/anaconda
2. cd to LightGBM/python-package
3. run `python setup.py install --bit32`
4. run tests or examples in examples/python-guide.

[2020-08-15 08:51] #3273 closed

[2020-08-15 09:00] StatMixedML commented on #3200
@kmedved Thanks for pointing towards the `RMSEWithUncertainty`! Very interesting, even though I am not sure how it is implemented exactly.

The fact that the RMSE is used as a loss function makes me doubt that it is truly a probabilistic approach. The reason is that, as splitting procedures that are internally used to construct trees can detect changes in the mean only, standard implementations of

[2020-08-15 13:11] kmedved commented on #3200
That's a good note @StatMixedML, although I am actually not totally sure they're using plain RMSE as a loss function (despite the name). An explainer notebook is coming, but if you try it out, the validation loss on the model does not match (or even resemble RMSE). I've put together an example [Colab notebook here.](https://colab.research.google.com/drive/1SduznbvtB3LF3MLpmcBeLnXnKN1DE5oB#scrollTo

[2020-08-15 14:45] #3187 closed

[2020-08-15 16:35] StatMixedML commented on #3200
@kmedved Thanks for the interesting comparison! Indeed, it seems as if `RMSEWithUncertainty` != `RMSE`.

Anyways, I am not sure how one would evaluate `RMSEWithUncertainty` within a probabilistic framework; say how well the forecast uncertainty is calibrated, using something like a scoringRule. I agree that mostly point forecasts are used, but having a good estimation of the uncertainty is at leas

[2020-08-15 19:09] diego-florez opened #3310 "LightGBMError: GPU Tree Learner was not enabled in this build (ubuntu 18.04 - anaconda - jupyter notebook env)"
## How you are using LightGBM?

LightGBM component: python-api -- sklear-api -- lightgbm.LGBMClassifier

## Environment info
ubuntu 18.04 -- anaconda3 -- python3.7 -- jupyter notebook

Operating System: Ubuntu 18.04

CPU/GPU model: NVIDIA-SMI 390.138

C++ compiler version: gcc version 7.5.0

CMake version: cmake version 3.10.2

Python version: Python 3.7.4

LightGBM version or commit hash: LightGB

[2020-08-15 20:49] jameslamb commented on #629
I just re-submitted to win-builder now that #3307 has been merged. Can confirm we are passing all checks there! The only NOTE is the one all new packages get, which can be safely ignored.

When CRAN comes back from their time off (August 24th), we can re-submit and I think we have a very good chance of being accepted.

**How I submitted**

[code]

[code]

**logs**

<details><summary>00check.log (1

[2020-08-16 18:25] candalfigomoro commented on #2302
It was proposed by me so I'm a little bit biased

#3128

[2020-08-16 18:27] candalfigomoro commented on #3128
I think this would be a huge win in the long term because the code would be much more modular, but I understand the required effort is big

[2020-08-16 18:38] candalfigomoro commented on #2302
GPU binaries release #2263

[2020-08-16 18:39] candalfigomoro commented on #2302
Enhance parameter tuning guide with more params #2617

[2020-08-16 18:46] candalfigomoro commented on #2302
Subsampling rows with replacement #1038

[2020-08-16 18:52] candalfigomoro commented on #2302
Piece-wise linear tree #1315 (also see PR https://github.com/microsoft/LightGBM/pull/3299)

[2020-08-16 18:53] candalfigomoro commented on #2302
Multi-output regression #524

[2020-08-16 18:56] candalfigomoro commented on #2302
Cox Proportional Hazard Regression #1837

[2020-08-17 12:08] AlbertoEAF commented on #3267
Before I commit to working on this, can someone help me direct me to the files where load/save model files code is found?

# Searching for the code... (read only if at a loss)

The fix we had posted in the past https://github.com/microsoft/LightGBM/pull/2891/files required changes in: LGBM_BoosterCreateFromModelfile, LGBM_BoosterSaveModel, LGBM_BoosterSaveModelToString and LGBM_BoosterDumpModel in

[2020-08-17 13:03] MaxHalford opened #3312 "Reproducing log loss with custom objective"
Hello.

I'm having some issues reproducing the default objective function for classification. I'm using the `loglikelihood` definition from the [Python advanced example](https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py). I've attached a reproducible example.

First I use the credit cards dataset:

[code]

Then, I load and split my dataset with `pandas`:

[2020-08-17 15:40] shiyu1994 commented on #3312
This is just because the parameter settings are 'inconsistent' in two snippets. In the `params` of your first snippet, set `boost_from_average: False`. Then you will get exactly the same result as using your customized log loss function.

By default, `boost_from_average` is `True`, which means LightGBM will adjust initial scores of all data points to the mean of labels for faster convergence. Note

[2020-08-17 17:18] aakarshg commented on #3293
hello, can we also add #3306 to the 3.0.0 release?

[2020-08-17 19:42] MaxHalford commented on #3312
Hey @shiyu1994, thanks for telling me about the initialization parameters. I wouldn't have found it by myself. I've looked around and it seems that the goal is to find the constant that minimizes the loss function over the ground truths. Cheers!

[2020-08-17 20:11] MaxHalford commented on #3312
Sorry I'm reopening this because I have a final question, I closed it too hastily.

I've taken into account your help and I've set the `init_score` parameter of both data datasets, as so:

[code]

This gives me the following output, which is what I'm expecting (there's some very slight difference that I assume is down to numerical precision). However, the log loss is not what I'm expecting, even t

[2020-08-17 20:17] MaxHalford commented on #3312
Actually, I just found out what's missing: the initialization score used in the training set needs to be added to the margins produced for the test set, as so:

[code]

To be honest, I find this very surprising. Don't you think that LightGBM should take the `init_score` of the training set into account if I specify it?

[2020-08-17 23:49] StrikerRUS commented on #3293
@aakarshg

Hi!
I'm afraid that adding new feature will require one more round of testing, i.e RC2. I believe it'll be better to release `3.0.1` or `3.1.0` ASAP with merged all PRs proposing new features which all currently open and (almost) approved.

[2020-08-18 00:04] StrikerRUS commented on #3310
@diego-florez

Have you tried this installation guide?
https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#id17

Please be more precise. What is the problem? What steps did you do? Post your commands and corresponding logs.

[2020-08-18 01:48] shiyu1994 commented on #3312
The init score is a part of dataset. The model is only responsible for recording values stored in trees. If `boost_from_average` is enabled, the mean score will be a part of the model. However, if the init score is specified through the dataset, the model is not responsible for this since different datasets can have different init scores.