[2022-07-11 22:05] jameslamb commented on #5363
Thanks very much for your interest in LightGBM!

We're happy to consider this and the related proposals, but I want to be sure to set the right expectation. This project is currently facing a significant lack of maintainer time and attention, and has a large amount of work left ahead of it just to get to the next release of LightGBM's current functionality (#5153).

To start, could you please shar

[2022-07-11 22:07] jameslamb commented on #5363
We'd also really appreciate if you stop creating new issues related to this until we've come to an agreement here about whether or not LightGBM wants to accept MLLTR into this repo at all.

Especially since it seems that those issues are mostly identical copies of this one with one or two sentences changed.

Can you please close #5364, #5365, and #5366 and just include those individual components

[2022-07-11 22:37] xueyinya commented on #5363
Hi James,

Thanks for your prompt reply.

I will close the three issues as you mentioned in the previous email. Sorry for any inconvenience.

Best,
Xueying

From: James Lamb ***@***.***>
Reply-To: microsoft/LightGBM ***@***.***>
Date: Monday, July 11, 2022 at 3:08 PM
To: microsoft/LightGBM ***@***.***>
Cc: "Yang, Xueying" ***@***.***>, Author ***@***.***>
Subject: Re: [microsoft/LightGBM] Add Mult

[2022-07-11 22:47] #5366 closed

[2022-07-11 22:47] #5365 closed

[2022-07-11 22:47] #5364 closed

[2022-07-11 23:06] jmoralez commented on #5361
Hi @sh0gg0th, thank you for your interest in LightGBM. The dataset is constructed from a random sample of your full dataset https://github.com/microsoft/LightGBM/blob/273c9b043e11b24a95e40f99ef81c4888d2089c9/python-package/lightgbm/basic.py#L1623
By default the sample size is 20,000 https://github.com/microsoft/LightGBM/blob/273c9b043e11b24a95e40f99ef81c4888d2089c9/include/LightGBM/config.h#L623
O

[2022-07-11 23:09] jameslamb commented on #5363
No problem! Please provide a link to the code you'd like to integrate into LightGBM, so maintainers here can understand the specific details of what you are proposing.

[2022-07-11 23:15] jmoralez commented on #5352
Hi @luigif2000, thank you for your interest in LightGBM. Assuming you're using the training interface, when you call `predict` you get the probabilities of the class one, i.e. the probability of your case being positive. If you have further doubts please post a [minimal reproducible example](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

[2022-07-12 00:16] sh0gg0th commented on #5361
Understood, thanks a lot for the detailed reply @jmoralez ! So there aren't really any manual optimizations to be done if I want to minimize disk reads during training and utilize my RAM to the fullest?

[2022-07-12 00:23] #5323 closed

[2022-07-12 06:22] shiyu1994 commented on #5313
I'm +1 for this proposal! Thanks.

[2022-07-12 07:31] shiyu1994 commented on #5332
@jmoralez Thanks for investigating this. I believe it is necessary to fixed. I can help to investigate the source of the redundancy.

[2022-07-12 07:41] shiyu1994 commented on #5339
@jinyyy666 Thanks for using LightGBM. Unfortunately, we don't have an official approach to merge multiple LightGBM models.

If the goal is just to combine the prediction results of multiple boosting model, I think it can be achieved by simply adding the prediction results from different models together.

However, if the goal is the blending different base learners (trees or linear models) during *

[2022-07-12 08:48] btrotta commented on #5266
I think I've fixed this; it was due to a numerical precision issue and was not specific to the scikit-learn interface (I've added a test that reproduces the issue in the normal python interface).

[2022-07-12 15:19] jmoralez commented on #5361
The HDF5 example allows you to create a [LightGBM Dataset](https://lightgbm.readthedocs.io/en/v3.3.2/pythonapi/lightgbm.Dataset.html#lightgbm-dataset) and save it in binary format, which is a compressed format that can be used by LightGBM directly. When you train, however, you'll need to load the full data set. The advantage is that this format is more compact and can probably fit on your machine.

[2022-07-12 17:51] jmoralez commented on #5354
Hi @ZhiZhongWan, thanks for raising this and for the excellent example. I confirm this isn't working as expected. The problem is that even though the documentation says that the training set is ignored it actually isn't. The scores are saved here: https://github.com/microsoft/LightGBM/blob/44fe591a60d7427d64997c37b22768a92c97c47b/python-package/lightgbm/callback.py#L334-L337
And the training set i

[2022-07-13 09:34] KhaitovR opened #5370 "Read and create the booster model from a JSON file"
Hi guys!

I have looked through all the tasks related to saving models in JSON. Unfortunately, I could not figure out whether we can create a booster object from a JSON file?
I would really appreciate it if you could tell me how I can create a booster using json.

I think the size of the JSON model will be smaller than the STRING model.
Perhaps there is a lot of necessary information missing in th

[2022-07-13 11:26] dishkakrauch commented on #5370
@StrikerRUS could help us out with this issue please?

[2022-07-13 16:01] jameslamb opened #5371 "[ci] r-configure comment job fails if PR branch is from a fork"
## Description

When the CI job that updates `R-package/configure` is triggered for a pull request from a fork, it fails with an error like the following:

[code]

This error happens during the `Checkout Repository` step.

https://github.com/microsoft/LightGBM/blob/44fe591a60d7427d64997c37b22768a92c97c47b/.github/workflows/r_configure.yml#L23-L31

## Reproducible example

First observed this on #5

[2022-07-13 16:27] jameslamb commented on #5371
Here's one report where someone claims it's possible: https://github.com/actions/checkout/issues/455#issuecomment-1079943559.

Using the `pull_request_target`  condition.

And according to https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-based-on-files-changed-in-a-pull-request-1, it seems like it might be possible to automatically re-generate

[2022-07-13 16:34] jmoralez commented on #5102
I was going to add `num_threads` in params for all tests but I thought maybe we could set `OMP_NUM_THREADS=2` instead. Running `OMP_NUM_THREADS=2 Rscript testthat.R` restricts the number of threads to 2 since the default is 0 and that means "use what openmp says" and when that variable is set it will use that number of threads. However I don't think this is possible on CRAN so I was trying `Sys.se

[2022-07-13 16:59] ghost opened #5372 "Compile LightGBM to WebAssembly output"
## Summary

My team builds a c++ library which has direct dependency on LightGBM tool. We were planning to sandbox the tool and for that to complete we want documentation on how to compile LightGBM into WebAssembly code.

## Motivation

Since sandboxing or running c++ code in browser is one of the hot topics in the market, LightGBM providing official documentation on compiling to WebAssembly will

[2022-07-13 18:19] luigif2000 commented on #5352
Dear, thanks thanks thanks !

best regards

luigi

Il giorno mar 12 lug 2022 alle ore 01:15 José Morales <
***@***.***> ha scritto:

[2022-07-13 18:25] #5352 closed

[2022-07-13 18:50] jameslamb commented on #5372
Thanks very much for this @shyam-lab !  I've added it to our list of feature requests in #2302 . Per this repo's policy, I'll close this issue for now until someone leaves a comment saying they'd like to work on this.

But to set the right expectation...I don't believe this will be worked on by LightGBM's maintainers any time soon. I don't know if any of the current maintainers have any experience

[2022-07-13 20:31] jameslamb commented on #5342
Very nice, thanks @StrikerRUS ! I can see now when I go to https://lightgbm.readthedocs.io/ that it redirects to v3.3.2.

Oh good point! I agree, that would help. And then if we could rely on `stable` being the default, we wouldn't have to do anything manual to move the version docs are pinned to when we do a new release.

I added a note about that to the description of #5153.

I think now that we

[2022-07-13 20:31] #5342 closed

[2022-07-14 03:44] jmoralez commented on #5102
I think that doesn't work because `lgb.get.default.num.threads` is only called by `lightgbm`, not by `lgb.train` :(

[2022-07-14 04:26] jameslamb commented on #5102
hmmmm ok, and I realize now that even for `lightgbm()` that might not work, since tests that pass `num_threads = {something}` to `lightgbm()` will also not end up calling that function

https://github.com/microsoft/LightGBM/blob/44fe591a60d7427d64997c37b22768a92c97c47b/R-package/R/lightgbm.R#L162-L164

What about adding instead something like the following in `lgb.train()` and `lgb.cv()`?

[code]

[2022-07-14 16:21] jameslamb commented on #4813
I checked again today with the latest state of `master` (https://github.com/microsoft/LightGBM/commit/44fe591a60d7427d64997c37b22768a92c97c47b). `{lightgbm}`  compiles successfully with R 3.5.0 and R 3.5.3 (the first and last releases in the 3.x series).

I strongly suspect that the handful of tests that are failing are failing because of the changes to random number generation and random sampling

[2022-07-14 16:49] jmoralez commented on #4813
I agree on closing this and keeping the floor at 3.5.0. From https://github.com/microsoft/LightGBM/pull/4812#issuecomment-973098661 I think the incompatibility would've caused the compilation to fail because of the missing function in the header so if the package compiles successfully I think the tests are only due to the different scores.

[2022-07-14 18:55] jmoralez commented on #5370
Hi. I see that the dump model functions were added in #97 as a way to analyze the underlying model. They're currently used in the trees to dataframe functions: https://github.com/microsoft/LightGBM/blob/44fe591a60d7427d64997c37b22768a92c97c47b/python-package/lightgbm/basic.py#L2820 https://github.com/microsoft/LightGBM/blob/44fe591a60d7427d64997c37b22768a92c97c47b/R-package/R/lgb.model.dt.tree.R#L

[2022-07-14 19:28] sushmit-goyal opened #5373 "Custom Log Loss does not have the same loss curves"
If I use a custom implementation of binary logloss for evaluation in place of default one I get very different loss curves and values. Why is that?

Plots:
<img width="349" alt="Screenshot 2022-07-15 at 12 53 55 AM" src="https://user-images.githubusercontent.com/52395203/179066580-ea22b99c-0247-4ecb-a852-4e056da701d8.png">
<img width="352" alt="Screenshot 2022-07-15 at 12 54 40 AM" src="https://us

[2022-07-14 20:41] jmoralez commented on #5373
Hi @sushmit-goyal, thank you for your interest in LightGBM. What the custom objective function receives are the probabilities, not the logits. Changing your custom_loss to:
[code]
I get the same results as the built-in metric.

Please let us know if you have further doubts.

[2022-07-15 00:12] shiyuangu commented on #3463
@guolinke Could you point me to the source code where this logic occurs? I want to get a better understanding of this. Thank you!

[2022-07-15 07:37] KhaitovR commented on #5370
I appreciate your quick response!
I hope that this feature will be added as soon as possible.
Should I close the task?

[2022-07-15 11:15] DoruSonic opened #5374 "[R-package] early_stopping_round can be passed to lightgbm if verbose is different than 0"
If the parameter early_stopping_round is set and verbose is 1 or 2, even without validation data, it is passed without any error. As soon as verbose is set to 0, it outputs the error below and the model is not trained.

## Reproducible example taken from the tutorial

[code]

## Environment info

LightGBM version or commit hash: 3.3.2

Command(s) you used to install LightGBM:

[code]

[2022-07-15 13:53] samfux84 opened #5375 "How to build the python package after building LightGBM (MPI version) from source?"
Hi,

I have just built the MPI version of LightGBM and now I would like to build the Python package using the library that I just built.

Is this possible or will building the Python package again build LightGBM instead of using the library that I provide?

This is somehow not obvious from the documentation.

Best regards

Sam

[2022-07-15 13:57] jameslamb commented on #5375
Thanks for using LightGBM!

If you've built `lib_lightgbm.so` from source, you can use it in the Python package by running the following.

[code]

As described in https://github.com/microsoft/LightGBM/tree/master/python-package#install-from-github.

[2022-07-15 14:01] jameslamb commented on #5374
Thanks for using LightGBM!

This is a known issue in v3.3.2. If you provided `verbose > 0` to `lightgbm::lightgbm()`, the training data will automatically be added a validation set. If you pass `verbose <= 0`, that doesn't happen, which leads to this expected error.

See https://github.com/microsoft/LightGBM/issues/5347#issuecomment-1175454082 for more details and for an approach that works as exp

[2022-07-15 14:12] jameslamb commented on #5153
Since the previous release, `{lightgbm}` is now depended on by several more packages.

<img width="409" alt="image" src="https://user-images.githubusercontent.com/7608904/179240445-8bf50847-30fe-4805-90cf-d67a9db28813.png">

https://cran.r-project.org/web/packages/lightgbm/index.html

Including a fairly high-profile one, `{bonsai}`, from RStudio: https://www.tidyverse.org/blog/2022/06/bonsai-0-1-0

[2022-07-15 14:14] samfux84 commented on #5375
@jameslamb Thank you for your help. This is exactly what I was looking for.

Sorry for overlooking it in the documentation.

Best regards

Sam

[2022-07-15 14:14] #5375 closed

[2022-07-15 14:34] jameslamb commented on #5375
No problem! It's easy to miss, there is a lot of documentation there.

Thanks for using LightGBM 👋

[2022-07-16 00:04] asheetal commented on #768
I installed latest lightGBM from github. Followed the [higgs tutorial ](https://lightgbm.readthedocs.io/en/latest/GPU-Tutorial.html)on lightbgm website
GPU = GTX 1070 Cuda 11
CPU = AMD Ryzen Threadripper 2950X

For AUC calculation
GPU -> [LightGBM] [Info] 27.605478 seconds elapsed, finished iteration 50
CPU -> [LightGBM] [Info] 24.136331 seconds elapsed, finished iteration 50

For L2
GPU  -> [Ligh

[2022-07-16 04:12] btrotta commented on #5056
I looked into this and @alendor is correct, the problem is caused by the `subset` code. It's not related to the `goss` parameter; the segfault still occurs when removing that parameter from @alendor's example as follows:
[code]

The issue is as follows. When `train` is called, the constructor of the Booster calls `Dataset.construct` (this is the first call to`Dataset.construct`). Since we are cons

[2022-07-16 14:14] sebffischer opened #5376 "[R-package] Make saveRDS usable in R"
## Summary
Is it possible to make `saveRDS` usable with lightgbm models?

## Motivation
It is quite annoying to not be able to use `saveRDS`

[2022-07-16 14:33] jameslamb commented on #5376
Thanks for using LightGBM!

Support for saving boosters with `saveRDS()` and loading them with `readRDS()` was added in #4685. That functionality has not made it into a release yet, so to use it you'll have to build the package from source.

[code]

[2022-07-16 14:39] sebffischer commented on #5376
that is great to hear, thanks!

[2022-07-16 14:39] #5376 closed

[2022-07-16 15:07] sebffischer opened #5377 "[R-package] init_model should accept booster"
## Summary

It would be great if one could pass the lgb.Booster directly as `init_model` and not have to save it to disk first.

[2022-07-16 18:44] jameslamb commented on #5377
Thanks for your interest in LightGBM!

It is possible to pass an `lgb.Booster` model into `lgb.train()` as `init_model` without saving it to disk.

The following minimal example works on the latest released version (v3.3.2) and on the latest development version (https://github.com/microsoft/LightGBM/commit/44fe591a60d7427d64997c37b22768a92c97c47b).

[code]

In the future, when you open issues here

[2022-07-16 21:44] borisRa commented on #5056
Thanks ! so how do recommend to proceed to be able to use `linear_tree =True` ? maybe to raise an warning which parameters aren't being used during the train ?

[2022-07-17 00:17] btrotta commented on #5056
@borisRa As I said above, I'm not sure what the best way is to fix this in the LightGBM code. I'll wait to hear from other maintainers on this. As a workaround, I think you can use `linear_tree=True` provided you don't attempt to train on subset Datasets. I don't know whether this will work with Optuna (since Optuna may be using the `subset` functionality internally).

[2022-07-17 05:52] sebffischer commented on #5377
Thanks, what threw me off here were the docs (version 3.2.2)

[code]

[2022-07-17 14:47] asheetal opened #5378 "[R-package] R build for CUDA"
https://lightgbm.readthedocs.io/en/latest/R/index.html

There does not seem any option to build a CUDA version for R package. Is it possible to have multiple GPU support via CUDA build?

[2022-07-17 15:07] jameslamb commented on #5377
ha! that should say "OR" lgb.Booster not "OF" .

Would you like to open a pull request fixing that in the documentation?

[2022-07-17 15:16] jameslamb commented on #5378
That's correct, there isn't currently a CUDA build for the R package. We have an existing feature request for adding such support in the CRAN-style package (#3465) but don't have an equivalent feature request for the CMake-based build.

I've added this request to #2302, where we track feature requests for this repo. Per our policy on feature requests, I'll close this in a few days whenever the act

[2022-07-17 20:25] sebffischer commented on #5377
Sure, will do it tomorrow :)

[2022-07-18 08:18] sushmit-goyal commented on #5373
Hey I'm using LightGBM 3.3.2 and the documentation in `basic.py` reads:
[code]

[2022-07-18 14:49] jmoralez commented on #5373
That's for `feval`, but you're using `fobj`, for which the `preds` argument says:

Since you're not using `fobj`, the `preds` that `feval` gets are the probabilities. Please let us know if you have further doubts.

[2022-07-18 14:59] jameslamb commented on #4813
Alright thanks @jmoralez , I'm gonna close this.

[2022-07-18 14:59] #4813 closed

[2022-07-19 02:07] lj976264709 opened #5380 "[python-sklearn] Is there any way to print the training log during training as before?"
## Description

[44fe591](https://github.com/microsoft/LightGBM/commit/44fe591a60d7427d64997c37b22768a92c97c47b)

I can't see the training log when training,(`eval_set=[(train_x, train_y)]` )

Is there any way to print the training log during training as before?

Such as:
[1]     training's binary_logloss: -0.0276216   training's focal_loss: 0.00275511
[2]     training's binary_logloss: -0.0636605

[2022-07-19 02:29] shiyu1994 commented on #5380
@lj976264709 Thanks for using LightGBM. We have changed our API and now the logging during training can be done with `log_evaluation` callback, see
https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.log_evaluation.html#lightgbm.log_evaluation

[2022-07-19 04:13] jameslamb commented on #5153
I've opened issues with offers of support for all of `{lightgbm}`'s reverse dependencies.

* `{cbl}`: https://github.com/dswatson/cbl/issues/1
* `{bonsai}`: https://github.com/tidymodels/bonsai/issues/34
* `{cheem}`: https://github.com/nspyrison/cheem/issues/2
* `{EIX}`: https://github.com/ModelOriented/EIX/issues/7
* `{fastshap}`: https://github.com/bgreenwell/fastshap/issues/47
* `{SHAPforxgboos

[2022-07-19 04:50] jmoralez commented on #5373
Here's an example where I get pretty much the same curves:
[code]
![image](https://user-images.githubusercontent.com/8473587/179666906-fdc3029b-7526-4d11-b041-4524a2db6d90.png)

When you set `is_unbalance=True` it performs that scaling https://github.com/microsoft/LightGBM/blob/44fe591a60d7427d64997c37b22768a92c97c47b/src/objective/binary_objective.hpp#L93-L101
so the weights and the init_scores a

[2022-07-19 05:04] jameslamb commented on #5223
Hey @mayer79 , sorry it took so long to get back to you! 😆 I laughed at "just to get warm".

And thanks very much for the small reproducible example. Made it much easy to understand exactly what you were asking and how to investigate it.

It took me a while to respond because I wanted to prove to myself that I had the right understanding.

I believe that it's:

* `"leaf"` = ordered by class (all c

[2022-07-19 05:06] pseudotensor commented on #5268
@StrikerRUS Hi, noticed it was closed.  One issue is reproducibility, but the other is the general instability and poor score.  By instability, I mean the result is very bad or good with just seed changes.  I think this must be a bug.

[2022-07-19 05:32] mayer79 commented on #5223
Ingenious! Thanks a lot. I think we should indeed explain this shortly in the help page.

[2022-07-19 06:00] #5223 closed

[2022-07-19 07:23] peiji1981 commented on #5351
how about fit one round after load the init_model as follow codes:

model = lgb.LGBMClassifier(n_estimators=100)
model.fit(X, y)
model2 = lgb.LGBMClassifier(n_estimators=1)
model2.fit(X, y, init_model=model.booster_)

[2022-07-19 09:23] miguel-testlio commented on #5349
Hey, thank you very much for your response.

First suggestion didn't help, but the second one worked. It started compiling, but after that i started to get these messages during compilation:

[code]
It finished the compilation successfully, but then if i go to Python and try to import the library i would get:

[code]
Any suggestions?

Thank you very much again

[2022-07-19 17:54] lj976264709 commented on #5380
Thanks a lot！

[2022-07-19 17:54] #5380 closed

[2022-07-19 19:29] svotaw opened #5383 "PushRows APIs are not thread safe for sparse data"
## Description
The API `LGBM_DatasetPushRows  `(and CSR version) are not thread safe for sparse data. Internally, there is some thread safety for the OpenMP parallelism, since each thread gets its own buffer in a `SparseBin`.  However, if multiple threads each call `LGBM_DatasetPushRows`, OpenMP will return the same set of tid's (i.e. 0 to num_omp_threads-1) for each external thread. Hence, extern

[2022-07-19 21:02] jmoralez commented on #5373
Can you try with `feval`? I think the built-in metric may not be adding the init score

[2022-07-20 03:28] jameslamb commented on #5349
Yes, we've seen that problem before in the situation "building LightGBM from source inside a `conda` environment, on an OS with with a very newer `libstdc++` than the newest one that `conda` ships".

See "Workarounds with no changes to LightGBM" in https://github.com/microsoft/LightGBM/issues/5106#issuecomment-1121925896 for some suggested workarounds. For your case, I recommend following the sugg

[2022-07-20 19:13] RishiMalhotra920 commented on #5084
Hi @shiyu1994 and team,

I still do not understand what you mean by the group or query id. Can you please explain in more detail?

[2022-07-21 02:12] jmoralez commented on #5370
I think we can close it but feel free to comment on #4887 if you'd like to add anything to the proposal.

[2022-07-21 02:12] #5370 closed

[2022-07-21 16:23] shiyu1994 commented on #5084
@RishiMalhotra920 In learning to rank, we have many documents. Each instance in a learning to rank dataset is a document. Group/query ID means the query of which a document is a searching result. You may see
https://en.wikipedia.org/wiki/Learning_to_rank
for a more clear concept of queries and documents. Thanks!

[2022-07-22 04:20] #5295 closed

[2022-07-22 09:07] takashioya opened #5385 "Re-Activate Laurae++ interactive documentation"
Hi,

[Laurae++ interactive documentation](https://sites.google.com/view/lauraepp/parameters) which I know extremely helpful seems not available. 😢 😢 😢
This great link is listed in [the documentation of LightGBM](https://lightgbm.readthedocs.io/en/latest/Parameters.html).

@Laurae2  Could you check this issue and re-activate this app? I truly love this documentation and I'm sure this is the best on

[2022-07-22 13:50] jameslamb commented on #5385
Thanks for letting us know that the app is down.

LightGBM's maintainers do not own that service, so unfortunately I can't tell you that we'll get it back up. I'll mark this `awaiting response`. If we don't hear from @Laurae2 in the next 30 days, this issue will automatically be closed and at that time I'll remove the `Laura++` links from LightGBM's documentation.

[2022-07-22 17:07] Laurae2 commented on #5385
@takashioya It seems the service I was using was taken down for overusage.

I'll redevelop a new one (and ideally update the content if I have time to update).

[2022-07-22 17:12] shiyu1994 commented on #5383
@svotaw Thanks for working on this. Yes. I think `LGBM_DatasetPushRows` wasn't designed for multithreading from outside the API before. I'll review the PR this weekend.

[2022-07-23 04:11] #5319 closed

[2022-07-23 17:56] StrikerRUS commented on #5371
As of time of creating `r_configure.yml` it wasn't possible, as I remember.

Hmmm, sounds interesting...

[2022-07-23 18:11] StrikerRUS commented on #5354
Maybe this old discussion can help: https://github.com/microsoft/LightGBM/issues/2371#issuecomment-527101218.

[2022-07-23 18:33] StrikerRUS commented on #5268
@pseudotensor Do you mean "the result is very bad or good" depending on which col-wise or row-wise histogram building method was chosen?

[2022-07-23 19:16] StrikerRUS commented on #4813
Nice observation!

I agree with both points.

[2022-07-24 04:13] #5325 closed

[2022-07-25 18:13] jameslamb opened #5387 "[ci] Azure Linux jobs not running"
## Description

Since around July 17, this project's CI has been broken.
Specifically, `Linux` and `Linux_Latest` jobs running in Azure DevOps have been stuck in "queued" indefinintely.

![image](https://user-images.githubusercontent.com/7608904/180844981-50f088fe-2d70-4362-9a85-84da5771c3ca.png)

## Reproducible example

This was first observed in https://github.com/microsoft/LightGBM/pull/5362#i

[2022-07-26 10:29] shiyu1994 commented on #5387
The issue has been resolved. Now the Linux agent for CI tests on Azure DevOps is available. I'm going to close this. Thanks!

[2022-07-26 14:55] jameslamb commented on #5387
@shiyu1994 thanks for the help!

But let's please not close this until we actually see a successful build on Azure DevOps.

When I look at https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build?definitionId=1&_a=summary, all builds since July 15 have failed.

I've just pushed a commit to #5388 (which fixes the other issue blocking the project's CI). If that has a successful Azure build, I'll come ba

[2022-07-26 18:57] lj976264709 opened #5389 "[Python][GPU] lightgbm.basic.LightGBMError: Check failed: (best_split_info.left_count) > (0) at [...]"
## Description
when i use GPU：(Sometimes it goes wrong, sometimes it runs halfway and goes wrong)
[code]
Useing CPU is OK !

## Reproducible example

[code]

Dataset is big!

error:
[code]

## Environment info

OS:Ubuntu 16.04.6 LTS (GNU/Linux 4.15.0-55-generic x86_64)

GPU:NVIDIA P40 24G   *  4  ，

CUDA：10.0

LightGBM version or commit hash:[f94050a](https://github.com/microsoft/LightGBM/commit/f

[2022-07-26 21:37] jameslamb opened #5390 "[ci] [dask] CI jobs failing with Dask 2022.7.1"
## Description

Created from https://github.com/microsoft/LightGBM/pull/5388#issuecomment-1195848451.

All CUDA CI jobs and several Linux jobs are failing with the following.

[code]

`client.restart()` calls in that test are resulting in the following:

<details><summary>traceback (click me)</summary>

[code]

</details>

It looks like those jobs are getting `dask` and `distributed` 2022.7.1

[co

[2022-07-26 21:48] jameslamb opened #5391 "`macOS-10.15` Azure Pipelines environment is deprecated"
## Description

Noticed the following on a recent macOS build in Azure DevOps.

According to that issue

Between now and then, there will be several short brown-outs on GitHub Actions and Azure Devops where jobs will fail.
In addition, those services will start reducing capacity for the `macOS-10.15` environment, leading to increased queue times.

## Reproducible example

The `macOS regular` build

[2022-07-26 23:08] jmoralez commented on #5390
Linking possible source: https://github.com/dask/distributed/pull/6714

[2022-07-27 03:03] jameslamb commented on #5390
Great find @jmoralez !!!

I just read through that PR, totally agree with you that it looks very relevant and is probably the root cause for this.

I wonder if the way that the failing test leaves the cluster with an error on one worker results in a situation where the worker can't shut down cleanly.

I believe the breaking change in that PR you linked is that `restart()` will now, by default, blo

[2022-07-27 03:51] gjoseph92 commented on #5390
Sorry about that. Yeah, `client.restart` is now stricter and verifies that the restart was actually successful.

I don't understand what you're doing with the socket, but presumably you're doing something that makes the worker block during `Worker.close`. I'm kinda curious what the motivation for that is / what you're trying to test (and if this is something LightGBM users would encounter and have

[2022-07-27 04:10] gjoseph92 commented on #5390
Also, at some point soon-ish, I'm hoping to finish up and merge https://github.com/dask/distributed/pull/6427. This might break your test yet again.

Currently, the `Nanny.kill` process goes:
1. Call `Worker.close`
2. If that doesn't shut it down, send a SIGTERM to the worker. I think with your current test setup this will actually kill the worker process. But if you were running `dask-worker` (li

[2022-07-27 05:37] ChiHangChen commented on #3339
Same error encountered, any update?

[2022-07-27 12:58] jameslamb commented on #5390
Thanks very much for that @gjoseph92 ! And no need to apologize... my `@` wasn't a passive-aggressive "hey why did you break our tests", I promise 😂

LightGBM has its own distributed computing setup (e.g. to perform collective operations across multiple processes) that `lightgbm.dask` just wraps. In that setup, worker processes communicate over TCP sockets. For users in highly-restricted environme

[2022-07-27 14:17] jameslamb commented on #5387
I just observed a full, successful run of Azure CI jobs, so I think this can be closed.

https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=13155&view=results

thanks for the help @shiyu1994

If you have time today, please do look at #5388 , which fixes the other issues currently blocking all CI.

[2022-07-27 14:17] #5387 closed

[2022-07-27 14:31] jmoralez commented on #5390
It's not the error itself, it's actually the other worker that gets stuck. Since the distributed training expects all machines to be ready, when one fails to bind the port the other ones just wait forever. That's what I thought `restart` fixed but I'm not sure anymore haha. I think one better fix would be to add a timeout to the distributed training, so that if one of the machines fails to connect

[2022-07-27 14:37] jameslamb commented on #5390
oh interesting! LightGBM does support that by the way --> https://lightgbm.readthedocs.io/en/v3.3.2/Parameters.html#time_out

but it defaults to 120 minutes 😬

[2022-07-27 14:48] jmoralez commented on #5390
Nice! That should work, I'll try it.

[2022-07-27 15:49] jmoralez commented on #5390
It seems that timeout is for individual sockets, we need to have one for the whole network setup. This is the relevant part: https://github.com/microsoft/LightGBM/blob/f94050a4cc94909e10a0064baff11cec795eb250/src/network/linkers_socket.cpp#L196-L216
So it doesn't wait forever, it does have a finite amount of retries and each time it waits longer. I added a log there to see how many retries it woul

[2022-07-27 20:45] jmoralez commented on #5390
Had no luck haha. I removed the `restart` from the test and I raised an exception when the network setup took too long but the test gets stuck because there are pending tasks and the worker seems to be dead.

[2022-07-28 04:18] #5321 closed

[2022-07-28 06:12] shiyu1994 opened #5392 "[test] python Dask test fails"
## Description
Today ci jobs fail on the following tests
![image](https://user-images.githubusercontent.com/14541765/181433057-eb5b71d3-f883-4606-9500-084d6295be3b.png)

Failure happens with the following settings:
1. cuda and cuda_exp build
2. Some Linux builds on Azure DevOps

[2022-07-28 13:23] jameslamb commented on #5392
There is already an open issue, #5390 , tracking this exact problem.

And in the future please post the text of logs, not screenshots, so conversations can be foundfrom search engines.

[2022-07-28 13:23] #5392 closed

[2022-07-28 16:54] #5377 closed

[2022-07-29 03:55] shiyu1994 commented on #5392
@jameslamb Sorry for the duplication. Thanks for your reminder!

[2022-07-29 08:53] peiji1981 commented on #4221
hi, shiyu. Can you share some annotation of EFB related codes in Lightgbm?

[2022-07-29 16:09] #5266 closed

[2022-07-30 20:25] #5304 closed

[2022-07-30 23:31] StrikerRUS commented on #5390
Current `master` fails in `Linux regular` and `Linux bdist` jobs after 1h:
[code]
https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=13193&view=logs&j=c28dceab-947a-5848-c21f-eef3695e5f11

[2022-07-31 09:11] fuwaraido commented on #3047
I reproduced this phenomenon. I don't know it caused by the same causes but here is my case. I'm using LightGBM with sklearn toolkits. So It maybe the different issues but this thread is the second top result of the error message, so I'll left some report here. If you think my report is inappropriate for resolving issue, please delete this post from the thread.

So here is the code.

[code]

The d

[2022-08-01 06:19] Green-16 opened #5397 "why the lightGBM use rmse for classification module?"
In my opinion , classification module should use metrics  such as AUC , KS  ,confusion matrix and so on .

https://github.com/microsoft/LightGBM/blob/7de8d8cf3eb50fcfd910cdc7cc4f1ede94fb4358/examples/python-guide/advanced_example.py#L87

[2022-08-01 14:25] dandreevv commented on #5328
@jameslamb Hello!
scikit-learn has already use MacOS ARM jobs to build wheels (https://github.com/scikit-learn/scikit-learn/blob/main/.github/workflows/wheels.yml).
Isn't that what you're waiting for?

[2022-08-01 14:36] jameslamb commented on #5328
They are using `cibuildwheel` to *cross-compile* ARM wheels for Mac

https://github.com/scikit-learn/scikit-learn/blob/ec6efc57fac36820919184ffb5fae70a7e871b62/.github/workflows/wheels.yml#L141

Which we have been hesitant to rely on in this project because we don't have a way to actually test that wheels produced that way work on a real M1.

* https://github.com/microsoft/LightGBM/issues/5035#iss

[2022-08-01 15:37] jameslamb commented on #5397
Thanks very much for pointing this out!

It looks like that example has been using RMSE for a binary classification model for 5+ years, since https://github.com/microsoft/LightGBM/pull/371.

I agree with you that it's a little surprising to see RMSE in a binary classification example. Would you like to submit a pull request updating that example to use a different metric?

If you do, please:

* up

[2022-08-02 10:42] #5389 closed

[2022-08-02 15:33] StrikerRUS commented on #5390
Just checked the diff between dependencies in the last successful CI run and the current failing one. The only difference is in `scipy`
[code]

[2022-08-02 18:45] jameslamb commented on #5390
Thanks for capturing that before the logs expire @StrikerRUS !

Unless anyone gets to it sooner, I'll look into this tonight.

[2022-08-02 19:16] StrikerRUS commented on #5390
It's quite strange that only `Linux regular` and `Linux bdist` are affected. `scipy` has been upgraded in `Linux mpi_source`, for example, as well...

[2022-08-02 19:30] StrikerRUS commented on #5390
Seems that pinning `scipy` version works.

[2022-08-02 20:25] AnotherSamWilson opened #5399 "How does lightgbm calculate the initial score for multiclass models?"
For each tree in the multiclass model, I assumed that lightgbm would start boosting from `logit(% of total classes)`. It appears to work this way for a binary model. However it doesn't look like this is the case for multiclass models:

[code]

Prints:
[code]
[code]
As you can see, the initial score is the logit of the average target. However, in the multiclass case:

[code]

This prints:
[code]
[c

[2022-08-02 20:35] StrikerRUS commented on #5176
Kindly ping @shiyu1994

[2022-08-02 20:40] StrikerRUS opened #5400 "Compilation warning `warning: delete called on non-final 'LightGBM::ScoreUpdater' that has virtual functions but non-virtual destructor [-Wdelete-non-abstract-non-virtual-dtor]`"
[code]

I guess these warning and notes were introduced in #5279.

@shiyu1994

[2022-08-02 21:37] StrikerRUS commented on #5390
`scipy` 1.9.0 changelog: http://scipy.github.io/devdocs/release.1.9.0.html

The only item there that in my opinion can be related to our issue is

Specifically,

[2022-08-02 21:39] StrikerRUS commented on #5061
Recently released scipy 1.9.0 is the first version built with Meson: http://scipy.github.io/devdocs/release.1.9.0.html#scipy-switched-to-meson-as-its-build-system.

[2022-08-02 21:41] jameslamb commented on #5390
That could definitely be related, especially if something on the `dask`-specific code paths leads to conflicting shared-library-loading (like some of the issues we've talked about in #5106).

[2022-08-03 05:18] jameslamb commented on #5390
I was able to reproduce this in Docker tonight, using the same image and environment variables as the `Linux bdist` job.

[code]

With those commands, as of latest `master`, `scipy==1.8.1` is installed and all Dask tests succeed.

Then, I upgraded to `scipy==1.9.0` and the Dask tests failed.

[code]

Running it like that revealed the underlying error!

[code]

We've seen that issue in the Linux jo

[2022-08-03 05:29] jameslamb commented on #5390
I tried running the tests with `LD_DEBUG=libs` set ([see here for docs on that variable](https://man7.org/linux/man-pages/man8/ld.so.8.html)), to see what was being searched.

Like this.

[code]

Haven't had a chance to compare those outputs yet (they require a bit of modification to compare in a text differ), but wanted to put that command up here in case its useful for others investigating this

[2022-08-03 13:11] jarobert opened #5401 "Possible to require feature always be used during feature bagging?"
Sorry if i missed this in the docs, but I use `feature_fraction` < 1.0 in fitting (significantly less than 1.0) but there is one feature that I would like to be included in the bag for every tree.  Is it possible to say "always include this in the bag of available features"?  (If not, I will likely file a request to add this feature).

[2022-08-03 15:45] #5343 closed

[2022-08-03 15:49] jameslamb commented on #5343
Thanks for coming back and closing this, for the excellent write-up, and for the fix!

It's been great having you hear in the project helping with the distributed training pieces, @svotaw .

[2022-08-03 21:09] StrikerRUS commented on #5390
@jameslamb Thank you very much for your investigation!

Maybe it's time to bump minimum required `glibc` version (`2.14` -> `2.23`) in LightGBM 4.0.0 and switch to Ubuntu 16.04 image for artifacts production?
https://en.wikipedia.org/wiki/Glibc#Version_history

[2022-08-04 04:16] #5315 closed

[2022-08-04 06:41] aforadi commented on #3339
Same here.

`lightgbm.basic.LightGBMError: bin size 670 cannot run on GPU
`

[2022-08-04 12:47] AnotherSamWilson commented on #5399
I initially thought, since multiclass uses the `softmax`, that the initial scores might be the result of using `softmax` on the `logit(% of total classes)` for each class. But that doesn't seem to be the case either. The initial scores according to the lightgbm printout are _always_ lower than the theoretical calculated one, at least so far as I've seen.

[2022-08-04 12:55] YuriWu opened #5402 "Failed to load Dataset.subset() back after Dataset.save_binary()"
## Description
I'd like to split a large dataset into several subsets and use them later, via Dataset.subset() API.
I really like the LightGBM binary dataset, that saves the memory and disk, so I tried to use it everywhere. But I found the following workflow doesn't work:

1. Construct and save a binary dataset.
2. Load a subset from the binary dataset.
3. Save the subset.
4. [Failed] Load the sub

[2022-08-05 04:19] #5350 closed

[2022-08-05 09:28] AnjaliSetiya opened #5404 "How to use GBDT with EFB or GOSS with EFB in LightGBM? or is it implemented by default?"
## Description

## Reproducible example

## Environment info

LightGBM version or commit hash:

[code]

## Additional Comments

[2022-08-05 10:51] brains4math opened #5405 "Bad regression results using DART"
## Description
Bad regression results - levels are completely off - using specifically DART, that do not occur using GBDT or GOSS. Particularly bad seems to be the combination of objective = 'mae' boosting_type = 'dart' , but the issue happens also with 'mse' and 'huber'

## Reproducible example
[code]

Forecasts should be around 100, but instead around -14

## Environment info
Tested on win 11, a

[2022-08-07 02:35] jmoralez commented on #5399
Hi @AnotherSamWilson, thank you for your interest in LightGBM. For multi-class objective the init score is the log of the class proportions https://github.com/microsoft/LightGBM/blob/c7102e56b246cc5cd73d9787b2c837c0bc384d1e/src/objective/multiclass_objective.hpp#L155-L157 so in your example these should match the output of `np.log(class_percent)`.

Please let us know if you have further doubts.

[2022-08-07 03:03] jmoralez commented on #5402
Hi @YuriWu, thank you for your interest in LightGBM. I'm not able to reproduce this error, are you sure this example reproduces it?

There is a known error about loading a dataset from a file with non-default parameters that is documented in #4904, do you think that's what you're running into?

[2022-08-07 04:07] #5261 closed

[2022-08-07 05:38] jameslamb commented on #5351
(re-opening to address @peiji1981 's question)

That *could* work, but the same caution applies to that approach as well. That is not an officially-supported pattern, which means that it could be broken at any point by changes in this project, and that maintainers wouldn't necessarily consider inconsistencies caused by that approach "bugs".

[2022-08-07 10:51] AnotherSamWilson commented on #5399
Interesting, from my understanding the multiclass procedure creates N binary trees and then takes the softmax of their output. Therefore, this behavior seems strange. For larger class sizes, this will cause the initial score to be very different from the desired final average output:

[code]

In this case, a class with 89% of the data would have an initial score of `-0.1165`, when that class shoul

[2022-08-07 21:19] lcrmorin opened #5408 "Number of estimated parameters in a tree ?"
For comparaison and notably (using AIC/BIC information criterion) I was wondering if there is a natural equivalent of number of trainable parameters for trees. Intuitively I would consider one parameter at each split (the level of the split) + one parameter for each final leaf (the value to predict), summed over all trees.

Is my calculation correct ?  Is this info directly accessible in the libra

[2022-08-07 23:02] jameslamb commented on #5408
I'm not qualified to comment on how you might calculate measures like AIC, intended for parametric models, on non-parametric models like the tree-based ones produced by LightGBM. Maybe others will have a comment on that.

But I can directly answer the question "is [information about all the splits for all trees] available in LightGBM?". Yes, it is.

* Python: use `Booster.trees_to_dataframe()`, se

[2022-08-08 04:14] #5351 closed

[2022-08-08 08:59] YuriWu commented on #5402
I'm sure the example reproduces it. To help troubleshoot further, I created a new virtualenv and only installed lightgbm==3.3.2.
Then I use ```python test.py``` to run the code.
## Enviroments
[code]
## Code
Now use range(4*3) to create deterministic toy data, and try to get the first 3 as a subset. Here's the new minimal code:
[code]
## Output
An interesting thing I found is the error msg can be

[2022-08-08 09:59] YuriWu commented on #5402
I tried to fix it by copying these lines: https://github.com/microsoft/LightGBM/blob/master/src/io/dataset.cpp#L742-L746
[code]
To L736, the end of ```Dataset::CopyFeatureMapperFrom```
And it seems fix the problem after re-compile the .so

[2022-08-08 23:18] jmoralez commented on #5399
The init score is defined as the raw score (before any transformation like softmax) so the actual predictions start on the class proportions, i.e.
[code]

[2022-08-08 23:33] jmoralez commented on #5402
Thanks @YuriWu! I was able to reproduce the error and verified the fix you proposed indeed solves the issue. @shiyu1994 @guolinke can you check the proposed fix here?

[2022-08-09 11:38] guolinke commented on #5402
The fix looks good to me! thank you @YuriWu
BTW, should we add a test for it?

[2022-08-09 12:31] EdmondElephant opened #5410 "Should use other->numeric_feature_map_[i] in AddFeaturesFrom"
## Description
In this line: https://github.com/microsoft/LightGBM/blob/master/src/io/dataset.cpp#L1486
I think
[code]
should be
[code]
The loop condition ```i < (other->numeric_feature_map_).size()``` tells the same story.

## Reproducible example
### Code
[code]
### Output
[code]

## Environment info
Command(s) you used to install LightGBM

[code]

[2022-08-09 15:14] jmoralez commented on #5402
@YuriWu would you like to make a PR that includes your fix and a small test?

[2022-08-09 15:34] MRzcs10 opened #5411 "LightGBMError: Cannot change bin_construct_sample_cnt after constructed Dataset handle."
[question.zip](https://github.com/microsoft/LightGBM/files/9292440/question.zip)

[2022-08-10 08:14] #4784 closed

[2022-08-10 11:13] lcrmorin commented on #5408
I've found an authoritative answer to the technical question on the [Stats SE](https://stats.stackexchange.com/questions/584759/tree-models-and-information-criterion/584765?noredirect=1#comment1080477_584765) that extend to the way to evaluate a model. The issue seems to be closable.

[2022-08-10 11:13] #5408 closed

[2022-08-10 12:34] jameslamb commented on #5408
Thanks for coming back to share this and close this issue!

[2022-08-10 14:56] vishalvvs commented on #4942
Faced the similar issue, Any updates?? The versions and all are same in this case

[2022-08-10 21:03] jameslamb commented on #5411
Thanks for using LightGBM!

But please replace `question.zip` with a description, in plain text, of the issue you're facing.

I won't download and open ZIP archives attached to issues here, since it's possible to use such a file for malicious purposes (e.g. https://en.wikipedia.org/wiki/Zip_bomb).

Putting your question into plain text will also allow search engines to find it, so that other peopl

[2022-08-10 21:13] jmoralez commented on #5411
Also this comment explains the possible problem and has a solution: https://github.com/microsoft/LightGBM/issues/4019#issuecomment-785124299

[2022-08-11 01:42] jmoralez commented on #5410
@guolinke @shiyu1994 can you please share your thoughts on this?

[2022-08-11 13:03] YuriWu commented on #5402
@jmoralez Sorry, due to the IP policy of my organzation, I'm not allow to make a PR to open source projects.
Please test my proposed fix and merge it if legit.

[2022-08-11 20:22] Andreas237 opened #5415 "CUDA Container Build Error (Ubuntu 20.04 base image)"
## Description
Building LightGBM and the Python-interface goes smoothly.  However, upon test I receive a "ModuleNotFound" error.  My goal is to compile LightGBM for CUDA 11.5 for use with TensorFlow 2.9.1-gpu base image.  Docker build output is:

## Reproducible example
[code]

## Environment info
GPU: NVIDIA A100
Host OS: CentOS 7
Architecture: x86_64

## LightGBM version or commit hash
v3.3.2

#

[2022-08-11 20:49] jameslamb commented on #5415
Thanks for using LightGBM, and for the excellent write-up with a reproducible example!

The issue you're facing is because of this line:

[code]

The `cuda_exp` build of LightGBM wasn't available in release v3.1.1. That work, originally introduced in #4630, was only introduced a few months ago.

I recommend removing `--branch v3.1.1` from that command.

[2022-08-12 01:54] jmoralez commented on #4942
Hi @vishalvvs, from https://github.com/microsoft/LightGBM/issues/4942#issuecomment-1014128096 it seems that the original problem in this issue wasn't the right approach to achieving a speed up in training multiple models. Are you trying the same? If you're facing a different problem please open a new issue with the description of your problem.

[2022-08-12 02:36] guolinke commented on #5410
thank you, I think it is a bug

[2022-08-12 02:48] jmoralez commented on #5410
Thanks! Do you agree with the proposed change?

[2022-08-12 02:49] guolinke commented on #5410
yeah, the fix looks good to me!

[2022-08-12 02:49] jmoralez commented on #5410
@EdmondElephant would you like to submit a PR with your proposed fix and your example as a test?

[2022-08-12 04:57] zwqjoy opened #5417 "Support training data with dir[mutil libsvm data] in the CLI version"
I am aware of the MMLSpark solution you referenced.

I use the dist XGBoost(not use spark),  It support input the dir[mutil files]. But I want use LGBM to train my model.
To overcome memory bottlenecks with pandas, I utilize the CLI version which is super efficient.
The problem is that the CLI version wants ONE training file as input. If the training data is in many files (libsvm), which it usuall

[2022-08-12 14:03] BinchaoPeng opened #5419 "[python-package] support GPU training with the conda-forge package"
## Summary

I use `conda install -c conda-forge lightgbm` to install lightgbm, and I found it may not support gpu device.

## Motivation

Installing gpu-version lightgbm by `conda` command.

## Description

when `conda install -c conda-forge lightgbm`, then
[code]
Therefore, is it possible to get gpu lightgbm with `conda install`?

## References

[[github_使用conda安装](https://github.com/Microsoft/Li

[2022-08-12 14:11] Andreas237 commented on #5415
Hi @jameslamb,

Thank you for your quick reply! Now I am getting an error that LightGBM cannot be found. I added the stage `RUN python3 -m pip show lightgbm` to the Dockerfile.

## Build log
[code]

## Dockerfile

[code]

[2022-08-12 14:46] jameslamb commented on #5415
Try changing

[code]

to

[code]

I'm not familiar with the base image you're using, but it seems to me that your code cares about the difference between `pip` vs. `pip3` and `python` vs. `python3` so maybe its paths or aliases are set up in a way that you need to use those version-specific commands.

[2022-08-12 15:40] Andreas237 commented on #5415
I just use `python3` and `pip3` notation for clarification, the base image actually has no `python2.x`.  The issue actually ended up being that `setup.py` didn't place the module in `site-packages`.  Adding the `--user` flag fixed it!

[2022-08-12 15:40] #5415 closed

[2022-08-12 17:25] isadofschi opened #5420 "Infinite predictions when using Poisson regression with large weights"
## Description
Using `objective='poisson'` with big weights in some cases produces very large predictions, up to $10^{252}$ times higher than the biggest example in the train dataset.

## Reproducible example

A minimum working example of this can be produced with the dataset 'mwe.csv' which can be downloaded from https://pastebin.com/0gw1vz9x

[code]

The example trains a model with a single tree

[2022-08-12 19:32] jameslamb commented on #5417
Thanks for using LightGBM!

Since you mentioned `pandas`, I'm assuming you are comfortable working in Python.

### Option 1 - use Dask

Would you consider the Dask interface in `lightgbm.dask`? You could construct a `dask.Array` from a directory of `libsvm` files, then pass that into LightGBM training.

If you're open to that, I'd be happy to provide a reproducible example showing how to do that.

[2022-08-12 19:53] jameslamb commented on #5415
I see, ok. Glad that worked for you!

Thanks for using LightGBM, and for taking the time to come back and close this with an explanation that other people can find from search engines 😊

[2022-08-13 04:07] #5363 closed

[2022-08-15 04:26] #5374 closed

[2022-08-15 20:06] prashantbudania opened #5423 "Support for non integer labels for the ranking task"
I am working on a ranking task where the labels are a mix of integers [3,2,1] and floats [0.56, 0.34, ...]. I am unable to use the dataset in its current format as Lightgbm doesn't support non-integer labels for the ranking task.

This is the error I am getting: `LightGBMError: label should be int type (met 0.560000) for ranking task,
for the gain of label, please set the label_gain parameter`

If

[2022-08-16 02:51] jameslamb commented on #3210
Thanks @mirekphd . I promise, I understand the frustration with how long this project has gone without a release. I've described some of that pain in #5153.

Operational concerns like "manual tagging ... burden" are not the main reasons LightGBM has gone so long without a new release.

Some projects started 18+ months ago (e.g. #3234, items under "CUDA" at #5153) promised to introduce significant

[2022-08-16 04:08] #3556 closed

[2022-08-16 06:16] shiyu1994 commented on #5176
Closed via #5413

[2022-08-16 06:16] #5176 closed

[2022-08-16 06:48] guolinke commented on #3210
@jameslamb we can focus on "breaking" changes first, and make the next release faster.

[2022-08-16 06:53] guolinke commented on #5404
EFB is used by default.
GOSS is disabled by default, you need  to  set "boosting=goss" to enable it.

[2022-08-16 06:53] #5404 closed

[2022-08-16 06:55] guolinke commented on #5348
for such a small dataset, the speed should be very fast. Did you try to build LightGBM from source in the Linux machine?

[2022-08-16 22:34] svotaw opened #5426 "Add ability to serialize/deserialize Datasets to a byte array without data"
## Summary

Create APIs for serialization and deserialization of Dataset definition/schema to a byte array, without the data. It should just be the feature group definitions and overall Dataset properties.

## Motivation

In a distributed scenario, many Datasets are created, all from the same "schema".  It is useful for optimization to be able to separate this phase into 1 stage, then pass the res

[2022-08-17 04:34] #5378 closed

[2022-08-17 09:31] pengcao opened #5428 "[tweedie]: at least one target label is negative"
## Description

## Reproducible example

## Environment info

LightGBM version or commit hash:

Command(s) you used to install LightGBM

[code]

## Additional Comments

[2022-08-17 09:31] pengcao commented on #5428
I train the model have the error [tweedie]: at least one target label is negative

[2022-08-18 01:24] pgeertsema opened #5430 "Method to efficiently extract instances allocated to each leaf in each tree making up the trained GBM model"
## Summary

I am looking for an efficient way to extract the training data *instances* allocated to each *leaf node* of an arbitrary tree from a trained LightGBM model.

More formally, a way to extract the partitioning of training data instances induced by the leaf nodes of each tree in the trained LightGBM ensemble.

(I am assuming that LightGBM keeps track internally of which training data insta

[2022-08-18 01:35] jameslamb commented on #5430
Thanks for using LightGBM and opening this report.

I'm happy to tell you that LightGBM directly supports this via `pred_leaf` predictions. The R package, Python package, and C API all support that type of prediction.

Consider the following example in Python.

[code]

[code]

Each column in that array represents one tree in the model, and the value in each corresponding row is the index of the le

[2022-08-18 01:53] jameslamb commented on #5428
Thanks for using LightGBM!

The tweedie distribution is only defined for 0s and positive numbers. This is why negative numbers in the target are not allowed. If you want to use that objective and have negative numbers in your target, consider converting your target like this:

[code]

If that doesn't work for you, please provide the information that was asked for in the issue template, including a

[2022-08-18 02:14] pgeertsema commented on #5430
Works perfectly! Thanks & closed.

[2022-08-18 02:14] #5430 closed

[2022-08-18 04:29] #5318 closed

[2022-08-18 05:11] jameslamb commented on #4808
@sofiavlachou28 Thanks for your interest in LightGBM!

I wrote up a learning-to-rank example tonight to hopefully answer this and other issues you've opened regarding `LGBMRanker` in the Python package (#5297, #5283).

-----

## `label_gain`

As described in https://lightgbm.readthedocs.io/en/latest/Parameters.html#objective:

And as described in https://lightgbm.readthedocs.io/en/latest/Parameter

[2022-08-18 05:12] jameslamb commented on #5297
I'm locking discussion on this issue, since it overlaps significantly with another issue and I want to keep the discussion focused in one place.

See https://github.com/microsoft/LightGBM/issues/4808#issuecomment-1219044835 for details.

[2022-08-18 05:13] jameslamb commented on #5283
I'm closing this issue and locking discussion on iit, since it overlaps significantly with another issue and I want to keep the discussion focused in one place.

See https://github.com/microsoft/LightGBM/issues/4808#issuecomment-1219044835 for details and an explanation for how to use `LGBMRanker`.

[2022-08-18 05:13] #5283 closed

[2022-08-18 16:36] aadler commented on #5135
Hi, @jameslamb. Just confirming this is still an issue with 3.3.2.99 version [9489f87](https://github.com/microsoft/LightGBM/commit/9489f878b3568e70b441e5df602483e116f24cc6). Thanks

[2022-08-18 21:19] jameslamb commented on #5135
Thanks for the nudge and sorry for the delay @aadler ! I also really appreciate "hey even as of the most recent commit this is still a bug" more than those "any updates?" types of comments people leave sometimes 😍

It's hard for me to test this (and possible fixes) because I don't have easy access to a Windows environment, but will try to get to it soon if no other maintainers do.

[2022-08-19 02:28] jameslamb commented on #5423
Thanks for using LightGBM.

Can you tell us what the real-world meaning of your labels are? Like for example, what is the difference between `y=0.34` and `y=3`?

Depending on your answer to that question, a regression objective might be effective for the task you're working on.

[2022-08-19 02:51] jameslamb commented on #3210
That would be great. I really hope we can do a release soon.

[2022-08-19 04:21] #5349 closed

[2022-08-19 14:17] edzul commented on #5061
Hi,

I tried with pip as the warning suggests as follows:

Instead of

python setup.py install --precompile

I ran, in the LightGBM/python-package folder

python -m pip install --install-option=--precompile --user .

The --user param is probably not necessary in all cases, but on the machine I'm working is required since site-packages folder is at a specific location specified in the USER_SITE var

[2022-08-20 02:38] jameslamb commented on #5390
@StrikerRUS sorry it took me so long to respond to this!

I agree with the proposal to bump the minimum `glibc` version and to start publishing wheels with using one of the standard `manylinux` images.

[2022-08-20 02:43] jameslamb commented on #3047
Thanks for posting here @fuwaraido . Unfortunately, the code you've provided is not a self-contained example that could be used to investigate this issue.

For that, we'd need:

* the actual content of `train`
* the code for `tokenizer`
* information about the version of LightGBM you used and how you installed it

LightGBM does support sparse matrices, including in its Python and R interfaces.

[2022-08-20 04:30] #5400 closed

[2022-08-22 02:10] jameslamb commented on #3867
88 errors as of https://github.com/microsoft/LightGBM/commit/865c126a1e3ccdd77ec205b9dde46e5f3c5b6b21

<details><summary>Found 88 errors in 5 files</summary>

[code]

</details>

[2022-08-22 02:46] prashantbudania commented on #5423
I am working on a ranking objective where the goal is to show the most relevant documents given a query ranked by a 'score'. And for the training data, I am using click-data where positive user interactions would lead to a label of 3/2/1. But there are also a lot of documents that are 'unseen' by users (documents beyond the last clicked document) and instead of assigning them a label of 0, I am as

[2022-08-22 04:30] #5385 closed

[2022-08-22 13:08] EdmondElephant commented on #5410
@jmoralez Submitted a PR: https://github.com/microsoft/LightGBM/pull/5434

[2022-08-22 14:05] EdmondElephant opened #5435 "Support select a subset of features from a constructed dataset"
## Summary

Support select a subset of features from a constructed dataset.
[code]

## Motivation

The Dataset object of LightGBM is awesome because it's super memory-efficient. So I build a workflow around the Dataset like this:

1. Construct Dataset from a huge dataframe with many features, via the lgb.Sequence API.
2. Train a LightGBM model on the Dataset, and select the top features from the h

[2022-08-22 16:58] jameslamb commented on #5423
It's hard for me to reconcile these two statements:

* "only the ordering matter"
* "I want the model to learn what makes document A have a score of 0.9 vs. document B have a score of 0.3"

But I'm not that knowledgeable about ranking problems, so I'll defer to others like @shiyu1994 and @guolinke to hopefully provide some guidance for you.

[2022-08-22 19:13] jameslamb commented on #5423
If that's the case, then couldn't you recode all of them as integers? That doesn't have to imply "setting all these to 0".

For example, like this:

* `[0.0, 0.50) -> 0`
*`[0.50, 1.0)` -> 1`
* `1.0 -> 2`
* `2 -> 3`
* `3 -> 4`
* etc.

That would preserve the relative ordering and is a structure that any learning-to-rank approach accepting integers for ranking could understand.

And you could divide

[2022-08-22 19:37] prashantbudania commented on #5423
Yeah, that's one possibility but I am just worried if there could be any negative impact of training with a wide integer scale 0/1/2/3/4/... I am using the lambdamart models for this task (i.e. mart with the lambdarank loss) and lambdarank loss is dependent on the delta in the nDCG scores produced by a swap.

Let's say I am swapping documents at index 0 and 2 with labels `0.1` and `3`. If I am usi

[2022-08-22 19:54] prashantbudania commented on #5423
Yeah, it works now - my local compiled copy now has support for non-integer labels.

[2022-08-22 20:15] prashantbudania commented on #5423
![Screen Shot 2022-08-22 at 4 06 18 PM](https://user-images.githubusercontent.com/16194274/186009517-22cd9582-f4d7-4bbb-9672-760da90ff561.png)
With this, I do lose the support for having any arbitrary label_gain function defined by the user as I am hardcoding the label_gain function to be `2^label - 1` but works for me as I am only planning on using this function.

For generalizability (or extendi

[2022-08-23 04:34] #4497 closed

[2022-08-23 04:34] #5084 closed

[2022-08-23 04:34] #5373 closed

[2022-08-23 08:48] sunkun1997 opened #5436 "How does LightGBM update score?"
In the first iteration, init_score is calculated as follows
[code]
I just want to konw how does LightGBM update score in the next iteration.

As far as I know, The score of data split into the same leaf node is exactly the same.

[2022-08-23 14:26] jameslamb commented on #5436
Thanks for using LightGBM.

LightGBM training produces a collection of trees, and the score for an observation is obtained by summing the initial score and the output produced for that observation by each of the trees.

In each boosting round, LightGBM trains a tree to try to explain the errors that the model is still making (e.g., to minimize the training loss).

If you're new to using gradient b

[2022-08-23 18:17] david-cortes commented on #4980
Once this gets sorted out, the R docs need to be updated to reflect the correct behavior: https://github.com/microsoft/LightGBM/pull/5312#event-7244449800

[2022-08-24 01:17] sunkun1997 commented on #5436
Thank you for providing such useful information, I will learn how it works.

[2022-08-24 03:45] 782365867 commented on #4784
yes,it is.

i had finished this function myself last year.hahahaha

[2022-08-24 04:02] jameslamb commented on #5436
No problem, happy to help!

[2022-08-24 04:02] #5436 closed

[2022-08-25 02:39] zwqjoy commented on #5417
@jameslamb
The train data size may 100G or large, so if use the pandas to load, may OOM.  So the CLI is the best way to train dist lgbm.
but  the train data contains many parts.

[2022-08-25 03:48] jameslamb commented on #5417
To be clear, I didn't recommend using `pandas`. The Dask interface performs distributed training the same way that the the CLI does. It's true that reading files into Python data structures like `numpy` arrays might require more memory than the CLI uses when reading files, but I recommend that you consider trying it before assuming that it definitely won't work with the amount of data you have.

T

[2022-08-25 05:10] jameslamb opened #5439 "[R-package] [ci] unit test failures don't cause MSVC CI jobs to fail"
## Description

The R-package CI jobs which compile the library with `CMake` + `MSVC` do not fail if the R package's unit tests fail.

* `r-package (windows-2019, MSVC, R 3.6, cmake)`
* `r-package (windows-2022, MSVC, R 4.1, cmake)`

## Reproducible example

I noticed this while looking at test failures on #5437 ([build link](https://github.com/microsoft/LightGBM/runs/8004155558?check_suite_focus=

[2022-08-25 09:08] Green-16 commented on #5397
ok, I can do that.

[2022-08-25 10:24] Green-16 commented on #5397
I have  submit the pull request . @jameslamb   https://github.com/microsoft/LightGBM/pull/5440

[2022-08-25 14:36] CHY-WANG opened #5441 "Goss bagging dependent on nthread"
## Description
Samples being selected by bagging when using 'boosting_type': 'goss' can vary depending on the value of 'nthread', even if all other settings are exactly the same.

A reproducible example is included in the end.

## Environment info

LightGBM version: v3.3.2
Python: 3.8.5

## Additional Comments

The bagging is done by blocks of sampels.

In https://github.com/microsoft/LightGBM/blo

[2022-08-28 00:10] #5354 closed

[2022-08-28 15:22] #5402 closed

[2022-08-29 02:11] jameslamb commented on #3867
96 errors as of https://github.com/microsoft/LightGBM/commit/ef006b788cb2aadd3e827d0d8b44bf879854966e

<details><summary>Found 96 errors in 5 files</summary>

[code]

</details>

[2022-08-29 03:27] jameslamb commented on #5439
I tried to reproduce the relevant code on my Mac tonight.

https://github.com/microsoft/LightGBM/blob/ef006b788cb2aadd3e827d0d8b44bf879854966e/.ci/test_r_package_windows.ps1#L23-L29

https://github.com/microsoft/LightGBM/blob/ef006b788cb2aadd3e827d0d8b44bf879854966e/.ci/test_r_package_windows.ps1#L283-L287

Like this:

[code]

And saw that a non-0 exit code was raised as expected

[code]

That is

[2022-08-29 04:16] jameslamb commented on #5390
@StrikerRUS I just returned from traveling and have some time to work on this.

But I saw that you've been pushing commits directly to `dev`: https://github.com/guolinke/lightgbm-ci-docker/compare/dev (noticed because of https://github.com/microsoft/LightGBM/pull/5252#issuecomment-1229541646).

Would you like me to wait until you're done with that effort to support the aarch64 wheels? And then wou

[2022-08-29 07:48] sunkun1997 opened #5449 "Some algorithmic problems"
Sorry to bother you again, but I still have some question  to solve.

I've read the following code and come to some conclusions
https://github.com/microsoft/LightGBM/blob/be7f321382b22a1ab536965c5fdfefe131e488f6/src/treelearner/feature_histogram.hpp#L880

After find the best split threshold, the left_sum_gradient is calculated by
$$G_{L}=\sum_{i=0}^mg_i$$,
the left_sum_hessian is calculated by
$$H

[2022-08-29 13:44] barrettlayman commented on #5428
Quick question - are you using Bonsai or Treesnip to train your LightGBM model?

I encountered a similar problem as well and opened up an issue on the Bonsai Github.

https://github.com/tidymodels/bonsai/issues/50

[2022-08-30 01:51] sunkun1997 commented on #5449
I think I tried it out. value is calculated by output*learning_rate, and score is calculated by sum of output. is that right?

[2022-08-30 06:07] memeplex commented on #5236
I've been trying to fix this issue. I tried a number of approaches:

1. Make `hist_t` a struct with grad, hess and cnt fields. But the current representation as a series of doubles alternating grad and hess is leaking everywhere, it's very very difficult to get this right, not because of any conceptual complexity but simply due to the many accesses to the internal representation of a histogram, lo

[2022-08-30 07:35] #5449 closed

[2022-08-30 12:21] StrikerRUS commented on #5390
@jameslamb

Nice to hear! 🙂

It depends on how long it will take to merge #5252. I believe we need at least one more review there.

I think I can configure pushes to Docker Hub for a new branch, let's say `dev-2`, and you can test your ideas in PRs against that branch.

[2022-08-30 13:42] #5397 closed

[2022-08-30 15:01] StrikerRUS commented on #5390
@jameslamb
Done! Feel free to do your experiments in the `dev2` branch.

You can check [the diff for the `.github/workflows/publish_image.yml` file](https://github.com/guolinke/lightgbm-ci-docker/compare/dev?expand=1#diff-6ab4652c11b8c644ddbb0f703a7f10c3f2edd33efc095f5bcf36332feec4fda8R13) for how to make it possible to push multiple Dockerfiles into Docker Hub.

[2022-08-30 15:06] StrikerRUS commented on #5390
BTW, I guess we need to create a separate issue for discussing the migration to official `manylinux` image.

[2022-08-30 18:47] jameslamb commented on #3867
79 errors as of https://github.com/microsoft/LightGBM/commit/81d4d4d1010e939a66048c78ee1f8e88f7ee6639

<details><summary>Found 79 errors in 5 files (checked 10 source files)</summary>

[code]

</details>

[2022-08-31 20:10] jameslamb commented on #2479
PR #5018 has been closed. Since there's no active work going on for this feature, I'm going to close this issue.

Anyone interested in this feature is welcome to contribute it! If you'd like to contribute this, comment here and the issue can be re-opened. Maintainers will be happy to help you.

[2022-09-01 02:58] QuellaZhang commented on #5150
@guolinke @StrikerRUS The MSVC developer provided a local patch(as below) for this issue, can you help check in? Thanks!

The **third argument** to fmt::format_to_n() cannot be a function parameter (see LightGBM/include/LightGBM/utils/common.h).

[code]

To avoid this issue, you can replace the above (and get rid of LightGBM::CommonC::format_to_buf()) with the following:

[code]

[lightgbm_error_c

[2022-09-01 04:50] shiyu1994 opened #5459 "[CUDA] Improve efficiency of tree output renew for L1 regression with new CUDA version"
## Summary

Currently the tree output renewing with L1 regression in our new CUDA version relies on percentile calculation and bitonic sort on GPU. The efficiency can be further improved.

[2022-09-01 04:55] shiyu1994 commented on #5459
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2022-09-01 04:55] #5459 closed

[2022-09-01 05:51] shiyu1994 commented on #5459
See #5457

[2022-09-02 07:33] billytcl commented on #5205
Hi, did this get fixed? I am using the cloned github version as of 9/2/2022. I have a really sparse matrix with millions of features. Loading the dataset is also very slow for me but I don't know if it has anything to do with the particular characteristics of my dataset.

[2022-09-02 21:30] rabyj opened #5464 "Booster creation exits program with no error. ( _LIB.LGBM_BoosterCreate )"
I made a [bug report on Optuna](https://github.com/optuna/optuna/issues/3960) that could be from a problem further down the line, here.

**TL;DR**

Codes goes up to [_LIB.LGBM_BoosterCreate](https://github.com/microsoft/LightGBM/blob/d78b6bc2fdf96c87e3cb61f2d497a962e3270c91/python-package/lightgbm/basic.py#L2730) through [cvbooster = Booster(tparam, train_set)](https://github.com/microsoft/LightGB

[2022-09-02 21:51] jameslamb commented on #5464
Thanks very much for the report!

Since you've created an example that reproduces the error in your environment, could you try upgrading to the latest `lightgbm` built from source and see if you still experience problems?

See https://github.com/microsoft/LightGBM/tree/master/python-package#install-from-github for instructions on how to do that.

[2022-09-02 22:25] rabyj commented on #5464
Building failed with something that went far above my head, for now.

[code]

[2022-09-02 22:47] rabyj commented on #5464
Did `sudo apt-get install libopenblas-dev` and launched build again, we'll see how that goes.

[2022-09-05 04:26] jameslamb commented on #5236
Thanks for working on this!

Re-opening the discussion since you're working on it, and tagging @guolinke and @shiyu1994 to help respond to you when they have time. Please be patient, as the project's small maintainer team is very focused right now on issues critical to the next release (#5153).

[2022-09-05 10:48] dtararuj commented on #3556
hello, i can't find solution to this error. it's appear only on google collab.

My model:
def objective(trial,model_features,cat_features,lgb_train):
            num_iterations = 1000
            stop_rounds = 50

            lgb_params = {
                "learning_rate": trial.suggest_loguniform("eta", 1e-8, 1.0),
                'num_leaves': trial.suggest_int('num_leaves', 2, 60),

[2022-09-06 02:55] shiyu1994 opened #5470 "[CUDA] Difference of performance for `fair` objective between `cuda_exp` and `cpu`."
## Description
A slight difference in performance between `cuda_exp` and `cpu` is found with `fair` regression objective. In `test_regression` of this PR, with `objective=fair`, the `cpu` version produces a final `l2` metric of `16+`, while `cuda_exp` results in `11+`.

[2022-09-06 02:56] shiyu1994 commented on #5470
See https://github.com/microsoft/LightGBM/pull/5469#issuecomment-1237603484

[2022-09-06 03:31] shiyu1994 opened #5471 "[CUDA] Random number generation on CUDA"
## Summary
Support generation of random numbers on CUDA.

## Motivation
Sometimes random number generation is repeatedly called during the training process. For example, in the `rank_xendcg` objective. Supporting generation of random numbers on CUDA can accelerates these processes.

## References

See the code snippet below for random number generation in boosting with `rank_xendcg`
https://github

[2022-09-06 03:32] shiyu1994 commented on #5471
Closed in favor of being in https://github.com/microsoft/LightGBM/issues/2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2022-09-06 03:32] #5471 closed

[2022-09-06 17:26] rabyj commented on #5464
For reference, building via `pip install --no-binary :all: lightgbm` did not solve the problem. (same Environment
info).

Once installing through github source, I got a new problem, probably because optuna 3.0.0 doesn't support unreleased versions of LightGBM (past 3.3.2).

Env info:
- Python version: 3.8.10
- OS: Linux-5.15.0-46-generic-x86_64-with-glibc2.29 (Ubuntu 20.04.5 LTS)
- **lightgbm: 3.3

[2022-09-06 18:06] rabyj commented on #5464
I've compiled my basic observations from trying different combinations of versions here: https://github.com/optuna/optuna/issues/3960#issuecomment-1238483244

The same problem arises with both latest dev versions (for optuna and LightGBM). @jameslamb

[2022-09-07 15:54] #4785 closed

[2022-09-07 19:13] rabyj commented on #5464
optuna/optuna#3960 was closed since this seems to be a problem arising within LightGBM.

Since I'm unable to create a minimal code example without sharing 60mb+ of data, but can reproduce the bug with **lightgbm 3.3.2.99**, are there any additional logs I am unaware of that I could provide on the inner workings of LightGBM during the execution of _LIB.LGBM_BoosterCreate?

Or else, somewhere I coul

[2022-09-08 09:01] Piecer-plc opened #5475 "lightgbm 3.3.1 take more execution time compare with lightgbm 2.1.2"
## Description
Hi, I test the execution time of lightgb.train when adopt different lightgbm version. I noticed that 2.1.2 only need 17s.
In my program, when the lightgbm version was **3.3.1**, the execution time was **74s**, but when I changed the lightgbm  to the **2.1.2**, the execution tim was **17s**.
I also tested other versions of lightgbm, and the detailed experiments The results are shown

[2022-09-08 16:01] sunkun1997 opened #5476 "About feval's bug"
## Description
I want to use the optimal F1 score as the evaluation function, but there was a bug

## Reproducible example
[code]
However, all the thresholds give the same value

I need to use the following code to get the correct result
[code]

## Environment info

LightGBM version or commit hash:
Python lightgbm package, the version is 3.3.2

[2022-09-08 16:07] jmoralez commented on #5476
You're overwriting the value of `pre` in `pre = np.where(pre >= threshold , 1, 0)`. You should use a different variable there.

[2022-09-08 16:10] sunkun1997 commented on #5476
@jmoralez Thank you very much! That's my problem.

[2022-09-08 16:10] #5476 closed, assigned to nobody

[2022-09-09 02:19] septfleur opened #5477 "Groupwise interaction constraints"
## Beyond interaction constraints
This is an "upgraded" interaction constraint problem. Consider the following genetic problem:

We predict the mutation probability of the offspring of two parents.

Mother and father have the same number of features (age, diet preferences, etc). $\textbf{x} = (x_1, \cdots, x_n)$ for the mother, and $\textbf{y} = (y_1, \cdots, y_n)$ for the father. Therefore, for e

[2022-09-09 04:30] #5399 closed

[2022-09-09 09:26] billytcl opened #5478 "[R/CLI] Sparse dataset taking forever to load/save_binary"
## Description
I am using the current version of lightGBM from CRAN, and cloned the github repo on Sept 1 for the CLI. FWIW I've only been using lightGBM since last Friday so this is new to me!

I have a tab-delimited text file, which consists of 2998153 columns (features) and ~500 rows (observations). It's about ~95-98% sparse. Missing entries are "NA" and the rest are numbers from 0 to 100. The

[2022-09-10 04:32] #5411 closed

[2022-09-11 17:26] StrikerRUS commented on #5150
@QuellaZhang Thanks for your comment! Would you like to create a PR with the proposed solution?

[2022-09-12 06:20] #5036 closed

[2022-09-12 17:49] #5439 closed

[2022-09-13 05:32] ronaldgevern commented on #5170
This error means that python is trying to iterate over a None object. With Python, you can only iterate over an object if that object has a value. This is because iterable objects only have a next item which can be accessed if their value is not equal to None. If you try to iterate over a None object, you encounter the TypeError: ‘NoneType’ object is not iterable error.

For example, [list.sort()]

[2022-09-13 18:38] zyxue opened #5482 "Is predict(..., pred_contrib=True) thread safe?"
## Description

I'm using the model behind a gRCP prediction service. The service predicts one example at a time.

I can reproduce the bug locally like

[code]

The error is like

[code]
or
[code]
or
[code]

depending on different runs.

* If I set `max_workers=1`, the error seems to go away.
* If I remove `pred_contrib=True`, the error seems to go away, so it looks `predict` alone is thread-safe,

[2022-09-14 12:33] jonashaag opened #5483 "Question: 3.4 release schedule"
Hi there, are the any plans on making a 3.4 release (vs. a 4.0 release), and if so what could be the release date?

[2022-09-14 17:20] jameslamb commented on #5483
We are not planning out a 3.4.x release series. The next release of LightGBM will be 4.0.0, unless some very critical security or compatibility issue forces the release of aa 3.3.3 (but even that would only contain just the patches necessary to fix that specific problem).

See the discussion in https://github.com/microsoft/LightGBM/issues/3210#issuecomment-1216083602 for more details about why the

[2022-09-14 17:20] #5483 closed

[2022-09-14 20:33] jonashaag commented on #5483
Thank you!

[2022-09-15 05:12] shiyu1994 opened #5487 "[CUDA] Difference of performance for Poisson regression objective between cuda_exp and cpu"
## Description
We noticed a minor difference between `cuda_exp` and `cpu` versions in the performance on `test_regression` in `test_engine.py`. With `cuda_exp`, we achieve a `l2` value of `7.+`, while with `cpu` we get `6.+`. This can be due to difference in implementation details and needs further investigation. See (#5486)

[2022-09-15 06:24] arodionoff opened #5489 "error when using thea function `lgb.convert_with_rules()` for dataframe with a column of type `logical`"
## Description
A very strange error when using a function `lgb.convert_with_rules()` for dataframe with a column of type `logical` with missing values

No less strange results of applying the function without missing values.

After all, they should encode `TRUE` as 1, and already `FALSE` as 0.

## Reproducible example
 packageVersion('lightgbm')
[1] ‘3.3.2’

Error in `[[<-.data.frame`(`*tmp*`, col

[2022-09-15 06:24] Neal0408 opened #5490 "Is the 'silent' parameter canceled in the 3.3.2.99 version?"
## Description

When I used LightGBM sklearn API, I found that the 'silent' parameter was not included in the latest version(3.3.2.99). I chcked the documentation, but couldn't find any relevant information.
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/37592164/190323183-4854e584-6b08-4ada-8afa-f7b5a197e04a.png">
But the docs in 3.3.2 still have the 'silent' paramet

[2022-09-15 06:47] tuomijal commented on #4229
MacBook Air (M1, 2020) running macOS Monterey version 12.5.1.

Trying to fit `LightGBMModel` gives me  `[1]    36565 segmentation fault  python test_lightgbm.py`.

libomp:

[code]

I tried:

[code]

But it gives me:

[code]

[2022-09-15 06:57] tuomijal commented on #4229
Potentially useful discussion [here](https://github.com/dmlc/xgboost/issues/7039)

[2022-09-15 07:17] tuomijal commented on #4229
Was able to fix by downgrading to `libomp 11.1.0` with:

[code]

[2022-09-15 14:18] jameslamb commented on #4229
Thanks for the links, and sorry for the inconvenience!

I have been interested for a while in the idea of switching this project's wheels to `cibuildwheel` + `scikit-build`, for other reasons (#5061). It looks like `xgboost` was able to solve this OpenMP compatibility issue by that approach as well (specifically by just bundling an older OpenMP in their wheels): https://github.com/dmlc/xgboost/pul

[2022-09-15 14:23] jameslamb commented on #5489
Thanks for using LightGBM and for the report! We'll look into this when we can.

[2022-09-17 04:27] #5428 closed

[2022-09-18 14:50] StrikerRUS commented on #4229
@jameslamb We need to be very careful with embedding libomp library in our wheels: https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm-crashes-randomly-with-the-error-like-initializing-libiomp5-dylib-but-found-libomp-dylib-already-initialized

[2022-09-20 14:19] Zhylkaaa commented on #5088
Same question, also I believe there is a question about this on stackoverflow: https://stackoverflow.com/questions/71623674/lightgbm-with-tweedie-loss-im-confused-on-the-gradient-and-hessians-used
could you provide some reading on tweedie loss topic?

[2022-09-20 14:43] elephaint commented on #5088
@Zhylkaaa I think the answer is in [these lines](https://github.com/microsoft/LightGBM/blob/b857ee10cc9a913e6dedd15c2475765d1e923c7b/src/objective/regression_objective.hpp#L431). The Tweedie loss inherits from the RegressionPoissonLoss, so the LightGBM leaf values contain the raw score. To get the output, the raw score needs to be exponentiated (see [here](https://github.com/microsoft/LightGBM/blo

[2022-09-20 17:19] Zhylkaaa commented on #5088
@elephaint yeah I saw this is this issue https://github.com/microsoft/LightGBM/issues/3155 but I still don't know how the gradient was derived, because I am arriving on different result every time :(

[2022-09-21 12:40] Zhylkaaa commented on #3266
@guolinke hello, you mentioned that it wasn't invented by light gbm authors, can you point to the reference implementation? Or maybe @lorentzenchr can help with that, sorry for taking your time, but I cant find the answer for how this loss is implemented(not only me #5088 ).
Thank you!

[2022-09-21 19:04] erik-johnsson opened #5492 "Force features to be considered in every tree while setting `feature_fraction < 1`"
## Summary

Add the ability to force subsets of features to be considered in every tree, while also setting `feature_fraction < 1`.

## Motivation

Some prediction tasks have training sets with highly imbalanced feature importances. In these cases, setting `feature_fraction < 1` can worsen predictions, as any tree that doesn't consider the most important feature(s) might just add noise to the mode

[2022-09-22 01:29] gendrelom opened #5493 "LightGBM can't learn simple rule"
## Description
I'm trying to use LightGBM for binary classification. I created a synthetic dataset which has 6 features and one label with two classes: True or False. I randomly create features and then apply the rule - if the features pass through the filter, then the label is more likely to be true.
It's very simple to manually apply this filter to the dataset and get precision ~0.8. However, Li

[2022-09-22 06:33] stuvanya opened #5494 "[Python] Adding new trees to existing booster."
Hello!

I'm working on on improving the quality of the gradient boosting. Is it possible to add to existing model new trees and train them on  new batches of data?

[2022-09-22 07:07] ArtificialZeng opened #5495 "Eigen/Dense”: No such file or directory"
when I compile it. Eigen/Dense”: No such file or directory

## Description

## Reproducible example

## Environment info

LightGBM version or commit hash:

Command(s) you used to install LightGBM

[code]

## Additional Comments

[2022-09-22 07:33] gaebw commented on #5178
running on windows 10:
Name: lightgbm
Version: 3.1.1
Summary: LightGBM Python Package
Home-page: https://github.com/microsoft/LightGBM
Author: None
Author-email: None
License: The MIT License (Microsoft)
Location: c:\users\info\anaconda3\lib\site-packages
Requires: scipy, scikit-learn, wheel, numpy

tried above code:
import lightgbm as lgb
import numpy as np

def save_model_callback(env):
    env.

[2022-09-22 07:43] gaebw commented on #5178
On ubuntu it works!

[2022-09-22 12:52] Kayne88 opened #5496 "KeyError: "OWNDATA" when using lightgbm.Sequence"
Hello all,

I try to achieve training in batches on a very large data set with a custom loss function. For that purpose I thought to use a Sequence to initialize the dataset.

Loss function
[code]

Sequence
[code]

Datasets
[code]

Training
[code]

It results in following error
[code]

Any ideas what's going on?

Cheers

[2022-09-22 13:11] jameslamb commented on #5494
Thanks for using LightGBM!

Yes, throughout LightGBM this process is called "continued training" or "training continuation".

For an example of one pattern, see https://github.com/microsoft/LightGBM/blob/dc4794b62f2c09103e558b7a8325bed66083a5c3/examples/python-guide/advanced_example.py#L103-L111.

For more details, see [this Stack Overflow answer](https://stackoverflow.com/questions/73664093/light

[2022-09-22 13:44] jameslamb commented on #5493
Thanks for using LightGBM!

I haven't tried your example yet, but I suspect that I know how to fix the problem you're having.

LightGBM has some parameters used to control overfitting, and these have default values which are set to hopefully work well with medium-sized datasets (greater than 10,000 rows). When working with very very small datasets like the one in your example (107 rows), those par

[2022-09-22 14:54] jmoralez commented on #5496
Hi @Kayne88, thank you for your interest in LightGBM. The `Sequence` expects `__getitem__` to return a numpy array and you're returning a pandas series.

[2022-09-22 18:52] maddiedawson commented on #5269
Has anyone found a workaround for this? I've tried to use a different version of gcc (`export CXX=g++-12 CC=gcc-12`), and also tried following the [build-from-GitHub instructions](https://lightgbm.readthedocs.io/en/v3.3.2/Installation-Guide.html#build-from-github) but am still seeing the same issue.

[2022-09-23 02:11] ArtificialZeng commented on #5495
I‘m using Visual Studio. First I download the whole code, then I find out it's empty in the Eigen/Dense directory. It can't be compiled in the Visual Studio?

[2022-09-23 02:13] ArtificialZeng commented on #5495
Actually, What  I'm really asking is that: How to compile it from the source under Windows OS.

[2022-09-23 02:21] jameslamb commented on #5495
LightGBM can be compiled with Visual Studio.

I'm not sure what specifically "download the code means", but if it is something other than `git clone --recursive`, then you need to run the `git` commands I shared to get Eigen and the other git submodules.

[2022-09-23 03:26] ArtificialZeng opened #5499 "Visual Studio compilation error: "LightGBM::inet_pton ambiguous call to overloaded function""
1>------ 已启动生成: 项目: LightGBM, 配置: Release x64 ------
1>application.cpp
1>boosting.cpp
1>gbdt.cpp
1>gbdt_model_text.cpp
1>gbdt_prediction.cpp
1>prediction_early_stop.cpp
1>c_api.cpp
1>bin.cpp
1>G:\quantProject\LightGBM\external_libs\fast_double_parser\include\fast_double_parser.h(1,1): warning C4819: 该文件包含不能在当前代码页(936)中表示的字符。请将该文件保存为 Unicode 格式以防止数据丢失 (编译源文件 ..\src\c_api.cpp)
1>G:\quantProject\Ligh

[2022-09-23 03:28] ArtificialZeng commented on #5495
Or, the problem I mentioned is solved by using your method, but another bug appears: https://github.com/microsoft/LightGBM/issues/5499

[2022-09-23 06:08] QuellaZhang commented on #5150
@StrikerRUS fix by https://github.com/microsoft/LightGBM/pull/5500.

[2022-09-23 08:42] BinchaoPeng commented on #5419
I think the simplest way to use lightgbm that is just use `conda install lightgbm` and then I can use lightgbm as like pytorch.However, it semms that lightgbm does not has the feature.

[2022-09-23 12:03] Kayne88 commented on #5496
Hi @jmoralez, thanks for the prompt hint. That indeed seems to work now. However the training takes forever. Also with the generic `lgbm.train` api the GPU is not used while training. Is there a way to use the GPU for training with a custom loss while being able to use the batched Dataset?

These are the 2 versions for the custom loss. Can this be improved for faster training?
[code]

[code]

[2022-09-23 12:56] gendrelom commented on #5493
@jameslamb I tried to use `LGBMClassifier` with 40k rows(instead of 4k), script generated 959 `true_pos_and_neg` and 761 `true_pos`, so for manual filtering precision = 0.79.
I tried to optimize hyperparameters and easily got 992 `true_pos_and_neg` with precision = 0.77(it's 764 true positive) using `LGBMClassifier`.
So, it's seems that problem is the dataset size, but I can't increase it yet.

Wh

[2022-09-24 01:57] webknjaz opened #5501 "[ci] Problematic `all-successful` GHA job implementation"
_[a drive-by advice]_

Hi, I noticed that you have an `all-successful` job in the workflows. The idea is great but the way it's implemented may let broken changes slip through. There are corner cases when this job would be marked as `skipped` which branch protection would interpret as "not red, good to go". To solve this properly, it'd have to run with `if: always()` and enumerate+check statuses o

[2022-09-24 02:22] jameslamb opened #5502 "[R-package] CRAN error: r-devel-linux-x86_64-debian-clang"
## Description

CRAN checks for `{lightgbm}` are showing an ERROR for the `r-devel-linux-x86_64-debian-clang` check flavor.

<img width="526" alt="image" src="https://user-images.githubusercontent.com/7608904/192075976-0fdd0a00-09b7-47d7-a904-f57658110dda.png">

https://cran.r-project.org/web/checks/check_results_lightgbm.html

## Reproducible example

I haven't tried to reproduce this yet outside

[2022-09-24 02:25] jameslamb commented on #5502
@shiyu1994 can you please check your email and let us know here if CRAN has contacted you?

The last time something similar happened (#4923), we were given just a few days to submit a patched version (#4930) before CRAN archived the package.

If we need a v3.3.3 release with a patch, it's important that we start that work as soon as possible, to avoid disruptions to users.

[2022-09-24 04:33] #5417 closed

[2022-09-24 16:45] lorentzenchr commented on #5088
@elephaint already provided the answer. To make it even clearer:
- As training loss: The Tweedie deviance is a function of labels (y) and raw scores.
  Take the Tweedie deviance, e.g. from https://en.wikipedia.org/wiki/Tweedie_distribution, and mind that a log-link is used, i.e. one predicts `exp(raw_scores)`. Then take the gradient w.r.t. "raw scores".
- As a metric: The Tweedie deviance is a fun

[2022-09-25 03:13] jameslamb commented on #5088
@guolinke or @shiyu1994 can you please read through the questions here and help resolve this discussion?

[2022-09-25 03:21] jameslamb opened #5507 "[ci] Appveyor builds failing"
## Description

For the last 2 days, Appveyor CI jobs have been failing, blocking development on this project.
I've seen these changes on several, totally-unrelated PRs (e.g. #5503, #5504, #5505, #5506), so I'm fairly sure it's related to that job's configuration and not breaking changes on PRs.

## Reproducible example

See any recent appveyor jobs, for example this one from #5506: https://ci.app

[2022-09-25 03:27] jameslamb commented on #5507
I suspect this is relevant... it looks like these builds are now getting a PyPy version of Python, instead of CPython.

From the full logs ([link](https://ci.appveyor.com/project/guolinke/lightgbm/builds/44872180/job/sxsvo19536lcd058?fullLog=true)), it seems that the step installing `graphviz` and `matplotlib`

https://github.com/microsoft/LightGBM/blob/dc4794b62f2c09103e558b7a8325bed66083a5c3/.ci

[2022-09-26 02:20] Zhylkaaa commented on #5088
@lorentzenchr I understand exp and non exp thing, but I don't understand how the derivative of `-label * pred ^ (1 - rho) / (1-rho) + pred ^ (2 - rho) / (2 - rho)` w.r.t `pred` is the same expression without denominators where it should be `-label * pred ^ (-rho) + pred ^ (1 - rho)` to my understanding at least. So my and probably @elephaint's question is where this derivation comes from, maybe I

[2022-09-26 11:09] shiyu1994 commented on #5507
@jameslamb Thanks for opening this issue.

[2022-09-26 12:34] js850 opened #5508 "Add support for CRLF line endings or improve documentation and error message"
Lightgbm should handle CRLF (\r\n) line endings or at the very least it should fail gracefully with a nice error message.

## Summary

I have examples of lightgbm model files (.lgb files) which crash python when trying to load them in lightgbm.  If you change the line endings from CRLF (\r\n) to LF (\n) then it is loaded without a problem.

According to a comment in #3589 this is expected behavior

[2022-09-26 13:30] jameslamb commented on #5507
Maybe! Although that might bring its own environment-resolution issues. I'm not certain how to solve this, haven't had time to investigate it yet.

[2022-09-27 07:38] maryvitalevna opened #5511 "Encoding categorial features"
## Description
I have the following structure of one lightGbm tree: {'split_index': 0, 'split_feature': 41, 'split_gain': 97.25859832763672, 'threshold': '3||4||8', 'decision_type': '==', 'default_left': False, 'missing_type': 'None', 'internal_value': 0, 'internal_weight': 0, 'internal_count': 73194, 'left_child': {'split_index': 1, and the feature in 0 node is categorial and I feed this feature

[2022-09-27 09:00] celestinoxp opened #5512 "competition released new version."
competition released new version (cat#&&$% 1.1)

## Summary

What will lightgbm do? Stay looking or launch a new version to compete?

## Motivation

direct competition

## Description

## References

[2022-09-27 10:21] nibu147 commented on #5269
not on my side... that's why I turned to install lightgbm with conda :(

[2022-09-27 12:52] hadley opened #5513 "[R-package] R package fails with development version of testthat"
This is a courtesy notice to let you know that I see a failure of lightgbm with dev testthat:

[code]

I suspect this is just a numeric issue, but when I tried to debug it further I couldn't load your package because you have an invalid `DESCRIPTION`:

[code]

I'm sure you have some good reason for this but unfortunately I don't have the time to dig in to it, so you'll need to debug yourself.

[2022-09-27 12:56] jameslamb commented on #5513
Thanks very much for taking the time to warn us! I'll try building the dev version of `{lightgbm}` against the dev version of `{testthat}` and see what I can find.

We do: https://github.com/tidymodels/bonsai/issues/34#issuecomment-1187589193

[2022-09-27 12:58] jameslamb commented on #5512
I'm closing and locking this issue, as it isn't helpful to the development of this software. If you'd like to contributor to LightGBM's development, see the open issues for some ideas.

[2022-09-27 12:58] #5512 closed

[2022-09-27 20:17] hadley commented on #5513
Just to let you know, we're planning on submitting testthat to CRAN on Oct 7.

[2022-09-27 20:31] jameslamb commented on #5513
Thanks for the notice! I'll try to reproduce the error you've reported in the next few days, and if I can we'll try to put up a patch release on CRAN.

That might be necessary anyway based on a recent, unrelated failure we're seeing in one of the CRAN checks (#5502 ).

[2022-09-28 03:42] jameslamb opened #5514 "Use manylinux image to produce wheels"
## Summary

Created from https://github.com/microsoft/LightGBM/issues/5390#issuecomment-1204486025.

The following changes should be made in LightGBM:

* move from supporting `GLIBC >= 2.14` to `GLIBC >= 2.23`
* start producing Python wheels using one of the `manylinux` images (https://github.com/pypa/manylinux)
    - this implies ending official support for Ubuntu 14.04 in LightGBM

## Motivation

[2022-09-28 03:43] wil70 opened #5515 "Training stop with no error message with a input file of 330GB. It complete the training for a 16GB input file."
## Description
I can run LightLgbm on a 16GB input file and it train well, but when I try on a 330GB input file, it stop and nothing else happen. No error message, what shall I do next? is there a log generated somewhere?

Here is the output I see:
[code]

## Reproducible example
Here are a few lines to show what the data look like. You can create fake data witht the same structure/pattern until y

[2022-09-28 03:43] jameslamb commented on #5390
opened #5514

[2022-09-28 14:14] jameslamb commented on #5515
Thanks for your report.

1. Is it possible to update to a newer version of LightGBM? There have been significant improvements in the 2 years since 9/27/2020.
2. Do you have more than 330GB of memory on your machine? If you're using single-machine LightGBM (i.e., not distributed training), you need to have enough memory available to hold the raw training data + LightGBM `Dataset` object.
    - I be

[2022-09-28 21:27] jameslamb commented on #5178
@gaebw `LGBM_DumpParamAliases` was introduced December 2, 2021 (#4829), so it's very surprising to see an error message about it given that you said you are using v3.1.1 ([October 27, 2021](https://github.com/microsoft/LightGBM/releases/tag/v3.3.1)).

I suspect that maybe you've built a newer version of the Python code (using `python setup.py install --precompile`) but linking to an older version

[2022-09-28 23:48] memeplex opened #5516 "max_cat_threshold default = 32 with large number of categories"
In https://github.com/microsoft/LightGBM/issues/2261 it was said that

Now, by looking at the code in https://github.com/microsoft/LightGBM/blob/346f88398282c5677dcaa880e147026eadba29e4/src/treelearner/feature_histogram.hpp#L397

the above assertion seems dubious to me. If max_cat_threshold is 1 then max_num_cat is 1 and the main loop will only consider one split at all! Of course it will be the o

[2022-09-29 02:59] wil70 commented on #5515
Thanks Jameslamb,

1. My mistake, it is the latest code from 9.27.2022
2. I have 64GB of memory.
So I can not train with a file that is more than 64GB?
LightGBM wouldn't stream the data record by record as needed or batch the records by chunk of 1GB or whatever quantity?
I'm asking as many framework do this, like ML.net for instance.

What is strange is there is not error message, out of memeory o

[2022-09-29 04:55] guolinke commented on #5516
@memeplex this is mainly for regularization purposes. with too many categories threshold, it is easily overfitting.
A small set of categories is better in generalization.

[2022-09-29 12:23] memeplex commented on #5516
I understand that, but one thing is to do a few significant splits and another things is to look at a few candidate splits. My concern is that by looking at just the first 32 candidates for a feature with hundreds of categories you may end up never splitting that feature even when there are very significant splits after the 32 inspected ones. In terms of the default histogram for such a feature, w

[2022-09-29 19:05] wil70 commented on #5515
1 & 2) This is working now, I'm a new user and just found the parmeter "two_round = true" - this is great!

3) Is there a way to see the "confusion matrix" for training and testing data set from the CLI? something like https://www.todaysoftmag.com/images/articles/tsm99/large/a65.png

Thanks
w

[2022-09-30 11:24] elena-sharova opened #5517 "forcedsplits does not check features index boundary"
## Description
When using forcedsplits_filename parameter, there seems to be no check on the boundaries of the provided features index.
This makes it possible to get an access violation error. Ideally there should be a check to avoid run-time crashes.

## Reproducible example
[code]
The above gives this error:
[code]

## Environment info

LightGBM version or commit hash: 3.3.2

Command(s) you used

[2022-10-01 07:13] fecet opened #5518 "[python-package] Set evaluate frequency"
I'm using a quite slow evaluate function in python's `feval` arguments , which will slow down my training speed 10x if I evaluate it every round, however, this seems to be the default behavior. It's possible to change the frequency? I check `metric_freq` and `verbose_eval` parameters, but the previous one only work on CLI version while the later one seems only affect the log frequency.

[2022-10-03 15:17] jmoralez commented on #5518
Hi @fecet, thank you for your interest in LightGBM. We already have this as a feature request in #4107, but hasn't been implemented yet. In the meantime, you can find a suggestion on how to manually do it in https://github.com/microsoft/LightGBM/issues/4107#issuecomment-808161805.

Please let us know if you have further doubts.

[2022-10-04 05:49] #5518 closed

[2022-10-05 12:09] 996peasant opened #5523 "could not parse main worker ipv6 host and port correctly"
## Description

could not parse main worker host and port correctly。The ipv6 and host is fdbd:dc02:f:172:0:0:0:20:12404
The error log is below.

22/10/05 15:38:50 INFO LightGBMClassifier: sending finished status to driver
22/10/05 15:38:50 INFO LightGBMClassifier: LightGBM worker got nodes for network init: fdbd:dc02:f:172:0:0:0:20:12404
22/10/05 15:38:50 INFO LightGBMClassifier: LightGBM task lis

[2022-10-05 15:20] maryvitalevna commented on #5511
Hi @jmoralez, thank you for your answer, it is very helpful for me.

[2022-10-05 15:24] jameslamb commented on #5511
Thanks! We'll close this then.

@jmoralez it looks like this answer was double-posted here and on Stack Overflow (https://stackoverflow.com/questions/73828294/how-do-lightgbm-encode-categorial-features).

If you go post your answer there, I'll upvote it and I hope @maryvitalevna will mark it as the accepted answer.

------

@maryvitalevna in the future, please do not double-post here and on Stack

[2022-10-05 15:30] #5511 closed

[2022-10-06 14:16] jameslamb commented on #5523
Thanks for using LightGBM!

We do not maintain SynapseML in this project. Please report your issue in that project: https://github.com/microsoft/SynapseML/issues/new/choose.

When you do that, please give them more information than a stack trace and some version numbers. Try to include a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) or at least a more

[2022-10-06 21:56] liangfu commented on #5244
Just for a quick note, I'm currently using following code snippet to fetch categorical_feature from the model
[code]
Then convert these columns to category type for prediction.
[code]
This is very much unrelable, but can act as a tempory solution.

[2022-10-07 02:04] jameslamb commented on #5507
This was fixed in #5510.

I just accidentally put `(fixes #5509)` (wrong issue number) in the title.

[2022-10-07 02:04] #5507 closed

[2022-10-07 03:36] 996peasant commented on #5523
Think you very much. I will report this issue in [SynapseML](https://github.com/microsoft/SynapseML)

[2022-10-07 03:38] jameslamb commented on #5523
ok great, thanks! We'll close this for now then.

[2022-10-07 03:38] #5523 closed

[2022-10-07 13:20] qinhaohcen opened #5524 "[python-package] Where is the code for the 'quantile' objective, and how do I pass a custom objective to LGBMRegressor?"
## Description

I want to change quantiles' loss function. Although I can make objective='quantile' , but I can't see a quantile in LGBMRegressor's code. Can you give me some advice? Thank you!

[2022-10-07 13:57] jameslamb commented on #5524
Thanks for using LightGBM! I'm confused a bit by your question.

Which of these are you asking?

* "how do I provide a custom objective function for quantile regression with `LGBMRegressor` in the Python package?"
* "where can I find the code for the quantile objective function, so that I understand how it works?"
* "what parameters can I use to change the behavior of LightGBM's quantile regressio

[2022-10-07 16:54] jameslamb commented on #5499
Thanks for your interest in LightGBM!

I put some of the text of those logs through Google Translate (I cannot read the language they're in, apologies), and saw that it looks like you are hitting this during compilation:

LightGBM has its own implementation of `inet_pton`, but some newer compilers on Windows ship with their own, conflicting implementation.

If you searched this project's issue tra

[2022-10-07 17:03] shiyu1994 commented on #5502
Sorry for ignoring the email. Will pay more attention to such emails later on.

[2022-10-07 17:14] jameslamb commented on #5502
AH! @shiyu1994 thank you. This is a VERY serious problem.

It means we now only have 3 more days to upload a new version of the R package to CRAN, or `{lightgbm}` will be archived on CRAN, which would mean:

* users will not be able to install it with `install.packages()`
* the maintainers of the other packages depending on `{lightgbm}` will receive emails stating that their packages will be archi

[2022-10-07 17:17] shiyu1994 commented on #5502
@jameslamb Thanks. If you need any help during the release, please feel free to ping me.

[2022-10-07 17:19] jameslamb commented on #5502
ok thank you very much!

[2022-10-07 17:27] jameslamb commented on #5502
Actually @shiyu1994 ... could you review my proposed patch in #5503? I think the change to `configure.win` in that PR for `inet_pton` should probably also be included in this release to CRAN, since otherwise we might face issues with `inet_pton` when R eventually updates its compilers on Windows.

[2022-10-07 18:02] jameslamb commented on #5502
I'm investigating this one right now.

[2022-10-07 18:22] jmoralez commented on #5513
Sorry, I can't reproduce this error. This may be a noob question but did I miss something? I did the following:
1. Install testthat from github.
2. Install lightgbm version 3.3.0 (I also tried the master branch).
3. Run the tests (all pass).

Here's my session info:
[code]

[2022-10-07 18:41] jameslamb commented on #5502
❗ I just noticed that on the most recent successful build of the CI job that is supposed to mimic this check ([build link](https://github.com/microsoft/LightGBM/actions/runs/3206172058/jobs/5239588281)), we're getting the following environment:

[code]

That is 3 months older than the one being used by CRAN's checks ([logs link](https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-c

[2022-10-07 19:00] hadley commented on #5513
I can't reproduce it now either.

[2022-10-07 20:24] jameslamb commented on #5502
Ok, so!

After applying a small change to the `rhub/rhub-linux-builders` images (https://github.com/r-hub/rhub-linux-builders/pull/62), I'm happy to say that **I was able to reproduce the same test failure as CRAN is reporting** 🎉

I suspect that that means the root cause then is that between July 31st and September 24th, one of the following changed in a way that causes this test to fail:

* some

[2022-10-07 20:32] rabyj commented on #3636
This is still a problem in `v3.3.2` when using the sklearn interface, in my case it was caused by giving parameters that existed in the native interface but not the sklearn one, so I fell into the following ['documented'](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html#lightgbm.LGBMClassifier) case: ****kwargs is not supported in sklearn, it may cause unexpected is

[2022-10-07 21:29] jameslamb commented on #5502
I'm able to reproduce the failing test, but it's weird.... when I run the code of the test directly in an R REPL in the new `rhub/debian-clang-devel` image I've built, it succeeds!

But when I run something like the following in there

[code]

That test on non-ASCII feature names fails 🤔 .

So maybe something about the `{testthat}` machinery is responsible? Also linking this relevant-looking issue

[2022-10-07 22:15] jameslamb commented on #5502
It really seems to me like *something* `{testthat}` is doing is causing a behavior change in `{lightgbm}`.

Consider the following R script.

[code]

The presence of a `{testthat}` test at the end shouldn't have any impact on whether or not the feature names in the dumped model are identical to the original ones, right?

Well...

[code]

succeeds, like this:

[code]

but using `{testthat}`...

[co

[2022-10-07 22:29] jameslamb commented on #5502
I should have clarified....that difference only happens in the `rhub/debian-clang-devel` image I've built for this. Running on my Mac, for example, that script succeeds regardless of how I run the code.

[2022-10-07 22:54] qinhaohcen commented on #5524
Thank you for your patient reply！ I would like to ask for advice on this three points you mentioned.

"how do I provide a custom objective function for quantile regression with LGBMRegressor in the Python package?"
"where can I find the code for the quantile objective function, so that I understand how it works?"
"what parameters can I use to change the behavior of LightGBM's quantile regression?"

[2022-10-08 00:39] qinhaohcen commented on #5524
This is my code. When I move the mouse to 'quantite' and press Ctrl+B, I will be prompted to Can't find declaration to go to. But I really want to find out how the quantile method works in `LGBMRegenerator`. And I hope to improve the loss function pinball loss of quantile.
`        lgb_model_q05 = LGBMRegressor(objective='quantile',
                                      metric='quantile',

[2022-10-08 03:33] jameslamb commented on #5502
Found some evidence that `{testthat}` DOES mess with the R session's locale 😬

https://github.com/r-lib/testthat/blob/df20dbb54f4aa125e22eb21e2fd5e55bc1112391/vignettes/third-edition.Rmd#L200

I'm not sure how or if that's related to the behavior I'm seeing yet, but it does feel relevant.

[2022-10-09 04:45] #4881 closed

[2022-10-09 05:01] guolinke commented on #5516
@memeplex the categorical split points are sorted by split gain, so the significant splits will be used first.

[2022-10-09 09:49] valentasgruzauskas opened #5529 "Lightgbm API pred_contrib supports sklearn TransformedTargetRegressor, but SHAP does not support"
We are applying Lightgbm sklearn API to regression problem, with pipeline and TransformedTargetRegressor. When using pred_contrib = True, we receive SHAP values. When trying to create from the model explainer from SHAP library, we reiceve an error.

Reproducable example:

[code]

`
| LightGBM prediction with target transform: [24.23973864]
| Lightgbm explainer with target transform: 21.04059855102

[2022-10-09 10:34] valentasgruzauskas commented on #5529
Issue moved to SHAP.

[2022-10-09 10:34] #5529 closed

[2022-10-09 10:37] valentasgruzauskas opened #5530 "Lightgbm predict method with pred_contrib=True, and sklearn TransformedTargetRegressor returns incorrect contributions"
We are applying Lightgbm sklearn API to regression problem, with pipeline and TransformedTargetRegressor. When using pred_contrib = True, we receive SHAP value, which are incorrect.

We apply np.log1p to transform target variable, and np.expm1 for inverse transformation. We use none-linear transformer, thus direct application of inverse transformation to each SHAP value does not result in correct

[2022-10-09 16:02] jameslamb commented on #5513
I'm going to close this issue, it seems that there is nothing to be done right now, given that:

* neither of you is able to reproduce this
* I just observed multiple successful runs of `{lightgbm}` on a wide range of win-builder and R Hub environments (see description of #5525), all using the newest version of `{testthat}` (3.1.5)

Thanks for the report and warning of the new release, though, and

[2022-10-09 16:02] #5513 closed

[2022-10-09 16:15] jameslamb commented on #5391
Noting that this has been extended, and https://github.com/actions/runner-images/issues/5583 now says

So we have a bit more time...but not much.

[2022-10-11 01:39] wil70 opened #5534 "LightGBM + Flaml/AutoML"
Hello

I'm using the distributed socket version via command line, it works well. I got some roadblock with MPI but anyway socket works well..

**Question:** Is there a way to use AutoML (Flaml) for parameters tuning with LightGBM CLI/Socket? that would be awesome

Note:
- I tried the ML.net version but there are issues (for instance, I couldn't retrain LightGBM, distributed isn't really there). On

[2022-10-11 02:56] jameslamb commented on #5534
Thanks for your interest in LightGBM!

It looks like you've posted the same question here and in FLAML: https://github.com/microsoft/FLAML/issues/758. Please don't do this! Maintainers of both projects have limited time and attention, and posting the same question in multiple places is effectively asking multiple people to do the same work.

Since your questions are all specifically about FLAML, I

[2022-10-11 02:59] jameslamb commented on #5529
It looks like this was https://github.com/slundberg/shap/issues/2720.

In the future @valentasgruzauskas , when you do things like this please do post a link to the new issue! That way, when someone with a similar question finds your post here from a search engine, they'll be able to find the corresponding SHAP issue that you opened.

[2022-10-11 03:30] jameslamb commented on #5524
**"how do I provide a custom objective function for quantile regression with LGBMRegressor in the Python package?"**

See the `Note` on custom objectives at the bottom of https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRegressor.html#lightgbm.LGBMRegressor for information on how to format a custom objective function for `LGBMRegressor`.

Custom objective functions can be passed to

[2022-10-11 03:53] #4518 closed

[2022-10-11 04:10] jameslamb commented on #5495
For those finding this issue from search engines... the "bug" mentioned here is that the source code zip file that GitHub generates for repos does not include the source of git submodules, and as a result LightGBM cannot be compiled from source code downloaded that way.

This is the same issue that was described and addressed in https://github.com/microsoft/LightGBM/issues/5038#issuecomment-110150

[2022-10-11 04:10] #5495 closed

[2022-10-11 07:37] AnjaliSetiya commented on #5179
In my case I'm using the library in Python. I have dataset of around 10000
rows and 12000 columns. I'm trying to standardize the model. I did the
hyperpatameter tuning earlier on a particular dataset. With those range of
hyperpatameters that I have, I want to compare accuracy of a slightly
different data, let's call it data2. For that purpose I was using the model
with the same hyperpatameter rang

[2022-10-11 08:27] ifredom commented on #5061
it's work for me

`pip install setuptools==58.2.0`

[2022-10-11 12:39] qinhaohcen commented on #5524
Thank you very much！Now I know why I can't find it.

[2022-10-11 14:06] #5179 closed

[2022-10-11 14:09] andrewkittredge opened #5535 "Azure Publish MSBuild Duplicated Path"
## Description
I have a .net standard 2.0 project which imports the LightGBM package through the Microsoft.ML.LightGbm package.  I reference the .net standard 2.0 project from a .net framework asp.net project.  Publishing the asp.net project to Azure fails with the below error, notice the path is duplicated.

[code]

See this stackoverflow with a similar problem, https://stackoverflow.com/question

[2022-10-11 14:30] jameslamb commented on #5535
Thanks for using LightGBM!

But sorry, we do not maintain `LightGBM.NET` here. Can you please try opening an issue at https://github.com/rca22/LightGBM.Net/issues and linking to this one?

[2022-10-11 14:46] andrewkittredge commented on #5535
Are you sure?

https://www.nuget.org/packages/LightGBM/ is the nuget package I am referencing, which points to this repo.

Also the copy that is failing is generated @ https://github.com/microsoft/LightGBM/blob/5c8a331bf5966f1df546f154f64ed9b8856a90ee/.nuget/create_nuget.py#L55.

[2022-10-11 17:59] #2613 closed

[2022-10-11 22:43] mjmckp commented on #5535
@andrewkittredge didn't mention the LightGBM.Net nuget package, instead he was referring to the LightGBM and Microsoft.ML.LightGbm nuget packages.

However, I would recommend using LightGBM.Net over Microsoft.ML.LightGbm, there are a large number of bugs and numerical inconsistencies between the native trees trained by Microsoft.ML.LightGbm and the corresponding managed trees.  Also, the last time

[2022-10-11 23:34] jameslamb commented on #5535
Thank you! Sorry, maybe this is my ignorance of .NET showing. I thought that the `Microsoft.ML.LightGbm` NuGet package was a dependency of `LightGBM.Net`.

[2022-10-12 02:52] jameslamb commented on #5419
@BinchaoPeng thanks for using LightGBM!

The `conda-forge` package for `lightgbm` is not maintained by this project's maintainers (https://github.com/conda-forge/lightgbm-feedstock) and does not currently support GPU training.

We can take it as a feature request to try to add that support there at some point, and it might get easier in the future with the work done in  #3403 and #5252 .

It looks

[2022-10-12 03:12] BinchaoPeng commented on #5419
Thank you very much!

[2022-10-12 03:45] jameslamb commented on #5419
Sure! I'm going to close this for now, as we keep issues for feature requests closed (and track them in #2302) in this repo until they're being actively worked on.

Thanks again for your interest in LightGBM!

[2022-10-12 03:45] #5419 closed

[2022-10-12 06:53] mayer79 commented on #5492
I would love to see this option as well.

It might, however, interfere with `feature_fraction_bynode` and the use of interaction constraints. Interaction constraints should have highest priority, then "always_split_variables", then `feature_fraction_....`. (?)

[2022-10-12 07:31] ParthasarathySubburaj opened #5536 "[gpu] LightGBM GPU Trainer is stuck at Compiling OpenCL Kernel with 64 bins"
## Description
I am trying to train a LightGBM model with GPU. I was able to successfully install the GPU version of the LightGBM and compile all he required binaries by following the procedure [here](https://lightgbm.readthedocs.io/en/latest/GPU-Tutorial.html#build-lightgbm). However, when I try to train my model the code is just stuck with the following logs

[code]

## Reproducible example
The

[2022-10-12 15:58] jameslamb opened #5537 "[ci] [dask] fix test on "only one worker has data" training"
## Description

In #5510, we observed that the Dask tests were getting stuck and timing out after 60 minutes.

Narrowed that down to a single unit test, which is currently skipped.

https://github.com/microsoft/LightGBM/blob/0c0eb2a6a1ba111f0896dd16a579342fa16f7629/tests/python_package_test/test_dask.py#L1506-L1507

The testing work from #5510 should be continued.... that test should be re-enabled

[2022-10-12 17:10] Nader822 opened #5538 "[redacted]"
## Description

## Reproducible example

## Environment info

LightGBM version or commit hash:

Command(s) you used to install LightGBM

[code]

## Additional Comments

[2022-10-12 18:25] wil70 commented on #5534
Thanks, I'm able to train in parallel with LightGBM (c/c++), but I'm wondering how I can get some help with all those parameters to tune and so I saw Flaml and optura but those do not seem to work with the c/c++ version (I know the python version call the c++, but I have other issues with DAS, Mars and I didn't try Ray yet)

I guess I can always train on a subset iwth Flaml+Python and then extract

[2022-10-12 18:51] jameslamb commented on #5538
Looks like you created this accidentally @Nader822 . I'm closing and locking it.

[2022-10-12 18:51] #5538 closed

[2022-10-12 20:34] hsorsky opened #5539 "[python-package] `params` are lost when copying a `Booster`"
## Description
A copied `Booster` loses it's `params` attribute

## Reproducible example
[code]

## Environment info

LightGBM version or commit hash: `3.3.2`

Command(s) you used to install LightGBM

[code]

## Additional Comments

Perhaps `Booster.model_from_string` should set it after initialising the object?

[2022-10-12 20:54] jameslamb commented on #5539
Thanks for this report! I agree that it's desirable for the new Booster's `.params` attribute to match the one it was copied from.

Here's the relevant code run during such a copy.

https://github.com/microsoft/LightGBM/blob/0c0eb2a6a1ba111f0896dd16a579342fa16f7629/python-package/lightgbm/basic.py#L2841-L2847

One approach that might be taken to solve this is to mimic what's done when pickling / u

[2022-10-12 22:37] hsorsky commented on #5539
Yes, I'm interested in attempting, but I might need some guidance.

I assume it's preferable to have `Booster.params` be set in `Booster.model_from_string` rather than `Booster__deepcopy__`?

If `Booster__deepcopy__` suffices, does something like
[code]
work?

If not, and it would be required to be in `Booster.model_from_string`, does something similar to `_load_pandas_categorical` work but where

[2022-10-13 03:35] jmoralez commented on #5539
With #5424 merged we can actually get all the params back from the model string, might be something to consider, i.e.
[code]
returns all the parameters. While working on that I remember at one moment I added it somewhere to model_from_string as well and these lines https://github.com/microsoft/LightGBM/blob/0c0eb2a6a1ba111f0896dd16a579342fa16f7629/python-package/lightgbm/engine.py#L267-L268
made i

[2022-10-13 03:50] jmoralez commented on #5539
Ah it was actually this change:
[code]
That'd kind of solve the copy issue. The "problem" is that the copied object actually has more haha.
[code]

[2022-10-13 14:43] jameslamb commented on #5539
ok yeah nice! At first glance, I like that.

I'm going to be traveling for the next few days and might not be available much. So @hsorsky if you put up a pull request (with tests please 😀 ) I might not be able to look at it until next week, but hopefully @jmoralez will be able to when time permits.

[2022-10-14 04:24] le1tz3y commented on #1562
I tried to implement early stopping and calibration as described by @StrikerRUS above. However, I am seeing a '' from the `_get_fit_params` function. This function just checks that the model passed to the EarlyStoppingShapRFECV class is a lightgbm, xgboost, or catboost instance and calls the appropriate _get_fit_params_* function. Due to this, I don't see how the above suggestion will ever work as

[2022-10-14 04:51] le1tz3y commented on #1562
Well, I tested the code above, and I am still getting the same error.

[2022-10-14 06:14] ParthasarathySubburaj commented on #5536
@jameslamb, any updates on this?

[2022-10-14 07:52] wuzhe1234 opened #5541 "How to save loss value of each sample(not the whole dataset) at every iteration?"
In order to analyse the loss curve of each sample(not the whole dataset), I wrote following codes:

      loss_curve = pd.DataFrame(np.zeros((N, num_trees)))
      pred_tree = np.zeros(N, dtype=float)
      for i_tree in range(num_trees):
          pred_tree += model.predict(x_train.values, start_iteration=i_tree, num_iteration=1)
          loss_curve.iloc[:, i_tree] = self.get_loss(y_train, pred_

[2022-10-14 08:43] mlondschien opened #5542 "LGBM model returns different predictions between multiclass and binary objective when using l2-regularization"
## Description
To my understanding, a LGBM model with `{"objective": "binary"}` should return the same results as `{"objective": "multiclass", "num_classes": 2}`. However, this is not true if `"reg_lambda"` other than zero is supplied.

## Reproducible example
[code]

## Environment info

lightgbm on osx-arm64 installed with conda `3.3.2-py310h9799b42_0`.

## Additional Comments

I would hypothesi

[2022-10-14 13:06] mlondschien opened #5543 "Cannot replicate regression via custom loss for `colsample_bytree != 1`"
## Description

This is a question: I cannot replicate the `"objective": "regression"` with a custom loss if `"colsample_bytree": 0.6`. I did not find any reference in the documentation or codebase as to why this would be the case. What does `colsample_bytree` do that has an effect on the gradient or hessian?

## Reproducible example

[code]

## Environment info

lightgbm on osx-arm64 installed wi

[2022-10-14 13:33] StatMixedML commented on #524
There is a new feature in XGBoost that allows modelling of multiple-outputs:

https://xgboost.readthedocs.io/en/stable/tutorials/multioutput.html

Any plans to include this also into LightGBM?

[2022-10-14 13:41] jameslamb commented on #5536
"any updates" types of comments are really not appreciated, especially only 2 days after an issue was opened.

If you'd like to help investigate this, we welcome other debugging information or ideas you can provide. Otherwise, please wait patiently for someone from the small team of mostly volunteers maintaining this project to find time to investigate this report.

[2022-10-14 17:17] jmoralez commented on #5536
@ParthasarathySubburaj Can you try with `device='cuda'` instead?

[2022-10-14 17:38] jmoralez commented on #5543
Hi @mlondschien, thank you for your interest in LightGBM. Seems like it's something related to the seed, because from the first split it chooses a different column, adding this at the bottom of your code before the assert:
[code]
So the first split is done on a different features in each model. I'll try to investigate further.

[2022-10-14 19:21] jmoralez commented on #5541
Hi @wuzhe1234, thank you for your interest in LightGBM. You're right, the predictions are computed and stored internally, so  you can define a callback to store the predictions on each iteration like in the following example. Keep in mind that this isn't supported and could break in the future.
[code]

[2022-10-14 20:00] le1tz3y commented on #1562
I tried running CCCV through ShapRFECV, so without early stopping, and that causes an error during the Shap analysis as well as shown below.

[code]

[2022-10-15 07:07] wuzhe1234 commented on #5541
Thank you so much! Your code solve my question perfectly!

[2022-10-15 07:59] ParthasarathySubburaj commented on #5536
Hi @jmoralez, thanks a lot for your response. Setting `device=cuda` works for me and GPU is also being consumed, but I am wondering why `device=gpu` is not working. Also may I know what is the difference between `device=cuda` and `device=gpu`?
If you need any further logs or configurations please let me know so that I can get the same for you.

[2022-10-15 20:30] #5541 closed

[2022-10-15 23:55] jmoralez commented on #5536
I think it's due to the fact that you set both flags in your install:

if you want the OpenCL version (`device='gpu'`) you should only have `DUSE_GPU=1`, you can refer to the [installation guide](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version).

The difference between the device types is described [here](https://lightgbm.readthedocs.io/en/latest/Installation-Gu

[2022-10-16 00:15] jmoralez commented on #5496
Yes, you have to build the [GPU version](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version) or the [CUDA version](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-cuda-version-experimental) and set the [device_type](https://lightgbm.readthedocs.io/en/latest/Parameters.html#device_type) parameter accordingly.

You can probably improve the tra

[2022-10-17 05:13] qinhaohcen commented on #5524
Why is hessian directly assigned to 1.0? Is there any theoretical basis? Can you provide a PDF materials for reference？
``

[2022-10-17 07:59] wuzhe1234 commented on #5031
@egemenzeytinci , save the prediction of each iteration could be a walkaround.

        x_train = df_train["feature"]
        N, F = x_train.shape
        predictions = pd.DataFrame(np.zeros((N, self.epochs), dtype=float))

        def save_predictions(env):
            # have to copy because the buffer is reused in each iteration
            train_preds = env.model._Booster__inner_predict(0).copy

[2022-10-17 09:10] gargargargarden commented on #4910
it's just a version issue ,just don't bother

[2022-10-17 15:14] qinhaohcen commented on #5524
If you use pinball loss for quantile，gradient（First derivative）should be 1-alpha or alpha. And hessian should be 0.

Did you consider the combination of hessian and lamda and assign hessian as 1？

Sincerely look forward to your answer!

[2022-10-17 15:15] qinhaohcen commented on #5524
If you use pinball loss for quantile，gradient（First derivative）should be 1-alpha or alpha. And hessian should be 0.

Did you consider the combination of hessian and lamda and assign hessian as 1？

Sincerely look forward to your answer!

[2022-10-17 16:09] jmoralez commented on #5524
I believe it's an implementation detail where the sum of the hessians is used as a proxy to the number of samples in a node, but hopefully @shiyu1994 or @guolinke can confirm.

[2022-10-18 01:36] jameslamb opened #5546 "[ci] CUDA CI jobs are broken: "driver/library version mismatch""
## Description

The CUDA CI jobs for this project are all failing, with the following error.

[code]

## Reproducible example

* build from #5544 ([build link](https://github.com/microsoft/LightGBM/actions/runs/3257866953))
* build from #5545 ([build link](https://github.com/microsoft/LightGBM/actions/runs/3262973002))

## References

Here is the line where these jobs are failing.

https://github.

[2022-10-18 01:37] jameslamb commented on #5546
@shiyu1994 since you are the only person with administrative access to the machine the CUDA jobs runs on, can you please try rebooting that machine and investigating other fixes for this?

I'm happy to help do other research however I can, but you are the only person who can reboot the machine.

[2022-10-18 02:23] jameslamb commented on #524
Thanks for the `@` @StatMixedML .

Also linking this related conversation from XGBoost that you've been contributing on: https://github.com/dmlc/xgboost/issues/2087

And these related LightGBM conversations:

* #5047
* #5111

To answer your question directly... I'm not aware of anyone currently working on adding this support to LightGBM. It has been almost a year since LightGBM's last substantive

[2022-10-18 03:15] jameslamb commented on #4910
To be clear, for anyone finding this from search...LightGBM absolutely needs to fix this issue and remove uses of `load_boston()`, so that it can be tested in environments with `scikit-learn>=1.2`.

[2022-10-18 04:23] qinhaohcen opened #5547 "offline installation fails: "Please install CMake first""
I want to install offline. However, the following problems have occurred.How can I solve it?

Windows PowerShell
版权所有（C） Microsoft Corporation。保留所有权利。

安装最新的 PowerShell，了解新功能和改进！https://aka.ms/PSWindows

PS G:\★★★study\2022\3.投稿材料\小论文\LightGBM-master\python-package> python setup.py install
running install
INFO:LightGBM:Starting to compile the library.
INFO:LightGBM:Starting to compile with MSBuild

[2022-10-18 04:26] jameslamb commented on #5547
Thanks for using LightGBM!

As the error message in that log says:

You can follow the instructions at https://cmake.org/install/ to install it on your machine. Once CMake and LightGBM's dependencies have been installed, internet access should not be required to compile LightGBM.

[2022-10-18 07:08] qinhaohcen commented on #5547
But I have installed successfully. I suspect it is a problem with the path, but I'm not sure.

[2022-10-18 12:59] janelu9 opened #5548 "Booster.eval_valid() doesn't work？"
[code]

[LightGBM] [Info] Number of positive: 3716, number of negative: 3284
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001152 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6132
[LightGBM] [Info] Number of data points in the train set: 7000, number of used features: 28
[LightGBM] [Info] [binary:BoostF

[2022-10-18 13:23] janelu9 commented on #5548
I have known that  `keep_training_booster ` should be set `True`

[2022-10-18 13:23] #5548 closed

[2022-10-19 00:14] IliaOzhmegov commented on #5269
I have the same issue!

[2022-10-19 01:02] qinhaohcen commented on #5547
How to add cmake to my PATH？

[2022-10-19 01:11] IliaOzhmegov opened #5549 "CMake can't find libomp on Apple M1"
## Description
CMake can't find libomp while using AppleClang Compiler.

## Reproducible example
When running `pip install lightgbm` it tries to compile or link the lightgbm but it can't find libomp library.

## Environment info
Apple M1
AppleClang 13.1.6.13160021
AppleClang 13.1.6.13160021
gcc 12.2.0
cmake 3.24.2
lightgbm 3.3.3
libomp 15.0.2
Python3.10

Command I used to install LightGBM

[code]

[2022-10-19 02:41] jameslamb commented on #5547
`PATH` is an environment variable containing a list of folders that your computer looks in when you tell it to run commands. Find `cmake.exe` on your machine, then add its location to that variable.

For help, see a tutorial like https://www.java.com/en/download/help/path.html. Follow the Windows instructions, ignore anything about Java.

After editing `PATH`, close and re-open whatever program yo

[2022-10-19 03:28] qinhaohcen commented on #5547
I have add the address of cmake.exe on the PATH variable. But it still doesn't work.

[2022-10-19 03:42] jameslamb commented on #5547
Please share a screenshot with the contents of your `PATH` environment variable, and we can try to help you.

[2022-10-19 05:36] ParthasarathySubburaj commented on #5536
Thanks a lot for your response @jmoralez, I tried building lightGBM with only `DUSE_GPU=1` flag but still the code gets stuck with the same logs. Also, I am using a NVIDIA GPU and as per the [documentation](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version) I understand that `device=cuda` should be used when we use NVIDIA GPU and `device=gpu` should be used when w

[2022-10-19 11:41] lioncruise opened #5550 "cmake error at linking process while integrating lightgbm"
## Description

I want to integrate lightgbm into my project to support local lightgbm model inference, but I meet an error at the process
 of linking my executable target to the static lib(lib_lightgbm.a) compiled by cmake on lightgbm.

Here is the .cmake file to integrate lightgbm:

lightgbm.cmake
[code]
The cmake build dir structure generated is as follows. The external_libs dir (as I marked, w

[2022-10-20 00:17] lioncruise commented on #5550
It seems unable to find omp_get_num_threads and GOMP_parallel implementation in openmp lib, but I did not find openmp was installed in the `dockerfile-cli` file.

[2022-10-20 03:13] jmoralez commented on #5536
Did you remove your cmake files before? It may have re-used your previous configuration. OpenCL works on different accelerators, so it works with CUDA as well. I just tried it on my machine and it worked fine, got the following logs:
[code]
Using `device='cuda'` should be better though, since that's targeted specifically to nvidia gpus. I'd also suggest trying `cuda_exp`, it's built to be signific

[2022-10-20 11:31] aadler commented on #5135
Hi @jameslamb. New version so I thought I'd check the BOOST issue. Still not working unless I am doing something wrong. Note where I **say** the libraries should be and note where CMake *finds* them :(

Thank you.

[code]

[2022-10-20 13:25] gverbock opened #5552 "Reading model from txt file in Sklearn API"
## Description
Starting from version 3.3.1, the code I use to read a booster from a txt file and *include* it into a LGBMClassifier is not working anymore. I am wondering if this is a side effect of another change or something make on purpose.

## Reproducible example
[code]
It works with 3.3.0

![lgbm330](https://user-images.githubusercontent.com/32060943/196959665-cc563620-1e6c-4c80-9cca-db37c0c

[2022-10-20 16:40] jmoralez commented on #5552
Hi @gverbock, thanks for using LightGBM. Can you share more details about why you need the scikit-learn interface for inference?

[2022-10-21 07:29] gverbock commented on #5552
Sure, the modelling pipeline I am using is based on the scikit-learn interface and I plug-in different types of model depending on the needs and regulatory requirements (logistic regression, random forest, ...). Using the scikit-learn interface allows me to use LightGBM without changing the current pipeline. I noticed a significant improvement when using LightGBM on some parts of the modelling pip

[2022-10-21 08:15] lioncruise commented on #5550
The following steps can solve this problem:

1. sudo apt install libomp-dev

2. add `-fopenmp` to the final target:
[code]

[2022-10-21 14:26] jmoralez commented on #5552
I see. Assigning those internal attributes may break again in the feature, but if you're that restricted and that has been working for you so far, the change needed for your example to work is setting `read_clf.fitted_ = True`.

@jameslamb what do you think of this as a feature request? [xgboost reference](https://xgboost.readthedocs.io/en/stable/python/python_api.html#xgboost.Booster.load_model).

[2022-10-22 09:13] JoaquinAmatRodrigo opened #5553 "How observations with sample_weight of zero influence the fit of LGBMRegressor"
## Description

Hello,

I am trying to exclude some training observations by giving them a weight of zero through the "sample_weights" argument.

As I understand it, observations with a weight of 0 do not influence the training, so changes in their values should not affect the resulting model. However, this is not what I see if I train two models, each one with different values in the samples with

[2022-10-22 15:28] jmoralez commented on #5553
Hi @JoaquinAmatRodrigo, thanks for using LightGBM. The weights are used when computing the gradients and hessians. By setting a zero weight you're basically ignoring the errors for those samples. However, the feature values for those samples are still considered when building the feature histograms, that's why you end up with different models.

If you instead modified the target values you should

[2022-10-22 15:35] jameslamb commented on #5546
I just re-triggered a CUDA job...this is still broken.

https://github.com/microsoft/LightGBM/actions/runs/3281397887/jobs/5452120895

@shiyu1994 is there any way I can help you resolve this?

[2022-10-22 15:46] JoaquinAmatRodrigo commented on #5553
Hi @jmoralez
Now I understand it. Thanks a lot for your explanation!

[2022-10-22 15:46] #5553 closed

[2022-10-22 18:17] wil70 commented on #5534
Still stuck even after closing a lot of forum andso many days @jameslamb , I discovering those are 1/2 baked libraries. Any advice on something that can scale and is production quality?

I think LightGBM c++ is good and I can scale but I'm missing the parameter tuning help part.

[2022-10-22 23:52] StrikerRUS commented on #5535
Just to make it clear.
In this repo we only maintain `LightGBM` NuGet package: https://www.nuget.org/packages/LightGBM/

`Microsoft.ML.LightGbm` NuGet package (https://www.nuget.org/packages/Microsoft.ML.LightGbm/) is maintained by another team in another GitHub repo: https://github.com/dotnet/machinelearning.

I believe maintainers of that package will be grateful if you share your observations a

[2022-10-23 00:11] jameslamb commented on #5534
"can scale" and "production quality" have multiple possible interpretations.

If you feel you need to use distributed training, all of the officially supported options for doing so are listed in doc I linked, https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html.

If it's possible in your environment, you might also consider just getting a larger machine and performining single-no

[2022-10-23 00:23] StrikerRUS commented on #5508
Closed in favor of being in https://github.com/microsoft/LightGBM/issues/2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2022-10-23 00:23] #5508 closed

[2022-10-23 00:25] mjmckp commented on #5535
@StrikerRUS It was a while ago I looked into this, and there were a significant number of numerical inconsistencies in Microsoft.ML.LightGbm.  Someone needs to implement proper unit tests for Microsoft.ML.LightGbm which trains trees on randomised data with a randomised configuration, and then value check the output of the managed tree implementation implemented in C# against the output of the nati

[2022-10-23 01:13] StrikerRUS commented on #5502
Fixed via #5526 and #5525.

[2022-10-23 01:13] #5502 closed

[2022-10-23 01:31] wil70 commented on #5534
Thanks @jameslamb

yeah, thanks, and I have been able to run training on 2 machines with the "Voting Parallel" mode. The two machines each have 128GB RAM but the csv files is 1TB. I use the c++ LightGBM CLI version with "socket mode" (as I ran into some issues with MPI), any way that work well with socket mode.

More RAM would too expensive for me. I could look at a very fast SSD NVME drive but th

[2022-10-23 01:32] jameslamb commented on #5502
@StrikerRUS I know you have a lot of notifications to catch up on, want to be sure you see this: https://github.com/r-hub/rhub-linux-builders/pull/62

^ until that PR is merged, the CI check here in LightGBM that tries to replicate this CRAN failure will be stuck on a version of r-devel from July 31st, 2022.

So you might want to subscribe to notifications there.

[2022-10-23 01:39] jameslamb commented on #5534
Correct, some frameworks only work on a single machine and expect all of the training data to be loaded in memory.

Not that I am aware of and definitely not that is maintained in this repository, sorry.

Overall, yes that could possibly work. If you do that, try to ensure that the smaller dataset you use is roughly representative of the largest set. That's a complicated task but at least roughly:

[2022-10-23 01:41] StrikerRUS commented on #5502
350+, hahaha 😬

Thanks for the reminder! Yeah, I saw that PR. Hope it will be merged.

Also, I saw you

for the `v3.3.3` release. Thank you!

[2022-10-23 02:19] wil70 commented on #5534
Thanks @jameslamb
I'm playing with the dask right now.

5. I'm wondering another approach, like if I could get some "Hyperparameter tuning framework" (like FLAML) call back from python that I could feed to the LightGBM CLI (like a subprocess.call()) then return back the results to the "Hyperparameter tuning framework" for the next iteration. Theorically that should work isn't it? and that should b

[2022-10-23 07:30] js850 commented on #2302
Add support for CRLF line endings or improve documentation and error message #5508

[2022-10-23 22:47] StrikerRUS commented on #5508
XGBoost solution:
https://github.com/dmlc/xgboost/blob/a1bcd33a3b74f2e80b870c8f4d4f13e94375a8e4/src/common/config.h#L55-L75

[2022-10-24 13:00] hzh8311 commented on #5244
@liangfu when I process the train data with `lgb.Dataset(categorical_feature=["xx",], ...)` API, and predict with code you posted, the results differ between with and without set "xx" to category type. When convert "xx" to category, the result drop from 4.5 to 4.0 comparing to not converting.

[2022-10-24 15:41] alexhallam opened #5556 "[Question] How can I get out of bag error from lightbgm"
This is not a bug just a question.

I just wanted to know if there was a way to get something like an 'out of bag error' from lightbgm.

I know for random forests I can easily get an out of bag error estimate. This comes from the error on the validation set that random forest is using when bagging (bootstrap aggregating).

[2022-10-25 16:03] hcho3 commented on #5549
The new version of libomp (15.0) is keg-only, which means that we need to specify extra compilation flags to enable OpenMP. LightGBM used to specify these flags before. See https://github.com/dmlc/xgboost/pull/8384 for an example fix.

[2022-10-26 18:01] jameslamb opened #5557 "[R-package] WARNING on M1Mac CRAN job"
## Description

The checks on the `M1Mac` CRAN flavor for `{lightgbm}` 3.3.3 shows one warning.

  ./include/LightGBM/utils/log.h:117:5: warning: 'vsprintf' is deprecated: This function is provided for compatibility reasons only.  Due to security concerns inherent in the design of sprintf(3), it is highly recommended that you use vsnprintf(3) instead. [-Wdeprecated-declarations]
See ‘/Users/ripley

[2022-10-26 18:01] jameslamb commented on #5557
@shiyu1994 please check your email. Did you receive any emails from CRAN saying that we have to fix this?

[2022-10-26 18:06] jameslamb commented on #5557
I see the following at https://www.stats.ox.ac.uk/pub/bdr/M1mac/README.txt

macOS 13 SDK: this also affect users of C++.  (And the much less
commonly used and widely deprecated `gets`, `mktemp` and `tmpnam`.)

[2022-10-28 04:30] jameslamb commented on #5102
Based on https://github.com/microsoft/LightGBM/pull/5367#issuecomment-1294436821, I am going to pick this up. Assigning it to myself to claim it so no one else spends time on it.

[2022-10-28 14:17] Lucienxhh opened #5558 "Regression coefficient for LGBMRegressor"
## Summary
I use `lightgbm.LGBMRegressor` for regression prediction. however, i cannot find any API for regression coefficient.

## Motivation
Provide regression coefficient for `lightgbm.LGBMRegressor`, as the name **LGBMRegressor** implies.

[2022-10-28 14:22] jameslamb commented on #5558
Thanks for using LightGBM!

LightGBM does not fit a regression model like `y = mx + b` the way you may be used to with something like linear regression. Instead, it fits a sequence of trees.

So there is not a concept of "regression coefficients" for LightGBM the way that you might be used to with other types of regression.

If you're new to gradient boosting with trees, XGBoost's docs have an exc

[2022-10-28 14:29] #5558 closed

[2022-10-29 20:38] danielsoutar opened #5560 "[Documentation] Does LightGBM's C API make any guarantees on the dataset being immutable?"
I am working on using LightGBM as part of hyper-parameter search. For performance, I could either parallelise the training, which LightGBM offers (although I am working with the C API and through an immature FFI interface, so this isn't out-of-the-box functionality). Alternatively I could parallelise the search instead, which is easy to implement.

But I also need to ensure data race freedom in th

[2022-10-30 00:06] wil70 commented on #5534
Hi @jameslamb is there a way with "LightGBM CLI socket mode" to give the parameters to a master (like run 10 iterations with parameters a=x,b=y,c=z....) and it propagate that information to all slaves before starting?
Otherwize I might need to write a demon process that will control (stop/start/setup config file) from slave to master. I think it make sens to have one point of control? That way hyp

[2022-10-30 23:03] jameslamb commented on #5549
Thanks @IliaOzhmegov for the report, and to @hcho3 for the extra information!

I've marked this `blocking`, since I see the exact same issue affecting most of LightGBM's macOS CI jobs.

Example builds from #5559:

* Azure DevOps (all Mac builds failing): https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=13788&view=logs&j=31d31d6b-9897-5af8-16dd-840b6b6b4fac
* GitHub Actions, R p

[2022-10-30 23:06] jameslamb commented on #5546
I just triggered another run and this is still happening.

https://github.com/microsoft/LightGBM/actions/runs/3350110051/jobs/5563225006

@shiyu1994 I really hope you're able to get to this soon. `@` me any time if there's any way I can help.

[2022-10-31 01:06] jameslamb opened #5562 "[ci] [R-package] windows-latest CI jobs are broken: "initexmf.exe" failing"
## Description

Some R-package Windows CI jobs are failing with the following error.

initexmf.exe: The executed process did not succeed.
initexmf.exe: Data: fileName="D:\a\LightGBM\LightGBM\RLibrary\miktex\texmfs\install\miktex\bin\x64\initexmf.exe", exitCode="1"
Error: Process completed with exit code -1.

## Reproducible example

I've observed this on all `window-latest` CI jobs. For example, f

[2022-10-31 02:37] jameslamb commented on #5556
Thanks for using LightGBM!

Random Forest implementations randomly sample rows of the training data in each tree, and so can calculate an "out of bag" error by predicting on each row using only an ensemble of the trees for which each sample wasn't chosen.

LightGBM, by default, does not work that way. With LightGBM's default settings, every row in the input data is used in every tree.

To get some

[2022-10-31 03:30] jameslamb commented on #5562
This can be fixed by just upgrading from `miktextsetup` 4.0 to the newest version: https://github.com/microsoft/LightGBM/pull/5563#issuecomment-1296453098

[2022-10-31 03:57] jameslamb commented on #5031
Sorry for the delay, this project is really struggling from a lack of maintainer availability at the moment.

If this is something that's standard in `scikit-learn` for regression and classification, we're open to adding it to LightGBM's `scikit-learn` API. But we can't make any commitment to that happening in the near future.

If you're very interested in seeing this in LightGBM, the best way to

[2022-10-31 06:23] ParthasarathySubburaj commented on #5536
Hi @jmoralez, thanks a lot for your response. I cleared all the previous cmake files and started afresh and it worked for me. When I use the setting `device=gpu` it worked for me.  However, I see that there is hardly any difference between my CPU version and GPU version when it comes to training time for the same configuration.

GPU version took `1 min 42 sec`, and my CPU version took `2 min 8s`?

[2022-10-31 15:11] DariusMargineanNicolae opened #5564 "Why my script of searching for best hyperparameters take so long on AWS EC2 Instance"
As the name suggest, I created an AWS EC2 Instance and ran a script for searching of the best hp for a lightgbm Regressor timeseries model. The EC2 instance that I've created is a c5.18xlarge instance, and I ran a script to loop over 9 Dataframes with minimum data points 280 and maximum datapoints 285 and for each of those to search of the best hyperparameters of a lightgbm regressor model accordi

[2022-10-31 15:27] jameslamb commented on #5564
Thanks for using LightGBM!

You've decided not to provide some important information that we ask for in the issue template, including:

* how are you using LightGBM? (Python package? R package? C++? Java?)
* what version of LightGBM are you using? how did you install it?
* a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that maintainers could run to t

[2022-10-31 15:44] DariusMargineanNicolae commented on #5564
So, with my apologies for not giving enough details, here they are:
I use lightgbm with python 3
[code]
I ve install both of the above using pip. One thing to mention is that I used skforecast for wrapping the lightgbm model, basically something like this:

[code]
The one from the above is the function I've used for searching for the best hyperparameters & this is how I call it

[code]

[2022-10-31 15:55] jameslamb commented on #5564
Thanks for that!

I'm sorry but as described, this is too large for us to investigate and is also not reproducible (for example, missing most `import` statements, relies on CSV files that we can't see).

If you're able to generate a **minimal** reproducible example which doesn't rely on `skforecast` or `optuna`, or to at least describe *specifically* what you expected LightGBM to do and how what y

[2022-10-31 17:29] jmoralez commented on #5536
Yes, it is a known issue. You can find more information here: https://github.com/microsoft/LightGBM/issues/768#issuecomment-320573774. I'm closing this since the original issue was solved.

[2022-10-31 17:29] #5536 closed

[2022-10-31 18:03] leahmcguire commented on #4173
It seems like they also failed to make it into the 3.3.3 release. At least I dont see it in the [release notes](https://github.com/microsoft/LightGBM/releases) and I am still seeing the error with an `Int64`
[code]

Any word on when this will make it in?

[2022-10-31 18:33] jameslamb commented on #4173
@leahmcguire v3.3.3 was a special patch release just to keep CRAN from removing the R package. It doesn't contain the fix from #4927.

The change from #4927 will be in v4.0.0. We don't have an estimated date, but you can subscribe to https://github.com/microsoft/LightGBM/issues/5153 to be notified when that release goes out.

[2022-10-31 23:45] alisoltanisobh commented on #3371
was this ever fixed?

[2022-11-01 15:13] danielsoutar commented on #5560
Bumping this. Another point is that I could technically duplicate the dataset for each thread, but as you can imagine that is extremely memory-hungry and incurs very high overhead, so for real problems it would probably not be very useful.

[2022-11-01 19:13] jameslamb commented on #5560
@guolinke can you help with this question please?

[2022-11-02 03:52] jameslamb opened #5566 "[RFC] [ci] Enforce flake8 on Python code"
Created based on this conversation with @jmoralez : https://github.com/microsoft/LightGBM/pull/5559#pullrequestreview-1162264926.

<hr>

## Proposal

LightGBM should use `flake8` in CI.

## Motivation

`flake8` is a static analyzer for Python that I've found very useful in catching efficiency and correctness issues like:

* unused imports
* unused variables
* unnecessary use of f-strings
* repeati

[2022-11-02 14:54] harrisonham opened #5567 "Incorrect Hessian For Huber Objective in LightGBM?"
I was digging through the objective functions of LightGBM available at the link below, and noticed that the hessian is always set 1 for the huber objective function (See line 321).

https://github.com/microsoft/LightGBM/blob/e9f51698ebfa80cb32c8e6cca72fad76b3a36da5/src/objective/regression_objective.hpp

I believe the hessian should be set to 0 however for observations where the loss is outside th

[2022-11-02 14:55] shiyu1994 commented on #5546
@jameslamb Sorry for the long delay.

I've fixed the virtual machine. And now the CI tests should be able to run.

[2022-11-02 15:02] shiyu1994 commented on #5557
@jameslamb The last email that I received from CRAN is

[code]

which was sent on Oct 11. I think the email did not indicate any error of our package.

[2022-11-02 15:32] jameslamb commented on #5546
Excellent, thanks @shiyu1994 ! I'll try re-running the checks from #5545 right now. If they work, I'll work on merging some of the approved PRs today.

[2022-11-02 18:52] jameslamb commented on #5546
🎉 🎉 🎉

that worked!

https://github.com/microsoft/LightGBM/actions/runs/3281397887/jobs/5609753729

<img width="750" alt="image" src="https://user-images.githubusercontent.com/7608904/199576921-69751e3c-0356-41e7-90dc-91bc866a69f3.png">

Thank you so much for the help @shiyu1994 !

[2022-11-02 18:52] #5546 closed

[2022-11-02 21:38] mlisovyi commented on #3998
I bumped into the same problem today. The problem seems to be related to the choice of the objective function for a regression model, in particular affected are `poisson`, `gamma` and `tweedie`.

Example:
[code]
Output:
[code]

lightgbm version: 3.3.3

[2022-11-02 21:38] #5549 closed

[2022-11-02 21:38] #5562 closed

[2022-11-03 04:12] jameslamb commented on #5557
Interesting, ok.

Thanks @shiyu1994 ! I guess the CRAN package is safe for now!

So this can be closed once #5561 is merged.

[2022-11-03 09:01] mlisovyi commented on #3998
Is there a way to reopen the issue? It is not reopened upon a new comment and I do not see any button to do it...

[2022-11-03 09:16] mlisovyi opened #5568 "pred_contrib doesn't add up to the prediction value (for some objective functions)"
## Description
As the title says, `pred_contrib` output doesn't add up to the actual prediction.
The problem seems to be related to the choice of the objective function for a regression model, in particular affected are `poisson`, `gamma` and `tweedie`.
This happens with `tree-linear=False` (as it is the default and I don't change it).

## Reproducible example
[code]
Output:
[code]

## Environment

[2022-11-03 14:22] jameslamb commented on #3998
Thanks for the example @mlisovyi and for being willing to work with us on this. This issue was previously automatically closed because the people posting in it didn't respond to requests for more information.

I'll re-open this.

[2022-11-03 14:23] jameslamb commented on #5568
I'm going to close and lock this as a duplicate of #3998. I've reopened #3998, and let's keep the discussion focused there.

You can trust that when you comment on a closed issue, every maintainer (and in fact many of the 450 watchers on the repo) will be notified.

[2022-11-03 14:23] #5568 closed

[2022-11-03 14:47] jameslamb opened #5569 "[ci] macos_regular job fails: 'nbconvert --execute requires the jupyter_client package"
## Description

I've seen the following error on every run of the `macos_regular` Azure DevOps CI job in the last 12 hours.

Traceback (most recent call last):
  File "/Users/runner/runners/2.211.1/miniforge/envs/test-env/lib/python3.7/site-packages/traitlets/traitlets.py", line 645, in get
    value = obj._trait_values[self.name]
KeyError: 'kernel_manager_class'

## Reproducible example

Example

[2022-11-03 14:51] jameslamb commented on #5569
Yeah I can see on that build that we're getting very old versions of some notebook dependencies.

[code]

For example, `nbconvert` 5.6.1 is from October 2019 ([release history](https://pypi.org/project/nbconvert/#history)).

[2022-11-03 16:22] #5569 closed, assigned to nobody

[2022-11-03 16:23] jameslamb commented on #5569
Updating to Python 3.9 in #5570 resulted in `conda-forge` returning the newest verisons of `notebook`, `ipywidgets`, and their dependencies. That resolved this issue.

[2022-11-04 01:26] jameslamb commented on #5514
Now that CI is working again, next I'm going to prioritize this issue, based on the discussion in https://github.com/microsoft/LightGBM/issues/5390#issuecomment-1204486025, so that we can upgrade to `macOS-latest`  CI images before they are shut off one month from now.

I'll work on an image on the `dev2` branch of https://github.com/guolinke/lightgbm-ci-docker that @StrikerRUS set up for me (http

[2022-11-04 03:42] jameslamb commented on #5514
Did some research tonight, and **I think we should pursue `manylinux_2_28` (PEP600) for `lightgbm` v4.0.0 wheels**

It's a big jump (`lightgbm` currently publishes `manylinux1` wheels for x84_64 architecture), but I think it's the right choice given:

* limited maintainer availability
* slow pace of releases in this project
* the fact that it will realistically probably still be at least 2 months

[2022-11-04 08:25] yilinwu123 opened #5571 "[R-package] how to extract cross validation evaluation metrics from `lgb.cv()`?"
Dear Developers:

I am using R package lightgbm. I first split my data into train and test set. Then I want to conduct 2-fold cross validation on my training data to tune parameters. I would like to extract cross validation evaluation metrics such as 'auc'. For 2-fold cross validation, there are two iterations, so there are two evaluation metrics ‘auc’ predicted from the held-out data. May I ask h

[2022-11-04 08:31] aidiss opened #5572 ""Cannot build GPU program: Build Program Failure" when trying to use dockerfile.gpu from official repo."
## Description

Receiving "Cannot build GPU program: Build Program Failure" when running dockerized gpu version of lightgbm.

[code]

## Reproducible example

[code]

[code]

[code]

[code]

## Environment info

LightGBM version or commit hash: 3.3.2

Command(s) you used to install LightGBM

Installation was run by following docs https://github.com/microsoft/LightGBM/tree/master/docker/gpu

That i

[2022-11-04 09:31] lioncruise opened #5573 "C++ coredump in LightGBM::Predictor::Predictor by GOMP_parallel"
## Description

This is the brief coredump stack caused by parallelly invoking LGBM_BoosterPredictForMat, which seems to be realted with openmp, how to troubleshoot this problem?

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/12690984/199939244-618d3af5-b208-4ae6-8837-99349589902b.png">

## Reproducible example

## Environment info

LightGBM version or commit hash:

[2022-11-04 12:39] ravi160822 opened #5574 "install itself is failing"
pip install lightgbm
 Exception: Please install CMake and all required dependencies first

python 3.9
macOS

[2022-11-04 13:21] jameslamb commented on #5574
Thanks for using LightGBM. This is not enough information for us to help you.

Based only on what you've provided, I'm guessing that you tried running

[code]

And got this error.

Try the following.

[code]

If that doesn't work, we need more information.

* exactly what commands you ran to install lightgbm
* output of `cmake --version`
* output of `conda info` if using conda

[2022-11-04 13:37] ravi160822 commented on #5574
`poetry add cmake`
->
`
The following packages are already present in the pyproject.toml and will be skipped:

  • cmake
`

`poetry add lightgbm`
->
`Exception: Please install CMake and all required dependencies first
        The full version of error log was saved into /Users/user_name/LightGBM_compilation.log
        [end of output]

    note: This error originates from a subprocess, and is like

[2022-11-05 03:01] jameslamb commented on #5574
Did you check that file? It should contain more information about why the wheel can't be built.

[2022-11-05 03:41] jameslamb commented on #5571
Thanks for using LightGBM! I can help with this.

First, it's important to understand...2-fold cross validation does not mean "there are two iterations". It means that 2 separate LightGBM models will be trained on different randomly-selected subsets of the training data.

`lgb.cv()` returns a LightGBM `CVBooster` object. Metrics evaluated on the out-of-fold data (averaged across all models), is av

[2022-11-05 03:52] jameslamb commented on #5573
Thanks for using LightGBM!

A screenshot and a version number is not enough information for maintainers to help you. Please provide at least the following additional information that was requested in the issue template:

* exact commands you used to install LightGBM
* a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) which reproduces the issue

[2022-11-05 04:03] jameslamb commented on #5572
Thanks very much for using LightGBM and for the very thorough repo!

I have a few clarifying questions, and some other observations which might at least help narrow down the problem.

* what type of GPU is available on this machine?
* is the GPU active?
    - e.g., if you have an NVIDIA GPU, what does running `nvidia-smi` on the host (not in docker) return?
* why are you using `nvidia-docker run`

[2022-11-05 05:22] ravi160822 commented on #5574
`  Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)`

[2022-11-05 07:13] ravi160822 commented on #5574
could the cmake error not be displayed while I am installing lightgbm, the bottleneck of having to go to another directory is inconvenient.
plus it is showing me all the old errors, I would only want to see the installation errors of the current `pip install`

[2022-11-05 15:26] aidiss commented on #5572
1060 6Gb

Yes

Will get back later with this one. I am not currently on the machine.

Will get back later with this one too.

I think it was the same commit. The build stoped working after host machine changes. I think install broke after this update cuda update happend on host machine.
https://archlinux.org/packages/community/x86_64/cuda/

Let me know if I can provide anything else.
I will get ba

[2022-11-06 04:59] jameslamb commented on #5502
https://github.com/r-hub/rhub-linux-builders/pull/62 has been merged, and a new `rhub/debian-clang-devel` was successfully built! ([build link](https://github.com/r-hub/rhub-linux-builders/actions/runs/3398735432))

I can see that that image contains a recent version of R-devel.

[code]

So the CI job in this repo using that image should again be replicating the CRAN check!

cc @hcho3 @trivialfis,

[2022-11-06 05:00] jameslamb commented on #4105
I think this can be closed, given:

* #5526
* https://github.com/microsoft/LightGBM/issues/5502#issuecomment-1304715420

[2022-11-06 05:00] #4105 closed

[2022-11-06 05:31] jameslamb commented on #5574
Based on the information you've provided, it looks like after following the other error messages you've resolved missing OpenMP and are now facing exactly the same issue as https://github.com/microsoft/LightGBM/issues/5269#issuecomment-1283164740.

Because no free continuous integration (CI) services support M1 Mac (ARM) machines and because none of this project's active maintainers have free acce

[2022-11-06 07:45] ravi160822 commented on #5574
currently this works,
[code]
I will create the required issues

[2022-11-06 11:05] trivialfis commented on #5502
Thank you for the ping, that's really helpful as we looking to improve the tests for the R package.

[2022-11-06 15:41] pavlexander opened #5575 "[python-package] outdated callback version in latest python library release"
## Description
According to the website `early_stopping` function accepts `min_delta` parameter: https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.early_stopping.html

I went to check the code on **github** and can confirm that it in fact exists in the source code: https://github.com/microsoft/LightGBM/blob/4162485da0abb583e548af640c61a8fd6c5a2b06/python-package/lightgbm/callback.py#L36

[2022-11-06 18:56] jmoralez commented on #5575
Thanks for using LightGBM. That feature (along with many others) will be included in the next major release, you can subscribe to #5153 if you want to follow the progress.

Regarding the documentation, even though there have been a couple of releases since it was added, they have been just changes to the R package, so we changed [the docs page](https://lightgbm.readthedocs.io/) to go to v3.3.2 ins

[2022-11-07 04:17] #5499 closed

[2022-11-07 04:25] srh3161 opened #5576 "ImportError: cannot import name 'concat' from 'lightgbm.compat'"
Version 3.3 on Mac

ImportError: cannot import name 'concat' from 'lightgbm.compat'

Please help!

[2022-11-07 04:39] jameslamb commented on #5576
Thanks for using LightGBM.

We need more information to help you. Please provide the following which were asked for in the issue template:

* a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) demonstrating how you are using LightGBM
* the version of Python you are using
* the version of LightGBM you are using (is 3.3... 3.3.0? 3.3.3?)
* the exact comman

[2022-11-07 06:15] srh3161 commented on #5576
I'm using version 3.3.0 because there was an error when I tried to install the latest version. It was installed through the PyCharm package manager.

Python version 3.10 on Mac OS 10.14.6

I'm new to python so I'm not sure if I'll be able to post a reproducible example. I can post screen shots if thats helpful.

Thanks!

[2022-11-07 08:06] aidiss commented on #5572
nvidia-smi output:

[code]

[2022-11-07 08:09] pavlexander commented on #5575
@jmoralez I found the page on google :)

[2022-11-07 08:26] aidiss commented on #5572
Running python straight through `nvidia-docker run` did not change anything, same error is thrown when trying to fit a model that was instantiated with `device="gpu"`

[2022-11-07 08:27] pavlexander commented on #2742
got the version 3.3.3, python.

The issue is bugging me for the past 2 days.. The data set is 500k, with 1500 features. There seems to be some correlation with `min_gain_to_split` parameter. When the value is 1 I have not yet seen any errors, however on value 0 (default) it seems to crash quite often. Take this comment with caution since I have not ran enough tests yet.. Training on GPU.

crashed

[2022-11-07 08:36] pavlexander commented on #2793
Since there hasn't been any activity for a year, I would like to bring this topic up again.

Got the version 3.3.3, python.  Training on GPU, on Windows.

The issue is bugging me for the past 2 days.. The data set is 500k, with 1500 features. There seems to be some correlation with `min_gain_to_split` parameter. When the value is 1 I have not yet seen any errors, however on value 0 (default) it se

[2022-11-07 08:51] pavlexander commented on #4946
shared some details on the issue in another topic https://github.com/microsoft/LightGBM/issues/2793#issuecomment-1305260660

[2022-11-07 10:45] SKTT1Ryze opened #5577 "LGBM_BoosterLoadModelFromString failed on windows, but succeed in macos"
## Description
LGBM_BoosterLoadModelFromString c_api failed on windows, but succeed in macos.
Error msg in windows:
[code]

## Env
lib_lightgbm.dll version: 3.3.3, windows x86_64

[2022-11-07 14:29] jameslamb commented on #5576
Please don't post screenshots of code or logs here. Text is strongly preferred, so that others facing the same issue can find this discussion from search engines.

If you are unable or unwilling to provide a minimal, reproducible example then please at least share the code you are running, removing any details (e.g. commented-out code, extra lines after the one producing the error) unrelated to th

[2022-11-07 15:19] jameslamb commented on #5577
@SKTT1Ryze thanks for using LightGBM!

I see you opened and then immediately closed this....what happened? It would be useful for others arriving at this issue from search engines to understand the cause of that error and how you got past it.

[2022-11-07 20:22] srh3161 commented on #5576
I'm trying to run a program called YASA that requires Lightgbm

[2022-11-07 20:26] jameslamb commented on #5576
That is not enough information for us to help you. If you cannot share the code you're running or some other similar code that results in this error, then you're asking for us to randomly guess.

I have one more guess, but otherwise we're going to close this is you can't provide more information.

Is your code in a file called `lightgbm.py`, or do you have a file called `lightgbm.py` in the same d

[2022-11-07 20:53] jameslamb commented on #5575
Just adding a bit more details to what @jmoralez said...

* `https://lightgbm.readthedocs.io/en/latest/` = docs for latest commit on `master`
* `https://lightgbm.readthedocs.io/en/{version}` = docs for specific version

You can navigate between versions by modifying the URL or choosing a version from the drop-down in the bottom left corner.

<img width="1723" alt="Screen Shot 2022-11-07 at 2 32 18

[2022-11-07 20:53] #5575 closed

[2022-11-08 11:01] Qashqay opened #5578 "[LightGBM] [Fatal] Number of class for initial score error with Sequence data and init_model"
## Description
I'm trying to make a warmstart training, when model has initial booster from which training continues.
As for data source I use class inherited from Sequence. This was made to reduce total RAM because my dataset is too big to fit into memory.

Here I faced three problems:

1. `free_raw_data=False`. This is seems too strict for this task, because data histogram should be exactly the

[2022-11-08 14:45] SKTT1Ryze commented on #5577
In the windows platform, model file is dos format and only the unix format is understood by LightGBM.

[2022-11-09 16:31] jameslamb commented on #5153
@shiyu1994 @guolinke can you please devote some time to LightGBM over the next few weeks, and can we try to get a 4.0 release out?

At this point, it's been more than a year since the last release with substantive changes (v3.3.1, in October 2021). We really need your help.

[2022-11-09 16:45] shiyu1994 commented on #5153
@jameslamb  And thanks for your support all the time.

[2022-11-09 16:47] jameslamb commented on #5153
Of course! At this point, since it's been more than a year since the last release, I think we need to accept that all the things we'd hoped to get into v4.0.0 aren't going to make it there. It would be better to get a v4.0.0 out and then plan other breaking changes for a v5.0.0 in the future, in my opinion, then to delay v4.0.0 another 6+ months.

[2022-11-09 16:49] shiyu1994 commented on #5153
Strongly agree with that.

[2022-11-09 19:15] baryluk opened #5579 "Consider switching from fast_double_parse to fast_float"
https://github.com/microsoft/LightGBM/blob/fb37e5074ad0163afd9d88366b58075899775cfa/include/LightGBM/utils/common.h#L354-L373

[fast_double_parse](https://github.com/lemire/fast_double_parser) is a legacy library (see for example https://github.com/lemire/fast_double_parser/issues/66 ) . [fast_float](https://github.com/fastfloat/fast_float) is preferred, maintained, and has better API.

[2022-11-09 19:22] jameslamb commented on #5579
It took me a minute to understand what you meant. In case you haven't seen, it is possible to link to individual comments in GitHub.

I think you're referring to https://github.com/lemire/fast_double_parser/issues/66#issuecomment-1309071297:

Thanks very much for this! We'll take this as a feature request. Are you interested in working on it? Otherwise, it's something that probably won't be consid

[2022-11-09 19:24] baryluk commented on #5579
BTW. Code above also claims `inf` and `nan` are not supported, and reverts to `strtod`. I think this might be true for `fast_double_parse`, but `fast_float` does handle it automatically, so the code would also reduce.

https://github.com/fastfloat/fast_float/blob/main/include/fast_float/parse_number.h#L32-L58

[2022-11-09 19:26] baryluk commented on #5579
@jameslamb I personally do not use LightGBM, it is just a very small part of a way bigger part of code base that I am maintaining, but sporadically causing dependency issues.

[2022-11-09 19:37] jameslamb commented on #5579
oooooh interesting, so by vendoring `fast_double_parse`, LightGBM is also passing along those leftover defines. I see, thanks for that context. Very interesting!

Thanks for taking the time to report this, and for the link to the corresponding discussion in `fast_double_parse`.

[2022-11-10 04:15] #5516 closed

[2022-11-10 20:41] jameslamb commented on #5549
Yes, #5563 fixed this issue.

Please upgrade to the latest commit on `master`, clear your CMake cache, and try again. If it's still broken, please post the exact commit you're on, command(s) you ran, and error text and we'd be happy to investigate.

[2022-11-10 21:05] michaelgfeldman commented on #5549
thanks for quick response! 2 follow up questions:
1) how can i clean CMake cache
2) will this work for installing directly from a latest master
pip3 install git+https://github.com/microsoft/LightGBM.git#egg=lightgbm

[2022-11-10 21:28] IliaOzhmegov commented on #5549
@michaelgfeldman the CMake cache in the folder from which you were launching the command `cmake ...`. In the instruction you used `build` folder.
https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#macos

[2022-11-11 17:19] jameslamb commented on #5549
I'd be very very surprised to learn that using a `pip install git+` ever worked with LightGBM, given that LightGBM's Python package is not at the root of the repo.

When I try running that command.

[code]

I get the following error basically saying that.

To build a development version of the Python package from source, follow the instructions at https://github.com/microsoft/LightGBM/tree/master/

[2022-11-12 15:40] danielsoutar commented on #5560
Hi again. This is quite important so doing some digging myself.

Looking through the C API, there is a `LGBM_DatasetSetField` call. This implies that the dataset can be mutated through the handle, but this isn’t necessarily an issue provided that multiple search threads set the same fields in advance before constructing their respective boosters. For instance, the `label` field would presumably be

[2022-11-12 16:28] danielsoutar commented on #5560
To confirm: in the Booster definition in `src/c_api.cpp`, the Booster class has the `Dataset` marked as const:

[code]

So my best guess would be that provided the dataset is fully prepared in the main thread, it can be shared between multiple boosters.

[2022-11-13 10:38] FiksII opened #5583 "Is it possible to train estimator for 1500 classes?"
Hi. I have tabular sparse ~~(but it does not matter, because LightGBM does not use it natively)~~ dataset 7M * 340 and 1500 classes. In the preparation stage (before training iterations) LightGBM consumes all my memory 128 Gb and fails. Is it possible to do it without increasing memory?

LightGBM version '3.3.3'
Python 3.9

Code to reproduce:
[code]

Training log:
[code]

[2022-11-13 13:31] 18811449050 opened #5584 "OSError: dlopen: cannot load any more object with static TLS"
## Description

`import lightgbm` then Error : `OSError: dlopen: cannot load any more object with static TLS` occured.
## Reproducible example

`import lightgbm`
## Environment info

LightGBM version or commit hash:
- lightgbm 3.3.3
- lightgbm 3.3.2
- lightgbm 3.2.1
Command(s) you used to install LightGBM

[code]

![image](https://user-images.githubusercontent.com/64057896/201524265-e8e2746e-f13d-

[2022-11-14 03:50] jameslamb commented on #5583
Are you able to provide ? You haven't provided some important information that we ask for in the issue template, including:

* version of LightGBM you're using
* how you installed LightGBM
* how you're using LigthGBM (Python package? R package? CLI?)
* a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), code that demonstrates this issue

Providing those

[2022-11-14 04:28] FiksII commented on #5583
@jameslamb
Sorry for the incorrect post. I edited the post and added the necessary information.

Sorry, if I am wrong. But, I thought LightGBM converts the sparse matrix to dense.

[2022-11-14 04:47] jameslamb commented on #5584
Thanks for using LightGBM and for reporting this!

Unfortunately, this issue is not unique to LightGBM, and should not occur on Linux systems with `GLIBC >= 2.21`. You can read more about it at the links here:

* https://github.com/microsoft/LightGBM/pull/4893#issuecomment-1039204806
* https://github.com/microsoft/LightGBM/issues/5390#issuecomment-1203495465

Here are some things you can try to wo

[2022-11-14 04:55] jameslamb commented on #5583
Thanks for adding those details! They're very helpful in seeing what's going on.

Can you provide some logs to help us understand what you mean by "In the preparation stage (before training iterations) LightGBM ... fails"? That would help us to narrow down where in the code for `LGBMClassifier.fit()` you are running out of memory.

--------

No problem, just wanted to be sure I understood! Yes, Li

[2022-11-14 05:24] jameslamb commented on #5560
@guolinke @shiyu1994 (or maybe @AlbertoEAF ?) could one of you help with these questions?

[2022-11-14 05:26] jameslamb commented on #5577
I see, I suspect you ran into the same issue as #5508.

Thanks for that explanation. In the future, if you post here and then close the discussion, please provide an explanation so that other people finding the conversation from search engines can learn from your experience.

[2022-11-14 05:26] #5577 closed

[2022-11-14 06:07] FiksII commented on #5583
@jameslamb

It crashes here https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L2780

[code]

[2022-11-14 07:05] dingyf05 opened #5585 "Comparison between LambdaRank output scores"
The trained lambdarank model outputs score like [0.2, 0.5, -0.1], which can get rank result by sort the prediction score (in per query) .
I wonder if the prediction scores are relatively comparable between different queries? For example if one item with score 0.2 in query1 ranks higher than one with score 0.1 in query2?

[2022-11-14 12:28] danielsoutar commented on #5560
Thanks for the reply @guolinke. I'm assuming this potential reconstruction means it is not thread-safe in the general case? That's unfortunate we explore those parameters, which would mean I need to pass the pointer to the underlying memory buffer (which is fine) and build a `Dataset` object per thread in order to ensure thread-safety.

Looking at `LGBM_DatasetCreateFromMats`, I suspect that impli

[2022-11-14 21:15] jameslamb opened #5586 "[swig] switch to SWIG_ADD_LIBRARY() in CMakeLists.txt"
## Summary

Starting with `cmake` 3.8, compilation of SWIG targets for LightGBM raises the following deprecation warning.

[code]

The project should be modified to avoid that warning.

## Motivation

Removes a warning in compilation logs, reducing the risk of other important information being missed.

Reduces the risk of LightGBM SWIG compilation failing on future releases of CMake where `SWIG_AD

[2022-11-15 04:27] jameslamb opened #5587 "[ci] [R-package] r-devel debian jobs failing: command 'tidy' not found"
## Description

The `r-package (debian, R-devel, clang)` CI job is failing with the following NOTE from `R CMD check`.

[code]

## Reproducible example

Observed on `master` ([build link](https://github.com/microsoft/LightGBM/actions/runs/3402957547/jobs/5659167121)) and #5551 ([build link](https://github.com/microsoft/LightGBM/actions/runs/3458340673/jobs/5772674891)).

## Environment info

`r-pa

[2022-11-15 05:20] jameslamb opened #5589 "[ci] compilation failing on macOS jobs using gcc"
## Description

All CI jobs on macOS started failing some time in the last 12 hours, with the following error.

[code]

This occurs after compiling all objects, at the stage where the linker creates `lib_lightgbm.so`.

## Reproducible example

For example, on #5588, all Python jobs on macOS are failing ([link](https://github.com/microsoft/LightGBM/actions/runs/3467557216/jobs/5792537483))

<img wi

[2022-11-15 11:07] guolinke commented on #5560
If one of the thread frees the handle (and then recreate), I think the remaining threads cannot know it, and thus is not thread-safe.
The simplest solution is to use a per-thread clone of Dataset object.

BTW, you can refer to this function: https://github.com/microsoft/LightGBM/blob/f1d3181ced9fd01f4b2899054abd99be6773e939/python-package/lightgbm/basic.py#L2039-L2052 to know when the handle will

[2022-11-15 13:18] danielsoutar commented on #5560
Thanks for the help.

[2022-11-15 13:18] #5560 closed

[2022-11-16 04:11] jameslamb commented on #5589
Things that did not work so far:

* compiling with `-O2` instead of `-O3`
* switching from `brew install gcc` to `brew install 'gcc@11'`

[2022-11-16 04:26] jameslamb commented on #5061
`python setup.py install` now raises a stricter, slightly more worrying deprecation warning.

`pip` is currently on 22.3.1 ([release history](https://github.com/pypa/pip/tags)), so I'm not sure when the 23.x series will start.

But I think this adds new urgency to the project to switch `lightgbm` over to a `pyproject.toml`-based build.

If no one else picks it up, I'll try working on that after re

[2022-11-16 05:42] jameslamb commented on #5587
https://github.com/r-hub/rhub-linux-builders/pull/64 was merged yesterday.

New images were published tonight ([r-hub build link](https://github.com/r-hub/rhub-linux-builders/actions/runs/3476481128)). I manually re-ran the failing job on `master` here, and it succeeded ([build link](https://github.com/microsoft/LightGBM/actions/runs/3402957547/jobs/5812013032)) 🎉

This is resolved 😁

[2022-11-16 05:42] #5587 closed

[2022-11-16 12:49] goraj commented on #5549
Hi,
@jameslamb I have the same issue as @IliaOzhmegov. Building from recent main f1d3181ced9fd01f4b2899054abd99be6773e939 works.
Any ETA when the 3.3.3.99 will be available via pip?

[2022-11-16 14:26] jameslamb commented on #5549
Just like I said above

[2022-11-16 14:28] jameslamb commented on #5549
The next release will be v4.0.0. You can subscribe to https://github.com/microsoft/LightGBM/issues/5153 to be notified when it's released.

We're trying to get itboit, but suffering from a severe lack of maintainer availability and attention.

[2022-11-18 04:04] #5496 closed

[2022-11-18 04:04] #5547 closed

[2022-11-18 04:35] jameslamb commented on #5153
I'm focusing most of my attention right now on fixing the issues related to Python packaging and CI as soon as possible, in preparation for this release.

It has gotten really complicated, so typing out here the sequence that things need to happen.

1. get CI working again:
    - [ ] https://github.com/microsoft/LightGBM/pull/5588
2. merge integrated aarch64 wheels PR:
    - [ ] https://github.com

[2022-11-18 05:46] guolinke commented on #5153
@jameslamb Thank you! ping me when you need reviews.

[2022-11-18 10:39] fabsig opened #5592 "NA's in label, weights, and init_score are replaced by 0"
LightGBM replaces missing values in labels, weights, and init_score by 0. See, e.g., [here for labels](https://github.com/microsoft/LightGBM/blob/f1d3181ced9fd01f4b2899054abd99be6773e939/src/io/metadata.cpp#L388) and [the function AvoidInf](https://github.com/microsoft/LightGBM/blob/f1d3181ced9fd01f4b2899054abd99be6773e939/include/LightGBM/utils/common.h#L653) which does the actual replacement.

I

[2022-11-18 17:13] shiyu1994 commented on #5585
Thanks for using LightGBM.

The short answer is no. In lambdarank objective, the gradients and hessians are calculated per-query. That means, the score and label of an item only affects the calculation of gradients and hessians of items in the same query. So the prediction values of items in different queries is not comparable.

[2022-11-19 22:51] dsrub opened #5593 "training and eval with different weights"
Is it possible to use two different weights for training/eval?  For my use case I'd like to train with one weight, and use a custom eval function which uses a different weight.  Of course I can retrieve the weights from an lgbm dataset in my eval function with .get_weights(), but this will retrieve the training weights.  Is this possible?  Is there any hack around this?

[2022-11-20 00:48] RNarayan73 opened #5594 "categorical_feature support for LGBMClassifier in pipelines and *SearchCV estimators"
## Description
I am trying to use the categorical_feature in LGBMClassifier using the SKLearn API, by which I can avoid having to 1-hot encode the categorical features. The argument is available in the LGBMClassifier.fit() method as described here: [https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html#lightgbm.LGBMClassifier.fit]() which suggests that:

- the default 'a

[2022-11-20 17:48] jameslamb opened #5595 "[ci] [python-package] Use LightGBM-custom manylinux image for building aarch64 Linux wheels"
## Summary

#5252 introduced the use of PoCL for creating wheels that support LightGBM's OpenCL-based GPU code.

As of that PR, LightGBM has to build PoCL from source on every CI run, which is very slow on QEMU builds (https://github.com/microsoft/LightGBM/pull/5252#issuecomment-1229346724).

LightGBM's CI should switch to using a pre-built container image that already has PoCL in it.

## Motivati

[2022-11-20 17:50] jameslamb opened #5596 "[gpu] upgrade to PoCL v3.0 for building Linux integrated OpenCL wheels"
## Description

See https://github.com/microsoft/LightGBM/pull/5252#discussion_r974865521.

#5252 introduced the use of PoCL (["portable OpenCL"](http://portablecl.org/)) to build precompiled binaries of the Python package ("wheels") which allow switching to running on the GPU just by passing a runtime parameter, without the need to rebuild.

That PR used PoCL 1.8 ([October 2021](https://github.co

[2022-11-21 06:17] AnjaliSetiya opened #5599 "Different results from LightGBM when giving input as single row and multiple rows"
## Description
I have developed a model using LightGBM using 'dart' as boosting algorithm and have saved that as a joblib file for using it in further works. My dataset is of molecules in SMILES format when I'm giving a data frame of molecules as input with few molecules I get a particular result (Toxicity-score) and when I input one of these molecules individually as a dataframe  (i.e. df with si

[2022-11-21 12:42] #5599 closed

[2022-11-21 14:27] #5537 closed

[2022-11-22 05:06] jameslamb commented on #5390
I'm working on this in #5597.

[2022-11-22 10:32] aidiss commented on #5572
Can I provide any further information to solve this? @jameslamb

[2022-11-22 17:01] jameslamb commented on #5572
It will be a while (on the order of weeks) until I personally will be able to investigate this further. This project is really struggling form a lack of maintainer attention and availability right now, and I'm focusing on other more time-sensitive issues at the moment: https://github.com/microsoft/LightGBM/issues/5153#issuecomment-1319532263.

If you investigate yourself and find any information t

[2022-11-22 23:27] lucasavila00 commented on #5572
I also stumbled upon this issue. If it helps debugging:
[code]

[code]

[code]

One thing to notice is that I was able to get Catboost to train correctly on the GPU but the same docker image is not able to run LGBM.

[2022-11-23 01:50] jameslamb opened #5600 "[ci] [R-package] Miktex installation failing: "Timeout was reached""
## Description

R Windows CI jobs on multiple PRs and `master` with the following error.

miktexsetup_standalone: Timeout was reached
miktexsetup_standalone: Data: code="28", url="https://api2.miktex.org/hello"
Error: Process completed with exit code -1.

## Reproducible example

Example recent build from #5396: https://github.com/microsoft/LightGBM/actions/runs/3528457186/jobs/5918579958

## Envi

[2022-11-23 01:55] jameslamb commented on #5583
@FiksII can you please provide the logs as requested in https://github.com/microsoft/LightGBM/issues/5583#issuecomment-1313095448? I appreciate you those links to the Python code, but that is calling underlying C/C++ code. Seeing the exact logs would be helpful.

[2022-11-23 02:11] jameslamb commented on #3371
Thanks @alisoltanisobh ! Looking at #3380, the PR that resulted in this issue being automatically closed, I don't think so.

I've renamed this to "support monotone constraints with quantile distribution" and added it to #2302, where we track other feature requests for this project.

[2022-11-23 02:39] jameslamb commented on #5534
LightGBM does not use the terms "master" and "slave", and we'd prefer that you didn't either while posting in this repo.

LightGBM also does not have the *concept* of  "leader", "controller", etc. and "workers" in its core code. In LightGBM distributed training, you start up multiple processes which know about each other via a list of IP addresses and ports ([see parameter "machines"](https://ligh

[2022-11-23 04:53] jameslamb commented on #5600
I tried that URL listed in the error message from two different machines, and found that it's returning 429s from both.

[code]

[code]

It looks like `api2.miktex.org` is completely down.

[code]

[code]

[2022-11-23 14:38] FiksII commented on #5583
@jameslamb Added log at 1st post. But, there is nothing special there

[2022-11-23 15:27] lucasavila00 commented on #5572
Downgrading drivers fixed it for me.

I was able to get it to run by compiling LGBM 3.3.1 and drivers 515

[code]

[code]

[2022-11-23 15:29] jameslamb commented on #5583
The last line in that log you've added in the original post is an INFO-level log from Dataset construction. When you said "it fails", I expected to see some error message. Does that not happen for you? Does "it fails" just mean the training process dies without producing any additional output?

[2022-11-23 20:56] jameslamb commented on #5583
Alright thanks. The fact that you're working in a Jupyter notebook is new and useful information as well, as that can change how to interpret some failure modes in Python code.

Given what you've provided, I think that you simply don't have enough available memory for LightGBM to accomplish the task you're asking it to.

<hr>

## Memory requirements for this type of model

As I mentioned in https:

[2022-11-23 20:57] jameslamb commented on #5583
Also linking the related discussion #4239.

@guolinke @shiyu1994 tagging you in case I've said anything incorrect or you have anything else you'd like to add.

[2022-11-23 21:03] FiksII commented on #5583
Thank you. Will try

[2022-11-24 03:58] jameslamb commented on #5600
Found some more related threads, but none of them have a resolution.

* https://github.com/MiKTeX/miktex/issues/793
* https://github.com/MiKTeX/miktex/issues/628
* https://github.com/MiKTeX/miktex/issues/336

[2022-11-24 09:47] FiksII commented on #5583
@jameslamb Yes... the same thing with your code:

[code]

[2022-11-24 19:31] shogohida commented on #5586
Hi @jameslamb, I made a pull request which fixes this issue. Please take a look!

https://github.com/microsoft/LightGBM/pull/5603

[2022-11-24 21:39] rabyj commented on #3636
@jameslamb

I really think it's linked! If one has objective multiclass but have only 2 label types, it's still possible to perform multi-class training using an `LGBMClassifier`, contrary to what @guolinke said. One only has to specify multiclass metrics with a `metric` parameter. Maybe it's what happened with the OP. The thing is, the init of `LGBMClassifier` has no `metric` parameter, so it's a

[2022-11-25 02:03] jameslamb commented on #5583
I cannot say with confidence "you definitely should be able to train a 1500-class, 5000-iteration multiclass classification model with 128GB RAM". It's possible that LightGBM simply can't do what you're asking with the physical resources available in your environment.

One other thing you could try... install the development version of `lightgbm` (the Python library for LightGBM). It's been more t

[2022-11-25 03:05] #5600 closed

[2022-11-25 05:17] #5391 closed

[2022-11-25 05:18] jameslamb commented on #5061
Adding more deprecation warnings noticed in one of the CUDA builds today ([build link](https://github.com/microsoft/LightGBM/actions/runs/3545005168/jobs/5952780401)).

[2022-11-25 06:55] jameslamb commented on #5061
Adding that there is also a PEP 517 backend for `MSBuild`:

* https://pypi.org/project/pymsbuild/
* https://github.com/zooba/pymsbuild

LightGBM's `setup.py` currently supports `MSBuild` on Windows as an alternative to `CMake`.

https://github.com/microsoft/LightGBM/blob/d067ab6e7e9215e939b7ffc97faf3143e2a2cc44/python-package/setup.py#L174-L188

[2022-11-25 13:29] Casper321 opened #5604 "pip install lightgbm on Mac M1 fails"
Ignore it.

[2022-11-25 14:39] #5604 closed

[2022-11-25 15:55] jameslamb commented on #5604
@Casper321 what happened here? If you ran into an issue and then figured it out, closing the issue with a "here's how I solved this" message is preferable to just removing all the details...that means others could find the answer from search engines in the future if they face the same problem.

[2022-11-25 16:10] shiyu1994 opened #5606 "Add quantized training"
## Summary

Add quantized training algorithm, which accelerates training on both CPU and GPU. See our latest NeurIPS 2022 paper (https://neurips.cc/virtual/2022/poster/53370).

[2022-11-25 16:11] shiyu1994 commented on #5153
Just added quantized training (#5606) in the TODO list.

[2022-11-26 00:14] jameslamb commented on #5606
Interesting! Is there a link to the poster materials that doesn't require creating an account?

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/7608904/204065122-3cb7faba-a042-441d-bf77-818e8e116b1d.png">

[2022-11-26 02:18] jameslamb commented on #5061
Assigning this to myself. I've started working on it on my fork.

[2022-11-27 01:39] #5586 closed

[2022-11-27 01:40] jmoralez commented on #5594
Hi @RNarayan73, thanks for using LightGBM. As you said the `auto` value checks for the categorical datatype if the input is a pandas dataframe, if it is a numpy array it won't be used. One possible solution I see (if I understand your problem correctly) is passing the feature indices to that argument instead, e.g. `clf__categorical_feature=[2, 5]` (assuming the 3rd and 6th columns that get to that

[2022-11-27 09:50] OfekShilon commented on #4904
A year had passed.. Is this fixed by #5424 ?  When can we expect a fix?

[2022-11-27 14:57] shiyu1994 commented on #5606
Maybe this link can be accessed without registration to the conference.
https://nips.cc/Conferences/2022/Schedule?showEvent=53370

[2022-11-27 18:32] aegonwolf commented on #2828
same error, just loading the same script on a different laptop.

[2022-11-28 02:44] jameslamb commented on #5135
Hey @aadler could you try pulling the branch from #5607? It doesn't fix the "LightGBM uses RTools Boost instead of the one you asked for" issue yet, but I think it at least fixes the parsing of paths so the errors like `"unexpected string constant"` or `"unexpected symbol"` shouldn't happen any more.

You could pull it like this

[code]

[2022-11-28 03:05] jameslamb commented on #4904
Thanks for using LightGBM @OfekShilon . This has not been fixed yet.

As far as I know, no one is actively working on this right now. LightGBM's small team of maintainers is currently focused on the remaining work necessary for the next major release of the project (#5153). So I cannot give you an estimated date when this will be fixed.

This is an open source project and we'd welcome contribution