[2017-04-21 09:17] huanzhang12 commented on #438
@gugatr0n1c You can try to get a gdb disassembly at the crashing RIP, if the instruction is an indirect JMP, then it is very likely you have the same issue as the stack overflow question I mentioned above (conflicting OpenCL.lib and OpenCL.dll installed to the system).

[2017-04-21 09:29] huanzhang12 commented on #436
The backtrace still does not include the source line number, which is weird. You can probably try to install debuginfo package, see here: https://access.redhat.com/solutions/1506273
Other suggestions:
- Can you try to checkout an earlier commit https://github.com/Microsoft/LightGBM/commit/9224a9d12521aae4fc47e25974a856bd2321ecad and see if it works? Just do "git checkout 9224a9d" in your cloned re

[2017-04-21 09:34] billbargens commented on #436
Yes, I have mentioned in the early reply that it has nothing to do with the GPU support.
I compiled and built the tool without gpu support. And then do training with cpu, the task still failed with the similar error message!

[2017-04-21 09:42] Laurae2 commented on #436
@billbargens I found something wrong thanks to your verbose log during compilation.

After cloning the repository locally on a fresh new folder, but just before using cmake, go to the `CMakeLists.txt` file (https://github.com/Microsoft/LightGBM/blob/master/CMakeLists.txt#L50) and change line 48-50:

[code]

to this:

[code]

The latter "should" work (there seems to be inconsistent behaviors of `cm

[2017-04-21 09:44] huanzhang12 commented on #436
@billbargens I see. So you probably want to remove the [GPU] tag in the issue title...
I can't reproduce the issue because I don't have the dataset, but here is the general procedure to debugging this problem:
- Try to find the smallest dataset that crashes LightGBM.
- Save the datasets to binary format by setting save_binary=true. Next time just remove the save_binary flag and LightGBM will load

[2017-04-21 10:51] gugatr0n1c commented on #438
Sorry but, this is out of my skill (I was happy enougth to go thru the tutorial and install all that stuff). I tried to read stackoverflow link you reffering, but have no idea what to try.
I tried to search for opencl.dll and opencl.lib. And yes there is multiple version of that (in system32 dir, in cuda dir, in opencl subdir of nvidia,..). It seems to me that there is no SDK from intel and gpucap

[2017-04-21 10:55] Laurae2 commented on #438
@gugatr0n1c Does cmake locates NVIDIA OpenCL library correctly? It should be something like:

* `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\lib\x64` for CL library (do you have this?)
* `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\include` for CL include (what you currently have, this one is OK)

There is a DLL in the system32 which might be picked up before NVIDIA's `lib\

[2017-04-21 11:28] tt83 opened #439 "[GPU] Compilation problems with MSVC"
LightGBM with GPU support does not compile with MSVC (VS 14 2015). There are problems:
1. OpenCL kernels are included as string literals, but MSVC does not support string literals longer than 16380 characters. So it generates [C2026 error](https://msdn.microsoft.com/en-us/library/dddywwsc.aspx).
To solve this issue consider using xxd linux utility. It can translate text to unsigned char array. For

[2017-04-21 12:00] gugatr0n1c commented on #438
@Laurae2  Seems to be OK, or not?

![image](https://cloud.githubusercontent.com/assets/17110787/25276483/bd466f42-269a-11e7-9377-035455925df4.png)

[2017-04-21 12:16] #434 closed

[2017-04-21 12:17] guolinke commented on #431
@henry0312  any updates?

[2017-04-21 13:18] Laurae2 commented on #438
@gugatr0n1c Seems OK if configuring and generating are shown as correct. Does the command line interface GPU demo works with that setup? (make sure to re-configure and re-generate file when you edit manually values)

[2017-04-21 13:37] henry0312 commented on #431
I'm sorry for late response.
The problem haven't been happend after removing `march=core2 mtune=native`, altough it may occur after a while....

[2017-04-21 13:38] guolinke commented on #431
@henry0312
sorry. so it still will happen after removing ```march=core2 mtune=native``` ?

[2017-04-21 13:44] henry0312 commented on #431
Maybe yes.
The problem haven't occured so far
However, I can't inform you that it is fixed, because I don't know when it happens 😢

[2017-04-21 13:50] henry0312 commented on #431
Anyway, I believe that it is good to remoee `march=core2 mtune=native` from CMakeLists, because `-O3' is often sufficient to optimize.

[2017-04-21 14:00] Laurae2 commented on #431
@henry0312 It depends. LightGBM v2 benefits (conditionally) a bit from using `native`, you can check here: https://github.com/Microsoft/LightGBM/issues/348

The difference is about 1%, which is large when taking into account trainings which last hours/days.

@guolinke I think we can remove `-march=core2 -mtune=native` currently if it seems to (potentially) cause issues, and I'll make a PR about wh

[2017-04-21 14:23] Laurae2 commented on #439
ping @huanzhang12

[2017-04-21 15:34] gugatr0n1c commented on #438
@Laurae2
I now tried to run demo from CLI as suggested in tutorial (I have same dir structure)

cd C:/github_repos/LightGBM/examples/binary_classification
"../../lightgbm.exe" config=train.conf data=binary.train valid=binary.test objective=binary device=gpu

And I get default windows dialog error: Program lightgbm.exe stopped working...

Before this dialog error I only got:
C:\github_repos\LightGB

[2017-04-21 16:15] Laurae2 commented on #438
@gugatr0n1c https://github.com/clMathLibraries/clFFT/issues/133#issuecomment-198436711 is what you are experiencing.

There might be incompatibilities between CUDA OpenCL and MinGW which can be circumvented using Intel OpenCL file (because NVIDIA made changes to their OpenCL, so it becomes non-standard).

If you installed Intel HD Graphics after NVIDIA CUDA Toolkit, I think this issue should not s

[2017-04-21 17:14] travisbrady opened #441 "Validation auc differs from sklearn roc_auc_score"
## Environment info
* Operating System: Linux ip-172-31-0-177 4.4.0-65-generic #86-Ubuntu SMP Thu Feb 23 17:49:58 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
* CPU: Intel(R) Xeon(R) CPU E5-2666 v3 @ 2.90GHz (on AWS)
* C++/Python/R version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609 and Anaconda Python 3.5

## Error Message:
No error, but LightGBM's auc differs greatly from sklearn's roc_auc_sc

[2017-04-21 18:52] henry0312 commented on #431
We shuldn't provide optimization depend on cpu architecture in compile.
For example, it is not good for AMD users to optimize with the way for Intel Core 2
Just users should choose thier own best way.

[2017-04-21 19:01] travisbrady commented on #441
Update:
Xgboost doesn't seem to exhibit this problem.
With the same code but with `XGBClassifier` dropped in I get (with `n_estimators=200`):

[code]

[2017-04-21 19:01] Laurae2 commented on #431
@henry0312 If your CPU doesn't have Intel Core 2 architecture instructions, then your CPU must be extremely old (so old that it is older than a Bobcat, which is AMD architecture name in 2011).

`march` does not optimize for specific CPUs (Intel / AMD brand name does not matter at all), it optimizes for a specific set of instructions.

And it is beneficial for AMD to optimize the way for Intel Core

[2017-04-21 20:34] wxchan commented on #441
can you share your data? is there missing value (NaN) in your data?

[2017-04-21 20:44] travisbrady commented on #441
@wxchan There are missing values (represented as NaN) in the features. Could that be the issue?
Or do you mean NaN's in the predictions themselves?

I'll see if I can share my data, may not be possible unfortunately.

[2017-04-21 21:00] wxchan commented on #441
ok, you don't need to. I think it's caused by missing values, it's discussed in #437 .

[2017-04-22 00:30] guolinke commented on #441
@travisbrady
Can you try the latest code? I think I have fixed this in the latest code.

[2017-04-22 00:30] #441 closed

[2017-04-22 00:35] #431 closed

[2017-04-22 00:49] travisbrady commented on #441
Thanks, @guolinke.
They're much closer now though not quite identical. Floating point issue maybe?

[code]

[2017-04-22 00:58] guolinke commented on #441
@travisbrady it is strange. Can you replace nan by yourself, and see what happen ?

[2017-04-22 01:32] travisbrady commented on #441
Absolutely. What should I replace nan with? Is there some other missing value placeholder?

[2017-04-22 01:34] guolinke commented on #441
use ```0``` .

[2017-04-22 06:18] melwinjose1991 opened #442 "[R] MultiClass Training"
Trying to train LGBM for a multiclass dataset. The below is the function
[code]

Getting the following Error:
[code]

How ltrain, lval and ltest are created
[code]

[2017-04-22 06:25] guolinke commented on #442
I think ```lgb.train``` doesn't have ```num_class``` parameter.
you should set it in the ```lxgb_params ``` .

[2017-04-22 06:27] melwinjose1991 commented on #442
tried that as well, same error

[2017-04-22 06:34] guolinke commented on #442
sorry. I thought it was in python package.
@Laurae2 any idea about this ?

[2017-04-22 07:17] huanzhang12 commented on #439
@tt83 Thanks so much for testing the GPU code on MSVC! I was never able to test the code on MSVC and your feedback is very valuable.

2, 3 and 4 can be easily fixed. I have create a PR to fix these glitches. Could you please test the PR #443 and see if it eliminates all the warnings in MSVC?

The reason I put the GPU kernels as string literals is to avoid xxd. I used to use xxd for converting Open

[2017-04-22 08:00] henry0312 commented on #431
@Laurae2 Thank you for your explaining. It seems that I misunderstood some of optimization of gcc.
Howerver, I don't think it is the best to use `-march=core2` for AMD Ryzen (for instance), therefore I believe users who need some optimations should choose the best way depending on thier situations.

[2017-04-22 09:40] Soledad89 opened #445 "Fatal Error: Tree model string format error"
Has anybody encountered this error:
Met Exceptions:
Tree model string format error

I found that the model (LightGBM_model.txt) I have trained contains some codes as below:

num_leaves=1
split_feature=
split_gain=
threshold=
decision_type=
left_child=
right_child=
leaf_parent=-1
leaf_value=0
leaf_count=0
internal_value=
internal_count=
shrinkage=1

That's the bad boy. How to solve this kind of pro

[2017-04-22 09:43] guolinke commented on #445
How do you train this model? python/R or cli?
can you paste the full model file?

[2017-04-22 10:10] Laurae2 commented on #442
@melwinjose1991 Without a reproducible example, will be difficult to troubleshoot this as I cannot reproduce it. Make sure you are using `lgb.unloader(wipe = TRUE)` to wipe LightGBM (and all its objects) from R before creating your matrices, it is a mandatory step if you messed up a training just before.

This demo works:

[code]

Result (works even if using `dtest <- lgb.Dataset(data = test[, 1:4

[2017-04-22 10:26] Laurae2 commented on #431
@henry0312 `-march=core2 -mtune=native` for \<your CPU> microarchitecture (like AMD Ryzen) automatically tunes for \<your CPU> microarchitecture (like AMD Ryzen) while keeping compatibility to any CPU satisfying the minimal requirements of Core 2 microarchitecture (which literally means nearly every CPU from 2011, i.e from Core 2 for Intel and Bobcat for AMD).

If you run LightGBM on \<your CPU> m

[2017-04-22 13:06] starrynight79 opened #446 "Installation of CMake&MinGW is slow than Visual Studio"
I tried the two method of installaion on my computer (6core,3.6Ghz). trainning and predicting with the same datasets(one million samples and 150 features). two method have different CPU occupancy. the detail info as follow:

CMake+MinGW:
trainning cost 560 seconds (CPU occupancy is 70%)
testing cost 44 seconds (CPU occupancy is 50%)

Visual Studio:
trainning cost 547 seconds (CPU occupancy is 100%

[2017-04-22 13:11] guolinke commented on #446
Did you use the same ```num_thread``` ?
you can try set it to ```12``` explicitly.

[2017-04-22 13:15] melwinjose1991 commented on #442
@Laurae2 i just restart R studio and it worked. Maybe lgb.unloader() would also have worked.
One last question, how to turn off just the [info] part of the verbose ?

[2017-04-22 13:15] #442 closed

[2017-04-22 13:20] starrynight79 commented on #446
I used python in windows 10. In the windows task manager,I saw 12 logic processor are used in two method of installation, the difference is every logic processor occupancy is less than 70% in CMake&MinGW installation mode, but every logic processor occupancy is nearly 100% in VS installation mode.

[2017-04-22 13:23] guolinke commented on #446
OK. I think the reason is the MinGW is not so efficient in windows.

[2017-04-22 13:30] starrynight79 commented on #446
maybe. i just want to know why the two compilation mode have nearly the same efficiency during training，but the big difference during predicting.

[2017-04-22 13:36] guolinke commented on #446
The bottleneck in training is the memory speed. So increasing the ```num_thread``` not always can help.

you also can try to set ```num_thread=6```. maybe VS version is better for the hyper-threading.

[2017-04-22 13:38] starrynight79 commented on #446
it sounds possible, thank you, i try later.

[2017-04-23 02:42] Laurae2 opened #447 "OpenCL Intel Crash + Windows"
## Environment info
Operating System: Windows Server 2012 R2
CPU: Dual Intel Xeon unnamed Ivy Bridge (40 virtual cores)
C++/Python/R version: CLI + MinGW 6.3, happens also with 4.9

## Error Message:

Crash

## Reproducible examples

Debugging example

## Steps to reproduce

Run debugging example

Installed: OpenCL Runtime + Intel OpenCL SDK

Tried: system DLL and Intel OpenCL SDK DLL

## CLI Debu

[2017-04-23 04:18] huanzhang12 commented on #447
The Intel OpenCL runtime complains about the GPU kernel code.
Could you define BOOST_COMPUTE_DEBUG_KERNEL_COMPILATION at the very beginning of `gpu_tree_learner.h`? Then you will get a detailed OpenCL building log.

[2017-04-23 08:22] huanzhang12 commented on #447
@Laurae2 I think this is the problem you encountered (Intel OpenCL does not support "cl-strict-aliasing"):
https://github.com/magnumripper/JohnTheRipper/issues/352
If you can confirm this I will just remove this compilation flag.

[2017-04-23 09:54] huanzhang12 commented on #446
I think the MinGW's OpenMP implementation is probably not as efficient as the VS's one.
When I tested GPU acceleration (compiled with MinGW) on Windows I also found it is slower than on Linux.

[2017-04-23 10:19] Laurae2 commented on #447
@huanzhang12 This might be correct, that flag shows up.

[code]

[2017-04-23 15:24] ebernhardson commented on #324
something like this might also help with cross-validation for ranking. Currently CV doesn't split groups appropriately, but if i could generate folds externally and provide the path to each fold i want to use in train/test that would be a plausible workaround.

[2017-04-23 17:15] Laurae2 commented on #447
I noticed I pasted the wrong log here.. here is the log with the error you described which is the correct one:

[code]

[2017-04-23 17:28] Laurae2 commented on #447
@huanzhang12 Do you recommend when using Intel OpenCL to have a special flag for disabling that specific flag, or not? I removed that compilation flag in `gpu_tree_learner.cpp:578` and now it works perfectly.

(I'll close this issue once your PR proposal for the flag will be merged)

[2017-04-23 23:04] huanzhang12 commented on #447
@Laurae2 In PR #449, I am trying to make the debugging information clearer when such crash happens.
Can you test in on Windows with Intel OpenCL? Ideally it should output something like this:

[code]

Or something like this (depending on the Intel's implementation:

[code]

[2017-04-23 23:16] huanzhang12 commented on #447
For attribute((max_constant_size(65536))) it will just issue a warning, which is fine. It is just a hint for compilers to generate better code. A compiler can safely ignore it.

[2017-04-24 01:42] Soledad89 commented on #445
@guolinke I just run the multiclass_class example with my own datasets, that has 18 classes and 50-dimention feature vector..

# task type, support train and predict
task = train

# boosting type, support gbdt for now, alias: boosting, boost
boosting_type = gbdt

# application type, support following application
# regression , regression task
# binary , binary classification task
# lambdarank , la

[2017-04-24 01:54] chivee commented on #445
@Soledad89 , could you also share your training samples snippet?

[2017-04-24 02:01] Soledad89 commented on #445
@chivee Of course yes.
'''
2	-0.998034765141	-0.997706683756	-0.997314689194	-0.9981045614	-0.997629411465	-0.997813119594	-0.999393269667	-0.999013981692	-0.999197535788	-0.999796847852	-0.973528427146	-0.972987702038	-0.972251760183	-0.986813828764	-0.985929265736	-0.989343602974	-0.999619952868	-0.999139498859	-0.998952794858	-0.999572947562	-0.325514941145	0.153019787298	0.42280849477	0.581581

[2017-04-24 02:14] guolinke commented on #445
@Soledad89 I mean the ```LightGBM_model.txt``` file.

[2017-04-24 02:17] guolinke commented on #445
@Soledad89  BTW, it seems you didn't use the latest code. Can you try the latest code(master branch) ?

[2017-04-24 02:47] #446 closed

[2017-04-24 08:32] huanzhang12 commented on #439
Fixed in PR #443. This issue can be closed now ;)

[2017-04-24 08:35] heroxrq opened #450 "does multi-class model consists of multi binary classifiers?"
I trained a 3-classes model use lightgbm, and found that it cost almost 3 times to predict the same data than a 2-classes model. If the 3-classes model are composed of 3 2-classes models?

[2017-04-24 08:41] #439 closed

[2017-04-24 08:42] guolinke commented on #450
Not exact. But the model size is num_class * num_iteration .

[2017-04-24 09:51] fword opened #453 "does lambdarank predict ndcg on test data?"
now predict only ouput test data scores,does it supports output ndcg on test data?

[2017-04-24 10:30] guolinke commented on #453
NDCG is calculated per query. You need to compute it by yourself.

[2017-04-24 10:30] #453 closed

[2017-04-24 10:30] #450 closed

[2017-04-24 11:35] kmike opened #454 "feature_importances shouldn't take the first boosting iteration in account for regression tasks"
Hey,

In a Python wrapper feature importances are calculated based on all trees in the model dump - see
https://github.com/Microsoft/LightGBM/blob/0eb9921991d21f7a61f5404494bad810811b1209/python-package/lightgbm/basic.py#L1633.

But in case of a regression task the first tree (zeroth boosting iteration) is not relevant - it just produces a constant (a mean), it doesn't matter what feature is used

[2017-04-24 12:53] Soledad89 commented on #445
@guolinke @chivee Great. While, I have tried the latest code and solved the issue. I suppose that it's my fault. The label should start from zero. That's the bad boy. Thanks soooo much for your kind reply.

[2017-04-24 12:54] #445 closed

[2017-04-24 12:57] qashqay654 commented on #435
Hi, again.
I've read threads #437 and #437 about difference in val predictions. In my problem I haven't any NaN in data, but still prediction on validation set while training is very different from one I got from predict() function. It doesn't seem to be sum-up error, because sometimes the difference is really huge.
![pred](https://cloud.githubusercontent.com/assets/27771679/25338076/b0680dd0-2906

[2017-04-24 13:09] guolinke commented on #441
@travisbrady any updates ?

[2017-04-24 13:17] guolinke commented on #435
@qashqay654
did you use any categorical features ?

[2017-04-24 13:18] guolinke commented on #435
@wxchan can you also help for this issue ? maybe something wrong in python-package.

[2017-04-24 13:19] qashqay654 commented on #435
@guolinke  No, only continuous ones.

[2017-04-24 13:21] qashqay654 commented on #435
@guolinke also, I coded my own saved model parser and see the same result.

[2017-04-24 13:23] guolinke commented on #435
@qashqay654
OK.
I need more details.
1. application,  binary classification  / multi-class or ?
2. The prediction on all iterations have same issue ? or only when iterations is large ?
3. can you try set num_thread=1 ?
4. it will be better if you can provide the outputted model file.

[2017-04-24 13:28] Laurae2 commented on #447
@huanzhang12 Currently I can't test anymore Intel + OpenCL, it seems it crashed my server overnight while doing test runs (I have to reinstall the OS from scratch as it can't boot anymore).

Related to #431, except in my case I cannot boot anymore after the crash.

[2017-04-24 13:30] travisbrady commented on #441
@guolinke Apologies. Haven't had the chance yet, checking momentarily.

[2017-04-24 13:31] Laurae2 commented on #446
@huanzhang12 In MinGW it seems to be approximately 2% slower than MSVC.

For CPU + OpenCL + MinGW, it seems to be about 50% slower than pure CPU, which is not bad for OpenCL code. Also, accuracy is better than pure CPU for low depth models.

[2017-04-24 13:32] Laurae2 commented on #329
@guolinke You can close this issue.

[2017-04-24 13:32] #329 closed

[2017-04-24 13:57] Laurae2 commented on #431
I can confirm this is not related to `-march` nor `-mtune` arguments, as I did encounter that crash myself on #448, but using OpenCL, with only `-O2`.

[2017-04-24 14:02] qashqay654 commented on #435
1. it's a regression problem with dart boosting
2. same on 10 and 1000 iterations
3. I've just fitted 10 iterations on 1 CPU, but the problem persists
4. sorry, I can not publicly upload model

[2017-04-24 14:04] guolinke commented on #435
@qashqay654 Can you try the ```gbdt```, not ```dart``` ?

[2017-04-24 14:12] nnormandin opened #455 "Multi-class R demo does not run (api error)"
When trying to use the lightGBM R-package for some work I encountered the error "Number of classes should be specified and greater than 1 for multiclass training." I confirmed that my factor labels were converted to numeric and started at 0, but the error still occurred. I ran the exact code from the demo [here](https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/multiclass.R), and re

[2017-04-24 14:14] guolinke commented on #431
@Laurae2
It is weird, the https://github.com/Microsoft/LightGBM/commit/66b7f03238387951e6a0ba3060353ae098691fbc didn't have much changes.
Did you run in ubuntu as well ?  the same error ?

[2017-04-24 14:21] Laurae2 commented on #431
Virtualized Ubuntu 16.04 (baremetal host = Ubuntu 16.04), same error but different CPU. It happened only once and I had to fully wipe my server to get back control over it (it would not boot anymore).

Note: it crashed both the virtual machine + the host at the same time, not only the virtual machine. I noticed 40 threads with a large maximum number of leaves can result in awfully slow computer on

[2017-04-24 14:24] nnormandin commented on #455
I started up a parallel R session and am unable to reproduce the error, even after loading the same packages. I cleared the environment on the session producing the error and it continues to occur. Closing issue due to inability to reproduce.

[2017-04-24 14:24] #455 closed

[2017-04-24 14:25] Laurae2 commented on #455
@nnormandin use `lgb.unloader` to fix this. If you try to train a model with wrong/unexpected inputs, it will always error until you unload and restart the package.

[2017-04-24 14:26] guolinke commented on #431
@Laurae2
I think it is some kind of system error. Not sure why it happens.

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1596866

[2017-04-24 14:30] henry0312 commented on #431
Unfortunately, the same error happened a day ago, and thus `march=core2 mtune=native` are not related to this issue.
However, the problem haven't happend since I disabled [Intel® Turbo Boost Max Technology 3.0](http://www.intel.com/content/www/us/en/architecture-and-technology/turbo-boost/turbo-boost-max-technology.html), which is suppored from Ubuntu 17.04 (with Linux kernel 4.10).
(cf. https://w

[2017-04-24 14:31] henry0312 commented on #431
However, in my environment, I confirmed that this problem happend on Ubuntu 17.04 with Intel Turbo Boost Max Technology 3.0 😢

[2017-04-24 14:31] qashqay654 commented on #435
Tried gbdt on 1 CPU with the same result
![pred10_1cpu](https://cloud.githubusercontent.com/assets/27771679/25342185/e259bf02-2913-11e7-9a19-51c1f7462259.png)

[2017-04-24 14:34] Laurae2 commented on #435
@qashqay654 Can you provide a reproducible example using a demo example for the last issue you have?

[2017-04-24 14:44] qashqay654 commented on #435
@Laurae2 I can't face with that problem on example dataset. Datasets in ./examples/regression/regression.test gives completely correct predictions on my params

[2017-04-24 14:50] guolinke commented on #435
@qashqay654
Not use any init_predictor / init_score ?

[2017-04-24 14:52] qashqay654 commented on #435
@guolinke no, I'm just using code from simple_example.py with my own dataset.

[2017-04-24 15:17] travisbrady commented on #441
Ok, I did fillna(0) with pandas and got the expected result:
[code]

[2017-04-24 15:26] guolinke commented on #441
ok. it seems fill 0 is working.
@wxchan I have filled nan to 0 in c_api on this commit : https://github.com/Microsoft/LightGBM/commit/60c77487c15a69c9451be80fa9b15e987559a995  .
Why the pandas still need to fill 0 ?

@travisbrady Did you have any NaN labels ?

[2017-04-24 15:31] guolinke commented on #435
@qashqay654 still cannot figure out why.
can you provide a sampled/transformed data (not including the sensitive information), that can reproduce this problem ?
Tough you said your data don't contain NaN, can you also try fill NaN by zero (include the labels) explicitly?

[2017-04-24 16:29] travisbrady commented on #441
No, all labels are 0 or 1.
[code]

[2017-04-24 16:36] nnormandin commented on #455
@Laurae2 ahhhh thanks! rookie mistake on my part.

[2017-04-24 17:21] qashqay654 commented on #435
@guolinke I've fitted only one tree and tried to find points where predictions differ. So there is only one split where I see the problem. It has a threshold equals to -12943187 and has two leafs as a children. The value of the feature in these points equals to 0.0, so `prediction()` function works correctly and returns the result of the right leaf. But prediction from `feval()` returns the result

[2017-04-24 18:29] huanzhang12 commented on #447
Sorry to know that OpenCL crashed your system... Ideally OpenCL is an user-mode thing; even if the program is buggy (access violations, etc), it will be terminated; the system should not be affected. It seems the Intel OpenCL is a little bit buggy and not as stable as AMD and Nvidia ones.

[2017-04-24 22:50] Laurae2 commented on #447
@huanzhang12 This is the last run I could do (according to my logs) on that system before it crashed:

* depth = 3
* leaves = 7

It could run without depth limit. But with depth limit it seemed it didn't like and crashed..

`C:\Windows\SYSTEM32\intelopencl64.dll` caused the machine to crash, which caused a critical error on the host kernel crashing the whole machine (watchdog thread lock).

By the

[2017-04-25 00:28] guolinke commented on #435
@qashqay654
are the values of this feature all zeros?
Can you give me the unique value of this feature?

[2017-04-25 02:57] huanzhang12 commented on #447
`num_threads` still applies to the CPU part of workload. But there is no way to control how many GPU cores are used.
How large is your dataset? Are you experiencing the same crash on Linux (or GPUs from other vendors on Windows) with this parameter setting?
Probably some bug in the Intel OpenCL driver is triggered...

[2017-04-25 04:04] guolinke commented on #447
I met the same problem.
I run the GPU code in the Intel GPU. And it just freeze.

log:
[code]

[2017-04-25 04:29] guolinke commented on #389
Add MSVC build guide on https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#windows-2  .

[2017-04-25 08:56] gugatr0n1c commented on #438
There is new tutorial for visual studio, I tried it and it work like charm. So I am closing this.

[2017-04-25 08:56] #438 closed

[2017-04-25 08:57] gugatr0n1c commented on #438
Btw instalation of intel SDK did not help.

[2017-04-25 09:09] gugatr0n1c opened #456 "[GPU] gpu load only on 26 percent"
I successfully compile gpu version on win10.
Machine:

![image](https://cloud.githubusercontent.com/assets/17110787/25377115/e6474484-29a6-11e7-8cb7-bf832183609b.png)

Bellow is speed and accuracy comparision (private datasets, regression task, 500k x 400x size of matrix).

![image](https://cloud.githubusercontent.com/assets/17110787/25377171/144abe4c-29a7-11e7-8038-aed3c389b8a6.png)

And as you c

[2017-04-25 09:20] huanzhang12 commented on #447
@guolinke Unfortunately I don't have any Windows machines with Intel GPUs to reproduce and investigate this bug. But I think we can try the following way:
- add some debugging printf's in the CPU code and see where it get stalled. I think this line is most possible: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/gpu_tree_learner.cpp#L197
- If it stalls at that line, there are tw

[2017-04-25 09:41] qashqay654 commented on #435
@guolinke There are 130 thousand of unique values in this feature. Values are in the range from -1.3238272e+09 to 1.1378418e+09. Do you need to see them all?

[2017-04-25 09:56] Laurae2 commented on #456
I think it's because your your dataset is "too small" for the power of your GPU, hence not scaling well.

I noticed this behavior on my AMD GPU on very small datasets.

[2017-04-25 12:58] Laurae2 commented on #447
@huanzhang12 I am using Bosch dataset, 1M observations, approx 1K sparse features.

@guolinke You can do a small hack the compute module to make it always print the debug because it sometimes crashes but compilation is not error-ing (thus no print):

https://github.com/boostorg/compute/blob/6de7f6448796f67958dde8de4569fb1ae649ee91/include/boost/compute/program.hpp#L257-L268

From there you will be

[2017-04-25 13:01] Laurae2 commented on #389
@guolinke great! Now, the last is Mac to do.

perhaps you can add a call for contribution for docs on this.

[2017-04-25 13:17] guolinke commented on #389
@Laurae2 Did we solve the gpu build for R ?

[2017-04-25 13:23] Laurae2 commented on #389
@guolinke GPU build works for R in Windows and in Linux as they work nearly identically in R (just feed 4 extra variables in `Makeconf` + modify `Makevars` + add `gpu_tree_learner` in include), it is the safest way due to how R is confining its own environment variables).

Linux got freedom to use the default compiler which may be common for CLI / Python, in Windows it is mandatory to use Rtools'

[2017-04-25 14:03] guolinke commented on #435
@qashqay654  can you try the ```test``` branch? only train one tree, then give me the log and the split point at tree model ?

[2017-04-25 14:05] gugatr0n1c commented on #456
@Laurae2 yes, this make sence, ok thx, closing this

[2017-04-25 14:05] #456 closed

[2017-04-25 14:11] guolinke commented on #390
@wxchan
can you help to fix this in python package ? we should sample based on group_id. The data in the same group should all be sampled, or all not be sampled.

[2017-04-25 15:29] qashqay654 commented on #435
@guolinke I think, I know, how you can repeat that problem. I'm using rather big datasets (10 million rows X 500 columns). But when I reduce dataset to 1000 rows X 10 columns, everything seems fine. So I've made simple code with random data, that gives described problem. Maybe that will help.

[code]

[2017-04-25 15:31] guolinke commented on #435
@qashqay654 this code can reproduce the problem?

[2017-04-25 15:34] qashqay654 commented on #435
@guolinke yes, I see a lot of incorrectly predicted nodes.

[2017-04-25 17:08] wxchan commented on #390
@guolinke do you mean something like http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GroupKFold.html

[2017-04-25 20:55] txjmb opened #458 "Build issue with GPU on Ubuntu 16.04"
I tried rebuilding today to get the latest updates with GPU support following the GPU tutorial, and I get this error when running `make -j$(nproc)`:

[code]
I have tried a couple of recommended fixes for similar errors, but have been unable to resolve this yet.  I am on Ubuntu 16.04.

Please let me know if you need any further information.

[2017-04-25 21:24] Laurae2 commented on #458
The solution to your problem is in the error message:

* You have the boost filesystem library compiled with absolute addresses, so it is suitable for programs, not libraries
* It tells you to recompile the boost filesystem library with `-fPIC`, because the compiler can learn by itself how to translate absolute addresses in relative addresses (it is suitable for programs, not libraries)

When comp

[2017-04-25 21:26] qashqay654 commented on #435
@guolinke interesting point: this bug occurs only in v2. Branch v1 works well.

[2017-04-25 22:40] txjmb commented on #458
Thank you.  The boost library I am using is the default that installs with the Ubuntu package manager.  I will custom compile it per your suggestion.  I do think that there is value to the project in understanding what issues users might have compiling on different platforms with the default packages, however.  At least we can update the documentation for particular default platform issues.

[2017-04-26 01:33] #435 closed

[2017-04-26 01:34] guolinke commented on #435
@qashqay654
fixed, the reason is a typo ....

[2017-04-26 01:35] guolinke commented on #390
@wxchan yea, exactly.

[2017-04-26 01:37] guolinke commented on #405
@dvarkiac any updates ?

[2017-04-26 03:48] guolinke opened #460 "OpenMP seems very slow in AMD CPU."
The speed of multi-threading is even slower than the single thread .

[2017-04-26 03:49] huanzhang12 commented on #458
This problem is introduced by commit fb96b71.
@txjmb No, you don't need to recompile boost. The library installed by Ubuntu works. Just comment out the line `set(Boost_USE_STATIC_LIBS ON)` in CMakeList.txt, `rm -rf build` and rebuild

[2017-04-26 03:50] huanzhang12 commented on #458
@guolinke I think we don't want static libs on Linux, which can cause compilation troubles like this one. Maybe we just add `set(Boost_USE_STATIC_LIBS ON)` for Windows?

[2017-04-26 03:52] guolinke commented on #458
@huanzhang12  okay.

[2017-04-26 03:55] huanzhang12 commented on #460
What CPU and how many threads you were running? In my experience if there are many (over 20?) threads the speed up will not be great.

[2017-04-26 04:00] guolinke commented on #460
@huanzhang12
Azure A7 machine, windows system. number of threads is the default setting.

[2017-04-26 04:02] huanzhang12 commented on #447
@Laurae2 It seems in the log of @guolinke the GPU kernels have already successfully built. And it says "started training", so it is probably not a compilation issue. The warnings are about

For the bosch dataset, do you set `sparse_threshold=1.0`? The full dataset will take about 1 GB GPU memory. How much memory does the run log `xxx dense feature groups (xxx MB) transfered to GPU` say? Probably I

[2017-04-26 04:14] huanzhang12 commented on #460
So the same VM with Linux is fine?

[2017-04-26 08:01] xwzy opened #461 "numpy do not have 'RandomState'"
## Environment info
Operating System: ubuntu 14.04
CPU: intel i7 6700k
C++/Python/R version: python 2.7, numpy '1.12.1'.

## Error Message:
AttributeError                            Traceback (most recent call last)
<ipython-input-8-d225843b7ab1> in <module>()
      2                 lgb_train,
      3                 num_boost_round=500,
----> 4                 nfold=5)

/home/ubuntu/anaconda2/li

[2017-04-26 08:04] wxchan commented on #461
it's already fixed, try latest version

[2017-04-26 08:26] xwzy commented on #461
Thank you.
After I update the python package, cv is good to use, however I can not use lgb.train.

[LightGBM] [Info] Number of positive: 74565, number of negative: 2925057
[LightGBM] [Info] Total Bins 1906
[LightGBM] [Info] Number of data: 2999622, number of used features: 22
[LightGBM] [Info] Trained a tree with leaves=64 and max_depth=12
[1]     valid_0's binary_logloss: 0.683625      valid_0's

[2017-04-26 08:31] wxchan commented on #461
you may provide segfault log, or a reproducible example

[2017-04-26 08:39] xwzy commented on #461
Could you tell me how to get segfault log when using python?

[2017-04-26 09:16] xwzy commented on #461
I still can't figure out how to get log,  here is the code without traning set.
[code]

[2017-04-26 09:22] wxchan commented on #461
it varies on different systems, you might search it on google

your code seems pretty normal, do you recompile c++ version after update latest codes? are you using cpu or gpu?

[2017-04-26 09:26] xwzy commented on #461
I did this to update.
[code]
I am using cpu now, and I have used `git reset --hard 6ed335d` to get back to old version which is able to use lgb.train. (and can not use cv)
 :(

[2017-04-26 10:15] kmike opened #462 "python-package: booster_.dump_model segfaults"
## Environment info
Operating System: macOS 10.12.4
CPU: 1,7 GHz Intel Core i7
C++/Python/R version: gcc-6 (Homebrew GCC 6.3.0_1 --without-multilib) 6.3.0, Python 3.5.2, Python 3.6.1

## Error Message:

No error message, process dies.

## Reproducible examples

[code]

`clf.booster_.dump_model()` is used for feature importances computation, so accessing `clf.feature_importances_` also makes the pr

[2017-04-26 10:39] Laurae2 opened #463 "[WIP]Create v2 release to guide users to a stable "checkpoint" on v2?"
@guolinke We could create a release as v2 using Microsoft/LightGBM@b6c973a, and the current version we would work on would be 2.1 (or v3?) on master branch. GPU support still need testing and b6c973a (and before) was heavily tested by new kagglers (without raising any big issues).

v2 contains mostly:

* your large v2 PR
* Shrinkage per tree
* Boost from average for regression
* Feature Importance

[2017-04-26 10:48] guolinke commented on #461
@xwzy is the ```6ed335d ``` the newest version that your code can work ?

[2017-04-26 10:49] guolinke commented on #463
sounds good. I will create a new release.

[2017-04-26 10:57] wxchan commented on #462
one error log:
[code]

[2017-04-26 10:58] guolinke commented on #463
just create the new branch ```v2.0```. We need to add some fixes on that branch:

To-do:
https://github.com/Microsoft/LightGBM/commit/bcb9613ec38220cc894a28e7161b8ec8b3b96aa3
https://github.com/Microsoft/LightGBM/commit/001fe53694c82b711466e9dfb00fb15c1d051798
https://github.com/Microsoft/LightGBM/commit/05f4a26aed5cb7eecfd5a48abbfdc690da579619
https://github.com/Microsoft/LightGBM/commit/60c77487

[2017-04-26 11:01] guolinke commented on #462
@wxchan
can you go more deeper?
It seems something wrong in ```NodeToJSON``` .

[2017-04-26 11:15] guolinke commented on #463
@Laurae2 I had merged these specific fixes.
any other fixes are necessary ?

[2017-04-26 11:19] xwzy commented on #461
I am not sure because it is the only version I had before.

[2017-04-26 11:21] Laurae2 commented on #463
I don't think we have any other fixes to add.

Perhaps @wxchan knows if he has other fixes for Python to add.

[2017-04-26 11:21] wxchan commented on #462
@guolinke can you reproduce this error on your computer? it seems a bug on Mac

[2017-04-26 11:30] guolinke commented on #463
ok. paste the commit hash here if you think the fix is need.
@Laurae2 can you also help the test of v2.0 branch ?

[2017-04-26 11:32] guolinke commented on #462
@wxchan
[code]

[2017-04-26 11:38] guolinke commented on #461
@xwzy can you try the branch ```v2.0``` ?

[2017-04-26 11:40] wxchan commented on #462
are these the same error?

the former looks like this: https://discussions.apple.com/thread/3479591

[2017-04-26 11:43] guolinke commented on #462
@wxchan I think the reason is the calling stack of NodeToJson is too deep.
So the va_list(used for the __vfprintf) is corrupted.

[2017-04-26 12:02] xwzy commented on #461
Yes, I cloned the branch v2.0 and it crashed like before.

[2017-04-26 12:04] guolinke commented on #461
@xwzy Thanks.
1. Can you construct a re-produce code by random data ?
2. can you try to not use categorical feature?

[2017-04-26 12:06] guolinke commented on #460
@huanzhang12 I cannot test that due to I don't have permission to change OS on these VMs.
But I think it could be the problem in windows.

[2017-04-26 12:07] xwzy commented on #461
Not using categorical feature still leads to Segmentation fault.
I will try random data.

[2017-04-26 12:22] xwzy commented on #461
It works with the same size and format random data.
The only difference I can guess is the pandas Dataframe has int or str column name.

[2017-04-26 12:24] guolinke commented on #461
@xwzy from your log, the crash is after the training start(already finish data loading), right? So I think the ```column name``` isn't the reason.

[2017-04-26 12:26] guolinke commented on #461
@wxchan can you help for @xwzy to output some debug logs ?

[2017-04-26 12:26] xwzy commented on #461
Yes, random data works fine with column name and categorical feature.

[2017-04-26 12:30] wxchan commented on #461
@guolinke I can't reproduce same error.

@xwzy can you try c++ version with your data to see if the error happens in c++ or python?

[2017-04-26 12:30] guolinke commented on #455
@Laurae2 should we add this into document?

[2017-04-26 12:33] xwzy commented on #461
I can get a `core dumped` file, and I can't find useful info.
[code]
I am going to try c++.

[2017-04-26 12:36] guolinke commented on #461
@xwzy ok, you can build the lightgbm.dll with debug flags.
http://stackoverflow.com/questions/10005982/how-do-you-set-gdb-debug-flag-with-cmake

[2017-04-26 12:37] guolinke commented on #436
@billbargens
any updates ?

[2017-04-26 12:39] guolinke commented on #454
@kmike
the first tree in regression is add a constant for all samples. You can set boost_from_average=false to disable it.

[2017-04-26 12:40] guolinke commented on #458
@txjmb can you try the latest code ?

[2017-04-26 12:44] Laurae2 commented on #463
@guolinke For Python package, I test using Travis with #464 .

We need to revert fd0641b both on master, v1, and v2 branch because R does not have documentation anymore.

[2017-04-26 12:45] Laurae2 commented on #463
Edit: it is commit 0150a1c, not the other one to revert.

[2017-04-26 12:55] xwzy commented on #461
I can't make c++ version work.
Even use the demo.
[code]

[2017-04-26 12:56] kmike commented on #454
I understand that it is a constant and that it can be disabled, the issue is that when the constant is enabled feature importances are not computed correctly. What do you think about changing feature importance computation, so that it doesn't take first iteration in account if boost_from_average is True?

[2017-04-26 13:07] xwzy commented on #461
Ok, I typed wrong cmd,  ../../lightgbm config=train.conf works.
But `data.to_csv('data.train',index=None,column=None,sep=\t'') `can't generate valid input data.
So what is the valid data format?
[code]

[2017-04-26 13:12] xwzy commented on #461
c++ version is also segment fault after 10 iters.

[code]

[2017-04-26 13:19] guolinke commented on #461
@xwzy can you build with debug flag?

[2017-04-26 13:19] guolinke commented on #463
@Laurae2
The Rd file generated by `Roxygen` is gpl license. So we cannot include them ...

[2017-04-26 13:20] xwzy commented on #461
I have built with `cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo <path>`
and set `directory ~/LightGBM/src/`
but it still like above.

[2017-04-26 13:27] guolinke commented on #461
@xwzy can you also try disable bagging ?
@wxchan  Do you know how to get the function name and line in core dump file ?

[2017-04-26 13:27] xwzy commented on #461
I used `gdb -core core`, is it right?

[2017-04-26 13:31] xwzy commented on #461
@guolinke  `bagging frequent  = 0 `works!

[2017-04-26 13:34] xwzy commented on #461
Here is the log.
[code]

[2017-04-26 13:36] guolinke commented on #461
Thanks.
this log is the one enable bagging ?
Which code version ?

[2017-04-26 13:37] xwzy commented on #461
This log is from the newest version of brach v2.0.
And I guess the master branch may have the same prooblem.

[2017-04-26 13:51] guolinke commented on #461
@xwzy I add some debugs check in the branch ```tmp```, can you help to test it ?

[2017-04-26 13:53] xwzy commented on #461
OK

[2017-04-26 14:09] xwzy commented on #461
Error info.
[code]

[2017-04-26 14:20] Laurae2 commented on #463
@guolinke Roxygen is an exception. It cannot contaminate `Rd` generated files, because under GPL, Roxygen is similar to an interpreter, and we feed "data" to translate. Such data is not contaminated by GPL as long as you don't bind to it (our Rd files do not require to bind to roxygen at anytime to be usable) or if the license includes a restrictive addition for that specific task (it doesn't).

T

[2017-04-26 14:29] guolinke commented on #463
@Laurae2
Our legal team let me remove them.
I think we can add the command that generate the documents in the R's ReadME.

[2017-04-26 14:38] guolinke commented on #461
@xwzy just push some additional checks in the ```tmp``` branch.
it seems is very strange error, not easy to debug.
Can you provide a sampling data that can re-produce this error?

[2017-04-26 14:39] txjmb commented on #458
That fixed it.  Thank you!  Outstanding library with outstanding support!  We are seeing very good results.

Michael

[2017-04-26 14:39] #458 closed

[2017-04-26 14:48] xwzy commented on #461
The data is from a competition, and I have extracted some features without names, I hope this will not be banned from the competition.
The data is about 230MB, can I send it to your email?

[2017-04-26 14:51] guolinke commented on #461
@xwzy sure. BTW, the error is caused by the sparse features. So you can sample by features as well.
I just need a data that can reproduce the error.

[2017-04-26 15:04] xwzy commented on #461
I have sent you an email with train data, to reproduce it, just copy the same data as test and put them in example/binary_classification/

[2017-04-26 15:31] #461 closed

[2017-04-26 15:33] guolinke commented on #461
@xwzy Thanks! have fixed. try the master branch.

[2017-04-26 22:13] Laurae2 commented on #447
@huanzhang12 I remember only it was taking about 200 MB, using 255 max_bin. The data is 90%+ sparse. I could train with 4k+ leaves without any issue.

[2017-04-27 00:33] #462 closed

[2017-04-27 00:33] guolinke commented on #454
ok. I will fix it.

[2017-04-27 00:40] #454 closed

[2017-04-27 02:43] guolinke opened #466 "[Feature] Faster prediction by converting tree model into code"
1. convert tree models into many ```if ... else ... ``` codes.
2. multi-threading for tree models. So it is still very fast for prediction of one instance.

[2017-04-27 04:10] hyy1101 opened #467 "but /Users/hyy/Library/Python/2.7/lib/python/site-packages is being added to sys.path"
when i do this:
`cd /Users/hyy/Downloads/LightGBM-master/python-package` and  `python setup.py install`

it will show me :
[code]

**how should I do, thank you!**

[2017-04-27 04:11] guolinke commented on #467
@hyy1101
you should build the lightgbm binaries first.

[2017-04-27 04:13] guolinke commented on #463
@wxchan @henry0312
Do you have another commits that want to add into 2.0 release ?

[2017-04-27 04:15] hyy1101 commented on #467
how to  build the lightgbm binaries?

[2017-04-27 04:16] guolinke commented on #467
https://github.com/Microsoft/LightGBM/tree/master/python-package#installation

[2017-04-27 04:40] henry0312 commented on #463
@guolinke Is https://github.com/Microsoft/LightGBM/pull/457 included?

[2017-04-27 05:20] wxchan commented on #463
I think #465 can be added, it's a bug fix. No else.

[2017-04-27 06:04] xin-jin commented on #405
I am having the same issue. I have the following installed on my system (ubuntu 16.04):
[code]

[2017-04-27 06:08] #467 closed

[2017-04-27 06:16] wxchan commented on #466
what are the possible values of "decision_type"?

[2017-04-27 06:24] guolinke commented on #466
@wxchan only consider 2 types now.

[2017-04-27 07:23] wxchan commented on #466
I wrote some codes like below, it converts dumped trees into c++/java code:
[code]

I made a simple test with java, the result code is as follow, the prediction result is same as inner predict function:
[code]

[2017-04-27 07:25] wxchan commented on #466
@guolinke not understand. Is there any other `decision_type` besides `no_greater`?

[2017-04-27 07:27] wxchan commented on #466
I chose java mainly because it can be used by hadoop or spark.

[2017-04-27 07:30] guolinke commented on #466
@wxchan
for categorical feature is maybe is ```if (x ==1)``` (decision_type=1) .

I wound like to have cpp and java version. (only few difference).

Some other suggestions:
1. I think it is better to use model file directly, not the model json.
2. Multi-threading support. (put these prediction into function arrary, and use openmp) .

[2017-04-27 07:56] wxchan commented on #466
@guolinke `decision_type=0` means `no_greater`, `decision_type=1` means `is`?

do you mean to write this parser in c++/java or generated codes in c++/java(like what I do now)?

[2017-04-27 07:58] guolinke commented on #466
@wxchan
yes.

use python to generate these code are ok.
I mean generate both cpp and java codes.

[2017-04-27 09:57] anttttti commented on #436
I had the same issue. Sigsegv when training. Checking out 9224a9d fixed the issue.

Strangely this happened in only 1 of 3 Ubuntu 16.04 machines, with all packages updated to current. Only CPU should be different, laptop i7-4810MQ on the sigsegv machine, desktop i7 and xeon on the other two.

[2017-04-27 10:48] kmike commented on #454
Thanks!

However, it seems the issue with Python wrapper is not fixed yet: it computes feature importances from the model dump, without using GBDT::FeatureImportance().

[2017-04-27 10:50] guolinke commented on #454
@kmike Oh, sorry, I forget that.
@wxchan Can you help to fix that in python package? just ignore features with split-gain <= 0.

[2017-04-27 12:00] wxchan commented on #466
The difference between raw_score and normal is sigmoid? Is it saved in model?

[2017-04-27 13:19] kmike commented on #462
Thanks, it works now! 👍

[2017-04-28 03:45] huanzhang12 commented on #405
@xin-jin Based on the log if seems OpenCL headers were found but the library (.so) is missing. However it seems you already have relevant packages installed. My suggestion:

- check if `/usr/lib/x86_64-linux-gnu/libOpenCL.so` exists
- check if `/etc/OpenCL/vendors/nvidia.icd` exists
- clone the repository in a clean folder and retry build
- If still not working, try to install `nvidia-libopencl1-3

[2017-04-28 03:57] xin-jin commented on #405
@huanzhang12 Hi, both libOpenCl.so and nvidia.icd exist, and I also installed nvidia-libopencl1-375 just now. But the same error message appears (build from a clean clone).

[2017-04-28 04:02] xin-jin commented on #405
Wait, it appears that not exactly libOpenCL.so exists:

[code]

[2017-04-28 06:27] huanzhang12 commented on #405
@xin-jin Can you also try to install `nvidia-opencl-dev` along with ` nvidia-libopencl1-375`?

[2017-04-28 06:39] xin-jin commented on #405
@huanzhang12 Doesn't work either ... Same error message.

[2017-04-28 07:39] xin-jin commented on #405
OK, use
`cmake -DOpenCL_LIBRARY=/usr/lib/x86_64-linux-gnu/libOpenCL.so ..
`
seems to pass the check. However, now boost is not found:
[code]

Something like `-DBOOST_LIBRARYDIR=/usr/include/boost` doesn't work.

[2017-04-28 08:17] huanzhang12 commented on #405
Do you have necessary boost libraries (boost_filesystem and boost_system) installed?
Try `apt-get install libboost-system-dev libboost-filesystem-dev`

[2017-04-28 08:32] huanzhang12 commented on #460
It is probably an issue with Azure.

I am currently running some other applications on Azure, and I found that on Azure the performance is not as good as a real machine with a similar configuration (about 2x slower).

I guess the VM host machines are oversold a little bit; but the performance is predictable: I tried three virtual machines across 3 locations, with different CPUs (Intel/AMD), and my

[2017-04-28 11:11] Laurae2 commented on #460
@huanzhang12 Azure is heavily underperforming, even SPECint is 40% slower on Azure for an identical dual CPU setup (dual E5-2667v3, 842 for the original model, 569.6 for Azure).

real:

![image](https://cloud.githubusercontent.com/assets/9083669/25526388/9ec1a234-2c13-11e7-9b82-d913589e09cb.png)

Azure doc:

![image](https://cloud.githubusercontent.com/assets/9083669/25526396/a451010e-2c13-11e7-96

[2017-04-28 11:13] Laurae2 commented on #463
@guolinke any way we can add Rd docs without roxygen if your legal team refuses files from roxygen even when the files created can be MIT licensed?

[2017-04-28 11:31] guolinke commented on #463
@Laurae2
Is there any website that can host the rd files? like the readthedocs ?
So that we can generate separate docs and host them.

[2017-04-28 11:38] Laurae2 commented on #463
@guolinke I am currently creating a website for LightGBM / xgboost for R about that since last week hosted on Google Sites, and will add much more detailed docs there. But if we can use readthedocs it would be better because documentation would be updated in real time with the commits on this repo.

![image](https://cloud.githubusercontent.com/assets/9083669/25527088/38e41042-2c17-11e7-8bde-68eaa7

[2017-04-28 11:44] guolinke commented on #463
@Laurae2 That website is very awesome !

I am not sure how ReadTheDocs work. Get the markdown file from GitHub?

Welcome to update these rich descriptions back to the https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md .

[2017-04-28 11:49] fstonezst opened #470 "There is something wrong with cv()"
params = {
            'objective': 'binary',
            'metric': 'binary_logloss',
            'verbose': -1
        }

evalHis = lgb.cv(params, train, nfold=fold, num_boost_round=num_round,
                     stratified=True, metrics='auc', early_stopping_rounds=earlyStop,
                     verbose_eval=10, seed=0)

Error Message:
==========================================================

[2017-04-28 12:05] wxchan commented on #470
you can remove 'metric' in params for now, I will fix this later

[2017-04-28 12:11] fstonezst commented on #470
I change the metric in my params:
'metric': ['binary_logloss'] :)

[2017-04-28 14:26] GushchinaVarya opened #471 "Problems with metric_freq parameter in Python Package"
Hello,

I tried to use `metric_freq` parameter, but it doesn't work.
Placing `metric_freq` = 10 I expected metric appears in [Output] field every 10th tree but is appears on the every iteration. Could you kindly advise what goes wrong? Thank you

[2017-04-28 14:29] guolinke commented on #471
The ```metric_freq ``` only work for cli version.
For python package, you can set
[code]
in the ```lgb.train``` .

[2017-04-28 14:30] #471 closed

[2017-04-28 14:49] GushchinaVarya commented on #471
Thank you!

[2017-04-28 20:38] xin-jin commented on #405
@huanzhang12 I have installed libboost-all-dev which includes both system and filesystem.

[2017-04-28 21:44] AdamsMi opened #473 "Problem with OpenMP when installing on Mac OS."
## Environment info
Operating System: El Capitan 10.11.6
CPU: 1,3 GHz Intel Core i5

## Error Message:
CMake Error at /usr/local/Cellar/cmake/3.4.3/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:148 (message):
  Could NOT find OpenMP (missing: OpenMP_CXX_FLAGS)
Call Stack (most recent call first):
  /usr/local/Cellar/cmake/3.4.3/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:388

[2017-04-28 21:46] Laurae2 commented on #473
Use gcc-5 and not gcc-6 and it should compile.

You should get something like [this](https://github.com/Microsoft/LightGBM/issues/421#issuecomment-295331469):

[code]

[2017-04-28 21:48] AdamsMi commented on #473
I run this command and got: gcc-5 (Homebrew gcc 5.3.0 --without-multilib) 5.3.0.
What should I change during the process to change 6 -> 5?

[2017-04-28 21:54] AdamsMi commented on #473
I've followed the steps from the beginning, and now there is a new problem..
When I run `cmake -DCMAKE_CXX_COMPILER=g++-6 -DCMAKE_C_COMPILER=gcc-6 ..`
(no matter whether I change 6 -> 5 or not ), I got the error:

The CMAKE_C_COMPILER:

    gcc-6

  is not a full path and was not found in the PATH.

  Tell CMake where to find the compiler by setting either the environment
  variable "CC" or the CM

[2017-04-28 21:58] Laurae2 commented on #473
@AdamsMi You need to pass the folder paths to g++ / gcc, and not only `g++-6` and `gcc-6`.

like: `-DCMAKE_CXX_COMPILER=/usr/local/Cellar/gcc@5/5.4.0_1/bin/g++-5 -DCMAKE_C_COMPILER=/usr/local/Cellar/gcc@5/5.4.0_1/bin/gcc-5`

You can pass without the folder paths only if you do have the folder paths in the PATH environment variable.

Like this picture in Windows:

![](https://cloud.githubuserconten

[2017-04-28 22:01] AdamsMi commented on #473
Thanks, I've managed to run this (I think that g++5 and gcc5 where in the PATH), and now I've got a new problem when installing. But that's a progress so thank you very much! :)

[2017-04-28 22:01] Laurae2 commented on #473
You can close this issue and open another issue with the new problem you got :p

[2017-04-28 22:03] #473 closed

[2017-04-28 22:09] AdamsMi opened #474 "Problem running setup.py ('cannot find lightgbm library...')"
Operating System: El Capitan
CPU:
C++/Python/R version:

Hi guys,
I've managed to get through the installation process (had to change g++ and gcc versions in the CMakeList.txt from 6 to 5 - maybe it has an impact here?) and I've been trying to run the setup.py file.

It fails both for python and python3 runs in the same way.

## Error Message:

The error msg for python (python setup.py install) :

[2017-04-29 00:23] yutkin opened #475 "Custom fold partition to cv"
Hello! I'm using Python API and I'm trying to pass my own fold partition to cv. In docs there is an argument for CV function:
[code]
but its description is very scarce. What should return this instance? What type of X it is accepting? etc.

[2017-04-29 00:39] guolinke commented on #474
can you paste the list of file/folder in ```/Users/Michal/L/LightGBM/``` ?

[2017-04-29 00:39] guolinke commented on #475
@wxchan

[2017-04-29 01:51] wxchan commented on #475
@yutkin it should be similar to sklearn.model_selection.Kfold(http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html#sklearn.model_selection.KFold.split), take training features X_train as input and output a generator or iterator of (train_idx, test_idx). I will make the docs more clear later.
Do you think it's better to directly pass a generator or iterator of (train_

[2017-04-29 01:58] fstonezst commented on #475
@yutkin
X is the number of samples.
Returns: a generator of (train_idx, test_idx)

[2017-04-29 05:17] huanzhang12 commented on #405
@xin-jin You can try to set `-DBOOST_LIBRARYDIR=/usr/lib/x86_64-linux-gnu/`
It seems your CMake never searches for `/usr/lib/x86_64-linux-gnu/`, which is weird.

[2017-04-29 05:35] xin-jin commented on #405
@huanzhang12 Thanks. Now cmake goes through. But make is now complaining:

[code]

[2017-04-29 05:43] xin-jin commented on #405
Seems to be a compiler compatibility problem. I manually specify the version of gcc, and now it works.

So in sum, this is what finally works:
`cmake -DUSE_GPU=1 -DOpenCL_LIBRARY=/usr/lib/x86_64-linux-gnu/libOpenCL.so -DBOOST_LIBRARYDIR=/usr/lib/x86_64-linux-gnu/ -DCMAKE_CXX_COMPILER=g++-4.9 ..`

[2017-04-29 11:10] AdamsMi commented on #474
Of course, it is:
CMakeLists.txt README.md      docker         include        src
LICENSE        build          docs           pmml           tests
R-package      compute        examples       python-package windows

[2017-04-29 14:29] kswada opened #477 "api error: cannot open data file -0.5086417"
## Environment info
Operating System:  Windows 10
CPU:
C++/Python/R version:  R x64 3.3.1

I installed by
devtools::install_github("Microsoft/LightGBM", subdir = "R-package")

and I run the scrpits below.
------------------
library(lightgbm)
data(agaricus.train, package='lightgbm')
train <- agaricus.train
dtrain <- lgb.Dataset(train$data, label=train$label)
params <- list(objective="regression", m

[2017-04-29 14:33] guolinke commented on #477
@Laurae2  need the ```lgb.unloader()``` ?

[2017-04-29 14:33] #475 closed

[2017-04-29 14:36] kswada commented on #477
Oh.. Thanks, it works by "lgb.unloader()".

[2017-04-29 14:36] #477 closed

[2017-04-30 07:06] guolinke commented on #474
@AdamsMi
It seems you didn't build the ```lightgbm``` binary and ```lib_lightgbm.so```.

[2017-04-30 07:45] wxchan commented on #466
@guolinke what's your future plan on this feature, after #469 ?

[2017-04-30 07:48] guolinke commented on #466
@wxchan , I think it is good enough of #469 . Do you have any improvement ?

[2017-04-30 08:12] wxchan commented on #466
@guolinke Not really yet. I just wonder how this feature works on bigger datasets like #396 and #435 . Maybe make it support in python-package if it really helps.

[2017-04-30 14:07] guolinke commented on #466
@wxchan
you mean that use python to generate the code ?

Actually, I think it will be better if we can auto replace the code of predict in ```gbdt.cpp```.

[2017-04-30 14:39] wxchan commented on #466
I mean expose it to c_api.

Actually recompile with long hard-coded predict function takes a lot of time on my machine, I don't know if it happens on other machines.

[2017-04-30 14:44] #470 closed

[2017-05-01 10:37] henry0312 commented on #261
I'll go with [nose](http://nose.readthedocs.io/en/latest/index.html)

[2017-05-01 21:58] Laurae2 commented on #460
@guolinke I tested on a AMD Ryzen 7 1800X this morning, and it was way faster than i7-7700K 5.1GHz overclock. This was on Windows + MinGW + Python.

[2017-05-01 21:59] Laurae2 commented on #463
@guolinke I have no idea how to use readthedocs also, I never understood the documentation as it has no clear examples.

It would still be great to have Rd files in the R package, because I know people who are not allowed to use Internet at work when doing data analysis and machine learning for security purposes (Samsung, etc.).

I will put the description in a detailed description markdown file t

[2017-05-02 02:11] guolinke commented on #460
@Laurae2 Thanks very much. It seems the problem is the VM, Not the AMD.

[2017-05-02 02:11] #460 closed

[2017-05-02 04:47] henry0312 opened #481 "[LightGBM] [Fatal] Check failed: bag_data_indices_[bag_data_cnt_ - 1] > bag_data_indices_[bag_data_cnt_]"
When subsample (bagging_fraction) is almost 1.0 and the number of input data is small, the below error will occur.

## Environment info

Operating System: Ubuntu 16.04.2 (4.8.0-49-generic)
CPU:  Intel Core i7-6950X
C++/Python/R version: Python 3.5.3

## Error Message:

[code]

## Reproducible examples

[code]

## Steps to reproduce

1. just run the above script

[2017-05-02 05:46] #481 closed

[2017-05-02 06:38] henry0312 commented on #481
https://github.com/Microsoft/LightGBM/commit/0bf0ec03480a5041309deb35dfa2646c1b5762d2 fixes the issue.
Thank you.

[2017-05-02 08:51] mcschmitz opened #484 "R + Multithreading"
I'm having trouble with multithreading in the R Version, since changing the nthread parameter does not affect the train time at all.

Running the code of the basic walkthrough demo I get:

       User      System verstrichen
       3.93        1.89        7.48

       User      System verstrichen
       5.46        3.40        7.11

       User      System verstrichen
       9.04        5.51

[2017-05-02 09:08] mcschmitz commented on #484
On larger datasets an deeper Trees there is only one working thread too. So it seems that this is no issue of communication between the threads.

[2017-05-03 05:41] guolinke commented on #484
I believe this is kind of build environment issue (openmp).
@Laurae2 Do you know how to check it ?

[2017-05-03 05:59] henry0312 opened #485 "Python documents"
For example, I made python documents from source codes.
Please see https://henry.animeo.jp/lightgbm/index.html (this is a temporary example).
How do you think about it?
I can create a pull requet if you like.

[2017-05-03 06:02] guolinke commented on #485
@henry0312 can this auto update when the interfaces is updated?
if yes, is it based on the comments in py file or the generated docs ?

[2017-05-03 06:09] henry0312 commented on #485
Sure, though if you want **completely** auto update, we need to use git push hock.

It is based on the comments in py file.
I used [Sphinx](http://www.sphinx-doc.org/en/stable/).

[2017-05-03 06:11] guolinke commented on #485
oh great. "henry.animeo.jp" is your own url?
I think we can just host it in the ReadTheDocs.

[2017-05-03 06:21] henry0312 commented on #485
yes, it is.

I don't know ReadTheDcos very much, but ReadTheDocs seems to support Sphinx.
i guess we can also use [GitHub Pages](https://pages.github.com/).

[2017-05-03 06:25] guolinke commented on #485
@henry0312
can github page support sphinx ?

[2017-05-03 06:36] henry0312 commented on #485
Github Pages hosts any html, and Sphinx can build html from rst.
In short,

1. git push to master
2. update docs throw git push hock or something
3. git push to gh-pages

cf. https://daler.github.io/sphinxdoc-test/includeme.html

[2017-05-03 06:37] guolinke commented on #485
@henry0312 ok. that is great.
@Laurae2 I think we can also put R's documents like this.

[2017-05-03 06:41] guolinke commented on #485
@henry0312 just open the github page: https://microsoft.github.io/LightGBM/
It will read the contents in the ```/docs/```

[2017-05-03 06:48] henry0312 commented on #485
ok, I'll try in my fork reopsitory at first.

[2017-05-03 07:11] henry0312 commented on #485
@guolinke How do you think about https://henry0312.github.io/LightGBM/python/ ? 😁

[2017-05-03 07:24] guolinke commented on #485
it looks great.
BTW, can we hidden the method/class starting with ```_``` .

[2017-05-03 07:34] henry0312 commented on #485
I've hidden these methods, I guess...
For example, if you search '_to_graphviz`, nothing is hit.

[2017-05-03 09:43] kmike commented on #463
Would you mind adding fixes related to https://github.com/Microsoft/LightGBM/issues/454 to the 0.2 release? They can be seen as bug fixes for the new "Boost from average for regression" feature.

[2017-05-03 12:28] afrah opened #486 "SuperLU direct solver building fail"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-05-03 12:30] guolinke commented on #486
sorry. What is it ?

[2017-05-03 12:33] afrah commented on #486
I am trying to build the SuperLU_DIST _5.1.3 direct slover from [http://crd-legacy.lbl.gov/~xiaoye/SuperLU/](http://crd-legacy.lbl.gov/~xiaoye/SuperLU/) . I am using ubuntu16.04 with ntel® Core™ i5-3320M CPU @ 2.60GHz × 4 processor. I installed all its dependencies. Running make command gives me the folloing error:
home/afrah/SuperLU_DIST_5.1.3/SRC/libsuperlu_dist.so(pdgstrf.o): In function `pdgst

[2017-05-03 12:45] guolinke commented on #486
@afrah
I have no idea what ``SuperLU``` is, and we didn't test on it.
We recommend you install LightGBM by official guide.

BTW, from your log, it seems the error is nothing to do with LightGBM.

[2017-05-03 12:45] #486 closed

[2017-05-03 12:56] afrah commented on #486
I thought asking here is in public like stack overflow  ... I do not meant you particular ... sorry

[2017-05-03 12:56] afrah commented on #486
I am disappointed with this error

[2017-05-03 13:21] guolinke commented on #486
@afrah
I think you can ask it in the https://github.com/erdc-cm/superlu  .

[2017-05-03 14:53] kmike commented on #485
my 2c: readthedocs is better than github pages at least because it allows to host multiple documentation versions - it is possible to update docs for master without breaking docs for a stable release, and it is possible to get docs for older versions; this is all automatic.

[2017-05-03 17:08] Laurae2 commented on #484
@guolinke just looking at his logs, it is running multithreaded not singlethread. The user time is larger than what a singlethread would be, it means the overhead is too large (just looking at System time shows it's large). But it's because the dataset is too small.

Demo example should peak already with 2 threads.

@mcschmitz If you believe you have a threading issue, can you provide a reproducib

[2017-05-04 02:22] jeremiedb opened #487 "Error in building R-package on Ubuntu"
When installing the R-package on Ubuntu, either using `install_github` or by compiling from source, the following error message is returned:

[code]

May 1st version was working fine. It seems like the bug was introduced in one of the commit since:
1ad85be5c12c48e6f242dc07a02ac1660607c0ec

[2017-05-04 02:27] #487 closed

[2017-05-04 02:50] PayneJoe opened #488 "Any suggestions about prediction for hundreds of millions of instances?"
Hi, I have a task of prediction for 400M instances and a pre-trained model. How can I achieve that as soon as possible with less development cost?

Best regards!

[2017-05-04 02:55] guolinke commented on #488
@PayneJoe try our new feature in PR #469 and  #482 .
It convert the model to the hard code.

you need to do:
1. convert you model to the code by set ```task=convert_model``` and ```input_model``` .
2. re-compile LightGBM.
3. Prediction like the normal prediction task.

if you met any problems,  @wxchan can provide more helps.

[2017-05-04 03:44] henry0312 commented on #485
hum....

I can't decide which to use because I haven't use ReadTheDocs, though GIthub pages seems enough.

@guolinke which would you like to use?

[2017-05-04 03:47] guolinke commented on #485
@henry0312 my only concern is:
it seems need to run Sphinx manually then push html if using github page.

using ReadTheDocs seems can avoid that?

[2017-05-04 03:50] henry0312 commented on #485
According to the http://docs.readthedocs.io/en/latest/getting_started.html, yes.
ReadTheDocs has webhook in Github.

[2017-05-04 03:51] PayneJoe commented on #488
@guolinke, thanks for the reply.

Sorry failed to write it clear, what I wanted to say is how can I deal with these huge FEATURED instances?  The disk cost is relatively expensive(do not need to be like that), especially when feature size is also great,  as the NORMAL PREDICTION TASK is a OFFLINE mode that is done after loading these instances.

I thought I can adopt ONLINE mode, generating featur

[2017-05-04 03:51] guolinke commented on #485
@henry0312 great. So, it seems ReadTheDocs is the best choice for now.

[2017-05-04 03:52] henry0312 commented on #485
However, If we use ReadTheDocs, we may need to create all docs via Sphinx...

[2017-05-04 04:01] guolinke commented on #488
Sorry, I didn't quite got your point.

1. the prediction is Comand Line version LightGBM actually isn't the full offline mode. It uses a pipeline (2 threads, one reads data, one prediction). However, it predicts from file and write the result to the file.

2. you can use these c_api to prediction: https://github.com/Microsoft/LightGBM/blob/master/src/c_api.cpp#L1010-L1025 .

3. python/R version al

[2017-05-04 04:01] henry0312 commented on #485
Okay, I'll try ReadTheDocs.
We should be able to use it because XGBoost also use it 😄

[2017-05-04 04:43] henry0312 commented on #485
@guolinke Please check http://testlightgbm.readthedocs.io/en/latest/ and get "lightgbm" account if you like.

[2017-05-04 04:55] guolinke commented on #485
@henry0312 I just take the name ```lightgbm```.
http://lightgbm.readthedocs.io/en/latest/

[2017-05-04 04:59] henry0312 commented on #485
Okay, I'll create a minimum pull requet.
After merging it, we will improve documetns including styles.

[2017-05-04 05:00] guolinke commented on #485
@henry0312 can you give me your readTheDoc id? I can add you as a maintainer.

[2017-05-04 05:03] henry0312 commented on #485
Thank you! My account is henry0312.

[2017-05-04 06:06] PayneJoe commented on #488
Never mind, thanks all the same. You can leave this issue closed.

[2017-05-04 07:56] #488 closed

[2017-05-04 08:02] mcschmitz commented on #484
Alright so this works:
[code]
I took another, but equivalent, example.
I had trouble doing the benchmark on a lgbDataset. This caused a breakdown of my R Session in R Studio, but it worked in the R console. Handing the data and the labels directly to the lightgbm function worked well.

[2017-05-04 14:07] #474 closed

[2017-05-05 05:06] henry0312 commented on #485
I though these works have finished, but I find there are some problems.
When Read the Docs build the documentation, it needs `lib_lightgbm` (which is also needed in python-package), so building the docs fails...
I'll fix.

[2017-05-05 05:24] guolinke commented on #485
@henry0312 Thanks very much.
Actually, I think we can add more documents into `docs`. And continue to refine the ReadTheDocs

[2017-05-05 05:58] #463 closed

[2017-05-05 06:01] #394 closed

[2017-05-05 06:02] #436 closed

[2017-05-05 06:02] #466 closed

[2017-05-05 06:03] #484 closed

[2017-05-05 06:04] #405 closed

[2017-05-05 06:05] guolinke commented on #351
@chriscramer
I think this problem is fixed.

[2017-05-05 06:05] #351 closed

[2017-05-05 07:48] henry0312 commented on #485
Python api reference, which is built from source files, are published on http://lightgbm.readthedocs.io/en/latest/python/lightgbm.html.

[2017-05-05 07:50] guolinke commented on #485
@wxchan http://lightgbm.readthedocs.io/en/latest/python/lightgbm.html#module-lightgbm.basic
I saw many functions that should not be exposed in ```basic.py```.
e.g.``` lightgbm.basic.C_API_DTYPE_INT64 ```

I think we should change their name to begin with ```_``` .

[2017-05-05 07:52] henry0312 commented on #485
However, theare are still some problems... 😢

[code]

I'll continue to fix these issues.

[2017-05-05 07:56] guolinke commented on #485
@henry0312 It seems miss sklearn.

[2017-05-05 08:00] wxchan commented on #485
can we only expose functions and classes in this list? https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/__init__.py#L26-L30

[2017-05-05 08:08] henry0312 commented on #485
@wxchan I guess we may expose only `__all__` if we can put them into basic,py instead of \_\_init__.py
http://www.sphinx-doc.org/en/stable/ext/autodoc.html

[2017-05-05 08:23] wxchan commented on #485
we only have one module. for example, lightgbm.Dataset, lightgbm.Booster, not lightgbm.basic.Dataset, lightgbm.basic.Booster.

[2017-05-05 08:32] henry0312 commented on #485
I see.
Does we publish exclude lightbm.basic?
We can control what modules are published by editing https://github.com/Microsoft/LightGBM/blob/master/docs/python/lightgbm.rst

[2017-05-05 08:43] henry0312 commented on #485
Okay, all issues have been fixed!
http://lightgbm.readthedocs.io/en/latest/python/lightgbm.html

[2017-05-05 10:46] guolinke commented on #485
@henry0312 can you refine the document according to @wxchan  's suggestions ?

[2017-05-05 11:50] henry0312 commented on #485
yes, I'll check.

[2017-05-05 14:12] chriscramer commented on #351
I've just run about a quarter of my full model (250+ LGBMRegressors) against the latest version of the code and I have not seen a single problem.  I think you've got it fixed.  Thanks!

[2017-05-06 01:05] brucebismarck opened #496 "python import error"
Problem: I followed https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Windows.md this method to install lightgbm in my windows computer (GPU) for python using. All things went well. But when I import it, python reported an OS error.

I found this problem also occurred in xgboost https://github.com/dmlc/xgboost/issues/908. They closed that issue by install python 64bit version. However, my

[2017-05-06 01:13] guolinke commented on #496
@brucebismarck
can you try using msvc build: https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#windows-2
I think you build a 32-bit MinGW version.

[2017-05-06 01:57] brucebismarck commented on #496
Yes, I built with 32-bit MinGW.

I tried to use msvc to build, but  when I run cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DUSE_GPU=1 .. in the command line, it says

C:\Users\bruce\LightGBM\build>cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DUSE_GPU=1 ..
-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:8 (PROJECT):
  No CMAKE_C_COMPILER co

[2017-05-06 01:58] guolinke commented on #496
Did you have visual studio on your windows ?

[2017-05-06 02:09] brucebismarck commented on #496
I do have visual studio, and I will try to build with 64bit MinGW tomorrow. Thanks!

[2017-05-06 21:13] brucebismarck commented on #496
Hi Guolin,

I found my problem is because I am using static version rather than a dynamic version of the library. But not the problem of 32bit or 64bit I guess.

The problem diagnostics is described here.
http://catherineh.github.io/programming/2016/07/07/troubleshooting-windows-dll-imports-in-python

Do you know how to compile it to a dynamic version? Or which step is the most suspicious step mad

[2017-05-06 21:22] Laurae2 commented on #496
@brucebismarck Can you provide the following?:

* run this in a console to get the Python version: `python -V`
* PATH environment variable full content

Which method did you use?

* If MinGW, then you must compile Boost with the identical MinGW used to compile LightGBM
* If Visual Studio, either use precompiled binaries (recommended) or use the identical Visual Studio compiler used to compile Ligh

[2017-05-06 21:32] brucebismarck commented on #496
Sure!

Python 3.5.2 :: Anaconda 4.2.0 (64-bit) (Because I am using keras, so I did not update python to 3.6)
PATH
C:\ProgramData\Oracle\Java\javapath;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\libnvvp;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\NVI

[2017-05-07 06:05] llmercury opened #499 "LightGBM import error"
## Environment info

**Operating System**: Windows 10 Home, 64 bit
**CPU**: Intel i7-7700
**GPU**: GeForce GTX 1070
**C++/Python version**: Microsoft Visual Studio Community 2017/ Python 3.5.2 /Anaconda 4.3.1 (64-bit)

My laptop has 2 hard drives, C: and D:.

I followed the installation instruction at: https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#windows-2

This has GPU support. F

[2017-05-07 06:26] guolinke commented on #499
@llmercury

can you add this line:
```print(lib_path)``` before ```lib = ctypes.cdll.LoadLibrary(lib_path[0])``` in the file ```D:\Program_Files\Anaconda3\envs\py35\lib\site-packages\lightgbm-0.1-py3.5.egg\lightgbm\basic.py``` ?
then run it again ?

[2017-05-07 06:34] llmercury commented on #499
I added print(lib_path) and got:

['D:\\Program_Files\\Anaconda3\\envs\\py35\\lib\\site-packages\\lightgbm-0.1-py3.5.egg\\lightgbm\\lib_lightgbm.dll']

[2017-05-07 06:46] #499 closed

[2017-05-07 06:46] guolinke commented on #499
can you try the latest commit ?

[2017-05-07 06:47] guolinke commented on #496
@brucebismarck can you try latest commit ?

[2017-05-07 06:52] llmercury commented on #499
I used "git clone --recursive https://github.com/Microsoft/LightGBM"
Isn't it the latest version? If not, how to get the latest version?

[2017-05-07 06:53] guolinke commented on #499
@llmercury I just commit a fix for this. So you can re-clone the code.

[2017-05-07 07:20] llmercury commented on #499
I re-cloned it. During building, error happened:

CMake Error in CMakeLists.txt:
  A logical block opening on the line

    D:/PythonModules/LightGBM/CMakeLists.txt:38 (if)

  is not closed.

[2017-05-07 07:33] guolinke commented on #499
@llmercury
sorry, forgot ```endif```.  just push a new fix.

[2017-05-07 07:53] llmercury commented on #499
Awesome. Problem solved! Thank a lot! @guolinke

[2017-05-07 07:59] henry0312 commented on #485
I'm improving Python API docs.
That will have been finished in 2 or 3 hours.

[2017-05-07 21:35] sshleifer commented on #118
Having similar problems:
[code]

Sam error message when run `cmake -DCMAKE_CXX_COMPILER=g++-6 -DCMAKE_C_COMPILER=gcc-6 ..`

[code]

[2017-05-07 23:10] brucebismarck commented on #496
@guolinke  I git cloned it again, but it reported the same error.

File "C:\Users\bruce\Anaconda3\lib\ctypes\__init__.py", line 425, in LoadLibrary
    return self._dlltype(name)
File "C:\Users\bruce\Anaconda3\lib\ctypes\__init__.py", line 347, in __init__
    self._handle = _dlopen(self._name, mode)

[2017-05-08 00:31] guolinke commented on #496
@brucebismarck
can you remove ```C:\Program Files (x86)\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev2\mingw32\bin;`` from your path?

[2017-05-08 00:35] guolinke commented on #118
@sergiubuciumas
it seems you didn't have gcc compiler.
did you follow https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#osx ?

[2017-05-08 01:26] brucebismarck commented on #496
@guolinke  Cool!!!! I made it!!!! Thanks a lot guolin!

[2017-05-08 01:26] #496 closed

[2017-05-08 16:37] spedygiorgio opened #501 "OpenCL with Cuda under Windows"
Hi All, I am following your tutorial to build the R package with MGCVWIN under windows. I have a NVIDA GPU graphics card so I downloaded the Cuda toolkit.
When building the development version of the package the following error raises to me:

[code]
I found the indicated files for OpenCL in the following dirs:

BOOST_INCLUDE_DIR = "C:/boost/boost-build/include"
BOOST_LIBRARY = "C:/boost/boost-buil

[2017-05-08 16:39] Laurae2 commented on #501
Use this for `OpenCL_INCLUDE_DIR`:

`OpenCL_INCLUDE_DIR = "C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v8.0/include"`

Because LightGBM is looking for the folder/file `CL/cl.h`, in your case it was looking for `C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v8.0/include/CL/CL/cl.h` (causing an error as it does not exist).

[2017-05-08 18:28] JesseLimtiaco commented on #432
Solved with pull request: Adding ability to load model from string in R #472

[2017-05-08 18:28] #432 closed

[2017-05-08 19:45] slfan2013 opened #503 "cannot compile Boost properly (Windows 10; R)"
My PATH has two related system paths
`c:\Rtools\bin` and `c:\Rtools\mingw_64\bin`.
I am working on the [Boost Compilation](https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Windows.md#boost-compilation) step.
Instead of
- In command prompt, run `b2 install --prefix="C:\boost\boost-build" toolset=gcc`.

I ran
`b2 install --build_dir="C:\boost\boost-build" --prefix="C:\boost\boost-build" to

[2017-05-09 08:26] spedygiorgio commented on #501
Well, it goes on but it throw the following error:

* installing *source* package 'lightgbm' ...
** libs
c:/Rtools/mingw_64/bin/g++  -std=gnu++11 -I"C:/PROGRA~1/R/R-34~1.0/include" -DNDEBUG -I../..//include -I"C:/boost/boost-build/include" -I"C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v8.0/include" -I../compute/include -DUSE_SOCKET -DUSE_GPU=1    -I"d:/Compiler/gcc-4.9.3/local330/include"

[2017-05-09 14:24] spedygiorgio commented on #501
fixed this steps thanks. By the way I suggest to add some reverences to NVIDIA cuda in the docs.

G

[2017-05-09 14:24] #501 closed

[2017-05-09 14:25] spedygiorgio opened #505 "error when compiling lightgbm + windows gpu (cuda)"
I receive the following errors when compiling:

 installing *source* package 'lightgbm' ...
** libs
c:/Rtools/mingw_64/bin/g++ -shared -s -static-libgcc -o lightgbm.dll tmp.def ./lightgbm-all.o ./lightgbm_R.o -fopenmp -pthread -lws2_32 -liphlpapi -LC:/boost/boost-build/lib -lboost_filesystem -lboost_system -LC:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v8.0/lib/x64 -lOpenCL -Ld:/Compiler/gcc

[2017-05-09 15:29] guolinke commented on #505
can you try the latest commit ?

[2017-05-09 15:29] #485 closed

[2017-05-09 19:58] nxgtr opened #506 "How to stop model snapshots?"
I am aware of many benefits of model snapshots being automatically saved. However, training a 10k iterations model is being problematic for me, as models are being saved every 100 iterations.

This is new, as I have been using LGBM for months and this did not happen.

I checked https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md but I might be missing something.

As title say, how

[2017-05-09 20:02] nxgtr commented on #506
Got it by looking at the code, in src/application/application.cpp at line 234.

You need to document that parameter.

[2017-05-09 20:44] spedygiorgio commented on #505
@guolinke  I will check and tell

[2017-05-09 20:45] spedygiorgio commented on #503
I have the same problem

[2017-05-10 04:56] guolinke commented on #506
you can set ```snapshot_freq=0``` to disable it.

[2017-05-10 04:56] #506 closed

[2017-05-10 04:59] guolinke commented on #503
@Laurae2 can you help for this ?

[2017-05-10 05:00] guolinke commented on #505
@spedygiorgio
updates ?

[2017-05-10 08:53] PayneJoe opened #507 "What does exit code 11 mean?"
HI ,

I just used c_interface LGBM_BoosterPredictForMat to do my prediction task, program exited with code 11 after the code line where calling happened. What does exit code 11 mean? How can I debug about this?

Best regards!

[2017-05-10 11:01] PayneJoe commented on #507
Problem has been solved, as my stack was overflow. So I moved data into heap, safe for now.

[2017-05-10 23:44] sshleifer commented on #118
yes,
[code]

[2017-05-11 01:49] henry0312 commented on #118
No, you need gcc *7.1*.

Run the below:

[code]

[2017-05-11 05:26] #507 closed

[2017-05-11 06:13] jturkewitz opened #508 "Error When Changing Number of Leaves with Callback function"
I get the following error when running on windows 10 with python and trying to use the callbacks to change the number of leaves:
Traceback (most recent call last):

  File "<ipython-input-5-e060c14436ea>", line 53, in <module>
    callbacks=[lgb.reset_parameter(num_leaves=lambda iter: np.random.choice([10,20,30]))])

  File "C:\Users\User\Anaconda3\lib\site-packages\lightgbm-0.1-py3.6.egg\lightgbm

[2017-05-11 18:58] slfan2013 opened #509 "R: parameter name confusion."
There are some parameters that have a different name in R help page (`?lgb.train`) and the [parameter website](https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md).

For example, `nrounds` in `?lgb.train` but `num_iterations` in the website.

[2017-05-12 07:59] guolinke commented on #509
look the note under the parameter ```num_iterations```.

note: For python/R package, cannot use this parameters to control number of iterations.

[2017-05-12 07:59] #509 closed

[2017-05-12 08:01] guolinke commented on #508
@jturkewitz can you check your re-produce code ?
it is very messy .

[2017-05-12 16:21] jturkewitz commented on #508
Hi,
I copied and pasted most of the code from:
https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py
I just moved the files binary.train and binary.test to the directory the code is run from and added the
callbacks=[lgb.reset_parameter(num_leaves=lambda iter: np.random.choice([10,20,30]))])
line at the end. So if you add this line to any dataset it should cras

[2017-05-12 19:50] spedygiorgio commented on #505
it works  thanks!!!

[2017-05-12 19:50] #505 closed

[2017-05-12 20:11] Laurae2 commented on #503
@slfan2013 @spedygiorgio delete your `boost_1_63_0` and `boost-build` folders, and make sure to follow the steps carefully.

This includes:

* Setting the PATH before even starting a command prompt
* Changing folder for the last Boost compilation step so you don't have b2 in the current folder but you are in boost main directory (`C:\boost\boost_1_63_0`)

I tried to check this issue and it works c

[2017-05-13 06:34] #508 closed

[2017-05-13 07:44] Laurae2 commented on #122
@guolinke What is the current state of missing values in LightGBM?:

* For CLI?
* For R?
* For Python?

I've seen commits for it but I'm not sure what belongs to what currently.

[2017-05-13 08:50] guolinke commented on #122
@Laurae2 It just let ``NA==0`` for now.

[2017-05-13 14:55] yutkin commented on #310
There is no paper yet?

[2017-05-13 16:43] Laurae2 commented on #398
(ignore this if subscribed)

random stuff (pictures for PR)

[2017-05-14 06:40] slfan2013 opened #512 "lightgbm not using all the CPU"
When using xgboost, I can see my CPU is almost 100% percent, using the default settings of `nthread`.
However, when using lightgbm, my CPU is only ~30%. I tried using the default of `num_threads` and using `num_threads` equals to the 2*#CPU (I have 8 logical processors and 4 Cores thus `num_threads=8`).

Is there anything wrong?

Since my local PC is slow, I tried the google computing engine with

[2017-05-14 06:43] slfan2013 commented on #503
Thanks @Laurae2
It worked. Maybe a numbered list would be better than a bulleted list for a newbie like me, who rarely use command prompt.

Thank you again.

[2017-05-14 06:47] guolinke commented on #512
@slfan2013 Did you compile with openmp ?

[2017-05-14 06:48] slfan2013 commented on #512
@guolinke I guess not.. what is it?

[2017-05-14 06:49] guolinke commented on #512
It is the basic multi-threading support in LightGBM.
How did you compile it?

[2017-05-14 06:50] slfan2013 commented on #512
I use Windows mostly and sometime use CentOS.
I just ran
`devtools::install_github("Microsoft/LightGBM", subdir = "R-package")` in R.

I thought openmp is only for OSX?

[2017-05-14 06:51] guolinke commented on #512
BTW, can you try use a bigger data? and set ```num_leaves``` to a bigger values ?

[2017-05-14 06:53] slfan2013 commented on #512
I am afraid I don't have a bigger data at hand. I thought 2 million samples is not small. I set `num_leaves=2^5`. Correspondingly, when I use xgboost, I used the same data and `max_depth=5` and xgboost makes my CPU 100% occupied with a 4.2GHz.

[2017-05-14 07:24] guolinke commented on #512
@Laurae2
I found I have the same issue. When I run with R in windows, it only runs by one thread.
My test data is Bosch, 1M * 1K .

[2017-05-14 07:28] Laurae2 commented on #512
@guolinke let me check with my server, I'll come back here in about 10 mins to see what is happening

@slfan2013 LightGBM doesn't scale with many threads, you can check this link for Higgs example: https://public.tableau.com/views/gbt_benchmarks/Master-Data?:showVizHome=no

Click on image to see it better:

![image](https://cloud.githubusercontent.com/assets/9083669/26031995/a3348b1c-3887-11e7-9ea

[2017-05-14 07:31] guolinke commented on #512
@Laurae2 The scale in Higgs is because the number of feature in this data is too small (about 28?) .
The multi-threading in LightGBM is based on feature.

[2017-05-14 07:46] Laurae2 commented on #512
@guolinke Ah, great to know it scales by features and not by rows then.

On Bosch, I am getting 14% CPU usage wth 40 threads, which is expected.

![image](https://cloud.githubusercontent.com/assets/9083669/26032064/2a83ae2a-388a-11e7-91e9-956bee26a654.png)

Tried with both gcc 7.1 (most recent) and gcc 4.9 (default Rtools).

@slfan2013 it is possible for xgboost only if you are using exact method

[2017-05-14 07:50] guolinke commented on #512
@Laurae2 It takes me full cpu (20 Cores) when running by CLI version, using the same dataset.

[2017-05-14 07:54] Laurae2 opened #513 "LightGBM bypassing sink in R"
LightGBM ignores the sink/tee from R, but not for every message (only metric is printed in sink).

[code]

Expected behavior: all messages in the sink file.

![image](https://cloud.githubusercontent.com/assets/9083669/26032121/3be8a002-388b-11e7-88cc-9316c962ca2d.png)

[2017-05-14 07:55] Laurae2 commented on #512
@guolinke Do you have a .conf file so I can try on CLI?

[2017-05-14 07:59] guolinke commented on #512
@Laurae2 just set ```num_leaves=255 app=binary data=bosch.train``` .

BTW, I find another strange thing when running by R:

1. one thread will be almost 100 %, when set num_thread=1
2. when set num_thread=2, it will take 2 threads, but each use about 40%.
3. when set num_thread=4, it will take 4 threads, but each use about 20%.
....

[2017-05-14 08:10] Laurae2 commented on #512
@guolinke

With `../LightGBM/lightgbm num_leaves=255 app=binary data=bosch.data`, on 40 CPUs (20 cores 40 threads):

* 40 threads: 20% CPU
* 20 threads: 13% CPU
* 10 threads: 9% CPU
* 4 threads: 6% CPU (2 cores busy 80%+, 2 other cores 20%+ only according to htop)
* 2 threads: 4% CPU (cores busy 80%+ according to htop)
* 1 thread: 2% CPU (core busy 100% according to htop)

With my workload (`../Li

[2017-05-14 08:14] guolinke commented on #512
My version:
![image](https://cloud.githubusercontent.com/assets/16040950/26032207/4e2b6bc0-38c0-11e7-9754-4fadb27a3b57.png)

BTW I compile it by vs 2013. Your CLI is compiled by mingw ?

[2017-05-14 08:19] Laurae2 commented on #512
CLI compiled using MinGW with gcc 7.1.

Can you run LightGBM CLI (yours compiled with with VS 2013) with these params and return me the time taken on your computer for each run?

* `num_leaves=255 app=binary data=bosch.train num_threads=32 num_iterations=200 learning_rate=0.05`
* `num_leaves=255 app=binary data=bosch.train num_threads=16 num_iterations=200 learning_rate=0.05`

[2017-05-14 08:30] guolinke commented on #512
@Laurae2

32 thread:
[code]
16 thread:
[code]

[2017-05-14 08:58] Laurae2 commented on #512
@guolinke I think it doesn't matter if it uses 100% CPU or 20% CPU, we have approximately the same speed when using all cores.

---

As your CPU runs at 3.3GHz in turbo boost when all cores are used, and mines runs at 2.7GHz (only one generation difference, does not matter much here), if we disregard multithreading overhead:

* You have 52.8GHz raw power (3.3 x 16)
* I have 54GHz raw power (2.7 x

[2017-05-14 09:04] guolinke commented on #512
@slfan2013 did you have the speed-up when num_thread is set to large number ?

@Laurae2 if the speed is comparable, what is problem ? The measure error of GPU ?  But the xgboost with R in slfan2013 can take 100% CPU. (BTW, xgboost also can take 100% in your machine ?)

[2017-05-14 09:28] Laurae2 commented on #512
@guolinke xgboost exact can easily take 100% CPU if data is large enough (does not need that big, but with many cores it needs bigger datasets), the fast histogram xgboost will not take 100% (even if data is 1 billion rows, will not reach 100%). I saturate nearly all my 40 threads with xgboost exact on Bosch:

![image](https://cloud.githubusercontent.com/assets/9083669/26032576/07323b96-3897-11e7-

[2017-05-14 18:22] slfan2013 commented on #512
Hi @Laurae2
I have two machines. One is Windows 10, 4 Cores 32G RAM and one is CentOS 24Cores 100G RAM.
For windows, the lightgbm speed is much faster than xgboost, even CPU is only ~30% being used for lightgbm, while xgboost using 100%.
For centOS, the lightgbm speed is equal with xgboost. Lightgbm also only take ~ 20% of CPU while xgbost takes 80%.

What I worry the most is that the lightgbm in

[2017-05-14 18:27] Laurae2 commented on #512
@slfan2013 24 cores (48 threads) is way too much for 200 observations x 200 features (you should have negative scaling). As you have 100GB RAM, use less threads and parallelize cross-validation. For instance, if you do 6 fold CV, it is better to do:

* Parallelized cross-validation over folds
* 8 threads per fold for training

This would mean the 6 folds are trained at the same time, while each on

[2017-05-14 18:28] slfan2013 commented on #512
Gotcha. Helpful!

[2017-05-15 03:40] heroxrq opened #515 "Does lightgbm now support visualization?"
I trained a lightgbm model, and I want to see the tree graph so as to know how the gbm classify the data. Does lightgbm now support visualization?

[2017-05-15 05:18] guolinke commented on #515
python / R package support plot for trees.

[2017-05-15 05:18] #515 closed

[2017-05-15 06:37] heroxrq opened #517 "AttributeError: 'module' object has no attribute 'create_tree_digraph'"
import lightgbm as lgb
model_file='model.txt'
bst = lgb.Booster(model_file=model_file, silent=True)
lgb.create_tree_digraph(bst, name='tree', format='pdf', engine='dot')

it reports:
AttributeError: 'module' object has no attribute 'create_tree_digraph'

[2017-05-15 08:11] heroxrq commented on #517
update the lightgbm to the latest version and solved the problem.

[2017-05-15 08:11] #517 closed

[2017-05-15 12:29] henry0312 commented on #122
@guolinke I don't think it is good to treat zero values as missing values, because categorical features is often be dummied and represented 0 or 1. The zero doesn't mean missing.

[2017-05-15 13:06] heroxrq opened #518 "LightGBM can not dump, ValueError: Invalid control character"
feature_name contains chinese and some symbols, it cause the LightGBM can not dump!!
However, I have set the defaultencoding --> sys.setdefaultencoding('utf-8')
I don't know why it cannot dump?
---------------------------------------------------------------------------------------------------
<pre><code>
Traceback (most recent call last):
  File "train.py", line 52, in <module>
    model_json = gb

[2017-05-15 13:13] guolinke commented on #122
@henry0312 I thought about that.
1. if dumping to 0/1. the missing value will be in one independent column (1 for missing, 0 for not missing)
2. for other 0/1 columns, the zero bins will only be represented as zero. (if treating zero to one, it will be only one bin, which is pointless.)

[2017-05-15 13:15] guolinke commented on #518
@heroxrq  can you put your code into a code-block ?

[2017-05-15 13:20] heroxrq commented on #518
@guolinke It's ok.

[2017-05-15 13:25] heroxrq commented on #518
didn't support Chinese as feature name?  if I want to plot the tree graph use create_tree_digraph, it call dump function. Is there other way I can do it? replace the name after dump?
<pre><code>
    model = booster.dump_model()
    tree_infos = model['tree_info']
    if 'feature_names' in model:
        feature_names = model['feature_names']
    else:
        feature_names = None

    if tree_inde

[2017-05-15 13:29] guolinke commented on #518
@heroxrq
I think it can work.
The model are dumped by cpp code, so we didn't let it support utf-8 .

[2017-05-15 13:59] henry0312 commented on #122
@guolinke I'm sorry, I don't understand what you mean....

Why does 1 mean missing?
(I think dummy often do one-hot encoding)

To treat zero as zero after #516, do many users have to convert zero values manually so that thier absolute value are greater than 1e-20f?
I wonder if there is an another way to treat missing values (such as NaN)

[2017-05-15 14:18] guolinke commented on #122
@henry0312
For the one-hot coding without missing value, currently solution can work well, since the zero will only be treated as zero.
For the one-hot coding with missing value, we can use an additional column to represent missing or not. still can work.

If you don't have missing values, you can still treat zero as zero, not need to change them. Since the zero still will be also treated as zero

[2017-05-15 14:25] henry0312 commented on #122
@guolinke Thank you so much for your explanation!

I'm glad to know that.

[2017-05-15 14:41] henry0312 commented on #122
@guolinke By the way,

Why will this work well? Is there a so smart algorithm?

[2017-05-15 14:52] guolinke commented on #122
@henry0312
What I mean is, it doesn't have much effect on accuracy if set both missing and zero to zero.
They cannot be identified as different value inside, since they values are same.

[2017-05-15 14:57] henry0312 commented on #122
@guolinke
I got it.
It is an acceptable compromise.

[2017-05-15 15:04] #518 closed

[2017-05-15 18:29] dmiljkovic opened #519 "Python problem on OSX"
Hello,

Python examples are producing Segmentation fault error.

~/LightGBM/examples/python-guide (master)$ python simple_example.py
Load data...
Start training...
Segmentation fault: 11

I can run examples using lightgbm image.
LightGBM/examples/binary_classification (master)$ ../../lightgbm config=train.conf

## Environment info
OSX Siera
g++ (MacPorts gcc47 4.7.4_5) 4.7.4
Python 2.7.12 :: Anaco

[2017-05-15 18:34] frenzykryger opened #520 "DataPartition.Split assertion fails when dataset is built from sparse csr matrix"
## Environment info
Operating System: Linux
CPU: Intel
Python: 3.6
LightGBM version: built from e984b0d6c5f2c321fabf25d4de0a8f765e4a818b with MPI support

lightgbm version: 0.1
numpy version: 1.12.1
scipy version: 0.19.0

## Error Message:
[code]

## Reproducible examples
See attached archive - it contains persisted csr matrix and script which reproduces issue.

[reproducible-example.zip](https://

[2017-05-15 23:51] ledmaster opened #521 "GCC7 Problem: Check failed: offset == num_total_bin at feature_histogram.hpp"
## Environment info
Operating System: macOS Sierra
CPU: i7 2.8Ghz
C++/Python/R version: Anaconda Python 3.5 (inside Jupyter Notebook) and GCC/G++ 7.1.0

## Error Message:

[LightGBM] [Warning] Check failed: offset == num_total_bin at /Users/.../LightGBM/src/treelearner/feature_histogram.hpp, line 484 .

terminate called after throwing an instance of 'std::runtime_error'
  what():  Check failed: of

[2017-05-16 02:22] guolinke commented on #519
@dmiljkovic just try it. Both success in ubuntu/windows. I don't have a mac to test.
Which version did you use? The latest master ?

[2017-05-16 03:39] #520 closed

[2017-05-16 03:45] guolinke commented on #521
@ledmaster it seems the problem is similar to the #519. you cannot run ```advanced_example.py``` successfully ?
For the ``[LightGBM] [Warning] Check failed: offset == num_total_bin``, can you try it on the non-Mac machine ?

[2017-05-16 04:04] dmiljkovic commented on #519
I used latest master version. I was able to install on ubuntu. Having problem running test examples on OSX.
College of mine got same error on his mac.

[2017-05-16 04:07] henry0312 commented on #521
I also can reproduce this issue.

[code]

[2017-05-16 04:09] henry0312 commented on #521
I'll try `git bisect`.

[2017-05-16 04:16] henry0312 commented on #521
@guolinke 1f3c461640fe5a8427aa8b70321fe8b9ac834f84 works fine. There is something wrong with e984b0d6c5f2c321fabf25d4de0a8f765e4a818b.

[2017-05-16 04:23] henry0312 commented on #521
@guolinke here is core dump, https://gist.github.com/henry0312/fab6ab0b6f9e4e7b265f5dd9ccd61507.

[code]

[2017-05-16 04:24] dmiljkovic commented on #519
Produces error on lgb.train in simple_example.py
# train
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=20,
                valid_sets=lgb_eval,
                early_stopping_rounds=5)

[2017-05-16 04:39] guolinke commented on #521
@henry0312 what produces this core dump ?

[2017-05-16 04:41] guolinke commented on #521
@henry0312 BTW, can you help to print ```offset``` and ```num_total_bin``` ?

[2017-05-16 05:27] heroxrq opened #523 "What is the meaning of leaf_value?"
@guolinke
I trained a 3-classes classifier (labeled 0/1/2), and print the tree_digraph. However, I found that the leaf_value has negative values as bellow. What is the meaning of leaf_value?
leaf_value:-0.0340909098529
leaf_value:-0.0656165804478
leaf_value:0.00399515747429

[2017-05-16 05:34] henry0312 commented on #521
@guolinke

These are produced by macOS's crash reports after running advanced_example.py, simple_example.py and sklearn_example.py.

![image](https://cloud.githubusercontent.com/assets/433434/26091177/97f2c11a-3a44-11e7-9ce4-1917f7657331.png)

Sure.
Can you tell me where I change in source codes?

[2017-05-16 05:35] guolinke commented on #521
before : LightGBM/src/treelearner/feature_histogram.hpp, line 484

[2017-05-16 06:13] matiasfb80 commented on #123
Hi guolinke
How can i build lightgbm with DLL|x64 before install python package in Win7? Thanks

[2017-05-16 06:22] henry0312 commented on #521
Okay, I'll try, but I have something to do today, so I will in 2 or 3 hours.

[2017-05-16 07:23] guolinke commented on #123
@matiasfb80  by Visual studio

[2017-05-16 08:25] henry0312 commented on #521
@guolinke I chnged the current master (353286a8d0cd695508f6d6193468d8a8fcc8dbf7) as the below:

[code]

and run advanced_example.py:

[code]

[2017-05-16 09:44] henry0312 commented on #521
Here is outputs of simple_example.py:

[code]

[2017-05-16 10:14] guolinke commented on #521
@henry0312 can you try the branch ```mac-pitch``` ?

[2017-05-16 10:18] henry0312 commented on #521
@guolinke ok, I'll try.

by the way, here is lldb's backtraces when running the binary_classification example in the current mster 353286a8d0cd695508f6d6193468d8a8fcc8dbf7:

[code]

[2017-05-16 10:21] guolinke commented on #521
@henry0312 they seems are some smart pointer problem. Is that caused by gcc-7 ? Did you try gcc-6 ?

[2017-05-16 10:24] henry0312 commented on #521
@guolinke `mac-pitch` doesn't solve the issue.

I use gcc-7 (and @ledmaster also does).
I'll try with gcc-6

[2017-05-16 10:29] henry0312 commented on #521
@guolinke There is no problem with gcc-6.

[2017-05-16 10:32] guolinke commented on #521
@henry0312 Oh... There is very weird. I will try the gcc-7 on ubuntu

[2017-05-16 10:35] henry0312 commented on #521
@guolinke Would you tell me how to build lightgbm with debug symbols?
I'll also check.

[2017-05-16 10:36] guolinke commented on #521
@henry0312 http://stackoverflow.com/questions/10005982/how-do-you-set-gdb-debug-flag-with-cmake

[2017-05-16 10:38] henry0312 commented on #521
Doesn't `-DCMAKE_BUILD_TYPE=Debug` compile with `-O3`?

[2017-05-16 10:49] henry0312 commented on #521
@guolinke I changed CMakeLists.txt like this and recmpiled lightgbm:

[code]

All of python examples works fine.
There are something wrong with gcc-7's optimization.

[2017-05-16 10:52] guolinke commented on #521
@henry0312 did you try ```O2``` ?

[2017-05-16 10:56] guolinke commented on #523
The leaf value are the raw scores, not the probability. So it can be negative.
And the probabilities are computed by softmax in multi-class.

[2017-05-16 10:56] #523 closed

[2017-05-16 10:57] henry0312 commented on #521
@guolinke `-O2` seems to have the same problem with `-O3'

[2017-05-16 10:57] guolinke commented on #519
@dmiljkovic
refer to #521
Did you use gcc-7 ?

[2017-05-16 12:01] henry0312 commented on #521
@guolinke I found `bin_mappers[i]` was `nullptr`.

[code]

`python simple_example.py`:

[code]

[2017-05-16 14:06] guolinke commented on #521
@henry0312 It seems the unique_ptr auto free its memory before the its end of lifecycle ...

[2017-05-16 18:55] dmiljkovic commented on #519
Yes. gcc-7 is used

~/LightGBM/build (master)$ cmake ..
-- The C compiler identification is GNU 7.1.0
-- The CXX compiler identification is GNU 7.1.0
-- Checking whether C compiler has -isysroot
-- Checking whether C compiler has -isysroot - yes
-- Checking whether C compiler supports OSX deployment target flag
-- Checking whether C compiler supports OSX deployment target flag - yes
-- Check for w

[2017-05-16 20:45] Laurae2 commented on #503
@guolinke this issue is solved

[2017-05-16 20:45] Laurae2 commented on #512
@guolinke should we add a warning on the docs about CPU usage when not using VS?

[2017-05-16 23:46] dmiljkovic commented on #519
Solved!!

in CMakeLists.txt change compiler compiler version from 7 to 6

if(APPLE)
    SET(CMAKE_CXX_COMPILER "g++-6")
    SET(CMAKE_C_COMPILER "gcc-6")
endif()

[2017-05-17 00:53] yanyachen commented on #283
@guolinke I looked through the code and I found that predicting form lgb.Dataset hasn't been supported yet. Could you support that when you got time? Otherwise we can not use all cv models to predict on each fold.

Below is a simple function that generating cv predictions from original dataset, @JackStat you can use that for your problem, though I think you had figured it out by yourself.
[code]

[2017-05-17 02:43] miaotianyi opened #524 "Support multi-output regression/classification"
Currently, LightGBM only supports 1-output problems. It would be interesting if LightGBM could support multi-output tasks (multi-output regression, multi-label classification, etc.) like those in multitask lasso.

I've seen a [similar request](https://github.com/dmlc/xgboost/issues/2087) on xgboost, but it hasn't been implemented yet.

[2017-05-17 03:53] henry0312 commented on #521
@guolinke I wonder if the unique_ptr really breaks.

I changed dataset.cpp like this:
(plase ignore changing `int` to `const int`)

[code]

Run `simple_example.py` with `-O0`:

[code]

Run `simple_example.py` with `-O3`:

[code]

You can see that `real_fidx=20` occurs twice.

[2017-05-17 05:28] Laurae2 commented on #524
I think it would require rewriting the whole algorithm from scratch for LightGBM, as it was optimized for a one case.

In the case of xgboost, it requires rewriting the whole algorithm from scratch, which is not possible in the current state unless someone is ready to work on it.

[2017-05-17 13:14] wylqq312715289 opened #525 "lightGBM+GPU Segmentation fault (core dumped)"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-05-17 13:14] #525 closed

[2017-05-17 13:15] wylqq312715289 opened #526 "lightGBM+GPU Segmentation fault (core dumped)"
Load data...
Start training...
[LightGBM] [Info] This is the GPU trainer!!
[LightGBM] [Info] Total Bins 6143
[LightGBM] [Info] Number of data: 7000, number of used features: 28
beignet-opencl-icd: no supported GPU found, this is probably the wrong opencl-icd package for this hardware
(If you have multiple ICDs installed and OpenCL works, you can ignore this message)
[LightGBM] [Info] Using GPU Dev

[2017-05-17 22:11] frenzykryger opened #528 "Segmentation fault when using predict on sparse csr matrix"
## Environment info
Operating System: Linux
CPU: Intel
Python: 3.6
LightGBM version: built from 353286a8d0cd695508f6d6193468d8a8fcc8dbf7 with MPI support

lightgbm version 0.1
numpy version 1.12.1
scipy version 0.19.0

## Error Message:
[code]

## Reproducible examples
See attached archive - it contains persisted csr matrix and script which reproduces issue.

[reproducible-example.zip](https://git

[2017-05-17 22:13] frenzykryger commented on #526
#528 I'm facing similar problem when training on GPU and feeding sparse matrix as input.

[2017-05-17 23:26] TengGao commented on #519
I have followed the above steps, and edited the CMakeLists.txt. I got through the
make -j
without error. But, when I did
cd ../python-package
python setup.py install
I got the following error message:
Install lib_lightgbm from: ['../lib_lightgbm.so']
running install
running bdist_egg
running egg_info
writing requirements to lightgbm.egg-info/requires.txt
writing lightgbm.egg-info/PKG-INFO
writing

[2017-05-18 00:15] HareenVenigalla commented on #171
@Laurae2  Hi, Is any one working on partial dependency plots ?

[2017-05-18 04:44] wylqq312715289 commented on #526
@frenzykryger how to solve this problem.

[2017-05-18 06:39] henry0312 commented on #521
@guolinke Finally, I fuond the cause of the issue 💪
I'll fix soon.

[2017-05-18 11:00] wxchan commented on #524
Is there any introduction about multi-output task, except divided into multiple binary/regression task?

[2017-05-18 16:56] Laurae2 commented on #524
@wxchan multi-output tasks require using an objective handling multi-output tasks.

It also includes/requires multi-split support for decision trees (multiple cutting points instead of one cutting point).

I think you can check this as starting point, it's explained very simply: http://users.math.yale.edu/users/gw289/CpSc-445-545/Slides/CPSC445%20-%20Topic%2005%20-%20Classification%20&%20Decision%

[2017-05-18 22:29] huanzhang12 commented on #526
@wylqq312715289 Can you provide more information on your system and setup? Like OS version, GPU driver version, etc.

[2017-05-19 03:01] wylqq312715289 commented on #526
@huanzhang12  sys:ubuntu16.06, GPU:Nvidia GTX 1060, CPU:intel 7700K, libboost:1.58

[2017-05-19 05:37] Laurae2 commented on #526
@wylqq312715289 if you are using NVIDIA proprietary drivers then do not use Beignet.

[2017-05-19 07:20] #519 closed

[2017-05-19 07:20] #521 closed

[2017-05-19 08:06] wylqq312715289 commented on #526
@Laurae2   I had execute $ sudo apt-get autoremove --purge  beignet-opencl-icd and reset cmake -DUSE_GPU=1 ..

[2017-05-19 08:08] wylqq312715289 commented on #526
@Laurae2 I had execute $ sudo apt-get autoremove --purge beignet-opencl-icd and reset
$ cmake -DUSE_GPU=1 ..
$ make -j
$ python setup.py install
but the "Segmentation fault (core dumped)" alse returned

[2017-05-19 08:41] caohaox opened #532 "GPU version train error"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:linux
CPU:
C++/Python/R version:

## Error Message:
~/DMTK/LightGBM$ ./lightgbm config=lightgbm_gpu.conf data=higgs.train valid=higgs.te

[2017-05-19 12:53] Lucidyan commented on #310
@chivee @guolinke The issue is closed, but I still do not see a link to the official paper. Maybe I missed something?

[2017-05-20 02:32] huanzhang12 commented on #526
Can you run some other OpenCL programs to test if your driver/setup is good?
You can try to compile and run CLPeak https://github.com/krrishnarraj/clpeak.git and see if it works for you.

[2017-05-20 03:49] guolinke commented on #528
fixed in the latest commit.

[2017-05-20 03:49] #528 closed

[2017-05-20 04:08] TennielMiao commented on #524
@wxchan I believe GBDT can adapt from multi-class to multi-label classification (where the labels aren't mutually exclusive) without too much additional computational cost.

In multi-label classification, the target y is a n_samples * n_labels matrix, and each column is a binary vector.

Traditionally, at the leaf node of a classification tree, the prediction is generated by an average of one-hot

[2017-05-20 09:47] wylqq312715289 commented on #526
$ dmesg
return :
traps: python[12887] general protection ip:7fbf8a7e9793 sp:7fbfa289d590 error:0 in libboost_filesystem.so.1.58.0[7fbf8a7da000+17000]

[2017-05-20 11:14] Laurae2 opened #536 "Extremely Sparse Datasets cannot be used for training"
This issue is identical to this one, but for LightGBM this time: https://github.com/dmlc/xgboost/issues/2326

The issue: LightGBM does not start training after a while (stuck in building matrix?)

Before running, to know:

* Dataset download is 240MB, uncompressed is 2GB, sum of RDS files are 650MB
* Creating the dataset (3GB, 7,744,201,107,060 elements) requires using my svmlight package in R
* M

[2017-05-20 11:17] guolinke commented on #536
@Laurae2  reduce ```bin_construct_sample_cnt''' ?

[2017-05-20 11:33] guolinke commented on #536
@Laurae2 I had tested on  "kdd2010 (bridge to algebra)" dataset (https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary.html) .
its # of data: 19,264,097 and # of features: 29,890,095.  The data loading finished in 200 seconds (bin_construct_sample_cnt=600k, min_data=1000) .

[2017-05-20 11:40] guolinke commented on #513
@Laurae2
Sorry, I am not familiar with R.
The message started with ```[LightGBM]``` actually are outputted by C++. I am not sure where do R put them.

[2017-05-21 08:07] guolinke commented on #536
@Laurae2 any updates ?

[2017-05-21 08:58] Laurae2 commented on #536
@guolinke I used this but it still didn't start training after 10 minutes:

* Number of observations: 1,000,000 (approx 28000:1 sparsity)
* Number of features: 3,231,961 (left untouched)
* `bin_construct_sample_cnt = 100000`
* `min_data = 1000`

It was tested using my laptop (dual core i7-4600U, 2.7GHz) as I don't have access to my server currently. All cores busy 100%. Maybe I missed something in

[2017-05-21 09:13] Laurae2 commented on #536
@guolinke It eventually started training after 15 minutes and took less than 10 seconds for the 10 iterations. But it used only 2,807 features when I want all 3,231,961 features:

[code]

I think I'll parse the matrix myself before feeding it to LightGBM so I know what is inside and what is not inside.

Number of elements in features by index:

![image](https://cloud.githubusercontent.com/assets/9

[2017-05-21 09:18] Laurae2 commented on #513
@guolinke I think it needs to be put in `R_ext/Print.h`: http://www.hep.by/gnu/r-patched/r-exts/R-exts_134.html#SEC134

Maybe on the compilation we can add a `-USE_R` to specify R compilation, and on the logger checks for the flag existence to redirect messages.

In xgboost they use `XGBOOST_CUSTOMIZE_LOGGER` and `XGBOOST_STRICT_R_MODE` flags to customize for the R installation (RNG, messages, NaN

[2017-05-21 09:25] guolinke commented on #536
@Laurae2
Actually, it is not need to use all features, The features will be ignored in following condition:
1. Not show in the sampling data for the bin construction. LightGBM uses sampled data to construct bin mapper. If a feature doesn't show up in sampling data, it means this feature is nearly all zeros, ignoring it won't have much effect for the accuracy.
2. the number of nonzero values smalle

[2017-05-21 09:44] Laurae2 commented on #524
@TennielMiao multi-output classification is doable in xgboost/LightGBM, it is actually what is being done in multiclass problems but not in an efficient manner. Also, it returns everything, while you might be interested into a specific number of outputs (especially for classification). This is why we have `softprob` and `softmax` separate in xgboost (one is giving the raw values for your needs, wh

[2017-05-21 09:52] Laurae2 commented on #536
@guolinke CPU usage is correct with 1 thread (out of 4 threads) with your commit 0b2b213:

![image](https://cloud.githubusercontent.com/assets/9083669/26282908/5a7c75e4-3e1b-11e7-82b2-78c2da538e8b.png)

![image](https://cloud.githubusercontent.com/assets/9083669/26282907/52a8b4ae-3e1b-11e7-8a0d-77a28e711abc.png)

[2017-05-21 09:52] #536 closed

[2017-05-21 16:47] Laurae2 commented on #122
@henry0312 I think what @guolinke was explaining is the user should treat inputs to LightGBM as if they were sparse matrices, which is 0 for NA. This was the previous behavior of LightGBM, but the other way around.

[2017-05-21 16:48] Laurae2 commented on #348
Closed with https://github.com/Microsoft/LightGBM/pull/511

See: https://sites.google.com/view/lauraepp/benchmarks

[2017-05-21 16:48] #348 closed

[2017-05-21 16:49] Laurae2 commented on #384
Duplicate of issue #47, closing

[2017-05-21 16:49] #384 closed

[2017-05-21 16:52] Laurae2 commented on #447
@huanzhang12 I got similar crashes with OpenCL workloads, I think this is due to Intel OpenCL being non standard (works fine with AMD APP SDK, no crash).

We should tell the users to avoid LightGBM + Intel OpenCL on CPU, unless they have a real need for it. Performance is worse than pure CPU in all cases I tested (along with metric performance).

Closing this issue as it seems to be more an Intel

[2017-05-21 16:52] #447 closed

[2017-05-21 17:13] Laurae2 opened #538 "R-package: saveRDS should stop using temporary file"
self-assigned issue to fix for @Laurae2 when enough time happens

Files to hit:

* https://github.com/Microsoft/LightGBM/blob/master/R-package/R/saveRDS.lgb.Booster.R
* https://github.com/Microsoft/LightGBM/blob/master/R-package/R/readRDS.lgb.Booster.R#L42-L45
* https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Booster.R#L359-L431

[2017-05-22 04:36] #89 closed

[2017-05-22 04:36] #503 closed

[2017-05-22 08:42] BlindApe opened #539 "[R] slow when function returning R6 object"
I'll give a detailed enviroment sheet and a reproducible example,  but meanwhile this is the problem:

Error in paste(as.character(obj), collapse = " ") :
  long vectors not supported yet: memory.c:1652

[1] 4214186

level1 has 4214186 rows and 1152 columns.

[2017-05-22 08:49] guolinke commented on #539
I think ```4214186 ``` isn't long. And this issue is strange.
Did you run it immediately after installing LightGBM ?  you can try to restart R and run it again.

[2017-05-22 08:57] BlindApe commented on #539
The problem is reproducible after restarting the machine.
With a few columns it works, so I think the problem could be with 4212186 * 1152 that is greater than 2^32.
I've noticed lightgbm::setinfo in R takes a long long time with this big dataset, and finally crash. I've tried the same dataset with xgboost and setinfo is a blink.

[2017-05-22 10:02] guolinke commented on #539
@BlindApe
```SetInfo``` have nothing to do with number of columns. It only use one column.
And ```paste(as.character(obj), collapse = " ")``` isn't called by lightgbm.
Did you check the type of ```level1.response``` ?

[2017-05-22 10:04] guolinke commented on #539
BTW, ```SetInfo ``` only copy ( copy the reference ) the passed array. So, It should be very faster.

[2017-05-22 10:35] yangdi92 opened #540 "Size of feature_names error, should equal with total number of features"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: win10 64bit
CPU: i5
R version: microsoft R 3.32
when i run the demo:

require(lightgbm)
require(methods)
data(agaricus.train, package =

[2017-05-22 10:43] guolinke commented on #540
Just test it on latest code, and it runs successfully.
Can you try re-install the latest code and restart R, then test again ?

[2017-05-22 11:18] yangdi92 commented on #540
Ok I wii try, thank you very much Sent from Mail Master
            On 05/22/2017 18:43, Guolin Ke wrote: Just test it on latest code, and it runs successfully.
Can you try re-install the latest code and restart R, then test again ?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_k

[2017-05-22 11:34] yangdi92 commented on #540
I need to install version v2?Sent from Mail Master
            On 05/22/2017 18:43, Guolin Ke wrote: Just test it on latest code, and it runs successfully.
Can you try re-install the latest code and restart R, then test again ?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"

[2017-05-22 11:35] guolinke commented on #540
@yangdi92 the latest master branch.

[2017-05-22 12:24] kyowill opened #541 "how to get group/query data when input file is 'csv' format"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-05-22 15:42] guolinke commented on #541
refer to https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#query-data .

[2017-05-22 15:42] #541 closed

[2017-05-22 16:35] Laurae2 commented on #539
@BlindApe label must be a vector like in xgboost.

[2017-05-22 16:40] Laurae2 commented on #532
@caohaox do you have a GPU?

If yes:

* Which one?
* Do you have the same issue with other datasets?

[2017-05-22 16:41] Laurae2 commented on #512
@slfan2013 is the problem solved in your case? (you can close if yes)

[2017-05-22 16:45] slfan2013 commented on #512
Yes. Thanks!

I think I should carefully select instance configuration in the google compute engine (or other computing cloud) when using `lightgbm`, because it does not use all of the CPU and won't speedup for more CPUs.

[2017-05-22 16:45] #512 closed

[2017-05-22 16:52] Laurae2 opened #542 "Visual Studio reports higher CPU usage than MinGW"
(Requires investigation)

This issue reflects an issue found on the following issues:

* https://github.com/Microsoft/LightGBM/issues/446: Installation of CMake&MinGW is slow than Visual Studio

* https://github.com/Microsoft/LightGBM/issues/512: lightgbm not using all the CPU

![pic vs](https://cloud.githubusercontent.com/assets/16040950/26032207/4e2b6bc0-38c0-11e7-9754-4fadb27a3b57.png)

![pic m

[2017-05-22 17:48] BlindApe commented on #539
@guolinke , @Laurae2 , thank for your support.

As you see this code takes 1 minute with a matrix of 20 columns, nearly 5 minutes with 100 columns and an eternity (I'm still waiting a crash) with 1300 columns.
lgb.setinfo isn't visible so I need to use setinfo().
The type of label  is 'double'.

This is the sessionInfo():
R version 3.3.1 (2016-06-21)
Platform: x86_64-pc-linux-gnu (64-bit)
Running

[2017-05-22 17:57] BlindApe commented on #539
With xgboost (dataset creation with 1300 columns takes a while, but setinfo is a blink):

Loading required package: data.table
data.table 1.10.4
  The fastest way to learn (by data.table authors): https://www.datacamp.com/courses/data-analysis-the-data-table-way
  Documentation: ?data.table, example(data.table) and browseVignettes("data.table")
  Release notes, videos and slides: http://r-datatabl

[2017-05-22 18:08] Laurae2 commented on #539
I can't reproduce it.

I am getting this:

[code]

[code]

From a fully fresh session:

[code]

Using a laptop here.

[2017-05-22 18:15] BlindApe commented on #539
The problem is setinfo after lgb.Dataset. Doing data and label at same time isn't problem:

[1] "double"

[1] 0 0 0 0 0 0

0  mins

[2017-05-22 18:19] Laurae2 commented on #539
@BlindApe My last example was done without doing data and label at the same time. It is still taking about 1 millisecond.

However, when I replace all 1s by 0s, I get the issue you mentioned (but it takes only 10 seconds here, not 5 minutes).

@guolinke any reason why it is slower when using 0s instead of 1s? It seems to duplicate the data also, which duplicates the memory used.

[2017-05-22 18:35] BlindApe commented on #539
This is in other server, running different R version under Windows:

R version 3.4.0 (2017-04-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1
Matrix products: default
locale:
[1] LC_COLLATE=Spanish_Spain.1252  LC_CTYPE=Spanish_Spain.1252    LC_MONETARY=Spanish_Spain.1252 LC_NUMERIC=C                   LC_TIME=Spanish_Spain.1252
attached base p

[2017-05-22 18:36] Laurae2 commented on #539
Can you change `label <- rep(0, 4000000)` with `label <- rep(1, 4000000)` and report the time?

[2017-05-22 18:37] BlindApe commented on #539
I was doing:

[1] "double"

[1] 1 1 1 1 1 1

<lgb.Dataset>
  Public:
    construct: function ()
    create_valid: function (data, info = list(), ...)
    dim: function ()
    finalize: function ()
    get_colnames: function ()
    getinfo: function (name)
    initialize: function (data, params = list(), reference = NULL, colnames = NULL,
    save_binary: function (fname)
    set_categorical_featur

[2017-05-23 00:39] guolinke commented on #539
@BlindApe
can you try to replace ```setinfo(train, 'label', label)``` with ```train$setinfo(`label`, label)``` (Doing data and label at the same time will call this) ?
@Laurae2  I check the code for setinfo: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Dataset.R#L413-L451
I think the most time consuming part is the data conversion: https://github.com/Microsoft/LightGBM/blob/ma

[2017-05-23 00:40] guolinke commented on #539
@BlindApe
can you also test the time cost of ```label <- as.numeric(label)``` in your machine ?

[2017-05-23 03:21] tobigithub opened #544 "Binary distribution of executables or LightGBM exectuable of latest stable binaries release"
**Executive summary**: a repository of monthly stable binary LightGBM executables would be useful.

I am able to compile LightGBM under WIN and LINUX, but the increasing complexity
with CUDA and OpenCL dependencies and drivers (GPU graphic card accelerators)
really irks me. https://github.com/Microsoft/LightGBM/wiki/Installation-Guide
I am wondering if there is way to share stable working binaries

[2017-05-23 09:31] #540 closed

[2017-05-23 11:35] wxchan commented on #544
I was thinking the same issue last weekend when I saw the release binary version of xgboost on http://www.picnet.com.au/blogs/guido/post/2016/09/22/xgboost-windows-x64-binaries-for-download/.

[2017-05-23 16:25] BlindApe commented on #539
@guolinke

Seems the problem isn't in as.numeric().
Replacing the function with directly invoke the method has the same behavior.

In linux server:

0 secs

[1] "double"

[1] 0 0 0 0 0 0

57.443 secs

In Windows server:

0.05 secs

[1] "double"

[1] 0 0 0 0 0 0

93.71 secs

[2017-05-23 16:34] BlindApe commented on #539
The time is proportionat to rows and columns, and the behavior is the same both in Windows and Linux

0.002 secs

[1] "double"

[1] 0 0 0 0 0 0

0.124 secs

0.001 secs

[1] "double"

[1] 0 0 0 0 0 0

287.985 secs

[2017-05-23 16:38] Laurae2 commented on #539
81.27s:

[code]

but running this is really strange as it does exactly the same thing but faster!:

[code]

![image](https://cloud.githubusercontent.com/assets/9083669/26365107/e3360e00-3fe6-11e7-86fc-d604dcfcc580.png)

The behavior is really strange when out of a function and running in the global environment.

[2017-05-23 16:49] BlindApe commented on #539
I think the message I obtained first time I tried with 1152 columns could give a tip:

Error in paste(as.character(obj), collapse = " ") :
long vectors not supported yet: memory.c:1652

It's like internally all data were pasted in some way...

[2017-05-23 16:57] guolinke commented on #539
@Laurae2 @BlindApe
maybe the reason is the memory relocation of R6 Class (Or R?).
When set this : https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Dataset.R#L431, R6 may copy the data to a new memory address. Thus, when ```data``` is large, it will cost more time.

And it calls ```paste(as.character(obj), collapse = " ") ```. in ```memory.c```, this seems is for some memory operat

[2017-05-23 17:00] Laurae2 commented on #539
I ran this:

[code]

It seems there is a problem with `return(self)`. It takes forever from that point.

This post shows an issue with assignments on R6 objects and type checking leading to 30x slower assignments on small stuff: https://cran.r-project.org/web/packages/R6/vignettes/Performance.html

[2017-05-23 17:26] BlindApe commented on #539
@Laurae2  I've reproduced the behaviour doing inside a naive function:

Loading required package: lightgbm
Loading required package: R6

+   data <- matrix(1, 4000000, 100)
+   label <- rep(0, 4000000)
+   tic = proc.time()[3]
+   label <- as.numeric(label)
+   cat(proc.time()[3] - tic, 'secs', '\n')
+   print(typeof(label))
+   print(head(label))
+   train <- lgb.Dataset(data = data)
+   tic = pr

[2017-05-24 13:09] cbecker opened #545 "Implementing prediction early stopping"
Hi there.

I was experimenting with early stopping for prediction, which can reduce prediction time significantly. My current test was something like:

[code]

It checks the margin of the top-ranked class and stops if it is higher than a given value.

I am wondering what would be the preferred way for implementing this to have it structured enough and customizable. It could be a callback function,

[2017-05-24 23:10] txjmb opened #546 ""double free or corruption" error when running predict"
This error just started happening after I ran some system updates.  Tried latest build with same issue.  Looks to be something external to LightGBM that LightGBM depends on.  Training works, prediction throws this error.

Googling the error, I found that Tensorflow was having a similar issue.  The workaround they used worked in this case.  But, I still wanted to put in this issue to see if it can

[2017-05-25 00:21] guolinke commented on #546
@txjmb
can you update code from latest master branch ? I think I had fixed it.

[2017-05-25 00:21] guolinke commented on #545
@cbecker
this is only for multi-class, right ?

[2017-05-25 01:55] rgranvil commented on #122
@guolinke

Even if the overall impact tends to be small, this treatment still seems less than ideal, especially if the user is unaware to manually distinguish true zeros in advance.  Would either of these options would be a reasonable alternative?

a) Instead of internally mapping missing values to 0, could a less common number be used?  i.e. Could missing values be internally mapped to -1.7e308 i

[2017-05-25 04:02] huanzhang12 commented on #526
@wylqq312715289 Try to remove the macro BOOST_COMPUTE_USE_OFFLINE_CACHE in `gpu_tree_learner.h`, line 26: https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/gpu_tree_learner.h#L26

[2017-05-25 06:02] wylqq312715289 commented on #526
@huanzhang12  right, thank you.

[2017-05-25 07:21] cbecker commented on #545
It would also work for binary. Then the margin would be `fabs(2 * score)`, what do you think?

Actually if we have a callback it can be user-defined, and then it could also be non-symmetric if the user needs that.

[2017-05-25 08:53] #526 closed

[2017-05-25 08:53] #546 closed

[2017-05-25 15:42] guolinke commented on #545
@cbecker
sure, welcome to create a PR for this.

[2017-05-25 16:09] Laurae2 commented on #544
We can use Travis and AppVeyor to output file artifacts so every Pull Request has a binary for Windows & Linux, OpenCL and no OpenCL (but those would be locked to Intel/AMD).

Travis: https://stackoverflow.com/questions/12343452/how-to-publish-artifacts-in-travis-ci/33109519#33109519

AppVeyor: https://www.appveyor.com/docs/packaging-artifacts/

But we need people to contribute to make this possib

[2017-05-25 16:15] cbecker commented on #545
Thanks, where would you prefer the function ptr to be stored (I mean in which structure)?

[2017-05-25 17:40] jcrosskey opened #547 "Cannot get good regression result on small trivial data"
## Environment info
Operating System: Linux-4.4.0-77-generic-x86_64-with-debian-stretch-sid (Ubuntu)
CPU: x86_64
Python version: 2.7.12
LightGBM: v2.0 release

I ran a trivial small example where y value is well separated according to x values, but LightGBM failed to find the obvious solution.

## Reproducible example
x = [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.

[2017-05-25 18:06] Laurae2 commented on #547
Reproducible issue starting from v2.0 but not happening on v1.

v1 gets correct results:

[code]

v2.0 gets incorrect results:

[code]

Code used:

[code]

Elements:

[code]

[2017-05-25 18:50] tobigithub commented on #544
@Laurae2,
happy to help, never used those services, but looking into that how to integrate CUDA for WIN in AppVeyor and also in Travis seems even worse, also not sure if the free cloud services there offer native CUDA support, they usually requires paid subscriptions.

Also consider, that there is no containerized CUDA version for Windows, they will not run in VMs, plus local MPI versions and MinG

[2017-05-26 00:22] guolinke commented on #547
@Laurae2 @jcrosskey
try to set ```min_data_in_bin=1``` ?

[2017-05-26 01:03] guolinke commented on #545
@cbecker
I think using a callback (or a class?) is good and we can use the config to specific the used callback.
Maybe a global dictionary (```std::unordered_map<std::string, std::function...>```) is needed to store the mapping from ```name``` to  callback.

[2017-05-26 03:18] guolinke commented on #122
@rgranvil
the main difficulty of doing that is: It is confused about the missing and zeros when input data is in sparse format ( like libsvm, CSR). Normally, the non-show-up value is zero, right ? However, when number of missing values is large, we may let the non-show-up value as missing.

I think we can have a parameter named ```zero_is_missing```. if ```zero_is_missing=true```, we treat all zer

[2017-05-26 03:36] henry0312 commented on #122
@guolinke I have some problem with poor accuracy after #516.
I tried adding very small values to zero and flags to represent missing, but I couldn't get better accuracy before #516.
I want a swith option whether we support missing values or not...

[2017-05-26 03:38] guolinke commented on #122
@henry0312
OK, i can add it.
BTW, does the accuracy on training set have improvement ? it may be over-fitting.

[2017-05-26 03:47] chivee commented on #524
@TennielMiao  The main bottleneck for the implementation of  multi-output classification( regression) are memories, It's been highly non-efficiency since we need maintain all the residual value of all sample over all features.

[2017-05-26 03:50] guolinke commented on #524
Just find a related paper in ICML 2017: "Gradient Boosted Decision Trees for High Dimensional Sparse Output" .

@huanzhang12 is one of the author.

[2017-05-26 04:00] henry0312 commented on #122
I appreciate it.

I'll check.

By the way, xgboost seems to have `missing` option, though I don't know details of it.

https://xgboost.readthedocs.io/en/latest/python/python_api.html

[2017-05-26 06:23] Laurae2 commented on #547
@guolinke I was already using `min_data = 1`

[2017-05-26 06:28] Laurae2 commented on #122
@henry0312 in xgboost, if input is dense then you can specify the missing value element (NA by default). If using sparse input, then the missing value is the value which is not represented in the sparse matrix (you may have a value other than 0 for missing in a sparse matrix).

[2017-05-26 06:40] henry0312 commented on #122
@guolinke

When I tried adding a small value to zero to be distinguished from missing, or adding flags to represent missing category, training accuracy seemed better (maybe over-fitting), but test accuracy  wasn't better than that of before.

When I didn't try either adding a small value or flags, training accuracy wasn't good, but test accuracy also was bad.

@Laurae2 Thanks! I got it.

[2017-05-26 06:55] Laurae2 commented on #122
@guolinke for svmlight/libsvm we may enforce missing as missing value, while for dense data we should let the user choose what is a missing value.

Default could be NA (R) / NaN (Python) / non numeric (CLI), and we let the wrappers choose the missing value identification by adding a parameter for dataset construction.

[2017-05-26 07:28] cbecker commented on #545
Thanks. I've just noticed that in the latest master `PredictRaw()` is parallelized, which makes applying this type of early stopping more difficult, and it may slow down prediction.

Would it make sense to have a separate function to predict with a single thread? Also, for some cases users may want to do this in a single thread, as it would be faster to parallelize at the sample level, if multiple

[2017-05-26 07:30] Laurae2 commented on #547
Ah never mind, I thought it was another parameter.

[code]

Issue is fixed with `min_data_in_bin = 1`. Reproducible code for correctness:

[code]

@guolinke We may add the Python code as a test case I think (who is maintaining Python test cases currently?). LightGBM should always get correct such trivial example.

[2017-05-26 09:49] Laurae2 commented on #547
Can also confirm v2.0 is not affected by this issue.

[code]

[2017-05-26 09:49] hanamiqi opened #548 "how can use the model txt file to make prediction in a different environment?"
I want to use the model file outputed by save_model method during training to make prediction in another environment without the training dataset, do i need to use the model file and the training data(copy from the source environment) to retrain the model?
Or just have to use the input_model parameter to designate the directory and name of the model file to generate a booseter instance and use it

[2017-05-26 09:54] Laurae2 commented on #548
@hanamiqi If you have the model exported, you do not need the training data to do predictions. Just use the model to make predictions (load the model, and predict using your datasets).

[2017-05-26 09:59] hanamiqi commented on #548
@Laurae2 could you please gave me some code example for this? i read the all the help document but have not seen any example for this

[2017-05-26 10:05] Laurae2 commented on #524
The excerpt:

That method seems way faster than `O(n)` so it will be interesting to see what is used in GBDT-SPARSE to reach that speed.

[2017-05-26 10:06] hanamiqi commented on #548
@Laurae2 i got it through reading the advanced_example.py, still thank u very much!

[2017-05-26 10:27] #548 closed

[2017-05-26 10:29] #547 closed

[2017-05-26 10:34] guolinke commented on #545
@cbecker
Our early parallel prediction version is parallel at the sample level, and it is faster in the most cases.
Actually, I am also think about rollback it, and find another way to speed up the prediction for only one sample.

[2017-05-26 10:35] guolinke commented on #539
@Laurae2 What is the state of this issue now ?

[2017-05-26 11:10] Laurae2 commented on #539
@guolinke Currently can't seem to fix this, I managed to delay the issue but this is not a good workaround.

[2017-05-26 11:19] Laurae2 commented on #539
@BlindApe Your/Our workaround works until we print the `train` model. You can test this code to see the issue:

[code]

[2017-05-26 11:32] guolinke commented on #539
@Laurae2
So R console will print the return object, and the print will have some serialization, which causes the slow-down ?

[2017-05-26 12:08] Laurae2 commented on #539
@guolinke The cause is in the screenshot:

![image](https://cloud.githubusercontent.com/assets/9083669/26493886/4c0f027e-421c-11e7-9c38-db48b586248d.png)

I have no idea what this `as.character` is actually doing here. But it is directly related to `print` and it explains why the duration scales with the size of the matrix(ces).

In RStudio, doing this reproduces exactly the issue:

[code]

[2017-05-26 12:12] #538 closed

[2017-05-26 12:21] cbecker commented on #545
What about passing a parameter `num_threads` to the prediction function? Or making it part of the boosting class, so by default it uses a single thread, otherwise multiple ones?

This can be done with very little overhead (to be tested) by using `#pragma omp parallel for schedule(static) num_threads(number_of_threads)`

[2017-05-26 12:59] jcrosskey commented on #547
Thanks! Should I always use `min_data_in_bin=1` in parameter configuration?

[2017-05-26 13:03] guolinke commented on #547
@jcrosskey of course not. ```min_data_in_bin``` can improve the generalization ability.

[2017-05-26 13:26] jcrosskey commented on #547
@guolinke Got it, I should only use it when I know I want small number of data points in some bin, otherwise bigger `min_data_in_bin` generalizes better.

[2017-05-26 15:26] guolinke commented on #542
@Laurae2 Actually, I am thinking, can we just use the compiled DLL/lib for the R-package (like python-package)?

[2017-05-26 15:27] guolinke commented on #513
@Laurae2 The difficulty is we cannot including R's header file.. So that it is hard to use R's printf.

[2017-05-26 15:32] guolinke commented on #539
I think this https://stat.ethz.ch/R-manual/R-devel/library/base/html/invisible.html may can solve this issue.

[2017-05-26 15:47] Laurae2 commented on #542
@guolinke I think some people did it: https://erpcoder.wordpress.com/2016/06/15/how-to-develop-a-c-dll-for-r-in-visual-studio-2015/

But not sure how feasible it is in reality.

[2017-05-26 15:50] Laurae2 commented on #539
@guolinke the issue is still here when returning invisibly. I start to think it is the fault of the environment / R6 object, and not of LightGBM.

[2017-05-26 22:14] Laurae2 commented on #542
@guolinke I am getting this error when using Visual Studio or MinGW externally compiled DLL out of the box:

[code]

[2017-05-26 22:57] hack-r commented on #217
it doesn't seem to be fixed... maybe a reproducible example of it working would help.

[2017-05-26 23:09] Laurae2 commented on #217
@hack-r What does not work? Can you provide a reproducible example of what is not working?

On #228 it works correctly. You can try the last example where you will get 26 bins (categorical) instead of 24 bins (numeric), which is the expected result.

Categorical run:

[code]

[code]

Numeric run:

[code]

[code]

[2017-05-26 23:22] hack-r commented on #217
It works, my mistake. The confusion on my part was that I didn't know it required the explicit declaration of colnames to work; I assumed it could read the colnames implicitly from the matrix object.

[2017-05-26 23:28] Laurae2 commented on #217
You can use with column numbers only and it will work. Column names are transformed into column numbers in R for categorical feature support.

[2017-05-27 02:09] guolinke commented on #542
A simple test on Higgs data set.

1. Parameter : ```>lightgbm.exe data=higgs.train num_leaves=255 num_threads=16```

Mingw version:
[code]

vs2013 version:
[code]

2.  Parameter : ```>lightgbm.exe data=yahoo.train num_leaves=255 num_threads=16```

Mingw version:
[code]

vs2013 version:
[code]

I think the multi-threading perform of mingw is actually poor, especially for the sparse dataset...

[2017-05-27 02:11] guolinke commented on #542
@Laurae2 I try many ways to hack R's package with pre-compiled dll, but didn't success yet.

[2017-05-27 02:46] guolinke commented on #539
@Laurae2  after using ```invisible```, the problem only show-up when manually print the R6 object.

[2017-05-27 02:46] guolinke commented on #539
@BlindApe can you try the latest code and see what happen ?

[2017-05-27 03:57] vousmevoyez opened #554 "Why ImportError: No module named lightgbm"
My OS is Ubuntu, and I've followed the official installation guide to install lightgbm. However, when I import it, this error is raised:

`ImportError: No module named lightgbm`

There is no error during installation. And I've tried import lightgbm both on default python and anaconda environment. Both of them have this error. How can I solve this?

[2017-05-27 05:44] #554 closed

[2017-05-27 08:31] Laurae2 commented on #542
@guolinke We can use .exe wrapper like I did on my package (https://github.com/Laurae2/Laurae) but this is not the best solution (we lose the ability to use callbacks, etc.).

R can dynamically load binaries (like it loads dlls/so/dylib), there must be a way to hack a way through it. VS and MinGW's externally compiled dll are loading fine in R: https://stat.ethz.ch/R-manual/R-devel/library/base/ht

[2017-05-27 08:34] Laurae2 commented on #542
In the past MinGW and VS for LightGBM were very close, now they are very different...

Did you test by changing OpenMP static scheduling to guided/dynamic scheduling? xgboost got a performance boost by using guided/dynamic scheduling.

[2017-05-27 08:35] Laurae2 commented on #539
@guolinke It defers the issue when printing. We may add a warning on docs about it.

[2017-05-27 11:55] guolinke commented on #542
@Laurae2
Actually, Our R's dll can be compile by Visual studio, since we didn't include any third-part header files.
The only problem is how to put this DLL into R's package.
I try to put it to the ```R-package/libs/x64```, and build the package with ```--binary```.
I find the dll file is included in the package file. However, It says cannot find the dll when try to install this package...

For th

[2017-05-28 01:28] guolinke opened #557 "[R] auto convert factor to categorical feature"
We already have this in python-package. I think we can add it to the R package as well.
@Laurae2 can you help for this ?

[2017-05-28 04:04] tobigithub opened #558 "R basic_walkthrough.R error in lgb.call("LGBM_DatasetCreateFromFile_R""
## Environment info
Operating System: WINDOWS 7
CPU: NA
C++/Python/R version: R 3.3.1

## Error Message:
[code]

## Reproducible examples
Clean install of Rtools, clean install of R lightGBM, execute demo code

## Steps to reproduce
[code]

[2017-05-28 04:13] guolinke commented on #558
@tobigithub
just run it successfully.
Did you have a file named ```dtrain.buffer``` in demo folder, after run this script? its size is ```105,543 bytes``` .

[2017-05-28 04:30] u39kun opened #559 "GPU version gives non-reproducible results even with random seed set"
When training on GPUs, the training results give slightly different results on each run even with the random seed set, whereas training on CPUs with the same exact code gives perfectly reproducible results.

[2017-05-28 05:10] tobigithub commented on #558
@guolinke
yes, there is a file dtrain.buffer under Users\XXX\Documents.
BTW all other R examples were OK.

Source of the current R script: https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/basic_walkthrough.R#L35

However this file is 1.2 Mbyte large deleting it, will create  a new file with 104 kb and no issue, see script below. So its probably related to this file, which can not b

[2017-05-28 05:10] #558 closed

[2017-05-28 07:41] Laurae2 commented on #559
LightGBM GPU results are not reproducible even though the code/seed is identical. Use the CPU version for reproducibility.

[2017-05-28 07:43] Laurae2 commented on #557
Going to add a dataset builder with different methods.

Method 1 (only for dense):

* Parse factors -> numeric
* Parse characters -> numeric
* Keep data as dense, but convert to matrix format

Method 2 (default, only for dense):

* Parse characters -> factor
* Parse factors -> one hot encoding
* Convert data to sparse

[2017-05-28 07:48] guolinke commented on #557
@Laurae2
I think method_1 is better.
Actually, for the categorical feature, but best solution is not the one-hot coding. Using method 1 is more flexible for the future updates.

[2017-05-28 14:08] #557 closed

[2017-05-28 16:02] Laurae2 opened #562 "[R] LightGBM uses a lot of RAM when #feature and #leaves are both large"
I ran LightGBM on a very big dataset. It is twice faster than xgboost. But for comparing both, I am building from all the dataset and using all the features, in contrary to LightGBM default behavior.

Dataset properties:

* 2,250,000 observations
* 23,636 features

(Committed) RAM usage:

* LightGBM: 164GB (173GB when building from 100000 observations using `bin_construct_sample_cnt` only)
* xgboo

[2017-05-28 16:11] guolinke commented on #562
@Laurae2 try the parameter ```histogram_pool_size```

[2017-05-28 16:19] guolinke commented on #562
@Laurae2
Can you save the dataset to binary format, and give me its size?

I think the memory consuming here is used for the histogram cache. it needs about   num_leaves * 20Bytes * num_features * num_bins.

You also can try to reduce the num_leaves, and see how much it costs.

[2017-05-28 16:46] Laurae2 commented on #562
@guolinke

binary dataset: 1,499,944 KB

with `histogram_pool_size = 16384` it manages to keep under 54GB RAM.

When `num_leaves` decreases, the RAM required decreases exponentially. I think I'll drop some of my tests on this big dataset.

With `num_leaves = 255`, drops to 65GB RAM required.

[2017-05-28 17:37] guolinke commented on #562
@Laurae2
So the dataset only caused 1GB memory.
And the histogram cache is 1.6GB when set ```histogram_pool_size=16384```.
I am not sure what cause these 50GB+ memories...

Did you run it by R-package? can you try it with the CLI version(you can use the binary dataset) ?

[2017-05-28 17:43] guolinke commented on #562
@Laurae2 can you give me the reproduce dataset ?

[2017-05-28 17:48] Laurae2 commented on #562
@guolinke Do you have an email address where I can send you a link to the file?

[2017-05-28 17:54] guolinke commented on #562
send it to i@yumumu.me

[2017-05-28 18:02] Laurae2 commented on #562
@guolinke I think 10GB is caused by the data in memory, but the rest I am not sure what it is.

Do you know if it is possible to do this in R?:

* Remove the original dataset while being able to train (like training from a binary file, but directly in memory)
* Predict from lgb.Dataset instead of using the original dataset

[2017-05-28 23:09] wxchan commented on #559
There is a discussion about reproducibility on kaggle https://www.kaggle.com/c/zillow-prize-1/discussion/33719, not sure if it's the same issue.

[2017-05-29 02:40] guolinke commented on #559
@wxchan
It is not the same issue.
When using same compiler, it is reproducible.
But it is hard to ensure the reproducible when using different compilers.

For the GPU version. I think the result maybe is the float point sum-up order.
@huanzhang12 can you give more details ?

[2017-05-29 02:46] huanzhang12 commented on #559
Yes, GPU uses single precision arithmetic, and we cannot guarantee the exact results. The threads scheduling on GPU will affect the sum-up order, and it is noticeable when using single precision arithmetic.

For best reproducibility, set `gpu_use_dp=true` to enable double precision math on GPU (but it's slower).

[2017-05-29 02:59] guolinke commented on #562
@Laurae2
can you give the memory usage before calling ```lgb.train``` ?
BTW, we cannot predict from lgb.Dataset .

[2017-05-29 03:40] guolinke commented on #562
@Laurae2
I debugged on your dataset, some information:
1. Cost of Dataset: about 7GB.
2. Cost of other data structure: about 2GB
3. Cost of histogram cache: set by ```histogram_pool_size```.

I run it on visual studio and mingw, parameter: ```data=train.bin app=binary histogram_pool_size=1024``` .
they both cost about 8GB memory.

Another thing is: The binary dataset you build seems is by V2.0 ver

[2017-05-29 05:43] Laurae2 commented on #562
I'll recompile with master branch and come back in 2 days when server is free (no idea why it keeps using old LightGBM, I think the dll didn't get freed as I encounter this issue a lot - going to wipe the folder instead of trusting the reinstall for it from now).

Approximately 8GB if I remember (+2GB of Windows).

[2017-05-29 05:53] guolinke commented on #562
@Laurae2
can you share your R script for the reproducing?

[2017-05-29 06:12] Laurae2 commented on #562
@guolinke Check here: https://github.com/Laurae2/gbt_benchmarks/tree/master/zzz_new

It is the "reput" dataset. You can run the Creator scripts manually if you want to recreate the dataset, then you can manually run the "code" script to run benchmark.

I can try to provide you easier script when I finish work for training model if needed.

[2017-05-29 13:38] zhukunism commented on #389
@Laurae2 , can you please give more details on the GPU build for R in Linux? Not sure what's involved on the "feed 4 extra variables in Makeconf + modify Makevars + add gpu_tree_learner in include" steps. Thanks!

[2017-05-29 16:46] Laurae2 commented on #562
@guolinke Download data from here: http://www.sysnet.ucsd.edu/projects/url/ (200MB)

R script for creating dataset:

[code]

Model training:

[code]

[2017-05-29 17:05] guolinke commented on #562
@Laurae2
Thanks, I will test it when my server is free.
BTW, Did you have the number of memory cost when set ```bin_construct_sample_cnt``` to a smaller number?

[2017-05-29 17:11] Laurae2 commented on #562
@guolinke Yes, with original dataset in memory (around 18GB), it was taking about 50+ GB.

You can use this if you want to work with binary datasets (should take 16+ GB less):

[code]

And this for training with binary dataset:

[code]

[2017-05-29 17:12] Laurae2 commented on #562
No, it increased to 173GB instead of 164GB. Might be the fault of histogram (?)

[2017-05-29 17:15] guolinke commented on #562
@Laurae2 173GB is the result with 16384 histogram pool size?

[2017-05-29 17:17] Laurae2 commented on #562
@guolinke

* 164GB: 2.25M bin_construct_sample_cnt, no histogram_pool_size
* 173GB: 100K bin_construct_sample_cnt, no histogram_pool_size
* approx 50GB: 2.25M bin_construct_sample_cnt, 16384 histogram_pool_size

Assumes loading from RDS, so you may have a difference of minus 8 to 20 GB.

[2017-05-29 22:02] llmercury opened #566 "LightGBM import error again!"
This might be related to issue #499. It appears the same error. Lightgbm 0.1 has been working well ever since. Then I decided to switch to v 0.2. First I cloned the newest repository and then CMake on MSVC. (I followed the installation instruction at: https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#windows-2). It looked like every step was successful. However, Jupyter notebook failed

[2017-05-29 22:11] llmercury commented on #566
I added this line:
print(lib_path) before lib = ctypes.cdll.LoadLibrary(lib_path[0]) in the file D:\Program_Files\Anaconda3\envs\py35\lib\site-packages\lightgbm-0.2-py3.5.egg\lightgbm\basic.py

and  import lightgbm in Jupyter Notebook again and I got:

D:\ProgramFiles\Anaconda3\envs\py35\Lib\site-packages\lightgbm-0.2-py3.5.egg\lightgbm\lib_lightgbm.dll

I did find the lib_lightgbm.dll in the abov

[2017-05-30 00:43] u39kun commented on #559
Thanks for the explanation and documentation changes to state this limitation up front via #560.

[2017-05-30 00:43] #559 closed

[2017-05-30 01:59] guolinke commented on #566
@llmercury
Just try it, and it imports successfully.
Did you build and install with the administrator permission ?

[2017-05-30 02:28] guolinke commented on #562
@Laurae2
I met error when generate the dataset:
[code]

Can you send me these two files?
[code]

[2017-05-30 03:49] henry0312 commented on #122
@guolinke How about trying `mean(feature_values)` in addtion to `min`, `0` and `max`?

[2017-05-30 04:27] guolinke commented on #562
@Laurae2 my result when set histogram_pool_size to 16384.

![image](https://cloud.githubusercontent.com/assets/16040950/26568099/44de239e-4533-11e7-93f0-d579b721cc28.png)

[2017-05-30 05:29] Laurae2 commented on #562
This is very similar to what I have. Did you try with CLI to check the RAM difference?

[2017-05-30 05:54] llmercury commented on #566
@guolinke
I'm not sure how to build and install with the administrator permission. Here is what I did.

I built it in Administrator Windows Powershell by:

cd LightGBM
mkdir build
cd build
cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DUSE_GPU=1 ..
cmake --build . --target ALL_BUILD --config Release

, and installed it from Anaconda Prompt (py35) by:

D:\PythonModules\LightGBM\python-package>python setup.

[2017-05-30 06:02] guolinke commented on #562
@Laurae2
CLI version:
![image](https://cloud.githubusercontent.com/assets/16040950/26570003/9830a5e6-4540-11e7-9a3f-e8a45f3ff199.png)

It seems R's version has about 15GB overhead.

[2017-05-30 06:08] Laurae2 commented on #562
With R, with my default script (the one with RDS), you have the sparse dataset 2 times while having the binary dataset. Original dataset is about 8GB, so it matches the 15GB difference you have.

[2017-05-30 06:27] guolinke commented on #562
@Laurae2
using following also cost about 24GB:
[code]

But it still cost 38GB even after I free all data:
[code]
Not sure how R manage its memories, But it seems have some problems.

[2017-05-30 06:36] guolinke commented on #562
BTW, The auc result is very low in this dataset. Did you check the feature ?
Though this data is very sparse, I find many rows are dense ...

[2017-05-30 06:37] Laurae2 commented on #562
@guolinke does free_raw_data actually takes the dataset and builds the binary dataset?

I think it goes like this:

1. Data original created
2. lgb.Dataset created
3. lgb.Dataset constructed, but original data is not removed (RAM usage different from here)
4. rm original data
5. lgb.train builds something from the lgb.Dataset (probably binary dataset) which makes it sit twice in memory

But not su

[2017-05-30 06:41] guolinke commented on #562
@Laurae2
After the dataset is built, the original data will be set to NULL : https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.Dataset.R#L255-L257 .
And there are not other reference to the this raw data.
And the original data is not used any more after ```consturct()``` .

[2017-05-30 06:41] Laurae2 commented on #562
AUC is very low intentionally (learning from 100-1000 elements per feature where there is about 1:100 signal (1) to noise (100) ratio), with nearly all best features removed (otherwise 0.9999+ AUC is meaningless to compare).

Objective is to check if it learns from 95% sparse noisy signals. Max AUC should be around 0.65.

[2017-05-30 07:22] Blackfish13 opened #567 "Error installing lightgbm R version on Ubuntu"
Hi,

I tried installing the R version of lightgbm on both windows and ubuntu, thinking it was a compiler issue on windows I switched to Ubuntu. When using the command devtools::install_github("Microsoft/LightGBM", subdir = "R-package") I get the following error message:
Can you please offer advice?
## Environment info
Operating System: Ubuntu 16.04 (Xenial)
CPU: I5-4460
C++/Python/R version: 3.4.0

[2017-05-30 07:50] guolinke commented on #567
@Blackfish13
The latest commit break the R package,  you can rollback to version ```2cca82834ff8b40ccf117a1929081aff325ba193``` to temporarily solve this.

[2017-05-30 08:03] Blackfish13 commented on #567
Thanks! How do I rollback to that version? Sorry, I'm new to github etc.

[2017-05-30 08:04] guolinke commented on #567
@Blackfish13
```git reset --hard 2cca82834ff8b40ccf117a1929081aff325ba193 ```

[2017-05-30 08:07] Blackfish13 commented on #567
Thank! I used devtools::install_github("Microsoft/LightGBM@2cca82834ff8b40ccf117a1929081aff325ba193", subdir = "R-package")

Mucho gracias

[2017-05-30 08:07] #567 closed

[2017-05-30 08:13] guolinke commented on #562
@Laurae2
I think there are some other problems in this dataset. I am trying to fix it .

[2017-05-30 09:41] guolinke commented on #566
@llmercury
I use the same commands, and it success..
Did you update/change the boost/opencl ?

[2017-05-30 10:45] guolinke commented on #122
@henry0312
It is not so easy to use ```mean```, since we don't store the original feature values in histogram-based algorithm.

[2017-05-30 13:37] guolinke commented on #566
@llmercury
can you try the latest code ? it fixes a potential problem.

[2017-05-30 16:56] hack-r commented on #127
It would be nice if we also had grid search in R. If you created those scripts for the .exe version maybe if you give a link to them it would help us write something similar for R.

[2017-05-30 17:11] Laurae2 commented on #127
@hack-r this is simple to setup in R:

[code]

Result:

[code]

[2017-05-30 17:51] hack-r commented on #127
@Laurae2 Awesooooome! Thanks!!

[2017-05-30 18:46] llmercury commented on #566
@guolinke
I tried the latest code. The same problem persists.

I did not update or change the boost and opencl.

I think the only thing I changed before installation was I repaired MSVS 2015 through 'Control Panel' - 'Uninstall or change a program'. That was for installing another module (not LightGBM) because when I did "cmake .. -G”Visual Studio 14 2015 Win64″  cmake could not find compiler. Any

[2017-05-31 00:49] guolinke commented on #566
@llmercury
I see.
from your log, you are using vs2017(msvc14.10). so you need to use ```msvc-14.1-64.exe``` for boost.

[2017-05-31 03:22] guolinke commented on #562
@Laurae2
After some investigates, I find this dataset strike the weakness (in sparse optimization) of LightGBM.
So, there are not other problems here.
And I think the speed result on this dataset will not be so good.

[2017-05-31 03:22] #562 closed

[2017-05-31 03:25] guolinke commented on #562
BTW, I think we can add a FAQ, for the users that meet the large memory consuming.

[2017-05-31 03:31] #566 closed

[2017-05-31 05:29] Laurae2 commented on #562
For the FAQ, yes.

About speed, in my quick tests it was 2x faster than xgboost, which was surprising. But I didn't test yet for AUC yet, and I will test only until depth 7 / 127 leaves due to RAM explosion.

Also, xgboost has crashes with binary dataset, while LightGBM doesn't. This dataset is a real toll on xgboost and LightGBM, probably one of the worst scenario for both of them.

[2017-05-31 11:33] BlindApe commented on #539
@guolinke @Laurae2 ,
Sorry (I was on travelling last days). I'll test this evening.

[2017-05-31 12:09] cbecker commented on #545
This was already merged in master, closing the issue.

[2017-05-31 12:09] #545 closed

[2017-05-31 12:10] cbecker opened #569 "Fix doxygen comments for prediction functions"
The doxygen comments for the prediction functions whose signature changed because of prediction early stopping is incorrect (e.g. https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/c_api.h#L644)

Solving this issue means fixing the respective docstrings.

[2017-05-31 21:35] hack-r opened #571 "R Package lgb.Dataset.construct() throwing api error: cannot open data file k"
This Issue had the same error but its resolution apparently doesn't apply - https://github.com/Microsoft/LightGBM/issues/219 . Please let me know if I should've made this a comment in that thread instead of opening it here.

## Environment info
Operating System: Windows Server 2008 R2
CPU: Intel
C++/Python/R version: R 3.3.1

## Error Message:
api error: cannot open data file k

## Reproducible ex

[2017-05-31 22:07] Laurae2 commented on #571
@hack-r can you try to reinstall LightGBM? It is working correctly here.

If you did not restart R, use `lgb.unloader(wipe = TRUE)` to kill `lightgbm` resources from R (you will have to redo `library(lightgbm)` to access LightGBM again. There are conflicts when you get an error and you do not reload lightgbm in R.

[code]

[2017-05-31 22:17] hack-r commented on #571
Thanks so much @Laurae2 . I did restart R before, but I didn't know about `lgb.unloader(wipe = TRUE)`. That did the trick.

[2017-05-31 22:23] #571 closed

[2017-06-01 05:58] wxchan commented on #331
NEWS: source codes released: http://lamda.nju.edu.cn/code_gcForest.ashx, last line

[2017-06-01 07:41] #569 closed

[2017-06-01 08:04] wxchan commented on #331
github repo: https://github.com/kingfengji/gcforest

[2017-06-01 10:57] abhishekkant opened #574 "R Session crashes everytime with LightGBM"
Hi

I am trying to use LightGBM - R Interface in my experiment using RStudio.

Each time I try to run the experiment, RSession crashes. I am not sure why's that happening.

## Environment info
Operating System: Windows 10 Pro -10.0.15063
CPU: Intel i5-6200 CPU with 2 cores; 4 Logical with HyperV
RAM: 8 GB
C++/Python/R version: R version 3.3.3 (2017-03-06)
LightGBM package Version: 0.1 (via package

[2017-06-01 16:04] guolinke opened #575 "[python] support `**kwargs` in python api"
I think we should support that, to avoid adding parameters to these apis every time we add new features.

@wxchan Can you help for this when you have time ?

[2017-06-01 16:33] guolinke commented on #574
@abhishekkant
can you reproduce by these demos?  https://github.com/Microsoft/LightGBM/tree/master/R-package/demo

[2017-06-01 16:34] #532 closed

[2017-06-01 16:36] wxchan commented on #575
ok, I will do it tomorrow.

[2017-06-01 17:10] Laurae2 commented on #389
@zhukunism on linux it depends too much on where you things are installed by the OS (or where you install them), I can't really make more detailed. The same rules from Windows applies on Linux, with a different file naming scheme:

![image](https://cloud.githubusercontent.com/assets/9083669/26691582/f913686c-46fd-11e7-9995-4391d156f05e.png)

[2017-06-01 17:11] Laurae2 commented on #542
@guolinke I'll retry with my 20 core server since it is available today. I will update here when I get new results: https://github.com/Laurae2/gbt_benchmarks/issues/1

[2017-06-01 18:16] abhishekkant commented on #574
I just tried the multiclass demo from the repo and it worked fine! No crashes!
Is it my data or config?

[2017-06-01 18:50] tonygrey opened #576 "System Freeze while installation"
My system freeze while I am executing make -j command in the installation commands. I have no issue in executing rest of the commands

[2017-06-01 22:57] llmercury commented on #566
Geez! The error persists after I used the msvc-14.1-64.exe! Still the same error. (Very smooth build but failed to import.) I cannot believe that! I'm totally out of ideas now. :(

[2017-06-02 02:11] guolinke commented on #566
I remember I also try vs2017 with boost, and it failed..
can you rollback to vs2015 and uninstall boost for 14.1?

[2017-06-02 04:31] lucidfrontier45 opened #578 "[Request] Register official wheel to PyPI"
It will be very useful if the wheel package is registered in PyPI.

After cmake and make, I tried to create the wheel package by the following command with anaconda python3.5.
[code]
I found the resulting wheel package works fine with both python3.5 and python3.6 (anaconda)

I only tried Ubuntu 16.04 but the same procedure should be valid for other platforms like Windows and Mac. I'd be glad if yo

[2017-06-02 04:53] areshand commented on #31
seems the parser is broken.  The default values in the tree file cannot be parsed. The tree I was trying to parse is
[code]

[2017-06-02 06:14] henry0312 commented on #578
related to https://github.com/Microsoft/LightGBM/issues/544

[2017-06-02 09:08] #575 closed

[2017-06-02 09:12] chivee commented on #576
Please remove -j or specific the thread number

[2017-06-02 14:37] NanqingD opened #579 "Segmentation fault (core dumped) on imbalanced binary classification"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Ubuntu 16.04 LTS
CPU:  Intel(R) Core(TM) i7-6800K CPU @ 3.40GHz
C++/Python/R version:
Python 2.7.12
numpy 1.12.1

## Error Message:
[Li

[2017-06-02 17:16] Laurae2 commented on #542
@guolinke Do you have any idea about these results? VS is very good when doing heavy multithreading, while MinGW is better for lower amount of threads.

i7-4600U, 4 threads:

| Algorithm | Time (s) |
| --- | ---: |
| v2.0 CLI (O3) | 645.962 |
| v2.0 R (O2) | 673.568 |
| master CLI (O3) | 588.445 |
| master R (O2) | 607.209 |
| Visual Studio | 615.863 |

Dual Xeon Ivy Bridge, 2.7GHz, 2x 10 cores:

[2017-06-02 17:35] BlindApe opened #580 "Changing only a variable of a dataset"
This would be very useful for obtain permutation based relative importance:

Computing the prediction over the original dataset and changing a variable with a random permutation of it is possible to estimate the effect of each variable.
Just now is necessary construct the lgb.dataset for each variable so is more costly.

Could be possible in future a method in lgb.dataset class to do this?

[2017-06-02 19:01] BlindApe opened #581 "Attributes aren't visible inside custom evaluation function in CV"
Attributes are a tricky method to define custom evaluation metrics (evaluation by groups, evaluation only in some interested subset...)

xgboost works fine with them but with lightgbm they aren't visible inside the custom metric.
I suspect this could be a problem with slice method.

In xgboost:
[code]

In lightgbm:
[code]

This is a code for test the problem:

[code]

[2017-06-03 03:49] kingfengji commented on #331
Hi there, I'm the 2nd author of gcForest.
I would like to appriciate your interests on this paper especially @Laurae2 @guolinke  @wxchan  and all of you for either re-implementation and discussions.

As @wxchan pointed out, the code has been released at [https://github.com/kingfengji/gcforest], I'm just a coding apprentice and definitely NOT a professional programmer like you guys, so any suggesti

[2017-06-03 06:00] guolinke commented on #579
@NanqingD
just run it successfully.
Can you try the latest code ?  (re-clone, rebuild dll, then re-install python package. )

[2017-06-03 06:15] guolinke commented on #574
@abhishekkant
can you provide more details ? e.g. crash log, which line cause crash ?

[2017-06-03 06:20] royshan opened #582 "Segmentation fault (core dumped)"
## Environment info
Operating System: Ubuntu 16.04
CPU: Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
C++/Python/R version: gcc 5.4.0

## Error Message:
Segmentation fault (core dumped)

## Reproducible examples
examples/binary_classification

## Steps to reproduce
1. git clone the current repository
2. follow the official installation procedure
3. go to examples/binary_classification and run 'lightgb

[2017-06-03 06:23] guolinke commented on #582
@royshan
which version you are using ?
the latest master branch ?

[2017-06-03 06:23] llmercury commented on #566
I uninstalled both vs2017 and vs2015 and reinstall vs2015 only. I used vs2015 and boost 14.0. Again, the build and installation were very smooth. During building 14 warnings appeared. Nevertheless, no errors. After installation I used 'conda list lightgbm' and showed lightgbm 0.2.

I added this line:
print(lib_path) before lib = ctypes.cdll.LoadLibrary(lib_path[0]) in the file D:\Program_Files\Ana

[2017-06-03 06:23] royshan commented on #582
yes, the latest master branch

[2017-06-03 06:29] #582 closed

[2017-06-03 06:33] royshan commented on #582
deep@ubuntu:~/LightGBM/examples/binary_classification$ ~/LightGBM/lightgbm config=train.conf
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Loading weights...
[LightGBM] [Info] Loading weights...
[LightGBM] [Info] Finished loading data in 0.102863 seconds
[LightGBM] [Info] Number of positive: 3716, number of negative: 3284
[LightGBM] [Info] Total Bins 6143
[LightGBM] [Info] Number

[2017-06-03 06:37] royshan commented on #582
@guolinke

thank you so much for the quick response. the fix works.

[2017-06-03 06:55] guolinke commented on #566
Can you run the example: https://github.com/Microsoft/LightGBM/tree/master/examples/binary_classification
by using the exe you build with GPU (locate at LightGBM/Release/lightgbm.exe) ?

[2017-06-03 07:20] chrisorm commented on #331
@kingfengji thanks for coming on here.

Has this paper passed peer review and been accepted to any journal?

As has been said before, stacking is not new and whilst you claim this is an alternative to deep nets, you don't actually provide any justification as to why this is the case. Why do you personally think this method is a step towards a new type of deep learning, as opposed to just an engine

[2017-06-03 07:25] guolinke commented on #566
@llmercury
Did you upgrade the windows 10 to the 15063.332 ?
I find the OpenCL.dll are missing after update.
It should have a "OpenCL.dll" in ```C:\Windows\System32``` .
It seems can be fixed after re-install nvidia driver.

[2017-06-03 07:48] abhishekkant commented on #574
The crash occurs on the line where we create the model with lgb.train command (line 43)...

I am not sure where I can find further logs.. I had reproduced the one from the event viewer in the main question..

[2017-06-03 08:19] kingfengji commented on #331
@chrisorm
Hi Chris. The paper has been accepted and will be presented at IJCAI-17. (See the paper link version 2 in the GitHub link I posted)
I'm not here to do  academic rebuttals... I just came across this page after I posted the code online and saw you guys put some efforts on re-implement the model, which I feel ,personally ,touched and  appreciated. Any issues related to the implementation is

[2017-06-03 11:17] BlindApe opened #583 "How are the bins built? (related with missing representation)"
Uniformly in range of variable? quantile based?

There are some issues relate to this:

- How an outlier impact in overall bins distribution?
- How a manual recoding of missing by an extreme value (like -99999) impact in the rest of bins?
- Assigning missing by -99999 is a guarantee that there is a bin with all the missings and only them?

I think the double learning strategy of missing value in x

[2017-06-03 11:20] guolinke commented on #583
@BlindApe
Don't worry. The bin is built based on frequency. So a very big or small value doesn't have effect.
And actually, the missing values don't be used in bin building.

[2017-06-03 11:20] #583 closed

[2017-06-03 11:22] Laurae2 commented on #583
@BlindApe Outliers have no impact on binning (frequency based).

For the missing values double sided, they are important. See metric impact on 90%+ sparse dataset: https://github.com/Laurae2/gbt_benchmarks/issues/1#issuecomment-304289438

[2017-06-03 11:24] Laurae2 commented on #542
@guolinke I found this saying using Visual Studio DLL cannot work with C++ code:

http://r.789695.n4.nabble.com/RStudio-Calling-C-Visual-Studio-DLL-td4703642.html

It requires a C wrapper apparently.

[2017-06-03 11:31] guolinke commented on #542
@Laurae2 I think all expose apis are c api. So it can be used.

For the DLL in R packages, I think the VS version can be normally used. The only problem is how to put it into R package correctly, without the error of "cannot  find lightgbm.dll" .

Another possible solution is solving the multi-threading problem in MinGW.

[2017-06-03 11:46] Laurae2 commented on #542
@guolinke I think you have to put the dll in `R-package/inst/<my_dll.dll>` otherwise it will get removed on install.

Using https://stat.ethz.ch/R-manual/R-devel/library/base/html/library.dynam.html on library load can load the DLL.

[2017-06-03 12:03] BlindApe commented on #583
@Laurae2 Thank you, seems it had a big impact.
But after read #516 I don't understand how use the new missing representation.
The key seems to manually recoding true zero to an small enough value, like 0.000001, but greater than
abs(value) > 1e-20f?
So all values that abs(value) < 1e-20f are considered missing and double tested for split on right and left. Lightgbm selects for which variables send

[2017-06-03 12:07] Laurae2 commented on #583
@BlindApe

Missing value for `value` is when `abs(value) < 1e-20`.

This one shows larger impact when using all data: https://github.com/Microsoft/LightGBM/pull/516#issuecomment-304543792

[2017-06-03 12:14] Laurae2 commented on #542
I think the tip from here might help: http://lists.r-forge.r-project.org/pipermail/rcpp-devel/2011-April/002207.html

The lib file was apparently linked without anything extra required:

[code]

[2017-06-03 12:19] guolinke commented on #583
@BlindApe you also can use NA to represent the missing value in R -python package.

[2017-06-03 12:45] BlindApe commented on #583
@guolinke , but using NA, true zero are treated as missing too. If I've understood well, I will need to change 0 with 0.00001 if I want a different representation for zero and missings.

[2017-06-03 14:07] NanqingD commented on #579
@guolinke
It works now after reinstall it.

However, I installed it two days ago and it didn't work for same code. Interesting.

[2017-06-03 14:09] guolinke commented on #579
@NanqingD
Not the bug. It is because your dataset didn't meet the min split rule (min_child_weight=2).

[2017-06-03 14:09] #579 closed

[2017-06-03 14:49] guolinke commented on #542
@Laurae2
Thanks for the info.

I just try a small experiment.

I build R's dll by the branch ```r-withvs```, and use the built dll to replace the ```lightgbm.dll``` in ```C:\Users\xxx\Documents\R\win-library\3.4\lightgbm\libs\x64``` .
Then a run some R's demos, it runs smoothly. This proves the dll built by VS can be used.

The only problem is how to put our pre-compiled DLL into R-package when bu

[2017-06-03 15:54] guolinke commented on #542
finally, I find a solution from https://cran.r-project.org/doc/manuals/r-release/R-exts.html
[code]

And build the package successfully with the pre-compile dll.

[2017-06-04 00:11] royshan opened #586 "Error: No OpenCL Device Found"
I tried to enable GPU support, but ran into an error.

## Environment info
Operating System: Ubuntu 16.04
CPU: Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
C++/Python/R version: gcc 5.4.0
GPU: Nvidia Titan X

## Error Message:
/home/deep/LightGBM/lightgbm: /usr/local/cuda/lib64/libOpenCL.so.1: no version information available (required by /home/deep/LightGBM/lightgbm)
/home/deep/LightGBM/lightgbm: /u

[2017-06-04 00:50] guicunbin opened #587 "class lightgbm.Booster : gbm.eval don't have a parameter like gbm.best_iteration"
gbm  is a lightgbm.Booster
gbm.predict   has  a   parameter:  　gbm.best_iteration
but  why  gbm.eval_train  and  gbm.eval_valid   don't  have  this parameter,
this  is a  problem to eval   my  gbm  model.

[2017-06-04 07:02] llmercury commented on #566
@guolinke
Indeed, re-installing nvidia driver solved it! No more import error! Awesome diagnosis. Thanks a lot!

[2017-06-04 08:13] Laurae2 commented on #583
@BlindApe I don't think this will change much, 0s must be one side or another in any case (they would end up in the best scenario this way). In most cases, 0s have a special signification ("absence" of something), this is true in sparse formats like xgboost/LightGBM uses.

[2017-06-04 08:15] Laurae2 commented on #587
Why is it a problem? You can do this, for instance on binary logloss:

[code]

[2017-06-04 08:18] Laurae2 commented on #581
@BlindApe there are issues currently with the `slice` method in LightGBM for attributes.

Related: https://github.com/Microsoft/LightGBM/issues/390

I wonder if there is a proper way to replicate attributes properly when slicing a `lgb.Dataset`.

[2017-06-04 08:20] Laurae2 commented on #580
@BlindApe I think this is not possible due to how LightGBM binary datasets are constructed. This is the same for xgboost.

[2017-06-04 08:24] Laurae2 commented on #539
@BlindApe Warning added in https://github.com/Microsoft/LightGBM/pull/555

[2017-06-04 08:33] guicunbin commented on #587
@Laurae2       thank  you,   I solved  it ,  I can use this:
      ***  eval_valid =   gbm.eval( gbm.predict(lgb_Dataset.data,  gbm.best_iteration) )  ***
but  I  think  if  there  is  a  parameter  like  gbm.best_iteration  in  gbm.eval_valid() ,    it  will  more easily !

[2017-06-04 08:35] Laurae2 commented on #587
@wxchan "but I think if there is a parameter like gbm.best_iteration in gbm.eval_valid() , it will more easily !" ?

[2017-06-04 10:21] BlindApe commented on #580
@Laurae2 I guessed the problem would be the same. Really would be nice for both xgboost and lightgbm this feature, not only for relative importance but for marginal plots and other applications.
I hope in future other tools have a binary compressed data representation that let change a column without computing all the object.

[2017-06-04 12:07] BlindApe commented on #581
Seems the same logic used in xgboost works:
`require(data.table)
require(Matrix)
require(lightgbm)

slice.lgb.Dataset <- function(dataset, idxset, ...) {

  ret <- dataset$slice(idxset, ...)
  attr_list <- attributes(dataset)
  nr <- nrow(dataset)
  len <- sapply(attr_list, length)
  ind <- which(len == nr)
  if (length(ind) > 0) {
    nms <- names(attr_list)[ind]
    for (i in 1:length(ind)) {

[2017-06-04 12:34] wxchan commented on #587
I think eval_train() and eval_valid() is only used for eval current iteration during training.

[2017-06-04 13:38] Laurae2 commented on #581
@BlindApe you can make a PR to add it to LightGBM 📦 👍

@guolinke What do you think about that slice method from @BlindApe ?

[2017-06-04 16:14] guicunbin commented on #587
I use  gbm.best_iteration to predict   X_test,
So meanwhile  I  need  to  use  gbm.best_iteration  to  eval_train()  and  eval_valid()  to eval  my  model .
so  I think eval_train()  and eval_valid()  need  this  parameter  to  keep pace with  gbm.predict(X_test,  gbm.best_iteration).

[2017-06-04 17:47] frankherfert opened #588 "Slow down learning rate during training"
It would be great to have a feature that slows down the learning rate after the eval metric hasn't improved for a set number of rounds or after specified intervals.

I have [seen](https://keras.io/callbacks/#reducelronplateau) this feature in a few neural network implementations where is works well.

As an example, let's say I can get a logloss of 0.5 with a 0.1 learning rate which takes 1000 trai

[2017-06-04 17:50] Laurae2 commented on #588
@frankherfert Use a custom callback to modify parameters while learning, example: https://github.com/Microsoft/LightGBM/issues/129

[2017-06-04 17:52] frankherfert commented on #588
This looks exactly like what I need, thank you for the quick reply!

[2017-06-04 17:52] #588 closed

[2017-06-05 09:52] bushmanov commented on #389
Successfully build LightGBM with GPU support on Ubuntu 16.04 and installed a Python version. Able to run in python with `device="gpu"`.

As far as R version is concerned, which is installed by further running `./unix_build_package.sh` and installing resulting `lightgbm_0.1.tar.gz` package, it runs successfully on `cpu`, but crashes as soon as I insert `device="gpu"`.

I would really appreciate a c

[2017-06-05 10:01] miguelgfierro opened #590 "Odd behavior in multithreading with python"
## Environment info
Operating System: Ubuntu kernel: 4.4.0-78-generic
CPU:
C++/Python/R version: GCC 4.4.7, python 3.5.2

## Error Message:
When using the sklean API in python (in a notebook) and leaving nthreads to the default value, -1, the system doesn't use all the processors. If you define nthreads=20, it runs correctly, then in you define nthreads=-1 it runs correctly again. It looks there i

[2017-06-05 10:24] guolinke commented on #590
@miguelgfierro
When set ```num_thread=-1```, actually, it is ignored. So it the ```num_thread``` is still 20 after the second time set it to ```-1```.
And the default value of ```num_thread``` is set by openmp. So its values vary according to compiler and platform. But its expect value should be the max num_threads of current platform.

[2017-06-05 10:32] guolinke commented on #389
@bushmanov
I am working for the easier install method for R package in this PR: https://github.com/Microsoft/LightGBM/pull/584 .
Welcome to try.
For the GPU support, you need to set ```use_gpu <- TRUE``` in ```R-package/src/install.libs.R``` .

[2017-06-05 12:07] guolinke commented on #581
@BlindApe @Laurae2
Sure, welcome to create the PR.

@Laurae2  BTW, is the slice according to group_id still hard ? we already fix it in python-package ?

[2017-06-05 12:10] Laurae2 commented on #581
@guolinke we need to recreate group ids when slicing.

Currently, group ids are per observation or the number of consecutive observations? (last time I tried I used consecutive observations, and had issues).

[2017-06-05 12:21] Laurae2 opened #591 "@bushmanov 's GPU issue (crash on OpenCL kernel compile)"
Reference: https://github.com/Microsoft/LightGBM/pull/584#issuecomment-306174083 (to declutter the thread)

@bushmanov @guolinke @huanzhang12

Does it work on CLI?

[2017-06-05 12:28] guolinke commented on #581
@Laurae2
Yeah, you can create an temporary group id (https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/engine.py#L241-L242) to preform split.

[2017-06-05 12:57] #157 closed

[2017-06-05 13:00] bushmanov commented on #591
When I compare the @guolinke R build to "normal" explicit build via  `cmake/make` I see that in R build's  `lightgbm` is missing at the root. When I copy it from another build and execute:

`$./lightgbm config=train.conf device=gpu`

the command completes successfully:

[code]
and so on...

[2017-06-05 13:45] Laurae2 opened #594 "LightGBM R installation breaking whole R installation"
I am wondering if the R installation is hitting other files in the R folder.

After trying several installations, I am now getting always this error:

[code]

Tried with different packages, same issue. I also tried on another computer (just a simple installation from scratch), just trying to install it broke the whole R installation (cannot install any package anymore).

![image](https://cloud.git

[2017-06-05 13:51] guolinke commented on #594
@Laurae2
It seems is the cache problem.
can you try to restart the r session, then install other packages?

[2017-06-05 13:53] Laurae2 commented on #594
@guolinke I wiped all temp folders and tried to install other packages, it always get this error now.

[2017-06-05 14:00] Laurae2 commented on #594
Reproduced on a fresh machine:

![image](https://cloud.githubusercontent.com/assets/9083669/26786718/cf4cc232-4a07-11e7-938c-64b410ceb896.png)

It seems the LightGBM installation script is not letting anything run anymore when it gives an error (what is weird is I'm not seeing the folder lock in the R installation, which should appear when a package installation happens).

[2017-06-05 14:04] #591 closed

[2017-06-05 14:07] guolinke commented on #594
@cbecker
I just try it on a windows, and I can install other packages after install lightgbm

[2017-06-05 14:11] guolinke commented on #594
@Laurae2
Oh sorry, i just reproduce it.

[2017-06-05 14:13] guolinke commented on #594
@Laurae2 It seems is a bug of R in windows:

https://stackoverflow.com/questions/44054022/installing-package-is-failing-with-error-in-if-file-existsdest-file-mtime

Can you try on the ubuntu ?

[2017-06-05 14:44] Laurae2 commented on #594
@guolinke Works correctly in Ubuntu.

I tried R-patched and can't reproduce the error.

Current solutions:

* Switch to R-patched
* Reinstall R (you can keep library folder, not a problem)
* Turn off computer, then turn it on (for some reason, "restart" sometimes keeps the issue - maybe due to Windows' Fast Boot)

[2017-06-05 14:44] #594 closed

[2017-06-05 15:37] royshan commented on #586
does anyone know how to fix it? thanks!

[2017-06-05 21:28] Laurae2 commented on #574
@abhishekkant Can you provide a more simpler example? (one example we can directly run from an interactive R console without having to download stuff beforehand)

[2017-06-05 21:28] Laurae2 commented on #581
Will try to work on it, probably next weekend unless someone does it before me.

[2017-06-06 00:59] guolinke commented on #542
close since we can build R package by visual studio.

[2017-06-06 00:59] #542 closed

[2017-06-06 00:59] #576 closed

[2017-06-06 01:00] guolinke commented on #586
from this:
[code]

it seems there are some errors related to the OpenCL installation.

[2017-06-06 01:02] #586 closed

[2017-06-06 05:55] henry0312 opened #595 "[Request] Slack team"
We can create a [Slack](https://slack.com/) team (also can use 'lightgbm' as team name), where users can freel free to ask how to use, tuning and contirube.

[2017-06-06 06:45] BigFishMaster opened #596 "Input feature size check needed"
Test feature size differs from that of training will cause "Segmentation Fault"

## Environment info
Python

## Error Message:
segmentation fault

[2017-06-06 09:31] hlee13 opened #597 "tiny logic bug? branch v2.0 run on iris dataset"
## Environment info

## Error Message:
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Fatal] No usable features in data file iris.train
Met Exceptions:
No usable features in data file

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-06-06 09:33] guolinke commented on #597
@hlee13
paramaters ?
iris dataset is very small, you can try to set ```min_data=1``` .

[2017-06-06 09:33] #597 closed

[2017-06-06 10:09] hlee13 commented on #597
thanks

[2017-06-07 06:40] hlee13 opened #599 "Parallel Learning: every machine will generate a model file"
Every machine will generate a model file，model files are different，which model file should be used。
## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-06-07 06:49] chivee commented on #599
do you enable the parallel training option ? and what's your option?

https://github.com/Microsoft/LightGBM/wiki/Parallel-Learning-Guide

[2017-06-07 06:51] guolinke commented on #599
@hlee13
The model files in different machine should be the same. you can use any of them.

[2017-06-07 06:51] #599 closed

[2017-06-07 07:10] hlee13 opened #600 "tag v2.0, application blocked while tree_learner is data"
## Environment info
Operating System: linux
CPU:
C++/Python/R version:

but application run ok while tree_learner is feature

## Error Message:
pstack ${process_id}, info below:
Thread 2 (Thread 0x7f6c8e9c4700 (LWP 32881)):
#0  0x00007f6d7c40eb32 in gomp_barrier_wait_end () from /usr/local/gcc/lib64/libgomp.so.1
#1  0x00007f6d7c40d36e in gomp_thread_start () from /usr/local/gcc/lib64/libgomp.so.1

[2017-06-07 07:19] guolinke commented on #600
@hlee13 Do you have error message of rank_1 ?

[2017-06-07 07:24] guolinke commented on #600
BTW, you may need to delete ```data.train.bin``` and ```data.validate.bin``` in all machines, then set ```save_binary=false``` and run it again.

[2017-06-07 07:25] hlee13 commented on #600
no error message, just 2 machines pending on Started training...，stack below:
pstack ${process_id}, info below:
Thread 2 (Thread 0x7f6c8e9c4700 (LWP 32881)):
#0 0x00007f6d7c40eb32 in gomp_barrier_wait_end () from /usr/local/gcc/lib64/libgomp.so.1
#1 0x00007f6d7c40d36e in gomp_thread_start () from /usr/local/gcc/lib64/libgomp.so.1
#2 0x00000037be407a51 in start_thread () from /lib64/libpthread.so.0

[2017-06-07 07:27] chivee commented on #600
@hlee13 , clean all the cache data in your working folder ( data.bin/ tree files), and try feature first.

data require you split your data into different slices.

[2017-06-07 07:29] guolinke commented on #600
@hlee13
Did two machines both output following log (exact the same? )?
[code]

[2017-06-07 07:33] hlee13 commented on #600
all things work well, while tree_learner is feature.

[2017-06-07 07:34] hlee13 commented on #600
## machine0 output
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Trying to bind port 12400...
[LightGBM] [Info] Binding port 12400 succeeded
[LightGBM] [Info] Listening...
[LightGBM] [Warning] Connecting to rank 1 failed, waiting for 10000 milliseconds
[LightGBM] [Info] Connected to rank 1
[LightGBM] [Info] Local rank: 0, total number of machines: 2
[LightGBM] [Info] Finished ini

[2017-06-07 07:40] hlee13 commented on #600
@chivee different slices, should be randomly split original file into two slices, then distribute them respectively. slice0 -> machine0, slice1 -> machine1 ?

[2017-06-07 07:43] guolinke commented on #600
@hlee13
1. if you pre-partition data, you need to set ```is_pre_partition=true```.
2. you also can put full data on all machines, and set ```is_pre_partition=false``` (default is false) .

[code]

**Did you try cleaning the ```data.train.bin``` and ```data.validate.bin``` ?**

[2017-06-07 07:55] hlee13 commented on #600
@guolinke  now I config is_pre_partition=false（default），and put full data on all machines。cleaning the data.train.bin and data.validate.bin,  save_binary=false

still does not work。

I am not sure it will work well. while is_pre_partition= true, and different machines using different partition.

[2017-06-07 08:11] hlee13 commented on #600
may application block on kernel call sk_stream_wait_memory，kernel socket buffer full. my full data about 100G

send() call sk_stream_wait_memory

Thread 1 (Thread 0x7f6d7c1ec780 (LWP 32804)):
#0 0x00000037be40ed5c in send () from /lib64/libpthread.so.0
#1 0x00000000004adcec in LightGBM::Network::ReduceScatter(char*, int, int const*, int const*, char*, std::function<void ()(char const*, char*, int)

[2017-06-07 08:13] guolinke commented on #600
@hlee13  I add some debug output in branch ```parallel-debug```, can you try on it, and provide the running logs on all the two machines ?

[2017-06-07 08:17] guolinke commented on #600
The communication size of that "send" is about ```881,150 bytes```, it will exceed the buffer size?

[2017-06-07 08:35] hlee13 commented on #600
## machine0 output
[LightGBM] [Info] send to rank 1 with len 8
[LightGBM] [Info] recv from rank 1 with len 8
[LightGBM] [Info] send to rank 1 with len 4
[LightGBM] [Info] recv from rank 1 with len 4
[LightGBM] [Info] send to rank 1 with len 4
[LightGBM] [Info] recv from rank 1 with len 4
[LightGBM] [Info] send to rank 1 with len 4
[LightGBM] [Info] recv from rank 1 with len 4
[LightGBM] [Info] sen

[2017-06-07 08:36] hlee13 commented on #600
@guolinke  could you mock 100G dataset, to debug this error, the problem gradually clear

[2017-06-07 08:40] guolinke commented on #600
@hlee13 From the output log, all the logic are correct.
I think the problem is the default size of network stack is too small.
I just reduce the setting of socket buffer in ```parallel-debug``` branch, you can try it again.

Or you can edit the ```net.core.wmem_max``` and ```net.core.rmem_max``` to a bigger value.

[2017-06-07 08:48] guolinke commented on #600
you can change it at : https://github.com/Microsoft/LightGBM/blob/master/src/network/socket_wrapper.hpp#L84

I just reduce it to 100k on ```master``` branch.

[2017-06-07 08:51] #600 closed

[2017-06-07 08:53] #596 closed

[2017-06-07 08:54] hlee13 commented on #600
@guolinke
## machine1 output

[LightGBM] [Info] Finished loading parameters
[LightGBM] [Fatal] Check failed: setsockopt(sockfd_, IPPROTO_TCP, TCP_NODELAY, reinterpret_cast<const char*>(&SocketConfig::kNoDelay), sizeof(SocketConfig::kNoDelay)) == 0 at /home/xiaoju/user/lihan/LightGBM/src/network/socket_wrapper.hpp, line 124
...

[2017-06-07 09:07] guolinke commented on #600
@hlee13 just change it to warning in master branch.

[2017-06-07 10:07] hlee13 opened #602 "parallel training, every machine has a different LightGBM_model.txt"
As title described, which I should use

## config item

#machine0
is_pre_partition = true
tree_learner = data
data = data.train.partition.0

output LightGBM_model.txt: f6c9af2b4026558d0931c95faba70a6e  data_model.txt

#machine1
is_pre_partition = true
tree_learner = data
data = data.train.partition.1
output LightGBM_model.txt: c2591e79db202b639b89e7ddfafd5fb2  data_model.txt

# two model file only

[2017-06-07 10:18] guolinke commented on #602
temporary solution: set ```boost_from_average=false``` .
I will fix it soon.

[2017-06-07 10:20] hlee13 commented on #602
@guolinke , can directly give me a patch now .

[2017-06-07 10:20] hlee13 commented on #602
temporary solution: set boost_from_average=false .
=======
@guolinke  Is this a trick?

[2017-06-07 10:31] guolinke commented on #602
@hlee13 it is a parameter.

[2017-06-07 10:31] #602 closed

[2017-06-07 10:53] hlee13 commented on #602
got it

[2017-06-07 13:29] dyllanwli opened #603 "Can not install LightGBM on macOS"
I have tried
Official Installation Guide by Microsoft
anaconda installation: conda install -c derickl lightgbm=20170422
and this website: https://aichamp.wordpress.com/2017/02/07/my-experiment-using-lightgbm-microsoft-from-scratch-at-osx/
Even though each output is the same as the website guide
But I still can not install LightGBM

Here is my environment info:
macOS 10.12.5
cmake version 3.8.2
App

[2017-06-07 13:30] dyllanwli commented on #603
Python version: 3.6

[2017-06-07 13:30] guolinke commented on #603
any logs ?

[2017-06-07 13:35] dyllanwli commented on #603
logs is the same as the blog( https://aichamp.wordpress.com/2017/02/07/my-experiment-using-lightgbm-microsoft-from-scratch-at-osx/)

[2017-06-07 13:38] guolinke commented on #603
So, how did you know it install fail ? It doesn't have any errors from the logs in that website.

[2017-06-07 13:41] guolinke commented on #603
@dyllanwli BTW, the guide of that website seems is not correct.
It miss the installation of python package : https://github.com/Microsoft/LightGBM/tree/master/python-package#installation