[2021-01-18 05:11] jameslamb commented on #3780
Adding this to #2302 with other feature requests. Anyone is welcome to contribute this! Leave a comment if you'd like to contribute this and the issue can be re-opened.

[2021-01-18 05:11] #3780 closed

[2021-01-18 06:32] ninenerd opened #3781 "Lighgbm model performace on old data after retraining on new data using 'init_model'"
I have divided my data into 2 parts.

Train model on **part1** data and save the file.
Reload the saved model and resume training using init_model and on new data **part2**.

Now that I am checking new model results on part1 data and accuracy has decreased a bit.
Is it expected to lose accuracy on old data after retraining.

Any changes that I can do here ?

Edit : Also when I am fitting new data

[2021-01-18 09:46] ctwangtz commented on #3624
Your grid contains values for max_bins that are > 255 while they are supposed to be lower than 255 (255 is the max possible value). For these instances, fitting will fail and result in a nan score. FROM SKLEARN
前几天在sklearn那提问得到的回复，不知道能否适用

[2021-01-18 10:51] tarunreddy1018 commented on #3751
@AlbertoEAF Hi, I have tried with the ```LGBM_BoosterPredictForMatSingleRowFast``` where I used a seperate vector for each call. Instead of using the same vector in ```predict_buf_``` for all calls. This made sure that my predictions were consistent and correct.

And also by doing so, the performance is really great for us. And also creating one extra vector for each call did not had much memory o

[2021-01-18 12:31] AlbertoEAF commented on #3751
Hello @tarunreddy1018,

First of all, interesting that you only need a new `predict_buf_` and can share everything else, that might be useful :)

But did you try using the regular implementation with the lock and without setting `num_threads=1`?

I ask this because we might have different "optimal" implementations & use cases. For instance, if the model is not trivially simple, unless I'm mistaken

[2021-01-18 12:32] StrikerRUS commented on #3781
It highly depends on your data.  You cannot expect the continued training will always improve performance on a fixed validation set.

Using `init_model` only means that your training on **new** data will start from `init_model`'s predictions.
So,

you should provide **any parameters** that you think will help to describe your **new** data best. It is not necessary that best params = old ones.

[2021-01-18 12:32] #3781 closed

[2021-01-18 12:36] StrikerRUS commented on #3747
I think if you sure that your **new** data has the **same statistics** as your previous one, than it is not necessary to re-train old preprocessing models. For example, if max and min values of new data hasn't changed than you don't need to create new min-max scaler for this dataset.

[2021-01-18 12:41] ninenerd commented on #3781
[code]
To counter the param issue, I have done HPT for new model as well.
Is this correct ?

[2021-01-18 12:44] #3319 closed

[2021-01-18 12:50] JoanFM commented on #3751
I agree with @AlbertoEAF I think these new predict functions are suited to have multiple predictions with different threads, while OpenMP tries to have one prediction with multiple threads.

Maybe these 2 distinctions can be made when choosing the predict function to use, but the mantainance overhead may be a little too much

[2021-01-18 13:41] StrikerRUS commented on #3781
Yep.

[2021-01-18 13:50] StrikerRUS opened #3782 "[dask] Support more operating systems"
## Summary

The Dask interface in https://github.com/microsoft/LightGBM/blob/706f2af7badc26f6ec68729469ec6ec79a66d802/python-package/lightgbm/dask.py currently only supports Linux OS.

It should support other operating systems that are supported by LightGBM itself (macOS and Windows) as well.

## Motivation

Adding this feature would allow users to use lightgbm.dask on their favorite OS.

## Descr

[2021-01-18 13:51] StrikerRUS commented on #3782
Closing this, as we use #2302 to track feature requests. Leave a comment below if you'd like to contribute this feature, and we'll be happy to re-open it!

[2021-01-18 13:51] #3782 closed

[2021-01-18 15:24] tarunreddy1018 commented on #3751
@AlbertoEAF yes, agree with that. Probably In my use case having ```num_threads=1``` worked well and it looks like my code is changed in favour to that where I am removing the possibility to parallelize individual predictions with openmp which might not be ideal for other case scenario and might not be general and be inclined to a specific case if we make the change.

[2021-01-19 02:08] #3765 closed

[2021-01-19 05:08] jameslamb commented on #3714
I'm going to open this because I'm actively working on it.

<hr>

@guolinke could tell me more about this note in the parameter docs for `num_threads`?

https://lightgbm.readthedocs.io/en/latest/Parameters.html#num_threads

I'm wondering if this means that I should change the default behavior of the Dask module to use `n_cores - 1` threads on each worker for this parameter.

[2021-01-19 07:48] ucasiggcas opened #3790 "[Question]how to deal with the multi-values in one feature?"
hi,dear all,
In a feature, I have many values,such as the samples down,

index, feature
1,[pretty,good]
2,[prefect,pretty]
3,[good,wonderful]
4,[pretty,good,wonderful]
5,[perfect,wonderful]

So how to address the problem?
thx

[2021-01-19 07:49] zhumengzhu opened #3791 "Release v3.1.1 for java"
## Summary
Generate SWIG Java wrappers for the latest version 3.1.1 and deploy the jar file into the maven central.

## Motivation
The LightGBM has already support Java via swig, but the latest java release is still 2.3.180:
https://repo.maven.apache.org/maven2/com/microsoft/ml/lightgbm/lightgbmlib/

Sine the 2.3.1 version was first released on Nov 28, 2019, there are a lot updates includes many p

[2021-01-19 07:59] szilard commented on #3765
Thanks @jameslamb for fix. I changed the Dockerfile in my repo GBM-perf to take advantage of this fix (replaced the `sed` hack with flags to the build script): https://github.com/szilard/GBM-perf/commit/3b56bf0b474edd5dcf8039c9ddd86cddb9c1d845 Thanks.

[2021-01-19 13:52] StrikerRUS commented on #3765
@szilard I'm afraid you have a typo (duplicated `=` sign) in the commit you've linked:
[code]
Quite strange that even with typo compilation succeed.

[2021-01-19 13:59] szilard commented on #3765
Thanks @StrikerRUS , I fixed it now. Yeah, strange indeed it was compiling with the `==` as well.

[2021-01-19 14:00] szilard commented on #3765
Thanks @StrikerRUS , I fixed it now. Yeah, strange indeed it was compiling with the `==` as well.

[2021-01-19 14:22] StrikerRUS commented on #3791
@zhumengzhu Hi! Thanks for pointing to this issue.

For the first part of the issue, namely

we already have SWIG JAVA wrappers uploaded to LightGBM Release page at GitHub. You can find them [here](https://github.com/microsoft/LightGBM/releases/tag/v3.1.1) (`lightgbmlib_linux.jar`, `lightgbmlib_macos.jar`, `lightgbmlib_win.jar`).

For the second part

I'd like to ask you to post this issue in the

[2021-01-19 14:22] #3791 closed

[2021-01-19 15:05] #3716 closed

[2021-01-19 21:19] jameslamb opened #3792 "[dask] support 'pred_leaf' in predict()"
## Summary

See https://github.com/microsoft/LightGBM/pull/3774#issuecomment-763136825 for background.

To close this issue, add tests to https://github.com/microsoft/LightGBM/blob/master/tests/python_package_test/test_dask.py confirming that `.predict(X, pred_leaf=True)` works for `DaskLGBMClassifier` and `DaskLGBMRegressor` .

## Motivation

Adding this feature would allow users to understand wh

[2021-01-19 21:20] jameslamb commented on #3792
Closing this in favor of #2302, where we store all feature requests. Anyone is welcome to contribute this feature. Leave a comment on this issue if you'd like to work on it.

[2021-01-19 21:20] #3792 closed

[2021-01-19 21:22] jameslamb opened #3793 "[dask] support 'raw_score' in predict()"
## Summary

See https://github.com/microsoft/LightGBM/pull/3774#issuecomment-763136825 for background.

To close this issue, add tests to https://github.com/microsoft/LightGBM/blob/master/tests/python_package_test/test_dask.py confirming that `.predict(X, raw_score=True)` works for `DaskLGBMClassifier` and `DaskLGBMRegressor` . For `DaskLGBMClassifier`, this should work with both `.predict()` and

[2021-01-19 21:22] jameslamb commented on #3793
Closing this in favor of #2302, where we store all feature requests. Anyone is welcome to contribute this feature. Leave a comment on this issue if you'd like to work on it.

[2021-01-19 21:55] dmh43 commented on #3760
I will just use `np.arange(n)` to emulate the above to finite precision.

[2021-01-19 21:55] #3760 closed

[2021-01-20 02:08] youwei2567 opened #3794 "self defined fair loss, then failed!"
I try to use a customed loss, then I built one the same as fair loss. However the loss exploded,

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 1.046216 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 376596
[LightGBM] [Info] Number of data points in the train set: 72912, number of used features: 1485
[Light

[2021-01-20 02:12] youwei2567 commented on #3794
is anything wrong in my self defined loss code? or is there anything i didnt notice in preprocess when using a self defined loss?

[2021-01-20 03:14] youwei2567 commented on #3794
Checked!
Found that there is a slight difference in these two logs, "init_score".
Then I checked

-  params descriptor html 'https://github.com/microsoft/LightGBM/blob/master/docs/Parameters.rst'
-  same problems in  issue 3532 'https://github.com/microsoft/LightGBM/issues/3532#issuecomment-723714067'

Its the reason that why my custom fair loss got loss explosion while builtin fair loss didnt.

T

[2021-01-20 03:29] youwei2567 commented on #3794
Checked Again！
I found another same issue 3312 'https://github.com/microsoft/LightGBM/issues/3312#issuecomment-674955643' mentioned this question!
Then I'll  check whether I can reproduce the init score step.

[2021-01-20 06:06] youwei2567 commented on #3794
Checked Againnnnn!

when build the dataset, we add step of init_score as follow:

`def init_score(y):
    return y - np.mean(y)

from sklearn.model_selection import train_test_split
import lightgbm as lgb
X_train, X_eval, y_train, y_eval = train_test_split(first_half, first_half_label[:, 2], test_size=0.2, random_state=0)
lgb_train = lgb.Dataset(X_train, init_score(y_train), free_raw_data=False)
l

[2021-01-20 06:11] #3794 closed

[2021-01-20 06:51] jameslamb opened #3795 "[dask] use dictionaries instead of tuples for parts in Dask training"
## Summary

The Dask interface allows you to train a LightGBM model on data stored in a Dask Array or Dask DataFrame. As part of this, it zips together corresponding chunks into something called "parts". So for example, if the training data are like this:

* `X`: a Dask DataFrame with data for features
* `y`: a Dask Array with labels

Then that interface might zip together the chunk of `X` with th

[2021-01-20 06:56] jameslamb opened #3796 "[dask] remove testing dependency on dask-ml"
## Summary

See https://github.com/microsoft/LightGBM/pull/3708#discussion_r558573080. LightGBM's tests currently rely on installing `dask-ml`, but only for a few lightweight metrics functions.

`dask-ml` should be factored out of the tests and CI scripts.

## Motivation

This would reduce the risk of dependency conflicts in CI setup and speed up builds a bit.

## References

@ffineis originally d

[2021-01-20 16:08] StrikerRUS commented on #3790
Closing as unrelated to LightGBM. Please ask such questions on StackOverflow or similar resources.

You, for example, can split these lists into separate features(columns).
Or maybe try using word/sentence embeddings to encode the whole list of words at once.

[2021-01-20 16:08] #3790 closed

[2021-01-20 16:35] StrikerRUS commented on #3714
@jameslamb

Just want to make sure you're aware of that `nthreads` can/should be used among additional params for `predict` methods as well as for model training.

Here are two examples where users are not happy with the default values:

https://github.com/microsoft/LightGBM/issues/1534#issuecomment-406485465
https://github.com/microsoft/LightGBM/issues/2225#issuecomment-501220332

[2021-01-20 17:21] #3671 closed

[2021-01-20 19:10] szilard opened #3797 "[dask] DaskLGBMClassifier very slow and not using CPU"
Using @jameslamb 's Dockerfile to set up dask+lightgbm:

[code]

Then run this code:

[code]

It runs very slowly (>30minutes vs regular lightgbm in <4 seconds) and also not using CPUs while running

![Screen Shot 2021-01-20 at 11 08 33 AM](https://user-images.githubusercontent.com/844827/105222856-e6380480-5b0f-11eb-9ec9-d63a72c3da8f.png)

For comparison regular lightgbm:

[code]

runs in 3.7 sec

[2021-01-20 19:12] szilard commented on #3797
changed to `silent=False`. Logs:

[code]

[2021-01-20 20:40] szilard commented on #3797
Also, the accuracy is really low:

[code]

should be around 0.76 (plain lightgbm).

[2021-01-20 21:08] szilard commented on #3797
with n_workers=1, threads_per_worker=16, npartitions=16

[code]

[2021-01-20 21:14] szilard commented on #3797
n_workers=4, threads_per_worker=4, npartitions=16

[code]

[code]

[2021-01-21 01:46] ucasiggcas commented on #3790
it's a pitty you close the issue,
it's the practical problem in industrial circles, and the rp does not support the utility.

[2021-01-21 09:36] pseudotensor opened #3804 "LLVM ERROR: out of memory -> segfault and core dump"
LightGBM master f2695daba2506d047831e39aeb521e94adec5e8d

Very small data case and simple/trivial parameters, but segfaults.

[segfault_clean.zip](https://github.com/microsoft/LightGBM/files/5848264/segfault_clean.zip)

It's sufficient to replace params in the script with:

[code]

and if then one does gpu_use_dp False that is sufficient to not segfault.  So probably something wrong with dp handli

[2021-01-21 11:10] jamescolless opened #3805 "Logging to Python Log"
As a result of https://github.com/microsoft/LightGBM/pull/3090 LGBM now seems to happily redirect it's output to the standard python logger which is great. At present it seems that the output from any custom feval function passed to the .train() method, still goes to stdout, is this expected behaviour? It would be nice if it too got redirected to the python logger!

Thanks!

[2021-01-21 11:17] szilard commented on #3797
@jameslamb In the example above there might be some issues (possible data leakage from train to test due to Dask partitions   because of the the way I lump train and test together to create a consistent label encoding and then I partition the lumped data) - a better way to do this is to do the integer encoding outside of Dask and read train and test separately in Dask:
![Screen Shot 2021-01-21 at

[2021-01-21 11:28] szilard commented on #3797
With 1 worker, 16 threads, 16 partitions it's OK:

[code]

very similar to plain lightgbm:

[code]

[2021-01-21 11:31] szilard commented on #3797
Also 4 workers, 4 threads each, 16 partitions:

[code]

So maybe this bug is not such a big deal.

[2021-01-21 11:48] szilard commented on #3797
Changing number of workers, threads, partitions:

n_workers | n_threads | n_partitions | Time (sec) | AUC
---------|---------|-------|------|-------
16 | 1| 16 | 15 minutes !!! | 0.652041 !!!
1 | 16 |16 | 4.7 | 0.763924
1| 16 | 1 | 4.8 | 0.763698
1| 1 | 1 | 13.8 | 0.763698
4 | 4 | 16 | 11.5 | 0.760917
no dask | 16 || 3.7 | 0.763698
no dask | 1 || 13 | 0.763698

[2021-01-21 14:23] muttoni commented on #2742
Same here on CPU with macOS using virtualenv
[code]

[2021-01-21 14:25] pseudotensor commented on #3804
Problem was how compiled.  I used conda boost 1.70 and ran on system without that same conda boost.  Even though I had compiled boost statically, I guess there is something wrong with the conda boost as applied to other systems.

[2021-01-21 14:25] #3804 closed

[2021-01-21 15:31] StrikerRUS commented on #3804
@pseudotensor Thanks for letting know! I remember we had similar problems with Boost from conda at our CI services but compilation was done with gcc. And we switched to regular `libboost` installation.

[2021-01-21 15:36] StrikerRUS commented on #3790
Yeah, I understand that this type of data is quite common. But unfortunately, we cannot handle every general question about ML here due to the need to concentrate on **problems** with **LightGBM**.

[2021-01-21 15:46] guolinke commented on #3790
The simplest way is to split it to multiple one hot features.

[2021-01-21 15:52] jameslamb commented on #3797
Thanks for the report! I can look into this more crefully in a few days. Right now we're focusing on other things in the Dask interface.

One possibility for your consideration...Dask will start spilling to disk when a worker's memory utilization approaches 60% (https://distributed.dask.org/en/latest/worker.html#memory-management). This can drastically slow down processing. It's possible that in t

[2021-01-21 20:31] jameslamb opened #3807 "[dask] support init_score"
## Summary

LightGBM allows you to provide initial scores to boost from (https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html?highlight=init_score#lightgbm.Dataset.set_init_score).

This option should be supported in the Dask interface. Dask model classes should accept a dask array, dask dataframe, or Dask dataframe series as input for `init_score`.

## Motivation

This change

[2021-01-21 20:31] jameslamb commented on #3807
Closing this in favor of being in #2302 with other feature requests. Anyone is welcome to contribute this feature. Leave a comment below and it can be re-opened.

[2021-01-21 21:05] jameslamb opened #3808 "[RFC] [dask] decide and document how users should provide a Dask client at training time"
## Summary

The model objects in https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/dask.py currently inherit from the classes in https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py. For example, `lightgbm.dask.DaskLGBMRegressor` is a child of `lightgbm.sklearn.LGBMRegressor`.

These Dask estimators perform training on data stored in Dask col

[2021-01-21 21:08] jameslamb commented on #3808
I tried to write down a useful summary of the problem above, but it's possible that I've missed things or made it unclear. Apologies if that's the case.

@ffineis @hcho3 @trivialfis @StrikerRUS whenever you have time, could you review this and let me know if you have strong opinions or additional information that might help make this decision?

I'm going to hold back my personal opinion on this un

[2021-01-22 04:31] pseudotensor opened #3812 "tree_linear uses only 1 core for predict"
using head of master to use tree_linear, and trying it out.  But prediction is very slow and it is using just 1 core..  I can manually parallelize, but wonder if this is just oversight?

[2021-01-22 05:29] guolinke commented on #3812
cc @btrotta

[2021-01-22 06:02] StrikerRUS commented on #3812
@pseudotensor Just to clarify: do you observe this with non-default `nthreads` passed to `predict()`?
Refer to https://github.com/microsoft/LightGBM/issues/2225#issuecomment-501220332.

[2021-01-22 06:33] #3713 closed

[2021-01-22 06:40] jameslamb opened #3814 "[dask] tutorial documentation"
## Summary

The docs at https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html should be updated with information on the Dask interface in the Python package.

References to https://github.com/dask/dask-lightgbm should also be removed from this repo.

## References

This could draw heavily from this tutorial I wrote on `dask-lightgbm` (removing any references to paid services, of c

[2021-01-22 06:41] jameslamb commented on #3814
Adding this to #2302 alongside other feature requests. I'll re-open this when I pick it up.

[2021-01-22 07:41] pseudotensor commented on #3812
I'm using scikit-learn API with regression and assume n_jobs set in model construction will be used for predict.  This is usual for rest of lightgbm.  I only see the problem with tree_linear

I can provide repro if required if not observed by you guys.

[2021-01-22 08:04] pseudotensor commented on #3812
i.e. I see only these options:
[code]

[2021-01-22 10:25] RodrigoAbrao commented on #3676
Any update coming soon?

[2021-01-22 11:34] pseudotensor commented on #3812
I think this is due to unpickling the model state and then doing predict.  It seems this refreshes things but not all parameters are applied.  I'm not sure it's only due to linear_tree.

[2021-01-22 12:56] pseudotensor opened #3815 "[LightGBM] [Fatal] [CUDA] invalid argument /workspace/LightGBM/src/treelearner/cuda_tree_learner.cpp 414"
https://github.com/microsoft/LightGBM/issues/3450

I noticed this discussion, but I'm already including the commit "Ensure..." for that PR that supposedly fixed it.  i.e. I'm on hash f2695daba2506d047831e39aeb521e94adec5e8d

[code]

[code]

using python 3.6 with this

[fatal_cuda.zip](https://github.com/microsoft/LightGBM/files/5855934/fatal_cuda.zip)

[2021-01-22 13:09] StrikerRUS commented on #3815
Should be completely fixed by #3752.

[2021-01-22 13:12] StrikerRUS commented on #3812
`nthreads` (commonly `n_jobs` for sklearn) is passed via `kwargs`:

        Other parameters for the prediction.

Please try
[code]

[2021-01-22 13:13] StrikerRUS commented on #3812
One more question.

`predict_proba` with **regression**?

[2021-01-22 13:15] StrikerRUS commented on #3812
I guess this is the same as https://github.com/microsoft/LightGBM/issues/2516#issuecomment-543474825.

[2021-01-22 13:16] pseudotensor commented on #3815
I see.  Any reason it's not merged yet?

[2021-01-22 13:20] StrikerRUS commented on #3676
@RodrigoAbrao

Update should be done on your side (in your code use argument of a function but not an alias of parameter in params/kwargs).

[2021-01-22 13:26] pseudotensor commented on #3815
I confirm it no longer fails with that fix.

[2021-01-22 13:26] #3815 closed

[2021-01-22 13:37] pseudotensor commented on #3812
Ok thanks, will try that.  Yes, I guess I hit this issue before and wasn't clear if I had posted already, thanks.

[2021-01-22 13:42] StrikerRUS commented on #3815
This open discussion I guess.
https://github.com/microsoft/LightGBM/pull/3752#pullrequestreview-570190852

Great! Thanks a lot for the try!

[2021-01-22 13:46] pseudotensor commented on #3812
I was using regression but then when I started testing the problem I used a binary problem :)

[2021-01-22 13:51] #3812 closed

[2021-01-22 14:44] ffineis commented on #3795
Dibs please!

[2021-01-22 14:45] #3717 closed

[2021-01-22 14:47] jameslamb commented on #3796
@ffineis I'm gonna take this one today

[2021-01-22 14:47] jameslamb commented on #3795
all yours!

[2021-01-22 14:59] ffineis commented on #3796
<Thumbs up>

On Fri, Jan 22, 2021 at 8:47 AM James Lamb <notifications@github.com> wrote:

[2021-01-22 15:01] brunofacca opened #3816 "Unclear documentation regarding min_data_in_leaf and min_sum_hessian_in_leaf"
Hello. Thank you for this great library.

The ["Deal with Over-fitting" section of the Parameters Tuning docs](https://lightgbm.readthedocs.io/en/latest/Parameters-Tuning.html#deal-with-over-fitting) says "Use `min_data_in_leaf` ***and*** `min_sum_hessian_in_leaf`".

1. Don't those two parameters have the same purpose, except that the former is based only on the number of samples and the latter al

[2021-01-22 17:26] StrikerRUS opened #3817 "[dask] flaky test_ranker test"
Just seen in #3755.

[code]

https://github.com/microsoft/LightGBM/blob/477cbf373ea2138a186568ac88ef221ac74c7c71/tests/python_package_test/test_dask.py#L480

<details>

<summary>Full logs:</summary>

[code]

</details>

[2021-01-22 17:29] StrikerRUS commented on #3817
cc @jameslamb @ffineis

[2021-01-22 17:30] StrikerRUS commented on #3817
Just wonder: is there any `seed`-like parameter in Dask we can set and ensure the same results across all test runs?

[2021-01-22 17:46] ffineis commented on #3817
OY. Ok this should be decreased. We've set `seed` on everything - the issue I think is how dask chooses to partition the data across workers. Sometimes it splits rows depending on the test: 30/70, 50/50, 120/30, etc. When the split is really uneven, we get worse models.

[2021-01-22 18:24] brunofacca opened #3818 "Low default value for min_sum_hessian_in_leaf"
The default value of `min_sum_hessian_in_leaf` (AKA `min_child_weight`) in LightGBM is `1e-3` while the default value for the corresponding parameter in XGBoost (`min_child_weight`) is `1`. Is there a difference in how depth-wise and leaf-wise algorithms use this parameter or any other reason for having such a low default value for this parameter in LightGBM?

Thank you.

[2021-01-22 18:32] ffineis commented on #3817
I'm submitting a PR to lower the threshold

[2021-01-22 18:50] StrikerRUS commented on #3817
Can we somehow remove randomness from Dask data partitioning?

[2021-01-22 19:01] ffineis commented on #3817
Line 226 in dask.py:

[code]

might do the trick.

[2021-01-22 19:08] StrikerRUS commented on #3817
Oh thanks a lot for the info! Glad that there are possible workarounds.

[2021-01-22 20:40] jameslamb commented on #3817
one of the benefits of data-parallel learning in LightGBM is that you don't have to send all data to all workers. So you can have a training dataset that's larger than any one machine involved can hold by itself. So I'm not comfortable with only testing the scenario where all workers have to have all of the training data.

I can see that this failure is from the test where the chunk sizes are not

[2021-01-22 21:30] ffineis commented on #3817
Yeah for sure, I hadn't even heard of `client.rebalance` - that sounds great. So basically we ask the workers to compute their input data chunks even prior to DaskLGBMRanker's call to `client.submit`, it's kind of like calling MPI's `barrier` prior to model training. You have an example similar to this [here](https://github.com/microsoft/LightGBM/issues/3753#issue-784647300). Yeah I'll try it out.

[2021-01-24 01:15] StrikerRUS opened #3829 "[dask] Random failures in Dask tests during teardown"
Need to make Dask tests less flaky and ideally remove all randomness from them.
Log from one of failed job:
[code]

[2021-01-24 01:23] StrikerRUS opened #3830 "Support DataTable in Dask"
## Summary

Dask estimators should support input in a form of H2O DataTable .
## Motivation

This change would bring the Dask interface closer to full feature parity with the non-Dask interface.

## Description

Initial step can be supporting DataTable via converting it into Numpy array.

## References

https://github.com/microsoft/LightGBM/pull/3515#discussion_r541797207
https://github.com/micros

[2021-01-24 01:25] StrikerRUS commented on #3830
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-24 01:25] #3830 closed

[2021-01-24 01:39] StrikerRUS opened #3831 "Support MPI in Dask"
## Summary

Dask currently only supports pure socket-based training.
https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html#socket-version

## Motivation

Adding this feature would allow users to perform more efficient training because LightGBM has native support of MPI.

## References

https://github.com/microsoft/LightGBM/pull/3515#discussion_r541800691
https://github.com/microso

[2021-01-24 01:40] StrikerRUS commented on #3831
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-24 01:40] #3831 closed

[2021-01-24 02:00] StrikerRUS commented on #3776
Another action required to address this issue is bringing support of OpenCL-based GPU training or documenting why it can't be supported.

   https://github.com/microsoft/LightGBM/pull/3825#issuecomment-766271497

[2021-01-24 02:13] StrikerRUS opened #3832 "Make some functions from Dask module class methods"
It will be good to have `_train()` and `_predict()` functions (at least them, very possibly some other functions can be made methods) in a form of `_LGBMModel`'s methods. It will improve encapsulation in Dask module.

https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/python-package/lightgbm/dask.py#L179

https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c59

[2021-01-24 02:14] StrikerRUS commented on #3829
https://github.com/microsoft/LightGBM/pull/3708#issuecomment-763365845

[2021-01-24 02:17] StrikerRUS opened #3833 "Merge test_<est>_local_predict and test_<est> tests for Dask module"
Refer to https://github.com/microsoft/LightGBM/pull/3708#discussion_r562147641 for more details.

[2021-01-24 02:28] StrikerRUS opened #3834 "Support all LightGBM parallel tree learners in Dask"
According to this piece of code
https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/python-package/lightgbm/dask.py#L251-L264
Dask module supports [all available tree learner types](https://lightgbm.readthedocs.io/en/latest/Parameters.html#tree_learner).
Refer to https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html#choose-appropriate-parallel-algor

[2021-01-24 02:38] StrikerRUS opened #3835 "Investigate how the gap between local and Dask predictions can be decreased"
## Summary

Right now in our CI tests difference between local and Dask-based estimators are quite big in terms of produced results after training with the same set of params. It would be good to investigate reasons and either provide source code fixes or write some guide how the difference can be mitigated on a user side.

## References

https://github.com/microsoft/LightGBM/pull/3515#discussion_

[2021-01-24 02:39] StrikerRUS commented on #3835
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-24 03:02] jameslamb commented on #3835
I'd like to add that for this issue, we also need to investigate the gap for training with the same parameters and data using the non-Dask distributed training via the LightGBM CLI (https://lightgbm.readthedocs.io/en/latest/Parallel-Learning-Guide.html#run-parallel-learning). That will tell us which differences are due to the way the Dask module works, and which are features  of LightGBM itself.

[2021-01-24 03:03] ShrillShrestha commented on #3832
Hi @StrikerRUS, I am a beginner and learning to contribute in open source. I am not sure if I understand the whole issue, but it seems interesting. If you can guide me, I think I can resolve it.

Do I add them inside the _LGBMModel class and change https://github.com/microsoft/LightGBM/blob/b8fc476e9c3a358992c4d45b51522a1ac53ffc91/python-package/lightgbm/dask.py#L395 to `model = self._train(...)`

[2021-01-24 03:26] jameslamb commented on #3832
Hi @ShrillShrestha , thanks for the offer!

But @StrikerRUS I disagree with the label "good first issue" on this one. This will involve some design discussions that I think should be done by maintainers. It's not as simple as just moving the code around, because the decision here might be based on a discussion (that we have not had yet) about whether the Dask module should support a non-scikit, fu

[2021-01-24 03:31] jameslamb commented on #3834
@StrikerRUS I disagree with calling this a "good first issue", and believe it should be a feature request. Using a different tree learner isn't as simple as just changing the tree_learner parameter. You have to be sure that the way that your data (either Dask DataFrame or Dask Array) is partitioned matches the method you chose.

For a dataset with `n` observations and `k`  columns:

* feature para

[2021-01-24 03:32] StrikerRUS opened #3836 "Support for single precision float in CUDA version"
Right now only double precision is supported. No matter what value of [`gpu_use_dp` param](https://lightgbm.readthedocs.io/en/latest/Parameters.html#gpu_use_dp) is set.

https://github.com/microsoft/LightGBM/pull/3160#discussion_r453681213

[2021-01-24 03:40] jameslamb commented on #3830
I'm -1 on this change. I believe that `.fit()` in the Dask module should only accept Dask collections (Dask DataFrame and Dask Array).

Type hints and type decisions for Dask (#3756) is my next priority, and in the PR for that I'll propose that we raise an error in `.fit()` if `X`, `y`, or `sample_weight` are not Dask collections. This is what XGBoost does as well, and I think it's a very good pat

[2021-01-24 03:43] jameslamb commented on #3834
I'm going to close this and add it to #2302. Thank you very much for writing this up, and for all of the Dask issues you've written up! Having this all documented in the backlog takes a lot of work but it's also critical to getting other contributors to come help.

[2021-01-24 03:48] jameslamb commented on #3831
Thanks for writing this up!

When I tried to use the existing `lightgbm.dask` module with a version of `lightgbm` built with MPI support, I found that training does not throw an error, but produces an incorrect result. I saw messages in the logs that indicated that each worker process thought it was  the only one (`rank: 0`), and the returned booster was from the model trained on only a portion of

[2021-01-24 03:48] StrikerRUS opened #3837 "Support Windows in CUDA version"
Right now CUDA version can be built only on Linux. The main blocker of making CUDA working on Windows is

    https://github.com/microsoft/LightGBM/pull/3160#issuecomment-669258806

[2021-01-24 03:51] StrikerRUS commented on #3836
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-24 03:51] #3836 closed

[2021-01-24 03:51] StrikerRUS commented on #3837
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-01-24 03:51] #3837 closed

[2021-01-24 03:57] ShrillShrestha commented on #3833
@jameslamb, so by merging do you mean modifying one of them to support the functionality of both? I looked through the code and saw some similar statements being implemented, but it would be helpful if you could tell me how I shall navigate/proceed to make the change?
P.S. Please forgive my novice questions.

[2021-01-24 04:04] jameslamb commented on #3833
No problem, ask any questions you need. We're here to help and really thankful for your efforts!

You can look at the changes I made in https://github.com/microsoft/LightGBM/pull/3786/files for reference. I eliminated a test in there called `test_classifier_proba`, and just moved its contents into the test `test_classifier`. To close this issue, do the same with the `local_predict` tests.

So, for

[2021-01-24 04:13] jameslamb opened #3838 "[docs] [dask] Document how to save a Dask model"
## Summary

There are multiple ways to save a model trained with LightGBM's Dask module. These might include the following (I have not tested if a fitted instance of `DaskLGBM***` is pickle-able):

* pickle the model object directly
* get the non-Dask, `lightgbm.sklearn` equivalent from `dask_model.to_local()` and save that
* get the `lightgbm` booster from `dask_model.booster_`, and use one of th

[2021-01-24 04:20] jameslamb commented on #3838
Added to #2302 with other feature requests.

This can be contributed by anyone! Please leave a comment if you'd like to contribute this feature, and this issue will be re-opened.

[2021-01-24 05:29] ShrillShrestha commented on #3833
Thanks, @jameslamb, I went through the reference code you provided.

I feel like just deleting the `test_classifier_local_predict` method should do the job. Am I headed in the right direction?
Also, I am getting the error `ERROR: Failed building wheel for lightgbm` when I run `pip install dist/lightgbm*.tar.gz`. Can you give me some advice on how to solve it?

[2021-01-24 05:42] jameslamb commented on #3833
That is not correct. You need to move the type of prediction in the link I shared (`https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/tests/python_package_test/test_dask.py#L259-L267`) and make sure it is moved into `test_classifier`. And then make a similar change for `DaskLGBMRegressor` and `DaskLGBMRanker` tests.

You should see a log message that says "The ful

[2021-01-24 07:26] ShrillShrestha commented on #3833
I think I need to include `n_estimators=10` as a parameter or `dlgbm.DaskLGBMRegressor` as it not in the params for `test_regressor`
https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/tests/python_package_test/test_dask.py#L279-L288
but is in
https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/tests/python_package_test/test_dask.py#L

[2021-01-24 07:42] jameslamb commented on #3833
I believe the for the regression tests, we had to omit setting `n_estimators=10`. You can leave it out (but good attention to detail!).

Yes you are correct! Many of LightGBM's parameters can be provided by aliases. You can see details here https://lightgbm.readthedocs.io/en/latest/Parameters.html#learning-control-parameters.

Make sure that the branch you are working on is up to date with the lat

[2021-01-24 08:24] wjsi opened #3839 "Infinite connection retry when starting two training processes"
## How you are using LightGBM?

We are using LightGBM in our project [Mars](https://github.com/mars-project/mars) to train models distributedly. When we tests our modules with separate processes to mock what happens in distributed environment, sometimes two processes cannot connect with each other and LightGBM retrys connection in an infinite loop.

We discover that all ports are opened successful

[2021-01-24 08:47] ShrillShrestha commented on #3833
I was able to run the test, and I go 4 tests passed and 2 failed.  I am getting two `ValueError: Expected 2D array, got scalar array instead` errors from `test_classifier`
method.
For merging `test_classifier`, I referenced the prediction `p1` in
https://github.com/ShrillShrestha/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/tests/python_package_test/test_dask.py#L259
as `p1_local_predict

[2021-01-24 13:30] StrikerRUS commented on #3832
@jameslamb

Makes sense! I was not aware of plans to support functions from standard API `train` and `cv`.

Feel free to close this issue because I guess code refactoring indeed will be tightened to decisions we will make.

[2021-01-24 13:44] StrikerRUS commented on #3830
@jameslamb Thanks for the discussion!
Understood!

Agree with this statement.

I'm going to strike out this issue from feature requests right now. And looking forward for your PR with type decisions!

[2021-01-24 13:50] StrikerRUS commented on #3834
Huh, I was suspecting this but shy to say it out loud! 🙂

Given that only `data` tree learner is actually supported right now, I strongly believe we should make it explicit and raise errors for these values
https://github.com/microsoft/LightGBM/blob/ac706e10e461d1c5987a3975cc48aa82fde33566/python-package/lightgbm/dask.py#L254-L257

[2021-01-24 15:19] StrikerRUS opened #3841 "Write tests for parallel code"
I'm marking this issue with `question` label but hope to convert it to `feature request` after some discussions.

Right now LightGBM lacks any tests related to parallel (in located in [`network` folder](https://github.com/microsoft/LightGBM/tree/master/src/network)) code. `MPI` job which run on some our CIs simply execute ordinary tests with `serial` single machine tree learner but with dynamic li

[2021-01-24 18:41] jameslamb commented on #3839
Thank you for this report! I have seen similar issues on Mac (but not in Linux environmemts), byt hadn't been able to reproduce it cleanly or describe it this clearly.

@StrikerRUS the fix for this MIGHT help with #3782

[2021-01-24 20:37] #3805 closed

[2021-01-24 22:40] #3622 closed

[2021-01-25 02:55] jameslamb opened #3845 "[dask] Add LGBMModel"
## Summary

The `lightgbm.dask` module should support a Dask version of `lightgbm.sklearn.LGBMModel`in its public API.

https://github.com/microsoft/LightGBM/blob/98a85a83ce46b1731e284c2d2e5ad297be0e5827/python-package/lightgbm/sklearn.py#L179

## Motivation

This would bring `lightgbm.dask` closer to parity with the non-Dask scikit-learn interface.

See https://github.com/microsoft/LightGBM/pull/

[2021-01-25 02:56] jameslamb commented on #3845
Closing this in favor of putting it in #2302, along with other feature requests. Anyone is welcome to contribute this feature. Leave a comment below and it can be reopened.

[2021-01-25 02:56] #3845 closed

[2021-01-25 03:09] jameslamb opened #3846 "[dask] add train() function"
## Summary

As of this writing, `lightgbm.dask` only supports  model classes that mimic the scikit-learn API. It should also support a function, equivalent to `lightgbm.engine.train`.

https://github.com/microsoft/LightGBM/blob/36322ceeae1912f15ebb005c77cd9bf416087e78/python-package/lightgbm/engine.py#L14

Because `train()` expects to be given a LightGBM `Dataset` object, this also implies creatin

[2021-01-25 03:10] jameslamb commented on #3846
Closing this in favor of putting it in #2302 with other feature requests. Comment below if you'd like to work on this, and it can be re-opened.

[2021-01-25 03:10] #3846 closed

[2021-01-25 03:12] jameslamb opened #3847 "[dask] add cv() function"
## Summary

As of this writing, `lightgbm.dask` only supports  model classes that mimic the scikit-learn API. It should also support a function, equivalent to `lightgbm.engine.cv`.

https://github.com/microsoft/LightGBM/blob/36322ceeae1912f15ebb005c77cd9bf416087e78/python-package/lightgbm/engine.py#L391

Because `cv()` expects to be given a LightGBM `Dataset` object, this also implies creating a n

[2021-01-25 03:13] jameslamb commented on #3847
Closing this in favor of putting it in #2302 with other feature requests. Comment below if you'd like to work on this, and it can be re-opened.

[2021-01-25 03:13] #3847 closed

[2021-01-25 03:14] jameslamb commented on #3832
Thanks! Yes sorry, I have a lot of documentation to catch up on.

Added feature requests for `train()` (#3846) and `cv()` (#3847).

I'll close this issue, thanks.

[2021-01-25 03:14] #3832 closed

[2021-01-25 03:42] jameslamb commented on #3834
I've proposed a PR: https://github.com/microsoft/LightGBM/pull/3848

[2021-01-25 10:07] lebronjdw opened #3851 "Using GPU but fall back on cpu"
I am using LGBM on 1th GPU,but when I start training other mission(pytorch DNN) on 2th GPU,then the LGBM forced falling back on CPU without using 1th GPU.This is so weird!!!!
Any ideas?

[2021-01-25 11:07] StrikerRUS commented on #3851
Could you provide any reproducible example?

I guess `gpu_platform_id` and `gpu_device_id` may help.
https://lightgbm.readthedocs.io/en/latest/Parameters.html#gpu-parameters

[2021-01-25 11:33] StrikerRUS commented on #3808
@jameslamb I personally don't like option `#3` very much...

I saw in official examples scikit-learn uses similar to option `#2` approach - they ask users to use `joblib` context with `dask` backend.

  https://examples.dask.org/machine-learning.html

[code]

Maybe we can create a voting among Dask users? Special Dask repo for discussions or/and Twitter with appropriate hashtags/mentions?..

[2021-01-25 14:00] jsignell commented on #3808
I think the dasky-est approach would be to use not allow the user to explicitly set the client and instead assume that they have initiated a client already. This is basically Option 2, but I want to clarify that it doesn't necessitate that training be run inside a context manager. It is enough to have already instantiated a client object. I think you'll use `default_client()` for this.

## Other q

[2021-01-25 15:03] cah-autoit commented on #3371
@CharlesAuguste was this ever fixed?

[2021-01-25 15:21] #3796 closed

[2021-01-25 15:34] jameslamb commented on #3808
Thanks @jsignell !

To be fair, i also just added an Option 4. I forgot that `cuml` chose to have the client passed into the model object's constructor.

[2021-01-25 15:35] jameslamb commented on #3808
I've invited more commentary on https://github.com/dask/community/issues/104

[2021-01-25 15:40] martindurant commented on #3808
I mostly agree with @jsignell , but I do think that allowing an optional argument to the model constructor is a reasonable and useful addition; you might just want to have separate things fitting on different clusters simultaneously.
The default would be to use the current client (evaluated at execution time), which would be the most recently created global client or the current context, if there

[2021-01-25 15:46] jsignell commented on #3808
I forgot to mention that. Yeah, that could be the way to implement fitting on different clusters. It could be documented in an advanced section.

[2021-01-25 17:08] StrikerRUS commented on #3739
Unfortunately, #3850 addressed this issue only partly. Reopening.

[2021-01-25 17:11] StrikerRUS commented on #3739
- [ ] https://lightgbm.readthedocs.io/en/latest/R/reference/dimnames.lgb.Dataset.html
- [ ] https://lightgbm.readthedocs.io/en/latest/R/reference/getinfo.html
- [ ] https://lightgbm.readthedocs.io/en/latest/R/reference/setinfo.html

[2021-01-25 19:13] #3833 closed

[2021-01-25 20:31] pseudotensor commented on #3679
Hi @guolinke I hit the same problem:

[code]

Happens when trying to use `mape` on simple random data.

[2021-01-25 21:06] StrikerRUS commented on #3795
Closed via #3853.

[2021-01-25 21:06] #3795 closed

[2021-01-26 00:16] #3732 closed

[2021-01-26 03:33] shiyu1994 commented on #3679
Hi @pseudotensor, are you using the released version of LightGBM or building from source?

[2021-01-26 04:35] jameslamb commented on #3829
To avoid merge conflicts with #3855, this is the next Dask issue I'm picking up. Will try some strategies on a PR on my fork.

[2021-01-26 06:11] pseudotensor commented on #3679
Building from source like:
[code]
(the --gpu etc. options aren't really needed since --precompile is shtere)

Note that I only started seeing this problem when upgrading from 2.2.4 to master.

[2021-01-26 09:14] wyfSunflower opened #3856 "lightgbm for learning to rank in image retrieval"
Hi, Could anyone tell me how to use lgb train pointwise pairwise, listwise ranking model? Enter a picture and return the most similar pictures. Use vgg to extract the feature vectors of all images, how to use lightgbm to train the ranking model to learn the feature vectors of query image and similar images.
All the query and retrieval images are embedded to such feature vector:
[8.90005082e-02 3.8

[2021-01-26 10:54] shiyu1994 commented on #3679
@pseudotensor Can you please try version 3.0.0 to see if the same problem occurs. Is your training data private? If not, can you share it with us? Thanks.

[2021-01-26 12:03] youwei2567 opened #3857 "When using Booster Method, AttrErr happened"
res = gbm.eval(lgb_test, 'test')
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-71-f864b1b98012> in <module>
----> 1 res = gbm.eval(lgb_test, 'test')

E:\anaconda3\lib\site-packages\lightgbm\basic.py in eval(self, data, name, feval)
   2625         if not isinstance(data, Dataset

[2021-01-26 14:11] StrikerRUS commented on #3857
What is the order you execute your pieces of code? Please provide fully reproducible example ([MCVE](https://stackoverflow.com/help/minimal-reproducible-example)) so that we will be able to help.

For now, please check the following quite low-level test which might help you to understand what is going wrong in your code:
https://github.com/microsoft/LightGBM/blob/439c721a6ab2e2d59db0d245c14594367b

[2021-01-26 14:23] #3839 closed

[2021-01-26 14:27] StrikerRUS commented on #3841
OK, I see "thumb-up" reactions and based on them marking this issue with "feature request" label 🙂

[2021-01-26 15:16] CHDev93 opened #3858 "Error saving very large LightGBM models"
## How you are using LightGBM?
Python package

LightGBM component:
## Environment info

Operating System: **Windows 10**

CPU/GPU model: **GPU**

C++ compiler version: **NA**

CMake version: **NA**

Java version: **NA**

Python version: **3.6.6**

R version: **NA**

Other: **NA**

LightGBM version or commit hash: **3.1.0**

## Error message and / or logs
I'm observing errors when trying to train m

[2021-01-26 15:37] StrikerRUS commented on #3858
Hi @CHDev93 !

We already have a feature request to support extremely large models: #2265.
Are errors you observe the same as there?

[2021-01-26 15:52] CHDev93 commented on #3858
Thanks for the quick follow @StrikerRUS . Don't know how I missed this issue when looking through tickets the past couple days. Yes this problem looks very similar, though I don't get an error as helpful as the one shown in that ticket (or at all, actually).

When I've set `keep_training_booster=True` as you mention in that issue, that does allow the `lgb.train` call to succeed but then I still ha

[2021-01-26 16:15] StrikerRUS commented on #3858
From your logs:

[code]
`2147483648` it is exactly `INT_MAX + 1`. I don't think this is a coincidence...

Unfortunately, it is only a potential fix. It is not implemented yet. This feature request is still open.
#2302

![image](https://user-images.githubusercontent.com/25141164/105871651-91622580-600a-11eb-8855-114dd5fe7fdf.png)

[2021-01-26 16:21] CHDev93 commented on #3858
Okay was just checking there wasn't a work-around involving this `keep_training_booster` combined with some method of getting it to disk that would work around this issue. If I understand correctly, there's no way around it at the current time.

Thanks for your help on this. Feel free to close this issue

[2021-01-26 16:36] StrikerRUS commented on #3858
Setting `keep_training_booster=True` is a workaround to complete training successfully.

I'm quite surprised that

for part about pickle. Maybe you hit the [following pickle issue](https://stackoverflow.com/a/38003910) or something similar? Could you please try `joblib` or some other alternative to `pickle`?

[2021-01-26 17:57] CHDev93 commented on #3858
Thanks @StrikerRUS ! I did know pickle has some issues at the 4GB limit but thought I might be safe at 2GB. I will kick off a run now with joblib to see if that helps.

I'm not certain exactly how these serialisation libraries work so hopefully they're not calling some of the objects methods during serialisation which could lead to the string conversion issue again. Will comment here when I have s

[2021-01-26 19:47] jameslamb opened #3861 "[dask] DaskRegressor.predict() fails on DataFrame / Series input"
## How you are using LightGBM?

LightGBM component: Python-package

## Environment info

Operating System: Ubuntu 18.04

C++ compiler version: gcc 8.3.0

CMake version: 3.13.4

Python version:

<details><summary>output of 'conda info'</summary>

[code]

</details>

LightGBM version or commit hash: https://github.com/microsoft/LightGBM/tree/9f70e9685dfb5c82f2ee87176a8433a6b7a4b98f

## Error message

[2021-01-26 19:48] jameslamb commented on #3861
I marked this "good first issue" only because I think that for someone who's experienced with Dask, they might be able to fix this without needing too much LightGBM knowledge.

[2021-01-26 20:30] ppaleja commented on #2791
Hi, I hope this is the right place to post this, but I was reading through the original LightGBM paper, and it mentions a greedy coloring scheme in which to do the (I think) one of the main optimizations that LightGBM, the feature bundling. I was wondering why a greedy method was chosen to do this instead of some other targeted approach (I think the paper mentions that bundling works well in the s

[2021-01-26 21:22] StrikerRUS commented on #3364
I might be wrong, but I cannot find any references from R codebase to `LGBM_NetworkInit()` cpp function. If that's true, it means exposing `--use-mpi` flag will be not enough because actually R-package lacks support of parallel learning (even pure socket one). To enable it something similar to
https://github.com/microsoft/LightGBM/blob/9eeac3c7a5f5df49bf5435de8bed30d32a0f9b53/python-package/lightg

[2021-01-26 21:31] jameslamb commented on #3364
you're correct.

[2021-01-27 01:40] youwei2567 commented on #3857
I use lgb.train() to get a booster called 'gbm', then I try to call gbm.update() and gbm.eval(). Then these two methods threw a AttrErr. My question is: Is it possible that I use the booster, got from lgb.train(), to call gbm.update() and gbm.eval()

[2021-01-27 01:52] youwei2567 commented on #3857
And I run the snippet of code provided by you, no err happened! Then I use a small part of  my own data to test this snippet of code, last two assertions threw a exception!

[2021-01-27 01:56] youwei2567 commented on #3857
## repoducible code
``
X_tr, X_te, y_tr, y_te = train_test_split(*load_breast_cancer(return_X_y=True),
                                                     test_size=0.1, random_state=2)
lgb_train = lgb.Dataset(X_tr, y_tr, free_raw_data=False)
lgb_eval = lgb.Dataset(X_te, y_te, reference=lgb_train, free_raw_data=False)
params = {
    "objective": "binary",
    "metric": "auc",
    "min_data": 10,

[2021-01-27 02:32] jmoralez commented on #3861
Hi, James. There's a `.values` at the end of the `map_partitions`

[2021-01-27 02:37] jameslamb commented on #3861
😱😱😱 good eye! I think that behavior is inconsistent and should change, but it still doesn't explain the bug, right? Because if that method returned a Dask DataFrame, presumably you'd get this same error calling .compute() on that result, right?

[2021-01-27 02:47] jmoralez commented on #3861
Quick question, is `taxi_train != taxi_test`? I saw at the start it's already defined as `taxi_test` so I couldn't reproduce. I got the output array correctly and was driven away from the fact that you got an error and focused on that the output was an array even though I expected a dataframe haha.

[2021-01-27 03:21] jameslamb commented on #3861
Was going too fast, sorry. That was a very hastily-written issue and it needs a better reproducible example when I can. I just edited it to define `taxi_train` correctly.

[2021-01-27 03:46] jameslamb opened #3867 "[ci] warnings from mypy"
## Summary

`mypy` shows some issues in LightGBM's Python package.

[code]

<details><summary>18 errors in 4 files (click me)</summary>

[code]

</details>

## Motivation

[`mypy`](https://mypy.readthedocs.io/en/stable/) is a static analysis tool for type checking Python code. It can catch issues not caught by other linters and unit tests, like:

* a value can be `None` but other code acts on it a

[2021-01-27 04:37] jameslamb commented on #3829
I've run the `sdist` task 40 consecutive times across 4 builds (each build with 5 `Linux sdist`, `5 Linux_latest sdist` each).

All of them succeeded.

https://github.com/jameslamb/LightGBM/pull/39

* https://dev.azure.com/JayLamb20/jameslamb-lightgbm/_build/results?buildId=815&view=results
* https://dev.azure.com/JayLamb20/jameslamb-lightgbm/_build/results?buildId=816&view=results
* https://dev.a

[2021-01-27 05:14] jameslamb commented on #3829
I'm testing on #3869 , but want to add here that I have another idea for helping with this.

We use `client.close()` in each test, and I think we could pass `None` or a large positive value to those `client.close()` calls and that it would help avoid these errors.

https://github.com/dask/distributed/blob/b5c36b587f0e3295fe59db330603d5c78b39331f/distributed/client.py#L1424-L1425

https://github.co

[2021-01-27 09:46] CHDev93 commented on #3858
Reran my minimum working example above with the below replacement code in the save portion (also reduced the data size to 3e6 and learning rate to 0.001 which just speeds up the cycle time but should keep the model size the same)

[code]

Boosting does again finish, saving works, and then loading the model causes the python process to crash

[code]

[2021-01-27 11:38] StrikerRUS commented on #3829
@jameslamb

I saw `regular` and `bdist` tasks failed more often. Maybe Python version matters?

[2021-01-27 11:51] CHDev93 opened #3870 "Resuming boosting gives GPU Invalid Device Error"
## How you are using LightGBM?
LightGBM component: Python package

## Environment info

Operating System: **Windows 10**

CPU/GPU model: **GPU**

C++ compiler version: **NA**

CMake version: **NA**

Java version: **NA**

Python version: **3.6.6**

R version: **NA**

Other: **NA**

LightGBM version or commit hash: **3.1.0**

## Error message and / or logs
When training on a booster on the GPU and t

[2021-01-27 11:54] StrikerRUS commented on #3857
Yeah, it is possible.

Just add `keep_training_booster=True` argument during calling `lgb.train()` function.

[2021-01-27 12:11] StrikerRUS commented on #3858
Ah OK, I see now.
Trained Booster calls self conversion to string internally during serialization.

https://github.com/microsoft/LightGBM/blob/d4658fbb6fe943e9afee8c639934339cff38fd90/python-package/lightgbm/basic.py#L2288-L2295

So I'm afraid that without implemented workaround for #2265 it is not actually possible to save trained model in binary format too.

[2021-01-27 12:12] StrikerRUS commented on #3858
Hmmm, however, this issue is marked as `closed`.
https://bugs.python.org/issue16865

Maybe you could try newer Python version?

[2021-01-27 12:19] StrikerRUS commented on #3870
Could you please pin `gpu_platform_id` and `gpu_device_id` params to some non-default values?
https://lightgbm.readthedocs.io/en/latest/Parameters.html#gpu-parameters

[2021-01-27 12:38] CHDev93 commented on #3870
Thanks for the suggestio! I've actually never encountered these params before.

I'm running on a machine with 3 NVIDIA V100 GPUs so I just set both these params to 0. `CUDA_VISIBLE_DEVICES` is also set to `"0"` before lightgbm is imported so it should only be seeing one of the GPUs anyway. My understanding of the docs you linked make it seem if all the GPUs are homogeneous this should be fine.

Ad

[2021-01-27 12:55] StrikerRUS commented on #3870
Yeah, you did everything right. It is a pity that those params didn't help.

My last guess is to try re-create training Dataset one more time before executing `train` function because you have some params that are used during Dataset initialization and cannot be changed after that.

[code]

[2021-01-27 13:56] CHDev93 commented on #3870
Thanks for your help on this! Adding the line above still produces the same error unfortunately.

I refactored the code to to do the training and save the model in one function (so that the original booster goes out of scope) and then in the second bout of training, I load the model from disk and then train with that. This **does** end up training successfully. So it seems that the booster object

[2021-01-27 14:16] StrikerRUS commented on #3870
@CHDev93 Thank you very much for detailed explanation and possible workaround!

ping @huanzhang12 for further investigation

[2021-01-27 15:53] #3733 closed

[2021-01-27 16:01] StrikerRUS commented on #3518
We have received a lot of PRs during last months (thanks to Dask module adoption! 🙂). And I have never seen Docker limit error yet. Have you?
I think we can close this issue for now.

[2021-01-27 16:03] StrikerRUS commented on #3744
I'd to hear any other opinion on whether this issue should go to feature requests.
@guolinke @jameslamb

[2021-01-27 16:04] #3669 closed

[2021-01-27 16:07] StrikerRUS commented on #3513
Seems that it does.

https://github.com/microsoft/LightGBM/blob/c5d9d2436b92a686f76c1d77de2d22e766e0e599/R-package/tests/testthat/test_learning_to_rank.R#L58-L62

[2021-01-27 16:13] jameslamb commented on #3829
Ok, I can try again with `regular` and `bdist`. I had started with `sdist` because that was the most recent place I saw the issue.

But I just ran 50 of them (25 Linux, 25 Linux_latest) consecutively on `sh-ubuntu` pool, on a LightGBM branch, without seeing this error once: https://github.com/microsoft/LightGBM/pull/3869#issue-562225886

[2021-01-27 16:16] jameslamb commented on #3513
Thanks for updating. I think that comment was written before we discovered that the 32-bit Windows jobs were silently not running in CI: https://github.com/microsoft/LightGBM/pull/3588

[2021-01-27 16:19] jameslamb commented on #3744
I agree, I don't think it's a good fit for LightGBM. It could be interesting to support a separate, standalone metrics library here but I don't think it's the most effective use of this small team of maintainers' limited time.

LightGBM uses a permissive license (MIT), so anyone contributing to say scikit-learn to speed up their metrics could take code from here and propose new code there based on

[2021-01-27 16:21] jameslamb commented on #3518
I have not seen the issue either. I was worried about it in #3737 when we started pulling the `ubuntu:latest` image on every run, but it hasn't been an issue.

I'm also in favor of closing it.

[2021-01-27 17:01] AlbertoEAF commented on #3675
@tarunreddy1018 can we close this issue?

If you want to see improvements regarding threading maybe open a new issue like a feature request and mention this issue and https://github.com/microsoft/LightGBM/issues/3751 so we know all the details we discussed.

[2021-01-27 17:02] AlbertoEAF commented on #3751
@tarunreddy1018 can we close this issue?

If you want to see improvements regarding threading maybe open a new issue like a feature request regarding threading support with no locking and mention this issue and https://github.com/microsoft/LightGBM/issues/3675 so we know all the details we discussed.

[2021-01-27 18:48] tarunreddy1018 commented on #3751
@AlbertoEAF Sure, you can close this issue for now

[2021-01-27 22:19] jameslamb opened #3871 "[RFC] [dask] [docs] Override details in API docs that differ between dask and sklearn interfaces"
## Summary

The module `lightgbm.dask` contains model objects which have very similar APIs to those from `lightgbm.sklearn`, and which directly inherit from them. For example, `lightgbm.dask.DaskLGBMRegressor` inherits from `lightgbm.sklearn.DaskLGBMRegressor`.

We currently take advantage of this inheritance to also inherit doc strings. For example: https://github.com/microsoft/LightGBM/blob/b4b1

[2021-01-27 22:20] jameslamb commented on #3871
For any of you reading this, let me know if you have strong opinions or can think of other options!

I personally prefer Option 1 or Option 3. Options that let us keep the same documentation style that's already in use seem the least disruptive. I don't like Option 2 because I expect that the differences between Dask and sklearn docs will be more than just type hint differences.

[2021-01-27 22:42] StrikerRUS commented on #3871
I "like" how official Dask documentation deals with the problem! 😃

![image](https://user-images.githubusercontent.com/25141164/106063763-c6a16d00-6109-11eb-9bd5-2c7301c660b4.png)

I think Option `#1` is preferable for me. But how will it help to deal with different args? For example, `client` argument in Dask API.

[2021-01-27 22:48] jameslamb commented on #3861
I take it back, now I remember why there's a `.values`.  This is so `.predict()` in the Dask interface always returns a Dask array regardless of input type, just like `.predict()` in the sklearn interface always returns a numpy array.

[code]

[2021-01-27 22:53] jameslamb commented on #3871
I understand why Dask does that...they are wrapping external libraries that can change without their control, and where people can have different combinations of versions installed (e.g. different versions of `numpy` and `dask` at any one time).

Since we're talking about only code inside `lightgbm`, I don't think we should settle for that. It's within our control to make the docs consistent and c

[2021-01-27 22:56] CHDev93 commented on #3858
Updated to python 3.8.7 and ran one job with keep_training_booster=True and one with the default. First one fails after trying to load the model after dumping it to disk with joblib. Second one fails after finishing boosting but before the code I have to save the model.

Forgot to add back all the print statements I had put into the lightgbm python so don't have any more details but I'm fairly con

[2021-01-28 04:15] jameslamb commented on #3714
I'm going to close this again for now, currently focusing on other Dask items. This can be done after 3.2.0 (#3872 ).

[2021-01-28 04:15] #3714 closed

[2021-01-28 04:39] jmoralez commented on #3861
That makes sense. I couldn't reproduce the error, I tried on local and remote clusters.

[2021-01-28 04:49] jameslamb commented on #3829
just saw this timeout error in a build from #3866 https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=8823&view=logs&j=fb919173-48b9-522d-5342-9a59a13eb10b&t=7fcbeee5-d4c1-571c-8072-1d5874591254, on the `Linux bdist` task (Python 3.7)

I am almost done with testing on https://github.com/microsoft/LightGBM/pull/3869, and will share some information here soon about how often this se

[2021-01-28 05:07] jameslamb commented on #3861
I see some issues that suggest that this error might happen when an input contains NaNs:

* https://github.com/dask/dask/issues/6410
* https://github.com/dask/dask/issues/4534

I've also found the place where this happens (I think). There are some calls in `DataFrame.map_partitions()` that try to figure out the metadata of the response from the function being called with `.map_partitions()`.

* ht

[2021-01-28 11:07] StrikerRUS commented on #3858
OK, got it! Thanks a lot for a lot of details! I'm going to link this issue to the feature request of supporting huge models so that they will be available there.

[2021-01-28 11:08] #3858 closed

[2021-01-28 11:11] StrikerRUS commented on #3829
Yeah, those errors are not very frequent, so it may require more runs and time to prepare any statistics.

[2021-01-28 11:32] StrikerRUS opened #3873 "R-lintr failures at CI"
Our R-lintr CI is broken. I see this error in `master`, #3866 and #3872.

https://github.com/microsoft/LightGBM/runs/1783657796

[code]

[2021-01-28 11:32] StrikerRUS commented on #3873
cc @jameslamb

[2021-01-28 13:18] StrikerRUS opened #3875 "macOS CI R jobs fail"
Can be observed in #3874.
Refer to https://github.com/microsoft/LightGBM/pull/3874/checks?check_run_id=1784106648

[code]

[2021-01-28 13:18] StrikerRUS commented on #3875
cc @jameslamb

[2021-01-28 13:44] jameslamb commented on #3875
ah! will look right now

[2021-01-28 14:08] StrikerRUS commented on #3875
Only R 4.x both `CRAN` and `CMake` jobs are affected.

[2021-01-28 15:18] jameslamb commented on #3873
ok looking into this one now

[2021-01-28 15:26] jameslamb commented on #3873
The most recent release of `r-lintr` on conda-forge was 8 months ago. https://anaconda.org/conda-forge/r-lintr/files

So one of its dependencies must have broken it :confused:

[2021-01-28 16:59] jaredlander commented on #3780
While I can't contribute, I'd like to encourage further development (I know, I know, asking but not helping, but I think cheerleading is a form of helping, right?). While I know getting the GPU version onto CRAN would be hard, if there are prebuilt binaries the way `{catboost}` [installs](https://catboost.ai/docs/installation/r-installation-binary-installation.html) using `devtools::install_url()`

[2021-01-28 17:16] jameslamb commented on #3780
Thanks for stopping by @jaredlander !

Unless another maintainer here or an outside contributor comes to help us with this, this issue is not going to be picked up for at least a month. Personally, my focus right now is on the new Dask integration (https://github.com/microsoft/LightGBM/pull/3872#issuecomment-768794191).

You're welcome to build the GPU version of the R package yourself, following

[2021-01-28 17:30] jaredlander commented on #3780
Those build instructions don't seem to be too bad compared to what I've from other GPU packages. I'm certainly game for trying but I don't know if I could expect all of my attendees to do that.

I bet this could be added to [GitHub Actions](https://github.com/microsoft/LightGBM/blob/master/.github/workflows/r_package.yml) (or maybe [this one](https://github.com/microsoft/LightGBM/blob/master/.gith

[2021-01-28 17:30] jaredlander commented on #3780
Oh, btw, maybe someone from the team should give a talk at the [meetup](https://www.meetup.com/nyhackr) about this package.

[2021-01-28 17:32] jameslamb commented on #3829
Alright, so! On #3869 , I've run 300 tests of the Python CI jobs. I did this 10 at a time, in batches with 5 running on `Linux` and 5 on `Linux_Latest`.

296 / 300 of these succeeded, and all 4 failures were the timeout error described in this issue. See the description of #3869 for build logs.

All 4 failures were on `Linux` (the jobs that run in https://github.com/guolinke/lightgbm-ci-docker), n

[2021-01-28 17:33] jameslamb commented on #3817
I want to note, I just did 300 test runs while investigating another issue (https://github.com/microsoft/LightGBM/issues/3829#issuecomment-769250537). This ranker test did not fail in any of them.

[2021-01-28 17:45] jameslamb commented on #3780
I expect it will be harder than just running `R CMD INSTALL --build`, to generate binaries that we feel confident will work well on a wide range of GPUs. It took significant effort to do something similar in LightGBM's Python package (https://github.com/microsoft/LightGBM/pull/3403, https://github.com/microsoft/LightGBM/pull/3144), and even after that effort those wheels are only supported on Wind

[2021-01-28 17:49] jaredlander commented on #3780
I'm hoping it's just a matter of adding `Rscript build_r.R --use-gpu` to the Actions yml, I very much do not know that.

Will do, but are you sure you want your email on here?

[2021-01-28 17:53] jameslamb commented on #3780
Yeah it's totally fine. It's already public on my profile. But thanks for looking out!

[2021-01-28 18:14] ffineis commented on #3817
Nice! That's good. I do have updates on this I've been meaning to push. Will get to them tonight, tomorrow night latest. Ran some experiments using the `client.rebalance` method you mentioned. Seems to works for arrays, but dask dataframes are already well-balanced when the index is set. Will post more details.

[2021-01-28 18:58] #3873 closed

[2021-01-28 21:21] StrikerRUS commented on #3829
@jameslamb Does adding `timeout=300` mean that **each** test in `test_dask.py` can **potentially** run for 5 min?

[2021-01-28 21:26] jameslamb commented on #3829
Yes, that's the absolute worst-case scenario. But to be clear, it doesn't mean "wait 5 minutes, then exit". It means "wait until the client has been closed successfully OR 5 minutes have elapsed".

I think that worst-case scenario is very very unlikely, given the results above where only 4 out of 300 jobs failed.

And by the way, I realized that two of those failures came from `test_classifier_pre

[2021-01-28 21:31] StrikerRUS commented on #3829
Maybe we can go in a more naive and resource-saving way?
I mean, not waste your time and our Docker pulls for running 300 tests again right now, but set `timeout=60` and maintain the repo in a normal way. Then if anyone sees failure at teardown, go and increase timeout for one more minute. And then monitor again, increment timeout if needed, and so on... WDYT?

[2021-01-28 21:31] jameslamb commented on #3829
It's fine with me. I just anticipated that you would want more proof before a change like that. I'm happy to stop testing right now and just make a PR that sets the timeout to 60.

[2021-01-28 21:35] StrikerRUS commented on #3829
No, I'm totally fine having a place where we can simply increment a value and consequence of such actions will lead us to eliminating the error!

BTW, what is default value for `timeout`?

[2021-01-28 21:40] jameslamb commented on #3829
Sorry, I shouldn't have made assumptions :grimacing:

It's hard to nail down, because it depends on your specific version of `distributed` and [any local settings you have](https://docs.dask.org/en/latest/configuration.html). For me, I have `distributed` 2021.1.0 and have never changed any Dask config settings in the config files it respects.

[code]

For me, this shows the timeout on my default `

[2021-01-28 21:46] #3875 closed

[2021-01-28 21:50] StrikerRUS commented on #3829
Wow, how complicated!

`5`, `10`, `2x` ...
Maybe then we can start from `timeout=30`? I believe our current tests are quite simple and faster than 30sec.

[2021-01-28 22:12] jameslamb commented on #3829
The timeout I'm proposing that we change is not related to how long it takes the rest of the test to run. It specifically controls how long it takes to close down the cluster with `client.close()` at the end of the test. I'd rather leave it at 60s and not try to cut it too close. Remember I wanted to set it to several minutes :stuck_out_tongue:

Like I mentioned above, we're talking about an absol

[2021-01-28 22:19] StrikerRUS commented on #3829
OK, got your position.

[2021-01-28 22:31] jameslamb commented on #3829
@trivialfis or @hcho3 could you help us with something? No need to read all of the discussion above in this issue.

I noticed that in https://github.com/dmlc/xgboost/blob/c3c8e66fc9d285c265b07d78fb6866770a65347b/tests/python/test_with_dask.py, you use a mix of three strategies for creating Dask clients:

* `@gen_cluster` fixture from `distributed`
* `client` fixture from `distributed`
* manually c

[2021-01-29 08:22] shiyu1994 commented on #2742
@muttoni @chutcheson Could you provide a reproducible example, or, if possible, share your dataset with us? We are trying to remove this bug before the next release. Any help is really appreciated. Thanks.

[2021-01-29 15:46] jameslamb opened #3881 "[dask] Result shape from DaskLGBMClassifier.predict(pred_contrib=True) for CSC matrices is inconsistent with LGBMClassifier"
See the discussion in https://github.com/microsoft/LightGBM/pull/3866#discussion_r566106219 for full details.

`lightgbm.dask.DaskLGBMClassifier` tries to stay as close as possible to the API of `lightgbm.sklearn.LGBMClassifier`. This feature describes one known inconsistency.

In `lightgbm.sklearn.LGBMClassifier`, for multiclass classification tasks, if you call `.predict(X, pred_contrib=True)` a

[2021-01-29 15:54] jameslamb commented on #3829
Moving https://github.com/microsoft/LightGBM/pull/3866#issuecomment-769760478 over here to keep all conversation in this issue.

Even with the attempted fix from #3869 , another "dask teardown timeout" failure was just observed on a CI run for #3866 : https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=8861&view=logs&j=c28dceab-947a-5848-c21f-eef3695e5f11&t=fa158246-17e2-53d4-5936

[2021-01-29 16:04] jameslamb commented on #3881
Added this to #2302, where we store feature requests for this project. Anyone is welcome to contribute this feature. Leave a comment below if you'd like to pick it up and the issue can be re-opened.

[2021-01-29 16:24] StrikerRUS commented on #3881
One addition:

The same is true for CSR matrix as well.

See the following core Python API test to better understand what is expected:
https://github.com/microsoft/LightGBM/blob/217642ca716df8cefb592630907a4e658cd3439a/tests/python_package_test/test_engine.py#L1058-L1100

[2021-01-30 03:38] jmoralez opened #3882 "[dask] Having workers without data kills the training process"
## How you are using LightGBM?

LightGBM component: Python package

## Environment info

Operating System: Ubuntu 20.04

CPU/GPU model: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz

C++ compiler version: g++ 9.3.0

CMake version: 3.18.2

Python version: 3.7.9

LightGBM version or commit hash: b6386842d1b24d59928c9bf67333ddafdbda0da9

## Error message and / or logs

[LightGBM] [Warning] Set TCP_NODELA

[2021-01-30 04:02] jameslamb commented on #3882
Thank you for the excellent bug report!

I think you might be hitting the same issue that inspired https://github.com/microsoft/LightGBM/pull/3840. Could you try building from latest `master` and see if you still hit this?

I tried something very similar to your example today (more workers than partitions in the data) and didn't hit this problem, but I understand that it's tough because it doesn't

[2021-01-30 04:37] jmoralez commented on #3882
I just rebuilt using ea8e47ea24fb942155f16da6720b32de976d5731 and I confirm I can't reproduce this anymore. Closing until I (hopefully not) run into this again.

[2021-01-30 04:37] #3882 closed

[2021-01-30 04:44] jameslamb commented on #3882
Thanks! I think it would be good to have a unit test in https://github.com/microsoft/LightGBM/blob/master/tests/python_package_test/test_dask.py that tests that LightGBM behaves well in the "less partitions than workers" situation.

Are you interested in contributing that / do you have the time? If not, no problem and I can do it based on your great reproducible example in this issue.

[2021-01-30 05:01] jmoralez commented on #3882
I can give it a go if that's ok. Thank you for the suggestion.

[2021-01-30 05:10] jameslamb commented on #3882
we'd really appreciate it, thanks! `@` me if you have any questions.

[2021-01-30 05:34] jameslamb commented on #3782
I tried testing today whether #3840 would allow use of the Dask package on Mac (based on https://github.com/microsoft/LightGBM/issues/3839#issuecomment-766410406).

I found that most tests from `pytest tests/python_package_test/test_dask.py` pass, but the ranker tests regularly fail.

[code]

<details><summary>full log of errors</summary>

[code]

</details>

I ran these tests on my Mac laptop (ma

[2021-01-30 12:24] StrikerRUS commented on #3782
Report from Windows with ea8e47ea24fb942155f16da6720b32de976d5731:
[code]
[code]

Attaching log in file because

Full log:

[log.txt](https://github.com/microsoft/LightGBM/files/5897916/log.txt)

[2021-01-31 08:10] jameslamb commented on #3808
Thanks for the comments and suggestions, everyone! I've just opened #3883 with my proposal for this issue.

I'm proposing removing the `client` keyword arg from `.fit()` and `.predict()`, and supporting these options:

[code]

If you have time and interest, comments on #3883 are welcome.

[2021-01-31 14:08] #3416 closed

[2021-01-31 14:26] StrikerRUS commented on #2302
For everyone who was voting for multi-gpu support, please try our new experimental CUDA version which was kindly contributed by our friends from IBM. This version supports multi-GPU training. We will really appreciate any early feedback on this experimental feature (please create new issues, do not comment here).

How to install: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#bu

[2021-01-31 14:27] StrikerRUS commented on #620
For everyone subscribed to this issue, please try our new experimental CUDA version which was kindly contributed by our friends from IBM. This version supports multi-GPU training. We will really appreciate any early feedback on this experimental feature (please create new issues, do not comment here).

How to install: https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-cuda-ver

[2021-01-31 18:23] ffineis commented on #3817
Hey, sorry for the delay re: client.rebalancing the test_ranker data. I ran some experiments:

Running 100 tests without rebalancing and 100 without, on each test writing each worker's `data.shape` to disk and the corresponding spearman rank correlation (this was the statistic affecting the flaky `assert` statement regarding the quality of the dask ranker). Since the `client` fixture we're using s

[2021-01-31 21:15] jameslamb commented on #3817
Thanks for the thorough research and explanation! It makes sense to me that the problem isn't as severe with the dataframe case because we put group information into the index and Dask can use that to cheaply form a plan to distribute the data.

I'm ok with your proposal to use `.rebalance()` only in the array case.

I think that we should expect these differences in the model produced wouldn't be

[2021-02-02 09:18] AndreyRysin commented on #3679
I've encountered the same problem as the topic starter @ch3rn0v.
The problem arises with a particular set of features and disappears if adding or removing at least one feature. Also, I tried to change 'max_bin', and in some cases, it helped to solve the problem, but this way is not reliable.

[2021-02-02 15:28] jameslamb commented on #3817
fixed by #3892, will re-open if I see that error again

[2021-02-02 16:29] shiyu1994 commented on #3679
@AndreyRysin Did you build LightGBM with the latest master branch source code, or use the released python version?

[2021-02-02 22:26] jameslamb opened #3894 "[dask] Add a scikit-learn compatibility test"
## Summary

`scikit-learn` supports a test that people writing scikit-learn extensions can use to check API compatibility with the rest of the scikit-learn ecosystem. Such a test should be added for the code in `python-package/lightgbm/dask.py`.

## Motivation

The discussion in #3883 focused a lot on compatibility of the dask estimators, like `DaskLGBMClassifier`, with the broader scikit-learn ec

[2021-02-02 23:13] #3698 closed

[2021-02-02 23:46] imjwang commented on #3894
Hey, I would like to be assigned this issue. I am in a software methodology class and passionate about data science.

[2021-02-03 00:13] jameslamb commented on #3894
Thanks @lmjwang! You're welcome to take it.

A few things you should know:

1. the Dask tests will only work on Linux, so you will have to develop in a Linux environment
2. you can build the package from source by running `cd python-package && python setup.py install`
3. you can run just the Dask tests to test your code by running `pytest tests/python_package_test/test_dask.py`

Feel free to ask q

[2021-02-03 00:26] StrikerRUS opened #3896 "[dask] Support all LightGBM boosting types"
## Summary

Right now the Dask interface in https://github.com/microsoft/LightGBM/blob/706f2af7badc26f6ec68729469ec6ec79a66d802/python-package/lightgbm/dask.py  is tested only with `gbdt` (default) boosting type.
https://lightgbm.readthedocs.io/en/latest/Parameters.html#boosting

I believe that parametrization of core tests (`test_classifier`, `test_regressor`, `test_ranker`) with different boosti

[2021-02-03 00:28] StrikerRUS commented on #3896
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-02-03 02:32] jmoralez commented on #3882
Hi @jameslamb. Should this be a different PR or could I include this in the ports PR?

[2021-02-03 02:45] jameslamb commented on #3882
A different PR please

[2021-02-03 05:10] jmoralez commented on #3861
Not sure if it's entirely related but the predict also fails if there are categoricals.
[code]

[code]
If I do:
[code]
It works as expected. I use categoricals a lot so I would really like to see this work, I'd like to work on this. Do you think it should be a separate issue or is related?

[2021-02-03 05:14] jameslamb commented on #3861
AH @jmoralez !!!! Maybe you found the secret to reproducing https://github.com/microsoft/LightGBM/issues/3861!

[2021-02-03 05:17] jameslamb commented on #3861
Thank you for the nice reproducible example, this could be the issue!

I'd love if you can fix this. Do you have time to work on it over the next few days? Sorry for the rush, but this is one of the issues I want to fix before we do a 3.2.0 release of `lightgbm`: https://github.com/microsoft/LightGBM/pull/3872#issuecomment-768794191. If you're not comfortable committing to working on this over the

[2021-02-03 05:39] jmoralez commented on #3861
Oh I meant it as in: if no one's taking it I'd like to check it out, haha. I'm not sure I'd be able to pull it off, I prefer maybe helping you with some findings or discussions.

[2021-02-03 05:44] jameslamb commented on #3861
Haha ok, thanks! I actually get some dedicated time to work on LightGBM at work...so how about I try this tomorrow and open a draft PR, and maybe I'll `@` you for a review and other ideas?

Now that you found a small reproducible example, it should go quickly.

[2021-02-03 05:49] #3808 closed

[2021-02-03 05:58] jameslamb commented on #3808
Thanks @jsignell and @martindurant for joining this issue and giving us your expertise! I just merged #3883 with the changes described in the comment above.

[2021-02-03 10:41] lebronjdw commented on #3851
Sorry for reply so late,but I have try the parameters you mentioned above,but it failed.
btw,"the reproducible example" is just I cant use any program on cpu,once i use it. It just falls back on cpu

[2021-02-03 10:47] lebronjdw opened #3899 "Cant handle large data on GPU!!!"
My GPU is 24G,but one I load data more than about 8.5G.The program breaks down.I found something in source code.But I dont want to modify source code to avoid this situation,so any idea about how to fix this with parameters?

[2021-02-03 12:51] cyfdecyf commented on #2788
One possible optimization for `two_round` option:

If input file is seekable, use `seek` to randomly select `bin_construct_sample_cnt` lines of text. This can avoid reading the whole input file twice.

Problems of this approach:
- If we generate random number as seek position and search for the next linebreak as selected line, this will favor longer lines. But I guess this would be acceptable if l

[2021-02-03 14:01] StrikerRUS commented on #2788
cc @guolinke @shiyu1994 @chivee @btrotta
for the `seek` idea above.

[2021-02-03 16:12] jameslamb commented on #3899
Thanks for using LightGBM!

We need more details to answer your question. Are you able to provide a reproducible example, with details like:

* how you are using LightGBM (CLI, Python, R, Java, etc.)
* how you installed LightGBM
* what type of GPU you have
* sample code that we could use to reproduce the problem
* specifics on what you mean by "the program breaks down"

If you have a proposal to i

[2021-02-03 19:05] JoshuaC3 opened #3905 "Investigate possibility of borrowing some features from Explainable Boosted Machines"
## Summary

Borrow ideas from InterpretMLs Explainable Boosting Machine to make LGBM more interpretable as well as more comparable to their EBM.

## Description

I am sure you are somewhat aware of [InterpretMLs Explainable Boosting Machine](https://github.com/interpretml/interpret) - also a Microsoft innovation!

I have been a long time user of LGBM and now an recent fan of EBM. Clearly, they are

[2021-02-03 21:35] chaaland commented on #3899
A rather [old thread](https://forums.developer.nvidia.com/t/why-is-cl-device-max-mem-alloc-size-never-larger-than-25-of-cl-device-global-mem-size-only-on-nvidia/47745/11) but my understanding of it is that NVIDIA interprets the OpenCL standard as only allowing any particular blob of memory to be at most 25% of device memory. This is an issue I've run into on 32GB GPUs as well and have never known

[2021-02-03 22:39] jameslamb opened #3907 "[dask] Add unit tests that signatures are the same between Dask and scikit-learn estimators"
## Summary

In a refactoring in #3883, I made a silly mistake and forgot to remove a keyword argument from a method in `DaskLGBMRegressor`.

We should have unit tests on the Dask module that check that estimators' `.fit()` and `.predict()` methods have a similar signature to their scikit-learn equivalents.

## Description

The exposed keyword arguments in `.fit()` and `.predict()` in the Dask esti

[2021-02-04 02:39] lebronjdw commented on #3899
Thank you for you quick replay.

1. By lgb.LGBMRegressor() in python
2. pip install lightgbm --install-option=--gpu
3. NIVIDA RTX TITAN 24GB
4. lgb.LGBMRegressor(x,y) where x is more than 8.5Gb
5. I use "lgb.LGBMRegressor()" in jupyter notebook,And "the program breaks down" means the jupyter kernel breaks down

Looking forward to your reply.

[2021-02-04 03:31] jameslamb commented on #3899
Can you share what you mean by "found something in source code"? If you believe you found an inefficiency in LightGBM that is leading to more memory consumption that necessary, we'd very much appreciate details on that so that it can be fixed.

[2021-02-04 04:03] jameslamb commented on #3861
Alright, I think I have a fix for this. I wanted to post some more debugging information here.

Thanks to your huge help discovering that category cols was the issue,  @jmoralez , I came up with the reproducible example below. I wanted something a little lower-level than using `dask.datasets.timeseries`, just so we could more easily change it while experimenting.

[code]

`.predict()` will fail wi

[2021-02-04 05:34] GOusignu commented on #3907
Hey! I would like to work on this. Pretty new to this, but I'm willing to put in the time

[2021-02-04 06:02] jameslamb commented on #3907
Sure, thank you very much for volunteering! We look forward to your contribution. Please ask here if you need any help.

[2021-02-04 07:11] GOusignu commented on #3907
Cool, thanks!

[2021-02-04 08:12] lebronjdw commented on #3899
Sorry for that I am not sure what i find,so I need some time to check  it.

[2021-02-04 11:10] dmasip-rxd commented on #3679
Having the same issue, with the following particularity: With the exact same code, in version 2.3.0 the training goes on well and on 3.1.0 I come across this issue.

[2021-02-04 13:13] guolinke commented on #3679
@dmasip-rxd @AndreyRysin
I think this is fixed in the latest master branch, can you try it?

[2021-02-04 13:39] operte commented on #3679
I had the same issue. Reverting to v3.0.0 fixed it for me.

[2021-02-04 16:06] jameslamb opened #3909 "[dask] Cannot use a mix of Array and DataFrame types in training"
## Summary

Using the estimators in `lightgbm.dask`, it is not possible to train on a mix of Dask Array and Dask DataFrame. I found, for example, that if `X` is a Dask DataFrame and `y` is a Dask Array, training fails with an error like this

It should be list, numpy 1-D array or pandas Series

<details><summary>full logs</summary>

[code]

</details>

## Notes

I haven't investigated this at all

[2021-02-04 16:10] flippercy opened #3910 "[LightGBM] [Warning] Unknown parameter: linear_tree"
I am using lightgbm via reticulate in R:

parameters = {
    'objective': 'binary',
    'linear_tree': 'true',
    'tree_learner': 'serial',
    'metric': 'auc',
    'n_jobs': 12,
    'seed': 19850606,
    'boosting': 'gbdt',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'verbose': 1,
    'monotone_constraints': lightGBM_monotoneVector,
    'monotone_constraints_method':'advanced'

}

light

[2021-02-04 16:14] StrikerRUS commented on #3910
Hi @flippercy !

Linear trees are not included in the latest release. Refer https://github.com/microsoft/LightGBM/pull/3299#issuecomment-772614889 to for workaround.

[2021-02-04 16:14] #3910 closed

[2021-02-04 16:20] jameslamb commented on #3910
@flippercy by the way, linear trees are available in the R package. Just not released to CRAN yet.

You can see https://github.com/microsoft/LightGBM/blob/fc2da2ec84e2dd9aa06421edcb5a625808eb546e/R-package/tests/testthat/test_basic.R#L348 for a usage example, and https://github.com/microsoft/LightGBM/blob/master/R-package/README.md#installation for details on how to build the R package from source

[2021-02-04 16:27] flippercy commented on #3910
Thank you both! I will try the methods you suggested while waiting for the next official release!

[2021-02-04 16:42] GOusignu commented on #3907
I have a doubt ,
since checking for subsets (in order of course) is independent of the method (fit, predict) , and of the type of estimator (Regressor, Classifier, Ranker) , wouldn't a single test function do the job?  something like

`def task_dask_estimator_method_arguments_are_subset_of_sklearn_counterparts(methods):`

[2021-02-04 16:46] jameslamb commented on #3907
I don't understand the question, sorry. You're welcome to open a draft pull request with a proposal when you feel you have something working that accomplishes the goal of this issue. Giving direct feedback on code might be easier than discussing this abstractly.

[2021-02-04 16:48] GOusignu commented on #3907
ok sure

[2021-02-05 03:15] jmoralez commented on #3909
I believe this is actually because `label` has shape (5000,1) instead of just (5000,). I just tried it with
`label = da.random.random(5000, chunks=1000)` and it works.

[2021-02-05 03:58] jameslamb commented on #3909
Thanks for investigating @jmoralez ! But I don't think that's exactly the problem.

If you try changing `ddf` to a Dask array and leave `label` exactly as it is specified in my example, you'll get a warning

  return f(**kwargs)
/opt/conda/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the

[2021-02-05 04:22] jmoralez commented on #3909
I've investigated a bit more and the type of `X` decides which type of validation to perform on the inputs [here](https://github.com/microsoft/LightGBM/blob/fc2da2ec84e2dd9aa06421edcb5a625808eb546e/python-package/lightgbm/sklearn.py#L561). So when `X` is an array it uses scikit-learns [check_X_y](https://github.com/scikit-learn/scikit-learn/blob/819c43cc7a1d7efab855e982a91e15be7aec7db1/sklearn/uti

[2021-02-05 15:51] flippercy commented on #3910
Just to confirm - does monotone_constraints work with linear_tree? (I believe so but want to double check).

Thank you!

[2021-02-05 18:29] AndreyRysin commented on #3679
@shiyu1994 Sorry for the delay with the answer.
I used a command:
conda install -c conda-forge lightgbm
Now I am trying version 3.0.0.

[2021-02-05 20:10] gsimko-lyft opened #3912 "monotone constraints for multiclass objective"
It's undocumented whether monotonicity constraints are supported for the multiclass objective but based on some small tests it looks like they only support writing constraints for the first class.

If that's true, would it be possible to add separate constraints for each class?

[2021-02-06 06:57] bsergean opened #3915 "openmp/gcc compatibility problem with nothrow attribute -> lead compile error"
gcc-9 has a different interface for some function, using the nothrow attribute. I wonder if the fake interface for lightgbm should use nothrow for gcc as well to be compatible. See the compile error below.

## How you are using LightGBM?

* C++ library

## Environment info

Operating System: Linux Ubunu 18.04
C++ compiler version: gcc 9
CMake version: >= 3.17
LightGBM version or commit hash: v3.0.

[2021-02-06 07:00] bsergean commented on #3915
Other pb with gcc-9 / https://github.com/lammps/lammps/pull/1483, maybe unrelated

[2021-02-06 07:01] bsergean commented on #3915
This spec does not mention the 'nothrow' attribute. https://www.openmp.org/spec-html/5.1/openmpsu121.html#x160-1930003.2.2

[2021-02-06 16:05] AlbertoEAF commented on #3751
@tarunreddy1018 I don't have permissions, must be you closing it :)

[2021-02-06 19:30] jameslamb commented on #3910
I think @btrotta is better-qualified to answer that question than I am.

[2021-02-06 21:48] StrikerRUS commented on #3751
Fixed via #3771.

[2021-02-06 21:48] #3751 closed

[2021-02-06 21:49] StrikerRUS commented on #3675
Fixed via #3771.

[2021-02-06 21:49] #3675 closed

[2021-02-06 22:19] #3861 closed

[2021-02-06 23:19] jameslamb commented on #3712
@ffineis do you think you'll have time to work on this this week? We're planning to do a 3.2.0 release of LightGBM in the next week or two. I didn't include this in my list of must-have Dask features for the next release  (https://github.com/microsoft/LightGBM/pull/3872#issuecomment-768794191), but I'd love to try to get this change in if we can since it can have such a big impact on training runt

[2021-02-06 23:36] ffineis commented on #3712
Hey! Yes sorry I’ve started planning for this, gimme another week? The only
tricky part of matching xgboost.dask’s implementation is the id(training
data) check. So yeah, sorry haven’t made any progress yet but was planning
to make some commits this week.

On Sat, Feb 6, 2021 at 5:19 PM James Lamb <notifications@github.com> wrote:

[2021-02-07 02:53] jameslamb commented on #3712
oh yeah no problem, thanks!

[2021-02-07 04:09] jameslamb opened #3918 "[dask] Dask estimators sometimes return an incomplete booster"
## Short description of the problem

`DaskLGBMRanker` and `DaskLGBMRegressor` sometimes return a model with an incomplete booster. Training with `num_iterations = 50` and no early stopping, `.fit()` from these classes sometimes returns a booster with less than 50 trees.

## Reproducible Example

The example code below uses [the functions from `lightgbm`'s tests](https://github.com/microsoft/LightG

[2021-02-07 07:15] jameslamb commented on #3912
@CharlesAuguste could you comment on this whenever you have time?

[2021-02-07 07:22] jameslamb commented on #3915
Hi @bsergean , thanks for using LightGBM, and for reporting this.

Could you please clarify some things for us, so we can be most helpful?

1. What commands did you use to compile LightGBM?
2. Have you tried this on the most recent version of the library (pulling from the most recent commit on `master`)? v3.0.0rc1 [was released several months ago](https://github.com/microsoft/LightGBM/releases/tag

[2021-02-07 12:03] wenmin-wu commented on #3744
Thanks, @StrikerRUS and @jameslamb, let me forward this issue to scikit-learn.

[2021-02-07 13:24] #3744 closed

[2021-02-07 17:20] imjwang commented on #3894
Hey @jameslamb, I'm going through test_sklearn.py and I'm curious why lgb.sklearn.LGBMRanker is not included here?
[code]

[2021-02-07 17:31] jameslamb commented on #3894
Good question! I do not actually know. @StrikerRUS do you know?

By the way in the future, a link to code is more helpful than just copying it: https://github.com/microsoft/LightGBM/blob/e056237b22d4f744c4e3ddf9d9109817becff5e0/tests/python_package_test/test_sklearn.py#L1150

[2021-02-07 17:38] #3907 closed

[2021-02-07 17:46] mayer79 commented on #1944
@jameslamb Are there still plans to replace demos by simple vignettes? If yes, I could give it a try.

[2021-02-07 17:50] jameslamb commented on #1944
Yes definitely! I have been focused on the new Dask module in the Python package recently, so haven't been giving as much attention to the R side. I'd love if you submitted a proposal for this.

I don't think you should try to move all demos at once. I think it would be good to have a first pull request that just adds an introductory "Getting Started with LightGBM" vignette, to replace https://git

[2021-02-07 17:52] mayer79 commented on #1944
Sure thing!

[2021-02-07 18:32] StrikerRUS commented on #3894
Scikit-learn doesn't have learning-to-rank applications. So there is no point to test LGBMRanker to be "compatible" with something that doesn't support ranking.
From the technical point of view, LGBMRanker requires `group` argument to be passed to `fit()` method. And scikit-learn API tests knows nothing about it.

[2021-02-07 19:01] LiuJiLan commented on #103
Maybe you can try to use `extern "C"` before your C++ functions or other languages which support Function Overloading.
Because the language like those DO NOT name a function exactly as you to do.

[2021-02-08 02:00] jmoralez commented on #3712
Hi. I've been playing around with this and have a working (although horrible) implementation of this. The approach I took was using the futures of the persisted collections instead of turning the collections to lists of delayeds, so this avoids recomputing the training set in case it is in the `eval_set` as well (because both futures have the same key). Would you guys be interested in discussing t

[2021-02-08 03:59] jameslamb commented on #3712
Interesting! I'll leave it to @ffineis to comment on that. Right now, I think our highest priority is supporting early stopping, and it would be ok if the first implementation of that merged to `master` computes the training data twice.

[2021-02-08 04:29] jameslamb commented on #3918
I ran a few more experiments tonight and found some interesting things. Basically, I don't think there is a bug and I think this is just a problem that can arise using very very small training data (relative to `n_estimators` and `max_depth` / `num_leaves`).

So I think this can be closed.

---------------------

For binary classification, increasing the dataset size from 100 to 1000 observations

[2021-02-08 04:29] #3918 closed

[2021-02-08 04:39] ffineis commented on #3712
Hey @jmoralez, thanks for the ideation! Honestly, don't feel bad, I think any implementation of ES will be pretty hairy given that we're using lists of delayed partitions instead of distributed lgbm.Datasets. I'm a fan of how xgboost.dask attempts to accomplish what you've mention via `id` - I'm just going to check whether each `X` in a (X, y) eval set shares the same `id` as that of `data`. If so

[2021-02-08 08:15] btrotta commented on #3910
@flippercy It is not possible to enforce monotone constraints when using linear tree. This is because the linear models are fitted on each leaf after the whole tree is constructed, and we do not take monotone constraints into account when fitting the linear models.

However, you can still use monotone constraints when linear_tree is true, and the constraints will be taken into account when choosin

[2021-02-08 13:58] #3857 closed

[2021-02-08 15:33] StrikerRUS commented on #3841
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-02-08 15:40] jmoralez commented on #3712
Yeah that sounds fair. Is there a plan to create an `lgb.DaskDataset`?

[2021-02-08 16:56] CharlesAuguste commented on #3371
Unfortunately I haven't fixed it, and I am not able to spend time on it right now. I am sorry about that.

[2021-02-08 17:19] bsergean commented on #3915
Hi @jameslamb and thanks for taking a look.

1. I was not able to reproduce the error outside of our CMake builds scripts, which use cmake and ExternalProject, and unity builds.
2. The problem is also present in the master branch of LightGBM.

I have made a PR with more info, where I define the attribue __GOMP_NOTHROW like the gcc header do, and like dmlc-core (used by xgboost) do as well.

[2021-02-08 19:12] julioasotodv opened #3924 "[R-package] add support for specifying training indices in lgb.cv()"
## Summary

The addition of a `train_folds` argument in `lgb.cv()` would allow for more fine-grained folds generation that is useful in some scenarios, such as time series forecasting (just like xgboost R package does).

## Motivation

The R function `lgb.cv()` currently has got an argument that allows you to specify manual folds through the `folds` argument. This argument expects a `list` of indi

[2021-02-08 19:23] bsergean opened #3925 "fatal error: ../../../external_libs/fmt/include/fmt/format.h: No such file or directory"
## Description

Installed headers (utils/common.h) reference uninstalled third-party header (format.h).
Those inclusions of un-installed third-party code in public headers make it so that we cannot build the library anymore.

[code]

The error message is

[code]

## Reproducible example

... todo ...

## Environment info

LightGBM version or commit hash: master

This seems to be a  regression from

[2021-02-08 19:37] StrikerRUS commented on #3925
Just a quick check: have you specified `--recursive` flag during cloning LightGBM repository?
[code]

[2021-02-08 19:39] bsergean commented on #3925
Yes I did (I actually used git submodule init + git submodule update but that should be equivalent).

I can compile the library just fine, but if I install it in some place on my disk, and then try to compile a standalone project using headers from that install folder, the problem appears.

[2021-02-08 19:48] CharlesAuguste commented on #3912
@jameslamb I agree with @gsimko-lyft that monotone constraints don't work for this objective. I think we should disable monotonicity constraints for this specific objective, unless you have a better idea.

The main issue here is what we mean by monotonicity. I think in this case the end users may be expecting monotonicity of the argmax of the output probabilities (=the predicted class) with respec

[2021-02-08 20:27] gsimko-lyft commented on #3912
@CharlesAuguste Softmax is a monotonic function so performing a softmax on top of all the other monotonicity-preserving steps should still maintain monotonicity. Am I missing something?

Wrt. classification in my use case I'm more interested in the predicted probabilities than the (binary) classification. Since I need probabilistic interpretation I could work with regression and apply a sigmoid/so

[2021-02-08 22:20] flippercy commented on #3910
@btrotta thank you for the response!

@jameslamb can someone add this to the documentation of lightGBM parameters at <https://lightgbm.readthedocs.io/en/latest/Parameters.html>, please?

Thank you!

[2021-02-09 03:18] jmoralez opened #3929 "[dask] Support asynchronous workflows"
## Summary

Implementing coroutines for training and computing predictions with an asynchronous dask client.

## Motivation

By having an asynchronous interface, `LightGBM`'s distributed training with dask could be used in concurrent applications. One possible use case for this would be having a trained LightGBM model in a web application and get predictions from it in a non-blocking fashion. Anot

[2021-02-09 03:31] jmoralez commented on #3909
Should I go for it?

[2021-02-09 03:33] jameslamb commented on #3929
Thanks for opening this! Could you please provide a more specific XGBoost link, to the parts of their code that specifically allow async access?

Could you also add details on why someone would want to use LightGBM with Dask asynchronously?

[2021-02-09 03:35] jameslamb commented on #3909
sure!

[2021-02-09 03:48] jmoralez commented on #3929
Hi James. I've updated my comment with some cases I can think of. I realize this probably needs to come after some other building blocks but I'd like to work towards this, what do you think would be needed first?

[2021-02-09 04:04] jameslamb commented on #3929
Thanks very much for that. I added a link to XGBoost's docs on this topic as well: https://xgboost.readthedocs.io/en/latest/tutorials/dask.html#working-with-asyncio.

If you're interested in contributing further, we'd be very grateful!  But to be honest, I think that a lot of fundamental pieces need to be added before we consider supporting asynchronous training / prediction in the Dask interface.

[2021-02-09 06:12] arkothiwala commented on #2742
[lgbm bug.zip](https://github.com/microsoft/LightGBM/files/5949195/lgbm.bug.zip)

The issue is reproducible with attached dataset @shiyu1994

### Error message:
_LightGBMError: Check failed: (best_split_info.left_count) > (0) at D:\a\1\s\python-package\compile\src\treelearner\serial_tree_learner.cpp, line 651 ._

### Code to reproduce:
[code]

### **Few Observations**
1. Does not throw error upon

[2021-02-09 13:11] mburaksayici commented on #3447
Hi, having the same problem but didn't think that it's a bug. When I see this topic i see its worth questioning that.
I calculate 10th,30th,50th,70th,90th quantiles for time series regression problem. On some points, p30-p50-p70 is mixing up. Until I see the suggestion of  @TomekPro  I thought it's due to randomity of the training process, because when I average ensemble the  same model with same

[2021-02-09 17:15] nhirschey commented on #3858
An additional data point: I had a similar issue that was fixed by setting keep_training_booster=True, except python would crash with no error (whether at the terminal or jupyter kernel).

I could train in R and command line, but loading the model out put by lightgbm.exe crashed python too, which led me to finding this solution in the repo.

R could train the model, but if I tried to save the model

[2021-02-09 20:45] imjwang commented on #3894
I copied these lines of code to test_dask.py with their dependencies, but used lgb.DaskLGBMClassifier, lgb.DaskLGBMRegressor for _tested_estimators():
https://github.com/microsoft/LightGBM/blob/a4cae37c917b039590c0668867557de79212041e/tests/python_package_test/test_sklearn.py#L1150-L1182

But running  `pytest tests/python_package_test/test_dask.py -k test_sklearn_integration`
is giving me a bunch

[2021-02-09 21:28] #3871 closed

[2021-02-09 23:26] jameslamb commented on #3894
Seems like a good approach! If you feel like you have something that is mostly working, please open a pull request and I can give more specific help there.

For the `No clients found` error...

Creating an instance of the Dask estimators requires an active Dask client. We do this with [a `client` fixture from dask/distributed](https://github.com/dask/distributed/blob/7d2a22f94332974825e599dd779b4d

[2021-02-10 01:09] CharlesAuguste commented on #3912
@gsimko-lyft Here is how I think the multiclass objective function works. It is not one I know very well, so let me know if I am wrong somewhere. Say we want to predict classes in <img src="https://latex.codecogs.com/svg.latex?\small[1,n]" title="" />, versus a 1D variable x (to make things simple). Then for each step we will create n trees for the scores <img src="https://latex.codecogs.com/svg.l

[2021-02-10 03:35] gsimko-lyft commented on #3912
Thanks for the detailed explanation @CharlesAuguste, that made a lot of sense! I didn't realize earlier that internally LightGBM (and I think xgboost as well) builds n trees for n classes. Agreed with you that with this setup one needs to be careful. Building multiple one-vs-all is an excellent suggestion, if I understand correctly it would perform computationally similarly and we could have the p

[2021-02-10 04:18] jameslamb opened #3934 "[dask] Support custom objective functions"
## Summary

The Dask estimators in `lightgbm.dask` should support the use of a custom objective function.

## Motivation

This feature would bring Dask estimators closer to parity with the sklearn estimators.

## Description

I haven't thought through this much yet, just writing up a placeholder issue for discussion. If you're reading this and have ideas, please comment and the issue can be re-ope

[2021-02-10 04:19] jameslamb commented on #3934
Closing this in favor of putting it in #2302 with other feature requests. Anyone is welcome to pick up this feature! Please comment if interested and the issue can be re-opened.

[2021-02-10 04:21] jameslamb commented on #3929
I've added this to #2302 , where we keep all feature requests.

[2021-02-10 05:14] #3734 closed

[2021-02-10 15:43] #3929 closed

[2021-02-10 18:37] memeplex commented on #3634
Hi, sorry that I wasn't able to timely comment on this. I might be wrong but I find the  note

misleading. According to the code:

[code]

the approximation is based on the pre-split num data in a node, not the hessian.

Then there is the suggestion to use `min_sum_hessian_in_leaf` instead, since it can be seen as a lower bound to the product `num_data x avg_hessian` which controls the number of i

[2021-02-10 19:09] jameslamb commented on #3634
@guolinke could you comment on this? It's a little outside of my depth, I think.

[2021-02-11 09:45] CHDev93 commented on #3858
@StrikerRUS  Although this issue is closed, I'll leave this here for reference in case there are plans for a fix

The original issue was seen on Windows with 5000 leaves and 5000 boosting rounds being sufficient to observe the problem consistently on data of shape (3e6, 250). I reran the same experiment on a Linux machine with the CPU using both 5000 boosting rounds and 8000 boosting rounds. Both

[2021-02-11 16:33] ZFTurbo commented on #3679
I have same issue on 3.1.1, build from source with GPU.

`lightgbm.basic.LightGBMError: Check failed: (best_split_info.left_count) > (0) at G:\Projects\LightGBM\LightGBM\src\treelearner\serial_tree_learner.cpp, line 653 .`

[2021-02-11 17:42] George3d6 opened #3939 "How to tell if the GPU-version of lightgbm is installed"
Is there any way to tell from within python if lightgbm can use the GPU of the machine it's running on, or at least if the gpu-spport version has been installed by the user?

[2021-02-11 17:56] George3d6 commented on #3939
My current method is:

[code]

[2021-02-11 17:56] George3d6 commented on #3939
+ using torch to check for cuda in order to save time.

[2021-02-11 18:43] jameslamb commented on #3939
Hi @George3d6 , good question! Thanks for using LightGBM.

I'm not aware of an "official" way to do this, but if there is one @StrikerRUS would know.

At a minimum, since you're just catching a general `Exception` I think you should at least move more of that code up out of the `try` block. An exception encountered when creating the dataset won't tell you whether or not a GPU-enable version has be

[2021-02-11 20:45] StrikerRUS commented on #3939
@George3d6

Your method is correct. But you can improve it by checking exact wording in error. With `'device': 'gpu'` param and LightGBM version compiled **without** GPU support you will get `LightGBMError`
https://github.com/microsoft/LightGBM/blob/84c4b7504a49eed63fa819a92db7d0b18292f3f4/python-package/lightgbm/basic.py#L245-L248
with the following message
https://github.com/microsoft/LightGBM/b

[2021-02-11 21:41] samFarrellDay opened #3940 "Parameters available in .cv()"

[2021-02-11 21:41] #3940 closed

[2021-02-12 02:32] jmoralez commented on #3909
Hi James. I've added the case for the column array and it works, however I'm not sure how to assert the warning since it happens in the workers. Do you have any suggestions for this?
I can see this in ipython:
[code]
However I can't assert the `pytest.warns`

[2021-02-12 02:37] jmoralez commented on #3807
I see this is a method of `lgb.Dataset`, should I attempt to make a Dask equivalent? I guess this will have to be done eventually to avoid having lots of parts all over the place.

[2021-02-12 02:50] jmoralez commented on #3909
Actually now that I think about it this isn't a dask specific problem, this happens with standard LightGBM as well, should I move the test there?

[2021-02-12 03:07] mjmckp opened #3941 "inf/nan values in model are silently converted to zero when model is round-tripped to file"
When compiled with VS2017, a round trip of a LightGBM model to string (or file) via the `GBDT::SaveModelToString` and `GBDT::LoadModelFromString` functions silently replaces all inf/nan values in the model with zeros.

This happens because the `GBDT::LoadModelFromString` calls `CommonC::StringToArray<double>` (see below, from line 1105 of utils\common.h) to convert the strings containing various p

[2021-02-12 03:33] jameslamb commented on #3807
Since you're working on this, I'll open the issue back up. Thanks for looking into it!

I'm not sure what you mean by "method of Dataset", sorry. For a training dataset of shape `[n, k]`, `init_score` is an array of shape `[n]` with initial scores for each sample.

https://github.com/microsoft/LightGBM/blob/84c4b7504a49eed63fa819a92db7d0b18292f3f4/python-package/lightgbm/sklearn.py#L194

Since the

[2021-02-12 03:36] jameslamb commented on #3909
If you think the underlying problem is not in the Dask module that's fine, but any pull request submitted to fix it should also include a unit test in the Dask tests, please. To be sure that it is fixed there and that we don't accidentally re-introduce the issue in the future.

[2021-02-12 04:36] jmoralez commented on #3807
Oh I meant the link in the summary points to `lgb.Dataset.set_init_score`. Ok, will try your proposed approach.

[2021-02-12 04:43] memeplex commented on #3641
I'm also getting:

[code]

in 3.8.6 with verbosity=-1, would this one also be fixed by https://github.com/microsoft/LightGBM/pull/3742 or should I open a new report?

[2021-02-12 05:23] ffineis commented on #3712
@jmoralez my guess is yes - I think check out #2302? Jlamb has a running list of dask features somewhere.

PR for this coming tomorrow night.

[2021-02-12 05:32] jameslamb commented on #3712
yes but I haven't written it up. Will do that right now. I like what `xgboost` did with `DaskDMatrix`. https://github.com/dmlc/xgboost/blob/9a0399e8981b2279d921fe2312f7ab1b880fd3c3/python-package/xgboost/dask.py#L185

[2021-02-12 05:55] jameslamb opened #3944 "[dask] add a DaskDataset"
## Summary

`lightgbm.dask` should include a `DaskDataset`, a version of the LightGBM `Dataset` object where array-like inputs are provided as Dask collections.

## Motivation

This would greatly simplify the internals for of `lightgbm.dask`'s training code.  It could consolidate the work currently being done by [`_concat()`](https://github.com/microsoft/LightGBM/blob/84c4b7504a49eed63fa819a92db7d

[2021-02-12 05:56] jameslamb commented on #3944
We keep all feature requests in #2302. Closing this and putting it there. It can be re-opened when it's in progress.

[2021-02-12 05:56] #3944 closed

[2021-02-12 05:58] jameslamb commented on #3712
I've added #3944 to track the idea of a `DaskDataset`. That's a fairly invasive change so I don't think it should be done before the 3.2.0 release (#3872)

[2021-02-12 07:03] guolinke commented on #3634
@memeplex The code you referred is to pre-filter the nodes that cannot split.
The count approximation is done inside best split finding, you can refer to this line:
https://github.com/microsoft/LightGBM/blob/84c4b7504a49eed63fa819a92db7d0b18292f3f4/src/treelearner/feature_histogram.hpp#L898-L899

[2021-02-12 11:51] StrikerRUS commented on #3641
@memeplex
I think #3742 should fix this warning as well. Could you please try nightly build?

[2021-02-12 15:30] victor-ab commented on #2742
I ran into the same problem here when using multiclassova. Multiclass worked nicely.

[2021-02-12 20:15] memeplex opened #3949 "[Question] Builtin metrics from python API"
I would like to score my models using metrics provided by lightgbm instead of generic scores like `r2_score` or other provided by sklearn. The closer I got was calling `est.booster_.eval(Dataset(X, y), "arbitrary_name", fobj)` but this:

1. Throws `'Booster' object has no attribute 'train_set'`, at least when `est` was fit using the sklearn API.
2. According to the Python API docs `fobj` is a call

[2021-02-13 02:07] #3915 closed

[2021-02-13 03:25] jmoralez commented on #3807
I believe `init_score` is deprecated in the scikit-learn interface. I'm getting
[code]

[2021-02-13 03:30] jameslamb commented on #3807
It is not deprecated. `init_score` should be passed to `fit()`, not the estimator's constructor: https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py#L543

If you get that same warning even when doing that, please ignore it.

[2021-02-13 05:37] jameslamb commented on #3814
I'm reopening this and assigning to myself since I'm actively working on it, as a next step toward release 3.2.0 (#3872)

[2021-02-13 05:37] jameslamb commented on #3838
I'm reopening this and assigning to myself since I'm actively working on it, as a next step toward release 3.2.0 (#3872)

[2021-02-13 05:50] jameslamb commented on #3924
Hi @julioasotodv . Thanks for using LightGBM, and for taking the time to write up this excellent feature request!

Adding a few more details for whenever this is picked up

* PRs where `{xgboost}` added this feature: https://github.com/dmlc/xgboost/pull/5114, https://github.com/dmlc/xgboost/pull/5064
* Stack Overflow question that prompted the `train_folds` feature in `{xgboost}`: https://stackove

[2021-02-13 05:55] jameslamb commented on #790
I want to note here that the new `lightgbm.dask` interface in the Python package might be a path to distributed training with YARN. You can run a Dask cluster on a YARN-managed cluster using the [`dask-yarn`](https://github.com/dask/dask-yarn) project.

If there's interest, we can at some point spin up an Amazon EMR cluster of some other YARN cluster and try running Dask-based training on it. Woul

[2021-02-13 15:11] ninenerd opened #3953 "Correct grid search values for Hyper-parameter tuning [regression model ]"
So i am using LightGBM for regression model.
**500k records , after pre-processing it has 30 columns.**
_Now for HPT i'm using below grid search params,_

[code]

I want to make sure the parameter values are enough to make most of the grid search.
_Is number of estimators enough, max depth ?_
**Any suggestions or changes that you would recommend ?**

[2021-02-13 17:59] brunofacca commented on #3816
Hi. I assumed it would be appropriate to ask the above questions here because it could lead to an improvement in the documentation. If you disagree, please let me know if there is a better place to ask (e.g., a mailing list). Thank you.

[2021-02-13 17:59] brunofacca commented on #3818
Hi. I assumed it would be appropriate to ask the above questions here because it could lead to an improvement in the documentation. If you disagree, please let me know if there is a better place to ask (e.g., a mailing list). Thank you.

[2021-02-13 21:01] jameslamb commented on #3816
Yep this is the right place! This project is maintained by a small group with limited time so sometimes response can be slow.

@shiyu1994 could you help with this?

[2021-02-14 03:50] jameslamb commented on #3953
Thanks for using LightGBM!

Specifics will depend on your dataset and problem, but I can offer some general comments.

You can see https://lightgbm.readthedocs.io/en/latest/Parameters-Tuning.html for more tips on tuning parameters, and https://lightgbm.readthedocs.io/en/latest/Parameters.html for a full list of parameters.

I think some parts of your grid could be eliminated, because they're impos

[2021-02-14 05:20] jameslamb opened #3956 "[dask] Support custom metric functions"
## Summary

The Dask estimators in `lightgbm.dask` should support the use of a custom objective function.

## Motivation

Defining custom metrics functions gives users fine-grained ability to evaluate what's happening during training, and to control the training process via early stopping (#3712).

This feature would also bring Dask estimators closer to parity with the sklearn estimators.

## Desc

[2021-02-14 05:22] jameslamb commented on #3956
Closing this in favor of putting it in #2302 with other feature requests. Please comment if you're interested in working on this and the issue can be re-opened.

[2021-02-14 13:52] brunofacca commented on #3816
It's impressive what you achieved as a small group. Given how powerful and feature-rich LightGBM is, I would think there is a large team (probably multiple teams) behind it.

[2021-02-14 15:02] StrikerRUS commented on #3739
Fixed via #3955.

[2021-02-14 15:02] #3739 closed

[2021-02-14 20:00] zyxue opened #3958 "Apply isort to python_package and corresponding tests"
## Summary

Apply [isort](https://github.com/PyCQA/isort) to all python files, including tests

## Motivation

Consistent imports order improves readability

## Description

Per discussion at https://github.com/microsoft/LightGBM/pull/3957#issuecomment-778792279, isort will be applied to the following files, which are selected with

[code]

one PR at a time for ease of review:

- [x] docs/conf.py

[2021-02-15 17:18] grigvardanyan opened #3986 "[cross_entropy]: does not tolerate element [#0 = 4] outside [0, 1]"
## Description
I want to train lgbm classifier with 4 classes.
Classes: labels are from 1-4.
Data: sparse matrix.
Model params: param = {'num_leaves':31, 'objective':'cross_entropy','num_threads':30}
                         param['metric'] = ['auc','cross_entropy']
Error
![error](https://user-images.githubusercontent.com/26326278/107976331-cc84c280-6fd2-11eb-9e3f-23b678ac33b9.png)

## Environment

[2021-02-15 18:02] StrikerRUS commented on #3986
[`cross_entropy` application](https://lightgbm.readthedocs.io/en/latest/Parameters.html#core-parameters) is not the same as classification. It requires that label values should be in `[0; 1]` range.

You can read https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/logistic_regression.py for more info.

[2021-02-15 18:02] #3986 closed

[2021-02-15 18:02] #3939 closed

[2021-02-16 12:25] julioasotodv commented on #3924
@jameslamb sure! I just did. I will create a PR soon!

[2021-02-16 17:09] #3958 closed

[2021-02-16 17:12] StrikerRUS commented on #3958
@zyxue Thank you very much for your great contribution and original feature request!

[2021-02-16 18:05] jameslamb commented on #3867
Up to 30 errors as of https://github.com/microsoft/LightGBM/commit/d6ebd063fff7ff9ed557c3f2bcacc8f9456583e6. This will happen...adding more type hints gives `mypy` more stuff to check, so we should expect some volatility in that number as #3756 is slowly addressed.

Also, some of the issues below will be fixed when #3916 is merged.

<details><summary>30 errors in 3 files (check 10 source files)</s

[2021-02-16 18:23] jameslamb commented on #3756
I did the following this morning:

* replaced "[RFC]" in the title with "[python-package]"
* removed label "question"
* added more details in the description to help contributors looking to submit PRs that add type hints

Anyone reading this is welcome to contribute! Thanks for helping to improve LightGBM.

[2021-02-16 18:57] Alireza-Amani opened #3991 "Question: How does LightGBM convert feature_fraction to an integer value?"
Does it use floor or ceiling function?

if I have three features, what does feature_fraction = 0.5 mean? Each decision tree uses how many features at each split? 1 or 2?

(Im using the Python API)

I could not find my answer by reading the documentation, and a skim through source codes. Of course, I may have missed it.

[2021-02-16 19:13] jameslamb commented on #3991
Thanks for using LightGBM!

For 3 features and `feature_fraction = 0.5`, I believe 2 features will be used.

You can follow the links below in order to see how this is done in LightGBM's source code. If you're interested about other details of column sampling, see https://github.com/microsoft/LightGBM/blob/master/src/treelearner/col_sampler.hpp.

https://github.com/microsoft/LightGBM/blob/d6ebd063

[2021-02-16 19:42] CHDev93 commented on #3858
One more thing to add to this is that I can train a huge model on Linux (larger than 2GB), then load the model in Windows and do inference. I cross referenced the predictions with the Linux ones on a few thousand random data points and the L1 norm of the error is 0 so I'm fairly confident the model loaded in Windows is not corrupt (I was worried it was silently only loading 2GB of trees). The mode

[2021-02-16 20:35] #3456 closed

[2021-02-16 20:35] #3517 closed

[2021-02-17 01:03] Alireza-Amani commented on #3991
Thank you for your help.

So the `RoundInt` function that is defined here is another way of using `floor(feature_fraction + 0.5)`.

(I would love to be useful and add a note but I have zero experience really, not confident)

Thanks again for the prompt and detailed help and answer.

[2021-02-17 01:07] jameslamb commented on #3991
Yep that's correct! I encourage you to try the pull request if you're interested. We can answer your questions and help with the process.

[2021-02-17 01:18] #3991 closed

[2021-02-17 11:45] StrikerRUS commented on #3953
We already have similar feature request for enhancing parameter tuning guide with useful examples for various use cases.
You can subscribe to it #2617 and follow further updates.

[2021-02-17 11:45] #3953 closed

[2021-02-17 11:58] AlbertoEAF opened #3995 "[feature] Streaming data allocation"
# Motivation
Although LightGBM supports creating a dataset from an array of matrices through `LGBM_DatasetCreateFromMats`, there's no  support to load data from a data stream in single-pass fashion without knowing its size beforehand. For bigger datasets in distributed systems this can be a performance limitation.

This feature adds support for it in SWIG, although it is not Java-specific and coul

[2021-02-17 12:11] AlbertoEAF commented on #3995
Also, I'd like to add automatic C++ CI tests for this.

Do we already have C++ tests in the rest of the code? I'd like to start having them as there are some low-level parts which would useful to unit-test directly in C++, such as this.

I was looking into it and still in 2021 Google Test seems one of the best solutions. The other alternative was Catch2, but even if it makes testing easier, appare

[2021-02-17 12:57] StrikerRUS commented on #3995
I'm definitely +1 for this feature! Described use case seems reasonable to me. As a "feature request for feature request", I'd like to see this in C API, so everyone will be able to use it in codebases with LightGBM 🙂 .

Speaking about C++ tests, unfortunately we don't have any right now 😞 . There is only very old feature request for them: #261 (and #3841 as a sub-issue) and very promising ongoing

[2021-02-17 15:34] imatiach-msft commented on #3995
+1 this would be very useful for lightgbm in mmlspark codebase, which currently aggregates all of the streaming data as a large Java array, converts that to a large native array and passes that into the lightgbm native codebase.  I think this would reduce memory usage by 1/3 (I think 1/3 is used by Java, then 1/3 by temporary native array created from Java, and another 1/3 by dataset in lightgbm).

[2021-02-17 16:01] imatiach-msft commented on #3995
Hmm, I'm actually not entirely sure how much memory is used on the Java side in mmlspark.  It might actually reduce memory usage by 50% since I think we are actually making a deep copy of the Java data when reading it from the DataFrame in mapPartitions function, so then 1/4 of the data is loaded by the user in spark, 1/4 is currently aggregated and turned into native array, 1/4 of memory is taken

[2021-02-17 16:39] zacheberhart-kd commented on #2742
I also have this issue when using a similar workflow as the example @arkothiwala posted.

[2021-02-17 19:10] AlbertoEAF commented on #3995
Great analysis @imatiach-msft :) in our case with the [Java provider](https://github.com/feedzai/feedzai-openml-java/tree/master/openml-lightgbm), the input Java Dataset was taking ~70% of the total memory (due to the overhead of the Java pointers for each value which don't exist at all in C++).
The remaining 30% of the memory was sufficient to have 2 copies of the train data in C++:
  1. The C++

[2021-02-18 02:28] #3894 closed

[2021-02-18 02:35] StrikerRUS commented on #3894
We may want to get back for this after resolving upstream issue https://github.com/dask/dask-ml/issues/796.

[2021-02-18 11:25] CharlesAuguste commented on #3912
Sorry for not answering earlier. I hope you are able to make progress on the problem you are trying to solve. I am not sure if there is a compelling reason for building n trees. My guess would be that it is easier to approach and more intuitive. Maybe @guolinke can tell us more about it? I read the paper you linked and it is very interesting. Their code is here https://github.com/zzd1992/GBDTMO

[2021-02-18 22:40] yolimonsta opened #3998 "pred_contrib value doesn't add up to prediction in lightgbm regression"
I'm using SHAP with LightGBM for regression.

The problem is that SHAP values don't sum up the predicted value.

Predicted values are all in the 0 - 10000 range. I have ~9000 features.

![Screen Shot 2021-02-18 at 16 39 41](https://user-images.githubusercontent.com/57816303/108431025-ece99280-7207-11eb-93db-7fc7808ac957.png)
Now the expected value is 60.774, while the sum of shap values is -4040,

[2021-02-18 22:50] imatiach-msft commented on #3995
@AlbertoEAF the PR looks amazing!  Do you have plans to add sparse support as well?  LGBM_DatasetCreateFromMats is only for dense case.  We really need sparse support for mmlspark as it's used in many use cases as well.

[2021-02-19 08:48] SpeckledJim2 opened #4001 "linear_tree parameter not recognised by R version of LightGBM"
## Description
Warning message: [LightGBM] [Warning] Unknown parameter: linear_tree

## Reproducible example

library(lightgbm)
x <- matrix(data = sample(rnorm(100L), size = 100L), ncol = 1L)
y <- 2L * x + runif(nrow(x), 0L, 0.1)
dtrain <- lgb.Dataset(data = x, label = y)

lgb_parameters <- list(
    objective = "regression"
    , linear_tree = TRUE # this parameter isn't recognised by lightGBM

[2021-02-19 10:00] btrotta commented on #4001
@SpeckledJim2 Linear trees are not yet available in the CRAN release. As a workaround you can build the package from source, see: https://github.com/microsoft/LightGBM/issues/3910#issuecomment-773430932

[2021-02-19 10:52] shiyu1994 commented on #3778
@AlbertoEAF It seems that the `predict` function is not from the C API ? I failed to reproduce the problem with `LGBM_BoosterPredictForFile`. Loading two models with `LGBM_BoosterCreateFromModelfile` and the predict with `LGBM_BoosterPredictForFile`, the two boosters produce consistent results. So could you provide more details about `predict` function ? Or provide a complete reproducible example

[2021-02-19 11:16] shiyu1994 commented on #2742
@arkothiwala @zacheberhart-kd The example is OK with the latest master branch. You can clone the source code and build the python package from source.

[2021-02-19 11:18] shiyu1994 commented on #3679
@ZFTurbo Can you provide an reproducible example? Thanks a lot.

[2021-02-19 11:21] AlbertoEAF commented on #3778
Yes it's not from the C API @shiyu1994 :) it's from this test code: https://gist.github.com/AlbertoEAF/5972db15a27c294bab65b97e1bc4c315

If you modify that gist like the snippet above this happens.

[2021-02-19 11:22] ZFTurbo commented on #3679
It was on large private dataset, which I can't provide. Error gone on other LightGBM settings. I will try to reproduce it on some small data.

[2021-02-19 11:27] shiyu1994 commented on #3679
@Does the error happen only under GPU settings?

[2021-02-19 11:46] StrikerRUS commented on #4001
@SpeckledJim2
You can subscribe to LightGBM repository releases

![image](https://user-images.githubusercontent.com/25141164/108500618-1adedd80-72c1-11eb-96bd-2676b7c0386d.png)

or to #3872 particularly

![image](https://user-images.githubusercontent.com/25141164/108500505-ee2ac600-72c0-11eb-9649-b25586807721.png)

to be notified about updates.

[2021-02-19 11:46] #4001 closed

[2021-02-19 11:51] ZFTurbo commented on #3679
I've checked. It only fails with GPU, while running ok on CPU. I only changed `'device': 'gpu'` => `'device': 'cpu'`

[2021-02-19 12:26] SpeckledJim2 commented on #4001
That's great, all installed and working, thank you!

I will raise another issue when I have created an example because when using predict() with predcontrib = TRUE the feature contributions no longer sum to prediction for the row if linear_tree = TRUE .  I think the feature contributions aren't using the linear model in the leaves, they are still using the constant value, even when linear_tree = T

[2021-02-19 13:35] StrikerRUS commented on #4001
Could you please check this one #3998. I guess it is the same case.

[2021-02-19 13:36] StrikerRUS commented on #3998
@yolimonsta
Hi!
Are you using [`linear_tree` param](https://lightgbm.readthedocs.io/en/latest/Parameters.html#linear_tree)?
Please provide more details for the issue.
It will be great to have fully reproducible example ([MCVE](https://stackoverflow.com/help/minimal-reproducible-example)) so that we will be able to help.

[2021-02-19 14:00] SpeckledJim2 opened #4002 "SHAP feature contribution for linear trees"
## Description
When using linear_tree = TRUE and predict() with predcontrib = TRUE, the sum of the feature contributions does not equal the predicted value.

## Reproducible example
library(lightgbm)
x <- matrix(data = sample(rnorm(100L), size = 100L), ncol = 1L)
y <- 2L * x + runif(nrow(x), 0L, 0.1)

lgb_params_1 <- list(
    objective = "regression"
    , linear_tree = FALSE
    , verbose = -1L

[2021-02-19 18:49] StrikerRUS commented on #3834
Seems that `feature_parallel` cannot be supported
https://github.com/microsoft/LightGBM/blob/7880b79fde36873b95839c0029ea9d649397da51/src/c_api.cpp#L130-L131

[2021-02-19 19:09] jameslamb commented on #3834
Oh wow!

For context, looks like that comment was added in https://github.com/microsoft/LightGBM/pull/986.

So does this mean feature-parallel learning is only supported in the CLI?

[2021-02-19 19:20] StrikerRUS commented on #3834
I think so.

[2021-02-19 19:33] jameslamb commented on #3834
ok I can make a separate pull request to update the parameter documentation for that, then

[2021-02-19 20:33] AlbertoEAF commented on #3995
Thanks @imatiach-msft :D

Well I didn't, but as soon as ChunkedArray is merged, it should be trivial to support collecting data in streaming for the sparse case as well from MMLSpark's code.

There are two parts to it:

1. You use a `ChunkedArray<double>` for the data array, and two `ChunkedArray<size_t>` for the col and row indices. This way you can already collect input data from a CSR/CSC strea

[2021-02-19 21:57] flippercy opened #4003 "Does monotone_constraints work when boosting_type = 'rf'?"
Does monotone_constraints work when boosting_type = 'rf'?

Thank you.

[2021-02-20 02:29] shiyu1994 commented on #3778
Sorry @AlbertoEAF , I still cannot reproduce the error. At least, for the attached `LightGBM_model.txt` file and the following code snippet, using the first and the second booster handle produce exactly the same result.

[code]

Could you please provide the `LightGBM_model.txt` file which produces the error? Thanks!
[LightGBM_model.txt](https://github.com/microsoft/LightGBM/files/6013984/LightGBM_

[2021-02-20 03:51] shiyu1994 commented on #3761
This problem is a numerical issue. Since row-wise and col-wise accumulate gradient values in different ways, when the values of gradients and hessians are quite small, the resultant histogram will have slight differences. Following is the histogram values from the first tree where `col_wise` and `row_wise` differ, compared by `diff`.
[code]
With `col-wise`, bin 31 is selected as threshold, while w

[2021-02-20 03:57] shiyu1994 commented on #3761
Also, I noticed that during training, the training loss vibrates dramatically with the provided data (starting from iteration 38). May be we need to increase the numerical stability.

[code]

[2021-02-20 12:14] StrikerRUS opened #4005 "MiKTeX setup error at CI in master"
[code]
https://github.com/microsoft/LightGBM/blob/646267d2656cbd13d86e498e96c6db95a9bae5d8/.ci/test_r_package_windows.ps1#L59
Only for Windows.
Full logs: https://github.com/microsoft/LightGBM/runs/1941681116

cc @jameslamb

[2021-02-20 17:26] jameslamb commented on #4005
haha NOOOOO we had been doing so well for so long!

I remember that the last time this happened, it went away on its own after a day.

https://github.com/microsoft/LightGBM/issues/3454#issuecomment-707474556

I'll try manually re-running the R jobs on `master` few times over the next few hours, let's see if it resolves itself. If

[2021-02-20 18:37] StrikerRUS commented on #4005
I don't have them.

[2021-02-20 18:54] jameslamb commented on #4005
ah I see, my mistake. Well I'm busy for the next few hours, but can look at this tonight if it isn't resolved just by waiting.

[2021-02-20 18:57] jameslamb commented on #4005
I just started https://github.com/microsoft/LightGBM/runs/1943021929 and I'm hopeful about it, because it looks like the `math.illinois.edu` mirror was updated within the last hour

http://dante.ctan.org/mirmon/

![image](https://user-images.githubusercontent.com/7608904/108605651-22fb5380-737b-11eb-8873-b6afda641ecd.png)

[2021-02-20 18:58] jameslamb commented on #4005
nope, sad, same failure

miktexsetup.exe: Data: url="https://ctan.math.illinois.edu/systems/win32/miktex/tm/packages/"
Error: Process completed with exit code -1.

ok, I'll check back in a few hours

[2021-02-20 19:18] StrikerRUS commented on #4005
Thank you! I'll try to re-run `master` too.

[2021-02-20 23:31] btrotta commented on #4002
@SpeckledJim2 feature contributions is not yet implemented for linear trees. I'll make a PR to update the docs to mention this.

Pull requests are welcome if anyone would like to work on implementing SHAP (i.e. predicting feature contributions) for linear trees.

Regarding your other comment, I agree it's somewhat confusing to have both the constant leaf values and the linear coefficients in the o

[2021-02-21 02:27] jameslamb commented on #4005
@StrikerRUS looks like others have been reporting this too :/

https://github.com/MiKTeX/miktex/issues/720

first report on that issue was 16 hours ago, and maintainers there said

So this should be fixed tomorrow, I hope. That's what happened with #3454 back in October as well.

Separately, I'm experimenting with [TinyTex](https://yihui.org/tinytex/) on my fork (https://github.com/jameslamb/Light

[2021-02-21 06:43] estroger34 opened #4007 "[R-package] R session crashes on Windows when {lightgbm} is loaded after tidyverse"
I am using lightgbm in a `tidymodels` workflow using the [treesnip](https://github.com/curso-r/treesnip) package. Data loading and wrangling uses functions from the `tidyverse`.

If `library(lightgbm)` is loaded after `library(tidyverse)`, the R session in RStudio crashes during model fit without further error.

If `library(lightgbm)` is loaded before `library(tidyverse)`, this does not happen.

T

[2021-02-21 13:29] StrikerRUS commented on #4005
Seems the issue is gone now.

[2021-02-21 13:31] StrikerRUS opened #4008 "data.table setup error at CI macOS job in master"
[code]

Full logs: https://github.com/microsoft/LightGBM/runs/1946047294?check_suite_focus=true.

[2021-02-21 13:31] StrikerRUS commented on #4008
cc @jameslamb

[2021-02-21 13:31] StrikerRUS commented on #4005
But now we have another error with `data.table`: #4008. 👿

[2021-02-21 13:32] StrikerRUS commented on #4008
I guess we just should wait for compiled binary version from CRAN.

[2021-02-21 17:36] jameslamb commented on #4007
@estroger34 thanks for using LightGBM!

Can you please tell me how you installed `{treesnip}`, and when you last installed it? That project is not on CRAN, so I wonder if you have a version of that project that is doing something non-standard with `{lightgbm}`. Until very recently, `{treesnip}` used to install `{lightgbm}` by downloading a binary manually created by the `{treesnip}` maintainers. I

[2021-02-21 19:46] jameslamb commented on #4008
it is pretty strange, since only the R 3.6 jobs are failing, even though Mac binaries for the newest `{data.table}` version are not available for R 4.0.

![image](https://user-images.githubusercontent.com/7608904/108636500-3675ef80-744b-11eb-9bfa-8cd176519195.png)

https://cran.r-project.org/web/packages/data.table/index.html

[2021-02-21 20:33] jayantsahewal opened #4009 "Mechanism to pass additional attributes to custom eval or loss functions"
Hello Team,

Great work on the package. I know there is a support for custom eval and loss function which is awesome. However, is there a way to pass additional attribute(s) (maybe part of feature set or maybe not). For example, imagine if there is a certain attribute by which we want the parity in the model's performance, then mathematically it's easy to create a custom eval function, but the fun

[2021-02-21 21:17] jameslamb commented on #4009
Thanks for using LightGBM and opening this issue.

Could you be more specific about what types of parameters you'd like to pass? We might be able to suggest a way to accomplish what you'd like to accomplish without needing to change the way `lightgbm` handles custom metric / objective functions.

[2021-02-21 21:41] jameslamb commented on #4008
I think this issue will resolve itself when the `{data.table}` binaries are up, but I've also opened #4010 with a proposal to prevent this in the future. I was able to reproduce the issue on my Mac and fix it with the proposal in that PR.

[2021-02-21 21:47] jayantsahewal commented on #4009
Yes, definitely. For example, let's say my training data has a column/feature which take values 'A', 'B', and 'C' and I want to make sure that the False Positive Rate on the evaluation data (which I use for early stopping criteria) is same across all values that feature can take.

[2021-02-21 22:55] jameslamb commented on #3689
Re-opening so we can discuss.

Early last month, I posted in the LightGBM Slack and Gitter saying that they would be shut down around February 15 (https://github.com/microsoft/LightGBM/pull/3710#issuecomment-753691131). Now that that date has passed, I think we should delete them.

Who owns those spaces and has the permissions to shut them down?

[2021-02-21 23:11] #4008 closed

[2021-02-21 23:44] StrikerRUS commented on #3689
@henry0312 Could you please help with Slack (according to #595)?

[2021-02-22 02:43] #3596 closed

[2021-02-22 08:06] JackYangzg opened #4011 "Load Big Model Using C API throw error: [LightGBM] [Fatal] Check failed: (strs.size()) == (static_cast<size_t>(n))"
## Description
Using lightgbm 3.1.1

train model using python 3.8, export the model as file.

python can load the model correctly, but using C api load the model, throw  [LightGBM] [Fatal] Check failed: (strs.size()) == (static_cast<size_t>(n))

## Reproducible example
train a model iteration > 5000, feature number: 150
load this model using C api LGBM_BoosterCreateFromModelfile

[2021-02-22 20:43] z-feldman commented on #4007
Came here b/c of similar R session crashing with tidymodels and treesnip. I'm trying @estroger34 examples and for me neither of those worked. Looks like only difference is I'm still on R 3.6.3

`R version 3.6.3 (2020-02-29)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19041)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=Eng

[2021-02-22 20:48] jameslamb commented on #4007
thanks for the report! I have the same question for you @z-feldman

1. how did you install `{treesnip}` and when did you last install it?
2. are you able to reproduce this problem in a session where `{treesnip}` is not involved?

[2021-02-22 21:15] z-feldman commented on #4007
1. I installed with ```remotes::install_github("curso-r/treesnip")```, which is what's on their README. I last installed it a few hours ago.

2. It looks like I get the error if I load any of ```{tidymodels}```, ```{treesnip}```, or ```{tidyverse}``` before ```{lightgbm}```

To test following examples start new R sessions for each...

This works:
[code]

This crashes:
[code]

[2021-02-22 21:23] jameslamb commented on #4007
wow that's wild haha! Ok thank you both for the very detailed reproducible examples. I'll look into this as soon as I can.

I can rule out one thing, for the benefit of anyone else trying to debug this.

`{lightgbm}` does not use any of the ["Hooks for Namespace Events"](https://stat.ethz.ch/R-manual/R-devel/library/base/html/ns-hooks.html) like `.onLoad()` or `.onDetach()`

[2021-02-22 21:43] jameslamb commented on #4007
Ok I'm testing right now on R 4.0.3, in a fresh R session in a clean container.

[code]

I installed the dependencies you mentioned above.

[code]

I then ran each of the examples from https://github.com/microsoft/LightGBM/issues/4007#issuecomment-783679319, even trying each of `{treesnip}`, `{tidyverse}`, and `{tidymodels}` for those where you left a comment like `# if any of these...`

I created

[2021-02-22 23:31] z-feldman commented on #4007
I did use rightgbm at one point. I'll try to see if there's something lingering from that

[2021-02-23 03:04] chloe-wang opened #4012 "can we define which category's score shall be plot on the tree with plot_tree function for multiclass classification?"
## Summary

I'm not sure the score on the leaves of the tree is for which category for multi class classification task with plot_tree function. I did not see the parameter related to this.

[2021-02-23 07:14] estroger34 commented on #4007
I did not use rightgbm before. I had installed treesnip just a day before opening this issue.

Just now, I removed `treesnip` with `remove.packages("treesnip")` and re-installed with `remotes::install_github("curso-r/treesnip")`.

This leads to exactly the same behaviour as described by @z-feldman on my machine. Now, also the second example of my first post, which did work a few days ago, crashes.

[2021-02-23 07:32] estroger34 commented on #4007
I did some more testing and found that in the above non-treesnip example the crash happens with any of the following packages from the `tidyverse` , if loaded before `lightgbm`:

[code]

For others, like Rlang, vctrs, generics, magrittr, there is no crash.

For the packages causing the crash, it can always be avoided by loading the package after lightgbm.

In between the tests, I cleared the envir

[2021-02-23 07:56] SpeckledJim2 commented on #4002
Thanks for the reply, re tree output table, I agree that leaving the constant values in there makes sense as you get them "for free" anyway.  The extra thing to include I think would be the coefficients of the linear model for each leaf if possible, but it might not be something that has widespread use so I don't have a strong opinion on it either.

Re feature contributions for linear models, I am

[2021-02-23 08:44] tzipperle opened #4014 "Unknown token nan(ind) in data file"
## Description
I my dataset is a categorical feature with some missing rows. This rows are encoded as pd.NA. Fore lightgbm I am converting this feature to pandas category. The training of the model works fine. But when I load the model from a file I geht the following error:
`raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 34 col

[2021-02-23 10:19] btrotta commented on #4002
@SpeckledJim2 the coefficients of the linear model are already available in the output of `save_model`. The relevant parts of the output are `num_features` (number of features used in the linear model for each leaf), `leaf_features` (index of the features used in each leaf's linear model), 'leaf_const' (constant terms of the linear models), and `leaf_coeff` (coefficients of the linear models). (No

[2021-02-23 10:35] tonyk7440 commented on #4007
I did a little digging on a fresh new windows server machine and I can reproduce the non-treesnip example above.

I tried the tidyverse packages individually and also some non-tidyverse packages listed above, below are some results.
The results are from loading one of the packages below then loading `lightgbm` and running the example code after that
[code]

[code]

Session info below when loading

[2021-02-23 14:49] StrikerRUS commented on #4009
@jayantsahewal I think you can use [`train()` function](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.train.html#lightgbm.train) from standard API. `fobj` and `feval` arguments of that function are callables which take whole Dataset object via `train_data` argument. So you can compute everything you want from original features. Just don't forget to specify `free_raw_data=False` duri

[2021-02-23 15:11] jameslamb commented on #4007
@tonyk7440 or @estroger34 could you try in a non-RStudio R session, like the `R --vanilla --no-restore` I used in https://github.com/microsoft/LightGBM/issues/4007#issuecomment-783694412?

It's also interesting that all three of you are using Windows. I'll have to try to reproduce this tonight on Windows.

[2021-02-23 15:59] yolimonsta commented on #3998
Hi! I am not using linear_tree = True. My model is really complex, and have a lot of missing value in feature. Could that be the reason?

[2021-02-23 19:20] StrikerRUS commented on #3998
Please provide either reproducible example or your model.

[2021-02-23 20:33] tonyk7440 commented on #4007
Hi @jameslamb , just tried what you suggested but unfortunately it also seems to have errored, screenshot attached below
I noticed too that all the examples are using Windows, I think I've had this problem with a while but just put it down to my own little computer problem

![image](https://user-images.githubusercontent.com/4944073/108904176-18101f80-7616-11eb-831a-e41dceee6235.png)

[2021-02-23 20:51] jameslamb commented on #4007
Ok thanks! That's really helpful. I'm going to change the image title to reflect that. I'm glad we could rule out RStudio as a source of the problem, that would have been really tough to debug :joy:

I won't be able to take a look at this until later tonight, but in case anyone gets to it sooner, I have two thoughts that might help.

1. I'd be surprised to learn that masking a function from `{dply

[2021-02-24 03:58] shiyu1994 commented on #4014
@tzipperle Did you train the model, then save it to the file, and finally load it from the file again? Could you please produce a reproducible example, or provide the model file? Thanks!

[2021-02-24 04:13] shiyu1994 commented on #4009
@StrikerRUS I think we cannot get the origin feature values from `train_data` in python directly? A dirty work around would be like this, which explicitly record the original feature value in python and directly use it in the evaluation function.
[code]

[2021-02-24 04:14] jameslamb commented on #3768
This was fixed by https://github.com/microsoft/LightGBM/pull/3823

[2021-02-24 06:23] shiyu1994 commented on #3778
@AlbertoEAF Could you please recheck this issue and provide a reproducible case? We need to fix this before next release. Thank you!  :)

[2021-02-24 06:37] germayneng opened #4017 "lgbm categorical, dataset or parameter dictionary"
## Description
warning from lgbm when passing categorical_features list in parameter dictionary

## Reproducible example

[code]

## Environment info

LightGBM version or commit hash: 2.3.1

Command(s) you used to install LightGBM

[code]

Hi, the context was that i was using pandas to parse the categorical features. However at inference time, this made it harder to work with array as lgbm will co

[2021-02-24 08:09] tzipperle commented on #4014
Here is a reproducible example:

[code]
The line `model = load('model.joblib')` leads to following error:

[LightGBM] [Fatal] Unknown token nan(ind) in data file
[LightGBM] [Fatal] Unknown token nan(ind) in data file
[LightGBM] [Warning] [LightGBM] [Warning] Unknown token nan(ind) in data file
Unknown token nan(ind) in data file

[2021-02-24 08:15] shiyu1994 commented on #4011
@JackYangzg  Thanks for reporting the bug. Could you provide a code snippet that shows how you load model with C API? Thanks. And I think this issue may be related to #3778 . Both have trouble with `LGBM_BoosterCreateFromModelfile`.

[2021-02-24 08:22] shiyu1994 commented on #4012
@chloe-wang. Thanks for using LightGBM. For multi class classification tasks, the number of trees will be the number of iterations multiplied by the number of classes. So the `tree_index` parameter of `plot_tree` function should take this into account. For example, if you want to plot the tree for category 3 (assuming category count starts from 1) of iteration 100 (assuming iteration count starts

[2021-02-24 11:17] StrikerRUS commented on #4014
I think LightGBM doesn't support `pandas.NA` in category features.

   https://github.com/microsoft/LightGBM/issues/2134#issuecomment-520261059

What is the purpose of this line?
[code]

[2021-02-24 11:26] StrikerRUS commented on #4017
Refer to https://github.com/microsoft/LightGBM/issues/1408#issuecomment-530096617.
As you've already mentioned, the correct way is to pass categorical features via Dataset constructor. Passing them is `params` is wrong.

[2021-02-24 11:26] #4017 closed

[2021-02-24 11:31] StrikerRUS commented on #4009
@shiyu1994 I believe we can. Just as  I mentioned above, `free_raw_data` should be `False`. Please consider checking the following snippet (reworked your code):

[code]

[2021-02-24 12:35] TalWac opened #4019 "[R-package] Error in data$update_params(params = params) : [LightGBM] [Fatal] Cannot change max_bin after constructed Dataset handle."
## Description

When trying to create a model I get this error:
[code]
## Reproducible example

I run the script from [Repit](https://www.retip.app/)

[code]

When running this line, I receive the error above:
`lightgbm <- fit.lightgbm(training,testing)`

However, if I remove the `max_bin = 50` inside the function`lightgbm::lgb.cv` (that inside the function `fit.lightgbm`) or change it to `max_bin

[2021-02-24 12:44] tzipperle commented on #4014
The row `data['cat'] = data['cat'].replace('NA', pd.NA)` is just an example. I have a dataset with some missing rows and there this error occurs. When I drop this code row then it is possible to dump and load the model. But when I do this the accuracy goes down - in this example and also in my “realistic” example. Is there a reason for this effect?

Here is the example with an random seed:

[code]

[2021-02-24 12:48] StrikerRUS commented on #4014
Could you please try `numpy.nan` instead of `pandas.NA`?

[2021-02-24 14:23] jameslamb commented on #4019
Thanks for using `{lightgbm}`!

Where does the function `fit.lightgbm()` come from? There is no such functiom in `{lightgbm}`. Right now, your example code does not seem to contain any `{lightgbm}` code.

[2021-02-24 14:30] shiyu1994 commented on #4009
Sorry. I did not noticed the `get_data()` method.

[2021-02-24 14:43] shiyu1994 commented on #4019
`[LightGBM] [Fatal] Cannot change max_bin after constructed Dataset handle.`
This problem usually occurs when:
First, a Dataset is created, and used for training once.
Then if the user uses the same Dataset to train for the second time, and specify a different `max_bin` value from the first training, the error will be reported.

This is because, before Dataset is used for training, the feature val

[2021-02-24 14:49] TalWac commented on #4019
@jameslamb - Sorry for being unclear.

The `fit.lightgbm()` comes from the [ Repit](https://www.retip.app/) (This is were all the code come from).
This how `fit.lightgbm()` looks like:

[code]

If I change the `max_bin = 50` in the `modelcv `  to `max_bin = 255` or remove it at all the function ` lightgbm::lgb.cv` does work.
Otherwise, there is the error mentioned.

[2021-02-24 14:57] TalWac commented on #4019
@shiyu1994 -  Thank you for your time

I do not think this is the case, since the ` fit.lightgbm` function looks like that:

[code]

And the `max_bin=50` is constant if I understand it correctly.

[2021-02-24 14:58] jameslamb commented on #4019
I see, that was the context we needed. Thank you  I think that if you pass `max_bin` as  parameter to `lgb.Dataset()`, instead of `lgb.train()` and `lgb.cv()`, your code will run successfully. @shiyu1994 's explanation above explains why. Let us know if you have additional questions.

[2021-02-24 15:32] TalWac commented on #4019
@jameslamb and @shiyu1994  Thank you for the clear explanations.
Following @jameslamb's last comment now it works.

Many Thanks!!

[2021-02-24 15:32] #4019 closed

[2021-02-24 19:16] jameslamb commented on #3909
fixed by #3943

[2021-02-24 19:16] #3909 closed

[2021-02-24 23:27] StrikerRUS commented on #4009
@shiyu1994 No problem! `Dataset` class is really "fat", it is impossible to remember all methods.

@jayantsahewal Does [`get_data()`](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Dataset.html#lightgbm.Dataset.get_data) method suit your needs?

[2021-02-25 02:54] StrikerRUS commented on #3469
I used this [awesome hack](https://github.com/nelsonjchen/reverse-rdp-windows-github-actions/blob/master/.github/workflows/reverse_rdp.yml) to connect to GitHub Actions runner via RDP and found that `windows-*` images has undocumented `rtools40` installation in the `C:` root. Maybe this is related.
At least, I don't think that multiple Rtools (and msys64 too btw) installations are good in any ways

[2021-02-25 02:58] StrikerRUS commented on #3469
Maybe we can containerize our Windows builds for R jobs with the aim to minimize weird build errors cause by overpopulated by various packages environment?
http://www.dahl-jacobsen.dk/data/2019/10/11/r-in-windows-containers/

[2021-02-25 03:01] jameslamb commented on #3469
WHOA that's amazing that you can do that! Yes I definitely think that could be related.

I also didn't know that there were any free Windows containers. Can that only be used on Docker for Windows?

[2021-02-25 03:08] StrikerRUS commented on #3469
Seems to be so:

   https://stackoverflow.com/a/42185265

[2021-02-25 03:47] jmoralez commented on #3793
I'd like to take this as well, James.

[2021-02-25 03:50] jameslamb commented on #3793
sure, thanks! It's possible that this already works and that all we need are tests. Look to test_sklearn.py for inspiration

[2021-02-25 04:02] jmoralez commented on #3793
I've repeated part in the tests that sets up the model factory and data from task and output a couple of times now. I want to extract that to a function like `_model_factory_and_data_from_task_and_output`. Should I open a different PR for that kind of refactor?

[2021-02-25 04:22] jameslamb commented on #3793
I'd prefer to keep the data stuff as-is for now, please. There are already several layers of indirection in the data loading for those tests and I'd prefer not to add more right now.

You could reduce duplication in the `model_factory` stuff simply with a dictionary.

[code]

I'd welcome a PR that does that.

[2021-02-25 04:48] jmoralez commented on #3793
Should this be a test that it just doesn't break? Like just calling `model.predict` and `model.predict_proba`? I looked at `test_sklearn` but there they're testing equality in the predictions from the sklearn api vs the training api.

Are you sure? I really want to do it haha, it removes like 90 lines in the file.

[2021-02-25 05:02] jameslamb commented on #3793
No, the test should check that you're getting the raw scores.

Something similar to this:

[code]

Yes, please don't touch it. It isn't important that each of the calls to `_create_data()` uses identical parameters, so condensing them to one function would be adding a layer of indirection for a consistency benefit that isn't relevant to the correctness or speed of the tests.

[2021-02-25 05:21] jmoralez commented on #3793
How about for regression:
[code]
I believe for classification would be applying sigmoid. For ranking I have to check it out.

[2021-02-25 05:23] jameslamb commented on #3793
If you follow my suggestion, you don't have to think about what the objective is. Please try that before exploring other options that require using non-default objectives.

[2021-02-25 05:43] jmoralez commented on #3793
What's the preferred way to compare scalar floats? I have an array of [-0.2, 0.2, -0.2, 0.2, ...] which mean should be zero but is something e-17 and both the `np.testing.assert_equal` and `np.testing.assert_close` fail, should I use `np.testing.assert_almost_equal`?

[2021-02-25 06:08] JackYangzg commented on #4011
just using direct LGBM_BoosterCreateFromModelfile to load

INT32 loadModel(const char *modelPath)
  {
      return LGBM_BoosterCreateFromModelfile(modelPath, &(this->num_iterations), &(this->handle));
  }

[2021-02-25 10:16] szdr opened #4020 "Inconsistent predictions with ignore column."
## Description
When predictions are made using a model trained with ignore_column specified, the results will vary depending on whether the predicted data contains the ignore_column column or not.

## Reproducible example
[code]

[code]

The document says to be careful when `predict_disable_shape_check=true`, but I don't see a problem with the above case.
(feature f1 is ignored in training, so f1

[2021-02-25 11:43] BladeCoda opened #4021 "Issue of loading a Python trained LGB regression model using C-API for prediction."
Hello, I get a issue while using C API to load a LGB regression model which is trained in python(python 3.6, lightgbm 3.1.1).
The result predicted by C API loaded model is greatly differs from which is directly predicted by python library.

Here is how I train the regression model and do further prediction in python (brief code):

[code]

The result predicted by the python loaded model is just fin

[2021-02-25 12:32] StrikerRUS commented on #4020
I think you don't need `qid` column for prediction. Refer to #3326.

Speaking about different results w and w/o ignoring column, I believe it is related to the fact that order of rows/columns is important in LightGBM: #2508, #930, #1294, #2036, #2042. ping @guolinke to confirm

[2021-02-25 12:54] tzipperle commented on #4014
It seems that the error occurs when the dump command is inside a project and its dependencies. If I try to reproduce the error in an standalone script I have no problems.

[2021-02-25 12:54] #4014 closed

[2021-02-25 13:39] szdr commented on #4020
@StrikerRUS Thanks for the reply.
I'm sorry for mixing up the two issues (qid and ignore_column).

Anyway, I found prediction results will vary depending on whether `qid` column exists or not in prediction data.

[code]

[code]

[2021-02-25 13:59] szdr commented on #4020
I also found that predictions are consistent even if qid column is not present in CLI version.

**train.conf**
[code]

[code]

[code]

**predict.conf** (label and qid column exist in tmp.csv)
[code]

[code]

[code]

----

**tmp_without_label_qid.csv** (drop qid and label column)
[code]

**predict_without_label_qid.conf** (predict for **tmp_without_label_qid.csv**)
[code]

[code]

[code]

[2021-02-25 14:29] jameslamb commented on #3793
`abs(x) < 1e-14` or something would be fine.

[2021-02-26 01:57] acmilannesta opened #4023 "LightGBM GPU installation NMake Makefiles does not support platform specification, but platform x64 was specified."
I've installed boost_1_75_0/lib64-msvc-14.2, cmake 3.14.3 and visual studio 2019. When I followed the steps https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version and type

[code]

I got the following error:
[code]

I also tried ```-G "Visual Studio 16 2019"```, but didn't work.

I am running on Win10 and Python 3.8.5

[2021-02-26 03:05] StrikerRUS commented on #4023
Please refer to https://github.com/microsoft/LightGBM/pull/3931#pullrequestreview-586597749. It is better to have only one Visual Studio installed.

Please post full logs.

[2021-02-26 09:39] JackYangzg commented on #4021
I have the same problem. using python to train model and predict using c api for regression task.
the c api output is different with the python output.

It's a Bug?

[2021-02-26 15:02] acmilannesta commented on #4023
Yes, I only one visual studio installed. Here I got another error
[code]

Here are the full logs:
[code]

[2021-02-26 16:49] #3736 closed

[2021-02-26 20:09] Cwei1 opened #4025 "[python-package] GPU version installation fails: "Cannot find lightgbm library file in the following path""
Hi I am getting the following error when I run python setup.py install --precompile --gpu

raise Exception('Cannot find lightgbm library file in the following paths:'\n'+ '\n'.join(dll_path))

I saw that there was a similar issue resolved in 2017, but there was no clear answer to how it was solved

[2021-02-26 20:12] jameslamb commented on #4025
Thanks for using LightGBM!

1. Could you please provide the full logs you get when trying to install?
2. Can you tell us what commit of LightGBM you are on?
3. Can you please provide a link to the LightGBM "issue resolved in 2017" you're referring to? Explicitly linking helps us to understand what you're referring to.

[2021-02-26 20:17] Cwei1 commented on #4025
Hi,

I am unable to provide the full logs as it is on a private VM but the issue is essentially the same as issue
https://github.com/microsoft/LightGBM/issues/474

I am on the most recent commit of LightGBM 3.1.1

As I recall the answer to this was that the user didn't build the lightgbm binary and lib_lightgbm.so
How do I do this?

My situation is a little strange in that I am trying to install l

[2021-02-26 20:19] Cwei1 commented on #4025
Just a note I am running cmake and then going to the python package and running

python setup.py install --precompile --gpu

[2021-02-26 20:47] jameslamb commented on #4025
By "running CMake", do you mean you exactly followed the steps at https://github.com/microsoft/LightGBM/blob/master/docs/Installation-Guide.rst#build-gpu-version, then ran `python setup.py install --precompile --gpu`? If not, could you share the exact set of commands you ran?

Also, is it absolutely necessary that you use a precompiled version? If you use `python setup.py install --gpu`, you might

[2021-02-26 20:53] #4023 closed

[2021-02-26 20:53] acmilannesta commented on #4023
Resolved

[2021-02-26 21:12] Cwei1 commented on #4025
Yes it is like that cmake command, with the OPENCL and Boost options. As for the precompile, this was the way I was told to do it. Does it not just use the .so file created with the cmake and make command? Or am I completely wrong here

[2021-02-26 21:12] Cwei1 commented on #4025
Also I think I realized the issue might be something to do with the path to BOOST that I have.

[2021-02-26 21:36] Cwei1 commented on #4025
Is there a difference in the CMAKE for RHEL6 vs RHEL7? I seemed to have narrowed down the issue to it not finding CL_VERSION in RHEL6

[2021-02-26 22:00] jameslamb commented on #4025
No that's a totally valid way to install the Python package with GPU support. it's just not the only valid way.

Different operating system versions do commonly have different default versions of packages available when you install them from package managers. Can you tell us the result of running `cmake --version`? I could at least tell you if you have a version of CMake that is supported for Ligh

[2021-02-26 22:59] StrikerRUS commented on #4025
`--precompile` flag **cannot** be mixed with any other installation flags.
You either compile dynamic library on your own and then use it during installation via `--precompile` flag, or you shift responsibility
 for all installation stuff to our Python scripts in `setup.py` file with different optional flags like `--gpu`.

[2021-02-26 23:05] StrikerRUS commented on #4023
I'm very glad that you've resolved this issue! But could you please briefly describe the way you resolved it? It will help other users  who come here from search engines.

[2021-02-26 23:16] acmilannesta commented on #4023
This one works
[code]

Noticeably ``` --install-option="--opencl-library=D:/CUDA_11_0/lib/x64/OpenCL.lib" ```
The original post used ```--install-option="--opencl-library=/usr/local/cuda/lib64/libOpenCL.so"```
Maybe cuda11.0 is different?

[2021-02-26 23:31] StrikerRUS commented on #4025
Indeed, without any logs we won't be able to help, unfortunately. Maybe you can remove all sensitive info from logs (they shouldn't be very large) like folder names and post them here? Or probably you can take a look at successful GPU compilation logs https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=9330&view=logs&j=9ce42e5d-f31a-544a-a6de-dc42f8c013ed&t=b696def5-78ae-590c-4234

[2021-02-27 01:51] guolinke commented on #3778
gentle ping @AlbertoEAF  , for this issue blocks the release of 3.2.0.

[2021-02-27 04:52] jose-moralez opened #4026 "[dask] Distributed training sometimes produces very high leaf values"
## Description

Hi. I'm trying to use LightGBM in time series forecasting and it works fine with local models. However, when using dask the predictions sometimes are huge (my time series are in the range [0, 160] and the predictions are 10^38). I've included a reproducible example (I'm sorry it's not that minimal but I couldn't reproduce it with some regular datasets). By running the example below

[2021-02-27 12:45] StrikerRUS commented on #4023
The original post used ```--install-option="--opencl-library=/usr/local/cuda/lib64/libOpenCL.so"```

`D:/CUDA_11_0/lib/x64/OpenCL.lib` is custom Windows path and original one (`/usr/local/cuda/lib64/libOpenCL.so`) was Linux default one.

[2021-03-01 02:16] shiyu1994 commented on #3679
I think this issue is solved in CPU version. So I'll close it. If you continue find the same problem when building from the master branch, you can still report it here.
For the same problem on GPU version, we have a separate issue for it #2793.

[2021-03-01 02:28] jameslamb opened #4028 "[docs] Add alt text on images"
## Summary

For every image in LightGBM's documentation, alternative text that describes the image should be added.

## Motivation

People with limited vision use screen readers to view web pages. When these screen readers encounter an image, they will only read some placeholder like "IMAGE" by default. However, if [the "alt" tag](https://www.w3schools.com/tags/att_img_alt.asp) is specified, many

[2021-03-01 03:41] jameslamb opened #4031 "[dask] [ci] scikit-learn compatibility tests failing"
## Description

CI jobs have started failing in the last few days with the following error:

[code]

For example, I see these failures on #4027 and they seem unrelated to that PR's changes.

* failing cuda jobs:
    - https://github.com/microsoft/LightGBM/pull/4027/checks?check_run_id=2000699791
    - https://github.com/microsoft/LightGBM/pull/4027/checks?check_run_id=2000699800
    - https://gith

[2021-03-01 04:56] akshitadixit commented on #4028
Hello, may I please work on this?

[2021-03-01 04:58] jameslamb commented on #4028
Sure, thanks @akshitadixit ! Please feel free to submit a pull request based on the description above. Let me know if you have any questions!

[2021-03-01 08:01] guolinke commented on #4020
I remember that the ignored column should be kept in the python package.
In CLI version, the features will be reordered based on column names. But this function is not enabled in the python package.

refer to https://github.com/microsoft/LightGBM/blob/6356e659af74909aa77eb87d54b79f0373772509/src/application/predictor.hpp#L179

[2021-03-01 10:51] sflender opened #4033 "Memory allocation during predict"
Hi LightGBM team -

I run `predict_proba` on a pandas dataframe consisting of 2.8M rows with 10K uint8 columns, and 1 categorical column. I get the error 'unable to allocate 213GB' (see below), which is surprising - why does LightGBM convert the datatype to float64, causing such a high memory footprint (I'd have expected a footprint of a bit above 28GB)?

[code]

[2021-03-01 12:10] ticarki opened #4034 "[R-package] predict() breaks when using a Dataset stored in a file"
## Description
On Windows R crashes using Dataset.lgb.save, without error message.
On Linux I am able to save the dataset, but lgb.predict can not find saved dataset

## Reproducible example

For the Windows bug (the example given by lightgbm::lgb.Dataset.save)
[code]

For the Linux bug (Example given by lightgbm::lgb.load + predict using a file as input)
[code]

The error:
[code]

## Environment

[2021-03-01 12:59] StrikerRUS commented on #4033
@sflender Hi!
Unfortunately, LightGBM requires that all features should be float.
We already have a feature request for optimizing memory footprint: #3386, #3459.

#2302
![image](https://user-images.githubusercontent.com/25141164/109499716-525e3e80-7aa6-11eb-9c44-5cc4acb81071.png)

For now you can try predict with batches, directly pass underlying numpy array or use CLI version to reduce pick memo

[2021-03-01 12:59] #4033 closed

[2021-03-01 13:17] subhamagrawal7 commented on #4028
I would like to try and add alt text to Parameters-Tuning.rst. Could you assign this?

[2021-03-01 14:23] jameslamb commented on #4028
Thanks @subhamagrawal7 ! Please feel free to submit a pull request based on the description above, and let me know if you have any questions.

[2021-03-01 14:58] Cwei1 commented on #4025
Hello,

So I was given an update to the situation, the GPU portion is no longer and issue, basically as we are trying to install this in a RHEL 6 machine, which only supports up to glibc 2.12 I believe, we need to link it to another library. Where in the make file or the installation process might I be able to put a -lrt and a -fopenmp flag?

[2021-03-01 15:05] Cwei1 commented on #4025
Forgot to add, the current error I am getting is boosting.cpp undefined reference to 'GOMP_parallel'

[2021-03-01 17:52] StrikerRUS commented on #4025
According to [this article](https://developers.redhat.com/articles/build-your-first-app-native-gcc-rhel-6-or-7), RHEL 6 has gcc 4.4, but LightGBM can be compiled only with `> 4.8.2` version.

https://github.com/microsoft/LightGBM/blob/6356e659af74909aa77eb87d54b79f0373772509/CMakeLists.txt#L35-L38

Yeah, LightGBM supports only `> 2.14` GLIBC library. TBH, I don't think that reinstallation of core

[2021-03-01 18:04] Cwei1 commented on #4025
I am changing the CXX and CC environment variables to link to more recent versions of gcc that are in different directories, and I wanted to do the same with glibc, but I was unsure as to how to do it, or for that matter where in the code to link it. Apologies in advance, I am not very well versed in the gcc libraries and so forth.

[2021-03-01 18:27] pseudotensor opened #4037 "Slow dataset creation"
[code]

3.1.1.99

Using datatable or numpy, same result.  Gets "stuck" here using 1 core for 10-20 minutes:

[code]

[code]

After the 10-20 minutes, I get system OOM even though I have 64GB.

I read: https://github.com/microsoft/LightGBM/issues/1081

which is also quite wide.  But in general, what recommendations are there for many columns and speeding things up while using not too much memory.

[2021-03-01 19:03] pseudotensor commented on #4037
Using csv is still very slow and single threaded

[code]

[code]

[2021-03-01 19:31] StrikerRUS commented on #4025
I guess you can do it via modifying `LD_LIBRARY_PATH` variable, but again, it is better not to do this, especially if you are not familiar with this.

[2021-03-01 19:41] AlbertoEAF commented on #3778
Hi there :),

Unfortunately I cannot provide that model file as it is sensitive, neither do I have much time on my hands to try to produce a simpler example this week. I can try it in the weekend though since it's urgent.

[2021-03-01 20:05] AlbertoEAF commented on #4011
Hmm :thinking:, this is not exactly related, but I'm afraid there was some kind of regression in the master branch. Most code from `common/utils.h`'s `Common` namespace which had been ported to the `CommonC` namespace is there again. I think in the long run this can lead us to use that code again, which might give us locale issues again. Any ideas why this was reintroduced @StrikerRUS @guolinke ?

[2021-03-01 21:02] pseudotensor commented on #4037
Setting max_bin = 4 doesn't help, still same time.  Is there possibly an O(N^2) operation in the dataset creation process?

[2021-03-01 21:29] pseudotensor commented on #4037
Repeated samples of where in gdb shows always stuck in the `FindGroups` function using the `BinMapper`

[2021-03-02 00:48] pseudotensor commented on #4037
https://github.com/microsoft/LightGBM/blob/master/src/io/dataset.cpp#L125-L134

Basically this inner features_in_group loop has a size that grows directly and same size as fidx (the outer loop).  So even if by fidx=100000 the time is only 100us, by fidx=800000 the time is 1000us per fidx value.

I already moved the bin_mapper stuff out of the loop:

https://github.com/h2oai/LightGBM/commit/e498551

[2021-03-02 03:05] szdr commented on #4020
@guolinke Thanks for the reply.

[2021-03-02 03:07] szdr commented on #4020
@guolinke Thanks for the reply.

It occurred to me that this specification might cause unintended behavior.
Should we fix it ?

[2021-03-02 06:34] guolinke commented on #4020
I think `predict_disable_shape_check` is used to avoid this.

[2021-03-02 06:34] guolinke commented on #4037
ping @shiyu1994

[2021-03-02 06:52] szdr commented on #4020
`predict_disable_shape_check` is of course useful.
However, I think it is a common case that a model trained with ignore_column set predicts test data that does not contain the target column.

[2021-03-02 08:40] ticarki opened #4039 "[R-package] Parallelization"
## Description
I work on trained lightGBM models that were exported from python and imported to R. With this model, I want to perform predictions for several thousand samples. By default, it seems like lightgbm::predict() uses as many cores as possible, which is problematic on multi-user systems. I did not find any parameter to change this. Changing the `[num_threads: 0]` parameter in the saved mo

[2021-03-02 13:02] StrikerRUS commented on #4039
Hi @ticarki !
You can control number of used threads during prediction via `num_threads` param **passed to [`predict()`](https://lightgbm.readthedocs.io/en/latest/R/reference/predict.lgb.Booster.html) method**.

[2021-03-02 13:13] StrikerRUS commented on #4039
Also, `num_threads=0` means

     https://lightgbm.readthedocs.io/en/latest/Parameters.html#num_threads

    https://stackoverflow.com/a/4301511

So, it is better to specify exact number of threads you want to use (positive integer number).

[2021-03-02 13:29] #4031 closed

[2021-03-02 13:36] rmminusrslash opened #4040 "missing values during prediction should throw an Exception if missing data wasn't present during training"
## Summary

When we encounter missing values during prediction after training without any missing data, the model predicts these examples without logging a warning or an exception (see issue [this issue])(https://github.com/microsoft/LightGBM/issues/2921):

- Missing numerical values set to zero
- Missing categorical values are sent to the right leaf

As a result, several or all features could be

[2021-03-02 14:00] ticarki commented on #4039
Hi @StrikerRUS , thanks a lot for the quick answer! I misunderstood the documentation and only tried `predict(mat, params=list(num_threads=2))`. Now it works, thanks a lot!

[2021-03-02 14:00] #4039 closed

[2021-03-02 18:05] pseudotensor commented on #4037
I tried to use the rand.Sample() to sample features_in_group, but turns out rand.Sample() is just as bad.  The way it is designed it scales with the size to sample from, not the size of sample.  That's also quite bad.

[2021-03-02 20:38] galenyip opened #4041 "linear_tree in lightgbm 3.1.1 / python 3.6"
Hello, may I know if linear_tree is available in the captioned?  Tried to add linear_tree = true in the parm but found a warning:

[LightGBM] [Warning] Unknown parameter: linear_tree

Platform: Windows 10
Python: 3.6.12
Lightgbm 3.1.1 installed via pypi

Thanks!

[2021-03-02 20:43] jameslamb commented on #4041
Thanks for using LightGBM!

Linear trees are not available in LightGBM 3.1.1. They were adding December 24, 2020 (https://github.com/microsoft/LightGBM/pull/3299) and 3.1.1 was released December 7, 2020 (https://github.com/microsoft/LightGBM/releases/tag/v3.1.1).

The next release (3.2.0) is very close and should be out in the next few weeks. You can subscribe to #3872 to be notified of the 3.2.0

[2021-03-02 20:43] #4041 closed

[2021-03-02 22:21] StrikerRUS commented on #4041
Feel free to install nightly wheel for now:

https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html

![image](https://user-images.githubusercontent.com/25141164/109723088-ad835480-7bbe-11eb-8ba5-446223b0dffd.png)

[2021-03-03 03:10] jmoralez commented on #4026
FWIW this doesn't happen with [dask-lightgbm](https://github.com/dask/dask-lightgbm). I'll try to find where the problem is.

[2021-03-03 04:37] jmoralez commented on #4026
This actually seems to be related to lightgbm itself. I just pasted the [original dask-lightbm code](https://github.com/dask/dask-lightgbm/blob/main/dask_lightgbm/core.py) in `python-package/lightgbm/dask.py` and found the same issue. The version of lightgbm that I have in my dask-lightgbm environment is `2.3.1`, were there any major changes with respect to distributed training after that? I only

[2021-03-03 05:25] guolinke commented on #4026
How much data (rows) you used?
If the data is too small, using distributed learning will cause the poor performance, due to the feature bucketing is done by the local data only.

You can try to use construct a dataset on a single node first, via Dataset.construct(), then save it to binary format, Dataset.save_binary(). Then use the binary file for the distributed learning.

[2021-03-03 05:39] jmoralez commented on #4026
The example I posted generates 20 time series between 300 and 700 rows each, so on average they would be around 10,000 rows. However the issue persists when having more data, I just changed the 20 to 1,000 and trained on 500,000 rows and reproduced the issue. I'm using two machines, I also noticed that when adding more machines the values on the nodes go even higher (even with big datasets).

 I'm

[2021-03-03 05:43] guolinke commented on #4026
@jmoralez I think it is better to fix (use the same) dataset first, constructing it by all rows.
Then we know which part causes the problem.

[2021-03-03 06:05] jmoralez commented on #4026
Do you mean using the CLI?

[2021-03-03 06:14] guolinke commented on #4026
These are all python interfaces.

[2021-03-03 06:20] jmoralez commented on #4026
I've constructed the dataset and saved it to binary format. I'm just confused about

[2021-03-03 06:56] guolinke commented on #4026
After you save binary file, you can copy it to the nodes for distributed learning.
Then, you can use the binary file path, like use the normal csv file, to construct the dataset for distributed learning.

[2021-03-03 07:09] jmoralez commented on #4026
Thank you. I just trained using the CLI on my local machine with two "machines" using the binary file and then loaded the booster in python to see the leaf values and they seem normal. Do you have any suggestions for the dask case?

[2021-03-03 07:22] guolinke commented on #4026
okay, so the problem indeed happens in Dataset construct.
I am not familiar with dask interface, but I think the python interface lgb.Dataset should support construct by binary file as well.

To ultimately fix this problem, we should add an "accurate" mode, for feature bucketing. This will significantly slow-down the pre-processing stage before training, due to heavy communications.

also cc @shiy

[2021-03-03 07:48] jmoralez commented on #4026
I should point out that this doesn't happen with all datasets, for example, using `sklearn.datasets.load_boston` which just has 500 rows performs well. I actually struggled to produce an example, I'm not sure what's particularly special about these kinds of datasets (time series) that impacts the dataset creation. Like I said it used to work in 2.3.1 but I'm not sure why the changes from then on w

[2021-03-03 07:51] guolinke commented on #4026
@jmoralez
Can you also try `force_col_wise=true` with dask (without pre-constructed dataset), and see what happen?

[2021-03-03 08:05] jmoralez commented on #4026
I get high values as well

[2021-03-03 08:12] jmoralez commented on #4026
I think it has to do with low variance features. In this example I create for example `expanding_min` which has values like 0.1, 0.1, 0.1, 0.1, 0.2, ... so it doesn't vary very much and somehow it breaks the model. However, removing low variance features and training only on lags and rolling mean which have more variance provide good results.

[2021-03-03 09:02] guolinke commented on #4026
@jmoralez did you shuffle the data by rows?

[2021-03-03 14:59] AlbertoEAF commented on #3995
gentle ping @imatiach-msft :)

[2021-03-03 15:30] jmoralez commented on #4026
I did try it but it doesn't help

[2021-03-03 18:02] StrikerRUS commented on #3944
I think it is important to link here the following discussion:

   https://github.com/microsoft/LightGBM/issues/4026#issuecomment-789499942

[2021-03-03 23:39] jameslamb commented on #4034
Thanks very much for using `{lightgbm}` and for the excellent bug report! It's possible that the Windows part of this is related to another not-yet-solved issue (#4007), but I'm not sure yet.

For Linux example, could you try changing uses of `tempfile()` to permanent files like `file.path(getwd(), "model.txt")` and let me know if that fixes it? Just to check that the problem you're facing is not

[2021-03-04 03:39] asimraja77 commented on #2793
Hi,
I'm using the GPU setting and have the same issue. I tried "deterministic = True" but it did not solve the problem. I saw that the LightGBM v3.2.0 may fix this defect. I have a few question as follows:

1. In the v3.2.0 release thread, I noticed that this bug #2793 is not in bold. Does this mean that it may not be fixed until a later release?
2. Does a fix exists for it in a non-release (build

[2021-03-04 07:36] ticarki commented on #4034
Thanks for the quick response!! The description above now uses a permanent file and shows the error message, which is still there after updating the example.

[2021-03-04 10:13] ChristophAymannsQC opened #4044 "Interaction constraints fail with monotone_constraints_method=intermediate"
## Description
Interaction constraints are not enforced with `monotone_constraints` and `monotone_constraints_method=intermediate` or `monotone_constraints_method=advanced`. With `monotone_constraints_method=basic` interaction constraints appear to be enforced. I suspect this is a bug (see more below), but it might be by design. In the latter case, updating the documentation would be nice.

## Rep

[2021-03-04 12:34] StrikerRUS commented on #3761
Closed via #4027.

[2021-03-04 12:34] #3761 closed

[2021-03-04 17:50] jameslamb commented on #3807
fixed by #3950

[2021-03-04 17:50] #3807 closed

[2021-03-04 18:22] imatiach-msft commented on #3995
@AlbertoEAF yes, sure, sounds great to me.  I guess I will just need to add sparse support sometime in the future.  Maybe for now if I upgrade I can just use the optimized new method for dense data, but keep the sparse code on the memory-intense code.

[2021-03-04 21:03] nmnbkhr opened #4045 "[R-package] FATAL Error when run train()"
## Description
getting Fatal Error when i run lgb.train()

## Reproducible example
model <- lgb.train(params = params,data = dtrain)

## Environment info

![error](https://user-images.githubusercontent.com/26723302/110029960-efdf9980-7d56-11eb-99a1-630d017e19c0.jpg)

[2021-03-04 21:06] jameslamb commented on #4045
Hi, thanks for using `{lightgbm}`!

To help you out, we need more information. Could you please provide the following?

* what commands did you use to install `{lightgbm}`?
* what version of `{lightgbm}` are you on?
* what operating system are you using?
* can you provide a full reproducible example (code that I could try running to see if I get the same error)?

From your screenshot it looks like

[2021-03-04 21:11] nmnbkhr commented on #4045
what commands did you use to install {lightgbm}?
from cran installed.

what version of {lightgbm} are you on?
i am using version 3.1.1

what operating system are you using?
windows 10 64 bit

can you provide a full reproducible example (code that I could try running to see if I get the same error)?

data(agaricus.train, package='lightgbm')
data(agaricus.test, package='lightgbm')

train  <- agaricu

[2021-03-04 21:22] jameslamb commented on #4045
Thanks! Hope you don't mind, but I added formatting like this so the code is formatted as code:

![image](https://user-images.githubusercontent.com/7608904/110032126-6780da80-7cfd-11eb-8bbb-d1ec60af0ea7.png)

I will take a look at this in the coming days. You should subscribe to #4007 in case that fix ends up being the same as this issue.

[2021-03-05 02:18] jmoralez commented on #3797
Hi @szilard. I only have 8 cpus on my laptop but these are the results I get with the current master:
| n_workers | threads_per_worker | n_partitions | time (sec) | auc |
| -------------- | -------------------------- | ---------------- | ------| ------|
8 | 1 | 8 | 12.4  | 0.7172
4 | 2 | 4 | 10.8 | 0.7603
2 | 4 | 2 | 8.0 | 0.7637
1 | 8 | 1 | 5.7 | 0.7637

I also see high cpu usage. Are you still a

[2021-03-05 03:52] jmoralez commented on #3807
Hi @jameslamb. I'm including the multiclass-classification task and the test for init_score fails because you have to specify an init_score for each class. However, you can't send an `(n_samples, n_classes)` array like it is suggested [here](https://github.com/microsoft/LightGBM/issues/2595#issuecomment-558561739) because the init_score is expected to be a 1d collection, so you have to reshape tha

[2021-03-05 04:06] jameslamb commented on #3807
Please open a new issue describing the problem, with a reproducible example of what happens when you pass an `init_score` of shape `(n_samples, n_classes)`, including the specific error message.

[2021-03-05 04:37] jmoralez opened #4046 "[python-package] `init_score` and data structures in custom functions shape for multiclass classification"
## Description

When using `init_score` in multiclass classification it would be very intuitive to use an `(n_samples, n_classes)` collection, as is suggested in https://github.com/microsoft/LightGBM/issues/2595#issuecomment-558561739, however this isn't currently supported in the python package, so you have to reshape this to an `(n_samples * n_classes, )` collection.

This probably isn't that bi

[2021-03-05 07:12] szilard commented on #3797
Awesome, sounds great. I'll check. Is this included now on the latest release I can install with pip?

[2021-03-05 11:29] shiyu1994 commented on #4037
@pseudotensor Thanks for using LightGBM.

The synthesized dataset is dense. So I think https://github.com/microsoft/LightGBM/blob/37e987828d3141aded1a6e356fdcc7954a6f2f5c/src/io/dataset.cpp#L125-L134
won't find any available groups. Each feature will end up in a separate group.
This is a very extreme case. A possible solution would be to limit the maximum number of trials (iterations) in line 125.

[2021-03-05 14:19] StrikerRUS opened #4049 "Slow (in terms of CRAN policy) R examples"
The most recent `master` build fails on macOS with the following error (we treat NOTEs as errors):
[code]
Full logs: https://github.com/microsoft/LightGBM/runs/2039644445

cc @jameslamb

[2021-03-05 14:22] StrikerRUS opened #4050 "R jobs fail on Windows without any logs"
The most recent `master` build fails with the following error:

[code]

I re-run several times, but the error is still occurs.

Quite weird because there is no any error reported during infrastructure installation 😕 .

Full logs: https://github.com/microsoft/LightGBM/runs/2039644549.

cc @jameslamb

[2021-03-05 16:55] jameslamb commented on #4050
:scream: I'm so confused. Maybe something with how we carefully redirect output (https://github.com/microsoft/LightGBM/blob/3a5e3c001f7a571eec375d021d12ccd37353a60c/.ci/test_r_package_windows.ps1#L23) is now incompatible with something in those images. Like maybe the version of powershell was upgraded or something?

I won't be able to look at this for a few hours, apologies.

[2021-03-05 19:47] StrikerRUS commented on #4050
Hmmm, very likely. I didn't thought about it!

[2021-03-06 04:46] jmoralez commented on #3797
Not yet, I can ping you here once 3.2 is released

[2021-03-06 13:44] AlbertoEAF commented on #3778
Hello @shiyu1994 and @guolinke I managed to reproduce it. I created a new branch https://github.com/feedzai/LightGBM/tree/test-double-model-load which you can use (has the model and the profile code).

To test:

[code]

you should get the following outputs, when they should be the same for both boosterHandles 1 & 2:

![image](https://user-images.githubusercontent.com/3976753/110208905-a63f9d80-7e8

[2021-03-06 21:27] jameslamb commented on #4050
It seems that a more recent build of the R jobs (9 hours ago, for #1767) passed, so maybe this was something temporary?

https://github.com/microsoft/LightGBM/actions/runs/627184704

I just restarted the builds on `master` (https://github.com/microsoft/LightGBM/actions/runs/624383739), let's see what happens.

[2021-03-06 22:00] jameslamb commented on #4050
This build just passed on `master`, so maybe it is something temporary? https://github.com/microsoft/LightGBM/runs/2047939220

I'll at least remove the "blocking" label from this and #4049 since it seems the problem was temporary, but we shouldn't close it yet without figuring out the root cause.

[2021-03-06 23:15] jameslamb commented on #3469
I'm going to pick this up tonight, thanks for the excellent tips @StrikerRUS ! This RDP hack gives me a whole set of new ideas to try.

[2021-03-07 06:14] chloe-wang commented on #4012
@shiyu1994 thanks a lot.

[2021-03-07 08:23] szilard commented on #3797
Sounds good. Based on your results the issue should be resolved, but once the new release it out, I'll check again.

[2021-03-07 18:59] StrikerRUS commented on #4050
I guess it will be difficult because we have no reproducible case and after re-running failed job old logs were overwritten.

[2021-03-07 21:03] StrikerRUS commented on #4002
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-07 21:03] #4002 closed

[2021-03-07 21:08] StrikerRUS commented on #3689
Bump

ping @chivee @guolinke @henry0312 @Laurae2 (I don't think any other maintainers have permissions).

[2021-03-07 21:10] StrikerRUS commented on #3634
Can we close this?

[2021-03-07 21:16] StrikerRUS commented on #3741
@rickyhuw Please see this answer https://github.com/microsoft/LightGBM/issues/3741#issuecomment-757482701.

Also you may find this comment useful https://github.com/microsoft/LightGBM/issues/2397#issuecomment-530340871 (treelite has Python runtime API for your use-case with Flask).
https://treelite.readthedocs.io/en/latest/treelite-runtime-api.html

[2021-03-07 21:16] #3741 closed

[2021-03-07 21:20] StrikerRUS commented on #3406
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-07 21:25] StrikerRUS commented on #3905
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-07 21:25] #3905 closed