[2018-08-21 10:48] huanzhang12 commented on #1587
Try to run the clpeak benchmark and see if it works on GPU: https://github.com/krrishnarraj/clpeak If it doesn't work then something is wrong with your machine.

Can you reinstall CUDA driver? Make sure the latest driver version is installed (currently it is 390.77).

On the other hand, I doubt the K80 GPU will give you any speed up on GPU, because it is quite old and does not support atomic opera

[2018-08-21 13:00] Drxan commented on #1597
Thank you!@StrikerRUS
you are right,I define a eval function for metric,and it works.
`def f1_macro(preds, train_data):
    labels = train_data.get_label()
    preds = np.transpose(np.reshape(preds, (19, -1)))
    y_pred = np.argmax(preds, axis=1)
    score = metrics.f1_score(labels, y_pred, average='macro')
    return 'f1_macro', score, True
metric = f1_macro`

[2018-08-21 13:38] Drxan commented on #1597
Thank you!@StrikerRUS
you are right. the parameter metric should be string or list of string, not function.I define a function and set it to parameter "feval". it works!

[2018-08-21 13:38] #1587 closed

[2018-08-21 14:32] StrikerRUS commented on #1590
Thank you very much for the reproducible example, @bedapisl !

Indeed, increasing the limit of number of predictions yields another error:
[code]
[code]

[2018-08-21 14:35] StrikerRUS commented on #1597
Glad you've solved your problem!

What was the reason for reopening the issue?

[2018-08-21 21:16] YantingHuang commented on #1591
@StrikerRUS I have installed successfully.
I have libomp 6 and cmake 3.12.

I firstly followed the installation guide Apple Clang part and then
`python3 setup.py install` in the `python-package` folder.

Is this the recommended way to install lightgbm?

[2018-08-21 21:40] StrikerRUS commented on #1591
@YantingHuang

Is it about libomp or LightGBM?

You may want to read this guide for Python-package installation: https://github.com/Microsoft/LightGBM/tree/master/python-package#installation

The recommended way is to install **gcc** and then install LightGBM from pip:
[code]

If you want to use AppleClang, then you have to build the library file from the source (as you've already done, I hope) as

[2018-08-22 01:54] YantingHuang commented on #1591
Thank you @StrikerRUS

That was about LightGBM. I can use it right now.

[2018-08-22 03:10] #1557 closed

[2018-08-22 03:30] guolinke commented on #1574
refer to #550 and ping @cbecker

[2018-08-22 03:49] guolinke commented on #1598
@asindus you can try to set `keep_training_booster=True' in https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.train.

[2018-08-22 06:19] SaraMorsy opened #1600 "the lightGBM cannot deal with categorical labels and features and despite the support and tried all solutions"
I have a data set of one dependent categorical and 7 categorical features with 12987 samples
I tried one hot encoding and it worked by it is not dealing with these large categories. In addition, I want to draw a decision tree so doctors can understand it; in case of hot encoding, the classes are coded and it is hard to read
------------------------------
python:2.7

here is my code
import lightgbm

[2018-08-22 11:44] StrikerRUS commented on #1590
@guolinke
numpy array length is limited only by the machine capability it running on (https://stackoverflow.com/a/23839975).

I printed `n_preds` before creating numpy array in [reproducible example](https://github.com/Microsoft/LightGBM/issues/1590#issuecomment-414654392) and it's `18 446 744 073 709 551 616` `(= 2^64)`. I suppose it's something at cpp side.

[2018-08-22 12:05] StrikerRUS commented on #1600
Hi @SaraMorsy !

Your data contains string(?) values. You should set categorical columns in pandas to treat them properly. After that there is no need to pass them again in `categorical_feature` param.

Please see this code how to set categorical columns in pandas:
https://github.com/Microsoft/LightGBM/blob/3400e3899d1c45997337bdbd0c8a2f729e805cbc/tests/python_package_test/test_engine.py#L487-L489

[2018-08-22 12:39] guolinke commented on #1590
@StrikerRUS @bedapisl
can you try #1601?

log of my laptop with 16GB memory:
[code]

[2018-08-22 13:48] StrikerRUS commented on #1590
112 GB RAM `fix-array-size` branch with printing `n_preds` yields the same error:
[code]

And after changing to `uint` https://github.com/Microsoft/LightGBM/issues/1590#issuecomment-414695622:

[code]

[2018-08-22 14:41] SaraMorsy commented on #1600
Thanks but it only solved the categorical features but could not handle the categorical y

here is my code
df = pd.read_csv('data2.csv')
for col in ['Sex', 'site','Race', 'Laterality','Marital','Pathology']:
    df[col] = df[col].astype('category')
y = df.Pathology
X = df.drop('Pathology', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.8)
# specify your configurations

[2018-08-22 14:48] guolinke commented on #1600
you should convert it to int for multi-class label.

[2018-08-22 14:57] guolinke commented on #1590
I think the reason is the `nrow` exceed the 32-bit range. The c_api only accept the int32 for now.

[2018-08-22 15:07] guolinke commented on #1590
due to the efficiency concern, LightGBM only accept the int32 nrow.
For the nrow exceed the 32-bit ranges, please consider split it to multi data for prediction, and then concat back.
@StrikerRUS Do you think we can have this split-concat logics inside LightGBM python package ?

[2018-08-22 15:10] guolinke commented on #1590
@bedapisl I think your origin pred-contrib problem should be fixed by #1601 . Can you try it again.

[2018-08-22 15:14] StrikerRUS commented on #1590
Despite the fact that this is not the common use case, it sounds reasonable!

[2018-08-22 15:26] StrikerRUS commented on #1600
@SaraMorsy
Since you're using `train_test_split`, I assume that you're familiar with scikit-learn (or at least it's installed on your computer). So, you can use this:
http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
http://scikit-learn.org/stable/modules/preprocessing_targets.html

Alternatively, you can switch to [LGBMClassifier](https://lightgbm.readthedoc

[2018-08-22 15:45] SaraMorsy commented on #1600
As I stated before, I used label encoding and one hot encoding but the tree plot will be like this
![image](https://user-images.githubusercontent.com/41592024/44474398-d5c78b00-a632-11e8-9745-349ccb727eb4.png)
the medical community will not understand leaf index:5, I want these leaves to be named by the class (e.g Glioblastoma)
I will try to use LGBM classifier

[2018-08-22 20:47] asindus commented on #1598
@guolinke Thanks, seems to work with `keep_training_booster=True'.

However, comparing the output of R and Python models with same parameters, I'm getting considerably different performance on test data. MAPE R: 16% vs MAPE Python: 22%. Any reason why this should happen? The features are all numerical and do not contains any null/ Inf values.

[2018-08-23 08:09] bedapisl commented on #1590
@guolinke I tried your fix, but it didn't help. Although I am not 100% sure I was trying the correct version. To try your fix I runned in LightGBM directory:
[code]
And then runned my script.

[2018-08-23 09:18] guolinke commented on #1590
@bedapisl can you provide a reproduce example of pred-contrib ?

[2018-08-23 09:51] bedapisl commented on #1590
[code]
This gives the error:
[code]

[2018-08-23 13:25] guolinke commented on #1590
@bedapisl
just try it, and seems I didn't get this error.
And I also print the `n_preds` before line 494, and the result is `3003000000`.
Can you try to delete and re-clone, then re-install again ?

@StrikerRUS can you help to check it as well ?

[2018-08-23 13:43] Drxan commented on #1597
sorry, i'm unfamiliar with this forum.I'll close this question. @StrikerRUS

[2018-08-23 13:43] #1597 closed

[2018-08-23 14:31] imatiach-msft opened #1604 "getting error in serial_tree_learner (due to failing CHECK)"
Seeing this error when running distributed LightGBM through MMLSpark with Quantile Regression option (in the notebook in this PR https://github.com/Azure/mmlspark/pull/358), it looks like the check here is failing:
https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learner.cpp#L791

[code]

Why does "cnt_leaf_data > 0" have to be greater than zero and cannot be zero? Wha

[2018-08-23 16:16] imatiach-msft commented on #1604
Seeing this again on another build I queued, strange that I can't repro the issue locally:
2018-08-23T15:07:24.4844296Z   | [LightGBM] [Fatal] Check failed: cnt_leaf_data > 0 at /home/ilya/LightGBM/src/treelearner/serial_tree_learner.cpp, line 791 .
2018-08-23T15:07:24.4859356Z   |
2018-08-23T15:07:24.4874094Z   | [LightGBM] [Fatal] Check failed: cnt_leaf_data > 0 at /home/ilya/LightGBM/src/treele

[2018-08-23 19:46] StrikerRUS commented on #1590
I confirm this https://github.com/Microsoft/LightGBM/issues/1590#issuecomment-415412993 .
`n_preds = 3003000000` and prediction works fine.

[2018-08-24 00:35] guolinke commented on #1604
@imatiach-msft thanks !
For the single machines, the cnt_leaf_data should greater than zero.
I will fix the distributed error.

[2018-08-24 04:13] imatiach-msft commented on #1604
nice fix!  thank you!

[2018-08-24 05:01] #1604 closed

[2018-08-24 07:07] bedapisl commented on #1590
I can also confirm that script with pred_contrib=True ([https://github.com/Microsoft/LightGBM/issues/1590#issuecomment-415359078](https://github.com/Microsoft/LightGBM/issues/1590#issuecomment-415359078)) works without any errors.

[2018-08-24 10:40] StrikerRUS commented on #1554
@psinger @Laurae2 Can we close this?

[2018-08-24 10:41] StrikerRUS commented on #1290
ping @meetdave06

[2018-08-24 10:43] StrikerRUS commented on #1532
@qashqay654 Has the reinstalling helped?

[2018-08-24 10:46] #1554 closed

[2018-08-24 10:47] StrikerRUS commented on #1514
@guolinke What is the decision on this? Leave default value as is? Maybe temporal (for 1 or 2 next releases) warning in the objective constructor about that `boost_from_average` has been changed?

[2018-08-24 10:47] StrikerRUS commented on #1523
@huanzhang12

[2018-08-24 10:54] huanzhang12 commented on #1523
If it compiles on macOS, it should be able to run on real GPU devices. I don't think Khronos headers help if the compilation already works without it. However, I have no macOS system to test Apple OpenCL build. More tests should be done to draw a final conclusion.

[2018-08-24 11:18] StrikerRUS commented on #1523
@huanzhang12 Thanks! Got it! I agree that no instruction is better than misleading one.

[2018-08-24 14:20] guolinke commented on #1514
yeah, I think we can show some warnings in binary objective.

[2018-08-24 19:03] suraggupta opened #1608 "LightGBM always ends up using Intel Integrated Graphics card rather than the NVIDIA GTX 1060 discrete one that I have"
I installed LightGBM on Windows using the instructions from https://lightgbm.readthedocs.io/en/latest/GPU-Windows.html

Now when I try training after setting

`lgb_model = lgb.LGBMClassifier(nthread=3,silent=False, device = 'gpu')`

![image](https://user-images.githubusercontent.com/20293894/44602689-ecdaba00-a7a5-11e8-89e5-ac4bb236ea02.png)

As seen above, it defaults to my Intel integrated graph

[2018-08-24 19:33] StrikerRUS commented on #1608
@huanzhang12 Your advice is needed

[2018-08-24 19:37] huanzhang12 commented on #1608
Please set gpu_platform_id=1 and gpu_device_id=0

[2018-08-24 19:53] suraggupta commented on #1608
I could have almost sworn that I had tried that combination. Thank you so much for this. It worked. :)

[2018-08-24 21:33] huanzhang12 commented on #1608
@suraggupta Glad to know it works for you!

I have no idea. I did not write that page. And it seems some information on that page are inaccurate.

@StrikerRUS We should fix the GPU-Targets page. I guess it crashed on one machine (the creator of that page), but such parameter setting (gpu_platform_id=1) is sometimes required.

[2018-08-24 21:50] StrikerRUS commented on #1608
@huanzhang12 Got it! The source of that html page is [here](https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Targets.rst).
According to this https://github.com/Microsoft/LightGBM/pull/423, the creator is @Laurae2 (it was quite expected because of R code examples, hehe).

[2018-08-24 22:39] huanzhang12 commented on #1608
Closing this issue now, I opened a pull request #1609 for updating the documents

[2018-08-24 22:39] #1608 closed

[2018-08-24 23:28] suraggupta commented on #1608
@Laurae2 But my first GPU is technically the integrated Graphics card, and I believe it comes under this section:

![image](https://user-images.githubusercontent.com/20293894/44612098-41dcf700-a7cb-11e8-9b88-8aaa2e39e04c.png)

So I'm not sure what I'm missing. My computer would come under the above criteria, right? I have an integrated graphics card (Intel HD Graphics) and a dedicated one (Nvidia

[2018-08-25 04:31] imatiach-msft commented on #1604
@guolinke I'm now seeing this error, but in the local notebook, not the one that runs on the cluster:
[code]
however, in the debug I see "total number of machines: 8" - this is the distributed case but run on a single machine it seems, eg see this line "worker got nodes for network init: 10.2.0.4:12456,10.2.0.4:12424,10.2.0.4:12440,10.2.0.4:12416,10.2.0.4:12400,10.2.0.4:12408,10.2.0.4:12432,10.2.0

[2018-08-25 04:35] imatiach-msft commented on #1604
in local case spark creates a task per core, I think this may just be an edge case only in the mmlspark version of lightgbm, and I can remove that check

[2018-08-25 05:01] guolinke commented on #1604
@imatiach-msft I think the `network->num_machines()` returns the number of the workers (logically), not the number of physical machines.

[2018-08-25 15:41] newbie-lightgbm opened #1614 "Unable to use parallel-learning example with open-mpi Lightgbbm"
I am new to using LightGBM. I am trying to use LightGBM with openmpi. I have followed the installation instructions as per the documentation for MPI. Further, I have tested that openmpi is working between the 2 servers. Now, I am trying to run Lightgbm parallel-learning example. The following is shown as output and it seems to be stuck in the loop. It won't start training the data.

I'm using the

[2018-08-25 16:06] chuang39 commented on #790
@StrikerRUS Any one worked on this support. We need to productionize lightgbm on yarn. If no one working on this, we'll build a version one. Otherwise, please kindly let me know. Thanks a lot!

[2018-08-25 16:09] StrikerRUS commented on #1590
@bedapisl Can you please check `pred-chunks` branch?

For me, your example in https://github.com/Microsoft/LightGBM/issues/1590#issuecomment-414654392 works fine.

[2018-08-25 17:52] StrikerRUS commented on #790
@chuang39 As I know, there are only https://github.com/Azure/mmlspark production distributed version of LightGBM.

ping @guolinke and @chivee as more competent

[2018-08-25 17:59] StrikerRUS commented on #1614
Seems the same problem was here https://github.com/Microsoft/LightGBM/issues/985#issuecomment-342133144 .

ping @guolinke and @chivee

[2018-08-25 23:53] trumpscam commented on #790
@StrikerRUS Looks like mmlspark can run on yarn.

[2018-08-27 07:40] bedapisl commented on #1590
@StrikerRUS It works for me too.

[2018-08-27 13:36] StrikerRUS commented on #1590
@bedapisl Thank you for your response!
I'm reopening this issue, because the fix isn't in the `master` branch yet.

In addition, can I ask you to check scipy.sparse input too? But it'll be a little bit later.

[2018-08-27 18:41] StrikerRUS commented on #1556
As it was discussed here https://github.com/Microsoft/LightGBM/pull/1599#issuecomment-416002682, there is actually no problem with building the default target. I was wrong in test setups.

[2018-08-27 19:12] jdanbrown commented on #1494
Thanks! 🎉

[2018-08-27 21:36] Laurae2 commented on #1608
@suraggupta do you use a laptop or a desktop?

[2018-08-27 21:38] suraggupta commented on #1608
@Laurae2 I use a laptop.

[2018-08-27 21:42] Laurae2 commented on #1608
@suraggupta If your laptop does not have G-SYNC, then both GPUs are available (except only one can be used at the same time). Therefore, it is considered as two separate GPUs which cannot override each other (you have 1 CPU + 2 GPU).

[2018-08-28 12:41] bedapisl commented on #1590
The example without `pred_contrib` works also with csr_matrix. And please don't ask me to check other things, it's quite time-consuming for me.
Anyway, thanks for the fixes.

[2018-08-28 12:46] StrikerRUS commented on #1590
@bedapisl
Got it! Thank you very much for feedback!

[2018-08-28 22:48] mjmckp commented on #1003
@huanzhang12 It turns out this was an issue with a faulty GPU, this issue can be closed now IMO

[2018-08-29 04:17] chivee commented on #1614
@newbie-lightgbm , Hi could you please try to:
 1. using ` -n `  rather than `-machinefile` to test weather is the network connections.
 2. set `verbosity` to `0` to.
 3. adding `-v, --verbose` for `mpirun` so that we can know what is going on.

[2018-08-29 04:32] #1590 closed

[2018-08-29 06:41] cocouw commented on #1514
Hi I am running 2.1.2 on an unbalanced binary data set and I am geting much better performance than 2.1.0.

[2018-08-29 08:07] psinger commented on #1514
@cocouw What is your accuracy metric? If you focus on logloss this might indeed be the case. Focusing on ranking it might be the other way around.

[2018-08-29 08:45] newbie-lightgbm commented on #1614
Hi @chivee ,
I used the following command as per your suggestion:
mpirun --verbose  -n 2  ./lightgbm config=parallel_learning/train.conf

This is what I'm getting:
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Local rank: 1, total number of machines: 2
[LightGBM] [Info] Finished initializing network
[LightGBM] [Info] Local rank: 0, to

[2018-08-29 09:52] huaxz1986 opened #1622 "Size of feature name error!"
## Environment info

Operating System: ubuntu 16.04 docker in k8s cluster.

C++/Python/R version: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.5)

## Error message

lgb err:[LightGBM] [Fatal] Size of feature name error, should be 105, got 106

## Reproducible examples
107 columns,the column name is ：
[code]
The label spec in config file:
[code]

[2018-08-29 12:17] germayneng opened #1623 "maximize lgbm performance"
Hi,

I have been running Lgbm via EC2 using aws. I want to maximize the performance of lgbm. I believe the settings to do so is via nthreads. However, I am not sure what is the value to maximize. For example, do i follow the number of virtual cores as per: https://aws.amazon.com/ec2/virtualcores/

For example, say instance
![image](https://user-images.githubusercontent.com/22788747/44786945-4d1794

[2018-08-29 17:57] StrikerRUS commented on #1595
@Quaterion We've refined the R-package installation process in #1499.
Please, try the latest version of the installation guide: https://github.com/Microsoft/LightGBM/tree/master/R-package#installation

[2018-08-29 17:57] #1595 closed

[2018-08-30 02:57] jameslamb commented on #629
@Laurae2 can you update the checklist at the top of this? As of #1499 and given #1626 that I just created, I think it should look like this:

[not necessary] Setup a LightGBM special version for CRAN (R-package must be root folder, not a child folder)
[done]  Fix CRAN errors
[done]  Fix CRAN warnings
  Fix CRAN notes
[done]  Add vignettes
[done]  Make examples runnable for tests
  Switch to MinGW

[2018-08-30 09:57] StrikerRUS commented on #1157
I will really appreciate if everyone here will test the fix proposed in #1628 (`verbose` branch) and report here whether it helped in your case.

@goldentom42 Speaking personally about your case, passing `params={'verbose': -1}` in `Dataset` constructor should help even without the fix.

[2018-08-30 15:44] goldentom42 commented on #1157
Sorry but I'm not sure I understand your statement:  I should remove silent=True in the lgb.Dataset() call and set verbose: - 1 when calling lgb.train ?

[2018-08-30 16:04] StrikerRUS commented on #1157
@goldentom42 Please see the example:
[code]
`verbose=-1` in both Dataset constructor and `train` function.

[2018-08-31 03:16] cocouw commented on #1514
accuracy, precision and recall. I

On Wed, Aug 29, 2018 at 4:07 PM, Philipp Singer <notifications@github.com>
wrote:

--
Moke (Coco) Mao|PhD Student
Pfaendtner Research Group
Materials Science and Engineering
University of Washington

[2018-08-31 14:20] nchos88 opened #1632 "Cuda GPU install bug , windows10"
I build from source  and install.
when i run lightgbm with gpu mode, i got error like below

(first text is step that i run , and second text is error message when i import and run lightgbm)

## Environment info

Operating System:

CPU: Ryzen5 1600
GPU: GTX1050Ti
Cuda : 9.2
python = 3.6.6

## Error message
## Reproducible examples
## Steps to reproduce

--- setup message
(tf19) C:\PyLib>Set BOOST_

[2018-08-31 14:52] chivee commented on #1614
@newbie-lightgbm , Please print the `warning` message as well as the detail message of mpirun.

I guess it is about the `ssh env` for mpirun.

please ensure that you read through [FAQ:Running MPI jobs](https://www.open-mpi.org/faq/?category=running#simple-launch)

[2018-08-31 16:09] StrikerRUS commented on #1632
Hi @nchos88 !

The problem is here:
[code]

You've forget either `--precompile` flag to tell the Python installation script to use the library file that you've just compiled, or `--gpu` flag to tell the Python installation script to build GPU version. In the second case, the was no need to build the library file on yourself.

[2018-08-31 22:29] StrikerRUS commented on #1573
@OmkaarTheGreat I suppose that your issue is practically the same as #1369. The only difference is that you are trying to run rather old LightGBM with the newest gcc. So, you can either downgrade your gcc version, or install the latest LightGBM (this way is recommended).

Feel free to reopen this issue with new details, if you are still cannot make LightGBM work.

[2018-08-31 22:29] #1573 closed

[2018-09-01 11:27] Laurae2 commented on #629
@jameslamb updated the checklist

[2018-09-01 18:02] jameslamb commented on #629
thank you!

[2018-09-03 03:11] chivee commented on #1622
it starts with 0

[2018-09-03 06:33] nchos88 commented on #1632
@StrikerRUS
Thank you for reply.
 I tried with --precompile , but i got same erorr,.
When i use --gpu option, problem is solved.

[2018-09-03 06:33] #1632 closed

[2018-09-03 06:53] goldentom42 commented on #1157
Hi @StrikerRUS, tested LightGBM on Kaggle  (they would normally have the latest version) and I don't see the warnings anymore with verbose : -1 in params.

On LightGBM 2.1.2, setting verbose to -1 in both Dataset and lightgbm params make warnings disappear.

Hope this helps.

[2018-09-03 07:00] #1489 closed

[2018-09-03 18:29] MichaelLLi commented on #1540
I have the same problem. I eventually figured the problem is twofold:

1. There is an error in the code lgb.Predictor.R. Line 100 reads:
` preds <- read.delim(tmp_filename, header = FALSE, seq = "\t")`
Pretty sure it should be sep, not seq.

2. If you have a character matrix as your predict data, **or you used as.matrix**, the checking condition for filename in the same file on line 83:
` if (is.c

[2018-09-03 18:31] Laurae2 commented on #1540
ping @jameslamb

[2018-09-03 18:34] jameslamb commented on #1540
@MichaelLLi I would be happy to address this. Do you have a reproducible example you can share, so I'll know whether or not I've fixed it?

[2018-09-03 18:35] jameslamb commented on #1540
#1638 was definitely needed either way, since `seq` is not a valid arg to `read.delim()`. Ah, the joys of R's `...`

[2018-09-03 18:37] MichaelLLi commented on #1540
@jameslamb Currently afk but will upload a reproducible example tonight EST

[2018-09-03 18:38] jameslamb commented on #1540
ok no problem! in the interim I can still make a PR to add a better "is a file" check

[2018-09-03 18:40] Laurae2 commented on #1540
I passed some changes in #1638, it should handle character matrix corner case and correct the sep/seq issue. Will push it when checks are done.

[2018-09-04 07:00] mlisovyi opened #1639 "eval_class_weight usage in sklearn interface"
I fail to find info on usage of the `eval_class_weight` argument in the `LGBMModel.fit()` method and it's interplay with the `class_weight` attribute in the constructor.

The docs say

But it does not say what should be elements of the list (dictionaries similar to `class_weight` one per evaluation sample?). It is also unclear if the `class_weight` weights are applied in metric calculation or not,

[2018-09-04 18:13] StrikerRUS commented on #1632
ping @huanzhang12 for the strange warning:
[code]

[2018-09-04 22:36] ben519 opened #1641 "ggplot2() crashes R after using lgb.cv() / lgb.train()"
R crashes on me whenever I attempt to do a simple `geom_point()` plot after having trained a lgbm model. Details below.  Note that `ggplot(iris, aes(x = Sepal.Length, y = Petal.Length))` works just fine, but `ggplot(iris, aes(x = Sepal.Length, y = Petal.Length))+geom_point()` causes the crash. Not sure if this issue belongs here or in [ggplot2 issues](https://github.com/tidyverse/ggplot2/issues),

[2018-09-04 22:44] ben519 commented on #1641
Note that placing the ggplot() call at the top results in the same behavior (R crashing). That is,

[code]
also crashes R

[2018-09-05 03:37] ben519 commented on #1641
UPDATE

I initially installed lightgbm using Apple Clang, following the instructions [here](https://github.com/Microsoft/LightGBM/tree/master/R-package).  After re-installing using gcc7, the above code works as I'd expect it to.

[2018-09-05 03:37] #1641 closed

[2018-09-05 08:44] StrikerRUS commented on #1641
Glad that you've managed to make LightGBM work.

I suppose this is connected to the conflict between shared libraries.

Possibly related issues: #1444, Question 10 in our [FAQ](https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm).

[2018-09-05 16:26] #1540 closed

[2018-09-05 18:39] jameslamb opened #1642 "[R-Package] Horizontal whitespace in R source files"
There is a bunch of miscellaneous trailing whitespace in the R source files. This causes distracting line diffs for those who have editors set to squash it. See discussion in #1635 .

Completing this issue means going through all the R files and removing that whitespace.

[2018-09-05 20:01] StrikerRUS commented on #1639
Hi Misha!

`class_weight` was introduced in #1114.

Yes, `eval_class_weight` can be a list with the following elements: dictionaries, 'balanced' strings or Nones. Just like `class_weight` constructor argument.

I think that the code can explain better than words.
https://github.com/Microsoft/LightGBM/blob/5442aa97d71491cb738fa98c1d69a40760db593b/python-package/lightgbm/sklearn.py#L477-L486

Traini

[2018-09-05 20:42] StrikerRUS commented on #1623
Hi @germayneng !

From the `nthread` [parameter description](https://lightgbm.readthedocs.io/en/latest/Parameters.html#num_threads):

Also, you may be interested in the following [page](https://lightgbm.readthedocs.io/en/latest/gcc-Tips.html), along with other Laurae2's [benchmarks](https://medium.com/@Laurae2) available at Medium.

[2018-09-05 21:43] Laurae2 commented on #1623
Have a read here: https://sites.google.com/view/lauraepp/node-interleaving column No in the Tableau webpage (not an officially published result on my Medium page because I didn't have time to write it yet)

Short answer: benchmark 8 and 16 on your specific workload, and check which value is better for that (to take with caution: will not generalize to other workloads).

The answer: the number of t

[2018-09-06 11:33] StrikerRUS commented on #1157
@goldentom42 Thanks for your reply! It seems to be that Kaggle uses the latest available release at PyPI, not the `master` branch:
https://github.com/Kaggle/docker-python/blob/cd1e6ac7d076775af2a5bfbcb65bfd98ea6629de/Dockerfile#L78

We are going to merge the fix into the `master` branch and close this issue. So, the latest code should work fine with either `silent=True` argument, or `'verbose': -1

[2018-09-06 11:35] #1157 closed

[2018-09-06 21:13] KaiWangCanada commented on #1369
Most developers use Mac, and lgb can't be installed on mac? Why did you do that?

[2018-09-06 22:44] wagnew3 opened #1644 "Python Custom Multiclass Loss Function Doesn't Work"
Custom multiclass loss functions in python don't work-- LightGBM doesn't seem to be learning anything.
In the example code below on the iris dataset, I train lightgbm with the default multiclass loss function and get a training accuracy of 98%. When I train lightgbm on a "custom" loss function (the same multiclass loss), I get a training accuracy of 0.099% (basically random). However, when I train

[2018-09-06 23:32] Dn23 opened #1645 "Light Gbm crashes when I try to make custom loss function"
Hi, I tried searching for this on previous posts however I did not get any tangible results
I have been trying to implement a light gbm model with a custom loss function (sMAPE), however when I run it python crashes with the following error

Unhandled exception at 0x00007FF841D04E65 (lib_lightgbm.dll) in python.exe: 0xC0000005: Access violation reading location 0x000002624155B500

What does this e

[2018-09-07 04:58] #1514 closed

[2018-09-07 06:29] guolinke commented on #1502
@StrikerRUS do you have the branch of your fixes ? I want test on it, thanks

[2018-09-07 08:28] StrikerRUS commented on #1502
@guolinke Unfortunately, all changes were done locally and only this snippet are left https://github.com/Microsoft/LightGBM/issues/1502#issuecomment-408610094

[2018-09-07 09:45] guolinke commented on #1502
@StrikerRUS can you help to test `ndcg-cv` branch ?

[2018-09-07 16:33] StrikerRUS commented on #1502
@guolinke Sure! Will do it today.

[2018-09-08 01:36] guolinke commented on #1502
fixed in #1646

[2018-09-08 01:36] #1502 closed

[2018-09-08 10:04] guolinke commented on #881
fixed in #1637

[2018-09-09 03:37] #1642 closed

[2018-09-10 00:42] StrikerRUS opened #1657 "[python] copy info from old Booster to new one in refit method"
Refer to the discussion in #1629.

[2018-09-10 08:01] psinger opened #1659 "Impact of redundant features"
In my data, I have a few features which are constant in the training data and thus, should be redundant. Yet, depending on whether I include them when using LightGBM or not, impacts the results, usually with better results on those models that exclude them. Sometimes the differences are only extremely minor, but I have also seen some larger impacts.

I am struggling in understanding how this can h

[2018-09-11 06:08] #881 closed

[2018-09-11 06:08] #1579 closed

[2018-09-12 09:03] StrikerRUS commented on #1632
@huanzhang12 What do you think about the warning above?

[2018-09-12 14:04] Hezisong opened #1664 "params error"
There are several problems with the parameters of LightGBM.

# 1 Different Operating Systems can affect the outcome of the same model.
Under totally same codes,
## Under Linux Server,
### Environment info
Operating System: Ubuntu 14.04.5
CPU: Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
Python version: 3.6.4
The training output is below:
[20]	train's l2: 0.989037	valid's l2: 0.991701
[40]	train's l2:

[2018-09-12 14:38] mlisovyi commented on #1639
Thanks a lot. This clarifies the usage of the feature.

[2018-09-12 14:38] #1639 closed

[2018-09-13 04:22] l616q opened #1666 "how to accelerate the predict?"

[2018-09-13 04:38] luoqingroy commented on #1666
Hello:
I use C++ API to call the function of c_api.h to load model and to do predict, online. But there are so many threads to call the predictor, so the predictions are very slow. Is there some method to accelerate the predict? thank you.

[2018-09-13 11:30] hrkrx opened #1667 "understanding the lightGBM algorithm"
I want to make some visualizations for my lightGBM models.

So i thought it would be cool to see the improvement of a decision with the growing number of weak learners (trees)

I think i understand the basic concept of gradient boosted decision trees.
But what i don't understand is how does lightGBM adds up the weak learners when the objective is multiclass, to get the probabilities for each class

[2018-09-14 04:31] henry0312 commented on #1667
Did you read https://github.com/Microsoft/LightGBM/blob/master/docs/Features.rst?

[2018-09-14 04:31] #1667 closed

[2018-09-14 05:48] pjgao commented on #1639
Hello, I am new to GBDT.
I want to know how to use `class_weight` .
I know in binary classification `scale_pos_weight` can be set as `num_class1/num_class2`, but it can be use only in binary.

https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#weight_column
I find there is another parameter in multi-class,  `weight_column` .

Where can I find how exactly these `weight` are used,

[2018-09-14 08:10] hrkrx commented on #1667
I think i should've been more precise here with what i mean:

I have a trained model:

[code]

In which order are the Trees 0 to 999 assigned to one of the 10 classes?

[2018-09-14 09:03] guolinke commented on #1667
@hrkrx LightGBM use one-vs-rest fashion for multi-class. you can view it as 10 binary classification tasks, so there are 10 GBDTs, each with 100 trees.

[2018-09-14 12:13] StrikerRUS commented on #1639
@pjgao Please read this paragraph. It's the same as `weight_column`
https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#weight-data

[2018-09-15 14:06] kaikai-sk opened #1670 "‘map_write_invalidate_region’ is not a member of ‘boost::compute::command_queue’"
when I install lightgbm-gpu use `pip install lightgbm --install-option=--gpu`
[code]

[2018-09-16 08:35] huanzhang12 commented on #1632
@StrikerRUS There are some small compatibility changes since CMake 3.12. I guess you are using a very new CMake version (mine on Ubuntu 18.04 is still 3.10).
For a fix we can refer to https://github.com/PointCloudLibrary/pcl/issues/2425

[2018-09-16 08:38] huanzhang12 commented on #1003
@mjmckp Thank you for reporting back that the issue is actually caused by a faulty CPU! LightGBM seems to be a good candidate for GPU stability test :)
@lorenzoridolfi Are you still encountering this issue? Can you try to replace GPU and see if still occurs?

[2018-09-16 09:29] dmitryikh commented on #1666
* Do you use categorical variables along with numerical? Categorical variables use `search in bitmask` for decision rule and sometimes it could be inefficient
  * Which API function do you call?
    * `LGBM_BoosterPredictForFile` seems not good choice because of I/O latency (especially in multithreading).
    * `LGBM_BoosterPredictForCSR` or `LGBM_BoosterPredictForMat` are good choice. Try to comb

[2018-09-16 09:39] StrikerRUS commented on #1632
@nchos88 Can you please tell us what is your CMake version?

[2018-09-16 09:46] StrikerRUS commented on #1670
@huanzhang12 please help

[2018-09-17 08:43] luoqingroy commented on #1666
Thank you for replay.
1、We only use numeric feature， no categorical variables
2、We use LGBM_BoosterPredictForMat .But due to the limit of out system, we can only pass one feature vector to the model for one pass of prediction.
3、We have tested just using one thread to call the predict function(LGBM_BoosterPredictForMat), the time cost is 50us. It is too slow.
so:
1、Is there some global variable or

[2018-09-17 17:42] sjayakum opened #1673 "Production Export for LightGBM models"
Is there any information or feature whereby I can export LightGBM models to be served in a production environment. Such as PMML or POJO or Java Code?

I know there have been issues regarding categorical variables but any such export feature for models with numerical variables will be great.

[2018-09-17 20:04] wagnew3 commented on #1666
https://github.com/dmlc/treelite has often been helpful for me.

[2018-09-17 23:28] calebmadrigal opened #1675 "dump_model() leaf nodes missing class for multiclass"
The dump_model() function outputs JSON representing the model, and it works great for binary classification, but for multiclass classification problems, the JSON representing the leaf nodes doesn't appear to contain the data necessary to tell which class the value is being added to. Here is what the leaf nodes look like for a 4-class classification model:

[code]

So if I'm trying to run this mode

[2018-09-18 02:43] guolinke commented on #1673
refer to https://github.com/jpmml/jpmml-lightgbm

[2018-09-18 02:43] #1673 closed

[2018-09-18 02:46] guolinke commented on #1675
refer to https://github.com/Microsoft/LightGBM/issues/1667
https://github.com/Microsoft/LightGBM/issues/1518

[2018-09-18 02:46] #1675 closed

[2018-09-18 02:48] guolinke commented on #1664
refer to code here : https://github.com/Microsoft/LightGBM/blob/master/src/io/config.cpp#L156-L163
set seed to 0 and unset it have the different behaviors.
@StrikerRUS should we add this in the doc ?

[2018-09-18 04:42] luoqingroy commented on #1666
Thanks a lot. I will try it!

[2018-09-18 07:15] kaikai-sk commented on #1670
@huanzhang12  My os is fedora 28 server version. CUDA version is 9.2 .GPU is Tesla P40

[2018-09-18 07:17] kaikai-sk commented on #1670
@huanzhang12  I have resolved the problem by reinstall os,ubuntu 18.04.CUDA 9.0

[2018-09-18 07:18] huanzhang12 commented on #1670
@kaikai-sk Glad to know it works for you!

[2018-09-18 07:18] #1670 closed

[2018-09-18 09:43] StrikerRUS commented on #1664
@guolinke Isn't `seed` set to 0 by default here?
https://github.com/Microsoft/LightGBM/blob/64002b2c0de9d2308a5bb90e8e91fca184fcb744/include/LightGBM/config.h#L202

[2018-09-18 10:48] l616q commented on #666
hi, have you remove lock and can get the right predict result?

[2018-09-18 12:08] teru111 opened #1678 "Install R package error ( Windows10 )"
## Environment info
Windows 10 x64
R version 3.5.1(Path)
Rtools34 (Path)
VS 2017
Cmake(Path)

## Running following command in RStudio

[code]

## Error message

[code]
I found the error message "Copying CMakeLists failed" in the following URL (line 20),
but I don't know how to fix it. Please help me.
<https://github.com/Microsoft/LightGBM/blob/master/R-package/src/install.libs.R>
[code]

[2018-09-18 12:49] guolinke commented on #1664
not actually, if user didn’t set it, the logic of seed wii not be processed

[2018-09-18 12:55] StrikerRUS commented on #1664
@guolinke Then maybe we can set is by default to prevent such misleading situations?

[2018-09-18 14:51] guolinke commented on #1664
@StrikerRUS that may change many default results, like we change the "boost_from_average" in binary classification.

[2018-09-18 14:53] guolinke commented on #666
@ameyais it is thread-safe.

[2018-09-18 15:15] l616q commented on #666
@guolinke Is there a possible way to rewrite the predict function to make the prediction more faster?except delete this lock.

[2018-09-18 15:20] StrikerRUS commented on #1664
@guolinke Yeah, I understand. But don't you think that it's the needed change which will be useful in the future?

[2018-09-18 15:34] guolinke commented on #666
@l616q refer to https://github.com/dmlc/treelite
LightGBM is designed for the training.

[2018-09-18 23:12] calebmadrigal commented on #1675
@guolinke Thanks, I get it.

[2018-09-19 05:14] BruceZhaoR commented on #1678
@teru111
pleage see : https://github.com/Laurae2/lgbdl/issues/4

create a `temp.bat` with the following codes if you use `vs` compiler :
[code]
run the `temp.bat`

`gcc ` compiler :
[code]

1. open the `C:\LightGBM\R-package\src\install.libs.R`
2.  set `use_precompile <- TRUE`
3.  modify `if (!file.copy("../CMakeLists.txt", "CMakeLists.txt", overwrite = TRUE)){
  stop("Copying CMakeLists failed")

[2018-09-19 07:52] BruceZhaoR commented on #1143
@Laurae2  I just used pkgdown built my package website: https://brucezhaor.github.io/pjutils/index.html
Want to know if you need any help now?

[2018-09-19 12:45] teru111 commented on #1678
I finally successed to install lightgbm package !
Your guidance is perfect. (I used vs compiler. )
Thank you so much !!

[2018-09-19 12:46] #1678 closed

[2018-09-19 13:18] clinchergt commented on #1003
@guolinke You mentioned in this issue that high cardinality variables are an issue for GPUs. Is there a way LightGBM could display which variable specifically is giving it problems? Alternatively, how does one check the cardinality of variables? I'm unsure what is meant by that... simply the number of unique categorical values?

[2018-09-19 15:44] guolinke commented on #1003
@clinchergt yeah, it is the number of unique categorical values.

[2018-09-19 16:02] clinchergt commented on #1003
@guolinke How is the number of bins decided? Is it directly correlated with the unique categorical values? How can I determine how many bins a specific variable is gonna need?

[2018-09-20 08:27] BruceZhaoR opened #1682 "[R] multi-class demo confusion"
https://github.com/Microsoft/LightGBM/blob/425503d7e254130eaea4a5ff287f324f5a5cc1ea/R-package/demo/multiclass_custom_objective.R#L57-L68

Should be  `preds = matrix(preds, nrow = length(labels), byrow = TRUE) ` ?

@jameslamb @StrikerRUS please cc.

[2018-09-20 09:09] BruceZhaoR commented on #1682
[code]
Not really know the custom-eval-metric mechanism,  I appreciate if you would point out my confusion, thanks!

[2018-09-20 09:34] StrikerRUS commented on #1563
I suppose the answer is the same as here https://github.com/Microsoft/LightGBM/issues/1577#issuecomment-412821667 .

@huanzhang12 Have you had any experience with SageMaker?

[2018-09-20 09:41] huanzhang12 commented on #1563
Unfortunately I have no experience with SageMaker... It also looks quite complicated to try it :'(

[2018-09-20 09:43] huanzhang12 commented on #1563
It is very likely they don't have OpenCL driver installed, and probably even don't have a GPU and NVIDIA frameworks installed at all. Since we don't have direct access to the machine it is hard to say what is happening here.

[2018-09-20 10:34] kn45 opened #1683 "How to save model to best iteration if early stopping does not happen?"
If early stopping not happens, save_model() save all the trees and model.best_iteration is the last iter. However, there is a best iteration so far (not the last one). How to save model up to this best iteration?

[2018-09-20 17:48] StrikerRUS commented on #1493
@guolinke @chivee
Is it possible to implement https://github.com/Microsoft/LightGBM/issues/1493#issuecomment-402839772 in LightGBM?
Such thing will allow, for example, to log right into Jupyter Notebook cell output.

[2018-09-20 18:20] StrikerRUS opened #1686 "Compilation warnings on Windows"
There are some warnings at Azure Pipelines on Windows machine for `master` branch:

[code]

The full log can be found here: https://lightgbm-ci.visualstudio.com/lightgbm-ci/_build/results?buildId=172&view=logs in `Windows regular` job

ping @guolinke, @chivee

[2018-09-20 22:49] bauks opened #1689 "Silent failure when sparse training matrix has > 2^31 non-zero elements"
When training data is in the form of a scipy.sparse.csr_matrix and the number of non-zero values exceeds 2^31 - 1 (haven't checked precisely but max_int32 is the only thing that makes sense here), model predictions suddenly become awful. I strongly suspect there's a 32 bit integer used as an index into the non-zero elements of the sparse matrix, which ends up mixing up data from different columns

[2018-09-21 20:12] StrikerRUS commented on #1689
@bauks Thank you for reporting this and special thanks for the reproducible example!

Unfortunately, I can't run your snippet even for `nrow=5400000` due to the lack of the RAM. How much RAM is on your machine?

@guolinke From the Python side my assumption is only this line:
https://github.com/Microsoft/LightGBM/blob/44ed4270eef68f0dd2ba093d4e5aa34460ddeecc/python-package/lightgbm/basic.py#L884

[2018-09-21 20:37] beachygreg commented on #989
@geoHeil Did it work for you?

I am loading multiple processes but we have a very large amount of requests to do in production and having many threads per process would be advantageous.

We had a pool of different lightgbm instances in memory and we end up getting really good performance but then we get timeouts due to what I can assume is deadlocks.

Is there any plan to make this lock specific t

[2018-09-21 23:45] bauks commented on #1689
@StrikerRUS Yes unfortunately the example uses about 90GB of RAM. I used a machine with around 360GB of RAM. I tried reducing the memory usage by constructing the sparse matrix directly instead of from the full 2d matrix, but it ends up using a similar amount of memory.

[2018-09-22 03:51] IanQS opened #1690 "Accessing input training data from `Dataset` object?"
## Environment info

Operating System: Ubuntu 16.04

CPU: Yes (not GPU if that's what this means?)

C++/Python/R version: Python

In [advanced example](https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py) we got the labels from the training data but I want to get the features themselves. How would I do so?

I need to implement a custom loss function and I ne

[2018-09-22 08:46] StrikerRUS commented on #1689
@bauks Hmmm, I tested on the machine with 112GB. Will try again.

[2018-09-22 09:49] senadibraimoski opened #1691 "Model file doesn't specify the label index ?"
Hi all,

I get this error when using the library to do regression. I am using the sklearn wrapper where I instantiate the Regressor and call something like this:

[code]

And I get this error. I could not find the documentation that will help me a bit and when I run the provided sklearn example it works I guess - so its really wierd and I lost a lot of time trying to find out what is happening:

[

[2018-09-22 10:39] StrikerRUS commented on #1689
@bauks BTW, is this issue presented in case of dense data (numpy/pandas)?

[2018-09-23 11:23] rybickibartek opened #1692 "Model predict returns result of different quality then validation declares."
## Environment info

Operating System: Fedora 24

CPU: Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz

C++/Python/R version: Python 3.6.6

Conda env:

  - python=3.6
  - numpy=1.15
  - scikit-learn=0.19.1
  - pandas=0.23.3
  - matplotlib=2.2.2
  - jupyter
  - jupyterlab
  - pip:
    - sklearn-pandas==1.6.0
    - featuretools==0.2.1
    - lightgbm==2.2.0
    - tqdm

## Problem description

I create train

[2018-09-23 12:32] Laurae2 commented on #1682
@BruceZhaoR It is used to show they are identical.

As for the matrix transformation, the memory layout is the following:

[code]

Therefore, `matrix(preds, nrow = length(labels), byrow = FALSE)` should be correct (not `byrow = TRUE`).

It can be checked with the following and running the training script interactively for the 2 lines after the debugging session:

[code]

[2018-09-23 12:32] #1682 closed

[2018-09-23 12:33] Laurae2 commented on #1682
Here are the results of the debugging session for reference. Note that labels are aligned by rows, therefore there are 3 groups (1-10, 11-20, and 21-30).

[code]

[2018-09-23 13:06] Laurae2 opened #1693 "[R-package] build_r.R fails in Windows"
With Windows and MinGW, build_r.R fails with the following error:

[code]

[2018-09-23 15:48] #1693 closed

[2018-09-23 18:29] aldanor commented on #985
Wondering what’s the latest story on this as well.

[2018-09-23 21:36] makrand12 commented on #826
### Guys help me with this memory error, below is the code and pic shows the error
cat_cols = ["channelGrouping", "device.browser",
            "device.deviceCategory", "device.operatingSystem",
            "geoNetwork.city", "geoNetwork.continent",
            "geoNetwork.country", "geoNetwork.metro",
            "geoNetwork.networkDomain", "geoNetwork.region",
            "geoNetwork.subContinen

[2018-09-24 10:58] StrikerRUS commented on #1690
Hi @IanQS !

You can access raw data via the `data` field. It's documented in [**FAQ Python-package Solution 2**](https://lightgbm.readthedocs.io/en/latest/FAQ.html#python-package).

Don't forget to set `free_raw_data=False` while constructing Dataset. And in custom loss you'll be able to get X's (assuming you have the following function signature: `def custom_loss(preds, train_data):`):
[code]

[2018-09-24 13:48] IanQS commented on #1690
@StrikerRUS

Thank you so much! Is there a way to get the data that lightgbm has processed? If I understand correctly it does some preprocessing on its end to reduce dimensionality / format the data?

[2018-09-24 14:07] adodd202 commented on #1563
Thanks for the comments, yes, it is quite difficult to troubleshoot. I will be closing this issue just because I have changed to a different project and it is probably a fairly niche problem.

[2018-09-24 14:07] #1563 closed

[2018-09-24 16:41] StrikerRUS commented on #1690
It's `Dataset` object itself:

Unfortunately, you can only save it as binary file:
https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.Dataset.save_binary

[2018-09-24 21:00] bauks commented on #1689
@StrikerRUS Hmm this script tries to use only as much memory as is required but I didn't see a noticeable drop in memory consumption (still around 90GB):

[code]

Note the 2nd last line is commented out but converts to dense numpy matrices before passing the training data to lightgbm. When I run that version and comment out the last line, I find that even when the number of non-zero elements is la

[2018-09-24 21:38] pseudotensor opened #1697 "mean prediction for data with all constant features"
Getting this even if follow the advice.  Certainly this particular case has a constant column, but LightGBM should predict the average model at least as a last resort, not result in a fatal error in this simplest case.

[lgb_min_data_issue.zip](https://github.com/Microsoft/LightGBM/files/2412973/lgb_min_data_issue.zip)

[2018-09-24 21:40] pseudotensor commented on #1697
Params used,  note that min_data_in_bin=1 and min_child_samples=1 (sklearn default for min_data).
[code]

[2018-09-25 01:50] BruceZhaoR commented on #1682
Thank your very much !!

[2018-09-25 12:04] StrikerRUS commented on #1689
@bauks Unfortunately, your code fails on my machine at the step with `nrows=5400000`:
[code]

[2018-09-25 13:06] StrikerRUS commented on #1689
@bauks BTW, why not to create sparse matrix simply by https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.random.html#scipy-sparse-random ?

[2018-09-25 14:38] calebmadrigal opened #1700 "No way to differentiate between regression and classification at the Booster level"
This is more of a feature request than a bug. But if I have a `lightgbm.basic.Booster` object, I see no way to determine if that object is a regressor or classifier. At the `LGBMClassifier`/`LGBMRegressor` level, the type itself clearly demarcates, but at the `Booster` level, I see nothing I can look at to determine which it is.

Perhaps I'm missing something, but if there indeed is no way to diff

[2018-09-25 21:33] spedygiorgio opened #1701 "precompiled dll for R package when R >=3.5"
Hi, Is it possible to provide a CMAKE call example when generating libs for R 3.5?
Are we to modify >cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DUSE_GPU=1 ..? If yes, how?
Thanks in advance

[2018-09-25 21:42] spedygiorgio opened #1702 "failure bilding lightgbm for R when using "classical approach""
Hi, I have R 3.5.1. I successful compiled a dll for GPU support that I moved in the main Lightgm folder.
In order to compile the package I run Rscipt build_r.R after having modified install_libs.R setting `use_precompile <- TRUE`.
First question:

1. I want to use GPU and I have precompiled a DLL. I have NOT set `use_gpu <- TRUE` keeping it to false since I assumed that GPU will be handled by the

[2018-09-25 23:20] bauks commented on #1689
@StrikerRUS Thanks for pointing out scipy.sparse.random, that leads to much more simple code. The simulate_X function can be replaced with:
[code]
Unfortunately it looks like this method is slower and requires more memory; it used around 140GB and took 2 hours to run the 5400000 case. The results are similar, with the 5400000 case showing very poor predictions. If you have a suitable machine you c

[2018-09-26 02:58] BruceZhaoR commented on #1701
see https://github.com/Microsoft/LightGBM/issues/1678

[2018-09-26 03:48] BruceZhaoR commented on #1702
@spedygiorgio  you can see #1678 and read the code  https://github.com/Laurae2/lgbdl/blob/master/R/lgb.dl.R

## 1. You have precompiled GPU dll
JUST SET `use_precompile <- TRUE`  and make sure your precompiled files are in the following dirs
 `eg. R_PACKAGE_SOURCE = "C:\LightGBM\R-package"`

https://github.com/Microsoft/LightGBM/blob/7825084f160f3f8093cef3fdd13d1e49351e9e13/R-package/src/install.l

[2018-09-26 11:50] TomAugspurger commented on #985
No updates on my end.

On Sun, Sep 23, 2018 at 1:29 PM Ivan Smirnov <notifications@github.com>
wrote:

[2018-09-26 19:18] tingyumao94 opened #1703 "ke"
## Environment info

Operating System:

CPU/GPU model:

C++/Python/R version:

## Error message

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2018-09-27 00:27] guolinke commented on #1697
@pseudotensor Do you mean that all columns are constants?

[2018-09-27 00:32] guolinke commented on #1692
@rybickibartek can you try "reg_sqrt=false" ?

[2018-09-27 00:34] pseudotensor commented on #1697
Yes

[2018-09-27 00:39] guolinke commented on #1691
I think it is something wrong here: https://github.com/Microsoft/LightGBM/blob/7825084f160f3f8093cef3fdd13d1e49351e9e13/python-package/lightgbm/engine.py#L235

@senadibraimoski can you provide a reproduce example with random generated data ?

[2018-09-27 00:44] #1703 closed

[2018-09-27 00:49] guolinke commented on #1659
@psinger yeah, the constant features should be ignored by lightgbm.
Did you use the `feature_fraction`(sub_feature) ?
If yes, that is possible, as LightGBM use original feature index to sample features.

[2018-09-27 00:51] guolinke commented on #1683
I think it will auto save the best iteration: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1919-L1946
ping @StrikerRUS to confirm.

[2018-09-27 00:56] guolinke commented on #1645
[code]
it seems your only generate grad,hess for part of samples ?
you should generate for all data.

[2018-09-27 00:56] #1645 closed

[2018-09-27 01:03] guolinke commented on #1644
@wagnew3 thanks, it seems this is a bug. I will fix it later.

[2018-09-27 04:43] rybickibartek commented on #1692
To be honest when I restart my computer problem does not occur. But I will try req_sort = false in the case of the same problem, and give you a feedback about the effect.

[2018-09-27 05:32] guolinke commented on #1678
@Laurae2 @jameslamb
Do we change the build in the windows ?

[2018-09-27 06:58] BruceZhaoR commented on #1702
@guolinke @Laurae2 @jameslamb I run the
[code]
It generated the `lib_lightgbm.dll` with 33.5M, which can't be run in R.
Actually the right `lib_lightgbm.dll` is 4.6M in my computer.
Something wrong with the `devtools`?

I think the R package install [README](https://github.com/Microsoft/LightGBM/blob/master/R-package/README.md) should be changed, and do not need to use `ldgdl` package to `git clon

[2018-09-27 07:01] guolinke commented on #1702
ping @Laurae2 @jameslamb

[2018-09-27 08:16] nirupamkar opened #1705 "Different result on groupby data"
## Environment info

C++/Python/R version: Python 2.7

## Issue
I am using lightgbm2.1.0 for a classification problem. If I groupby the features and use the count as weight, ideally there should not be any change in the model as loss function should remain same. However I am seeing a change. Please let me know if I am missing something.

## Reproducible examples
[code]

[2018-09-27 08:29] guolinke commented on #1705
Aren't they the same in your pasted code ?

[2018-09-27 08:42] nirupamkar commented on #1705
yes, rectified it.

[2018-09-27 08:53] guolinke commented on #1705
I think the groupby will change the order of samples.
Therefore, there may are some changes due to float point data sumup problems.

[2018-09-27 09:02] nirupamkar commented on #1705
But this leads to a massive performance drop in my actual scenario (this issue is an example). It is like 2 point drop in terms of AUC. Do you think float point data sumup problems can lead this significant change? Here also you can see the logloss in the groupby case got increased by around 0.01

[2018-09-27 10:13] Mithrillion opened #1706 "The Python Training API should not alter "params" argument in place"
It appears that the training API's ` train()` method will attempt to modify the `params` argument in place with `pop()`, new key assignment, etc. when trying to use the categorical columns from a Pandas dataframe. This is likely to cause unexpected behaviour when the `params` values are reused. For instance, I have the following params dict:
[code]
And I used the dict in a KFold setup in which I u

[2018-09-27 10:21] StrikerRUS commented on #1683
@guolinke Yeah, it saves `best_iteration` by default.

@kn45 Do you set `best_iteration` manually? Or why do you have best iteration without early stopping occurrence? Please describe your use case in more details.

[2018-09-27 10:28] StrikerRUS commented on #1706
@Mithrillion You are absolutely right! To be honest, I've noticed that there are many places where some arguments are modified in LightGBM's functions, which causes some side effects. I think this is unacceptable and should be fixed. I'll try to find all such places and fix them.

[2018-09-27 11:33] Kallikrates commented on #1678
I've tried to install this package every suggeted way and still no joy. I keep getting a CMake Error. I've set my PATH variable to the following. Any ideas?

C:\Program Files\R\R-3.5.1\bin\x64; C:\Rtools\mingw_64\bin; C:\Program Files\Git\bin; C:\Program Files\CMake\bin

Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>cd C:\

C:\>git c

[2018-09-27 12:14] BruceZhaoR commented on #1678
@Kallikrates
make sure you have mingw32-make.exe in your PATH.
[code]
1. add  `C:\Rtools\bin;` to your system PATH, close terminal and reopen try again;
2. reinstall CMake to `C:\ProgramFiles\CMake` (**without space in the path**) and add it to the PATH variable, close and reopen , try again;

[2018-09-27 21:12] spedygiorgio commented on #1701
thanks @guolinke

[2018-09-28 02:33] guolinke opened #1708 "Support GLIBC 2.17 in the build binaries"
It seems Azure Pipeline uses a higher version gcc to build the binaries.
Therefore, some old gcc cannot be supportted.

[2018-09-28 03:53] BruceZhaoR commented on #1678
make sure you can use cmake in `cmd`

[code]

@Kallikrates make sure all these can be accessed in you `cmd`. Maybe you need to restart your computer.

[2018-09-28 05:32] guolinke commented on #1689
@StrikerRUS
I checked the cpp code, and think it is fine..

I don't have a machine to test that, can you provide the types
[code]
in https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L888-L889

especially for  type_ptr_indptr.
Thanks very much.

[2018-09-28 05:34] Kallikrates commented on #1678
Thanks but still no good ever after restart. Here's the transcript. Am I missing something?

C:\>cmake --version
cmake version 3.12.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

C:\>where cmake
C:\ProgramFiles\CMake\bin\cmake.exe

C:\>cd Rtools\bin

C:\Rtools\bin>where make
C:\Rtools\bin\make.exe

C:\Rtools\bin>make --version
GNU Make 4.2.1
Built for i686-pc-msys
Copyrig

[2018-09-28 06:29] guolinke commented on #1708
@StrikerRUS
can we use the same gcc/clang version for both Azure Pipeline and Travis ?
I think our binaries should build for the max compatibility.

[2018-09-28 06:35] Laurae2 commented on #1678
Remove the other MinGW sitting on your PATH which is before the last one.

[2018-09-28 09:16] nirupamkar commented on #1705
@guolinke please correct me if I am wrong.
I am seeing same observation in XGB also but it gets resolved if subsample=1 is used . So xgboost does not use stratified subsampling based on the row weight (confirmed ).
For lightgbm's case, even if subsample=1 is taken the issue is not resolved. Is that because in this case too lightgbm uses goss and it does not use weighted sampling ?

[2018-09-28 10:31] vishesh123456 opened #1712 "Categorical Features + Feature Importance in Light GBM"
## Environment info

Operating System:

CPU

Python

## Error message

So when I use the categorical features in Light GBM, i have to encode it to integers before doing so.

1. Will the encoding of categorical to integers not introduce hierarchy in the values?

Secondly, after I run the model, and use the feature importance of light gbm, it gives me integer values from the encoded categorical feat

[2018-09-28 18:17] xavierbourretsicotte commented on #1369
I struggled to make the workaround work as I have not been able to make the C compile work on El capitan. Probably due to incorrect usage of export CXX...

[code]

All that to say that the following did the trick for me:

- Downgrade to scikit-learn v19.2, and pip install lightgbm==2.1.1

[2018-09-28 19:16] xavierbourretsicotte commented on #1369
I am unable to run make .. it seems it doesn't find or like my compiler.  When I run `which gcc` I get
`/usr/local/bin/gcc`  and `XBS:build User$ /usr/local/bin/gcc --version` gives

Now running the commands in terminal
[code]

Yields the following message:

[2018-09-28 19:35] #1686 closed

[2018-09-28 19:48] bauks commented on #1689
Hi @guolinke,

Hopefully the following helps:
csr.shape is (5400000, 2001)
csr.data is a numpy array with length 2165402340 and dtype float32.
csr.indices is a numpy array with length 2165402340 and dtype int64.
csr.indptr is a numpy array with length 5400001 and dtype int64.

Running
[code]
gives
type_ptr_indptr = 3,
type_ptr_data = 0,
type(ptr_indptr) = lightgbm.basic.LP_c_long,
type(ptr_data) =

[2018-09-28 19:48] StrikerRUS commented on #1708
@guolinke Sorry, I'm lost a bit. Is the problem in glibc or in gcc? Linux only or macOS too?

Can the problem be solved by installing appropriate (downgrading) glibc version on Azure?

[2018-09-28 20:13] skysun99 commented on #1708
How this possible I cloudy account unlock id

[2018-09-29 03:54] guolinke commented on #1708
ping @DavidStaheli @brcrista .
Can we use ubuntu 14.04 for the Microsoft hosted agents?
I try to use docker images, but all of them fails.

[2018-09-29 05:45] zhaoxingfeng opened #1714 "param:class_weight"
There are some describe with class_weight in documents:
------

[code]
It's said that `class_weight` only for multi-class classification task, but it work when I try this param for binary classification with `class_weight={1: 1, 0: 2}`.
------

[2018-09-29 13:01] Laurae2 commented on #1702
@BruceZhaoR lgbdl is only for convenience when not wanting to setup from scratch a temporary directory and a manual installation.

Note that the DLL created from R cannot be used elsewhere (the same is true for any other R packages). If you want to precompile the DLL, make sure to precompile without R.

[2018-09-30 04:51] guolinke commented on #1708
some updates:

I manage to decouple with glibc 2.23, by adding this line in the source code: https://github.com/Microsoft/LightGBM/blob/vsts-version/include/LightGBM/meta.h#L65-L67

However, there are some other higher version dependencies when build with vsts-linux-agent.
[code]

Since there are some new APIs in these new dependencies, I cannot fix them by the above solution for glibc.

For examp

[2018-09-30 10:57] StrikerRUS commented on #1708
@guolinke I've got VM with Ubuntu 16 and tried to compile LightGBM with max compatibility (I can repeat all steps in Azure script). Can you please check the attached file (especially libgomp)?

[lib_lightgbm.zip](https://github.com/Microsoft/LightGBM/files/2431464/lib_lightgbm.zip)

[2018-09-30 13:34] guolinke commented on #1708
@StrikerRUS I also manage to use docker for building from ubuntu 14.04 in azure pipeline.
However, it always met this error:
[code]

It seems the `Hosted Ubuntu 1604` is not stable for use.
ping @DavidStaheli @brcrista  to confirm.

[2018-09-30 13:47] StrikerRUS commented on #1708
@guolinke

Sure.

What about the time?

[2018-09-30 14:08] guolinke commented on #1708
![image](https://user-images.githubusercontent.com/16040950/46258432-3c2aad80-c4fd-11e8-9bff-30a56a525801.png)

It needs an additional 1 mins to initialization. But strangly, the conda environemnt is faster...

And I prefer the downgrade solution.

[2018-09-30 15:12] StrikerRUS commented on #1708
@guolinke Please check this file: https://lightgbm-ci.visualstudio.com/_apis/resources/Containers/1683333?itemPath=PackageAssets%2Flib_lightgbm.so

[2018-09-30 15:43] Mtale opened #1717 "Training on GPU fails (OSError: exception: access violation)"
I have been trying to run LightGBM GPU for some time without success. The software works well on CPU.

I've compiled LightGBM using MinGW following the instructions [here](https://lightgbm.readthedocs.io/en/latest/GPU-Windows.html) and using MSVC like instructed [here](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-gpu-version). I used Visual Studio 2017 to compile.

No ma

[2018-09-30 16:38] guolinke commented on #1708
@StrikerRUS thanks so much !
BTW, i find the the "Hosted Ubuntu 1604" is faster than "Hosted Linux Preview". Maybe we can move to it.

[2018-09-30 16:59] jameslamb commented on #1702
@Laurae2 what do you think about @BruceZhaoR 's suggestion for changing the README?

To be transparent, I am not very familiar with the process of using precompiled DLLs in R on Windows so I am a bit outside of my experience area here.

[2018-09-30 17:05] jameslamb commented on #1678
@Laurae2 need my help on this? I have limited usefulness in the Windows-specific stuff (probably need to get better at it)

also do we need to reopen this issue?

[2018-09-30 17:12] StrikerRUS commented on #1708
@guolinke No problem! Glad to help you.

I think we should ask someone competent in this (from Azure team).

[2018-09-30 17:13] Laurae2 commented on #1678
@jameslamb The user has 2 MinGW installed at the same time and they conflict each other as cmake can't know what to take. The tdm MinGW must be removed to let R's MinGW to be used.

[2018-09-30 17:14] Laurae2 commented on #1702
@jameslamb The process of using precompiled DLL in Windows is identical to using precompiled lib in Linux.

Maybe adding into the README how to use precompiled DLL/lib without lgbdl can be helpful.

[2018-09-30 19:58] #1532 closed

[2018-10-01 00:35] souravsingh commented on #1119
@svenpeter42 Can I use your code to integrate it into core LightGBM repository as a PR?

[2018-10-01 04:54] Kallikrates commented on #1678
Left my path:
C:\PROGRA~1\R\R-3.5.1\bin\x64; C:\PROGRA~1\Git\bin; C:\ProgramFiles\Cmake\bin; C:\Rtools\bin; C:\Rtools\mingw_64\bin
Still getting error:

C:\LightGBM\build>cmake -G "MinGW Makefiles" -DUSE_R35=ON ..
CMake Error: CMake was unable to find a build program corresponding to "MinGW Ma
kefiles".  CMAKE_MAKE_PROGRAM is not set.  You probably need to select a differe
nt build tool.
CMake Err

[2018-10-01 08:28] svenpeter42 commented on #1119
Sure, absolutely!

[2018-10-01 11:57] brcrista commented on #1708
@guolinke correct, you need to use Hosted Ubuntu 1604 to run containers.  I would recommend replacing Hosted Linux Preview with Hosted Ubuntu 1604.  The "preview" is basically done and you can think of Hosted Ubuntu as the GA release.

As for the issues you are seeing with that pool, I see you opened https://github.com/Microsoft/vsts-tasks/issues/8455, so I'll let that question be answered there.

[2018-10-01 19:40] bauks opened #1723 "num_threads attribute isn't respected during evaluation"
## Environment info

Operating System: Ubuntu 14.04.4
CPU: 4x Intel Xeon 24 core processors
Python version: 2.7.6
lightgbm version 2.1.2 installed via pip

When calling predict or predict_proba on an LGBMClassifier model, it seems like the number of threads used corresponds to the number of threads most recently used when training a lightgbm model. Is there a way to change the number of threads us

[2018-10-01 20:27] StrikerRUS commented on #1723
Please pass `num_threads` argument via `**kwargs` in [`predict` method](https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.LGBMClassifier.predict).

Refer to #1534.

[2018-10-01 20:27] #1723 closed

[2018-10-02 01:06] #1689 closed

[2018-10-02 01:39] #1657 closed

[2018-10-02 10:52] StrikerRUS commented on #1666
Linking #856, #906.

[2018-10-02 10:52] #1666 closed

[2018-10-02 17:30] eerhardt opened #1725 "Publish lib_lightgbm.dll symbols to Microsoft Symbols Server"
When using the lib_lightgbm.dll from https://www.nuget.org/packages/LightGBM/, and either trying to debug or perf profiling, I am not able to load symbols for this assembly.

We should publish the symbols for this assembly to the Microsoft Symbols Server, so others will be able to debug and profile correctly.

[2018-10-02 18:03] danmosemsft commented on #1725
@eerhardt is referring to the public symbol server, not the internal one. This will be consistent with what we do for ML.NET, .NET Core, etc. In all these cases we publicly post the non-stripped (complete) symbols.

[2018-10-03 01:07] #1706 closed

[2018-10-03 12:49] sbensoussan commented on #1309
Hi, @dkivaranovic.

You can retrieve the predictions using `gbm._Booster__inner_predict` and the `data_idx`.

[code]

[2018-10-03 15:21] dwh2102 opened #1730 "Error in data$construct() : lgb.Dataset.construct: cannot create Dataset handle"
Tried solutions described here: https://github.com/Microsoft/LightGBM/issues/571

Did not work. Re-installed lightgbm, re-started R, used lgb.unloader and rec'd same error.  Any help is appreciated--thanks!

## Environment info

Operating System: Windows 7 Professional

CPU/GPU model: Intel(R) Core(TM) i3-4150 CPU @ 3.50 GHz 3.50 GHz

C++/Python/R version: RStudio Version 1.1.456

## Error message

[2018-10-03 17:27] guolinke commented on #1705
@nirupamkar the goss isn't enabled by default.
I think you can try set min_data=1, and using min_hessian instead.

[2018-10-03 17:29] guolinke commented on #1700
I think this feature is easy to implement, just record the objective function or the types of labels, when initializing the booster.

[2018-10-04 14:06] louisabraham commented on #1044
I have a similar problem that is not solved. I want to do a grid search on a whole pipeline, so I cannot use cv.

IMO, it would be much better to have a parameter `validation_fraction` like [MLPClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html).

How is it done in cv? I suppose that it trains on k-2 folds, and uses one fold for validation and on

[2018-10-05 07:33] BruceZhaoR commented on #1702
The LightGBM repo is about 64M. When I want to update the pacakge, I need to git clone again and install, it is really slow. I mean we can add a more detail way to guide people compile the dll in  README.

[2018-10-05 09:42] guolinke commented on #1702
@BruceZhaoR @Laurae2 @jameslamb
I think the previous build does not have this problem. Is Anything wrong now ?

[2018-10-05 10:49] BruceZhaoR commented on #1702
`Rscript build_r.R`
It generated the lib_lightgbm.dll with 33.5M in my computer, which can't run in R. This is the main problem.

[2018-10-05 11:05] Laurae2 commented on #1702
@BruceZhaoR The DLL built by R is not made to be re-used for another R compilation as it is already compiled for R (static). Compile the DLL without R if you want to use a DLL to be used for R.

[2018-10-05 11:14] guolinke commented on #1702
@Laurae2 I believe our dll does not depend on R, as we already hacked this.

[2018-10-06 14:34] StrikerRUS commented on #1523
Default compiler for macOS is now Apple Clang (https://github.com/Microsoft/LightGBM/pull/1727#issuecomment-426634413).

All other unresolved issues mentioned here have their own GitHub issues. So, closing this.

[2018-10-06 14:34] #1523 closed

[2018-10-07 01:00] StrikerRUS commented on #1714
@zhaoxingfeng Yes, `class_weight` **can be used** for binary classification. This parameter is implemented at the scikit-learn side.

However, LightGBM has built-in techniques: ``is_unbalance`` or ``scale_pos_weight``, and it's recommended to use them.

[2018-10-07 01:00] #1714 closed

[2018-10-07 08:09] pseudotensor commented on #1697
Any way this can be fixed.  Any reasonable model should be able to predict the "average" for regression or the most frequent for classification.

[2018-10-07 08:14] Laurae2 commented on #1697
@guolinke is there any way to bypass the "not useful feature" option?

[2018-10-07 08:30] pseudotensor commented on #1697
One can use xgboost as backup, but a bit silly.

[2018-10-07 08:31] xuanzebi opened #1734 "Error use hyperopt"
## Environment info

Operating System:

CPU/GPU model:

C++/Python/R version:

## Error message

lightgbm.basic.LightGBMError: Parameter min_data_in_leaf should be of type int, got "425.0"
## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2018-10-07 10:28] StrikerRUS commented on #1730
ping @jameslamb and @Laurae2

[2018-10-07 13:41] guolinke commented on #1697
@pseudotensor you can check the fixes in #1735

[2018-10-07 23:32] jameslamb commented on #1730
Thank you for the reproducible example! I will see if I can reproduce it on my machine and look for a fix

[2018-10-07 23:46] dwh2102 commented on #1730
Great! Thanks for your help.

Dave

On Sun, Oct 7, 2018, 7:32 PM James Lamb <notifications@github.com> wrote:

[2018-10-08 11:39] mlisovyi commented on #1398
@guolinke is it possible to elaborate more on this? Shall one make predictions on each group separately? What is the output of the `LGBM.predict()` method? The docs are very short on the subject and examples in the tests and elsewhere address rnker fit, but not prediction

[2018-10-08 12:11] guolinke commented on #1398
@mlisovyi qid have no effects on ranking predictions in lgb.predict, as the predicted results are the relevant scores. And you can use the relevant scores to get the correct ranking order results by yourself, and qid is needed in this step.

[2018-10-08 12:37] guolinke commented on #1398
@mlisovyi the same, you can just sort by prediction values.

[2018-10-09 10:10] #1697 closed

[2018-10-10 12:05] kn45 commented on #1683
Supposing I set early_stopping_rounds=20 num_tree=100, on the validation set No.90 iteration got the best AUC so I want to save the model with 90 trees.
However, `best_iteration` in save_model() is 100 because early_stopping not happens and save_model() would dump all the 100 trees.

[2018-10-10 12:56] guolinke commented on #1683
@kn45 You can try the latest version, even if the early_stopping not happens, the best_iteration is 90 in your case.

[2018-10-10 13:54] eryueniaobp commented on #1487
also find the same issue.   2.1.2 will give a much weaker auc then version 2.1.0  (auc 0.73 to 0.79 in my case )   The data is highly imbalanced.

[2018-10-10 16:53] psinger commented on #1487
@eryueniaobp Have you checked `boost_from_average` as discussed above?

[2018-10-10 17:41] StrikerRUS commented on #1683
@kn45 If there was no early stopping, then you can directly specify the needed iteration, like:
[code]

[2018-10-10 22:05] akaniklaus opened #1742 "Custom Ordinal Multi-Logloss"
Dear Community, I want to have a custom loss function where the calculated multi_logloss is weighted with np.square(y_pred -  y_test) + 1.0. I checked the advaced example but couldn't succeed doing it. I would very much welcome if someone can help. Thank you in advance for your time and consideration.

[2018-10-11 04:43] kn45 commented on #1683
ok, i'ill try the latest version.

[2018-10-11 04:43] #1683 closed

[2018-10-11 07:15] vruvora opened #1743 "Irreproducible Segfault with LightGBM"
We are experiencing cases of irreproducible Segfault with LightGBM. Does anyone else have this issue?

## Environment info

Operating System:

CPU/GPU model:

C++/Python/R version:

## Error message

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2018-10-11 07:37] henry0312 commented on #1743
Did you install LightGBM from PyPI?
The distributions on PyPI may be broken.
(I guess compile optimization may be a cause)
So, can you try to compile from source?

[2018-10-11 07:39] vruvora commented on #1743
We are installing with pip install. It just hangs in a middle of an optimization. We can try compiling from source but is there a reason why PyPI may be broken?

[2018-10-11 07:41] henry0312 commented on #1743
I guess there are something wrong with [manylinux](https://github.com/pypa/manylinux) and `-O3`.
Maybe, we should compile without `-O3` on manylinux.

[2018-10-11 07:45] vruvora commented on #1743
Interesting. Have you or anyone else experienced this because we have been experiencing this a fair amount but I have not seen any big reported use cases?

[2018-10-11 07:46] guolinke commented on #1743
@vruvora
Did the Segfault occur often?

[2018-10-11 07:47] vruvora commented on #1743
Yes. It has been happening a quiet a bit as of late.

[2018-10-11 07:48] henry0312 commented on #1743
I saw uncertain crash many times in my main job.

[2018-10-11 07:49] vruvora commented on #1743
@henry0312 Interesting. Have you been able to fix it?

[2018-10-11 07:49] henry0312 commented on #1743
@vruvora you should be sure to uninstall the package from PyPI and install manually.

[2018-10-11 07:50] henry0312 commented on #1743
@vruvora Yeah, installing from source have solved the problem.

[2018-10-11 07:53] vruvora commented on #1743
@henry0312 I will try this out and update accordingly. Thanks.

[2018-10-11 08:03] vruvora commented on #1743
@henry0312 Is this what you did for building from sources: `pip install --no-binary :all: lightgbm`?

[2018-10-11 08:05] henry0312 commented on #1743
No, please see https://github.com/Microsoft/LightGBM/blob/master/docs/Installation-Guide.rst.

[2018-10-11 08:59] guolinke commented on #1743
@vruvora you can use
[code]
as well.

[2018-10-11 09:02] guolinke commented on #1743
@henry0312
building without O3 may slow-down the running speed.

I am not very sure why Segfault happened, and why building from source can fix it.

[2018-10-11 09:45] henry0312 commented on #1743
@guolinke Yes, `-O3` makes cumpting perfomance better, but there may be something wrong with tunes for manylinux.

[2018-10-11 12:10] psinger commented on #1697
Might this have also been the reason for https://github.com/Microsoft/LightGBM/issues/1659 ?

[2018-10-11 12:30] guolinke commented on #1697
@psinger I think they are irrelevant. This is for the situation that all features are constants.

[2018-10-11 12:45] fx86 commented on #1369
I'm getting the following error after being able to successfully install lightgbm, even though `libomp` is already installed. Does anyone have any suggestions ?
[code]

[2018-10-11 13:02] funkindy commented on #1717
Exactly the same problem here with GPU version built with MinGW:

Windows 10,
CMake 3.8,
Boost 1.63.0

Building goes fine, CLI interface also works okay on GPU with test examples, but python wrapper drops exactly the same error (OSError: exception: access violation writing 0xFFFFFFFF95A80000) on Booster init.

This command is used to install python wrapper: `python setup.py install --precompile`

[2018-10-11 13:35] guolinke commented on #1369
@fx86 I think it is a warning, not an error, and you are able to run lightgbm, right ?
ping @StrikerRUS to confirm.

[2018-10-11 14:01] fx86 commented on #1369
Yes, it loads. Any clue why that warning ?

[2018-10-11 14:15] StrikerRUS commented on #1369
@fx86 Yeah, it's just a `UserWarning` to inform users about the changed requirements to run LightGBM successfully.

This warning will be removed in the future.
If everything OK for you, ignore this warning.

[2018-10-11 18:12] pseudotensor opened #1744 "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
7949cf51c5456fc599c368191ed619418c8b3ca9

During simple predict on simple model:

[code]
[code]

[2018-10-11 18:12] pseudotensor commented on #1744
[lgbmmodel.zip](https://github.com/Microsoft/LightGBM/files/2470139/lgbmmodel.zip)

[2018-10-11 19:10] pseudotensor commented on #1744
Mis-use.  parameter was 3 classes and data only had 2.  But can error checks be put in to handle this so less confusing?

[2018-10-11 23:50] vruvora commented on #1743
@guolinke Will this be slower `pip install --no-binary :all: lightgbm` than regular `pip`? Can you elaborate on the differences?

[2018-10-12 15:55] bbennett36 commented on #1712
Feature importance is showing the number of times the features was 'split' on.

This is what you're looking for -

'Split' is the number of times the modle split on that feature. 'Gain' is essentially a measure of how much a feature contributes to the accuracy of the model.
[code]

[2018-10-12 16:24] bbennett36 commented on #1705
Well the weights are different so certain instances in x1 will have more of an impact than x. You can see in the counts below -
[code]

[code]

Also, if you print out x & x1 they are not in the same order which is also affecting it. However, if you add more iterations then the results are almost identical. (I always set num_iterations high with early stopping so I'm not stopping the model to early

[2018-10-12 19:13] StrikerRUS commented on #1566
Can this issue and original one be closed, since https://github.com/dotnet/machinelearning/pull/1234 has been merged?
@codemzs @eerhardt @guolinke

[2018-10-12 23:47] #1566 closed

[2018-10-13 11:03] StrikerRUS commented on #1405
@guolinke Can we close this issue, since LightGBM is in ML.NET now?

[2018-10-13 11:04] StrikerRUS commented on #763
@guolinke Can we close this issue, since LightGBM is in ML.NET now?

[2018-10-13 13:39] #1405 closed

[2018-10-13 13:39] #763 closed

[2018-10-13 16:29] jameslamb commented on #1730
Looking into this today. Will update shortly

[2018-10-13 16:40] jameslamb commented on #1730
Ok I ran the code from above on my Mac and could not reproduce the issue.

[code]

I got this result:

[code]

[2018-10-14 21:05] niknoproblems opened #1757 "Early stopping with many validation sets"
Have a strange behavior when using early stopping with many validation sets in python package(version 2.2.1)

`clf.fit(X_resampled,y_resampled,early_stopping_rounds=5,eval_set=evals,eval_metric=['auc'])`

**result**:

`[1]	valid_0's auc: 1	valid_1's auc: 1	valid_2's auc: 1	valid_3's auc: 1	valid_4's auc: 1	valid_5's auc: 1	valid_6's auc: 1	valid_7's auc: 1	valid_8's auc: 1	valid_9's auc: 1	valid_1

[2018-10-15 02:48] guolinke commented on #1744
I think this problem is related to python. @StrikerRUS can you help for this issue ?

[2018-10-15 02:52] guolinke commented on #1757
@niknoproblems refer to the document: https://lightgbm.readthedocs.io/en/latest/Parameters.html#early_stopping_round

since there are many validation sets with auc=1, they trigger the earlystopping.

@StrikerRUS It seems the document in python package doesn't have these descriptions.

[2018-10-15 06:54] marcualin7412 commented on #1717
Got similar error on my win10 machine too, works okay on GPU with test examples.

Traceback (most recent call last):
  File "<ipython-input-19-d64de480ac29>", line 95, in <module>
    verbose_eval=300
  File "C://Users//melo1//Anaconda3//envs//GPU//Lib//site-packages\lightgbm\engine.py", line 192, in train
    booster = Booster(params=params, train_set=train_set)
  File "C://Users//melo1//Anaconda

[2018-10-15 06:58] guolinke commented on #1717
ping @huanzhang12

[2018-10-15 07:05] huanzhang12 commented on #1717
@funkindy @marcualin7412 Could you try if GPU Caps Viewer works on your system?
You can download it here: http://www.ozone3d.net/gpu_caps_viewer/
See if you can view OpenCL devices using it.

For debugging this kind of issue I suggest using the CLI version of LightGBM instead of Python. Could you please run LightGBM using the CLI (command line interface) and get a full output log? This will be rea

[2018-10-15 07:13] marcualin7412 commented on #1717
thanks for your quick response.
this is my OpenCL page
![image](https://user-images.githubusercontent.com/23111316/46935097-b1b18480-d08c-11e8-9d88-3d8b3578ed5d.png)

[2018-10-15 09:52] niknoproblems commented on #1757
Ok, thank you

[2018-10-15 10:58] StrikerRUS commented on #1757
@guolinke Speaking about sklearn wrapper, we have this notice:
https://github.com/Microsoft/LightGBM/blob/09919669f4d889d76929e13890c9fa78cee9178a/python-package/lightgbm/sklearn.py#L339-L340

`train` and `cv` functions also have it:
https://github.com/Microsoft/LightGBM/blob/09919669f4d889d76929e13890c9fa78cee9178a/python-package/lightgbm/engine.py#L67-L68
https://github.com/Microsoft/LightGBM/bl

[2018-10-15 15:16] dwh2102 commented on #1730
Thanks for looking into this for me--any idea of what my issue might be or
what I should try next? Thanks!

On Sat, Oct 13, 2018 at 12:40 PM James Lamb <notifications@github.com>
wrote:

[2018-10-15 15:33] jameslamb commented on #1730
@dwh2102 Now that I've got it working on my Mac, the next thing I'll try (probably tonight) is to build on a Windows machine.

I was looking through the `construct()` code last night and there are about different places this could have failed. If nothing else, I'll add logging in there so we can see which block executes for you. Then if that doesn't help us find an answer we can pull in @Laurae2 t

[2018-10-15 16:39] dwh2102 commented on #1730
Great! Thank you so much.

On Mon, Oct 15, 2018 at 11:34 AM James Lamb <notifications@github.com>
wrote:

[2018-10-15 16:43] Laurae2 commented on #1730
@jameslamb Windows 10, R 3.5.0, LightGBM master:

[code]

[2018-10-15 18:02] jameslamb commented on #1730
The plot thickens!

@Laurae2 I'm going to make the PR to improve logging anyway, then maybe if @dwh2102 can run and reproduce the problem, we'll be able to form a better hypothesis about where something went wrong.

[2018-10-15 18:16] akaniklaus commented on #1742
Is there any possible way to handle regression of imbalanced data in LightGBM? As my regression labels are discrete, I would like to implement a custom loss function that acts as a weighted mean square error.

[2018-10-15 23:29] JoshuaC3 commented on #1445
@StrikerRUS could we not do something like,

[code]

with default as `None` or `False`. Default behaviour then doesn't break.

[2018-10-16 04:29] Esail commented on #1326
I rename .jnilib to dylib. Everything works well on my mac

[2018-10-16 10:16] StrikerRUS commented on #1445
@JoshuaC3 I suppose it's possible. Would you mind to create a PR?

[2018-10-16 21:30] imatiach-msft commented on #1326
@Esail could you please elaborate, for example what is predict_leaf?  Which functionality in mmlspark is not supported?  How would you pass data to the yarn job from the spark dataframe?  Thanks!

[2018-10-17 09:14] Esail commented on #1326
@imatiach-msft predict_leaf is to predict leaf indices. It is used to extract features from gbdt then feed the new features to LR.

 refer to http://quinonero.net/Publications/predicting-clicks-facebook.pdf
same issue #845

How would you pass data to the yarn job from the spark dataframe?
I wont pass data from spark. Actually, I am going to launch lightGBM on yarn directly by implementing the appl

[2018-10-18 00:14] vruvora commented on #1743
@henry0312 Yes. As far as we know. No more segafults.

[2018-10-18 03:50] guolinke commented on #1743
should we add this problem and solution to the document?

[2018-10-18 14:29] AlexandraBomane opened #1762 "only one tree model generated during model fitting"
Here, the `LGBMClassifier()` object that I created via the Python API (sklearn wrapper) :
[code]
I built a classifier using this algorithm on a dataset made of 60489 columns and 61 rows.

Then, my goal was to investigate the feature importances. That's why I used the function `clf.booster_.feature_importance(importance_type='gain')` to see the feature importances obtained from the model. Focusing

[2018-10-18 14:49] guolinke commented on #1762
@AlexandraBomane objective = "None" ?
BTW, can you disable "silent" and provide the running logs ?

[2018-10-18 15:59] AlexandraBomane commented on #1762
Please, find attached the running logs.
[log.txt](https://github.com/Microsoft/LightGBM/files/2492648/log.txt)

When I do `clf.objective_`, I obtain "binary".

[2018-10-18 23:30] guolinke commented on #1762
@AlexandraBomane it seems your data is hard to learn.
you can try to set min_child_weight=0 .

[2018-10-19 08:33] guolinke commented on #1762
@AlexandraBomane I think it is due to low amount of data points, or imbalance data.

[2018-10-19 08:46] AlexandraBomane commented on #1762
Thank you. I saw that default `min_child_weight` is set to 5 : is it because LightGBM is basically designed to fit datasets made of high amount of data points (like thousands) ?

[2018-10-19 08:51] guolinke commented on #1762
@AlexandraBomane I think the default value of min_child_weight is 1e-3, not the 5.
I recommend `min_child_samples`, which is more intuitive to constraint the amount of data in one leaf.

[2018-10-19 09:06] AlexandraBomane commented on #1762
At one time, default `min_child_weight` was set to 1e-3. But as reported in #1014 and #1033, some changes occurred  in the scikit-learn API. So, with the default parameters of LightGBM 2.0.10, I obtain `min_child_weight = 5`.

[2018-10-19 10:15] guolinke commented on #1762
ping @StrikerRUS

[2018-10-19 11:04] JoshuaC3 opened #1763 "Dataset has no data when passed to fpreproc in Python cv function"
## Environment info

Operating System: Ubuntu 16.04

CPU/GPU model:

C++/Python/R version:
3.7.0 (default, Oct  9 2018, 10:31:47)
[GCC 7.3.0]

[code]
`('2.2.1', '0.23.4', '1.15.2')`

## Error message

`dtrain.data` should be a pandas DataFrame and should not be `None`. When I get the below error, I can see that the dtrain.data _is_ being set to `None`:

`AttributeError: 'NoneType' object has no at

[2018-10-19 18:28] StrikerRUS commented on #1762
@AlexandraBomane Also, please update LightGBM version. The latest one is `2.2.1`.

`2.0.10` version indeed has default value `min_child_weight=5`:
https://github.com/Microsoft/LightGBM/blob/a668045e3f28e101885ea88826e94815b41682fa/python-package/lightgbm/sklearn.py#L143

[2018-10-19 19:17] StrikerRUS commented on #1763
Thanks for reporting this, @JoshuaC3 !

@guolinke I think the problem is that `subset()` passes `data=None` before executing `fpreproc()`, so `data` field is always `None` in new Dataset object:
https://github.com/Microsoft/LightGBM/blob/9a2bf26626c55ee9d7a1615a071fbc1a0b2dd2c0/python-package/lightgbm/engine.py#L308-L312
https://github.com/Microsoft/LightGBM/blob/9a2bf26626c55ee9d7a1615a071fbc1a0b

[2018-10-20 00:57] guolinke commented on #1763
yeah,
subset actually cannot p artition the `data`.
@JoshuaC3 you can fix it by construct the dataset in freproc function instead.

[2018-10-20 11:02] rem2016 commented on #1271
I think the current doc is very confusing. I have to try several times to figure out what it means.

![image](https://user-images.githubusercontent.com/18425020/47254905-a69a9200-d49a-11e8-8456-c587a03344d1.png)

[2018-10-20 11:10] StrikerRUS commented on #1271
@rem2016 Feel free to create a PR with documents improvements!

[2018-10-21 03:02] forestchen1224 opened #1768 "python using multiprocessing.Pool failed"
## Environment info

Operating System:ubuntu

CPU/GPU model:cpu

C++/Python/R version:python

## Error message

    I want to train tree models in different processes, but lgb.LGBMRegressor not work,it works when in one process
---> 19 pool.join()
     20 print(queue.qsize())
     21 # for i in range(3):

/usr/lib/python3.5/multiprocessing/pool.py in join(self)
    508         util.debug('joining

[2018-10-21 15:46] mjason3 commented on #1450
@guolinke if the gbdt_prediction.cpp is replaced by my-own. Could I use python API booster.predict() to invoke my own?

[2018-10-22 05:54] cloudray8580 opened #1770 "C++ Version Load dataset error: out is nullptr"
Hi, I'm trying to using the c_api, while there is an error with my codes below with message (out is nullptr) Am I not using the right way?
`
	char* filename = "D:/LightGBM/LightGBM-master/examples/regression/regression.train";
	char* parameters = "task=train boosting_type=gbdt objective=regression metric=l2";
	DatasetHandle* dataset;
	int loadtag = LGBM_DatasetCreateFromFile(filename, parameters,

[2018-10-22 07:53] jiayouanan opened #1771 "What is the LightGBM splitting criterion?"
In the source code(i.e. _feature_histogram.hpp_), I find the splitting criterion function named _GetLeafSplitGainGivenOutput_. Specically,  the splitting criterion is **-(2.0 * sg_l1 * output + (sum_hessians + l2) * output * output)**。
If I understand it correctly, that is to say, the above form is different from the formula for calculating the split gain of **xgboost**.
My question is why does LG

[2018-10-22 08:07] jiayouanan opened #1772 "What is the LightGBM splitting criterion?"
In the source code(i.e. _feature_histogram.hpp_), I find the splitting criterion function named **GetLeafSplitGainGivenOutput**. Specically,   the splitting criterion is **-(2.0 * sg_l1 * output + (sum_hessians + l2) * output * output)**。
If I understand it correctly, that is to say, the above form is different from the formula for calculating the split gain of **xgboost**.
My question is why does

[2018-10-22 08:12] cloudray8580 opened #1773 "c_api loaddataset error: out is nullptr"
Hi, I'm new to LightGBM and I'm trying to use the c_api to load a dataset, while it gives an error with the message "out is nullptr". Am I not using the correct way of this? The codes are shown below.

[code]

[2018-10-22 08:13] jiayouanan opened #1774 "What is the LightGBM splitting criterion?"
## Environment info

Operating System: Windows

CPU/GPU model: CPU

C++/Python/R version: Python

## Error message
## Reproducible examples
## Steps to reproduce
In the source code(i.e. _feature_histogram.hpp_), I find the splitting criterion function named **GetLeafSplitGainGivenOutput**. Specically,   the splitting criterion is **-(2.0 * sg_l1 * output + (sum_hessians + l2) * output * output)**。

[2018-10-22 11:08] unbreakablegao opened #1775 "why dose lightgbm.Dataset create one extra feature when read in libsvm file"
<!--
Hi
When I tried to load a subset of the iris dataset formated in libsvm as following:
1  1:7  2:3.2  3:4.7  4:1.4
1  1:6.4  2:3.2  3:4.5  4:1.5
1  1:6.9  2:3.1  3:4.9  4:1.5
0  1:6.3  2:3.3  3:6  4:2.5
0  1:5.8  2:2.7  3:5.1  4:1.9
0  1:7.1  2:3  3:5.9  4:2.1
0  1:6.3  2:2.9  3:5.6  4:1.8
... ...,

it was very weird that it yielded 5 feature names when there were actually 4 features. I am won

[2018-10-22 11:10] unbreakablegao opened #1776 "Why dose Lightgbm.Dataset create one extra feature when read in libsvm formated data"
<!--
Hi
When I tried to load a subset of the iris dataset formated in libsvm as following:
1  1:7  2:3.2  3:4.7  4:1.4
1  1:6.4  2:3.2  3:4.5  4:1.5
1  1:6.9  2:3.1  3:4.9  4:1.5
0  1:6.3  2:3.3  3:6  4:2.5
0  1:5.8  2:2.7  3:5.1  4:1.9
0  1:7.1  2:3  3:5.9  4:2.1
0  1:6.3  2:2.9  3:5.6  4:1.8
... ...,

it was very weird that it yielded 5 feature names when there were actually 4 features. I am won

[2018-10-22 11:11] unbreakablegao commented on #1776
Hi
When I tried to load a subset of the iris dataset formated in libsvm as following:
1  1:7  2:3.2  3:4.7  4:1.4
1  1:6.4  2:3.2  3:4.5  4:1.5
1  1:6.9  2:3.1  3:4.9  4:1.5
0  1:6.3  2:3.3  3:6  4:2.5
0  1:5.8  2:2.7  3:5.1  4:1.9
0  1:7.1  2:3  3:5.9  4:2.1
0  1:6.3  2:2.9  3:5.6  4:1.8
... ...,

it was very weird that it yielded 5 feature names when there were actually 4 features. I am wonderin

[2018-10-22 15:31] chivee commented on #1771
close a duplicated one.

[2018-10-22 15:31] #1771 closed

[2018-10-22 15:42] #1772 closed

[2018-10-22 21:12] imatiach-msft commented on #1326
@Esail it should be very easy to support predict_leaf, we just need to pass this param:
https://lightgbm.readthedocs.io/en/latest/Parameters.html#predict_leaf_index
I can create a PR for this in mmlspark.
[code]
How would you load and pass the data to lightgbm on yarn?  The nice thing about the mmlspark implementation is we can pass the data in memory, it never has to go through disk storage, and

[2018-10-22 22:16] StrikerRUS commented on #1775
Duplicate of #1776 due to https://blog.github.com/2018-10-21-october21-incident-report/.

[2018-10-22 22:16] #1775 closed

[2018-10-22 22:18] StrikerRUS commented on #1772
Duplicate of #1774 due to https://blog.github.com/2018-10-21-october21-incident-report/.

[2018-10-23 00:08] StrikerRUS commented on #1744
Fixed in latest versions of `numpy` (1.15.2) and `scikit-learn` (0.20.0):

[code]

[2018-10-23 00:08] #1744 closed

[2018-10-23 01:51] unbreakablegao commented on #1776
find the answer here: https://github.com/Microsoft/LightGBM/issues/1622

[2018-10-23 02:10] guolinke commented on #1776
@unbreakablegao we use zero-based libsvm format. Therefore, there is a column whose index is zero (and values are also zero in your code).

[2018-10-23 02:10] #1776 closed

[2018-10-23 02:14] guolinke commented on #1774
@jiayouanan I think it is the same.
The output is sum_grad / sum_hess.
and refer to https://github.com/dmlc/xgboost/blob/f00fd87b36905425d1ee74fbe286fa33e0ed7988/src/tree/param.h#L250-L253

[2018-10-23 02:14] #1774 closed

[2018-10-23 02:19] guolinke commented on #1773
try
[code]

[2018-10-23 02:29] guolinke commented on #1768
you can try `num_threads=1` in parameters.

[2018-10-23 13:06] saleepeppe opened #1778 "Init score implementation"
I am using lightgbm for modelling a variable which is poisson distributed.
For this variable I have a bias provided by the logarithm of "e", where "e" is one of the predictors.

If I have understood properly, I could set the init score as the logarithm of "e" to train lightgbm.
Unluckily I cannot use any init score for the predictions since the predict() method does not support the Dataset object.

[2018-10-24 00:57] chivee commented on #1778
basically, lightGBM will train from the residual of a certain dataset in each round of training to build a weak tree model, and the `init_score` indicates the first round of these residual values.

pracally speaking,  the `init_score' was used in the scenario that you need further training your model agiast some dataset, and use it to represent the previous  model.

[2018-10-24 01:46] joseortiz3 commented on #1157
I still get
`[LightGBM] [Warning] num_threads is set=1, n_jobs=-1 will be ignored. Current value: num_threads=1`

[2018-10-24 02:04] guolinke commented on #1778
For predictions, you should add initial scores by yourself

[2018-10-24 03:26] rosefun opened #1779 "Can `lightgbm.fit` use parameter `verbose_eval` to show one for few outputs?"
I can use `verbose_eval` for `lightgbm.train` model as follows.

`model = lgb.train(params, d_train, n_estimators, watchlist, verbose_eval=10)`

However, it's useless in `lightgbm.fit` model. So how can I achieve it in `lightgbm.fit` model?

[2018-10-24 03:31] guolinke commented on #1157
@joseortiz3 We use alphabet order to override the parameters, therefore, num_therads will override n_jobs

[2018-10-24 07:11] aaliwei91 commented on #1730
Hi, I have the same problem.

System: windows 7

library: I compile the source code with VS 2017 to generate a .dll file and then compile to a zip file

Then I install the package through the zip file from RStudio, and run the code
`> library(lightgbm, quietly=TRUE)

Loading required package: Matrix

Error in dataset$construct() :
  lgb.Dataset.construct: cannot create Dataset handle
`
Maybe there

[2018-10-24 13:02] sunder819 commented on #164
Hi guolinke,

I am facing similar issue on my setup.
I compiled using visual studio C++ the release of lightGBM on windows, with release and x64.
I have error occurring the c_api calls as shown below...
--------------------
const char *kawach_path = strcat(kawach_dir, "\\lgb9010.txt");
			//printf("Kawach Path = %s --- Kawach dir = %s --- Kawach Path = %s\n", kawachpath_str.str().c_str(), kawach_d

[2018-10-25 00:45] forestchen1224 commented on #1768
it works,thanks.
I wonder what is the reason behind this operation.
it seems that the lock didn't release when having multiple threads. But if I don't use mutiprocess, multiple threads still works.

[2018-10-25 01:58] aaliwei91 commented on #1730
Now I solve this problem by compiling the source code again to generate the .dll with command
[code]
Then I copied the .dll files to the libs directory of R-package

and add the directory to a zip file, then install it from RStudio
I've uploaded the workable lightgbb.zip and you can use it directly for Windows.
[lightgbm.zip](https://github.com/Microsoft/LightGBM/files/2512975/lightgbm.zip)

[2018-10-25 03:19] AnchorBlues opened #1783 "Why the forced_splits argument is ignored?"
Hello.
I'm trying to use lightgbm with the [forced_splits argument](https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#forcedsplits_filename).
I found that the forced_splits argument doesn't work in the case of following.

## Environment info

Operating System:
Ubuntu 14.04.5 LTS, Trusty Tahr

CPU/GPU model:
cpu
Intel(R) Core(TM) i7-6800K CPU @ 3.40GHz

C++/Python/R version:

py

[2018-10-25 04:30] sunder819 commented on #164
Hi guolinke,

Will I get your attention.
Please reply me.

WR,
Sunder

[2018-10-25 04:48] guolinke commented on #164
@sunder819
From your logs, it is hardly know where is the problem.
Can you upload `lgb9010.txt` ?

[2018-10-25 05:50] sunder819 commented on #164
Hi Guolinke,

Sorry,
It is not code dump, it is access violation.
Access violation issue persists while running my project exe with LightGBM C_API's "LGBM_BoosterCreateFromModelfile("lgb9010.txt", &out_num_iterations, &handle);"
as follows.
------------ LightGBM code: ---------------

int LGBM_BoosterCreateFromModelfile(
  const char* filename,
  int* out_num_iterations,
  BoosterHandle* out) {

[2018-10-25 06:01] sunder819 commented on #164
Hi Guolinke,

Further update:

MSVC file new_scalar.cpp
---> pointing to the malloc statement below.
--------------------------------------------
_CRT_SECURITYCRITICAL_ATTRIBUTE
void* __CRTDECL operator new(size_t const size)
{
    for (;;)
    {
        if (void* const block = malloc(size))
        {
            return block;
        }
--------------------------------------------------

[2018-10-25 06:11] sunder819 commented on #164
Unhandled exception at 0x0000000000105BAC in Project3.exe: 0xC0000005: Access violation executing location 0x0000000000105BAC

[2018-10-25 06:17] guolinke commented on #164
@sunder819 are you on the latest master branch ?
And can you the attached model file ?

[Uploading LightGBM_model.txt…]()

[2018-10-25 06:31] sunder819 commented on #164
Hi Guolinke,

I tried with below API, not it is issue with std::string....
----------------------------------------------------------
BoosterHandle handle = nullptr;
			//LGBM_BoosterCreateFromModelfile("LightGBM_model.txt", &out_num_iterations, &handle);
			auto *booster = LightGBM::Boosting::CreateBoosting((const std::string)("gbdt"), "LightGBM_model.txt");

--------------------------------Light

[2018-10-25 06:33] sunder819 commented on #164
I tried with below API, now it is issue with std::string.... (typo)

[2018-10-25 06:47] sunder819 commented on #164
Unhandled exception at 0x00007FF7098F3CAD in Project3.exe: Fatal program exit requested.
-----------------------MSCV\include\xstring -------------
basic_string& assign(_In_z_ const _Elem * const _Ptr)
		{	// assign [_Ptr, <null>)
		return (assign(_Ptr, _Convert_size<size_type>(_Traits::length(_Ptr)))); <------
		}
---------------------------------------

[2018-10-25 06:53] guolinke commented on #164
you can try:
[code]

[2018-10-25 07:19] sunder819 commented on #164
Hi Guolinke,

It is same behavior for the below changes. Do u suspect in Visual studio 2017 setup?
------------------
std::string type = "gbdt";
			auto *booster = LightGBM::Boosting::CreateBoosting(type, "LightGBM_model.txt");
----------------

[2018-10-25 08:08] sunder819 commented on #164
Hi Guolinke,

Any updates?

[2018-10-25 08:09] guolinke commented on #164
@sunder819
Yeah, maybe your cpp environment is broken.
Can you try to reinstall visual studio, and make sure the vc++ is installed ?

[2018-10-25 08:35] guolinke commented on #1783
@AnchorBlues
you can try the
s = """
{
    "feature": 0,
    "threshold": 0.0
}
"""

[2018-10-25 08:36] guolinke commented on #1783
@jerryjliu
It seems current json cannot process the null fields correctly. it will treat it as feature=0 with threshold=0 split.

[2018-10-25 09:04] MotoRZR opened #1786 "Mean Squared Error for Binary Classification"
I know this is typically not done but in my case, the metric I'm being judged on is the Brier Score which is the mean squared error of the prediction relative to target.  Is it possible to use mean squared error as an objective for classification?

[2018-10-25 09:56] saleepeppe commented on #1778
If I am understanding properly, the scores I obtain from the predictions of a model trained with init_score would be:
init_score + predictions = final_predictions
Is it correct?

[2018-10-25 10:01] guolinke commented on #1778
yeah, and you use the `raw_score` in prediction. and do your own sigmoid/softmax transform if in binary/multi classifications?

[2018-10-25 11:56] mlemainque commented on #985
Hi !
Does anyone have been able to use distributed LGBM with python?
Having LightGBM distributed on Dask would be the ultime solution for machine learning in an industrial context
https://github.com/SfinxCZ/dask-lightgbm

[2018-10-25 11:59] TomAugspurger commented on #985
cc @SfinxCZ, how are things progressing on https://github.com/SfinxCZ/dask-lightgbm? Anything I can help with on the dask side?

[2018-10-25 15:36] JoshuaC3 commented on #1763
@guolinke - I don't understand. `cv` function only accepts a Dataset onbject. you get errors if you try to pass pd.DataFrame or np.array.

[2018-10-25 22:21] #1779 closed, assigned to nobody

[2018-10-26 02:17] AnchorBlues commented on #1783
@guolinke

Thanks.
I made a fix in reference to
https://github.com/Microsoft/LightGBM/pull/1785/files
and built the LightGBM source.
As a result, the above code worked.

I have a last question.

1. https://github.com/Microsoft/LightGBM/issues/1783#issue-373757095
2. https://github.com/Microsoft/LightGBM/issues/1783#issuecomment-432929410

I think both of the above 2 codes force the completely same

[2018-10-26 02:31] guolinke commented on #1763
@JoshuaC3 sorry, I miss-understood your question. It indeed is a bug in LightGBM side.
@StrikerRUS I think we can fix this by giving a `data` to subset dataset.

[2018-10-26 02:44] jerryjliu commented on #1783
@guolinke thanks for fixing and accounting for the null case. @AnchorBlues isn't this because your thresholds are different between the two code snippets (one is 0.5 and the other is 0)?

[2018-10-26 03:09] #1783 closed

[2018-10-26 03:49] unbreakablegao opened #1788 "Fit models with only a subset of features when use libsvm data format"
Hi,
Is there any way I can fit model with only a subset of features when use libsvm data format.
Having studied the 'lightgbm.Dataset' and 'lightgbm.train', I couldn't find any method that seems to do the job.

Thank you very much for your help.

[2018-10-26 04:33] AnchorBlues commented on #1783
@jerryjliu
The two cases have the different threshold values, but the values of the split feature are also different.
Please check 3 changes at https://github.com/Microsoft/LightGBM/issues/1783#issuecomment-432929410 .

[2018-10-26 17:37] SfinxCZ opened #1789 "Python API hangs when run twice in distributed setting"
I have a problem with python API in distributed setting. When I run training twice, the second run hangs. I've attached python test and docker image to reproduce the behavior.

## Environment info

Operating System: Docker container based on python:3.6-slim image (running on MacOS)

CPU/GPU model: CPU

C++/Python/R version: Python version

## Example
tests/python_package_test/test_distributed_skle

[2018-10-26 17:44] SfinxCZ commented on #985
Hi,

I have problem with the LightGBM python API which hangs when I try to run LightGBM twice.  I've created an issue #1789 that contains an example and steps to reproduce.

The code starts two subprocess which setup the distributed environment, train model and then shut down. Problem is that when I try to run this scenario twice (e.g. two unit tests, one for two-class classification and one for m

[2018-10-26 19:45] StrikerRUS commented on #1763
@guolinke How can we retrieve the needed data? Via slicing?

[2018-10-27 00:13] guolinke commented on #1789
You can try num_thread=1.
It is the problem with multiprocessing .

[2018-10-27 08:03] Laurae2 commented on #1789
I think this a specific known issue with OpenMP and fork?

xgboost can't be run when forked (hangs) for instance. User must create sockets (create new processes) instead of forking (create new threads).

@SfinxCZ can you run your script by creating new processes (requires memory copy of the objects + load libraries in each process) instead of forking?

[2018-10-27 08:07] guolinke commented on #1789
@Laurae2 yeah, it is the root cause.
Maybe we should add some documents to address this problem.

[2018-10-27 11:34] StrikerRUS commented on #1763
@guolinke Hmm... Sounds good! Let me think about it.

[2018-10-27 13:13] aaliwei91 opened #1792 "How can I set parameter to get rid of any verbose?"
I've tried

`fit.lgb <- lgb.train(params, light.train, verbose_eval=0)`

but it still shows multiple lines of

`LightGBM] [Warning] No further splits with positive gain, best gain: -inf [LightGBM] [Warning] No further splits with positive gain, best gain: -inf [LightGBM] [Warning] No further splits with positive gain, best gain: -inf [LightGBM] [Warning] No further splits with positive gain, best

[2018-10-27 14:31] guolinke commented on #1792
set verbose=0 in params.

[2018-10-27 14:31] #1792 closed

[2018-10-28 10:10] ungvert opened #1794 "Metric result on training dataset not outputting when is_provide_training_metric is True"
## Environment info

Operating System: Linux Mint 18.3

CPU/GPU model: CPU

C++/Python/R version: Python

## Reproducible examples

When we pass `'is_provide_training_metric'=True`, train metric not outputted:

[code]

[code]

When we pass the train as part of eval set, the train metrics outputted, even when `'is_provide_training_metric':False`:

[code]

[code]

Is this intended or I missing somet

[2018-10-28 11:55] StrikerRUS opened #1795 "Install Clang in Docker for Azure Pipelines"
In order to test Clang on Azure Pipelines after #1745 we need install it inside Docker. For the consistency with non-containerized `Linux_gpu` task it's better to install 6.0 version:
https://github.com/Microsoft/LightGBM/blob/087d30623aef4b50592cf528eb50c1c55baeaab8/.ci/setup.sh#L28-L31

[2018-10-28 14:56] guolinke commented on #1795
@StrikerRUS so we need an additional image for clang ?

[2018-10-28 15:02] SfinxCZ commented on #1789
@guolinke Thanks for hits, `multiprocessing.get_context("spawn")` fixed the problems.

[2018-10-28 15:02] #1789 closed

[2018-10-28 15:50] SfinxCZ commented on #985
So, I've finished first pre-alpha version of dask-lightgbm. One thing that still blocks using this package is the fact that it depends on LightGBM>=2.2.2 which is not released yet (it depends on #1741). @guolinke when do you plan to release new version?

Please note that this is still pre-alpha version and it is not battle-tested. So, any comments, issues and especially pull-requests are welcomed.

[2018-10-28 16:03] StrikerRUS commented on #1795
I think that updating [existent file](https://github.com/Microsoft/LightGBM/blob/master/.ci/dockers/ubuntu-14.04/Dockerfile) will be enough.
We need something [like this](https://superuser.com/a/1280073), but for clang 6 https://apt.llvm.org/. I've tried, but with no luck.

[2018-10-29 01:43] AnchorBlues opened #1797 "json.decoder.JSONDecodeError when executing lgb.plot_tree"
Hello.
The `JSONDecodeError` occurred when I trying to visualize tree structure using the `lgb.plot_tree` function.

## Environment info

Operating System:
Ubuntu 14.04.5 LTS, Trusty Tahr

CPU/GPU model:
cpu
Intel(R) Core(TM) i7-6800K CPU @ 3.40GHz

C++/Python/R version:

Python 3.7.0 (default, Jun 28 2018, 13:15:42)
[GCC 7.2.0] :: Anaconda, Inc. on linux

lightgbm version : newest version (merged

[2018-10-29 14:30] #1794 closed

[2018-10-29 16:09] TomAugspurger commented on #985
Sorry, I'll be a little slow responding this week.

w.r.t. merging with dask-xgboost, I'd guess that would cause more headaches
than it's worth. I *suspect* (but I have not way of
backing this up) that most people using LightGBM won't want to pull in the
XGBoost dependencies, and vice-versa. From a distribution
point of view, I think it makes sense to keep them as two separate packages.

Developme

[2018-10-29 20:59] StrikerRUS commented on #1795
@guolinke Got it work with the following code:

[code]

Can be this embedded in dockerfile? Could you help please?

[2018-10-30 02:36] guolinke commented on #1795
okay, sure.

[2018-10-30 02:42] guolinke commented on #1795
@StrikerRUS The build is in https://hub.docker.com/r/lightgbm/vsts-agent/builds/ , you can try the new image after the build finished.

[2018-10-30 02:44] guolinke commented on #985
@SfinxCZ Thanks for your great work! we can soon publish a new version. I will create a PR for the new Release.

[2018-10-30 12:21] arsenzaryan opened #1802 "'shrinkage' values of clf.booster_.dump_model() for 'class_weight'='balanced' case"
For a binary classification task, in the dictionary returned by clf.booster_.dump_model() there is the following issue:
In it's tree_info we have a list containing info on all trees in the model. The shrinkage parameter for the first tree is 1 and for all the rest it is equal to the learning_rate. For the binary classification task, when the class_weight is not set to balanced, it is all correct,

[2018-10-30 13:58] guolinke commented on #1802
Please set boost_from_avergaeand try again

[2018-10-30 14:06] guolinke commented on #1802
https://github.com/Microsoft/LightGBM/issues/1041
https://github.com/Microsoft/LightGBM/issues/1514#issuecomment-404689849

[2018-10-30 14:06] #1802 closed

[2018-10-30 15:54] acrushdjn opened #1803 "Meaning of [cat_boundaries] and [cat_threshold] in model txt file"
What's the meaning of cat_boundaries and cat_threshold in model txt file?
Why can one node with category feature have multiple category features with the same decision direction? I just see one threshold in the model txt file.
[Tree0.gv.pdf](https://github.com/Microsoft/LightGBM/files/2530406/Tree0.gv.pdf)
[Tree1.gv.pdf](https://github.com/Microsoft/LightGBM/files/2530408/Tree1.gv.pdf)
[binary_tes

[2018-10-30 16:19] StrikerRUS commented on #1795
@guolinke Many thanks! Now `COMPILER` variable works great again on both Travis and Azure Pipelines.

The only thing I'm afraid of is that Clang installs a lot of dependencies:
[code]

Can you please check is everything OK with glibc and other libraries versions in our artifacts?

[2018-10-30 17:41] StrikerRUS opened #1805 "unused-command-line-argument warning with Apple Clang"
There is a warning

[code]

in the current `master` branch.

I've done binsearching among [available Xcode versions on Azure Pipelines](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-Readme.md#xcode) and found that the lowest Xcode version which recognizes `-pthread` and doesn't produce the warning is `9.3`.

ping @guolinke and @chivee

[2018-10-31 02:14] guolinke commented on #1805
@StrikerRUS refer to https://stackoverflow.com/questions/2391194/what-is-gs-pthread-equiv-in-clang/19382746#19382746

[2018-10-31 02:15] guolinke commented on #1795
@StrikerRUS any binaries built by this docker that I can test with ?

[2018-10-31 02:18] chivee commented on #1805
maybe just adding ` -Qunused-arguments option` for those under 9.3

[2018-10-31 02:46] AnchorBlues commented on #1797
I found that line 3958 ( where `json.decoder.JSONDecodeError` occurred ) is as follows:

[code]

I think `json` can't manage 'nan' and raise `json.decoder.JSONDecodeError`.
And the 99th tree structure of the above GBM model is as follows:

[code]

The `leaf_value` of the `left_child` is too large.

So I have two questions.

1. Why the `split_gain` has `nan` ?
2. Why the `leaf_value` has such a lar

[2018-10-31 04:00] AnchorBlues commented on #1797
@guolinke
I understand that is caused by imbalanced forced_split.
Then, why the error does not occur when the line `dummy[0] += 0.00001` is removed from the above code snippet ?
I think this change doesn't change the degree of imbalance of splits.

[2018-10-31 04:46] fword opened #1808 "what's meaning of margin value instead of transformed prediction"
what's meaning of margin value instead of transformed prediction

[2018-10-31 06:43] guolinke commented on #1797
@AnchorBlues there is indeed a bug in this case. Thanks very much! fixed in #1809 .
@jerryjliu any comments ?

[2018-10-31 06:44] guolinke commented on #1808
for binary classification, it is the logits before sigmoid.
For multi-class, it is the logits berfore softmax.

[2018-10-31 06:44] #1808 closed

[2018-10-31 06:45] guolinke commented on #1803
@acrushdjn it is the int value of bit vectors of use categorical values.
you can refer to this code: https://github.com/Microsoft/LightGBM/blob/master/src/io/tree.cpp#L270-L279, to see how we use it.

[2018-10-31 06:45] #1803 closed

[2018-10-31 06:47] guolinke commented on #1786
you can write a customed objective function by yourself. refer to https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py#L137-L166

[2018-10-31 06:47] #1786 closed

[2018-10-31 06:48] #1773 closed

[2018-10-31 06:48] #1762 closed

[2018-10-31 06:56] guolinke commented on #1742
I think you are trying to solve the multi-class problem by regression.
If so, you should set the `num_class=1`.

As for the objective, it is something like:
[code]

And you may need to write a customed function to convert the regression prediction to class prediction by yourself.

[2018-10-31 06:56] #1742 closed

[2018-10-31 06:57] guolinke commented on #1757
@StrikerRUS thank you !

[2018-10-31 06:57] #1757 closed

[2018-10-31 06:58] guolinke commented on #1768
refer to https://github.com/Microsoft/LightGBM/pull/1796

[2018-10-31 06:58] #1768 closed

[2018-10-31 06:59] #1778 closed

[2018-10-31 07:05] guolinke commented on #1705
Thanks @bbennett36
Another reason is related to `min_data`, which constraint the minimal data per leaf node.
Although the total weights of your data are not changed, the number of instances indeed changes.
Therefore, you can try ```min_data=1`` to disable this constraint.

[2018-10-31 07:05] #1705 closed

[2018-10-31 07:56] AnchorBlues commented on #1797
@guolinke Thank you for fixing, But in my environment, the same error still occurs  after merging [#1809](https://github.com/Microsoft/LightGBM/pull/1809).

[2018-10-31 08:16] AnchorBlues commented on #1797
@guolinke Thank you for fixing. After merging [#1809](https://github.com/Microsoft/LightGBM/pull/1809) and building the sources, the error does not occur.

However, an another problem occurred.
In the bellow case, memory error occurred.

## source
[code]

## error message

[code]

This code didn't raise memory error at the 2.1.2 version of LigthGBM ( show https://github.com/Microsoft/LightGBM/issu

[2018-10-31 09:09] guolinke commented on #1797
@AnchorBlues I think you directly use the code in that branch?
That branch is based on an out-of-date master branch. I just update it and everything should be fine now.

[2018-10-31 09:41] arsenzaryan commented on #1802
Ok, thank you for the links, the discussion #1514 looks the most relevant. If the reply there 'The first tree behavior is normal. It adds the avg to the first tree(after shrinkage), and then change it shrinkage rate to 1.' is correct, then it answers my question.

[2018-10-31 10:04] StrikerRUS commented on #1795
Nice to hear!

Hmm, great idea! I'll try later today.

[2018-10-31 13:10] #1797 closed

[2018-10-31 14:06] AnchorBlues commented on #1797
@guolinke Thanks! After building the newest sources including commit [#1809](https://github.com/Microsoft/LightGBM/pull/1809), every code including forced-split work well.

[2018-10-31 17:57] akaniklaus commented on #1742
@guolinke Hello, thank you very much for your response! I have tried this but the regression returns wrong values (too much different from when I use the default loss function). The dataset that I am currently employing is not that unbalanced so I guess there is a mistake at grad or hess calculation. Note: I have also tried to calculate class weights manually and feed them via np.take as you have

[2018-10-31 18:15] akaniklaus commented on #1742
@guolinke Ok, I believe that I found out the problem. I have multiplied the "grad" by np.sign(preds-labels) after figuring out that grad also needs the direction (sign). Thank you very much again. Have a nice day.

[2018-10-31 22:18] julioasotodv commented on #985
@SfinxCZ I just tried dask-lightgbm with the master branch of LightGBM (pre-v2.2.2) ... And it works! 👍

I have skimmed thorught the source code, and I believe that what the library is doing is using the parallel learning support that LightGBM has, using the socket version right?

Although I thought that you could only used the parallel learning through the command line, and not inside a Python pr

[2018-11-01 01:42] #1795 closed

[2018-11-01 06:22] moseshu opened #1814 "how to find the best split point in each bin?"
1. 2. I wonder that how to find the best split point in the bins of  LightGBM ?
2.  which is the function to compute the split ? Is it same to the Xgboost ?
3. In each leaf, the dataset is redivided  to bins again? or it is divided  well  by the number of bins when inited ?thank you

[2018-11-01 09:32] akaniklaus opened #1815 "Uncertainty in LightGBM"
There are some techniques such as Variational Dropout (MC Dropout) to get the uncertanity of predictions (utilized in Deep Bayesian Learning). Despite the existence of Quantile Regression, I was curious if it would make sense to include them in LightGBM in the future. I would also appreciate to have a custom objective draft for Quantile Regression within the examples, as the lost function in that

[2018-11-01 09:57] guolinke commented on #1815
@akaniklaus actually, you can achieve this by randomly drop some trees in trained GBDT model.
Another solution is like MC dropout, which you can add some noise in the input features.

[2018-11-01 10:14] akaniklaus commented on #1815
@guolinke I have an idea of ensembling several models that are hypertuned simultaneously so that they each specialize on different parts of a problem (that can be measured via their uncertainties on different input spaces). In other words, instead of a single model that would perform well in the overall problem, I want to be able to generate models that are specialized on different parts of it wit

[2018-11-01 18:55] NicolasHug opened #1816 "num_leaves is not the maximum number of leaves, it's the actual number of leaves."
Lightgbm version: current master branch
Python 3.7

The [doc](https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#num_leaves) says that `num_leaves` is the maximum number of leaves but it looks like it's actually the actual number of leaves. That's what I understand from [the code]([here](https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learner.cpp#L1

[2018-11-01 19:37] NicolasHug commented on #1816
Uuuuuh you're right. Also I had the other alias `min_data=1` burried in the parameters and I forgot about it.

Thanks!

[2018-11-01 19:37] #1816 closed

[2018-11-02 18:48] StrikerRUS opened #1818 "MinGW fails with access violation writing error"
Just moving my [comment](https://github.com/Microsoft/LightGBM/pull/1660#issue-214413278) from old PR to a separate issue for the discussion and easier searching for users.

While working on that PR, I found weird bug under MinGW. The same symptoms were described in #1475. When I tried to run **all** examples by `pytest %APPVEYOR_BUILD_FOLDER%\tests` instead of `pytest %APPVEYOR_BUILD_FOLDER%\test

[2018-11-03 22:46] julioasotodv commented on #1257
Hmm I am not sure wether this optimization makes sense for _non-standard_ gradient boosting algorithms (such as LightGBM and XGBoost), where you already compute the Hessian in adition to the Gradient...

Theoretically, the added benefit of computing the Hessian of the loss function should be essentialy equivalent to a method such as Nesterov's accelerated gradient (since it is just a way to provid

[2018-11-05 03:06] AlexQie opened #1819 "unittest of lambdarank failed"
https://github.com/Microsoft/LightGBM/blob/59f10453dc4a3841339702524124063fa5db6870/tests/python_package_test/test_sklearn.py#L59
I want to use lambdarank, but I found the unittest failed. Is there any thing goes wrong?

[2018-11-05 04:29] guolinke commented on #1819
all tests pass in master branch:

![image](https://user-images.githubusercontent.com/16040950/47978038-63752b80-e0f6-11e8-9cde-d4c04e5af701.png)

[2018-11-05 04:29] #1819 closed

[2018-11-05 07:05] lankuohsing opened #1820 "Java swig wraper: how to use LGBM_DatasetCreateFromFile to load data from file in Java"
I
## Environment info

Operating System:
Windows 10
CPU/GPU model:
CPU
C++/Python/R version:

## Error message
D:\Projects\eclipse\lightgbm-2.2.1\rank.train
com.microsoft.ml.lightgbm.SWIGTYPE_p_void
[LightGBM] [Info] Loading query boundaries...

 A fatal error has been detected by the Java Runtime Environment:

  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ff838689973, pid=21144, tid=0x00

[2018-11-05 11:18] Laurae2 opened #1821 "[R-package] Getting rid of default metric without custom loss function"
Currently, LightGBM forces to use the default objective loss in addition to the custom loss function in R. This can be seen using the following (taken and adapted from https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/early_stopping.R):

[code]

Leads to the following (unwanted binary_logloss):

[code]

A workaround is the following, but this is not obvious and is probably an unexpe

[2018-11-05 22:52] mjmckp opened #1823 "Index out of range exception on small dataset with quantile regression."
There is an index out of range exception generated somewhere in the `WeightedPercentileFun` macro called by `RegressionQuantileloss.RenewTreeOutput`.

The attached zip file contains a reproduction of the error, just unzip to `c:\temp` and run `lightgbm.exe config=train.conf`.

[repro.zip](https://github.com/Microsoft/LightGBM/files/2550912/repro.zip)

[2018-11-06 02:13] guolinke commented on #1821
refe to https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.train

[2018-11-06 02:51] guolinke commented on #1823
fixed in 0f224c05683991d84ab38cb1730195a1c57ff487

[2018-11-06 02:51] #1823 closed

[2018-11-06 02:56] guolinke commented on #1818
@StrikerRUS I am not sure about the root cause, maybe some build flags for mingw are wrong ?

[2018-11-06 03:00] guolinke commented on #1814
LightGBM uses the static bin mapping, therefore, the bins aren't re-constructed during training.
As for best split point, it is almost the same as XGBoost, as well as the standard decision tree growing.

[2018-11-06 03:00] #1814 closed

[2018-11-06 10:03] StrikerRUS commented on #1818
@guolinke To be honest, I'm not familiar with this, I remember only I added `static` linking to eliminate [confusion](https://github.com/dmlc/xgboost/issues/977) with `conda`'s libraries:

https://github.com/Microsoft/LightGBM/blob/a0efb07bb8ef9d8a80f246a933c623e253a8a0a3/CMakeLists.txt#L119-L121

[2018-11-06 11:05] StrikerRUS commented on #1820
@imatiach-msft Can you please help?

[2018-11-06 11:07] Laurae2 commented on #1821
@guolinke Seems to work correctly with "None". "0" also seems to work but is probably an unexpected case.

[2018-11-06 11:07] #1821 closed

[2018-11-07 08:58] AnchorBlues opened #1829 "Even when forced_splits is set, the threshold is chosen from the bin_upper_bounds."
In the lightgbm, each numerical variable is replaced with discrete bins, and the threshold for split is chosen from the upper bounds of bin(variable name `bin_upper_bounds`).
Even when `forced_splits` is set, the lightgbm decides the threshold like that.
As a result, an unexpected result occurs.

## Environment info

Operating System:
Ubuntu 14.04.5 LTS, Trusty Tahr

CPU/GPU model:
cpu
Intel(R) Co

[2018-11-07 17:16] mustaphaweather commented on #1482
hey guys i just installed lightgbm package these are the steps to reproduce :

1 - git clone --recursive https://github.com/Microsoft/LightGBM
2 - cd LightGBM
3 - open R-package/src/install.lib and change use_precompile from FALSE to TRUE
4 - go to root directory of lightgbm and copy cmakelists and paste it to R-package/inst/bin
5 - cd lightGBM
6 - Rscript build_r.R
7 - cd r_lightgbm
8 - R CMD INS

[2018-11-07 17:16] mustaphaweather commented on #912
hey guys i just installed lightgbm package these are the steps to reproduce :

1 - git clone --recursive https://github.com/Microsoft/LightGBM
2 - cd LightGBM
3 - open R-package/src/install.lib and change use_precompile from FALSE to TRUE
4 - go to root directory of lightgbm and copy cmakelists and paste it to R-package/inst/bin
5 - cd lightGBM
6 - Rscript build_r.R
7 - cd r_lightgbm
8 - R CMD INS

[2018-11-07 17:17] mustaphaweather commented on #1678
hey guys i just installed lightgbm package these are the steps to reproduce :

1 - git clone --recursive https://github.com/Microsoft/LightGBM
2 - cd LightGBM
3 - open R-package/src/install.lib and change use_precompile from FALSE to TRUE
4 - go to root directory of lightgbm and copy cmakelists and paste it to R-package/inst/bin
5 - cd lightGBM
6 - Rscript build_r.R
7 - cd r_lightgbm
8 - R CMD INS

[2018-11-07 19:35] DavytJ opened #1830 "Installing on windows: Error in getDLLRegisteredRoutines.DLLInfo(dll, addNames = FALSE)"
I am trying to install lightgbm. Sorry but always I install from RStudio but there are this way to install in the documentation guide that it's not what I usually do, so I can to mistakes. Thank for help.

## Environment info

Operating System: Windows

CPU/GPU model:

C++/Python/R version: R 3.5.1

## Error message

 Error in getDLLRegisteredRoutines.DLLInfo(dll, addNames = FALSE) :
  must specif

[2018-11-07 19:47] DavytJ commented on #1830
If I do this:

install.packages(file.path("C:/Program Files/R/R-3.5.1/library", "LightGBM", "R-package"), repos = NULL, type = "source")

Suggested in issue #1702 I have the next error:

Installing package into ‘C:/Users/usuario/Documents/R/win-library/3.5’
(as ‘lib’ is unspecified)
* installing *source* package 'lightgbm' ...
** libs
C:/RBuildTools/3.5/mingw_64/bin/gcc  -I"C:/PROGRA~1/R/R-35~1.1/

[2018-11-08 03:04] guolinke commented on #1830
@Laurae2

[2018-11-08 08:17] Laurae2 commented on #1830
@DavytJ Install cmake and add it to PATH.

[2018-11-08 15:47] DavytJ commented on #1830
I install visual studio community yesterdar (first time) and I add the PATH, but I dont't know if is the correctly path, ¿what file need to run?
I put different PATH :
1) C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\CommonExtensions\Microsoft\CMake
2) C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\CommonExtensions\Microsoft\CMake\CMake
3) C:\

[2018-11-08 15:52] Laurae2 commented on #1830
Use this cmake instead: https://cmake.org/download/

After installation, you will need to add to PATH the following: C:\Program Files\CMake\bin

[2018-11-08 16:34] DavytJ commented on #1830
I install your suggest and add to PATH but still the error remains, maybe I'll abandon the idea of installing lightgbm in R. What does the error mean?

[2018-11-08 16:42] Laurae2 commented on #1830
@DavytJ The issue is explicit:

[code]

You don't have cmake in your PATH, therefore the command line cannot find it.

Run `cmake --version` from a command line to check if cmake is available:

[code]

If it is not available, then your PATH is set incorrectly.

[2018-11-08 16:50] StrikerRUS commented on #1818
All tests are passed when `-O3` flag is removed.
[code]

Log: https://ci.appveyor.com/project/guolinke/lightgbm/builds/20151191/job/5gi6ebjpevehk06n

[2018-11-08 16:52] DavytJ commented on #1830
yes, I have:
C:\WINDOWS\system32>cmake --version
cmake version 3.13.0-rc3

CMake suite maintained and supported by Kitware (kitware.com/cmake).

Sorry about my ignorance, but, can be my cmake version the problem?

[2018-11-08 17:05] Laurae2 commented on #1830
@DavytJ cmake is available from command line, therefore you should be fine.

However it does not explain why from R, your system cannot find it.

Can you run the following from R?

[code]

[2018-11-08 17:33] DavytJ commented on #1830
Yes.

cmake version 3.13.0-rc3

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2018-11-09 01:47] guolinke commented on #1815
@akaniklaus Yeah, I thank your solution can work as well.

[2018-11-09 08:00] StrikerRUS commented on #261
@b1shal711 It will be great!

[2018-11-09 12:38] IbanezJS opened #1833 "Simple question about LightGBM PredictContrib"
Hello there!
LightGBM::GBDT::PredictContrib(const double* features, double* output)

1)Does this method calculates "true" shap_values which are deltas from model expected value on whole dataset?
OR
2)I have to substract beforehand calculated expected_value from each output for every sample row ?

[2018-11-09 15:07] StrikerRUS commented on #1818
Linking #1588.

[2018-11-10 13:25] OMonkey opened #1835 "why lightgbm can not predict on Dataset , but eval data can be evaluated (example auc) when training?"
## Environment info

Operating System:

CPU/GPU model:

C++/Python/R version:

## Error message

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2018-11-10 21:49] StrikerRUS commented on #1818
The flag which causes a crash is `-fipa-reference-addressable` (https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html).

[2018-11-11 15:00] zanemarkson opened #1837 "Cox Proportional Hazard Regression"
Hello LightGBM Ninjas

Thanks for all the awesomeness in LightGBM. Quick question: Do we/Can we have the "objective=cox_proportional_hazard_breslow_approx" option? I am not sure if it is feasible to add Cox Proportional Hazard survival model into LightGBM from engineering standpoint, but it would be very nice if we can use SHAP with CPH in LightGBM just like @slundberg's "NHANES I Survival Model"

[2018-11-12 12:57] xiaoxiaofengzi opened #1838 "How to use LightGBM on distributed clusters?"
The size of my data set is very big, but the memory of my machine is a little small. So I want to use LightGBM to train my data on distributed clusters like spark mlib. I can't find the solution by reading the API doc, could you tell me how I can do it? Thank you very much!

[2018-11-12 19:01] SfinxCZ commented on #985
Sorry for late response, I've been a bit busy.
I've changed the dependency in testing docker file to stable version of LightGBM, os it should be ready for testing/deployment.
@TomAugspurger  Regarding the move under Dask, it would be great if you can put it under your project. Do you need anything from me to make the move?

[2018-11-12 23:05] trivialfis opened #1839 "regression_l1 does not converge without boost_from_average."
## Environment info
Operating System: Ubuntu 18.04
CPU/GPU model: AMD Ryzen 7 2700
C++/Python/R version: Python 3.6 Virtualenv

# Tested datasets:
**Wine Quality** including both red and white wine: http://archive.ics.uci.edu/ml/datasets/Wine+Quality
- Plot for red wine
![wine-quality-red-lightgbm](https://user-images.githubusercontent.com/16746409/48379873-7a410100-e73a-11e8-831d-0d3d4b702ebb.png

[2018-11-13 04:55] guolinke commented on #1839
It is the expected behavior: refer to https://github.com/Microsoft/LightGBM/blob/c920e6345bcb41fc1ec6ac338f5437034b9f0d38/src/boosting/gbdt.cpp#L327

[2018-11-13 04:58] guolinke commented on #1838
1. spark version: MMLSpark  https://github.com/Azure/mmlspark
2. python version: https://github.com/SfinxCZ/dask-lightgbm
3. cli version: https://github.com/Microsoft/LightGBM/tree/master/examples/parallel_learning

[2018-11-13 04:58] #1838 closed

[2018-11-13 05:00] guolinke commented on #1818
Thanks @StrikerRUS so much. is this problem solved ?

[2018-11-13 05:09] gbatt opened #1840 "[Fatal] Input format error when parsing as CSV when using ignore_column"
I discovered a bug when using parameter ignore_column while constructing a Dataset from CSV.

On my original dataset (about ~15GB uncompressed CSV), LightGBM failed with error "[Fatal] Input format error when parsing as CSV" and did not provide a more informative message when running with increased verbosity. After much trial and error, I was able to isolate the cause of the error to the parameter

[2018-11-13 05:09] guolinke commented on #1835
LightGBM uses bucketized int values (converted from float feature values) in the training, for speed-up.

For the prediction over new test data, converting them from float to int is not efficient, as we don't need to do this (the bucketized cannot help the speed-up for inference).

[2018-11-13 05:09] #1835 closed

[2018-11-13 05:34] guolinke commented on #1840
@gbatt LightGBM only accepts the csv with valid number format, if even these string columns are set to ignore.

[2018-11-13 05:38] gbatt commented on #1840
Thanks @guolinke!

I did not see this anywhere in the documentation (perhaps I missed this), but if it is indeed not present anywhere, can we add it so that other users in the future do not face this issue?

[2018-11-13 09:52] StrikerRUS commented on #1818
@guolinke Happy to help!

Unfortunately, I can't find any information about the `-fipa-reference-addressable` flag, except official one-line description. In additional, I'm not sure, but it seems that there is no way to specify **O3 except one** flag...
My intuition is that we should find error-producing variable(s) and protect them from the optimization.
Maybe you know what can be done further?

[2018-11-13 15:11] tonylibing opened #1841 "how to use dynamic learning_rate in lightgbm?"
Is there any methods to dymically decrease learning_rate parameter by training steps or some pre-designed function in lightGBM ?

[2018-11-13 15:15] AlexandraBomane opened #1842 "What is the feature importance returned by 'gain' ?"
Does the output of `LGBMClassifier().booster_.feature_importance(importance_type='gain')` is equivalent to gini importances which used by `RandomForestClassifier` provided by Scikit-Learn (https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) ?

[2018-11-13 17:45] StrikerRUS commented on #1841
It is possible via `learning_rates` argument of [`train()` function](https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.train) or, in general case, via [`reset_parameter()` callback](https://lightgbm.readthedocs.io/en/latest/Python-API.html#lightgbm.reset_parameter).

Examples:
https://github.com/Microsoft/LightGBM/blob/a694712b7fb86cd532eea2c1781b58d4ba58436a/examples/python-guide

[2018-11-14 01:32] mjmckp opened #1843 "Issue with trained model output for objectives with raw score transformations"
For some objective types, LightGBM transforms the raw score (sum of tree outputs) to produce the model output.  For example, for Poisson, Gamma, and Tweedie regressions, the raw score is passed through the `exp` function.  However, when the boosting type is `rf` (random forest), these transforms don't appear to be applied, instead the output of the model is just the average of the tree outputs.

S

[2018-11-14 03:13] trivialfis commented on #1839
@guolinke Pleae notice that it's not converging at all, neither training error nor test error has changed a bit during the entire session.  There is a warning message at each iteration:

As a result, the total number of output trees is 1.

If that's normal behavior I will close the issue. :)

[2018-11-14 07:04] guolinke commented on #1839
Yeah, it is normal as all residuals are the same (therefore cannot split trees) in you case.

[2018-11-14 08:00] trivialfis commented on #1839
Thanks for the explanation.

[2018-11-14 08:00] #1839 closed

[2018-11-14 11:33] Twinkle123321 opened #1844 "plot_tree and create_tree_digraph doesn't work"
when I run graph = lgb.create_tree_digraph(clf2,tree_index=1),it shows as follows,I pip install graphviz and add graphviz‘'s bin into system path,however it still doesn't work,would some one help me?thanks very much!
Traceback (most recent call last):

  File "<ipython-input-57-f001bc6e1e7e>", line 1, in <module>
    graph = lgb.create_tree_digraph(clf2,tree_index=1)

  File "C:\Users\Guo\Anaconda

[2018-11-14 13:16] Twinkle123321 commented on #1844
thank you very much,I have installed binaries of Graphviz,and used the latest version of LightGBM (2.2.2).
when I run lgb.plot_tree(clf)    it still dosen't work and show
Traceback (most recent call last):

  File "<ipython-input-9-7e447e99829e>", line 1, in <module>
    lgb.plot_tree(clf)

  File "C:\Users\Guo\Anaconda3\lib\site-packages\lightgbm\plotting.py", line 450, in plot_tree
    s.write(g

[2018-11-14 13:40] StrikerRUS commented on #1844
Hmmm... Can you please run `create_tree_digraph` instead of `plot_tree`, as you did previously?

[2018-11-14 13:49] Twinkle123321 commented on #1844
create_tree_digraph works,I'm so excited!,I also noticed that "It is preferable to use create_tree_digraph()"thank you very much!

[2018-11-14 13:54] StrikerRUS commented on #1844
Got it! Glad that you are able to run `create_tree_digraph` at least!

Please give me some time to figure out why the error with `plot_tree` happens. As I've already said, full script (and source data, if it isn't sensitive) will help a lot.

[2018-11-14 14:10] ekerazha opened #1845 "Allow feature_fraction=1.0 in random forest mode"
In rf mode there's this check

    CHECK(config->feature_fraction < 1.0f && config->feature_fraction > 0.0f);

Could you allow the 1.0 value for feature_fraction (notice that it's <1.0 instead of <=1.0)?

For example, default value for random forest regression is 1.0 (max_features = n_features) in scikit-learn.

[2018-11-14 14:14] Twinkle123321 commented on #1844
ok,Can I pack them to  your e-mail?

[2018-11-14 15:23] StrikerRUS commented on #1844
Yeah, sure!

nekit94-08 (at) mail (dot) ru

[2018-11-14 15:56] StrikerRUS commented on #1844
Can you please also attach the output of the `conda list` command?

[2018-11-14 21:02] TomAugspurger commented on #985
To transfer, I think we just need to invite you to the Dask organization,
and then
you'll do the transfer. Does that sounds OK @mrocklin?

On Mon, Nov 12, 2018 at 2:10 PM SfinxCZ <notifications@github.com> wrote:

[2018-11-14 22:32] StrikerRUS commented on #1833
ping @slundberg

[2018-11-14 22:55] mrocklin commented on #985
Technically I suspect that that would work.  Members do have the ability to create new repositories.

Officially if we're going to be sticklers I think that the policy is that any two current owners can invite a new member into the org, providing that they work at different institutions (employees from a single institution can't create new members alone).  Given that we both currently work for Ana

[2018-11-14 23:18] slundberg commented on #1833
This got answered here: https://github.com/slundberg/shap/issues/317

[2018-11-14 23:40] StrikerRUS commented on #1833
Thanks a lot!

[2018-11-14 23:40] #1833 closed

[2018-11-15 01:21] Twinkle123321 commented on #1844
I run the examples you gave above,it has same error,so I check the packages's version  you list,found my Graphviz Python wrapper from PyPI's version is 0.3.3,after upgrading to 0.10.1 ,"plot_tree" finally works,thank you fvery much for your patience and timely suggestions!

[2018-11-15 03:10] tonylibing commented on #1841
thanks, i had found the learning_rates and callbacks parameters. just a little cofusion, in the function i designed to decrease the learning_rate, how do i get the current iteration num or other informations like the last n iterations grid or error which help to calculate learning_rate?

[2018-11-15 07:16] albedan opened #1846 "[R] Custom objective for multi-class"
I'm trying to use a custom objective and metric for a multiclass problem, following @Laurae2 example here: https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/early_stopping.R

Using R 3.5.1 and lightgbm 2.2.2.
So far I managed to implement the eval metric, but objective seems tricky.

I think a trivial example should be useful: maybe just implementing the default multi class logloss

[2018-11-15 10:10] StrikerRUS commented on #1844
Happy that your problem is solved now!

[2018-11-15 10:10] #1844 closed

[2018-11-15 11:50] SfinxCZ commented on #985
@mrocklin  Regarding the rights, I am ok to give you access to the repo so you can copy/move it. My motivation was that if it would be under dask project, people would be more willing to help.

Right now the package seems to be feature complete-ish. The only thing that is missing is release to pypi. Do you have a process for releasing your packages (e.g. commond account) or do you use your own per

[2018-11-15 13:36] mrocklin commented on #985
I recommend giving @TomAugspurger permissions and he can manage the transfer.

We'll also go through the process of adding you as a member.  I'll ask for authorization on the dask/dev gitter channel

[2018-11-15 14:17] SfinxCZ commented on #985
I've initialized the permission transfer to @TomAugspurger.

[2018-11-15 22:14] mjmckp commented on #1843
@guolinke Any comment on this, please?

[2018-11-16 06:55] weisskatze opened #1847 "I can't install lightGBM in R"
## Environment info

Operating System: Windows 10

CPU/GPU model: Ryzen 3 2200g

C++/Python/R version: R 3.5.1

## Error message
Downloading GitHub repo Microsoft/LightGBM@master
from URL https://api.github.com/repos/Microsoft/LightGBM/zipball/master
Installing lightgbm
"C:/PROGRA~1/R/R-35~1.1/bin/x64/R" --no-site-file --no-environ --no-save --no-restore  \
  --quiet CMD INSTALL  \
  "C:/Users/Pub

[2018-11-16 07:55] BruceZhaoR commented on #1846
@albedan https://github.com/Microsoft/LightGBM/issues/1682  maybe helpful :grin:

[2018-11-16 08:41] albedan commented on #1846
Thanks @BruceZhaoR, but that one is about the evaluation metric (and I have no issues with that).
I'm referring to the objective function, i.e. the one that defines the optimization through gradient and hessian

[2018-11-16 09:18] BruceZhaoR commented on #1846
multi class logloss with a custom objective :
https://github.com/Microsoft/LightGBM/blob/425503d7e254130eaea4a5ff287f324f5a5cc1ea/R-package/demo/multiclass_custom_objective.R#L37-L55

It's that what you want?

[2018-11-16 15:18] TomAugspurger commented on #985
Ahh sorry @SfinxCZ I just saw this now, and the transfer expired :/ Could you re-initiate it?

[2018-11-16 17:49] SfinxCZ commented on #985
@TomAugspurger Ive restarted the transfer.

[2018-11-16 18:46] TomAugspurger commented on #985
Thanks. Transferred all the way through to
https://github.com/dask/dask-lightgbm

In the coming weeks I'll make some time to do a full code review and write
some docs.

On Fri, Nov 16, 2018 at 11:49 AM SfinxCZ <notifications@github.com> wrote:

[2018-11-16 21:08] weisskatze commented on #1847
How can I add  `.libpath(C:/R/R-3.5-library)` to `R.home/etc/Rprofile.site` ?

[2018-11-16 21:30] StrikerRUS commented on #985
@SfinxCZ Thanks a lot for dask-lightgbm!

[2018-11-17 02:36] weisskatze commented on #1847
@BruceZhaoR
I uninstalled R, and install it again into a different directory.
So, I could install 'devtools' into new dir, but there is still same error.
What is a problem?

[2018-11-17 04:30] #1847 closed

[2018-11-17 09:04] Laurae2 commented on #1847
Your .libPaths() should point first to your R library folder which has no space.
devtools actually works with a space, but here it is not because we don't support spaces in extra commands for compilation.

In Windows I would always run R/RStudio as Administrator from a fresh R installation to make sure there is no incompatibility issue with the library folder path.

[2018-11-17 10:55] ogrisel commented on #985
I guess I am ok for inviting @SfinxCZ to the dask organization but we don't know your real name and nor your background from your github profile description. Not sure if this is a requirement or not. The LICENSE file from dask-lightgbm mentions CISCO Systems Inc. Do you work for CISCO? Is your employer ok with open source contributions?

[2018-11-17 11:04] SfinxCZ commented on #985
Hey @ogrisel
I've updated my profile. Yes, I work for CISCO and I've passed all internal processes to open-source this library, so my employer agrees with the contribution.

I am ok giving you the code and not being part of dask organisation (assuming that pull-requests are ok for you). The only thing is that someone from dask will have to take ownership of this package so it would not be abandone

[2018-11-17 11:19] albedan commented on #1846
@BruceZhaoR ,
Actually I think there could be a couple of issues:
1. The example has balanced classes. Let's change it at the beginning of the script:
[code]
The builtin model starts with a "boost from average" while the custom one does not (and setting the flag does not seem to work).
2. Running the example as it is, the final "identical" function returns False, as the two predictions are differe

[2018-11-17 19:10] guolinke commented on #1843
@mjmckp sorry, I am in the vacation.
In this PR: https://github.com/Microsoft/LightGBM/pull/1637, RF will directly fit the targets by regression. Therefore, it is no need for label transform.
And I think reg_sqrt is not used in RF mode as well.

I think we may need a Better solution for RF mode, by using the gradients from objective function here : https://github.com/Microsoft/LightGBM/blob/master

[2018-11-17 19:20] guolinke commented on #1843
@mjmckp I am afraid I cannot fix this for RF recently.
Would you like to contribute this?

[2018-11-17 21:24] weisskatze opened #1851 "Grid Search Error: Error in FUN(X[[i]], ...) : only defined on a data frame with all numeric variables"
## Environment info

Operating System: Windows 10

CPU/GPU model: Ryzen 3 2200g

C++/Python/R version: R 3.5.1

## Error message

Error in FUN(X[[i]], ...) : only defined on a data frame with all numeric variables

## Reproducible examples

grid_search <- expand.grid(Depth = 8,
                           L1 = 0:5,
                           L2 = 0:5)

model <- list()
perf <- numeric(nrow(grid_sear

[2018-11-17 21:40] weisskatze commented on #1847
Thanks a lot!! I solved this issue : )

[2018-11-18 15:16] pbpearman opened #1852 "Failed install to Mac OS from RStudio and from terminal"
I have been trying to install to Mac, and have tried several possible solutions, but nothing seems to work. Following issue 1407, I tried installing from the RStudio console:

    ld: warning: text-based stub file /System/Library/Frameworks//CoreFoundation.framework/CoreFoundation.tbd and library file /System/Library/Frameworks//CoreFoundation.framework/CoreFoundation are out of sync. Falling back

[2018-11-18 19:24] mayer79 opened #1853 "monotonic constraints not working?"
I have rerun my [checks on monotonic constraints](https://github.com/Microsoft/LightGBM/pull/1314#issuecomment-382113794) and could not reproduce them under the current lightgbm release 2.2.3 as well as under 2.1.x. The constraints are not satisfied.

## Environment info

Operating System: Windows

CPU/GPU model: CPU

C++/Python/R version: R 3.5.0

## Error message

None.

## Reproducible examples

[2018-11-18 19:39] guolinke commented on #1853
@mayer79
we have test for mc in python package: https://github.com/Microsoft/LightGBM/blob/af3c4f89ff3989516c60d3f1f1d1e10c7758b855/tests/python_package_test/test_engine.py#L670-L708

can you try to pass mc parameter to dataset?  (or remave the cv).

[2018-11-18 21:02] mayer79 commented on #1853
@guolinke: I could not reproduce the problem in Python, so I tried out different things to identify what goes wrong in the example code above.

It seems that old instances of "params" are stuck somewhere in C++ aether (?) and are not being updated by the next call of `lgb.train`. Adding one row

`lgb_data <- lgb.Dataset(train[, "x", drop = FALSE], label = train[, "y"])`

 just before calling the c

[2018-11-18 23:17] mjmckp commented on #1843
I could give it a go, if you could provide a rough description of what changes are required and where?

[2018-11-19 06:52] mayer79 commented on #1853
Oh - this is a very valuable information, best thanks. So, nothing is wrong with monotonic constraints and we can close this issue. I am wondering how complex it would be to provide an warning (or even error) if the current parameters are inconsistent with those used in initialization of the data set?

[2018-11-19 16:42] NamLQ commented on #879
reset_data = TRUE does not work for lgb.cv. It said:
"Running k-fold cv ...[LightGBM] [Warning] Unknown parameter: reset"

[2018-11-20 08:27] NamLQ opened #1854 "Please add reset_data to lgb.cv"
The lgb.train has the argument `reset_data = T` to release the data from the model as in https://github.com/Microsoft/LightGBM/issues/879. In the case of multiple k-fold cv the RAM is eaten so fast, so it would much better if lgb.cv also has the argument `reset_data`.

Thank you very much.

[2018-11-20 10:08] lv-zhaoyu opened #1856 "Incorrect result returned by LightGBM with LGBM_BoosterPredictForMat"
## Environment info

Operating System: Linux

C++/Python/R version: C++ 11

## Error message

when I use LightGBM C_API  LGBM_BoosterPredictForMat to predict, the same input but different predict result;

input 22.303967,110.944046,5,90,1.000,0.617,0.0164,0.581,190,28,86,883.01,99.00,225.47,86,92,91,123,1,1.00,0.61,10.00,30
The initial time is :0
[LightGBM] [Info] ------ gbdt predict
Prediction ou

[2018-11-20 13:06] canorbal opened #1857 "A bug with pred_contrib=True"
Hi!

There is a bug with predict(data, pred_contrib=True) when we want to count shap values. Usually, the output of shap values calculation has the following shape (len(data), num_features). Check this [link](https://tech.yandex.com/catboost/doc/dg/concepts/output-data_feature-analysis_shap-values-docpage/) for catboost and check predict function [here](https://xgboost.readthedocs.io/en/latest/pyt

[2018-11-20 13:21] StrikerRUS commented on #1857
Hi @canorbal !

The line you're pointing is the raw pre-result which is reshaped later.

The actual output for predict_`contrib` is
https://github.com/Microsoft/LightGBM/blob/a694712b7fb86cd532eea2c1781b58d4ba58436a/python-package/lightgbm/sklearn.py#L591
So, it's always has 2D shape.

Please provide the example when you get 1D result.

[2018-11-20 13:36] xiaoxiaofengzi opened #1858 "The higher version dependencies when build lightGBM"
` /lib64/libstdc++.so.6: version GLIBCXX_3.4.20 not found`
When I build LightGBM project, the lib_lightgbm.so needs the higher version dependencies. What can I do when I don't have the root authority of Linux machine? Thank you very much!

[2018-11-20 13:38] canorbal commented on #1857
Sorry

Everything is ok

[2018-11-20 13:38] #1857 closed

[2018-11-20 13:43] StrikerRUS commented on #1857
Glad that now everything is clear for you!

The reason why I provided description from sklearn is that it just calls `Booster.predict()`
https://github.com/Microsoft/LightGBM/blob/a694712b7fb86cd532eea2c1781b58d4ba58436a/python-package/lightgbm/sklearn.py#L604-L605
And the reshaping is performed here:
https://github.com/Microsoft/LightGBM/blob/a694712b7fb86cd532eea2c1781b58d4ba58436a/python-packag

[2018-11-20 13:46] canorbal commented on #1857
@StrikerRUS thank you very much!

The problem appeared because of in xgboost the flag for shap values is called "pred_contribs" and in LightGBM is "pred_contrib". There was no error message and it was difficult to find bug in my own code :)

[2018-11-20 14:05] StrikerRUS commented on #1858
Hi @xiaoxiaofengzi !

Can you please provide more information about your environment from GitHub issue template?

Also, it's not clear what do you mean by

Are you trying to build LightGBM library from sources or your research project with LightGBM?

[2018-11-20 15:31] StrikerRUS commented on #1857
Oh, I see! That makes sense. It was assuming that `pred_contribs` is an argument from `**kwargs`. However, when I pass `pred_contribs` I see the following warning:
[code]

P.S. If you use Jupyter Notebook, then all warnings are printed to stdout of Jupyter console, not notebook's cells output.

![image](https://user-images.githubusercontent.com/25141164/48783791-54939900-ecf2-11e8-801b-d6ffd3d5d36

[2018-11-20 16:50] julioasotodv commented on #1842
Well, they are roughly equivalent. The Random Forest implementation in sklearn is based on Breiman's paper; therefore, the loss used in the model is the gini impurity (and the information gain is measured in terms of that loss).

On LGBM, however, you define the loss metric to minimize directly. It is not gini impurity, but rather logloss (cross-entropy loss) for instance if your `objective='binar

[2018-11-20 17:00] julioasotodv commented on #1841
However, keep in mind that shrinking the learning rate over increasing boosting rounds could lead to tremendously high overfitting; so I guess that you will rarely want to decrease the learning rate over time (as opposed to in deep learning, where the lower bias in the model across epochs helps mitigating the overfit caused by the shrinkage)

[2018-11-20 19:41] guolinke commented on #1856
@lv-zhaoyu
you may need to set `outresult` to all zeros every time before calling LGBM_BoosterPredictForMat.

[2018-11-20 19:51] guolinke commented on #1856
@lv-zhaoyu
The input data should be an array (float32 type in your case), not the string.
From your log, it seems the inputdata is std::string.

[2018-11-20 20:12] StrikerRUS commented on #1712
Thanks a lot @bbennett36 for your detailed answer!

[2018-11-20 20:12] #1712 closed

[2018-11-21 00:14] StrikerRUS commented on #1022
I don't think that it's worth it to implement a separate visualizer, like [catboost does](https://github.com/catboost/catboost/tree/master/catboost/python-package/catboost/widget).
I suppose that providing the [example notebook](https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/notebooks/interactive_plot_example.ipynb), from which users can copy-paste interactive functions, i

[2018-11-21 00:32] StrikerRUS commented on #1820
Thanks a lot @imatiach-msft for your answer with examples!

For

we have a separate issue, as you've already mentioned above. So, I'm closing this one.

[2018-11-21 00:32] #1820 closed

[2018-11-21 00:48] StrikerRUS commented on #1842
Thank you @julioasotodv for your answer!

Another worth reading article: https://medium.com/the-artificial-impostor/feature-importance-measures-for-tree-models-part-i-47f187c1a2c3.

[2018-11-21 00:48] #1842 closed

[2018-11-21 01:19] bauks opened #1859 "Python - LGBMClassifier.predict gives raw scores as a 2-D array"
Calling `LGBMClassifier.predict` with `raw_score=True` gives a 2-D array, with the raw scores as its second column and (1 - raw scores) as its first column.  The first column in this case is meaningless; it would be better for this to return a 1-D result with just the raw scores.

## Reproducible example
[code]
Output:
[code]

[2018-11-21 07:29] lv-zhaoyu commented on #1856
It works .thanks!

[2018-11-21 07:29] #1856 closed

[2018-11-21 09:11] xiaoxiaofengzi commented on #1858
Hi @StrikerRUS !
What I do is that I train a LightGBM classification model by using the scala version of mmlspark. And the version of mmlspark is `com.microsoft.ml.spark:mmlspark_2.11:0.14.dev9+1.g5783ce91`. However, when I solved the problem about the the version of GLIBC, a new problem about the version of GLIBCXX appeared.
The wrong details are as follows:

`18/11/19 15:11:26 WARN scheduler.Tas

[2018-11-21 09:32] KOLANICH opened #1860 "Build and store appveyor artifacts"
It'd be nice if you enabled storage of the artifacts on Appveyor.

[2018-11-21 09:51] StrikerRUS commented on #1860
@KOLANICH We were doing this in the past.

Now all artifacts can be found in the one place - Azure Pipelines.

Is there any reason why Appveyor is more preferable than Azure?

![image](https://user-images.githubusercontent.com/25141164/48833320-25316a80-ed8c-11e8-9c2f-5257b9fb2ec2.png)

[2018-11-21 10:18] StrikerRUS commented on #1858
Thank you @xiaoxiaofengzi for the clarification!
Unfortunately this is a known problem caused by that MMLSpark uses old and broken (in terms of dependencies) version of LightGBM.

You can track this [PR](https://github.com/Azure/mmlspark/pull/391) and these issues [1](https://github.com/Azure/mmlspark/issues/335), [2](https://github.com/Azure/mmlspark/issues/390) to know when the problem will be s

[2018-11-21 11:38] StrikerRUS commented on #1600
@SaraMorsy I'm apologizing for the delay!
`leaf_index` field represents indices, as it's stated in the name. I mean, they are always `0,1,2,...`
Name of the class can be restored from the `leaf_value` field. Please read #1360, #1675, #1552 for better understanding.

[2018-11-21 11:38] #1600 closed

[2018-11-21 11:39] KOLANICH commented on #1860
Thank you for the info. Though I don't see any really good reason to make appveor to discard artifacts.

[2018-11-21 11:42] KOLANICH commented on #1860
BTW, is it possible to add to readme the direct links to the latest binaries of artifacts?

[2018-11-21 12:01] StrikerRUS commented on #1860
Duplicated work, additional time for CI checks, only `dll` artifact can be published by Appveyor, artifacts from Azure are better tested before publishing, older VS version on Appveyor, additional questions from users about which artifact they should choose, etc.

To sum up, we won't publish (publicly available) artifacts from Appveyor without special reason. Sorry.

I think it's good thought! Whe

[2018-11-21 12:41] Laurae2 commented on #1852
@pbpearman Did you build the package first using the build_r.R script? (it builds and installs, actually)

[2018-11-21 13:31] nbenn opened #1861 "[R] segfault in multiclass lgb.train"
Whenever I run `lgb.train()` with arguments `objective = "multiclass"` and `metric = "multi_error"`, dependent on dataset size, I get a segfault. I can reproduce this both on a MacBook Pro and in a Linux HPC environment.

I'm happy to provide further info and do some digging myself. Any ideas on what's going on here?

## Environment info

Operating System: CentOS Linux release 7.5.1804 / macOS 10.

[2018-11-21 13:51] KOLANICH commented on #1860
redundancy, fail-safeness. and the work is duplicated anyway, but then wasted.

not true. I have set up building publishing python wheels in other JPype for many versions of python, you can see how it is done there.

It gives them a choice. It would be better to have a deterministic build though.

Under the line of badges create a yet another line of badges, each badge for each combination of pyth

[2018-11-21 14:10] pbpearman commented on #1852
Yes, I tried, but it doesn't complete.
In the second example in the original post, I showed what happened when using that script from within the LightGBM folder.  The fairly cryptic error message was:
`Error in getDLLRegisteredRoutines.DLLInfo(dll, addNames = FALSE) :
must specify DLL via a “DLLInfo” object. See getLoadedDLLs()`
This might provide another approach to trouble-shooting, but I looked

[2018-11-21 15:56] KOLANICH opened #1863 "bdist_wheel doesn't allow any flags"
In fact some of these flags are unneeded, instead distutils prefs should be used. So maybe custom steps are unneeded too.

[2018-11-21 18:45] thebamoor commented on #1852
Tried to install LightGBM; kept on getting "Copying CMakeLists failed" messages

[2018-11-21 21:59] #985 closed

[2018-11-21 22:05] StrikerRUS commented on #1805
@chivee Won't this hide from us future (possibly dangerous) warnings?

I've tried the following solution, but unfortunately warning hasn't gone.
[code]

[2018-11-22 06:04] ben519 commented on #1852
I too am getting this error, on mac osx 10.14.1 running R 3.5.1.  Perhaps this is related to #1702?

[code]

[2018-11-22 06:08] Laurae2 commented on #1852
Ping @jameslamb : DLL on Mac or generic error?

[2018-11-22 06:11] Laurae2 commented on #1852
@pbpearman Can you try lgbdl to see if it provides an another error message? Make sure to use a fresh R session and to close all other R sessions.

[2018-11-22 06:30] Laurae2 commented on #1853
@guolinke is there a way to get the parameters of the Dataset and update them? Or should we use free data parameter when creating the Dataset?

[2018-11-22 06:30] ben519 commented on #1852
Hmm, it seems that the line `devtools::document(pkg = "lightgbm_r")` in build_r.R is the culprit.  If I run the script without that line, lightgbm appears to install successfully.

[2018-11-22 06:33] Laurae2 commented on #1852
@ben519 Sounds like the R session is not cleaned after generating the documentation because this DLL error appears when trying to install a package with a corresponding .so/.dll already loaded in memory (here, installing LightGBM while LightGBM is being used).

[2018-11-22 07:50] xiaopangjun opened #1866 "is there a c++ example of lightgbm predict calling python trained model? I can not find the c++ api that predict data by one row"
## Environment info

Operating System: linux

CPU/GPU model:cpu

C++/Python/R version:
c++
## question
I trained a lightgbm model in python, and saved as a model file, then I want to predict new data in C++. I search in the web but cannot find a good example.

[2018-11-22 10:15] gwuillou commented on #984
Hello,

I have also the problem of segmentation false when I am trying to use dart with continue training:
I am doing:
[code]

What I am doing wrong?

[2018-11-22 10:28] gwuillou opened #1867 "segmentation fault when using dart with continue training 2"
Hello,
My problem is related to [#984](https://github.com/Microsoft/LightGBM/issues/984). I have the last version and I am using mac os.
I have also the problem of segmentation fault when I am trying to use dart with continue training:
I am doing:

            gbm = lgb.train(params,
                            lgb_train,
                            num_boost_round=10,

[2018-11-22 11:42] pbpearman commented on #1852
@Laurae2, @ben519 Here is what I get when running lgbdl from a fresh R session:
`> lgbdl::lgb.dl(compiler = "gcc")
Cloning into 'LightGBM'...
Submodule 'include/boost/compute' (https://github.com/boostorg/compute) registered for path 'compute'
Cloning into '/private/var/folders/bz/h_ys6bjn3h9b201nks55l9bc0000gn/T/Rtmpw8LARd/LightGBM/compute'...
Submodule path 'compute': checked out '509ebe4a9282ee

[2018-11-22 11:55] #1840 closed

[2018-11-22 14:49] schliffen commented on #1074
I used xgboost to coreml conversion, the problem is that the inputs for converted mlmodel are so that we should input features separately! (not sure if we can enter features as a single vector).
Can anyone help me in converting lightGBM to coreml?

[2018-11-22 19:46] guolinke commented on #1867
Can you try the latest version ?
It will be better if you provide a reproduce example with randomly generated data.

[2018-11-22 20:01] guolinke commented on #1853
I think it is not possible to updata dataset's parameters now.
Free_raw_data cannot help as well, since the constructed dataset is not freed.

I will fix this when I have time.

[2018-11-23 06:05] chivee commented on #1022
yes, I think the current implementation was enough and the case could be close.

[2018-11-23 07:15] guolinke commented on #1859
@StrikerRUS
For the probability, it seems we need the two columns in binary classification to match sklearn's style.
For raw scores, we should keep it to one column.

[2018-11-23 19:00] jameslamb commented on #1852
@pbpearman it looks like `clang` is not finding openmp. Can you humor me and try this [as we note in the installation guide](https://github.com/Microsoft/LightGBM/blob/master/docs/Installation-Guide.rst#apple-clang)?

[code]

I also have never tried from within RStudio but given my experience with that tool, I echo @Laurae2 's concern that something is being left behind.

If you run

[code]

from

[2018-11-23 19:56] 1psmith commented on #1852
I'm getting the same thing both with the command line and with Rstudio.

`C:\LightGBM>Rscript build_r.R
Updating lightgbm documentation
Updating roxygen version in C:\LightGBM\lightgbm_r/DESCRIPTION
Writing NAMESPACE
Loading lightgbm
Loading required package: R6
Error in getDLLRegisteredRoutines.DLLInfo(dll, addNames = FALSE) :
  must specify DLL via a "DLLInfo" object. See getLoadedDLLs()
Calls:

[2018-11-23 20:57] #1022 closed

[2018-11-23 21:00] StrikerRUS commented on #1622
ping @huaxz1986
Have you solved the issue?

[2018-11-23 21:02] StrikerRUS commented on #1598
@guolinke fix or FAQ?

[2018-11-23 21:45] 1psmith commented on #1852
Update:  Ran this on my digital ocean Ubuntu 18.04 server and got **exactly** the same thing.

$ Rscript build_r.R
Updating lightgbm documentation
Updating roxygen version in /home/pres/LightGBM/lightgbm_r/DESCRIPTION
Writing NAMESPACE
Loading lightgbm
Loading required package: R6
Error in getDLLRegisteredRoutines.DLLInfo(dll, addNames = FALSE) :
  must specify DLL via a “DLLInfo” object. See getL

[2018-11-23 21:57] Laurae2 commented on #1852
@1psmith Comment the line 49 of build_r.R, I am also getting the error.

[2018-11-23 22:01] Laurae2 commented on #1852
@1psmith You can try also #1868 fix.

git clone --recursive https://github.com/Microsoft/LightGBM
cd LightGBM
git checkout fbd98d5
Rscript build_r.R

[2018-11-23 22:44] 1psmith commented on #1852
Update:  Ran this on my digital ocean Ubuntu 18.04 server and got exactly the same thing.

$ Rscript build_r.R
Updating lightgbm documentation
Updating roxygen version in /home/pres/LightGBM/lightgbm_r/DESCRIPTION
Writing NAMESPACE
Loading lightgbm
Loading required package: R6
Error in getDLLRegisteredRoutines.DLLInfo(dll, addNames = FALSE) :
  must specify DLL via a “DLLInfo” object. See getLoade

[2018-11-24 01:43] StrikerRUS commented on #1555
Another attempt to ping @ebernhardson

[2018-11-24 02:16] StrikerRUS commented on #1837
Implementation in XGBoost: https://github.com/dmlc/xgboost/blob/f9302a56fbdabb28d071ed9e402ca75e03673b4d/src/objective/regression_obj.cu#L273-L358
and corresponding PR: https://github.com/dmlc/xgboost/pull/3043.

[2018-11-24 06:33] guolinke commented on #1598
Sorry for missing this issue.
@asindus could you provide a reproduce example with randomly generated data (or small fraction of your data)?
I think their performance should be the same.

[2018-11-24 10:39] StrikerRUS commented on #1598
@guolinke Oh, didn't notice that this issue contains actually two problems. I was interesting about model string length limit.

[2018-11-24 10:56] StrikerRUS commented on #1700
Fixed in #1850.

Now `objective` can be easily retrieved at the booster level via `dump_model()`:
[code]

Thanks for pointing to this functionality omission, @calebmadrigal !

[2018-11-24 10:56] #1700 closed

[2018-11-25 02:57] guolinke commented on #1867
@gwuillou
we have tests for the "advanced_example", so it should not fail.

[2018-11-25 03:03] guolinke commented on #1861
@nbenn do you have enough memories for `nrow*nclass`?
it needs `3.1e6*700` *2 bytes (about 4GB) in your case.

[2018-11-25 03:07] guolinke commented on #1854
@NamLQ you can call gc every time after cv, since lgb.cv don't save cv-folds objects.

[2018-11-25 03:10] guolinke commented on #1854
sorry, it seems R-package returns a CV-booster.
@Laurae2 it that possible to only returns the cv-results like in python-package: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/engine.py#L501 ?

[2018-11-25 03:29] guolinke commented on #1866
you can use the trained model files, with compiled lightgbm execute files (like exe) to run your prediciton. refer to https://github.com/Microsoft/LightGBM/tree/master/examples/binary_classification#prediction

[2018-11-25 03:29] #1866 closed

[2018-11-25 03:35] guolinke commented on #1598
@StrikerRUS From the code, I think the string length constraints was fixed: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L2062

[2018-11-25 03:38] guolinke commented on #1843
@mjmckp thanks so much!
you need to:
1. use the objective function to calculate gradients in RF, instead of just use residuals (current solution) in RF: https://github.com/Microsoft/LightGBM/blob/master/src/boosting/rf.hpp#L80-L106 .
2. fix prediction codes for the score transformations.

[2018-11-25 11:50] nbenn commented on #1861
@guolinke thank you for taking an interest in my issue.

I'm afraid, I have enough memory available on both systems: 16GB on the MBP and 192GB on the cluster node.

[2018-11-25 12:32] StrikerRUS commented on #1598
@guolinke That's true. [Git blame](https://github.com/Microsoft/LightGBM/blame/e55c815821f0abbb23d52a391a622a2c96e6ba14/python-package/lightgbm/basic.py#L2062) shows that the last modification of this line was performed a year ago in #1080. However, this issue was raised 4 months ago.

@asindus On which version of LightGBM did you observed the problem?

[2018-11-25 12:35] StrikerRUS commented on #1664
The second part of the issue (seed parameter description) has been fixed in #1872.

[2018-11-25 12:50] guolinke commented on #1861
@nbenn
I think e55c815821f0abbb23d52a391a622a2c96e6ba14 should fix this issue.

[2018-11-25 14:20] zkurtz opened #1878 "random forest splitting criteria is same for objective `quantile` and `regression`?"
## Environment info

Operating System: OSX 10.14.1

CPU/GPU model: 2.6 GHz Intel Core i7

R version 3.5.1

[1] ‘2.2.3’

## Demo

Here I simulate a simple data set for which the true regression value is approximately zero everywhere, but the median changes a lot. I this situation, I would like random forest using quantile regression to end up with a much different tree structure than a random fores

[2018-11-25 20:39] guolinke commented on #1878
@zkurtz
yeah, you are right.
This issue is reported in https://github.com/Microsoft/LightGBM/issues/1843.

[2018-11-25 20:39] #1878 closed

[2018-11-25 20:41] guolinke commented on #1854
@Laurae2 @StrikerRUS
why the cv has different behaviours (return results) in python and R package.
Should we make them the same?

[2018-11-25 20:49] guolinke commented on #1854
@NamLQ updated

[2018-11-25 20:51] #1859 closed

[2018-11-25 20:56] StrikerRUS commented on #1854
@guolinke I've discovered LightGBM when `cv` has been already implemented, therefore I don't know.

Also, we have several issues about Python `cv` behavior enhancements: #283, #1445, #1105.

[2018-11-26 12:41] OhMyGodness commented on #893
I find the param categorical feature it's useless as my code is like this:
train_set = lgb.Dataset(X_train_temp,y_train_temp,params=None,categorical_feature=cat_features)
valid_sets = lgb.Dataset(X_val,y_val,reference=train_set,params=None,categorical_feature=cat_features)

lgb.train(categorical_feature=cate_cols)

And the program result has no difference when add the categorical_feature params,th

[2018-11-26 18:44] Laurae2 opened #1880 "[R-package] LightGBM OpenCL is broken"
Currently, LightGBM R installation with GPU support is broken.

More information: https://github.com/Laurae2/lgbdl/issues/5

ping @jameslamb

[2018-11-27 14:09] StrikerRUS commented on #1743
ping @henry0312

[2018-11-27 14:12] StrikerRUS commented on #1561
ping @DSQueen

[2018-11-27 15:59] vruvora commented on #1743
Yes. We should.

[2018-11-28 03:16] henry0312 commented on #1743
yeah, I also think so.

[2018-11-28 04:52] vnijs commented on #1846
I'm seeing the same as @albedan. See output below.

@albedan Could you perhaps share/post the code you used to get identical probability predictions? Thanks

[code]

[2018-11-28 06:30] vnijs commented on #1846
I don't mean to thread-jack but ... I'm trying to setup a customer objective function for a binary classifier. I tried adapting the cost @ * https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/multiclass_custom_objective.R but not having much luck so far.

Is the result from https://github.com/Microsoft/LightGBM/blob/master/R-package/demo/early_stopping.R supposed to produce the same

[2018-11-28 09:09] germayneng opened #1882 "difference in result between machines (tried nthread)"
Good day,

I realized that in different machines, I am not able to reproduce the exact same results from lgbm. In the same machine, running the sript multiple times give me the same results. So i do not think it is from the script itself.

By setting up a EC2 in aws and creating a virtual venv and  installing the requirement,txt (so the modules are the same with my local virtual environment. )

Th

[2018-11-28 09:11] Laurae2 commented on #1882
Do you have exactly the same environment? Such as identical gcc, identical OS version, identical kernel.

[2018-11-28 09:13] germayneng commented on #1882
hi laurae,

for the case of aws vs local, i may not guarantee that i have the same os ... etcc but if it is base vs venv with the same lgbm version, will it guarantee the same results?

[2018-11-28 09:16] Laurae2 commented on #1882
No, you need at least an identical OS and an identical compiler (and probably an identical kernel now due to cache trashing from security mitigations) to guarantee identical random number generation.

[2018-11-28 09:17] germayneng commented on #1882
Thank you for the prompt reply.

So basically the random number generation is the factor that is differing across the environment? Anyway to ensure compiler and kernel to be the same?

[2018-11-28 09:32] guolinke commented on #1882
You can try the latest version as well. I remember we fix a bug for consistency.( std::sort -> std::stable_sort)
BTW, what is the result when removed sampling (row and col)?

[2018-11-28 09:38] germayneng commented on #1882
@guolinke  i believe 2.1.2 is the latest? Alsso, do you mean removing

'colsample_bytree': 0.5,
'subsample': 0.7,
'subsample_freq': 3,

[2018-11-28 11:21] guolinke commented on #1882
The latest is 2.2.2

[2018-11-28 19:20] ben519 commented on #1852
For reference, I think the root of this issue is discussed [here](https://github.com/klutometis/roxygen/issues/822).

[2018-11-29 00:01] huaxz1986 commented on #1622
@StrikerRUS I use label name instead of label index, and it is resolved.

[2018-11-29 04:08] germayneng commented on #1882
Thanks @guolinke  and @Laurae2

Managed to isolate the issue. It is not with lgbm. With the params as above, the result can be reproduced, even with lgbm 2.2.2 vs 2.1.2.

Issue was another module: pmdarima which caused a slightly variation in float numbers but was hidden in between the dataset.

[2018-11-29 04:09] #1882 closed

[2018-11-29 10:52] StrikerRUS commented on #1622
@huaxz1986 Thanks for letting us know! Glad you've managed to solve the problem.

[2018-11-29 10:52] #1622 closed

[2018-11-29 10:59] StrikerRUS commented on #1664
I think other parts of the issue was discussed in #1882 .

@guolinke WDYT? Can this issue be closed?

[2018-11-29 11:00] nbenn opened #1884 "[R] int overflow in LGBM_BoosterCalcNumPredict_R"
I'm skipping the reproducible example, but I can add one on request.

If I call `predict.lgb.Booster()` on a sufficiently large test dataset (e.g. 120 cols, 3.5M rows) in a multiclass setting with 700 classes (`n_col * n_class > .Machine$integer.max`), I get an error

[code]

This comes from `LGBM_BoosterCalcNumPredict_R` returning something that looks like an overflowed value (`-1792749607` in my

[2018-11-29 11:01] nbenn commented on #1861
@guolinke Thanks for the quick fix. This resolves my original issue, but I unfortunately encountered a follow-up problem (#1884).

[2018-11-29 11:01] #1861 closed

[2018-11-29 14:02] gwuillou commented on #1867
Hello,

I have the version lightgbm 2.2.2.
When I try the "advanced_example", the Segmentation fault: 11 appears randomly. sometimes I have also this error:
python(14274,0x7fff8985f380) malloc: *** error for object 0x3fd3b3c07d68: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug

...

I am using mac osx high sierra,

Thank you,

[2018-11-30 04:55] guolinke commented on #1664
yeah, I think this can be closed.

[2018-11-30 04:55] #1664 closed

[2018-11-30 04:58] guolinke commented on #1867
I guess the problem is related to binaries release.
@gwuillou can you try to install from source ?
`pip install --no-binary :all:`

may related to: https://github.com/Microsoft/LightGBM/issues/1743

[2018-11-30 05:36] #1845 closed

[2018-11-30 06:06] saksim commented on #1157
thanks for the message in this issue.

In a word, Could we understand it as the model would be run OK although such message printed out.

[2018-11-30 06:09] StrikerRUS commented on #1691
ping @senadibraimoski

[2018-11-30 07:41] saksim opened #1885 "[PYTHON]Can I use roc_auc_score or accuracy_score for evaluating Multi-class classification in the LightGBM?"
Hello,guys:
    I am a newcomer in LightGBM.  Using the LightGBM to train million data for getting a multiclass Train-Model contains num_class*num_iterations trees. However, the model_evaluate method does not work!

My setting as follows:
    Params = {
            'num_class': 9,
            'boosting_type': 'gbdt',
            'objective': 'multiclass',
            'learning_rate': 0.1,

[2018-11-30 09:16] guolinke commented on #1885
I think this is not a LightGBM's issue.
refer to https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html
https://www.researchgate.net/post/Is_it_possible_to_plot_a_ROC_curve_for_a_multiclass_classification_algorithm_to_study_its_performance_or_is_it_better_to_analyze_by_confusion_matrix

[2018-11-30 09:16] #1885 closed

[2018-11-30 10:17] saksim commented on #1885
Yes, it seems not a LightGBM's issue. Thanks for your recommendation materials.
Best Wishes

[2018-11-30 14:02] #1574 closed

[2018-11-30 15:01] StrikerRUS commented on #1659
ping @psinger

[2018-11-30 15:02] StrikerRUS commented on #1692
Feel free to reopen if needed.

[2018-11-30 15:02] #1692 closed

[2018-11-30 15:03] StrikerRUS commented on #1290
Feel free to reopen if boost reinstallation didn't help.

[2018-11-30 15:03] #1290 closed

[2018-11-30 15:07] StrikerRUS commented on #1717
ping @huanzhang12

[2018-11-30 16:04] psinger commented on #1659
@psinger Don't have the data at hand any longer unfortunately, but I did not use feature sampling. But issue can be closed, I will re-ping if I identify issue again.

[2018-11-30 16:04] #1659 closed

[2018-11-30 16:16] #1561 closed

[2018-11-30 16:16] StrikerRUS commented on #1659
@psinger Thanks for letting us know! Of course, feel free to reopen in case it'll happen again.

[2018-11-30 16:33] StrikerRUS commented on #1863
@KOLANICH Please elaborate.

Are you unable to install lightgbm from Python wheel? What error is raised?

[2018-11-30 19:13] KOLANICH commented on #1863
I'm unable to build a wheel using the prebuilt library, since no custom command class is implemented for that command.

https://github.com/Microsoft/LightGBM/blob/d8d01e39843c4e93d6e9cb9d2c17bc6d138f4975/python-package/setup.py#L275L279

IMHO these "custom cmd classes" inherited from the original ones are too dirty hacky approaches, instead setuptools should be redesigned into a graph of stages wi

[2018-11-30 19:31] StrikerRUS commented on #1863
Please share your use-case where you need this.

How to build, say, MPI version with `pip` in this case?

[2018-11-30 20:08] KOLANICH commented on #1863
It is more convenient for me to use CMake for building. I don't use Visual Studio for building, instead I use MinGW-w64 and Ninja as a low level build tool, all the libraries are situated in unexpected folders.

Just enable that option in CMakeCache.txt ?

[2018-11-30 20:17] StrikerRUS commented on #1863
Just use `--mingw` option with correctly configured PATH to build with MinGW.
But why you need wheel file for this?

Please elaborate. At present, I can just execute `pip install lightgbm --install-option=--mpi`. How to do it without those options?

[2018-11-30 20:21] StrikerRUS commented on #1863
Also, we already have the option to use **prebuilt library file**.
[code]
 Have you seen it?

[2018-11-30 20:42] KOLANICH commented on #1863
Because I prefer to store wheels of working versions of binary libraries as backups. So if something goes wrong, I just install the old wheel.

As usual when using CMake. Prebuild the library enabling `USE_MPI` and then install using the prebuilt library.

this option is unneeded and should be removed. The compiler to be used is configured in [distutils.cfg](https://docs.python.org/3/install/#loca

[2018-11-30 20:55] StrikerRUS commented on #1863
Ah, got it! However, this is very uncommon case because usually wheel distribution is made by developers, not users. However, if it's important for you, you can work with wheel file just like with ordinary archive: build library file and replace the default one in wheel.

Do you agree, that it's more inconvenient way, compared with one-line command?

This is legacy document.
### Installing Python

[2018-11-30 22:00] StrikerRUS commented on #1863
Uses, but not overrides.

LightGBM achieves it's best performance if compiled with VS, not MinGW. You can read more about it in [FAQ](https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm) Question 4 and 8. This is the reason why VS is used by default. But, as I've already said, you are able to build LightGBM with MinGW via one-line command.

I don't think so. As I've said earlier, building

[2018-11-30 22:02] StrikerRUS commented on #1863
However, you are very welcome to contribute the changes which will allow preserve the current comfort for ordinary users and **enhance** the installation process with additional features.

[2018-11-30 23:13] weisskatze opened #1887 "Size of feature_names error, should equal with total number of features"
## Environment info

Operating System: Windows 10

CPU/GPU model: Ryzen 3 2200g

C++/Python/R version: R 3.5.1

## Error message

[LightGBM] [Fatal] Size of feature_names error, should equal with total number of features

## Reproducible examples

# get the numb 70/30 training test split
num_sam <- round(length(dt_label) * .7)

# training data
train_dt <- dt[1:num_sam,]
train_label <- dt_label[1:n

[2018-11-30 23:46] StrikerRUS commented on #1598
@guolinke While working on reproducing this issue I've encountered `bad allocation` error:

![image](https://user-images.githubusercontent.com/25141164/49320491-f1381100-f512-11e8-8bd7-b17e422cf012.png)

As you can see, it's a **Warning**. Shouldn't it be **Fatal**? Unfortunately, search over the sources with "bad allocation" gave nothing.

[2018-12-01 01:23] weisskatze opened #1888 "[LightGBM] [Fatal] Check failed: num_leaves >1 at c:\users\public\documents\estsoft\creatortemp\rtmpiznjuy\lightgbm\lightgbm_r\src\src\io\config_auto.cpp, line 281 ."
## Environment info

Operating System: Windows 10

CPU/GPU model: Ryzen 3 2200g

C++/Python/R version: R 3.5.1

## Error message

[LightGBM] [Fatal] Check failed: num_leaves >1 at c:\users\public\documents\estsoft\creatortemp\rtmpiznjuy\lightgbm\lightgbm_r\src\src\io\config_auto.cpp, line 281 .

## Reproducible examples

num_sam <- round(length(dt_label) * .7)

train_dt <- dt[1:num_sam,]
train_lab

[2018-12-01 01:36] weisskatze commented on #1888
I solved this issue by changing values.

[2018-12-01 01:36] #1888 closed

[2018-12-01 04:08] guolinke commented on #1598
@StrikerRUS
I think these warnings are caused in openmp exception handling.
https://github.com/Microsoft/LightGBM/blob/6488f319f243f7ff679a8e388a33e758c5802303/include/LightGBM/utils/openmp_wrapper.h#L43

Throwing exceptions inside openmp loop will crash.
Therefore, the error message is printed by warning, then the excpetion are thrown after omp loop.

Maybe we need a new key word for errors insid

[2018-12-01 04:16] #1854 closed

[2018-12-01 15:06] hlee13 opened #1889 "in gbdt, Tree0's leaning rate = 1 and others is equal to config ${learning rate}"
Tree=0
num_leaves=63
num_cat=0
split_feature=25 26 27 26 22 24 25 27 5 25 25 25 27 27 24 25 25 25 3 22 22 5 0 5 26 3 9 9 5 22 12 5 22 3 15 9 23 19 25 27 10 27 6 24 27 22 18 21 27 5 21 19 0 24 25 25 9 7 20 13 21 25
split_gain=264.633 147.999 163.201 66.7994 64.9188 80.766 52.2226 38.088 32.4414 30.2777 41.2374 29.9636 27.0313 23.3768 25.1322 22.04 22.2517 20.4465 16.3604 15.0237 14.2878 13.6828 13.

[2018-12-01 15:06] hlee13 commented on #1889
run examples/binary_classification/

[2018-12-01 16:01] guolinke commented on #1889
Refer to
https://github.com/Microsoft/LightGBM/issues/1514

[2018-12-01 16:01] #1889 closed

[2018-12-01 17:08] StrikerRUS commented on #1598
@guolinke Ah, got it!

Unfortunately, there was no error after these warnings

In case of Jupyter Notebook a lot of warnings are printed and then kernel dies without exception:

![image](https://user-images.githubusercontent.com/25141164/49330679-03619000-f5a3-11e8-8f36-9b9b98a81dd0.png)

Ordinary Python script doesn't produce any exception in the end too:

![image](https://user-images.githubuserc

[2018-12-01 19:12] ebernhardson commented on #1555
I gave the dmlc FindHDFS module a shot, it unfortunately completely fails to build on my cdh cluster.  They try to link the .a instead of .so, which for unknown reasons causes a relocation error related to -fPIC. They also explicitly do not check /usr/include for hdfs.h, but that's where cdh installs it. I can start changing things, but without a system that works that way I can't verify anything

[2018-12-01 21:57] StrikerRUS commented on #1555
Thanks a lot @ebernhardson for coming back here! And thank you very much for giving it a try! I think that it's better to leave the current setup as is and abandon the idea about adopting dmlc FindHDFS module.

I'll definitely document PATH tips for users and the fact that the current implementation works fine on CDH.

And what about your Gist? Would you mind creating a PR with it as a new entry i

[2018-12-01 23:55] guolinke commented on #1598
I guess some errors will crash directly before backing to main thread.
You can try to use one thread or disable openmp.

[2018-12-03 07:34] senadibraimoski commented on #1691
Could not reproduce this with random data using example script.

[2018-12-03 07:34] #1691 closed

[2018-12-04 01:47] RayTsui commented on #1326
Hi @Esail , what you did makes lightgbm workable on mac spark env. You just said renamed .jnilib to pylib, can you please tell a little more about that. Thanks a lot.

[2018-12-04 12:31] StrikerRUS commented on #1003
@huanzhang12 What is the fate of the `gpu_fix` branch? Can this issue be closed?

[2018-12-04 16:52] Quetzalcohuatl commented on #1469
Are there any guidelines to how long to retrain for? We originally train using a validation set, but all incremental training has to be done without a validation set. Maybe I can have a rule like this:

[code]

Example: Suppose you train on 1,000,000 rows and then receive 1,000 new rows. If you originally trained for 1,000 iterations, then you will retrain for only 1 iteration.

Meh. Only 1 iterat

[2018-12-04 18:53] jmazar opened #1891 "[.net] Loading model from saved file"
I'm trying to load a model I saved from python in to my .net instance but I can't seem to find a function that would do this for me. Am I missing something obvious or is this functionality not implemented yet?

Thank you,
Jeff

[2018-12-04 19:17] #1891 closed

[2018-12-04 23:45] brandonschabell opened #1892 "Loading a model within Pytest exits the program"
## Environment info

Operating System: Windows 10

CPU/GPU model: Intel i7-8550U (no GPU)

C++/Python/R version: Python 3.6.7

## Error message

Launching pytest with arguments test_lightgbm.py::test_load_model in C:\Git\LightGBMModel\tests\

============================= test session starts =============================
platform win32 -- Python 3.6.7, pytest-4.0.1, py-1.7.0, pluggy-0.8.0
rootdir:

[2018-12-04 23:47] RayTsui commented on #1326
Hi @imatiach-msft , the current scenario is that lightgbm including regression and classification cannot use on mac env, right?

[2018-12-05 02:44] guolinke commented on #1843
ping @mjmckp
any progress?

[2018-12-05 17:38] cdeterman commented on #629
Any more recent updates regarding this?  Is the checklist above up to date?  Perhaps I can help get this package CRAN ready.

[2018-12-05 18:41] brandonschabell commented on #1892
Update: This error occurs when the weights I'm loading were generated from an LGBMClassifier(), not when using lgb.train().

[2018-12-06 00:48] rhgrossman commented on #1308
for me to get the objective function to work, i had to do the following:

def logregobj(labels, preds):
    preds = np.reshape(preds, (len(labels), 3), "F")
    preds = softmax(preds, axis=1)
    labels = OneHotEncoder(n_values=3, sparse=False).fit_transform(labels.reshape(-1, 1))
    grad = (preds - labels)
    hess = 2.0 * preds * (1.0 - preds)
    return grad.flatten('F'), hess.flatten('F')

Th

[2018-12-06 05:44] chjq201410695 commented on #1708
Excuse me.  I find the lastest version of lightgbm need glibc >=2.14. However, the version of glibc in my cluster is 2.12, and they will not update it in near future. How can I use lightgbm in my cluster?

[2018-12-06 07:01] RickoClausen opened #1893 "Not able to train with `dart` and `early_stopping_rounds`"
## Environment info

Operating System: MacOS Mojave and Ubuntu

CPU/GPU model: CPU

C++/Python/R version: Python

## Error message

When using the `dart` booting type the model is not trained when applying `early_stopping_rounds`.
The rmse after training is not the same as it was at the stopping point in the training.

When I use `gbdt` the model trains fine, and I am able to reproduce the rmse fr

[2018-12-06 08:40] guolinke commented on #1708
@chjq201410695 you can compile lightgbm by yourself.

[2018-12-06 09:16] guolinke commented on #1893
I think early stopping and dart cannot be used together.
The reason is when using dart, the previous trees will be updated.
For example, in your case, although iteration 34 is best, these trees are changed in the later iterations, as dart will update the previous trees.

To support this, a simple solution is to clone the model of best_iteration at that time, to avoid the updates on it.
And you can

[2018-12-06 11:40] AlexanderMath commented on #845
In the future it would be preferable to include <b>function name</b> instead of <b>line number</b> as line number change all the time. On the latest commit of Aug 17 back in 2017 (see [1]) the function at line number 1668 was
    get_leaf_output(self, tree_id, leaf_id)

[1] https://github.com/Microsoft/LightGBM/blob/7a82ba4ffcca8530e53b75f148429978653a57c3/python-package/lightgbm/basic.py

[2018-12-06 11:58] LiYan1988 commented on #1052
Could you please give me some more information or reference about the guaranteed convergence from the Hessian approximation? Thanks!

[2018-12-06 13:48] guolinke commented on #845
@AlexanderMath thanks for the advice. we will address this in future.

[2018-12-06 15:45] xin-jin opened #1896 "custom objective for lambdarank/ranking"
Is custom objective function supported for ranking models? I would like to tweak the lambdarank loss a little bit. Since the loss function needs to know the group information, what would the loss function signature be?

Thanks!

[2018-12-07 01:19] guolinke commented on #1896
refer to https://github.com/Microsoft/LightGBM/blob/3ad9cba0321a8ac2e5f625da6dcc6f7c1516a750/examples/python-guide/advanced_example.py#L140-L145
you can use the `train_data.get_group()`

[2018-12-07 01:19] #1896 closed

[2018-12-07 22:41] travisbrady commented on #942
The goal here was to expose metrics via the C-api (partially for performance reasons since Python tends to be much slower). Not necessarily to verify the computation itself.

[2018-12-08 04:38] #1860 closed

[2018-12-08 13:48] StrikerRUS commented on #1892
Hi @brandonschabell !

This behavior was discussed in #1217.

[2018-12-08 13:48] #1892 closed

[2018-12-08 22:13] jameslamb commented on #1880
@Laurae2 How do you foresee addressing this issue? I propose we use an environment variable to control:

a) copying in the boost submodule to the right place
b) setting the use_gpu flag

Does that make sense? I have correctly interpreted the resolution on that issue?

[2018-12-09 06:23] raytroop opened #1897 "lgb.cv early_stopping_rounds work with sklearn StratifiedKFold"
I have a regression project and find `lgb.cv` may help search best hyperparameter.
`StratifiedKFold` is used to tackle the inbalance of dataset and it seems that `folds` of `lgb.cv` expects sklearn fold generator.
But **ValueError: For early stopping, at least one dataset and eval metric is required for evaluation** is always be raised.

Is it possible that `early_stopping_rounds` work with fold g

[2018-12-09 10:48] StrikerRUS commented on #1897
Hi @raytroop !

Just remove this line in your snippet:
[code]
and pass `folds=folds` in `cv` call.

[code]

BTW, you can achieve the same behavior by simply passing `stratified=True` (default value) in `cv` call:
https://github.com/Microsoft/LightGBM/blob/47f0d5e806fba471be4b27afa81174802cb895ad/python-package/lightgbm/engine.py#L291-L295

[2018-12-09 11:57] StrikerRUS commented on #1897
Ah, I mislooked that you are splitting on `df_train['outliers']`, not on `target`.

The issue in your code is that generator reaches `StopIteration` after the first step of the param loop `for param in param_grid:`. So, you need to reset your generator at each step of the loop:
[code]

[2018-12-09 12:41] raytroop commented on #1897
It works,  you save my day , thank you @StrikerRUS

[2018-12-09 12:41] #1897 closed

[2018-12-10 01:11] AdityaJuvali opened #1898 "LightGBM installation error_MacOSX10.14_Cmake"
gcc -v
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/c++/4.2.1
Apple LLVM version 10.0.0 (clang-1000.10.44.4)
Target: x86_64-apple-darwin18.2.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

**Issue:**
I followed the installation guide and on 'cmake ..' st

[2018-12-10 01:13] AdityaJuvali commented on #118
I have the same versions  of gcc 8.2 and cmake 3.13 on my Mac OSX. But I am still getting an error while installing lightgbm.

gcc -v
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/c++/4.2.1
Apple LLVM version 10.0.0 (clang-1000.10.44.4)
Target: x86_64-apple-darwin18.2.0
Thread model: pos

[2018-12-10 02:08] #1743 closed