[2017-06-07 13:41] dyllanwli commented on #603
Thank you, I fix it.

[2017-06-07 13:43] #603 closed

[2017-06-07 19:46] #590 closed

[2017-06-08 01:53] henry0312 commented on #595
May I create a team?

[2017-06-08 04:57] frostmanfrost opened #604 "LightGBM import error related to dll"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

**_Seems to be a similar issue to "LightGBM import error #499" and "[GPU] LightGBM import error again! nvidia OpenCL.dll not found #566." However, re-installing nvidia driver or re-cloning the latest build does not solve the problem._**

For bugs and unexpected issues, please provide f

[2017-06-08 05:02] frostmanfrost commented on #604
Also, I can run the testing in CLI without any issues.

/github_repos/LightGBM/examples/binary_classification
"../../lightgbm.exe" config=train.conf data=binary.train valid=binary.test objective=binary device=gpu

[2017-06-08 06:43] guolinke commented on #604
@frostmanfrost
if you can run it by cli, the possible reason is your python version is 32-bit.

Can you try to build without GPU, and try the install python-package ? The problem is in gpu side if this can work.

[2017-06-08 06:55] guolinke commented on #595
@henry0312
sure. feel free to create it 😄

[2017-06-08 09:15] BlindApe commented on #581
@Laurae2 I'll try to do it. I've seen that slice.lgb.Dataset isn't used in lgb.cv, but slice() instead.
I'm not sure if I change slice() with slice.lgb.Dataset() would be the best option.

[2017-06-08 09:19] henry0312 commented on #595
@guolinke Thanks! I'll do.

[2017-06-08 09:30] henry0312 commented on #595
@guolinke please tell me your e-mail address.

[2017-06-08 10:37] guolinke commented on #595
@henry0312
i@yumumu.me

[2017-06-08 11:17] miguelgfierro commented on #578
A customer asked for this, @guolinke  it would great to have this :-)

[2017-06-08 11:32] guolinke commented on #578
I think we can put the CPU version first.

A problem is: should we put the pre-compiled the dll/so into package? Or re-compile everytime when user install?

@wxchan thoughts ?

[2017-06-08 16:34] TropComplique opened #605 "Building LightGBM on Linux, memory error"
Hi.
I cannot finish building LightGBM on my laptop because there is not enough RAM on it (I have 4 GB of RAM). My laptop froze after I ran `make -j `. So, then I tried building LightGBM on AWS instance. It was successful, but it took around 10 GB of RAM.
My question is: Is there a way to build LightGBM only with 4 GB of RAM?

## Environment info
Operating System: Ubuntu 16.04
CPU: Intel® Core™ i7-

[2017-06-08 16:34] #605 closed

[2017-06-08 16:42] TropComplique commented on #605
I am sorry for opening an issue. To solve my problem: `make -j` -> `make`.

[2017-06-09 01:29] henry0312 commented on #595
@guolinke I just sent you an invitation.
BTW, I don't know you can use Slack in China 🤔

[2017-06-09 01:42] frostmanfrost commented on #604
Thank you, guolinke.  Finally figured out the problem:  the dll chain broke at libstdc++-6.dll, which is in .../mingw64/bin.  Though the location was added to PATH, basic.py still could not load it.  Copying the dll to c:/windows/system32 solved the problem.

[2017-06-09 01:42] #604 closed

[2017-06-09 02:26] #595 closed

[2017-06-09 02:35] henry0312 commented on #595
@guolinke I also gave you owner permmision. Please check https://lightgbm.slack.com/admin/settings.

[2017-06-09 03:14] zhukunism commented on #389
@Laurae2 , I set the boost and openCL env variables as you suggested. But still get the errors below when building on my ubuntu machine:

* installing *source* package ‘lightgbm’ ...
** libs
make: Nothing to be done for 'all'.
installing to /home/zhukun/Workspace/Library/lightgbm/install/lightgbm/libs
** R
** data
** demo
** preparing package for lazy loading
** help
*** installing help indices
**

[2017-06-09 05:44] Laurae2 commented on #389
@zhukunism For R installation, you can now use a precompiled lib you have to put in root of LightGBM folder (if it compiled elsewhere). Compile it as if you were doing for CLI, then compile the R package.

It is now much easier to compile R with GPU support that way. Current R installation can't compile with custom flags currently (you can override them by editing the sys/install.libs.R of the pac

[2017-06-09 06:38] luoyexuge opened #608 "Model file doesn't contain feature information"
Loading the model presents this problem  ，who can help me？

[2017-06-09 08:24] pylablanche commented on #331
@kingfengji Welcome in the discussion and thanks for joining!
The paper raised a lot of questions and discussions! I found it interesting that the layered structure seems to work so well. I actually have some questions for you.

What is, according to you, the reason why this cascade structure works so well ?
It is still something I am trying to understand better and it just seems like an empirical

[2017-06-09 08:26] pylablanche commented on #331
Another paper using a similar cascade structure (citing gcForest) :
https://arxiv.org/pdf/1705.07366.pdf

[2017-06-09 13:02] hlee13 opened #609 "Parallel Training, continuous variable feature infos are all 0"
## Example model file segment sample below:
While values on Tree=0 are not all 0.

feature_infos=none 0:1 [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0] [0:0]

[2017-06-09 13:10] guolinke commented on #609
@hlee13
It doesn't have any effect on model. I will fix it when have time.

[2017-06-09 14:19] kingfengji commented on #331
@pylablanche First I wish to thank you for your implementations and your time, I appriciate that very much.

- Apart from the reasons mentioned in the paper, the cascade structure works better than the good old stacking is, by concatenate the original input (intuition here is the forest for the next level won't forget the real parttern and in the same time see some predictions) and use class distr

[2017-06-09 14:21] hlee13 commented on #609
@guolinke  yes, it is. just report. thanks

[2017-06-10 08:09] guolinke commented on #608
@luoyexuge where is your model file come from ?
If it is trained by a old version lightgbm, it is recommend to train a new one via the latest code.

[2017-06-10 08:09] #608 closed

[2017-06-10 18:13] Laurae2 opened #610 "[R-package] Docs: add warning for MSVCP140.dll missing"
To add to docs: warning for MSVCP140.dll missing when using precompiled DLL on a machine without Microsoft C++ Build Tools.

![image](https://user-images.githubusercontent.com/9083669/27005169-2a98af24-4e19-11e7-9c71-049f4e91ead7.png)

[2017-06-11 04:58] ChingChuan-Chen opened #611 "[R-package] Windows R package installation"
## Environment info
Operating System: windows 10 x64
CPU: i7-3770K
C++/Python/R version:  Microsoft R Open 3.4.0

## Error Message:

Error in eval(ei, envir) : Cannot find lib_lightgbm.dll
* removing 'C:/R/MRO-3.4.0/library/lightgbm'
* restoring previous 'C:/R/MRO-3.4.0/library/lightgbm'

## Steps to reproduce

1. `R CMD INSTALL --build .`  with `use_precompile = FALSE`, `use_gpu = FALSE` and `use

[2017-06-11 05:03] guolinke commented on #611
fixed in the latest PR.

[2017-06-11 05:03] #611 closed

[2017-06-11 07:11] Laurae2 commented on #611
Is this a bug of R which happens only in Windows 10? I think it might be worth reporting the missing slash issue in Windows 10 to the R team so it gets patched.

[2017-06-11 07:17] guolinke commented on #611
@Laurae2
I think the reason is different R version ( like Microsoft R Open) .

[2017-06-11 07:17] Laurae2 commented on #581
@BlindApe What about creating a function named lgb.prepare.cv?  You can follow the naming I used to prepare datasets.

Input: a lgb.Dataset, a list of numeric vectors, and what to return (train folds? Test folds? Both?). Each vector: out of fold, so you have to check what the user wants initially from the function.

I'll comment on your PR when you start getting it done.

You might want to fix the

[2017-06-11 08:11] Laurae2 opened #613 "[R-package] Providing precompiled DLL (licensing?)"
Are we allowed to host precompiled LightGBM DLLs on GitHub?

[2017-06-11 08:15] guolinke commented on #613
@Laurae2
I think it didn't have licensing issues.

There are 2 problems:
1. cross platform, and cpu/gpu. This will request many dll/so .
2. needs to update all dll/so every time changing the code. This is very inconvenient.

[2017-06-11 08:24] guolinke commented on #610
@Laurae2
You also can add the solution. install the vc runtime(https://my.visualstudio.com/Downloads?pid=2082).

[2017-06-11 08:25] Laurae2 commented on #610
@guolinke I get blank page:

![image](https://user-images.githubusercontent.com/9083669/27009488-47778a62-4e90-11e7-9349-72247ba7ffbb.png)

Installing with this makes it work: https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017

[2017-06-11 08:26] Laurae2 commented on #613
@guolinke I think for CPU it is not too much an issue, but GPU is too difficult.

Most important I think is to have the Visual Studio compiled DLL which is not easy to setup for most users. Even if it is not the bleeding edge version, it is not too much an issue.

[2017-06-11 08:27] guolinke commented on #610
@Laurae2
try this one : https://www.microsoft.com/en-us/download/details.aspx?id=52685

The build tools is too heavy when comparing with vc runtime.

[2017-06-11 08:30] Laurae2 commented on #610
@guolinke Added to docs with #614.

[2017-06-11 08:51] #610 closed

[2017-06-12 02:35] vousmevoyez opened #615 "Python gbm.feature_importance() error?"
## Environment info
Operating System: Linux
CPU:
Python version: Python 2.7.13

## Error Message:
ValueError: No JSON object could be decoded

## Reproducible examples
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)
params = {
    'task':'train',
    'boosting':'gbdt',
    'objective':'binary',
    'metric':{'l2', 'auc'},
    'num_leaves': 62,

[2017-06-12 06:22] wxchan commented on #615
test both python 2 and 3, no error. try latest code

[2017-06-12 06:24] wxchan commented on #587
eval_train() and eval_valid() is used for one iteration, and it supposed to be private method.

use evals_result in lgb.train if you want to monitor evals_result in train and valid set.

[2017-06-12 06:40] wxchan commented on #578
Maybe we can keep multiple versions? I am not quite familiar with this.

[2017-06-12 06:50] guolinke commented on #578
@wxchan
keep multi-version needs many effort to generate these dll every time we changes the code.
using re-compile is much easier.

[2017-06-12 06:53] guolinke commented on #578
@wxchan
If changing to re-compile method, we need a new python-package build solution like the R's solution now: https://github.com/Microsoft/LightGBM/blob/master/R-package/src/install.libs.R .

[2017-06-12 07:03] wxchan commented on #578
I don't see many python packages do thing like this. I can do some investigation.

Maybe we can use dll with stable version like v2.0 for now. We don't need to change code every time. I think we sometimes are adding some features not used very frequently.

[2017-06-12 07:08] guolinke commented on #578
@wxchan refer to https://github.com/chainer/chainer/tree/v1.24.0
It uses the source code to build every time install the package.

[2017-06-12 07:12] vousmevoyez commented on #615
Still has error. I have tried the latest code. Below is the complete error:
# Error
ValueError                                Traceback (most recent call last)
<ipython-input-14-920de1b50449> in <module>()
----> 1 gbm.feature_importance()

/home/admin/anaconda2/lib/python2.7/site-packages/lightgbm-0.2-py2.7.egg/lightgbm/basic.pyc in feature_importance(self, importance_type)
   1662         if impo

[2017-06-12 07:37] wxchan commented on #578
I didn't see it using source code with pip install:
[code]

[2017-06-12 07:39] wxchan commented on #615
try set num_boost_round=1 to see if it works.

btw, you should quote your error msg with ```

[2017-06-12 07:40] guolinke commented on #578
@wxchan
it is removed in the latest version(2.9).
see the code here: https://github.com/chainer/chainer/blob/v1.24.0/chainer_setup_build.py

[2017-06-12 07:56] vousmevoyez commented on #615
It works. But why does this happen?

[2017-06-12 07:57] wxchan commented on #578
I see, it's using ext_modules in setup(). But it seems using codes upload to pypi not in github, we still need to update every time making changes. The only good thing maybe we don't need multiple versions for different OS.

[2017-06-12 08:00] henry0312 commented on #578
We can refer [ibayer/fastFM](https://github.com/ibayer/fastFM), where Travis deploys binaries of different OS.

[2017-06-12 08:01] wxchan commented on #615
feature importances use a string buffer passed from c++ to python, I guess the string buffer for 250 rounds is too long and be cut during passing. Seem only happen on Windows. @guolinke any suggestion how to fix this?

[2017-06-12 08:04] vousmevoyez commented on #615
Sorry. My OS is NOT Windows. It's linux.

[2017-06-12 08:12] wxchan commented on #615
Oh, sorry, misread it.

[2017-06-12 08:25] wxchan commented on #615
Strange I set num_boost_round to 1M and still cannot reproduce it. You can change [this line](https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1579) to `return string_buffer.value.decode()`, set num_boost_round to a big number and save `gbm.dump_model()` to some files, upload here. We can see if it's been cut.

[2017-06-12 09:20] vousmevoyez commented on #615
I can't ```gbm.dump_model()```. It raises error:
[code]

[2017-06-12 09:30] vousmevoyez commented on #615
FYI, my data has 4.6 million rows and 220 columns.

[2017-06-12 09:57] wxchan commented on #615
It's strange, json.loads already removed, why still show "No JSON object could be decoded"? I still try reproduce this issue, need some time.

[2017-06-12 11:56] BlindApe opened #616 "bins in case of a variable with few different values"
I know bins are computed by frequency but how this affects when a variable takes only a few values?
Supose a variable takes 1 (100 times), 2 (100 times), 3 (100 times) and 4 (900 times)
We select nbins = 4 so for a frequency of 1200 each bin should have 300 cases.

a) 1, 2 and 3 goes to bin 1 and 4 goes to bins 2, 3, and 4 (cumulative frequency criteria)
b) given the different values of the variab

[2017-06-12 11:59] guolinke commented on #616
@BlindApe
We check the num_distinct_value first. If it is smaller than nbins, it use one distinct value for one bin.
So, when you set nbins >= 4, it is safe.

[2017-06-12 11:59] #616 closed

[2017-06-13 02:15] vousmevoyez commented on #615
I rerun my code today.  Error is different:
[code]

[2017-06-13 02:29] wxchan commented on #615
dump_model() seems work, can you try dump_model() again?

[2017-06-13 02:36] vousmevoyez commented on #615
[model.zip](https://github.com/Microsoft/LightGBM/files/1070131/model.zip)

[2017-06-13 03:57] wxchan commented on #615
Strange that model.json seems not been cut. Try this:
[code]

[2017-06-13 04:02] vousmevoyez commented on #615
[code]

[2017-06-13 04:06] tobigithub commented on #127
Also this extended code for grid search in R using LightGBM, the only problem it eats a lot of memory, also only uses one CPU core.
[code]
output:

[code]

[2017-06-13 04:13] wxchan commented on #615
I think I find out the reason. Can you also save_model() and upload here?

[2017-06-13 04:20] vousmevoyez commented on #615
[model_txt.zip](https://github.com/Microsoft/LightGBM/files/1070291/model_txt.zip)

[2017-06-13 05:03] wxchan commented on #615
Thanks for your help. You can change this line https://github.com/Microsoft/LightGBM/blob/master/src/io/tree.cpp#L369 to `str_buf << "\"threshold\":" << Common::AvoidInf(threshold_[index]) << "," << std::endl;` for temp solution, and change python-package back. The infinite number cannot be handled by json. I will fix this later.

[2017-06-13 05:06] guolinke commented on #615
@wxchan
You can fix this line: https://github.com/Microsoft/LightGBM/blob/master/src/io/tree.cpp#L85

[2017-06-13 05:16] wxchan commented on #615
@guolinke add Common::AvoidInf to threshold_double? I will keep the change on L369, it helps when user loads old model.

[2017-06-13 05:18] guolinke commented on #615
@wxchan yes and okay.

[2017-06-13 05:32] vousmevoyez commented on #615
@wxchan Thanks. it works.

[2017-06-13 07:10] wxchan commented on #615
@vousmevoyez you can pip install simplejson, it's more efficient and has better error message.

[2017-06-13 07:51] vousmevoyez commented on #615
OK.

[2017-06-13 07:53] GerryWang89 opened #618 "exit without err log when training with ~20 million lines"
There isn't any err log when training with ~20M ob items, it just failed and then exit after finish loading parameters.

The training file size is about 13G with about ~200 features.

## Environment info
Operating System: windows
CPU: x64
C++/Python/R version: c++ CLI version

[2017-06-13 08:29] #615 closed

[2017-06-13 08:30] guolinke commented on #618
@GerryWang89
I think the 20M * 200 data isn't the problem.
Can you provide the details ?
Did you run by powershell or cmd ? and use the latest code?

[2017-06-13 09:19] GerryWang89 commented on #618
@guolinke Thanks for your kindly reply.
Yes, I ran it by cmd with the latest code I cloned this morning.
I'm training a binary classifier with command line. And I can run the binary_classification sample. I'm just trying to train it with my larger data in the same config.

I can also run it successfully when I only use the first 2k lines. But it simply quit when I use my 20M full training set with

[2017-06-13 10:35] GerryWang89 commented on #618
@guolinke
"20M" is 20 Million lines, not 20 MB size... Sorry for the confusion. The input file size is about 13GB.  Does LightGBM have a max size limit for training data?

[2017-06-13 10:40] guolinke commented on #618
@GerryWang89
I know it is 20M lines. We had tried billions of data, so it is not a problem.
But it depends on the memory size of your machine.
Can you provide your machine info ?

[2017-06-13 13:40] guolinke commented on #618
solved it offline. caused by incorrect bulid

[2017-06-13 13:40] #618 closed

[2017-06-14 14:21] Ubikas commented on #458
Hi @huanzhang12,

I run into problem trying to run
`sudo make -j`

I successfully pass cmake with options
`sudo cmake -DUSE_GPU=1 -DOpenCL_LIBRARY=/usr/local/cuda-8.0/lib64/libOpenCL.so -DOpenCL_INCLUDE_DIR=/usr/include/nvidia-375 -DBOOST_LIBRARYDIR=/usr/local/cuda/lib64/ ..
`
what returns
`-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for w

[2017-06-14 16:43] rhgrossman opened #619 "LightGBM compiled but python package won't run"
LightGBM compiled correctly (Using mingw64, and the installation instructions), but when I tried to run "import lightgbm" in python I received the following error. I installed identically on my laptop yesterday, and it worked fine- not sure what the difference is.

## Environment info
Operating System: Windows 10
CPU:
C++/Python/R version: 3.6 64 bit. MinGW and Cmake installed from recent distribu

[2017-06-14 18:32] #619 closed

[2017-06-15 05:29] guolinke opened #620 "[GPU] multi-gpu"
@huanzhang12
Do you have plan for the multi-gpu support ?

[2017-06-15 06:07] vivekk-ezdi opened #621 "Python - Different handling of similar looking data in LGBMClassifier"
Related to the question: https://stackoverflow.com/questions/44558435/scikit-learn-predicting-a-single-observation.

The following lines are handled differently by the python LGBMClassifier:

[code]

## Environment info
Linux-3.16.0-77-generic-x86_64-with-Ubuntu-14.04-trusty
('Python', '2.7.6 (default, Oct 26 2016, 20:30:19) \n[GCC 4.8.4]')
('NumPy', '1.13.0')
('SciPy', '0.19.0')
('Scikit-Learn',

[2017-06-15 06:11] Laurae2 commented on #621
In case 1 you have a 1d data, when in case 2 it is 2d. I think this is an expected behavior to throw an error on 1st case but not on 2nd.

@wxchan ^ ?

[2017-06-15 06:29] vivekk-ezdi commented on #621
@Laurae2  No, case 2 is not 2-d. Its is a single list of 4 elements.
```[4.9000000000000004, 3.0, 1.3999999999999999, 0.20000000000000001]```

[2017-06-15 06:37] Laurae2 commented on #621
Your list is 2d minimum because a list in Python can contain an arbitrary number of elements which contains themselves an arbitrary number of elements. Therefore it is the expected behavior.

[2017-06-15 06:53] vivekk-ezdi commented on #621
Yes I agree. But in a case where the training data has only 1 feature, how will this work? It will lead to wrong results.

Lets say, I am training a single feature data now.
[code]

How is this handled here? Pardon me if this is a case of nit-picking.

[2017-06-15 07:31] wxchan commented on #621
We only deal with np.ndarray, pd.DataFrame, scipy.sparse.csr_matrix and scipy.sparse.csc_matrix. In other case, we reshape data to scipy.sparse.csr_matrix first. You can see this part of codes: https://github.com/Microsoft/LightGBM/blob/6d4c7b03b7273f23b913406cc9c9d85d5178b373/python-package/lightgbm/basic.py#L408-L426.

We indeed didn't expect such behavior of scipy.sparse.csr_matrix, do you have

[2017-06-15 07:46] vivekk-ezdi commented on #621
Indeed, the output of

```scipy.sparse.csr_matrix(data)```

for the above mentioned data is an sparse matrix of shape (1,1), which when printed only has the first element of that list. So this looks like a problem.
Atleast, maybe a warning about the data conversion will certainly be more useful in my opinion. Something which states the shape of original and the converted data.

[2017-06-15 07:55] guolinke commented on #621
@wxchan can we add some conversion in predict, before the overall conversion?

[2017-06-15 08:19] wxchan commented on #621
@vivekk-ezdi Is the issue: You train with a n * 1 matrix, and predict with a 1 * 4 matrix, the prediction only uses first element of 1 * 4 matrix? Look like if you use 1 * 4 numpy array, the problem remains: `clf.predict_proba(np.array([list(X[1])]))`. The issue is not checking predict input dimension?

[2017-06-15 08:28] vivekk-ezdi commented on #621
Ah, yes I did not think in that way. You are absolutely correct. As its often said in scikit-learn, the predict() is performing too much **magic** trying to infer the data shape. The earlier versions of scikit-learn used to give a [warning](https://github.com/scikit-learn/scikit-learn/blob/0.18.X/sklearn/utils/validation.py#L390-L395) when 1-d data is passed into it.

And from version 19 onwards,

[2017-06-15 14:40] lai-bluejay opened #622 "Python only single feature number of used features: 0 [LightGBM] [Info] No further splits with positive gain, best gain: -infTrained a tree with leaves=1 and max_depth=1"
i want to use gbdt to bin my single feature. one of the feature has exception.
light gbm told me that

[code]

the feature vector shape:(130549, 1), max  8.0,  min  1.0
other params are
[code]

is there other important params that i didn't set wright?
or where can i check the histogram method? Because lightgbm only have total 0 bins.

## Environment info
Operating System: linux
CPU: Intel(R) Xeon(

[2017-06-15 14:53] wxchan commented on #621
@guolinke can we check the input shape for prediction in c++ part?

in python, we can:
1. use np.array for list, because it's dense representation
2. giving a warning for other data type

[2017-06-15 14:54] guolinke commented on #622
@lai-bluejay
try to use "min_data_in_leaf =1" ?
And can you provide the ```distinct_value``` and its ```occurred count``` of that single feature?

[2017-06-15 14:57] guolinke commented on #621
@wxchan
It is hard to check in cpp side, since the parameters are pointers and it is hard to guess which is right format.

We can add the process for 1D list before this line: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L384

[2017-06-16 02:55] wxchan commented on #621
But the issue not only happens for 1D list or array, it happens for all data types when num of features are not same in training and prediction time.

[2017-06-16 02:59] hlee13 opened #623 "How add new loss function?"
Such as the title.

Only found the Metric class. Can not found the gradient definition corresponding to metric。
l1, l2, l2_root

So what need I do. Only add a new metric class?

[2017-06-16 03:01] guolinke commented on #621
@wxchan I think it is not possible to let the number of features is exact the same. e.g. if input is one row CSR, we cannot infer its number of features, since the zero value are not stored.

[2017-06-16 03:03] guolinke commented on #623
metric is not the loss function.
You can inherit the objective class, which is the loss function.

[2017-06-16 03:03] #623 closed

[2017-06-16 03:36] wxchan commented on #621
What if some prediction feature index bigger than max feature index of model?

[2017-06-16 03:37] guolinke commented on #621
they will be ignored. you can find it from the code of predictor.

[2017-06-16 03:39] wxchan commented on #621
I mean should we add some warnings when they are ignored?

[2017-06-16 03:50] guolinke commented on #621
I think it is not need.  It may output massive warnings if doing this. The reason is the max_feature_idx is not accurate. I remember it is the max of the used feature index.

[2017-06-16 10:58] hlee13 opened #624 "can add a mape objective function in lightgbm?"
Such as the title.
reference to：https://en.wikipedia.org/wiki/Mean_absolute_percentage_error

could show the mape objective function code segment in python now.

[2017-06-16 11:10] wxchan commented on #624
check https://github.com/dmlc/xgboost/issues/1818

[2017-06-16 11:52] miguelgfierro opened #626 "Suggestion for python API in prediction"
This is a suggestion for the python API, not a bug. It is just something that seemed odd to me :-)

Here a code example:
[code]
For me it's a little bit odd that in `predict` the input is `X_test.values` rather than `lgb_test`

@guolinke just a suggestion, you can close it, once you have read it :)

[2017-06-16 12:42] #621 closed

[2017-06-16 13:38] hlee13 commented on #626
y_pred = lgbm_clf_pipeline.predict(X_test.values)

To debug data, I want below:
for p, l, feat in zip(preds, eval_data.get_label(), eval_data.get_data()):
     print p, l, feat

Now only below:

for p, l in zip(preds, eval_data.get_label()):
      print p, l

[2017-06-16 13:45] guolinke commented on #622
@lai-bluejay any updates ?

[2017-06-16 13:45] spedygiorgio opened #627 "lost help docs on how to build R package with GPU"
I was trying to use ligthGbm with GPU, but I lost the instruction on how to build in R... Once there was a full documentation at this regard... Is it possible to put it again? Thnks

[2017-06-16 13:46] guolinke commented on #627
Set `use_gpu` to `TRUE` in `R-package/src/install.libs.R` to enable the build with GPU support. You will need to install Boost and OpenCL first: details for installation can be found in [gpu-support](https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#with-gpu-support).

[2017-06-16 13:46] #627 closed

[2017-06-16 13:51] guolinke commented on #626
@miguelgfierro @hlee13
I think the prediction with Dataset comes from XGBoost. But this is infeasible in LightGBM.
The reason is, Dataset only store the bucketed bin values, not the original feature values.

Thus, The Dataset in LightGBM only be used for the training and validation.

Moreover, using Dataset to perform the prediction needs an additional conversion from raw data to DataSet. So we ch

[2017-06-16 14:06] #609 closed

[2017-06-16 14:07] guolinke commented on #574
@abhishekkant
updates

[2017-06-16 14:09] guolinke commented on #224
@Laurae2
Do you think it is ready now ?

[2017-06-16 16:22] miguelgfierro commented on #626
ok understood. Thanks for the clarification

[2017-06-16 16:22] #626 closed

[2017-06-16 16:58] Laurae2 opened #628 "Large bagging is very slow"
Bagging is very slow. I am not sure what is causing it. See https://github.com/Microsoft/LightGBM/issues/562 for the dataset. I am using 0.40 subsampling to have this issue, it is not reproducible when subsampling is 0.60. I think bagging uses only 1 core, but I don't see this issue when using 0.60.

Using DLL compiled with Visual Studio 2017.

![image](https://user-images.githubusercontent.com/90

[2017-06-16 17:03] Laurae2 commented on #224
@guolinke We will need to switch to MinGW by default first and fix all CRAN issues encountered.

[2017-06-16 17:09] Laurae2 opened #629 "[R-Package] CRAN issues"
## Environment info
Operating System: Windows 8.1 Pro
CPU: i7-4600U
R version: 3.4

To make a release on CRAN, we will need first to fix all the errors / warnings / notes. Currently testing on Windows, but we will also need to test on Linux. If some of them cannot be fixed, we will need to have an explanation for each of those which will not be fixed by us. @guolinke

Maybe time to add some vignet

[2017-06-16 17:34] guolinke commented on #628
can you change 0.5 in this line : https://github.com/Microsoft/LightGBM/blob/master/src/boosting/gbdt.cpp#L150, to 1e-6 , and try again?

[2017-06-16 17:43] guolinke commented on #628
can you also try the 'bagging' branch ?

[2017-06-17 01:18] guolinke commented on #629
@Laurae2
1. After execute the  https://github.com/Microsoft/LightGBM/blob/master/R-package/build_package.R, the R-Package folder is a self-contained package, we can directly use it.
2. Why need to go back to MinGW in Windows ?

[2017-06-17 01:23] guolinke commented on #578
@wxchan, @henry0312 , any updates ? Do we have any issues to submit it to pypi ?

[2017-06-17 04:11] wxchan commented on #578
@guolinke xgboost has a script to build python https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/build-python.sh, we may need something like this, I am not sure how to write it for all platforms.

[2017-06-17 04:27] guolinke commented on #578
@wxchan we can use python language to build package instead. It is easier for the all platforms.

[2017-06-17 05:07] lucidfrontier45 commented on #578
@wxchan
It is obvious that xgboost does not support pip install for Windows.
https://github.com/dmlc/xgboost/blob/master/python-package/setup_pip.py#L17

[2017-06-17 05:48] wxchan commented on #578
@lucidfrontier45 I know. It's better we can support Windows.

[2017-06-17 06:39] asking28 opened #631 "Error while downloading LightGBM on Windows GPU version. -cmake error is attached below."
![error](https://user-images.githubusercontent.com/29248466/27250826-805874b6-5356-11e7-9b60-3477466c4ae0.png)

1.I installed CUDA, then I clone GPU version LightGBM in path C:\github_repos using Git Bash.Then I ran cmake which gave error.

[2017-06-17 06:42] guolinke commented on #631
@asking28
It seems you don't have cpp compiler. Do you have MS build or visual studio ?
And the correct version of boost ?

[2017-06-17 06:46] asking28 commented on #631
Yes Sir I have 2 versions of boost ,boost_1_63_0 and boost_1_64_0. I have Miscrosoft Visual Studio Code. And codeblocks Installed.

[2017-06-17 06:52] guolinke commented on #631
@asking28
code::blocks ?  A cpp compiler ?
We only test it with visual studio (VS code is only a editor, not a IDE), MS Build and cmake.
refer to https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#windows

[2017-06-17 07:04] asking28 commented on #631
@guolinke
Yes Sir,Code::blocks.I am downloading Visual Studio.If it works I will let you know.Thank You,

[2017-06-17 07:16] Laurae2 commented on #629
@guolinke CRAN Windows machines do not have MSBuild or Runtimes for Visual Studio compiled code. They use MinGW 4.9 and Rtools to compile code and create packages.

If using precompiled stuff, we have to check with them about how we can get the package accepted on CRAN. CRAN usually compiles packages themselves in an automated fashion and there should be no error/warning/note when running the chec

[2017-06-17 07:40] guolinke commented on #629
@Laurae2
It can run by copy vc runtime DLL to the same folder of lib_lightgbm.dll manually

[2017-06-17 07:55] Laurae2 commented on #629
@guolinke vc runtime DLL is MIT license? Everything in the R package must be MIT license if the R package is MIT in CRAN.

[2017-06-17 08:03] Laurae2 commented on #629
This is the rule for using binary packages for Windows / Mac:

You can also check here online to try to pass a fake Windows CRAN check: https://win-builder.r-project.org/

[2017-06-17 08:16] Laurae2 commented on #628
@guolinke Switching to 1e-6 seems to fix the issue.

On bagging branch, it was the same (branch is gone now?).

[2017-06-17 08:26] Laurae2 opened #632 "Threading and bagging: not reproducible"
## Environment info
Operating System: Windows 8.1 Pro
CPU: i7-4600U
R version: R 3.4 with VS compilation

Bagging leads to different results when using different number of threads. However, when the number of threads is fixed, the expected (equal) result is reproducible.

This cause major issues when trying to reproduce the results of a script when the number of threads is not specified.

Code for

[2017-06-17 08:32] asking28 commented on #631
![image](https://user-images.githubusercontent.com/29248466/27251473-9f358cde-5365-11e7-87e2-e164da077a6f.png)
Sir,now I get this error.

[2017-06-17 08:51] guolinke commented on #631
Lightgbm is in your system32 folder?
please run it in the corrct folder

[2017-06-17 09:13] guolinke commented on #632
This is expected. We use multi threading to speed up the bagging, and each thread bags its own data.

[2017-06-17 09:15] guolinke commented on #632
But some test accuracy of your logs seems very strange

[2017-06-17 09:18] guolinke commented on #628
@Laurae2 can you try the latest master branch?

[2017-06-17 09:35] Laurae2 commented on #632
@guolinke This is 10% subsampling on agaricus dataset. I expect to get bad results without many rounds, here I limited it to 5 to get readable results.

[2017-06-17 09:44] asking28 commented on #631
![error3](https://user-images.githubusercontent.com/29248466/27251945-9345b8e0-536f-11e7-9c54-d1a39ca0fa91.png)
It is giving same error.

[2017-06-17 09:53] guolinke commented on #631
It seems your installation of MS Build is not correct.  How do you install it ?
BTW, can you paste the text log instead ?

[2017-06-17 09:55] guolinke commented on #632
@Laurae2 I think we can add a warning for the reproducible .

[2017-06-17 09:59] guolinke commented on #631
@asking28
You installed the Visual Studio 2017 ? Did you enable the visual C++ when installing ?

[2017-06-17 10:00] asking28 commented on #631
I enabled Visual Studio General while installing.

[2017-06-17 10:02] guolinke commented on #631
You can install it again, make sure you enable the visual C++ functions .

[2017-06-17 10:21] asking28 commented on #631
I reinstalled it but it did not ask me this time to enable Visual C++.

[2017-06-17 10:27] guolinke commented on #631
@asking28 refer to this: https://docs.microsoft.com/en-us/visualstudio/install/modify-visual-studio

[2017-06-17 11:39] guolinke commented on #628
@Laurae2
I add some timing output in the "bagging" branch. Can you run with it and paste the logs (enable verbose) ?

[2017-06-17 11:47] guolinke commented on #224
move to #629

[2017-06-17 11:47] #224 closed

[2017-06-17 11:55] asking28 commented on #631
Thanks for the great help.It is working now.

[2017-06-17 12:12] Laurae2 commented on #628
Here some logs. I think some logs are out of place, no idea why. I'll retry with CLI.

[code]

[2017-06-17 12:21] Laurae2 commented on #628
@guolinke Better logs below:

[code]

[2017-06-17 12:28] Laurae2 commented on #628
@guolinke This is with 1e-6 fix:

[code]

[2017-06-17 12:38] #628 closed

[2017-06-17 12:39] guolinke commented on #628
@Laurae2 Thanks for the help.
I think the latest master branch have fixed this.

[2017-06-17 12:45] Laurae2 commented on #628
@guolinke I am getting segmentation fault instead now.

[code]

[2017-06-17 12:50] guolinke commented on #628
@Laurae2 sorry, it has a bug. I just use "push -f" to fix it.

[2017-06-17 13:53] guolinke commented on #629
@Laurae2

So the dll of vc runtime is ok ?

Another solution: upload our dlls (include vc runtime) to another website (like nuget), and download it when install R-package ?

[2017-06-17 14:11] Laurae2 commented on #629
@guolinke We need to ask uwe.ligges@r-project.org to see if it is feasible or not to use Visual Studio DLL requiring VC runtime.

The whole installation and the DLL compilation must be done by Uwe Ligges.

[2017-06-17 14:17] #632 closed

[2017-06-17 14:44] #631 closed

[2017-06-17 14:44] #622 closed

[2017-06-17 14:44] #574 closed

[2017-06-17 17:36] coforfe commented on #629
Hello,
Good to see that you are close to release it to CRAN. Thanks for that!

I am going to start with the vignette.

Is there any point you want to highlight?.
And regarding the time frame for this, when should it be ready?.

Thanks!
Carlos.

[2017-06-18 03:50] wxchan commented on #578
@guolinke
We can pack python and c++ codes into source distribution (https://docs.python.org/3.5/distutils/sourcedist.html), but I can't get compiled with pip.

I rather leave this to a more experienced user, because if you upload one version that not works well, you cannot upload with the same version number again even if you deleted it. Honestly I already uploaded one bad version (I thought it c

[2017-06-18 03:57] guolinke commented on #578
@wxchan
We cannot offline test the installation of built package ?

[2017-06-18 04:06] guolinke commented on #578
@wxchan
I think the process is :
1. build a python-package that can submit to the pypi
2. test the installation offline, make sure everything is okay.
3. upload to the pypi

For the offline installation, I remember it can use the "wheel" file .

[2017-06-18 04:12] guolinke commented on #629
@Laurae2 okay, can you help to ask Uwe Ligges ?

[2017-06-18 04:28] wxchan commented on #578
The wheel is binary distribution (bdist), we need to build it on different platform separately.

[2017-06-18 04:32] guolinke commented on #578
@wxchan
There is not the offline source distribution ?

[2017-06-18 04:36] wxchan commented on #578
there will be a `lightgbm-0.2.tar.gz` file after run `python setup.py sdist`, but I don't know how it's processed when run `pip install`.

[2017-06-18 04:39] guolinke commented on #578
@wxchan Can you create a repo for the python-package build ? So that I can try it as well.

[2017-06-18 04:50] henry0312 commented on #578
I think we can release binary distribution on PyPI and Github with travis (and Docker).

[2017-06-18 04:52] henry0312 commented on #578
For WIndows, we need to use [AppVeyor](https://www.appveyor.com/).

[2017-06-18 05:04] guolinke commented on #578
@henry0312 and osx ?

[2017-06-18 05:12] henry0312 commented on #578
@guolinke Travis CI provides osx and ubuntu environment.
https://docs.travis-ci.com/user/ci-environment/
https://docs.travis-ci.com/user/osx-ci-environment/

By the way, can you use Azure instances to deploy?
I guess that we can release binary distribution with Jenkins and Docker on Azure.
(I've already used Jenkins and Docker for binary distribution for my Ubuntu)

[2017-06-18 05:13] wxchan commented on #578
https://github.com/wxchan/LightGBM/commit/b3290823627fa78474ccf13ccc9c177aaaa44094

I copy src and include folder into python-package folder and run `python setup.py sdist` and get `lightgbm-0.2.tar.gz`. We need to write something in setup.py to make it compiled.

[2017-06-18 07:35] spedygiorgio commented on #627
I meant that once the documentation provided that details in full. I was suggesting to put it in the official documentation again. G

[2017-06-18 14:03] guolinke commented on #578
@wxchan

Check the branch "python-package".
Now it can build the source distribution. And the built package can be installed by pip. (only test in windows).

[2017-06-18 14:47] wxchan commented on #578
@guolinke should I run `python setup.py sdist` to test? got an error:
[code]

[2017-06-18 15:10] guolinke commented on #578
@wxchan seems linux also has this error. I will check it

[2017-06-18 16:04] guolinke commented on #578
@wxchan can you help to fix the getopt errors ? The error is very strange.

[2017-06-19 12:15] everdark commented on #346
Hi recently I just found that the model file output by R can not be used in CLI or python version due to lacking of the `feature_infos`. Does this mean that R is using a different version of lightgbm?

I already re-compiled lightgbm from master branch and re-install the python and R package.
I install the R package by using:

[code]

Is this by design? or how can i output a model file from R that

[2017-06-19 12:38] guolinke commented on #346
@everdark
I think cli, R and python share the same format of model file.
can you upload the model file generated by R here?

[2017-06-19 15:49] everdark commented on #346
@guolinke
The file generated is like this:
https://transfer.sh/QFgkV/lgb.model

It is generated by a call to `lgb.save` after `lgb.train`.

Head: (there is no `feature_infos` as I could find for other model files generated by the cli/python examples)
[code]

[2017-06-19 16:04] guolinke commented on #346
@Laurae2 can you help to this ?
I think maybe it maybe is caused by the string format in R.
The line of "feature_info" contains something like ```[...]```.

[2017-06-20 05:27] guolinke commented on #578
Now we are on the pypi 😄

[2017-06-20 14:00] hlee13 opened #637 "what's the format in rank.train.query and rank.train"
such as the title, query id in rank.train.query?
And which is the query id in rank.train ?

[2017-06-20 14:04] guolinke commented on #637
refer to https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md#query-data

[2017-06-20 14:04] #637 closed

[2017-06-20 14:15] hlee13 commented on #637
thanks

[2017-06-20 16:43] lai-bluejay opened #638 "how to use lightgbm tree to bin data."
I'm sorry for the issue #622 that I didn't apply u. I would check it again later.
At the same application, I want to use  the result of single feature gbdt , to bin the feature vector for LR. Then I used LightGBM to train model for single feature and parse the tree.

the feature info:
[code]
the length of feature value list is equal to leaves, 14. And I want to get 14 bins for my feature.  It seem

[2017-06-20 19:14] ClimbsRocks commented on #578
@guolinke @wxchan Thanks so much for this! The pypi distribution makes it much easier to make this a requirement for our production environment.

I'm very impressed by the engineering on this project so far, building in GPU support so rapidly, supporting bindings for so many different languages, and having the pypi distribution. I'm very excited to be able to use lightgbm with the drop of a `pip i

[2017-06-20 22:24] lucidfrontier45 commented on #578
Thanks guys!

Can you also kindly supply binary wheel version?
It will be great help since I no longer need to install compiler suits and become easier to deploy with Docker.

[2017-06-21 03:53] huanzhang12 commented on #620
Sorry for my late reply because I was traveling recently.

The multi-GPU case can be view as a special case of distributed feature-parallel training, and many existing code can (hopefully) be reused. Right now we can theoretically run multiple instances of LightGBM on one machine, each assigned a different GPU and a subset of features, and use the feature parallel distributed tree learner. But thi

[2017-06-21 07:19] guolinke commented on #638
@lai-bluejay
can you upload your data here (a subset is okay)?
according to this line ```[LightGBM] [Info] Total Bins 256```, I don't think your feature only contains ```14``` values.

[2017-06-21 11:04] wxchan commented on #578
binary dist has higher priority than source dist if use pypi, maybe we need to find somewhere to hold those wheels.

[2017-06-21 11:18] lucidfrontier45 commented on #578
@wxchan
What do you mean somewhere? PyPI itself can contain wheels of the same version for different platforms.

[2017-06-21 11:40] guolinke commented on #578
@wxchan @lucidfrontier45
Do we need to use another name if host in pipy again?

[2017-06-21 12:12] wxchan commented on #578
@lucidfrontier45 pip prefers wheels than sdist. If we use wheels, sdist won't be used. It's bad when binary wheels not worked.
@guolinke but I found there is a `--no-binary` option, so I think it's ok to put them under same name.
refer to:
[code]
https://pip.pypa.io/en/stable/user_guide/#installing-from-wheels

[2017-06-21 12:15] lucidfrontier45 commented on #578
@guFalcon

No. For example, take a look at this tensorflow repository.
https://pypi.python.org/pypi/tensorflow/1.2.0
They put wheel for each combination of (OS, Python version) to the same repository.

PyPI allow you to upload multiple wheels to the same repository.
All you need to do is to correctly name the wheels.
https://www.python.org/dev/peps/pep-0491/#file-name-convention
I think it can be

[2017-06-21 12:18] guolinke commented on #578
So it needs [python version] x [windows, linux, osx] wheels  ... ?

[2017-06-21 12:20] lucidfrontier45 commented on #578
@guolinke
I think LightGBM's code is independent of Python versoin.
So you only need three wheels (win, linux, osx).

[2017-06-21 12:29] guolinke commented on #578
I think we can use something like https://github.com/joerick/cibuildwheel to build these wheels in CI.
But we need to enable osx build in travis first. @wxchan can you help for this ?

[2017-06-21 13:57] zyoohv opened #640 "[LightGBM] [Info] No further splits with positive gain, best gain: -inf"
## Environment info
Operating System: Ubuntu16.04
CPU:Intel
Python version: Python 2.7

## Error Message:

Could you tell me what's the mean of this message?

[code]

## Param

[code]

[2017-06-21 14:08] guolinke commented on #640
@zyoohv
it means the learning of tree in current iteration should be stop, due to cannot split any more.
I think this is caused by ```"min_data_in_leaf":1000```, you can set it to a smaller value.

[2017-06-21 14:13] zyoohv commented on #640
@guolinke
Thank you very much. I changed it according your recommend. And now it works! :)

[2017-06-21 14:13] #640 closed

[2017-06-21 14:18] guolinke commented on #640
@zyoohv
This is not a bug, it is a feature.
The output message is to warn user that your parameters may be wrong, or your dataset is not easy to learn.

[2017-06-21 15:11] procoru opened #641 "How to compile lightgbm using emscripten?"
How to compile lightgbm using emscripten (http://kripken.github.io/emscripten-site/)?

[2017-06-21 16:16] wxchan commented on #578
@guolinke Current travis on mac takes forever to start. I will open a pr later to see if it works.

btw, can you reopen this thread? not easy to find when it's closed.

[2017-06-21 16:23] lai-bluejay commented on #638
The following data is a demo , the file type is npy. The shape is (287132, 20).
[demo.zip](https://github.com/Microsoft/LightGBM/files/1092126/demo.zip)
The first column is the same as issue.
And the parse code is ：
[code]

[2017-06-22 04:34] jzun commented on #389
A following error came when I use R 3.3.3 to install lgb with devtools:

[code]

Any reply will be greatly appreciated!

[2017-06-22 04:37] jzun commented on #389
A following error came when I use R 3.3.3 to install lgb with devtools:

[code]
translated as:

[code]

Any reply will be greatly appreciated!

[2017-06-22 04:39] jzun commented on #389
A following error came when I use R 3.3.3 to install lgb with devtools:

[code]
translated as:

[code]

ps: cmake 3.9, rtools3.4 and vs2017 have been installed
Any reply will be greatly appreciated!

[2017-06-22 04:41] guolinke commented on #389
@jzun it seems your r version is 32-bit (i386), can you use the 64-bit R ?

[2017-06-22 04:45] jzun commented on #389
@guolinke it seems i just used the 64-bit to install with its head line in R console:
[code]

[2017-06-22 04:47] guolinke commented on #389
@jzun maybe you are using the 32-bit of Rtools ?
you can list the folder in your ```C:\Rtools```

[2017-06-22 05:38] jzun commented on #389
@guolinke
It worked after I reinstall the R and Rtools without 32-bit.
And GPU version did!
thank you!

[2017-06-22 05:42] jzun commented on #389
@guolinke
But a confusion came out with the running time test:
i used GTX 1060 to train the multiclass demo wiht about 0.4~0.5 sec, but just about 0.01 sec on amd 1700 cpu, which is a little bit strange...

[2017-06-22 05:45] guolinke commented on #389
@jzun
I guess you are running with a small dataset.
When data is small, using GPU cannot gain the speed-up.

[2017-06-22 06:01] jzun commented on #389
@guolinke
yeah i geust so
And I plan to translate the LightGBM installation guide into Chinese, and put it on my WeChat Subscription called "统计译文",  it's OKAY?
I think we should call for guys to install and use lgb, and report the their suggestions and  problems, through the socal network.

[2017-06-22 06:08] jzun commented on #389
@guolinke
yeah i geust so
And I plan to translate the LightGBM installation guide into Chinese, and put it on my WeChat Subscription called "统计译文", it's OKAY?
I think we should call guys to install and use lgb, and report the their suggestions and problems, through some effective ways.

[2017-06-22 06:10] guolinke commented on #389
@jzun sure

[2017-06-22 07:58] lai-bluejay commented on #638
I update the demo data.  I'm sorry that last one demo data was wrong.

[2017-06-22 07:58] bosonnn opened #643 "[R] How to save an lgb.CVBooster model to file?"
- run the cv

[code]

- get an error when trying to save the output
[code]

Error in lgb.save(lgb_model_cv, "output/lgb_0622_logloss") :
  lgb.save: booster should be an ‘lgb.Booster’

[2017-06-22 07:59] guolinke commented on #638
@lai-bluejay
sorry, the problem is not solved ?

[2017-06-22 11:39] everdark commented on #346
sorry I think the problem is solved.
Probably because I was loading R package from cache (which using the old ver of lightgbm).

[2017-06-22 11:39] #346 closed

[2017-06-23 10:09] araujoalexandre opened #644 "Predictions are very slow when feature dimension is large"
Hi,

I have a dataset with 800M instances for training and 100M for validation.
The dataset is in LibSVM format. I use the command line interface with Ubuntu.

The training time was very reasonable compare to the size of the dataset ~ 6-7 hours.
After the training finished, I overridden the **gbdt_prediction.cpp** with the hard coded model dumped from the convert_model, convert_model_language opti

[2017-06-23 11:30] guolinke commented on #644
@araujoalexandre
can you provide the number of your feature ?
and the parameters used in training ?
Did you try the prediction without if-else conversion ? Is that even slower ?

[2017-06-23 11:38] guolinke commented on #643
@bosonnn
I think CV actually doesn't contain a model, it contains many models.
CV is used for the parameter tuning.
So a better way is using the parameters used CV to train a model by ```lgb.train```.

[2017-06-23 11:46] hlee13 opened #645 "Q: thread safe, In file src/application/predictor.hpp"
Such as the title.

branch master, file: src/application/predictor.hpp , line:150

if I change the function 'fprintf' to 'fwrite', it would not be thread safe.
I want to use fwrite, but found do not work. If I need use lock when call fwrite function

[2017-06-23 12:17] guolinke commented on #645
sorry, I didn't get you.
why need to change to `fwrite` ?

[2017-06-23 12:17] hlee13 commented on #645
![image](https://user-images.githubusercontent.com/4981187/27481735-cb85caca-5850-11e7-840e-96fcec6035d8.png)

I found the problem.

[2017-06-23 12:20] hlee13 commented on #645
I what to binary to file.

data is std::vector<double>
when I use fwrite, the file contains both Big_endian and Little_endian.

[2017-06-23 12:34] hlee13 commented on #645
I get it, sorry.

[2017-06-23 12:53] haricharan123 opened #646 "difference in train/test scores"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Ubuntu
CPU: 24 cores / 128GB Ram
C++/Python/R version: Python

## Problem Description

I seem to get good accuracy (AUC) with the train

[2017-06-23 12:54] #645 closed

[2017-06-23 12:57] guolinke commented on #646
I think the AUC score should be calculated by the probability, not the 0/1 .

[2017-06-23 13:45] araujoalexandre commented on #644
I have 134 features
Yes I tried without If-else conversion. I think it's a bot slower.

[2017-06-23 13:51] guolinke commented on #644
@araujoalexandre Did you use the code of master branch?
I think it should be very fast.

[2017-06-23 13:56] araujoalexandre commented on #644
Yes, I used the master branch.
In the LibSVM, indexes are in a 2**25 dimension space.
Would that be the problem ?

[2017-06-23 14:02] guolinke commented on #644
@araujoalexandre
134 feature with  2**25 dimension ?
Yeah, it will be a big problem.

A possible solution: set ```num_thread``` to ```1``` or ```2```, to reduce the memory cost.

[2017-06-23 14:25] araujoalexandre commented on #644
I used the hashing trick to create the dataset.
So the number of feature is not very high but the dimension is very large to avoid collision.

I'll try with 1 or 2 treads.
Otherwise I guess I need to re map the index in a smaller dimension space.

Would that resolve the problem ?

[2017-06-23 14:27] guolinke commented on #644
@araujoalexandre
yeah, it will be much faster if feature dimension is small. But you need to retrain the model as well.

[2017-06-23 15:44] araujoalexandre commented on #644
@guolinke
I tried with 1 thread, it is still very slow.
I tried to do a re map of the index into a much smaller dimension space.

The thing I don't understand is why the training is fast with the same dimension space but the prediction is slow.

[2017-06-23 16:26] guolinke commented on #644
@araujoalexandre
We have many optimizations for the training with high dimension data.
However, for the prediction, it needs many random access on feature space. And we didn't optimize for it yet.

[2017-06-24 01:47] Gautamshahi opened #647 "Issue while making Build"
## Environment info
Operating System: Windows7
CPU:
C++/Python/R version: 2.7

## Error Message:
![image](https://user-images.githubusercontent.com/3966230/27504710-0f1b9466-58ad-11e7-8942-516b6b4bb2bf.png)
While making the build, i am getting the below error
CMake Error at CMakeLists.txt:8 (PROJECT):
  Generator

    NMake Makefiles

  does not support platform specification, but platform

    x6

[2017-06-24 01:51] guolinke commented on #647
1. can you use the windows cmd instead?
2. did you have visual studio ?

[2017-06-24 01:54] Gautamshahi commented on #647
Yes I have visual studio, community.

Let me try with Windows cmd.

Is it mandatory to build with cmake or I can try some other build tool also?

On Jun 24, 2017 03:51, "Guolin Ke" <notifications@github.com> wrote:

[2017-06-24 01:57] guolinke commented on #647
@Gautamshahi
you also can open ```lightgbm.sln``` in ```windows``` folder.

[2017-06-24 02:10] Gautamshahi commented on #647
Build is done.

I am new to LightGBM so Will you please tell how to use LightGBM in visual
studio?

On Jun 24, 2017 03:57, "Guolin Ke" <notifications@github.com> wrote:

[2017-06-24 02:12] chivee commented on #647
@Gautamshahi just open the solution file under https://github.com/Microsoft/LightGBM/tree/master/windows/

[2017-06-24 02:13] Gautamshahi commented on #647
Okay thank you.

On Jun 24, 2017 04:12, "Qiwei Ye" <notifications@github.com> wrote:

[2017-06-24 02:13] #647 closed

[2017-06-24 02:22] Gautamshahi commented on #647
Why i am getting this two error

![image](https://user-images.githubusercontent.com/3966230/27504953-00ec33d2-58b2-11e7-9532-2ffa7157b927.png)

[2017-06-24 02:30] guolinke commented on #647
@Gautamshahi
Are you using the 32-bit windows?
we only support 64-bit systems.

[2017-06-24 02:32] Gautamshahi commented on #647
I am using 64-Bit System.

On Sat, Jun 24, 2017 at 8:00 AM, Guolin Ke <notifications@github.com> wrote:

--
Gautam Kishore Shahi,
Master Student,
DISI- University of Trento,
Italy

[2017-06-24 02:38] guolinke commented on #647
@Gautamshahi can you delete the "LightGBM-master\build" folder, then try again ?
And can you run it with windows cmd ? the mingw cannot build correctly.

[2017-06-24 20:57] areshand opened #648 "LambdaRank output negative numbers"
## Environment info
Operating System: AWS box
CPU:
C++/Python/R version: c++ 11

The trained lambdarank model outputs negative score as below.

I used 0, 1, 2 in training data to indicate "irrelevant", "related", "highly relevant" as labels. I expected the prediction results should also fall into the range of [0, 2]. But the results contain negative numbers. How should I interpret the results? Is

[2017-06-25 01:23] guolinke commented on #648
This is normal. For the ranking, we didn't limit its output range. And you can sort the prediction score (in per query) to get the rank result.

[2017-06-25 01:23] #648 closed

[2017-06-25 01:24] #646 closed

[2017-06-25 01:24] #643 closed

[2017-06-25 01:24] #638 closed

[2017-06-25 02:39] guolinke commented on #578
Now the wheels can be built via CI, and push back to github release.

[2017-06-25 02:39] #578 closed

[2017-06-25 02:40] guolinke commented on #74
https://www.nuget.org/packages/LightGBM

[2017-06-25 02:40] #74 closed

[2017-06-25 02:47] guolinke commented on #544
you can get the binaries from the github release now: https://github.com/Microsoft/LightGBM/releases

The gpu version is still unavailable, due to these CI cannot support CUDA.

BTW, here is a simple version for installing GPU version in windows: https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#windows-2 .

[2017-06-25 03:01] guolinke commented on #578
@wxchan can you help to test the wheel installation in osx ? I am not sure about the package naming conversion in OSX.
And can it run without installing gcc with openmp ?

[2017-06-25 03:25] guolinke commented on #613
@Laurae2
Now the appveyor can compile dll, and push back to github release : https://github.com/Microsoft/LightGBM/releases

[2017-06-26 00:42] lucidfrontier45 commented on #578
I found the wheel in PyPI works fine on my ubuntu 16.04.
Thank you so much.

[2017-06-26 04:29] #544 closed

[2017-06-26 04:30] chivee commented on #641
Considering the dependencies of LightGBM, I'm not quite sure that weather this could work on LightGBM

[2017-06-26 06:43] zhukunism commented on #620
@huanzhang12 , I am running lightgbm in R on a machine with 4 GPU's. I tried to specify gpu_device_id with 0,1,2,3, but it always runs on the default 0 device. Is gpu_device_id not supported by R wrapper, or am I doing something wrong? Need your helps. thanks!

[2017-06-26 06:44] Laurae2 commented on #620
@zhukunism It runs only on a single GPU currently as explained in this issue

[2017-06-26 06:56] zhukunism commented on #620
@Laurae2, I am trying to launch multiple session and let each lightgbm runs on different GPU device, but got no luck. My machine has 4 GPUs.

So my question is, can it runs on one specific GPU by configuring the gpu_device_id ?

[2017-06-26 07:31] Laurae2 commented on #620
@zhukunism Check this: https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Targets.md

[2017-06-26 12:50] zhukunism commented on #620
@Laurae2 , I fixed the issues after checking that doc. I need to specify both gpu_platform_id and gpu_device_id to use GPU devices other than default one. Thanks!

[2017-06-26 15:06] strint opened #649 "Add parameter to configure connetcing time between ranks?"
When running socket version parallel lightGBM, multiple lightGBM instances cannot start at the same time in my situation. One rank maybe start 15 minutes later the other rank, but the socket will only try to connect 20 times(200 seconds, 3.3 minutes) and fail(link to the code https://github.com/Microsoft/LightGBM/blob/842c592eafd56a570ca726f9fe045d98c149180b/src/network/linkers_socket.cpp#L194 ).

[2017-06-26 15:14] guolinke commented on #649
@strint
I think this situation is rare, so add a parameter may is too heavy.
A simple solution is set ```connect_fail_retry_cnt ``` or (```connect_fail_delay_time ```) to a larger number directly.

[2017-06-26 15:22] strint commented on #649
@guolinke
Yes, it's a little heavy.

 I will just edit the number and re-compile the code for the moment.

thx!

[2017-06-26 15:26] araujoalexandre commented on #644
@guolinke
It worked, after a re map of the index into a decent dimension space, the predictions took only a few minutes on 100M rows  !
Thanks a lot !

[2017-06-26 15:26] #644 closed

[2017-06-26 21:08] louispotok opened #650 "How to use gpu when lightgbm installed through pip?"
I installed lightgbm through pip (It was so easy! Thanks for doing that.)

Now I'm trying to train using a GPU, as per [this tutorial](https://github.com/Microsoft/LightGBM/blob/master/docs/GPU-Tutorial.md) and I think it's missing a section on how to do this after a pip installation.

I tried just setting 'device=gpu' and got the following error: 'GPU Tree Learner was not enabled in this build. R

[2017-06-26 23:09] sbodenstein opened #651 "Thread-Safety of C API"
Looking at the implementation, the various functions in `c_api.h` look thread-safe. But I can't find this documented anywhere.

So: are they all thread-safe?

[2017-06-27 00:52] louispotok opened #652 "Minor: feature_importance python docstring formatting"
The docstring for the `feature_importance` function in python is formatted wrong. In the "parameters" section of the docstring, each line is being parsed as a separate parameter.

[Code](https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1651) and [how it looks in the documentation](https://lightgbm.readthedocs.io/en/latest/python/lightgbm.html#lightgbm.Booster.fea

[2017-06-27 01:13] guolinke commented on #651
@sbodenstein
Yeah, they are all thread-safe.

[2017-06-27 01:13] #651 closed

[2017-06-27 01:15] guolinke commented on #650
as mentioned in our document, the gpu version only can be installed from github now: https://github.com/Microsoft/LightGBM/tree/master/python-package .

@wxchan , can we pass the parameter ```--use_gpu``` to ```setup.py``` when installing from pip ?

[2017-06-27 01:17] guolinke commented on #652
@louispotok Thanks, I will fix it directly.

[2017-06-27 01:18] #652 closed

[2017-06-27 02:50] #649 closed

[2017-06-27 06:18] #641 closed

[2017-06-27 09:15] qashqay654 opened #653 "Multicore prediction"
Hello,

After learning step I'm trying to make a prediction, but in spite of setting fixed number of num_threads in learning prediction function uses all available cores. Is it possible to limit cores usage in prediction step?

[2017-06-27 10:59] miguelgfierro opened #654 "Parameter search in the standard python API"
I know that there is a way of doing parameter search in the Sklearn API with `GridSearchCV`. Is there a way to do the same with the standard API?

[2017-06-27 11:28] sbodenstein commented on #651
Thanks!

[2017-06-27 11:31] guolinke commented on #653
@qashqay654
Did you use the latest code of master branch? I think we had fixed it in the latest code.

[2017-06-27 16:44] eyurtsev opened #655 "__version__ is hard-coded (and has drifted) in the python package"
lightgbm/__init__.py has the version hard-coded to __version__ (currently to 0.2)

The actual version (in the VERSION.txt) is at 2.0.3 it seems.

[2017-06-28 02:14] fword opened #656 "binary classification predict question"
I use binary classification to train a model,when i predict my test data,it get continuous variable.is there a threshold to tell whether it's 1 or 0 ? or should i perform a logic regression on this score?

[2017-06-28 02:15] guolinke commented on #656
@fword
The result is already the output of sigmoid. you can use 0.5 as threshold to convert to 0/1.

[2017-06-28 02:15] #656 closed

[2017-06-28 02:18] #655 closed

[2017-06-28 02:18] guolinke commented on #655
Thanks! already fixed.

[2017-06-28 03:26] jiang1406124224 opened #657 "How to Use lightGBM in CPP Project ?"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-06-28 04:44] geoHeil opened #658 "gpu support osx"
What about gnu support on OS X? https://github.com/Microsoft/LightGBM/wiki/Installation-Guide does not mention it. I believe e-gpus will become popular. It would be great to see gpu support on OS X as well.

[2017-06-28 08:34] guolinke commented on #658
@geoHeil
We doesn't have a osx gpu machine to test.
But I think the process is similar to the linux: https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#linux-2

[2017-06-28 08:52] guolinke commented on #657
1. just include all codes of LightGBM to your project.
2. compile the library, and use our c_api interface:  https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/c_api.h

[2017-06-28 08:52] #657 closed

[2017-06-28 10:27] wxchan commented on #650
@guolinke there is an option `--install-option` https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-install-option, no sure if it works

[2017-06-28 10:28] wxchan commented on #578
@guolinke it can be installed on my mac. W/o gcc, it might not work. See logs here https://travis-ci.org/wxchan/LightGBM/jobs/247779798.

[2017-06-28 10:29] wxchan commented on #654
GridSearch:
[code]

Use `sklearn.model_selection.ParameterSampler` for random search

[2017-06-28 11:02] miguelgfierro commented on #654
thanks

[2017-06-28 11:02] #654 closed

[2017-06-28 11:16] wxchan commented on #650
I made a test, the `--install-option='--gpu'` option only can be used for `python setup.py --gpu install` instead of `python setup.py install --gpu`, so we need another way to register new argument. This thread might help: https://stackoverflow.com/questions/18725137/how-to-obtain-arguments-passed-to-setup-py-from-pip-with-install-option.

Another option is we release another package like `lightgb

[2017-06-28 22:50] BeatriceGR commented on #3
@Yorko Hi. I tried doing the brew link --overwrite gcc and got this error
Error: No such keg: /usr/local/Cellar/gcc

do you know why?

[2017-06-29 02:08] heroxrq opened #660 "Is there any paper or docs describe the algorithm in detail?"
RT
I want to learn the LightGBM Algorithm detailedly, but the wiki is somewhat simple, it just introduce the LightGBM. Is there any paper or docs describe the algorithm in detail?
THX a lot!

[2017-06-29 06:10] mujtabatirmizi opened #661 ""Met Exception" when training model"
Hi, I was using the LightGBM repo to train a relevance model using lambdarank. I've trained a couple models using the same config. For some reason after I increased the size of my training data I'm getting an error:

"Met Exceptions:
Label excel 947753232"

I couldn't seem to find much documentation on what that exception exactly meant. I was wondering whether the issue was with the size of the tr

[2017-06-29 07:15] guolinke commented on #661
@mujtabatirmizi
I think you are using wrong label.
For the ranking, the label is ```int``` type, and represent the relevant. e.g.
0: bad
1: good
2. perfect

[2017-06-29 07:52] Laurae2 commented on #629
@guolinke yes, but I'm currently on a project so I don't have enough time anymore.

Perhaps @dselivanov can?

[2017-06-29 07:53] Laurae2 commented on #658
@guolinke Travis provides support for Mac OSX, but we need someone who knows Mac to set it up correctly.

[2017-06-29 07:54] Laurae2 commented on #624
@hlee13 You can contribute by adding MAPE to LightGBM in C++, or you can use a custom metric in R/Python.

[2017-06-29 07:57] Laurae2 commented on #353
@gugatr0n1c Is it feasible with binned data, or should the user perform and append several matrix rotation to the dataset then use subsampling as an alternative?

[2017-06-29 09:32] dselivanov commented on #629
I doubt cran will accept anything which requires vc or something not open sourced. I'm out of context, could you point me why vc is used instead of mingw?

[2017-06-29 14:29] mmm311 opened #662 "gbm = lgb.train(params, lgb_train, num_boost_round=10, init_model='model.txt', valid_sets=lgb_eval) print("Finish 10 - 20 rounds with model file ...") Wrong type(DataFrame) for weight, should be list or numpy array"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-06-30 03:23] #662 closed

[2017-06-30 04:55] #661 closed

[2017-06-30 06:10] asking28 opened #663 "[Python]Error Regression:Stopped training because there are no more leaves that meet the split requirements."
[code]
This is my code snippet. I am trying to predict so value using these parameters and it throws error before completing first round.
Error is -start training
[LightGBM] [Warning] Stopped training because there are no more leaves that meet the split requirements.
[1]     valid_0's l1: 6.88414e+06
What is the possible cause of this error. And how can it be fixed?

[2017-06-30 06:26] guolinke commented on #663
@asking28
This is not a error. It is warning that you data cannot be learned by tree algorithm.

possible reasons: 1. your data is too small. 2. your data is very random, cannot learn trees from it.

you can try the ```min_data=1``` .

[2017-06-30 06:26] #663 closed

[2017-06-30 06:31] guolinke commented on #650
refer to the new document: https://github.com/Microsoft/LightGBM/tree/master/python-package

[2017-06-30 06:31] #650 closed

[2017-06-30 06:32] #653 closed

[2017-06-30 09:14] #660 closed

[2017-06-30 12:26] zhxwmessi opened #666 "Is the function "LGBM_BoosterPredictForMat" thread safe?"
Is the function "LGBM_BoosterPredictForMat" in c_api  thread safe ? If I call this function to predict with multi thread. Since Xgboost predict function is not thread safe

[2017-06-30 12:29] guolinke commented on #666
@zhxwmessi
1. The prediction is already multi-threading.
2. If using the different model, it is thread-safe.
3. if using the same model but with the same number of iterations, it is thread-safe.

[2017-06-30 12:29] #666 closed

[2017-07-01 14:10] GlobalMin commented on #574
I also get this issue constantly now.

[2017-07-01 16:30] fo40225 opened #668 "[Python] memory leak after training"
## Environment info
Operating System: Windows 10 1703
CPU: Intel Xeon E3-1230v2
GPU: Geforce GTX 780ti 3GB (Driver 382.05)
C++/Python version:
Cmake 3.7.2
Visual Studio 2015 Update 3
Boost 1.64 lib64-msvc-14.0
CUDA 8.0.61
Python 3.6.0 64bit (Anaconda 4.3.0.1)
LightGBM 2.0.4 with GPU by pip

## Error Message:
    ---------------------------------------------------------------------------
    LightG

[2017-07-01 17:26] guolinke commented on #668
can you provide the log of memory leak?
your log seem is gpu error.

[2017-07-01 17:58] fo40225 commented on #668
when gpu error occurred, the video memory usage is full.
if change setting to use cpu, it can obsessed the python.exe memory usage is grow up.

[2017-07-02 02:00] guolinke commented on #668
@fo40225
I think the root reason is ```models.append(model)```.  The ```booster``` will use some temporary memory for the training, and we cannot free this memory automatically since we cannot know whether training is finished or not. So your workaround solution is right, it will free all temporary memory.

@wxchan
Can we add a function in Booster to free the old booster handle, then load the new

[2017-07-02 03:13] fo40225 commented on #668
Is it not the end of the training process when the lgb.train or lgb.cv returns?

It shouldn't have lazy evaluation problem here.

[2017-07-03 02:01] marugari commented on #524
https://github.com/Microsoft/LightGBM/issues/524#issuecomment-304184124
Uploaded
http://www.stat.ucdavis.edu/~chohsieh/rf/icml_sparse_GBDT.pdf

[2017-07-03 04:58] huanzhang12 commented on #524
@marugari Thanks for posting the link here!
Let me know if you have any questions regarding our paper.

[2017-07-03 22:11] niehui1983 opened #669 "not able to set num_threads using c_api interface"
Hi, I am using lightgbm c_api interface, and not able to set num_threads. The program will also run with the max of avaiable cpus. Instead, I would like to run it in only one cpu. I am running it with c++ under linux system. Below is the sample code

{
......

//initialize model from a file
int suc = LGBM_BoosterCreateFromModelfile(_modelFile.c_str(),&_out_num_iterations, &_out);

//set num_thread

[2017-07-04 01:36] guolinke commented on #669
It is very strange. From your code, the number of threads should be set.

can you try to use ```omp_set_num_threads(1);``` ? (need to include "omp.h")

[2017-07-04 01:49] guolinke commented on #668
@fo40225 The training is performed by calling this: https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1336 .
And lgb.train and lgb.cv is only a wrapper to call this function. So from the view of Booster, we cannot know when is the training end.

I want to add parameter ```keep_training_booster``` to ```lgb.train```. if ```keep_training_booster``` is false, we can

[2017-07-04 06:34] wxchan commented on #668
@guolinke it's ok, but I think perhaps users won't use Booster to keep training, they can always use a Predictor as init model for continue training.

[2017-07-04 06:36] guolinke commented on #668
@wxchan okay, so we can set default value of ```keep_training_booster``` to ```False```.
Can you help to this change ?

[2017-07-04 06:58] wxchan commented on #668
@guolinke I am not sure I have time before this weekend.

[2017-07-04 10:37] wxchan commented on #668
@guolinke I can do it later tonight.

[2017-07-05 08:14] zheguzai100 commented on #611
·* installing *source* package 'lightgbm' ...·
·** libs·
·installing via 'install.libs.R' to D:/R/soft/R-3.4.1/library/lightgbm·
·Warning: 运行命令'cmake  -DCMAKE_GENERATOR_PLATFORM=x64  ..'的状态是127·
·Warning: 运行命令'cmake --build . --target _lightgbm  --config Release'的状态是127·
·Error in eval(ei, envir) : Cannot find lib_lightgbm.dll·
·* removing 'D:/R/soft/R-3.4.1/library/lightgbm'·
·Installation failed

[2017-07-05 08:16] guolinke commented on #611
refer to: https://github.com/Microsoft/LightGBM/tree/master/R-package#preparation

[2017-07-05 08:50] zheguzai100 commented on #611
@guolinke  after my installation of git /cmake and rtools in win10(x64), all of them are set in env--path, but when i run `devtools::install_github("Microsoft/LightGBM", subdir = "R-package")`, it always ask me to install rtools again and again... and  same issues happened as above..
when i tried `cd d:/R` `git clone --recursive https://github.com/Microsoft/LightGBM` `cd LightGBM/R-package` ' R.ex

[2017-07-05 08:56] chivee commented on #611
@zheguzai100 , please make sure that your system was x64 supported, as well as your build tools

[2017-07-05 09:02] guolinke commented on #611
@zheguzai100
you need the visual studio in windows. And you should run it by the windows CMD ( not mingw or others ).
BTW, what is ```NMake ``` in your logs ?

[2017-07-05 09:13] zheguzai100 commented on #611
can't the R package run in rstudio instead of visual studio ?? and i run senetences in Windows powershell

[2017-07-05 09:24] guolinke commented on #611
Lightgbm is written by cpp, and visual studio is used for the compiling cpp codes in windows.
And can you make sure your R/Rtools is 64bit version?

[2017-07-05 13:40] niehui1983 commented on #669
Hi @guolinke,

Thanks for your quick response. I tested what your described. This is what command "ps -fTP" outputs:
UID          PID    SPID    PPID PSR  C STIME TTY          TIME CMD
hnie     3980609 3980609 3356829  22 99 09:34 pts/0    00:03:06 ./binary -p config
hnie     3980609 3980610 3356829  25  0 09:34 pts/0    00:00:00 ./binary -p config
hnie     3980609 3980611 3356829  17  0 09:34 pts

[2017-07-05 13:43] guolinke commented on #669
@niehui1983
We use openmp for the multi-threading, I think it may is the feature of openmp.

[2017-07-05 14:09] niehui1983 commented on #669
@guolinke'

Yeah, it could be the case.

[2017-07-05 16:00] zz327 commented on #611
I have very similar problem here. Let me list out my tool version first:
win10 (x64)
`R version 3.4.1 (2017-06-30) -- "Single Candle" Platform: x86_64-w64-mingw32/x64 (64-bit)`
Rtool: `Rtools34.exe`. (Rtools 2.12 and later include both 32 bit and 64 bit tools.)
Cmake: `cmake-3.7.2-win64-x64`
Visual Studio: `Community 2017 (2), Vewrsion 15.2`
This is my PATH:
`"C:\\ProgramData\\Oracle\\Java\\javapa

[2017-07-05 16:17] guolinke commented on #611
@zz327
1. when installing Rtools, can you only install the 64-bit version? from your log, it is built by 32-bit Rtools.
![image](https://user-images.githubusercontent.com/16040950/27873930-50d2b61e-61e0-11e7-842c-409d47ac1979.png)

2. The default compiler is Visual Studio (or [MS Build](https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017)) in Windows. You need to install one

[2017-07-05 17:46] zz327 commented on #611
@guolinke
Thank you for your answer.
I uninstall my Rtools and reinstall as you stated above. Also I have installed Visual Studio 2017 Community Version 15.2. In addtion, I add MSBuild as the extension. However, it shows the same problem as above. Should I add any thing related to the Visual Studio to my PATH? I am a little confused...
ttttyyyy

[2017-07-05 19:41] alexander-rakhlin opened #671 "[Python] How to suppress Info messages during cross-validation?"
Hello all,

Is there way to suppress Info messages during cross-validation? verbosity level in params and in lgb.cv call makes no difference. LightGBM version '2.0.1' was installed via pip

[2017-07-06 00:43] zheguzai100 commented on #611
git ; cmake ; visual studio installed automatically
R 3.4.1 x64 ; rtools34 x64 ;

this morning, i try to install lightgbm,
1. asking me to install rtools again(but i'v installed and  set in system env --path )
2. ‘devtools::install_github("Microsoft/LightGBM", subdir = "R-package")’
Downloading GitHub repo Microsoft/LightGBM@master
from URL https://api.github.com/repos/Microsoft/LightGBM/zipball/m

[2017-07-06 01:13] guolinke commented on #611
@zheguzai100 @zz327
I just test the installation based on your environment, it will fail if using cmake 3.7.2 . Can you upgrade your cmake to the latest version ?

[2017-07-06 01:16] zheguzai100 commented on #611
@zz327
@guolinke
hi all, i tried another way and get the target
`devtools::install_github("Laurae2/lgbdl")`
`library(lgbdl)`
`lgb.dl(commit = "master",`
`       compiler = "gcc",`
`       repo = "https://github.com/Microsoft/LightGBM",`
`       cores = 4)`

but at  the beginning of lgb.dl, i saw a cmake error reported:
`CMake Error: CMAKE_C_COMPILER not set, after EnableLanguage`
`CMake Error: CMA

[2017-07-06 01:19] guolinke commented on #611
@zheguzai100
I think your installation may actually fails, can you run some demos ?

[2017-07-06 01:24] zheguzai100 commented on #611
@guolinke
does it mean fail or not?
`> require(lightgbm)
载入需要的程辑包：lightgbm
载入需要的程辑包：R6

+                 label = train$label,
+                 num_leaves = 4,
+                 learning_rate = 1,
+                 nrounds = 2,
+                 objective = "binary")
[LightGBM] [Fatal] len of label is not same with #data
[LightGBM] [Warning] Only contain one class.
[LightGBM] [Info] Number of pos

[2017-07-06 01:25] zz327 commented on #611
@guolinke
Thanks for your response! I downloaded the latest release Cmake 3.8.2 and modified my PATH.
-- Building for: NMake Makefiles
CMake Error at CMakeLists.txt:8 (PROJECT):
  Generator

    NMake Makefiles

  does not support platform specification, but platform

    x64

  was specified.

CMake Error: CMAKE_C_COMPILER not set, after EnableLanguage
CMake Error: CMAKE_CXX_COMPILER not set, aft

[2017-07-06 01:26] guolinke commented on #611
@zheguzai100 it is success. But your data only have one class, which cannot be trained by binary classification.

[2017-07-06 01:28] guolinke commented on #611
@zz327
cmake will have some cache files.
can you delete the LightGBM folder, then re-clone and try again ?

[2017-07-06 01:31] zheguzai100 commented on #611
[1] "numeric"

[1] "dgCMatrix"
attr(,"package")
[1] "Matrix"

   0    1
3373 3140

why does it recognize only one class??

[2017-07-06 01:46] guolinke commented on #671
@wxchan Is it a bug?

[2017-07-06 01:47] #669 closed

[2017-07-06 01:48] guolinke commented on #668
@wxchan Thanks, any updates?

[2017-07-06 02:15] zheguzai100 opened #674 "[R package] Confusion of "pred2 should be identical to pred""
@henry0312
@guolinke
running `basic_walkthrough.R`
`sum(abs(pred2-pred))= 2.00211185941354`
in my mind, 'be identical to' means 0, or at least infinitily be close to 0, why 2.002
and how to judge a value whether means 'idnetical to each other'

##### -------------------------------
`require(lightgbm)`
`require(methods)`
`require(Matrix)`
#### We load in the agaricus dataset
#### In this example, w

[2017-07-06 02:36] wxchan commented on #671
@guolinke look like some bug. The params are set 3 times in c_api and is wrong last time. Not sure the reason now.

[2017-07-06 02:43] zheguzai100 commented on #674
`print(paste("sum(abs(pred2-pred))=", sum(abs(pred2 - pred))))`
`[1] "sum(abs(pred2-pred))= 2.00211185941354"`
`print(paste("mean(abs(pred2-pred))=", mean(abs(pred2 - pred))))`
`[1] "mean(abs(pred2-pred))= 0.0012427758283138"`

[2017-07-06 02:55] #674 closed

[2017-07-06 04:53] guolinke commented on #674
@zheguzai100 Thanks, fixed in the latest commit.

[2017-07-06 07:44] zheguzai100 commented on #674
@guolinke
demo of boost_from_prediction:
`param <- list(num_leaves = 4,
              learning_rate = 1,
              nthread = 2,
              silent = 1,
              objective = "binary")`
`bst <- lgb.train(params=param, data=dtrain,
                 nrounds = 1, valids = valids)`
#### [LightGBM] [Fatal] Unknown parameter: silent
#### Error in lgb.call("LGBM_DatasetCreateFromCSC_R", ret = ha

[2017-07-06 07:47] guolinke commented on #674
yeah, it should be ```verbose=0``` .

[2017-07-06 16:10] zz327 commented on #611
@guolinke
Tried, still the same error...
Is this maybe due to win10? Can you try uninstall and then reinstall CMake to see if it works?

[2017-07-06 16:34] guolinke commented on #611
I am using win10 as well.
restalling cmake still works.

Did you choose the visual c++ when installing visual studio 2017?

[2017-07-06 16:43] guolinke commented on #611
can you paste the contents of running 'cmake --help' ?

Also, from your log, it seems you have many R versions(i saw 3.3, 3.4, 3.4.1) .

Can you paste the latest installation log?

[2017-07-06 23:33] ktorimaru commented on #3
Same problem as BeatricGR! Any ideas?

[2017-07-07 04:42] guolinke commented on #3
@BeatriceGR @ktorimaru
Use following command to install gcc in osx:
[code]

[2017-07-07 05:03] janamejaya opened #675 "Installation fails on Windows 10/R 3.4.1/Visual Studio 15 2017"
Hi all,

I am unable to install LightGBM with R.
Although I have tried several approaches for LightGBM/R-package installation, this post is specifically for installation with RStudio.
Please advise.

## Environment info
C compiler: Visual Studio 15 2017
Rtools: version 3.4 (64 bit only)
Cmake: version 3.9.0-rc5

R and Windows information from sessionInfo() in R session
sessionInfo()
R version 3.4.

[2017-07-07 05:09] Laurae2 commented on #675
You can only install 64 bit version, not the 32 bit version of the LightGBM R package.

[2017-07-07 05:10] guolinke commented on #675
From your logs, it seems the 32-bit and 64-bit are both compiled.
However, we didn't support for the 32-bit R.
Can you only install the 64-bit R?

![image](https://user-images.githubusercontent.com/16040950/27943896-7480c656-6315-11e7-9646-05b096d13c74.png)

@Laurae2 Is there any solution that we can avoid the building for the 32-bit R ? And giving a error when user run it in 32-bit R .

[2017-07-07 05:50] janamejaya commented on #675
@Laurae2 and @guolinke : Thank you!
After reinstalling only the 64-bit version of R, I was able to successfully compile lightgbm.

To summarize what worked for me on Windows 10/R-Studio
1. Install R (only the 64-bit version, no 32-bit version present).
2. Install R-tools (only the 64-bit version, no 32-bit version present)
3. Install Microsoft Visual Studio
4. Install Cmake (64-bit)
5. devtools::i

[2017-07-07 12:54] #668 closed

[2017-07-07 12:54] #671 closed

[2017-07-07 12:55] #675 closed

[2017-07-07 13:19] alexander-rakhlin commented on #671
Thank you, this patch sets params in subset(...) as intended, however this does not stop multiple messages:

I have "verbosity": -1 in params
[code]

[2017-07-07 13:37] wxchan commented on #671
@alexander-rakhlin I see, you can use "verbose" instead of "verbosity", it will work. The reason is, there is another argument called "silent" which has higher priority, I will fix this later.

[2017-07-07 13:56] alexander-rakhlin commented on #671
@wxchan thank you, "verbose" works!
There are few warning in the beginning, but they do not disturb much

[2017-07-07 14:15] wxchan commented on #671
@alexander-rakhlin how do you set categorical_column? empty list?

[2017-07-07 14:28] alexander-rakhlin commented on #671
@wxchan this parameter left default ('auto'?)

[2017-07-07 14:40] wxchan commented on #671
@alexander-rakhlin ok, I know the reason. The categorical_column is set to empty list when input is pandas.DataFrame, you can use .values to use numpy as input to remove this warning.

[2017-07-07 19:44] howardnewyork commented on #611
I seem to getting a similar error when installing in R:

`Build succeeded.

"C:\Users\Howard\AppData\Local\Temp\Rtmpeq7jnP\devtools3538ea06bf\Microsoft-LightGBM-43d5037\R-package\src\build\_lightgbm.vcxproj" (default target) (1) ->
"C:\Users\Howard\AppData\Local\Temp\Rtmpeq7jnP\devtools3538ea06bf\Microsoft-LightGBM-43d5037\R-package\src\build\ZERO_CHECK.vcxproj" (default target) (2) ->
(PrepareFor

[2017-07-08 01:25] guolinke commented on #611
Refer to this issue: https://github.com/Microsoft/LightGBM/issues/675#issuecomment-313593182

you only can use 64 bit R and R tools.

[2017-07-08 13:40] aamster opened #677 "early_stopping_rounds doesn't work as expected"
When I set `early_stopping_rounds` greater than `num_boost_round`, I would expect `early_stopping_rounds` to override `num_boost_round`. I.e I set early_stopping_rounds = 400. num_boost_round defaults to 100. I would expect the number of boosting rounds to continue until the metric doesn't improve, but instead it stops at 100 rounds.

If I instead set  `num_boost_round` greater than  `early_stoppi

[2017-07-08 13:54] guolinke commented on #677
I think it have no reason to set the a ```early_stopping_rounds``` greater than the ```num_boost_round``` .

if you set ```early_stopping_rounds = 400```, it means the training should stop if the metric of last 400 iterations have no improvement.

[2017-07-08 14:00] aamster commented on #677
Fine, that's the first scenario I pointed out. But for the second scenario, let's say I set num_boost_round = 400 and early_stopping_rounds = 300.

I see in the eval output:
valid_0's auc: 0.833976
valid_0's auc: 0.833972
valid_0's auc: 0.833968

Why didn't it stop the boosting rounds?

[2017-07-08 14:04] guolinke commented on #677
@aamster
if you set ```early_stopping_round=1''', it will stop in your case.

However, you set it to ```300```,  so it will stop when the ```best(metric of last 300 iterations) < best(metric of all iterations)```.

[2017-07-09 02:44] #677 closed

[2017-07-09 10:30] gugatr0n1c commented on #353
@Laurae2 From my understaning the core idea is pre-processing of raw data, not binned. Not sure what can happen do this on binned data - linear transformation may not work nicely.

I guess better way is to do matrix rotation and then binning.

[2017-07-09 10:50] Laurae2 commented on #353
@gugatr0n1c It would be extremely expensive to do matrix rotation then binning everytime.

[2017-07-10 12:03] #47 closed

[2017-07-11 03:12] klyan opened #679 "Compile error on centos, and R or python can not install"
## Environment info
Operating System: Centos 6.5
cmake version 3.8.2

## Error Message:

$ make -j4

[  3%] Building CXX object CMakeFiles/lightgbm.dir/src/application/application.cpp.o
[  3%] Building CXX object CMakeFiles/lightgbm.dir/src/main.cpp.o
[  5%] Building CXX object CMakeFiles/_lightgbm.dir/src/c_api.cpp.o
[  7%] Building CXX object CMakeFiles/_lightgbm.dir/src/lightgbm_R.cpp.o
In file

[2017-07-11 03:33] guolinke commented on #679
can you upgrade your gcc?

[2017-07-11 05:04] chivee commented on #679
LightGBM need gcc which support c++11 feature. you can upgrade your devtools via : https://superuser.com/questions/834862/how-to-install-g-4-9-2-in-cent-os-6-5

[2017-07-11 08:53] #679 closed

[2017-07-12 07:54] sagar-m opened #681 "not able to install lightgbm module in spyder"
Hi, I am not able to install lightgbm module in spyder using the steps as detailed here. I get the followinf error...would appreciate any help on how to fix this. Yes, there is a proxy at my workplace Thanks..!

Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection

[2017-07-12 08:38] zheguzai100 opened #682 "[R_package] options of 'objective' in lgb.train()"
@guolinke
Options : regression, regression_l1, huber, binary, lambdarank, multiclass, multiclass in 'objctive'
in my mind,
regression is for linear regression
binary is for logistic(0/1) regression
multiclass is for multi-class(1/2/3...) classification
is it right ?
and what does the rest(reg-l1/huber/lambdarank/multiclass(last)) mean?

[2017-07-12 08:43] guolinke commented on #682
@zheguzai100
I think the last ```multiclass``` is a typo.
and multi-class is use (0,1,2,...) as labels.

More details can be found in here: https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md

[2017-07-12 08:43] #682 closed

[2017-07-12 13:16] zenkzz commented on #675
If both 64-bit R and 32-bit R are installed then the following command helps:
R CMD INSTALL --build . --no-multiarch

The option --no-multiarch does not allow to install the 32-bit version

[2017-07-12 13:19] guolinke commented on #675
@zenkzz  thanks very much. It is very helpful .

[2017-07-12 14:39] chivee commented on #681
Can you installer lightGBM successfully using pure PIP?
What proxy are you using? socks or http?

some refers could help:

https://stackoverflow.com/questions/29267646/how-to-enable-proxy-servers-with-anaconda-python
https://github.com/spyder-ide/spyder/issues/4668
https://github.com/spyder-ide/spyder/issues/4217

[2017-07-12 15:17] munitech4u opened #683 "Importing lightgbm using Spyder takes lot of time and ends with error"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: Win -7
CPU: Intel Core - i7
C++/Python/R version: Python 3.5

## Error Message:
1. Takes lot of time to import and ends after some time

[2017-07-12 15:26] guolinke commented on #683
Did you install vc runtime ?

[2017-07-13 03:49] journeycheng opened #684 "the difference between two ways of prediction"
## Environment
 linux + python

## Question
things likes this:
i successfully trained the lightgbm model with libsvm format dataset. Also, i want to do a prediction with  libsvm format data.
[code]
then it throws the ERROR:
[code]
so, i have to change the libsvm format to other, like csv (used in official examples), which results in a much bigger and  bigger data file.

but i also find another way

[2017-07-13 04:22] guolinke commented on #684
@journeycheng
you cannot use ```lgb.Dataset``` to prediction.
You can pass the file path directly in predict function:

[code]

[2017-07-13 04:44] journeycheng commented on #684
@guolinke
that works and helps me a lot, really thankful

[2017-07-13 04:50] #684 closed

[2017-07-13 04:55] sagar-m commented on #681
Hi Qiwei, thanks for your note. I have also posted on this link
https://stackoverflow.com/questions/29267646/how-to-enable-proxy-servers-with-anaconda-python/45071662#45071662

0down vote

I am working behind a proxy server at work. I went through your answers
above, but as I am new to python, not clear how does one create .condarc
file?I type conda config --help and it gives me some command tips.

[2017-07-13 05:08] journeycheng commented on #684
@guolinke
execuse, another question.
if i only need to predict one piece of data, a string, its content is also in libsvm format, but i don't want to write it into a file. How can i do a prediction?
[code]

[2017-07-13 05:12] guolinke commented on #684
@journeycheng
you should covert it to the matric/CSR format first.

However, the predict function is designed for the multi-line data, using it to predict with single line is not efficient.

[2017-07-13 05:15] journeycheng commented on #684
@guolinke
get it.

[2017-07-13 05:29] chivee commented on #681
`.condarc` was only functional when you are using conda as your python environment. and it's locate vary from your OS.  refs: https://conda.io/docs/config.html#the-conda-configuration-file-condarc
 windows: https://conda.io/docs/winxp-proxy.html
 linux : on your `~` folder

I'll close this issue first, please fell free to reopen it if you still have same issue

[2017-07-13 05:29] #681 closed

[2017-07-13 06:18] munitech4u commented on #683
Ok. After compiling and creating the executable file, its working for me now. Instructions here helped:

https://www.analyticsvidhya.com/blog/2017/06/which-algorithm-takes-the-crown-light-gbm-vs-xgboost/

[2017-07-13 06:55] SerigneCisse opened #686 "[R-Package]Does LightGBM have best_score attribut ?"
Hi!
I am trying to use this wonderful package for the first time in R.  It's really fast and it works fine.
However I was not able to get the score for early stopping round when I tried model$best_score for a classification task  .
Could anybody help me in this issue ?
Thanks in advance

[2017-07-13 07:20] sagar-m commented on #681
0down vote

I'm working behind a proxy server at work, but as I am new to python, not
clear how does one create .condarc file? Should I be pasting the below
commands in text editor and simply save it as .condarc.py file in root
directory? (i was not able to find the extension .condarc in save as type)
. Thank you very much.

The following commands described above, how do I add to and save as a .co

[2017-07-13 07:22] geoHeil opened #687 "lightgbm is killed for extreme parameter values"
During hyper parameter optimization a wide range of parameters is tried. Some might be considered extreme values. For some of these lightGBM is killed. I think this is a segmentation fault. I would like to catch the thing. It is not an exception. So far I could not **catch** the signal. I want to handle the signal somehow and send the. **failure** to the optimization code.

## Environment info
Ope

[2017-07-13 07:26] guolinke commented on #687
@geoHeil
I think it is caused by memory overhead : https://stackoverflow.com/questions/726690/who-killed-my-process-and-why
The memory consumption may is large in some settings.

you can try to set the parameter ```histogram_pool_size```,  whose unit is "MB" .

[2017-07-13 09:06] geoHeil commented on #687
I will try this, but assuming it might still fail - is there a way. I can catch this like an exception and report a failure to the optimization process?

[2017-07-13 10:05] gugatr0n1c commented on #353
@Laurae2 yeap, I understand.. not in details too much, so even with gpu this will be coslty? if so, we can closed this...

[2017-07-13 10:28] geoHeil commented on #687
https://github.com/Microsoft/LightGBM/issues/562 is an interesting read and `histogram_pool_size` is the caching for the calculated histogram values.

[2017-07-13 10:59] Gautamshahi opened #690 "How to use to LightGBM to run my own Data? Need Help."
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:
CPU:
C++/Python/R version:

## Error Message:

## Reproducible examples

## Steps to reproduce

1.
2.
3.

[2017-07-14 01:17] #683 closed

[2017-07-14 01:17] guolinke commented on #686
@wxchan

[2017-07-14 03:19] wxchan commented on #686
@guolinke I am not familiar with R-package. Maybe @Laurae2 can help.

[2017-07-14 08:40] chivee commented on #690
please look at https://github.com/Microsoft/LightGBM/tree/master/examples for guideline

[2017-07-14 08:40] #690 closed

[2017-07-14 08:50] Laurae2 commented on #687
@geoHeil do not use such large parameter value as they are unpractical (and never yielding good performance especially in hyperparameter tuning, other than slowing down tuning):

[code]

It is so big it will require a massive amount of RAM. Even 4095 (2^12 - 1) is already a lot and too much for most cases. For instance, I expect a 150GB dataset in RAM to require hundred of TBs with such number of

[2017-07-14 09:00] Laurae2 commented on #686
Assuming the first metric and the first validation dataset are the ones used for early stopping, and assuming it is a metric minimization task, with the variable containing the model named `model`:

[code]

should do the task.

@guolinke Do you know where to add it in the R-package? (and how to know if it is minimization or maximization task?)

Example code:

[code]

[2017-07-14 09:34] Laurae2 commented on #353
@gugatr0n1c Most of the time would be spent in performing matrix rotation then binning, the latter (binning) taking a lot of time.

For instance on [reput dataset](https://github.com/Laurae2/gbt_benchmarks), it would require at least an additional 240 seconds per iteration just to make the binning every iteration.

Binning is also a very expensive process in xgboost, so big it may take hours: http

[2017-07-14 13:02] gugatr0n1c commented on #353
ok, I will close this, thx for info

[2017-07-14 13:02] #353 closed

[2017-07-14 16:19] geoHeil commented on #687
Thanks.

Simply catching the exception is not enough for me. A combination of

- reducing the search space as suggested
- setting histogram_pool_size
- catching signals
seems to do the job.

[2017-07-14 16:19] #687 closed

[2017-07-14 17:16] Laurae2 opened #691 "[R-package] Random Forest crash"
Random Forest mode in R crashes the R session when `bagging_fraction` or `feature_fraction` are 1.

[code]

[2017-07-14 17:21] guolinke commented on #691
it is designed for this. it will throw a fatal error .

[2017-07-15 01:14] #691 closed

[2017-07-15 09:40] SerigneCisse commented on #686
Hi Laurae
I tried the last one of your example and it works well for both minimization (binary log-loss) and maximization (F1 score).   However, it gave me by default the score of the training set (and not the validation set). So I changed the `valids` argument pf lgb.train from this :  `valids <- list(train=dtrain,eval = dval)` to this `valids <- list(eval = dval)` in order to have the right outp

[2017-07-15 10:27] Laurae2 commented on #629
@dselivanov VS is used by default for performance. But now we have an automatic fallback to Rtools' MinGW, so it is fine.

[2017-07-15 22:05] aamster opened #694 "LGBMRegressor strange behavior"
I have used LGBMRegressor with default settings. The resulting tree doesn't make sense. It has one parent node with split_gain of -1, internal value of 0, and 2 leaves both with the same value. When I remove the 1 feature being used to split on, the resulting tree just has the next most important feature as the one parent node.

I compared with XGBoost, and it results in a sensible tree.
![downloa

[2017-07-15 22:29] Laurae2 commented on #315
@avannaldas Any news?

[2017-07-15 22:31] Laurae2 commented on #171
@HareenVenigalla not yet I think

[2017-07-15 22:31] Laurae2 commented on #122
@guolinke Is this issue fixed?

[2017-07-15 22:33] #613 closed

[2017-07-16 01:36] guolinke commented on #694
It is by design.
This tree is a constant tree (thought it has 2 leave, but their outputs are the same.), whose output value is the average of the label.
For the regression task, boosting from the average can convergence much faster.
If you don't like this, you can disable it by set ```boost_from_average=false``` .

[2017-07-16 01:36] #694 closed

[2017-07-16 07:26] geoHeil opened #695 "hyper parameter optimization - suggested parameter grid"
Which **parameter** and which **range of values** would you consider most useful for hyper parameter **optimization** of light gbm during an bayesian optimization process for a highly imbalanced classification problem?

`parameters ` denotes the search grid and `static_parameters`parameters which are statically applied during the search but not optimized for.

[code]

[2017-07-16 07:37] Laurae2 commented on #695
For heavily unbalanced datasets such as 1:10000:

* max_bin: keep it only for memory pressure, not to tune (otherwise overfitting)
* learning rate: keep it only for training speed, not to tune (otherwise overfitting)
* n_estimators: must be infinite and use early stopping to auto-tune (otherwise overfitting)
* num_leaves: [7, 4095]
* max_depth: [2, 63] and infinite (I personally saw metric perform

[2017-07-16 14:18] munitech4u opened #696 "is pip installation sufficient or we need to compile the git files as well for windows installation"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: win -7
CPU: intel core - i7
C++/Python/R version: Python 3.5

## Error Message: I installed using pip, though it created the libraries

[2017-07-16 14:25] guolinke commented on #696
@munitech4u it doesn't need to build the CLI (exe and dll) first for install python-package.
You can install python package just via:

[code]

And can you paste the log of installing python-package ?

[2017-07-16 14:29] munitech4u commented on #696
Here is the log:

running install
creating lightgbm\include
creating lightgbm\include\LightGBM
copying ..\include\LightGBM\application.h -> ./lightgbm\include\LightGBM
copying ..\include\LightGBM\bin.h -> ./lightgbm\include\LightGBM
copying ..\include\LightGBM\boosting.h -> ./lightgbm\include\LightGBM
copying ..\include\LightGBM\config.h -> ./lightgbm\include\LightGBM
copying ..\include\LightGBM\c

[2017-07-16 14:36] guolinke commented on #696
@munitech4u
from your log, it seems you didn't install the visual c++ compiler in MSBuild.
you should install it:

![image](https://user-images.githubusercontent.com/16040950/28248427-35e0afec-6a77-11e7-8ae1-f77a6df461d1.png)

[2017-07-16 14:41] munitech4u commented on #696
I have it installed. I hope that is sufficient. I have added the path to windows environment variable as well. Do I need a reboot after installation?
![msbuild](https://user-images.githubusercontent.com/7777086/28248479-d10b3f42-6a62-11e7-9c00-213834391bc4.jpg)

[2017-07-16 14:42] guolinke commented on #696
@munitech4u
can you list the file in this path: ```C:\Program Fi
les (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\VC\VCTargets\``` ?

[2017-07-16 14:44] munitech4u commented on #696
I don't have VC folder inside IDE. Am I missing something here?

[2017-07-16 14:52] guolinke commented on #696
@munitech4u
As I said before, I think it means you didn't choose visual c++ when installing MSBuild.

[2017-07-16 15:32] munitech4u commented on #696
Yea, that seemed to be the problem. I tried reinstalling and this time it worked. Thanks a lot!!

[2017-07-16 15:58] geoHeil commented on #695
@laurae2 thanks. When searching in the latest python documentation for the sklearn. API some of the parameters no longer seem to be present. This applies to `is_unbalance` and `scale_pos_weight`. Are these still accessible i.e. via kwargs?

[2017-07-16 16:00] geoHeil commented on #695
Also, I did not find a thing in the documentation that both of these should be applied XOR i.e. in the past I had the best results with:
is_unbalance : True, scale_pos_weight: 0.1

[2017-07-16 16:24] Laurae2 commented on #695
@geoHeil never mind for the last part (about the metric), it seems it was fixed in LightGBM (the bug is still present in xgboost).

If I remember, scale_pos_weight and is_unbalance are mixing themselves. They should still be accessible.

See here: https://github.com/Microsoft/LightGBM/blob/master/src/objective/binary_objective.hpp#L73-L82

[2017-07-16 16:25] Laurae2 commented on #695
@wxchan question below:

[2017-07-16 16:37] geoHeil commented on #695
@Laurae2 indeed, in the c code they are accessible - but https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py does not contain any references to these parameters.

[2017-07-16 16:38] Laurae2 commented on #695
@geoHeil You can check here for the whole list of parameters: https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.md

[2017-07-16 16:48] geoHeil commented on #695
@Laurae2 indeed - as written above the parameters are documented there and are used in the C code.  I just find it strange that the python code i.e. in particular the scikit-learn API is not using any of these parameters.

May I clarify one more parameter: the hyper parameter tuning guide suggests looking at min_data_in_leaf. What about the other similar paraders of: min_child_weight, min_sum_hess

[2017-07-16 16:50] Laurae2 commented on #695
@geoHeil I would just use min_child_weight unless it is really needed to expand the optimization dimensions (or if it is required to get the extra better digits on the performance metric).

[2017-07-16 18:05] wxchan commented on #695
They are still accessible via kwargs. There is a test case here https://github.com/Microsoft/LightGBM/blob/master/tests/python_package_test/test_sklearn.py#L101. drop_rate is set via kwargs.

[2017-07-17 02:00] #696 closed

[2017-07-17 03:18] klyan opened #698 "R error : Unknown parameter: nrounds"
## Error Message:

[LightGBM] [Fatal] Unknown parameter: nrounds
Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_data,  :
  api error: Unknown parameter: nrounds

Are there any errors in my parameter config??

[2017-07-17 03:24] klyan commented on #698
I repace "nrounds" with "num_trees" or "num_iterations", even remove nrounds parameter, it doesn't work.

[LightGBM] [Fatal] Unknown parameter: nrounds
Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_data,  :
  api error: Unknown parameter: nrounds

[LightGBM] [Fatal] Unknown parameter: nrounds
Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_da

[2017-07-17 03:29] guolinke commented on #698
@klyan ```nrounds``` should work, I just test it.
Maybe you need to restart R.
And you also can try ```model <- lgb.train(params,  dtrain, 300, learning_rate = 0.1, early_stopping_rounds = 10, weight=train.weight, group = train.group)```

[2017-07-17 03:49] klyan commented on #698
I restarted R, But it still doesn't work for me.

R version 3.2.3 (2015-12-10) -- "Wooden Christmas-Tree"
Copyright (C) 2015 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural lang

[2017-07-17 03:53] guolinke commented on #698
@Laurae2 any ideas ? it seems the nrounds parameter is not captured correctly. Maybe the reason is the version of R is too old.

@klyan another problem is you cannot use ```early_stopping_rounds ``` if you don't pass the validation data in lgb.train .

[2017-07-17 03:55] guolinke commented on #698
@klyan and the ```weight``` and ```group``` is the parameter of lgb.Dataset, not the lgb.train.

[2017-07-17 05:11] Laurae2 commented on #698
@guolinke Seems the parameters passed in params are not correct (like ndcg_eval_at)

[2017-07-17 05:16] Laurae2 commented on #698
@kylan Can you provide a reproducible example so we can test?

[2017-07-17 05:28] klyan commented on #698
@Laurae2 @guolinke
The fowllowing script is my code. The training data have 3 labels: 0 for view, 0.6 for click but not ordered, 1 for ordered. Then  I set the training weight 30 for ordered sample.
I have fixed the ndcg_eval_at, weight and group parameters in my code. Still doesn't work.
Thanks you very much!

library("xgboost")
library("rjson")
library("stringi")
library("caTools")
library("ligh

[2017-07-17 07:23] guolinke opened #699 "optimal split for categorical features"
We often convert the categorical features into one-hot coding. However, it is not a good solution in tree learner. The reason is, for the high cardinality categorical features, it will grow the very unbalance tree, and needs to grow very deep to achieve the good accuracy.

Actually, the optimal solution is partitioning the categorical feature into 2 subsets, and there are ```2^(k-1) - 1``` possibl

[2017-07-17 10:31] munitech4u opened #700 "TypeError: Wrong type(ndarray) for label, should be list or numpy array"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:win-7
CPU: intel -core -i7
C++/Python/R version: Python 3.5

## Error Message:
TypeError: Wrong type(ndarray) for label, should be list

[2017-07-17 10:37] guolinke commented on #700
@munitech4u
I think  (1000, 1) is a 2D array.

[2017-07-17 10:40] munitech4u commented on #700
Ok. I can see that as per the basic.py program, it checks for condition: len(data.shape) == 1

Do I need to convert it into one dimensional before feeding to lgb.train?

I was following the instructions on: https://github.com/Microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py

But it doesn't mention anything like that

[2017-07-17 10:41] munitech4u commented on #700
Ok, though the example doesn't mention it.

This worked for me:

y=y_train.ravel()
train_lgb = lgb.Dataset(X, y)

[2017-07-17 10:44] guolinke commented on #700
@munitech4u your data type is a Data Frame of pandas ?

@wxchan Does pandas always use (n,1) as the shape of label ? If it does, maybe we should take some conversion for this.

[2017-07-17 10:45] munitech4u commented on #700
yes it is a pandas dataframe and it always take the form (n,1) for data.values

[2017-07-17 13:08] wxchan commented on #700
@munitech4u you are using two brackets. Using one will solve it. `y_train=train['target'].values`

@guolinke we have the conversion of pandas.Series, it's 1-d array.

[2017-07-17 13:09] MenglaiWang opened #701 "Touble in calling lib_lightgbm.so"
Please search your question on previous issues, stackoverflow or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:CentOS release 6.3 (Final)
CPU:Intel(R) Xeon(R) CPU E5-2620 v2 @ 2.10GHz
C++/Python/R version:C++
GCC:4.8.2

## Error Message:
OSError:

[2017-07-17 13:16] guolinke commented on #701
@MenglaiWang How do you install LightGBM ? by ```pip install lightgbm``` ?

I think you need to compile the cpp code in your machine, by using ```pip install --no-binary :all: lightgbm```

[2017-07-17 13:19] #700 closed

[2017-07-17 13:23] guolinke commented on #698
@klyan we cannot reproduce it since we don't have your data. you can use agaricus data:
[code]

Also, you can format your code for the better readability .

I also try some other cases, but still not met your problem.

[2017-07-17 13:26] MenglaiWang commented on #701
I compile the C++ code , and in the root dir, there is a lib_lightgbm.so.

[2017-07-17 13:27] MenglaiWang commented on #701
I try to use the .so , and then got the error

[2017-07-17 13:28] guolinke commented on #701
The .so file is compiled by the machine you are running with ?

[2017-07-17 13:28] MenglaiWang commented on #701
Yes, so I don't know why I cant use the .so file

[2017-07-17 13:34] munitech4u commented on #700
Thanks, that is indeed the case

[2017-07-17 13:42] guolinke commented on #701
@MenglaiWang

It is a very strange thing that you can compile it but cannot run it.

You can try to add following after this line: https://github.com/Microsoft/LightGBM/blob/master/CMakeLists.txt#L57
[code]

However, ```-stdlib=libc++``` seems is enabled by default. And it seems the libc++ rely on the glibc, not sure can it works or not.

[2017-07-17 13:45] MenglaiWang commented on #701
OK，I will try It😁

[2017-07-17 15:22] Gautamshahi opened #702 "How to execute the examples? I have read the documentation but unable to understand it."
Please check the image, where to execute that instructions.
![image](https://user-images.githubusercontent.com/3966230/28275545-ca5fcf44-6b31-11e7-8aa0-c3c6bd6c77ab.png)

[2017-07-17 15:47] Laurae2 commented on #702
Copy as requested the `lightgbm.exe` to the regression folder, and run the provided command in a command prompt.

[2017-07-17 18:01] Gautamshahi commented on #702
I am sorry but I am not getting the lightgbm.exe file, still, i am trying
to learn the framework. Will you please tell me where i can get it?

On Mon, Jul 17, 2017 at 9:51 PM, Laurae <notifications@github.com> wrote:

--
Gautam Kishore Shahi,
Master Student,
DISI- University of Trento,
Italy

[2017-07-17 18:05] Laurae2 commented on #702
If you did not compile LightGBM then it is normal that file is not existing.

[2017-07-17 18:07] Gautamshahi commented on #702
Hi,

will you please share the instructions to compile and how to implement my
own model using Lighgbm?

On Mon, Jul 17, 2017 at 11:35 PM, Laurae <notifications@github.com> wrote:

--
Gautam Kishore Shahi,
Master Student,
DISI- University of Trento,
Italy

[2017-07-18 00:38] marugari commented on #524
@huanzhang12 Trees for top-k labels have same `(feature_id, threshold)`?
Why the following algorithm fails?
[code]

If this discussion is not suitable for this issue, I will send a e-mail.

[2017-07-18 05:20] hlee13 opened #705 "what happened? leaf_value have most value 100 , -100"
when training，I found training error is too large.  log below:

[LightGBM] [Info] Finished loading data in 37.422715 seconds
[LightGBM] [Info] Total Bins 257321
[LightGBM] [Info] Number of data: 27529332, number of used features: 1694
[LightGBM] [Info] Finished initializing training
[LightGBM] [Info] Started training...
[LightGBM] [Info] Trained a tree with leaves=1023 and max_depth=12
[LightGBM]

[2017-07-18 05:23] guolinke commented on #705
@hlee13
it is by design. refer to : https://github.com/Microsoft/LightGBM/blob/master/include/LightGBM/tree.h#L13

BTW, a large range of regression target cannot be fitted well. It is better for you to use some transform (e.g ```log```) to reduce your regression target.

[2017-07-18 05:43] hlee13 commented on #705
what is the leaf value 100 means

[2017-07-18 05:47] guolinke commented on #705
it means the prediction score in that tree is 100.
We limit its range explicitly to avoid the unstable trees.

[2017-07-18 05:50] chivee commented on #702
@Gautamshahi ,

https://msdn.microsoft.com/en-us/library/7s88b19e.aspx?f=255&MSPPError=-2147217396

[2017-07-18 05:51] WuZhuoran opened #706 "AttributeError: module 'lightgbm' has no attribute 'Dataset'"
## Environment info
Operating System: `Windows 10`
CPU: `i7-4710MQ`
C++/Python/R version: `Python 3.5.2`

## Error Message:
[code]

## Reproducible examples
[code]

[2017-07-18 05:53] chivee commented on #706
please check https://github.com/Microsoft/LightGBM/issues/683

[2017-07-18 05:56] chivee commented on #701
it's a glib issue, please upgrade your GCC.

[2017-07-18 05:56] WuZhuoran commented on #706
Hi @chivee

I have already checked that issue, but that doesn't work for me.

I am sure that lightgbm is installed well.

Do you have a better idea?

[2017-07-18 06:00] chivee commented on #706
What is your VC version ?

[2017-07-18 06:02] WuZhuoran commented on #706
MSVC 2015 14.0.24215

[2017-07-18 06:11] guolinke commented on #706
@WuZhuoran
make sure your vc runtime is 64-bit.

another possible reason is your lightgbm installation is not complete.
you can try to uninstall it, and re-install again (may need to `run as administrator` ) .

[2017-07-18 06:18] chivee commented on #706
@WuZhuoran , Could you please also check your VC Runtime is x64 based version? and make sure your vc runtime was well set in your environments.

and if you are pretty sure you have lightgbm installed. you can try binary version first

[2017-07-18 06:27] #706 closed

[2017-07-18 06:29] hlee13 commented on #705
what is the data reason lead to so large score, that make assign to 100.

[2017-07-18 06:33] guolinke commented on #705
@hlee13
You can check your label first, to see are there some very large targets.

You also can try to use bigger ```min_data```, which can reduce the bias of leaf output.

[2017-07-18 06:38] hlee13 commented on #705
I used min_data, and the label range is [1, 1000].  the label range worked well ever.

[2017-07-18 06:41] guolinke commented on #705
@hlee13
can you provide the detailed parameters ?
And what is your objective function ?

[2017-07-18 06:44] hlee13 commented on #705
task = train
boosting_type = gbdt
objective = regression_l1
metric = l2
metric_freq = 1
is_training_metric = true
max_bin = 255
data = data.train
num_trees = 200
learning_rate = 0.1
num_leaves = 1023
max_depth = 12
snapshot_freq = 10
tree_learner = data
feature_fraction = 0.9
bagging_freq = 5
bagging_fraction = 0.8
min_data_in_leaf = 100
min_sum_hessian_in_leaf = 5.0
is_enable_sparse = true
use_tw

[2017-07-18 06:51] guolinke commented on #705
@hlee13
I see. I think the reason is the L1 objective:

https://github.com/Microsoft/LightGBM/blob/062bfa7964414ffcdf1a9000425d1187a19d3a82/src/objective/regression_objective.hpp#L96-L121

@henry0312 can you check this ? The ```grad / hess``` sometimes is large.

[2017-07-18 06:57] hlee13 commented on #705
May L2 work well?

[2017-07-18 07:01] guolinke commented on #705
@hlee13
L2 is more smooth, and sure for most regression tasks.

[2017-07-18 07:02] henry0312 commented on #705
This is because the `l1` objective approximates delta function with Gaussian function
So you need to adjust `gaussian_eta` parameter that controls the width of Gaussian function.

See:
  - https://github.com/Microsoft/LightGBM/blob/062bfa7964414ffcdf1a9000425d1187a19d3a82/src/objective/regression_objective.hpp#L81
  - https://github.com/Microsoft/LightGBM/blob/f8597c93bce24724349b8a17ffc4fab05b64e

[2017-07-18 07:03] henry0312 commented on #705
BTW, why `gaussian_eta` doesn't apper in [Parameters](http://lightgbm.readthedocs.io/en/latest/Parameters.html)....?

[2017-07-18 07:04] guolinke commented on #705
@henry0312 you can create a PR to fix that.

[2017-07-18 07:07] henry0312 commented on #705
@hlee13 cf. https://github.com/Microsoft/LightGBM/pull/178#issuecomment-271280902 for approximation with Gaussian function.

[2017-07-18 07:09] henry0312 commented on #705
@guolinke OK. I'll create a PR.

[2017-07-18 07:09] hlee13 commented on #705
should I set gaussian_eta less than 1.0?

[2017-07-18 07:13] henry0312 commented on #705
@hlee13 It depends on your situation. just try :)
And I think you can also try `l2` objective.

[2017-07-18 09:17] hlee13 commented on #705
L2 objective also occur the problem.

[2017-07-18 09:19] guolinke commented on #705
@hlee13 can you provide more details ?  like the output model.

[2017-07-18 10:14] Guillermogsjc opened #707 "meaning of raw_scores and probability prediction"
I want to combine several boosting in a ensemble vote and would like to know if LightGBM prob score is calibrated when raw_scores=False

[2017-07-18 10:17] guolinke commented on #707
for the binary classification task, the prediction with raw_scores=False is the probability( transform by sigmoid )

[2017-07-18 10:17] #707 closed

[2017-07-18 10:25] hlee13 commented on #705
[data_model.txt.snapshot_iter_80.txt](https://github.com/Microsoft/LightGBM/files/1155372/data_model.txt.snapshot_iter_80.txt)

## Tree 68

[2017-07-18 10:38] guolinke commented on #705
@hlee13
Your model is trained by 2 machines? can you try the single machine ?

[2017-07-18 15:23] guolinke commented on #699
The new release GBDT tool [CatBoost](https://github.com/catboost/catboost) seems also can handle the categorical feature well.

[2017-07-19 02:50] #702 closed

[2017-07-19 02:50] #701 closed

[2017-07-19 03:41] guolinke commented on #705
@hlee13 updates ?

[2017-07-19 03:44] hlee13 commented on #705
my datasets is too large, 2 machines worked well ever. Now I try lambda_l2

[2017-07-19 03:46] guolinke commented on #705
@hlee13
I am afraid it is the bug of parallel training .
If this issue is randomly show-up, it may have some bugs in parallel training. can you help to confirm this ?

[2017-07-19 03:53] hlee13 commented on #705
Ok, I try it.

[2017-07-19 03:54] hlee13 commented on #705
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Trying to bind port 12400...
[LightGBM] [Info] Binding port 12400 succeeded
[LightGBM] [Info] Listening...
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Warning] Connecting to rank 1 failed, waiting for 10000 milliseconds
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [I

[2017-07-19 03:56] guolinke commented on #705
@hlee13 I think it isn't the reason.
TCL_nodelay can speed up the communication of small packages.

[2017-07-19 07:19] hlee13 commented on #705
@guolinke  work well on single machine with half of dataset

[2017-07-19 07:19] hlee13 commented on #705
can quick fix this problem

[2017-07-19 07:41] guolinke commented on #705
@hlee13 and this bug can re-produce (100 output in 58-th tree) when using 2 machines ?

[2017-07-19 08:20] guolinke commented on #629
@Laurae2 can we enable the test of R package in travis / appveyor?

[2017-07-19 08:22] #587 closed

[2017-07-19 08:23] guolinke commented on #698
@klyan updates ?

[2017-07-19 08:23] zheguzai100 opened #709 "[R PACKAGE]doubt with lgb.importance and lgb.interprete"
@guolinke
 as said in syntax:
lgb.importance  -- Compute feature importance in a model
lgb.interprete -- Compute feature contribution for prediction
what's the difference between them indeed?? can u show me a simple example??
and which is the key part for feather selection?

[2017-07-19 08:28] zheguzai100 commented on #698
try `nround=300`

[2017-07-19 08:29] guolinke commented on #686
@Laurae2
The best_iter is set in this line: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/callback.R#L353
We can add best_score into Booster and set it here .

[2017-07-19 08:39] hlee13 commented on #705
this bug re-produce when using 2 machines.

## Tree 12

task = train
boosting_type = gbdt
objective = regression_l1
lambda_l2 = 0.01
metric = l2
metric_freq = 1
is_training_metric = true
max_bin = 255
data = data.train
valid_data = data.validate
num_trees = 200
learning_rate = 0.1
gaussian_eta = 0.9
num_leaves = 255
max_depth = 10
snapshot_freq = 10
tree_learner = data
feature_fraction = 0.9
baggi

[2017-07-19 08:56] Laurae2 commented on #709
Run the R manual doc examples to check the difference between both.

[2017-07-19 09:01] hlee13 commented on #705
can I quick fix the bug

[2017-07-19 09:02] chivee commented on #705
@hlee13 , sure if you have found one

[2017-07-19 09:15] guolinke commented on #705
@hlee13 when you test the half data with single, did you test for the both two machines ? And they all work fine ?

you can set a much bigger ```min_data``` to fix it.

[2017-07-19 09:27] hlee13 commented on #705
I used min_data 10000 ever

[2017-07-19 09:36] klyan commented on #698
@guolinke  Sorry, it's too big to upload my data. And I try my data in latest R version in MacOS, get the same error. But python package is OK for me.(I have updated my code, above) . Thanks a lot!
@zheguzai100 'nround' doesn't work

[2017-07-19 09:38] guolinke commented on #698
@klyan can you try it without using group, and change objective to regression ?

[2017-07-19 09:54] klyan commented on #698
@guolinke
Yes! it works!

makes both of them work

[2017-07-19 09:56] klyan commented on #698
It seems that  somes errors in my environment

[2017-07-19 10:50] guolinke commented on #698
@Laurae2
It seems the R-package often have some random issues. maybe we should add the solution to the documents.

[2017-07-19 10:52] guolinke commented on #705
@hlee13 using min_data=10000 is not working ?
can you reproduce this by using a sampled small data, and provide the sampled data ? so that we can debug on it.

[2017-07-19 15:04] synapticarbors opened #710 "Strict requirement of GCC-7 on OSX"
I've recently been working on packaging LightGBM-python for conda via [conda-forge](https://conda-forge.org/) and ran into some issues since the CMake file strictly requires gcc-7 on OSX. Since gcc-7 was not available on the conda-forge build infrastructure, I [patched](https://github.com/synapticarbors/staged-recipes/blob/7f9237053340a5c376728d5a5c30f7548644fc9a/recipes/lightgbm/cmake_osx.patch)

[2017-07-19 15:11] guolinke commented on #710
The reason is the openmp support. It seems the native clang in osx cannot support openmp.

Refer to :
https://github.com/Microsoft/LightGBM/issues/3
https://github.com/Microsoft/LightGBM/issues/118

Openmp is important since the speed will be very slow without it.
If you can fix the openmp issue with clang, i think it is good to switch back.

[2017-07-19 15:17] guolinke commented on #709
I think the feature importance is a statistic from the model file, and it is based on the split-gain on training data.
The "feature contribution for prediction" is using the validation data to verify the model. It can be used for the checking of over-fitting. e.g. if a feature have a large gain in training, but small gain in validation, that feature could be a bad feature that cause the over-fitti

[2017-07-19 15:19] synapticarbors commented on #710
I seem to have it working with clang as the version that we use on conda-forge is newer than the system clang on most osx systems and supports openmp. I have not done any formal performance testing of the resulting build though.

[2017-07-19 15:20] guolinke commented on #710
@synapticarbors I don't have a mac to check it. can you verify this ? If it can work, you can create a PR here to fix it.
@wxchan @henry0312  can you also help to check this ?

[2017-07-19 15:27] j-mark-hou opened #711 "numeric_types in python_package/compat.py doesn't include numpy types"
In particular, this leads to an issue in during calls of is_1d_list in basics.py, which returns False if e.g. you have a list in which the entries are np.int64 objects.  This issue comes up when passing a pandas.DataFrame.index.tolist() object into lgb.Dataset.subset().  Not a crucial bug, as calling np.array() instead of .tolist() circumvents the issue.

As python-package/compat.py already import

[2017-07-19 15:32] guolinke commented on #711
@wxchan

[2017-07-19 15:43] wxchan commented on #711
@j-mark-hou you can submit a pr, I think you can directly use function `is_numeric` to check in `is_1d_list`.

[2017-07-19 15:49] j-mark-hou commented on #711
sounds good i'll do so.

[2017-07-19 15:59] yanyachen commented on #709
The feature importance is the statistic for model performance on training data, it contains split-gain and split count.
the feature contribution is trying to explain the feature contribution for single row prediction. It's like "which feature drives this particular prediction by how far". Further detailed explanation can be found on here: http://blog.datadive.net/interpreting-random-forests/
I wil

[2017-07-19 18:47] Laurae2 commented on #699
Reading CatBoost docs it seems categorical features are encoded numerically, sources:

* https://tech.yandex.com/catboost/doc/dg/concepts/parameter-tuning_ctr-docpage/
* https://tech.yandex.com/catboost/doc/dg/concepts/algorithm-main-stages_cat-to-numberic-docpage/

[2017-07-19 18:53] Laurae2 commented on #629
@guolinke Yes, we also need to add more appropriate tests to testthat folder (it's very outdated, from 6 months ago).

https://github.com/Microsoft/LightGBM/tree/master/R-package/tests/testthat

[2017-07-19 22:36] SerigneCisse commented on #686
btw @guolinke
Do you know if the python version has a best_score attribut ? or would the code given by Laurae work on python ? ( replacing $ by .)

[2017-07-20 01:49] wxchan commented on #686
check https://github.com/Microsoft/LightGBM/blob/ce999b756af8183541dfc762a9dd819a433bf8a1/tests/python_package_test/test_engine.py#L145-L174

[2017-07-20 02:13] hlee13 commented on #705
would the accuracy on single machine be better than two machines (distribution).

[2017-07-20 02:15] guolinke commented on #705
@hlee13
In general, training by bigger data will be better.

[2017-07-20 02:28] jakirkham commented on #710
The native toolchain on macOS doesn't have OpenMP except through the ancient (and likely to be removed) `gcc` compiler. That compiler is 4.2 and has no modern C++ support (i.e. no C++11 or beyond). So it wouldn't fit the version constraints here and may not be usable due to its age anyways.

This all being said, users can typically get a compiler from their package manager of choice (e.g. Homebrew

[2017-07-20 04:45] zheguzai100 opened #713 "[r-package] error in demo --lgb_multiclass"
`model <- lgb.train(list(),dtrain,100,valids,min_data=1,learning_rate=1,objective='multiclass',metric='multi_err',num_class=3)`

`Error in lgb.call("LGBM_DatasetCreateFromMat_R", ret = handle, private$raw_data,  :
  api error: cannot open data file 5.1`

[2017-07-20 04:46] #698 closed

[2017-07-20 04:46] guolinke commented on #713
try this: https://github.com/Microsoft/LightGBM/pull/712

it seems is a R random error .

[2017-07-20 05:16] chivee commented on #710
@jakirkham Well explained, I think we can

1. lower the gcc version to 5 or 6.
2 Using Clang first if user's Clang version > 3.1( since which openMP has been officially supported), to meet the conda requirements

[2017-07-20 05:21] chivee commented on #699
Yes, the way CatBoost using will benefit a lot when the samples are relative small and sparse, and offering the capability to predict on 'unseen' values.  We may offer an preprocessor for categorical feature to do the transformation.

[2017-07-20 05:47] jakirkham commented on #710
Any reason not to allow `gcc` 4? We use `gcc` 4.8.2 to build packages for Linux in `conda-forge`, which AFAIK worked ok for LightGBM. Other than that the proposed plan sounds good to me.

[2017-07-20 07:08] Laurae2 commented on #279
@wxchan We have R doc as manual in the R-package

[2017-07-20 08:05] hlee13 commented on #705
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Trying to bind port 12400...
[LightGBM] [Info] Binding port 12400 succeeded
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [Info] Listening...
[LightGBM] [Warning] Connecting to rank 1 failed, waiting for 10000 milliseconds
[LightGBM] [Warning] Set TCP_NODELAY failed.
[LightGBM] [I

[2017-07-20 08:09] hlee13 commented on #705
commit id :6af850441aad93c4636ce13b673d3fa5db421cbe

[2017-07-20 08:11] #279 closed

[2017-07-20 08:13] guolinke commented on #705
@hlee13 can you try the latest code ? I had updated some networks codes.

BTW, it seems you can run it successfully before, why it fails now ?

[2017-07-20 08:22] zheguzai100 commented on #709
@guolinke
@yanyachen
`lgb.interprete` compute the contribution of each feather for predictions, it's a influence element. and it has positive and negative directions.  while, `importance` seems to be `abs(interpretation)/sum(abs(interpretation))`  which is as same as influence computing in linear regression.
Is this true ??

[2017-07-20 08:36] hlee13 commented on #705
now dataset is sample of old dataset.

[2017-07-20 08:45] guolinke commented on #705
@hlee13
So why it fails ? cost by the sampling ?  re-running it still fails ?

[2017-07-20 08:49] henry0312 commented on #710
Sorry, I've been busy today, so I'll check later 😨

[2017-07-20 09:06] hlee13 commented on #705
yes.

[2017-07-20 09:07] hlee13 commented on #705
branch master yet failed

[2017-07-20 09:13] guolinke commented on #705
@hlee13 can you try to set ```histogram_pool_size=1024``` ?

[2017-07-20 09:21] hlee13 commented on #705
histogram_pool_size is a new parameter?

[2017-07-20 09:31] guolinke commented on #705
can you provide the data? you can send it to my email

[2017-07-20 10:47] hlee13 commented on #705
ok, i try

[2017-07-20 11:39] SerigneCisse commented on #686
#Hi @wxchan

Thanks , that seems to work  (at least I can see the score )
However ( and sorry for the novice question ) that is in dict format.
My goal is to get the (floating) best_score from each validation fold then average them outside the loop

So I tried this

`cv_sum = 0
looping through folds
      cv_score = cv_score = clf.best_score[valid_set_name]
      cv_sum = cv_sum + cv_score
score =

[2017-07-20 12:01] chivee commented on #710
@jakirkham 4.8.2 is enough for lightGBM. I'll lower the gcc version

[2017-07-20 12:04] chivee commented on #710
@synapticarbors as for the `conda-forge`, It's reasonable to using Clang 4.0 for the build. But we need to find a way to make it flexible enough for both CI and normal users since Cmake can't switch the default compiler for the normal OsX users.

[2017-07-20 13:05] MenglaiWang commented on #701
I compile my python by gcc 4.8.2, and I can use it now

[2017-07-20 15:18] j-mark-hou opened #714 "[python package]: datasets with common dataset.reference"
When doing lgb.train with a training and validation set, the train function sets the reference of the valid_data to be train_set (line 131 engine.py).  this set_reference then checks if the reference of the valid_data is the train_set (line 1009 basics.py), and if not, sets the reference of valid_data to be train_set.

This throws an error if the train_set was constructed with free_raw_data=True.

[2017-07-20 15:53] guolinke commented on #714
It really is a issue. I think it can be fixed. Would you like to create a PR to fix it?

[2017-07-20 15:54] j-mark-hou commented on #714
sure i'll do that.

[2017-07-20 23:19] Gautamshahi commented on #702
On executing Build I got following error. I am using windows 7, didn't find anything helpful over the internet.kindly suggest the needful steps
![image](https://user-images.githubusercontent.com/3966230/28442788-cb55f8d8-6dcf-11e7-89ee-f19d83a91518.png)

[2017-07-21 03:37] cttsai1985 opened #715 "Build w/ GPU but got CPU-only ver install in python (Ubuntu 16.04)"
After managed to built a LightGBM w/ GPU on Ubuntu 16.04, it asked to "Recompile with CMake option -DUSE_GPU=1'" while calling LightGBM in python 3.5. However, the binay ./LightGBM/lightgbm is able to enable GPU for computation. GPU is availabe after replacing lib_lightgbm.so in /usr/local/lib/python3.5/dist-packages/lightgbm by one ./LightGBM/ . The lib_lightgbm.so installed within python seems a

[2017-07-21 04:07] wxchan commented on #715
I think you should run `python3 setup.py install --precompile` after install c++ version, or `python3 setup.py install --gpu` to direct install gpu version for python. @guolinke can confirm this.

[2017-07-21 04:15] guolinke commented on #715
@cttsai1985
We had simplify the python installation. You don't need the build the cli version first.
Refer to: https://github.com/Microsoft/LightGBM/tree/master/python-package

[2017-07-21 04:17] wxchan commented on #715
@guolinke Can we check precompile first when run `python setup.py install`?

[2017-07-21 04:19] guolinke commented on #715
@wxchan I don't think so. I think make it independently is better.

[2017-07-21 06:07] zheguzai100 opened #716 "[R-package] running error with multiclass"
`library(lightgbm)`
`wine1 <- read.csv('G:/rwork/wine/whitewines.csv',header = TRUE)`
`indx1 <- sample(1:2,nrow(wine1),prob = c(0.8,0.2),replace = TRUE)`
`train1 <- wine1[indx1==1,]`
`test1 <- wine1[indx1==2,]`
`dtrain1 <- lgb.Dataset(data=as.matrix(train1[,-ncol(train1)]),label=train1$quality-3)`
`dtest1 <- lgb.Dataset.create.valid(dtrain1,data = as.matrix(test1[,-ncol(test1)]),label=test1$qualit

[2017-07-21 06:11] guolinke commented on #716
I am not familiar with R, what is ```#valids = valids``` ?

[2017-07-21 06:37] wxchan commented on #716
Isn't this just because `valids` is commented out?

[2017-07-21 06:39] wxchan commented on #715
It's kind of counter-intuitive. I think most users don't know those `--gpu`, `--precompile` options.

[2017-07-21 06:39] Laurae2 commented on #713
@zheguzai100 Multiclass demo runs fine here.

[2017-07-21 06:42] Laurae2 commented on #716
`#valids` is commented out therefore there is no validation dataset hence LightGBM complains about `early_stopping_rounds` being used without validation dataset.

[2017-07-21 06:43] zheguzai100 commented on #716
@guolinke
 sorry for this confussion, last time i run `lgb.train(params = params,data = dtrain1, valids = valids, .....` . it brought error above, so i commented it out as `#valids = valids`, but it still brought the same error.

[2017-07-21 06:43] Laurae2 commented on #713
@guolinke I think you can close it unless the user can provide a reproducible example. The demo works fine.

[2017-07-21 06:45] Laurae2 commented on #716
@zheguzai100 when you have a LightGBM training error due to wrong parameters, refer to https://github.com/Microsoft/LightGBM/pull/712 for the solution.

https://github.com/Microsoft/LightGBM/blob/master/docs/FAQ.md#r-package

[2017-07-21 06:49] Laurae2 commented on #709
@zheguzai100 Just run the examples to check.

Interpretation is locally (by row), importance is globally (in general).

[code]

and the other one:

[code]

[2017-07-21 08:59] zheguzai100 commented on #716
@Laurae2
you mean adding `lgb.unloader(wipe=TRUE)` ??
it doesn't work
here's my [data](https://github.com/zheguzai100/myRproj/commit/475bbca5843994019ef9e5a566be78697abb20ef)

[2017-07-21 09:13] #713 closed

[2017-07-21 10:16] Gautamshahi commented on #702
I opened the Lightgbm.sln and tried to build, i got following error, suggest the needful steps to be followed.
![image](https://user-images.githubusercontent.com/3966230/28459603-bb51f980-6e2b-11e7-81f4-add4220b39ed.png)

[2017-07-21 10:25] chivee commented on #702
Change the solution configuration to `Release` and our solution are vs 2013.

but it should pass the compile. you can refer to : https://stackoverflow.com/questions/38290169/cannot-find-corecrt-h-universalcrt-includepath-is-wrong for help.

[2017-07-21 12:17] zheguzai100 commented on #716
after removing `early_stopping_rounds` Rscripts runs well.

and then another question surfaced:
1. by setting `metric='multi_err'`, where is  multi_err's result ? cause i just got info bellow,
which can be  my base to tune my `params` in `lgb.train` ???
`[LightGBM] [Info] Trained a tree with leaves=6 and max_depth=5
[LightGBM] [Info] Trained a tree with leaves=6 and max_depth=3
[LightGBM] [Info] T

[2017-07-21 13:58] MenglaiWang opened #718 "A bug in libsvm format ?"
My dataset consists of over 10 million samples by 57 feature columns in libsvm format. And the max_feature_idx is 57. When I use the csv format, max_feature_idx becomes 56.

[2017-07-21 14:18] guolinke commented on #718
Did you use the 1-based (the index of first column starts from 1) libsvm format ?

[2017-07-21 14:22] MenglaiWang commented on #718
@guolinke yes. So Is that the reason?

[2017-07-21 14:23] guolinke commented on #718
yes.
It is not a bug. we use the 0-based libsvm format.

[2017-07-21 14:23] #718 closed

[2017-07-21 14:25] MenglaiWang commented on #718
Oh, thanks for answering! : )

[2017-07-21 14:27] huanzhang12 commented on #524
@marugari Yes, please send me an email if you have specific questions on our paper.

[2017-07-21 17:15] Gautamshahi commented on #702
Hi, Again getting the same error, please help.

![image](https://user-images.githubusercontent.com/3966230/28474308-c4486030-6e65-11e7-8f25-93197bd90881.png)

[2017-07-22 02:03] guolinke commented on #716
@zheguzai100
1. it is ```multi_error``` . And i think ```early_stopping_rounds ``` can be used if you fix this.
2. ```min_data=1,learning_rate=1``` will cause the poor accuracy. please use bigger ```min_data``` and smaller ```learning_rate```
3. ```pred1``` is the possibility distribution of classes, normalized by softmax.
4. what is ```pre1``` ? the result of ```apply(pred1,1, function(x)which.ma

[2017-07-22 02:09] guolinke commented on #715
@cttsai1985
it seems there are some problem of your local opencl env.
Can you run the [example](https://github.com/Microsoft/LightGBM/tree/master/examples/binary_classification) by the gpu-version cli LightGBM ?

[2017-07-22 02:10] guolinke commented on #715
@huanzhang12
any idea about this error ?
[code]

[2017-07-22 02:12] guolinke commented on #710
@henry0312 @wxchan @synapticarbors
any solutions ?

[2017-07-22 02:22] #695 closed

[2017-07-22 04:17] cttsai1985 commented on #715
@guolinke as you wish.
../../lightgbm config=train.conf data=binary.train valid=binary.test device=gpu
[LightGBM] [Info] Finished loading parameters
[LightGBM] [Info] Loading weights...
[LightGBM] [Info] Loading weights...
[LightGBM] [Info] Finished loading data in 0.189428 seconds
[LightGBM] [Info] Number of positive: 3716, number of negative: 3284
[LightGBM] [Info] This is the GPU trainer!!
[Lig

[2017-07-22 04:25] huanzhang12 commented on #715
Two OpenCL libraries are installed on this system. One is provided by Nvidia (version 1.2), and another one is a generic installable client driver (ICD) OpenCL provided by OS (version 2.0). I guess the reason is that LightGBM seems to be linked to the system OpenCL (2.0), but a LD_LIBRARY_PATH setting causes the Nvidia OpenCL to be loaded first, and is incompatible with library that LightGBM was l

[2017-07-22 04:29] guolinke commented on #715
Thanks @huanzhang12

@cttsai1985 before you using huanzhuang12's solution, you should delete .so file in ```LightGBM/python-package``` folder.

[2017-07-22 04:33] guolinke commented on #715
@huanzhang12
To avoid using ```-DOpenCL_LIBRARY=/usr/local/cuda-8.0/lib64/libOpenCL.so -DOpenCL_INCLUDE_DIR=/usr/local/cuda-8.0/include/```,  can we set some environment variable for ```OpenCL_LIBRARY``` and ```/usr/local/cuda-8.0/include/``` ?

[2017-07-22 04:54] cttsai1985 commented on #715
Thanks @huanzhang12 @guolinke

In fact, the installation instruction mentioned by @huanzhang12 is how I built LightGBM w/ GPU currently. Without addling these paths I can not pass the cmake. That is why I had already followed the issue #458 by "sudo cmake -DUSE_GPU=1 -DOpenCL_LIBRARY=/usr/local/cuda-8.0/lib64/libOpenCL.so -DOpenCL_INCLUDE_DIR=/usr/local/cuda-8.0/include/ .." to get it worked. And

[2017-07-22 05:02] guolinke commented on #715
@cttsai1985
It can work if you manually replace the lib_lightgbm.so file ?
if yes, using ```--precomplie``` should work as well. Maybe you can try to delete the LightGBM folder and re-clone then re-build again.

[2017-07-22 05:52] cttsai1985 commented on #715
@guolinke
Yeah, it was my work around solution. I don’t mind to delete LightGBM one more time today. :)
But this time it works! Thanks you guys  @huanzhang12 @guolinke @wxchan working so hard to get this issue solved. The rest part is what did I do this time to remove previous installation and have a new one.

Before this time I remove LightGBM packages in python by a solution found in stacked-ove

[2017-07-22 07:18] chivee commented on #702
change the `Solution Configuration` from `Debug_MPI` to `Release`

[2017-07-22 07:37] Gautamshahi commented on #702
Thanks a lot.

Now i can execute it. Will you please share link or documentation, where i can get instruction to use my own data?

[2017-07-22 07:41] henry0312 commented on #710
I'm sorry for late response.

@synapticarbors

If you want to use clang, you can just run `CXX=clang++ CC=clang cmake  ..`

I don't think a patch such lile the below is needed.

[code]

Can conda-forge set `CC` and `CXX`?

[2017-07-22 07:44] henry0312 commented on #710
Or you can also run `cmake -DCMAKE_CXX_COMPILER=g++-6 -DCMAKE_C_COMPILER=gcc-6 ..`

[2017-07-22 07:52] guolinke commented on #710
@henry0312
if using
[code]
,  ```-DCMAKE_CXX_COMPILER=clang++- -DCMAKE_C_COMPILER=clang``` won't be override ?

[2017-07-22 08:02] henry0312 commented on #710
I'm sorry, I was wrong.

we need a patch like the below:

[code]

After applied the patch, we can run `CXX=clang++ CC=clang cmake ..` or `cmake -DCMAKE_CXX_COMPILER=clang++- -DCMAKE_C_COMPILER=clang ..`.

Actually, the CMakeLists.txt hadn't have either `CMAKE_CXX_COMPILER` nor `CMAKE_C_COMPILE` before f23e608348b7bb92ac1b7b8e5eb1ffa48e1f8b28.
cf. https://github.com/Microsoft/LightGBM/commits/maste

[2017-07-22 08:08] guolinke commented on #710
@henry0312
Okay.
Do we need to change the installation document for the normal osx user ?
And the python/R installation is not easy to change the ```DCMAKE_CXX_COMPILER=clang++- -DCMAKE_C_COMPILER=clang``` .

[2017-07-22 08:09] henry0312 commented on #710
@guolinke
Sure.
However, OSX's system Clang doesn't have OpenMP, so we need to install other clang or gcc.

[2017-07-22 09:50] #710 closed

[2017-07-23 04:02] PayneJoe opened #720 "Does sub_feature seed have something to do with feature names?"
I am solving regression problems with python interface.

case A:
I set sub_feature 0.8 with default feature_fraction_seed 2, my data set columns is like ['age', 'gender', 'income', 'location', etc...], and get a model M1 after training.

case B:
I set sub_feature 0.8 with default feature_fraction_seed 2, I relocated(rename) one of the columns as below

_data['age1'] = data['age']
data.drop('age',

[2017-07-23 04:10] guolinke commented on #720
@PayneJoe
can you provide a example code for case A and B ?

[2017-07-23 04:57] PayneJoe commented on #720
Thanks for your so early response, @guolinke

My productive code is little bit complicated, I will show you the key parts as below:

for case A:

` _params = {
        'max_bin': 8,
        'boosting_type': 'gbdt',
        'objective': 'regression',
        'metric': 'mae',
        'sub_feature': 0.80,
        #'feature_fraction_seed': 2,
        'bagging_fraction':  0.80,
        #'bagging_seed':

[2017-07-23 05:05] guolinke commented on #720
I think this difference is small.

using sub_feature will randomly sample features, which will be affected by the order of features.
But it has nothing to do with feature names.

[2017-07-23 05:14] PayneJoe commented on #720
Hi, @guolinke, but how can I get rid of it because it's really a big difference in my condition.

And, you just mentioned ORDER, you mean it will be okay if I put the new column 'tmp'  in the original position?

[2017-07-23 05:18] guolinke commented on #720
yes, it is okay.

And you can ensemble multi gbdt with different feature_fraction_seed to reduce the variance.

[2017-07-23 05:19] PayneJoe commented on #720
Another question, why performance should changes while adjusting parameter feature_fraction_seed? As https://github.com/Microsoft/LightGBM/issues/116 put.

[2017-07-23 05:21] PayneJoe commented on #720
Ooh, 'ensemble multi gbdt with different feature_fraction_seed' is great to hear, I will try it later. Thanks @guolinke

[2017-07-23 05:22] guolinke commented on #720
it should change if changing feature_fraction_seed.
different feature_fraction_seed will generate different sample features.

[2017-07-23 05:26] PayneJoe commented on #720
The vibration will increase if I enlarge the feature space with the same feature_fraction_seed?

[2017-07-23 05:28] guolinke commented on #720
yeah, it could be. But running it with enough iteration and early stopping also can reduce its variance.

[2017-07-23 05:33] PayneJoe commented on #720
It seems that parameter tuning would be an extremely tough job with a large feature space.

[2017-07-23 05:43] #715 closed

[2017-07-23 05:43] #709 closed

[2017-07-23 06:22] Laurae2 commented on #720
@PayneJoe it is perfectly normal to have a performance difference when re-ordering features / rows / changing seed. In addition, in LightGBM, it is also dependent on the number of threads used.

[2017-07-23 08:24] Laurae2 commented on #716
@zheguzai100 any news? You have coding issues (1, snowballing on other hyperparameters) / context of your code missing (4) as @guolinke outlined in the comment before.

[2017-07-23 08:24] #686 closed

[2017-07-23 08:52] zheguzai100 commented on #716
here is the whole code, [data](https://github.com/zheguzai100/myRproj/commit/475bbca5843994019ef9e5a566be78697abb20ef)
`library(lightgbm)
wine1 <- read.csv('G:/rwork/wine/whitewines.csv',header = TRUE)
indx1 <- sample(1:2,nrow(wine1),prob = c(0.8,0.2),replace = TRUE)
train1 <- wine1[indx1==1,]
test1 <- wine1[indx1==2,]
dtrain1 <- lgb.Dataset(data=as.matrix(train1[,-ncol(train1)]),label=train1$qual

[2017-07-23 11:21] PayneJoe commented on #720
I think I underestimated these stuffs, and I will take it easy when using boosting/bagging tree algorithms. Thanks @Laurae2 and @guolinke , you can close this issue later on.

[2017-07-23 23:31] Inho311 opened #722 "Make issue - Install on OS X"
Hi,

I am a new machine learning learner, and trying to install LightGBM in RStudio, I got the following error (highlighted in bold below).
I don't really understand, but it seems there is an error with Apple Clang and Make. I have Xcode up to date as well. I have updated cmake to the 3.9.0 version via Homebrew, but I dont understand what is wrong.

Can you please help me ?

Thanks in advance!
Nic

[2017-07-24 01:06] guolinke commented on #722
as said in the document: https://github.com/Microsoft/LightGBM/tree/master/R-package

you need to install gcc first  : https://github.com/Microsoft/LightGBM/wiki/Installation-Guide#osx

and run ```export CXX=g++-7 CC=gcc-7``` before installation

[2017-07-24 01:06] #722 closed

[2017-07-24 02:45] #720 closed

[2017-07-24 04:15] zheguzai100 commented on #716
@guolinke
sir, info shows on upstair

[2017-07-24 21:48] neich10 opened #724 "CV AUC - Python vs R"
Cv in R gives higher AUC than in python? (python 2.7)

In Python:
import pandas as pd
import lightgbm as lgb

df_train = pd.read_csv('../train.txt')   # size (50000,718)
df_test = pd.read_csv('../test.txt')     # size (50000,718)

y_train = df_train['TARGET'].values
X_train = df_train.drop('TARGET', axis=1).values
y_test  = df_test['TARGET'].values
X_test  = df_test.drop('TARGET', axis=1).values

[2017-07-24 22:10] Laurae2 commented on #724
Your CV folds are different, make sure you are using premade folds first. R / Python RNGs are not identical.

[2017-07-25 02:55] guolinke commented on #122
@Laurae2 not yet.
Can we have a dataset to test the effect of treating missing and zero feature as the same value ?

[2017-07-25 02:56] #724 closed

[2017-07-25 04:38] geoHeil opened #725 "hyper parameter optimization - killed for large num_leaves even though histogram_pool_size is set"
I already had a question about hyper parameter optimization here https://github.com/Microsoft/LightGBM/issues/695 and https://github.com/Microsoft/LightGBM/issues/687 unfortunately, setting histogram_pool_size does not seem to help.

For example
[code]
result in `[1]    15668 killed     python3 myScript.py`

Now I was already setting the to 8GB. Trying again with 500 i.e. 500mb it fails again - bu

[2017-07-25 04:52] guolinke commented on #725
Are you running many lightgbm instances ?
If yes, you can try the our recently fix for the high memory consumption when running many instances.

https://github.com/Microsoft/LightGBM/commit/f7d190aa5c021de10fd5924d782d2cdf4eee9494

In short, you can try the latest code of master branch.

[2017-07-25 04:52] guolinke commented on #714
@j-mark-hou any updates ?

[2017-07-25 04:53] guolinke commented on #711
@j-mark-hou any updates ?

[2017-07-25 04:55] j-mark-hou commented on #711
sorry by end of week

[2017-07-25 06:40] geoHeil commented on #725
Only a single one. Already in the latest master from last night.
Guolin Ke <notifications@github.com> schrieb am Di. 25. Juli 2017 um 06:52:

[2017-07-25 06:47] guolinke commented on #725
@geoHeil
How many iterations you are running ?
And What is the total memories of you machines?

It seems your are running the big tree model. So the memory will increase with the iterations since the model size is relative the num_leaves times num_iterations.

[2017-07-25 10:15] JoshuaC3 opened #726 "Python Feature Importances have different scales"
Very simple but it caught me out! The feature importance from

[code]

is different to
[code]
which is scaled to [0, 1]. It would be worth having a note of this in the docs, especially as the plot functionality uses the unscaled feature_importance and the default (/easiest to find) feature_importnace is scaled.

[2017-07-25 11:11] geoHeil commented on #725
Default iterations i.e. 100. Memory is about 700GB. Possibly it is a combination of https://stackoverflow.com/questions/45287186/how-to-find-memory-leak-with-pandas as well.

[2017-07-25 11:13] guolinke commented on #726
@wxchan

[2017-07-25 11:15] guolinke commented on #725
@geoHeil I think 100 iterations isn't a big deal.

Can you give a code to show how do you use lightgbm?

[2017-07-25 11:25] geoHeil commented on #725
I use
[code]
where these parameters are applied statically
[code]
and e.g. a suggestion like:

[code]
is tried.

Then, lgbm is executed via:
[code]
I think `categorical_feature` is still from the old api

[2017-07-25 11:32] guolinke commented on #725
```max_bin = 99999``` ? This will use 4-times of memory.
BTW, Did the training start (had outputed the metric if enable verbose) when you are seeing the increasing memory usage ?

[2017-07-25 11:34] guolinke commented on #725
BTW, "subsample" and "bagging_fraction" are the same parameter.

[2017-07-25 15:20] geoHeil commented on #725
@guolinke Thanks for the hint. that 99999 worked so far when not using hyperparameter optimization. Do you think that: 32767 is an useful value?

[2017-07-25 15:36] guolinke commented on #725
@geoHeil it will reduce the half memory.
BTW, will it be killed when running with small leaves ? can you test that ?

[2017-07-25 21:02] neich10 commented on #724
Actually I found the problem was that default values of the stratified parameter is TRUE in R and False in Python. My database was highly inbalanced, so that´s why AUC was lower when the stratified parameter value was set to False (Python default), and higher when it was set to TRUE (R default).

Thank you!

[2017-07-26 02:47] germayneng opened #727 "bash: R: command not found"
## Environment info
Operating System: windows 7
CPU:
R version:
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          3.2
year           2016
month          10
day            31
svn rev        71607
language       R
version.string R version 3.3.2 (2016-10-31)
nickname       Sincere Pumpkin Patch

## Erro

[2017-07-26 03:32] #727 closed

[2017-07-26 03:32] germayneng commented on #727
seems like i did not add the PATH environment for Rscript.exe

[2017-07-26 05:04] geoHeil commented on #725
When choosing histogram_pool_size caching= 2048 and num_leves = 1024 does not seem to crash.

[2017-07-26 06:55] germayneng opened #728 "Error when installing lgbm (windows7)"
## Environment info
Operating System: windows 7
CPU:
R version:

## Error Message:

![capture](https://user-images.githubusercontent.com/22788747/28606664-b768ff5c-720a-11e7-80fa-5d85c36d2b33.JPG)

## Steps to reproduce

[code]

built the .tar.gz file and i installed it via Rstudio and got the error.

[2017-07-26 06:56] guolinke commented on #728
Did you have rtools ?

[2017-07-26 09:00] germayneng commented on #728
@guolinke yes i installed Rtools.

on a side question, how do one obtain the lib_lightgbm.dll. i download it from https://github.com/Microsoft/LightGBM/releases

[2017-07-26 09:23] guolinke commented on #728
@germayneng Did you use 64-bit R, Rtools, and windows 7 ?

@Laurae2 any idea about this error ?

[2017-07-26 09:33] germayneng commented on #728
@guolinke  yes windows 7 enterprise, Rtools 3.4 installed. I even reinstalled R and Rstudios so i only have 64 bit.

Also, I am not able to set PATH variables. after setting them, cmd still does not recognize them

[2017-07-26 10:31] guolinke commented on #728
@germayneng can you paste your PATH  ?

[2017-07-26 10:35] guolinke commented on #728
@germayneng
when I removing the Rtools from path, i got the similar error:
[code]

So it seems you didn't install Rtools correctly.

[2017-07-26 10:44] sushmashahi opened #729 "Unable to load the LIghtGBM solution File in Visual Studio 2017"
I am not able to load the solution file in Visual Studio 217, kindly help!!

![image](https://user-images.githubusercontent.com/30375616/28617355-e310bdf8-71b4-11e7-85c9-c8530af0d432.png)

[2017-07-26 13:31] wxchan commented on #726
Sure, we can add it to docs. Actually I don't know why they have different scale. I think it's some sklearn convention.

[2017-07-26 16:12] germayneng commented on #728
@guolinke

![capture](https://user-images.githubusercontent.com/22788747/28631560-3a3aabf6-7260-11e7-9c56-a2999da08bca.PNG)

I am still getting the error u got. How do i ensure i installed Rtools correctly?

[2017-07-26 16:31] germayneng commented on #728
i manage to solved the PATH variables and added Rtools as well as cmake

now i am getting this error :
![capture](https://user-images.githubusercontent.com/22788747/28632363-dae1fc9c-7262-11e7-964b-c1fdeb67d107.PNG)

[2017-07-26 16:42] ekerazha opened #730 "Add RandomState support for the sklearn wrapper"
Some libs that expect a sklearn-compatible estimator, pass a random_state parameter.

The random_state parameter is similar to the seed parameter of LightGBM, but it can also receive a RandomState instance.

    random_state : int, RandomState instance or None; default=None
        If int, random_state is the seed used by the random number generator;
        If RandomState instance, random_state i

[2017-07-26 16:43] guolinke commented on #728
can you paste the text log instead of picture?
also, full log is needed since the installation could be acutally success .

[2017-07-26 16:46] germayneng commented on #728
@guolinke sorry but how do i get the text log out?

[2017-07-26 16:46] guolinke commented on #728
2 solutions to fix it:

1. install visual studio according to documents.

2. add the mingw64/bin insides Rtools to path

[2017-07-26 17:03] germayneng commented on #728
@guolinke  After adding the PATH you mentioned (add the mingw64/bin insides Rtools to path) i got the log above. Is it completed?

[2017-07-27 00:25] guolinke commented on #728
yeah, it is success

[2017-07-27 00:25] #728 closed

[2017-07-27 01:27] deepx-top opened #732 "Got python automatic termination error when runing multiclass"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System:windows 10
CPU: E5200
C++/Python/R version: Python 3.5.2

## Error Message:
Just

[2017-07-27 01:30] Gautamshahi opened #733 "Problem with the dataformat"
Error in lgb.call("LGBM_DatasetCreateFromCSC_R", ret = handle, private$raw_data@p,  :
  api error: Unknown format of training data

Why i am getting this error while running the R script?

[2017-07-27 01:38] guolinke commented on #733
refer to question 1 here: https://github.com/Microsoft/LightGBM/blob/master/docs/FAQ.md#r-package

[2017-07-27 01:38] #733 closed

[2017-07-27 01:40] guolinke commented on #732
@deepx-top
for the multi-class, you cannot use "l2" and "auc" metric. please try the ```multi_logloss``` or ```multi_error``` .
BTW, ```early_stopping_rounds``` cannot exceed the ```num_boost_round```.

[2017-07-27 01:42] guolinke commented on #729
please make sure you had choose visual c++ when installing visual studio .

[2017-07-27 01:42] #729 closed

[2017-07-27 01:42] Gautamshahi commented on #733
Ok.

How to divide my own data in .rda format? And where(folder) I need to put it to use it in Rstudio?

[2017-07-27 01:44] guolinke commented on #733
not, try following.

[2017-07-27 01:45] Gautamshahi commented on #733
again getting the same error

[image: Inline image 1]

On Thu, Jul 27, 2017 at 7:08 AM, Guolin Ke <notifications@github.com> wrote:

--
Gautam Kishore Shahi,
Master Student,
DISI- University of Trento,
Italy

[2017-07-27 01:52] guolinke commented on #725
@geoHeil
I just notice you are using ``"n_estimators": 9999999`` .
So the memory will increase during training since you are train a very big model (9999999 * 4095) .

[2017-07-27 01:52] #725 closed

[2017-07-27 01:55] guolinke commented on #716
@Laurae2 can you help for this ?

[2017-07-27 03:10] germayneng commented on #728
@guolinke  many thanks for taking your time out for this :) cheers

[2017-07-27 04:42] deepx-top commented on #732
It works,  thanks @guolinke

[2017-07-27 04:42] #732 closed

[2017-07-27 05:28] geoHeil commented on #725
Yes, but as mentioned in one of the linked documents @Laurae2 suggests this behavior as early stopping prevents overfitting. Would you suggest a different approach?

[2017-07-27 05:33] Laurae2 commented on #725
Memory requirement is nearly quadratic to the number of leaves, if you are at the limit of your RAM at 2047 leaves (full 11 depth), it will explode RAM at 4095 leaves (full 12 depth).

@guolinke In the case of the number of iterations, if a validation dataset is available, it is better to set it to an extremely large value (such as 10000000) and let early stopping doing its job.

[2017-07-27 05:39] Laurae2 commented on #716
1. You need to use the validation metric, and in your case loop through all the range you want to optimize. Then, you take the best validation metric.

2. There is some code available in a closed issue in this repository for hyperparameter tuning for R. Search for "expand.grid" and you should find it.

[2017-07-27 05:42] Laurae2 commented on #728
@guolinke l'll add it to the R readme and to the FAQ for compilation in R and PATH requirement (tell user to not skip PATH during installation) when I'll get on a computer.

[2017-07-27 05:45] Laurae2 commented on #724
Self: to fix in a future PR for Python, stratified CV by default

[2017-07-27 05:48] Laurae2 commented on #122
@guolinke I can generate one synthetic worst case scenario dataset and upload it here.

[2017-07-27 07:35] Laurae2 opened #736 "LightGBM benchmarks on Microsoft Blog"
Did you get the same performance issue as in https://github.com/Microsoft/LightGBM/issues/460 ?

https://blogs.technet.microsoft.com/machinelearning/2017/07/25/lessons-learned-benchmarking-fast-machine-learning-algorithms/

I am getting for 31 leaves on Higgs dataset:

i7-7700K 4.5/4.4 GHz vs 2x 10 core Ivy Bridge 3.3/2.7 GHz:

| Threads | 200 iters i7 | 200 iters 2x Xeon |
| ---: | ---: | ---: |

[2017-07-27 08:30] guolinke commented on #736
@Laurae2 yeah, we find the multi-threading performance is not good (compared with local machine) in azure. We had contacted Azure team for this issue.
And the problem seems is caused by the memory speed.

[2017-07-27 08:30] #736 closed

[2017-07-27 08:33] guolinke commented on #730
@wxchan

[2017-07-27 09:32] wxchan commented on #730
@ekerazha all our current random numbers are generated in c++ code, so do you want to use RandomState to generate random number, or only the random seed matters (the seed will pass to c++ and still generate random number in c++)?

[2017-07-27 19:04] ungil opened #738 "bug in error message: Log::Fatal("Prediction results file %s doesn't exist", data_filename);"
There is a minor bug in src/application/predictor.hpp

[code]

The error message should refer to result_filename, not data_filename

[code]

https://github.com/Microsoft/LightGBM/blob/582ded51f0c53887117ae179d4d21b80e46a2b96/src/application/predictor.hpp#L113

[2017-07-27 19:07] ekerazha commented on #730
@wxchan I think it should be ok to just take the seed, however it is not possible to get the original seed from a RandomState instance (see: https://stackoverflow.com/questions/32172054/how-can-i-retrieve-the-current-seed-of-numpys-random-number-generator ). Maybe we can still get a value (although it's not the original seed) calling get_state() (see: https://docs.scipy.org/doc/numpy/reference/gen

[2017-07-28 06:10] yananchen1989 opened #741 "Why the test error are so different between lightGBM and xgboost ?"
I try to compare the model of lightgbm and xgboost to test whether the evaluation error is the same on a dataset. To my surprise, although I try to keep the parameters same, the evaluation results are so different. (lightGBM is much worse than xgboost)
Here is the code for param tuning. Anything wrong that I have not noticed ? Thanks.
[code]

[code]

[2017-07-28 06:23] yananchen1989 commented on #741
There are 110 attributes in my dataset.

[2017-07-28 06:53] yananchen1989 opened #742 "Why training & eval error is increasing when training ?"
I tried train a gbdt model by lightgbm, but I find that the logloss error was increasing in the course of training. So what's wrong with it ?
Here paste my code:
[code]

[2017-07-28 06:56] guolinke commented on #741
@yananchen1989
The parameter of lightgbm don't match xgb.
e.g. num_leaves=31 with max_depth=8 ?

[2017-07-28 06:56] #741 closed

[2017-07-28 06:59] guolinke commented on #742
try:
 'is_unbalance':False,
    'scale_pos_weight':1
?

[2017-07-28 07:02] yananchen1989 commented on #741
Sorry, I am newbie to lightgbm. Is there any correspond relationship between num_leaves and max_depth?

[2017-07-28 07:03] guolinke commented on #741
https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters-tuning.md#tune-parameters-for-the-leaf-wisebest-first-tree

[2017-07-28 07:05] yananchen1989 commented on #742
Well, I tried your suggestion and the logloss is decreasing.
But in my data set the pos and neg are really unbalanced . So why should I turn the two param off ?
Thanks,

[2017-07-28 07:07] guolinke commented on #742
@yananchen1989
you can only set one of them (cannot set both)

[2017-07-28 07:07] #742 closed

[2017-07-28 07:12] #711 closed

[2017-07-28 07:19] chivee commented on #738
Thanks for your kindly report.

[2017-07-28 07:19] #738 closed

[2017-07-28 08:07] RoyiAvital opened #743 "MATLAB Support / Wrapper"
Hello,

Any chance you add MATLAB support for LightGBM?
Maybe somekind of a wrapper to allow basic features under MATLAB?

Thank You.

[2017-07-28 08:35] guolinke commented on #716
@zheguzai100 try bigger min_data, and small learning_rate .

[2017-07-28 08:35] #716 closed

[2017-07-28 08:57] chivee commented on #743
Hi @RoyiAvital , we don't have any plan for extending to MATLAB yet,

I'm not quite sure but I guess you can calling python function using [this](https://www.mathworks.com/help/matlab/call-python-libraries.html).

[2017-07-28 08:59] RoyiAvital commented on #743
Yea,
Well that would be a big "Bypass" to do.

I wish you reconsider this.
Even well documented DLL could work and MATLAB support will expose this great package to many more users.

Thank You.

[2017-07-28 12:01] Laurae2 opened #744 "Test of missing value handling"
This issue is to test fixes for issue #122. The case below is the worst scenario ever existing when 0 and NAs are mixed.

Users can run this demo in R to test the conflict between zero values and missing values.

Objective to have:

- [x] Pass test (AUC = 1)

[code]

If you are getting this, there is a conflict between zeroes and missing values:

[code]

![image](https://user-images.githubusercont

[2017-07-28 12:12] guolinke commented on #744
This is the worst case (need to use NA and zero to split data).
But it is not a usual case in real data, right ?

[2017-07-28 12:16] guolinke commented on #122
move to #744 .

[2017-07-28 12:16] #122 closed

[2017-07-28 12:40] wxchan commented on #730
@ekerazha The simplest way is to generate a random number as the seed, but I think it won't be what you want. (because it makes no differences as passing an integer.) But actually for current codes, even if you pass an integer, it is still used to generate 4 different random number for different purposes (bagging, sub-feature etc).

[2017-07-28 13:38] ekerazha commented on #730
@wxchan I think I'd go for the two steps I listed above, so:

- If random_state is a int value, just pass that value as seed
- If random_state is a RandomState instance, call get_state() and derive a int value from that (crc32 on some value returned by get_state()?) to use as seed

What do you think about this?

[2017-07-28 14:00] wxchan commented on #730
@ekerazha what is the different between `crc32 on RandomState.get_state() (which returns tuple(str, ndarray of 624 uints, int, int, float))` and `a random number generated by RandomState, like RandomState.randint(MAX_INT)`? Or can you describe where you want to use RandomState instead of an integer?

[2017-07-28 14:47] ekerazha commented on #730
@wxchan well, if for the same RandomState original seed, randint(MAX_INT) always returns the same value, I think it should be ok to use it... maybe the crc32 on internal state approach is an overcomplication :-)

[2017-07-28 16:00] wxchan commented on #730
@ekerazha sorry I am a little distracted by other things. Your solution is right and better. But the actual key question here is, why don't you just use an integer, what is the necessity to use RandomState. You can simply pass an integer to seed, using RandomState doesn't make thing easier in my opinion.

[2017-07-29 05:19] AbdealiJK commented on #319
The categorical feature support has been extremely useful for my work! Thanks a lot for adding it back :)

[2017-07-29 06:59] Laurae2 commented on #744
@guolinke It is the most common case for real data when users don't know how to encode properly zero values (this happens a lot, especially with old school Excel users / research beginners / fresh graduates).

I would say it might be better if LightGBM handles NAs on the most extreme possible values (like the last bin), such as:

[code]

I currently do not know how the wrappers are working, but we

[2017-07-29 07:22] guolinke commented on #744
@Laurae2 I will try to fix it.
BTW, will it be a problem if force using 'na' as missing value ?

[2017-07-29 07:27] Laurae2 commented on #744
@guolinke If the R/Python wrappers can handle NA as 'na' it should be fine.

I think we may also add an option "missing" like xgboost in that case (specify if it is NA, or a specific value like 0, etc.).

Example:

* Sparse matrix: what is missing = missing elements in the sparse matrix, ignore "missing" parameter
* Dense matrix: what is missing = by default NA, else "missing" parameter is conside

[2017-07-29 07:34] guolinke commented on #744
@Laurae2
I will only allow NA as missing in c++ side. Or it will increase many complexity.
I think using arbitrary values as missing can be processed in python / R side. (e.g. convert them to NA first).

[2017-07-29 07:36] guolinke commented on #744
For sparse matrices, it is okay to just using the unshown values as missing ? or need to explicitly contain n/a ?

[2017-07-29 07:38] Laurae2 commented on #744
@guolinke For sparse matrices, only allow unknown values as missing as they are implicit NAs.

[2017-07-29 07:39] guolinke commented on #744
@Laurae2
if doing this, how can user use 0 and na at the same time ?

[2017-07-29 07:40] AbdealiJK commented on #254
Now that the categorical feature support is back - coming back to the original question ... is there any documentation on how the categorical features are handled internally ?

[2017-07-29 07:41] guolinke commented on #254
@AbdealiJK
it is basically the same as one-hot coding explicitly.
but we are refining it : https://github.com/Microsoft/LightGBM/issues/699

[2017-07-29 07:42] Laurae2 commented on #744
@guolinke Sparse matrices are supposed to allow arbitrary missing values. In R and Python, we can have zeroes and missing values at the same time in a sparse matrix of type dgCMatrix (not sure if other formats allow it, but I think LightGBM does not allow the other formats anyway).

[2017-07-29 07:43] guolinke commented on #744
if zeroes and missing values at the same time in a sparse matrix, which values will be ignored ? zero or missing ?

[2017-07-29 07:44] Laurae2 commented on #744
missing values are ignored, zeroes are intrepreted like other numbers (not missing).

[2017-07-29 07:47] guolinke commented on #744
@Laurae2
oh, it is bad .. so as the libsvm format ?
So the sparse matrices will have two behaves: 1. ignore the zero values if not missing, 2. ignore the n/a value if having missing .

[2017-07-29 07:59] guolinke commented on #744
I just test it in python:
[code]
The zeros are ignored.

[2017-07-29 08:02] Laurae2 commented on #744
@guolinke The default behavior of sparse matrices are 0s as missing values, you can write a 0 on the nan you have.

See this: https://www.kaggle.com/laurae2/sparse-matrix-with-explicit-zeroes

[2017-07-29 08:05] guolinke commented on #744
Test in R:
[code]

[2017-07-29 08:11] guolinke commented on #744
@Laurae2 yeah, But the default behave is ignored the zeros. We cannot expect user ignore the n/a explicitly.

maybe I can try to add a parameter: ```zero_as_missing```. default is false.
And we treat all unshown values in sparse matrics (and libsvm) as zero.

[2017-07-29 11:36] haboryme opened #746 "Feature selection for binary classification"
I'm not really sure if this is an issue or a lack of understanding on my part, my apologies if it is.

LightGBM is used for binary classification and for identifying the relevant features.
I'm using a dataset that has 2 features (index : 1 and 7) that are equal (100% correlation) and perfectly predict the labels whereas the others are randomly generated.

- If feature_fraction = 1 the feature comi

[2017-07-29 12:36] guolinke commented on #746
@haboryme
this is by design. when two features are the same, LightGBM will always use the one with smaller index.
When using feature_fraction, the two features could be not used at the same time, so it is possible to use the one with large index.

[2017-07-29 12:36] #746 closed

[2017-07-29 19:23] fenqingr opened #748 "100% cpu usage when training on GPU?"
Hi Guys,

Thank you very much for this wonderful new tool! I installed it and tested and I found that even when I used GPU for training with no data transfer between CPU and GPU during training, CPU was constantly staying at 100% usage while my GPU used only 5%~10% usage.

My desktop environment:

cpu: i5 2500K @4G
32G DDR3 memory
gpu: EVGA GTX 1080 Ti
mainboard : AsRock gen3 extreme3
Windows 7 pr

[2017-07-29 19:52] Laurae2 opened #749 "Random Forest is extremely slow"
Specs:

* R 3.4.0
* MinGW 7.1
* Windows Server 2012 R2
* 2x 10 core Xeon (total of 40 threads)

Random Forest can be extremely slow for unknown reasons.

To reproduce the issue (requires [Bosch](https://www.kaggle.com/c/bosch-production-line-performance) dataset), run the following:

[code]

[2017-07-29 20:37] ungil opened #750 "feature importance in saved model ignores the num_iteration parameter (uses full model)"
Feature importance reported by LGBM_BoosterSaveModel and LGBM_BoosterSaveModelToString is always for the full model, ignoring the num_iteration parameter used to limit the number of trees reported.

[2017-07-30 01:14] guolinke commented on #749
@Laurae2
it is normal seems you are using ```num_leave=4096```.
you can try to use the comparable parameters as normal mode, and test is it still slow ?

[2017-07-30 03:52] ungil commented on #743
I just published a wrapper at https://github.com/ungil/LightGBM-MATLAB

It's not really tested, so there may be plenty of issues, and a few functions are not yet done (see TODO comments).

[2017-07-30 04:02] guolinke commented on #750
@wxchan

[2017-07-30 04:05] guolinke commented on #748
It is normal since the GPU mode still will use cpu . you can set num_threads to reduce the cpu usage.

[2017-07-30 05:06] guolinke commented on #748
for 2 & 3, i think @huanzhang12 can answer you.
for 4, can you provide a re-produce code ? @Laurae2 do you have any idea about it ?

[2017-07-30 05:11] wxchan commented on #750
@ungil your actual issue is`feature_importance doesn't have num_iteration option`, right?

[2017-07-30 05:18] wxchan commented on #726
@JoshuaC3 do you think we should use same scale?

[2017-07-30 05:19] huanzhang12 commented on #748
@fenqingr Yes, I believe the CPU becomes the bottleneck in your case. i7 2500k is back from 2011, and can't keep feeding the 1080 Ti with enough workload (some steps need to be done on CPU). I recommend using a recent CPU with at least 8 cores (for example, AMD Ryzen 1700) to pair with your GPU.

I am currently working on moving more workload to GPU to reduce the CPU requirement. So it might work

[2017-07-30 05:28] yananchen1989 opened #751 "Should the categorical feature be int ?"
`train_data = lgb.Dataset(data, label=label, feature_name=['c1', 'c2', 'c3'], categorical_feature=['c3'])`
In the construction of lgb.Dataset, we can specify some columns as categorical feature.
In the example above, what the c3 feature's dtype should be ?  Since category feature exists in the train_x, which is a array and all the column are float. Although the category features are int, when I ad

[2017-07-30 05:34] guolinke commented on #751
yeah, it should be int type, but converting to float is okay (the precision is 2^23 for 32-bit float).
LightGBM will force convert the categorical feature to int type.

[2017-07-30 05:34] #751 closed

[2017-07-30 05:47] yananchen1989 opened #752 "Is there any method to solve the memory overload problem ?"
Hi team. Since the train data is to large to load in my laptop's memory, is there any way to load it from external memory? In xgboost, external memory method can solve the problem that too large the dataset to load in.
So currently, I want to know whether LightGBM has similar function. Thanks.

[2017-07-30 05:49] guolinke commented on #752
@yananchen1989
you can try use ```two_round=true``` , which can reduce the memory usage when loading data from file.

[2017-07-30 07:50] ungil commented on #750
This is not an issue relative to the python API. I'm talking about to the contents of the model.txt file, say, produced by the API call LGBM_BoosterSaveModel.

Of course, it affects also the python function save_model. For example if we add to examples/python-guide/simple_example.py the line
[code]
the file model1.txt will contain only trees 0 and 1, while model.txt contains trees 0-20. However, t

[2017-07-30 07:53] wxchan commented on #750
@ungil ok, I got it. It should be easy to fix, do you want to submit a pr? or I can fix it later.

[2017-07-30 08:26] Laurae2 commented on #749
@guolinke There is a massive issue with MinGW in Windows. Check below the performance:

| Compiler | LightGBM | AUC | Best Iter | Time (ms) |
| --- | --- | ---: | ---: | ---: |
| Visual Studio | GBT | 0.6599964 | 25 | 87060.578 |
| Visual Studio | RF | 0.6539715 | 24 | 40204.351 |
| MinGW 7.1 | GBT | 0.6590533 | 25 | 279344.248 |
| MinGW 7.1 | RF | 0.6541649 | 24 | 198392.4 |

new code:

[code]

[2017-07-30 08:26] #749 closed

[2017-07-30 08:31] guolinke commented on #749
@Laurae2 I didn't know why MinGW is so slow ...

[2017-07-30 08:32] Laurae2 commented on #749
@guolinke Now we have a good reproducible example in case someone wants to check the performance discrepancy between Visual Studio and MinGW for LightGBM.

[2017-07-30 08:46] ungil commented on #750
I've never used pull requests and I've not really looked at how to fix the issue. It may be easier for you to take care of this, thank you. Anyway it's not a critical bug, I just noticed by chance that the feature importance reported in the file was incorrect/misleading.

[2017-07-30 08:49] wxchan commented on #750
@ungil ok, I will do it.

[2017-07-30 12:36] fenqingr commented on #748
Thank you guys! You are awesome! I reset num_thread to 1 and now only use 25% of CPU and the run time only about 15% slower! (Does this mean actually most CPU time are actually running empty loops even if I set num_thread=4?).

For question #4, please see the code below. I first set to 16 bin and then changed to 64 bin but the output suggested #of bin remained 16 after change the bin setting.

set

[2017-07-30 17:47] RoyiAvital commented on #743
@ungil , This is great.
Hopefully will be able to check it soon and report.

Thank You.

[2017-07-30 22:28] #744 closed

[2017-07-30 23:32] iFe1er opened #757 "[Bug Related]Training loss unstable and sudden jump high"
## Environment info
Operating System: Windows 10,
Python Version: Python 2.7 Anaconda + Lightgbm

## Error Message:
I was doing a binary classification task on a relatively large dataset(2.5GB, with my memory 16GB) , at about 500th rounds, it appears that one of the iteration is abnormal, causing both of training set and validation set error going up. These abnormal happens from time to time, some

[2017-07-31 01:10] guolinke commented on #757
@iFe1er
It is possible when you are using bagging, since some training data are out-of-bag.

[2017-07-31 01:10] #757 closed

[2017-07-31 01:13] guolinke commented on #748
@fenqingr
the max_bin is the parameter for the Dataset. So you need to define a new lgb.Dataset in your second round training.

[2017-07-31 02:16] fenqingr commented on #748
Thank you @guolinke ! I tried to remove the Dataset and redefine one with max_bin=64 and it worked;however, when I to define it with 128 bin , the program report 256 bin. Any insight why this happened?

The code below:

params2=list(
  max_bin = 127,objective="binary",
  num_leaves = 32,
  num_iterations = 5,
  device = "gpu"

)
rm(dtrain)
dtrain=lgb.Dataset(data =x, label =y, free_raw_data = T)
m

[2017-07-31 02:20] huanzhang12 commented on #748
@fenqingr There are no GPU kernels for 128 bins, so the kernel for 256 bins are used. This is normal.

[2017-07-31 03:44] fenqingr commented on #748
I see! Thanks for the help!

[2017-07-31 03:44] #748 closed

[2017-07-31 06:33] #714 closed

[2017-07-31 09:33] JoshuaC3 commented on #726
Yes. I think that would make sense. However, I am not sure if it more desirable to put the raw feature importance or whether to return the [0, 1] scaled data. IMO, I lean more towards raw as people might wish to know the actual number of splits/gain. They could then normalise this themselves if so desired. Thoughts on this?

If looking at this section of the code there is also `gbm.feature_importa

[2017-07-31 09:53] ekerazha commented on #730
@wxchan Because some libs that rely on sklearn estimators, expect a sklearn-compatible behavior for the random_state parameter.

[2017-07-31 09:56] wxchan commented on #730
But they can't accept integer?

[2017-07-31 10:19] wxchan commented on #726
@JoshuaC3 I think using raw resultis better, I guess we refer to some designs of xgboost at the very beginning. I can change both of them to raw result, and add a note.

[2017-07-31 10:22] wxchan commented on #730
I think this feature is acceptable, but the solution is not elegant enough (not like we can get seed directly from RandomState). And it's not something we must add. What's the solution of those sklearn-compatible estimators?

[2017-07-31 11:34] avannaldas commented on #315
I spent some time understanding how this can be done. I had multiple conversations with Guolin about this. Guolin thinks that RGF may not give significant performance improvement over existing GBDT implemenations. @guolinke can share more on this.

[2017-08-01 02:54] #750 closed

[2017-08-01 08:17] Laurae2 opened #760 "[R-package] Prediction early stopping not working?"
ping @cbecker @guolinke

OS: Windows Server 2012 R2
R 3.4.0 compiled with MinGW 7.1
LightGBM compiled with Visual Studio 2017

Prediction early stopping parameters are not working (or are not discoverable in R?)

Timings reported for 500 iterations on Bosch dataset:

| Format | 0 = NA | Early Stop | AUC | Best Iter | Time |
| --- | --- | --- | ---: | ---: | ---: |
| Sparse | FALSE | FALSE | 0.7095

[2017-08-01 08:32] Laurae2 opened #761 "GOSS benchmarking"
@guolinke Is GOSS finalized enough to start some larger benchmarking on it?

Bosch dataset, 63 leaves, 40 threads, reported 500 iterations for timing:

| Format | 0 = NA | Booster | AUC | Best Iter | Time |
| --- | --- | --- | ---: | ---: | ---: |
| Sparse | FALSE | GBT | 0.7095987 | 140 | 135683.676 |
| Sparse | FALSE | GOSS | 0.7125379 | 110 | 96754.299 |
| Sparse | TRUE | GBT | 0.7097566 | 118

[2017-08-01 08:38] guolinke commented on #761
@Laurae2
The bottleneck of GOSS is it needs to prediction on full dataset on every iteration.
We are working on the speed-up of prediction.

[2017-08-01 08:56] guolinke commented on #760
@Laurae2
Is `num_threads` working ?

[2017-08-01 08:59] Laurae2 commented on #760
@guolinke yes it works. When using 20 threads, task manager reports only 50% CPU usage instead of 100%.

[2017-08-01 09:48] mdabros opened #763 "C# .Net interface"
Are there any plans for a C# .net interface similar to what is availible for Python and R? For example:
https://github.com/Microsoft/LightGBM/blob/master/python-package/lightgbm/sklearn.py

I can see a related issue (https://github.com/Microsoft/LightGBM/issues/74) was closed earlier this year. However, the resulting nuget package only seem to package the command line version of lightGBM.

[2017-08-01 12:11] cbecker commented on #760
Thanks for pinging me. Have you tried with a lower value of `pred_early_stop_margin`? I usually use `pred_early_stop_margin = 1.5`. If you try something very low like `0.1` it should be very fast to predict but the predictions should be almost completely off. Let me know, I'll be happy to take a look if it's indeed not working.

[2017-08-01 12:40] Laurae2 commented on #760
@cbecker I used `pred_early_stop_margin = 0.1` and I am getting identical results as without it. Am I missing a parameter that must be set to activate early stopping for predictions?

[2017-08-01 12:57] cbecker commented on #760
That's weird. I never tried the R package but there could be a bug there or in the code I added for early stopping. Can you point me to a zip file with all the files needed to run this code, including the data? I've never used R but I can take a look if I have the whole working code.

[2017-08-01 13:10] Laurae2 commented on #760
@cbecker I give you an easier example.

To run the example and install in R, you need Visual Studio or Rtools (if Windows) + cmake (cmake must be in PATH, mandatory step):

[code]

Then you can try this very simplifiedexample:

[code]

![image](https://user-images.githubusercontent.com/9083669/28826755-7d813898-76cb-11e7-9c7e-ec470a85a994.png)

With `pred_early_stop_margin = 0.1` it should have st

[2017-08-01 13:14] cbecker commented on #760
Thanks. I think I know where the problem may come from: pred_early_stop is for prediction, and you are passing those parameters at training time. @guolinke how is this handled in R? Can we pass those parameters to the predict function?

[2017-08-01 16:48] luyongxu commented on #760
I have some related insight. Commit ac975e734d6982ad94e6394908cea3bd4bd2744d introduced a bug on my system. I installed the version immediately before the commit above and compared it to current version on master.

Reproducible example below.

[code]

Produces a normal result. Returns the model object.

[code]

But the current version on master returned this error when I tried to run it.
[code]

[2017-08-01 17:20] Laurae2 commented on #760
@luyongxu The bug you have is unrelated to the current bug (your bug is a pure R bug, while my bug is a R/C++ wrapping bug or an issue on the C++ backend).

See https://github.com/Microsoft/LightGBM/pull/764 for a fix to your issue.

[2017-08-02 00:20] Eric2333 opened #765 "[R] cannot add bindings to a locked environment when lgb.cv stopped by early stopping"
## Environment info
Operating System: Ubuntu 14.04
R version: 3.3.3

I just took the code from the document as follow:
[code]
and I had the following error
## Error Message:
[code]

[2017-08-02 01:03] yuan76316 opened #766 "AttributeError: module 'lightgbm' has no attribute 'Dataset'"
Please search your question on previous issues, [stackoverflow](https://stackoverflow.com/questions/tagged/lightgbm) or other search engines before you open a new one.

For bugs and unexpected issues, please provide following information, so that we could reproduce on our system.

## Environment info
Operating System: ubuntu 16.04
CPU:
C++/Python/R version: 3.6

## Error Message:
Traceback (most r

[2017-08-02 01:54] guolinke commented on #765
fixed via #764 .

[2017-08-02 01:54] #765 closed

[2017-08-02 01:55] guolinke commented on #766
refer to FAQ: https://github.com/Microsoft/LightGBM/blob/master/docs/FAQ.md#r-package

[2017-08-02 01:55] #766 closed

[2017-08-02 01:57] guolinke commented on #760
@Laurae2 I think the predict function in R can accept the additional parameters as well.

[2017-08-02 02:12] #699 closed

[2017-08-02 02:23] henry0312 commented on #699
Are the default values of `max_cat_group`, `max_cat_threshold`, `cat_smooth` enough for accuracy?

[2017-08-02 04:41] guolinke commented on #699
@henry0312
These parameters are used to deal with over-fitting. So the optimal parameters are depends.

```max_cat_group``` is like the ```max_bin``` in numerical features, I think it is better to use small values.
```max_cat_threshold``` is used to reduce the communication cost in parallel learning, so it is safe to use a large value if only performing single machine training.
```cat_smooth``` is

[2017-08-02 04:50] guolinke commented on #699
The parameter ```cat_smooth``` is a fixed value for all categorical features.
Maybe it is better to use a relative term, e.g. ```cat_smooth*num_data/num_categorical```.  Thus, it will have different values for different categorical features.

[2017-08-02 07:19] yuan76316 commented on #766
@guolinke  Thanks for the url. However, I still do not understand why I got AttributeError: module 'lightgbm' has no attribute 'Dataset'. Sorry for this newbie question, cloud you tell me why this happen? I just thought lgb.Dataset(train,label) is normal use of lgb. Did I miss something?

[2017-08-02 07:33] Laurae2 commented on #760
@cbecker With the help of @guolinke it now works.

It works if I use this to predict:

[code]

![image](https://user-images.githubusercontent.com/9083669/28862496-8d92efac-7765-11e7-8351-7e952a9ed3fa.png)

[code]

![image](https://user-images.githubusercontent.com/9083669/28862537-a6e63752-7765-11e7-8dbe-0d4bda034fae.png)

[2017-08-02 07:33] #760 closed

[2017-08-02 07:48] guolinke commented on #766
@yuan76316 try ```lgb.unloader(wipe = TRUE)``` . It seems is a R's bug.

@Laurae2 maybe we can add a clearer description for these strange R issues.

[2017-08-02 07:53] Laurae2 commented on #766
@guolinke The issue is LightGBM works with pointers and R is known to avoid using pointers, which is unfriendly when using LightGBM package as it requires rethinking how to work with pointers.

The issue is the same with data.table, which is unfriendly to any new users who never programmed using pointers. Any mistake by the end-user is punished immediately with unrecoverable issues (like overwriti

[2017-08-02 07:55] guolinke commented on #766
@Laurae2
Can we solve this inside our R-package ?

[2017-08-02 08:03] henry0312 commented on #699
@guolinke thank you for explanation. I'll try some experiments while reading your explaining.

BTW, I think it's about time to release v2.0.5.

[2017-08-02 08:06] guolinke commented on #699
@henry0312
yeah. It will be better if you can share some experiment results here.

[2017-08-02 08:07] Laurae2 commented on #766
@guolinke Error happens here: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/lgb.train.R#L156

[code]

Not sure how it can be fixed, without leading to a more serious crash. **Perhaps, work with a copied lgb.Dataset pointer and let the original one safe?**

Reproducible error:

[code]

Trying this workaround, it just crashes instead...:

[code]

[2017-08-02 08:13] yuan76316 commented on #766
@guolinke , Sorry ,I used python to find this error.  Another strange thing is that When I call only
`import lightgbm as lgb` in jupyter
There is a strange error throw:
[code]

Actually , I did not call any other functions

[2017-08-02 08:18] guolinke commented on #766
@yuan76316
can you try to install python-package from source ?
[code]

[2017-08-02 08:27] yuan76316 commented on #766
@guolinke  Thanks,I will try it

[2017-08-02 08:30] guolinke commented on #766
@Laurae2
two solutions:
1. maybe we should have a new c_api named "CheckParameter".
Before updating the parameters to Dataset in lgb.train, we should check the parameters first.

2. change the ```Dataset$update_param``` ( https://github.com/Microsoft/LightGBM/blob/6e07a8d5e3698dabd75a9dfa634b4a8f2eb52f1f/R-package/R/lgb.Dataset.R#L471-L477). Now it updates parameters from the lgb.train. We can use

[2017-08-02 08:32] guolinke commented on #766
@wxchan
It seems python also have this issues.
I think Dataset should not remember the parameters from lgb.train

[2017-08-02 08:52] yananchen1989 opened #767 "How to control the frequency of output information ?"
I try to use 'metric_freq':100, to control the frequency of output metric information. But it doesn't work. How should I tune the parameters to control the frequency, for example, every 100 iters or just print the final result of best iteration. Thanks.

[code]

[2017-08-02 09:14] yananchen1989 commented on #767
`bst_none = lgb.train(params,verbose_eval=100,lgb_train, num_boost_round=1000, valid_sets=[lgb_train,lgb_eval],early_stopping_rounds=400)`

I also use `verbose_eval=100` to control, but the error comes:` SyntaxError: non-keyword arg after keyword arg`

[2017-08-02 09:38] guolinke commented on #767
@wxchan

[2017-08-02 09:59] wxchan commented on #767
@yananchen1989 https://stackoverflow.com/questions/15723294/syntaxerror-non-keyword-arg-after-keyword-arg-error-in-python-when-using-requ

[2017-08-02 10:01] wxchan commented on #766
@guolinke right. Should we make a copy of Dataset params before call lgb.train() and set it back after training?

[2017-08-02 10:09] yananchen1989 commented on #767
solved, thanks.

[2017-08-02 10:09] #767 closed

[2017-08-02 10:46] guolinke commented on #766
@Laurae2
I found the crash is caused by this line: https://github.com/Microsoft/LightGBM/blob/master/R-package/R/utils.R#L45

Do you know why ?

[2017-08-02 10:47] guolinke commented on #766
@wxchan I think a simpler solution is using an additional param dict, which will be replaced every time call the lgb.train.

[2017-08-02 14:23] guolinke opened #768 "[GPU] further improving GPU performance"
Refer to a benchmark here: https://blogs.technet.microsoft.com/machinelearning/2017/07/25/lessons-learned-benchmarking-fast-machine-learning-algorithms/  and https://github.com/Microsoft/LightGBM/issues/620#issuecomment-309955704 .

It seems the LightGBM GPU still can be further improved. Current GPU implementation has a overhead, which is the additional memory copy cost between GPU and CPU.
As a

[2017-08-02 14:50] sami043 opened #769 "Output model from Python to C/C++ in if/else format"
Is there any built in method to export the model to .c/.cpp in if/else format? I could potentially parse the text model but that may be a little more prone to error. I saw on here someone had created a python script to do it for binary but for multiclaas it requires modifications. Specifically, what does a decision type of '2' represent?

[2017-08-02 14:52] guolinke commented on #768
@huanzhang12 another question: Can moving the GPU code to CUDA improve the speed ?

[2017-08-02 14:55] guolinke commented on #769
We have this feature.
refer to our test here: https://github.com/Microsoft/LightGBM/tree/master/tests/cpp_test

BTW, the decision_type = 2 is out of date now. maybe you need to retrain your model with the latest code.

@wxchan can you add more documents for the if-else conversion ?

[2017-08-02 14:58] sami043 commented on #769
I just built the latest lightGBM yesterday so that's strange that I am getting that decision type. With save_model?

[2017-08-02 15:01] guolinke commented on #769
@sami043 It is updated today. decision_type is still there, but its value range is changed.
if you model file has ```num_cat``` field, it is up to date.

[2017-08-02 15:38] wxchan commented on #769
@sami043 you can add `convert_model=SOME_PATH` and `convert_model_language=cpp` to params , 1st is output address and 2nd is output language(now c++ is only option). And you need to re-compile c++ and python to make it work.

I actually never tried it from python. You can take a try.

@guolinke I will write some docs maybe tomorrow.

[2017-08-02 16:52] Laurae2 commented on #705
@hlee13 any news?

[2017-08-02 16:57] Laurae2 commented on #766
@guolinke I think the crash is not caused there, because it does not seem to cause any crash when I monitor the function with the debugger.

Try this:

[code]

[2017-08-02 16:57] j-mark-hou opened #770 "using only a subset of columns in training"
Is it possible to use only a subset of the columns of a lgb.Dataset object for training?  Seems like it should be feasible, given that column subsampling is an existing feature.

[2017-08-02 17:00] Laurae2 commented on #770
Use the parameter `ignore_column`

[2017-08-02 17:05] Laurae2 opened #771 "Crash in R-package due to bad parameters"
R-package systematically crashes when passing bad parameters to LightGBM.

Code for reproducible crash:

[code]

Surprisingly, this does not crash but the issue cannot be fixed without `lgb.unloader(wipe = TRUE)`:

[code]

[2017-08-02 17:32] sami043 commented on #769
@wxchan,

params = {
'task': 'train',
'convert_model_language': 'cpp',
'convert_model': 'C:\Some\Path\'
}

did not yield any outputs.

On Wed, Aug 2, 2017 at 10:38 AM, wxchan <notifications@github.com> wrote:

[2017-08-02 17:42] wxchan commented on #769
@sami043 sorry, I forgot. It is only implemented in command line version now.