[2021-03-07 21:30] StrikerRUS commented on #3912
@CharlesAuguste Should we update any code and/or docs reflecting the fact that monotone constraints don't work with multiclassification task? Also, should this be a feature request?

[2021-03-08 03:29] chloe-wang commented on #4012
sorry, one more question. I thought the tree structure will be shared for all categories while the value on the leaves may be different. However, I plot the trees, and it seems not the case. May I know why?

[2021-03-08 03:44] #4012 closed

[2021-03-08 04:07] shiyu1994 commented on #3778
@AlbertoEAF Thanks for your effort. It seems that the file `profiling/profile_single_row_predict.cpp` is missing from the branch. Can you please upload it ?

[2021-03-08 06:04] nirupamkar opened #4052 "How to stop lightgbm verbose in python"
Hi, with the latest release I am facing issue in stopping verbose altogether while training the model. Could anyone pls help me on this?

[2021-03-08 07:39] shiyu1994 commented on #4052
@nirupamkar Thanks for using LightGBM. Have you tried setting `verbose` to a negative integer?

[2021-03-08 07:53] nirupamkar commented on #4052
Earlier it used to stop the logs, right now it is showing more logs.

[2021-03-08 13:50] JoshuaC3 commented on #3905
This constant term is simply the mean of `y`. Is this just setting `init_score` to be the mean?

[2021-03-08 14:14] JoshuaC3 commented on #3905
@StrikerRUS this is conceptually a very easy thing to implement, though imagine it to be at the internal level (C code level). It would simply require a parameter, lets say `feature_sampling`, and the options to be `random` or `cyclic`.

Can I add this as a separate feature request and then add it under the **New features** section? I feel it would be incredibly easy to implement so being under **

[2021-03-08 19:07] StrikerRUS commented on #4052
I guess it should be fixed by #3742. Please try the nightly release.

[2021-03-08 19:38] AlbertoEAF commented on #3778
Done! Sorry for that @shiyu1994 :)

[2021-03-08 19:41] StrikerRUS commented on #3905
@JoshuaC3

For mean value I think [`boost_from_average` param](https://lightgbm.readthedocs.io/en/latest/Parameters.html#boost_from_average) should help. For any other custom values `init_score` can be used, as you correctly mentioned.

Sure! As you are quite familiar with EBM, feel free to split this big issue into multiple smaller separate feature requests which will be self-contained and will n

[2021-03-08 20:33] StrikerRUS commented on #3469
This comment shouldn't affect merging of #4053.

I think a better long-term workaround for strange environment problems will be using Windows containers. It looks like it is not difficult:
https://github.com/robertdj/r-dockerfiles/blob/4d69b0a4aba99479f475d7c9a0fd6be271e9a2a5/windows/r-base/Dockerfile

[2021-03-09 04:51] jameslamb commented on #4049
Just saw this again on https://github.com/microsoft/LightGBM/pull/4053, on https://github.com/microsoft/LightGBM/pull/4053/checks?check_run_id=2062786320, on the job `r-package (macOS-latest, clang, R 3.6, cmake)`.

This time, complaining about a different example.

[code]

<details><summary>R CMD check logs</summary>

[code]

</details>

I suspect that using `--run-donttest` together with `--as-c

[2021-03-09 05:17] jameslamb commented on #4049
ok yeah! I'm very confident now that this is true:

I created a very very simple package then checked it. That package has a single function with a long-running example wrapped in `\donttest{}`.

[code]

With `R CMD check --as-cran slowexamples_0.1.tar.gz`:

[code]

With `R CMD check --as-cran --run-donttest slowexamples_0.1.tar.gz`

[code]

I saw in https://github.com/wch/r-source/blob/6f8c8c6b9c

[2021-03-09 07:29] shiyu1994 commented on #3778
@AlbertoEAF I think I found where the problem is. Is your model file produced by a earlier version of LightGBM (earlier than the merge of `linear_tree` in #3299)? If so, the field `is_linear=` is missing from the model file. And when loaded by the latest version of LightGBM, the `is_linear_` member of tree will be undefined, which causes undefined prediction behavior.

To fix this, let's set the `

[2021-03-09 08:05] shiyu1994 commented on #4011
@JackYangzg Could you please try to build from https://github.com/shiyu1994/LightGBM/tree/fix-3778 to see if that branch fixes your problem? I think that may be related to this issue.

If that doesn't work, could you provide a reproducible example, or your model file, if convenient. Thanks in advanced!

[2021-03-09 08:12] #3899 closed

[2021-03-09 08:52] shiyu1994 commented on #4021
@BladeCoda @JackYangzg Thanks for using LightGBM. I think this is related to #3778. If the model is produced with the released python package (version 3.1.1), and loaded by C_API from latest master branch, there can be a problem. Could you please try if the fix in #4056 resolves your problems?

[2021-03-09 11:59] AlbertoEAF commented on #3778
Wow, great catch @shiyu1994

Yes the model is older than that.

Thank you :)

[2021-03-09 15:12] TalWac commented on #4045
Dear developers,

I'm having a similar case, receiving a Fatal error and Rstudio session aborts.

my session info:
[code]

lightgbm version =3.1.1

A reproducible example
[code]

When the last line is executed : `lightgbm::lgb.Dataset.construct(dtrain)`
The R session is aborted.

Also, it did use to work until a few days ago not sure what has changed.

Any advice \ idea is appriciated

[2021-03-09 15:42] jameslamb commented on #4045
Thanks very much. At this time we don't have an update to offer. The development effort in this project is very focused on the next release (v3.2.0, #3872) right now and since this bug seems to exist on 3.1.1 it isn't blocking 3.2.0.

I'll revisit this in a few days and see what I can find.

[2021-03-09 22:37] #4049 closed

[2021-03-09 23:41] StrikerRUS opened #4057 "Dask test test_network_params_not_required_but_respected_if_given is failing in master"
Recently added Dask test is failing in `master` with error:
[code]

<details>

<summary>Full logs:</summary>

[code]

</details>

https://github.com/microsoft/LightGBM/runs/2071077301

cc @jameslamb

[2021-03-10 00:54] #3469 closed

[2021-03-10 05:07] jameslamb commented on #4057
I noticed this is happening on the part of the test where `machines` is given.

[code]

It looks like in this case, we got very very unlucky with `_find_random_open_port()`. It returned the same port both times!

There are roughly 64,000 non-reserved ports, so there's something like a 1-in-4billion chance of this happening 😂 .

I tried some code like the following just to double-check that there i

[2021-03-10 19:34] #3814 closed

[2021-03-10 19:34] #3838 closed

[2021-03-10 21:24] jose-moralez commented on #4026
I extended the table above to include `split_feature` and `threshold` and I realized that in the second tree for the exact same split the distributed version sends 20 samples the wrong way (2331 vs 2351).

![image](https://user-images.githubusercontent.com/61287624/110699631-aeb31380-81b4-11eb-8c62-de0c183069d8.png)

[2021-03-11 11:41] antoinecomp commented on #2478
Do not support special JSON characters in feature name: how to use LGBM in columns with Russian names?

I have a train part of a dataframe with Russian names:

[code]

And when I apply LightGBM on it, it rases the same issue:

[code]

So how can I use LightGBM on this kind of features? Do I need to transform them to English column names?

[2021-03-11 15:43] JoshuaC3 commented on #3905
@StrikerRUS Thanks! I will do this.

In Python, how do you return the `init_score` after the model is trained? I cannot find any functions or attributes for it. Thanks!!

[2021-03-11 19:36] flippercy opened #4062 "Make LightGBM portable among different environments"
Xgboost is portable among different environments, meaning that an xgboost model built in Python can be loaded and used in R, vice versa. Is it possible to give lightGBM the same capacity, please?

[2021-03-11 23:48] StrikerRUS commented on #4062
I believe such portability is already implemented. Could you please provide concrete problems you face during save/load process?

[2021-03-12 00:01] StrikerRUS commented on #3905
Do you mean something like this?
[code]

In LightGBM `init_score` is tight with Dataset object.

[2021-03-12 00:12] StrikerRUS opened #4063 "[dask] Support init_model"
## Summary

LightGBM allows you to provide initial model for continued training.

This option should be supported in the Dask interface.

## Motivation

This change would bring the Dask interface closer to full feature parity with the non-Dask interface, so that users who'd otherwise like to use Dask don't have to avoid it because `init_model` is missing.

## References

https://github.com/microso

[2021-03-12 00:13] StrikerRUS commented on #4063
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-12 00:13] #4063 closed

[2021-03-12 00:58] jose-moralez commented on #4026
I just realized that even though I shuffle `df`, since dask partitions on the index the data isn't actually shuffled in the dask dataframe (i.e. the first partition has ids 0-9 and the second one 10-19). We have to do `df = df.sample(frac=1).reset_index(drop=True)` and doing this removes the issue. However for my use case I split the data by `id` for preprocessing so shuffling the entire data woul

[2021-03-12 08:02] JoshuaC3 commented on #3905
Precisely that. Thanks. I was looking on the Booster class and via the sklearn api.

I will add "Expose the get_init_score to the Booster class" as a feature request and also expose it in the sklearn api too. I think I might be able to do this as it all looks like pythons all the way up.

[2021-03-12 09:57] JoshuaC3 opened #4065 "Include init_score on the Python Booster class"
## Summary

Add `init_score_values` as a parameter on the Python [Booster](https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L2158) class. Currently, it is only available on the [Dataset](https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/basic.py#L1051) class.

## Motivation

Currently, it is a little tricky to find `init_score` after a mode

[2021-03-12 10:00] JoshuaC3 commented on #4065
Possibly something like,

[code]

[here](https://github.com/microsoft/LightGBM/blob/master/python-package/lightgbm/engine.py#L269).

[2021-03-12 10:27] JoshuaC3 opened #4066 "Feature Cycling as an option instead of Random Feature Sampling"
## Summary

Have the option such that the model can select features cyclically, instead of simply randomly selecting the features.

See [here](https://github.com/microsoft/LightGBM/issues/3905) for initial discussion on LightGBMs and EBMs.

## Motivation

Model explain ability is becoming ever more important in the ML space. LightGBM can take advantage of some of the methods used by [Explainable B

[2021-03-12 10:36] Teeeto commented on #2742
I built from source today, have this error on GPU both Windows and Linux

Params = {
    'objective': 'multiclass',
    'metric':['auc_mu','multiclass'],
    'device':'gpu',
    'num_threads': 6,
    'num_leaves': 127,
    'num_class': 7,
    'max_bin': 63,
    'min_data_in_leaf':50,
    'bin_construct_sample_cnt' :5*100*1000,
    'learning_rate': 0.03,
    'verbose': 1
}

[LightGBM] [Info] This i

[2021-03-12 10:41] shiyu1994 commented on #2742
@Teeeto Thanks for the information. For GPU version, this bug has a separated issue #2793. Currently, we are focusing on releasing a new version. And fixing this bug is not included in the new release plan. But I can investigate this next week.

[2021-03-12 18:26] nims11 opened #4067 "Allow LightGBM to be easily used in external projects via modern CMake style with `find_package` and `target_link_libraries`"
## Summary

Generate pkg-config file for the library.

## Motivation

pkg-config is a widely used way to provide linker flags and include directories for use in other projects. For example, with cmake, a project can just call `find_package(LightGBM REQUIRED)` and it will set the include directories and linker flags.

Note this applies to use cases when precompiled lightgbm is installed in a system

[2021-03-12 18:59] jameslamb commented on #4067
Thanks very much for your interest in LightGBM! The guide you attached looks helpful.

Could you point to a project that you use that has `pkg-config` support, so that anyone picking up this feature could look at the code there as a reference?

[2021-03-12 20:47] nims11 commented on #4067
[zlib](https://github.com/madler/zlib) has pkg-config support. They do this by having a `[zlib.pc.cmakein](https://github.com/madler/zlib/blob/master/zlib.pc.cmakein)` template which is used to generate the `pc` file during build ([relevant CMakelists.txt lines](https://github.com/madler/zlib/blob/master/CMakeLists.txt#L81-L83)). Afaik, this is a common way of adding pkg-config support.

I will al

[2021-03-12 21:41] StrikerRUS commented on #4067
For the reference, see how huge refactoring was required for XGBoost to achieve this goal: https://github.com/dmlc/xgboost/pull/4323#issuecomment-480162720.

To be honest, I'm quite sceptical about that `pkg-config` will do all the magic for us.

[2021-03-12 21:44] #3778 closed

[2021-03-13 02:15] abbey2017 commented on #2742
@Teeeto Increasing the number of features resolved the exception for me on CPU.

[2021-03-14 03:02] jameslamb commented on #3782
Tonight, I ran the Dask tasks on my Mac again (based on `master` as of the latest commit, https://github.com/microsoft/LightGBM/commit/bcf443b568052eac05cb8b11b17be9926b862f8f) and got just two failures. I ran the tests twice, with the following code.

[code]

Just like in https://github.com/microsoft/LightGBM/issues/3782#issuecomment-770161384, most tests passed and only two `test_ranker` tests f

[2021-03-15 10:47] Teeeto commented on #2742
I dont have this issue on CPU. However CPU is slow - one iteration per 2 minutes on my dataset (a 60-core machine).
GPU is like 30x faster.

Thank You! I think it would be great to prioritize this fix since the issue is prohibitive in certain use cases.

[2021-03-15 16:28] huzq2016 opened #4072 "convert Booster model into LGBMClassifier"
## Description
I used mmlspark.LightGBMClassifier to train a model and saved it and then used lightgbm.Booster to load model, then I want to convert it into onnx model. For some reason, I need to convert Booster into LGBMClassifier before I am able to convert it to onnx.

The part of code snippet:
[code]

[2021-03-15 19:21] StrikerRUS commented on #4072
Please refer to https://github.com/microsoft/LightGBM/issues/1942#issuecomment-453975607.

[2021-03-15 19:21] #4072 closed

[2021-03-15 19:23] parsiad opened #4073 "Transform gain function"
When splitting a leaf on a given predictor, we pick the split to maximize the gain function (e.g., see the equation under "Learn the Tree Structure" at https://xgboost.readthedocs.io/en/latest/tutorials/model.html#learn-the-tree-structure from the XGBoost docs).

I would like to modify the gain function "globally". To be more precise, denoting the gain function `gain_func(split_point)`, I would li

[2021-03-15 23:05] StrikerRUS opened #4074 "Dask tests randomly fail with socket error code 104"
[code]

Full logs:
[code]

Link: https://github.com/microsoft/LightGBM/runs/2116868032

cc @jameslamb

[2021-03-16 01:32] xdaniel9 opened #4077 "Different result when using self-defined objective"
sample code:
[code]

Since the data and seed is the same, I except two models gives the same result

[2021-03-16 01:58] shiyu1994 commented on #4077
@xdaniel9 Thanks for using LightGBM. The customized objective function is the same as `l2` loss. But when using the internal `regression` objective (`l2` loss), LightGBM will boost from the average label, instead of 0. That means, the initial predict score of all samples will be set to the average label. But with customized function, since LightGBM don't know how to set a proper initial predict sc

[2021-03-16 02:40] cyfdecyf commented on #3778
I've also been biten by this bug when loading a model file without `is_linear=` set with the latest master code.

Since there's `version=` in the model file, I'd like to suggest adding a minior version number which increases whenever the model file format changes. When loading model file and found version mismatch, print a warning message to users to indicate it's possible to get wrong result.

[2021-03-16 03:29] shiyu1994 commented on #3778
@cyfdecyf Thanks for the information. Does the error still happens after #4056 is merged ? I thought it should be already solved.

[2021-03-16 04:25] pseudotensor commented on #1003
@Poltigo Exactly as @StrikerRUS said  , I hit this randomly for no reason with categorical_features as explicitly empty.  Has nothing to do with that.  The test that hit this normally has passed 1000 times before.

[2021-03-16 04:30] pseudotensor commented on #3339
I hit this randomly for no reason with categorical_features as explicitly empty.  Has nothing to do with that.  The test that hit this normally has passed 1000 times before.

[code]

The number of bins was 256 and there are no categorical features as explicitly chosen.

[2021-03-16 07:12] cyfdecyf commented on #3778
@shiyu1994 The error is fixed now. I'm planning to send a PR this morning and found that you've already fixed the problem.

I noticed predict result would change if I specify `max_bin` or `label_column` during prediction which is not expected. It took me several days to realize this is a memory related bug. I've tried both AddressSanitize and Valgrind to catch memory related errors on Linux but wi

[2021-03-16 13:36] StrikerRUS commented on #4077
Although according to the code this issue is indeed about `boost_from_average` inconsistency, I believe it is worth to mention one very similar problem where results for self-defined objective are different compared to the built-in (**not only**) `mae` objective.
It might be useful later for those who will come here from search engines.
https://github.com/microsoft/LightGBM/issues/3584#issuecommen

[2021-03-16 13:36] #4077 closed

[2021-03-16 17:05] nboissin opened #4078 "Number of labels for ranking."
I am using LGBMRanker on a ranking problem that requires more than 30 labels, lets say 600.
i would like to avoid making 30 classes of 20 labels because it downgrades the results.
I have set label_gain=2**np.arange(0,600)
Exist ndgc function returns 1.
I have provided my own ndgc calculation in case existing one would have an overflow issue with 2^31, but the problem is still there. The origin of

[2021-03-16 17:18] jameslamb commented on #4078
Hi @nboissin , thanks for using LightGBM! Could you please provide a minimal reproducible example, some code that we could run to understand what you're trying to do? It would help us to give you a clear answer, thanks.

[2021-03-17 08:19] shiyu1994 commented on #3447
I think with GBDT, `quantile` objective does not guarantee the prediction value of an instance (data point) to be monotone. Just as we cannot guarantee that if we increase the label of one instance in the training data, then the prediction of that instance will increase if we retrain the model. Because the data partition in the trees can change, and the leaf prediction value can be very different.

[2021-03-17 08:28] shiyu1994 commented on #3778
@cyfdecyf How did you specify `max_bin` or `label_column` when prediction? Is the inconsistency of prediction results related to this bug?

[2021-03-17 08:30] TomekPro commented on #3447
@shiyu1994 I'm sorry but I cannot provide the data as it is confidential but you can simulate it from the distribution I posted above. I suspect that this case is most common for such distributions with a large group of outliers.

[2021-03-17 08:35] shiyu1994 commented on #3447
Ok thanks for your information. I can try to build another example with labels similar to your distribution. But in general, the output for a data point with `quantile` objective is not guaranteed to be monotone with the `alpha` hyperparameter, as the example showed above.

Is the monotonicity essential for you application?

[2021-03-17 09:16] shiyu1994 commented on #4073
@parsiad Thanks for using LightGBM. We're sorry that currently LightGBM doesn't support transformation on split gains.

To implement this, you just need to modify the `GetSplitGains` function in `src/treelearner/feature_histogram.hpp`. The function is used to calculate all the gains, given the summation of gradients and hessians of two child nodes of a split. I think it should easy to do such a mo

[2021-03-17 09:38] shiyu1994 commented on #4078
@nboissin Thanks for using LightGBM. Although `2^600` is within the range of 64-bit double, LightGBM uses 32-bit single precision floating point numbers for gradients and hessians.

So I think if you set the `label_gain` by `2 ** np.arange(0, 600)`, there'll be a lot of `inf` or `-inf` in the gradients and hessians during boosting.

There're several solutions for large number of ranking labels, ac

[2021-03-17 09:52] TomekPro commented on #3447
At the end I haven't used LGBM but in general I believe this is a really common case. You want not only have point estimate but as well some kind of confidence interval for your prediction.

[2021-03-17 10:25] nboissin commented on #4078
Thank you for your answer. +-inf hessians is probably the source of my problem.
I went through  #2892, but there is no solution proposed there (it only adresses the label_gain setting). Would you have any other pointers. My problem is by structure a ranking problem, and LightGBM is already providing great results when I group my labels in 30 groups, I would really like to test it with more accurat

[2021-03-17 13:58] xumotong opened #4080 "How do I print the predict_leaf_index of each predicted value?"
I was doing prediction using a trained a LightGBM classifier.
I set the parameter "predict_leaf_index = True" since I would like to know the leaf node index of each prediction.
But still I don't see the output result contains that information.
Is there any solution to my problem?

[2021-03-17 14:27] jameslamb commented on #4080
Hi @xumotong , thanks for using LightGBM!

If you are using LightGBM's Python package, you can use `predict(pred_leaf = True)` to see the leaf index in each tree that an observation falls into (note that it is `pred_leaf` not `pred_leaf_index`).

[code]

See https://stackoverflow.com/a/66188525/3986677 for more information.

If that didn't answer your question, please rephrase and we can reopen th

[2021-03-17 14:27] #4080 closed

[2021-03-17 23:06] rripken commented on #4078
I'm encountering a similar issue and could use some suggestions.  I have about 300 results for each of my queries and each result has a floating point fitness measure.
I can use pandas to group by the query id and then put the results into order, something like:
[code]
After this I have a label column with positive integer values where better results have higher values.

But I get an error message

[2021-03-18 12:18] tripti0125 commented on #3379
I get this warning when using scikit-learn wrapper of LightGBM. Dataset passed to LightGBM is through a scikit-learn pipeline which preprocesses the data in a pandas dataframe and produces a numpy array. Note that this input dataset which the model receives is NOT a Pandas dataframe but numpy array. I set the feature_name and categorical_feature parameters in fit() method as this is the only place

[2021-03-18 17:46] pseudotensor opened #4082 "bin size 257 cannot run on GPU"
I know there are a couple other issues that mention this problem, but it's gotten messy with suggestions it's related to categorical_feature setting and other stuff. Here is clean MRE.

d9a96c90cb479cef87047ba20517d97982b563eb

[lgb257.pkl.zip](https://github.com/microsoft/LightGBM/files/6166235/lgb257.pkl.zip)

[code]

[code]

[2021-03-18 18:06] pseudotensor commented on #4082
Here is more minimal MRE:

[code]

That is, I iterated through all parameters, the key to failure is (of course) on GPU but also min_data_in_bin=1.

[lgb257b.pkl.zip](https://github.com/microsoft/LightGBM/files/6166360/lgb257b.pkl.zip)

[2021-03-18 20:26] flippercy opened #4083 "[LightGBM] [Fatal] Check failed: static_cast<size_t>(num_total_features_) == io_config.monotone_constraints.size()"
When building stacked ensembles in sklearn, sometimes I got an error message in the .out file of Jupyter:

[LightGBM] [Fatal] Check failed: static_cast<size_t>(num_total_features_) == io_config.monotone_constraints.size() at /__w/1/s/python-package/compile/src/io/dataset.cpp, line 314 .

When this happens, the kernel of Jupyter would die.

I used monotone_constraints for the base LightGBM models a

[2021-03-18 21:01] jameslamb commented on #4083
Thanks for using LightGBM!

Can you please provide a reproducible example, including information about how you built LightGBM / the version you're using?

That would help us to give you a better answer.

[2021-03-18 21:52] flippercy commented on #4083
It is a bit complicated. I am using FLAML (https://github.com/microsoft/FLAML) to do automl. For that, I created a few customized learners with monotone constraints, including two lightGBMs, one using GBDT and the other DART.

If I do not request to build an ensemble, the process ran well; however, when I ask for an ensemble with at least one customized LightGBM learner, I got the issue mentioned

[2021-03-18 22:16] jameslamb commented on #4083
Are you able to share the data or code that could create a dataset that results in this error? And could you please tell me how you built LightGBM / the version you're using?

There has been a lot of work on monotone constraints stuff in the last few months, so I'd like to narrow things down a bit. I agree with the implication of this issue that that error message is hard to understand, and it sho

[2021-03-18 22:34] flippercy commented on #4083
Sure I will copy the codes here later tonight.

[2021-03-19 04:17] jameslamb commented on #3834
Adding some information for anyone looking to add `voting_parallel` support.

You can see a description at https://lightgbm.readthedocs.io/en/latest/Features.html#optimization-in-network-communication. And much more details in https://proceedings.neurips.cc/paper/2016/file/10a5ab2db37feedfdeaab192ead4ac0e-Paper.pdf if you're curious.

From the paper:

different machines. Then the machines communic

[2021-03-19 07:41] noklam opened #4085 "Deepcopy lightgbm model causing missing parameters?"
## Description
Deepcopy lightgbm model causing model lost parameters
## Reproducible example

[code]

Output:

## Environment info
Windows 10, Python 3.7.5
LightGBM version or commit hash:
Tested with both lightgbm==2.3.1 and lightgbm==3.1.1 (latest pip version)

Command(s) you used to install LightGBM

[code]

## Additional Comments

[2021-03-19 08:10] noklam commented on #4085
After digging into the source code, this seems to be the root cause, the `__deepcopy__` only create the Boost object.

https://github.com/microsoft/LightGBM/blob/d6ebd063fff7ff9ed557c3f2bcacc8f9456583e6/python-package/lightgbm/basic.py#L2279-L2282

[code]

[2021-03-19 11:34] StrikerRUS commented on #4085
Hi @noklam !
Indeed, params are not pre-saved at the Python wrapper layer after save/load process. However, underlying model is correct and it doesn't affect model behavior.
We already have the feature request for displaying original params used to train a model: #2613.

Custom `__deepcopy__` is needed to make `Booster` class picklable.

[2021-03-19 11:34] #4085 closed

[2021-03-19 12:05] noklam commented on #4085
If I understand correctly, the fix should be release in the next version?

[2021-03-19 12:16] StrikerRUS commented on #4085
Unfortunately, there is no fix for that yet.

[2021-03-19 16:44] noklam commented on #4085
It seems picklable even without the deepcopy method? I try removed the `__deepcopy__` and parameters is preserved and I can just pickle the model.

[code]

![image](https://user-images.githubusercontent.com/18221871/111814286-429f8080-8915-11eb-95e7-f7c24479cddd.png)

[2021-03-19 19:56] aceson28 opened #4086 "Histogram split algorithm boundaries"
Im use pyhton
Im in understandinding about lightgbm
What im understand is lightgbm use histogram split algorithm to make program lightier
From journal that i read, histogram bondaries used as split candidate, and from split candidate who gives max gain is used as tree split.

There are some article who said boundaries get with divide range of feature with num of bins same when we make histogram
Th

[2021-03-19 20:54] jameslamb commented on #4086
Hi @aceson28 , thanks for using LightGBM!

If you're comfortable reading C++ code, you could look at the `ConstructHistogram*` methods in the following relevant places where features are binned.

* https://github.com/microsoft/LightGBM/blob/971b5486873339bcaa2bbe0948c95e1fff7246c7/src/io/multi_val_dense_bin.hpp
* https://github.com/microsoft/LightGBM/blob/971b5486873339bcaa2bbe0948c95e1fff7246c7/s

[2021-03-19 23:56] StrikerRUS commented on #4085
Please refer to the following PR where custom `__deepcopy__` was introduced and feel free to provide a PR if you think that this code can be removed.
#151

[2021-03-20 00:26] StrikerRUS commented on #4085
But I think that without custom `__deepcopy__` cloned Booster will handle the same underlying cpp object as the original one.

[2021-03-20 01:16] jmoralez commented on #3834
Should I remove this? https://github.com/microsoft/LightGBM/blob/971b5486873339bcaa2bbe0948c95e1fff7246c7/python-package/lightgbm/dask.py#L265-L266

[2021-03-20 01:21] jameslamb commented on #3834
No, I'd prefer to leave that and rely on LightGBM to throw the error mentioned above.

If you try to do feature parallel and your data are vertically partitioned, it wouldn't mske sense for LightGBM to try to perform data parallel learning (which requires *horizontally partitioned* data).

[2021-03-20 01:33] jmoralez commented on #3834
Adding `voting` and `voting_parallel` here: https://github.com/microsoft/LightGBM/blob/971b5486873339bcaa2bbe0948c95e1fff7246c7/python-package/lightgbm/dask.py#L274
Just leaves the feature parallel to go into the if and trigger this warning first: `UserWarning: Support for tree_learner feature_parallel in lightgbm.dask is experimental and may break in a future release.` and then the error. Maybe w

[2021-03-20 01:39] jameslamb commented on #3834
oh good point! Ok I would support removing that warning entirely at the same time you add support for voting parallel.

[2021-03-20 02:21] jmoralez commented on #4026
I just tried using `tree_learner=voting_parallel` and get similar results. I think the problem is in the samples being sent the wrong way, which generates wrong node values and unreal gains. I've looked at the source code but I have no idea where the issue could be.

[2021-03-20 08:12] aceson28 commented on #4086
i'm sorry i'm still don't understand,
from Alg 1 in that journal i get
H[bin].y ← H[bin].y + I.y[j] (sum of gradient)
H[bin].n ← H[bin].n + 1 (sum of hessian)

but i still don't get it in this part (bin ← I.f[k][j].bin), because where that get it .bin ? because row before it just (H ← new Histogram()) and (Build histogram)
I'm still don't get it, where they get histogram boundaries?

about link yo

[2021-03-20 09:02] aceson28 commented on #4086
from subsubsection 5.1.1
https://everdark.github.io/k9/notebooks/ml/gradient_boosting/gbt.nb.html#511_greedy_equal-density_binning
suppose I have a dataset, it will be sampled to 200,000 (because bin_construct_sample_cnt=200000) and if max_bin=4 so every bin will have 50,000 data to make equal to density, so its like quantile (0.25, 0.5 and 0.75)? first of all, is that true (lightgbm use equal bin

[2021-03-20 09:58] parsiad commented on #4073
@shiyu1994: Thank you for your response! I will try to modify GetSplitGains as you suggest.

[2021-03-20 20:44] brunofacca commented on #3816
Sorry for nagging you. Just a friendly reminder in case this issue got lost.

[2021-03-21 02:21] jameslamb commented on #4086
I think @shiyu1994 or @btrotta might give you a better answer than I can, I don't want to say something incorrect.

[2021-03-21 04:39] guolinke commented on #4026
cc @shiyu1994 for possible bugs.

[2021-03-21 09:35] aceson28 commented on #4086
@jameslamb
@shiyu1994
@btrotta
Hi in Histogram based algorithm there is a sampling (bin_construct_sample_cnt) and in GOSS there is sampling too in ((b/other_rate) "Then it randomly samples b×100% instances from the rest of the data" Subsection 3.1) is that the same sampling or its different?
if it's different, how many times sampling in lightgbm? with so much sampling, won't it make the data far f

[2021-03-21 10:32] cyfdecyf commented on #3778
@shiyu1994 The inconsistency is definitely related to this bug. I tried the following cases for my prediction:

1. Specify no `max_bin`, `max_bin=63`, `max_bin=255` in config, the latter two has same results. It only matters whether you specify `max_bin` or not.
2. Specify `label_column` on cmdline, in config, on cmdline and also in config, the result differs.

[2021-03-21 14:20] StrikerRUS commented on #4074
Just got the same error code (104) in `master` but this time for `test_network_params_not_required_but_respected_if_given[scipy_csr_matrix-multiclass-classification]`:
[code]

[2021-03-22 09:14] zwqjoy opened #4090 "Does Dist Lightgbm support config set train_data with mutil values"
I want train dist lightgbm with  train_data   part01,part02,part03
Must I merge all part to one ?
or Dist lightgbm support read dir, or mutil values

[2021-03-22 10:31] StrikerRUS commented on #4090
Unfortunately, training from multiple files is not supported yet. We have a feature request for it: #2031.

[2021-03-22 10:31] #4090 closed

[2021-03-22 12:27] StrikerRUS opened #4091 "[SWIG] Add support for int64_t ChunkedArray"
Refer to https://github.com/microsoft/LightGBM/pull/3997#issuecomment-801416336.
https://github.com/microsoft/LightGBM/blob/2e54d5f518a4c7db721483347bec6676a8d20c89/swig/ChunkedArray_API_extensions.i#L16-L21

cc @AlbertoEAF

[2021-03-22 12:29] StrikerRUS commented on #4091
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-22 12:29] #4091 closed

[2021-03-22 14:31] mayer79 commented on #4045
@jameslamb : Just as info: This example reproduces the hard crash on Windows and lgb 3.1.1 (if built from CRAN). Loading dplyr after lightgbm solves the issue.

[code]

The crash happens in these lines called in `data$construct()`
[code]
The input in lgb.call seems the same (with and without crash), so I am not sure what is going on.

[2021-03-23 06:27] pseudotensor commented on #4082
Hi, any thoughts?  Seems like a clear MRE, but it's been 5 days and no response.  Thanks.

[2021-03-23 11:00] StrikerRUS commented on #3210
@jameslamb I think we can close this. Seems this maintenance burden doesn't worth it. One synced release for all components is better I believe. WDYT?

[2021-03-23 11:01] StrikerRUS commented on #4074
+2 failures with `104` error code today. It is getting frequent and annoying...

[2021-03-23 12:23] StrikerRUS opened #4099 "[Dask] Expected error randomly not raised in Dask test"
[code]

https://github.com/microsoft/LightGBM/blob/77d54b3d22e6b55371e25f962f14d00d50f9e55c/tests/python_package_test/test_dask.py#L1058-L1060

Refer to https://github.com/microsoft/LightGBM/pull/4068#issuecomment-798972044 and https://github.com/microsoft/LightGBM/pull/4068#issuecomment-804857749 for full logs.

[2021-03-23 13:40] jameslamb commented on #3210
Seems I was outvoted on this, yes.

[2021-03-23 13:40] #3210 closed

[2021-03-23 15:17] jameslamb commented on #4099
hmmm interesting. In the logs mentioned in those comments, it looks like this is a different root cause from what was fixed in #4071. I think that' what's happening here is that the data is still all ending up on one worker somehow. This is possibly the same underlying problem as https://github.com/microsoft/LightGBM/issues/4074, actually.

Error code 104 means "connection reset by peer" ([link](h

[2021-03-23 15:30] jameslamb commented on #4074
Adding for context here, error code `104` means "Connection reset by peer" ([link](https://www-numi.fnal.gov/offline_software/srt_public_context/WebDocs/Errors/unix_system_errors.html), also mentioned in https://github.com/microsoft/LightGBM/pull/3952#pullrequestreview-610403805).

I think there is a root underlying problem to the flaky tests and to some of the instability @ffineis saw in #3952.

[2021-03-23 15:41] #4062 closed

[2021-03-23 16:23] lostmygithubaccount opened #4100 "lightgbm.dask in 3.2.0 - OSError: [Errno 22] Invalid argument"
## Description
"OSError: [Errno 22] Invalid argument"

## Reproducible example
You can see the full notebook here: https://github.com/Azure/azureml-examples/blob/cody/al/tutorials/using-lightgbm/1.local-eda.ipynb

It fails on:

[code]

where `X` and `y` are Dask arrays

## Environment info

pip installed 3.2.0
brew is still on 3.1.1

is this the source of the issue?

Command(s) you used to install

[2021-03-23 16:27] jameslamb commented on #4100
Thanks for opening this. Could you give me a bit more information?

1. What versions of `distributed` and `dask` are you on?
2. Why are you mixing `brew install lightgbm` and `pip install lightgbm`?

I can't say for sure that the issue you're facing is about mixing installation methods, but I am curious to learn why you're doing that.

[2021-03-23 16:30] jameslamb commented on #4100
One other thing I noticed in that notebook, that you might try (it will be a few hours until I'm able to try reproducing this on a Mac).

You're calling `.persist()` and then going straight into `.fit()`. LightGBM's tests only cover these cases:

1. the array is totally unevaluated
2. the array has been `.persist()`-ed AND `.wait()`-ed, so it is totally materialized

It's possible that the way `li

[2021-03-23 16:30] lostmygithubaccount commented on #4100
`dask==2021.3.0`
`distributed==2021.3.0`

When I only `pip install lightgbm` (on my mac), and try to import, I get an error like "image not found" - brew installing has historically fixed that error for me - i.e. probably a case of me not really understanding what I'm doing

I'll try running this on linux/azure compute which will install via conda and should indicate whether this is the issue

[2021-03-23 16:39] StrikerRUS commented on #4099
[code]
I believe 16Gb should be enough for toy datasets we use for tests...

Yeah, sure. But it doesn't fix underlying issue unfortunately.

I remember I asked this question before but didn't get a clear answer. Has Dask something like "global option for reproducibility"? Similarly to `deterministic` param in LightGBM. We use Dockers a lot to make out testing environments deterministic and don't c

[2021-03-23 16:46] StrikerRUS commented on #4100
@lostmygithubaccount

Please try `brew install libomp` first before `pip ...` as it is said in the LightGBM installation guide for macOS. I bet you face this error: https://github.com/sberbank-ai-lab/LightAutoML/issues/5#issuecomment-759845256.

[2021-03-23 16:54] StrikerRUS commented on #4074
I support `flaky` flag for Dask tests.
But I'm afraid that it would enlarge CI time (due to extensive usage of `@pytest.mark.parametrize` we already have about 70 tests but only 22 `test_` functions for Dask, so it might be confusing) and hide root causes of failures. We won't be able to see actual situation with failing tests. Also linking here this weird case with pytest fixtures https://github.

[2021-03-23 16:56] lostmygithubaccount commented on #4100
"Warning: libomp 11.1.0 is already installed and up-to-date." - so does not seem to be the issue here?

​- Cody
________________________________
From: Nikita Titov ***@***.***>
Sent: Tuesday, March 23, 2021 9:47 AM
To: microsoft/LightGBM ***@***.***>
Cc: Cody Peterson ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/LightGBM] lightgbm.dask in 3.2.0 - OSError: [Errno 22] Invalid argument

[2021-03-23 16:57] StrikerRUS commented on #4100
Then need to see full logs for

to confirm this.

[2021-03-23 17:03] jameslamb commented on #4074
Right, that's the tradeoff. Using `flaky` flags allows us to work on and solve the underlying issues without the added pressure of "development on all the non-Dask parts of LightGBM is blocked or slowed down by failing CI".

[2021-03-23 18:01] jameslamb commented on #4099
A couple points on this:

1. "with Dask" is a bit unfair. The Dask tests are the only automated tests that this project has had on distributed LightGBM training and I don't believe that all of the flakiness is just due to code in `lightgbm.dask` or its tests. Without dedicated tests on distributed training without Dask (#3841), it's hard to know which problems are "Dask problems" and which are "Li

[2021-03-23 22:38] ffineis commented on #4074
I'm a little confused by the double-negative nature of `rerun_filter`, but hopefully it can be used to excludes re-tries of failures that are not `Socket recv error code: 104` errors? If it can be used to target this one known error type, then test retries should really only end up comprising a small minority of the total test attempts, because it's uncommon relative to the 60+ other passing tests

[2021-03-24 00:42] louis925 opened #4102 "Inconsistent prediction when the order of the columns of pandas dataframe is different from training"
## Description
Reorder the columns of a pandas dataframe during prediction will result in inconsistent result if that columns order is different from what was used in training. Lightgbm python API doesn't seem to recognize the column names of pandas dataframes.

## Reproducible example
[code]

## Environment info

LightGBM version or commit hash:  2.3.1

Command(s) you used to install LightGBM

[c

[2021-03-24 02:01] shiyu1994 commented on #3778
@cyfdecyf Could you provide a reproducible example? Thanks.

[2021-03-24 02:18] shiyu1994 commented on #4078
@rripken Thanks for the detailed description. Yes, LightGBM restricts the maximum number of relevance score to 31 because the default `label_gain` is in the exponential form `2 ** relevance`. The restriction is to avoid the overflow problem.

As posted by @rripken, one option is to use linearly growing label gain instead of exponentially growing, or to change the base of the exponential (smaller t

[2021-03-24 02:31] shiyu1994 commented on #4083
@flippercy Currently LightGBM does not check the length of features vs. length of monotone constraints before training. But we provide a description in the document of parameter `monotone_constraints`, which says that `you need to specify all features in order`. That means the user must provide the constraints of all features, if the monotone constraint is used.

[2021-03-24 03:34] akshitadixit commented on #4028
Kindly assign the issue to me.

[2021-03-24 03:36] shiyu1994 commented on #3816
@brunofacca Thanks for using LightGBM.

First, we should know what `min_sum_hessian_in_leaf`. It is actually the sum of `hessians` of the data points in the leaf. `hessian` of a data point is the second order derivative of the loss function w.r.t. the current prediction value.

Here's an example of how `hessian` is calculated. Suppose we are training a GBDT model for a binary classification task,

[2021-03-24 03:58] jameslamb commented on #4028
sure, thanks!

[2021-03-24 06:50] shiyu1994 commented on #4086
@aceson28 Thanks for using LightGBM.

The two sampling are differnt.

The histogram bin boundaries are determined before training the trees. And the boundaries are fixed during the whole boosting process. First, LightGBM will sample `bin_construct_sample_cnt` data points from the training dataset (we name it sample set `SBin`). Then, the boundaries are chosen so that the data in the `SBin` fall as

[2021-03-24 08:38] aceson28 commented on #4086
@shiyu1994
thanks for answering, but I'm still don't understand,
when I'm building a model in the params I set bin_construct_sample_cnt = 200000 (default) and  max_bin=5
when I do it manually with this code:
pandas.qcut(datatrain['numerical.feature.name'].sample(n=200000,replace=True), q=5,duplicates='drop').dtypes
why the boundaries is different?
if the idea is "SBin fall as evenly as possible to

[2021-03-24 09:22] shiyu1994 commented on #4086
@aceson28 GOSS samples from the whole training data and `SBin` has no effect on GOSS sampling. These are two different process which do not interfere with each other.
The `SBin` sampling determines only the bin boundaries, that is, how to map a floating point number feature value to an integer bin value.
And these bin values will be fixed during training.

As for the difference result compared wit

[2021-03-24 09:39] aceson28 commented on #4086
@shiyu1994
![Capture](https://user-images.githubusercontent.com/80983538/112287967-7a187f00-8cbf-11eb-8b32-0723c5b85ad9.JPG)

no, it's very different, in the model we get the split point 365.5 for the first split, and  1095.5 for the split in depth 2 and 3, but in q cut  [(29.999, 365.0], (365.0, 452.0], (452.0, 3653.0]]
btw my mistake, its 4 bin not 5

[2021-03-24 11:53] brunofacca commented on #3816
Thank you very much for the detailed reply, @shiyu1994! This information is very useful :bowing_man:

[2021-03-24 11:53] #3816 closed

[2021-03-24 12:53] StrikerRUS commented on #4099
Absolutely agree with this for the case of "real world". But I thought with only two test workers and deterministic data partitioning algorithm (looks it is wrong for Dask) given the same dataset we don't have a lot of variants.

[2021-03-24 12:57] shiyu1994 commented on #4026
@jameslamb I'm debugging this. Could you tell me how to make dask regressor print the Warning messages from the C++ code? I seems that setting neither `silent=False` nor `verbose=2` works.

[2021-03-24 12:58] StrikerRUS commented on #4102
It is more likely to be a feature request. Please refer to https://github.com/microsoft/LightGBM/issues/4020#issuecomment-785862574.

[2021-03-24 17:29] jameslamb opened #4105 "[R-package] test on non-ASCII feature names fails on debian + clang CRAN check"
## Description

`{lightgbm}` 3.2.0 was recently released to CRAN (#3872 , https://cran.r-project.org/web/packages/lightgbm/index.html). One of the CRAN checks is currently failing while running unit tests.

https://cran.r-project.org/web/checks/check_results_lightgbm.html

![image](https://user-images.githubusercontent.com/7608904/112347477-e336cd00-8c94-11eb-8397-c6843b7dcc3d.png)

[code]

Full l

[2021-03-24 17:32] jameslamb commented on #4105
Some additional notes:

1. I'll open a PR tonight that just adds a `testthat::skip_on_cran()` to the one problematic test. Then we can avoid being removed from CRAN and can fix the issue on our own timeline.
2. Based on previous interactions with CRAN, I won't re-submit until they send an email asking us to. @guolinke can you please let me know if you receive any emails from CRAN?
3. Tonight, I'll

[2021-03-24 17:54] jameslamb commented on #4026
@shiyu1994 sure, I think I can help.

This answer uses a modified version of the code from https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/dask/regression.py (just added `silent=False` and `verbose=2`).

1. start a Python REPL

[code]

2. Run the following in it

[code]

When I did this, I saw the following printed in my Python console after calling `fit()`

[code]

Are the

[2021-03-24 17:55] jameslamb commented on #4026
ok now I'm weirded out by the changing `max_depth`, looking at that more closely! That seems unexpected, right? I might open a separate issue about it later, don't want to distract too much from this discussion.

[code]

[2021-03-24 18:14] jameslamb commented on #3816
@shiyu1994 could you add that explanation to https://lightgbm.readthedocs.io/en/latest/Parameters-Tuning.html#for-better-accuracy? I think it's really really good and we should make it easy to discover in the documentation.

[2021-03-24 23:12] StrikerRUS opened #4106 "Fix compatibility with CUDA - Clang - CMake 3.20.0 toolchain"
Our CUDA+Clang builds are incopatible with very recently released CMake 3.20.0 version:

Found Clang, but using gcc.

[code]

[code]

Here is how we are supporting non-default compiler (Clang):
https://github.com/microsoft/LightGBM/pull/3886/files#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20a
https://github.com/microsoft/LightGBM/blob/ab474dc4035416ef512961ea14595a729b55e1e

[2021-03-24 23:14] jameslamb commented on #4106
I have an account and can ask!

[2021-03-24 23:23] StrikerRUS commented on #4105
I also see some weird warnings in the logs:
[code]

Are they all from that failing test?..

[2021-03-24 23:25] jameslamb commented on #4105
hmmm not sure! Will have to investigate. Those all seem related to places where we take an R vector, concatenate its values, and write the to a string so they could also be related to encoding issues.

[2021-03-24 23:59] StrikerRUS commented on #4105
This one looks like a typo (`categorical_featurEs`). And seems it comes from here (not failing test), so I guess we see logs from ALL tests on CRAN page in case of at least one of them fails.
https://github.com/microsoft/LightGBM/blob/b2705dc49daadc772a0d57a60e35070a0e6584cb/R-package/tests/testthat/test_basic.R#L1886

[2021-03-25 00:00] StrikerRUS commented on #4106
@jameslamb

Great! Many thanks!

[2021-03-25 00:05] jameslamb commented on #4105
ah!!! Good eye.

[2021-03-25 03:06] normanwang92 opened #4107 "Compute metrics not on each iteration but with some fixed step"
## Summary

## Motivation

## Description

## References

[2021-03-25 03:19] jmoralez commented on #3896
Hi, I'd like to work on this. I'm just starting out and saw all the tests fail for the other boosting_types, so I digged a bit and I'm ashamed to say I hadn't really seen the testing data we generate and just saw that for regression X is a (100, 100) array which gets split into two partitions, so each worker trains on a (50, 100) collection, which I think isn't very good. I tried generating 5 feat

[2021-03-25 03:53] jmoralez commented on #3841
Hi. I recently used the CLI interface to do "distributed" training on my local machine, so I just set the machine list to 127.0.0.1 with different ports, two config files and ran the lightgbm binary in two terminals. Would this be something along those lines?

[2021-03-25 03:59] jameslamb commented on #3841
Yep exactly! We'd want a way to do that automatically in CI, but would support a PR that even just adds the tests and proposes a way to easily run and extend them.

[2021-03-25 04:00] jameslamb commented on #3896
a data size like (1000, 5) or something is totally fine for tests

[2021-03-25 05:10] jameslamb opened #4108 "[R-package] Warnings in R package tests"
## Description

The R package tests currently have the following warnings which seem problematic. Contributions to fix these would be welcomed!

[code]

## Reproducible example

To reproduce these warnings:

1. Build the R package from source

[code]

2. Run the unit tests.

[code]

It's hard to tell from the logs which specific tests each of these warnings come from. I recommend running the tests

[2021-03-25 05:28] jameslamb commented on #4105
I wasn't able to add a CI test for this and investigate further, will try to check tomorrow. I've opened #4109 to fix the `categorical_features` typo. I also kicked off an R Hub build on `debian-clang-devel`, with the package built from `master`.

Posting the link here, it should be done in the next few minutes but I'm signing off for the day: https://builder.r-hub.io/status/lightgbm_3.2.0.99.tar.

[2021-03-25 08:00] shiyu1994 commented on #3816
Sure. I can add that.

[2021-03-25 10:42] cyfdecyf commented on #3778
@shiyu1994 Spent sometime to construct a simple example. I'm not able to reproduce the exact symptoms I encounted with this simple example, only `num_threads` will impact the prediction result.

Here's the steps:

Build 2 lightgbm binaries with commit fcfd4132 and its previous commit d90a16d5
  - The bug is introduced in commit fcfd4132
  - Name the 2 binaries as `lightgbm.fcfd4132` and `lightgbm.

[2021-03-25 11:42] shiyu1994 commented on #4026
@jameslamb Thanks!

I do find a bug in data parallel training.

When values of the same feature in different machines differ a lot, or even have no overlap, a global optimal split can result in leaves with `0` local data in each machine. For example, in the synthetic example by @jmoralez, the `id` in machine 0 are in `[0, 10]` while machine 1 has `[11, ...]`. Then a split with feature `id` always

[2021-03-25 18:18] jameslamb commented on #4105
Well, "good" news...the R Hub check failed with exactly the same error we got on CRAN.

![image](https://user-images.githubusercontent.com/7608904/112523176-7b53b580-8d6c-11eb-9179-91b4dd3c43d3.png)

So at least that means that check is probably a reliable way to replicate CRAN, and therefore a good way to test fixes.

[2021-03-25 18:54] StrikerRUS commented on #4107
@normanwang92 Hi! No, there is no such possibility in LightGBM. Custom objectives and metrics can be used only in a specific language wrapper. How custom function in CLI should look like you think?

[2021-03-26 00:08] memeplex opened #4110 "[Question] Using shared memory across boosters"
I need to do predictions from multiple processes (this is the architecture I've to deal with, not the one I designed) and I don't want to load the same boosters (there are hundreds of them) into the memory of each process. Now, one option is to create a prediction service but, if that's possible, I would prefer to share the memory used by the boosters to store tree ensembles, although not necessar

[2021-03-26 00:16] memeplex commented on #4110
A clarification: this is only to do predictions, not training at all, just the model evaluation part.

[2021-03-26 02:06] jmoralez commented on #3896
Hi James. `test_classifier` sometimes fails for `dart` because it doesn't use the categorical variables. Would it be in the scope of this PR to try to make a categorical variable more informative? i.e. modify the target a bit depending on the value of the category

[2021-03-26 02:11] jmoralez commented on #3896
Actually (if it's useful) I could try to make a PR to make categorical variables more informative for all objectives, I was able to lower this threshold https://github.com/microsoft/LightGBM/blob/65349b41c20116007e602c17a68e375869a7e594/tests/python_package_test/test_dask.py#L268
to 0.01 by using more samples, but had to increase it to 0.03 for the `dataframe-with-categoricals` output

[2021-03-26 02:12] jameslamb commented on #3896
You can try if you want but I found it was very difficult to do reliably (for regression at least), which is why I did this: https://github.com/microsoft/LightGBM/blob/master/tests/python_package_test/test_dask.py#L175. If you have ideas you're welcome to submit a PR.

[2021-03-26 02:23] normanwang92 commented on #4107
What I really wanted is to apply metric_freq/eval_freq in lgb.train. What I found was evaluating custom metrics at every single step slows down training quite a lot, and it seems to drag down the GPU utilization rate. I tried using lgb.predict at every x step but it still quite inefficient even when you build the prediction incrementally. In some cases the incremental prediction takes longer than

[2021-03-26 02:26] jameslamb commented on #4107
Sure, but how would you like to define the custom metrc? In the Python package, for example, you can pass in a Python function. How would you like to be able to define the custom metric for use with the CLI?

[2021-03-26 06:17] normanwang92 commented on #4107
I'm not sure really. In my case, all I'd like to have is an efficient way of evaluating custom metrics every x step. If the metric_freq can be made available in python API then that solves my problem! The reason I asked this question was metric_freq is CLI only and I wasn't sure if CLI takes custom feval. I haven't really thought about how I'd define custom metric for CLI sorry.

[2021-03-26 07:03] aceson28 opened #4114 "Exclusive Feature Bundle is for categorical data only?"
@guolinke
Hi i have some following question for EFB
1. Is EFB only bundling 2 feature? Or it can be greater than that for 1 bundle
2. Is it only for categorical feature? Isn't what is data type if combine between 2 numerical feature or when combining numerical feature with categorical feature?
3.in journal, when we choose what feature to bundle that is a gamma who controlled (in explanation) but i

[2021-03-26 08:11] onacrame commented on #2790
This looks like an excellent package and would be good to see similar functionality within LightGBM itself.  This looks like it’s capable of dealing with spatial data as well as panel data.  Panel data has always been one of the weaknesses of trees due to within group correlation and this seems to deal with that explicitly

[2021-03-26 10:29] Roffild opened #4115 "What label= should be for the regression model?"
[code]

xgboost.DMatrix(label=)
* `label : list, numpy 1-D array or cudf.DataFrame, optional
            Label of the training data.`
* `label=None`
`xgboost.core.XGBoostError: src/objective/regression_obj.cu:57: Check failed: preds.Size() == info.labels_.Size() (61872 vs. 0) :  labels are not correctly providedpreds.size=61872, label.size=0, Loss: binary:logistic`
* `label=mylbl` - OK

catboost.P

[2021-03-26 10:33] Roffild commented on #4115
https://github.com/dmlc/xgboost/issues/6786
https://github.com/catboost/catboost/issues/1623
https://github.com/microsoft/LightGBM/issues/4115

[2021-03-26 10:40] Roffild commented on #4115
Used training.

[2021-03-26 11:41] StrikerRUS commented on #4115
Please update LightGBM to `3.2.0` version. Refer to #3943.

[code]

[code]

[2021-03-26 11:41] #4115 closed

[2021-03-26 12:01] StrikerRUS commented on #4107
Here is the corresponding code for training routine:

https://github.com/microsoft/LightGBM/blob/d6ebd063fff7ff9ed557c3f2bcacc8f9456583e6/python-package/lightgbm/engine.py#L239-L256
I think you can add condition like `i % period == 0` to the following `if` statement:
https://github.com/microsoft/LightGBM/blob/d6ebd063fff7ff9ed557c3f2bcacc8f9456583e6/python-package/lightgbm/engine.py#L253

[2021-03-26 13:29] StrikerRUS commented on #4074
Hmm, quite strange that this error progress over time. Right now almost every PR and commit in `master` has to be re-run due to this error. I'm marking it as `blocking`.

[2021-03-26 13:41] #4025 closed

[2021-03-26 13:42] jameslamb commented on #4074
Ok I'll work on at least adding the flaky test handling as soon as possible. I have time this weekend to devote to it.

[2021-03-26 13:54] StrikerRUS commented on #4011
@JackYangzg The above-mentioned fix is in `3.2.0` release, so you can check it.

[2021-03-26 13:56] StrikerRUS commented on #3797
Release `3.2.0` is out.

[2021-03-26 13:57] StrikerRUS commented on #4021
@BladeCoda The above-mentioned fix is in `3.2.0` release, so you can check it.

[2021-03-26 13:59] StrikerRUS commented on #3941
Fixed via #3942.

[2021-03-26 13:59] #3941 closed

[2021-03-26 14:55] StrikerRUS opened #4116 "[Dask] Socket recv error, code: 54 on macOS"
Just saw this error in `master` for macOS in one of the examples.

<details>

<summary>Full logs:</summary>

[code]

</details>

[2021-03-26 15:00] StrikerRUS commented on #4116
Linking https://github.com/microsoft/LightGBM/issues/3782#issuecomment-798824296 and https://github.com/microsoft/LightGBM/pull/4064#discussion_r592861598.

[2021-03-26 20:40] jameslamb commented on #4057
reopening this based on the comments on https://github.com/microsoft/LightGBM/pull/4112

[2021-03-26 23:03] jameslamb commented on #4074
@StrikerRUS I'm really really excited to say that I now have a reliable reproducible example of this problem!

Or at least, I have one reproducible example that always produces "Socket recv error code: 104". That's a very general error so there could be other situations that lead to it, but I think this one mimics what I suspected, that a worker is lost during training and that results in this sit

[2021-03-26 23:06] jameslamb commented on #4074
One thing I noticed while doing this, with more logs...it seems like `LGBM_NetworkFree()` is only ever getting called on the machine that is rank 0. For example, on a successful training run:

**logs from rank 0**

[code]

**logs from rank 1**

[code]

I'm looking into that more. If that's true, it might have been the reason for the behavior @ffineis and I saw on #3952 , where it seemed to matter

[2021-03-27 03:03] jmoralez commented on #3896
Hi James. The local `rf` seems to be underperforming, I can't get `test_classifier[rf-binary-classification-dataframe-with-categorical]` nor `test_classifier[rf-multiclass-classification-dataframe-with-categorical]` to pass because the distributed version outperforms the local one haha. Seems odd though, do you have experience using it?

[2021-03-27 05:02] jameslamb commented on #3896
Oh interesting. Sorry, I don't have any ideas why random forest mode would perform better in distributed training than local training for the datasets we use in tests. It's ok with me to add a condition in tests like `if boosting_type == 'rf' and data_output == 'dataframe-with-categorical'` or whatever, that uses a less strict condition. Adding these tests will add some new coverage of code paths

[2021-03-27 05:03] jmoralez opened #4118 "rf boosting type for classification"
## Description

I found that the rf boosting type struggles for classification tasks, even trivial ones. I'd like to know how its `predict_proba` method works, I'd expect it to be the proportion of trees that vote for each class, but I think the implementation may be derived from boosting.

## Reproducible example

[code]
This is the data:
![Screenshot from 2021-03-26 22-41-29](https://user-images

[2021-03-27 05:09] jmoralez commented on #3896
I tried some trivial examples and saw that it wasn't performing as I expected so I opened #4118, I think it may be a bug.

[2021-03-27 05:10] jameslamb commented on #3896
Thanks for that! To be clear, I don't think the bug (if there is one) has to be solved before this issue is.

[2021-03-27 05:13] jmoralez commented on #3896
Ok, I'll try making those tests pass then, they're the only ones remaining but they're extremely hard haha, I'd get absolute differences of 0.5 in the probabilities

[2021-03-27 05:19] jameslamb commented on #3896
Yeah that's totally fine. Since you've documented that behavior in a separate issue, it'll just mean the `rf` tests aren't really a test of correctness but just like a "smoke test" that at least no errors are raised when using that boosting type with the Dask package.

Closing #4118 in the future could include removing any special cases for `rf` in the Dask tests.

[2021-03-27 13:06] StrikerRUS commented on #4074
@jameslamb Great findings!

Hmm, so that might be a reason of failing tests in which we run consecutive runs under the same test function, right?

[2021-03-27 15:09] 7starsea opened #4120 "[help wanted] how to use cuda version"
I compiled the cuda version of lightgbm by following https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-cuda-version-experimental

However, when I try to run the cuda version (with the same parameter used in GPU version based on OpenCL), I encounter the following error
"lightgbm.basic.LightGBMError: GPU Tree Learner was not enabled in this build, Please recompile with CMake op

[2021-03-27 15:20] #3793 closed

[2021-03-27 15:24] StrikerRUS commented on #4120
@7starsea Hi!

Good catch, thanks!
Please use `device_type="cuda"` instead of `device_type="gpu"`.
I'll fix docs clarifying this.

[2021-03-27 20:04] StrikerRUS commented on #3831
Just tried to run all Dask tests with a version of `lightgbm` built with MPI support with the [latest `master`](https://github.com/microsoft/LightGBM/commit/8cc6eefcefb398ce5ae4f0884e12c918c9e4f1e4).

And it seems that a lot of things have been changed since the last update.

<details>

<summary>Full testing logs:</summary>

[code]

</details>

I guess that first 4 failures are quite easy to "fix"

[2021-03-27 20:33] StrikerRUS opened #4124 "Enable MM_PREFETCH and MM_MALLOC on aarch64"
Refer to https://github.com/microsoft/LightGBM/pull/3948#issuecomment-778392829.

Related source codes:

https://github.com/microsoft/LightGBM/blob/e98da99d88aaee09a8dbd5204c5355fc099fe5f0/CMakeLists.txt#L243-L271

https://github.com/microsoft/LightGBM/blob/e98da99d88aaee09a8dbd5204c5355fc099fe5f0/include/LightGBM/meta.h#L16-L23

https://github.com/microsoft/LightGBM/blob/e98da99d88aaee09a8dbd5204

[2021-03-27 21:35] StrikerRUS commented on #2955
`boostorg/compute` repo hasn't received any updates for two years.

[2021-03-27 21:35] StrikerRUS commented on #2955
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 21:35] #2955 closed

[2021-03-27 21:39] StrikerRUS commented on #2818
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 21:39] #2818 closed

[2021-03-27 21:40] StrikerRUS commented on #2604
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 21:40] #2604 closed

[2021-03-27 21:45] StrikerRUS commented on #2613
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 21:49] StrikerRUS commented on #3637
@shiyu1994 Can we close this issue?

[2021-03-27 21:51] StrikerRUS commented on #3689
kindly reminder @henry0312

[2021-03-27 21:55] StrikerRUS commented on #3706
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 21:55] #3706 closed

[2021-03-27 21:59] StrikerRUS commented on #3829
Just a remark: I haven't seen this error for a while.

[2021-03-27 22:09] StrikerRUS commented on #4040
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 22:09] #4040 closed

[2021-03-27 22:22] StrikerRUS commented on #3949
@memeplex Sorry for missing this issue!

Is this what you are looked for?

[code]
[code]

[2021-03-27 22:33] StrikerRUS commented on #4046
I think this can be applied not only for `init_score` but for all other user-defined data in multiclass case, e.g. `y_pred`, `grad`, `hess` in custom objectives. At least for the consistency. WDYT, @jmoralez ?

[2021-03-27 22:35] StrikerRUS commented on #4050
Just a remark: I haven't seen this error for a while. Maybe it is enough to look through `Run-R-Code-Redirect-Stderr` source code for possible bugs and close this issue in case of no findings for now?

[2021-03-27 22:37] StrikerRUS commented on #4124
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 22:37] #4124 closed

[2021-03-27 22:39] StrikerRUS commented on #4107
@normanwang92 Does new issue heading reflect your needs correctly?

[2021-03-27 22:45] StrikerRUS commented on #4102
I remembered we already have a such feature request. Anybody is welcome to contribute!
Refer to https://github.com/microsoft/LightGBM/issues/812#issuecomment-538069245.

[2021-03-27 22:45] #4102 closed

[2021-03-27 22:46] #4083 closed

[2021-03-27 22:58] StrikerRUS commented on #4067
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 22:58] #4067 closed

[2021-03-27 23:00] StrikerRUS commented on #4065
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 23:00] #4065 closed

[2021-03-27 23:01] StrikerRUS commented on #4066
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-27 23:01] #4066 closed

[2021-03-27 23:39] StrikerRUS commented on #3925
I guess this issue can treated as a sub-issue of #4067.

I'm adding this to the feature requests list in #2302.

[2021-03-27 23:40] #3925 closed

[2021-03-27 23:51] StrikerRUS commented on #4067
Also, for pkg-config example refer to https://github.com/dmlc/xgboost/pull/5744.

[2021-03-27 23:56] StrikerRUS opened #4125 "Refactor `CMakeLists.txt` so that it will be possible to build cpp tests with different options, e.g. with OpenMP support"
Refer to https://github.com/microsoft/LightGBM/pull/3555#discussion_r579187716.

Possibly related:
- https://github.com/dmlc/xgboost/pull/4323#issuecomment-480162720
- https://github.com/dmlc/xgboost/pull/4897
- https://github.com/dmlc/xgboost/pull/5871

[2021-03-27 23:57] StrikerRUS commented on #4125
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-03-28 00:08] StrikerRUS commented on #4026
@jameslamb

I believe this is just a logging bug (bad wording):
https://github.com/microsoft/LightGBM/blob/fcfd4132e6d40a22d52023396329c41fd3de4a42/src/treelearner/serial_tree_learner.cpp#L207

[2021-03-28 00:10] jameslamb commented on #4026
oooo ok I'll submit a PR to fix that

[2021-03-28 04:14] jameslamb commented on #4050
I also have not! I think it's ok to close for now. I can't see anything problematic in `Run-R-Code-Redirect-Stderr`.

[2021-03-28 04:14] #4050 closed

[2021-03-28 13:20] 7starsea commented on #4120
I trained a project (project size (sample, feature) = (18909697, 128)) with the gpu version and the max gpu memory obsesrved is around 3000MB, however, I failed to train this project with the cuda version because of cuda out of memory error.

[2021-03-28 13:58] StrikerRUS commented on #4120
Please open a new issue with more details for out of memory error preferably with reproducible example on randomly generated data.

I guess this difference can be due to the fact that

and in OpenCL one single precision is used by default.

Maybe you can try to use multiple GPUs with CUDA version?

[2021-03-28 19:22] #4120 closed

[2021-03-28 19:44] jlisic opened #4131 "[R Package] autoconf.ac OpenMP test ignores LDFLAGS (fix provided)."
## Description
The LDFLAGS R variable "R CMD config LDFLAGS" is not included as part of the OpenMP configure.ac test in the R package.  This causes the compilation to not find OpenMP libraries due to ignoring the -L directories in .R/Makevars.  This is a larger issue on the Mac where -L is usually needed to find the OpenMP libraries.  Furthermore, since LDFLAGS are used for the package compilation

[2021-03-28 19:51] jameslamb commented on #4131
Thanks very much for this excellent report @jlisic ! We'd be grateful for a pull request that adds this, it looks like a good change to me.

If you have docker on your mac, you can regenerate `R-package/configure` by following the steps at https://github.com/microsoft/LightGBM/blob/master/R-package/README.md#build-a-cran-package.

[code]

Otherwise, if you open a pull request that just updates `co

[2021-03-28 19:56] jameslamb commented on #4131
By the way, if you're feeling very generous with your time, I think our friends at `{xgboost}` might benefit from a similar patch: https://github.com/dmlc/xgboost/blob/a59c7323b4fcc739a9b1cbf380e2fe62e60c87ba/R-package/configure.ac#L36

[2021-03-28 23:31] jlisic commented on #4131
To provide a bit more context here, this is actually an M1 Mac issue, or more specifically, a non-standard dyld search path issue due to the suggested install location moving to /opt/homebrew for native homebrew on M1 Macs.  This is not an issue for intel Macs, as homebrew is installed in /usr/local/Hombrew and symlinks shared libraries to /usr/local/lib, as I discovered when I tested this issue o

[2021-03-29 01:07] StrikerRUS commented on #4131
A little bit offtopic: we have never tried to build LightGBM on macOS with LLVM's Clang, only with default AppleClang. Good to know that it compiles fine!

[2021-03-29 01:22] StrikerRUS commented on #4105
@jameslamb

I remember, he asked email him for important things.

We can replicate valuable things or use this Docker directly, I think.
https://github.com/r-hub/rhub-linux-builders/blob/master/debian-clang-devel/Dockerfile

[2021-03-29 01:57] normanwang92 commented on #4107
It does thank you! I'll def try it out!

[2021-03-29 03:11] jameslamb commented on #4074
For anyone subscribed to this issue, I THINK I may have found the root cause, and it might be possible to fix this without needing to mark some Dask tests as flaky.

https://github.com/microsoft/LightGBM/pull/4132

[2021-03-29 07:24] normanwang92 commented on #4107
Here's my attempt to modify lgb.train (by passing `period` to params and adding `i % period == 0` later). It seems to run fine but somehow the verbose info was missing: I set `verbose` to 0 and `verbose_eval` to 50 and trained for 1000 iterations but the eval metrics were never printed, except when the early stopping condition was triggered (at around 800 rounds). It's not deal-breaking but I wond

[2021-03-29 11:16] Teeeto commented on #2742
Just built on linux - problem still persists, there is a circle of issues referencing each other all closed, not sure which one to reopen.

[2021-03-29 13:07] ruedika opened #4134 "One Feature per Tree"
I'm trying to build a model using only 1 feature per tree. Using colsample_bytree or interaction_constraints does not work as expected. colsample_bytree does not use the last feature in data, when set to low values. interaction_constraints appears not to be implemented for python?

Code:

import numpy as np
import pandas as pd
import lightgbm as lgbm
from lightgbm import LGBMClassifier

np.random.

[2021-03-29 21:01] StrikerRUS opened #4136 "Migrate to f-strings for the Python code"
Migrate all Python code from old-fashioned `format()` functions, formatting `%` operators and simple concatenations (`+`) to modern [`f-strings`](https://www.python.org/dev/peps/pep-0498/) ([brief guide](https://realpython.com/python-f-strings/)). They are known to be the fastest approach and also increase code readability.

![image](https://user-images.githubusercontent.com/25141164/112898582-aed

[2021-03-30 01:26] jmoralez commented on #4046
Yes, that'd be nice. I remember a while ago I was very confused when using custom objectives with multiclass classification because `grad` and `hess` were 1d. I'll check this week if this would be easy to implement.

[2021-03-30 03:55] jameslamb commented on #3956
Re-opening this. I think it can be closed by a pull request that is currently in progress: https://github.com/microsoft/LightGBM/pull/4101#discussion_r603754561

[2021-03-30 05:00] coldkillerr commented on #4136
I can work on this if no one is assigned

[2021-03-30 08:22] aceson28 opened #4138 "Algorithm (pseudo code) Explanation"
in LightGBM paper (https://papers.nips.cc/paper/2017/file/6449f44a102fde848669bdd9eb6b76fa-Paper.pdf.)
in algorithm 1 what mean of  I.f[k][j].bin ? i can't find where is f coming from
in algorithm  3 "bundles ← {}, bundlesConflict ← {}" is that means defining 2 blank object? if that true, where these are coming "for j = 1 to len(bundles) do" and bundlesConflict[i] ? if is it blank so what value of

[2021-03-30 09:09] btrotta commented on #4134
Regarding the interaction constraints, there's a typo in your code (missing first `s` in `constraints`). Also you need to pass key-value pairs, not a dict. The following works for me:
[code]

The issue with `colsample_bytree` sounds like it may be a bug.

[2021-03-30 09:28] NovusEdge commented on #4136
I would like to take this one up if no one's assigned.

[2021-03-30 10:36] ruedika commented on #4134
Nice.. Sorry I made you check on my typos and many thanks!!

[2021-03-30 11:36] StrikerRUS commented on #4136
@coldkillerr @NovusEdge Thanks! Sure, please feel free to pick up any file(s) you like!

[2021-03-30 11:51] StrikerRUS commented on #4046
We already re-shape prediction result in the opposite way:
https://github.com/microsoft/LightGBM/blob/e4cf2e4feb2f2cb29cec55070febd74ba8fa28cc/python-package/lightgbm/basic.py#L747-L752

[2021-03-30 12:21] #3896 closed

[2021-03-30 21:02] fbwyx commented on #3637
Confirmed that the regression is gone on our real dataset. In fact we got quite a nice speedup! 😄 Thanks for the fix!

[2021-03-30 21:02] #3637 closed

[2021-03-30 21:13] StrikerRUS commented on #3637
Really nice to hear that!

[2021-03-31 01:32] jameslamb commented on #3829
I haven't seen this in a while either. I'm ok with closing it for now if you'd like.

[2021-03-31 09:44] trivialfis commented on #3829
Sorry I missed the previous notification.  Our tests are not quite stable either, during teardown there could be a number of issues from race between scheduler and workers to the timeout you are seeing.

[2021-03-31 11:23] StrikerRUS commented on #3829
@jameslamb

I'll defer the decision to you.

[2021-03-31 11:37] #3283 closed

[2021-03-31 12:20] StrikerRUS commented on #4106
@jameslamb Have they already answered anything?

[2021-03-31 14:25] #4057 closed

[2021-03-31 14:32] jmoralez commented on #3829
Since our CI time has been increasing with the additions of `boosting_type` and now `tree_learner` I decided to dig a bit into why the tests took so long, here's a quote of https://github.com/microsoft/LightGBM/pull/4088#issuecomment-810711965.

I'd like to get some feedback into using this approach. This only builds one cluster that gets reused by all the tests so the time is spent actually doing

[2021-03-31 15:33] SebastianBr opened #4148 "Usage of init_score results in no boosting"
It seems if lightgbm.train is used with an initial score (init_score) it cannot boost this score. Here is a simple example:

    params = {"learning_rate": 0.1,"metric": "binary_logloss","objective": "binary",
              "boosting_type": "gbdt","num_iterations": 5, "num_leaves": 2 ** 2,
              "max_depth": 2, "num_threads": 1, "verbose": 0}

    x = pd.DataFrame([[1, 0.1, 0.3], [1, 0.1,

[2021-03-31 19:12] tonyk7440 commented on #4045
@mayer79
I tried installing from this repo by cloning it locally and running

in terminal
[code]

then in R

[code]

Tried the following code then but it still crashed

[code]

[code]

Did you experience different when installing from the repo?

[2021-03-31 21:03] mayer79 commented on #4045
@tonyk7440 : Good finding. What goes wrong in `build-cran-package.sh`??

I actually built the project with `Rscript build_r.R`. The resulting package can be installed via
[code]
(just as a test).

[2021-03-31 22:26] jameslamb commented on #4045
Sorry I haven't had the capacity to look at this yet. Windows is not my main day-to-day operating system to I need to really find some dedicated time to do Windows work.

@tonyk7440 it would be helpful if you could share the full logs generated when you installed using a package built from `master` with `sh build-cran-package.sh`. There are some tests done at compilation time and we might learn mo

[2021-04-01 00:56] jameslamb commented on #3829
Really interesting, thanks for the research! `dask-lightgbm` used the `client` fixture from, and I never proposed changing it in LightGBM just because it's mentioned at https://distributed.dask.org/en/latest/develop.html. I read that and thought "well, the Dask maintainers said this is the preferred way, and they use it in all their tests, so it must be the right way".

I would definitely support

[2021-04-01 01:34] jmoralez commented on #3829
Thank you, I agree with that. I actually thought of mentioning in the dask issue that seanlaw's approach should be in those docs.

Related to #4099, I actually found something similar when playing around with the single cluster approach. I was using the branch for the voting classifier, which includes the test that checks that if you try feature parallel you get an error, however it wasn't always

[2021-04-01 01:50] jameslamb commented on #3829
I'm torn on this. So far I've been against using `.persist()` on all of the Dask collections in all of the tests. I don't expect LightGBM's users to always do that before using `lightgbm.dask`, and I'm worried that we'll miss things in the tests if we `.persist()` everything. I want to be sure that the test setup doesn't drift so far from the normal usage of `lightgbm.dask` that the tests run fine

[2021-04-01 02:05] jmoralez commented on #3829
I see what you mean. I usually don't persist my collections when using `lightgbm.dask` or `xgboost.dask` because you get two copies of your data, so it's more memory efficient not doing it.

I think another (easier) approach would be just changing the defaults in `_create_data`. Right now it's `n_samples=1_000` and `chunk_size=500`, so by default you get two partitions (these used to be 100 and 50

[2021-04-01 02:11] jameslamb commented on #3829
I totally agree with that. I'd strongly support a PR to change the default to 10 or 20 partitions if you want to make one.

[2021-04-01 02:23] jameslamb commented on #3829
Let's try the "change default partitioning" first (not adding `.persist()`) and see if it resolves the reliability problems in tests.

[2021-04-01 02:26] jmoralez commented on #3829
I'm running all the tests with `chunk_size=50` (20 partitions) to see if something fails, if it doesn't I'll open the PR. I tried the `.persist()` + `client.rebalance()` this morning and a couple of tests failed with the other boosting types, I believe goss and dart one each.

[2021-04-01 02:29] jameslamb commented on #3829
Ok cool, thank you. These sources of instability are so tough to track down because they're transient, so I'd rather change things slowly and evaluate after each one how often we see the tests failing.

[2021-04-01 10:45] tonyk7440 commented on #4045
Ok this is interesting!

- Installing from @mayer79's link above works
- Tried using `Rscript build_r.R` and that also works.
- Then tried `build-cran-package.sh` and hit the error again.

So it does seem like there is something going wrong in the `build-cran-package.sh` script and hence the CRAN package.
I have attached the logs below of `Rscript build.R` and `build-cran-package.sh` as requested.

[2021-04-01 10:47] tonyk7440 commented on #4045
..continued due to comment max length, only caught the end of the second half of the output of the command below due to it getting cutoff in the console

<details>
<summary> `install.packages("lightgbm_3.2.0.99.tar.gz", repos = NULL, type = "source")` output</summary>
<p>

[code]

</p>
</details>

[2021-04-01 13:04] jameslamb commented on #4045
Thanks for that. For future times when you need to post a lot of data, GitHub does support attaching files to comments.

I'll try to look into this in the next few days. Keep in mind that `{lightgbm}` is passing all of the CRAN checks on Windows and that it's tested on several different Windows configurations on every commit. So to narrow down the search space a little further, the issue might be

[2021-04-01 13:51] #3834 closed

[2021-04-01 15:34] jameslamb opened #4152 "[dask] Add LightGBM logo to Dask homepage"
## Summary

This came up on the Dask community call today (#141). I mentioned that the first release with `lightgbm.dask` is now out, and it was suggested that we try to add LightGBM's logo to https://dask.org/, in the section with a list of projects that have Dask integrations built-in.

![image](https://user-images.githubusercontent.com/7608904/113318097-b65a6980-92d5-11eb-8323-e9734e07d0ba.png)

[2021-04-01 19:44] staftermath opened #4153 "Efficient native support of pandas.DataFrame with mixed dense and sparse columns"
It looks like lightgbm will attempt to convert sparse array into numpy array internally. When the (converted) dense data frame is huge. This may cause memory issue.

A smaller sample pd DataFrame containing sparse array is:

[code]

In my real case, the pandas dataframe consists of about 15k sparse array columns and 1 million rows. The total memory for this dataframe is < 1 GB. However, when feed

[2021-04-01 20:49] jameslamb commented on #4153
@staftermath good to see you here! Thanks for your question.

LightGBM does work with sparse arrays in its core library, so I can at least tell you for sure that `lightgbm`'s python package isn't doing something like called `.todense()` before training.

* https://github.com/microsoft/LightGBM/blob/d517ba12f2e7862ac533908304dddbd770655d2b/src/c_api.cpp#L1124
* https://github.com/microsoft/LightGBM

[2021-04-01 21:49] staftermath commented on #4153
Thanks James! Let me do some testing and report back. I suspect when pandas is fed to training, it only tries to get the np.arrays from underlying data. Perhaps csc_matrix would resolves the issue. Stay tuned :)

[2021-04-02 02:55] jameslamb commented on #4045
I typed up an investigation as I went tonight and the post got kind of long. Long story short...I THINK I found the problem. I believe `{lightgbm}` is not correctly registering routines from its C++ library, and that this means R does a less-safe type of search for symbols it encounters `.Call()` calls within `{lightgbm}`.

This could explain the behavior where just `library()`-ing other packages

[2021-04-02 04:15] jameslamb commented on #4045
I believe I've found the root cause and have opened #4155 with a fix. You can test it with the following.

[code]

Then you can try this sample code or any of the other examples mentioned in this thread.

[code]

@mayer79 @tonyk7440 @TalWac @nmnbkhr thanks for all your help with reproducible examples and testing information! Sorry it took so long to get to this. I hope #4155 will fix this and any

[2021-04-02 04:19] jameslamb commented on #4034
@ticarki sorry for the delay in getting back to you.

For the Windows half of this issue, I'm confident now that it's the same as #4045. I just submitted a fix for that issue (#4155). I tried your Windows example above on the branch for #4155 and no longer see a crash. Could you please try it out? You can follow the steps at https://github.com/microsoft/LightGBM/issues/4045#issuecomment-812307287

[2021-04-02 07:29] mayer79 commented on #4045
@jameslamb Awesome!

I can confirm that your as well as "my" example works using r-registration branch.

[code]

[2021-04-02 13:33] StrikerRUS commented on #4153
Here is the corresponding line of the source code:
https://github.com/microsoft/LightGBM/blob/dc1bc23adf1137ef78722176e2da69f8411b1feb/python-package/lightgbm/basic.py#L162

So, LightGBM supports input data to be `pandas.SparseArray` but it is converted to `numpy.array`.
But I guess it shouldn't increase the memory usage by re-using underlying data structures: https://github.com/microsoft/LightGBM

[2021-04-02 13:35] StrikerRUS commented on #4153
Oh, wait! You are using `pandas.SparseArray` as a column of 2-d `pandas.DataFrame`! Unfortunately, we don't support this scenario for now.

[2021-04-02 13:41] StrikerRUS commented on #4153
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-04-02 13:41] #4153 closed

[2021-04-02 14:56] StrikerRUS commented on #3912
Gently ping @CharlesAuguste

[2021-04-02 17:44] staftermath commented on #4153
Thanks for the comments @StrikerRUS . The int type is used as example. In my real case it is float64. But yes, the sparsearray is used a feature in pandas.

Also update for @jameslamb , you are right, directly feed a csc_matrix to Dataset and then to lgb.train doesn't incur huge memory spikes. This effectively solves my problem. Thanks a lot!

[2021-04-02 17:49] pseudotensor commented on #4082
@guolinke ?

[2021-04-02 19:17] alexisdrakopoulos commented on #4110
Along these lines I wanted to ask, but don't believe it constitutes its own ticket, can you share memory of a Dataset across different boosters who are trained with the same inputs but differing labels?

[2021-04-02 20:20] pseudotensor opened #4156 "segfault during predict"
[code]

data can be anything for predict, 1 row or whatever fails.  Only special thing is extra_trees=True

[code]

[lgbsegfault.pkl.zip](https://github.com/microsoft/LightGBM/files/6251133/lgbsegfault.pkl.zip)

[2021-04-03 05:01] jmoralez commented on #4148
I believe the problem is with your example. You give the model the same samples (x) labeled both as positive (y = 1) and negative (y = 0), so the model can't learn anything from it, which is printed out as a warning:
`[LightGBM] [Warning] No further splits with positive gain, best gain: -inf`.

If you inspect the model (for example using `model.trees_to_dataframe()`) you'll see that it didn't make

[2021-04-03 06:47] SebastianBr commented on #4148
Thanks for your reply. I agree that the example is a bit strange. And you are correct, the first model simply returns the mean of the target and did not create a tree since it doesn't improve the prediction.

However, I assumed that the second model should at least create a tree. It could simply select the first feature "a=0.5" as a split. Then it would also predict a raw score of logit(0.333) (de

[2021-04-03 15:20] jmoralez commented on #4148
This is `a` vs `y`:
![orig_data](https://user-images.githubusercontent.com/8473587/113482363-b5534480-945b-11eb-9e44-f59eacfa8595.png)

So as you can see a split at `a=0.5` doesn't produce any gain, since you'd still have the same points at y=0 and y=1, therefore lightgbm doesn't use that feature for splitting, same for `b`.

This is correct.

Here's an example:
[code]
This is the data
![example_d

[2021-04-03 17:19] jameslamb commented on #4105
Oh right! Will send an email right now.

[2021-04-03 18:37] SebastianBr commented on #4148
Thanks the examples. I think I finally figured what my problem is. It might be my misunderstanding or a wrong expectation:

I use gradient boosting for probability prediction. Hence my goal is to achieve best likelihood estimates. This is also why I came up with this strange input matrix with duplicates.
So it terms of classification, simply deciding whether an input example belongs to class 1 or

[2021-04-03 21:03] jmoralez commented on #4148
In this new example this is actually possible, I believe you're not getting it because of the bins. As you may know, in order to reduce the number of possible splits that LightGBM can perform, the features are first binned and then the possible splits are the bin boundaries. The [default min_data_in_bin is 3](https://lightgbm.readthedocs.io/en/latest/Parameters.html#min_data_in_bin), so it's possi

[2021-04-04 01:10] jmoralez commented on #3841
I've been trying this out and currently I have a python script that uses threads to spawn the machines from the CLI. I'm using the data and configurations provided in `examples/parallel_learning`. I have a couple of questions:

1. Is this a good approach?
2. Would the CI stuff run in github actions or on azure?
3. Would we install the python library for testing? Currently I'm only checking that th

[2021-04-04 02:28] jameslamb commented on #3841
It's fine to install the Python library as part of such a test.

I think it would be good to target Azure DevOps for such tests. Currently, this project's Python package tests on GitHub Actions (https://github.com/microsoft/LightGBM/blob/d517ba12f2e7862ac533908304dddbd770655d2b/.github/workflows/python_package.yml) are only for Mac. This was done because of some limitations with Mac builds on Azur

[2021-04-04 04:09] jameslamb opened #4160 "[ci] installing 'basictex' from homebrew failing in macOS builds"
Opening an issue for this because the problem has been going on for a few days.

This was first noticed two days ago, in https://github.com/microsoft/LightGBM/pull/4147#pullrequestreview-627053285. R-package jobs on GitHub Actions (for example, [this one](https://github.com/microsoft/LightGBM/pull/4147/checks?check_run_id=2254678244)) are failing with the following errors from `R CMD check`.

[cod

[2021-04-04 04:34] jameslamb commented on #4105
Guolin emailed me back...CRAN has not asked for a re-submission. So this issue should still be fixed but it seems that right now we don't need to worry about the time pressure of re-submitting to CRAN.

[2021-04-04 10:38] SebastianBr commented on #4148
You are correct. Your changes lead to a perfect fit. Thanks for this!

However, if the algorithm is finding the loss minimum, I don't understand why in my initial example a split at e.g. a = 0.5 would not do anything. The first three examples will be in one leaf and the other in the second leaf. Of course the mean of y will not change. Is this what you referring at as gain? The logit does not chan

[2021-04-05 02:37] HHHabcd commented on #3500
I'm working on a same problem recently. I think your code is quite effective. But I'm confused what the 'ss' means, and what the fomula:
"ss = 2 * (prob_k - prob_k_hat) * prob_k * (I - probs )" and
"ss = 2 * (2 * prob_k - prob_k_hat) * prob_k * np.power(I - probs, 2) + 2 * (prob_k * prob_k - prob_k * prob_k_hat) * (-probs) * (1-probs)"
is calculating?

[2021-04-05 04:23] jameslamb commented on #4152
I've opened https://github.com/dask/dask.github.io/pull/47 to close this

[2021-04-05 05:50] shiyu1994 commented on #4114
@aceson28 Thanks for using LightGBM.
1. EFB can bundles multiple features into a single bundle.
2. No, it is for all kinds of features. Note that in LightGBM, numerical features will be discretized into integers (bin IDs of the feature histogram). After discretizing, the representation of numerical and categorical features will both be integers.
In the paper, $K$ is simply $\gamma \times n$. Curre

[2021-04-05 06:20] shiyu1994 commented on #2790
@onacrame Added that to the feature requests & voting hub (#2302)

[2021-04-05 06:24] shiyu1994 commented on #3998
@yolimonsta Thanks for using LightGBM, what objective function are you using? It is Quantile Regression / L1 Regression / MAPE Regression?

[2021-04-05 08:14] shiyu1994 commented on #4118
Hi @jmoralez Yes, the `rf` boosting type uses the same tree learner as `gbdt`. The difference is how the scores are updated. In `gbdt` the prediction values of the new tree are scaled with `learning_rate` and then added to the scores. But in `rf` the scores are simply averaged (divide the sum by the current number of iterations). Note that this averaging operation only happens in training.
https:/

[2021-04-05 09:28] shiyu1994 commented on #4138
Hi @aceson28, in algorithm 1 `I.f[k][j].bin` means the bin value of feature `k` of data `j`.
In algorithm 3, `bundles` is the set to store all bundles. `bundlesConflict` store the number of conflicts in each bundle. Also, I believe that `bundlesConflict[i]` in the condition of the `if` statement should be `bundlesConflict[j]` (which is a typo).
Initially, both sets are empty, so in the first itera

[2021-04-05 09:31] shiyu1994 commented on #4134
When `colsample_bytree=0.1`, the column sampler always samples feature `0` and `2`, and feature `1` has never been sampled. I think this is due to a bug of `Sample` function in `include/LightGBM/utils/random.h`. Though it is a corner case, since there's only 3 features in the example above. I'm still investigating this to see if I can fix it.

[2021-04-05 10:49] shiyu1994 commented on #4134
This is due to the internal LightGBM random generator (which is a linear congruential generator https://en.wikipedia.org/wiki/Linear_congruential_generator). For efficiency, we use the form `m a power of 2, c = 0`. Though efficient, such random generators have a limitation. The lowest bit always alternate between `0` and `1`. So the randomly generated integer numbers will alternate between odd num

[2021-04-05 11:31] shiyu1994 commented on #4107
@normanwang92 In the above code, the iteration index `i` starts from 0. So if you set `period = 10`, then the metric will be evaluated at iterations (iteration index starts from ONE instead of ZERO) `1,11,21,...`. And with `verbose_eval=50` (which means iterations `50, 100, 150,...`), it will never meets with the evaluation iterations controlled by `period`.
Thus the modification in the `if` condi

[2021-04-05 11:41] StrikerRUS commented on #3591
For `#1` answer is

   https://github.com/microsoft/LightGBM/issues/4114#issuecomment-813201652

[2021-04-05 12:16] shiyu1994 commented on #4110
@memeplex In C++ interface of LightGBM, we can convert LightGBM models into C++ code with `if-else` statements. After such converting, I think the size of the `if-else` code should be smaller than the original booster ensemble objects in memory. This may not fit your request that different processes share the memory to store the booster, since each process has to load the code independently. Howev

[2021-04-05 14:04] #4160 closed

[2021-04-05 14:17] jameslamb commented on #4106
Sorry, I haven't asked yet. I want to come to them with a smaller reproducible example since LightGBM is a fairly large project. I think that will improve the eventual quality of the answer we get.

I have access to a machine with an NVIDIA GPU and cuda 10.2 so I think I can make such a smaller reproducible example. If I can't figure that out in the next day or two I'll just ask about LightGBM dir

[2021-04-05 15:16] jameslamb commented on #4152
LightGBM is now officially listed on the Dask homepage at https://dask.org/.

![image](https://user-images.githubusercontent.com/7608904/113590235-0435e100-95f8-11eb-9af4-21fd51b71b5a.png)

[2021-04-05 15:16] #4152 closed

[2021-04-05 16:09] jose-moralez commented on #4118
Thank you @shiyu1994! The `raw_score` works fine, I'm more concerned about the `predict_proba`. In the example above I'd expect that `sigmoid(clf.predict(X, raw_score=True)) == clf.predict_proba(X)`, however I think the predictions are being averaged in `predict_proba`. https://github.com/microsoft/LightGBM/blob/2885d3e0e4b4a1887316c041d02f3545cb9a2cd0/src/boosting/gbdt_prediction.cpp#L57-L61

So

[2021-04-06 00:57] jmoralez commented on #4148
A split will only be made if it makes a positive gain (the predictions are better than before). In that example you have 6 samples (2 positive and 4 negative, therefore that leaf has 2/6 = 33% positives), if you make a split at `a <= 0.5` you'll have 3 samples in each leaf (1 positive and 2 negatives or 1/3 = 33% positives), so each leaf is pretty much the same as its parent (which means that perf

[2021-04-06 04:13] shiyu1994 commented on #4118
@jose-moralez Thanks for clarifying that. So there's an inconsistence between `predict_proba` and `raw_score`. For this synthetic case, `raw_score` actually gives `100%` accuracy, if we determine the predicted class labels by the signs of the predicted values. As for probability, currently `rf` follows the calculation of `gbdt`. But a better way to calculate the probability for `rf` should be calc

[2021-04-06 05:42] ruedika commented on #4134
Thanks a lot, but I do not think that this is the issue. I expanded the example a little to include more features. Setting the number of features k to different values always results in the last feature remaining unused when colsample_bytree is set to something smaller or equal than 1/k:

# Code Example:

np.random.seed(123)
n=100000 #number of samples
k=10 #number of features
rho=0.8 #correlation

[2021-04-06 06:10] SebastianBr commented on #4148
Yes, you are correct and I think we might start going in circles :-)

Let's settle with the fact that a split will result in the same mean of y, so the same positive ratio in each leaf. By looking at this metric alone, there is no gain in splitting. This is exactly as you mentioned before. I got this and totally agree.

But suppose your init_score is off by far, say we predicted y to be only 0.01.

[2021-04-06 09:02] parsiad commented on #4073
@shiyu1994: I am returning to this issue after a small hiatus. It seems like `GetSplitGains` computes the gain of a *single* split threshold and that I really need to inject my logic into `FindBestThresholdSequentially`, as that will compute the gain of *multiple* split thresholds.

For my functionality, I need the actual value of the split threshold. It seems like in this function, a split thresh

[2021-04-06 18:54] jameslamb opened #4165 "[ci] CUDA builds failing to start"
## Description

For the last day, I've observed that CUDA builds (defined in https://github.com/microsoft/LightGBM/blob/b674439aec933e0c1b72efc7dda482a9c7e75283/.github/workflows/cuda.yml) are failing without logs.

Jobs just failed with "This check failed".

![image](https://user-images.githubusercontent.com/7608904/113763148-f60ec000-96de-11eb-89cf-7242e8bf885b.png)

## Reproducible example

I'v

[2021-04-06 19:15] StrikerRUS commented on #4165
I can't find `linux-gpu-pool` anymore. I guess it was removed...

![image](https://user-images.githubusercontent.com/25141164/113765871-7b1cc800-9725-11eb-8352-0f5e376a5356.png)

[2021-04-06 19:20] jameslamb commented on #4165
ah!! @shiyu1994 is it something you can help us with?

[2021-04-06 21:12] #4009 closed

[2021-04-07 01:54] jameslamb commented on #4106
Ok I've opened an issue with `CMake`: https://gitlab.kitware.com/cmake/cmake/-/issues/22037.

I wasn't able to create a non-LightGBM reproducible example, but I at least cut most of `CMakeLists.txt` out by dropping unnecessary stuff like SWIG, HDFS, BUILD_FOR_R, etc.

See that link for the reproducible example. I can also add some additional information to this issue.

This error does NOT show up

[2021-04-07 04:30] jameslamb commented on #4165
I came back to this and based on the URL in that screenshot, I do actually have permissions to see those agent pools! Just didn't notice it in the UI before.

But I do see the same as you...the `linux-gpu-pool` pool is gone.

[2021-04-07 11:42] StrikerRUS commented on #4106
Thank you very much for minimizing the repro and posting the issue!
The most annoying thing right now is that we are not able to test any workarounds they may suggest us due to #4165 😬 .

[2021-04-07 15:46] StrikerRUS commented on #4106
Wow, this is just awesome!

[2021-04-08 10:15] btrotta commented on #4156
Is it possible to provide a self-contained reproducible example? I tried to reproduce the problem from your description as follows, but this runs without error.

[code]

[2021-04-08 10:23] pseudotensor commented on #4156
Sorry, did you try the script and pickle I provided?  That is quite contained.

[2021-04-08 11:27] StrikerRUS commented on #4165
I'll ask @guolinke in email today.

[2021-04-09 04:16] zwqjoy commented on #2031
@StrikerRUS  Hi, Does have a detail date to support the training data from multiple parquet files with the CLI version ?

[2021-04-09 09:31] btrotta commented on #4156
I meant could you provide a script that includes the model training and pickle steps (ideally using random data or a built-in dataset from sklearn etc). That would help isolate the source of the problem.

As a workaround, you could try using LightGBM's `save_model` and `load_model` (https://lightgbm.readthedocs.io/en/latest/Python-Intro.html#training) rather than pickle.

[2021-04-09 16:50] pseudotensor commented on #4156
The predict that failed is at end of non-trivial steps.  It has nothing to do with pickle itself.  It's just that lightgbm segfaults with this particular model.

[2021-04-09 20:48] StrikerRUS commented on #2031
@zwqjoy Hey! As of my knowledge, no one has picked this feature request up yet. Maybe [MMLSpark](https://github.com/microsoft/LightGBM/issues/1286#issuecomment-517380041) or [dataset creation from multiple files in Python](https://github.com/microsoft/LightGBM/pull/4089) will fit your needs?

[2021-04-10 11:57] StrikerRUS commented on #4165
Guolin replied in email that he asked his colleagues fix this issue.

[2021-04-10 12:04] StrikerRUS commented on #3817
[code]

https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=9750&view=logs&j=275189f9-c769-596a-7ef9-49fb48a9ab70&t=3a9e7a4a-04e6-52a0-67ea-6e8f6cfda74f

[2021-04-11 00:40] #4052 closed

[2021-04-11 10:58] guolinke commented on #4165
Hi @StrikerRUS and @jameslamb
I think the GPU agent is hosted in github actions, not the azure pipeline, right?

![image](https://user-images.githubusercontent.com/16040950/114301526-e1279780-9af7-11eb-90c1-13332b237e1d.png)

The VM of that agent is down, we just restart it.

[2021-04-11 13:53] StrikerRUS commented on #3817
One more case with almost the same value but for another job and Python version: https://dev.azure.com/lightgbm-ci/lightgbm-ci/_build/results?buildId=9759&view=logs&j=02a2c3ba-81f8-54e3-0767-5d5adbb0daa9&t=720ee3fa-96d4-5b47-dbf4-01607b74ade2.

[code]

[2021-04-11 14:08] StrikerRUS commented on #4044
Fixed via #4043.

[2021-04-11 14:08] #4044 closed

[2021-04-11 14:46] ffineis commented on #3817
Alright, I'lll look into this and try to patch. Curious myself what seems to have brought this back to life after 2 months of peace! Might also consider changing the quality of ranking from spearman correlation to NDCG@k, perhaps that statistic is less variable.

[2021-04-11 14:50] jameslamb commented on #3817
@ffineis it isn't EXACTLY the same isue. Now it's a different type of boosting (`dart`), which we now test for as of #4119 . I expect that @jmoralez 's work in #4149 is going yo resolve this, so you might want to look that PR to avoid spending time on things @jmoralez has already tried.

[2021-04-11 14:59] ffineis commented on #3817
@jameslamb ah ok awesome, thanks for the heads up. Yeah was going to suggest this is probably related to the new testing parameters. Makes sense that a regularization technique could start causing performance drops in our small test set sizes. I still think moving to NDCG as a rank quality measure might be more appropriate, so I'll just test it out locally and see if the variance is in fact lower

[2021-04-11 17:02] ffineis opened #4170 "eval_at aliases do not change evaluation metrics"
## Description
The various aliases of the `eval_at` parameter (used for `map` and `ndcg` metrics) does not change the "@" thresholds when calculating validation set metrics on `eval_set`. Only `eval_at` appears to work.

The `eval_at` aliases listed on the [Parameters docs page](https://lightgbm.readthedocs.io/en/latest/Parameters.html#eval_at) make it seem like users can also pass in
- `ndcg_eval

[2021-04-13 06:12] zwqjoy commented on #2031
@StrikerRUS Thanks,   do you mean if I want train dist lightgbm(data in hadoop:   lots of part,   I need use MML Spark). not use CLI  DIST method.  because input not support   lots of part file ?

[2021-04-13 12:52] StrikerRUS commented on #2031
@zwqjoy Yeah, exactly. CLI distributed version requires that entire file with training data should be presented on each machine. Please try MMLSpark for chunked data.

[2021-04-13 13:42] StrikerRUS commented on #4165
@guolinke Yes you are right!

Could you please wipe everything on that runner, install just GitHub Actions agent and NVIDIA driver and restart the agent?
Right now jobs fail with
[code]

[2021-04-13 17:55] parsiad commented on #4073
I ended up using [BinToValue](https://github.com/microsoft/LightGBM/blob/d517ba12f2e7862ac533908304dddbd770655d2b/include/LightGBM/bin.h#L114). Closing this thread.

[2021-04-13 17:55] #4073 closed

[2021-04-13 19:19] freddyaboulton opened #4173 "Add support for pandas nullable types to the sklearn api"
## Summary

I would like to use lightgbm's sklearn api with the new pandas nullable types. Currently, lightgbm does not recognize these types as valid. Reproducer using `3.0.0` and pandas `0.24.1`:

[code]

## Motivation

As a user, I would like to build a data processing pipeline using the latest pandas features. I can work around lightgbm's limitations but this is cumbersome and some information

[2021-04-13 21:02] katrat123 opened #4174 "Regression Gamma Loss Gradient calculation is incorrect with weight"
## Description
In src/objective/regression_objective.hpp, line 698 the weight term is only being applied to a single term, rather than the entire expression.  As a result, the weighted calculation of gamma objective is incorrect :
gradients[i] = static_cast<score_t>(1.0 - label_[i] / std::exp(score[i]) * weights_[i]);

## Reproducible example
Lightgbm simplified code (incorrect) : (1.0 - y / exp(p

[2021-04-14 00:10] jameslamb commented on #4174
Thanks for opening an issue! Are you interested in contributing a fix?

[2021-04-14 02:18] shiyu1994 commented on #4073
@parsiad Sorry for the late response. I was busy in previous days. Yes `BinToValue` would be a correct option to do that. If in your code, you have access to `Dataset` object, you may also use its `RealThreshold` method. See
https://github.com/microsoft/LightGBM/blob/b8a6f809e9dcfd8560099a8c3df493afcd2fbe94/include/LightGBM/dataset.h#L568-L572

[2021-04-14 02:26] shiyu1994 commented on #2031
Actually, distributed training with CLI supports partitioning data into each machine. See `pre_partition`
https://lightgbm.readthedocs.io/en/latest/Parameters.html#pre_partition

[2021-04-14 02:28] shiyu1994 commented on #4174
@katrat123 Yes, that's a mistake. Thanks for reporting that!

[2021-04-14 04:21] guolinke commented on #4165
@StrikerRUS oh, sure, it seems the driver is dead, as the kernel upgraded.

[2021-04-14 06:48] akshitadixit commented on #4136
Hi may I please work on this?

[2021-04-14 10:05] shiyu1994 commented on #3447
I think to implement such a constraint requires to fitting models with different `alpha` together. We need to pass all the `alpha`s to the boosting process, maintaining boosting models for different `alpha`s simultaneously and setting appropriate restriction so that the prediction values for each data point grows monotonically with `alpha`.
This is a complicated task and requires new boosting algo

[2021-04-14 10:49] #3447 closed

[2021-04-14 14:20] jameslamb commented on #4136
@akshitadixit yes please! We'd be grateful for the help.

Please only submit pull requests for a single file, and please check the list of open pull requests at https://github.com/microsoft/LightGBM/pulls since there are a few related to this issue already open.

[2021-04-14 14:21] jameslamb commented on #4136
Oh also, the code in `python-package` is higher priority than the tests or examples.

[2021-04-14 20:02] StrikerRUS commented on #2031
@shiyu1994 Ah, forgot about this option, thanks for correcting me!

[2021-04-14 20:08] StrikerRUS commented on #4173
I'd like to highlight that

But this warning has been there at least since 2019: https://github.com/microsoft/LightGBM/issues/2486#issuecomment-537626313.

[2021-04-14 20:10] StrikerRUS commented on #4173
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-04-14 21:12] StrikerRUS commented on #4165
@guolinke Thank you very much!

[2021-04-15 00:11] katrat123 commented on #4174
Sure can do.  Just create a branch and submit a pull request?

Kate Ely
Analyst II, Data Science – Pricing Sophistication
Liberty Mutual Insurance
Safeco Plaza 1001 4th Ave, Seattle, WA 98154
Direct Dial: 425-519-5632

***@***.***D73151.276743F0]

From: James Lamb ***@***.***>
Sent: Tuesday, April 13, 2021 5:11 PM
To: microsoft/LightGBM ***@***.***>
Cc: Ely, Kathryn <Kathryn.Ely@LibertyMutual.com>

[2021-04-15 01:04] jameslamb commented on #4174
Yes please! The process is:

1. Fork this repository
2. create a branch on your fork
3. push changes to thay branch
4. open a pull request at https://github.com/microsoft/LightGBM/pulls. End the title of the pull request with "(fixes #4174)"

Let me know if you run into any issues! Thanks again for helping to improve LightGBM 🙌

[2021-04-15 01:10] #4165 closed

[2021-04-15 04:20] imatiach-msft opened #4178 "[mmlspark] how to deal with "Stopped training because there are no more leaves that meet the split requirements""
## Description
Customer is seeing issue where LightGBM regressor in mmlspark is giving bad outputs with default parameters.  Investigating the issue, I found that LightGBM is outputting "[Warning] Stopped training because there are no more leaves that meet the split requirements".  The problem seems to be that we hit this code:

https://github.com/microsoft/LightGBM/blob/master/src/boosting/gbdt.c

[2021-04-15 04:21] imatiach-msft commented on #4178
I think this might be a similar issue other users have reported:
https://github.com/Azure/mmlspark/issues/986

[2021-04-15 04:37] imatiach-msft commented on #4178
notice the last few lines, up to the very end the trees trained are valid and then we train one weird tree that predicts very high values:
[LightGBM] [Debug] Trained a tree with leaves = 31 and max_depth = 13
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Debug] Trained a tree with leaves = 1 and max_depth = 1
[LightGBM] [Warning] Stopped training because th

[2021-04-15 04:38] imatiach-msft commented on #4178
I saw what looked like a similar issue here:
https://github.com/microsoft/LightGBM/issues/4026
I wonder if it is related

[2021-04-15 04:42] imatiach-msft commented on #4026
@jmoralez are you seeing output like this from lightgbm:

[LightGBM] [Debug] Trained a tree with leaves = 31 and max_depth = 13
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Debug] Trained a tree with leaves = 1 and max_depth = 1
[LightGBM] [Warning] Stopped training because there are no more leaves that meet the split requirements
[LightGBM] [Info] Finishe

[2021-04-15 05:01] akshitadixit commented on #4136
Sure, I will keep all of this in mind.

[2021-04-15 09:51] shiyu1994 commented on #4178
It is weird that the last 1-leaf tree should affect the prediction value. Because according to the logic in our code, such a tree won't affect the prediction value of both training and validation data at all.
@imatiach-msft Could you please provide the tree models produced in the example, so that we can check the leaf outputs of these trees. Thanks!

[2021-04-15 09:53] shiyu1994 commented on #4026
@imatiach-msft Not sure whether the two are related. Which distributed training strategy are you using?

[2021-04-15 13:28] normanwang92 opened #4179 "[help needed] train large sparse dataset on GPU / CUDA vs OpenCL"
hello, I have a large dataset of 30M by 800 but is quite sparse, with about 85% of it being NANs. Is it better to train it on CPU or GPU and if GPU is better is there a way to force it to train on GPU?

Also, what's the difference between the CUDA and the OpenCL implementation, both accuracy-wise and speed-wise?

Thank you!

[2021-04-15 14:50] citron opened #4180 "Any colon in a CSV or TSV file fools the parser"
## Description
Using the CLI version of lightGBM, If your input data contains colons ( as 2015-05-19T19:16:02UTC for instance ), the file format is interpreted as libsvm instead of CSV or TSV

LightGBM version or commit hash: v3.2.1

Command(s) you used to install LightGBM

[code]

## Additional Comments
The source of the problem is in the implementation of the function :
`DataType GetDataType(con

[2021-04-15 14:55] jameslamb commented on #4180
Thanks for using LightGBM! Could you please provide a small reproducible example? A small dataset (or code to create it) + code that we could run to replicate the issue?

[2021-04-15 17:23] citron commented on #4180
Hello
please find here the requested small dataset :

[code]

TABs do not fit with github markdown so please save the sample convert it with :
`tr ' ' '\t' `

[2021-04-15 23:50] zwqjoy commented on #2031
@shiyu1994   in CLI mode, both non-pre-partition and pre-partition can work. If I using pre-partition data, set pre_partition=true.      for example  I use 4 workers,      and I store the data in nfs,  split  the data to data_split1  data_split2  data_split3 data_split4((4 name is diff, still store in nfs,  4 worker can access the NFS storage)
Can I run CLI dist pre_partition=true .  each worker u

[2021-04-15 23:57] zwqjoy commented on #2031
@StrikerRUS  @shiyu1994
in CLI mode, both non-pre-partition and pre-partition can work. If I using pre-partition data, set pre_partition=true.
For example I use 4 workers, and I store the data in nfs, then split the data to data_split1 data_split2 data_split3 data_split4((4 name is diff, still store in nfs, 4 worker can access the NFS storage)

1. Can I run CLI dist pre_partition=true . each worke

[2021-04-16 03:16] Willian-Zhang opened #4184 "Validation dataset creation via Sequence"
_Originally posted by @shiyu1994 in https://github.com/microsoft/LightGBM/pull/4089#discussion_r612925344_

This post is created for keeping track of and providing new LightGBM developer more insight on design of LightGBM data pipelines.

Please close this issue upon #4089 is merged.

[2021-04-16 03:44] Willian-Zhang commented on #4184
@shiyu1994 Would you mind explaining `CreateValid` from:
https://github.com/microsoft/LightGBM/blob/fba18e488ccd82b25c4e0788b2fec1f75bcde46a/src/io/dataset.cpp#L726-L770

Specifically: Can it be used to create training dataset as well.

From my current understanding, it's creating a new dataset, regardless of training or validation, from a referenced dataset. To be specific, copying its BinMapper,

[2021-04-16 04:17] imatiach-msft commented on #4178
@shiyu1994  based on the file I see inf split gain starting at tree 35, maybe that's the tree where the problem starts?  With 10 iterations the results are much better.
[part-00000-tid-7157605944795263871-fccfc1cc-b6d0-4bc9-9622-c6ca2a793269-1097-1-c000.txt](https://github.com/microsoft/LightGBM/files/6322467/part-00000-tid-7157605944795263871-fccfc1cc-b6d0-4bc9-9622-c6ca2a793269-1097-1-c000.txt)

[2021-04-16 04:19] imatiach-msft commented on #4178
@shiyu1994 if the file does not help, where do you think might be a good place to add debug in the native code to get more info on the issue?

[2021-04-16 04:23] imatiach-msft commented on #4178
when running lightgbm to iteration=35 the results seem to still be ok

[2021-04-16 04:33] imatiach-msft commented on #4178
the predictions start to get unreasonably bad at exactly iteration=36 and then get much worse from there, it's interesting this is when the split gain starts to see "inf" values

[2021-04-16 04:37] imatiach-msft commented on #4178
when I specify iterations=2000 I can indeed see that lightgbm stops early at 64 iterations but it seems that by then the model has long ago been corrupted and has horrible leaf values that seemed to get worse and worse as the split gain started to get infs in it

[2021-04-16 06:46] shiyu1994 commented on #4178
May I know which distributed learning mode is using? `data`, `feature` or `voting`? If using `data` or `voting`, can different machines contain very diverse value distributions of the same feature? For example, machine 1 contains feature A values in range [0, 10], while machine 2 contains feature A values in range [11, 20], as in the case #4026. If so, probably it is caused by the same bug as ment

[2021-04-16 06:56] shiyu1994 commented on #4184
In principal, we don't specify `reference` when creating training dataset. So `CreateValid` shouldn't be used for creating training dataset.
https://github.com/microsoft/LightGBM/blob/fba18e488ccd82b25c4e0788b2fec1f75bcde46a/src/io/dataset.cpp#L750-L752
Here the `feature_need_push_zeros_` are just copied from the referenced training data. And it makes no different if we write `feaure_need_push_zer

[2021-04-16 07:21] shiyu1994 commented on #2031
Hi @zwqjoy
1. Sure. Different names for the training data files in different machines are perfectly OK.
2. If you set `pre_partition=true`, then both the training data and validation data are taken as pre-partitioned.

[2021-04-16 08:28] shiyu1994 commented on #2031
And you should be careful that, with `pre_partition=true`, each machine only outputs the metric value calculated on the data partitioned to that machine.

[2021-04-16 10:40] StrikerRUS opened #4186 "Expose information about linear trees in JSON format"
Refer to https://github.com/microsoft/LightGBM/pull/3299#issuecomment-821049739 for the initial discussion.

Here is the code how linear trees are dumped into txt format
https://github.com/microsoft/LightGBM/blob/fba18e488ccd82b25c4e0788b2fec1f75bcde46a/src/io/tree.cpp#L378-L405

The same information should be dumped in `NodeToJSON` function
https://github.com/microsoft/LightGBM/blob/fba18e488ccd8

[2021-04-16 10:47] StrikerRUS commented on #4186
This is a sub-issue of #2604.

[2021-04-16 10:47] #4186 closed

[2021-04-16 10:47] StrikerRUS commented on #4186
@btrotta Could help with this please?

[2021-04-16 10:55] #4106 closed

[2021-04-16 10:57] StrikerRUS commented on #4106
Upstream issue fixed in CMake `3.20.1` version.

[2021-04-16 14:28] imatiach-msft commented on #4178
@shiyu1994 mmlspark uses data_parallel by default.  Feature parallel is not supported there currently.
"can different machines contain very diverse value distributions of the same feature?"
I tried with and without normalizing the features in spark beforehand, and the issue happened regardless, either way.  If the features are normalized but have different value ranges would this still occur?  If

[2021-04-16 14:35] zwqjoy commented on #2031
@shiyu1994  pre_partition

https://lightgbm.readthedocs.io/en/latest/Parameters.html#pre_partition   from doc "true if training data are pre-partitioned, and different machines use different partitions"
I think the pre_partion is only use for train data, not the valid data.    But you say  both the training data and validation data are taken as pre-partitioned.  So I am confused.

And You say  Dif

[2021-04-16 14:39] zwqjoy commented on #2031
@shiyu1994   you say pre_partition=true, each machine only outputs the metric value calculated on the data partitioned to that machine.

1. pre_partition=false.     all worker  train auc is diff  (4 auc train metric)but valid  is (1 auc metric) same
2. pre_partition=true.(I set the train pre partion, valid data is all same)     and all worker  train auc is diff  (4 auc train metric)but valid  is (

[2021-04-16 14:40] imatiach-msft commented on #4026
@shiyu1994 it's using data_parallel training strategy

[2021-04-16 21:31] pseudotensor opened #4189 "dask early stopping and eval-set"
I had provided code to support early stopping and eval_set in general way for lightgbm using lightgbm_dask package.   This was several months ago.  I see that still early stopping and eval_set are not supported.

Is there a timeline to add this?

@jameslamb

[2021-04-16 21:33] pseudotensor commented on #4189
I see there is some discussoin: https://github.com/microsoft/LightGBM/pull/3952

But I guess it's alot less easy in native lightgbm for some reason?

[2021-04-16 21:33] pseudotensor commented on #4189
https://github.com/microsoft/LightGBM/pull/4101

[2021-04-16 21:33] #4189 closed

[2021-04-16 21:36] jameslamb commented on #4189
It looks like you found the related issues but I'll just confirm here...yes, it's actively being worked on. You can see the discussion in #3952 and #4101 for more details on why it isn't as simple as what was proposed in  https://github.com/microsoft/LightGBM/pull/3515#issuecomment-752709132.. There are a few challenges related to the fact that we can't safely assume that validation sets are parti

[2021-04-17 04:21] jameslamb commented on #3817
Just noting, since we're keeping track of it, that I just saw this again on #4188

[code]

[2021-04-17 18:26] #4028 closed

[2021-04-17 21:13] StrikerRUS commented on #3591
@jameslamb Would you like to turn this into a feature request?

[2021-04-17 21:21] jameslamb commented on #3591
Only if you or @shiyu1994 think it's a good idea to try tuning this parameter. I'm hesitant to add more parameters to LightGBM unless there is a compelling reason to do so.

[2021-04-17 21:45] issactoast opened #4192 "[R-package] Quick question about num of thread"
Hi, Thank you for making lightGBM in R!

I am using LightGBM in R and have a quick question about the `num_thread`.

According to the [manual](https://lightgbm.readthedocs.io/en/latest/R/reference/lightgbm.html), the number of threads is the physical core of CPU. But usually what I have seen in my R code, set the num thread is equal to num_thread - 1 such as

[code]

So if we have 4 core, use 3 fo

[2021-04-18 02:06] btrotta commented on #4134
@shiyu1994 Reading the wikipedia page, it seems that the cycling behavior also occurs for higher-order bits (although the cycle is longer), so I think that means we would see non-random behavior even in larger sets of features.

[2021-04-18 04:31] david-cortes opened #4193 "[R-package] docs for lgb.Dataset in R are incomplete"
In the R package, the function `lgb.Dataset` has a parameter `categorical_feature`, with this description:
[code]
https://github.com/microsoft/LightGBM/blob/7ea2bc4dbca53c03eaae2aa2b22f9b30447caea4/R-package/R/lgb.Dataset.R#L736

It does not describe what kind of input it needs to be, in contrast to `lgb.Dataset.set.categorical`.

[2021-04-18 04:35] jameslamb commented on #4192
Thanks for using LightGBM!

Assuming that there are not other processes making heavy use of the available CPUs, you will get the best performance by setting `num_thread` equal to the total number of real CPU cores. There is not really a concept of a "controller" in parallel training with LightGBM.

You could use something like this to test the relative speedup from different settings of `num_threa

[2021-04-18 04:40] jameslamb commented on #4193
Thanks for using `{lightgbm}` and for looking into the documentation.

In this case, the parameter `categorical_feature` can be either:

1. A character vector of feature names
2. A numeric or integer vector of column indices (1-based, so e.g. "3" would mean "the third column")

Are you interested in contributing some improvements to the R package's documentation? If you are, we would be really gra

[2021-04-18 05:14] david-cortes commented on #4193
Thanks but I'll pass on that as I'm not really familiar with it.

BTW I notice it's missing the docs for allowed parameters.

[2021-04-18 14:45] jameslamb commented on #4193
Ok no problem. Can you please clarify what you mean by "allowed parameters"?

[2021-04-18 15:39] david-cortes commented on #4193
Functions `lightgbm`, `lgb.train`, `lgb.cv`, have an argument `params` which says: `List of parameters`.

[2021-04-18 15:45] david-cortes opened #4195 "R: passing train parameters is inconvenient"
In the R package, when one wants to fit a model, the functions have an argument `params`, where one passes an R list.

This is inconvenient and makes it hard to find the right parameter names. Would be better if either:
* There was a function `lgb.Params` which would simply be a constructor wrapper returning a list of the parameters but with documented arguments, so that one could get autocomplete

[2021-04-18 15:47] david-cortes opened #4196 "Default arguments differ between interfaces"
In the Python version of lightgbm, the default number of boosting rounds is 100 (which is reasonable), whereas in the R version the default is 10 (which is not reasonable).

Would be nice if both could have the same default arguments.

(I haven't checked the rest of the arguments so I don't know if there are more discrepancies)

[2021-04-18 16:08] jameslamb commented on #4196
Thank you for your interest in LightGBM! As you write comments in this project, please keep your tone and wordings respectful. For example, please avoid referring to characteristics of the code that you disagree with as "not reasonable".

I would support a pull request to change the default value for `nrounds` to 100 in the R package, since that is the default in LightGBM's core library: https://l

[2021-04-18 16:25] jameslamb commented on #4195
Thanks very much for the recommendation!

I'm strongly opposed to removing the interface of passing parameters as a list to `params`. At this point, that would be a very impactful breaking change that would affect most users of LightGBM.

However, I'm open to more discussion on the idea of a function which can make the process of setting parameters easier. So far we've been hesitant to take that o

[2021-04-18 16:26] jameslamb commented on #4193
I see, ok. Yes we should be linking to https://lightgbm.readthedocs.io/en/latest/Parameters.html in those places.

[2021-04-18 16:54] david-cortes commented on #4196
Created ar PR.

[2021-04-18 16:58] issactoast commented on #4192
Thank you for the clarification! Just want to make it clear, we need to use `num_cores <- parallel::detectCores(logical=FALSE)` so that the num_cores is equal to the physical core. I used the same code that you have and it confirms that setting the `num_thread = num of physical core` is faster. Thank you!

[code]

<sup>Created on 2021-04-18 by the [reprex package](https://reprex.tidyverse.org) (v1

[2021-04-18 17:08] jameslamb commented on #4192
Ah yes, you are absolutely right! Are you interested in contributing a change to the documentation? I think others would benefit from that note.

It would just be updating https://github.com/microsoft/LightGBM/blob/7ea2bc4dbca53c03eaae2aa2b22f9b30447caea4/R-package/R/lightgbm.R#L95-L97 to say something like

[code]

And then re-generating the documentation files with commands like this:

[code]

[2021-04-18 17:28] david-cortes commented on #4195
But it doesn't need to be a breaking change. What I suggest would be simply to make a function with documented arguments that would return a list with the same elements and values - e.g.
[code]
But with those arguments documented and already set to their defaults (or perhaps to NULL, guess the effect is the same), so that it would play along with RStudio and other IDEs documentation browser, toolt

[2021-04-18 20:02] jameslamb commented on #4131
@jlisic are you interested in creating a pull request? If not I'll pick this up.

[2021-04-18 20:17] jameslamb commented on #3763
I want to note here that R 4.1.0 is planned for release on May 18, 2021.

https://twitter.com/pdalgd/status/1383008275545919488

You can see a full list of changes in that version at https://stat.ethz.ch/R-manual/R-devel/doc/html/NEWS.html. There is only one that looks immediately relevant to `{lightgbm}`, although it's hard to tell since some of the changes are deep in the internals of R and `{li

[2021-04-18 20:42] jameslamb commented on #4195
Right, but the other proposal in https://github.com/microsoft/LightGBM/issues/4195#issue-860695422, "The functions accepter their arguments without needing to pass them as a list", would be a breaking change.

I'm open to the idea of a function like `lgb.generate_parameters()` that is similar to the one you've described, and it would be interesting to try to auto-generate it. I understand how that

[2021-04-18 22:01] david-cortes commented on #4195
I'll pass on making a parser from the html, but can provide you some example libraries which have a parameters constructor:
* C50 (`C5.0Control`)
* caret ``trainControl`
* partykit (`ctree_control`)

Although those are all R exclusives and the function are not auto-generated.

[2021-04-18 22:25] jameslamb commented on #4195
Alright, thanks.

Since you're not interested in contributing this, I'll add it to this project's backlog of feature requests. In this project, we manage feature requests in a single issue (see #2302). I'll move this there, close this issue, and update the title to more accurately reflect the feature request.

<hr>

### Feature description

For anyone arriving at this issue, please comment if you'

[2021-04-18 22:25] #4195 closed

[2021-04-18 22:43] issactoast commented on #4192
@jameslamb Sure! I will do that, thanks!

[2021-04-18 22:44] jameslamb commented on #4192
Great, thanks so much! Let me know if you run into any issues.

[2021-04-19 01:59] jameslamb opened #4200 "[R-package] test against upcoming Matrix release"
Guolin forwarded the following email to me, which was sent by the maintainer of [`{Matrix}`](https://cran.r-project.org/web/packages/Matrix/index.html) to the maintainers of all packages on CRAN that depend on it.

finding how the Matrix change from 1.3-2 to 1.3-3 had influenced your package. For most you I'd hope you could amend your package or its possibly "exaggerated" assumptions about inner d

[2021-04-19 04:49] imatiach-msft opened #4201 "Multiple Quantile Regression"
See issue in mmlspark:
https://github.com/Azure/mmlspark/issues/966

## Summary

Add multiple quantile regression to lightgbm, see linked issue for details from user

I don't think this feature currently exists in lightgbm, are there any plans to add it?

[2021-04-19 12:02] #4192 closed

[2021-04-19 12:30] #4196 closed

[2021-04-19 17:43] jameslamb opened #4204 "[ci] Python tests failing with error about numpy image"
## Description

For the last week or so, I have seen a few Python CI jobs fail with an error like the following

[code]

I see the same stacktrace (or very similar) for all test modules, not just `test_sklearn.py`

[code]

I most recently saw this on the `sdist (macOS-latest, Python 3.9)` on GitHub Actions (https://github.com/microsoft/LightGBM/pull/4203/checks?check_run_id=2382402602).

## Reprod

[2021-04-19 17:47] jameslamb commented on #4204
I'm thinking about how we had a similar issue solved by #4054, where lag in updating the anaconda default channels caused some incompatible versions to be found in CI.

And I remember the comment that we shouldn't MIX different channels because it can make environment solves a lot slower: https://github.com/microsoft/LightGBM/pull/4054#pullrequestreview-607286413

 @StrikerRUS do you think we shou

[2021-04-19 18:00] StrikerRUS commented on #4204
I believe the reason of the error is in the following line:
[code]

This line is presented in red CI jobs and is not presented in green ones.

Also, we should avoid mixing channels because of different policies of native libraries handling: https://github.com/conda-forge/graphviz-feedstock/issues/35#issuecomment-786343941.

I would prefer installing graphviz via `pip` or some other way, which will

[2021-04-19 18:33] jameslamb commented on #4204
I feel that `conda-forge` is just as popular as the default channel these days but I don't have any evidence of that I can off. By the way, Numpy's installation docs do recommend using conda forge on Windows and Mac: https://numpy.org/install/

Any way, can you clarify...do you think that this issue would be solved by switching to `pip install`-ing graphviz? Or is that an unrelated comment?

[2021-04-19 20:41] #4193 closed

[2021-04-20 11:43] StrikerRUS commented on #4204
Yeah, I wish I knew some statistics about the channels usage.

Sorry, I can't find this. I did search for `forge` on that page, but didn't see where they recommend `conda-forge`. Do you mean this line in the `Advanced users` section?

That my comment was about this issue. Install graphviz by another metfod -> drop `conda-forge` channel -> fix this issue.

[2021-04-20 14:37] jameslamb commented on #4204
Yes, I meant that line in the `Advanced Users` section. Sorry, they don't have anchors set up on that page to link to specific sections.

Thanks for clarifying. I'll experiment with other ways to install `graphviz` then.

[2021-04-20 18:37] candalfigomoro opened #4206 "lightgbm.cv strange results in Random Forest mode"
This is basically a continuation of this closed issue: https://github.com/microsoft/LightGBM/issues/3387

With lightgbm's cv method, if I use 300 trees in Random Forest mode, I get 300 scores.

In comparison, when I use xgboost's cv method in Random Forest mode, I get just 1 score (this naturally arises from the fact that in xgboost we have decoupled parameters for boosted/parallel trees, see http

[2021-04-21 02:37] david-cortes opened #4208 "[R-package] R handles produce segmentation faults when de-serialized"
The R interface uses a "handle" object which I guess stores a pointer to a C++ object. The objects these handles point to do not survive serialization in R, and will cause segmentation faults if they are serialized and de-serialized - which happens for example when restarting an R session.

Example:
[code]
After running it, restart the R session (assuming it's configured to save the environment be

[2021-04-21 06:01] GLevV opened #4209 "Adding correlation metrics"
## Summary

Pearson R, CCC - could be used in regression.

Spearman R, Kendall Tau, Kendall Tau Weighted - could be used in classification, as well as multiclassification (for ordinal targets) and ranking tasks.

[2021-04-21 08:22] alexis-intellegens commented on #1036
This might be a silly question on an out-dated/closed post but isn't this the 90% Interval if you chose alpha = 0.95?

[2021-04-21 09:01] joshlk commented on #1036
@alexis-intellegens yes - the upper bound of the 90% prediction interval is the quantile = 95%. In general `alpha_upper = 0.5 + (interval_width / 2)` and `alpha_lower =  0.5 - (interval_width / 2)`. I have gathered more information about using quantiles in [this gist](https://gist.github.com/joshlk/400b4fa996decba4c7dda2c3d1ea0a6a).

[2021-04-21 09:39] wangmn93 opened #4210 "Support specifying number of iterations in dataset evaluation"
I want to evaluate a constructed dataset using only one tree.  booster.predict use the raw data and it is slow.  Is there any way to do this?

import numpy as np
from lightgbm import train, Booster

data = np.random(0,1,(100,10))
label = np.random(0,1,100)
dataset = Dataset(data=data, label=label)
booster =  train(dataset, num_boost_round=10)
tree0 = Booster(model_string=booster.model_to_string(st

[2021-04-21 10:07] kapytaine opened #4211 "multi_logloss differs between native and custom objective function (identical to native objective function)"
## Description
I created two mutli class classifier models, one with the native objective function and one with a custom objective function. Before implementing my own custom objective function I tried to code the native objective function in order to validate my way of coding. I managed to get identical results. The trees are the same as well as the raw results. However the displayed multi_loglos

[2021-04-21 16:48] Mark531 opened #4212 "Duplicate evaluations during fit"
## Description
If I train a LGBMClassifier with n estimators, the length of evals_result_ is 2 * n.
Moreover, during the fit process, all evaluations are displayed twice.

## Reproducible example
[code]

`len(model.evals_result_["train"]["binary_logloss"])`

## Environment info

LightGBM version or commit hash:
2.2.1

Command(s) you used to install LightGBM

[code]

## Additional Comments
This pro

[2021-04-21 19:35] david-cortes opened #4213 "Request: add option for baseline/prior when fitting a model"
Would be nice if lightgbm allowed passing a vector or matrix of scores to use as a starting point when fitting a model, akin to catboost's "baseline" - that is, if I fit a binary classification model and pass a score of 0.1 for that observation, it should already start with a prediction/residual slightly oriented towards the positive class.

I see it currently has an "init_model" option, but it's

[2021-04-21 20:05] jameslamb commented on #4213
Can you please provide some specifics on how LightGBM's `init_score` is different from what you'd like to see?

[2021-04-21 20:59] david-cortes commented on #4213
Apologies, had interpreted the docs incorrectly, from some experimentation it is the same indeed.

[2021-04-21 20:59] #4213 closed

[2021-04-21 21:50] jameslamb commented on #4213
No problem! If you think there is a way to make the documentation clearer, we'd welcome a pull request with a proposed improvement.

[2021-04-22 00:59] david-cortes opened #4216 "(R) Functions that replace R headers are not compatible with all R versions"
Migrated from here: https://github.com/microsoft/LightGBM/pull/4207

The R interface for LightGBM has replacements for R's internal headers which re-define the structs used by R's variables. These underlying structures behind R objects are however not constant between versions, and currently the LighGBM replacements will not work correctly with R 3.6 for windows and mac (which from the requirement

[2021-04-22 01:44] david-cortes commented on #3016
I don't get the context in full:
* Why does the GH version use `lib_lightgbm` while the CRAN version uses `lightgbm`? Why not make both `lightgbm`?
* What was the reason why it had replacements for R's headers in the first place? Is there something that will break if it were to switch to R's headers?
* Why even the `.Call` are wrapped into some `lgb.*` function?
* If it were to use R headers, shou

[2021-04-22 02:02] jameslamb commented on #3016
This is related to the fact that we also offer CMake-based builds of the package (using a different toolchain from CRAN) for some features that are difficult to get to CRAN or prohibited by CRAN's policies, like a GPU-enabled version of the package and builds with MSVC.

You can see https://github.com/microsoft/LightGBM/blob/master/build_r.R and https://github.com/microsoft/LightGBM/tree/master/R-

[2021-04-22 02:03] jameslamb commented on #4216
Thanks very much for the write-up! I installed R 3.6.3 on my Mac tonight (macOS 10.14.6).

I tried your reproducible example, and can confirm that if you call `predict()` on a double-mode matrix the Predictor produces constant predictions when it shouldn't based on the structure of the model.

It also looks like changing the mode of the training data to double results in no trees being added.

[co

[2021-04-22 02:16] shiyu1994 commented on #4201
That's related to a previous issue #3447, which is already in the feature request & voting hub #2302. Contributions are welcome.

[2021-04-22 02:52] shiyu1994 commented on #4134
@btrotta Yes, so I think keep the current random number generator is OK. Because such generators would have some limitation anyway.
But about the latest post of @ruedika, that's really a bug of our internal `Sample` function when sampling only one element from a range, see
https://github.com/microsoft/LightGBM/blob/0a847efe689239a3fea31b54b99159682e3ac989/include/LightGBM/utils/random.h#L85-L92
Wh

[2021-04-22 03:15] shiyu1994 commented on #3591
Now we have `MultiValBin` class which allows a feature group to contain multiple values in the same row. With too many conflicts in a group, a better solution is to transform it into a multi-value group. A sparse multi-value group also exploits sparsity and accelerates training.
So, although we hard code the maximum allowed conflicts, those features with no proper single-value feature group can en

[2021-04-22 03:37] ffineis commented on #4212
@Mark531 can you provide a reproducible example? Perhaps you may be making copies of `model`, with a different number of iterations. The model training logs you've provided end at iteration `[5]`, suggesting that 5 iterations were evaluated.

A minimally reproducible example shows that there are 5 iterations evaluated:

[code]

[2021-04-22 03:57] shiyu1994 commented on #4210
@wangmn93 Thanks for using LightGBM. If you want to evaluate a constructed model, you have to make it as either a training data or validation data, and use it in the training process.
Once the model is trained, currently we don't have any support to use the trained model to evaluate a constructed `Dataset`.
Also, I don't think prediction with a constructed `Dataset` (if we can do this) should be f

[2021-04-22 05:25] shiyu1994 commented on #4206
@candalfigomoro Thanks for using LightGBM.

Yes, that's correct. The `i`th value in the list represents the averaged `mean` or `std` across the folds using the first `i` iterations.
This is because `rf` is treated as a special type of `boosting` in LightGBM, which does not update the gradients between iterations.

[2021-04-22 05:27] shiyu1994 commented on #4209
@GLevV Thanks! Yes. These metrics are useful in some cases. Would you like to contribute?

[2021-04-22 05:34] shiyu1994 commented on #4211
This is because LightGBM boosts from an initial `average` score according to the objective function. For example, with L2 regression, LightGBM would boost from the label mean of all training data. Setting `boost_from_average=False` in the parameters should produce a consistent result.

Please see previous similar issues like #4077.

[2021-04-22 05:41] shiyu1994 commented on #4179
@normanwang92 Thanks for using LightGBM! For sparse data, we suggest to use CPU. Currently GPU version has no special optimization for sparsity.
So far, LightGBM OpenCL version only supports single GPU training, while CUDA version supports multiple GPUs. But OpenCL version uses a more sophisticated optimization to reduce conflicts within a warp when constructing histograms, so it should be more ef

[2021-04-22 07:35] wangmn93 commented on #4210
@shiyu1994 I have a matrix of 1000000 x 1000, it takes 8.7ms using constructed dataset and 6.85s using booster.predict.  Besides the prediction time, it is preferred to use constructed dataset since the raw data is big and loading data takes a lot of time.

[2021-04-22 08:05] kapytaine commented on #4211
@shiyu1994 thank you for your response.

Regarding my first question, do you know if there is a reason why the displayed multi_logloss values during training are different between the two trainings. For instance, after setting the seed to 0 before creating the datasets, I get the following results. The displayed multi_logloss in the second model (with custom objective function) is not what I expec

[2021-04-22 09:39] bholekiran opened #4217 "Saving Model to binary stream"
Is the feature of saving the Model to binary stream or binary file supported now in lightGBM?

I could see below file in branch but not in main source code.
https://github.com/wxchan/LightGBM/blob/1e6091c01f75cbbc86b55b104ae3231d302a0a9f/src/proto/gbdt_model_proto.cpp

Also If I want to save the model in binary format then protobuf is the only option or any other ways as well?

Could somebody plea

[2021-04-22 10:44] shiyu1994 commented on #4211
For your first question, LightGBM uses the objective function to determine how to convert from raw scores to output. But with customized objective function (`objective ` in the following code snippet will be nullptr), no convert method can be specified. So the raw output will be directly fed to the metric function for evaluation. Though I think this can cause some unexpected results, as in your ca

[2021-04-22 10:55] kapytaine commented on #4211
Thank you for your time and answers!

[2021-04-22 10:55] #4211 closed

[2021-04-22 13:47] hlee13 opened #4218 "[Question] Is gamma loss actually an exponential loss?"
Is gamma loss actually an exponential loss?

[2021-04-22 13:48] hlee13 commented on #4218
in gamma metric code segments, psi = 1.0

also get_gradients function

[2021-04-22 14:59] jameslamb commented on #3591
Thanks as always for the detailed explanation @shiyu1994 ! I'll close this then and I don't think we need to add it as a feature request.

[2021-04-22 14:59] #3591 closed

[2021-04-22 15:50] david-cortes commented on #3016
These are the destructors that I'm talking about:
https://github.com/microsoft/LightGBM/blob/1e95cb097757996cd82699071c82c205bf2b48a5/R-package/src/lightgbm_R.cpp#L314
https://github.com/microsoft/LightGBM/blob/1e95cb097757996cd82699071c82c205bf2b48a5/R-package/src/lightgbm_R.cpp#L196

Which are put under R6 finalizers:
https://github.com/microsoft/LightGBM/blob/1e95cb097757996cd82699071c82c205bf2

[2021-04-22 16:00] jameslamb commented on #3016
Oh interesting! It sounds like you're really knowledgeable about this. We'd really appreciate some contributions if you see opportunities to improve the way the package is set up. It doesn't have to be one large PR that completely solves this issue.

For example, the point you made about using `REprintf` seems like it could be done in a fairly focused PR.

If you don't have the time or interest we

[2021-04-22 16:13] david-cortes commented on #3016
Would you be willing to add a dependency on either Rcpp or cpp11? That'd make things a lot easier.

[2021-04-22 16:16] jameslamb commented on #3016
I'm opposed to adding a new dependency unless we really have to, and at this moment I'm not convinced that it's necessary.

`{xgboost}`'s codebase is very similar to this project's R package, and they haven't needed to do that.

[2021-04-22 16:24] jameslamb commented on #4216
Linking #3016

[2021-04-22 18:04] Mark531 commented on #4212
Well, if I execute your example with my current version of lightgbm (on Ubuntu), the results are consistent with the problem I raised:

Now, I tried the same example with a 3.1.1 version of lightgbm (on Windows) and the results are correct:

So, it may be due to the version 2 of lightgbm. Is this bug known?

[2021-04-22 18:22] jameslamb commented on #4212
I don't remember any specific change to fix this bug, but either way I think the effect is the same. LightGBM doesn't support a concept of "long-term support" releases, so we won't, for example, consider a patch for this behavior that then results in something like a version 2.2.1.1 release.

Is there anything that prevents you from upgrading to the newest release of LightGBM, 3.2.1?

You can see

[2021-04-22 20:56] StrikerRUS commented on #4210
I think `eval(_train/_valid)` functions can be used to score a constructed Dataset.
https://github.com/microsoft/LightGBM/issues/3949#issuecomment-808810679
https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.Booster.html#lightgbm.Booster.eval

[2021-04-22 21:08] StrikerRUS commented on #4217
protobuf support was merged into main source code one day: #908.
But then it was reverted #1002 and replaced with faster implementation of saving models into text format #1083.

[2021-04-23 01:30] gravesee opened #4219 "Add approx_contrib option for feature contributions"
xgboost has two methods for calculating feature contributions: TreeSHAP and Approximate. The approximate is much faster and has some nice properties w.r.t. monotonicity that aren't guaranteed when using TreeSHAP. It is also easier to port the approximate method to production systems when the lightgbm object can't be used directly.

## Motivation

TreeSHAP is the gold standard but there are practic

[2021-04-23 02:23] jmoralez commented on #4118
Sorry for the delayed response. Would you suggest applying `sigmoid/softmax` on the raw scores instead of using the `predict_proba` method for this boosting type? I believe with enough trees these can be good enough to pass the tests that we make for classification.

[2021-04-23 02:43] jmoralez opened #4220 "[dask] multiclass classification gives different samples for same split"
## Description

When using `lgb.DaskLGBMClassifier` with multiclass classification the same split produces different numbers of samples being sent to each child.

## Reproducible example

[code]
|     |   count |
|----:|--------:|
| 485 |      54 |
| 516 |      28 |
| 523 |       2 |
| 667 |       1 |
| 635 |       1 |

Running the exact same thing using `lgb.LGBMClassifier` returns 667 everytime

[2021-04-23 04:37] bholekiran commented on #4217
@StrikerRUS Thank you so much for clarification.
Is there any plan to implement this new feature of saving model in binary format in near future?
Please comment.

Thanks,
Kiran

[2021-04-23 09:56] JoshuaC3 commented on #4134
@ruedika see some of my references here: Feature Cycling #4066 and Borrow EBM Ideas #3905 for more information.

Out of interest, what is your motivation to get single feature trees? I wonder if it is similar to mine/EBMs?

[2021-04-23 10:35] candalfigomoro commented on #4206
@shiyu1994 Thank you!

[2021-04-23 10:35] #4206 closed

[2021-04-23 11:47] StrikerRUS commented on #4217
I can't find any item in our feature requests hub (#2302) related to this. Would you like to add it there? If so, please fill in the following short form and describe why binary format is needed and how it will improve LightGBM.
https://github.com/microsoft/LightGBM/blob/master/.github/ISSUE_TEMPLATE/FEATURE_REQUEST.md

[2021-04-23 12:07] JoshuaC3 opened #4221 "[Question] How does EBF sort features for bundling?"
I am trying to understand how EFB sorts the features ready for bundling. It is Part 1 of EFB in this [blog](https://towardsdatascience.com/what-makes-lightgbm-lightning-fast-a27cf0d9785e).

![image](https://user-images.githubusercontent.com/11645712/115868652-aea16700-a434-11eb-8230-c25de9f1ce74.png)

The part I don't understand is `G.sortByDegree` in the paper - what is degree?

Alternatively, I

[2021-04-23 15:28] imatiach-msft commented on #4178
@shiyu1994 closing this issue as I have confirmed on customer dataset the issue has been fixed with PR
https://github.com/microsoft/LightGBM/pull/4185
thank you!

[2021-04-23 15:28] #4178 closed

[2021-04-23 15:58] jose-moralez commented on #4026
Fixed by #4185

[2021-04-23 15:58] #4026 closed

[2021-04-25 08:26] slonoslon opened #4223 "[Question] Why RF model predictions are better than predictions of ensemble of single-tree models?"
When I am trying to train a manually created ensemble of 100 predictors (boosting='rf', num_iterations=1) and then use their average as a custom random forest - the predictions I obtain are constantly worse (have higher RMSE) than the results of training an "official" random forest (boosting='rf', num_iterations=100).
In my manual version I do initialize each model with its own random seed, but it

[2021-04-25 13:41] #4100 closed

[2021-04-25 14:55] #4021 closed

[2021-04-25 14:55] #4011 closed

[2021-04-25 18:25] david-cortes commented on #3462
These are legit issues caused due to memory leaks. The problem is in the logger which calls `Rf_error`, triggering a C long jump which bypasses C++ destructors.

[2021-04-25 18:31] jameslamb commented on #3462
Thanks for that! I should have come back and updated this issue after seeing your comment in https://github.com/microsoft/LightGBM/issues/3016#issuecomment-824962723

[2021-04-26 01:15] jameslamb commented on #3016
@david-cortes are you interested in contributing fixes for this issue in the next few weeks?

If you aren't, I'm going to make it my next priority in this project (using all the excellent insight you've given us in recent comments). Just want to know so you and I aren't working on the same thing at the same time.

[2021-04-26 03:49] david-cortes commented on #3016
I don't have any plans to work on these issues right now, but feel free to ask if you need more suggestions.

[2021-04-26 03:55] jameslamb commented on #3016
Ok great, thank you so much! I probably will be asking you. We really appreciate it!!

I recognized you from `{catboost}`'s CRAN issue (https://github.com/catboost/catboost/issues/439), glad to see you here as well 😀

[2021-04-26 05:23] jameslamb opened #4226 "[RFC] [R-package] Remove support for passing parameters through '...'"
## Question

I'm opening this request for comment (RFC) to get feedback on the following proposal, originally mentioned in https://github.com/microsoft/LightGBM/pull/4202#discussion_r616083553.

This would apply to:

* `lgb.cv()`
* `lgb.Dataset()`
* `lgb.Dataset.create.valid()`
* `lgb.train()`
* `lightgbm()`

## Description

LightGBM's core library supports many parameters, documented at https://l

[2021-04-26 05:33] jameslamb commented on #4226
Before we move forward with this change, I'd like to ask some of the people I know to be users of the R package to weigh in. And of course anyone else is welcome to give their feedback on the idea!

* `{treesnip}` maintainers: @Athospd @dfalbel
* `{sl3}` maintainers: @nhejazi
* other R community members who've interacted with this project: @jaredlander @david-cortes @mayer79 @mfrasco6 @issactoast

[2021-04-26 05:49] mayer79 commented on #4226
Thanks for the R support! I think it is a very good idea to simplify the interface in this way. It doesn't only simplify the code but also improves the help in some cases. E.g. for `lgb.Dataset` I was never sure whether to pass "weight" or "weights".

[2021-04-26 06:36] bholekiran commented on #4217
@StrikerRUS Thanks for pointing me to this repository.
I raised the below feature request:-
https://github.com/microsoft/LightGBM/compare/master...bholekiran:patch-1

[2021-04-26 07:48] miguellacerda opened #4227 "Truncation level for rank_xendcg objective"
Does the `lambdarank_truncation_level` parameter work with `objective = 'rank_xendcg'`? The docs say it only works with the `lambdarank` objective, but I don't see why it shouldn't also work with `rank_xendcg`.

Also, what is the default truncation level for `rank_xendcg`? Is it 30 like `lambdarank`?

[2021-04-26 10:10] SchantD opened #4229 "LightGBM is incompatible with libomp 12 and 13 on macOS"
## Description

LightGBM cannot be used to fit multiple models in parallel using threads with the latest libomp.
On 2014 MacBook Pro:
[code]
On 2019 MacBook Pro:
[code]
Setting nthreads=1 doesn't solve the problem.
## Reproducible example

[code]
## Environment info

LightGBM version or commit hash:  3.1.1 (with python 3.7.3) and  3.2.1 (with python 3.9.4)

[code]

Command(s) you used to install L

[2021-04-26 11:25] StrikerRUS commented on #4229
All our tests are passing with libomp 12:  https://github.com/microsoft/LightGBM/runs/2437586276
[code]

I'm not sure LightGBM was ever able to

Refer to https://lightgbm.readthedocs.io/en/latest/FAQ.html#lightgbm-hangs-when-multithreading-openmp-and-using-forking-in-linux-at-the-same-time.

I think you can migrate to the bug-free Intel toolchain or compile threadless version: https://lightgbm.rea

[2021-04-26 11:56] Zahlii commented on #4229
Well, we have been using a similar approach as stated above (ThreadPool + fit) successfully in production settings for quite some time, and also facing this problem now. As already commented, this issue is quickly solved by downgrading to the older libomp version, without any side effects. Maybe this has been something without any tests, which just now happens to fail?

I would also like to point

[2021-04-26 13:03] TalWac commented on #4226
Dear developers,
I had only short interaction with the project, however, simplifying the interface will make it easier for new users like me.

Many thanks for the support !

[2021-04-26 13:50] issactoast commented on #4226
I am using LGBM via treesnip these days so this affects my code.  I would like to wait for opinions from the maintainers of treesnip. However, if the functions support every parameter through `params` list option, it seems like a good way go.

[2021-04-26 14:12] jameslamb commented on #4226
Thanks! I think that `{treesnip}` could be patched in a way that wouldn't break existing code using that package. Basically today `{treesnip}` collects any keyword arguments you pass through `...` of `treesnip::train_lightgbm()` and passes them to `lightgbm::lgb.train()`.

https://github.com/curso-r/treesnip/blob/bf27cd871b7fb663a76818f66ea0a5f9bf09f444/R/lightgbm.R#L208

https://github.com/curso-

[2021-04-26 14:26] david-cortes commented on #4226
That wouldn't break the existing code, since arguments which are in `...` would be assigned to the named slots in the function call. I think LightGBM wouldn't accept unnamed arguments so if there wasn't any issue before, there shouldn't be an issue now.

[2021-04-26 14:43] jameslamb commented on #4226
@david-cortes I don't think that's correct. Consider my example at the top of this issue with `num_iteration`. There is no named keyword argument `num_iteration` in the signature of `lightgbm::lgb.train()`...but passing it that way works today because `lgb.train()` assumes any keyword arguments not matched to one of its formal arguments must be a valid parameter from https://lightgbm.readthedocs.i

[2021-04-26 14:48] jameslamb commented on #4217
Thanks @bholekiran !

But @StrikerRUS meant to paste that in here, not to create a patch on your fork. I've done that for you below.

<hr>

## Summary

Saving and loading LightGBM model to binary stream or file like text.

## Motivation

Some analytical or predictive models are stored in binary format so that user cannot see the way model is implemented. It can be usefult also when user is layman.

[2021-04-26 16:56] Mark531 commented on #4212
Well, I'm not the owner of the environment, but I'll make do with it.

Anyway, it's surprising to find such a big bug in a relased version.

[2021-04-26 19:59] joshi-abhishek commented on #4052
#3742 didn't fix this...And this one is also closed..
This log issue keeps popping up with every release..Do we have a fix yet?

[2021-04-26 20:00] joshi-abhishek commented on #3641
Well #3742 did not fix it. Any update on this?

[2021-04-26 21:03] jaredlander commented on #4226
I think one of the biggest complaints about `{xgboost}` is the interface. The choice of a params list and the `...` is clunky and leaves you with no autocomplete in an IDE.

A params list feels very outdated for R. I think it's still popular in Python, but not so much in R anymore. If you do go this route, rather than making it a list where the user can enter anything and has no guidance, make it

[2021-04-26 21:14] StrikerRUS commented on #3641
@joshi-abhishek Please provide a reproducible example that doesn't silence LightGBM after setting `verbose=-1`.
I don't see any logs for `3.2.1` version and example from https://github.com/microsoft/LightGBM/issues/3641#issue-761654741.

[code]
[code]

When I remove `verbose` param I expectedly get a lot of logs:
[code]

[2021-04-26 21:42] jameslamb commented on #4226
Thanks very much!

Yes, https://github.com/microsoft/LightGBM/issues/4195 is the proposal for exactly what you're talking about.

To be clear, removing the interface of passing a `params` list is not up for debate in this RFC. This is about the narrow question of removing supporting for one of 3 different ways you can currently pass parameters (through `...`).

If there is some other API change yo

[2021-04-26 22:07] jfrabetti opened #4230 "Broken link - Failed to clone 'external_libs/eigen'"
## Description
I am trying to create a wheel by installing with the --nopm option for AWS Glue (OpenMP not supported) using these directions:
https://pypi.org/project/lightgbm/
[code]
## Reproducible example
Fails on this line:
[code]
## Environment info
wsl Ubuntu 20.04
also failed:
[code]
## Additional Comments
Here is a screenshot that shows the external_lib is not linked to anything / broken l

[2021-04-26 22:38] jameslamb commented on #4230
Hi @jfrabetti , thanks for using LightGBM!

I don't believe that the fact that `eigen` isn't a clickable link is problematic. I think it is always like that because `eigen` is hosted on GitLab, and GitHub only renders those links for submodules that point to other GitHub repos.

You can see the sources of the submodules at https://github.com/microsoft/LightGBM/blob/5014f19f150e5a6ebe236584c52519ee

[2021-04-26 22:42] jameslamb commented on #3797
@szilard this issue was closed today by a bot we use to close issues that are `awaiting response` for too long. If you run these benchmarks again in the future and find that this problem still exists, please come back and re-open this, and we'd be happy to help.

[2021-04-26 22:47] jameslamb commented on #4116
It has been about a month since we merged https://github.com/microsoft/LightGBM/pull/4132, and since then I haven't seen this error in tests. Have you, @StrikerRUS ?

If not, I think this can be closed.

[2021-04-27 06:03] bholekiran commented on #4217
Thanks @StrikerRUS and @jameslamb for quick actions.

[2021-04-27 11:01] JoshuaC3 opened #4234 "Add BoostFromAverage to Python model."
## Summary

Add the BoostFromAverage output to the init_score on the train_set Dataset. It seems to me that they serve the same function - that is, reducing training time by allowing the model to have some previous knowledge of the data before the first boosting round. BoostingFromAverage is a simply a subset of the `init_score` functionality.

## Motivation

This allows us to recover the mean of

[2021-04-27 13:43] szilard commented on #3797
@jameslamb Sure, thanks. I think it's fixed based on @jmoralez 's results above.

[2021-04-27 13:45] #3797 closed

[2021-04-27 14:33] jameslamb commented on #4212
Ok it seems like this is resolved. @ffineis thanks for the assist!

@Mark531 thanks again for the report.

[2021-04-27 14:33] #4212 closed

[2021-04-27 16:48] jfrabetti commented on #4230
I see...then it probably has something to do my proxy settings, but here is the error:

Cloning into 'LightGBM'...
remote: Enumerating objects: 21864, done.
remote: Counting objects: 100% (607/607), done.
remote: Compressing objects: 100% (358/358), done.
remote: Total 21864 (delta 367), reused 410 (delta 238), pack-reused 21257
Receiving objects: 100% (21864/21864), 17.22 MiB | 7.05 MiB/s, done.

[2021-04-27 17:11] jameslamb commented on #4230
Thanks for that!

Could you also please share any logs you get from running the following?

[code]

The source distributions available on PyPI already have all of the relevant code from these submodules bundled in them, so there shouldn't be any dependency on cloning repos with that option.

<hr>

For the case where you're cloning LightGBM, these lines in the log look problematic:

It's interestin

[2021-04-27 17:12] jameslamb commented on #4230
I hope that'll help. If you do end up solving this, please do come back and leave a comment here explaining how you resolved that problem. That will be helpful for anyone else experiencing a similar issue who finds this from search.

[2021-04-27 17:18] jfrabetti commented on #4230
Thank you for formatting my code.  I am able to clone this repo / execute this command 'git clone https://gitlab.com/vigou3/actuar.git'.  Here is the error for the pip install:
[code]

[2021-04-27 20:40] thvasilo opened #4236 "Docs for previous versions?"
## Summary

I would like to have easy access to the documentation of previous versions of the package.

## Motivation

Different users of the project will run different versions of the package. We would like to be able refer to documentation that is relevant to the version we're using.

AFAI can tell, [LightGBM ReadTheDocs](https://lightgbm.readthedocs.io/en/latest/) provides only the latest versi

[2021-04-27 21:42] jose-moralez commented on #4026
Hi @shiyu1994. Is it possible that this could still be present when splitting categorical features? I think I'm experiencing the same issue when I use them.

[2021-04-27 21:45] imatiach-msft commented on #4026
@jose-moralez are you sure you are using the latest lightgbm on master?  This issue was only recently fixed.  If so, I would suggest creating a new issue.  A similar issue a customer had in mmlspark was resolved with the new change.

[2021-04-27 21:57] jose-moralez commented on #4026
You're right @imatiach-msft, I had installed from source and checked that the issue was solved but I recently rebuilt my env and installed `3.2.1` again. It was my bad, sorry.

[2021-04-27 21:59] imatiach-msft commented on #4026
@jose-moralez ah ok, great to hear it's resolved then - if you still see issues though I would either just reopen this one or create a new one, it's difficult to keep track of closed issues (at least for me when I work on other open source projects)

[2021-04-28 03:02] jameslamb commented on #4236
Thanks for using LightGBM and for taking the time to write this up!

You're right, today LightGBM's documentation is built from the current state of its `master` branch.  I agree with your suggestion that it would be useful for people to be able to read a version of the documentation rendered from a specific release!

<hr>

@StrikerRUS have you looked into this before? Reading https://docs.readthe

[2021-04-28 03:12] jameslamb commented on #4230
Ah, interesting! That second error looks like it is coming from the fact that you ended up getting a source installation of `scipy` instead of a wheel when you ran

[code]

I can see the source for that error message at https://github.com/scipy/scipy/blob/f97ce31736bb3c4a0a0c7db8fde2ee4ebc69e39d/setup.py#L395-L405

I expect that if you do `pip install scipy` in that environment, you'll get the sam

[2021-04-28 04:17] jmoralez commented on #3841
Hi @jameslamb. I've been working on this and have ran a simple test in my fork. The relevant file is [here](https://github.com/jmoralez/LightGBM/blob/tests/distributed/tests/distributed/test_distributed.py) and the workflow run is [here](https://github.com/jmoralez/LightGBM/runs/2454238876?check_suite_focus=true)

The workflow right now builds the lightgbm binary, installs the python package and u

[2021-04-28 07:10] shiyu1994 commented on #4118
@jmoralez Sure, that would be a good work around.

[2021-04-28 07:26] shiyu1994 commented on #2788
Good suggestion! Maybe we can simply fall back to the old method without `seek` if used_data_indices is not `nullptr` in `SampleTextDataFromFile`. Here `used_data_indices` is useful only when data distributed training is enabled and `pre_partition=false`.

[2021-04-28 10:54] JisongXie opened #4237 "large model size and many zeros in cat_threshold field"
## Description

I train a lightgbm classification model using lgb.train()，and save the model. My n_estimator is 3000, and it doesn't meet the early stopping and save the model in 3000th iteration. However, the model is oddly large，about 220M。

My dataset 's shape is as follow，
train data length is 847528. val data length is 211882.
train_x 's shape：(847528, 10)  train_y 's shape：(847528,)
val_x's

[2021-04-28 11:23] StrikerRUS commented on #4217
@bholekiran Thanks for providing details for your feature request!
I think we can add this as a feature request but I believe it requires further discussion.

Sorry, but I don't believe that only binary format in open source project can prevent tampering in any way... Encryption is needed here.

BTW, the article you've referring in  your rationale is describing pickling. I want to note that LightG

[2021-04-28 11:36] StrikerRUS commented on #4236
We can activate docs for any existing branch/tag in our repo easily:

![image](https://user-images.githubusercontent.com/25141164/116396820-7b911600-a82e-11eb-9bf3-dc449af7f60a.png)

However, I don't know how make automatic builds for new releases. Probably this is impossible. But we can include this point in our release check-list.

[2021-04-28 11:41] StrikerRUS commented on #4236
I guess it's too late for previous releases due to issues and conflicts in tools we use for docs build process, e.g. refer to 5771a9744d47805af40f47418c8804b828788f36 or 30607d80fbf389fb504cf0428f48394ede1fc7fd, but as I said before we can start with current release.

[2021-04-28 11:50] StrikerRUS commented on #4230
From my personal experience `libcurl4-openssl` works much better out-of-the-box than `libcurl4-gnutls-dev`.

[2021-04-28 11:51] StrikerRUS commented on #4230
Ah, the first result from googling `curl 56 GnuTLS recv error (-110)` agreed with me 😄
https://stackoverflow.com/a/40465312

[2021-04-28 12:13] StrikerRUS commented on #4227
I don't think `lambdarank_truncation_level` (`truncation_level_` internally) is used in `rank_xendcg` objective. It is used in `LambdarankNDCG` class but `RankXENDCG` class is inheriting from `RankingObjective` not from `LambdarankNDCG`.
https://github.com/microsoft/LightGBM/blob/master/src/objective/rank_objective.hpp

[2021-04-28 12:21] StrikerRUS commented on #3018
Please refer to

https://github.com/microsoft/LightGBM/issues/3018#issuecomment-619946336

Deeper `LGBMRanker` integration into scikit-learn ecosystem can be discussed after some steps from scikit-learn devs towards this

 https://github.com/microsoft/LightGBM/issues/2966#issuecomment-611500108

Right now `LGBMRanker` even is not tested for compatibility with scikit-learn.

   https://github.com/m

[2021-04-28 12:21] #3018 closed

[2021-04-28 12:30] StrikerRUS commented on #4074
@jameslamb
Seems that #4132 fixed this issue, didn't it?

[2021-04-28 12:33] StrikerRUS commented on #4116
Yeah, seems that #4132 was great bug fix!

[2021-04-28 12:33] #4116 closed

[2021-04-28 12:34] StrikerRUS commented on #4131
Gently ping @jlisic

[2021-04-28 12:36] StrikerRUS commented on #4174
Gently ping @katrat123

[2021-04-28 12:36] #4179 closed

[2021-04-28 12:37] StrikerRUS commented on #4180
cc @shiyu1994

[2021-04-28 12:54] StrikerRUS commented on #4219
@gravesee Thanks a lot for the feature request!

Just to clarify, are you aware of that you can get feature importance with the help of the following function (and corresponding Booster methods in language wrappers)?
https://github.com/microsoft/LightGBM/blob/d517ba12f2e7862ac533908304dddbd770655d2b/include/LightGBM/c_api.h#L1233-L1246

[2021-04-28 13:08] StrikerRUS commented on #4210
@shiyu1994 Do you think we can add a feature request for including `start_iteration` and `num_iteration` (just like in the `predict()` method) into `eval(_train/_valid)` methods?

[2021-04-28 13:10] #4201 closed

[2021-04-28 13:14] StrikerRUS commented on #4209
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-04-28 13:14] #4209 closed

[2021-04-28 15:08] #4108 closed

[2021-04-28 15:17] jameslamb commented on #4074
I think so! I haven't seen this error since that PR was merged. Let's close this for now.

[2021-04-28 15:38] pplonski opened #4239 "Memory leaks / is better memory management possible?"
## Description

I'm working on [AutoML package](https://github.com/mljar/mljar-supervised). My users observed increased memory usage (https://github.com/mljar/mljar-supervised/issues/381) so I started to dig.

I found that LightGBM consumes a lot of RAM and it doesn't release it, even if the model is deleted.

## Reproducible example

[code]

Output:
[code]

## Environment info

LightGBM version 3

[2021-04-28 15:56] jameslamb commented on #4230
Oh wow, good find @StrikerRUS !

[2021-04-28 16:00] jameslamb commented on #4237
Thanks for using LightGBM! Is it possible to provide a reproducible example (some simple code that does not rely on private data, which produces a model file like this)?

Also when you say "which I haven't seen in other model files" do you mean:

* The same code with an earlier version of LightGBM does not produce a model file like this
* Similar code with some other library (like `xgboost` or `ca

[2021-04-28 16:07] jameslamb commented on #4236
Oh great, ok! :tada:

Yes it's interesting, the documentation at https://docs.readthedocs.io/en/stable/versions.html is sort of written like a proposal, not documentation of how RTD actually works haha. Some parts of it make it seems like we should get versioned docs automatically but clearly that hasn't been happening.

I think it would be great to start doing this as a part of releases going for

[2021-04-28 16:49] nerdylinius opened #4240 "ValueError: bytes object is too large"
## Description

 I've been getting a "ValueError: bytes object is too large" error while using lightgbm with dask. How can I fix it?
## Reproducible example

[code]

###output###
[code]
### Environment info
lightgbm==3.2.1
dask==2021.01.1
python==3.6.2

[2021-04-28 16:52] thvasilo commented on #4236
I'll give that a shot thanks!

On Wed, Apr 28, 2021 at 9:07 AM James Lamb ***@***.***> wrote:

[2021-04-28 17:31] jameslamb commented on #4240
Thanks for using LightGBM and for writing up this report! Could you please provide a few more details that will help me to reproduce this?

* definition of `get_train_val_data()`
* definition of `selected_feats`
* version of `distributed` (`pip freeze | grep distributed`)

If `get_train_val_data()` is something proprietary, then could you please try to provide a reproducible example using non-prop

[2021-04-28 17:49] trivialfis commented on #4229
On XGBoost we are also facing issues with updated libomp.  It has internal error: https://github.com/dmlc/xgboost/pull/6912/checks?check_run_id=2459890229

[2021-04-28 20:31] gravesee commented on #4219
@StrikerRUS thanks for the response. It looks like the code you linked to returns the feature importance gain in the model for each feature *overall*. What I am requesting in this issue is the approximate feature contribution for all features for each input record. The output would be a matrix where the number of rows matches the number of inputs and the number of columns matches the number of fea

[2021-04-28 22:37] esvhd opened #4241 "lambdarank example: query file group numbers do not sum to training data samples"
Hi there,

In `examples\lambdarank`, my understanding is that the entries in `rank.train.query` should sum to the size of the training data - `rank.train` - 3005 entries. But `rank.train.query` only sums to 3004.

What am I missing here?

Thanks.

Code below to produce the counts.

[code]

[2021-04-28 23:34] cyfdecyf commented on #2788
Sorry I didn't give any updates on this issue. I prefer binary file format for input data and have implemented something similar in PR #4089. So I won't continue on this idea for text input file for now.

[2021-04-29 00:33] lowjiajin commented on #3018
@StrikerRUS would your recommendation be to not use the scikit-learn wrapper for LGBMRanker then? At the very least, it would be good for such limitations to be made known in the user docs, rather than have folks use the scikit-learn integration thinking that it works.

[2021-04-29 02:33] shiyu1994 commented on #2788
Ok. I see now the `Sequence` in #4089 interface already requires a random access operation being supported. But we can reserve that idea for text file in CLI version. Perhaps I can continue on that. Thanks for your idea!

[2021-04-29 02:34] nerdylinius commented on #4240
thanks for your reply. It seem to be a dask bug, refer to https://github.com/dask/dask/issues/7618 .

[2021-04-29 02:34] #4240 closed

[2021-04-29 02:38] shiyu1994 commented on #4210
@StrikerRUS Sure. That will be valuable.

[2021-04-29 02:47] shiyu1994 commented on #4241
@esvhd Thanks for using LightGBM. In `query = pd.read_csv(folder+train_query).values.squeeze()`, without setting `header=None` in `pd.read_csv`, the first line of `rank.train.query` will be take as the column header of the file. It happens that the first line has value `1` in `rank.train.query`, which causes the `query.sum()` to be `3005 - 1 = 3004`.

[2021-04-29 02:56] jameslamb commented on #4240
Ah ok, thanks for letting us know! Please come back any time if you run into issues with the Dask interface or if you'd like to contribute.

[2021-04-29 03:00] jmoralez commented on #4118
I believe this can be closed now, since you've solved my doubts about `predict_proba`.

[2021-04-29 03:00] #4118 closed

[2021-04-29 03:46] shiyu1994 commented on #4237
@JisongXie Thanks for using LightGBM.

First, let's make it clear what the `cat_threshold` entry means in the model file. In fact, it is a bit vector masking which values of the categorical feature used for split should be split into the left child node. Bit vectors for different internal nodes are separated by the `cat_boundaries`. For example, in your model file above, `cat_boudaries = 0 8754 14

[2021-04-29 04:00] jameslamb commented on #4230
It seems like this can be closed.

@jfrabetti come back any time if you have other questions!

[2021-04-29 04:00] #4230 closed

[2021-04-29 05:20] bholekiran commented on #4217
@StrikerRUS Yes you are right that encryption is needed there.
Yes it seems that this will solve my requirement. Thanks.
You may close this issue.

[2021-04-29 08:53] esvhd commented on #4241
That solves it, thank you very much @shiyu1994

[2021-04-29 09:17] #4241 closed

[2021-04-29 13:17] JisongXie commented on #4237
@jameslamb @shiyu1994
Thanks very much! As @shiyu1994 said, values of one of my categorical features are not continuous，and have very large range. I make ordinal encoding on it and it works. The model size is about 14M, and there aren't many zeros any more.

[2021-04-29 13:17] #4237 closed

[2021-04-29 13:23] #4217 closed

[2021-04-29 18:02] mayer79 commented on #4226
We might add a depreciation note in the next R release, like so

[code]

[2021-04-29 21:41] StrikerRUS commented on #4210
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute to this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-04-29 21:41] #4210 closed

[2021-04-29 21:42] StrikerRUS commented on #4219
@gravesee Ah, I see! Thanks for clarifying!

[2021-04-29 21:43] StrikerRUS commented on #4219
Closed in favor of being in #2302. We decided to keep all feature requests in one place.

Welcome to contribute this feature! Please re-open this issue (or post a comment if you are not a topic starter) if you are actively working on implementing this feature.

[2021-04-29 21:43] #4219 closed

[2021-04-29 21:48] StrikerRUS commented on #3018
@lowjiajin

No. `LGBMRanker` can be used to train and apply ranking models in easy user-friendly sklearnish way.

Good idea! I'll make a note about that scikit-learn doesn't support ranking, therefore there is no integration for this class with different sklearn tools.

[2021-04-29 21:49] StrikerRUS commented on #4236
@jameslamb OK, let me start from the most recent release!
Just triggered a build for `v3.2.1` tag.

[2021-04-29 21:59] #4204 closed

[2021-04-29 22:02] AXRegister commented on #3867
I was looking for some more information on how to test my fixes. Is there something more extensive to ensure I'm not breaking anything, other than running mypy? I'm quite new to python, and I just wanted to ensure I'm making correct changes. Any advice on this one?

[2021-04-29 22:07] StrikerRUS commented on #4236
Done!

![image](https://user-images.githubusercontent.com/25141164/116624067-f2720000-a94f-11eb-83ec-336c9c1860aa.png)

Unfortunately, R-API link is hardcoded to the `latest` version:
#2415

![image](https://user-images.githubusercontent.com/25141164/116624233-4250c700-a950-11eb-82f4-39f8d5c57beb.png)

[2021-04-29 22:11] StrikerRUS commented on #4236
Added point to release check-list.
https://github.com/microsoft/LightGBM/pull/4169#issue-612741568

![image](https://user-images.githubusercontent.com/25141164/116624601-e470af00-a950-11eb-8077-c2ca7802adcf.png)

[2021-04-30 01:46] jameslamb commented on #4236
Ah ok great, thank you very much! Maybe we can figure out the R link in the future, but I don't think it's urgent.

[2021-04-30 01:53] jameslamb commented on #3867
Hi @AXRegister , thanks very much for your interest in contributing!

To test locally, you can try installing the package locally and running the unit tests. Like this:

[code]

If those work ok, you can have some confidence that your changes won't break existing functionality. When you open a pull request, a much more extensive set of checks (checking different combinations of Python version, com

[2021-04-30 02:08] lowjiajin commented on #3018
Thanks @StrikerRUS! I’m sure the docs change would be much appreciated to newcomers like me 🙂

[2021-04-30 10:45] #4236 closed

[2021-04-30 13:02] #4078 closed

[2021-04-30 13:02] #3949 closed

[2021-04-30 13:27] StrikerRUS commented on #4229
Another example of regression in 12 version: https://github.com/facebookresearch/faiss/pull/1849.

I can't find this bug was reported...
https://bugs.llvm.org/buglist.cgi?bug_status=__all__&no_redirect=1&order=changeddate%20DESC%2Cpriority%2Cbug_severity&product=OpenMP&query_format=specific

[2021-04-30 14:49] StrikerRUS commented on #3018
@lowjiajin Done in #4243. Thanks for the proposal!

[2021-04-30 15:23] nhejazi commented on #4226
Thanks for tagging in this RFC, just catching up here, but I think any work to simplify the interface would go a long way to improving maintainability of wrappers that try to expose LightGBM functionality (like the wrapper in `sl3`). As with other similar packages that provide interfaces to a variety of ML algorithm (“learner”) implementations, there are design choices required about how to handle

[2021-04-30 15:32] jameslamb commented on #4226
Thanks very much @nhejazi !

In the future, if you run into anything in LightGBM that you're unsure about you're welcome to come here and open an issue. We'd be happy to help, and you might help us to uncover bugs or other opportunities to improve the interface.

This is especially important right now, as we're preparing a 4.0.0 release and are open to the possibility of breaking changes if a stro

[2021-04-30 19:02] katrat123 commented on #4174
OOO next week; will do upon my return.

Thanks!
Kate

Kate Ely
Analyst II, Data Science – Pricing Sophistication
Liberty Mutual Insurance
Safeco Plaza 1001 4th Ave, Seattle, WA 98154
Direct Dial: 425-519-5632

***@***.***D73DB8.9D4635E0]

From: Nikita Titov ***@***.***>
Sent: Wednesday, April 28, 2021 5:36 AM
To: microsoft/LightGBM ***@***.***>
Cc: Ely, Kathryn <Kathryn.Ely@LibertyMutual.com>; Men

[2021-04-30 21:29] #4007 closed

[2021-04-30 21:29] #4045 closed

[2021-04-30 21:34] jameslamb commented on #4045
I've tentatively closed this by merging https://github.com/microsoft/LightGBM/pull/4155 because, at least in my testing, I believe that that PR will have resolved this issue.

For anyone following along, there are some major changes coming to the R package over the next month, to try to reduce the risk of issues like this.

If you want to stay up to date on what is happening, you can subscribe to

[2021-05-01 22:41] jameslamb commented on #3841
Thanks so much for doing this, @jmoralez !  Really, really nice implementation. The way you set up the tests looks like it would be very manageable to extend in the future.

I'm going to re-open this issue since you're doing work on this.

Could you open a draft PR with your changes? I can help there with other things like how to integrate with the rest of our CI structure.

[2021-05-02 18:30] #3149 closed

[2021-05-03 00:08] zzzbobml opened #4249 "Early stopping with custom metric"
Is there a working example on customizing early stopping? In particular, I'd be interested about getting access to the binary_logloss of all trees up to the current tree.

[2021-05-03 18:50] StrikerRUS commented on #4249
Please take a look at [`advanced_example.py`](https://github.com/microsoft/LightGBM/blob/master/examples/python-guide/advanced_example.py).

For the

[code]

Could you please elaborate?
I think you can achieve this by writing your own callback and access info in `evaluation_result_list` field of callback environment.
https://github.com/microsoft/LightGBM/blob/aedfdd0d1e4ac570b539d17d74de1610acd099

[2021-05-03 18:59] #4216 closed

[2021-05-03 22:00] jameslamb commented on #4034
I haven't looked at this again, yet. Some of the recent changes made as part of #3016 MIGHT end up fixing this.

If no one else does it sooner, I'll come back and try to reproduce this after #3016 is complete.

[2021-05-05 08:40] annaymj opened #4255 "When to use split vs gain for plot_importance?"
## Description
The default plot_importance function uses split, the number of times a feature is used in a model.  Gain is an alternative choice.
I am wondering whether there is any guidance or recommendation when to use split and when to use gain for feature importance understanding. Thanks!

[2021-05-05 18:03] actuariallonewolf opened #4259 "R session crashes on Windows (fatal error), on basic tutorial example"
## Description

R session has a fatal crash when trying to run lightgbm, on Windows.

I had this behavior earlier this year and noticed it crashed whenever lightgbm was loaded last.
My quick fix back then, was to load lightgbm first, and then everything worked out good.

Interestingly, it was later reported [here](https://github.com/microsoft/LightGBM/issues/4007).

However, I'm opening a bug repo

[2021-05-05 18:09] jameslamb commented on #4259
Hi @actuariallonewolf , thanks for using LightGBM and for the report.

I noticed in your example that you are on Windows and that you're installing `{lightgbm}` 3.2.1 from CRAN. I expect that your problem is similar to others that were reported in the last few months:

* #4007
* #4045

Those have been fixed in this repository but a new release has not yet been published to CRAN with those changes.

[2021-05-05 18:27] actuariallonewolf commented on #4259
Hi,

I'm working from a heavily restricted environment. At this point, I'm not sure I can install like you propose.

However, I noticed in the other thread, your suggested to try through R.

`R --vanilla --no-restore`

To my surprised, it worked.

I went back to RStudio, and selected Session >> Clear Workspace >> Yes.
It now works. I'm puzzled.

sessionInfo()

[code]

Thanks for your quick respons

[2021-05-05 18:28] #4259 closed

[2021-05-05 19:22] jameslamb commented on #4259
Oh! Ok, maybe you have this issue: #4208. That is being actively worked on and will be fixed in the next release.

For now, as a general rule you should not attempt to save `{lightgbm}` Booster, Dataset, or Predictor objects in a `.Rdata` or `.rda` file and try to load them in a new session.

Sure, no problem.

[2021-05-05 19:52] imatiach-msft opened #4260 "Support forced splits with data and voting parallel versions of LightGBM"
## Summary

I'm unable to add forced splits to the data and voting parallel versions of lightgbm in mmlspark, I see the error:

https://github.com/microsoft/LightGBM/blob/master/src/io/config.cpp#L318

[code]

## Motivation

I would like to add this feature but I'm not sure why I can't just remove that line in the config and enable it.  What is special about the data and voting parallel learners t

[2021-05-05 20:04] imatiach-msft commented on #4260
it looks like the ForceSplits function is also only implemented in the serial tree learner:

https://github.com/microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learner.cpp#L450

seems I would need to do something similar in the  data parallel tree learner:

https://github.com/microsoft/LightGBM/blob/master/src/treelearner/data_parallel_tree_learner.cpp

[2021-05-06 19:32] LittleLittleCloud opened #4261 "LightGBM - suggested search space"
Hi folks

My team is working on an AutoML service for model builder and ML.Net and we are using LightGBM as one of the learner candidates. Is there an all-purpose hyper-parameter searching space that we can apply to LGBM so it can return decent model on most of datasets? Any suggestions will be helpful.

FYI this is the current searching space we are using, the parameter's name matches with LGBM o

[2021-05-06 23:22] StrikerRUS commented on #4261
Hey! Please refer to #2617.

[2021-05-06 23:22] #4261 closed

[2021-05-07 00:03] kdlin opened #4262 "Categorical Feature Declaration Bug"
## Description
Declaring a feature as categorical in the dataframe dtype yields better performance than doing so in the Dataset categorical_feature field.

## Reproducible example
Try the following 3 setups:

1. declare categorical in the data frame; e.g., df['A']=df['A'].astype('category')
2. declare it in the categorical_feature field of Dataset; e.g., categorical_feature=['A']
3. don't do anyth

[2021-05-07 06:12] shiyu1994 commented on #4260
For data and voting distributed training, we need to synchronize the histogram before `GatherInfoForThreshold` is called. Otherwise each machine would get a different leaf value and leaf gain, given the incomplete features histograms which sums over only partial data.
https://github.com/microsoft/LightGBM/blob/f83180883a51729af9562ccac7b450c6da79a04a/src/treelearner/serial_tree_learner.cpp#L483-L4

[2021-05-07 06:38] shiyu1994 commented on #4255
@annaymj Thanks for using LightGBM! In decision tree literature, the gain-based feature importance is the standard metric, because it measures directly how much a feature contributes to the loss reduction. However, I think since the split features are selected through split gain, number of times being used should result in similar feature importance ordering.
I'm not sure whether you observed a si

[2021-05-07 06:50] shiyu1994 commented on #4221
Hi @JoshuaC3. In the graph `G`, each node represents a feature, and each edge between two nodes means there're conflicts between the two corresponding features. So the degree of a node means the number of features which have conflicts with the corresponding feature of the node.  (Or the total number of conflicts with other features, if we count the number of conflicts as weights of edges when calc

[2021-05-07 06:55] shiyu1994 commented on #4223
@slonoslon Thanks for using LightGBM. Have you correctly set the subsampling parameters, including `bagging_freq`, `bagging_fraction` and `feature_fraction` in your own version?
A small reproducible example would be very helpful for us to identify the problem.

[2021-05-07 09:24] shiyu1994 commented on #4218
@hlee13 Thanks for using LightGBM. Since `psi = 1`, the form of this gamma loss is exactly the exponential loss. However, in the gamma objective loss, we use `log-link`, which means `\hat{y} = ln (\theta)`. Plug this into the expression of gamma loss with `psi=1`, it is different with the exponential loss, which should be `exp (-y \hat{y})`.
By the way, it seems that the gamma metric uses the cano

[2021-05-07 09:40] normanwang92 opened #4263 "[help needed] how is missing value represented when running c++ version of lgb"
Hello, I'm planning to do some testing in c++ version of lightGBM. What value should I put as NAN in a vector used as a training set? Thank you

[2021-05-07 17:01] jameslamb opened #4264 "[docs] what should LGBM_BoosterGetEvalNames be used for?"
## Description

While working on #4256, I was confused by the use of `LGBM_BoosterGetEvalNames`. Based on the documentation, I expected that this function would return the names of validation sets.

https://github.com/microsoft/LightGBM/blob/f83180883a51729af9562ccac7b450c6da79a04a/include/LightGBM/c_api.h#L587

However, I found that in the places where this function is used in the R and Python pa

[2021-05-07 20:49] StrikerRUS commented on #4264
Looks like the issue in docs. Thanks for spotting this!

Incorrectness was introduced here:
https://github.com/microsoft/LightGBM/pull/2076/files#diff-0b41a7775380c6d2b3321f189fe3fd3412c6621c4075ce00067b74f9312f38efR590
Probably with the "help" of my suggestions for that huge PR. Sorry!

[2021-05-08 03:07] hlee13 commented on #4218
@shiyu1994 gamma metric use log-link function in RegressionPoissonLoss::ConvertOutput
Moreover, when psi=1, gamma loss actually exponential loss. In RegressionGammaLoss::GetGradients, actually exponential loss gradients

[2021-05-09 18:16] #4262 closed

[2021-05-09 23:16] guolinke commented on #4239
cc @shiyu1994

[2021-05-10 03:55] jameslamb commented on #4264
Ah ok, thanks! I'll open a PR updating the docs.

[2021-05-10 05:35] sarmientoj24 opened #4271 "'JavaPackage' object is not callable"
## Description
I instantiated my spark context on Jupyter like this
[code]

Then when I instantiated the  LightGBMClassifier, it returns this error
[code]

**Error**
[code]

I am using Spark 2.4.5

[2021-05-10 11:30] ruedika commented on #4134
Hi,
Sorry for getting back so late on this. My hand-on fix for the above was just to add a redundant column to the dataset...
@JoshuaC3 thanks for the info! I'm working with GAMs (generalized additive models) and mostly learning greedily (tranining on the best feature, which is guess is what LGBM) gives good results. So using interaction_constraints, as mentioned above, works nice enough. I've (ma

[2021-05-10 14:10] #4264 closed

[2021-05-10 15:53] shiyu1994 commented on #4180
The logic to determine the use of CSV, TSV or LibSVM is simple, but currently we prioritize LibSVM first. That is, as long as a colon is found in the line, LibSVM will be used.
https://github.com/microsoft/LightGBM/blob/08d1ce4bbf9391f5cc945f5f015840f4a57774a6/src/io/parser.cpp#L200-L206
Also, so far we only support integer/floating point input feature values, so this case happens when `header=tru

[2021-05-10 16:32] kruda opened #4272 "ArrayArgs::Partition causes UB when called with interval of size 1"
## Description

ArrayArgs::Partition causes undefined when called with interval of size 1
## Reproducible example

Run test case SearchThresholdMVS.PartitionOneElement from my repository https://github.com/kruda/LightGBM/commit/d018ed0bb509cf95e9f9cbddf7ebc67cb5ce9d42 with sanitisers.
## Environment info

LightGBM version or commit hash: current main branch
Looks like this bug was introduced in ht

[2021-05-10 21:41] jameslamb opened #4273 "[R-package] gcc warning on CMake-based builds: 'cast between incompatible function types'"
## Description

Building the R package with `CMake`-based installation (https://github.com/microsoft/LightGBM/blob/master/R-package/README.md#install) and `gcc` (or `MINGW` on Windows results in the following compiler warnings:

[code]

One such warning is generated for each entry in this list of routines:

https://github.com/microsoft/LightGBM/blob/08d1ce4bbf9391f5cc945f5f015840f4a57774a6/R-packa